[2020-06-11 19:02] #14093 closed

[2020-06-11 19:09] cmlbrnc commented on #9443
I need to do this as well. Thank you.

[2020-06-11 19:09] timneutkens commented on #9326
It's not being removed btw, #14091 is backwards compatible

[2020-06-11 19:22] yassinebridi opened #14096 "Hybrid Index Amp pages always shows the amp version in production."
# Bug report

## Describe the bug

When creating a hybrid **Index** Page, with a getStaticProps function, the index page in **production** will always show the amp page in `domain.com` and not in `domain.com/index.amp`

This works as expected in dev mode, where the non amp page will show in `localhost` and amp page in `localhost?amp=1`

## To Reproduce

Steps to reproduce the behavior, please prov

[2020-06-11 19:28] #14070 closed

[2020-06-11 21:24] zefexdeveloper opened #14099 "api-routes-apollo-server-and-client-auth errors"
# Bug report

I installed the example, installed the dependencies and `yarn dev`, and the errors appeared:

## To Reproduce

1. `yarn create next-app --example api-routes-apollo-server-and-client-auth api-routes-apollo-server-and-client-auth-app`
2. `yarn dev`

## Expected behavior

It should work normally.

## System information

- OS: Windows 7
- Browser: Firefox 77.0.1
- Version of Next.js: lat

[2020-06-11 21:25] zefexdeveloper commented on #14099
I think that @lfades was the one that made the changes to work with SSG.

[2020-06-11 21:39] lfades commented on #14099
@zefexdeveloper Do you have `uuid` inside dependencies? 🤔 Looks like Windows may be blocking access to the module

[2020-06-11 21:43] zefexdeveloper commented on #14099
@lfades Yes, I do. https://github.com/vercel/next.js/blob/ec90cc83ff43df74a01583650110b597648f9283/examples/api-routes-apollo-server-and-client-auth/package.json#L26

[2020-06-11 22:09] #9326 closed

[2020-06-12 00:39] Timer opened #14105 "Build-time warning when the size of `getStaticProps` exceeds a certain threshold"
# Feature request

Users may inadvertently return more data than they attended in `getStaticProps`, which can be undesirable for client-side transition speed (FCP unaffected).

## Describe the solution you'd like

We should implement a helpful warning when we detect a large amount of data and suggest users trim it down to only what is required.

[2020-06-12 00:55] #14092 closed

[2020-06-12 02:07] cdaringe opened #14109 "permit configuration asset urls"
# Feature request

## Is your feature request related to a problem? Please describe.

- my assets are hosted on an eccentric CDN. on publish, this CDN has the interface of _`f(filenames) => [flattened,url,pathname,of,hashes]`_ (e.g. `[pages/a.js, ..., pages/b/c/d.js]` => `cdn.io/random/bucket/id/{sha, sha2, sha...n}.js`). nextjs expects unmangled filenames in a strict folder hierarchy, which preve

[2020-06-12 02:29] #14099 closed

[2020-06-12 02:29] lfades commented on #14099
@zefexdeveloper Thank you for the report, it has been fixed 😌

[2020-06-12 04:52] jamiegilmartin commented on #4940
Went through every dependency, tried all the webpack external stuff ( only to get new errors)... I was only able to build successfully after I deleted my `next.config.js`

[2020-06-12 05:21] lijoantony commented on #5214
Any update on this?

[2020-06-12 06:34] zefexdeveloper commented on #14099
@lfades Thank you for the fast update and the example. Keep up the good work :heart:

[2020-06-12 07:09] Vadorequest commented on #13516
Thanks for the update.

My experimentations showed me that:

- It works when working locally
- If doesn't work when hosted on Vercel (I don't know if that's related to Vercel though)

**Online reproduction:**
- Vercel deployment: https://nrn-v2-mst-aptd-at-lcz-sty-c1-d06z5ct37.now.sh/fr/examples/built-in-utilities/errors-handling
	- Click on the `This is a client-side navigation (CSR)` link, nothi

[2020-06-12 07:45] TodorTotev commented on #14105
@Timer Any specific amount that should be considered large?

[2020-06-12 08:43] timneutkens commented on #14109
This is not the case. It will make Next.js significantly more complex and allow users to easily introduce bugs in their application that are hard to track down and impossible for us to give support on / maintain in a similar way to how currently `distDir` is configured. It also conflicts with static generation (the title had "runtime") and conflicts with the json urls needed for getStaticProps / g

[2020-06-12 09:43] Pascal-Lohscheidt commented on #7322
For me, I just had to update styled-components and the problem was solved

[2020-06-12 09:45] arso1er opened #14121 "Static assets upload returns 404 in production"
# Bug report

## Describe the bug
In production, when I upload an image to the public folder, next.js returns a 404 error when trying to view the image. I have to restart the server for next.js to respond with a 200 to the request.
In dev mode, it works without needing to restart or recompile.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Clon

[2020-06-12 11:01] mngyuan commented on #649
@valmack, your code results in `Uncaught (in promise) Error: No router instance found. You should only use "next/router" inside the client side of your app.` for me, because the `Router` call is happening inside the render, which happens serverside on a cold page load. To get it to work and only use Router client side, I'm wrapping it in a `useEffect` call like so:
[code]

[2020-06-12 13:05] eric-burel commented on #6249
Hi, I can repro in v9.4:
https://github.com/VulcanJS/vulcan-next-starter/tree/bugfix/nextConfigStatic
[code]
In the log you'll see the full config correctly computed. But in `src/lib/i18n.ts`, the `getConfig()` will return an object `{serverRuntimeConfig: {}, publicRuntimeConfig: undefined}`.

I keep exploring the issue, I have a complete setup with TS and Webpack so I am not sure where the proble

[2020-06-12 13:47] jtyers opened #14128 "Broken symlink in $HOME causes errors during dev build"
# Bug report

## Describe the bug
When I kick off a development build, and browse to a page (in order to trigger compilation for that page) I see the following:

[code]

The file `/home/jonny/.foo` is in fact a symlink which points to a non-existent path, hence the ENOENT.

The bug here is: why does a broken symlink in an unrelated directory cause this error? My project I'm running this from is no

[2020-06-12 14:38] #14121 closed

[2020-06-12 15:25] Timer commented on #13990
Reverted for now.

[2020-06-12 15:25] #13990 closed

[2020-06-12 15:29] Timer commented on #13516
Great! We'll look into this asap.

[2020-06-12 15:54] sadraromexs commented on #13910
Hi
I'm working an next js these days and i want to do something cool. when user make http request to my page i (for SEO) i want page render in Server Side and show all data at ones (i want fetch data at Server Side). but when page load completed and user navigate between pages using `next/lint` i want data render in Client Side (i want fetch data in Client Side). with `getInitialProps` we can do t

[2020-06-12 16:19] MarchWorks commented on #8251
I would like to do an `fs.writeFile` in dev mode. currently, I have to manually copy the resulted file from the temp folder (on windows) which is annoying.

[2020-06-12 16:26] #6025 closed

[2020-06-12 17:49] ijjk commented on #13516
Hi @Vadorequest, we recently changed how we handle loading page bundles on the latest canary of Next.js, could you try upgrading/deploying your project with the latest canary of Next.js (9.4.5-canary.12) and confirming whether this is still an issue for you or not?

[2020-06-12 18:02] MatthewZito commented on #8851
Has a feature request been submitted to be able to disable telemetry via the next config file? I feel this is the most straightforward and sensible solution; preceding comments seem to support this sentiment. I don't mind writing up an RFC proposal if this hasn't been addressed.

[2020-06-12 18:20] rafaelalmeidatk opened #14138 "Inconsistent error stack when editing the page"
# Bug report

## Describe the bug

When editing a component and receiving an error, the message has a super helpful hint saying where the error could be coming from: `Check the render method of "Home"`. This message doesn't appear when you access the page and it already has the error (when reloading it, for example)

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or

[2020-06-12 18:59] ijjk commented on #13655
Hi, this appears to be due to the handling of the resource you are rewriting to and not from the `rewrites` feature itself. You are rewriting to Spotify which attempts to handle the link differently on iOS in production.

This should be a redirect instead of a rewrite to ensure the resource you are pointing the user to can work as expected.

I'm going to close this since it doesn't appear to be a

[2020-06-12 19:06] ijjk commented on #13655
Hi, this appears to be due to the handling of the resource you are rewriting to and not from the `rewrites` feature itself. You are rewriting to Spotify which attempts to handle the link differently on iOS in production.

This should be a redirect instead of a rewrite to ensure the resource you are pointing the user to can work as expected.

I'm going to close this since it doesn't appear to be a

[2020-06-12 19:06] #13655 closed

[2020-06-12 19:12] Vadorequest commented on #13516
@ijjk https://nrn-v2-mst-aptd-at-lcz-sty-c1-irsey8w77.vercel.app/fr/examples/built-in-utilities/errors-handling behaves the same as before, using 9.4.5-canary.12.

Branch: https://github.com/UnlyEd/next-right-now/pull/112

[2020-06-12 19:15] ijjk commented on #13516
@Vadorequest this deployment https://nrn-v2-mst-aptd-at-lcz-sty-c1-irsey8w77.vercel.app/fr/examples/built-in-utilities/errors-handling is still using Next.js `v9.4.4` 🤔

[2020-06-12 19:16] Vadorequest commented on #13516
When the mouse is hovering the link, an error is thrown in the browser console.

![image](https://user-images.githubusercontent.com/3807458/84538362-ce82dd00-acf1-11ea-8e3a-5dafe694ab63.png)

It contains the 404 page

![image](https://user-images.githubusercontent.com/3807458/84538429-ef4b3280-acf1-11ea-8202-f1230f20598c.png)

[2020-06-12 19:17] Vadorequest commented on #13516
How can you tell? I'll check, thanks (my CI is broken tonight due to some Vercel-related stuff, sorry)

[2020-06-12 19:21] ijjk commented on #13516
You can tell since the deployment doesn't have internal Next.js changes from the latest canary and still has internal code for `v9.4.4`.

For example, client page bundles are no longer nested under a directory with `BUILD_ID` on the latest canary of Next.js and the above deployment is

[2020-06-12 19:28] tomthornton opened #14139 "[with-firebase-authentication] Can't use Firebase Admin SDK for anything other than verifying the token"
# Bug report

## Describe the bug

There's a problem with the credential in initializing the firebase admin app. It works perfectly with admin.verifyToken, but any other method I try to use yields an error of

`Error: Credential implementation provided to initializeApp() via the "credential" property failed to fetch a valid Google OAuth2 access token with the following error: "Error fetching acces

[2020-06-12 19:28] Vadorequest commented on #13516
Okay, not something obvious that I had missed then 😄

And indeed, it's fixed now:
https://nrn-v2-mst-aptd-gcms-lcz-sty-c1-7k38q6g0x.vercel.app/fr/examples/built-in-utilities/errors-handling

It doesn't do a client side transition though, it's a normal "full page refresh" navigation that's performed. But it does work! 🎉

[2020-06-12 19:33] ijjk commented on #13516
Yeah definitely not obvious 😅, thanks for checking that!

The full page transition is the expected behavior since it is detecting it isn't able to perform the client transition so falls back to the full transition

[2020-06-12 19:40] Vadorequest commented on #13516
Alright, awesome. Thanks for fixing that!

I'll let you close if everything is good for you, or maybe wait until it's officially released? Anyway, your call. 😉

[2020-06-12 19:52] pjaws commented on #5214
There are many in this thread, but I'm currently using what @gauravkrp posted recently, and it's working well for me.

[2020-06-12 20:09] ijjk commented on #8036
@Timer this is still a bug yeah, I think we were trying to decide on if we wanted to allow previewing  the `_error` page when visiting this URL or not and was why we didn't end up landing https://github.com/vercel/next.js/pull/8033

[2020-06-12 20:16] HunderlineK commented on #10061
I'm having this issue with 'Vue' as well; so I wonder if it is not a next.js issue but a vercel dev issue

[2020-06-12 20:19] jgillich commented on #10061
@HunderlineK This also applies to `next dev`. But it's interesting that Nuxt has the same issue, might be some shared dependency that's causing this?

[2020-06-12 20:46] pi0 commented on #10061
Hi :) Just to summarize there was/are 3 well-known issues which might be shared:

 - https://github.com/fsevents/fsevents/pull/290
- Registered service worker (usually production mode) on same port and try to run `dev`
- Connection/Socket limit

Still, as there is no proper way to reproduce these were just some clues we found. It might be also a generic chrome bug.

[2020-06-12 20:53] #14109 closed

[2020-06-12 21:02] karkovich opened #14142 "can't recognize when user visit page directly vs client-side navigation inside getServerSideProps"
# Bug report

I'm using Nextjs for multi tenant eCommerce platform. So the requirements are:
when end-user visit the application first time (visit page directly) `http://store1.mynextjsapp.com`,
I have to load/fetch some meta-data(Theme settings) inside `getServerSideProps`.
However, when user navigate on client (client-side), I want to somehow recognize that it's a client navigation. So, dont loa

[2020-06-12 21:04] jgillich commented on #10061
webpack-hot-middleware uses up one of the 6 connections via [EventSource](https://developer.mozilla.org/en-US/docs/Web/API/EventSource), and when all are used up it results in the browser being unable to establish more connections and therefore an infinite loading spinner: https://github.com/webpack-contrib/webpack-hot-middleware/issues/298

Maybe there's a rogue service worker that hogs up more a

[2020-06-12 21:08] pi0 commented on #10061
@jgillich Exactly EvenSource is probably a cause. For nuxt there is also an additional SSE handler for loading-screen/indicator. (next release will use new port but it also brings its own problems...). Just to give some more context, previously we were using Websockets and the issue was less visible...

[2020-06-12 21:11] cdaringe commented on #14109
ya. you're right. this is bonkers.

this bit though i'm unclear on. why would `getServerSideProps` be reliant on a URL embedded in JSON? wouldn't the packaged server code have strong knowledge of its pages and associated `getServerSideProps` from strictly a JS context, not a JSON context?

[2020-06-12 21:18] HunderlineK commented on #10061
@pi0 I have this issue on FF as well. In my case at least, once it happens, it just fails across all of the other browsers that I have i.e. Chrome, Edge and Safari.

I also know this only happens once there is a change in the source code.

I have also had this problem with using 'vercel dev' only for the API; i.e. I had my dev server separately setup for serving the front end and then vercel for t

[2020-06-12 21:22] pi0 commented on #10061
@HunderlineK I also experience that but I think it is another issue... Hope we can finally find root-cause(s) together :)

[2020-06-12 21:38] sadraromexs commented on #14142
yeah that's exactly me problem

[2020-06-12 21:56] karkovich commented on #14142
added an example https://github.com/karkovich/nextjs-example/

[2020-06-13 03:16] Timer commented on #13516
Closing since it's fixed on canary.

[2020-06-13 03:16] #13516 closed

[2020-06-13 09:05] lozzoc commented on #11230
@Vadorequest Solved my problem with `/* @jsxFrag React.Fragment */`
in my top level in index.js i have
[code]
in my component file i have these
[code]

i get the error react is defined but never used but it compiles fine with no errors. hope that helps

[2020-06-13 09:25] sospedra commented on #13655
I see what you mean @ijjk
Thanks for the analysis and reply.

I understand the issue is closed now, but may I asked if there's any way to do the redirect within the context of Vercel nextjs/now?🤔

Ty again

[2020-06-13 10:14] timneutkens commented on #14109
Next.js fetches a path like `/_next/data/:buildid/pages/mypage.json` for the data fetching methods to work

[2020-06-13 10:16] timneutkens commented on #5214
You can keep track of the PR here: #13333

[2020-06-13 11:11] #14142 closed

[2020-06-13 11:44] k1148097010 commented on #14105
``

[2020-06-13 13:16] MurkyMeow commented on #12343
I suggest replacing this:

[code]

With this:

[code]

[2020-06-13 13:32] pe-s commented on #4998
@timneutkens Thanks for the update. Would you be so kind to give another update. This is for us a key feature and we need to know...

1. Will this be an enterprise-only feature (your reference to contact enterprise sales caused some irritation)?

2. It seems to be on the roadmap, according the PR won't be removed again; can you give some indication if it's safe to build around this feature now wit

[2020-06-13 14:38] jtaox commented on #7713
I reproduced this bug on 9.4.2

[2020-06-13 14:38] Mr-Liquid commented on #13748
@timneutkens  @Rocen  hey guys, did you figure out that's a problem?
I've got the same error to try using latest version of next.js in keystone js project.

[2020-06-13 15:01] pe-s commented on #4998
FWIW, I got it now working and for others driving by:

Put this in your `next.config.js`:

[code]

Then, I needed to restart the server and to setup my web server middleware properly:

I catch all requests via a custome path, eg. `app.use('/custom', (req, res...) => { ...` and then (which was important) I need to proxy to the URL of the system where Next is running (so the internal address of your

[2020-06-13 16:19] finleygn commented on #12159
busy atm so won't be able to make progress on this for a while
if anyone else wants to tackle this then go ahead but ill be back on it next month

[2020-06-13 17:02] jujhaar2409 opened #14151 "Can't get server side rendering to work with Ant design using less"
## Description

I used the ant-design-less example which is on the next.js repo as a starting point for my project. I was not able to get server side rendering of the ant design component styles working in development and even after build.

## To Reproduce

1. use the code in the ant design less example given in the next.js repo
2. `npm run dev` OR `npm run build && npm start`

## Expected behavio

[2020-06-13 19:26] tommoor commented on #9753
It seems the deployment instructions for Github Pages were now completely removed, there's nothing in the NextJS docs site about it?

[2020-06-13 19:36] Divlo commented on #6040
@ScriptedAlchemy Any news about that ?
I really want to accomplish micro-frontends with Next.js but have no idea how.
And yeah "Let's build the future we want ❤️" absolutely!

[2020-06-13 21:40] mknoedel commented on #7469
Same, this should be reopened.

[2020-06-13 22:02] anteeek commented on #7469
Where my problem originated was I used dynamic route in root of pages, as like:
[code]
When changed it to
[code]
It was again working (I have no idea why, though)

[2020-06-13 22:24] chrisands opened #14157 "Node-sass not found (tho using sass) with Yarn 2"
# Bug report

## Describe the bug

Trying to import scss file and but got an error:
[code]

`next.config.js`
[code]

The bug doesn't appear if I use `npm` instead of `yarn v2` or/and if node version is `12.18.0` instead of `14.4.0`.

## To Reproduce

1. Manually create nextjs project
2. Use node `14.4.0` and `yarn  v2`
3. Add `next.config.js` like above
4. Install `sass` with `yarn v2`
5. Import s

[2020-06-13 22:30] chrisands commented on #14157
/cc @arcanis
maybe there is something with nodejs 14 resolution and how yarn v2 handles it. Not sure.

[2020-06-13 23:50] ijjk commented on #13655
@sospedra you can create a redirect in a similar way to how you are adding the rewrites in your `next.config.js` e.g.

[code]

[2020-06-14 02:36] edshav commented on #7923
I can't reproduce [api-routes-middleware](https://github.com/zeit/next.js/tree/master/examples/api-routes-middleware) in Typescript because `NextApiResponse` is a type but not an interface, and property `cookies` can not be added to `res`

[2020-06-14 02:55] valmassoi commented on #11046
I'm having the same issue. `X-Cache-Expired-At` and `X-Cache-Status`(from ssr-caching example - cacheable-response package) are there locally in dev mode but missing when deployed to prod. Did you figure something out @SZharkov

I dropped back to version `9.3.0` to fix this
https://github.com/vercel/next.js/issues/12019

[2020-06-14 03:00] nazmifeeroz commented on #7322
hey all,

doing this will work:

Install babel plugin:
`yarn add --dev babel-plugin-styled-components`

create new file `.babelrc` in your root component and add this:
[code]

[2020-06-14 06:08] braveforest commented on #13989
@chaddjohnson  I was facing the same issue and ur prototype just save my day. Thanks

[2020-06-14 07:17] xwjla commented on #14151
I have the same question.
[code]

I changed the next.config.js.
[code]

You can try it.

[2020-06-14 07:26] sagar-gavhane commented on #13748
@Rocen I saw you've to commit node_modules on GitHub repository. Can you provide a screenshot of the error maybe that will helps us to investigate the issue.

[2020-06-14 07:43] sagar-gavhane commented on #14105
@Timer Here is a library (object-sizeof) that will give us size of the object in memory. We can utilize this tool to calculate the size of props. also we can define the threshold on prop size. If user return props size more specific limit then we can warn them in a dev environment.

object-sizeof: https://github.com/miktam/sizeof

[2020-06-14 08:44] arcanis commented on #14157
From what I see in the webpack documentation, it seems that `implementation` is expected to be an `options`, not a `sassOptions`:

https://webpack.js.org/loaders/sass-loader/#implementation

The `node-sass` error is also probably caused by Next missing an optional peer dependency on `node-sass` (transitive peer dependencies must be [explicit](https://dev.to/arcanis/implicit-transitive-peer-depende

[2020-06-14 08:59] anshuopinion commented on #13278
i am facing same issue

[2020-06-14 09:10] tomduncalf commented on #13278
Check my comment @anshuopinion - you probably aren’t passing both href and to parameters. It needs both for dynamic links

[2020-06-14 09:44] revskill10 commented on #13278
@tomduncalf It's intentional behaviour, as Next.js doesn't ship routes manifest to client, so by just providing `href` without `as` params Next.js doesn't know which page to lazy load.

[2020-06-14 09:49] Rocen commented on #13748
@sagar-gavhane I just uploaded the screenshot to Github.This is the error reported by the console.Thank you very much.
https://github.com/Rocen/next-app/blob/master/error1.png
https://github.com/Rocen/next-app/blob/master/error2.png

[2020-06-14 10:19] tomduncalf commented on #13278
Yeah, thanks @revskill10, was just unexpected as I was migrating from react-static which behaved differently :) I think not requiring this would be a better DX but I understand there are technical reasons why it's needed. Thanks!

[2020-06-14 10:45] Journerist commented on #8841
@kachkaev

ignoreBuildErrors is amazing.... seriously, my wait time when I run next dev went down from ~30s to 10s, and tests are running in 5s instead of 40s....

that should be activated by default for test and dev.

Thanks a lot!

[2020-06-14 11:28] timneutkens commented on #8841
`ignoreBuildErrors` is only related to production builds. Can you try using `next@canary`, we recently made some improvements in running typescript checks, it's significantly faster than it was before.

Type checking is disabled in development in the latest Next.js version btw (as we tracked down some massive slowdowns in the solution used to do type checking), compilation takes the same time for

[2020-06-14 11:49] timneutkens commented on #4998
@pe-s I think you're misunderstanding my post.

There is no "enterprise Next.js version" as of now. I was referring to the numerous occasions where external companies reached out to pay for consulting to build out features like this one in a shorter timespan. E.g. zones support was built in collaboration with Trulia.

This feature is being worked on still and is on the roadmap. All features being

[2020-06-14 12:04] #14151 closed

[2020-06-14 12:49] j-griffiths opened #14165 "Return other objects/arrays in getStaticPaths() function (re: Discussion #14150)"
# Feature request

## Is your feature request related to a problem? Please describe.
Consider the code
[code]
After an API call to retrieve a list of paths to pre-render, `getStaticPaths()` only passes back information about the paths (here, given by `id`) and no other information (e.g., `name`) is sent in the `params` object. I can pass the `{params}` object to another async, e.g., `getStaticProp

[2020-06-14 14:12] feychenie commented on #13989
Hello @chaddjohnson and @braveforest, I have trouble understanding your exact issue using what nextJs already provides.

For SSG routes, you don't need to "rebuild the app each time a new product is published", the `fallback: true` param is there for that:
https://nextjs.org/docs/basic-features/data-fetching#the-fallback-key-required
You might also look into this:
https://nextjs.org/blog/next-9-4#

[2020-06-14 15:36] chaddjohnson commented on #13989
Please note I had a typo in my example and meant to use `slug` instead of `id`. This is fixed.

@feychenie Next.js does not provide CSR functionality out of the box for static site generation. When running `next build && next build` the following error occurs (see [here in this branch](https://github.com/chaddjohnson/next-ssg-csr/blob/no-react-router/src/pages/products/%5Bid%5D.js#L26)):

[code]

[2020-06-14 16:40] officialrajdeepsingh commented on #10157
Read This https://medium.com/@officialrajdeepsingh/unhandledpromiserejectionwarning-unhandled-promise-rejection-f7d7b0e884d0?sk=65ac6178cc73bce81edb21f984fb2289

[2020-06-14 17:28] feychenie commented on #13989
Ok got it, I did not pay attention enough the "exported to CDN" part of your initial message, and you are right.

The issue with a static exported website is that URLs have to match actual file paths, and that there is no universal way to handle redirects on 404 among all available hosting providers, so this is something you would always have to implement on your own depending on where you host it

[2020-06-14 17:42] callsea1 opened #14170 "Allow for nested folders (of images) in ios 13 safari latest"
# Bug report

When nesting folders inside `public` more than one level deep, images are NOT interpreted on iOS 13

run nextJS in development mode, and connect to your localhost via your phone's safari webbrowser. If an `<img>` tag references an image more than one level deep, it will NOT render. This goes for `src` and `srcset` tags.

Works: storing in public folder, and accessing like so
`/folder

[2020-06-14 18:49] itome commented on #13751
Is there any progress?

[2020-06-14 21:11] TheHolyWaffle commented on #13963
@todortotev I'm pretty sure he's talking about the webpack sourcemap option: https://webpack.js.org/configuration/devtool/

[2020-06-14 22:13] nfantone commented on #7945
I came here looking for instructions on how to remove the label (for some reason this issue ranks higher in a Google search than the actual docs for the same).

TBH, I can't help but agree with some of the comments here. The floating label is _way_ too intrusive, IMHO. The project I'm working on happens to use notification toasts with clickable actions, such as _UNDO_ - and become really hard to u

[2020-06-14 23:03] tomgreeEn commented on #9992
I have this issue also. The suggested solution (adding a key) works for me in development builds but not in full builds.
Any idea why that could be ?

[2020-06-15 00:27] chaddjohnson commented on #13989
@feychenie Thank you! No worries, I miss things too when reading sometimes. And thank you for the pointer on the error.

[2020-06-15 00:27] #13989 closed

[2020-06-15 02:22] hangindev commented on #9160
Using `getServerSideProps` will lose the benefit of static optimization though unless you are already using it already.

My approach is to set different `lang` attributes for different pages using `_document.js`'s `getInitialProps`  so that the search engines and crawler will see the right one:

[code]

Then, I update the `lang` attribute with the help of `useRouter` hook in `_app.js` for client-t

[2020-06-15 05:01] chrisands commented on #14157
Adding sass and node-sass in next package peerDependencies resolves the issue. Should I make PR, @Timer ?

[2020-06-15 05:21] chrisands commented on #14157
As for temporarily solution it is possible to use packageExtensions from yarn  v2:
[code]

[2020-06-15 05:29] qnxdev commented on #6080
How to solve this with ssr: true, I mean with Server side rendering.

[2020-06-15 06:06] ScriptedAlchemy commented on #6040
I am working with the next.js team. There are three branches in WIP status. After those make it to a merge, ill pull the project down again and begin opening PRs for anything else, as well as start testing this out. From my initial PR is will be possible. Ill just need to add some documentation to Next or a medium post about how to enable it.

It will come, guaranteed. As a workaround, i have a WP

[2020-06-15 07:06] pe-s commented on #4998
@timneutkens tx for your quick response and great! Then, we can go all in :)
Keep up the great work!

[2020-06-15 07:52] henhen724 opened #14174 "validatePassword function hashes the user hash instead of hashing the input password"
The validatePassword function in /lib/user.js function hashes the user hash instead of hashing the input password.

It reads:
[code]
You meant:
[code]
The way you have it validatePassword always returns false.

[2020-06-15 08:17] darshkpatel commented on #13423
@awareness481 I tried installing the example on a fresh Windows 10 VM , using yarn and npm both, and was able to successfully run the example app and see the rotating example.
Here are the steps i followed:
[code]
i also tried `npx create-next-app -e with-linaria test-app` and was able to browse the example app without any problems

### System Info:
OS: Windows 10 Build 17763
Node: v12.18.0
Next.j

[2020-06-15 08:51] darshkpatel commented on #14174
I'll take this up

[2020-06-15 09:28] adelnizamutdinov opened #14179 "SSG with fallback: true passes empty props while fetching the data"
# Bug report

## Describe the bug

If you specify `fallback: true` in `getStaticPaths`, the page is first rendered with `{}` props, and then rerendered with the result of `getStaticProps`

Furthermore, hovering over a `<Link>` pointing to `fallback: true` page results in a `404` request in the network tab. Even after the page was generated

## To Reproduce

Repo: https://github.com/adelnizamutdino

[2020-06-15 09:46] sospedra commented on #13655
Damn boy! Didn't know about `rewrites`/`redirects`
Super appreciated @ijjk that works like a charm ☺️

[2020-06-15 09:57] feychenie commented on #14179
Hello, not saying that this solves all the issues, but I can already see that you are not linking to the dynamic route the right way:
https://nextjs.org/docs/api-reference/next/link#dynamic-routes

[2020-06-15 10:15] adelnizamutdinov commented on #14179
Hi @feychenie, thank you so much! My bad, the correct `<Link>` implementation solves half the problems for the production build

Still, visiting the not-yet-generated page from an external link still causes the `{}` props 😞

[2020-06-15 10:42] timneutkens commented on #14179
This behaves as documented: https://nextjs.org/docs/basic-features/data-fetching#fallback-pages

You have to use `router.isFallback` to check if the page data is ready yet

[2020-06-15 10:46] adelnizamutdinov commented on #14179
oh man, really apologize for doing a bad job reading the docs. Thank you so much @timneutkens @feychenie

[2020-06-15 10:46] #14179 closed

[2020-06-15 11:15] darshkpatel commented on #14174
Just checked it, seems like the existing code allows a user to login even with an incorrect password.
since there was no ` await ` while calling `validatePassword` so it did not matter if `validatePassword` eventually returned a false

Fixed both these problems in https://github.com/vercel/next.js/pull/14183

[2020-06-15 11:22] EhsanSarshar commented on #9542
import * as React from 'react';
import { withApollo, WithApolloClient } from 'react-apollo';

class AComponent extends React.Component<WithApolloClient<{}>> {
  render() {
    // ...
  }
}

export default withApollo(AComponent);

[2020-06-15 11:36] #11014 closed

[2020-06-15 11:47] timneutkens opened #14184 "Make rewrites/redirects/headers stable"
Currently blocked on https://github.com/vercel/vercel/pull/4355, #12801, #12608

[2020-06-15 11:58] Oikio commented on #6973
v9.4.2, still happens.

[2020-06-15 12:16] sam-cross opened #14185 "Unexpected token error (JSX node) in with-typescript example when using symlinked project directory"
# Bug report

## Describe the bug

I'm using Powershell inside Windows Terminal. I've got a Documents folder on another hard drive which is symlinked via a `Documents-SL` link.

I navigated through to my dev projects directory via this symlink and got this error when launching my Next.JS project:

[code]

## To Reproduce

**You must have a directory symlink to reproduce this bug.** I am using a `D

[2020-06-15 12:39] #14174 closed

[2020-06-15 13:17] j-griffiths commented on #14165
Closing as duplicate of #11272

[2020-06-15 13:38] eddyw opened #14186 "Error [ERR_HTTP_HEADERS_SENT] with getStaticProps & getStaticPaths with fallback"
# Bug report

## Describe the bug

Using catch all routes page `[...slug].js` with `getStaticProps` & `getStaticPaths` with `fallback: true` and empty `paths` displays error on terminal:
[code]
It happens on every single request. Initially I though this had to do with us using Koa callback in `/api/[...slug].tsx` but this error turned out to be thrown from the page (catch-all-routes) itself.

## T

[2020-06-15 13:58] youhosi opened #14187 "Example with-graphql-hooks is broken in Safari"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Open page in Safari

## Screenshots

Build page: __(The site does not respond to events)__

<img width="1680" alt="Zrzut ekranu 2020-06-15 o 15 52 43" src="https://user-images.githubusercontent.com/24297084/84665716-767ded80-af20-11ea-826e-3ee079963051.png">

Development:

<img width="1680" alt

[2020-06-15 14:28] Timer commented on #14186
Please upgrade to `next@canary` where this has been fixed!

[2020-06-15 14:58] Timer commented on #14157
We really need to add proper Yarn 2 E2E tests to the Next.js repo so we don't keep regressing on these features! Could you try to write that test suite?

[2020-06-15 15:20] HugoVizcainoSantana commented on #11601
I'm having this same problem, but with a small quirk. It fails if i am not the one executing it. I I type manually into my shell `npm run build`, everything works fine, but I am trying to launch it from a script of from systemd, and I'm having no luck with it.

I have discarded it being my node version by changing to `v12.16.1` and still having this problem.

`Creating an optimized production buil

[2020-06-15 15:51] timneutkens commented on #9851
@carloscuesta based on @alexypdu this issue has been fixed 👍

[2020-06-15 15:51] #9851 closed

[2020-06-15 17:02] hiukky commented on #10059
Same problem with me! Only with the import of css in my package of components.

[2020-06-15 18:53] Rijk commented on #14186
Ah, happy to see I was not the first one with this issue! Thanks for reporting and thanks for the fix.

[2020-06-15 18:58] nicholaschiang opened #14200 "Allow for partial `getStaticPaths`"
# Feature request

## Is your feature request related to a problem? Please describe.

For [the Tutorbook website](https://tutorbook.org) (source available [here](https://github.com/tutorbookapp/tutorbook)), we have i18n setup such that each page has a `getStaticPaths` and `getStaticProps` that gets the translations for the current `locale`. Our `pages` directory is setup like:

[code]

But, we hav

[2020-06-15 19:04] #14186 closed

[2020-06-15 19:10] nicholaschiang commented on #14200
**Note:** This is made even more complicated given the fact that only certain users have access to certain `org` dashboards.

Because all of our authentication sessions are stored client-side (i.e. we have a REST-ful API that accepts a JWT from the client), we can't SSR the whole dashboard (i.e. we can SSR the skeleton screen but all user-specific data must be fetched client-side).

And then becau

[2020-06-15 20:09] juneeighteen commented on #11941
To answer the "why" for me: I use bootstrap, and import the .css files in _app.js.  I serve my application under the /releases/buildId/ folder of an S3 bucket in AWS. This makes it super easy to test my new code.  The CSS for bootstrap is attempting to load from domain.dev/_next/static/... this is not what I want.  I want to control the output of this _next/static folder.  What other ways can I do

[2020-06-15 20:16] Timer commented on #14073
We've confirmed this behavior works and cannot be reproduced with the instructions provided by @good-idea.

If you can provide a full reproduction, happy to take a look!

[2020-06-15 20:16] #14073 closed

[2020-06-15 20:26] gd996 commented on #7417
A good article that describes the issue and fix with Tim's solution posted above:
https://joshwcomeau.com/react/the-perils-of-rehydration/

I basically had the same problem, I was conditionally rendering parts of my page and I had to wait for the component to be mounted so I implemented the hasMounted trick.

[2020-06-15 20:32] Timer opened #14204 "Add getStaticProps revalidation interval to CLI output"
The Next.js build output should somehow visualize if a SSG page is setup for incremental static generation and/or incremental static regeneration.

Currently, there is no indication.

[2020-06-15 20:34] tywmick commented on #14187
Looks like it's [a bug in graphql-hooks-memcache@1.3.2](https://github.com/nearform/graphql-hooks/issues/496). They've fixed it but haven't released the fix yet, so I'll change its version range in the example's `package.json` to `1.3.1 || ^1.3.3`. 👌🏼 That fixes it on my end, for both the dev server and build.

[2020-06-15 20:42] ImSolitude commented on #9753
Where did the instructions for Github Pages go!

[2020-06-15 21:09] tywmick commented on #14047
@kylemcd As a temporary fix, it looks like `apple-app-site-association` [can be placed in a `.well-known` subdirectory](https://developer.apple.com/library/archive/documentation/General/Conceptual/AppSearch/UniversalLinks.html), so perhaps moving `apple-app-site-association` to `/public/.well-known` would fix your issue?

I do think it'd be better for dynamic routing to check the `public` folder f

[2020-06-15 22:21] tywmick commented on #14047
@kylemcd, do you recall what version of Next.js you were using before you upgraded to the latest version?

[2020-06-15 22:50] kylemcd commented on #14047
@tywmick Thanks for looking into this! It seemed like the same routing issue is still happening even when I moved this file into .well-known, probably because my dynamic route involves 2 levels (?) i.e. /[slug]/[id]

We were on version `9.3.0` previously before upgrading to the latest version.

[2020-06-15 23:23] ScriptedAlchemy opened #14209 "Use static methods from dynamic imported component"
The original issue was closed, but im sure others might have the same issue. I was able to rectify this today:
resolves: https://github.com/vercel/next.js/issues/5274

[code]

[2020-06-15 23:24] ScriptedAlchemy commented on #14209
Feel free to close it out Next team, just leaving it here for SEO and those who might have an issue

[2020-06-15 23:43] tywmick commented on #14047
@kylemcd Hmm, I'm having trouble reproducing the issue... I made a [`create-next-app`](https://nextjs.org/docs/getting-started#setup), then added a new dynamic route under `/pages/[slug]/[id].js`:

[code]

...then added an `apple-app-site-association` to `/public` and filled it with the JSON in [Apple's example](https://developer.apple.com/library/archive/documentation/General/Conceptual/AppSearch

[2020-06-15 23:47] kylemcd commented on #14047
Not at my computer right now to clone and reproduce, but try console logging `slug` and `id` inside of getInitialProps and checking the server logs for it.

In my case you're right, it still does download the apple file correctly, but it still triggers a server-side fetch that is happening under getInitialProps

[2020-06-16 04:56] good-idea commented on #14073
Hey @Timer, thanks for looking into this, sorry to send you down a rabbit hole. I'll try re-implementing it in my project and see if I can recreate it.

[2020-06-16 05:09] MasterEric opened #14212 "Symbols in dynamic routes cause "Error: failed to decode param""
# Bug report

## Describe the bug

Use of a symbol, for example, `%`, within a dynamic route will cause the route-matcher to throw the error `Error: failed to decode param`.

## To Reproduce

The issue has been reproduced, in a minimal fashion, in the following CodeSandbox:

[CodeSandbox Link](https://codesandbox.io/s/nextjs-url-encoding-8m3wm?file=/pages/index.js)

Steps to reproduce the error:

[2020-06-16 08:20] timneutkens commented on #14212
Seems like a duplicate of #12145

[2020-06-16 08:23] #14209 closed

[2020-06-16 08:33] #14187 closed

[2020-06-16 08:56] qiwang97 commented on #8054
I prefer to use scss. Did you solve this problem?

[2020-06-16 09:21] StKostyantin commented on #8054
No, I didn't...

I also prefer scss with scss-module. But we can’t use antd without custom next.config, and this in turn does not allow the use of native scss-module from the next9

[2020-06-16 09:22] alexeymarkov opened #14216 "After updating from 9.2.2 to 9.4.4 type-checking is not performed anymore in runtime"
I have a custom server configured.
In 9.2.2 when I start a project from vscode using "node server.js" and then change a ts/tsx file it goes compiled and type checked.
In 9.4.4 type-checking is not executed although I see tslint errors in vscode.

In 9.2.2 I see in the output
_bundled successfully, waiting for typecheck results..._
in 9.4.4 I do not see the line

Do I need to adjust something in ne

[2020-06-16 09:24] opolo commented on #10061
We are facing the same issue... Everytime we have a new release, our platform cannot load any new pages on the client machines until they refresh their cache. As we are a B2C company, its hard to notify and teach the users about this...

[2020-06-16 09:29] timneutkens commented on #10061
This sounds unrelated to the issue @mjm reported which only manifests in the development server, which I doubt you're running in production. Can you create a discussion on https://github.com/vercel/next.js/discussions with clear and concise reproduction steps.

[2020-06-16 09:30] #14216 closed

[2020-06-16 09:34] qiwang97 commented on #8054
@bahmannejati  @StKostyantin
I replace all scss files to *.module.less. But I still get warning

[code]

[2020-06-16 09:35] opolo commented on #10061
Ah, thanks, will do!

[2020-06-16 11:17] zifahm opened #14219 "URL scheme must be "http" or "https" for CORS request"
This happens when I use with-styletron
Im also using base web UI.

[code]

Any Idea how to solve this issue?

[2020-06-16 11:25] #14219 closed

[2020-06-16 11:53] bahmannejati commented on #8054
@qiwang97

Seems you have not null-loader package, install it first using npm:

`npm install null-loader --save-dev`

Or using yarn:

`yarn add --dev null-loader`

Consider along with changing .scss to .less, you should change the syntaxes too, less it different by sass

[2020-06-16 12:12] jeemok opened #14220 "[examples/with-react-intl] Error: spawnSync npx ENOENT"
# Bug report

## Describe the bug

For the example [examples/with-react-intl/](https://github.com/vercel/next.js/tree/canary/examples/with-react-intl), when building production mode, it didn't finish the build and throw the error:

[code]

The code in this file (from the example) `C:\Users\xxx\Projects\sample-intl-next\scripts\extract.js:9:1`:

[code]

## To Reproduce

Clone the example, and run `

[2020-06-16 12:36] jon64digital commented on #13680
@timer - I see the "needs investigation" tag has been added to this ticket. If I can do anything to help then please let me know. I'd be happy to give somebody with a Vercel email address access to the CMS.

[2020-06-16 12:50] Darep opened #14221 "Content-Security-Policy unsafe-eval in Next.js 9.4+ dev env"
# Bug report

## Describe the bug

Content-Security-Policy ~~support is broken~~ *requires the use of unsafe-eval* in Next.js 9.4+ in dev env/mode. Presumably works without it in production. I think this is due to react-refresh using eval().

## To Reproduce

You can use the with-strict-csp example to test this:

1. `npx create-next-app --example with-strict-csp with-strict-csp-app`
2. `cd with-st

[2020-06-16 13:29] #14220 closed

[2020-06-16 13:42] timneutkens opened #14223 "Refactor moveExportedPage to not use hardcoded page path"
Given this will be changed soon we shouldn't rely on the path in that way. I've already done most of the preparation in https://github.com/vercel/next.js/pull/14176

https://github.com/vercel/next.js/blob/a3ffa2e65f1d0158acde82f7fde41c4a5bb4e699/packages/next/build/index.ts#L745-L773

[2020-06-16 14:28] Timer commented on #14073
Here is a separate bug you may want to track (being fixed today): #13900

[2020-06-16 14:32] Timer opened #14225 "Investigate lack of prefetch cache on canary"
Old Versions:
![image](https://user-images.githubusercontent.com/616428/84787963-9662ef00-afbc-11ea-8396-3d42ab64d422.png)

Current canaries:
![image](https://user-images.githubusercontent.com/616428/84787980-9bc03980-afbc-11ea-8123-2c7c4acd5377.png)

---

Note that the data file (`changelog-may-2020.json`) is being fetched twice instead of using the prefetch cache.

[2020-06-16 15:02] eddyw opened #14227 "Production build fails with: Cannot read property 'add' of undefined"
# Bug report

## Describe the bug

I upgraded to next@9.4.5-canary.12 from next@9.4.4 because of https://github.com/vercel/next.js/issues/14186
Everything works with `next dev`. However, `next build` fails with:
[code]
Our projects builds fine up until 9.4.4 (current stable) but canary fails.

## To Reproduce

~I don't understand enough the error to be able to reproduce it.
We don't have a custom

[2020-06-16 15:06] sotisoti opened #14228 "Paid feature request?"
With regards to the comment in https://github.com/flutter/flutter/issues/46789#issuecomment-631230463, I understand there won't be flutter support in this project. I just want to check if the team is up for crowdfunded feature request?

[2020-06-16 15:13] timneutkens commented on #14227
Please provide a complete reproduction

[2020-06-16 15:43] StKostyantin commented on #8054
As far as I know, less has not been added to the next9 box yet, and therefore it will not be possible to work with less without configuring the next.config

[2020-06-16 15:53] kylemcd commented on #14047
Ok, I'm struggling to recreate this outside of the parameters of my work's environment.

I'm wondering if there's some under the hood stuff with `apple-app-site-association` and only getting triggered under certain constraints, i.e. on certain domain names specified in config or what. Trying to find a similar problem to this without these same constraints so we can reliably reproduce this issue.

[2020-06-16 16:10] phil-lgr opened #14232 "outDir in next.config.js not working?"
# Bug report

## Describe the bug

I want to set the outDir prop to "dist" by using next.config.js

## To Reproduce

Set next.config.js to :

[code]

Execute next build and next export

## Expected behavior

Nextjs takes `outDir` into account for the `next export` command and outputs files in `dist`

## System information

- OS: MacOS
- Version of Next.js: "next": "9.4.4",
- Version of Node.js: v1

[2020-06-16 16:12] phil-lgr commented on #14232
using the flag works:

[code]

[2020-06-16 16:40] liss-mouse commented on #4515
I also faced the issue when trying to upgrade to the latest TS version. It works well with TS v3.5 but we want to upgrade TS. Now, we are blocked 😫

[2020-06-16 17:26] Timer commented on #13900
This should be fixed on next redeploy to Vercel. A **redeploy is required**!

[2020-06-16 17:26] #13900 closed

[2020-06-16 17:33] tywmick commented on #14047
Huh, bummer. And the code in the wild is on Next.js 9.4.4? Did you update any other dependencies at the same time?

Just added `console.log({ ctx })` to the top if my `getInitialProps` and it doesn't get called when I navigate to http://localhost:3000/.well-known/apple-app-site-association 🤔

[2020-06-16 17:47] borekb commented on #13767
This is a [great podcast episode about Vite](https://player.fm/series/series-1401837/ep-140-evan-you-reimagining-the-modern-dev-server-with-vite) with Evan You, got me thinking whether this could be married with Next.js 😄. Vite's approach sounded really quite "sound".

[2020-06-16 19:14] bionicles opened #14241 "No way to override global css on a page"
# Bug report

## Describe the bug

Landing page style also applies to a different 3D game page and there isn't a clear way to disable / override global css on the 3d game page

## To Reproduce

1. `yarn create next-app --example with-three-js`
2. copy 'tufte.min.css' and '/etbook' from https://github.com/edwardtufte/tufte-css into /public folder of the new app
3. add `import '../public/tufte.min.c

[2020-06-16 19:21] bionicles opened #14242 "links are broken in dev mode in the with-zones example"
# Bug report

## Describe the bug

if you straight up clone /examples/with-zones, 'yarn dev' doesn't work in the root directory, so you have to run `yarn dev` in each zone independently, and then the cross-zone links break

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. `yarn create next-app --example with-zones`
2. cd $APPNAME
3. `yarn && yarn

[2020-06-16 19:21] bionicles commented on #14242
thanks for making nextjs guys! you're the best

[2020-06-16 19:21] KyorCode commented on #11600
Same problem here, trying to use `styled(ExternalComponent)` mismatches classes.
Next version 9.4.4
Styled-components version 5.1.1
babel-plugin-styled-components version 1.10.7

[2020-06-16 19:29] peps commented on #11356
Just a heads up, If you're using Brave, make sure to turn off Brave Shield on storyblok.com. It will block the cookies required for preview mode.

[2020-06-16 19:33] Timer opened #14243 "Visual Indication of loss of contact to development server"
# Feature request

Next.js should give visual indication when the dev server is down.

## Describe the solution you'd like

Maybe a red bar at the bottom of the screen. Maybe a toast. Maybe a different favicon.

[2020-06-16 19:35] Timer opened #14244 "ISG with GIP in _app overrides cache-control of ISG page"
# Bug report

When using the `unstable_revalidate` param with ISG, a header set by _app should never win.

## Additional context

From @lfades:

[2020-06-16 19:35] kylemcd commented on #14047
Yeah production code is 9.4.4

Here's a list of deps though I don't think any of them are relevant to this issue.

[code]

[2020-06-16 19:35] Timer commented on #14244
@lfades re-assigned you from internal tracker. Let me know if this is a non-issue anymore!

[2020-06-16 19:49] followbl commented on #10967
@cmbirk we are currently utilizing github actions + cypress to run what I am now deeming a _smoke test_ against the Vercel build preview...this just makes sure basic functionality is working...here is the github actions yml it's pretty simple to get up and running on each PR...

[code]

Reason I stumbled upon this open issue is what we'd really like to get is a full integration-suite of cypress te

[2020-06-16 19:54] Aleksion commented on #12851
For anyone else stumbling on this, I wrote this ugly fix that seems to catch the edge cases I've hit so far:

[code]

[2020-06-16 20:35] MasterEric commented on #14212
After more research, it appears the issue is definitely caused by #12145.

As mentioned [in this comment](https://github.com/vercel/next.js/issues/12145#issuecomment-638129561), the decodeURIComponent function is called twice.

[2020-06-16 20:46] rjerue commented on #4596
See https://github.com/vercel/next.js/issues/9647#issuecomment-583844001

[2020-06-16 21:41] aralroca opened #14246 "[Proposal] Simplifying i18n"
# Feature request

## Is your feature request related to a problem? Please describe.

Currently, integrating i18n libraries with Next.js and working with Automatic Page Optimization (either SSG, or totally static) is quite cumbersome.

It would be great to have something simple and portable, compatible with `next export`.

Using [**Dynamic routes**](https://nextjs.org/docs/routing/dynamic-routes)

[2020-06-16 22:11] revskill10 commented on #14246
In my case, all of my locales translation is from database, so i don't think an opinion file system based locales folder is good enough to cover some use cases.

[2020-06-16 22:27] aralroca commented on #14246
@revskill10 you are right. Maybe will be better to define the languages and default language in `next.config.js` level.

But with this, you will be able to use:

[code]

[2020-06-16 23:55] jamesmosier commented on #13963
I can grab this one unless it is already spoken for!

[2020-06-17 02:37] Nickprovs commented on #13565
A gentle bump. Hoping someone can build my test and see the issue for themselves.

[2020-06-17 03:40] #14223 closed

[2020-06-17 03:46] Timer commented on #14232
The `outDir` does not exist in Next.js. You must use the CLI flag!

[2020-06-17 03:46] #14232 closed

[2020-06-17 03:50] Timer commented on #14241
Please upgrade to the latest version of Next.js first. Your report says you're on 9.2.1!

[2020-06-17 03:54] Timer commented on #14212
This seems like a different issue. This one does have a properly encoded request URL it seems, #12145 is about invalid URLs.

[2020-06-17 04:11] wawoon opened #14251 "Static Incremental Regeneration replaces `.amp` with `?amp=1`"
# Bug report

## Describe the bug

- When the page is built with Amp and SSG config, the output url of amp page becomes `/bar.amp` (routing is `pages/[slug]`)
- In the build phase, the non-amp page refers `/foo/bar.amp` in `<link amphtml>` correctly.
- However when Static Incremental Regeneration is turned on, the `/bar.amp` is replaces with `/bar?amp=1`

## To Reproduce

set
- amp: "hybrid"
- add

[2020-06-17 04:49] darshkpatel commented on #14221
I'll take this up

[2020-06-17 05:09] eKhattak commented on #14242
I'll write a fix for this.

[2020-06-17 05:21] Timer opened #14253 "Windows HMR reload speed"
@helloitsm3 : The issue in this comment thread is around NextJS on WSL. I have tested out v9.4.4 on WSL and it totally doesn't reload on changes. It works like a charm when using over just windows and not involving WSL. I had to move from WSL based dev env to just windows.

So did you test v9.4.4 over Windows+WSL or just Windows?

_Originally posted by @AbProgr in https://github.com/vercel/next.js

[2020-06-17 06:00] wawoon opened #14256 "SSG with fallback doesn't generate AMP page dynamically"
# Bug report

## Describe the bug

- When SSG with `fallback: true` and `amp: "hybrid"` are used together, the paths not specified in `getStaticPaths` has invalid url in `<link amphtml>` tag.
  - for example, when the routings is `pages/[slug]`, `<link amphtml>` in `/bar` becomes `/[slug].amp`

## To Reproduce

https://github.com/wawoon/next-amp-ssg-reproduce

pages/[slug]/index.jsx
[code]

When t

[2020-06-17 06:09] sai1139 commented on #10129
@Timer any one can provide example for this?

[2020-06-17 07:37] pmdy commented on #10521
Same bug here. When console-logging router object, I can see the `router.query` exists, but when I try to grab the parameters from the `router.query` object, I get undefined. For now, I'm using `window` object...

[2020-06-17 09:02] eddyw commented on #14227
@timneutkens I edited the main post to provide a complete reproduction with new empty project with next@9.4.5-canary.12

[2020-06-17 09:05] timneutkens commented on #14227
You can't use next/head in _document, it will not output anything

[2020-06-17 09:25] #11139 closed

[2020-06-17 09:28] eddyw commented on #14227
@timneutkens alright, I'm moving this out from `_document`.

However, this actually worked in 9.3.x & 9.4.4 (maybe it did unintentionally 🙈)
[code]

[2020-06-17 10:42] wawoon commented on #14256
This is a memo to workaround this issue:

IMO, we should avoid using `{ amp: "hybrid" }` and `getStaticProps` together.  It is too complicated to use  `{amp: "hybrid"}` and other options.

To use the combination of SSG, AMP, and Incremental Static Regeneration, we should create `/[slug]/index.jsx` and `/[slug]/amp.jsx` separately, and set `<link rel="amphtml">`  for ourselves. I confirmed the Incr

[2020-06-17 11:21] #14246 closed

[2020-06-17 11:26] #14241 closed

[2020-06-17 12:29] joris- commented on #13906
In addition to `export * from '...'` in pages,
Does `export {default} from  '...'` in pages too should be allowed or not ?

I got a custom babel plugin which works for `export * from '...'`, work in progress :)

[2020-06-17 12:59] #14253 closed

[2020-06-17 13:02] TonchoLozev opened #14265 "Adding "asPath" as argument to the "routeChangeStart" method"
Hello, guys
As the title of the requests says i need an additional argument in the **routeChangeStart**.
Currently we have only "**href**" in the arguments in this method, but i think adding the "**asPath**" as argument to the method will be helpful not only for me.

_Here is my case_:
 - I want to prevent routing if there is no internet connection and to show error page that contains a 'Retry' bu

[2020-06-17 13:29] Timer commented on #14253
@abprogr Let me know if the speed issue is fixed for you on the latest canary version!

[2020-06-17 13:46] Timer opened #14266 "Do not emit development JavaScript to file system during `next dev`"
We could gain a significant HMR speed boost if we do not emit to the file system during `next dev`. This also will allow us to remove the `inline-source-map` usage for Windows users due to Windows Defender scanning `eval-source-map` extra aggressively.

This can likely be accomplished as part of the webpack 5 upgrade.

[2020-06-17 13:48] Timer opened #14267 "Attempt to make our CSS parsing more strict"
The following CSS does not error in an imported CSS file:

[code]

Can this be configured to throw an error by PostCSS?

[2020-06-17 14:01] Timer commented on #14227
This will be fixed by #13958

[2020-06-17 14:09] MasterEric commented on #14212
Inspecting for myself, the error mentioned in my issue does have a different message, but occurs on the same line and has the same cause. This function should not be parsing the path twice.

I think this issue is caused by the getRouteMatcher being used in several places, and in one of them the value is passed in unparsed.

I think the solution here is to ensure the parameter of getRouteMatcher ha

[2020-06-17 14:33] KATT opened #14271 "CSS files added twice when importing from `_app.js`"
# Bug report

## Describe the bug

Two stylesheet `<link>`s are created when importing CSS from `_app.js`

## To Reproduce

- Example repo: https://github.com/KATT/nextjs-issue-report
- Deployed at: https://nextjs-issue-report.vercel.app/

1. Go to https://nextjs-issue-report.vercel.app/
2. View source

## Expected behavior

CSS is only included once, I guess?

## Actual behavior

CSS is included

[2020-06-17 14:49] KATT commented on #14271
A bit of a tangent: Is there a way of simply inlining my global CSS-file?

[2020-06-17 14:51] jbsmith731 commented on #14271
@KATT as far as I'm aware that is the correct way to preload CSS.

https://developer.mozilla.org/en-US/docs/Web/HTML/Preloading_content

[2020-06-17 14:57] KATT commented on #14271
Oh, I mixed up prefetch and preload in my head, so I think it preload deferred the loading.

[2020-06-17 14:57] #14271 closed

[2020-06-17 15:57] revolunet commented on #11608
Having the same fatal error on Safari/Edge with next@9.4.4 when:

 - trying to click a `next/link` that has `href="/projects"`
 - that `/projects` returns a non JSON value so that the `res.json()` in `getResponse` fails (a 302 in my case)

this ultimately triggers  the `catch` where `error.code` is rewritten which seems not allowed in Edge/Safari

[2020-06-17 16:01] josuesan opened #14274 "Dynamic imports not extracted to chunks"
# Dynamic imports not extracted to chunks

## Description
I am trying to dynamically import a component to remove it from the main bundle of my application, but despite compiling successfully the bundle remains exactly the same and does not generate a chunk "1.js" with the dynamic section that it exports.
A clear and concise description of what the bug is.

## Expected behavior

At the moment of c

[2020-06-17 16:44] sebastienlabine commented on #14184
this means that rewrite will support dynamic pages with getStaticProps?

[2020-06-17 16:46] AbProgr commented on #14253
Nope! Facing the same on the latest canary build as well `v9.4.5-canary.13`

My env:
Node: 12.18.1
VS Code: 1.46.0
WSL 2 with Ubuntu 20.04 LTS
Windows 10 v2004

[2020-06-17 17:02] sai1139 opened #14278 "CI/CD"
# Feature request

Provide docs/ example
1)next.js+jenkins
2)next.js+ jenkins + docker
3) kuberntes

[2020-06-17 17:23] desaijay315 commented on #14278
@sai1139 , This is beyond the scope of the project. I think your devops guy can help you in there -

May be this can help -

1. Open AWS account
2. Create EC2 instance - Deploy Jenkins
3. Use the Jenkins server for build
4. create dockerfiles for your project
5. Build work items / jobs in the jenkins
6. Run the Jenkins jobs with the dockerfile to build your build and create a container out of it f

[2020-06-17 17:28] sai1139 commented on #14278
I got it, for reference can be there examples / documentation with steps

[2020-06-17 17:35] #14278 closed

[2020-06-17 17:46] #14265 closed

[2020-06-17 18:02] desaijay315 commented on #121
**Here is my running application Dockerfile** Create this inside the root folder -

FROM node:12

# Create app directory
RUN mkdir /var/movable/ && mkdir /var/movable/app
WORKDIR /var/movable/app

# Installing dependencies
COPY package*.json /var/movable/app/
RUN npm install

# Copying source files
COPY . /var/movable/app

# Building app
RUN npm run build

# Running the app
CMD "npm" "run" "start"

[2020-06-17 18:54] bernardop opened #14282 "Link to index page with getServerSideProps and basePath results in full page reload"
# Bug report

## Describe the bug

Using the experimental `basePath` and linking from any page back to the index page with `Link` results in a full page reload if the index page uses `getServerSideProps`. Looking at the network tab in Chrome I see a request to `http://localhost:3000/base/_next/data/development.json` that 404s. In the production build, the request that 404s looks like this `http://

[2020-06-17 18:57] #13104 closed

[2020-06-17 19:55] Timer opened #14284 "The error overlay should show the component stack trace instead of JS"
Current:
![image](https://user-images.githubusercontent.com/616428/84943797-e4f2b500-b0b2-11ea-92d3-3c3e7e0030a1.png)

Desired:
![image](https://user-images.githubusercontent.com/616428/84943830-f50a9480-b0b2-11ea-8ec4-135b7189f30d.png)
![image](https://user-images.githubusercontent.com/616428/84943862-fdfb6600-b0b2-11ea-8c95-7ab4666e7692.png)

[2020-06-17 19:56] Timer commented on #14138
I dug more into this and its the expected behavior due to limitations with React right now.

Follow #14284 for updates!

Duplicate of #14284

[2020-06-17 19:56] #14138 closed

[2020-06-17 21:08] turrione opened #14286 "When stylesheets are imported into pages/_app.js, the server responds the page without styles"
# Bug report

## Describe the bug

When stylesheets are imported into _app.js, on the client side everything looks as expected, but when a first load is done (SSR) the server responds unstyled page.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

[code]
Notice that when a first request is made, the response preview is unstyled.

The only way I have

[2020-06-17 21:32] kobsTheReal commented on #11751
I'm uploading files to /public but I can't serve anymore those files (404) unless I trigger a rebuild.
Is there is any way to dynamically server files?

[2020-06-17 21:43] Timer opened #14289 "Build output should reveal static prop size"
Like we expose First Load JS size, we should expose the SSG data size for a page. This will help users know if they're including way too much data in their `getStaticProps` return value.

[2020-06-17 22:29] ivorpad opened #14290 "Route prefetch not working correctly with [experimental] optional catch-all"
## Disclaimer:

I understand how to use dynamic routing in Next.js, I need optional catch-all for a specific feature I'm building.

### Bug report:

Notice the `[]` around the username:

<img width="721" alt="Screen Shot 2020-06-18 at 12 22 20 AM" src="https://user-images.githubusercontent.com/52452/84956588-d1b70800-b0f9-11ea-8b06-0a71142d47ae.png">

## To Reproduce

Here's a repo where I reprodu

[2020-06-17 22:33] chibicode opened #14291 "Add `c=1` to deploy buttons on CMS Examples"
Deploy buttons on CMS examples currently have URLs like this:

https://vercel.com/import/git?s=https://github.com/vercel/next.js/tree/canary/examples/blog-starter-typescript

This doesn’t allow you to choose which Vercel account to deploy to. To fix these, you need to add `c=1`:

https://vercel.com/import/git?s=https://github.com/vercel/next.js/tree/canary/examples/blog-starter-typescript&c=1

Old

[2020-06-17 22:49] jon64digital opened #14292 "ERR_HTTP_HEADERS_SENT when using getStaticProps"
# Bug report

## Describe the bug

Compiling in dev mode when using getStaticProps produces the following error on the server:

Error [ERR_HTTP_HEADERS_SENT]: Cannot set headers after they are sent to the client
    at ServerResponse.setHeader (_http_outgoing.js:470:11)
    at DevServer.sendHTML (pathTo...\node_modules\next\dist\server\next-dev-server.js:23:5)
    at DevServer.render (pathTo...\no

[2020-06-17 23:11] coolgk commented on #8841
`next@canary` is sooooo much faster

[2020-06-17 23:25] #14291 closed

[2020-06-17 23:27] obedm503 commented on #13748
Same issue here. Bug was introduced after `9.3.5`. I've been stuck on that version for a while.

To reproduce, right now using `9.4.4`:
[code]
Nothing renders. Open the console and the same errors mentioned above show up.

[2020-06-18 00:11] dohomi commented on #13104
@Timer one quick question about this topic: I handle provider/context usually in one file. Like a default export for the Provider and the useContext hook for the particular context. This would lead into a full reload because its a hook and a component being exported, right? That might be the case for me why I am facing the reload

[2020-06-18 00:23] ricokahler opened #14295 "Allow configuring `localsConvention` in CSS-loader"
# Feature request

## Is your feature request related to a problem? Please describe.

We love the improvements y'all have been making in SSG and we opted to migrate from Gatsby to Next.js!

However, a relatively small semi-blocker is the inability to configure the [`localsConvention`](https://github.com/webpack-contrib/css-loader#localsconvention) option within `css-loader`. In Gatsby, they use [`

[2020-06-18 00:41] drkgrntt commented on #10975
I'm getting this issue as well. All my styles seem to be being applied, but all of my components (not pages) with scss modules are throwing this error. When I tried applying next-transpile-modules, the error changes to being unable to parse the "@" character when I import global styles in a line like `@import 'src/sass/abstracts/_variables.scss';`. Similarly, all styles are applied despite the err

[2020-06-18 04:25] #14221 closed

[2020-06-18 04:42] darshkpatel commented on #14016
Hey 👋    I'll take this up

[2020-06-18 05:13] illuminist commented on #14295
Check this  https://github.com/vercel/next.js/discussions/14156#discussioncomment-26086, it's a way to find and config css-loader in webpack.

[2020-06-18 05:56] rocinante42 commented on #7488
Where do you put this config?

[2020-06-18 07:07] eKhattak commented on #13946
I'll write a fix for this.

[2020-06-18 07:59] qiwang97 commented on #10148
same problem. I use reset.scss in _app.tsx and it does not work. Any  solution now?

[2020-06-18 08:06] balazsorban44 commented on #14292
Probably fixed on `canary`, either upgrade, or wait for it to get to stable. See https://github.com/vercel/next.js/issues/14186

[2020-06-18 10:18] kevinseabourne commented on #7423
I literally made an exact copy of the styled components example on codesandox and it still did not work !!. I ended up creating a new create-next-app with the styled components example because it works !!! i don't know it works but it will do for now.

[2020-06-18 10:40] saresh-krish opened #14314 "NextJS URL multiple parameters passing"
Hi
I am using import { useRouter } from "next/router";
### Currently what I am getting is.
http://localhost:3000/app/file?id=abc35a5e-1234-9644-acb3-0242ac760002&subject='1234'
### What I need
http://localhost:3000/app/file/abc35a5e-1234-9644-acb3-0242ac760002/1234

I do not want parameters name on Url .

### Routing Link
`<Link href={`/app/filel?id=${id}&subject=${"1234"}`} >`

### Server File:
s

[2020-06-18 10:47] #14314 closed

[2020-06-18 11:13] surathpatnaik-eng commented on #9573
I have the same issue on all devices.

[2020-06-18 11:28] sventschui commented on #7488
@rocinante42 I'd say the best is in your `src/pages/_app.js`

[2020-06-18 11:37] shunkakinoki commented on #13624
Is there a workaround to this issue as of now?
I'm also stuck with the same issue, and cannot migrate to vercel without solving this because i18n would be disabled.
Thanks

[2020-06-18 13:16] reel commented on #14286
Can't reproduce on WSL or Linux.

Can you post the HTML source you are getting when the styles are not rendered?

[2020-06-18 13:42] 3lonious commented on #160
to be honest ive tried all this stuff and nothing is working, the next js example is pretty confusing if you have an already built app/site... seriously why is this so hard to add a dam script tag of any kind? seriously thinking of ditching next js because ive spent way to much time trying to figure this out and its driving me crazy... can we see a full example with detailed instructions on how to

[2020-06-18 14:01] reflash commented on #8238
Same appears to happen when I have a symlink to a folder:
[code]

[2020-06-18 14:14] echevarria opened #14322 "The document increases in size according to the accesses."
[](url)
![image](https://user-images.githubusercontent.com/1697362/85030738-33a45b80-b154-11ea-80ee-d0f037f8c5c6.png)

## Problem

I deployed the application on server and run in production mode. When starts the document size is 16k but when users start to access it increases in size, in the figure it has 12MB.

What's happening? I need do a different configuration on the application?

It's just h

[2020-06-18 14:36] darshkpatel commented on #14204
Hey! 👋
I'll take this up

[2020-06-18 14:50] darshkpatel commented on #14204
Any suggestions on the symbol to use?

Currently, we have:
[code]

[2020-06-18 14:57] turrione commented on #14286
[code]

[2020-06-18 15:00] tywmick commented on #14286
I am seeing the issue as screenshotted, in Chrome 83 on macOS...

<img width="1680" alt="Screen Shot 2020-06-18 at 10 49 52 AM" src="https://user-images.githubusercontent.com/5317080/85035997-cf809800-b151-11ea-9dc6-7a2723d0c900.png">

...but—and please pardon the stupid question, this is more for my own learning—what exactly *is* that response preview that shows up in the developer console, and w

[2020-06-18 15:14] Vadorequest commented on #160
@3lonious I've personally ditched Google Analytics, as it does not do a good job with SPA in general. (really bad experience, especially with SSR+CSR and double events hard to track down)

Regarding Next.js, check out https://github.com/UnlyEd/next-right-now/blob/v2-mst-aptd-gcms-lcz-sty/src/components/pageLayouts/Head.tsx (using `next/Head`), that's how I include script tags in my apps.

Dont hes

[2020-06-18 15:28] reel commented on #14286
If the problem is the Preview in the developper console, this is not an issue as the developper console renders the actual markup and CSS injection might not be fully done.

Can you give it a try in production after a full build?

[2020-06-18 16:09] 3lonious commented on #160
im not sure i get it, i dont see any script tags in that file?

[2020-06-18 16:10] turrione commented on #14286
### This is the soruce code after build and run in production

[code]

@tywmick What you see in the preview is what the server responds, it is what the search engines will have before executing javascript (if the engines decide to spend time executing javascript). It is important that the page is styled on the server side so that google crawler and other search engine crawlers get the same version

[2020-06-18 16:28] ElGoorf commented on #1791
@DaleOC @geochanto @fabb I had the same issue. Eventually got it:

[code]

[2020-06-18 16:32] gramsco opened #14328 "npm run build fails when internet is not solid enough"
# Bug report

## Describe the bug

A colleague is facing an issue when building ("npm run build") the application on which we're both working.

The failure (see below) is produced by a mongodb client error (that we probably should handle anyway) and **I would like to know if internet connection can be a factor in the success and/or failure of the build process.**

It is my main hypothesis, because

[2020-06-18 16:43] #14328 closed

[2020-06-18 16:56] reel commented on #14286
Static css assets seem to load. Do you have a screenshot related to production build? With the dev tools preview?

[2020-06-18 17:14] antonmyrberg commented on #160
This is also a solution that works. I haven't tested it extensively so please do that yourself.

In `pages/_document.js`, add this to your `<Head>`. See the docs on [how to override the document file](https://nextjs.org/docs/advanced-features/custom-document).

[code]

It reports traffic to my GA account at least.

[2020-06-18 18:00] tywmick commented on #14267
@Timer Would this be the time to add [stylelint](https://stylelint.io/)? That's [PostCSS's favorite linter](https://github.com/postcss/postcss#linters)—it's even on the [PostCSS homepage](https://postcss.org/).

When you [put that CSS block into their demo](https://stylelint.io/demo#N4Igxg9gJgpiBcIB0BLAdgBwK4BcAEwAOmnngGYRo4C0A7jCgOYAWO8xAvsSADQgDOATyoBDAB4Jw-fr3CUyTSURJ5CIAE5YANjH5r4BYqVJqRNTTupo

[2020-06-18 18:35] tywmick commented on #14286
Here's how it's looking on my end after `yarn build && yarn start`:

<img width="1680" alt="Production build screenshot with dev tools preview" src="https://user-images.githubusercontent.com/5317080/85058099-a242e280-b16f-11ea-8158-2bd59e6583c0.png">

Here's the HTML in the Response tab now:

[code]

Are those `<link rel="preload"`s what are injecting the styles into the client? Will search engine

[2020-06-18 18:46] kapowaz commented on #13748
I’m also encountering this issue. I guess English isn’t the original issue creator’s language, but nonetheless the description is about as detailed as it need to be, since:

[code]

Results in the errors mentioned above in the console when you launch localhost:3000, i.e.:

![image](https://user-images.githubusercontent.com/25730/85029772-8ee64600-b174-11ea-85ba-701f2a02806c.png)

package-lock.json

[2020-06-18 19:10] nandorojo commented on #8413
Check out [`expo-next-react-navigation`](https://github.com/nandorojo/expo-next-react-navigation)

[2020-06-18 19:47] ankit-gupta1307 opened #14333 "Nested SCSS is not working for scoped SCSS."
# Bug report

## Describe the bug
I am writing the SCOPED Nested SCSS like -:

//index.module.scss
[code]

//index.js
import classes from "./index.module.scss";
[code]

So, expected behaviour should be my inside div should be of different color and size but it's not taking any css. Please help.

This is a demo example.

[2020-06-18 19:48] ankit-gupta1307 commented on #14333
@jamesmosier This is my use case. Please help how to use nested scss.

[2020-06-18 20:53] sanderkooger opened #14337 "Problem with Loading Global CSS in Docker APP"
# Bug report
Same as #12226

We are building an app that runs Nextjs, MUI and react-multi-carrousel, The latter requires a CSS import which we handle in our _app.css This app needs to be built as a dockerimage. Local builds work, But as soon as we build with docker the build fails on npm run build.

## Describe the bug
Building on a machine works,
Buildign in a docker container generates an error

[2020-06-18 20:58] UncleClapton commented on #10472
I just noticed this was fixed with #13922

I'll close this out.

[2020-06-18 20:58] #10472 closed

[2020-06-18 21:20] revolunet commented on #11608
Ok so for me this was related to this issue : https://github.com/vercel/next.js/issues/12409

[2020-06-18 21:24] shivjisakina opened #14340 "Accept --max-http-header-size as a valid flag"
# Feature request

Be able to add --max-http-header-size to increase the maximum header size allowed passed 8k that is built in with Node.js

## Is your feature request related to a problem? Please describe.

After the Node.js update that decreased the max http size down from 80k to 8k we're trying to allow a higher header size so users arent dealing with the 431 error

## Describe alternatives yo

[2020-06-18 21:25] revolunet commented on #12409
i can confirm this issue on Safari and Edge as well. server-side redirections triggers the error page

[2020-06-18 23:00] turrione commented on #14286
The same result that  tywmick https://github.com/vercel/next.js/issues/14286#issuecomment-646237050= has published

@tywmick of course the search engines look and consider the styles. Think that only using css you can do things that go against the good practices indicated by search engines. Such things as hiding text from the user, forcing click on links by hiding them and a huge etc. Search engin

[2020-06-18 23:30] nsylke opened #14345 "err is not typed in AppProps"
# Bug report

## Describe the bug

I was looking at the [with-sentry](https://github.com/vercel/next.js/blob/canary/examples/with-sentry) example and when I was going to add the `err` to my _app.tsx, I noticed there are no typings and I receive the following error:

[code]

## To Reproduce

1. Create new next.js app with typescript
2. Try to add `err` in `_app.tsx`

## Expected behavior

`err` to

[2020-06-19 00:10] tywmick commented on #14286
Ah, that makes sense. Thanks!

[2020-06-19 00:30] jamesmosier commented on #14333
I'm not seeing this issue 🤔 I'm using Next `9.4.4`.

I used your exact scenario and was able to produce this:

<img width="1164" alt="Screen Shot 2020-06-18 at 8 29 25 PM" src="https://user-images.githubusercontent.com/2854919/85084321-72610280-b1a2-11ea-9341-d208c5641761.png">

[2020-06-19 01:48] #14333 closed

[2020-06-19 02:40] jamesmosier commented on #14243
Going to look into this!

[2020-06-19 02:43] mattirizarry commented on #7320
I know this is a while afterwards but this should be the accepted solution. I just ran into this same problem but this fixed it with flying colors! Thanks!

[2020-06-19 03:10] harrisosserman commented on #12079
+100 to this.  I'm having to copy and paste node module css files into my project and adding a .module.css on them

[2020-06-19 03:48] paambaati commented on #14340
You should be able to set it via the [`NODE_OPTIONS`](https://nodejs.org/api/cli.html) environment variable.

Use —

[code]

[2020-06-19 05:12] pururaj1908 commented on #9135
@timneutkens Can I take this issue as my first contribution?

[2020-06-19 05:37] sagar-gavhane commented on #14243
Is there any way to simulate the server is down?

[2020-06-19 06:44] #14340 closed

[2020-06-19 06:46] #14337 closed

[2020-06-19 06:47] sagar-gavhane opened #14352 "Port switching"
# Feature request

When we run `next dev` command then before starting the server `next` should check for a port number 3000 is available or not if not then `next` should be switch to another port instead of throwing `Port 3000 is already in use.` error.

## Is your feature request related to a problem? Please describe.

If port 3000 is locked due to another process then I've kill running process

[2020-06-19 06:49] #14322 closed

[2020-06-19 07:14] luke-j commented on #11711
Yeah, this is actually causing production issues where the HTML response is cached which then causes incorrect js/css resources to be requested, resulting in 404s.

[2020-06-19 08:01] josias-r opened #14354 "nextjs/dynamic not supported with external packages"
I'm developing a separate npm package with nextjs components. Inside it, it's essential for the project to be able to split out components using dynamic imports.
I work with babel and use the following babelrc to compile my code of the external package:
[code]

As you can see, I need to exclude the dynamic import rule, since otherwise, babel will compile it to "fake" dynamic imports, therefore bre

[2020-06-19 08:07] lmuntaner commented on #10522
I solved this by adding the following to `next.config.js`:

[code]

https://nextjs.org/docs/api-reference/next.config.js/exportPathMap#adding-a-trailing-slash

I guess this depends on your web server.

[2020-06-19 08:28] SOHELAHMED7 commented on #10416
I request to add

 - 'won't fix' label to this issue
- add a note in docs of this as known issue

If you agree for second point, I can create a pull request

[2020-06-19 09:20] remy commented on #10475
@timneutkens just checking, but the Next docs say it supports postcss, and I'm using postcss exclusively to get nested support (as css does everything else I need), but in the particular combination of Next + Postcss + Nesting + CSS Modules - *does this mean* nested CSS (via postcss) isn't supported/doesn't work?

[2020-06-19 09:24] #10522 closed

[2020-06-19 10:25] Oikio commented on #6817
Same issue here with runtime styled-components theming.
Themes are not serializable, so I can't use `getInitialProps`, but I don't want to require them all in bundle, they will bloat it.

So I decided to go with conditional `require` on server side and with dynamic `import` on client, but as one would expect got blinking due to first render not having a theme yet.
So it renders properly -> React h

[2020-06-19 11:40] Vadorequest commented on #160
@3lonious Script tags and style tags work the same way.
The above solution also works, from experience. (it's how I used to make GA work)

[2020-06-19 11:45] Vinnl opened #14361 "Use index.html in public/ folder as directory index"
# Feature request

## Is your feature request related to a problem? Please describe.

I'm bundling a static website (specifically, a built [Storybook](https://storybook.js.org/)) into the `public/` folder of my Next.js app. That means that there is a file `/public/storybook/index.html`.

Before migrating to Next.js, I could visit `mywebsite.com/storybook/`. Now, however, I can only get it to show

[2020-06-19 13:38] 3lonious commented on #160
ok thanks guys. im gonna try and get back to you

[2020-06-19 13:41] #14354 closed

[2020-06-19 13:44] 3lonious commented on #160
ok well this is the tag i got, what do you do with that?

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','SOME_AC

[2020-06-19 13:45] 3lonious commented on #160
ok i think i got it to work

[2020-06-19 13:46] 3lonious commented on #160
thanks Anton. ok i have a new one for you haha

i have a chat app i use for customer service but that script tag dosnt work either? any ideas?

[2020-06-19 13:48] 3lonious commented on #160
its telling me to add this second tag in the body? what do you do with that?
<img width="441" alt="Screen Shot 2020-06-19 at 6 48 22 AM" src="https://user-images.githubusercontent.com/46793692/85139190-ecbc7180-b1f8-11ea-8ec3-a79c596f1247.png">

[2020-06-19 13:54] 3lonious commented on #160
so actually it looks like this script i added yesterday is now working and im not sure why.. looks like the script from Anton actually wasn't working.. weird

 <script async src='https://www.googletagmanager.com/gtag/js?id=ACCOUNT_ID'></script>

[2020-06-19 14:28] jeantil commented on #14204
how about ♼ ?

[2020-06-19 14:30] yl-flyer commented on #13751
In my case, i have a large data that i want display it in menu. it can take 15s to get response.
i placed in getStaticProps and i noticed that navigation between pages take too much time.
i don't know if i miss something, the example is similar to @itome but with `fallback: false`

[2020-06-19 15:57] raphaelpc commented on #14070
I can confirm that i'm having this same error on version 9.4.4 of Next.js (was previously using version 9.3.1 without any problems)!
I'm using lerna with yarn workspaces. To see the erros, i used "yarn install --verbose" instead of "lerna bootstrap".
In can this can help to find the origin of the problem, this is step 4 of yarn install with next 9.3.1:
 `
[4/4] Building fresh packages...
verbose 9

[2020-06-19 16:18] borisdedejski commented on #9851
It is not working again I have `next 9.4.4` and it is not working in safari :(

[2020-06-19 16:34] darshkpatel commented on #14204
I was thinking about ■

[2020-06-19 16:35] adamsoffer commented on #7882
Hey guys - heads up just tried deploying the `with-typescript-types` example and still getting the `'=' expected.` error.

[2020-06-19 16:35] adamsoffer commented on #7882
cc @Timer

[2020-06-19 16:48] darshkpatel commented on #14204
@Timer Should I wait till `unstable_revalidate` is not `unstable`

[2020-06-19 17:12] adamsoffer commented on #11909
Heads up, I'm still unable to use the `import type` syntax. When I deploy the `with-typescript-types` I still get that error. cc @Timer

[2020-06-19 17:17] topched commented on #10059
Anyone have a workaround for this? To use a library like full calendar it exports its own css.

[2020-06-19 18:01] hiukky commented on #10059
I got here! https://github.com/vercel/next.js/blob/master/errors/css-npm.md I didn't find an alternative solution and ended up removing the css import pro user in the application

[2020-06-19 18:29] ricokahler opened #14369 "Swap out ally.js for focus-trap-react"
# Feature request

## Is your feature request related to a problem? Please describe.

[In the discussions](https://github.com/vercel/next.js/discussions/14056), a few of us have noticed some issues with the ally.js package that's imported in `@next/react-dev-overlay`.

I'm wondering if you'd be willing to swap our [ally.js](https://github.com/medialize/ally.js) for [`focus-trap-react`](https://git

[2020-06-19 19:12] raphaelpc commented on #14070
Note: i updated do Next version 9.4.0 and had no problems, so this is a problem from version 9.4.4.
Thanks.

[2020-06-19 19:17] Vadorequest opened #14371 "Route rewrite using pattern ($1) redirects to /$1"
# Bug report

## Describe the bug

[code]

Using the following redirects `/gem/test` to `/$1` instead of `/test`.

I had tested the behaviour on an older version of Next.js and it did work properly at that time.
It failed me today, and the regression wasn't detected until the customers complained.

Using Next `9.2.1`. Deployed on Vercel.

I believe it used to work on v9.1. How should it be done no

[2020-06-19 19:31] chaddjohnson commented on #4844
Would these improvements also help reduce production build time, or are they specifically targeted at development?

[2020-06-19 20:00] ricokahler commented on #14369
Another idea could be just removing the focus trap feature all together. When the development overlay modal opens, we could just focus it without trapping.

[2020-06-19 20:42] borisdedejski opened #14375 "App doesn't work in production on Apple devices, Mac & iphone"
# Bug report
I am using next 9.4.4 with react and react-dom 16.9.0, I don't know why in production my app works perfectly on android devices as well on linux and microsoft operating system.
It throws `An unexpected error`  when I try the app on Apple devices.
There are no errors too, it just throws this one, I really don't know what do to.

[2020-06-19 21:19] #14375 closed

[2020-06-19 21:19] borisdedejski commented on #14375
I why but replacing dateFns with moment, make it work. I dont know why with dateFns it is not working on iOS devices. There is no a sign of an error as well

[2020-06-19 21:25] joelwass commented on #10521
Same issue - router.query is empty on mount and an undetermined amount of time after. Option is to place it within a useEffect in which case it causes multiple re renders, or simply not use it.

[2020-06-20 01:56] dohomi commented on #9022
I faced this issue as well and fighting it down to use `yarn` instead of `npm` (with npm it did not work) and using https://github.com/vercel/next.js/issues/9022#issuecomment-616169466

[2020-06-20 02:12] efriandika commented on #10521
Hi @joelwass
You can try my workaround above.. it works for me until this problem is solved

[2020-06-20 05:29] dongrongcmx opened #14380 "next_dynamic_WEBPACK_IMPORTED_MODULE_12__defult(...) is not a function"
# Bug report

## Describe the bug

在本地运行的时候，页面会报错next_dynamic_WEBPACK_IMPORTED_MODULE_12__defult(...) is not a function，进而页面不断的自动刷新。报错的动态导入模块实际加载没有问题，打包后上线运行也没有问题。但是在我没有操作页面和代码的时候，不断报错并刷新页面，对开发过程产生了影响，请问这个情况有办法解决吗。

![WechatIMG3](https://user-images.githubusercontent.com/22345076/85193316-e2ce6780-b2f9-11ea-84a6-1a8e0dbd31fe.png)

## System information

- OS: macOS
- Browser (if applies) chrome
-

[2020-06-20 06:21] fredrik-sogaard opened #14382 "Params don't match when using 'unstable_revalidate' and 'getStaticProps'"
# Bug report

## Describe the bug

When running `getStaticPaths` on build, the params passed to `getStaticProps` looks like this (logged from `getStaticProps`):
[code]
This statically builds the pages I want and they work when refreshing the page in a browser.

When I navigate with `next/link` the pages are blank, and the json fetched is missing data. This is because the params from `getStaticProp

[2020-06-20 08:08] mohamedsgap commented on #14251
@Timer can i take this one ?

[2020-06-20 10:38] aberba commented on #13967
Its a product app and what was causing the problem was a recursive import of modules in an api route. Had to play puzzle game before it figured out. Will be helpful to have nextjs detected when two modules import each others exported functions or import each other. Recursive import problem.

[2020-06-20 13:50] chuabingquan commented on #14170
@callsea1 is it possible for you to create a sample repository that reproduces this problem? I'm unable to reproduce your issue despite following the specifications and description of your system information.

[2020-06-20 17:30] josias-r opened #14389 "nextjs/dynamic not supported with external packages"
I'm developing a separate npm package with nextjs components. Inside it, it's essential for the project to be able to split out components using dynamic imports.
I work with babel and use the following babelrc to compile my code of the external package:
[code]

As you can see, I need to exclude the dynamic import rule, since otherwise, babel will compile it to "fake" dynamic imports, therefore bre

[2020-06-20 18:28] Vishnumundlapudii commented on #7143
Helped me a lot in getting the passed parameter id from request using context...

[2020-06-20 19:57] DayBr3ak commented on #13045
@majelbstoat can we have the full config? Do you have any babel dependencies? I can't get it to work.

I'm stumped nextjs can't parse an enum correctly.

[2020-06-20 19:59] jamesmosier commented on #14380
Please provide a full reproduction of your issue.

[2020-06-20 19:59] timneutkens commented on #9851
Try next@canary

[2020-06-20 20:03] #6303 closed

[2020-06-20 20:08] jamesmosier commented on #14352
I believe this has been asked before and I believe it is not something they intend to do. I cannot find the issue/discussion though with the answer.

There is a discussion though [asking for the same thing](https://github.com/vercel/next.js/discussions/13487)

[2020-06-20 20:10] jamesmosier commented on #14274
Do you happen to have a minimal reproduction for this?

[2020-06-20 20:11] #14380 closed

[2020-06-20 20:11] #14389 closed

[2020-06-20 20:12] timneutkens commented on #13967
Please provide a complete reproduction so that we can have a look (as asked for before)

[2020-06-20 20:31] unbelivr commented on #14369
I see that ally.js is not only being used to trap focus.

There next.js disables any type of user interaction, so focus-trap-react seems not to be correct replacement.
`const handle1 = allyDisable({ filter: overlay })`

[2020-06-20 21:16] nicholaschiang commented on #11610
Closing this as it was addressed a while ago.

[2020-06-20 21:16] #11610 closed

[2020-06-20 21:56] nandorojo commented on #7322
I'm using **styled components** with Expo Web + Next.js. This solved it for me:

[code]

Use the Babel plugin in your **babel.config.js** file:
[code]

As seen on the Expo docs: https://docs.expo.io/guides/using-styled-components/#usage-with-nextjs

[2020-06-20 22:02] warcraft14115 opened #14394 "Can't delete folder .next"
# Bug report

## Describe the bug

Hi, when I run: `npm run build` my app get an error, it's ok, then I fixed the error
But when I run `npm run dev ` , I got this error
[code]
I tried many ways to delete .next folder, but not work, finally I must login to Safe mode of window to delete folder.
I guest it come from name folder ? I set folder name is : api/item/[itemId]

## System information

- OS:

[2020-06-20 22:20] warcraft14115 commented on #14394
I tried to delete with powershell
[code]

[2020-06-20 22:43] #14394 closed

[2020-06-20 23:31] warcraft14115 commented on #9194
@timneutkens  Thank you, this will work. But I got problem with this :\ if writehead, it will change the cookie (passport cookie and make login sesstion false ). Is there any better way ?

[2020-06-21 04:22] cdaringe opened #14396 "Support userland data in SSR contexts"
# Feature request

## Is your feature request related to a problem? Please describe.

To pass custom data into `getServerSideProps`, I have to mutate `req: IncomingRequest` in my custom-server.

## Describe the solution you'd like

For custom server users--myself included--often there is some business logic needed
to execute before we let next.js do its _great work_. Some of that business logic
ma

[2020-06-21 05:19] msreekm commented on #6040
@ScriptedAlchemy  i am excited for Webpack Federation technology ! Waiting to see what you are building .

[2020-06-21 06:39] tomasdisk commented on #12454
I'm with the same issue using the new with-sentry example. I'll try your workaround, thanks!
[Example] with-sentry: https://github.com/vercel/next.js/blob/bef9b5610911532689dc251b7ceac72985e6b6dd/examples/with-sentry/next.config.js#L54

[2020-06-21 09:25] timneutkens commented on #14396
We are not planning to change the custom server api at this point in time, in general we recommend having all logic inside your Next.js application where possible.

[2020-06-21 09:25] #14396 closed

[2020-06-21 10:55] timneutkens opened #14402 "Figure out a way to keep nextjs.org and vercel.com/docs up-to-date automatically"
I'd like to automate opening the PR to https://github.com/vercel/next-site and https://github.com/vercel/docs (and the main frontend) so that they're always on the latest canary version where possible.

[2020-06-21 13:43] Ehesp opened #14409 "Nested paragraph tags not rendering on server"
# Bug report

## Describe the bug

I came across this "bug" when building out a website using a headless CMS. I injected my CMS content into my application via `<p dangerouslySetInnerHTML={{ __html: externalHtml }} />`, however the HTML output from the CMS also contains a nested `<p`> tag.

When I load the page from the server, the content does not show, when I navigate to a page via client routin

[2020-06-21 13:46] PwnMonkey13 opened #14410 "Can't access cookies with NextJS, SSR and firebase production server"
## I can't access browser cookies with SSR on Firebase production server

Here a piece of code :

[code]

## Explanations ##

Here I call my API route on server side, which return json data if a token cookie is provided, else a 403 status code.

It's working perfectly fine during local development => Additional headers are provided

I fetch my API right with browser request or Postman and all is w

[2020-06-21 14:00] DuffyWang926 opened #14411 "client pings, but there's no entry for page: /findroom"
# Bug report

## Describe the bug
when type in the cmd nom run dev。
sometime, it will show the error' client pings, but there's no entry for page:'
in the chrome: the moduleId of webpack_require is undefined;
sometime, the error in cmd doesn't  show,but the error in the chrome is exit.
and wait for 1-3 minute, the page is normal.

<img width="584" alt="image" src="https://user-images.githubusercon

[2020-06-21 14:01] sagar-gavhane commented on #14352
I found this is a repetitive process every time I've to kill port and run the next dev script again and again.

what do you think? @jamesmosier

[2020-06-21 14:06] #14411 closed

[2020-06-21 14:06] #14410 closed

[2020-06-21 17:46] raghav0622 opened #14417 "Example with Monogdb ReamlWeb"
# Feature request
since nextjs already includes examples with firebase/firestore, mongodb and other services, it would be nice to implement realm-web example

[2020-06-21 18:13] Vinnl opened #14419 "Catch-all routes with a period followed by a two-digit number inserts `00` into the params"
# Bug report

## Describe the bug

When you have a [catch all route](https://nextjs.org/docs/routing/dynamic-routes#catch-all-routes), and the passed parameter includes a colon followed by exactly two numbers (e.g. `/a:42b`), then instead of passing that parameter as-is to the app (i.e. `a:42b`), Next.js inserts two zeroes (i.e. `a:4200b`). This only happens after client-side navigation, not on a

[2020-06-21 18:42] hiukky commented on #8617
This does not make sense to be allowed in the development environment since it applies to the production environment.

[2020-06-21 18:56] uhrohraggy commented on #13215
FWIW am also receiving this. Build works perfectly on vercel but not locally. Only error in dev is not having a pages directory:

[code]

Pretty simple package.json:

[code]

and now.json
[code]

[2020-06-21 18:59] hiukky commented on #8617
![image](https://user-images.githubusercontent.com/26740246/85232751-c4d73480-b3d7-11ea-9676-21b59f670462.png)

One solution I found at the moment was to leave my views in my src directory and to export only the default export of each component `export { default } from '../src/views/About'.` as I like to separate the styles, types and tests files in each module a was the best solution at the momen

[2020-06-21 19:24] salmova opened #14421 "# FetchError: invalid json response body at http://localhost:3000/api/catalog reason: Unexpected token I in JSON at position 0FetchError: invalid json response body at http://localhost:3000/api/catalog reason: Unexpected token I in JSON at position 0"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

If applicable, add screenshots to help

[2020-06-21 20:00] josias-r opened #14422 "nextjs/dynamic not supported with external packages"
I'm developing a separate npm package with nextjs components. Inside it, it's essential for the project to be able to split out components using dynamic imports.
I work with babel and use the following babelrc to compile my code of the external package:
[code]

As you can see, I need to exclude the dynamic import rule, since otherwise, babel will compile it to "fake" dynamic imports, therefore bre

[2020-06-21 20:57] coolgk commented on #8841
have to switch back to the stable version :( the canary version has problems with `render`ing by testing-library/react

`this.props.headManager.mountedInstances.add(this);` mountedInstances is undefined

[2020-06-21 22:01] timneutkens opened #14425 "next/head causes issue when rendered outside of Next.js"
_Originally posted by @coolgk in https://github.com/vercel/next.js/issues/8841#issuecomment-647180628_

[2020-06-21 22:02] timneutkens commented on #14227
Closing this as a duplicate of #14425 and #13958 will completely disallow importing it (given it breaks/does not work as expected)

[2020-06-21 22:02] #14227 closed

[2020-06-21 22:03] #14422 closed

[2020-06-21 22:05] #14421 closed

[2020-06-21 22:21] daniyal214 opened #14427 "TypeError: Cannot read property 'map' of undefined"
# Bug report

## Describe the bug
TypeError: Cannot read property 'map' of undefined

##Trying to Do
Trying to make an expense tracker app using ReactApp using contexthook, reducerhook... but getting this map error while using map

## Code
App.js

![a](https://user-images.githubusercontent.com/66221394/85236470-b02a8900-b437-11ea-9c4d-fbbbc56406ca.PNG)

TransactionHistory.js

![b](https://user-ima

[2020-06-21 23:21] jamesmosier commented on #14427
Hi @daniyal214! Your project doesn't use Next.js. You can post this somewhere like [Stack Overflow](https://stackoverflow.com/) and someone should be able to help out!

[2020-06-21 23:21] #14427 closed

[2020-06-22 00:08] ijjk commented on #14282
Hi, this should have be resolved in v9.4.5-canary.14 of Next.js specifically this PR https://github.com/vercel/next.js/pull/14376

[2020-06-22 02:47] jkjustjoshing commented on #14352
I've found that most of the time when port 3000 is in use already, it's because I have my Next.js app already running in a different terminal window, and I appreciate being told about the issue instead of just moving to a different port.

How frequently do you have this issue? Sounds like you should just permanently change the port you develop your Next.js app on by updating your `package.json`:

[2020-06-22 02:51] Timer commented on #13045
@DayBr3ak Next.js can parse enums just fine. This is a bug with your code, so you'll need to provide a full demo for us to find the issue in your project.

[2020-06-22 02:55] Timer commented on #14369
Focus trapping is necessary for the DX of the overlay. Can you share more about this error? What specifically is going wrong?

[2020-06-22 02:59] majelbstoat commented on #13045
Yeah, @Timer's right, it does work if configured correctly. For me, I had code that was a) outside the next root, and b) symlinked in from elsewhere in a monorepo. This is my next config in its entirety:

[code]

[2020-06-22 03:00] #14290 closed

[2020-06-22 03:08] #14361 closed

[2020-06-22 03:10] Timer commented on #14204
Yeah, let's not add a new `ISG` or `ISR` output line yet—can we add it at the end of the page name for the time being? Something like:

[code]

[2020-06-22 03:15] Timer commented on #14251
Sure!

[2020-06-22 03:33] ricokahler commented on #14369
@Timer ,

@chrisvariety had a repro for this issue here: https://github.com/vercel/next.js/discussions/14056#discussioncomment-28461

It has something to do with platform.js in ally.js.

—-

I think this issue should’ve been regarding that platform.js issue vs replacing ally.js with focus-trap-react (my bad!). I just saw that the bundle size for ally.js was relatively large and I thought I throw t

[2020-06-22 04:05] #14292 closed

[2020-06-22 04:12] Timer opened #14429 "Vercel's Next.js builder should memoize lstats of files"
To speed up the Next.js builder, we should memoize the lstat of files when bundling lambdas.

https://github.com/vercel/vercel/blob/83f77223aa34d3833981d0401158faab06754ac3/packages/now-next/src/index.ts#L925

[2020-06-22 04:13] Timer opened #14430 "Vercel's Next.js builder should avoid uploading preview lambdas when it can"
Currently, the Vercel Next.js builder will upload lambdas for preview mode even when we know it cannot be used.

In the case there are **no API routes**, we should skip the preview lambdas.

This should be extendable into the ISR lambda as well.

[2020-06-22 04:16] Timer opened #14431 "Inconsistent overlay state when browser bundle fails but server works"
More information in #14191

However, Next.js will try to render the page when the server-bundle succeeds but the client-bundle fails, and does not properly show the error.

This can be reproduced by throwing in a Babel plugin for the client-compilation.

[2020-06-22 04:18] Timer opened #14432 "Next.js routing transitions should update address bar immediately"
Currently, Next.js works like so:

1. Link is clicked
1. Page JavaScript is loaded
1. Page data is loaded
1. New page is rendered
1. URL is changed

However, it should work like so:

1. Link is clicked
1. URL is changed
1. Page JavaScript is loaded
1. Page data is loaded
1. New page is rendered

---

This behavior is preferential so that the browser's "cancel navigation" behavior works while data

[2020-06-22 04:19] Timer opened #14433 "Update client-nav rendering suite"
The tests in `test/integration/client-navigation/test/rendering.js` for the dev overlay should verify the overlay is actually rendered on screen instead of parsing the HTML output from server.

[2020-06-22 04:20] Timer opened #14434 "The whitespace stripping in the error overlay does not work when there is an empty line"
The error overlay's whitespace stripping breaks when there is a new line with no whitespace in the middle of the code frame.

[2020-06-22 05:13] #14016 closed

[2020-06-22 05:55] Giorat commented on #13215
@uhrohraggy do you have a public repository with this error?

[2020-06-22 06:45] eric-burel commented on #4381
Not sure if it has been mentioned before, but easy and global disable of SSR is useful in the context of e2e/integration testing.

Cypress provides mock for requests triggered by the browser, but it's much more difficult to mock server side queries, especially when they hit the same origin. There's not much recipe to handle this on the web, so the easiest path is to disable SSR when running e2e te

[2020-06-22 06:56] chuabingquan commented on #12498
Hello, I can give this a shot! So all the user needs to do is supply a token under a flag, and their list of repositories would show up?

[2020-06-22 07:41] eKhattak commented on #14434
@Timer  Can you please write reproduction steps? I tried to reproduce it but it's working fine, I tried for both Runtime and Compilation Errors.
![Source Code](https://media.discordapp.net/attachments/717225343148359701/724527367724335104/unknown.png)

![Overlay](https://cdn.discordapp.com/attachments/717225343148359701/724526880606388224/unknown.png)

[2020-06-22 08:52] sakhmedbayev opened #14440 "Cannot run "with-aws-amplify-typescript" example, receiving "TypeError: Cannot read property 'code' of undefined""
# Bug report

## Describe the bug

I am trying to run ["with-aws-amplify-typescript"](https://github.com/vercel/next.js/tree/canary/examples/with-aws-amplify-typescript) by following its instruction.

on `yarn dev`, receiving the following error:

[code]

## System information

- OS: iOS
- Browser Chrome
- Version of Next.js: 9.4.4
- Version of Node.js: v14.2.0

@todortotev, can you please look at

[2020-06-22 08:57] serendipity1004 opened #14441 "Server Side State not getting hydrated"
I am following the [example](https://github.com/vercel/next.js/tree/canary/examples/api-routes-apollo-server-and-client) on using apollo with NextJS.

However, I am unable to get the data retrieved in server to be hydrated in the client.

In the line below, if I print `initialState` it is always null; therefore, the cache is not populated to the client side apollo.
https://github.com/vercel/next.j

[2020-06-22 09:21] serendipity1004 commented on #14441
this is a very stupid mistake on my part.

for those of you having same problem the key name at below two codes must be identical for obvious reasons

https://github.com/vercel/next.js/blob/19f3306aaadc00be1ba6d3521dfdeca49d7a95fe/examples/with-apollo/pages/index.js#L30

https://github.com/vercel/next.js/blob/19f3306aaadc00be1ba6d3521dfdeca49d7a95fe/examples/with-apollo/pages/_app.js#L5

[2020-06-22 09:21] #14441 closed

[2020-06-22 10:34] mulholio opened #14443 "Next.js 9.4 Absolute Imports Break Jest Tests"
# Bug report

## Describe the bug

When using absolute imports (as announced [here](https://nextjs.org/blog/next-9-4#absolute-imports-and-aliases)), Jest tests break as absolute imports do not work in this env.

[code]

## To Reproduce

Reproduction repo here: https://github.com/mulholio/next-9-4-test-fail/blob/master/README.md

## Expected behavior

Imports behave the same in test and non-test en

[2020-06-22 10:40] mulholio commented on #14443
Using Jest's `moduleDirectories` option fixed this for me https://github.com/mulholio/next-9-4-test-fail/commit/ac3e9284e071fef973bf5f51c984b0a3ec481749#diff-2d0cd5d10b9604941c38c6aac608178aR2

Hope this is useful to someone.

[2020-06-22 10:40] #14443 closed

[2020-06-22 12:14] crash7 commented on #12498
Hi! I have this in a fork already, I was waiting for some feedback for the nextjs team in order to send the PR (I didn't see the new labels, they don't trigger a notification).

I added a `githubToken` flag that expects a token in the form of `{githubUser}:{personalToken}`.

Wonder if that's ok

[2020-06-22 12:18] McZenith opened #14444 "Example with Wix-style-react"
# Feature request

## Is your feature request related to a problem? Please describe.

A clear and concise description of what you want and what your use case is.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

##

[2020-06-22 12:20] #14444 closed

[2020-06-22 12:21] timneutkens commented on #14444
Ignored the issue template and duplicate of #14013

[2020-06-22 12:29] Timer commented on #14434
This requires deeply nested code. The whitespace stripping in the above example was not necessary as `export default` already had no whitespace.

![image](https://user-images.githubusercontent.com/616428/85287558-70c56200-b462-11ea-9d4e-c83d19893f39.png)

[code]

[2020-06-22 12:34] Timer opened #14445 "Server-side code elimination should strip types"
Hi friends,

See here: https://next-code-elimination.now.sh/s/nP8kScwwq

I'm unsure if this is a bug or expected behaviour because I'm not familiar with the intricacies of bundling types + next's client side code elimination.

The reason this came up is because I'm using Prisma in `getServerSideProps` but relying on their fancy type definition that gives dynamic types based on what fields we query

[2020-06-22 12:34] Timer commented on #14445
See repro case:
https://next-code-elimination.now.sh/s/IBcPjW-Ny

[2020-06-22 13:01] Timer commented on #14267
Style lint could be an interesting approach. See https://github.com/facebook/create-react-app/pull/1216 for prior art!

[2020-06-22 13:23] Timer commented on #13058
This project cannot be ran:
[code]

[2020-06-22 13:29] serendipity1004 opened #14447 "Hot reloading stops working after some time in components folder"
I am currently using docker compose for development. When working with docker compose with nextJS, hot reloading abruptly stops working after some time. It's totally random when it happens but it does not happen in the `pages` files. For me it's only been happening in components folder. I am attaching .gif file to demonstrate the issue. I can provide any additional information. I am just attaching

[2020-06-22 13:31] #14447 closed

[2020-06-22 13:57] ijjk commented on #14282
Closing as this is resolved on latest canary, please reply with additional details if you are still encountering problems after upgrading

[2020-06-22 13:57] #14282 closed

[2020-06-22 14:10] #11195 closed

[2020-06-22 14:10] #12448 closed

[2020-06-22 14:10] #13058 closed

[2020-06-22 14:10] #10404 closed

[2020-06-22 14:14] Timer commented on #13058
This should be fixed in `next@^9.4.5-canary.15`! Please upgrade and let us know.

[2020-06-22 14:14] Timer commented on #11195
This should be fixed in `next@^9.4.5-canary.15`! Please upgrade and let us know.

[2020-06-22 14:14] Timer commented on #10404
This should be fixed in `next@^9.4.5-canary.15`! Please upgrade and let us know.

[2020-06-22 14:14] Timer commented on #12448
This should be fixed in `next@^9.4.5-canary.15`! Please upgrade and let us know.

[2020-06-22 14:15] Timer commented on #10268
This should be fixed in `next@^9.4.5-canary.15`! Please upgrade and let us know.

[2020-06-22 14:15] #10268 closed

[2020-06-22 14:56] bernardop commented on #14282
Thanks @ijjk, just confirmed it works perfectly now. Also great to see `basePath` out of "experimental"!

[2020-06-22 15:07] showell215 commented on #13058
Thanks @Timer! 🎉  I tested and the fix works for me.

[2020-06-22 15:50] Timer opened #14451 "Remove usage of Jest force exit"
Some of our test suites currently rely on force exiting Jest, we should remove this flag and fix any test suites that rely on it:

https://github.com/vercel/next.js/blob/6ab072491601a4426d584e432f287d6752d48c79/run-tests.js#L129
https://github.com/vercel/next.js/blob/6ab072491601a4426d584e432f287d6752d48c79/azure-pipelines.yml#L27

[2020-06-22 15:52] ijjk opened #14452 "Documentation for custom routes"
We need to add documentation for rewrites, redirects, and headers before landing on stable

[2020-06-22 15:53] ijjk opened #14453 "Documentation for basePath"
We need to add documentation for the new `basePath` support before landing on stable

[2020-06-22 17:15] CrocoDillon commented on #10268
Thanks @Timer, it seems to work! Is JavaScript disabled also supported? When I disable JS I don't see my custom styles but it could be that my setup is wrong or outdated.

[2020-06-22 17:49] Timer commented on #10268
No, JavaScript cannot be disabled in development.

[2020-06-22 17:54] anulman commented on #10040
@BiscuiTech @AlexOros — a week or three was a little ambitious. But the PR is up and good to go! #14454

Note that the CI error is due to the addition of a `path` parameter passed to `getStaticProps({ params: { path } })` for files w/o a dynamic segment.

[2020-06-22 18:03] nuriun commented on #8240
@jeffersoncustodio820 Your solution is good, but this causes ReactDOM.hydrate to throw an HTML mismatch error.

Here, this is my solution either:

This is able to work on the server and client-side. Also, since it works the same way on both sides, so we don't annoy the hydrate function for HTML mismatch error.

[code]

So, how?

Because, as you can see below, `PersistGate` defines `this.state.boot

[2020-06-22 18:09] Timer opened #14458 "React key errors and other warnings in toast overlay"
React key errors should be shown in a toast-like error overlay for the new Fast Refresh experience.

This should be complete with full component-stack trace support.

[2020-06-22 18:24] Timer opened #14460 "On-demand entries should keep separate sets for client and server"
Currently, when you visit a new page, we start a compilation for the server bundle **and** client bundle.

These on-demand entry sets should be handled separately, such that a client-navigation skips the server-side bundle. Server-side visits should still generate both, as hydration needs to occur.

[2020-06-22 18:25] Timer opened #14461 "Click-to-open error state for development overlay"
When the click-to-open feature fails in the development overlay, we should provide a friendly error state that explains what went wrong. Currently, the failure is handled silently.

[2020-06-22 18:28] Timer opened #14462 "`no-undef` babel plugin"
Next.js should implement a `no-undef` rule as a babel plugin to prevent invalid runtime code from executing.

[2020-06-22 18:30] nuriun commented on #8240
@jeffersoncustodio820 Your solution is good, but this causes ReactDOM.hydrate to throw an HTML mismatch error.

Here, this is my solution either:

This is able to work on the server and client-side. Also, since it works the same way on both sides, so we don't annoy the hydrate function for HTML mismatch error.

[code]

So, how?

Because, as you can see below, `PersistGate ` defines this.state.boot

[2020-06-22 18:30] Timer opened #14463 "Next.js prefetching should use requestIdleCallback"
Our prefetching should use `requestIdleCallback` to prevent registering every single intersection observer tag in viewport at once. This will ensure we don't introduce first input delay during hydration.

We can look at [`quicklink`](https://github.com/GoogleChromeLabs/quicklink) for inspiration.

[2020-06-22 18:32] Timer opened #14464 "Importing global CSS out of App should explain the alternative in error message"
Currently, we only explain to use CSS Modules in the err.sh link. The error message does not provide guidance on what to do next, only the problem.

See the messages in this file:
https://github.com/vercel/next.js/blob/canary/packages/next/build/webpack/config/blocks/css/messages.ts

We should update the error messages displayed to the user very clear that there's an alternative so they're not stu

[2020-06-22 18:34] Timer opened #14465 "[experimental] Modern mode duplicates preload tags (or more)"
Using modern mode causes Next.js to prefetch the modern script multiple times.

To reproduce, enable experimental modern mode and scroll links into viewport, click on them, etc. You should see duplicate preloads or prefetches for the same script.

[2020-06-22 19:38] miguelalche commented on #10967
The thing with puppeteer and Next.JS is that it's pretty difficult to tell when the route changes have ended, because the normal "waitForNavigation" method doesn't seem to work well with Next.JS routing

[2020-06-22 19:54] skivol commented on #8733
Yes, HMR works fine for files which live inside the WSL2 virtual machine (that is not on "/mnt/..." prefixed path) and when I moved my project files inside VM (had also to run "IntelliJ IDEA" from the inside as well to have more powerful kotlin tooling when needed) I was amazed by the difference in build and shell/git performance, so highly recommend this approach instead! (apart from the fact tha

[2020-06-22 20:50] nandorojo opened #14469 "Prop did not match. Client: X, Server: Y"
# Bug report

## Describe the bug

When I use JS to detect screen width, and then render content based on that screen width, the initial render differs on the server vs. client.

The result is an error saying **prop `style` did not match. Server: X, Client: Y.**

**When this happens, my app loads up with the style value from the server, and doesn't refresh using the client side's styles.**

## To

[2020-06-22 20:56] OnurGvnc opened #14470 "react-dev-overlay does not work correctly with `basePath`"
# Bug report

## Describe the bug

react-dev-overlay does not work as expected when it is run with [`basePath`](https://github.com/vercel/next.js/issues/4998) because it sends a request to the` /__nextjs_original-stack-frame` and `/__nextjs_launch-editor` paths. however, when basePath is active, requests get 404 error because these paths are not actually available.

https://github.com/vercel/next.

[2020-06-22 21:12] ndom91 opened #14472 "Suggestion: Separate next.js example updates / core updates in release notes"
# Feature request

## Describe the solution you'd like

I assume removing the examples from the primary repository has already been discussed. As this folder grows and the changes therein more frequent, maybe it makes sense to split that off into its own repo? Anyway, my suggestion here is much simpler.

Simply split the updates to the examples and the updates to next.js core in separate sections

[2020-06-22 21:15] timneutkens commented on #14472
This is being worked on by @rafaelalmeidatk, we've recently landed automatic labeling

[2020-06-22 22:25] stevez86 commented on #12851
@ijjk Do you have a rough ETA for when this will be fixed?

[2020-06-22 23:27] ysun62 commented on #14464
Hi, I'm looking to take on my first open source contribution. I can try working on this! Could you tell me the steps to reproduce the issue please?

[2020-06-22 23:28] giovannabadaro commented on #7322
A atualização "babel-plugin-styled-components": "^1.11.0-0"funcionou para mim.

[2020-06-22 23:29] giovannabadaro commented on #7322
Updating "babel-plugin-styled-components": "^1.11.0-0" worked for me

[2020-06-23 02:37] Timer commented on #14464
I updated the original comment: no reproduction is necessary per say, see the `messages.ts` file and read the associated err.sh links already there, then improve the message!

[2020-06-23 02:55] ysun62 commented on #14464
Got it. Thanks!

[2020-06-23 03:37] rajington commented on #13767
Thanks for sharing that podcast, would Vite's use of rollup maybe change how production is built as well? Or maybe something like Snowpack where it's just for dev? There sure are a lot of webpack-based plugins...

[2020-06-23 03:39] ysun62 commented on #14464
Hi Joe, just to clarify.

The current error message for `getGlobalImportError` says `Global CSS cannot be imported from files other than your Custom <App>. Please move all global CSS imports to pages/_app.js`.

What you would like is to inform the users that they can also use CSS Modules instead of Global CSS, correct? So I would add something like `Hey, or you can also use CSS Modules instead!`?

[2020-06-23 04:08] BiscuiTech commented on #8733
This issue has been fixed by Microsoft by expanding their new protocol. Has not occured for a while now, so I'll close this.

[2020-06-23 04:08] #8733 closed

[2020-06-23 04:18] eretica opened #14478 "how to set cache-control header for public files"
# Feature request

## Is your feature request related to a problem? Please describe.

i want to cache to public files via CloudFront
but static file header always this `cache-control: public, max-age=0`

## Describe the solution you'd like

set header via next.config

## Describe alternatives you've considered

setting on next.config

[code]

[2020-06-23 04:56] aquaductape opened #14479 "CSS focus outline not removed with focus-visible polyfill"
I'm using a [focus-visible polyfill](https://github.com/WICG/focus-visible), that way mouse events on clickable elements such as `button` won't trigger the focus outline.

On nextjs, focus-visible successfully loads, because it's class and data attribute is added to the `html` tag, but the focus outline still appears when clicking on button elements.

focus-visible is loaded by `_app.js` page
[cod

[2020-06-23 04:57] mattcarlotta commented on #14469
This is to be expected as the server doesn't have a `window` to determine device calculations. Instead, you should defer to CSR (client-side rendering) instead of SSR (server-side rendering). You can either...

Use [next/dynamic](https://nextjs.org/docs/advanced-features/dynamic-import) with `{ ssr: false }` ...

**components/ResizeWindow/index.js**
[code]
**pages/index.js** (import the `ResizeWin

[2020-06-23 05:05] nandorojo commented on #14469
Hmm, the only problem is, I want the components to render on the server for SEO. Why can’t the props on the client and server be different, and it just rehydrates on the client side?

[2020-06-23 05:10] mattcarlotta commented on #14469
As mentioned above, the server doesn't have a `window` (it's undefined); therefore, the hook will always fall back to `0`.

[2020-06-23 05:40] harshakulkarni23 opened #14481 "dynamic content for meta tags is not working in next js"
This is my code. I want to show meta tags with dynamic content. But it is not working.
<Head>
<meta httpEquiv="X-UA-Compatible" content="IE=edge,chrome=1" />
          <meta name="viewport" content="initial-scale=1" />
          <meta charSet="utf-8" />
          <meta property="og:site_name" content="Blogs" />
          <meta property="og:title" key="ogTitle" content={title} />
          <meta pr

[2020-06-23 06:09] lgoldfish opened #14483 "TypeError: Cannot read property 'kind' of undefined"
# Bug report
`TypeError: Cannot read property 'kind' of undefined
    at getErrorSpanForNode (/Users/jinyu/Workspace/bigdata-next/node_modules/typescript/lib/typescript.js:13856:22)
    at createDiagnosticForNodeInSourceFile (/Users/jinyu/Workspace/bigdata-next/node_modules/typescript/lib/typescript.js:13805:20)
    at Object.createDiagnosticForNode (/Users/jinyu/Workspace/bigdata-next/node_module

[2020-06-23 07:01] eKhattak commented on #14463
I'll give it a try.

[2020-06-23 07:53] JoueBien opened #14488 "Stop opening a code editor on error."
# Bug report

## Describe the bug
Every time I have an error I get a prompt to open the file where the error occurred. There isn't any way to turn this off.

In my case it opens the UAC prompt because sometimes I have to run vs code in an elevated mode. It would be 1000 times more annoying to lose my current location in the files I have open in VS code if I wasn't running VS code in an elevated mo

[2020-06-23 08:12] tomdohnal commented on #11195
Works like charm!

[2020-06-23 08:50] timneutkens commented on #14488
The editor only opens when you click the link to the error location 🤔 Can you provide a video or more details as this report is not super clear about what you're experiencing.

[2020-06-23 08:51] #14483 closed

[2020-06-23 08:51] #14481 closed

[2020-06-23 08:52] #14469 closed

[2020-06-23 08:52] #14479 closed

[2020-06-23 08:53] timneutkens commented on #14478
This is covered by this RFC: https://github.com/vercel/next.js/discussions/9081

[2020-06-23 08:53] #14478 closed

[2020-06-23 08:54] timneutkens commented on #12851
Ideally in this iteration: https://github.com/vercel/next.js/milestone/46

[2020-06-23 09:04] #14242 closed

[2020-06-23 09:23] svobik7 opened #14489 "getStaticPaths throws ERR_HTTP_HEADERS_SENT when Fallback is true"
## Describe the bug

When using getStaticPaths with `fallback = true` then on every fallback render console throws `Error [ERR_HTTP_HEADERS_SENT]: Cannot set headers after they are sent to the client`.

## To Reproduce

1. Clone https://github.com/svobik7/nextjs-playground/tree/bugs/ssg-fallback-headers-err
2. Run `yarn dev`
3. Navigate to `localhost:3001/slug-2`
4. See error in server console

##

[2020-06-23 09:32] timneutkens commented on #14489
Can you try `next@canary`?

[2020-06-23 10:14] chuabingquan commented on #14461
Hey @Timer, I can give this a shot! Could you point me to the relevant file(s) that influences this behaviour?

[2020-06-23 10:16] sakhmedbayev commented on #14440
I think I found where the issue is. It is in the fact that I used AWS cognito as auth mode instead of API KEY one.

[2020-06-23 10:16] #14440 closed

[2020-06-23 10:38] svobik7 commented on #14489
@timneutkens `next@canary` seems ok - no error there

[2020-06-23 10:44] timneutkens commented on #14489
👍 this was fixed already, it'll be on stable soon.

[2020-06-23 10:44] #14489 closed

[2020-06-23 11:14] CarsonMcKinstry opened #14490 ""Cannot resolve module 'fs'" inside static component methods"
# Bug report

## Describe the bug

When attempting to import `fs` inside a static method on a component, we are met with the message `Cannot resolve module 'fs' in ...`.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. `git clone https://github.com/CarsonMcKinstry/next-fs-bug`
2. `cd next-fs-bug`
3. `yarn build`

## Expected behavior

The `fs` mo

[2020-06-23 11:37] #14490 closed

[2020-06-23 11:38] #5214 closed

[2020-06-23 11:55] bugproof opened #14491 "Allow passing additional data from getStaticPaths to getStaticProps"
There are only discussions about this but I couldn't find actual feature request issue.

https://github.com/vercel/next.js/discussions/11272
https://github.com/vercel/next.js/discussions/10977
https://github.com/vercel/next.js/discussions/11370

Imagine you'd like to create a new page for each .json file in a directory. This would allow you to e.g. iterate over .json files and import/read them in

[2020-06-23 12:05] #14491 closed

[2020-06-23 13:19] Download commented on #13594
Hi guys, I'm the author of `ulog`.

I wrote `ulog` an eon ago to be tiny and powerful and work everywhere. And 1.x is pretty much succeeding at that. However I found that I had 2 problems with it:

* Even though I made `ulog` as small as I could get it, I still did not want to use it in libraries / frameworks as a dependency because I don't want to tie consumers to my choice of logging library
* I

[2020-06-23 13:35] stovmascript opened #14494 "Navigating to a custom 404 page does a full page load"
# Bug report

## Describe the bug

When you create a [custom 404 page](https://nextjs.org/docs/advanced-features/custom-error-page#customizing-the-404-page) and navigate to a non existing page in your app, Next.js does a full page load to your custom 404 page.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. `git clone https://github.com/stovmasc

[2020-06-23 13:52] eKhattak commented on #13946
@Timer I see there already exist some booleans in renderToHTML function which check if the page has getInitialProps
but this code snippet from worker.ts doesn't execute renderToHTML because the typeof `components.Component` is always string in case of next export.
![Imgur](https://i.imgur.com/M597u1p.png)

[2020-06-23 13:56] devrsi0n opened #14496 "Get webpack warnings when render a dynamic MDX file"
# Bug report
I got some webpack unsupported file type warnings when I render a dynamic MDX file

[code]

## Describe the bug

This repo render an imported MDX file, then get these annoying warnings in terminal

## To Reproduce

I created [this repo](https://github.com/devrsi0n/reprod-nextjs-mdx-issue) to repro this issue

1. yarn
2. yarn dev
3. Go to `http://localhost:3000/blog/post/hello-world`
4

[2020-06-23 14:40] ijjk opened #14497 "Revalidate fails with @vercel/next shared lambda mode"
When leveraging the new shared lambdas mode in `@vercel/next` and `unstable_revalidate` in Next.js the revalidation encounters an error and no logs are returned. We need to resolve this and ensure tests capture this to prevent regression before landing stable

[2020-06-23 14:50] Timer commented on #5214
This has now been resolved in `next@^9.4.5-canary.17` and will be out in Next.js 9.5!

[2020-06-23 14:51] Timer commented on #14497
Do we have an E2E test in the builder that caught this regression? How did we identify it?

[2020-06-23 14:59] ijjk commented on #14497
The E2E tests in the builder did not catch it, it was identified on front when the blog wasn't revalidating as expected and the logs were missing for the revalidations

[2020-06-23 15:11] #14470 closed

[2020-06-23 15:16] untitledlt commented on #5214
How long does it take for feature to get from canary to master?

[2020-06-23 15:19] yayxs commented on #7322
Warning: Prop `className` did not match. Server: "MuiBox-root MuiBox-root-10" Client: "MuiBox-root MuiBox-root-6"
-------------
I have the same problem

[2020-06-23 16:07] lfades opened #14500 "Update next/router docs"
Our current `next/router` docs (https://nextjs.org/docs/api-reference/next/router) use a combination between the `useRouter` hook and the `Router` object, ideally most examples should show the usage with `useRouter` as that's usually what you would need.

[2020-06-23 16:45] lukebarton commented on #11732
I don't think you did turn it off. Mine is also off.

[2020-06-23 17:10] Timer commented on #11732
Seems this is OK since OP reported having `network.prefetch-next = false`. Feel free to continue looking into this!

[2020-06-23 17:10] #11732 closed

[2020-06-23 17:43] prantu commented on #9178
Hi @Timer can you please tell us how to use this feature?

[2020-06-23 18:13] timneutkens commented on #14494
This is expected behavior for compatibility with the zones feature.

[2020-06-23 18:13] #14494 closed

[2020-06-23 19:51] colton-savage-lmp opened #14508 "Props are undefined from getServerSideProps"
# Bug report

## Describe the bug

As described in the [documentation](https://nextjs.org/docs/basic-features/data-fetching#typescript-use-getserversideprops), the results returned from `getServersideProps` is undefined.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

With a basic Next Typescript project, create a new page with the following:

[cod

[2020-06-23 19:58] Suzukaze-Yoru opened #14509 "File structure like routify"
# Feature request

## Is your feature request related to a problem? Please describe.

nest layout like [routify](https://routify.dev/guide/introduction/structure)
hide _lead folder or file.
pages only component in pages subfolder. eg `pages/about/_components/description.js`

## Describe the solution you'd like

like that [routify](https://routify.dev/guide/introduction/structure)

## Describe alte

[2020-06-23 19:58] msluther opened #14510 "NextJS should provide a mechanism for altering asset urls"
# Feature request

NextJS should provide a means to alter built asset urls before they're rendered into a document.

## Is your feature request related to a problem? Please describe.

Our primary use case here is we are building 2 versions of every css file `[file].css` and `[file].rtl.css` to provide smaller bundled asset to customers.  The former gets served for LTR (left-to-right) customers and

[2020-06-23 20:22] Timer commented on #14508
Can you share your `pages/_app.js` file?

[2020-06-23 20:25] sahinme commented on #10271
https://nextjs.org/docs/advanced-features/static-html-export
There is a solution with next export.
"scripts": {
  "build": "next build && next export"
}
npm run build
next export allows you to export your app to static HTML, which can be run standalone without the need of a Node.js server.

[2020-06-23 20:27] colton-savage-lmp commented on #14508
@Timer I can if you can excuse the current messiness 😅

`_app.tsx`

[code]

[2020-06-23 20:45] #14508 closed

[2020-06-23 20:46] #14425 closed

[2020-06-23 20:48] #14509 closed

[2020-06-23 21:18] dantman commented on #1632
Next.js has a lot of good features (automatic WebPack, static files, and TypeScript like CRA but for more than just PWAs; API routes; serverless support, Fast Refresh, and even experimental Expo support for web+native apps) and a core for SSR and SSG even if the API for it isn't great. But while the built-in routing system and SSR/SSG works for some; for others they hobble development because the

[2020-06-23 21:24] ijjk commented on #8841
@coolgk this should be resolved in the latest canary of Next.js `v9.4.5-canary.18`

[2020-06-23 21:25] ijjk commented on #14470
@OnurGvnc this should be resolved in the latest canary of Next.js `v9.4.5-canary.18`

[2020-06-24 00:10] aberba commented on #13967
I can't provide a reproduction code from a proprietary codebase.

 And it's not even about the code, it a `Recursive import problem` which means **two files import each other**. You may try it with any code based. When that happens, **next API routes breaks** without any clear error what happened.  Create React App has this thing checked.

[2020-06-24 00:40] ernesto-tapia commented on #13819
Hello, I am new to open source contribution and would like to work on this issue!

[2020-06-24 01:28] jamesmosier commented on #14496
The issue you are experiencing is due to you using `next/dynamic` inside the render of your functional component. `next/dynamic` must be used only outside of your component.

---

Also as a side note, you should not import other pages into another page (speaking about `import-example.js` which imports `pages/about.mdx`)

[2020-06-24 01:46] devrsi0n commented on #14496
@jamesmosier Thanks for the note, should I use `next/dynamic` to import MDX file in `getStaticProps`?

[2020-06-24 01:55] fabrizzioalco commented on #14465
Hee, can i have more context about this please

[2020-06-24 02:01] fabrizzioalco commented on #14451
I'll try this.

[2020-06-24 02:21] jamesmosier commented on #14496
Unfortunately that won't work either. `next/dynamic` is meant to be used [as the docs show](https://nextjs.org/docs/advanced-features/dynamic-import) for code splitting, not for imports based on data at build time.

[code]

To do imports like you have in your code example will require a different method to dynamically import a component at build time. I'd recommend heading over to [Discussions](ht

[2020-06-24 02:22] #14496 closed

[2020-06-24 02:23] jonathanurias96 commented on #14256
Hello! Can I work in this issue?

[2020-06-24 02:28] Glomels commented on #7981
Would it be possible to make this configurable?
Sometimes it's desirable to have a 'dirty AMP' page, and deploying such a page should be left as a choice to the developer.

In my case, I have a page which needs custom javascript that I cannot add with AMP, but I'm already using shared AMP components such as my navbar and footer. The page runs perfectly fine but I can't deploy it because the AMP er

[2020-06-24 02:32] PaulinaQuintero commented on #10028
In the sandbox I think it is rendered once
![image](https://user-images.githubusercontent.com/63326136/85491341-f9461e80-b598-11ea-8ba6-248dc20610b6.png)

[2020-06-24 02:32] PaulinaQuintero commented on #11669
Hi Can I work on this issue?

[2020-06-24 03:18] fsr313 commented on #13957
Can you give some hint on how can we achieve this?

[2020-06-24 03:50] rogeriojlle commented on #8311
this is working for me (in development)

https://stackoverflow.com/a/62547135/2068876

[2020-06-24 03:58] darshkpatel commented on #14417
I'll take this up

[2020-06-24 04:15] #13963 closed

[2020-06-24 05:29] Prottoy2938 commented on #12448
@Timer , I have installed `next@^9.4.5-canary.18`. Now the CSS flickering doesn't appear in the **development** mode, but it stays the same on the **production** version. The production version still has the bug.

Note that I'm using **material-ui + css modules**

[2020-06-24 06:08] darshkpatel commented on #14417
@raghav0622 Is there a public realm object server I can use for the example?

[2020-06-24 06:45] jshaw opened #14522 "unstable_revalidate not updating when set using an enviroment variable stored in vercel"
# Bug report

## Describe the bug

When `unstable_revalidate` is set in the getStaticProps() function new updates don't seem to be be regenerated. I've tested it by hard coding a value into that is the same as in the env. variable and I have seen it working as the documentation describes. However it seems that if it's set by an environment variable I'm not seeing the updates regenerate.

## To Rep

[2020-06-24 07:17] Darep opened #14523 "Build warnings from default export of styled-jsx/css"
# Bug report

## Describe the bug

`next build` spits out warnings about `_defaultExport` like so:

[code]

Which we troubleshooted to be caused by the anonymous default export of styled-jsx/css transpiled strings. Here is example pseudo-code which causes this, the important bit is the `export default css`:

[code]

## To Reproduce

1. Clone my example repo: `git clone https://github.com/Darep/sty

[2020-06-24 07:56] bugproof commented on #1935
I don't understand why would you want to use something like next-images or next-optimized-images if all they do is configuring file-loader/url-loader for you. These projects should be nothing more than [gists](https://gist.github.com/) people can contribute to and modify to their needs. Shouldn't it output these files to `/public` folder anyway according to https://nextjs.org/docs/basic-features/s

[2020-06-24 08:09] sai1139 commented on #13594
@Download  any logger it will work for client side and server side?

It have use case like Backend API Integration  & User Button click action in front end should print logs  in server .Front end deployment(Next.js+React+Custom Server) i'm using pm2  . how can these logs in pm2?

[2020-06-24 08:31] trollepierre opened #14524 "Use a maintained solution for code splitting"
# Feature request
According to this article
https://itnext.io/react-code-splitting-in-2019-9a5d2776c502
and according that no release occurs since August 2018 of https://github.com/jamiebuilds/react-loadable , I guess @loadable/component should be used instead of react-loadable : https://loadable-components.com/docs/loadable-vs-react-lazy/

[2020-06-24 09:39] MarcosVillacanas commented on #6973
Hi! I'm new to contributions, Could I please take this one?
If there is anything extra information you could say to help me solve this, I would appreciate it.

[2020-06-24 09:44] fredrik-sogaard commented on #8592
Trying to use @WestonThayer 's workaround with Typescript results in an error:
[code]
Error:

[code]
What would be the right types to use in this case?

[2020-06-24 09:46] hassench commented on #1791
@ElGoorf where did you put this configuration please?

[2020-06-24 09:47] lOscarl commented on #14434
Hello, can I work in this issue?

[2020-06-24 09:58] dan-lynch commented on #10902
For an example using Apollo client v3.0 and TypeScript, here is my version:

[code]

[2020-06-24 10:48] raghav0622 commented on #14417
https://www.mongodb.com/realm

there is free tier just like firebase / auth0 / or any other service (you name it)

[2020-06-24 10:54] eKhattak commented on #14463
@Timer Should we disable prefetching in case of those browsers which don't support requestIdleCallback?

[2020-06-24 13:12] jamesmosier commented on #14524
Next maintains a custom fork of react-loadable [seen here](https://github.com/vercel/next.js/blob/canary/packages/next/next-server/lib/loadable.js). So there are no worries about outdated projects 😄

[2020-06-24 13:12] #14524 closed

[2020-06-24 14:19] timneutkens commented on #13967
So you can provide a minimal reproduction that we can look into then? 🤔

[2020-06-24 14:25] timneutkens commented on #13957
Removed good first issue as it's significantly complicated until we have #13341

[2020-06-24 14:28] timneutkens commented on #7981
There's an experimental option to skip all validation: `experimental.amp.skipValidation`:

[code]

[2020-06-24 14:44] revskill10 commented on #14522
Have you tested if the `revalidate` params is from db ?

[2020-06-24 14:53] #14497 closed

[2020-06-24 15:22] AndresContreras96 commented on #13906
Hello, I would like to make my first contribution in the project, can I take this issue?

[2020-06-24 15:59] fabrizzioalco commented on #14465
@Timer

[2020-06-24 16:02] fabrizzioalco commented on #14409
I want to take a look at this

[2020-06-24 16:28] Timer commented on #9696
This is still a problem.

[2020-06-24 16:57] WestonThayer commented on #8592
@fredrik-sogaard it's not a publicly exposed part of AppProps, thus my workaround is taking advantage of non-public parts of Next.js's API and should be considered brittle.

But, it works for now. I'm just casting to `any`: `const err = (props as any).err;`.

[2020-06-24 17:29] fabrizzioalco commented on #14451
Hey, what do you want to achieve here?

[2020-06-24 17:51] fsr313 commented on #13964
I'd like to make my first contribution to this project. Is there any available hint to solve this issue?

[2020-06-24 17:56] chrisvxd commented on #10142
Overriding the default webpack config worked for me.

To override import behaviour for `.modules.css` (or sass -- thanks to @nkalinov via [this comment](https://github.com/vercel/next.js/issues/11629#issuecomment-623511124])):

#### next.config.js
[code]

To override all CSS import behaviour:

#### next.config.js

[code]

[2020-06-24 18:02] PaulinaQuintero commented on #11669
Hi! I'm new working in open source projects, could I check this?

[2020-06-24 19:05] marcusfrdk commented on #7322
I had the same problem, thinking it could be something with the framework. However, playing with my code I discovered that the problem occurred once I imported components which were the "main" of the local package.json of that respective folder (i.e /src/components/component/package.json). I removed this and restarted the server. This solved the problem for me, both in development and production a

[2020-06-24 19:21] steezeburger commented on #10734
I'm still experiencing this. How was this actually fixed?

[2020-06-24 19:35] fabrizzioalco commented on #14451
@Timer

[2020-06-24 20:18] dkempner opened #14538 "Export next-babel-loader Publicly"
# Feature request

## Is your feature request related to a problem? Please describe.

No.

## Describe the solution you'd like

I'd like the `next` package to export `next-babel-loader` from [`next-babel-loader.js`](https://github.com/vercel/next.js/blob/31b3e46b8f08f3ae8c16d95f4379f3129324a9be/packages/next/build/webpack/loaders/next-babel-loader.js#L39).

I'm building an extension to `next` whic

[2020-06-24 20:37] fsr313 commented on #13957
understandable, thanks

[2020-06-24 20:50] TSiege opened #14539 "npm run build overwrites tsconfig.json and cannot compile"
# Bug report

## Describe the bug
npm run build overwrites my tsconfig.json, enforcing `isolatedModules`, which then cannot compile. I am also using apollo codegen to create typescript files for my queries. This creates several files, one of which is called `globalTypes.ts`. Currently it is an empty file; however, it being an empty files conflicts with the `isolatedModules` flag and blows up. I've

[2020-06-24 21:13] prowebat commented on #8207
Dear All,

i have written a wrapper for next/link to accept href and any additional query parameters:
eg.
`<Link href="/news/[id]" query={{ id: 1234, anotherQueryParam: 567 }}>`
results to:
`<Link href="/news/[id]?anotherQueryParam=567" as="/news/1234?anotherQueryParam=567">`

i think that is a quite easy solution for the initials posters proposal.
code is as follows:
[code]

regards.

[2020-06-25 00:01] armouti commented on #11014
@lfades
Thanks for your explanation.
Just to clarify, does that mean with ssg you can load initial HTML (a loading skeleton for example) and then run it on the client like an SPA where you populate data with something like useSWR ?
Or are the content of an ssg page fixed ?

[2020-06-25 01:55] CodingFlow commented on #10376
How do I implement this "per app" for now until it's made part of the framework?

[2020-06-25 02:12] harrysolovay opened #14543 "Named default import of `next/document` breaks build"
Inside of `_document.tsx`, the following produces a build error:

[code]

Feels as though it should work the same as this (successfully builds):

[code]

Ran into this:

`RangeError: Maximum call stack size exceeded

Error occurred prerendering page "/404". Read more: https://err.sh/next.js/prerender-error
RangeError: Maximum call stack size exceeded

Error: Export encountered errors on following

[2020-06-25 04:31] josuesan commented on #14274
I managed to solve the error. I have an index.js file in which I export all the components of my application there (there was also a component to which I was doing Dynamic import).

![image](https://user-images.githubusercontent.com/26355477/85653443-0e937980-b67b-11ea-8cf1-a804e9023683.png)
List of my export components

When I excluded it from the list of the components it exported, the chunk of

[2020-06-25 04:31] #14274 closed

[2020-06-25 04:45] ajaytech opened #14546 "Build Fails With Error for Unhandled 'error' event"
# Bug report
After Adding Custom Server.js the Build Fails With Error:
_DeprecationWarning: Unhandled promise rejections are deprecated._

## Describe the bug
In the Console After Trying Multiple Times Clearing the node_modules and .next files for Multiple Versions of NodeJS(v10.13.0, v10.16.3 and v13.8.0). Repeted Error is shown.

[code]

## To Reproduce:

Not Using next.config.js
in Pages: NextJ

[2020-06-25 07:33] rayriffy opened #14551 "Expose TerserPlugin option to remove console.log from the build"
# Feature request

I would like to have some exposed option like `terserOptions.drop_console` to remove all of the console.log via `next.config.js`

config.experimental

## Is your feature request related to a problem? Please describe.

The production build of the site that I am working with the team have quite significant portion of console.log for debugging and we want it to be shown on **stagin

[2020-06-25 07:42] timneutkens commented on #13906
There's an open PR for this one already @AndresContreras96: #14325

[2020-06-25 11:15] Janpot commented on #14538
Have you noticed that this loader is accessible when you use a [custom webpack config](https://nextjs.org/docs/api-reference/next.config.js/custom-webpack-config)?

[2020-06-25 11:49] daveteu commented on #6517
Still an issue today, flooded with the preloaded warnings.

[2020-06-25 12:04] danschleicher commented on #8365
Hi @timneutkens ,

I have the same problem in one of my next.js projects.

I figured out that this problem is quite easy to **reproduce**.
- I just set up a small next.js project like recommended in the next.js documentation
(https://nextjs.org/docs/getting-started#manual-setup)

- After this project set up I started the next.js dev server (via yarn dev).
- Then I visited google.com (with IE11) an

[2020-06-25 13:02] Timer commented on #10556
Did anyone file a bug report with GAE to allow this valid file name?

[2020-06-25 13:13] #14546 closed

[2020-06-25 13:43] deresegetachew commented on #9556
I ended up defining a type like this

[code]

and if my page defines useLayout / getLayout as per this thread i will define them as

`(Home as PageWithLayout).useLayout = (page) => ..... //wrap your componenet with the layout you want.`

and in my _app.tsx i did this

[code]

[2020-06-25 13:57] deresegetachew commented on #9556
this might be a bit off topic but I was wondering when
implementing persistent and configurable layout, how did you manage 404's , whenever my pages get 404/500 it refreshes, it is rendered in the layout but it is no more persistent; I was wondering if it was my implementation detail that had something wrong or you faced similar experience ?

[2020-06-25 14:06] msjdev commented on #6062
Is it still not possible? I can't find anything about it.
I use dotenv files and it uses the production one on build no matter the env I set on build....
Is there really no way to make a build that uses the dev variables?

[2020-06-25 14:11] xiaoxiaojx commented on #10082
if some packages are still import files such as CSS
Use this package to solve https://github.com/xiaoxiaojx/with-ssr-entry
https://github.com/vercel/next.js/discussions/13828

[2020-06-25 15:59] egucciar opened #14560 "Next App with assetPrefix and basePath infinitely reloads pages with route params"
# Bug report

## Describe the bug

The Next App will infinitely reload itself on a page with route parsm (`[routeParam].js`) if using the assetPrefix and basePath features

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

https://github.com/egucciar/next-app-refresh-reproducer

Clone the above repo. `yarn` and `yarn dev`. Go to http://localhost:3000/

[2020-06-25 16:42] Sealos opened #14563 "getInitialProps with custom server URL mapping breaks the routing"
# Bug report

## Describe the bug

Using a custom server with a custom page mapping breaks the application when using `getInitialProps`, it does work with `getStaticProps`

[code]

## To Reproduce

While using SSR application with the current folder structure:
- pages
   - [lang]
      - component.jsx

component.jsx
[code]

And using a custom server to support default language routes:
Mapping `/co

[2020-06-25 17:09] aberba commented on #13967
File one
_____
import {writeName} from "./file2.js"
writeName();

export function writeEmail(){}

File two
_____
import {writeEmail} from "./file1.js"
writeName();

export function writeName(){}

Both are importing code from each other. It sometimes happen when using a large codebase will lots of reusable code.

[2020-06-25 17:19] #14419 closed

[2020-06-25 19:39] han-so1omon commented on #10770
I'm going to add my story to this, as it is the same issue and I can provide my setup for some more debugging context.

-----

My React/NextJS front end has a Button component that fetches data via a serverless function when the button is clicked. I want to test this functionality during local development with the Vercel dev/CLI tools. I am getting a 404 result when attempting to access my lambda

[2020-06-25 20:14] Timer commented on #14212
This was fixed in https://github.com/vercel/next.js/pull/14442

[2020-06-25 20:14] #14212 closed

[2020-06-25 20:14] Timer opened #14566 "`native-url` trims trailing spaces from URL"
See failing test case:
https://github.com/vercel/next.js/pull/14281#issuecomment-649703011

[2020-06-25 20:27] y0n3r commented on #5354
@Timer Will the following check work as well?

[code]

Or does the built-in Next optimization search specifically for when `window` is `undefined`?

[2020-06-25 20:36] ijjk commented on #14560
Hi, this is fixed in `v9.4.5-canary.19` of Next.js, specifically this PR https://github.com/vercel/next.js/pull/14535

[2020-06-25 20:36] #14560 closed

[2020-06-25 21:16] AndresContreras96 commented on #14523
hi! I would like to contribute to this project, can I work on this issue?

[2020-06-25 22:55] #14429 closed

[2020-06-25 23:35] #14500 closed

[2020-06-25 23:55] lfades opened #14570 "Add environment variables example"
We should have more examples about our core features, one of those is [Environment Variables](https://nextjs.org/docs/basic-features/environment-variables).

The example should be added to the examples folder and linked by our docs

[2020-06-26 00:02] keepcosmos commented on #8365
Actually, document.referrer works on IE11. Could you  reopen the issue?

[2020-06-26 01:42] filipesmedeiros commented on #13387
Although I agree that having this option would never be bad (more config is rarely bad, especially if it doesn't get in the way), I do agree that the error popping up should first be solved inside your code. I'm not saying that you haven't tried or anything, just that I think it's probably _very_ rare for an uncaught exception to be uncatchable. You can always wrap it, right? Or for example I've h

[2020-06-26 03:21] jackHedaya commented on #12434
In the same situation as @sven-ra , are there any updates on this restriction being lifted?

[2020-06-26 04:41] ricokahler opened #14573 "Static paths that end in a trailing slash get exported as `.html`"
# Bug report

## Describe the bug

My CMS (WordPress) outputs links that end in trailing slashes e.g. `/my-blog-post/`.

In order to match those links correctly, I also return paths with trailing slashes in `getStaticPaths`:

[code]

In `next dev`, it correctly matches the path so that links with `<Link href="/my-blog-post/">` work as expected, however, when I run the build and export this, I get

[2020-06-26 04:43] ricokahler commented on #14566
Is this related to #14573 at all?

[2020-06-26 05:26] lfades opened #14576 "Remove the with-now-env example"
Removing means update to example to only contain the readme, and the readme should point to the alternatives.

[2020-06-26 06:10] mmahalwy opened #14577 "Error [ERR_HTTP_HEADERS_SENT]: Cannot set headers after they are sent to the client when using getStaticProps"
# Bug report

## Describe the bug
Error [ERR_HTTP_HEADERS_SENT]: Cannot set headers after they are sent to the client when using `getStaticProps`. See component below:
[code]

This seems to only happen if there is a miss on `getStaticPaths` where the param is not present. I also see a few times where the `console.log` is called on on SSG

## To Reproduce

Steps to reproduce the behavior, please pr

[2020-06-26 06:41] Timer commented on #14566
Sorry, meant spaces not slashes.

[2020-06-26 07:12] balazsorban44 commented on #14577
Fixed on canary, either update to that, or wait for it to get into stable :)

https://github.com/vercel/next.js/issues/14489#issuecomment-648063368

[2020-06-26 09:31] gaganjakhotiya commented on #13015
I upgraded from `9.4.2` to `9.4.4`, the issue still persists.

[2020-06-26 10:01] pie6k commented on #7322
@giovannabadaro not sure, but 1.11.0-0 actually is older than 1.10 :O

![image](https://user-images.githubusercontent.com/7311462/85845554-b9ec1d80-b7a4-11ea-985b-0cbd69695132.png)

[2020-06-26 11:45] sanders54 commented on #10556
Yes. I reported it through GAE feedback about the same time. I'm not sure what channel to report that specific thing to.

[2020-06-26 13:07] #14577 closed

[2020-06-26 13:11] timneutkens commented on #5354
It specifically replaces `typeof window` with `'object'` or `'undefined'` based on the environment. This is then shaken away by Terser because it becomes `if(true)` or `if(false)`. So yes you have to use the explicit typeof check instead of creating a function for it.

[2020-06-26 13:11] #14563 closed

[2020-06-26 13:15] timneutkens commented on #14539
Duplicate of #8128

[2020-06-26 13:15] #14539 closed

[2020-06-26 13:17] timneutkens commented on #14543
Please add a complete reproduction.

[2020-06-26 13:17] #14543 closed

[2020-06-26 13:49] ricokahler opened #14588 "Allow different slug names for the same dynamic path"
# Feature request

## Is your feature request related to a problem? Please describe.

I'm currently in the process of taking a WordPress site headless with Next.js (thanks to 9.3 🙌). In WordPress, there are pages and posts (among other entities) that can create URLs with slugs top level (e.g. `https://example.com/my-blog-post/`, `https://example.com/some-page/`). I think for SSG, it's reasonable t

[2020-06-26 14:12] flippidippi commented on #10126
Still can't upgrade Apollo due to this issue. Any updates?

[2020-06-26 14:33] timwachsener opened #14590 "Unresponsive UI on link click when using getStaticProps with fallback: true"
# Bug report

## Describe the bug

When using lazy statically generated pages with `fallback: true` clicking a link doesn't trigger `routeChangeStart` on the router until the props are generated on the server side (when the page wasn't accessed before). This leads to a few moments of "nothing happening".

## To Reproduce

Use an empty paths array with `fallback: true` (this is actually a productio

[2020-06-26 14:59] bduffany commented on #8259
Here's a workaround which combines some of the ideas in this thread, fixing some of the problems and edge cases while also providing a clean API:

[code]

* It prevents you from shooting yourself in the foot by accessing `query.foo` before the query is ready (you would get an exception since `query` is `null`)

* Works as expected when the page does not have any query params (https://github.com/ve

[2020-06-26 15:00] Journerist opened #14591 "Decentral Microfrontend support"
# Decentral Microfrontend support

## Is your feature request related to a problem? Please describe.

There is a need for a scalable architecture that covers backend and Frontend nicely. What I see in practice is usually a well crafted backend architecture and some frontend framework wired around. Nextjs trys to tackle this, but a decentral scaleable approach is missing, technically and strategy/t

[2020-06-26 15:27] #14591 closed

[2020-06-26 15:27] timneutkens commented on #14590
Please add a complete reproduction.

[2020-06-26 15:33] chrisands commented on #14157
I'll try to do this next week.

[2020-06-26 16:11] timneutkens opened #14593 "Migrate on-demand-entries to use entry option and remove webpack-dev-server"
As discussed with Tobias we can leverage the entry function to recompile.

[2020-06-26 16:12] timneutkens commented on #14593
Fixed in #14527

[2020-06-26 16:12] #14593 closed

[2020-06-26 16:18] timneutkens commented on #4998
Basepath support is out on `next@canary` right now, it's no longer experimental. It will be on the stable channel soon.

[2020-06-26 16:18] #4998 closed

[2020-06-26 16:48] dbk91 opened #14595 "Tailwind CSS base utilities not applied to production builds for TypeScript projects"
# Bug report

## Describe the bug

Production builds of Next.js do not apply the base Tailwind utilities in the static build if any components in the `pages/` directory imports any external TypeScript components (such as `components/nav.tsx`), the build only apply the styling added into the

## To Reproduce

1. Create a new NextJS project using `yarn create next-app project-name`
1. Select `with-t

[2020-06-26 16:58] balazsorban44 commented on #14463
I have a page that contains around 50-100 links to other pages (a site map). When prefetching starts because of the links being in the viewport, everything starts to freeze in subsequent page visits, as the server has to start answering potentially 100 requests at the same time. The server might be weak if this causes problems, but in a scenario where multiple users would go to this page, the no.

[2020-06-26 17:07] lfades opened #14596 "[Docs] Expand on the usage of the outDir config for next export"
From feedback, I've seen that the usage of `outDir` is not clear about how it can be changed:

![image](https://user-images.githubusercontent.com/4278345/85882818-907fc180-b7a5-11ea-8ee8-2a3144e4bce1.png)

[2020-06-26 17:18] angabar opened #14597 "react-intl example dosen't work"
# Describe the bug
Can't get translations when redirecting on client side.

## To Reproduce

1. Install with-react-intl example
2. Delete the defaultMessage of any message
3. Try to do a redirect
4. The message does not appear but its id does

## Expected behavior

Expect to see the translated message correctly, instead of its id.

## Screenshots

![1](https://user-images.githubusercontent.com/419

[2020-06-26 17:28] timneutkens commented on #14595
Think this is a tailwind bug actually, where it uses PurgeCSS only on `.js` files 🤔 cc @adamwathan

[2020-06-26 17:30] DiscoveryFEE commented on #5354
I really hate this answer... no offense! It shouldn't evaluate a function at build time like that without an explicit plugin. If this is in fact what's happening, then we should look into removing webpack all together in favor of pure es6 modules.

[2020-06-26 17:42] dagenius007 commented on #9205
+1 still having this issue , any way out

[2020-06-26 18:12] jgoux commented on #4381
@lostfictions @timneutkens Does this strategy allows to use something like React-router and being able to export the app as a single index.html + multiple js files (code-splitted)?
I'm in the same boat as you @lostfictions , I want to take advantage of Next.js extendable configuration in place of CRA, but I don't want to have a server coupled with my SPA.

[2020-06-26 19:02] adamwathan commented on #14595
Hey! Make sure you are configuring Tailwind to look through all the relevant files here:

https://github.com/vercel/next.js/blob/canary/examples/with-tailwindcss/tailwind.config.js#L2

The example you started with is only looking for `.js` files, so you just need to update that array of paths to also make sure it's looking for any other file types that might contain any markup.

[2020-06-26 19:07] MarchWorks commented on #13727
@BjoernRave The size limit doesn't seem to happen to me.
**but vercel is still sharing the dependencies across all API functions**
how do I check this just to make sure if you want

[2020-06-26 19:27] dbk91 commented on #14595
Ah, that did it. Feel a little silly for missing that. Thanks for the quick response!

[2020-06-26 20:18] Janpot commented on #14573
@ricokahler If you want to export pages as `pages/my-page/index.html` instead of `pages/my-page.html`, and thus have them routable through `/my-page/`, you'll need to enable the [`exportTrailingSlash` option](https://nextjs.org/docs/api-reference/next.config.js/exportPathMap#adding-a-trailing-slash).

Your example should be exporting as `/test/my-blog-post.html` though, since it doesn't have `expo

[2020-06-26 21:37] harrisrobin opened #14604 "API calls to relative `/api/` endpoint is not working inside `getServerSideProps`"
# Bug report

## Describe the bug

I'm calling a certain api (inside the /pages/api folder) in getServerSideProps and I'm getting an error i don't really understand.

## To Reproduce

here's what my code looks like:
[code]

This is suppose to make a call to the absolute url, which locally would be `http://localhost:3000/api/favourites/list` however I always get the following error:

![image](https

[2020-06-26 21:43] visum commented on #11665
The problem appears to be in `renderToHTMLWithComponents`, which has a number of cases where it calls `sendPayload` instead of returning the HTML. There are a lot of cases in there and I'm having a hard time sorting through them all, but adding `getServerSideProps` to a page apparently triggers one of those cases.

Given that `renderToHTML` depends on `renderToHTMLWithComponents`, seems like the l

[2020-06-26 21:43] lOscarl commented on #11669
Hello, I would like to work on this issue

[2020-06-26 22:19] tbremer opened #14607 "In the Preact Example: @prefresh/next should be dependency, not devDependency"
In the Preact example (https://github.com/vercel/next.js/tree/canary/examples/using-preact) I think `@prefresh/next` should be listed as a dependency, not `devDependency` since it's needed for production runtime.

https://github.com/vercel/next.js/blob/166834e578461de1400ae145f2a20f050f8130ec/examples/using-preact/package.json#L10

Happy to open a PR if you all agree.

[2020-06-26 22:55] mattcarlotta opened #14610 "with-mongodb-mongoose example issue in production"
# Bug report

The [with-mongodb-mongoose](https://github.com/vercel/next.js/tree/canary/examples/with-mongodb-mongoose) example utilizes [getStaticProps](https://github.com/vercel/next.js/blob/canary/examples/with-mongodb-mongoose/pages/index.js#L51-L63) over `getServerSideProps`, which means the current data stored within the Mongo database will only be used at build-time and not at run-time. Thi

[2020-06-26 23:13] sam-cross opened #14611 "Specific RegEx expression in component is causing Next.js build to hang at "Automatically optimizing pages...""
# Bug report

## Describe the bug

Next.js `next build` gets stuck at `Automatically optimizing pages...". Through hours of debugging I've managed to narrow it down to this line:

[code]

[See this comment](https://github.com/vercel/next.js/issues/14611#issuecomment-650473053)

Similar issues have been documented previously in #9110, #9360, #10954, and #4647 (from 2018), but I'm getting the issue

[2020-06-26 23:20] sam-cross commented on #14604
Replace `localhost:3000` with `127.0.0.1:3000`. `localhost` is an alias for this address - and it looks like, somewhere, this alias isn't actually working on your system. Could be an issue with your `hosts` file.

[2020-06-26 23:27] sam-cross commented on #14611
Netlify log shows: `12:26:51 AM: Build exceeded maximum allowed runtime`

[2020-06-27 00:29] sam-cross commented on #14611
Through some console logging I've been able to figure out that it's dynamic paths which are causing the build to hang.

Both `[permalink].tsx` files simply refuse to build (see below), even though my API is working (also below).

![image](https://user-images.githubusercontent.com/6699307/85910162-55b57200-b815-11ea-81ff-27fc3bef8a01.png)

![image](https://user-images.githubusercontent.com/6699307/

[2020-06-27 00:51] sam-cross commented on #14611
Created a branch which includes all the logging: https://github.com/sam-cross/samcross.digital/tree/issue-log-everything

[2020-06-27 01:36] sam-cross commented on #14611
Managed to diagnose this issue further. I have this function inside `components/CardCollection.tsx`:

[code]

This is causing the build to stall. No clue why. Even the below, much-better-written function causes the build to stall:

[code]

Yet, returning an empty string (`return "";`) allows the build to finish. What gives?

**I'm not closing the issue, though, because there seems to be a terrible

[2020-06-27 02:01] sam-cross commented on #14611
The root cause appears to be this line (in `/components/CardCollection.tsx`):

[code]

Replacing this with any one of the below lines **allows the build to finish**:

[code]

So the issue appears to be in the RegEx here. It's weird, because it only happens when running `yarn build` - it never happens when using `yarn dev`.

I'll tidy up this issue and remove unnecessary info now.

[2020-06-27 02:37] #14611 closed

[2020-06-27 03:02] Timer commented on #14593
Very nice!

[2020-06-27 03:31] gerardolgvr commented on #6973
Hello I'm new in the project and I would like to try solve this issue. Any update I'll post it here.

[2020-06-27 09:18] #14184 closed

[2020-06-27 09:26] timneutkens commented on #14595
We'll want to update that example to also include `.tsx` `.jsx` and `.ts`

[2020-06-27 09:33] timneutkens commented on #5354
Not sure what your problem is with the answer... I've explained the behavior that has been there since Next.js 9.1 or so.

It's not evaluating a function, it's converting a statement that is known to always be a certain value because we take care of the full environment.

This is a bundle size / performance optimizations that so far has had no issues reported by issuers. It only runs against first

[2020-06-27 09:34] piavgh commented on #6493
Hi @timneutkens , can you please share a link that explains why is that? Thank you :D

[2020-06-27 09:39] #14604 closed

[2020-06-27 09:41] timneutkens commented on #14607
Feel free to send a PR

[2020-06-27 11:08] #14595 closed

[2020-06-27 11:59] #14573 closed

[2020-06-27 12:04] amirh3n opened #14624 "NextJS production CSS build"
Hello,
I have Custom CSS files for different layouts and there is no problem in dev mode but when I publish my app in production mode Nextjs combine all CSS and makes problem for my layouts.

[2020-06-27 13:04] sapphireJena commented on #8544
@aesthytik,

I solved by doing the following steps:

1) $ npm install --save-dev http-proxy-middleware
https://www.npmjs.com/package/http-proxy-middleware

2) Create setUpProxy.js in your react src folder.

3) Add this content in setUpProxy.js that you just created.
`const { createProxyMiddleware } = require('http-proxy-middleware');

// restream parsed body before proxying
var restream = function

[2020-06-27 13:28] eKhattak commented on #14610
I'll fix this one.

[2020-06-27 14:30] IamLizu commented on #14624
I am guess your are using CSS modules ([component level css](https://nextjs.org/docs/basic-features/built-in-css-support#adding-component-level-css:~:text=Adding%20Component%2DLevel%20CSS)). Please explain or demonstrate what problem are you facing exactly.

[2020-06-27 15:21] jstansbe opened #14629 "Trying to redefine a prop set in another module produces a build error"
# Bug report

## Describe the bug

**Trying to redefine a prop set in another module produces a build error.**
Cannot redefine property: `REACT_NAVIGATION_REDUX_DEVTOOLS_EXTENSION_INTEGRATION_ENABLED`

## To Reproduce

Have/include react-navigation in your project

## Expected behavior

Page would build without an error

## Screenshots

![image](https://user-images.githubusercontent.com/1250522/85

[2020-06-27 16:09] rezof commented on #10059
best option I found was to use the **postinstall hook** and run a node script that copies the css files out of the node_modules into my public dir, then load those files with a link tag. makes sense to only load these files on the relevant pages.

[code]

[2020-06-27 16:10] rezof commented on #10059
best option I found was to use the postinstall hook and run a node script that copies the css files out of the node_modules into my public dir, then load those files with a link tag.

[code]

makes sense to only load these files on the relevant pages.

[2020-06-27 16:47] Jarred-Sumner commented on #12753
I ran into this issue again and couldn’t use the previous workaround.

This time, I worked around it by renaming exported functions that are shared between React and Worker code to have a number in the function name 😅. This causes the heuristic for checking whether or not something is potentially a React component to return false (which is what React Refresh uses for refresh boundaries).

[2020-06-27 17:15] Timer opened #14631 "styled-jsx's `content` property no longer renders encoded characters"
See https://github.com/vercel/styled-jsx/issues/589#issue-507529894

[2020-06-27 17:20] Timer commented on #12753
Can someone please provide a clonable complete reproduction so we can look into this?

[2020-06-27 17:33] Timer opened #14632 "CSS transform: translate3d fails to parse"
# Bug report

## Describe the bug

See upstream report: https://github.com/cssnano/cssnano/issues/920

[code]

## To Reproduce

[code]
## Expected behavior

Should compile successfully.

[2020-06-27 17:33] #14596 closed

[2020-06-27 17:37] Timer commented on #14632
As reported by @pacocoursey! 🙏

[2020-06-27 17:48] #14629 closed

[2020-06-27 18:01] cseas opened #14634 "Custom api routes using Next.js router"
# Feature request

## Is your feature request related to a problem? Please describe.

One limitation with the `api/` folder is that it requires you to have your api under `/api`. I'd like to define an API directly from the base url. I understand this is possible when using a custom server but I don't want to switch to a custom server since that would remove some performance optimizations that Next

[2020-06-27 18:09] Chrischuck opened #14635 "Dynamic routing doesn't work with SO on prod"
# Bug report

## Describe the bug

I have a route defined like so: `pages/register/[code].js` and `pages/register/index.js`

Locally, everything works as expected, however in prod, if I were to go to `https://myawesomesite.com/register/random-code` I get a 404.

If I go to `https://myawesomesite.com/register/[code]`, I get the page view

Not sure if related, but we are deploying via netlify

Worse

[2020-06-27 18:15] timneutkens commented on #14635
Netlify does not support routing dynamic routes to static files out of the box, we can't solve this from Next.js itself. Would recommend having a look at https://vercel.com which deeply integrates with Next.js and allows you to leverage all Next.js features like preview mode and incremental generation (#11552)

[2020-06-27 18:15] #14635 closed

[2020-06-27 18:38] Jarred-Sumner commented on #12753
@Timer here you go: https://github.com/Jarred-Sumner/repro-refreshregistry

![image](https://user-images.githubusercontent.com/709451/85929566-b4f1a180-b86a-11ea-9cdc-5d27badb057c.png)

[2020-06-27 18:54] jamesmosier commented on #14624
Duplicate of https://github.com/vercel/next.js/discussions/14625. Closing in favor of that Discussion.

[2020-06-27 18:54] #14624 closed

[2020-06-27 19:06] #11197 closed

[2020-06-27 19:09] Chrischuck commented on #14635
@timneutkens Ahh, thank you!

[2020-06-27 19:38] fabyeah commented on #9070
I'm using this workaround now. Though I still get a console warning about "Expected server HTML to contain a matching <header> in <div>." from time to time locally after hot reload. It then seems to break some styles. A page reload fixes it.

[2020-06-27 20:57] JWeis commented on #9992
I also ran into this problem. Adding key to getStaticProps did the trick. I was able to get this solution to build for production with no issues.

[2020-06-28 01:38] qk0728 commented on #13748
Check your React Developer`s version in Chrome. And upgrage it to V4.

[2020-06-28 02:27] etiennejcharles commented on #6205
@Timer or @lukasluecke  I came across this, I'm not sure on how to use this option,
My babel config skills are close to null 😓

Could you point towards the right direction by providing an example?

[2020-06-28 06:50] botv opened #14646 "Add `res.redirect` response helper for Passport.js (and convenience)"
# Feature request
## Is your feature request related to a problem? Please describe.
Passport.js uses the `res.redirect` response helper internally. This is not covered in the example because the example uses `passport-local`, and the helper appears in `passport-oauth`. It would be great if this (and other Express response helpers) were available, at least for API routers.

## Describe the solution

[2020-06-28 08:23] sai1139 commented on #14570
@lfades  provide custom server example  with these environment variable ,multiple environment example?

[2020-06-28 09:10] zer0blockchain commented on #7423
This fixed it for me
https://github.com/MarchWorks/nextjs-with-material-ui-and-styled-components/blob/master/.babelrc

[2020-06-28 10:10] qiwang97 commented on #7844
Struggle with it and the temporary solution is using global value like this:

[code]
[code]
But as you can see, i did a lot to solve a small question.
Does anyone have a convenient solution like 'process.env.ENDPOINT'?

[2020-06-28 11:23] #13709 closed

[2020-06-28 11:26] joe-bell commented on #13047
Digging into this a little more, I think it might be related to `@next/mdx`.

I was able to update a separate project using `next-mdx-enhanced` without a hitch, but this issue still remains in the repro provided on the latest version of Next.js

[2020-06-28 11:41] #14607 closed

[2020-06-28 11:57] #14570 closed

[2020-06-28 11:57] #14576 closed

[2020-06-28 14:21] JannikZed commented on #9160
Is there any recommendation on how to set the HTML language when using getstaticprops / path? We can prerender all of our pages and have the active language set as param. `page.de/en/products/XXX` or `page.de/de/products/XXX` - so the language is available as prop. Just curious if we could set the language during static build time.

[2020-06-28 15:10] XtaticThought commented on #7322
This fixed it for me
https://github.com/MarchWorks/nextjs-with-material-ui-and-styled-components/blob/master/.babelrc

[2020-06-28 15:10] zer0blockchain commented on #7322
This fixed it for me
https://github.com/MarchWorks/nextjs-with-material-ui-and-styled-components/blob/master/.babelrc

[2020-06-28 17:57] fillipo opened #14658 "`Route.push` not redirecting to another page (maybe due to next.config.js)"
# Bug report
Perhaps current next.config.js config seems to prevent the `Route.push` to redirecting the page. If you try to redirect nothing happens. Not sure if it is something the way less/css is built.

## To Reproduce

1. Create a test page with the following code

[code]

2. npm run dev - go go the test page and click on button

## Expected behavior
Button click should redirect to main home i

[2020-06-28 18:04] #14658 closed

[2020-06-28 18:22] BernardA opened #14659 "no pageProps initially on catch all route"
# Bug report

I am using the experimental optional catch all route in order to handle a search feature on a small ads app.

Routes could be:
`/search` => main search page
`/search/city/rootCategory/parentCategory`
`/search/city/rootCategory/parentCategory/category`

Due to the huge number of possible routes, I am attempting to use `getStaticPaths` with `getStaticProps` on the page
`/pages/search/[

[2020-06-28 18:25] georgiosd commented on #12454
For anyone that landed here, this seems to have been added to the example

[2020-06-28 18:59] #14659 closed

[2020-06-28 21:29] msheakoski commented on #14419
This one was driving me nuts. Thanks for reporting! FYI, I also experienced the issue with regular routes, not just catchall.

[2020-06-28 22:01] patrick-mcdougle commented on #14409
Nested `<p>` isn't allowed in the [HTML specification](https://html.spec.whatwg.org/#the-p-element), so I'd argue this is won't fix. `<p>` elements can only contain phrasing content (which p itself is not).

[2020-06-28 23:27] vitrukroman commented on #12735
Please add an option to enable typescript checks for the whole code during development

[2020-06-28 23:46] fabrizzioalco commented on #14409
@patrick-mcdougle HTML only have certain elements that can be nested. <p> is not one of those.

[2020-06-28 23:50] fabrizzioalco commented on #14409
@patrick-mcdougle Thanks for the response and the help

[2020-06-29 02:14] switz commented on #1209
Given that react suspense feels like it may never come out, is there any way we can revisit this? I'm seeing initial render times of 800-1000ms on fairly generic, low-content pages (that are rendered from a serverless function on vercel). Streaming the HTML in theory could bump up that initial point of contact and lead to much much faster perceived first-load ux.

<img width="239" alt="image" src=

[2020-06-29 05:34] ijjk opened #14668 "`fetchNextData` does not support dynamic SSG routes with mismatching `href` and `as`"
Since `fetchNextData` doesn't use the same `/_next/data` building logic as `prefetching` when mismatching `href` and `as` values are provided for a dynamic SSG route the page data will be able to be prefetched but not loaded on client-transition.

[2020-06-29 06:37] obedm503 commented on #13748
@qk0728 that did it! thank you

[2020-06-29 07:43] warcraft14115 opened #14669 "Error with <Link /> on mobile"
# Bug report

## Describe the bug

Hi, my app run very fast on PC, but on mobile: I goto homepage then tap to goto item page It not run
On my homepage, I link to item page like this
[code]
On item page, I don't have nothing special:

[code]

I tried to check router call on server, no call to /item/[itemId]
On PC it run very well

## System information

- Browser (if applies) IOS browser
- Version

[2020-06-29 08:29] warcraft14115 commented on #14646
I want this too :)

[2020-06-29 08:32] warcraft14115 commented on #14669
Got this error on Firefox too. Blank page. On Chrome every thing run ok, no warning or error.
[code]

[2020-06-29 08:34] anmolarora1 opened #14670 "Deprecated dependencies (chokidar, mkdirp & fsevents)"
# Bug report

The dependencies of `next.js` are obsolete and should be updated.

## To Reproduce
npm i

## Screenshots

![Screenshot 2020-06-29 at 10 27 19 AM](https://user-images.githubusercontent.com/7765764/85991362-9e2a8680-b9f3-11ea-8c95-7dbd813ffe9d.png)

## System information

- OS: [e.g. macOS, Windows]
- Version of Next.js: 9.4.4
- Version of Node.js: 12.18.1

[2020-06-29 08:35] darshkpatel commented on #13512
I'll take this up

[2020-06-29 09:01] Janpot commented on #14634
@cseas You should be able to leverage the [upcoming custom routes](https://github.com/vercel/next.js/discussions/9081) feature to achieve this:
[code]

[2020-06-29 10:34] warcraft14115 commented on #14669
I found problem :( the problem came from a func on server which i import page file and forgot to delete it (I use getStaticProps)...

[2020-06-29 10:34] #14669 closed

[2020-06-29 11:40] timneutkens commented on #14409
This is correct, I think the issue can be closed.

[2020-06-29 12:21] jon64digital commented on #13680
A little more info, this only seems to happen on localhost. I published to an Azure url today and it doesn't seem to happen. Very odd.

[2020-06-29 14:06] simka commented on #8207
@Timer - I noticed you've added new label recently, does this mean it is something you are getting closer to implementing?

We could really use this feature in a large app we're migrating to Next.js currently. Have you determined or at least have an idea on how you want to solve it? Maybe it's something we could help with, instead of spending time on adjusting props for all the links in the app or

[2020-06-29 14:13] Timer opened #14677 "Add special behavior for `next export` (auto export) running out of disk space"
Can we catch errors from the `next export` workers and add a special case for "No space left on device" that gives a friendlier error message about their build machine running out of disk space?

Right now, the console gets spammed with "No space left on device" messages.

[2020-06-29 14:18] flybayer commented on #8207
I'm really interested in this too. We have a [similar Blitz RFC](https://github.com/blitz-js/blitz/discussions/585) on this.

The other big thing missing from the current Next link is `activeClassName` and `activeStyle` for styling links that match the current route.

[2020-06-29 14:43] mohsen1 commented on #4998
I'm pretty late to this but did you consider using actual [HTML `<base>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/base) instead of manually handling this?

[2020-06-29 14:44] rhetoricalraj commented on #14677
Can I pick up this? But I am new to this.

[2020-06-29 15:08] Timer commented on #14677
Sure!

[2020-06-29 15:09] Ehesp commented on #14409
Yeah I understand it's not correct HTML, however wouldn't it make more sense for the output to be consistent (not render anything)?

[2020-06-29 15:14] #14668 closed

[2020-06-29 15:19] timneutkens commented on #14409
`<p><p>Hello World!!!</p></p>` It seems that it does output, just the browser does not display it

[2020-06-29 16:09] dougg0k opened #14680 "NextJS not completely working with Typescript."
Hi,

I've been trying to use NextJS for a new project with Typescript but doesn't seem to be completely working.

[code]
and
[code]
Tried with version `9.4.4`, `9.4.5-canary.22` and `9.3.6`. All had the same issue.

[2020-06-29 16:22] dougg0k commented on #14680
Nevermind, it was because I was using wrong config for `babel-plugin-styled-components` in `.babelrc`.

[2020-06-29 16:22] #14680 closed

[2020-06-29 16:38] AndyOGo commented on #6264
@timneutkens
Is this issue closed because it have been fixed or won't be fixed?

I would really like to see support for `inferno` 🙏

[2020-06-29 17:08] BernardA opened #14682 "experimental optional catch all route not working"
# Bug report
It's a small ads app with an enormous amount of possible search routes ( 200 categories and about 20,000 cities), where the search page can have the following configuration:

`/search` => main search page
`/search/city/rootCategory/parentCategory`
`/search/city/rootCategory/parentCategory/category`

It would seem possible to have it work like below, using the 'regular' dynamic route,

[2020-06-29 17:42] msreekm opened #14684 "CMS Strapi example - Error [ERR_HTTP_HEADERS_SENT]: Cannot set headers after they are sent to the client"
# Bug report

## Describe the bug

CMS Strapi  example - Error [ERR_HTTP_HEADERS_SENT]: Cannot set headers after they are sent to the client on the server console and broken SSR for this page

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. run cms-strapi-app example project , 
2. go to posts detail page (http://localhost:3001/posts/[slug])and do

[2020-06-29 18:30] dionatanaraujo commented on #11124
Same issue with AMP mode.

[2020-06-29 18:35] JonathanReisCom commented on #8207
I solved this problem like this:

next.config.js:
[code]
Scripts for package.json:
[code]

Create a link:
[code]

CustonLink.js:
[code]

If it's useful to anyone, let me know.

[2020-06-29 18:37] Timer commented on #11615
This should be fixed on canary!

[2020-06-29 18:37] Timer commented on #11206
This was fixed on the latest Next.js canary version!

[2020-06-29 18:37] #11206 closed

[2020-06-29 18:40] Timer opened #14688 "Convert profiling mode from configuration option to CLI switch"
Next.js should not allow users to configure their `next.config.js` to always produce profiling builds. These builds should be done as a one-off, and as such, done via the `next build` command with the `--profile` flag.

Configuring this in `next.config.js` makes it too likely to accidentally commit this setting, which causes **severe performance issues in production applications**.

This mimics th

[2020-06-29 18:41] timneutkens commented on #14684
Try upgrading to next@canary

[2020-06-29 18:50] #14682 closed

[2020-06-29 18:58] Timer commented on #11665
This is the expected behavior, as pages powered by `getServerSideProps` must control the entire request lifecycle, including caching headers. This is necessary to prevent user-specific information from leaking into the application. Please open an issue for the specific use case you're looking to accomplish by getting the HTML response!

[2020-06-29 18:58] #11665 closed

[2020-06-29 19:05] Timer commented on #14409
This seems to be a no-fix from the Next.js side. Can you please file this upstream with the React team? This seems to be a difference between ReactDOM client and server.

[2020-06-29 19:05] #14409 closed

[2020-06-29 19:34] jrisse29041408 opened #14689 "next dev command begins to stall after being complied."
# Bug report
Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory
## Describe the bug
When running the `next dev` the server starts up then complies but once done the browser isn't able to reload and then stalls for about a minute and then gives the error.
A clear and concise description of what the bug is.

`
FATAL ERROR: Ineffective mark-compacts near heap

[2020-06-29 19:42] Timer opened #14690 "cssnano incorrectly minifies opacity"
Input:
[code]

Output:
[code]

[2020-06-29 20:44] #14566 closed

[2020-06-29 20:45] #14610 closed

[2020-06-29 21:29] #14632 closed

[2020-06-29 21:29] #14690 closed

[2020-06-29 21:46] msreekm commented on #14684
@timneutkens  thanks , http header goes away with v9.4.5-canary.23 , SSR is still broken (styling) ,it could be unrelated to the http header error, since it is happening for all CMS examples

[2020-06-29 22:17] lfades commented on #12317
Hello there, can someone go over the example again and see if it fails? it received some updates and should be working as expected now!

[2020-06-29 22:23] alimertcakar opened #14691 "Show a little error message when trying to send brackets as params"
[code]
This id param does not work because it overlaps with something. (probably slugs?) Result is no warning no nothing and 404 page.

A little warning for that could be useful so someone would not go 4 hours fixing other stuff. Or it maybe not, maybe I am the only one tried passing a parameter inside brackets. Anyways I spent some hours on nothing and this is the result, you can close the issue

[2020-06-29 23:48] comxd commented on #5702
@lucasgerard Use `&&`, not single `&`.

If cleaning the node_module not work and you work at localhost:3000 on multiple projects, you need to clear your browser cache.

A simple way to full clear all caches for a domain/website (Chrome dev tools):

![image](https://user-images.githubusercontent.com/9022239/86066720-4d5a7280-ba73-11ea-9eeb-71994832c989.png)

[2020-06-29 23:53] matiascaputti commented on #5702
I fixed the problem by forcing service workers to update the site, as they were caching files generating the `dll is not defined` error.

[code]

Another approach could be -as @comxd said- unregistering service workers from your browser with the `Unregister service workers` to force them update cached files.

[2020-06-30 00:16] dohomi commented on #13680
@jon64digital I have this issue deployed to Vercel as well as on localhost

[2020-06-30 01:10] jamesmosier commented on #14689
The issue is somewhere within your `<HomepageBody />` component that is imported into `components/layout/IsntAuthLayout.jsx`. Once I removed that, the app compiled.

[2020-06-30 01:10] #14689 closed

[2020-06-30 01:36] Timer opened #14695 "Ability to rewrite to dynamic SSG paths"
# Feature request

You should be able to use rewrites and dynamic SSG-generated together. Currently, this isn't possible due to not shipping a full routing manifest, but we nearly do on the newest Next.js versions.

## Describe the solution you'd like

Using rewrites with dynamic SSG pages should "just work," the same way it does with SSR pages.

[2020-06-30 01:54] fabrizzioalco commented on #14451
@Timer. Does every test need to have killApp? or just the one that has child processes?

[2020-06-30 03:22] chuabingquan commented on #14461
I've made a PR, do let me know what changes are needed!

[2020-06-30 03:36] wsdo commented on #9669
why?

[2020-06-30 04:27] Timer opened #14700 "Development server styles sometimes missing on back action"
See video:
https://mega.nz/file/9dIWWaDY#w-HMKsuiBbZ5tCmbkz9Xnx6zqKhJKZMHAi71YX07gRc

[2020-06-30 04:32] Timer opened #14701 "Fast Refresh full reload notification"
When Fast Refresh has to fall back to a full page reload, we should first show an informative overlay to the user explaining why Fast Refresh had to bail out. This overlay should include the specific file that caused it, and the link to docs.

Once the user acknowledges this, the full reload should occur. After this, future full page reloads **should not display the overlay**, and instead, reload

[2020-06-30 04:33] Timer opened #14702 "Fast Refresh vertical margins and padding on small screens"
When the overlay detects a height constrained screen we should automatically squash the HTML element spacing to fit more of the overlay on the screen.

[2020-06-30 04:35] Timer opened #14703 "Next.js should not automatically expose the `React` global"
# Bug report

## Describe the bug

When you use JSX in your app, we automatically expose the `React` global. This allows things like `React.useState` to work even though it's not imported.

## To Reproduce

Use `React.useState` in your app without an import, and see it work.

## Expected behavior

It should not work, and instead, require React be imported.

[2020-06-30 04:37] Timer opened #14704 "Strict CSS Module imports"
It should be possible to import class names from CSS modules via ESM harmony imports, and webpack should throw a class not found error if it exists.

Desired:

[code]

[code]

This should be accomplishable via the new `esModule` setting in `css-loader`.

[2020-06-30 04:39] Timer opened #14706 "Next.js should emit stable client and server JavaScript bundles for pages"
We should test that a rebuild of a Next.js application that only edits one page does not change the asset hashes for unrelated pages, on both the client and server. This probably requires webpack 5 to work.

[2020-06-30 04:40] Timer opened #14707 "Terser should be reconfigured for modern output"
When Next.js' experimental modern mode is used, the Terser settings for related bundles should be adjusted:

[code]

Currently, Terser always assumes an ES5 environment.

[2020-06-30 04:42] Timer opened #14708 "Searching "create next app cli" on Google returns the wrong search result"
Right now, searching "create next app cli" on Google gives a non official search result that does not generate applications with our template, nor supports our examples.

We should update the README for our Create Next App CLI to ensure it ranks correctly on Google, and have associated documentation with it as well.

[2020-06-30 04:45] Timer opened #14709 "Missing test: invalid client-side build manifest triggers a SSR"
We should add an explicit test case for ensuring a malformed build manifest triggers a SSR instead of hanging navigations. We should purposely test this with JS files that fail to parse (e.g. HTML content).

[2020-06-30 04:47] Timer opened #14710 "Missing test: serverless target should set correct revalidation (`cache-control`) header for both data and HTML request"
Historically, we only set this cache control header for the data request but not the HTML request. We should double check it's correct.

Basically, when a page powered by `getStaticProps` is using `unstable_revalidate`, we need to double check the true serverless bundle (i.e. `experimental-serverless-trace` without `next start` emulator) has the correct headers.

[2020-06-30 04:51] Timer opened #14711 "Bad module not found error from webpack"
# Bug report

## Describe the bug

![image](https://user-images.githubusercontent.com/616428/86084798-c2c24500-ba6b-11ea-9a76-005a1dd981f3.png)

## To Reproduce

[code]

## Expected behavior

A more clear message that says you're trying to import `b` and that's the problem. This message alludes to `a` being the problem.

---

Useful flag:

![image](https://user-images.githubusercontent.com/616428/

[2020-06-30 04:53] Timer opened #14712 "Improve serialize undefined message"
The current message states this:

This message isn't always 100% clear to readers and doesn't include a link to documentation to resolve it or learn more.
Let's improve it!

[2020-06-30 05:25] #14464 closed

[2020-06-30 05:29] Timer opened #14713 "Create Next App should ship a cached `yarn.lock` file to speed up installs"
Create Next App can ship a prepared `yarn.lock` file (`yarn.lock.cached`) for instant resolving, reducing the time to create a project in about half.

See the Create React App CLI for inspiration.

[2020-06-30 05:32] Timer opened #14714 "Further optimize Next.js hoisting of `createElement` calls to a top-level variable"
Currently, Next.js only accesses `React.getter.createElement` once per module and sets it to a top-level variable.
In a perfect world, we'd do this once per chunk instead of once per module.

[2020-06-30 05:33] Timer opened #14715 "Preload media used by CSS files"
# Feature request

## Is your feature request related to a problem? Please describe.

If a `.css` file imports a font or svg, we should preload that in the initial HTML.

## Describe the solution you'd like

Automatically preload subresources that will be required by CSS files.

[2020-06-30 05:34] Timer opened #14716 "Polyfill Math globals"
# Feature request

## Is your feature request related to a problem? Please describe.

Next.js does not use transform runtime so certain globals like the new Math helpers do not get polyfilled.

## Describe the solution you'd like

Selectively use "transform-runtime" to polyfill usage of new `Math.` properties.

[2020-06-30 05:36] eKhattak commented on #14713
I'll take this.

[2020-06-30 05:51] Janpot commented on #14691
Working on a fix in https://github.com/vercel/next.js/pull/14717

[2020-06-30 06:00] joe-bell opened #14718 "Feature Request: Building MDX Pages via `getStaticProps`"
# Feature request

Given that Next.js is investing efforts into static generation with the likes of `getStaticProps` and `getStaticPaths`, it would be great to leverage the full power of MDX without being tied to the Webpack loader's (`@next/mdx`) current constraints.

The current use of `@next/mdx` has its limitations:

- Constrained to a single layout
- No ability to transform MDX to HTML for co

[2020-06-30 09:04] switz commented on #9794
Also seeing a duplicate meta viewport overriding the one I specify:

<img width="482" alt="image" src="https://user-images.githubusercontent.com/990166/86106867-1abe7300-ba8f-11ea-88ae-61be0312498c.png">

[2020-06-30 09:04] sai1139 opened #14719 "(node:26404) UnhandledPromiseRejectionWarning: Error: EPERM: operation not permitted"
# Bug report
Same issue i have raised in next.js discussion ,no one provided the solution,right now ,i got same error  for different page

ERROR
(node:26404) UnhandledPromiseRejectionWarning: Error: EPERM: operation not permitted, lstat 'D:\example \.next\static\development\pages\login.js'
    at realpathSync (fs.js:1615:7)
    at deleteCache (D:\example \node_modules\next\dist\build\webpack\plugi