[2020-05-16 16:29] nickerlan commented on #3890
Faced the same error with NextJS api routes
In my case it was a stupid mistake of treating res.json() like return

`
if (smth){
res.json({smth}}
return ; //<==as martpie already said - yes, this is quite important.
}
res.json({other option}}
`

[2020-05-16 16:41] warcraft14115 opened #12980 "Hi, how can solve abc.com/products/ not found"
# Bug report

## Describe the bug

Hi, how can solve link with / ?
Example:
I goto http://localhost:3000/products => It will work
But with http://localhost:3000/products/ => not found :s
after products/[item-id-can-be-here]
Is there any idea to solve all link for this?
## To Reproduce

## Expected behavior

goto url abc.com/products**/** and we will get abc.com/products without error 404

[2020-05-16 17:53] mekeor commented on #12509
@hieusmiths, i also came across this issue. i think it was because i had an *empty* `jsconfig.json` file in the root directory of my repository. i think the issue was solved after i put `{}` into this file so that it was valid json.

[2020-05-16 18:42] x5engine commented on #12079
yeah this is very important! many npm packages are not working with nextjs but work with CRA, or other frameworks

[2020-05-16 19:23] joe-bell opened #12984 "Unexpected onLoad attribute behaviour in next/head"
# Bug report

## Describe the bug

In my project [`raam`](https://github.com/joe-bell/raam/pull/20/files) I'm tying set `"Inter"` as my font by linking to a stylesheet from Google Fonts.

In `Head` (a component that extends `next/head`) I'm using:
[code]
(note the `preconnect` to the actual font assets, then the `display=swap` which is intended to show the fallback font until the loaded font is sw

[2020-05-16 20:29] j-mendez opened #12985 "dynamic SSG styles break on mobile when being used on a CDN for certain material components"
# Bug report

## Describe the bug

dynamic SSG style issues with material drawer as the root element nesting children inside the component- unsure if its material UI related or next.js

## To Reproduce

Try using a dynamic className that is determine if it should appear open or closed initially.

## Expected behavior
When accessing the project through cloudfront/cdn the page has issues dynamic sty

[2020-05-16 20:38] joe-bell commented on #12984
Did some testing on other devices: iPad OS and iOS have no issues. Seems like it only occurs on macOS but I can’t verify Windows

[2020-05-16 20:39] AmanAgarwal041 commented on #12384
Yeah I agree on that. But for now the workaround seems to work for me on all possible scenarios.

[2020-05-16 21:08] zlwaterfield opened #12988 "Router query empty in componentDidMount"
# Bug report

## Describe the bug

The docs state: [`The query object will be empty during prerendering if the page is statically optimized.` ](https://nextjs.org/docs/api-reference/next/router#withrouter) but I am also seeing the query object empty in the `componentDidMount` lifecycle method.

## To Reproduce

1. Clone https://github.com/zlwaterfield/next-router-query-test
2. Run `yarn dev`
3. Go

[2020-05-16 21:09] j-mendez commented on #12985
As a work around you can use the Hidden api and use CSS to render the proper drawer as a workaround.

![Screen Shot 2020-05-16 at 5 08 45 PM](https://user-images.githubusercontent.com/8095978/82130276-e9683d00-9797-11ea-8fbc-6cf4664a2f4b.png)

[2020-05-16 21:09] #12985 closed

[2020-05-16 21:10] mattcarlotta commented on #12964
Since that's my fault for the redundant import, I've submitted a PR to remove them from the `with-redux-thunk` example. That said, there's definitely some missing documentation about React being automatically imported within JSX files.

[2020-05-16 21:15] j-mendez commented on #12985
Testing this mediaQuery to prevent the extra code from being downloaded.

![Screen Shot 2020-05-16 at 5 14 22 PM](https://user-images.githubusercontent.com/8095978/82130356-b07c9800-9798-11ea-9fe1-898eb96262f3.png)

[2020-05-16 21:22] correttojs commented on #12935
Here is the video. I noticed the issue happens only with target=serverless and production build.
While triggering the client navigation the component render function is called on the server

https://streamable.com/mb9f98

[2020-05-16 22:28] zurez opened #12993 "Middleware broken"
# Bug report
Middleware broken
## Describe the bug
![image](https://user-images.githubusercontent.com/8244463/82131399-9a9bc100-97f2-11ea-8833-3edaea6186e8.png)

A clear and concise description of what the bug is.
My websocket middleware is broken. It was working in 9.3
## To Reproduce
`import { websocketActionTypes } from '../action-types/websocket.action-types';
import { TypeSocket } from 'types

[2020-05-16 22:38] zurez commented on #12917
@timneutkens  I am new to open source, I would like to resolve this issue. Can you please guide?

[2020-05-16 23:41] RomanKiyashev1 commented on #12980
@warcraft14115 https://github.com/zeit/next.js/issues/8913

[2020-05-17 01:06] nathan-king commented on #12971
Hi, it was a local bug and is sorted! My appologies :)

[2020-05-17 01:06] #12971 closed

[2020-05-17 03:00] krilbert commented on #12854
Seems it has been fixed (https://github.com/microsoft/TypeScript/pull/38596)

[2020-05-17 03:46] tsujp commented on #12334
Any progress on this?

[2020-05-17 05:28] sai1139 opened #12995 "nextjs .env is not working for custom server"
# Bug report
Next.js .env is not Working for custom server returning dev mode for next start.

const dev = process.env.NODE_ENV !== 'production';
const app = nextjs({ dev });
const handle = app.getRequestHandler();
app
  .prepare()
  .then(() => {
    const server = express();
    server.use(bodyparser.json());
    server.use(bodyparser.urlencoded({ extended: false }));
    server.get('/example',

[2020-05-17 05:54] CanRau commented on #9081
As mentioned by @Kingdutch in https://github.com/zeit/next.js/issues/9081#issuecomment-618638565 I think a way to override a page path is very much needed to properly use next with ReasonML 😍
I tried to use `exportPathMap` and `experimental.rewrites` without any luck

Would be nice to have some way within the `.re` file itself like for example
[code]
or integrate it into `getStaticPaths` 🤔

[2020-05-17 06:11] warcraft14115 commented on #5214
this will fix but the tittle wrong. Hmm
![image](https://user-images.githubusercontent.com/15695252/82137185-f17bb780-983f-11ea-95d0-a71897a9601d.png)

[2020-05-17 06:32] warcraft14115 commented on #12980
@RomanKiyashev1
It will work , but still bug I think. Title of page still 404
![image](https://user-images.githubusercontent.com/15695252/82137480-bcbd2f80-9842-11ea-848d-b3afb2d8ae7d.png)
Don't know why they didn't  fix it. :s

[2020-05-17 07:10] Albert-Gao commented on #9295
![image](https://user-images.githubusercontent.com/18282328/82138105-ff4a3080-9871-11ea-8a58-224410b4260e.png)

Does not work...

[2020-05-17 08:28] felixmosh opened #12999 "New Overlay dialog breaks on RTL sites"
# Bug report
The error modal opens with broken design in a site with default RTL layout.
## Describe the bug

It looks like this:
![image](https://user-images.githubusercontent.com/9304194/82139582-64c9fd00-9831-11ea-8c35-43637009c69e.png)

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Add dir="rtl" on your html element
2. Make the overlay to o

[2020-05-17 09:40] tommyboylab opened #13002 "Unable to select query when special characters are present"
# Bug report

While using router.query, I'm unable to select query values which are contained within square brackets

## Describe the bug
While receiving a response from an OAuth provider, I receive a query string with an access token, token type and expiry. While the first parameter is named normally (access_token) the others are encapsulated in square brackets ([expires_in]) because of this, I'm

[2020-05-17 10:29] kachkaev commented on #12958
Same here with `next@9.4.1`:

[code]

This happened after I bumped Next from 9.4.0 to 9.4.1 and also updated a few other deps in one small open-source side project. Here is the commit: https://github.com/kachkaev/video-easter-eggs/commit/d535f5919f82c72d940cf9529804cda935f7ba65

Simply pinning next to `next@9.4.0` in `package.json` has not helped, so going to investigate further.

[2020-05-17 11:00] joe-bell commented on #12984
As an update I've tested this new approach, which is a mix of font-loading performance suggestions I've found online:

[code]

| Before | After |
|--------|-------|
| <img width="456" alt="Screenshot 2020-05-17 at 13 40 49" src="https://user-images.githubusercontent.com/7349341/82142623-618d3c00-9846-11ea-95dc-90b70a031afb.png">    | <img width="455" alt="Screenshot 2020-05-17 at 13 58 06" src="ht

[2020-05-17 11:22] silvenon commented on #12053
This remark plugin could look like this:

[code]

Now you saved it to `file.data`, and you could build a separate plugin that inserts an `export` statement into your MDX file, you can copy my [remark-mdx-export-file-data](https://github.com/silvenon/silvenon.com/blob/3f1bfaad8ad4794cacd7623bff7627ce5e21ceda/etc/remark-mdx-export-file-data.js).

Then you would apply these two plugins like this:

[c

[2020-05-17 11:43] kud commented on #12053
Thank you so much for this explanation, and for your time. I'll give a try of this!

[2020-05-17 11:51] robinduckett opened #13004 "Going to <NEXTPAGE>/index shows a copy of the base route /"
# Bug report

## Describe the bug

The route on any next.js page /index has a copy of the route /

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to https://nextjs.org/ or any Next.js site
2. The go to https://nextjs.org/index
3. See that https://nextjs.org/index is a copy of https://nextjs.org/

## Expected behavior

https://nextjs.org/index

[2020-05-17 12:25] themmyloluwaa commented on #10902
#Just Incase anyone needs a solution to the problem stated above.

[code]

[2020-05-17 12:51] lboecker commented on #12384
@AmanAgarwal041 I figured out a better way. See #13005

[2020-05-17 12:51] #12384 closed

[2020-05-17 13:29] zlwaterfield commented on #13002
This is just not a Next.js issue, your Javascript is just incorrect.

Trying using this to access the keys:
[code]

[2020-05-17 14:48] kweiberth opened #13011 "Catch-all dynamic route doesn't catch a path with undefined path parameter"
# Bug report

## Describe the bug

Hello! I'm experiencing an issue with a dynamic catch-all route and empty path parameters. For example:

[code]

Is not catching the route: http://localhost:3000/empty//parameter

Instead, it is loading default 404 page.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

Create a simple catch-all page:

[code]

Then

[2020-05-17 15:53] cruzlutor commented on #11065
same issue here

[2020-05-17 16:12] Timer commented on #12958
Next.js 9.4.1 should've fixed all cases of this that we were aware of. We also added regression tests.

@DevanB can you please provide a minimal reproducing demo and we can help resolve it (like above) or fix the bug if one exists?

[2020-05-17 16:25] DevanB commented on #12958
@Timer I just pushed an update to the [original minimal reproducing demo](https://github.com/DevanB/next-parse-server). It appears that `9.4.1` has not resolved the issue.

[2020-05-17 16:30] kachkaev commented on #12958
@DevanB the issue might be in these lines: https://github.com/DevanB/next-parse-server/blob/5b320862ba963da6f763939d4485556054bf225c/pages/index.js#L4-L11

The issue should be resolved if you move them into `getServerSideProps()`. Not sure it would be correct for Next to remove your top-level `Parse.initialize()` call from the root of the file in the browser. What if it’s something that’s needed i

[2020-05-17 16:40] DevanB commented on #12958
@kachkaev this makes sense now. Testing locally

[2020-05-17 16:48] michaelmerrill opened #13015 "Local environment variables do not overwriting stage environment variables"
# Bug report

## Describe the bug

Environment variables are loaded in the following order:
[code]
However, vars in `.env.local` do not overwrite vars in `.env.development`. Is this to be expected?

The use case arises when a var in development should be overwritten when running locally. Say accessing the api.

[code]
[code]

## To Reproduce

Steps to reproduce the behavior, please provide code sn

[2020-05-17 16:50] #12958 closed

[2020-05-17 19:08] klarstrup commented on #10285
It's a shame, the FOUC hiding trick makes it impossible to check out the pre-JS "uncanny valley" of one's app in dev-mode.

[2020-05-17 19:15] TommySorensen commented on #9081
Anyone got query parameters to work with redirects like this?
[code]

This does NOT get hit at all, even though the path is valid when testing on http://forbeslindesay.github.io/express-route-tester/.

Help wanted please :)

[2020-05-17 20:09] evsasse commented on #8316
If you are having a similar problem and found this issue, here is what

Had a similar problem, on my case it was the `.nojekyll` file missing. I tried fixing adding it right after generating the static assets:

[code]

The link @timneutkens posted doesnt work anymore, but you can find more information on this issue: https://github.com/zeit/next.js/issues/2029.

BUT...

I am also using `gh-pages` t

[2020-05-17 21:07] Timer commented on #13015
This is the expected loading order. Please [see the docs!](https://nextjs.org/docs/basic-features/environment-variables#exposing-environment-variables).

You can use `.env.development.local` if you'd like it to take precedence.

[2020-05-17 21:32] #12999 closed

[2020-05-17 21:40] nassimbenkirane commented on #9081
@TommySorensen
I think it was not planned at least for the first version of this RFC
https://github.com/zeit/next.js/issues/9081#issuecomment-544981557

I do believe that it would be a great addition to the rewrites and redirects to be able to use query strings (mirroring what you can do with .htaccess)... That's what's preventing us to migrate to dynamic routes and static site generation, because

[2020-05-17 21:56] TommySorensen commented on #9081
@nassimbenkirane I see.
Kind of a problem for a site am working on where the old site have pages with `/page?c=something` that should redirect to `/newpage/something`.

[2020-05-17 22:32] brandonpittman opened #13023 "Fallback page works in dev but errors in production"
I’ve got a fallback page that reads the file system for Markdown in getStaticProps. The fallback page works in dev, but in production, it shows the loading state while router.isFallback is true and then the server errors out. Here’s a typical error.

[code]

Am I using this feature wrong?

[2020-05-17 22:40] jmgr2996 commented on #12964
Hello @timneutkens, is it ok to send a PR for each example? I'm working on a list with those examples that use a redundant React import

Maybe we could list them in this issue and mark the solved ones

[2020-05-17 23:28] Izhaki opened #13024 "Fast Refresh Full Reload warning is incomplete (and partly unclear)"
# Bug report

## Describe the bug

Fast Refresh does not support unnamed function components ([closed issue](https://github.com/zeit/next.js/issues/12891)), yet the warning provided does not mention this.

## To Reproduce

`pages/index.js`:

[code]

Then edit and save `somefile`.

### Works

[code]

## Expected behavior

The warning should mention that Fast Refresh does not support unnamed functio

[2020-05-17 23:30] cmbirk commented on #10967
I would be very interested in a guide to run Cypress tests against PR preview deployments. I'm working on setting that up now

[2020-05-17 23:34] cmbirk commented on #10967
If possible I would like to have a github action run Cypress against the vercel preview url, but I don't know how to get that information from the Zeit GH integration

[2020-05-18 02:08] nicholaschiang opened #13027 "Typescript logging appears disabled in 9.4.0"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

I recently updated Next.js to `9.4.0` and I'm no longer seeing the Typescript compiler errors when I run my development server.

I was poking around [the release blog post](https://nextjs.org/blog/next-9-4#improved-log-output) and it seems as if the "improved logging" might have done away with a feature that I

[2020-05-18 04:11] nassimbenkirane commented on #9081
While I think it's not ideal, you can still use getInitialProps on /page to do the redirection yourself

[2020-05-18 05:28] TommySorensen commented on #9081
If i use `getInitialProps` on page level, then all my pages will not be static. Right now i have a whole site that is using catch all routes in `pages/[...slug].js` file to fetch data from CMS.

[2020-05-18 08:14] linosorice commented on #8632
I have the same problem, I want to build a graphql schema at runtime on the server.

[2020-05-18 08:18] timneutkens commented on #12964
We've thought about it but it makes optimizing harder later on, e.g. when esmodules support is in a high percentage of browsers.

[2020-05-18 08:23] timneutkens commented on #12935
Can you add a full reproduction also then we can add it to the test suite.

[2020-05-18 08:27] timneutkens commented on #12334
@tsujp feel free to contribute to making it work.

[2020-05-18 08:28] #12993 closed

[2020-05-18 08:29] #12995 closed

[2020-05-18 08:29] #12980 closed

[2020-05-18 08:30] timneutkens commented on #13004
This is expected behavior (backwards compatible with earlier Next.js versions)

[2020-05-18 08:31] #13002 closed

[2020-05-18 08:32] robinduckett commented on #13004
Is it not more desirable to not have duplicated content on a website for search engine optimization reasons?

[2020-05-18 08:34] #13023 closed

[2020-05-18 08:55] correttojs commented on #12935
The reproduction steps seems quite simple to me, let me try to better describe it.
- create 2 pages with getServerSideProps (index and page2)
- set taget=serverless
- add next links to both pages
- build and start the next app
- open the website
- navigate from index to page2
- client navigation triggers a request to page2.json

Expected:
- page2.json calls only getServerSideProps

Actual:
- page2

[2020-05-18 08:59] kkis commented on #11600
Hello @voronianski , I break down the code.

[code]

[2020-05-18 09:23] tsujp commented on #12334
Planned to have a gander, wanted to chime in here just in-case there are parallel efforts going on.

[2020-05-18 10:16] mattpocock commented on #12851
@stevez86 Apologies for late reply. I was able to solve it with some routes config:

[code]

I was previously missing the 'continue' which screwed things up for me.

I'm in a monorepo, with a shared components lib (`/subfolder-1`) which the next js project (`/subfolder-2`) needs to work.

Thanks for your time.

[2020-05-18 10:35] kodai3 commented on #12779
i have similar error, but cannot find `./next/build-manifest.json` for mine

trying to reproduce on minimal repo but no luck so far, did anyone find workaround for this?

[2020-05-18 11:31] timneutkens commented on #12935
Yeah that's not what I'm asking, I'm asking for a full repository so that we don't have to go and create a reproduction for your issue.

[2020-05-18 11:33] slawekkolodziej opened #13038 "Unable to build SSG AMP-enabled page"
# Bug report

## Describe the bug

I would like to use static site generation for one of my pages, in addition I would like the page to be a hybrid amp one. However, next gives me build error like this:

[code]

I narrowed down the bug to be related to the code here:
https://github.com/zeit/next.js/blob/canary/packages/next/build/index.ts#L826-L834 - ssg amp pages are simply not taken into account

[2020-05-18 11:38] Albert-Gao opened #13039 "with-yarn-workspace doesn't Hot Reload changes from another package even after yarn already updated dependency"
1.  `npm init next-app --example with-yarn-workspaces with-yarn-workspaces-app`
1. `yarn dev`
1. open browser, `foo` is there
1. open `packages/foo/index.js`, change `module.exports = "foo";` to `module.exports = "foo12";`
1. yarn updated `foo` in top-level `node_modules` folder to `foo12`
1. check the browser, still `foo`
1. refresh the browser, still `foo`
1. re-run `next dev`, check browser, `f

[2020-05-18 12:58] Timer commented on #12779
We need a full reproduction to help track this down. 🙏

[2020-05-18 13:35] majelbstoat opened #13045 "Error when accessing Typescript enum defined outside Next root in Next 9.4"
# Bug report

Accessing a typescript enum property when the file defining the enum is outside Next's directory causes issues in Next 9.4.0 and Next 9.4.1, but not in Next 9.3.6.

## Describe the bug

Defining a Typescript enum in a `.ts` file outside the root causes issues running `next` if any property is accessed on the enum.

The error implies that the file was not parsed correctly:

[code]

Th

[2020-05-18 13:47] #10488 closed

[2020-05-18 13:50] joe-bell commented on #12984
After some further investigation with @csswizardry, we found that when JS is disabled the `onload` attribute is missing entirely:

<img width="521" alt="Screenshot 2020-05-18 at 16 47 29" src="https://user-images.githubusercontent.com/7349341/82220482-5fe77500-9927-11ea-94fc-4a51bcb04a2a.png">

What's even stranger is once JS is enabled, this behaves as expected **but** moves further down the `<he

[2020-05-18 13:58] joe-bell opened #13047 "Theme UI's MDX Components Not Rendering in 9.4"
# Bug report

## Describe the bug

In my project `raam`, I'm trying to upgrade to Next 9.4. Unfortunately my `ThemeProvider` (from Theme UI) is no longer applying components to MDX:

**PR**: https://github.com/joe-bell/raam/pull/21
**Demo**: https://raam-git-chore-next-94.joebell.now.sh/

Is there something that needs to be done on my side/Theme UI's side to support fast refresh?

## To Reproduce

[2020-05-18 14:59] jmgr2996 commented on #12964
Is it possible to avoid the implicit import if there's a React instance or maybe warn the user when import the namespace?

[2020-05-18 14:59] aralroca commented on #12779
@Timer you have access to the repo: https://github.com/vinissimus/frontend

To reproduce it: just upgrade Next.js to 9.4.1 + `npm run dev`

[2020-05-18 15:02] flybayer commented on #9130
This is a very significant limitation.

We're trying to use a restful style page structure as shown below, but this fails.

[code]

Supporting this definitely requires more complexity inside the Next router and a compile step check to ensure duplicate pages don't exist (ex. `projects/[id]/edit` and `projects/[projectId]/edit`).

But I think it's very worth the effort.

[2020-05-18 15:39] Timer commented on #12779
@aralroca you seem to be breaking your own compilation in `next.config.js`:

[code]

[2020-05-18 15:39] #12779 closed

[2020-05-18 15:41] dunglas commented on #8262
@Timer the example wasn't designed incorrectly. This has been discussed in the original PR, and AFAIK, there is no better options right now.

[2020-05-18 15:43] aralroca commented on #12779
Ouh! I'm glad it's not a Next.js problem. Thank you very much and I'm sorry I didn't find it.

[2020-05-18 15:46] Timer commented on #12779
Not a problem! Let us know how Fast Refresh works for you 🙏

[2020-05-18 15:52] majelbstoat commented on #13045
Update: the error only occurs if I actually _use_ any of the enums properties.

For instance:

`const x = SearchEntity.SEARCH_ENTITY_POSITION`

if I never access the enum, the error doesn't happen, even if I import the file. This makes me think there's some kind of weird erasure going on, and that enums are treated differently by `next` and `next build`.

Making it `export const enum` doesn't work

[2020-05-18 16:07] #12509 closed

[2020-05-18 16:09] aralroca commented on #12779
I just tried and looks that is not working. I guess that is because it is a React feature that is not landed in Preact yet?

[2020-05-18 16:24] Timer commented on #12779
Oh, that'd be the case yes @aralroca. Can you use real React in development?

[2020-05-18 17:03] correttojs commented on #12935
sure, https://github.com/correttojs/nextjs-gssp-bug

[2020-05-18 17:07] blik3230 commented on #12145
Hi, I have a similar problem, but I am trying to put a percent sign value on a URL segment as some id for dynamic routing. Regardless of whether I am encoding a percent sign or not. If I pass it to router.push in "asPath" as part of the segment URL the same error (URIError: URI malformed) occurs.

[2020-05-18 17:27] Timer commented on #13045
This is the expected behavior because you're importing a file outside of your application root. TypeScript files are not processed there.

You'll need to override your webpack configuration to compile the top-level `lib`.

[2020-05-18 17:27] #13045 closed

[2020-05-18 17:30] majelbstoat commented on #13045
This worked without issue, in exactly the same manner, in 9.3.6.

They can't be moved inside because they are shared files with other projects.

[2020-05-18 17:33] Timer commented on #13045
Hmm, nothing should've changed in that regard. Do you have a `next.config.js` in your project?

Note your provided example also fails with 9.3.6.

[2020-05-18 17:38] majelbstoat commented on #13045
Ah, yes, I do! It has this in it to support symlinks:

[code]

Any chance `next-babel-loader` is not the name of the loader any more?

[2020-05-18 17:39] Glomels opened #13057 "AMP: AMP component-generated css classes are ignored when overridden with JSX styles"
# Bug report

## Describe the bug

When trying to override AMP component styles using  `<style jsx />`, changes made to classes generated by AMP are ignored and are not added to the CSS bundle.

## To Reproduce

First we insert an amp component like this into our JSX code:

      <amp-carousel
        type="carousel"
        controls
        className="carousel-blog"
        height="65vh"

[2020-05-18 17:40] Timer commented on #13045
`use` could be an array, so you need to search deeper.

[2020-05-18 17:42] nicholaschiang opened #13058 "Development server has a flash of unstyled content (FOUC)"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

When using Next.js, it appears that the CSS isn't fully hydrated into the `<head>` when the `<div id="__next">` element first becomes visible.

This causes a flash of unstyled content (or FOUC) when running our development server. It seems like it's fine in production though (which seems strange to me).

## To

[2020-05-18 18:11] majelbstoat commented on #13045
The problem actually appears to be that next-babel-loader is no longer used for the client?

With 9.3.6, use-babel-loader is used twice, once each for server and client:

[code]

But for 9.4.1, it's only used for the server:

[code]

Is that a deliberate change?

[2020-05-18 18:14] Timer commented on #13045
It's still used for the client, but you need to handle the case when use is an array.

[2020-05-18 18:21] avijitelu commented on #13058
I am also facing this problem when I use css modules but when I use styled-jsx then It works fine.

[2020-05-18 18:31] majelbstoat commented on #13045
Ah, I see. Yeah, awesome, that got it, thanks.

For those who have a similar issue, or come here from (https://github.com/zeit/next.js/issues/3898), my updated config is:

[code]

[2020-05-18 19:15] iksent commented on #12343
My Stack:
1) CSS Modules
2) SCSS
3) Dart-Sass with @use imports

Tried a lot of variations and this one works for me:

1) package.json:

[code]

2) next.config.js

[code]

3) Importing global (not modules) styles like this:

index.scss:
[code]

It will be great, if someone try such a configuration, so I can make sure this really works.

[2020-05-18 19:24] stevez86 commented on #12851
@mattpocock I think you're referring to a different issue. I'm still getting an array of params with `continue: true` for a dynamic route that is in a folder (see repro)

@ijjk Do you know if this is going to be looked at anytime soon? It's blocking from using SSG and next 9.4. I'm happy to take a look at it and would appreciate it if you could point me to where the relevant routing takes place an

[2020-05-18 19:59] maysam commented on #12962
how about just

[code]

[2020-05-18 20:53] luciovilla opened #13067 "Telemetry disable env var not working in custom server"
# Bug report

## Describe the bug

Noticed that with a Custom Server and a `.env` file in the root of a project with the variable: `NEXT_TELEMETRY_DISABLED=1` that Telemetry still sends anonymous data.

## To Reproduce

1. Create a custom server ([as written in docs](https://nextjs.org/docs/advanced-features/custom-server))
2. Create an `.env` file ([as recommended by docs](https://nextjs.org/docs

[2020-05-18 22:09] aizkhaj commented on #13047
Hey @joe-bell, shooting in the dark here, but I recently came across this issue on `next-mdx-enhanced`, perhaps it may be connected? https://github.com/hashicorp/next-mdx-enhanced/issues/53. I'm aware it's not the same package you're using for your mdx but it could be a related issue.

[2020-05-18 22:15] pcwa-ahendricks commented on #12851
@stevez86 Are you using Yarn workspaces with your project by chance?

[2020-05-18 23:01] stevez86 commented on #12851
@pcwa-ahendricks I'm using workspaces and lerna

[2020-05-18 23:29] Izhaki commented on #13024
Another gotcha below.

# Full Reload

[code]

Although they are all named:

![image](https://user-images.githubusercontent.com/880132/82268453-f1c2a280-9966-11ea-911a-2aacc8983b5d.png)

[code]

# No Full Reload

[code]

[2020-05-18 23:30] pcwa-ahendricks commented on #12851
@stevez86 I had this same issue, with unexpected params populating the params object in the getStaticProps context. I used "continue: true" in my `vercel.json` so I do not believe that to be a reliable workaround. I used Yarn's workspaces feature with my project. The issue was hit and miss for me, but it eventually popped up after a certain number of route changes. I only had this issue with the c

[2020-05-18 23:44] Izhaki commented on #13024
Although I know little about HMR, I have some hunch that the rule is this:

You will not get full reload so long your page exports like this:

[code]
Is that correct?

[2020-05-19 00:08] Izhaki opened #13070 "Full Reload warning may not be seen"
# Bug report

I'm filing it as a separate issue to #13024 although they are somewhat related.

## Describe the bug

The warning about Full Reload can easily be missed because as soon as it is shown... the page reloads. Without specific browser settings, many users might miss it.

For me, I saw there was a warning, but couldn't read it until I enabled _Preserve Log_ in Chrome.

## To Reproduce

`pa

[2020-05-19 00:25] stevez86 commented on #12851
@pcwa-ahendricks Thanks for that information, it's helpful. How do you share components across projects? Currently I have this in my config, but only use it so I can run multiple "brands" from the same project; Searched a but to end up at this config and not aware of any alternatives.

[code]

[2020-05-19 00:25] Albert-Gao commented on #13039
Thanks for the lighting fix!

But still not working :( @Timer

[2020-05-19 00:59] pcwa-ahendricks commented on #12851
@stevez86 I don't share components per-se but I do share some common ts/js libs between the project /api folder and /src folder with the help of some settings which make importing easier defined in my tsconfig/jsconfig and eslintrc.

[code]

However, I don't see any of that being a deal breaker. I think (not certain) you a stuck with having to define `builds' and `routes` in your now.json due to t

[2020-05-19 01:19] Evian-Zhang commented on #12962
Yes, I can do this to achieve my goal, but as a general tool, I think fetch should support URL type.

[2020-05-19 01:27] AryanJ-NYC opened #13072 "Prefetch does not work with getServerSideProps"
# Bug report

## Describe the bug

Nothing is fetched when using `Link` when the linked page uses `getServerSideProps`.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to https://does-next-prefetch-work.now.sh/ and open up the Network tab in Developer tools
2. Note that no pages are prefetched, no matter if it's hovered or not
3. The page is

[2020-05-19 01:27] stevez86 commented on #12851
The importing config helps. I run the deployment from the root only because it uploads the shared and brand folders before the serverless build, otherwise those outside files are missing. I wonder if there is a way to build locally and deploy to vercel / now/ or a way to upload folders outside where the command is made. I haven't had success finding either of those. Ultimately I think the best fix

[2020-05-19 01:39] vhpoet commented on #11918
Happened to me too. Downgrading to `9.3.6` fixed it.

[2020-05-19 02:19] #12976 closed

[2020-05-19 02:38] cdock1029 commented on #12434
I have a select menu inside my app header that I want to pre-populate with data at build.
I wrap all pages with this in `_app.tsx`.

`getStaticProps` would be useful here, else I have to put this on every page individually, and pass props down

[2020-05-19 02:56] singhpriyakr opened #13073 "After build dynamic routes are throwing 404."
# Bug report

## Describe the bug

Every thing was working fine on local development, once my app done I run the `next build ` once it done and when I tried build on browser most of the dynamic routes were throwing 404 and that was very weird.

## To Reproduce

- Have some dynamic page (multi level),
- Run `next build `

## Expected behavior

- Should not throw 404 for dynamic routes.

## Screensh

[2020-05-19 03:22] grubxy commented on #12790
just the same error as yours.

[2020-05-19 04:04] mydearxym commented on #12019
as https://github.com/zeit/next.js/issues/11665 mentioned, the `ERR_HTTP_HEADERS_SENT ` start at v9.3.1, downgrade to next@9.3.0 fix this warning temporary

[2020-05-19 04:32] ericclemmons commented on #11993
@warcraft14115 I have a PR to fix it, but there were some rogue file-size tests that got it out of date.

I'll have to get https://github.com/zeit/next.js/pull/12156 passing again and approved (I don't think anyone has looked at it yet).

[2020-05-19 05:04] endquote opened #13076 "mjs files not importing in dev mode?"
I have some `.mjs` files that are `import`ed in my next project and `require`d in various utility scripts. This has worked fine for some time.

[code]

But recently, they do not seem to be included in the dev version of the application. `npm run dev` runs the app, but in the console I get things like:

[code]

What's extra weird is that if I run the production version with `npm run start`, everyth

[2020-05-19 05:31] Junho-Cho commented on #9672
I faced the same issue. If you run extension tools that remove cors issue like 'Moesif CORS', You will face this issue.

[2020-05-19 05:36] frank-dspeed opened #13079 "PullRequest: Implementation #10700"
# PR

#10700 - HTTPS via ENV

## Additional Issues
 - Scenario 1 https default cert invalid => simply host a proxy with a valid cert and let him accept the other same for browser simply add the exemption local

- Should ship default cert generation can not be guaranteed but we could offer a script for that anyway

## Current Impl branch

## Documentation
[code]

Generate a cert and key delete the

[2020-05-19 05:39] SpicyPete commented on #9209
Also seeing this issue on my windows computer, but not on any of my Mac's 🤔

[2020-05-19 07:04] joe-bell commented on #13047
Thanks for the heads up @aizkhaj, sounds like there's a possibility this could be related

[2020-05-19 07:47] M1ck0 opened #13082 "getStaticProps fails on build"
# Bug report

## Describe the bug

I have a problem with ```getStaticProps``` and ```Apollo GraphQL```. Part of website is supposed to be static pages. Data for pages is fetched with ```GraphQL``` from ```Wordpress CMS```.

## To Reproduce

[code]

[code]

[code]

In the ```getStaticPaths``` of code I am getting all the ```slugs``` with ```Wordpress REST API```. Then I am using those ```slugs``` i

[2020-05-19 08:28] M1ck0 commented on #13082
This is huge mistake on my side. I loaded slugs from wrong API url. Everything works as expected now.

[2020-05-19 08:28] #13082 closed

[2020-05-19 08:52] dijs opened #13083 "CSS Modules not being built or injected into pages"
# Bug report

## Describe the bug

I followed the docs when setting up my styles. I am using a global `.scss` file from within my `_app.js` page and for every other page I import a `<page>.module.scss` file.

After compiling, I see the built global styles and they work. But none of the module styles are built or injected.

I am **not** using any `withSass` or `withCss`, this is plain NextJS v9.4.1

[2020-05-19 08:53] Firebrand opened #13084 "useEffect not firing?"
I'm using "next dev" to test this simple page script. The page runs fine, but the useEffect hook never fires.

[code]

[2020-05-19 08:56] timneutkens commented on #11918
Can you upgrade to 9.4.1?

[2020-05-19 09:06] #13076 closed

[2020-05-19 09:08] #13084 closed

[2020-05-19 09:09] timneutkens commented on #13083
Please add a complete reproduction.

[2020-05-19 09:12] timneutkens commented on #12790
I think I fixed this last sunday, can you try next@canary?

PR: https://github.com/zeit/next.js/pull/12978

[2020-05-19 09:13] #13073 closed

[2020-05-19 09:33] stingrayfunk opened #13085 "Fast Refresh Not Working In 9.4.1"
# Bug report

## Describe the bug

Fast refresh (hot module replacement) does not work in NextJS 9.4.1.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create a new NextJS app (npm init next-app).
2. Build the app
3. Run the app (loaded in Chrome 81)
3. Modify some text in the index.js page.

## Expected behavior

The page in the browser is upda

[2020-05-19 10:20] timneutkens commented on #13072
It prefetches just fine, the page JS is prefetched.
https://does-next-prefetch-work.now.sh/_next/static/TXxnRKNKNFI8umJR_Mqd_/pages/pokemon/%5Bid%5D.js is loaded.

Data is not prefetched which is expected if you use getServerSideProps, if you use getStaticProps you'll also get data prefetching automatically.

Opened a PR to fix the docs as they're not clear about that: https://github.com/zeit/next

[2020-05-19 10:25] timneutkens commented on #13085
Please provide a complete reproduction, just followed the steps to reproduce and it works fine. Note that we also have end to end tests for the exact behavior described.

[2020-05-19 10:37] stingrayfunk commented on #13085
Yeah sure. What exactly do you need for a complete reproduction?

[2020-05-19 11:03] #13072 closed

[2020-05-19 11:10] Timer commented on #13085
Are you running this within a docker container or similar?

[2020-05-19 11:48] stingrayfunk commented on #13085
No, I'm just following the steps on the NextJS web site, as in the reproduction steps above (`npm init next-app`).

[2020-05-19 11:52] Janpot commented on #13085
by

Do you mean you are running
[code]
or
[code]
?

[2020-05-19 12:02] stingrayfunk commented on #13085
Build the app = `npm run build`
Run the app = `npm start`

I have not modified the build scripts from their defaults when the app is generated.

[2020-05-19 12:03] stingrayfunk commented on #13085
Ok I've just realised my mistake. I'm running the production build, which should not have HMR turned on. Sorry about this folks!

[2020-05-19 12:07] #13085 closed

[2020-05-19 12:20] #12854 closed

[2020-05-19 12:23] Timer commented on #12988
This is by design, as explained in the docs:
https://nextjs.org/docs/advanced-features/automatic-static-optimization#how-it-works

[2020-05-19 12:23] #12988 closed

[2020-05-19 12:26] Timer commented on #11751
`serveStatic` cannot be used to serve files Next.js did not generate itself. This was a necessary security change for https://github.com/zeit/next.js/releases/tag/v9.3.2.

You can move this file into `public/` to have Next.js serve it automatically.

[2020-05-19 12:26] #11751 closed

[2020-05-19 12:40] AryanJ-NYC commented on #13072
OK, great. Yeah, it was the docs that must have confused me. Thanks!

[2020-05-19 12:43] Timer commented on #12656
You can send the file yourself using standard connect helpers.

[2020-05-19 12:47] Timer commented on #11446
Fixed on canary

[2020-05-19 12:47] #11446 closed

[2020-05-19 12:57] nimitwalia89 opened #13091 "version 9.4.1 `npm run build` is not working on digitalocean (ubuntu). Says: Error: > Build directory is not writeable. https://err.sh/zeit/next.js/build-dir-not-writeable"

[2020-05-19 13:09] jensmeindertsma opened #13092 "CSS Modules styles defined in wrong order in development mode"
# Bug report
## Describe the bug
In development mode, when a page imports styles from a `.module.css` file ( `import styles from "./home.module.css"` ) and then imports another component after that ( `import { Container } from "../components/Container"` ), and passes the imported styles to the component like `<Container className={styles.blue}>`, these styles get overriden by the imported componen

[2020-05-19 13:10] theCuriousOne commented on #13091
@nimitwalia89 What Node.js version do you have? I experience the same error with Node.js 8 but not with Node.js 10 (or greater)

[2020-05-19 13:16] nimitwalia89 commented on #13091
@theCuriousOne updating works. thanks :)

[2020-05-19 13:37] zlwaterfield commented on #12988
@Timer the link you sent says `Any query values will be populated client-side after hydration.`, so should they not be present after the component mounts?  Is there something I am missing?

[2020-05-19 13:42] bahmanbs commented on #9081
thanks for these great things
Can you tell us about the release date?

[2020-05-19 13:45] lipp commented on #13015
I think the order must just be reversed:

https://github.com/zeit/next.js/blob/canary/packages/next/lib/load-env-config.ts#L18

[2020-05-19 13:46] danlutz opened #13095 ".env-file variables altered on localhost ($-char stripped)"
# Bug report

## Describe the bug

Values of environment variables are sometimes altered. We noticed a secret key containing a "$" character was read without this character

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Use a custom ".env" file on localhost

## Expected behavior

We have been using .env files configured using "dotenv" npm modul

[2020-05-19 13:46] zlwaterfield commented on #12988
Ah, I found [this](https://nextjs.org/docs/routing/dynamic-routes#caveats):

[code]

I will confirm this and then look into making a PR to make it more clear in the docs.

[2020-05-19 13:59] fromi commented on #12790
I tried it, and it works indeed!
Thanks

[2020-05-19 13:59] #12790 closed

[2020-05-19 14:23] SpicyPete commented on #9209
Am able to get around this by creating the next app directly on my desktop.  But no idea why it doesn't work in the standard `My Documents/Github/[project]` location.
I have looked everywhere and didn't find a random `.babelrc` file anywhere.  Very odd, but for now, can continue working, with my `NextJS` projects located in a different place than all my other projects, tad annoying.

[2020-05-19 14:23] vaibhav1802 commented on #13091
I was facing similar error (directory doesn't exist error errno: -2, code: 'ENOENT', syscall: 'mkdir') in next build because of old nodejs version (8). Updated to 12 and issue got fixed.

[2020-05-19 14:23] #13038 closed

[2020-05-19 14:35] cjimmy opened #13097 "Analytics example should unmount Router.on.events"
# Bug report

## Describe the bug

In the example with analytics [next.js/examples/with-google-analytics/pages/_app.js](https://github.com/zeit/next.js/blob/canary/examples/with-google-analytics/pages/_app.js) the `Router.on.events` is never unsubscribed. According to your [own documentation](https://nextjs.org/docs/api-reference/next/router#routerevents), the listener should be unsubscribed when

[2020-05-19 14:57] maxigimenez commented on #12861
@timneutkens I would love to take this one, one approach could be copying the `.map` file onto the build, what do you think?

[2020-05-19 15:28] vitaliemiron opened #13100 "Router params and path separately"
# Feature request

## Is your feature request related to a problem? Please describe.

I have drupal cms as backend with graphql.
So user can create unlimited nodes starting from root. For example:
site.com/node1
site.com/node2

I have created a page named [slug].tsx and all works fine, but now I also need to get some params from url.
site.com/node1?param=foo
So I didn't find any method to get sepa

[2020-05-19 15:28] jamesmosier commented on #13097
Hi @cjimmy! Feel free to submit a PR 🎉

[2020-05-19 16:07] #13091 closed

[2020-05-19 16:21] Timer commented on #13095
Hello! Next.js added support for `.env` by default, which may differ a bit from your custom `dotenv` setup.

Next.js will expand variables it finds in `.env` files, so you need to escape the secret like so:

[code]

[2020-05-19 16:33] danlutz commented on #13095
Oh ok, so this is actually a feature 😂 thanks alot, i will tweak out setup tommorow :)

If this is already outlined in the docs, I'm sorry for opening a but report, otherwise it should be added as a warning i think!

Keep up the great work your team is doing 💪🏻

[2020-05-19 16:36] Timer commented on #13095
Yup! Sorry that the feature introduced some inconsistency with your previous behavior. It doesn't look like the docs capture this.

[2020-05-19 16:37] #13097 closed

[2020-05-19 17:06] amiralies opened #13104 "Document Fast Refresh requirements and troubleshooting"
# Bug report

## Describe the bug
Fast refresh is not working when using named exports alongside default export.

## To Reproduce
- Setup new next project using next init
- Go to `pages/index.js` and remove export default from your function component
[code]
- export something alongside your component as default
[code]

## Expected behavior

Fast refresh should work

## System information

- OS:  L

[2020-05-19 17:08] amiralies commented on #13104
You may ask why are you exporting something other than your component as default.
Bucklescript [exports](https://bucklescript.github.io/docs/en/import-export) let bindings by default.

[2020-05-19 17:13] Timer commented on #13104
It's expected that Fast Refresh is disabled if you export something that is not a React Component (even a scalar value as shown above). We'll document this in the docs.

[2020-05-19 17:58] BrennanColberg commented on #9474
I agree with @Timer—there should be a much friendlier error message here. Just spent a few hours debugging this... my first instinct was to dig into the TS-related webpack/babel config, which leads on a series of rabbit trails orthogonal to the simple problem of file location

[2020-05-19 19:16] mlbonniec opened #13109 "Impossible to create styles for each component"
# Bug report
All styles must be included in `_app.js` and therefore be global. I include my `.scss` files, but they must be global.
It seems that this tutorial is what I'm looking for, but you have to add a variable as a class to make it work, and as indicated in the post, it's no longer compatible with the new versions of Next.JS https://medium.com/@vladymyr.pylypchatin/the-simple-way-to-use-scop

[2020-05-19 19:47] Izhaki commented on #13104
Related: #13024

[2020-05-19 19:52] zacksinclair commented on #9367
@flizana did you ever resolve this? i have the exact same issue w/ basically the same set up for antd.

I dont believe it is the zeit/next-plugins#282 issue that @timneutkens linked, as it happens on directly accessing a url (as opposed to clicking a link)

[2020-05-19 21:18] justincy commented on #12409
The line in `router.js` that the error comes from is https://github.com/zeit/next.js/blob/0d05904552dc4ba517ec158446c175d72a78814f/packages/next/next-server/lib/router/router.ts#L493

But that's just where it gets thrown. This is where it originates:

https://github.com/zeit/next.js/blob/0d05904552dc4ba517ec158446c175d72a78814f/packages/next/next-server/lib/router/router.ts#L134

The error being c

[2020-05-19 21:20] thadwoodman commented on #13104
@Timer sorry if this isn't the right place for this question, but is it possible to disable Fast Refresh globally in `next.config.js`? Thanks!

[2020-05-19 21:36] justincy commented on #12409
Setting the code throws an error because it's running in [strict mode](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Strict_mode#Converting_mistakes_into_errors).

[2020-05-19 21:36] Timer commented on #13104
@thadwoodman it is not possible to disable Fast Refresh. Can you elaborate why you'd like to do this?

[2020-05-19 21:46] justincy commented on #12409
In a production build, the error is caught and you are shown the error page. This differs from the behavior exhibited by Chrome where the redirect works after Next triggers a full page reload.

[2020-05-19 21:53] justincy commented on #11644
Two other related feature requests for `getServerSideProps`:

* [Error responses](https://github.com/zeit/next.js/discussions/12652)
* [Redirects](https://github.com/zeit/next.js/discussions/11281)

[2020-05-19 22:05] mcyleung commented on #9830
this works!!

[2020-05-19 22:09] simjoeweb commented on #7322
Did you find a solution?

[2020-05-19 22:29] danielpaz6 opened #13117 "Monaco Editor example doesn't work"
# Bug report

Monaco Editor Example doesn't work
Link: https://github.com/zeit/next.js/tree/canary/examples/with-monaco-editor

( The error logs could be found down in this issue )

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to https://github.com/zeit/next.js/tree/canary/examples/with-monaco-editor
2. Use the command there to install the

[2020-05-19 22:44] vijay-dadhich09 opened #13119 "getting 403 because of quarantined issue in use-subscription-1.4.1.tgz"
# Bug report

npm ERR! code E403
npm ERR! 403 403 Requested item is quarantined - GET https://nexus.mgmt-bld.oncp.dev/repository/npm-proxy/use-subscription/-/use-subscription-1.4.1.tgz
npm ERR! 403 In most cases, you or one of your dependencies are requesting
npm ERR! 403 a package version that is forbidden by your security policy.
npm ERR! 403
npm ERR! 403 It was specified as a dependency of 'nex

[2020-05-19 22:49] tafelito commented on #11195
Probably related to #12448 and #10268

[2020-05-19 23:22] kevinwolfdev commented on #9081
This is awesome and I have been already using it for a URL shortener I made for my personal use.

Currently, I’m working on a project where I would need to either rewrite to an API route or a Next.js page depending on the `accept` header from the request.

Will something like this be doable with the experimental `rewrites` api? Or should I still use a custom server as outlined in the Next.js docs?

[2020-05-19 23:33] Izhaki commented on #13104
I had the very same question and the reason was that full reload is disastrous for us.

But I'm pretty sure that if your code comply with (the currently unclear) guidelines, you will not have full reloads. This leaves you with the same behaviour as hmr (before Fast Refresh was introduced), yet with the benefits of Fast Refresh.

[2020-05-19 23:43] kud commented on #8974
I'm in a case that it sounds legit to me that my component is in `pages` without being seen as a page itself:

![image](https://user-images.githubusercontent.com/655838/82388995-40417100-9a3b-11ea-851c-38c02dfcbea5.png)

[2020-05-19 23:57] kud commented on #8974
Workaround for the moment:

![image](https://user-images.githubusercontent.com/655838/82389764-446e8e00-9a3d-11ea-9975-3921608d5efb.png)

[2020-05-20 00:43] jamesmosier commented on #13109
There are numerous issues like this already:

https://github.com/zeit/next.js/issues/12925
https://github.com/zeit/next.js/issues/12079

[2020-05-20 01:07] kyle-mccarthy commented on #13119
It looks like you are behind a firewall that is blocking access. The req for the npm package is being proxied through https://nexus.mgmt-bld.oncp.dev which is responsible for the 403 error.

[2020-05-20 01:21] benoror commented on #8617
Any reason this is allowed in development mode?

[2020-05-20 01:57] jhaemin commented on #12409
<img width="610" alt="Screen Shot 2020-05-20 at 10 44 19 AM" src="https://user-images.githubusercontent.com/19797697/82395637-e6ff2f00-9a86-11ea-8f4e-e5fb4e92b5c0.png">

Same here.
I just replaced the Next Links with HTML anchor tags where the pages using `res.writeHead()`.

[2020-05-20 03:39] #13067 closed

[2020-05-20 04:08] mattgabor commented on #8893
This is still happening for me, and the only way I've been able to fix it is by setting `NODE_ENV=production` which is not ideal since I would like to reserve NODE_ENV for things like environment scripts. Is the directory named functions enforced by firebase? This is my current setup

[code]

[2020-05-20 04:17] resir014 commented on #8981
@RStankov Based on [this reply](https://github.com/zeit/next.js/issues/9524#issuecomment-558618983) on the `getStaticProps()` and the `getServerSideProps()` proposal (which also uses the same pattern), it will help when doing tree-shaking during build time. Having the function attached to the component makes it harder to tree-shake the bundle.

[2020-05-20 04:39] #10734 closed

[2020-05-20 07:12] maxigimenez commented on #13100
Hi @vitaliemiron, as far as I remember you can access the params using query, this doesn't work for you?

[code]

[2020-05-20 08:21] danielpaz6 commented on #13117
**Update:**

I found out that if you use the exactly versions from the package.json and not upgrade it, it means to change it from:

[code]

to:

[code]

it does work.
So I guess this bug related to some updated version?

By the way, even if it works, it makes a warning:

[code]

[2020-05-20 08:23] mlbonniec commented on #13109
Ok I see, but with `next/sass` or `next-styles` I was able to import my styles into the `.js` file of the component.
However, the style also applies to other elements, even when the component is not present.
How can I make the component style apply only when the component is displayed?
In the manner of a `<style jsx></style>` tag that inserts itself into the `<head>`

[2020-05-20 08:56] imekachi commented on #11751
For those who's looking for the solution,
checkout this https://github.com/zeit/next.js/issues/11624#issuecomment-608411836

[code]

This works for me.

[2020-05-20 09:29] RStankov commented on #8981
@resir014 Haven't thought about that. Makes sense.

It makes total sense for `getStaticProps` and `getServerSideProps` because you might want to use those without loading the whole component.

Is there a case where you would want to load `head` without wanting to load the page component as well?

[2020-05-20 09:32] Innei opened #13129 "build process hang with ts 3.9"
# Bug report

I upgrade typescript 3.8 to 3.9.x, and I run `next build`, but hang with the message. `Creating an optimized production build .`. After a long wait, but hang. No other hints.

## Describe the bug

Can't build production with typescript 3.9.x, build process hang.

## To Reproduce

I don't kwon how to reproduce, My node version is `node v12.16.3`, next version is `9.4.1`, os `mac 10.14

[2020-05-20 09:53] TommySorensen commented on #649
Or use:
[code]

[2020-05-20 10:16] robertovg opened #13132 "Passing args in URL with `experimental.basePath` causes the page to constantly being reloaded."
# Bug report

## Describe the bug

We are using next: "^9.4.1" in a project with `experimental.basePath` and when working with the project on development and we have params on URL the page constantly reloads making impossible to work on dev mode.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

I generated a simple [repo](https://github.com/robertov

[2020-05-20 10:20] vitaliemiron commented on #13100
@maxigimenez yes, that works, but every  time I need to join that array, My proposal is to add a method to get full path without queries.

[2020-05-20 11:04] XOKP commented on #7923
The middleware does not has the clearCookie function...

[2020-05-20 11:10] zxfred commented on #13027
See this https://github.com/zeit/next.js/issues/12735#issuecomment-626869676

[2020-05-20 11:14] Prioe commented on #12545
I'd love to take this and create a PR with an example.

[2020-05-20 11:33] Izhaki commented on #5214
@AlexSapoznikov @pjaws

Your solution puts us in infinite loop:

[code]

## Context

Due to reasons beyond our control, we have to use the `exportTrailingSlash` option in `next.config.js`.

We want to have a link to another page but we want the link to be `/somepage?param=whatever`.

It seems that next link converts this to `/somepage/?param=whatever` and we get page not found.

Using the solution

[2020-05-20 11:52] loicbourg commented on #12105
Hello,

I reproduced this bug in my app with next.js 9.4.1 .

Is this an expected behavior ?

[2020-05-20 12:22] #12920 closed

[2020-05-20 12:26] vijay-dadhich09 commented on #13119
Hey Kyle, Thanks for the reply. Well is am using the following link for the registry registry=https://nexus.mgmt-bld.oncp.dev/repository/npm-proxy/ and building an image using 10-alpine_955e0e1f1a41. So what is the solution for this? If I manually change use-subscription to 1.1.1 version in the package-lock file then error goes out but I can't edit package-lock manually as you know. So what is the

[2020-05-20 13:33] ferezoz commented on #8893
@mattgabor then just set the flag directly as:
[code]
And delete:
[code]
That way you could still use NODE_ENV.

[2020-05-20 13:39] jensmeindertsma commented on #13117
This probably should be converted to using the build in CSS support, I'll submit a PR.

[2020-05-20 13:54] jamesmosier commented on #13109
So you are looking for component scoped scss?

[code]

`app.module.scss`

[code]

[2020-05-20 14:14] sophiekoonin commented on #12861
FWIW, I think this might be because the build manifest contains a reference to the source map - another approach could be to make sure that when the build manifest is created, we're not including `*.map` files in the `_polyfills` section.

[2020-05-20 14:19] Timer commented on #13027
Closing as duplicate of above

[2020-05-20 14:19] #13027 closed

[2020-05-20 14:24] wilmervanheerde opened #13136 "Webpack SSR bundle differs from client-side bundle using module replacement"
## Describe the bug

Using a module replacement plugin, similar to Webpack's [NormalModuleReplacementPlugin](https://webpack.js.org/plugins/normal-module-replacement-plugin/), the replaced modules appear only in the client-side bundle and not in the server-side bundle.

This causes the application to display wrong components on the SSR output which then gets replaced when client-side JavaScript ta

[2020-05-20 14:34] maotora commented on #12784
Few issues go viral!

[2020-05-20 14:39] thadwoodman commented on #13104
@Timer sure! I'm trying to troubleshoot an error I'm getting on worker in my local dev environment:

[code]

After some Googling it seems like this is related to React Refresh and I only started seeing this error after upgrading to Next.js 9.4. I should note that there are other people on my team using the same build and not getting this error.

I was just looking for an easy way to turn off Fast

[2020-05-20 14:45] timneutkens commented on #13136
Not sure what you're trying to achieve exactly but node_modules are not passed through webpack for the server-side.

[2020-05-20 14:50] wilmervanheerde commented on #13136
Hmm, is there a way to include them? Package X exports component Y, with the replacement plugin we want to replace Y with our own component. Component Y is being referenced by other components in package X and those references are updated with this plugin.

[2020-05-20 14:50] leokun opened #13140 "NextCSS for _document.js"
# Feature request

## Is your feature request related to a problem? Please describe.
I have some issue with css load order into `<Head />` component. My project has some external dependencies I assume to be able to use `link` element into `Head` component.
However we don't have any control on the order and some time as module css I need to write a lot of `!important` to override those links elemen

[2020-05-20 14:58] mattgabor commented on #8893
I see, thanks @ferezoz. I thought always disabling dev mode would prevent hot reloading or source maps when running `next dev` but it seems not to. What does dev mode actually do then? The docs just say `dev (bool) whether to launch Next.js in dev mode - default false`

[2020-05-20 15:02] thadwoodman commented on #13104
@Timer looks like issue persists even when I use downgrade Next.js to 9.3, so probably not an issue with Fast Refresh.

[2020-05-20 15:04] amiralies commented on #13104
Okay, workaround for reason-react (bucklescript) projects is to make an interface file (`.rei` or `.mli`) and annotate your default binding:
[code]

[2020-05-20 15:08] mlbonniec commented on #13109
Yeah, that's pretty much what I want. But isn't there a way to do this without adding the variable as a class?

[2020-05-20 15:12] xe4me commented on #10556
This is blocking our production release :(

[2020-05-20 15:14] ijjk commented on #13132
Hi, it looks like you are setting both `assetPrefix` and `basePath` to the same path [here](https://github.com/robertovg/next-base-path-example/blob/a8fd7cde020551a4d19f272941f217b8abd113a3/next.config.js#L5-L70). You only need to set `basePath` in this case since `/_next` requests will automatically be prefixed with the `basePath`

[2020-05-20 15:21] tafelito commented on #9081
silly question but what's the difference of doing a redirect in Next compared to doing it on Now (if using vercel as hosting)

[2020-05-20 15:52] DrUNE commented on #13132
Hi, I think this is related problem https://github.com/zeit/next.js/issues/11992#issuecomment-621974763 here basePath used instead assetPrefix. Problem surface when basePath and assetPrefix used at the same time in the project for generating SSG for example for static site which need basePath for routing prefixes and the same time all static assets should be hosted on another domain or CDN

[2020-05-20 16:26] pranaypratyush commented on #11897
I just wanted to mention that I come from gatsby and I tried next.js a week ago and I had assumed this behavior as well. Plus it seems that grapqhl packages like `next-apollo` or `next-urql` all disable Automatic Static Optimisation. (Like what?). Shouldn't it be the default behavior for all "non-nextjs" API calls to be from the client? The other 2 options should be:
1. The API output is inlined i

[2020-05-20 16:34] gauravkrp commented on #7322
Here is one viable solution -  https://github.com/zeit/next.js/issues/7322#issuecomment-623491977

[2020-05-20 16:36] bravokiloecho opened #13149 "Helper for animated page transitions"
# Feature request

## Is your feature request related to a problem? Please describe.

I would like the ability to animate between pages, with either CSS transitions or with hooks for JS to use.

## Describe the solution you'd like

Basically what nuxt does: https://nuxtjs.org/api/pages-transition/

## Describe alternatives you've considered

There is third party solution (https://www.npmjs.com/pac

[2020-05-20 16:52] pranaypratyush opened #13152 "Ability to opt in/out of Incremental Static Regeneration on a per route basis on dynamic route group"
# Feature request
Ability to opt in/out of Incremental Static Regeneration on a per route basis on dynamic route group
## Is your feature request related to a problem? Please describe.
When `getStaticProps` is used in combination with dynamic routes we need a method `getStaticPaths` that returns `{paths: [{params:{...}], fallback: true|false}` but I want to be able to choose ISR on a per path basi

[2020-05-20 16:59] robertovg commented on #13132
Yeah, but in our real case, we are routing this next.js application through `Traefik` through the same `base_path`, and we need both the app and the assets to be served inside the same base_path.
That's why we need to change both.

[2020-05-20 17:01] willwill96 commented on #8295
Anyone have a working solution to this? Putting debugger statements for every breakpoint is pretty annoying

[2020-05-20 17:30] designbyadrian commented on #13132
I'm having the same issue without setting assetPrefix. I'm trying to narrow down the problem.

[2020-05-20 17:38] joneswe opened #13154 "Flutter Support"
It would be nice to have flutter support in future
Or somehow a next for flutter

[2020-05-20 17:53] smurrayatwork commented on #12079
For anyone else that's trying to use this with dart sass' js implementation for things like `@use` support and sass modules, if you have -any- other node module that has a dependency on node-sass, the default next setup will use node-sass instead of sass. Locally I've fixed it by doing the following:
[code]

You'll then need to import your scss files in `_app.js`.

[2020-05-20 17:55] smurrayatwork commented on #13109
For anyone else that's trying to use this with dart sass' js implementation for things like `@use` support and sass modules, if you have -any- other node module that has a dependency on node-sass, the default next setup will use node-sass instead of sass. Locally I've fixed it by doing the following:
[code]

You'll then need to import your scss files in `_app.js`.

[2020-05-20 17:55] smurrayatwork commented on #11610
For anyone else that's trying to use this with dart sass' js implementation for things like `@use` support and sass modules, if you have -any- other node module that has a dependency on node-sass, the default next setup will use node-sass instead of sass. Locally I've fixed it by doing the following:
[code]

You'll then need to import your scss files in `_app.js`.

[2020-05-20 17:59] #13136 closed

[2020-05-20 18:00] Timer commented on #13152
You can choose this in the return value within `getStaticProps`.

[2020-05-20 18:35] ajhool opened #13157 "Support for SSR only on the first page load, with SPA for every navigation after that."
# Feature request

## Is your feature request related to a problem? Please describe.

Next does not really feel like a SPA because each page requires a full refresh and reloads the app bar, drawers, etc. Additionally, it is not as fast as an SPA because each new page requires a request to the server.

## Describe the solution you'd like

The only reason that we use SSR is for search engine indexin

[2020-05-20 19:01] jensmeindertsma commented on #13092
I've now noticed that this was already a problem in 9.3.6. I haven't tested earlier versions. ( I only just started using CSS Modules )

[2020-05-20 19:44] Timer commented on #13157
Could you please share a demo? Your request is exactly how Next.js already works.

Pages are server-side rendered (or prerendered), and then your application turns into a full SPA.

It sounds like you might be using the framework wrong.

[2020-05-20 20:14] xedef commented on #9830
@mcyleung mind sharing your config?
I'm using `with-ant-design-less` example config and @i-tengfei solution but I still have the same problem

[2020-05-20 20:41] nicholaschiang commented on #12735
Hey @Timer it looks like you should update this as well:

And I'd love it if you could shy away from being opinionated like this:

Some of us (e.g. @tvandort and I) really like seeing the errors as soon as they come up. You should add an option (and document it) to turn them back on.

[2020-05-20 22:43] gauravkrp opened #13168 "SSR and SSG pages when browsed with a trailing slash results in 404"
# Bug report
I'm using Next 9.4 for my website - https://accessgatelabs.com
All pages are SSR and SSG at build and when they are browsed with a trailing slash are resulting in 404

## Describe the bug
On home page - https://accessgatelabs.com , when you click about page link your are redirected immediately (thanks to <Link> preloading) to https://accessgatelabs.com/about
But when you try to access

[2020-05-20 23:07] Izhaki commented on #4571
All seems to work out of the box with 9.4.

I couldn't even debug on chrome with 9.3.

VScode lunch config:
[code]

[2020-05-20 23:14] willianjusten commented on #12964
@mvfsillva and I were removing some examples, we pushed on #13169 and he's going to take the rest after =)

[2020-05-20 23:15] stevez86 commented on #12851
Looking into this further, it's not just for params in a dynamic folder. It happens with nested pages as well. Here's my workaround:

[code]

[2020-05-20 23:17] DavideDaniel commented on #8818
Sure, but if you are using other components inside that tree that also use dynamic loading and are lazy loading other components the code splitting should naturally have separate chunks which wouldn't be needed for the initial entry.

[2020-05-20 23:19] apyrkh commented on #12854
The issue is still actual

[2020-05-20 23:41] luciovilla opened #13171 "Telemetry runs before reading .env files with `next export`"
# Bug report

## Describe the bug
When running `next export` Telemetry runs before .env files are loaded

## To Reproduce
1. create `.env` file and add `NEXT_TELEMETRY_DEBUG=1`
2. run `npx next export`
3. terminal never prints Telemetry debug data prefixed with [telemetry]

## Expected behavior
Expected, just like when running `npx next dev` and `npx next build`, for terminal to print Telemetry de

[2020-05-21 00:16] arnaudpeich opened #13174 "BSON serialization from getServerSideProps"
# Feature request

## Is your feature request related to a problem? Please describe.

`getServerSideProps` has been a huge help, and it would be an even bigger one if it allowed us to return objects containing BSON, for instance results from a query to a MongoDB database.

## Describe the solution you'd like

I would like the serializer that's called at the end of `getServerSideProps` to handle BS

[2020-05-21 00:27] arnaudpeich commented on #13174
Ok I just realized that the serializer on the API routes was just `JSON.stringify`.

So for instance in my case this works:

[code]

but this doesn't:

[code]

It would be nice if we could use the second syntax :)

[2020-05-21 00:40] mxa0079 commented on #13057
If we could get some guidance on where to start with this issue, we would love to start contributing to next.js. Disclaimer: I am part of the same team as @Glomels

[2020-05-21 00:54] stevez86 commented on #12935
@timneutkens Also getting this as seen in this issue (repro also included down the comments):

https://github.com/zeit/next.js/issues/12851

[2020-05-21 03:38] Hewlbern opened #13179 "react-table won't load with next.js"
# Bug report
index.js:1 The above error occurred in the <div> component:
    in div (at Table.js:33)
    in Table (at pages/index.tsx:157)
    in div (at pages/index.tsx:153)
    in div (at pages/index.tsx:132)
    in div (at pages/index.tsx:128)
    in div (at Layout.js:21)
    in div (at Layout.js:14)
    in Layout (at pages/index.tsx:127)
    in index (at _app.js:8)
    in MyApp
    in Containe

[2020-05-21 04:48] jamesmosier commented on #13179
Could you provide a repository with a code sample?

Also what version of react-table are you using?

[2020-05-21 06:15] bhaveshpatel200 commented on #4182
Hello,
I have a context provider file below and _app.js file.
i want access 'AppContext' in '_app.js' file.
can any one help me, how can i access the 'AppContext' in '_app.js' file.

Context file
----------
`import React, { createContext, useState } from 'react';

export const AppContext = createContext();
let timeout = null;

const baseURL = "api/v1/";
const headers = { 'Accept': 'application/jso

[2020-05-21 06:24] alexypdu commented on #9851
Upgrading to `next@9.4.2` fixes the issue on `iOS 10.2.1`.

[2020-05-21 06:57] pranaypratyush commented on #13152
One `getStaticProps` is common for one dynamic group. Then how can we do that there?

[2020-05-21 07:24] chemicalkosek commented on #9830
@xedef which problem?

[2020-05-21 07:56] nenjamin2405 commented on #5214
I think @ronyeh had made a really good point here, so I really want an official solution for this issue :(

[2020-05-21 08:36] maxigimenez commented on #12861
Good point, as far as I saw next.js is just copying the files, not building `unfetch`, so in theory there's no control if the "sourceMappingURL" is on place or not

[2020-05-21 08:51] jensmeindertsma commented on #13092
Further investigation: this can be fixed by moving the `import styles from "./index.module.css" to the bottom of the imports in the page file:
[code]
Perhaps Next.js could detect default imports from "<filename>.module.<css,scss>" files and move them to the bottom of all the import statements in the file?

[2020-05-21 09:06] robgraeber commented on #13058
I notice a similar issue that global css in _app.js doesn't seem to be loaded with javascript off while it's in dev mode. It makes SSR harder to test since there could be missing styles.

[2020-05-21 09:07] ryyppy commented on #13104
@Timer I am not sure if I fully understand this: So Fast Refresh will only work if my file only exports a default that is a React component, and that has a function with a name?

So exporting a default that is a React component, plus exporting some other named exports is not allowed? That's essential what a ReasonReact module file would do

[code]

when transpiled to ES6 will look like this:

[cod

[2020-05-21 09:12] jensmeindertsma commented on #13092
Also, when you edit the name of the class in `Container.js` and its `.module.css` file from `.container` to `.purple` for example, it applies the styles in a new `<style>` tag that gets placed _below_ the `<style>` with the page styles. The logic that does this would also need some changes to place the new styles above the page styles so that the order stays correct.

I'd be happy to try to contri

[2020-05-21 09:21] yxwu opened #13187 "with-redux-saga example crash"
# Bug report

## Describe the bug

When using the latest version of next-redux-saga and next-redux-wrapper in package.json
[code]
The app crashes:
[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to 'http://localhost:3000'
2. crash

## Expected behavior

no crash

[2020-05-21 09:32] neupauer commented on #10061
Hi, I have the exact same issue, even in the clean Next.js starter app (`npm init next-app`, no additional dependencies)

### To Reproduce
Run `npm run dev` or `next dev` and then refresh the page few times (hit _CMD+R_ quickly, at least 10 or more times) the dev server gets stuck (requests have a `pending` status)

### System information
- OS: `macOS Catalina`, Version 10.15.4
- Version of Next.j

[2020-05-21 10:27] VuongVu commented on #13187
It not a bug, create a wrapper like the demo: [https://github.com/kirill-konshin/next-redux-wrapper/blob/master/packages/demo/src/components/store.tsx](url) and implement it in _app.js.

[2020-05-21 10:38] illuminist commented on #13157
From my experience where I misused Router and Link and it caused the app to request a page from server again.

For example:

[code]

[2020-05-21 11:59] #13152 closed

[2020-05-21 12:05] timneutkens commented on #13168
Duplicate of #5214

If you want us to prioritize features for you feel free to reach out to enterprise@vercel.com to see if we can help you with dedicated support.

[2020-05-21 12:05] #13168 closed

[2020-05-21 12:06] #13171 closed

[2020-05-21 12:18] timneutkens commented on #12735
@nicholaschiang fwiw the reason it was disabled was not that we want to force your editor to check types. It was a performance related issue, we identified that type checking made compilation approximately 10x slower. If you can figure out how to improve performance there we'd be happy to re-enable it.

[2020-05-21 12:21] #13154 closed

[2020-05-21 13:05] #13187 closed

[2020-05-21 13:11] eandre commented on #10061
I ran into this problem as well, and it was caused by an old cached service worker. I cleaned the cache completely (under dev tools -> application in Chrome) and the problem was fixed. Not sure if your problem is due to the same cause.

[2020-05-21 13:14] ijjk commented on #12935
Hi, I'm not able to reproduce this behavior as `getServerSideProps` does not trigger a server-side render of the page component for the `/_next/data` requests (see below screenshot), we purposefully return just the `props` for the page when a data request is being done [related logic](https://github.com/zeit/next.js/blob/57535b5afc3782728822576603fd48ea5539941b/packages/next/next-server/server/ren

[2020-05-21 13:23] mykolat commented on #10556
+1

[2020-05-21 14:48] dandrei commented on #12854
I confirm that the problem is still present with TS `3.9.3` and Next.js `9.4.2`.
Latest working configuration still uses TS `3.8.3`.

[2020-05-21 15:19] gauravkrp commented on #5214
This has worked for pages with getServerSideProps and now urls with trailing slashes are returning same page without 404.
But there is one glitch, I have few pages that use dynamic routes and getStaticPaths, I can't use getServerSideProps onto them and thus when these dynamic routes are browsed with a trailing slash, they first return a 404 and then they redirect to the page.

[2020-05-21 16:16] Shawan1008 opened #13196 "My website is taking 6mb for loading which is very large.How to reduce this file size or can anybody suggest me any other solution?"
I built a website using Node Js, Express, MongoDB, Recat Js and Next Js. Now the problem is when i load the website it take 5 to 6mb for loading which is very large. There are 3 files which is loaded with the website that take almost 1mb each file.Screenshot is given below indicating those files. I want to know is there any way to reduce this file size or can anybody suggest me any other option to

[2020-05-21 16:18] x5engine commented on #12079
@smurrayatwork this is hacking not coding sorry

[2020-05-21 16:20] VivekNeel commented on #7929
How did you figure this out that this is the piece of code caused this issue?

[2020-05-21 16:27] c0b41 commented on #13196
Looks like you don't use production mode

[2020-05-21 16:42] jeantil opened #13197 "Failure to resolve modules from yarn workspaces when module has rootDir/outDir"
# Bug report

## Describe the bug

In a yarn workspace based monorepo (derived from examples/with-yarn-workspace), with a typescript module which uses rootDir and outDir settings in tsconfig.json and  path aliases in the shared tsconfig.json config.
Next fails to resolve the module even though the tsc build works fine.

## To Reproduce

clone the [reproduction repository](https://github.com/jeanti

[2020-05-21 16:59] andrescabana86 commented on #5214
I am working with an /api/test folder
* pages/api/test.tsx
* pages/api/test/[id].tsx

it works for
* GET /api/test
* GET /api/test/123
* GET /api/test/123/

and I just discovered that this doesn't work
* GET /api/test/

not sure if this is related issue

[2020-05-21 18:03] #13179 closed

[2020-05-21 18:19] Hubro commented on #4381
I want to be able to temporarily disable server side rendering so I can debug a crash in my browser with dev tools rather than trying to figure out from the dev server log what happened. Installing a new dependency and wrapping my code in a new element seems like an excessive requirement to achieve this :/

I just want something like `next --no-ssr` until I'm done debugging the error, then I remov

[2020-05-21 18:26] tomasfrancisco commented on #7929
Interesting enough, looking at this code again I actually see another
problem. Icon is a component and inside of Icon I was referencing the Icon
itself.

The way I figure it out was mostly by isolating component by component and
try to reproduce the issue till I find out which component was provoking
that.

On Thu, 21 May 2020 at 18:20, Vivek_Neel <notifications@github.com> wrote:

--
Sent from my

[2020-05-21 18:43] james2406 commented on #9081
Has anyone been able to update response headers when targeting serverless? It doesn't seem to work for me with the following configuration:

[code]

The local server response displays the headers specified:
<img width="682" alt="Screenshot 2020-05-21 at 19 33 06" src="https://user-images.githubusercontent.com/10858584/82593342-46019880-9b9a-11ea-8534-ffc4199c9614.png">

However, you can see the li

[2020-05-21 18:53] neo commented on #7936
@Timer do you mind sharing some update about this? 😳

[2020-05-21 19:22] impactcolor opened #13200 "Link not functioning on existing pages"
Next 9.3
Currently when I attempt to link to a page inside my pages directory, it does not work.  In example
The following code:
[code]
Should go to the page located in /pages/products.js but it does not.  The url appears to change to localhost:3000/products but nothing gets loaded.  When testing with this:
[code]
It gives 404 because testMe does not exist.  It appears when the page does exist tha

[2020-05-21 20:48] elderapo commented on #12891
It would be nice if `next.js` automatically generated/set names for defaultly exported arrow function pages.

For example:
[code]
could automatically be named: `Home`/`HomePage`.

[2020-05-21 21:47] Eduardogbg commented on #10298
I'm getting "ReferenceError: next is not defined" as a runtime error. Using next 9.4.1 and yarn v2

[2020-05-21 21:47] Journerist commented on #2252
In the last days I also thought about the topic. I have a use case where I need the country of a visitor. I get the country by his IP that is only available via a header variable, but never on the frontend part, on a normal route change.

So I wonder if there could not be an abstraction from Nextjs that takes care. My implementation uses cookies like a cache. the data is calculated  on the server

[2020-05-21 22:37] Izhaki opened #13203 "Webpack's require with expression throws"
# Bug report

## Describe the bug

When using Webpack's [require with expression](https://webpack.js.org/guides/dependency-management/#require-with-expression) like so:

[code]

It throws with:

[code]

## To Reproduce

[code]

`/pages/index.js`:
[code]

[code]

## Expected behavior

This should work.

## System information

- Version of Next.js: 9.4.2 (9.3.6 also fails)
- Version of Node.js: 10.1

[2020-05-21 22:40] Izhaki commented on #13203
Hmmm... This fails with webpack only after running `main.js`.

So not a next issue.

[2020-05-21 22:40] #13203 closed

[2020-05-21 22:51] Itzik7 commented on #10084
As a workaround you can use dynamic page `[page` and switch case on pages names in utf8 pages name.

[2020-05-21 23:43] derskeal commented on #13058
@robgraeber I have the exact issue you do. The CSS is being compiled into _app.js instead of a separate css file.

[2020-05-22 00:27] nummi commented on #12717
Also running into this issue:

[code]

In `getStaticPaths`, I filter out index.

[code]

[2020-05-22 00:43] mrtillman commented on #1852
@stephankaag

yes, something like this worked for me:

first create a middleware to handle the crash reporting. I've wrapped `Sentry` inside the `CrashReporter` class because simply returning `Sentry` will not work (i.e. `req.getCrashReporter = () => Sentry`).

[code]

next, of course, load the middleware into your app before the Next.js request handler is set:

[code]

then wherever you call `get

[2020-05-22 01:19] jamesmosier commented on #13200
Could you provide a repository that reproduces this? I wasn't able to reproduce with the steps you outlined.

[2020-05-22 03:13] JakeCooper opened #13209 "getServerSideProps Fails to Serialize Date Object"
# Bug report

## Describe the bug

When passing a date over the getServerSideProps boundary, it fails to serialize the Date object. Dates are serializable, so they should be allowed through.

## To Reproduce

Attempt to pass a date time through the API, like so

`page/index.tsx`

[code]

## Expected behavior

Serializing occurs just fine

## Screenshots

See Stack Trace

## System information

- O

[2020-05-22 04:21] normancapule opened #13210 "React `useEffect` is not working after exporting a dynamically generated page"
# Bug report

## Describe the bug

For dynamically generated pages, the logic inside a `useEffect` hook is not being executed.

This was observed ONLY after exporting the app via `yarn next export`.

When creating a dynamically generated page, we followed these tutorials:
https://nextjs.org/docs/routing/dynamic-routes
https://nextjs.org/docs/basic-features/data-fetching#getstaticpaths-static-gener

[2020-05-22 04:47] andrewmclagan commented on #8101
There is still an unanswered question around dynamic routing and shallow routing.

Say we start on the following page
[code]

Then we route to another blog post:
[code]

This does not trigger shallow routing, the browser refreshes, why?

[2020-05-22 06:05] Giorat opened #13215 "getStaticPaths 404 on local "dev", working with build or on Vercel"
# Bug report

## Describe the bug

I can't access the basic routes inside a dynamic named folder on "dev" but it works on a build.
I can't access the "/en/" and "/it/" page that should be generated from this file:
- https://github.com/Giorat/nextjs_routing_issues/blob/master/pages/%5Blang%5D/index.js
But I can access all the children of "it" and "en" folder correctly.

I'm trying to test out a sim

[2020-05-22 06:50] CallmeHongmaybe opened #13216 "Attempt to catch all routes with ...slug but returns 404 error"
# Bug report

## Describe the bug

I put a Link tag to a function component and and if I ever click on this I got a 404 error: Page does not exist

    <Link href="/list/[...slug]" as={`/list/${type}/${country}`}>
              <div className="..."> See full list </div>
    </Link>

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Created a "list"

[2020-05-22 06:56] #13200 closed

[2020-05-22 06:58] #13210 closed

[2020-05-22 08:50] jensmeindertsma commented on #13092
This can be fixed by moving the import from a CSS file to the end of the import statements in the file. In development, the styles are separated over multiple `<style>` tags. They look like this ( actual order ):
[code]
In production, these styles are combined into one stylesheet:
[code]
As you can see, there is a difference in order. This causes the inconsistency across environments with CSS.

I'

[2020-05-22 08:58] DodoTrip opened #13218 "Using Dynamic Routing with SSR denies SPA functionality causing a full reload"
# Bug report

## Describe the bug
Following the tutorial and the documentation i tried to create a project with dynamic routing. and SSR.I started by doing a `getServerSideProps` to get the data in the `pages/index.js`

[code]

then i insde the return i created my navigation markup using 3 different ways to test
[code]

then i created a pages/posts/[id].js and a pages/posts/noPageReload.js file an

[2020-05-22 09:16] Regaddi opened #13220 "Initial router.query is empty when URL query is set"
# Bug report

## Describe the bug

When using the parsed `query` object from `useRouter` the initial value is always `{}`.
When a next.js app is opened with URL query parameters it should instead return the correct query, otherwise some IMO unnecessary state logic has to be built around.
I would imagine that it should be possible to read and parse the URL query before first render, so that `useRou

[2020-05-22 09:28] timneutkens commented on #9754
Closing as per https://github.com/zeit/next.js/pull/12576#issuecomment-632594664

[2020-05-22 09:28] #9754 closed

[2020-05-22 09:36] yogeshkotadiya commented on #13218
For Dynamic pages to work with Link, You have to provide the exact filesystem path to `href`.
For Example: if you created a dynamic page under `pages/posts/[id].js` then your Link component would looks like this,
[code]

[2020-05-22 09:43] DodoTrip commented on #13218
You saved the day i struggle with this 2 days thank you!

[2020-05-22 09:43] #13218 closed

[2020-05-22 09:46] ematipico commented on #7929
As far as I understood, Next.js (since v9.0.0) is not able to optimize the memory of large web applications. Our build process hits the memory limit when it starts to compile the server side part of the project.

During development mode, the local server is fine initially but after some time the allocated memory blows up and the memory heap error shows up.

Could someone from the core team please

[2020-05-22 09:55] illuminist commented on #13220
https://nextjs.org/docs/api-reference/next/router#router-object

[2020-05-22 10:03] timneutkens commented on #7929
I've asked you multiple times on this thread to provide a full reproduction or provide your application. We can't analyze anything in your particular application to track down the issue in your application.
We've changed sourcemap generation in 9.4 btw so you should definitely upgrade to the latest version.

FWIW cases like https://github.com/zeit/next.js/issues/7929#issuecomment-618297553 are inf

[2020-05-22 10:04] #13220 closed

[2020-05-22 10:05] Onibenjo commented on #13157
and to avoid full refresh of the appbar and drawers, you could create a custom app and wrap the layout component over the page component

[code]

[2020-05-22 11:02] ematipico commented on #7929
Other people have provided repositories here since I opened the issue. That's why the issue was reopened and that's why it doesn't have the label that says it requires a repository to reproduce the issue.

- https://github.com/zeit/next.js/issues/7929#issuecomment-529756317

Ever since it was left opened

I can't provide a repository because the web application belongs to my client and the source

[2020-05-22 11:32] Sletheren opened #13225 "getStaticProps doesn't work with a custom _app.js"
# Bug report

## Describe the bug

I have a project in NextJS and I upgraded lately to `9.4.2` to use the new functionalities of SSG.
I'm using a custom _app with `getInitialProps` because I need some data that I pass from my `server.js`

When I tried to add a new page with `getStaticProps` it seems that nothing is returned in the props.

I read some issues opened lately, and it seems that it's so

[2020-05-22 11:58] tipra34 opened #13228 "website with csp header require-trusted-types-for 'script' don't work after release of chrome 83"
# Bug report

## Describe the bug

script loading does not work for site with csp header require-trusted-types-for 'script' don't work after release of chrome 83.

this disables assigning of script.src to unsafe url (non trusted types)
[bug location] (https://github.com/zeit/next.js/blob/7eaf9b8bab4e93b891be89704399644eafe70e21/packages/next/client/page-loader.js#L265)

## To Reproduce

Steps to r

[2020-05-22 12:04] robgraeber commented on #13157
Here's a blog post with all the ways to have shared layouts that persist between pages: https://adamwathan.me/2019/10/17/persistent-layout-patterns-in-nextjs/

[2020-05-22 12:09] timneutkens commented on #7929
[code]

The reproduction can't be executed, hence why I asked every single person that reported here to *also* provide a reproduction to avoid cases like this. Also the potential for these issues to be 100% the same is quite low.

Sourcemaps are always enabled in development, we switched to eval source maps though.

I re-opened it because more reports kept coming in and I kept asking for reproduct

[2020-05-22 12:36] #7929 closed

[2020-05-22 13:01] jbsmith731 commented on #13225
#12434

[2020-05-22 13:31] zvictor opened #13230 "Multiple viewport meta tags"
# Bug report

## Describe the bug

Custom viewport meta tags in the `_document.js` page are ignored by the browser because next.js pushes it's own viewport meta tag without checking if any exists already. As a result, we end up with this:

[code]

I could trace the problem down to this part of the code:

https://github.com/zeit/next.js/blob/86160a5190c50ea315c7ba91d77dfb51c42bc65f/packages/next/ne

[2020-05-22 13:53] aorsten opened #13231 "IE11, development, HMR: Object doesn't support property or method 'attachShadow'."
# Bug report

## Describe the bug

Basically the nextjs page bugs in IE11 development with the following message.
[code]
It seems related to development hot module reloading. Somehow the `/_next/webpack-hmr` route is caught by express. I have by the way seen similar bugs when using custom routes in pure nextjs pages previously. Unsure if this is related.

## To Reproduce

Steps to reproduce the be

[2020-05-22 14:52] dohomi commented on #10313
This happens to my `http://localhost:3000/` environment on Storyblok. Is there any possibility that the integration of Storyblok and NextJS can be improved?

[2020-05-22 14:57] dohomi commented on #11356
I am using a SSR route now but on local environment this does not work at all:
[code]
This seems for me like a bug in the new version of NextJS (v. 9.4.x)

[2020-05-22 15:16] dohomi opened #13236 "SSR and SSG catchAll: Error was not caught DOMException:Failed to read the 'localStorage' property from 'Window'"
# Bug report
Error appears using NextJS 9.3 / 9.4.x with a combination of catch all routes and SSG + SSR

## Describe the bug
I'm using Storyblok and for making the IFrame render working I use a catchAll route with SSR. But the normal routes are rendered via SSG catchAll route. After newest update on localhost I receive following error which prevents the website to render at all:

[code]

## To Re

[2020-05-22 15:17] dohomi commented on #13236
The error seems to be related to the triangle SSG build on the bottom right corner. But as the page renders in SSR it seems there is a mistake in the bundle client/server side happening

[2020-05-22 15:22] dnaranjo89 commented on #13058
Same issue here.
I've created a minimum example reproducing this issue: https://github.com/dnaranjo89/next-css-ssr

[2020-05-22 16:33] jmyager commented on #10965
@robertsiipola Hey there, thanks for taking the time to reply. I ended up using another solution, but I did have the hashtag in the .env file, that was likely my issue. Apologies for any confusion with the original issue here. Thanks!

[2020-05-22 16:35] tafelito opened #13237 "Preview Mode does not work with fallback false with PrismicCMS"
# Bug report

## Describe the bug

When using SSG with fallback false, If I create a new document in PrismicCMS and try to preview it, it won't find the document and throw a 404

I'm not sure if this is by design or not. In the docs it says that having the preview cookie it will make the getStaticProps run on runtime instead of build time, but the problem is that the page doesn't actual exists whe

[2020-05-22 16:42] gauravkrp opened #13238 "Getting Flash of Unstyled Text in production mode"
# Bug report
I'm getting Flash of Unstyled Text in production mode on my website - https://accessgatelabs.com

## Describe the bug
When the website is first loaded in a browser, unstyled content flashes and then css loads. In my case you can see that header menu appears for a while when the website is first browsed.

## To Reproduce
- Using Next.js 9.4.2
- Utilizing integrated SASS options
- index

[2020-05-22 16:48] sagar-gavhane commented on #7660
This article helps to figure out why it's throwing this issue.

https://flaviocopes.com/react-fix-dangerouslysetinnerhtml-did-not-match/

[2020-05-22 17:13] #13015 closed

[2020-05-22 18:35] maccali opened #13247 "Discussions bug?"
# Bug report

## Describe the bug

My New Discussions does not apear

## To Reproduce

1. Go to 'Discussions Tab'

## Expected behavior

When i pot my Discussions and go to lis paga of Discussions my Discussions does not apear

## System information

- OS: Win10
- Browser: Opera

[2020-05-22 18:40] robgraeber commented on #13058
Also sometimes I'll edit some css in inspector and any change causes the whole page's css to be wrecked somehow. Has anyone experienced that?

[2020-05-22 18:56] #13225 closed

[2020-05-22 18:57] willwill96 commented on #8101
I just ran into this same issue and found this post, as well as the added docs by @sgmonda useful. That being said, I'm curious if removing it from the documentation was intentional or if it was moved somewhere else? I see it in the [old docs](https://nextjs.org/docs/old#dynamic-routes) but see no mention of it in the [new docs](https://nextjs.org/docs/old#dynamic-routes)

[2020-05-22 21:39] MuddyBootsCode commented on #10439
I'm still running into this:
[code]

[2020-05-22 21:59] dorian-marchal opened #13254 "Cannot export from a page with `getServerSideProps` on Next 9.4"
# Bug report

## Describe the bug

When a page exports a `getServerSideProps`, it can't "inline export" other named exports (it breaks on **dev** mode).

## To Reproduce

I don't understand why some exports work and some don't, yet, but here is a repro (repo below):

This page breaks:

[code]

But this works:
[code]

This work:
[code]

And this works, too:
[code]

These 4 pages seems to work fine

[2020-05-23 00:04] Oxicode commented on #1735
Excelente. Me ha servido mucho. Le agregué otro parámetro más

[code]

[2020-05-23 00:30] sambokai commented on #12454
@TheHolyWaffle Did you end up updating `Sentry.init(...)`? How did you access buildId in `_app.js`?

[2020-05-23 01:04] xyyolab commented on #8158
`next export` will generate all js src path like `/_next/..`, I manually changed it to `./_next/`, it's kind of confusing.

[2020-05-23 02:18] lostfictions commented on #4381
`react-no-ssr` won't help if you have side-effectful imports that rely on the DOM. But you can use next's built-in dynamic import functionality instead, and move your page root (or whatever subset of it can't run on the server) into a different file:

[code]

This works well enough for me as someone making a static site that relies on eg. WebGL and DOM APIs, but who still wants to take advantage o

[2020-05-23 03:00] Giorat commented on #13247
This issue is not related to NextJS probably is a Github problem, as you can see from the "yellow" status of Github servers: https://www.githubstatus.com/

This issue should be closed.
![image](https://user-images.githubusercontent.com/4527364/82720275-49884300-9cb2-11ea-938d-bfe077e4edb1.png)

[2020-05-23 03:45] #13247 closed

[2020-05-23 06:31] singhanadcheamontha opened #13262 "889"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

If applicable, add screenshots to help

[2020-05-23 07:38] stefl commented on #9990
I've had some success by adding a `console.log(`Building page: ${slug}`)` in `getStaticProps`

[2020-05-23 09:10] TheHolyWaffle commented on #12454
@sambokai I've created a new env variable in `next.config.js` which I passed to SentryWebpackPlugin as `release`. Then in `_app.js` I accessed that same env variable to use when calling `Sentry.init(...)`

[2020-05-23 09:24] timneutkens commented on #10439
[code]

This should solve your case, but you can now disable the warning also: https://nextjs.org/docs/api-routes/api-middlewares

[code]

[2020-05-23 10:00] vijaynandwani commented on #7923
@XOKP I cleared the cookie this way

[code]

[Source](https://stackoverflow.com/a/5285982/1376440)

[2020-05-23 10:09] jmaister commented on #12269
I did some workaround using 'dotenv' package. Same as Next.js does internally.

First install dotenv:

    yarn add dotenv

Then add the config reading into my custon server.js

    const dev = process.env.NODE_ENV !== 'production';

    const dotenv = require('dotenv');
    dotenv.config();
    if (dev) {
        dotenv.config({path: '.env.development'});
    }

    const PORT = process.env.FC_PO

[2020-05-23 10:19] #13262 closed

[2020-05-23 10:20] timneutkens commented on #12269
dotenv is already automatically supported when you run `next()`, closing this as the new environment support sort of covers it: https://nextjs.org/blog/next-9-4#new-environment-variables-support

[2020-05-23 10:20] #12269 closed

[2020-05-23 10:43] jensmeindertsma commented on #13092
@Timer I rewrote the issue as it wasn't that clear previously.

[2020-05-23 10:53] mladendinev commented on #13209
You have to cast to String first.

[code]

[2020-05-23 10:57] wereHamster opened #13265 "Make build stats machine readable"
# Feature request

## Is your feature request related to a problem? Please describe.

The `next build` command prints the sizes of the page JS code to stdout This is very useful to see, but that information is not easily accessible to other tools for further processing. In particular, I'd like to save those numbers in a database and track them over time.

## Describe the solution you'd like

The `

[2020-05-23 11:06] krish-dev opened #13266 "Dynamic Import with no SSR not excluding module while target = 'serverless'"
# Bug report

## Describe the bug

While target set as serverless, Dynamic Import with no SSR does not reduce the size of the lambda page, even it increases the size than normal import.

## To Reproduce

I have prepared a POC, here is the [repo link](https://github.com/krish-dev/bug-poc-nextjs-dynamicimport)

Referring to the _app.js file and Layout (`src/components/Layout`) considered as importab

[2020-05-23 11:46] thomasledoux1 opened #13267 "Callback after router navigation scroll to top"
# Feature request

## Is your feature request related to a problem? Please describe.

I created a website where you have a Link component which goes to a new page (in /pages directory).
By default the page scrolls to top, this is fine by me.
But I would like to trigger some animations _after_ the scrolling is finished.
I read the docs and could not find a way to do this?

## Describe the solution

[2020-05-23 11:53] slava-lu opened #13268 "Disable Fast Refresh"
How can I revert back to the old (9.3 ) HMR in 9.4? Is there any config parameter?
It looks like fast refresh does not work very well with third party design systems like e.g. baseweb

[2020-05-23 12:14] timneutkens commented on #13266
It's expected that the serverless target combines dynamic imports into the bundle otherwise the bundle can't be executed.

[2020-05-23 12:47] #4571 closed

[2020-05-23 12:47] #8295 closed

[2020-05-23 12:47] #7294 closed

[2020-05-23 13:37] #11617 closed

[2020-05-23 14:49] tomduncalf commented on #10933
Oh man, this is a shame, makes my use case much more complicated (assumed state in a "store" class would be preserved in a single client side session as you navigate between pages, but actually the store gets recreated when you navigate to a page generated by `getStaticPaths`). Any way to disable the worker thread, or approach this in a different way? Having to serialize the client state into Loca

[2020-05-23 14:59] tomduncalf commented on #10933
Actually, am I doing something wrong here? My site can be entirely run as SSR, and if I browse the exported site (just served from a web server, no Next.js server), I can see that when I navigate between non-`getStaticPaths`-generated pages, the browser just loads the extra bits of JS, as expected, but if I navigate to a `getStaticPaths`-generated page, the browser does a full reload of the page,

[2020-05-23 15:52] bragle commented on #3322
I've created an RFC for this issue: #13276

[2020-05-23 16:33] tomduncalf opened #13278 "Navigating to pages dynamically generated by getStaticPaths causes a full page reload"
# Bug report

## Describe the bug

Navigating to or between pages whos routes are generated dynamically by `getStaticPaths` causes a full page reload, resulting in UI state being lost and the page load taking longer than navigating to a page generated with a static route. This occurs in all modes (dev, build + serve, export) from what I can tell.

At first I thought this might be related to https:

[2020-05-23 17:10] Danetag opened #13279 "Separate node_modules from src in chunks"
# Bug report

## Describe the bug

Not sure this is actually a bug, but when I'm looking at the bundle analyzer results, some of my chunks include both node_modules and src code... I guess it's the result of the GranularChunks, but anyway to separate those into 2 chunks?

## To Reproduce

N/A

## Expected behavior

More chunks are created to separate the node_modules modules from the src component

[2020-05-23 17:36] tomduncalf commented on #13278
D’oh, just seen https://github.com/zeit/next.js/issues/7892, seems I am using the Link tag incorrectly, it needs the `as` parameter for dynamic links 🤦‍♂️ Did find it hard to believe something so fundamental was broken! I’ll leave this here in case others search for it.

[2020-05-23 17:36] #13278 closed

[2020-05-23 17:37] tomduncalf commented on #10933
I was doing something wrong heh, dynamic links need both `href` and `as`

[2020-05-23 17:52] HaoFu1103 commented on #10112
Did you solve the issue, I am having same issue and no clue.

[2020-05-23 18:03] yomed commented on #10912
Should be fixed via https://github.com/zeit/next.js/pull/12277

[2020-05-23 18:39] followbl opened #13281 "React Suspense Triggers Unexpected HTML Server => Client"
# Bug report

`Warning: Did not expect server HTML to contain a <ul> in <div>.`

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to [sandbox](https://fddrf.sse.codesandbox.io/)
2. Open console
3. See Error

here's the editable sandbox link - https://codesandbox.io/s/new-haze-fddrf
## Expected behavior

No warning to be triggered

## Additional

[2020-05-23 18:53] StarpTech opened #13282 "Allow importing CSS modules from other NPM packages"
# Feature request

Allow importing CSS modules from other NPM packages.

## Is your feature request related to a problem? Please describe.

An NPM package is the primitive of code sharing. It feels really odd that I can't distribute and import my React component. It should be possible to add packages that follow the CSS modules convention `*.module.(css|scss)` because the order is guaranteed in th

[2020-05-23 19:03] ztanner commented on #13254
I can confirm a similar behavior when exporting from a page that makes use of `getStaticProps` & `getStaticPaths`. Here's my minimal repro: https://github.com/ztanner/dynamic-route-bug

Specifically:
https://github.com/ztanner/dynamic-route-bug/blob/master/pages/collections/%5Bcollection%5D/index.js#L3-L6

In my case, this works in 9.4.0 but breaks in 9.4.1 & 9.4.2.

[2020-05-23 19:17] Danetag commented on #6931
Any update on this one? Core-js takes an awful lot of space in my bundles, included in the same chunk as some `src` code:

<img width="565" alt="Screen Shot 2020-05-23 at 3 15 55 PM" src="https://user-images.githubusercontent.com/810008/82738780-56378600-9d08-11ea-99fd-a1aa58fc3696.png">

Thanks!

[2020-05-23 20:18] karlas opened #13286 "next export does not work well with getStaticPaths"
## Describe the bug

When exporting a project which uses getStaticPaths, js files under out/_next/static/BUILD_ID/pages have the original dynamic filename, like "[id].js". Therefore on browser it causes a 404 error since its requesting "1.js", "2.js", etc... (the param name). HTML pages (1.html, 2.html...) are correctly generated

## To Reproduce

I made a repo showing this case: https://github.co

[2020-05-23 21:20] LawJolla commented on #9573
Great work on the report!  I have the same issue, and can only confirm only mobile.  I'm not sure the workaround..?

[2020-05-23 21:36] ivawzh commented on #8672
Hi, @kmjennison and @benzguo . Thanks for the excellent examples. I am trying to implement Firebase Auth with

1. `getServerSideProps`
1. refresh cookie when Firebase Auth user custom claim got changed

Just wondering if you have any experience with that? Any clue will be appreciated. Thanks in advance 🙂

[2020-05-23 21:37] #13254 closed

[2020-05-23 22:32] Timer commented on #13268
Please provide reproducible code and we can figure out why Fast Refresh isn't working as intended.

[2020-05-23 22:40] Timer commented on #13209
This check is necessary as we do not serialize props on the server for performance reasons. So, this check only runs in development and has you make things serializable with scalar types, meaning they'll match exact on the client.

[2020-05-23 22:40] #13209 closed

[2020-05-23 22:50] #11910 closed

[2020-05-24 00:27] Danetag commented on #6931
Actually, using this babel config seems to resolve it:

[code]

[2020-05-24 01:54] robgraeber commented on #13058
@derskeal a workaround is to use this sass plugin and import your stylesheets via sass in your Layout component: https://github.com/giuseppeg/styled-jsx-plugin-sass

[2020-05-24 03:18] muhaimincs opened #13298 "Cannot destructure property 'finished' of '(intermediate value)' as it is undefined."
# Bug report
[code]
## Describe the bug
I just upgrade to next 9.4.2 and stumble upon this error

## To Reproduce
switch to next 9.4.2

[2020-05-24 05:12] wereHamster commented on #6931
@Danetag Do you `import "core-js";` anywhere in your project? Because if not, you are not loading the core-js polyfills at all, not even those required for the browsers which match your browserslistrc.

See the documentation for [useBuiltIns](https://babeljs.io/docs/en/babel-preset-env#usebuiltins-entry).

[2020-05-24 05:33] krish-dev commented on #13266
Base on [this documentation](https://nextjs.org/docs/advanced-features/dynamic-import#with-no-ssr) I thought ssr false will not include the module into lambda bundle

Thanks, @timneutkens for the confirmation. I'm closing this issue. However, I'm facing a large size of total bundle as requirement demands that all my pages should be SSR enabled and it crossed [AWS Lambda deployment package size lim

[2020-05-24 05:33] #13266 closed

[2020-05-24 05:39] Timer commented on #6931
This has actually been fixed! Any `core-js` present in your application is due to your application code or a dependency.

[2020-05-24 05:39] #6931 closed

[2020-05-24 05:41] Timer commented on #13286
This is due to improper usage of the `<Link>` component, see the docs here: https://nextjs.org/docs/api-reference/next/link#dynamic-routes

You'll need to use `<Link href="/[path]" as="/foo">` in your example.

[2020-05-24 05:41] #13286 closed

[2020-05-24 07:57] desmap opened #13303 "getStaticProps does not work in _app.js"
# Bug report

## Describe the bug

getStaticProps does not work in `_app.js` but only in other `pages/` files. Since this is not documented I assume it's a bug.

If this was intended but just not documented, then this should be treated as a feature request.

## To Reproduce

https://github.com/desmap/next-minirepo and check the top of the page which shows 'undefined and welcome!'

## Expected beha

[2020-05-24 08:24] karlas commented on #13286
Ouch, true... Thanks for your time

[2020-05-24 08:41] odensc commented on #12190
I believe this issue is with either Preact, emotion, or styled-components, and has nothing to do with whether a `babelrc` is present. I have other plugins in my `babelrc` that continue to work perfectly fine, meaning it is indeed reading the `babelrc` file.

[2020-05-24 09:15] Aaditya-Sahay commented on #12190
I will be inclined to agree on the fact that babelrc gets read, next-babel-loader explicitly logs after adding the file to configs set, "> Using external babel configuration"
But it still probably has to be an issue on the next side of things, as the dev server works fine, with the same config.

[2020-05-24 09:32] arnaudpeich commented on #13282
Have you tried [next-transpile-modules](https://www.npmjs.com/package/next-transpile-modules)?

[2020-05-24 09:58] StarpTech commented on #13282
Hi @arnaudpeich thanks for the workaround. With this issue I'd like to request first-class support in Next.js. `next-transpile-modules` is a great example that the decision to block any `css,scss` isn't the right way.

[2020-05-24 10:03] correttojs commented on #12935
following the code you suggested I found a place where `isDataReq` prop is not sent to the `renderToHTML` function. That seems the cause of the issue, as `getServerSideProps` works as expected on the [PR](https://github.com/zeit/next.js/pull/13305) I opened

[2020-05-24 10:24] desmap commented on #13303
Just found this https://github.com/zeit/next.js/discussions/10949 where it's stated that this is an initial restriction for getServerSideProps. Not clear why getStaticProps is also restricted since it doesn't affect the app at run-time.

[2020-05-24 11:46] dantman commented on #1632
I find the lock-in to a vendor specific routing library that does not share an underlying implementation with any major routing library to be extremely concerning.

I recently did a review of Next.js to evaluate whether it should be used as the base for the common core shared between a number of frontend applications being built for our current client. While Next.js has potential; this router is o

[2020-05-24 12:18] laurencefass commented on #1632
@dantman may i ask what did you choose for Next.js alternative. Assuming you needed server side rendering.... I have been trying out After.js maybe it can provide some inspiration/ideas how to implement in Next.js if not being supported by zeit.

[2020-05-24 12:35] timneutkens commented on #6931
https://github.com/zeit/next.js/issues/6931#issuecomment-633158748

FWIW don't make these changes unless you know the exact semantics of how it works, by adding this it adds every core-js polyfill needed into the bundle sent to all browsers which is not needed as Next.js automatically polyfills older browsers covered by that setting and only loads that polyfill JS in browsers that don't support `<

[2020-05-24 12:36] timneutkens commented on #13266
Sounds like you're using the serverless target incorrectly and bundling pages together in a non-deterministic way. The serverless target was initially designed to only be 1 page = 1 lambda. We're going to change the way the serverless target works soon though but you'll still have to figure out how to not overfit lambdas if you're deploying them in this way.

[2020-05-24 12:38] #13298 closed

[2020-05-24 13:11] krish-dev commented on #13266
[The repo](https://github.com/krish-dev/bug-poc-nextjs-dynamicimport) shared with you in "reproduce" section. This is a very minimum setup, only I did Apollo configuration. It having only 2 pages. But it generates 1page = 1lambda size around 1.2 MB. It will take hardly 5 min to check it out. Please let me know if I made anything incorrectly for the target serverless.

[2020-05-24 13:19] pix2D commented on #9081
I have this rewrite:  `{ source: '/next/:locale(de|es|fr)', destination: '/next' }`

When I'm on `/next` if I navigate to `/next/de` with a <Link> it works but with a browser reload. If from there I navigate to `/next` there is no browser reload and it works like normal.

The following cause reloads:
`<Link href="/next" as="/next/de">`
`<Link href="/next?locale=de" as="/next/de">`

This does not,

[2020-05-24 13:33] krish-dev commented on #13266
Also, I did another test with static optimization (SSG) by using getStaticProps. But those pages also generate a lambda as well as an HTML page. Ultimately SSG is not an opportunity to reduce the final lambda bundle. Into my application currently each page around 2.2 to 3.3 MB. and the total size of the page is 233MB. Coming days 30 new page going to add into this and I'm worried that this going t

[2020-05-24 13:39] timneutkens commented on #13303
It's the same implementation

Duplicate of #12434

[2020-05-24 13:39] #13303 closed

[2020-05-24 13:55] dantman commented on #1632
Sorry, I don't have a helpful answer for you. SSR wasn't a hard requirement so we just kept using CRA, which the prototype was built with.

I thought Next.js had promise as a universal framework since it recently gained the ability to have a mix of SSR/SSG/client-only pages and could run as an isomorphic app or as a static/PWA app. The Next.js server was a neutral/positive because we needed an API

[2020-05-24 14:38] cfraz89 opened #13312 "Compile error in Fast Refresh js when using getServerSideProps"
# Bug report
On Next 9.4, I have a page which hits a compile error within `react-refresh/cjs/react-refresh-babel.development.js` for a page using getServerSideProps. If getServerSideProps is removed, it compiles fine.

## Describe the bug
This is the error log:
[code]

Doing a little inspection - `ref.node` is `null`

## To Reproduce

For me, attempt to visit any page in the project. The compile e

[2020-05-24 14:42] desmap commented on #12434
@timneutkens thanks for hinting me to the right issue.

What about giving the implementation an 'private options object' which allows _app usage for getStaticProps? Or do you still plan to lift this restriction for both? And if yes when? Or can we help somehow?

My use case: I want to automatically require all redux's reducers from one directory at build-time (hence I need to read a directory on t

[2020-05-24 15:00] timneutkens commented on #13279
Why do you want to separate them? It would have no benefit 🤔

[2020-05-24 15:20] Danetag commented on #6931
@timneutkens I'm no Babel expert, and you're right, according to the doc it's supposed to do exactly what you described.

But for some reasons, it seems that `core-js` is removed with `"useBuiltIns": "entry"`, but not `"useBuiltIns": "usage"`.

With `"useBuiltIns": "usage"`:

<img width="625" alt="Screen Shot 2020-05-24 at 11 16 58 AM" src="https://user-images.githubusercontent.com/810008/82757727

[2020-05-24 15:22] timneutkens commented on #6931
Use this babelrc:

[code]

All the config you had is not needed and can only cause larger bundles where not needed.

[2020-05-24 15:26] Danetag commented on #6931
@timneutkens Awesome! Thanks you 🔥

[2020-05-24 15:29] Timer commented on #13312
Please upgrade to `next@canary`.

[2020-05-24 15:29] #13312 closed

[2020-05-24 15:32] Danetag commented on #6931
@timneutkens Now I remember the context of why we added this custom config. We just dropped the support for IE 11, but it wasn't the case at the beginning of the project. We encountered this error in IE console:

[code]

And the only way to make it work was this update. Anyway, it's a separate issue that we don't have anymore, but maybe something to be aware of!

Thanks again 👍

[2020-05-24 15:44] timneutkens commented on #6931
When was that? We changed the way Next.js polyfills legacy browsers a while back and the specific case you're seeing should be fixed already 👍

[2020-05-24 15:49] bluelovers opened #13317 "allow render page as raw data"
# Feature request

## Is your feature request related to a problem? Please describe.

allow render page as any raw data

for example: render page as xml

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

## Addition

[2020-05-24 16:15] Danetag commented on #6931
@timneutkens About 4 weeks ago, using next v9.3.4, Node v12.16.1

[2020-05-24 16:55] filipesmedeiros commented on #13215
You should be able to open `/it`, etc. The 404 comes from the route `/it/`.

So just use the `href` without the trailing slash and should work!

[2020-05-24 16:57] filipesmedeiros commented on #13215
Also: I have no idea why it works when deployed but not on `dev`, maybe it's because of the way the routing works and how, locally, `getStaticPaths` and `Props` is called everytime, not really static I think.

[2020-05-24 17:24] rauchg commented on #1632
@dantman

It’s quite strange to qualify an open source component with an API that hasn’t changed in 3 years due to its great stability and “product/market fit” as “lock-in”

Next.js has succeeded and continues to show the growth that it does **because of it router** and not in spite of it.

As many have seen me comment on Twitter, once upon a time we seriously entertained merging in some router (a

[2020-05-24 17:24] #1632 closed

[2020-05-24 17:25] merrywhether commented on #1632
This is such a funny thread. Next has concrete reasons for avoiding waterfall routing (aka react-router and friends) as `getInitialProps` enables a lot of performance optimizations, and Next's approach is turning out to be quite popular, especially as some people specifically want those optimizations. Performance comes with design tradeoffs, and sometimes you may prefer to choose design over perfo

[2020-05-24 17:28] rauchg commented on #1632
Since I’m closing the issue, I want to make it clear that we are always open to comments, feature requests and bug reports on the routing capabilities.

Ideally, those would be product driven (“I need to do X but it’s not possible” or “Y is possible but not ergonomic”). We are always on the lookout for improvements that help you make lean websites and applications with great user experiences 🤗

[2020-05-24 17:33] Giorat commented on #13215
I think anyway that this issue should be fixed to prevent having different behaviours when you build a project locally or when you push it to the hosting/server provider.

[2020-05-24 17:49] avin-kavish commented on #1632
@rauchg Can you explain the reason behind having two props, `href` and `as` to a link? Why can't it infer the intended page based on the value of the `as` prop?

For example in express if I have a route as `/blog/:slug`, i can just send a http request to `/blog/hello-world` and expect the router to route to it. I don't have to send both `/blog/:slug` and `blog/hello-world` to the server.

[2020-05-24 17:53] rauchg commented on #1632
@avin-kavish that’s a great question. There’s an important distinction to be made between what the URL displays and what page is to be loaded. As a matter of fact TikTok uses that to render certain things in modals, that when you refresh the page become other pages. However, one big area of improvement here is that we should perhaps statically enforce that you’re referencing a valid page that exis

[2020-05-24 17:56] mariorodriguespt commented on #7946
I'm on next `9.4.2` and I can't even get the store initial data even after trying multiples approaches.
Is this a bug with `next` or the `mobx` bindings?

[2020-05-24 18:11] Robinzon100 opened #13321 "newly uploaded images will not show in background-image after build"
I made a simple API that takes text and image, uploads the image to `public/uploads/news` and saves the file path (example: `/uploads/news/(1590330102136)--anykey.png` ), when in development everything works fine

**but**

after I do `next build` and `next start` everything works fine at first also, but when I want to upload something like an image and a text with my API (which uploads it to the f

[2020-05-24 18:13] filipesmedeiros commented on #13215
I agree at least dev and Vercel should behave and similarly as possible. Maybe it's easy to fix, let's see what the contributors say. I can take a look whenever I have time.

[2020-05-24 18:22] martpie commented on #1632
I think an issue already exists for that https://github.com/zeit/next.js/issues/8207

[2020-05-24 18:59] kmjennison commented on #8672
@ivawzh This example refreshes the cookie each time the Firebase auth loads on the client side, so it should stay in sync. However, I haven't used custom claims, so I'm not sure if there's something unique you're looking to handle there. For `getServerSideProps`, you'll just need to change any auth higher-order components to call it rather than `getInitialProps` (e.g., [here](https://github.com/ze

[2020-05-24 19:20] donaldpipowitch commented on #1632
In case someone watched this issue for a react-router like "nested routes" feature which allows navigating to new pages without re-rendering everything like I was, there is actually a dedicated issue you can watch and vote for. I just found out about that one: https://github.com/zeit/next.js/issues/8193

[2020-05-24 20:26] cupcakearmy commented on #12664
Same here 🙋‍♂️

[2020-05-24 20:42] cupcakearmy commented on #12664
@itsmetambui For me changing `"libraryDirectory": "es"` to `"libraryDirectory": "lib"` inside of `.babelrc` did the trick

[2020-05-24 21:14] mattcarlotta commented on #13282
The three biggest problems I see are:

- The `.modules.css` is not an enforced naming pattern  -- while it is in use by the `create-react-app`, the CRA is an **opinionated boilerplate, not an enforced standard**. So if the third-party library utilizes a different naming convention for modules -- like treating `example.css` as a local stylesheet instead of a global stylesheet -- then `node_modules`

[2020-05-24 22:36] dantman commented on #1632
@rauchg

To be clear in this my primary issue is not the lack of a RR/reach style component API, I am fine with **a** SSR capable file/config based API. *Although I am a bit optimistic that in the future Suspense could make alternate SSR/routing APIs viable.* My primary issue is the router being completely custom with any common concerns in the implementation being re-implemented instead of shared

[2020-05-24 23:40] salazarm commented on #6554
As a workaround if you know you're working across multiple pages you could just import those pages into page you load first during development.

[2020-05-24 23:41] ajbouh commented on #8672
I have messed with using custom claims a bit.

A brief overview of my approach:

I have logic on the client side that checks to see if the custom claims are
up to date. If not, it sends a request to the server side and the server
updates the custom claims. Once the server confirms the claims have been
updated, the client refreshes their id token and gets the server-emitted
custom claims directly f

[2020-05-24 23:49] ivawzh commented on #8672
Thanks, @ajbouh . did you reuse the same `login` API to refresh cookie? If not, what difference do we need to make in the refresh-cookie API endpoint?

[2020-05-24 23:56] ajbouh commented on #8672
I am using the firebase admin SDK on the backend and the standard firebase client in the browser. (To force the refresh you can you can pass `true` to `getIdToken`, IIRC. It should have the custom claims present in it, no need to use the login API specifically.)

[2020-05-25 01:01] ivawzh commented on #8672
Sorry, I haven't got it yet. When the client discovered claims updated, does it send any request to the NextJS server in order to get an updated cookie back? If yes, is that the `login` API from the `with-firebase-authentication-serverless` example?

[2020-05-25 01:01] ivawzh commented on #8672
@ajbouh Sorry, I haven't got it yet. When the client discovered claims updated, does it send any request to the NextJS server in order to get an updated cookie back? If yes, is that the `login` API from the `with-firebase-authentication-serverless` example?

[2020-05-25 01:18] ajbouh commented on #8672
Hmm, unfortunately I can't help you directly with this as I'm not using next.js. I'm using sapper and svelte, which is similar in some ways but different enough that I am not using any of the specific code you're referencing.

[2020-05-25 05:02] cristian05 opened #13329 "unnecessary configuration for jest"
https://github.com/zeit/next.js/blob/f17d78f8888ca9028f09dca15d672c9fc76c1ebb/examples/with-jest/jest.config.js#L10

I remove this line from my jest configuration and my test it still works. Its necesary?

[2020-05-25 06:58] #13329 closed

[2020-05-25 07:01] #13321 closed

[2020-05-25 07:14] rhapsodyn opened #13331 "Uncaught errors in getServerSideProps is uncaught."
# Feature request

##  Is your feature request related to a problem? Please describe.

During development, Uncaught error in some page's `getServerSideProps` will response with http-200-OK.

In contrast, after build, the page will response with 500 (or using _error.js) in production, as expected.

[code]

After reading some source code, found that the only way i can "programmable catch" this error

[2020-05-25 07:33] TodorTotev commented on #13117
Should be fixed as of now.

[2020-05-25 07:45] #13117 closed

[2020-05-25 08:01] Sletheren commented on #13225
It's not related @jbsmith731 & @timneutkens  I'm not trying to add `getStaticPropss` in `_app.js`

[2020-05-25 08:03] laurencefass commented on #8193
I've only used Next js router for basic page routing. How do I achieve client side component based (lazy-load?) routing? I can't imagine writing an app without it. How would you?

[2020-05-25 08:05] joe-bell commented on #13238
Hey @gauravkrp, I thought this might be a dupe of my ticket where I'm having the same issue (#12984) but I think you can actually fix this with a small change in your CSS

In your preview link I can see the following styles:
[code]

[2020-05-25 08:08] StarpTech commented on #13282
I don't see it as a problem. That convention is one way to communicate that the styles are coupled to the local component. It's good to have one way.

This could be a use case for a further issue. For now, it's great to include your own UI components in the build pipeline.

This is not related to this issue. You can still use global CSS in `_app.js`

The reference is not correct. We are talking ab

[2020-05-25 08:11] TheHolyWaffle opened #13332 ".env variables behave different between local and Vercel"
# Bug report

## Describe the bug

Environment variables cannot be accessed in api routes when deployed on Vercel using the latest [9.4 environment variable feature](https://nextjs.org/docs/basic-features/environment-variables).

However, when running next locally, then they do have access to the environment variables.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets

[2020-05-25 08:39] Manjado opened #13334 "Next.js 9.4.1 Router.beforePopState does not work"
# Bug report
Router.beforePopState does not work in next.js v9.4.1

## Describe the bug

I'm trying to use Router.beforePopState in the componentDidMount method.
In next 9.1.7 everything works fine, while in version 9.4.1 such event is not trigger.

## To Reproduce

I use this code on one of the pages that will be in the pages folder (according to the recommended structure).

`  componentDidMount

[2020-05-25 08:48] pepsivontwist opened #13335 "Fast refresh is very slow"
# Bug report

## Describe the bug

Fast refresh takes at least 20s on my build on 9.4.1. Reverted to next 9.3 and the hot reload is nice and fast.

## To Reproduce
Just create an application with the Default Starter Template, should happen there as well (shorter compile times, 7-10s but still seems like a lot).

## Expected behavior

Would expect fast refresh to be .. fast :D

## System informatio

[2020-05-25 08:49] timneutkens commented on #13332
Are you deploying using the CLI instead of through git?

[2020-05-25 08:50] timneutkens commented on #13335
Please provide a full reproduction, also try `next@canary`

[2020-05-25 08:54] grhbit commented on #10871
Here my two cents and you can bypass using `localStorage`.

[code]

[2020-05-25 09:00] itsmetambui commented on #12664
Thanks @cupcakearmy, but not sure why it still didn't work for me. [Here's my update](https://github.com/itsmetambui/next-with-antd/commit/f434972d005745db10f5739585dc3c9917c84412). Could you help to share your dependencies?

[2020-05-25 09:00] gauravkrp commented on #13238
Hey @joe-bell , it is not just the fonts but other css properties should also render after the html.
IF you can have a look at my site - https://accessgatelabs.com you will see that menu image appears for few ms. Menu Images have css of {opacity: 0; visibility: hidden}

[2020-05-25 09:12] TheHolyWaffle commented on #13332
@timneutkens I'm using the GitHub integration of Vercel, see https://github.com/TheHolyWaffle/env-test/commit/ed4c3439113539ff9639bb9d27e52e6a5ac8a630

[2020-05-25 09:16] pepsivontwist commented on #13335
This happens on the default next template as well (it's slightly shorter there 7-10 seconds).

Seems to be what's happening here https://github.com/zeit/next.js/issues/12797 , as the Antimalware Service Executable flares up on every compile, but next@9.4.1-canary.5 does not seem to solve this particular issue for me, still seeing long compile times.

I've upgraded node to 14.3 as well, no dice.

[2020-05-25 09:17] cupcakearmy commented on #12664
I had to start the server a few times before it was working. Maybe delete `.next` folder? I had a fresh install of nextjs with typescript, antd, the icons and dayjs, nothing else. no next config only the `.babelrc` However it was insanely slow and had to restart the dev server ever 5-10min because it would freeze and not update anymore 🙈
Now I'm just using sapper and build half of the website in t

[2020-05-25 09:27] montezume commented on #13268
I would also like to disable fast refresh, as I can't allow eval (even during development), so it breaks my CSP policy and I can't update :(

[2020-05-25 09:35] sai1139 opened #13337 "yarn build -(ExperimentalWarning: The fs.promises API is experimental)"
# Bug report
1)yarn build error-> (node:14380) ExperimentalWarning: The fs.promises API is experimental
2) At production error
{ Error: Cannot find module 'dotenv'
at Function.Module._resolveFilename (internal/modules/cjs/loader.js:580:15)
    at Module.Hook._require.Module.require (/usr/lib/node_modules/pm2/node_modules/require-in-the-middle/index.js:51:29)
    at require (internal/modules/cjs/he

[2020-05-25 09:40] #13337 closed

[2020-05-25 09:48] sai1139 commented on #13337
@timneutkens  can you explain what is the issue?

[2020-05-25 09:56] timneutkens commented on #13337
The issue template was completely ignored (again) so I've closed the issue as it's not actionable.

[2020-05-25 09:58] sai1139 commented on #13337
what is solution?

[2020-05-25 10:01] timneutkens commented on #13337
I'm not sure what you're running / how you're seeing it. It looks unrelated to Next.js but it's impossible to say as the issue template was ignored (as said).

[2020-05-25 10:02] montezume commented on #13268
Sorry, I realized that my problem is not with fast-refresh, but with the webpack devtool. I changed to a non-eval based devtool and it worked with our CSP

[2020-05-25 10:54] robinduckett commented on #13004
Closing because I found a workaround of not using Next.js for anything serious.

[2020-05-25 10:54] #13004 closed

[2020-05-25 11:11] joe-bell commented on #13238
Unfortunately I can't reproduce that, but I'm confident if you change your font properties this will make a big difference.

[2020-05-25 11:36] bobaaaaa opened #13340 "[Types] unified query types of nextServer.render & GetServerSideProps"
# Feature request

## Is your feature request related to a problem? Please describe.

We use nextjs (9.4) with TypeScript and a custom server. The routes are very simple: one `Article` page accepting a single `id` for fetching data and renders. This works pretty well. Both query objects in `nextServer.render` and `GetServerSideProps` are typed as `interface ParsedUrlQuery { [key: string]: string |

[2020-05-25 11:43] timneutkens opened #13341 "Webpack 5 support"
Follow-up of https://github.com/zeit/next.js/issues/9426, opening this as the overarching issue on what to solve:

- [x] Get rid of buildId and use content hashes for page files
- [x] Simplify on-demand-entries
- [x] Make custom webpack plugins compatible with webpack 5
- [x] Make `resolutions` to webpack 5 use the webpack 5 implementation initially (to allow canary testing / canary to keep being

[2020-05-25 11:44] timneutkens commented on #9426
Keeping a checklist of what to do in #13341

[2020-05-25 11:44] #9426 closed

[2020-05-25 11:48] timneutkens commented on #12176
Fixed by #13018

[2020-05-25 11:48] #12176 closed

[2020-05-25 11:49] TodorTotev commented on #13341
@timneutkens If there is anything you would let a non-maintainer help with, I'd be glad to assist.

[2020-05-25 11:52] #13279 closed

[2020-05-25 11:53] timneutkens commented on #13332
We'll look into it and apply a fix 👍

[2020-05-25 11:53] #13196 closed

[2020-05-25 11:55] #13174 closed

[2020-05-25 11:59] timneutkens commented on #13317
We're currently not planning to add this to Next.js, you can add an API route to handle the responses you're referring to: https://nextjs.org/docs/api-routes/introduction

[2020-05-25 11:59] #13317 closed

[2020-05-25 12:00] timneutkens commented on #13334
Can you add a full github repository with clear steps to reproduce?

[2020-05-25 12:02] #13281 closed

[2020-05-25 12:04] #13267 closed

[2020-05-25 12:05] timneutkens commented on #13238
Please add a complete reproduction including a repository so that it can be investigated properly. Thanks 🙏

[2020-05-25 12:07] Manjado commented on #13334
@timneutkens
I can't do it because it's a company repository. The problem is with the support of evnet Router.beforePopState in the componentDidMount method. The beforePopState event is not dispatched. I went back to version 9.1.7 and everything works fine. However, I would like to switch to a higher version.

[2020-05-25 12:09] #13216 closed

[2020-05-25 12:13] #13109 closed

[2020-05-25 12:14] timneutkens commented on #13079
Not sure what this issue is but I'll close it as duplicate of #10700

[2020-05-25 12:14] #13079 closed

[2020-05-25 12:15] timneutkens commented on #12984
`onload` is handled by React so I assume it's read as if it's a React event handler.

[2020-05-25 12:16] timneutkens commented on #12977
Seems unrelated to Next.js and more-so related to your filesystem being case sensitive when deployed.

[2020-05-25 12:16] #12977 closed

[2020-05-25 12:17] timneutkens commented on #12933
Duplicate of #8193

[2020-05-25 12:17] #12933 closed

[2020-05-25 12:18] #12922 closed

[2020-05-25 12:20] timneutkens commented on #13334
You were able to provide steps, so you can create a repository to show those steps right 🤔

[2020-05-25 12:21] timneutkens commented on #12857
Closing this as part of https://github.com/zeit/next.js/issues/13341

[2020-05-25 12:21] #12857 closed

[2020-05-25 12:22] #12882 closed

[2020-05-25 12:23] joe-bell commented on #12984
Thanks for getting back to me @timneutkens, I was just about to update this issue as I've managed to find a solution in the meantime. I'll write this up in a blog post to share with others as I think it would be pretty useful

Essentially I used Josh W Comeau's `useHasMounted()` hook to detect page mount, then applied as follows:
[code]

This avoids FOUT all together

[2020-05-25 12:26] timneutkens commented on #12885
Please add a complete reproduction repository.

[code]

Just to show how these steps read so that you can improve in the future:

- Install Next.js 9.4.0 - Where? In your application? On some demo application?
- redeploy nextjs server - Where? How is datadog set up there as we don't know where
- observe datadog logs, nothing shows up - Where? Do we have access to your datadog logs somehow?

[2020-05-25 12:26] #12885 closed

[2020-05-25 12:26] #13119 closed

[2020-05-25 12:30] timneutkens commented on #12755
This is not possible because of the way that React pre-rendering works currently. All data has to be known *before* rendering.
We'll revisit once React Suspense is stable.

If you want to do deeply nested fetches you can use https://swr.now.sh/ for client-side fetches.

[2020-05-25 12:30] #12755 closed

[2020-05-25 12:30] #12734 closed

[2020-05-25 12:31] timneutkens commented on #12782
Feel free to send a PR!

[2020-05-25 12:31] #12782 closed

[2020-05-25 12:33] timneutkens commented on #12593
We do not expose the build pipeline as a Node.js api you can import.

[2020-05-25 12:33] #12593 closed

[2020-05-25 12:34] timneutkens commented on #12557
Feel free to investigate and solve

[2020-05-25 12:34] nikoskleidis opened #13343 "v9.4.0 gives 404 for static pages when pkg-ed"
# Bug report

## Describe the bug

I use [pkg](https://github.com/zeit/pkg) to package my nextjs app.
When I upgraded to version 9.4.0 from 9.3.6 the static pages I tried to access were all redirecting to the 404 page.
SSR pages work as expected on 9.4.0.
Also everything works as expected on dev mode

## To Reproduce

1. Go to this [repo](https://github.com/nikoskleidis/pkg-test)
2. On master bran

[2020-05-25 12:35] timneutkens commented on #12508
Closing as no reply was provided.

[2020-05-25 12:35] #12508 closed

[2020-05-25 12:36] timneutkens commented on #12476
Solved by #12491

[2020-05-25 12:36] #12476 closed

[2020-05-25 12:38] timneutkens commented on #12385
Closing as no reply was provided.

[2020-05-25 12:38] #12385 closed

[2020-05-25 12:43] melnikaite commented on #12508
for marketing purposes

[2020-05-25 12:44] timneutkens commented on #12360
It's unclear what you're trying to achieve exactly 🤔 Do you just want to prerender all pages? As @ijjk said we already parallelize to the maximum possible on the machine you run `next build`. We're going to introduce further optimizations on vercel.com though, but I'm not sure if you're currently on vercel or not.

[2020-05-25 12:44] #12340 closed

[2020-05-25 12:45] danlutz commented on #11231
I also noticed that ctx.queryin `getServerSideProps` has incorrect values on client-side navigation, with the following setup:

## Folder Structure
`/pages/[locale]/p/[slug].tsx`

## SSR
When accessing "/de-DE/p/some-product-slugs" using SSR, `ctx.query.locale` has the correct value of `"de-DE"`

## Client-side navigation
When accessing "/de-DE/p/some-product-slugs" using client-side navigation, `

[2020-05-25 12:47] Manjado commented on #13334
I can't share my repository with you because it contains sensitive data. I think you can check it on your application (yarn create next-app) if this problem occurs. Maybe is there a problem with this event?
I would like to help but cannot share the code.

[2020-05-25 12:47] timneutkens commented on #12313
We're not planning to lift this restriction from next export given that most users running it would expect getServerSideProps to "just work" then and it does not when you're doing a fully static export.

`next build` already outputs static html for static pages and for what you're trying to achieve you'll have to build on top of that (similarly to how @vercel/next does it)

[2020-05-25 12:47] #12313 closed

[2020-05-25 12:50] timneutkens commented on #12267
You already know the prefix based on the page in the pages directory. I'm going to close this issue based on that it's asking to change an expected behavior that we're not planning to change as it would introduce bugs.

Feel free to open a discussion about your questions: https://github.com/zeit/next.js/discussions

[2020-05-25 12:50] #12267 closed

[2020-05-25 12:52] #13334 closed

[2020-05-25 12:53] #13343 closed

[2020-05-25 12:54] timneutkens commented on #12233
We're not planning to add automatically opening the browser at this point (keeping the CLI minimal and features contained).

[2020-05-25 12:54] #12233 closed

[2020-05-25 13:15] bluelovers opened #13344 "allow mark any page as api router"
# Feature request

## Is your feature request related to a problem? Please describe.

if we want `api` not inside `/page/api` folder or mixin `page` and `api` in same folder

we need use `custom server`
https://nextjs.org/docs/advanced-features/custom-server

i hope can more easy control it, without config `next.config` and `custom server`

## Describe the solution you'd like

export `enableApiRou

[2020-05-25 13:52] timneutkens commented on #12208
Can you try https://github.com/zeit/next.js/pull/13018

[2020-05-25 13:54] #12052 closed

[2020-05-25 13:55] #11888 closed

[2020-05-25 13:56] timneutkens commented on #12226
Please provide a full github repository.

[2020-05-25 13:56] timneutkens commented on #12621
Feel free to send a PR!

[2020-05-25 14:03] timneutkens commented on #12179
We're planning to force an `<a>` tag always as per https://github.com/zeit/next.js/issues/8207, so I'll close this issue in favor of that.

[2020-05-25 14:03] #12179 closed

[2020-05-25 14:04] timneutkens commented on #12159
Happy to review a PR to add a flag to opt-in to using the http2 server.

[2020-05-25 14:05] timneutkens commented on #12143
This was fixed by https://github.com/zeit/next.js/pull/10807

[2020-05-25 14:05] #12143 closed

[2020-05-25 14:06] timneutkens commented on #12122
Feel free to send a PR to make `/api` (only `pages/api.js`) work as a React page.

[2020-05-25 14:08] timneutkens commented on #12113
Closing this as it doesn't seem to have traction (no 👍 from other people). We're currently not planning to change the directory structure (as it would be a breaking change).

[2020-05-25 14:08] #12113 closed

[2020-05-25 14:09] #12106 closed

[2020-05-25 14:10] timneutkens commented on #12086
Feel free to send a PR.

[2020-05-25 14:33] Andrew199617 commented on #12226
@timneutkens My project is private. I fixed this problem by moving back to using @zeit/next-css.

[2020-05-25 14:34] cjimmy commented on #7121
☝️ @geekplux's workaround worked well for me. I am not using tailwindcss, but am using styled components, and wanted to use a global css file. To expand a bit on what it entails:
* use PostCSS to process your `*.css` into a minified and autoprefixed `*.min.css` file. This requires extending the default postcss.config.js (and a slightly different syntax because of next.js' lack of `require()`s)
* e

[2020-05-25 14:47] #12226 closed

[2020-05-25 14:51] jensmeindertsma commented on #13092
Even moving the import to the bottom of the file doesn't work perfectly, because changing the component className still moves that class below the page styles.

I'd be happy to work on this, but I need some direction. I tried using `MiniCssExtractPlugin` that's already used in production also for development mode but that causes some errors too. Could someone explain why there is a different appro

[2020-05-25 14:53] balazsorban44 commented on #13341
Just sharing this, you may be aware, but it might be useful. #10885

[2020-05-25 15:00] joafeldmann commented on #9081
Has anyone successfully used the custom routes (rewrites) on vercel? See: https://github.com/zeit/next.js/discussions/13347

[2020-05-25 15:02] Akshay-pal opened #13349 "Nested css with component style not working"
# Bug report

## Describe the bug

I am using restrape tabs and I want different style on which tab that has only **.active** class but scoped style not working, I am getting stuck in this situation.Here is simple scss code for active tab.

.nav_item{
        width: 50%;
        a.active{
                color: #ffffff;
                background-color: #467c9c !important;
                border-c

[2020-05-25 15:05] salazarm commented on #10522
In my case it turned out my 404 was being rendered which would redirect them.
It was rendering 404 because API Routes aren't supported by Next export.

[2020-05-25 15:19] Timer opened #13353 "Rewrites behavior"
I am using the following next config to rewrite dynamic urls to the next page `pages/post/[id]`, which works great on my local machine (using next@9.4.2)

[code]

However, when I deploy the app to vercel I get an 404 for these routes. I am further confused with vercel routes (https://vercel.com/docs/configuration#project/routes) and rewrites (https://vercel.com/docs/configuration#project/rewrites)

[2020-05-25 15:28] zeekrey commented on #13237
I would really like to help as this is marked as good first issue.

I followed the steps documented here: [Next.js Prismic example](https://github.com/zeit/next.js/tree/canary/examples/cms-prismic). Everything workes as described.

I could observe the following behaviour (started in production mode):

_/newPost is in Prismic 'Draft' state_

**fallback = true**
- Accessing the preview API with vali

[2020-05-25 15:30] lemarier commented on #12334
Hi @timneutkens, I would love to help on this. Something have been planned?

Did you guys have an idea of what need to be done exactly?

Thanks

[2020-05-25 15:41] ijjk commented on #9081
Hi @joafeldmann, the new custom routes in `next.config.js` already work automatically with Vercel and are being used in production on sites. Can you provide a reproduction where they are not working for you?

[2020-05-25 15:46] timneutkens commented on #12334
In this case it’ll be entirely up to the people that want to land it. I assume you’ll have to figure out how to run webpack/Babel in deno first though.

[2020-05-25 15:57] mattcarlotta commented on #13282
Playing devils advocate here (I have a custom Webpack config to import from `node_modules`, but it's only within `_app.js`, so I understand where you're coming from) ...

Javascript has many frameworks (`Vue`, `Angular`, `Nuxt`, `Nest`, etc... or just plain Javascript) , therefore encouraging any UI library to conform to a naming convention established by a React boilerplate seems a bit of an over

[2020-05-25 16:07] tafelito commented on #13237
When you create a new Post, and as you said is in draft state, it makes sense that you get a 404 when you visit the live site. But if you want to preview that new Post, even if it has never been published before, you should be able to do it, even having `fallback = false`

So this is how I believe this should work

**fallback = true** nothing really changes

1. Create a new Post in Prismic. State

[2020-05-25 16:27] salazarm commented on #12079
Also the restriction on it being exclusively _app.js is a little cumbersome.

If we're not going to support CSS references everywhere then could we make it so CSS can also be referenced by direct dependencies of `_app` (that are not referenced anywhere else)?
ie. It's fine if it's required by `_app` (and nowhere else) which would give the CSS a deterministic order based off imports.

It's not idea

[2020-05-25 18:00] StarpTech commented on #13282
This is not the ECMAScript repository :smile: I'm looking for a pragmatic solution. CSS Modules were widely adopted across the ecosystem. Parcel, Gatsby, Next.js, Webpack, React just to name a few.

Not necessarily, it depends on the `localIdent` pattern. You can create ID's without a hash and use the folder name or component name as id. In that way CSS-Modules can be still overridden.

I think yo

[2020-05-25 18:25] tywmick commented on #13230
Taking a stab at this one! My apologies if I'm over-documenting my investigation process. 🙈

I don't think the `defaultHead` function @zvictor mentioned...

https://github.com/zeit/next.js/blob/91b1548d3296dae4306ad68b97fd61d092c06ebe/packages/next/next-server/lib/head.tsx#L11-L17

...is the problem, because farther down, after these default head elements are added to the page's other head element

[2020-05-25 18:28] ajhool commented on #6554
@Timer Would you please consider reopening this issue based on the feedback here? There are some good ideas about setting a compile-flag.

I understand the idea of having fast-compile, but it's reallyyyyyy wonky to not be able to locally test page transitions.

[2020-05-25 18:55] balazsorban44 commented on #13353
@Timer can you say something about the state of the corresponding RFC? Are there any serious work going on here? What about the experimental state? Is it near to stable or you are still trying out things under the hood, still a chance it will be dropped entirely? I am most curious of handling i18n with translated urls(not prepending with a language code, but actually translating parts of the url).

[2020-05-25 18:59] mattcarlotta commented on #13282
I incorrectly thought `node_modules` CSS imports were being excluded from being imported in an `_app.js` file. Upon closer inspection, they don't appear to be excluded.

Again, the `.module.css`  and a static ```localIdent``` naming conventions are not standardized naming conventions regardless of the ego-system. Therefore, expecting all UI libraries to adopt both to mitigate a NextJS limitation i

[2020-05-25 19:15] mersocarlin opened #13364 "Open Graph tags not being output with static generation bundle - 502 status code"
# Bug report

## Describe the bug

It seems that the static generation feature is not properly supporting open graph meta tags.
A 502 status code is thrown when trying to share the link over social networks for example.

## To Reproduce

1. Go to the next blog starter https://next-blog-starter.now.sh/
2. Click any of the blog posts, for example https://next-blog-starter.now.sh/posts/hello-world
3.

[2020-05-25 19:21] #13364 closed

[2020-05-25 19:51] salazarm opened #13366 "Call getInitialProps on Document for statically optimized pages"
# Feature request
I would like for my pages to be statically optimized but have the document not be. Is this possible?

## Is your feature request related to a problem? Please describe.
I have custom "Feature gating" in my application that requires a global variable be set before any scripts are run (eg: `window.Features = {...supportedFeatures}`) (Features are fetched from API route).
I would lik

[2020-05-25 20:02] StarpTech commented on #13282
Again, the .module.css convention has been already established in Next.js and this feature is about to extend it. CSS Modules were introduced because they can provide a kind of isolation. We can archive the same isolation in other NPM packages because they use CSS-Modules. The order problem can't be fixed because the order can't be guaranteed. That is the whole point why CSS Modules were introduce

[2020-05-25 20:13] salazarm commented on #13366
nvm just found https://nextjs.org/docs/advanced-features/preview-mode

[2020-05-25 20:18] Jarred-Sumner commented on #12753
In my case, I was able to work around this issue by ensuring that there is no direct overlap between:
- Modules imported in React components
- Modules imported in Worker bundles

`@next/react-refresh-utils` thought it was a React Refresh boundary, so it adds its metadata to the file. That metadata breaks workers since React isn't in the worker (though if you import * as React in the worker it stil

[2020-05-25 20:36] salazarm commented on #13366
Actually its not supported for _document.
How can I achieve the above?

[2020-05-25 21:37] singhanadcheamontha opened #13367 "หด"
# Feature request

## Is your feature request related to a problem? Please describe.

A clear and concise description of what you want and what your use case is.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

##

[2020-05-25 21:37] singhanadcheamontha commented on #13367
ดด

[2020-05-25 22:27] jakelevi commented on #10871
Thanks for the help!

[2020-05-25 22:33] xiaoxinghu commented on #9474
Another use case of this would be to have a monorepo where mobile and web project sharing the same logic, but without making that sharable code a "repo" itself. Reason for doing that is some tools (react native) don't like symlinks created by yarn workspaces, or multiple instances of the same dependency (e.g. react, react-native) without symlinks. So it could make things a lot easier to just have

[2020-05-25 23:18] renatodex commented on #4381
Dynamic imports really make our life easier, but if you think about Canvas integration, there are a few issues using the SSR approach. I've tried to use `PhaserJS` before, which relies on Dom at the very moment it is imported, and I never could make it load as a component.

Of course, Canvas frameworks like Phaser don't really play well with React and Virtual Dom, but even a loose abstraction is h

[2020-05-25 23:56] lfades commented on #10313
Closing as the issue can't be reproduced anymore in the latest Next.js or with any of the steps provided in here. It was most likely fixed after replacing [HMR with Fast Refresh](https://nextjs.org/blog/next-9-4#fast-refresh)

If the issue persists, feel free to create a new issue with a valid reproduction

[2020-05-25 23:56] #10313 closed

[2020-05-26 00:03] #13367 closed

[2020-05-26 00:20] dohomi commented on #10313
@lfades the issue is present for all Storyblok backends. I run on newest stable version of NextJS and the issue just got introduced with FastRefresh

[2020-05-26 03:30] jhenriquevissotto opened #13379 "<img /> tag doesn't fire the event onLoad when the image's src points to own Next.js server"
I know that this problem is originated from React library.

I already researched and found the solution:

[code]
This code fires the onLoad/onError event by normal callback or by useEffect with refImg.

And works! (for external links, actually...)

For internal links like this:
`/_next/static/images/wpp_home-d66146b103d854a0f387941367456fc4.webp`

Theses events aren't fired.

This is a bug or a pr

[2020-05-26 06:15] jthegedus commented on #12313
A flag for this command like `next export --ignore-gssp` wouldn't change this for existing users.

Other Hosting platforms would be able to utilise this for Next.js support without having to worry about any internal changes to the build output.

[2020-05-26 06:27] tsujp commented on #12334
I was a bit naive in my "progress on this" above. All the dependencies of Next, and their dependencies' dependencies etc will need to work with deno before Next could -- so I suppose "progress on this" is more of a "progress on deno for production?". I have also heard various people are trying to get dependency auditing (e.g., [deno_udd](https://github.com/hayd/deno-udd)). So these kinds of tools

[2020-05-26 06:35] awareness481 commented on #12964
Assuming the last PR will be merged, the only remaining examples are:

* with-linaria
* with-overmind

For **with-overmind** I'm waiting to see whether PR https://github.com/zeit/next.js/pull/13385 will be accepted before I remove the react imports.

**with-linaria** `$ npm run dev` failed on my system but I didn't have time to investigate.

[2020-05-26 07:05] kkis commented on #11600
@voronianski
Here is an Codesandbox example. (https://codesandbox.io/s/next-typescript-app-f2k0y)

You can see that the error appear when i use custom theming. I would be really appreciate if someone knows how to solve the problem.

[2020-05-26 07:46] dijs commented on #4105
This is not working. NextJS just seems to override the header. (I am using a custom server and calling the nextjs handler within an express route)

[2020-05-26 07:57] brianpunzalan commented on #7322
I have upraded my next.js version to 9 and got this problem. However, I have fixed it by using `useStyles` instead of `withStyles` on my component that having this issue.

[2020-05-26 08:38] timneutkens commented on #4381
@renatodex you can dynamically import files on client-side using `import()`

[2020-05-26 08:41] acifani opened #13387 "Option to disable error overlay"
# Feature request

## Is your feature request related to a problem? Please describe.

Hey, the new error overlay is great and I am very thankful of you guys for adding such a feature.
The problem: it's not that great when running automated tests (with something like Cypress). Any unhandled error/promise will cause the overlay to pop up (it was not the case with the previous react error overlay), c

[2020-05-26 08:57] timneutkens commented on #13387
Running tests against a development mode server is really uncommon and will allow you to ship bugs to production 🤔

[2020-05-26 09:00] #13379 closed

[2020-05-26 09:13] hyusetiawan opened #13388 "platform.js tries to clone `undefined`"
# Bug report

## Describe the bug
platform.js JSON.stringify then JSON.parse (deep clone) `.default` property but that property is undefined. This only happens in dev but not in production (deployed on vercel)

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

I am not sure if there is an issue with my setup but it's just a simple page, called `flow.t

[2020-05-26 09:20] acifani commented on #13387
@timneutkens totally agree, we have multiple test steps before shipping to production: this will ideally run on pushes/PRs, then we have another one for our staging environment which will run as close to production as possible.

As integration/e2e tests are both hard to write and slow to fix, we prefer fast iteration locally while making sure to run every test in staging before shipping to product

[2020-05-26 09:47] itsmetambui commented on #12664
Thanks, tried your suggestions with not luck, this time a 404 🤦. I'll move to other UI framework for now.

[2020-05-26 10:17] jasonhoo95 commented on #2833
Hi can I ask why when i call this one

`Router.push( '/about?id=1234','/about')`

the id cant be retrieve, and the page i am using is [...index].js which is a multi dynamic catch all page, but if I direct to other page that is not dynamic one it can work properly example car.js push to vehicle.js..
Is there a better way where i can push to my dynamic catch all page and then mask the id and still a

[2020-05-26 10:47] Regaron commented on #13335
How to disable fast refresh and use hmr for preact app?

[2020-05-26 10:58] Sletheren opened #13391 "GetInitialProps get called twice when using Dynamic route causing Query params to be undefined"
# Bug report
When trying to access a page like: `posts/[id]`
which is a page that uses a dynamic query param:

[code]

I get the console log inside the `getInitialProps` called twice with the second time the query param is `undefined` which causes errors (especially for the API call which fails since the ID is undefined the second time)

I don't know why this happens

## To Reproduce

I have a cus

[2020-05-26 11:53] Timer commented on #13335
Please be sure you're upgraded to 9.4.2.

[2020-05-26 12:07] timneutkens commented on #13387
But even then the error overlay is shown when errors happen that would crash at runtime 🤔 So you'd fix them, if you're seeing the error overlay in other cases that'd be unexpected

[2020-05-26 12:20] #13388 closed

[2020-05-26 12:21] kumarryogeshh commented on #5136
In global styles add

`scroll-behavior: smooth;` for html tag

like this :

[code]

[2020-05-26 12:23] zeekrey commented on #13237
Ok, got it. If fallback = **false**, the preview cookie should still be evaluated and if this is successfull the post in draft state should be shown.

As mentioned in the [official docs](https://nextjs.org/docs/basic-features/data-fetching#the-fallback-key-required) if fallback is **false**, any paths not returned by getStaticPaths will result in a 404 page. So I would say that this is not a bug.

[2020-05-26 12:45] tafelito commented on #13237
@zeekrey I think the fallback behavior as stated in the docs does work as expected. What it doesn't work is the preview mode. And that's what I think the the bug is. Preview mode should not be tight to the fallback behavior, they should work independently of each other.

[2020-05-26 12:50] #8825 closed

[2020-05-26 12:50] #9080 closed

[2020-05-26 13:28] khades commented on #12550
@timneutkens i upgraded to 9.4.2, bug is still there

[2020-05-26 13:43] timneutkens commented on #12550
For sure since you didn't send a PR 👍

[2020-05-26 13:47] khades commented on #12550
@timneutkens ugh, ncc is not suitable for multi-file packages.

I'll see what can i do, but it seems it needs full rewrite.

[2020-05-26 14:17] zlwaterfield opened #13395 "Fast refresh not working through nginx proxy"
# Bug report

## Describe the bug

We run multiple apps locally behind an Nginx proxy to simulate the production routing. After upgrading to 9.4 hot reloading with fast refresh no longer works.

I see the `[Fast Refresh] rebuilding` and `[Fast Refresh] done` in the console and the `_next/webpack-hmr` socket is running (we proxy /_next as well).

I have looked through the docs and cannot find anyth

[2020-05-26 14:39] Valnexus commented on #5214
This is a very old issue, is there a reason it is not addressed for so long?

[2020-05-26 14:51] Timer commented on #13395
We need a full reproduction to help you look into this.

i.e. a fully reproducible nginx setup with full instructions.

[2020-05-26 14:52] jamesmosier commented on #13391
Could you provide a full repo example @Sletheren?

I ran the code exactly as you had it and wasn't able to reproduce.

This was only logged once to my terminal when I reloaded the page: `Calling Test getinitialProps with query 1234` (1234 is my dynamic param)

[2020-05-26 14:57] justin-schroeder commented on #10183
Same issue, we're also struggling to get multi-value meta tags indexed by Swiftype which uses this exact mechanism. The next/head code makes it clear why this is happening:

https://github.com/zeit/next.js/blob/86160a5190c50ea315c7ba91d77dfb51c42bc65f/packages/next/next-server/lib/head.tsx#L50-L103

I think this is actually the correct default behavior since duplicate meta tags is a real pain that

[2020-05-26 15:13] dutchenkoOleg commented on #12735
@timneutkens I updated version 9.4.2. And I again lost type checking. Are you kidding me? Is that how the patch version is changed?

What the hell is an experimental feature is breaking the whole stack?

I put up with it, In 9.4+. But now on 9.4.2, even if I turn `experimental.reactRefresh` off, there’s still no checks!

Can you give normal guide - how i can enable typescript checks forever!

[2020-05-26 15:18] StanEgo commented on #13391
I have figured out the same behavior right now. Have easily reproduce with a simple setup:

[code]

/pages/[id].js
[code]

Console output for http://localhost:3000/test contains two query objects. The first one is empty, the second one contains id: "test".

[2020-05-26 15:18] zlwaterfield commented on #13395
Sure, I will put one together today.

[2020-05-26 15:19] mattcarlotta commented on #13282
The CSS module naming convention may be established by Next's Webpack configuration, but it's likely not in use by the majority of 3rd party libraries. CSS modules are a work-around to a problem, but a very opinionated and ridged one at best. If a library doesn't adapt to this ridged convention, then it still won't work in a Next project. Therefore, the usage of this feature is very limited in foc

[2020-05-26 15:19] Izhaki commented on #5214
I'm not sure what is not working anymore.

My understating is that the requirements are as follows:

|                         | exportTrailingSlash: false | exportTrailingSlash: true |
|-------------------------|----------------------------|---------------------------|
| url ends with /         | Shouldn't work             | Should work               |
| url does not end with / | Should work

[2020-05-26 15:20] Timer commented on #13391
@StanEgo that behavior is expected per the documentation and unrelated to this issue:
https://nextjs.org/docs/routing/dynamic-routes#caveats

[2020-05-26 15:27] camiblanch commented on #12313
At the very least could something be added to [the docs page](https://nextjs.org/docs/basic-features/data-fetching#getserversideprops-server-side-rendering) specifying that `getServerSideProps` won't work with `next export`?

[2020-05-26 15:27] andrescabana86 commented on #5214
@Izhaki I tried both, deploying on prod... and for me is not working

*** GET /api/test/**

and I am using exportTrailingSlash: true

[2020-05-26 15:56] Izhaki commented on #5214
@andrescabana86 I'm not sure how much a public repo will help here - this may well be some configuration on the server you deploy onto.

We are testing our production builds (with `exportTrailingSlash: true`) locally using this script in `package.json`:

[code]

Please let me know if going in your browser to `http://localhost:5000/api/test/` works.

[2020-05-26 15:59] cansin commented on #5214
@Izhaki the problem was about the fact that (as the initial report suggests) "trailing slash in link for legit page works for client side navigation but leads to not found bundle and 404 on hard refresh (ssr)". So there was a mismatch between the behavior of a client-side route change, versus a hard refresh. I am not sure if the problem persists with the latest version of Next.js. I can report bac

[2020-05-26 16:03] tywmick commented on #13230
Alright, in `_document.tsx`'s `Head` component, both `<meta name="viewport"`s are being inserted into the `<head>` (among several other things) [here](https://github.com/zeit/next.js/blob/v9.4.2/packages/next/pages/_document.tsx#L388-L517):

[code]

- `<meta name="viewport" content="viewport-fit=cover" />` (the user-entered one) is part of `children`
  - `children` is `this.props.children`
- `<met

[2020-05-26 16:08] acifani commented on #13387
@timneutkens actually, that's not always the case for us 😄 we also get the overlay for blocked networks calls (Failed to fetch) and I believe for errors that wouldn't affect the main application as well (think 3rd parties, but I'll have to double check that)

These were errors that did not show up on the old overlay and are not part of the "proper" react application code

[2020-05-26 16:12] schwamic commented on #13092
It looks like the classes are called in alphabetical order, which does not correspond to the order of 'className'.

[2020-05-26 16:19] jeantil commented on #13197
TLDR;
====
Use `tsconfig-paths-webpack-plugin` (see [repro repository](https://github.com/jeantil/next-9-ts-aliases-workspaces/blob/ad0b3423b59886362fac1e6cf0f6af4dec2895b1/packages/web-app/next.config.js) for the full config file )
[code]

The full rambling story
====
Since this was considered a good first issue I figured I might be able to figure it out

The only way I found to dump the actual e

[2020-05-26 16:20] salazarm commented on #13366
Actually its not supported for _document.
How can I achieve the above?

[2020-05-26 16:22] #13366 closed

[2020-05-26 16:39] #12136 closed

[2020-05-26 16:40] Izhaki commented on #5214
Just tested with 9.4.1 and `exportTrailingSlash: true`.

Going to `http://localhost:6500/admin/` returns 404 when developing locally.

But the same path works when you export.

Note that `exportTrailingSlash` hints this is for _exports_ only.

What we do is use:

[code]

That means things work as intended when we develop locally. And work properly when deployed (via export).

Isn't that the correc

[2020-05-26 16:40] mikesol opened #13405 "RFC - add rawBody to NextApiRequest"
# Feature request

As per @timneutkens request, this is an RFC to add `rawBody` to NextApiRequest.

## Is your feature request related to a problem? Please describe.

Currently, there is no way to use both a body parser _and_ recuperate the raw body of a request. This makes things like [securing github webhooks](https://developer.github.com/webhooks/securing/), which rely on calculating a hash bas

[2020-05-26 16:41] tywmick commented on #13230
I guess I'm not the only one musing about this: #12290

[2020-05-26 16:45] cansin commented on #5214
If a URL does not work on development but does work on production, don't you think that is against the principle of least surprise? I think this should still be considered a bug.

[2020-05-26 16:46] chaddjohnson commented on #5214
@andrescabana86 @Izhaki `exportTrailingSlash` is unrelated to this. That option relates to static exporting of Next.js applications. When true, `example/index.html` is generated, whereas when it is false, `example.html` is generated. My understanding is that `exportTrailingSlash` has nothing to do with development mode.

[2020-05-26 16:48] Timer commented on #13405
Would [disabling the `bodyParser`](https://nextjs.org/docs/api-routes/api-middlewares#custom-config) be an appropriate action?

This allows you to read the body however you'd like.

[2020-05-26 16:55] mikesol commented on #13405
Hey! This definitely helps - we were hoping to use the body parser as the body is json, but what we can do as a temporary measure is disable the body parser and then parse the JSON ourselves. Thanks!

[2020-05-26 16:56] lfades commented on #10313
@dohomi In that case please create a new issue with a reproduction that we can take a look at 🙏

[2020-05-26 17:00] Izhaki commented on #5214
I think one source of confusion is that when you have `exportTrailingSlash` next.js adds a trailing slash to links in development. I'm not sure it should do this? But anyhow, this is not only about `example/index.html` vs `example.html` - you need links to be modified as well.

I may be wrong, but exportTrailingSlash option was for nginx servers that are not configured to serve `/something.html` w

[2020-05-26 17:01] codeincontext commented on #12851
I'm also seeing this problem. I have a monorepo with the next codebase inside a folder. I'm also using `unstable_revalidate`

url: `/abc/[:id]`
params (build): `{id: "123"}`
params (preview): `{id: ["abc", "123"]}`

[2020-05-26 17:50] #12935 closed

[2020-05-26 17:54] tywmick commented on #13230
Alrighty, just added a dedicated discussion #13408. Its thesis: should we discourage adding *any* children to this `Head` like we're currently discouraging adding `<title>` tags to `_document.js`?

[2020-05-26 17:59] hypo-thesis commented on #9607
This is a bummer. no solution yet ?

[2020-05-26 18:24] dercoder commented on #13157
I got the same problem here: https://github.com/zeit/next.js/issues/11065

[2020-05-26 18:38] Hubro commented on #10285
Could somebody explain to me the point of this added style? When I simulate loading my application on a fast 3G network, the page stays completely blank until all the javascript has finished loading. Isn't much of the point of SSR that the user should be able to start reading the content and scrolling through the page *before* all the javascript finishes loading?

I, at least, would *very* much li

[2020-05-26 18:44] explodingcamera commented on #10285
In https://github.com/explodingcamera/next-plugin-styled-components I've just resorted to add the css to override this through global styles in styled-components (to not require a custom _document).

[2020-05-26 19:01] #13332 closed

[2020-05-26 19:18] finleygn commented on #12159
Gonna have a go a this

[2020-05-26 19:31] goszczynskip commented on #10298
After creating fresh next js app via `yarn create next-app` and running `yarn dev` I'm getting error complaining about `chalk`.

[code]

[2020-05-26 19:50] #9990 closed

[2020-05-26 20:06] tywmick commented on #13228
Looks like [Trusted Types](https://web.dev/trusted-types) would be an important feature to support going forward. Considering the offending line in `loadScript()`...

https://github.com/zeit/next.js/blob/d94e8db531cd6af33aa650e3478b7fb45dcfcecc/packages/next/client/page-loader.js#L265

...the easiest way to turn `script.src` into a Trusted Type may be by using [DOMPurify](https://github.com/cure53

[2020-05-26 20:17] tywmick commented on #13230
Now I know what "render" actually means. 🤦🏼‍♂️ Learning! ✊🏼

[2020-05-26 20:38] tywmick commented on #13230
Alright, I take from the response to #13408 that `<meta name="viewport" content="viewport-fit=cover"/>` isn't a weird thing to add to `_document.js`, after all. I'll get to brainstorming how to deduplicate cleanly.

[2020-05-26 20:51] rubencodes commented on #7417
Hmm, I also had this problem on next version `9.3.2`. For me, I fixed by just avoiding the `React.Fragment` entirely. This seemed to fix the inconsistent markup.

[2020-05-26 21:08] justincy commented on #13387
I also see the error overlay for failed fetch requests.

[2020-05-26 21:53] jeantil commented on #13197
`next-transpile-modules` counter-attacks
=====

In the previous episode, resolving the typescript module `baz` proved difficult but ~the resistance~ the developper was able to ~successfully blow up the death star~ successfully build the project by fixing relative paths or using ~the force~ a webpack typescript plugin.

In this new episode the developer has turned a bit more to the dreaded ~dark si

[2020-05-26 22:12] edwardr opened #13416 "Script fails to compile"
# Bug report

## Describe the bug

Assignment of object in script fails to compile.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

Using  next/head in any page:

[code]

## Expected behavior

Successful compile

## Screenshots

https://i.imgur.com/lyylTlp.png

## System information

- OS: Ubuntu
- Browser (if applies) Chromium
- Version of Next.js

[2020-05-26 22:26] Sletheren commented on #13391
Surprisingly, after spending hours trying to debug this!
Found out that the page rerender twice, because of an Image component that had a `src` that gets retrieved from the `redux store` and on refresh/mount, the store is not initialized, and the image ends up loading `undefined` as the src url, which causes the page to trigger twice (Weird behaviour)

[2020-05-26 22:26] #13391 closed

[2020-05-26 22:40] renatodex opened #13417 "Dynamic Import returns LoadableComponent instead of Module"
# Bug report

## Describe the bug

When I try to load Phaser using `dynamic imports` in a JSX component, it fails to load the `Phaser` object.
Instead, the loaded object is a `LoadableComponent`, and when I try to create the Phaser object, I receive this error:

`TypeError: Phaser.Game is not a Constructor` (see screenshot below)

## To Reproduce

I've created a sample repository to make it easy f

[2020-05-26 22:43] renatodex commented on #4381
Hey @timneutkens !
I don't want to distort the main goal of this Issue, so I've posted my failed experiment with `Phaser` as a new Issue in the Issues of NextJS.
https://github.com/zeit/next.js/issues/13417
Take a look when you have time!

[2020-05-26 23:35] Timer commented on #13416
This is a general React question and requires [`dangerouslySetInnerHTML`](https://reactjs.org/docs/dom-elements.html#dangerouslysetinnerhtml).

[2020-05-26 23:36] #13416 closed

[2020-05-26 23:40] Timer commented on #13417
`next/dynamic` is only for components, not any dynamic imports. You should be using pure `import()`!

[2020-05-26 23:40] #13417 closed

[2020-05-27 03:10] kennandavison commented on #12820
+1 for amplify. Needing to rm -rf node_modules before yarn install on builds.

[2020-05-27 03:17] Bunlong opened #13421 "v9.4.2 does not work on iOS 10"
# Bug report

## Describe the bug

After I upgraded Next.js version 9.3.6 to 9.4.2 I got the error on iOS 10 as following:

![100997471_686480498840915_2649637110985785344_n](https://user-images.githubusercontent.com/1308397/82973879-c3963000-a002-11ea-933c-1f5d46cdc6f7.jpg)

## System information

- OS: Ubuntu
- Browser chrome, safari on iOS 10
- Version of Next.js: 9.4.2
- Version of Node.js: 12

[2020-05-27 04:08] awareness481 opened #13423 "Examples/With-Linaria Fails on Windows 10"
# Bug report

## Describe the bug

Running the **with-linaria** example produces errors on Windows 10 causing the app to break. Untested on Unix/Linux

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create Next.js app with `$ npx create-next-app -e with-linaria`
2. cd to the project folder and run `$ yarn dev`
3. Visit `localhost:3000`
4. 500 Er

[2020-05-27 04:12] awareness481 commented on #12964
@timneutkens With PR https://github.com/zeit/next.js/pull/13422 the only remaining example is **with-linaria**, excluding class components.

I was unable to run **with-linaria** on my system so I open an https://github.com/zeit/next.js/issues/13423 . I'll investigate further if nobody picks up the issue within a week.

P.S I felt it was relevant to tag you, please feel free to say if it bothered y

[2020-05-27 04:21] Timer commented on #12964
Exciting work! Thanks to all involved.
FWIW, we get all notifications, so it's no biggy!

[2020-05-27 05:15] cmsbased commented on #13337
I resolved the "The fs.promises API is experimental" error message by updating Node.js to latest LTS build (12.17.0) on Windows computer.

[2020-05-27 05:48] #11008 closed

[2020-05-27 07:40] Tushant commented on #10059
wont the size of _app.js will be heavy if we have to import tons of third party libraries css from node_modules? Is there any other solution for this?

[2020-05-27 07:43] aorsten commented on #13231
Small update - I couldn't immediately recreate the error without an express server, but I didn't pour my soul into it. Would it be an easy fix to add an if-test for attachShadow in the specific place I pointed to?

[2020-05-27 07:46] M1ck0 commented on #10059
Well. If you are using tons of libraries for UI there _app is going to be heavy. Solution would be to import CSS files in components/pages that need them and not in _app, but I am not sure that this is possible.

[2020-05-27 07:52] timneutkens commented on #13387
Because they're uncaught errors in your code, which is expected to show the overlay.

[2020-05-27 08:11] TheHolyWaffle commented on #13332
Can confirm that 9.4.3-canary.1 seems to have fixed the issue: https://env-test-three.now.sh/api/print

[2020-05-27 08:12] hpachy commented on #160
Hello !

I got the problem why the gtag implementation. First of all the Gtag does not work (obvious) and my complilator throw me

As I explain in the stack overFlow thread I tried to do the same example as Zeit with typeScript

`
// _app.ts
import { useEffect } from 'react';
import Router from 'next/router';

import React, { ReactElement } from 'react';

import { AppProps } from 'next/app';
impor

[2020-05-27 08:41] petewarman commented on #13092
I think the order of the imports matters - in the example page you have
[code]
So I would expect the source order of the compiled css to be
1) page styles
2) component styles

Therefore in your example the component style should override the page styles and the background should be yellow. ie. the dev mode is correct. Worryingly it's the production mode that gets it wrong.

[2020-05-27 08:43] timneutkens commented on #13332
@TheHolyWaffle thanks for checking!

[2020-05-27 08:52] timneutkens commented on #5214
FWIW this is being worked on already #13333

[2020-05-27 08:55] timneutkens commented on #13157
Closing this issue as no reproduction was provided. It's likely this https://github.com/zeit/next.js/issues/13157#issuecomment-632014350

[2020-05-27 08:55] #13157 closed

[2020-05-27 09:31] aralroca commented on #5070
Or some page configuration to retry during hydration when a markup error happens on SSR.

[2020-05-27 09:38] joe-bell commented on #12984
In the meantime, I've built [`next-google-fonts`](https://github.com/joe-bell/next-google-fonts) as a workaround

[2020-05-27 10:50] jensmeindertsma commented on #13092
@petewarman Moving the styles import to after the component import works, until I modify the component too much (changing the name of the class it applies to the div). Then the styles of the component are re-inserted after the page styles despite the page styles import being the last import in the file

[2020-05-27 11:03] rajatdhoot123 opened #13436 "Backend routes starts with api is served by next router"
# Bug report
Client-side routes are served by the custom node server
## Describe the bug

Here is my custom server code
[code]
My backend routes start from /api/**

When I am accessing the server-side rendered page it was working properly.
But when I am making routing on client side it was broken don't know what is wrong here.
One Observation even when I am trying to hit backend routes through the

[2020-05-27 11:35] softcraftkmh commented on #13092
@petewarman i'm also having the issue too
as for me, i'm using materialize css library
the library css classes are overriding my class
for example, in className={"btn " + styles.custom_btn}
not all attributes from my custom_btn module scss is not working because they being overridden by global btn class.

[2020-05-27 11:47] huanglip opened #13437 "next.js的项目部署到linux上，run start 后如何访问应用"

[2020-05-27 11:48] acifani commented on #13387
Agree, but that's why we might need an escape hatch or a way to control when to show the overlay. Sometimes, you're not in control of the code that is failing and you can't handle those errors at all

[2020-05-27 11:49] #13437 closed

[2020-05-27 11:55] Spirik commented on #5214
I am not very experienced coder, using Next.js primarily for multi-paged landings. Apparently, I've been using the following workaround almost all of the time, unbeknownst to its effect. Here's stripped down version of it:

[code]

In my case the code is a little more complicated, because I am using it to support additional static url prefixes, etc. But this stripped down version seems to be worki

[2020-05-27 12:36] laurencefass commented on #8193
revskill10: link in https://github.com/zeit/next.js/issues/8193#issuecomment-623194233 is a 404.

[2020-05-27 12:49] laurencefass commented on #1632
I tried Next a while back but lack of flexibility on the router led me to discover a Razzle implementation called After.js https://github.com/jaredpalmer/after.js?utm_source=hashnode.com.

As React Router is just a package can we not import it and limit rendering to client side only so it works like an SPA where its needed? That way we could embed it in pages loaded with the Next.js page router?

[2020-05-27 12:57] Sletheren opened #13440 "Accessing Next from different URLs (Not root)"
# Bug report
I have tried to solve this before and opened a discussion feed about it,
But still seems to cause a lot of hassle on my project (saw a lot of other people complaining about it)

So my setup is as follows:

- I have a NextJS app, with a custom `server.js` & `_app.js`
- The app is hosted on AWS.
- The App can be accessed from different URLs: `https://domain/germany/app`, `https://domain

[2020-05-27 13:37] Mistwell commented on #10522
any htaccess for apache?
Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]

This settings gives only redirect to homepage on pages another than '/'.
Moving on site is ok, copy paste urls in browser return me to homepage(.

[2020-05-27 14:33] Sletheren commented on #4998
What is the Status on this? we are really depending on this :/

[2020-05-27 14:40] dani97 commented on #12448
I have used plain css modules for components and styles apply after some ms.

[2020-05-27 14:46] Adrianjs42 commented on #12448
According to https://stackoverflow.com/a/42969608/943337 i just added an empty script tag and my problem of a sidebar which was popping up at first load, is now solved.
[code]

[2020-05-27 15:30] #13440 closed

[2020-05-27 15:40] saleebm commented on #11608
I can confirm that this is no longer an issue with the latest canary, 9.4.3-canary.1

Thank you!

[2020-05-27 15:49] tywmick commented on #13230
...And as per [further discussion](https://github.com/zeit/next.js/discussions/13408#discussioncomment-19104) in #13408, I'm now working on a PR to warn users when they add a `viewport` tag to `next/document`'s `<Head>`. 👍🏼

[2020-05-27 16:00] mysticaltech commented on #9022
Folks, simple fix, remove your global version of react, next and react-dom by doing:
`npm remove -g react next react-dom`

[2020-05-27 16:12] martpie commented on #4998
@Sletheren basePath support is experimental right now, use at your owm risks.

cf. https://github.com/zeit/next.js/pull/9872

[2020-05-27 16:44] Sletheren commented on #4998
@martpie I already saw it, but for. my case `basePath` is not just one, it can be multiple basePath, since we serve our app through different "URLs" and setting up `basePath` during build time is not an option (even though it has to support an array of paths rather than a single string)

[2020-05-27 16:44] conan commented on #7626
@brycelund this fixed it for me, after a day of checking for duplicate reacts and ensuring my hooks were done by the book. Thanks! I can't understand why this is an issue

[2020-05-27 16:52] Vadorequest opened #13453 "SSG with fallback: true generates "SyntaxError: Unexpected token < in JSON at position 0" at random locations"
# Bug report

## Describe the bug

I'm trying to build a page using SSG, getStaticPaths and getStaticProps and deploy it on Vercel.

I experience a different behaviour between development and staging environments (staging use NODE_ENV=production).

### On development

No error happens, the page function almost as expected.

The only issue during development is that it displays `This page has not u

[2020-05-27 17:02] baldurh commented on #9022
I'm glad that worked for you but I doubt many people in this thread have these dependencies globally installed.

[2020-05-27 17:10] AshConnolly opened #13454 "Env property undefined in deployed serverless function"
## Describe the bug

I am connecting to my database in a serverless function. This works locally, but not once deployed. My database connection string is stored in a .env file. When deployed this string is undefined. The env file is committed and in the repo.

Github repo example - https://github.com/AshConnolly/next-env-issue

Here is my example .env file:
[code]

When outputted into a page:
[cod

[2020-05-27 17:15] ijjk commented on #13454
Hi, this sounds like a duplicate of https://github.com/zeit/next.js/issues/13332 which was resolved by https://github.com/zeit/next.js/pull/13406 and is available in >= `v9.4.3-canary.1` of Next.js

[2020-05-27 17:37] AshConnolly commented on #13454
Great! Thanks @ijjk! Do you have a rough estimation of how long it will be until that fix is released to master?

[2020-05-27 17:38] Vadorequest commented on #13453
Fixed by [https://github.com/UnlyEd/next-right-now/pull/52/commits/4ba9bb8bc86078581649ae4dd30a3591048c0547 ](https://github.com/UnlyEd/next-right-now/pull/52/commits/4ba9bb8bc86078581649ae4dd30a3591048c0547)

I fixed it by handling a special case that hadn't happened before, when some must-have variables aren't defined.

I believe the issue was because the page was failing due to those undefined

[2020-05-27 17:39] tywmick commented on #13228
@tipra34, could I take a look at your source files for https://arcane-refuge-12762.herokuapp.com so I can do a little testing on my end?

[2020-05-27 17:44] balthild commented on #8251
Another hack is to use webpack raw-loader to embed them into js.

[code]

[code]

Then use `templates.verify` as a string.

[2020-05-27 18:15] Timer commented on #13353
Closing as fixed in https://github.com/vercel/vercel/pull/4484

[2020-05-27 18:15] #13353 closed

[2020-05-27 18:15] Timer commented on #13353
@balazsorban44 the intent is to get this to stable ASAP. There's no ETA, but we're actively working on it.

[2020-05-27 18:19] bestuiexperience opened #13460 "404 error returned from files served from public folder"
With Next JS 9.4.0, I am getting the following error for files served from the public folder:

error [index.js]: Path: images/xxx.svg | Error: Unable to resolve path \/images\/xxx.svg.
Is any additional configuration needed to serve up files from the public folder or is this a bug in Next JS?

[2020-05-27 18:20] tipra34 commented on #13228
@tywmick here is the code https://github.com/tipra34/next-trusted-types-issue
I have just added the header in metatag.

[2020-05-27 18:32] tipra34 commented on #13228
I think custom policy would be good, since we dont need any additional features that dompurify provides.
Its just a few lines of code as opposed to a library which will increase bundle size.

[2020-05-27 18:44] tywmick commented on #13132
Okay this is weird: after cloning @robertovg's [repo](https://github.com/robertovg/next-base-path-example), I experience those same reloading issues when I `yarn dev`, but when I `yarn build && yarn start`, going to `http://localhost:3000/myPath?reloadsWithAnyParam=true` no longer causes reloading.

I then thought that it must be a server-side rendering issue, but then I tried adding a `getServerS

[2020-05-27 18:46] #8128 closed

[2020-05-27 18:51] arochadaniel opened #13462 "Cannot build and export automatically optimized pages, I get "error ocurred prerendering page..."
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

If applicable, add screenshots to help

[2020-05-27 19:07] Timer commented on #13462
Closing as issue template was not followed.

[2020-05-27 19:07] #13462 closed

[2020-05-27 19:10] Vadorequest commented on #13453
Okay, so first rule of thumb when working with fallback option, make sure to handle that use case from the _app component to avoid rendering anything that's based on props.

Something like this:

[code]

[2020-05-27 19:15] arochadaniel opened #13464 "Can't build and export project, error: "cannot find module for page ..." in every /pages route"
# Bug report
Can't build and export Next.js project, it gives me
[code]
on every /pages route

## Describe the bug
I recently migrated my React.js + Apollo project to Next.js + Apollo, I followed all the examples for Apollo and managed to get it running in development (next dev) perfectly with the withApollo HOC. But when I need to build & export the project with next build, it compiles the projec

[2020-05-27 19:16] gauravkrp commented on #13238
Hi @timneutkens , I've done a complete reproduction repo here_
https://github.com/gauravkrp/test

I've used the code from my original project and created a minimum working repo.
deployed using vercel - https://test-klaky5btz.now.sh

[2020-05-27 19:25] samceena commented on #13460
what's your folder structure like?
Do you have a picture? and whats your code like?
How do you access it?
The default configuration should work.

Could it be a file permission issue?
<img width="242" alt="Screen Shot 2020-05-27 at 3 24 03 PM" src="https://user-images.githubusercontent.com/6410538/83063473-34067680-a02e-11ea-8871-ecbb91b68d13.png">
<img width="435" alt="Screen Shot 2020-05-27 at 3

[2020-05-27 19:36] samceena commented on #13460
https://github.com/samceena/nextjs-404-issue

[2020-05-27 19:58] j-quelly opened #13466 "TypeError: Cannot read property 'isNextDevCommand' of undefined"
# Bug report

## Describe the bug
TypeError: Cannot read property 'isNextDevCommand' of undefined options in createServer() do not seem to have the isNextDevCommand property

## To Reproduce
1. start custom server
2. navigate to /
3. See error

## Expected behavior
Not this

## Screenshots

![Screen Shot 2020-05-27 at 12 56 41 PM](https://user-images.githubusercontent.com/10458851/83066209-8ab5858

[2020-05-27 20:17] luanlucho commented on #9682
Hey guys I'd created a new project following your with redux thunk example and my _app.js file size became larger than 500kb.

<img width="822" alt="Screen Shot 2020-05-27 at 3 16 40 pm" src="https://user-images.githubusercontent.com/30386923/83067974-256b8f80-a02d-11ea-950e-cce1a3bfb0c6.png">

Please shed some light.

[2020-05-27 21:19] Timer commented on #13466
Sounds like the `next` instance is being instantiated incorrectly.

Look for:
[code]

And be sure you're passing `dev` as shown in our examples:
[code]

---

https://github.com/vercel/next.js/blob/6ca00bfe312c8d3fc5c20d25a9cd8d2741a29332/examples/custom-server-express/server.js#L6
https://github.com/vercel/next.js/blob/6ca00bfe312c8d3fc5c20d25a9cd8d2741a29332/examples/custom-server/server.js#L6
ht

[2020-05-27 21:45] Timer opened #13467 "Optional catch all routes and getStaticPaths"
How should one prerender the rootmost route when using optional catch all routes and `getStaticPaths`?

`undefined`? `null`? An empty Array `[]`?

---

Also reported:
[code]

https://github.com/zackkrida/next-experimental-catchall-bug/blob/master/pages/%5B%5B...slug%5D%5D.js

[2020-05-27 22:19] tywmick commented on #13228
Well, [adding these lines](https://github.com/tywmick/next.js/blob/3761517d499736dbd98b740ca89a0b053b675962/packages/next/client/page-loader.js#L257-L266) to the beginning of `loadScript()` and testing your example with my locally compiled Next.js doesn't fix the problem:

[code]

And actually, putting a few `console.log`s around `loadScript()` makes it look like the function isn't even being call

[2020-05-27 22:57] tettoffensive commented on #2252
@sergiodxa Is this still the preferred way to store persistent/global data (in my case firebase authentication)?

I'm new to react development, but is it dangerous to use `dangerouslySetInnerHtml`? I mean it's in the name 😉

[2020-05-27 23:04] sergiodxa commented on #2252
There is no preferred way, if you use Firebase then Firebase should be your preferred way, I use cookies for the authentication token and [SWR](https://swr.now.sh) for data fetched from API.

[2020-05-27 23:19] arochadaniel commented on #13464
I fixed the issue, for anyone that could have the same problem. I was generating an ID for the build based on the last commit hash, I removed the generateBuildId property in my next.config.js and the problem was fixed, now I'm building and exporting without problems. I did that to keep an order and history between builds and git, but is causing me problems, maybe it is a bug?

See [the docs](https

[2020-05-27 23:19] #13464 closed

[2020-05-27 23:21] j-quelly commented on #13466
Hey thanks Timer, my server is as follows:

Do you see anything that looks wrong here?
[code]

[2020-05-27 23:34] tettoffensive commented on #2252
Ok. well the firebase next.js example suggests this method. so i'll stick with it for now. just checking since it's 3 years old. sometimes these things change.

[2020-05-27 23:52] dohomi commented on #13467
@Timer I tried `[], ["/"]` but both without success yet.

[2020-05-28 01:01] jmlivemercial commented on #12851
I was able to fix this for now by setting getStaticPaths to return paths:[]. Not optimal but works for now.

export const getStaticPaths: GetStaticPaths = async () => {
  return {
    paths: [],
    fallback: true,
  };

[2020-05-28 01:44] Timer commented on #13466
Without a full demo I can't help trace this down!

[2020-05-28 01:51] JustTB opened #13473 "Link should create path with parameters from query parameters"
# Feature request

As described here: https://nextjs.org/docs/api-reference/next/link#with-url-object You can give the `href` attribute query parameters and it will construct a url with `?parameter=value`. It would be handy if next could create for routes that have parameters like `/[slug]/[...parameters]` the routes themself from query parameters with the same name.

## Is your feature request re

[2020-05-28 02:24] saleebm commented on #9542
You can use the same `initOnContext` function to access the client in GSSP/GSP.

What I am noticing is that there is no `ctx.res` unless it is a page component using this HOC [in reference to this check](https://github.com/vercel/next.js/blob/canary/examples/with-apollo/lib/apollo.js#L124). I'm using it with the App and there `ctx.ctx.res` exists. Perhaps this should check for whether or not `inAp

[2020-05-28 02:25] x5engine commented on #10059
@Tushant so true, this is why we need this solved

[2020-05-28 02:59] ijjk commented on #13454
This should be available on master now in v9.4.3 of Next.js

[2020-05-28 03:09] #13454 closed

[2020-05-28 03:22] avin-kavish commented on #1632
Why don't we allow nested routes in next.js router as a last resort and make it clear that these areas will not be pre-rendered. At the very least it will save us the effort of having to avoid writing the if conditions that we have to inevitably write when we want a sub-resource in the page to change based on the route.

[2020-05-28 03:35] srikanth912 opened #13479 "Cannot find module 'fs-extra'"
# Bug report

## Missing dependency (maybe)?

After upgrading from 9.4.2 to 9.4.3, npm run dev throws an error "Cannot find module 'fs-extra'"

## To Reproduce

Upgrade project from 9.4.2 to 9.4.3 or just create a new next app using "npx create-next-app" and run _npm run dev._ (Verified on Ubuntu 18.04 with Node 12.16.3)

## Expected behavior

Expect it to start the server, rather it shows module