[2019-01-28 23:14] 4cm4k1 opened #6168 "[dev mode bug: 8.0.0-canary.10-17] Uncaught ReferenceError: webpackHotUpdate is not defined"
# Bug report

## Describe the bug

Beginning with `8.0.0-canary.10` (I think?) through the current `canary` version, running a Next app in dev mode results in an `Uncaught ReferenceError: webpackHotUpdate is not defined` error in the console, pointing to line 1 of `_next/static/webpack/static/runtime/main.js.[hash].hot-update.js`. This causes the page to refresh every few seconds, which makes deve

[2019-01-28 23:26] canotech opened #6169 "Execute getInitialProps from wrapper component"
# Execute getInitialProps from wrapper component

Hi I have a two components , a component wrapper and a  wrapped Component ,thw wrapped Component   ultimate it´s a Page of NextJS, So when  I recharge or change of page middly  with Router.push, the method getInitialProps of my wrapped component (nextjs page) it`s not execute, but if I write Component.getInitalProps() before return my <Component />

[2019-01-29 01:54] #6167 closed

[2019-01-29 02:42] herudi commented on #5632
same with me error => Module not found: Can't resolve 'semantic-ui-css/semantic.min.css'

[2019-01-29 07:38] mockee commented on #3720
+1

- `next` v7.0.2
- `@zeit/next-css` v1.0.1
- `next-compose-plugins` v2.1.1

[2019-01-29 10:24] martpie commented on #5393
Any news on this? I would gladly submit a PR if I knew where to start (and if I knew if it is a bug or an intentional behavior)

 (cc @timneutkens)

[2019-01-29 12:07] timneutkens commented on #6163
👍 sgtm!

[2019-01-29 12:10] timneutkens commented on #5393
I'm not really sure I understand the issue here, when adding next-typescript you're required to add the preset to your .babelrc, it might sound nice having Next.js handle that for you automatically, however then you run into issues with other tools that use babelrc / babel to compile being inconsistent, eg jest.

[2019-01-29 12:12] timneutkens commented on #6169
Please follow the issue template and ask questions on https://spectrum.chat/next-js, the Next.js community is there so your question is more likely to be answered.

I guess this example will help: https://github.com/zeit/next.js/tree/canary/examples/with-higher-order-component

[2019-01-29 12:12] #6169 closed

[2019-01-29 12:42] #6144 closed

[2019-01-29 12:42] #6138 closed

[2019-01-29 12:47] shanvl commented on #4855
**Solution**

`connect` makes its wrapped component `pure`, preventing `withRouter`, placed no matter how deep in the component's tree, from getting context updates. So in order to make your ActiveLink work, pass `{pure: false}` as a fourth argument to your `connect` function like this:

[code]

[2019-01-29 12:49] fabb commented on #1791
i tried providing `max-age` like @mike-low and @aseem2625 suggested, but it did not change the cache header on my static resources. any suggestions? i also tried `etag: false` without any effect.

[2019-01-29 13:52] timneutkens commented on #5393
🙌

[2019-01-29 14:40] martpie commented on #5393
Then I think we can close this 👍

[2019-01-29 14:40] #5393 closed

[2019-01-29 14:42] timneutkens commented on #5393
🙏 Lmk if you run into any other issues.

[2019-01-29 16:37] cesarvarela commented on #5054
Whats the status of this? I'm needing something like this too.

[2019-01-29 16:49] iam4x opened #6173 "Support AWS Lambda as target serverless"
Hey 👋

Thank you a lot @timneutkens for great #5927 PR, amazing work 🥇

I was going through the code of your PR in order to make it work with AWS Lambda and it was pretty straightforward.

I had to "hack" your `next-serverless-loader.ts` function in order to be able to inject `serverless-http` module that way:

[code]

This is working great, the output can be directly plugged to an handler 🏆

[cod

[2019-01-29 16:56] timneutkens commented on #6173
You shouldn't override the serverless loader, instead write a utility that wraps the build output, the point of the serverless target, as documented is provide the low level rendering API so that it can be wrapped for other platforms. Note that the Next.js serverless build isn't particular to Now 2.0, Now 2.0 wraps the `next build` output using a `@now/next` *builder*. We might introduce a utility

[2019-01-29 16:57] timneutkens commented on #6173
Eg like the example I posted here: https://github.com/zeit/next.js/pull/6070#issuecomment-454846201

[2019-01-29 17:13] iam4x commented on #6173
Thank you for the fast answer.

Alright, I understand the API design but having to create a file with a wrapper function for every pages is redundant or having one file as handler for everything is going against the way of using lambdas.

On my side, it's a big +1 for an utility / api for handling this wrapping with Next.js directly and I'll be happy to help by working on that. But like you said,

[2019-01-29 17:25] giuseppeg commented on #6128
pasting a private conversation I had with Tim:

[2019-01-29 17:46] edelgado commented on #5546
Hmm, have you folks noticed that the browser keeps doing a request GET request for `/_next/webpack-hmr` even after the app is stopped?

This is what happened to me:

1. Ran a next.js app.
2. Browsed to localhost:3000
3. Stopped the app.
4. Started a Rails app that also uses port 3000
5. The Rails app gets a GET "/_next/webpack-hmr" request every 10 seconds or so.

Weird!

[2019-01-29 19:19] timneutkens commented on #5546
@edelgado you probably still had a browser tab open, it tries to reconnect every few seconds when the connection is lost.

[2019-01-29 19:23] edelgado commented on #5546
@timneutkens 🤦‍♂️ you are right. Thanks 😄

[2019-01-29 19:52] onomatopoetry commented on #1365
How could you use the [article](https://github.com/zeit/next.js#exposing-configuration-to-the-server--client-side) mentioned by @johntran to set up two sets of configuration - one for dev and one for prod?

My app communicates with an api, often in the context of a page's `getInitialProps()` using [isomorphic-unfetch](https://www.npmjs.com/package/isomorphic-unfetch). When pages are rendered serve

[2019-01-29 19:53] noahtallen commented on #6073
For some reason, I'm now getting 404s for every single page when I build locally (on latest canary), but no errors thrown in the console. Additionally, when I export using those commands, it doesn't appear to build any page other than app & error

[2019-01-29 22:45] renjithgr commented on #5781
This error occurred when I tried to use Next ```7.0.2``` with Webpack ```4.27.1```

I had to downgrade webpack version to ```4.20.2``` for this error to go away.

[2019-01-29 22:47] leongaban opened #6174 "Getting 500 error on my Now deployment (No errors during build)"
# Bug report

I looked at all the other 500 error issues but none helped.

## 500 on deployment url

I deployed my project: https://github.com/leongaban/Async-Preloader here: https://preloaderbutton-ds3k9i10x.now.sh/ However I'm getting a 500 error.

My app runs fine locally, and during the build there were no errors and got

## To Reproduce

1. Clone repo: https://github.com/leongaban/Async-Prelo

[2019-01-29 23:18] leongaban commented on #6174
Update I found some errors:

[code]

[2019-01-29 23:19] leongaban commented on #6174
Found this link: https://github.com/zeit/now-builders/blob/master/errors/now-next-no-serverless-pages-built.md

I followed all their steps, but still run into the build error.

In my package.json
`"next": "^8.0.0-canary.17",`

Updated next.config
[code]

now.json
[code]

[2019-01-29 23:24] timneutkens commented on #6174
[code]

[2019-01-29 23:34] leongaban commented on #6174
Thanks! Hmm but now no 500 error, but my deployment isn't showing my app...

it's showing the build logs?

https://zeit.co/leongaban/preloaderbutton/deployment/w572zwelg

![screen shot 2019-01-29 at 5 33 22 pm](https://user-images.githubusercontent.com/191636/51947912-18646f00-23ec-11e9-9691-48484924b45c.png)

I see my console.logs at the end
[code]

[2019-01-29 23:36] leongaban commented on #6174
Oh it's working now, thanks! https://preloaderbutton-ix57e41xo.now.sh/

[2019-01-29 23:36] #6174 closed

[2019-01-30 02:52] Capricair commented on #5827
Hello, did you resolve this issue? @jlarmstrongiv

[2019-01-30 03:56] tangbc opened #6175 "Any way to serve files in root path of my domain?"
Hi~

I have look at [static-file-serving](https://github.com/zeit/next.js#static-file-serving-eg-images), **but** it must put files in `static` folder.

If I need put a file `verify_xx.txt` in root path of my domain to visit it, such as `www.abc.com/verify_xx.txt` where nextjs deploy at `www.abc.com`, how can I  do?

except write a special node/koa router for all these files?

[2019-01-30 07:09] jim-king-2000 commented on #6113
Hi Detective @youssseeef , anything new?

[2019-01-30 08:39] tangbc commented on #6175
I have put `verify_xx.txt` inside `static` folder, then I try this way but failed:

[code]

I visit `localhost:8080/verify_xx.txt` is error but I visit `localhost:8080/static/verify_xx.txt` is right.

[2019-01-30 08:54] H27-VEN opened #6177 "Deploy Next App with `forever and node`"
As the title says how to deploy next app with `forever` and `node`
I have generated build with `npm run build`
now what command should I run with `forever`
basically what file in `.next` folder is entry point next app

[2019-01-30 09:20] scabbiaza opened #6178 "Hot Module Replacement doesn't reload styles when switching between routes"
# Bug report

## Describe the bug

Hot Module Replacement doesn't reload styles when switching between pages

## To Reproduce

I created a demo repo here:
https://github.com/scabbiaza/nextjs-test

Steps to reproduce:
1. Create two pages, each one should include own CSS files:
https://github.com/scabbiaza/nextjs-test/tree/master/pages

In my case:
* home page has styles to make a text RED
* about p

[2019-01-30 10:47] paraboom commented on #6004
I have the same issue. I think it happens because of the usage of `publicRuntimeConfig`.
I use the latest `"next": "^8.0.0-canary.17"`
Here is my configuration:

**next.config.js**
[code]

And code that uses it:

[code]

If I remove these lines
[code]
Everything working fine and deployment successfully finishes.

Otherwise I have following error:
[code]

[2019-01-30 11:27] CalvinSundar opened #6179 "[Material-UI] Using custom server in production mode does not attach MUI production classes"
# Bug report

## Describe the bug
when I was working with Material UI. the development build is working good. but when I was running production build with custom server in next js. It is not rendering the jss class correctly in production mode. It is working correctly when I was doing next build and next start(without custom server).

## To Reproduce

Clone Material UI with NextJS example from rep

[2019-01-30 11:34] lucasfeliciano commented on #6175
This is how I do to serve service worker, you can do the same with the file that you want.

1. At build time you need to copy the file that you want to serve to `.next`
2. Create a route to serve the file

[code]

[2019-01-30 11:37] MarchWorks commented on #6178
There is already an open issue for this [#282](https://github.com/zeit/next-plugins/issues/282)

[2019-01-30 12:32] tangbc commented on #6175
@lucasfeliciano Thanks, it works!

I use:
[code]

It would be great if nextjs could done this just by a simple config, for example in `next.config.js`:
[code]

[2019-01-30 14:37] timneutkens commented on #6177
`./node_modules/.bin/next start` is the entrypoint. feel free to post your question on https://spectrum.chat/next-js as per the issue template.

[2019-01-30 14:37] #6177 closed

[2019-01-30 15:51] timneutkens commented on #6178
Duplicate of https://github.com/zeit/next-plugins/issues/282

[2019-01-30 15:51] #6178 closed

[2019-01-30 15:52] timneutkens commented on #6179
@oliviertassinari could you have a look 🙏

[2019-01-30 15:54] timneutkens commented on #6175
It'd actually make Next.js more complex, feel free to write up a RFC for this addition though (issue template feature)

[2019-01-30 16:00] timneutkens commented on #5899
@revskill10 I'm sure you mean the same problem / feature though. If not please write up a more detailed issue about what you're trying to solve, because it sounds like you want the exact same solution, being able to link to a specific subpath.

[2019-01-30 16:38] Clebal commented on #6168
I've got the same error but in Next.js 7.0.2. I'm not sure that this error is from Next.js, I think it's from [next-offline](https://github.com/hanford/next-offline/) because I've observed that the error disappears if you remove it from next.config.js.

[2019-01-30 16:50] 4cm4k1 commented on #6168
@Clebal Thank you for this info. I’m going to look into it more and file an issue over in that repo!

[2019-01-30 19:47] phuzarski opened #6180 "How Debug NextJS with WebStorm"
# Question about Next.js
I try to debug my next.js app with webstorm,

I am using this tutorial: https://blog.jetbrains.com/webstorm/2017/01/debugging-react-apps/

But missing how it should looks like in next.js?

[2019-01-30 19:52] oliviertassinari commented on #6179
@timneutkens You can close the issue.

`const dev = process.env.NEXT_ENV.trim() !== 'production';`.

[2019-01-30 20:48] JamesBliss commented on #6117
@sebastiansson I know this is closed but I have tried all the steps you suggest and I still cannot get my `/match` route to work.

[2019-01-31 00:25] revskill10 opened #6181 "Antd-design-less example with export with Next > 7.0.2"
# Bug report

## Describe the bug

The bug happens when i export static NextJS app

[code]

## To Reproduce

Upgrading `antd-less-design` example with following dependencies:

[code]
next.config.js:

[code]

## Expected behavior

Exporting should be successfull.

## Screenshots

<img width="738" alt="screen shot 2019-01-31 at 7 27 43 am" src="https://user-images.githubusercontent.com/1390196/52022

[2019-01-31 09:09] ranjanrajiv00 commented on #6040
I am also doing feasibility analysis on micro frontend approach.
Currently we have monolith app developed using **React, Redux, Next.js(SSR)**. So wanted to split into micro apps.

I am still in progress to finalize and implement, but my approaches are as below -
1. Create micro apps (let say, Product, Cart, Payment, Order)
2. Micro apps is in react ( no next.js)
3. Customized webpack to generate

[2019-01-31 09:36] timneutkens commented on #6180
Questions can be asked on https://spectrum.chat/next-js as per the issue template 👍

[2019-01-31 09:36] #6180 closed

[2019-01-31 09:38] #6157 closed

[2019-01-31 10:53] teleginzhenya commented on #6181
Hello! Did you see the [example](https://github.com/zeit/next.js/tree/canary/examples/with-ant-design-less)?

[2019-01-31 11:21] ducdev commented on #6117
I'm not using `redux`, but I'm still encountering this issue.

[2019-01-31 13:05] youssseeef commented on #6113
@jim-king-2000 I have been busy for the last couple of days but I have actually tried a few things including disabling SSR for that module using dynamic import and that didn't help either.

[2019-01-31 13:31] janus-reith commented on #6040
@kopacki Yes there're several ways like the one you gave as example to compose the application out of different modules, requiring them to be deployed together.

A best-case scenario would be, if each separately deployable part would still run through a bundling and optimization process.

If we take the concept @kopacki gave and serve them stringified, the missing Link would be, how to let an inst

[2019-01-31 13:35] revskill10 commented on #6181
@teleginzhenya I tried both ways but it still showed the same error.
Do you have any working repo for me to re-test again ? Thanks you very much.

[2019-01-31 13:51] timneutkens commented on #6117
Did you upgrade to `next@canary`?

[2019-01-31 14:17] jon64digital opened #6184 "Problems when Next is installed globally and you want to use react alpha version with hooks."
# Bug report

## Describe the bug

When you have Next globally installed by NPM it doesn't build properly when trying to use the latest alpha of React and React-dom with hooks.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1) NPM install -g next
2) Use create-next-app to create a skeleton app
3) Edit package.json to upgrade react and react-dom to

[2019-01-31 14:50] rap2hpoutre commented on #1189
@timneutkens Hi, should this issue be re-opened? It still does not work with current version

[2019-01-31 14:51] arefaslani commented on #1935
@tarang9211 I've already respond it in this issue https://github.com/twopluszero/next-images/issues/10

[2019-01-31 16:01] jim-king-2000 commented on #6113
I'm looking forward to your good news. Have a nice day.

[2019-01-31 16:45] romainquellec commented on #6173
As a starter point, you can push your PR.

[2019-01-31 18:04] ranleung opened #6185 "Can not find module"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior
A clear and concise description of what you expected to happen.

## Screenshots
If applicable, add screenshots to help exp

[2019-01-31 18:05] #6185 closed

[2019-01-31 19:00] CaitlinWeb commented on #3536
I also encountered this issue. In my case I'm trying to retain an object containing functions on both the client and server. Looks like that's not possible. Not sure what the best way to go about that is.

[2019-01-31 20:08] timneutkens commented on #5072
Like I said before it's not a Next.js issue:

It's something you're adding to your application that is incorrectly published to npm or is not meant to be used in older browsers / in a browser environment.

Feel free to write up a RFC to solve the issue / add warnings or another solution, like I said before it's a little more complex than documenting this. There needs to be a way to transpile speci

[2019-01-31 20:18] YIZHUANG opened #6187 "publicRuntimeConfig undefined in test environment with Jest."
# Bug report

When unit testing a utility function that needs access to the publicRuntimeConfig with jest, it throws error `Cannot read property 'publicRuntimeConfig' of undefined`

## Describe the bug

For example if i am testing a file that has Contentful stuff in it, and the access token those kind of stuff comes from  publicRuntimeConfig, then the test won't past and shows above error.

## To

[2019-01-31 20:45] #6152 closed

[2019-02-01 01:30] aleksandrio commented on #2468
in your polyfills uncomment  'import 'core-js/es6/object';' line

[2019-02-01 01:48] johntran commented on #1365
@onomatopoetry
[code]

[2019-02-01 02:42] exogen commented on #6184
You shouldn't install Next globally, it should be a dependency of the same project where `react` and `react-dom` are installed. Since Next will be trying to import `react` and `react-dom`, it would get the wrong instance if they're only installed in a separate, non-global directory.

The commands `next build` and `next start` make the assumption that `next` is available on your `$PATH`. Some peopl

[2019-02-01 02:59] steida opened #6189 "Remove acorn from deps"
Because it does not fix anything. It must be installed in repo own package.json.

Yarn works without it.

https://github.com/zeit/next.js/issues/6167

[2019-02-01 07:56] kodermax opened #6190 "Add support Pre-Rendering into Static HTML Files"
# Feature request

## Is your feature request related to a problem? Please describe.
I would like to use static hosting like AWS CloudFront.
A very good solution is react-snap.

[2019-02-01 07:57] revskill10 commented on #6181
@teleginzhenya The example worked well with Next 7.0.2.
If you upgrade Next to 8.0.x, the error still happens.

[2019-02-01 08:42] Javier1177 opened #6191 "Problems with dynamic urls"
Hello, I'm working on a project that uses a lot of different languages. So I need to change the language url. Example:

www.example.com/es/entradas
www.example.com/en/tickets
www.example.com/de/eintrittskarten

There are a lot of url and I'm working with a CMS, so my clients will be able to add more, so it can't be hardcoded. To make these routes I found next-routes (https://github.com/fridays/nex

[2019-02-01 11:37] timneutkens commented on #6190
This is what `next export` does 🤔

[2019-02-01 11:37] #6190 closed

[2019-02-01 11:47] timneutkens commented on #6191
This is how the router works:
https://github.com/zeit/next.js/issues/5885

In this case it seems you're trying to do 2 pattern matches that are equivalent so only one is used (tickets/hotel) You'll need some extra custom server logic - or use getInitialProps to distinguish and render a different layout based on the incoming page.

[2019-02-01 11:58] timneutkens commented on #6191
I'm going to close this issue as per the issue template questions should be posted on https://spectrum.chat/next-js 🙏

[2019-02-01 11:58] #6191 closed

[2019-02-01 14:20] jon64digital commented on #6184
Yes, I know that works and it's how I solved my problem, but not until I'd gone through two days of pain trying to work out why nothing would work.

I posted it because I thought it may be possible for Next to be changed so that it didn't happen. If that's not the case then maybe the documentation could be changed to save others from the same pain.

[2019-02-01 14:23] james-wallis commented on #4016
@timneutkens I don't have any build output showing when I run `next build`.
All I have is
[code]
until the build either passes or fails which is causing my Travis build to fail as it doesn't see any output.
Running Next.js version 7.0.2 with the only plugin being [next-optimized-imagse](https://github.com/cyrilwanner/next-optimized-images).
Do I have to enable some additional parameter to see the

[2019-02-01 14:37] NathanielHill commented on #5868
FWIW I've also run into this in an unrelated project. I believe it's due to `@babel/plugin-tranform-runtime` injecting that require statement, but then `@babel/runtime` is not handling it. It for sure has something to do with both those modules.

I was trying to transpile some React components using async/await with Babel 7. I ended up removing those two packages completely and requiring `regenera

[2019-02-01 14:41] NathanielHill commented on #5184
Might be related to #5868

@planadecu you could also try importing `regenerator-runtime/runtime.js`

[2019-02-01 14:46] NathanielHill commented on #4084
@jaydenseric Isn't `regenerator-runtime` or `@babel/runtime` already bundled with Next.js? I believe one of those two is needed for using async/await, which works by default in Next

[2019-02-01 14:54] rap2hpoutre commented on #4334
@omeraplak Thank you for your answer. Where does `entries` come from? It fails because `entries` does not exists.

[2019-02-01 15:23] beheh commented on #6173
As a reference point for others, our AWS Lambda deployment via `serverless` tool (`serverless deploy`) uses the following lambda handler:

[code]

We then copy the static files to S3 (using `assetPrefix` in our `next.config.js`) and explicitly exclude the static directory from the bundle. In fact, we can also mark all dependencies apart from `express` and `serverless-http` as development dependenc

[2019-02-01 17:20] timneutkens commented on #6173
The more data you have in one lambda zip the slower cold start gets though.

[2019-02-01 17:23] beheh commented on #6173
Good point. A single "heavy" Lambda is kept warm more easily though (e.g. through Cloudwatch Events from a Schedule Expressions). But I do see the issue if traffic scales up and we need more Lambdas around than we keep warm.

[2019-02-01 21:09] malixsys commented on #4660
`NODE_ENV=production next build` usually reveals the hidden error for me... 🤔

[2019-02-02 12:03] omeraplak commented on #4334
@rap2hpoutre hi, I was updated

[2019-02-02 12:43] mwcbrent commented on #2887
@mikeislearning what he is saying is that by default you'll have something like this in your `package.json`:
[code]
This is the state of the file if you followed the basic getting started guide.  If you were to deploy this, say to a Heroku instance it will run fine however if you added additional routes you want to instruct the server to run the `node serve.js` script not `next start`.  The latter

[2019-02-02 15:38] scythargon commented on #3018
@martpie Thank you! It actually worked for me. One thing left is that the redux `store` does not get passed to such components/modules. Do you by any chance have any ideas related to this? Thank you.

[2019-02-02 17:17] andresg747 opened #6194 "Next.js + Antd not building correctly on deploy"
**See https://github.com/vuejs/vue-cli/issues/3407#issuecomment-459985313**

# Bug report
I've successfully configured a Next.js app integration with [Antd](https://ant.design/) following [this guide](https://www.yuque.com/steven-kkr5g/aza/ig3x9w). Everything works as expected on development. However, when deploying with Now, it throws an error on build process:

TypeError: Cannot read property 'm

[2019-02-02 18:05] mitchdowney commented on #6194
I just ran into this during a build as well. A new version of terser was released 2 hours ago. I wonder if that introduced a breaking change, because my build command worked fine yesterday and nothing has changed in my setup.

[2019-02-02 18:15] andresg747 commented on #6194
That's interesting @mitchdowney. I've asked if it's related. Let's wait for any response.
Thanks!

[2019-02-02 22:00] fiuzagr commented on #6113
I think the router should not work on external projects. Apparently this causes a strong coupling preventing the module from being self-contained and usable elsewhere.

The best thing to do is to expose the module properties and apply the router when using the module:

`module:`
[code]

`Next.js app:`
[code]

I currently maintain a large system that has this problem. To change the core of the appl

[2019-02-02 22:19] devuxer commented on #5291
@AmanAgarwal041

Or just go with this [confirmed workaround](https://github.com/zeit/next-plugins/issues/282#issuecomment-424751826) from @Dynogic:

I just tried sticking a CSS import into a header component that I use on every page, and it worked like a charm.

[2019-02-02 22:27] steida opened #6195 "Next.js TypeScript monorepo example"
Make an example from that brilliant article https://josephluck.co.uk/blog/next-typescript-monorepo

[2019-02-02 23:33] josephluck commented on #6195
I'll make a pr 😁

[2019-02-03 00:12] #5860 closed

[2019-02-03 00:34] steida commented on #6195
I am not sure whether https://github.com/whitecolor/ts-node-dev is stable and safe enough.

[2019-02-03 00:57] steida commented on #6195
Hmm, this is the best I can do: ```"dev": "cd .. && yarn nodemon --watch api --exec yarn ts api/index.ts"```

[2019-02-03 06:34] letsspeak commented on #153
I think this is more complicated problem when using Server Side API call results getInitialProps, because Virtual DOM uses old results after LOGOUT-LOGIN action. I'm thinking about solution

[2019-02-03 09:42] ofarukcaki commented on #5203
I still have the same problem

[2019-02-03 10:21] letsspeak commented on #153
and here's my answer with redux-observable

[code]

[code]

[2019-02-03 10:38] josephluck commented on #6195
Yup, I use ts-node-dev and it's fine :-)

[2019-02-03 10:48] develomark commented on #6194
Confirmed also have the same issue - this is not related to Antd. Hopefully the terser terser-js/terser#251 can be fixed speedily.

[2019-02-03 11:56] josephluck commented on #6195
I'm actually working on the deployment of a repo like this to serverless / lambda. Will take another week or so to finish up, but after that I'll be writing another post. If you set up your app this way, you don't need to worry about watching for file changes since serverless will handle that for you!

[2019-02-03 13:08] andresg747 commented on #6194
### Update
Based on this workaround:

Adding the following on your package.json will build correctly on deploy, until new release of terser patching this issue is out.
[code]

[2019-02-03 13:34] #5885 closed

[2019-02-03 13:36] #6189 closed

[2019-02-03 16:17] fiuzagr commented on #6113
@jim-king-2000 , you're right!

Considering the second way you tried, but putting `Router.push` and all other router methods within your module project. Maybe if you insert the `next` package as a peer dependency of your module project and set the `externals` property of the `webpack` config to make the `next/router` external, you guarantee that there will be only one instance of `next/router`.

*

[2019-02-03 16:54] malixsys commented on #153
Seems complicated when something simple would do, along the lines of :```export const withAuthSync = WrappedComponent => class extends Component {
  componentDidMount() {
    window.addEventListener('storage', this.syncLogout);
  }

  componentWillUnmount() {
    window.removeEventListener('storage', this.syncLogout);
    window.localStorage.removeItem('logout');
  }

    syncLogout = (event) => {

[2019-02-03 18:17] 2hands10fingers opened #6199 "'npm run dev' fails silently using node version 10 after initial install, MacOSX, Mojave"
# Bug report

## Describe the bug

'npm run dev' fails silently using node version 10 doing the initial setup on the next.js website.

Terminal produces:
[code]

No listening occurs.

## To Reproduce

mkdir hello-next
cd hello-next
npm init -y
npm install --save react react-dom next
mkdir pages
npm run dev

## Expected behavior

Hot reload, server running

## System information
 - OS: macOSX, Moja

[2019-02-04 03:00] NathanielHill commented on #6195
I also plan on publishing a workspaces/monorepo demo soon, although without TypeScript.

[2019-02-04 03:58] steida commented on #6195
@josephluck The main problem is yarn workspace dependencies. Check https://github.com/zeit/now-builders/issues/188 Now 2 does not support Yarn workspace packages resolution like this https://github.com/zeit/now-builders/issues/188#issuecomment-460114836

Not sure whether it can be fixed in userland.

@rauchg TypeScript Yarn workspaces based monorepo with shared code Node.js example would be nice.

[2019-02-04 04:31] jim-king-2000 commented on #6113
In my real project, I make the whole "Next.js" module external like the following:

    externals: [
      'next',
      'react',
      'react-dom',
      ...
    ]

And I'm sure there is only one "Next.js" module in the whole project.

But it does not work. I will try your regular expression soon.

[2019-02-04 07:54] josephluck commented on #6195
Yes, I have had the same experience. As far as I can tell, there's three options:

1. Make a new builder that supports workspaces out of the box
2. Publish workspaces to npm publicly
3. Build projects locally and deploy to another serverless provider.

It's option 3 that I've gone for (deploying to aws via serverless), though I'd be keen to collaborate on a now builder that supports workspaces out

[2019-02-04 12:47] janoist1 commented on #5354
That's a great idea!!

[2019-02-04 13:07] jaydenseric commented on #5354
The idea in https://github.com/zeit/next.js/issues/5354#issuecomment-455900041 might be ok within a project, but is not particularly viable for published packages as consumers might not have a custom server setup.

For [`next-graphql-react`](https://github.com/jaydenseric/next-graphql-react) I ended up exporting a Next.js plugin that for the client bundle aliases all the server only exports to [em

[2019-02-04 14:05] janoist1 commented on #5354
Yes. Create a folder `server` move `server.js` to `server/main.js` and update your `package.json` scripts accordingly. For example:

[code]

[2019-02-04 16:48] timneutkens commented on #4182
That'd only work on newer versions of React (16.6), make sure you're on that version

[2019-02-04 17:38] MuhammadZaidSE commented on #4381
+1

[2019-02-04 17:54] afuggini opened #6201 "with-firebase-hosting example serve not working"
# Serving `with-firebase-hosting` example not working

## Example name
Serving `with-firebase-hosting` example not working

## Describe the bug
Running `npm run dev` works, but when running `npm run serve` I am getting:

[code]

Browsing `localhost:5000` shows:
`An internal error occurred while connecting to Cloud Function "next"`

## To Reproduce
1. `npx create-next-app --example with-firebase-ho

[2019-02-04 18:03] steida commented on #6195
@josephluck I would recommend to go with separated npm or yarn package.json files for now (2 haha). I have strange Yarn issues with workspaces, outdated does not work correctly and even yarn install sucks https://github.com/yarnpkg/yarn/issues/6995

And there will be yarn 2 soon. So to make things happen, separater package.json files is the must.

[2019-02-04 18:36] josephluck commented on #6195
@steida - workspace projects do indeed have separate package files, however, as you say, it's the shared code that's the problem. Really your only option if you wish to use now at the moment is to publish your packages to npm under an organisation.

[2019-02-04 18:47] jskidd3 opened #6202 "Custom routing using Firebase Functions"
# Question about Next.js

How would one replicate custom routing as shown [here](https://nextjs.org/learn/basics/server-side-support-for-clean-urls/create-our-custom-route) when using Firebase Functions for SSR?

I have tried the code below but to no available (/track/123 returns 404).

Thanks in advance!

@jthegedus if you are able to help with this I'd be very grateful.

[code]

[2019-02-04 19:12] marcinczenko commented on #6195
If I understand it well, this limitation is not specific to typescript, but specific to next builder. I am using now v2 in a number of monorepos, even in a private git repos. In a private repo publishing workspaces to public npm is not an option, but I am still able to build everything locally (via `yarn lerna build`) and publish everything from top level of the mono repo with just `now`. The poin

[2019-02-04 19:19] udithv opened #6203 "Firebase authentication for multiple pages and restrict access for unauthorized pages example"
# Question about Next.js

Questions should be posted on https://spectrum.chat/next-js
example on using firebase auth to restrict access to unauthorized pages needed.

[2019-02-04 19:23] #6203 closed

[2019-02-04 19:23] timneutkens commented on #6203
Closing as per the issue template.

[2019-02-04 19:30] schabluk commented on #3720
`yarn add @zeit/next-css@next`

[2019-02-04 19:52] NathanielHill commented on #6195
@timneutkens So, if whitelisted by `.nowignore` the shared package is uploaded to the build environment. Does that mean some logic to get `@now/next` to include those files would solve this?

[2019-02-04 20:19] NathanielHill commented on #6195
Okay, I'm assuming that the deployment is happening at the root of the repository. As in a large monorepo that defines multiple packages that are used to compose a single deployment.

Are you talking about a monorepo where packages within the monorepo are deployed individually?

[2019-02-04 20:48] isaachinman commented on #5392
@timneutkens I'm setting up rollup for [next-i18next](https://github.com/isaachinman/next-i18next) and have noticed the same circularity warning. I'm on Next v7.0.2. Is this something that's coming in the 8.x release?

[2019-02-04 20:55] NathanielHill commented on #6195
Ah, I see. Well that clearly presents some challenges. This whole time I was envisioning a monorepo that was deployed at the root.

[2019-02-04 21:21] ssylvia opened #6205 "Use styled-jsx/babel/test when running tests"
# Feature request

Styled-jsx recommends not using the standard `styled-jsx/babel` plugin when running tests because it can generate a lot of snapshot noise and cause other issues. When the `NODE_ENV === "test"` can you use `styled-jsx/babel/test` import in the `next/babel` preset. Or at the very least, provide an option to enable it: https://github.com/zeit/styled-jsx#rendering-in-tests.

## Is y

[2019-02-04 21:24] qwerqy opened #6206 "console.log(publicRuntimeConfig) returns undefined in the client when you have '@zeit/next-css' installed along next.config.js"
# Bug report
I've installed `@zeit/next-css` for having a separate stylesheet in my project, however, when i try to apply env variables via publicRuntimeConfig, it returns undefined for me.

## Describe the bug

This is a snippet of `next.config.js`
[code]

this is the error message i get after refreshing
[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a r

[2019-02-04 22:07] ssylvia commented on #6205
https://spectrum.chat/next-js/general/babel-plugin-styled-jsx-babel-test-for-testing-rather-than-styled-jsx-babel~80428596-b2a5-47dd-8841-3692997bffaa

[2019-02-04 22:17] timneutkens commented on #5392
@isaachinman you should mark the `next` imports as external, otherwise rollup will bundle them up and you end up with duplicate code.

[2019-02-04 22:21] isaachinman commented on #5392
Ah makes sense, thanks.

[2019-02-04 23:39] jthegedus commented on #6202
Hi @jskidd3, I can take a look over the coming weekend. If you solve it in the meantime, let me know!

[2019-02-04 23:52] jskidd3 commented on #6202
@jthegedus Thank you! I've spent most of the day trying to find a way - will keep going tomorrow. I can't help but feel it's going to be something stupidly simple. It's literally just so that I can make the `track.js` page return instead of 404 when requesting a subdirectory after (e.g. an ID).

Will keep you posted!

[2019-02-05 00:41] #6202 closed

[2019-02-05 07:01] rashidul0405 opened #6208 "assetPrefix ignored by stylesheet when import from pages/index.js"
# Examples bug report
This bug may be related to next-sass plugin

## Example name
[with-next-sass](https://github.com/zeit/next.js/tree/canary/examples/with-next-sass)

## Describe the bug
assetPrefix doesn't apply for stylesheets (same as https://github.com/zeit/next.js/issues/3967)
when import from `index.js` or `_app.js`, assetPrefix doesn't apply.

## To Reproduce
Steps to reproduce the behav

[2019-02-05 08:01] qwerqy commented on #6206
thank you ! that solves the problem.

[2019-02-05 08:01] #6206 closed

[2019-02-05 08:47] #6208 closed

[2019-02-05 09:29] TheoMer opened #6209 "Error: Cannot find module 'graphql-tools'"
# Bug report

## Describe the bug
Heroku attempts to start, after making a deployment, and the following errors are issued.

A clear and concise description of what the bug is.

[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:
1. As per this issue previously being raised: [https://github.com/zeit/next.js/issues/198](https://github.com/zeit/nex

[2019-02-05 12:43] timneutkens commented on #6209
Looks like the devdependencies weren't installed 🤔

[2019-02-05 12:43] #6209 closed

[2019-02-05 12:58] TheoMer commented on #6209
@timneutkens Could be, although they do state that:

[https://devcenter.heroku.com/articles/nodejs-support](https://devcenter.heroku.com/articles/nodejs-support)

[2019-02-05 17:59] kinetifex opened #6211 "Client routing breaks with scss imports"
# Bug report

## Describe the bug

If SSR occurs on a page with scss imports, client-side routing works fine. If the SSR page does not include any scss imports, client-side routing then does not take place.

## To Reproduce

Steps to reproduce the behavior:
1. Clone and run example repo: https://github.com/kinetifex/next-sass-routing-bug
2. Browse to http://localhost:3000/
3. Click on `With SCSS i

[2019-02-05 18:42] chromale commented on #4804
Above solution is really good but I’ve had some issues `URLSearchParams()` during SSR. So there is another (and shorter) version using library `query-string`:

[code]

[2019-02-05 18:50] james2doyle commented on #4804
@chromale hmm the `URLSearchParams` global object was added in Node 10 and should be available in all browsers. Not sure why it would be causing issues. Anyway, what you have is also a nice option

[2019-02-05 21:17] popugang commented on #6211
@timneutkens you will something do ?

[2019-02-05 21:45] quinnliu commented on #4266
@mtrabelsi tried it & didn't work 4 me. but thanks 4 suggestion

[2019-02-05 21:47] quinnliu commented on #4266
@aaldrich @akmil anyone solve this problem?

I'm using
[code]
& it's only showing me this error on Heroku but is working fine locally

[2019-02-05 22:16] jlbovenzo commented on #3904
To change the CSS injection order, I followed this steps:

- add a noscript tag inside Head component (_document.js)

[code]

- specify in JSS create method the element created (_app.js)

[code]

[2019-02-05 23:06] KhoaComp opened #6214 "Can't get index.js to run correctly."
# Question about Next.js
Running through the startup guide, I was up to the "npm run dev" part where I started running into issues. I created a pages directory with an index.js but when trying to compile and run it on localhost:3000, this is the error it gives me. Also I am running Ubuntu 18.04 if that helps.

 error  in ./pages/index.js

Module parse failed: Unexpected token (1:21)
You may need a

[2019-02-05 23:50] JonatanSalas commented on #6163
@fabb you can use the following lib:
- [Next Preload Headers](https://github.com/Enalmada/next-preload-headers)

This lib needs for you to set up a custom server with express.

[2019-02-06 03:07] anlexN opened #6215 "gridTemplateAreas syntax error"
## Expected Behavior 🤔
grid layout css is suppoted

## Current Behavior 😯
![image](https://user-images.githubusercontent.com/8686739/52177724-69b39a80-2800-11e9-98cb-3a9838b00c15.png)

## System information
 - OS: [e.g. macOS, Windows] windows
 - Browser (if applies) [e.g. chrome, safari] all
 - Version of Next.js: [e.g. 6.0.2] latest

## Additional context

Add any other context about the problem

[2019-02-06 03:40] samundra commented on #5478
I am also having this issue. Looks like the Links are intercepting the click but do not take to the desired page.

Links are created as

[code]

Then I tested the click intercept with

[code]

When I click on my Link I can see `Navigating to: /coupon/accounts` but it never completes.

[2019-02-06 04:47] doitlikepruett commented on #3706
I found this to work. Make sure you have `babel-plugin-styled-components` in your dependencies. The following can go in .babelrc or in package.json

[code]

[2019-02-06 05:34] fabb commented on #6163
Thank you. Any idea why next.js does not put preload links to the header by default?

[2019-02-06 05:57] errawn commented on #5040
Follow this: https://github.com/rt2zz/redux-persist/issues/598

[2019-02-06 06:06] timneutkens commented on #5478
Try next@canary

[2019-02-06 06:07] timneutkens commented on #6215
This doesn't seem related to Next.js 🤔

[2019-02-06 06:07] #6215 closed

[2019-02-06 06:08] timneutkens commented on #6214
It sounds like you have a `.babelrc` up the directory tree.

[2019-02-06 06:08] #6214 closed

[2019-02-06 09:21] alvinkl opened #6216 "NextJS with Isomorphic Style Loader"
# Question about Next.js

Hi all, awesome work you guys have done on improving and making nextjs better and easier to use.
I wonder why NextJs can't work well with Isomorphic Style Loader, as I found a weird behaviour happening on our project using NextJs with ISL.
After long time of debugging I couldn't find how this happened.

Related with #1615

Here are the simple representation of the project

[2019-02-06 09:45] elaich commented on #2473
I required `mapbox-gl`module which is a client-side library inside `ComponentDidMount` and got rid of an ugly error `ReferenceError: self is not defined`

[2019-02-06 10:16] remi2j opened #6217 "Hooks don't work with React 16.8"
Hello there, I upgraded React and React-DOM to version 16.8.0 to use hooks. I was not using the alpha before.

Whenever I try to use a hook, I get the error `Object(...) is not a function`.

Here's an example that causes the bug:

[code]

I looks similar to the issue #5991.

[2019-02-06 10:27] timneutkens commented on #6217
Please follow the issue template when creating issues. I can't reproduce the issue you're describing based on the provided steps. The provided code runs completely fine for me when I create a new directory, add `next react react-dom` and then create pages/index.js with your code (and additional `export default Component`.

[2019-02-06 10:34] remi2j commented on #6217
Thanks for the quick response.

Turns out I had to restart the Next server to make it work after updating react. I should have investigated more on my own before posting this issue, but hopefully this can help someone.

[2019-02-06 10:34] #6217 closed

[2019-02-06 17:02] sergiodxa commented on #4931
Check the code of this module https://github.com/matthewmueller/next-redirect/ it's actually quite simple, you should redirect in getInitialProps to avoid rendering and fetching unnecessary data.

[2019-02-06 17:54] dotkas commented on #3621
I have successfully deployed a *dynamic* React app to S3 through this guide: https://www.fullstackreact.com/articles/deploying-a-react-app-to-s3/

Is there not something equivalent you can do with Next?

[2019-02-06 18:46] radenkovic commented on #3621
@dotkas nextjs has a server thing, so you need something like ec2 to run this server. Other solution is to explore export static next app and upload it to s3. I think you are confused what "dynamic" means.

[2019-02-06 20:53] steida opened #6219 "serverless set only in Now 2 environment"
What is the supposed way to set next.config.js serverless key only in Now 2 environment?

[2019-02-06 21:32] timneutkens commented on #6219
What do you mean exactly?

[2019-02-06 21:38] steida commented on #6219
I need next build both for local dev and for deploy.
This is what I used: https://github.com/este/este/blob/master/packages/web/next.config.js#L27

Locally, serverless does not work when I need to test app before deploy.

Switching it manually is not ideal.

[2019-02-06 22:41] 2JN commented on #4289
I solve my problem by checking first if Router wasn't undefined.
`const pathname = Router ? Router.pathname : ''`

[2019-02-06 22:44] afuggini commented on #6201
Thanks @oBusk. Unfortunately, running `npm i -g @google @google-cloud/functions-emulator` showed an error:

[code]

And removing the `@google` part installed functions-emulator but didn't solve the issue. :(

[2019-02-07 01:59] dfenske opened #6220 "Request URL Encoded only when deployed"
# Bug report

## Describe the bug

I have a Next.JS app with Express routing. Locally, my code works as expected, however when I deploy the code, I get a different behavior that breaks the site.

Locally, I get a 200 from the API I'm calling, and I display the correct page. However, when I deploy this exact same code to an Azure app service inside a Docker container, the behavior is different and

[2019-02-07 01:59] dfenske opened #6221 "Request URL Encoded only when deployed"
# Bug report

## Describe the bug

I have a Next.JS app with Express routing. Locally, my code works as expected, however when I deploy the code, I get a different behavior that breaks the site.

Locally, I get a 200 from the API I'm calling, and I display the correct page. However, when I deploy this exact same code to an Azure app service inside a Docker container, the behavior is different and

[2019-02-07 10:29] timneutkens commented on #6221
Duplicate of #6220

[2019-02-07 10:29] #6221 closed

[2019-02-07 10:31] timneutkens commented on #6220
This doesn't seem related to Next.js in particular. Instead it's probably related to something on your deployment platform (Azure), it seems like they parse the url / unescape for you.

[2019-02-07 10:31] #6220 closed

[2019-02-07 12:46] andresggarcia commented on #6194
The issue seems to be resolved as an official release from terser patched the errors. The issue can be closed now.

[2019-02-07 12:48] #6194 closed

[2019-02-07 12:59] rap2hpoutre commented on #2060
With **babel 7** and **nextjs 7**, just add `useBuiltIns: "usage"` in `.babelrc` and it works:

[code]

Source : https://babeljs.io/docs/en/babel-polyfill#usage-in-node-browserify-webpack

[2019-02-07 13:24] fabb commented on #2060
Note that this will NOT polyfill anything that node_module dependencies depend on, since it only inserts polyfills for stuff that is babel transformed, and by default node_modules are not babel transpiled when building the client project (which is a good thing).

[2019-02-07 16:51] katspaugh commented on #3720
Neither removing `css-loader`, nor installing the canary version of the next-css plugin is helping.

[2019-02-07 18:02] samundra commented on #5478
@timneutkens The problem is, this happens at random times. Anyway, I will give it a try and let you know asap. Thanks.

[2019-02-07 20:56] timneutkens commented on #5478
@samundra however #5598 actually had a reproduction that reliably reproduced this issue and I fixed it shortly after.

[2019-02-07 23:08] MaxwellGover opened #6223 "Site Navigation Is Unusable"
I'm trying to navigate your site using the side nav. I click on a section the first time and nothing happens. I'm not scrolled anywhere. The second time a click it it scrolls a little bit but never to the right section.

![n8mzuzbrvb](https://user-images.githubusercontent.com/11525891/52448877-4db34000-2b03-11e9-8e20-5256099922c3.gif)

[2019-02-07 23:32] mssaisandeep commented on #4101
Hello,

From antd 3.5 version. when I try to install npm. I am observing "@antdesign" package in nodemodules. When I try to build (npm build which uses webpack) for production and analyze the build, I am getting 2MB for that @antdesign package. Is there anyone facing the same issue?

Note: I have used Babel-Import-Plugin and added the following thing as a configuration in webpack:

[code]

I tried

[2019-02-07 23:34] mssaisandeep commented on #4101
I am not even using any @antddesign icons. I am just using few antd components which are also showing as separate in bundle analyzer. **Please find the screenshot**

![image](https://user-images.githubusercontent.com/47436031/52449903-c6a79d00-2aed-11e9-82bc-e2d64c7ac8e7.png)

[2019-02-08 02:47] c0b41 commented on #6223
Duplicate https://github.com/zeit/next-site/issues/132

[2019-02-08 06:05] genz10 commented on #6216
Hi,

It seems that there is compilation occurred on the server (runtime). I don't know whether is it expected or not.

If it's expected, why there's still compilation occurred on the server, I guess  compilation only done when building through `next build` command.

[2019-02-08 10:23] prothomsoft commented on #3494
Is there any way to remove class="next-head" from head tags? Thanks for the answer in advance.

[2019-02-08 12:49] daotrungkien opened #6226 "Session management with Next.js"
I am very new and migrating to Next.js. Maybe this is a dumb question but I did not find much information on it. So far I have successfully made Next.js work with express but now I want to be able to manage session information. I used to use express-session middleware, which attaches session data to the `req` object of express on every HTTP request, but I don't know how to get it works with Next.j

[2019-02-08 12:58] timneutkens commented on #6226
You can't, data should be extracted in getInitialProps.

Here's an example on how to do authentication / holding session state: https://github.com/zeit/next.js/tree/canary/examples/with-cookie-auth

[2019-02-08 12:58] #6226 closed

[2019-02-08 15:36] martpie commented on #6195
Just throwing here my own TS + monorepo setup: https://github.com/martpie/monorepo-typescript-next-the-sane-way

@josephluck's is much more mature, but you might find a couple of interesting things.

[2019-02-08 16:23] timneutkens commented on #6195
Connor is working on making @now/next download the whole directory by default: https://github.com/zeit/now-builders/pull/200

[2019-02-08 16:30] josephluck commented on #6195
That's brilliant news! Amazing to see that this is being actioned so quickly.

[2019-02-08 19:28] mssaisandeep commented on #4101
(Or)
Is there any way that I can exclude @ant-design package from production build? I am using web pack to bundle. Please please help me.

[2019-02-08 19:48] jakemmarsh commented on #5666
Thanks @Swatinem! Made it slightly more resilient by searching for the relevant loader rather than relying on index:

[code]

[2019-02-08 23:34] AntonAL commented on #4940
I had similar problem and reason was in server-side module, automatically imported by IDE.
Double check all the sources, rollback the code.

[2019-02-08 23:54] #4597 closed

[2019-02-09 00:40] jlarmstrongiv commented on #5827
I resolved the issue by adding the next scripts in development mode only.  However, the error pages do not work on the [now-cli](https://github.com/zeit/now-cli/issues/1735), which I have been unable to fix.

[2019-02-09 03:06] RoberMac commented on #2744
Set `"esModuleInterop": true` will fix `TypeError: next_1.default is not a function`.

[2019-02-09 11:59] fabb opened #6227 "Speed up initial load times by adding support for Incremental Rendering"
# Feature request

## Is your feature request related to a problem? Please describe.
Initial load time could be improved even more by utilizing an Incremental Rendering technique.

## Describe the solution you'd like
As described in the [blog post of the new SSR framework „Velocirender“](
https://www.bitovi.com/blog/announcing-velocirende), incremental rendering could more quickly deliver a non-in

[2019-02-09 12:36] timneutkens commented on #6227
I'm confused by what you're asking for in this issue that Next.js doesn't provide. The link is a 404.

[2019-02-09 12:36] #6227 closed

[2019-02-09 14:27] fabb commented on #6227
Sorry for the broken link, fixed it:
https://www.bitovi.com/blog/announcing-velocirender

[2019-02-09 16:55] ilionic commented on #6040
Also evaluating different options to address requirements mentioned above as well splitting part of the app based on static / ssr build pipelines. Considering to make monorepo with different packages as deployment entities also some shared components lib. Last piece is to make path aliases as suggested in next.js zones documentation. ( so to have proxy or cdn with path aliases to serve separate pa

[2019-02-09 23:28] valpinkman opened #6228 "running `yarn dev` crashes"
# Bug report

## Describe the bug

Impossible to start the dev server on next v7+

## To Reproduce

 1. `touch project && cd project`
 2. `yarn init`
 3. `yarn add react react-dom next`
 4. add to `package.json`
[code]
 5. create `pages/index.js` with `export default () => <div>Hello</div>`
 6. run `yarn dev`
 7. Error in console

[code]

## Expected behavior
The next dev server should start so I

[2019-02-10 01:51] pkellner opened #6229 "with-dotenv not working when client side rendering process.env[const]"
# Bug report

## Describe the bug
in with-dotenv example, when modifying the code to run client side (by adding a route to /about and back to / again), process.env["TEST"] works but const str="TEST;process.env[str] return undefined.

A clear and concise description of what the bug is.
process.env behaves differently when a constant is passed as an indexer versus hard coding that constant

## To Re

[2019-02-10 02:13] kopacki commented on #6040
I've been working on the concept of having some components (like Design System library) imported as ordinary npm packages (so these would be compiled and optimised), and also having some functional components (template partials) imported as strings from a Template API.
[There is a small demo](https://repl.it/@kopacki/Runtime-compiled-JSX) of my idea. I want to have two APIs, one for content and th

[2019-02-10 02:20] WebchemistGenn commented on #6228
updated ajv version 6.7.0 -> 6.9.0

yarn add ajv@6.7.0 or npm install ajv@6.7.0

[2019-02-10 03:55] #6228 closed

[2019-02-10 04:07] RoberMac commented on #5958
Same issue, SSR with `styled-jsx` i will not works if I also install `styled-jsx` in project

[2019-02-10 07:52] nelsieborja commented on #5347
Any update on the original issue? Getting the exact same issue and I have the latest version

[2019-02-10 13:56] RoberMac commented on #5300
Works fine if `<Head />` exists. 🤔

[2019-02-10 16:52] krajowski commented on #6173
@beheh thanks for the example above!
how would you build dynamic routes in this case?
tried the following but does not work:
[code]
thanks!

[2019-02-10 19:42] Ephem commented on #3534
I dug into this and found out what caused the behaviour.

The default metadata was declared inside of `<Head>` in `_document.js`. This document gets rendered by `renderToStaticMarkup` _after_ `getInitialProps`. So when `Helmet.renderStatic` was called, the default metadata had not yet been rendered. This got flushed on the next request.

Solution is to move the declaration of any default metadata

[2019-02-10 19:48] #3534 closed

[2019-02-10 20:27] Ephem commented on #6229
The `dotenv-webpack`-plugin currently does not support accessing a variable dynamically like you are trying to do. See [this issue](https://github.com/mrsteele/dotenv-webpack/issues/139) and the related one for details.

This has to do with how the `dotenv-webpack`-plugin works. It inlines all env-variables at build time with `DefinePlugin` and does not resolve dynamic ones to avoid leaking sensit

[2019-02-10 20:29] timneutkens commented on #6229
Great explanation @Ephem! Probably also good to note that it's best to start using https://github.com/zeit/next.js#build-time-configuration when Next.js 8 is released 👍

[2019-02-10 20:29] #6229 closed

[2019-02-11 09:05] edwardfhsiao commented on #1948
Hi, @timneutkens can you give us a hint when this hash thing implemented?

[2019-02-11 09:12] popuguytheparrot opened #6239 "Not rebuild styles on navigations"
# Bug report

## Describe the bug
When navigating through the pages in dev mode do not rebuild styles

## To Reproduce
Steps to reproduce the behavior, please provide code snippets or a repository:
1. Start app
2. Click on link to /about
3. In styles.chunk.css missing class for "about page"
4. See heading without border

## Expected behavior
When navigating in dev mode, rebuild styles will occur.

[2019-02-11 10:07] dimensi commented on #6136
i got some problem on "production" version (8.0.0). Can't start develop mode. I update my npm to 6.7.0. Problem not resolve.

[2019-02-11 10:11] dunika opened #6240 "8.0.0 - dynamic import causing 'You may need an appropriate loader...' error"
# Bug report
Just upgraded to 8.0.0 and I'm really excited! I've run into an issue though that is preventing my project from compiling

## Describe the bug
So when I run `dev` I am getting the following issue

[code]

It seems to be coming from `webpack  4.29.0` ([see here](https://github.com/webpack/webpack/issues/8656#issuecomment-456713191)).

It looks like the issue was fixed with [this](https

[2019-02-11 10:18] dimensi commented on #6240
I got same problem. Can't start develop mode. I updated npm to the latest version and also tried to install the acorn package, but did not help

[2019-02-11 10:23] eldyvoon opened #6241 "jest error importing .css using next/babel"
I got error of SyntaxError: Unexpected token . when trying to run jest.
in my implementation code
[code]
those isn't in my spec.js but my implementation code, any clue why? I have no problem running my app but jest throw error when I try to run test.

[2019-02-11 10:36] oBusk commented on #6201
Yea oops i had a typo there with `@google` twice.

I can't really reproduce this issue. What version of Node and NPM do you have? And did you get the exact same issue as the one you pictured, after installing `funtions-emulator` globally?

[2019-02-11 10:37] saginadir commented on #4804
@chromale my issue was on static website, from my understanding it should not happen during SSR if you are deploying next.js regularly?

[2019-02-11 10:43] Ivanenko-O commented on #1935
how to add the image to static? what's the static? is it webpack config?

[2019-02-11 10:46] tychovbh commented on #5386
@komcal I tried your approach changing the order of loading the styles and it did work. I changed the file you mentioned to:
[code]

No you can see in my screenshot that my scss files override the style assigned in the components:
<img width="376" alt="screenshot 2019-02-11 at 11 38 35" src="https://user-images.githubusercontent.com/5880561/52558316-52714000-2df2-11e9-95c1-a215e6d10cd3.png">

But

[2019-02-11 10:59] AndrewIngram commented on #6240
I have a different error related to imports which might have the same root cause:

[code]

Everything is fine if I downgrade to next@7.0.3

[2019-02-11 11:18] AndrewIngram opened #6242 "Expose granular request timings for logging"
# Feature request

## Is your feature request related to a problem? Please describe.

When a request is slow, it can be useful to understand where the bottleneck is. Currently the only thing we can easily see is how long the overall HTTP request took.

## Describe the solution you'd like
I'd like some way of logging (and even visualising), the timings for the following:

1. getInitialProps
2. Reac

[2019-02-11 11:20] dwightwatson opened #6243 "Error page displays invalid information"
# Bug report

## Describe the bug

I just upgraded to Next.js 8. When I visit a page that does not exist, the error message is "An unexpected error has occurred." which isn't entirely correct for a 404.

When [looking at the source for the default error page](https://github.com/zeit/next.js/blob/canary/packages/next/pages/_error.js#L16-L18) it looks as though there is a check against the status co

[2019-02-11 11:23] timneutkens commented on #6240
@AndrewIngram can you provide a reproduction? curious to look into that one. It sounds related to @babel/runtime

[2019-02-11 13:12] timneutkens opened #6244 "Throw when `NODE_ENV` is added to `env` in next.config.js"
# Feature request

I just realized we override `NODE_ENV` but don't disallow setting it in `env`, which can cause confusing results.

[code]

This should throw.

[2019-02-11 13:17] #6096 closed

[2019-02-11 13:40] johnpolacek opened #6245 "parameterized-routing example does not deploy with now"
# Examples bug report

## Example name
`parameterized-routing`

## Describe the bug
Deploying the parameterized-examples results in a directory listing rather than the example. See [https://parameterized-routing-app-50jj5mf6h.now.sh/](https://parameterized-routing-app-50jj5mf6h.now.sh/)

## To Reproduce
Steps to reproduce the behavior, please provide code snippets or a repository:

(Assume now cli

[2019-02-11 14:04] joaovieira commented on #1827
Would be good to see this fixed after almost 2 years. This is a barrier to anyone coming to Next.js as they'll bump into this pretty soon when they try to `mount` a component with `<Link prefetch>` - which you guys recommend.

[2019-02-11 14:08] herrstucki opened #6246 "v8 server build error"
# Bug report

With next.js 8, I get this unhelpful message and a 404 error on a page of my app:

[code]

When running a production build the error is more detailed and it seems that for the **server build**, next.js can't resolve a dependency's entrypoint if the `main` property is missing from package.json but the `module` property is specified.

The culprit seems to be this line:

https://github.

[2019-02-11 14:12] timneutkens commented on #6246
I guess it's fine to add `module` as fallback, however I'm not sure if this will cause any weird side-effects on other modules.

[2019-02-11 14:14] herrstucki commented on #6246
@timneutkens Note that in v7 this worked with webpack's default setting which is `["module", "main"]` for the `node` target: https://webpack.js.org/configuration/resolve/#resolve-mainfields

[2019-02-11 14:16] herrstucki commented on #6246
So I'd say what caused the weird side-effect for me was rather removing "module" from the mainFields config in v8 😉

[2019-02-11 14:17] incleaf commented on #6240
I'm facing the same error. Installing `acorn` doesn't work for me either. FYI, I use `ts-node` for running my express server.

[2019-02-11 14:26] vdiaz1130 commented on #5526
I can confirm this is an issue.

![image](https://user-images.githubusercontent.com/24530571/52569087-63b05180-2dde-11e9-93ab-498f9bc4102a.png)

Already up-to port 3003... If you leave it long enough it would refresh and start up again but you will not be able to kill the process with ctrl + c. Hitting ctrl + c seems like it kills the process but you will need to specify a new port.

![image](http

[2019-02-11 14:35] popuguytheparrot commented on #6239
@timneutkens

[2019-02-11 14:41] revskill10 commented on #4989
I developed a PoC library to address the issue [here](https://github.com/revskill10/next-routes-middleware) . The beauty of my approach is that it works universally, not just for NextJS , but for all SSR framework out there.
Routing should be done universally, not frameworkful.

[2019-02-11 14:50] TomiTakussaari commented on #6240
For me this was fixed by upgrading @babel/core:

[code]

[2019-02-11 14:53] HeadFox opened #6248 "Websocket with docker"
# Bug report

## Describe the bug

We can't use nextjs v8 in dev mode with docker because it reload the DOM every 5 seconds.
He can't access to the websocket port. I can open this port in my Dockerfile but it change every time I launch next

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:
Just start next v8 with docker in dev mode

## Screenshots
[co

[2019-02-11 15:16] cnasc commented on #6240
Experiencing same issue and error message. `@babel/core` is set to `"7.2.2"` so that may not be the issue.

[2019-02-11 15:21] YESENE commented on #6240
For some reason we have that as direct,

[2019-02-11 15:27] iaincollins commented on #6240
We are also seeing this issue and followed the threads for a workaround.

- Production (with `next build`) builds and runs fine.
- Running in development mode produces the same error as OP.
- We invoke Next.js programmatically (we use it with Express currently).
- Updating @babel/core to 7.2.2 did not resolve this for us.

Following the the issues linked in the thread and installing `webpack@4.28.

[2019-02-11 15:30] YESENE commented on #6240
develop mode. I updated npm to the latest version and also tried to install the acorn package, but did not help.

[2019-02-11 15:51] bozskejkaja opened #6249 "Static export `publicRuntimeConfig` issues"
# Bug report

## Describe the bug
Hi, after upgrading from v7.0.2. to v8.0.0., I've been having issues running static export. After running `next export`, I get an error:
[code]

To be more specific, my publicRuntimeConfig in next.config.js is set up like this:
[code]
Tracking down the error, it seems to occur here:
[code]

There have been no changes except updating next.js from v7.0.2 to v8.0.0.

[2019-02-11 15:54] bozskejkaja commented on #6249
I've found out a solution that helped in another (albeit unrelated) thread: https://github.com/zeit/next.js/issues/4024#issuecomment-377837421
Replace
[code]
with
[code]
I'm not really clear on why this error started happening after the update. Is this the intended way I'm supposed to access publicRuntimeConfig in an app that is both statically served & dynamically served? Was it just 'luck' that

[2019-02-11 16:04] jekrb opened #6250 "Getting URL origin as prop from getInitialProps (server and client)"
# Feature request

## Is your feature request related to a problem? Please describe.
Next.js version: 8
Now version: 2

As a user, this problem occurs when I'm using `next/link` to navigate to a page that is using `.getInitialProps`, in which data is being fetched from a Now deployment URL. To get the absolute URL for my data fetch and SSR, I check `req.headers.host`, which is fine for SSR.  Howev

[2019-02-11 16:17] YuriGor opened #6251 "Static export failed when upgraded to v8.0.0"
# 8.0.0(npm) Bug report

## Describe the bug

next app stopped to work on client side after upgrading next to v8.0.0
Coming back to v7.0.3 makes things work.

Here is a [broken version with 8.0.0](https://deepdashio-g8bnfrflm.now.sh/)
Here is a [working version with 7.0.3](https://deepdashio-r1kgpj3fg.now.sh/)

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a rep

[2019-02-11 16:34] knitkoder commented on #2069
thanks @codyzu I ended up using gatsby to combine data sources from js files, in the end that what was I needed

[2019-02-11 17:49] kpoelhekke commented on #6240
I had the same issue, also after updating `webpack` and `@babel/core`. Removing my `package-lock.json` and `node_modules` and doing a fresh install solved the issue.

[2019-02-11 18:01] timneutkens commented on #6249
I think this is a bug. Could you do me a favor and create a minimal github repository so that we can reproduce it faster when we start working on a fix 🙏

[2019-02-11 18:18] jescalan commented on #6240
Same issue here, unfortunately. Here's a replication: https://github.com/jescalan/nextjs-test/tree/je.canary

[2019-02-11 18:29] ijjk commented on #6248
@HeadFox you can set the port used by the WebSocket in `next.config.js` using the `websocketPort` option [see here](https://github.com/zeit/next.js#configuring-the-ondemandentries) for info in the README

[2019-02-11 18:33] jescalan commented on #6240
Just fixed with with a removal of `package-lock.json` and regenerate. The last commit on that branch shows which updates were made to `package-lock.json` -- hopefully this helps to pin down the cause!

[2019-02-11 18:36] TheMaxoor commented on #6249
Here is a repo with the issue.

https://github.com/TheMaxoor/next-config-issue

[2019-02-11 18:44] pdlug commented on #6240
Removing `node_modules` and `package-lock.json` then reinstalling resolved this for me as well.

[2019-02-11 19:11] bitmap commented on #6240
Deleting `node_modules` and `package-lock.json` didn't resolve this for me, but installing `webpack@4.28.4` as a dev dependency did, as @iaincollins suggested.

[2019-02-11 19:14] BahmanBinary opened #6254 "useFileSystemPublicRoutes is false but file based routing still work in next@8.0.0"
# Bug report

File based routing still can't be disabled in next@8.0.0

## Describe the bug

I updated next to 8.0.0 and set `useFileSystemPublicRoutes: false` in next.config.js
I was hoping that this problem solved in this version but still this option doesn't work.
is there any way for solving this annoying problem.
Help please!

## Expected behavior
File system routing be disabled.

## System i

[2019-02-11 19:21] BahmanBinary commented on #6254
I read other similar issues but didn't find right solution for this problem.

[2019-02-11 19:34] fanam commented on #6201
same issue here..any solution

[2019-02-11 19:38] timneutkens commented on #6246
That's not really correct though, once you start compiling node_modules (like in the serverless target) you'd run into a *ton* of issues related to `module`, we saw this in `ncc`, so the order should be `main`, `module`.

[2019-02-11 19:41] timneutkens commented on #6239
Looks like a duplicate of https://github.com/zeit/next-plugins/issues/282.

[2019-02-11 19:42] timneutkens commented on #6248
You can configure the websocket port: https://github.com/zeit/next.js#configuring-the-ondemandentries

[2019-02-11 19:44] timneutkens commented on #6250
I don't think we should make the Javascript bundle bigger by introducing this feature when it can be handled as-needed in userland 🤔

[2019-02-11 19:50] jekrb commented on #6250
Gotchya, there's probably a nicer way to handle this in userland than what I'm doing right now.  I'll put some more thought into it.  I wonder if _app.js is a better place to handle passing the URL down to `getInitialProps`

[2019-02-11 19:53] timneutkens commented on #6254
Please provide a reproduction when creating issues. It's hard to help otherwise, we have tests for `useFileSystemPublicRoutes: false`.

[2019-02-11 20:03] Ephem commented on #6243
I've been looking into this during the evening and have found out a couple of things:

* I can replicate this error by running the `basic-export` example in 7.0.3 as well. Are you sure this only happens in 8.0.0 for you @dwightwatson?
* It all boils down to the error page needing a correct status code to render the correct content, and when we statically export, we currently don't have a way to su

[2019-02-11 20:22] NathanielHill commented on #5110
@timneutkens I noticed there have been a lot of changes to HMR recently with Next 8. I'm running into a similar issue with HMR not respecting `assetPrefix`. Can you tell me if this behavior has changed to recently?

[2019-02-11 20:24] BahmanBinary commented on #6254
I have a file route: `/products/product`
and a custom route: `/products/:id` that render previous file route(`/products/product`).

1. go to next.config.js and set `useFileSystemPublicRoutes: false`
2. go to `/products/product` and browser shows this page

[2019-02-11 20:30] garnerp commented on #6249
https://github.com/zeit/next.js/tree/canary/examples/with-universal-configuration-runtime

Its also failing when I try to do an export using the one from the example, when I add an export step.

[2019-02-11 21:10] dwightwatson commented on #6243
I only noticed this for the first time in 8.0.0, didn't check if it existed earlier. Sounds like this may have been around for a little while then.

[2019-02-11 21:51] fighella commented on #4660
@malixsys my error was as a simple as a <!-- in ._document.js - that was only revealed on `next build`

(Seemingly unrelated to my issue  -- but this comment might help someone.)

[2019-02-11 22:04] timneutkens commented on #6254
This is expected, we can't disable javascript bundles from being served.

[2019-02-11 22:05] #6254 closed

[2019-02-11 22:16] timneutkens commented on #6250
Sure, you would be able to do that in _app.js

[2019-02-11 22:18] Ephem commented on #6243
Thinking some more about this, maybe it would be nice to allow for configuring passing any values into ´getInitialProps´ for static exports?

[2019-02-11 22:19] jekrb commented on #6250
Cool! I'll try that out in the future.  Thanks @timneutkens !

Closing the thread as I don't think it needs to stay open.

[2019-02-11 22:19] #6250 closed

[2019-02-11 22:21] Ephem commented on #6243
Still a bug that needs fixing, glad you found it! :)

When I thought some more about this I realised that maybe it would be nice allowing for configuring passing any of the values into ´getInitialProps´ for static exports?

[2019-02-11 22:23] timneutkens commented on #6243
@Ephem I think it's not super useful to allow statusCode and it might be confusing to users that may expect that the file will hold that statusCode while in reality it will be what the web server they host on returns (most likely 200). When 404 is rendered `err` will always be `null`, so in this case it should probably be something like:

[code]

[2019-02-11 22:27] timneutkens commented on #6250
:100: 🙏 Thanks for understanding!

[2019-02-11 22:28] sheerun commented on #5406
I guess it's too late now as next-server is published

[2019-02-11 22:28] #5406 closed

[2019-02-11 22:29] sheerun commented on #5311
@timneutkens Is it removed?

[2019-02-11 22:35] timneutkens commented on #5311
@sheerun not removed, but I dropped it from the docs to avoid further confusion. I've also tracked down why we even pass it along to getInitialProps, it's for `getDataFromTree` in the with-apollo example. So I guess we'll have to create the object one level higher than _app.js and pass it into _app.js / getInitialProps there.

[2019-02-11 23:50] dav-is commented on #6251
The issue is `@engineerapart/nextscript` doesn't support Next 8
https://github.com/engineerapart/nextscript

[2019-02-11 23:50] #6251 closed

[2019-02-12 00:39] #6246 closed

[2019-02-12 01:28] #6249 closed

[2019-02-12 02:37] soffes opened #6259 "Failed to compile after upgrading from 7 to 8"
# Bug report

[code]

## Describe the bug

Upgraded from 7 to 8 and now seeing this error. I don't really understand what the issue is or what I should do to fix it.

## To Reproduce

[code]

## Expected behavior

It starts the development server.

## System information

- macOS 10.14.3 (18D109)
- node 11.9.0
- next 8.0.0

[2019-02-12 02:39] lednhatkhanh commented on #6259
same problem here with nextjs 8

[2019-02-12 03:12] dav-is commented on #6259
@soffes Sorry I didn't recognize the bug from your tweet :man_facepalming:

It's a known issue with `npm` and a newer version of `webpack`.
https://github.com/zeit/next.js/issues/6167#issuecomment-458331181

[2019-02-12 03:12] #6259 closed

[2019-02-12 03:46] paulschneider commented on #6240
Also experiencing this problem but outside of this package; Downgrading to a lower version of node (v9.11 [a colleagues working version], installing webpack@4.28.4 and reinstalling node_modules fixed this for me.

[2019-02-12 03:57] 4cm4k1 commented on #6168
Closed because this issue pertains to the aforementioned plugin.

[2019-02-12 03:57] #6168 closed

[2019-02-12 04:34] jedwards1211 commented on #5429
@timneutkens I upgraded from `next@8.0.0` to `next@8.0.0-canary.21` and now HMR isn't working for me.  Is anyone else seeing this problem with canary?

[2019-02-12 04:45] jeffryang24 commented on #5556
@mv5 Could you share the way you fix your problem? Currently, I also faces the same problem. The 500 page showed when I opened the page through browser bar (server side) and the page was rendered successfully when navigating from the client side.

[2019-02-12 04:49] jedwards1211 opened #6261 "Hot reload doesn't work on Node 8, but does work on Node 10 (macOS 10.14.3 related?)"
# Bug report

## Describe the bug

I noticed Next.js was no longer hot reloading for me.  I had switched from using Node 10 to Node 8 when I read that Now currently uses the latest Node 8 in the cloud.  After switching back and forth between Node 8 and Node 10, I determined that hot reloading works in Node 10 but not Node 8.

## To Reproduce

Steps to reproduce the behavior, please provide code sn

[2019-02-12 04:54] ranjanrajiv00 commented on #6040
After analyzing different approach, I implemented micro frontend as below (**without next.js**).

**Created micro apps (Core, Product and Cart).**
1. All micro apps are independently developed and deployed
2. Configured webpack to build UMD library
3. Micro apps will expose two api endpoint implemented in express.js
- /api/assests -> It will serve js & css
- /api/render -> it will return SSR html

[2019-02-12 05:02] dav-is commented on #6249
Fixed in `8.0.0-canary.24`

[2019-02-12 06:25] Ephem commented on #6243
Yeah, that did give me some pause, and after sleeping on it I realised the use case for different status codes there (building error pages for other codes), can be solved without additional complexity by just adding custom pages for those anyway. Good call!

I’ll work on a PR and also make sure that test is working correctly. :)

[2019-02-12 06:34] soffes commented on #6259
The steps in that comment didn't work for me. I just removed webpack altogether and it started working.

[2019-02-12 06:35] jeffryang24 commented on #5556
Already found the problem, non NextJS related issue. I use `Object.values` inside my source code within NodeJS v6.9.1, which was not supported yet on that time. Current solution is using polyfill to fix that issue. :bowing_man:

[2019-02-12 07:45] edwinwong90 commented on #6136
For my case, I just remove node_modules and package-lock.json and run `npm install` again, Its works. Related #6167

[2019-02-12 07:56] tuan2651998 opened #6262 "`"
aka

[2019-02-12 08:02] HeadFox commented on #6248
Perfect it works, thanks :)

[2019-02-12 08:02] #6248 closed

[2019-02-12 08:15] herrstucki commented on #6246
@Timer @timneutkens thanks for fixing this, much appreciated! 🙇

[2019-02-12 08:39] nwalters512 opened #6263 "Building a specific directory is broken in 8.0.0"
# Bug report

## Describe the bug

`next build` is supposed to support an optional `<dir>` argument that specifies which directory will be built. In 8.0.0, that argument is ignored, and attempting to run a build with that argument specified will fail incorrectly.

## To Reproduce

Create a minimal Next.js project:
* `mkdir example && cd example`
* `npm init`, accept all defaults
* `npm install --s

[2019-02-12 08:52] #6262 closed

[2019-02-12 09:01] arefaslani commented on #1935
@Ivanenko-O  It's a directory inside your application's root directory. everything inside it will be served statically.

[2019-02-12 09:38] willross opened #6264 "with-inferno example doesn't work with next 8.0.0"
# Bug report

## Describe the bug

```with-inferno```  example doesn't work with ```next@8.0.0```.
The following error is produced when running ```npm run build```:
[code]

## To Reproduce

```npx create-next-app --example using-inferno using-inferno-app && cd using-inferno-app && npm run build```

## Expected behavior

Should build with no errors.

## System information
 - OS: Ubuntu 18.04
 - Ver

[2019-02-12 10:00] willross opened #6265 "with-preact example doesn't work with next 8.0.0"
# Bug report

## Describe the bug

```with-preact``` example throws the following error:
[code]

## To Reproduce

```npx create-next-app --example using-preact using-preact-app && cd using-preact-app && npm run build && npm run start```

## Expected behavior

```createContext``` should be polyfilled perhaps like in [this example](https://github.com/developit/preact/pull/963#issuecomment-408635151)

[2019-02-12 10:25] jonleopard opened #6266 "Styled Components Issue on Next v8.0.0"
# Bug report

## Describe the bug

Receiving a `Unhandled Rejection (TypeError): Cannot read property 'replace' of undefined` error from _document.js, which is where all the `styled-components` settings are. I have not changed anything from my previous config, I just upgraded to the newest version of Next.

ctx.renderPage
./pages/_document.js:10
[code]

Function._callee$
./pages/_document.js:15
[c

[2019-02-12 10:37] willross opened #6267 "with-nerv example doesn't work on next@7.0.2 and next@8.0.0"
# Bug report

## Describe the bug

```with-nerv``` example doesn't work on neither ```next@8.0.0``` nor ```next@7.0.2```.

On ```next@8.0.0``` the same error as in [this issue about ```with-inferno``` example](https://github.com/zeit/next.js/issues/6264) is occurring.

On ```next@7.0.2``` the following error is thrown:

[code]

## To Reproduce

```npx create-next-app --example using-nerv using-ner

[2019-02-12 11:05] TawKhoury commented on #5511
Same issue. Any updates?

[2019-02-12 11:20] sheerun opened #6268 "Cannot kill build process with Ctrl+C"
# Bug report

In Next v7 I was able to kill build process with Ctrl+C. Now Ctrl+C exits to terminal but build process continues in background and outputs stuff to stdout

[2019-02-12 11:31] aswin-vb opened #6269 "Serverless build stuck at compilation"
# Bug report

## Describe the bug

While building the app under serverless mode the compilation get stuck at `additional chunk assets processing (91%)` , whereas when the app is build without serverless mode the build is completed without any issue.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:
1. In next.config.js file add
`module.exports = {
  t

[2019-02-12 12:01] timneutkens commented on #6261
Our tests run in Node.js 8 (https://github.com/zeit/next.js/blob/canary/.circleci/config.yml#L5), so I doubt that's the issue. But I'll have a look into what's going on here.

[2019-02-12 12:04] timneutkens commented on #6262
Not sure what happened here 🤔

[2019-02-12 12:07] timneutkens commented on #6259
Did you have it in your `dependencies` or `devDependencies`, if so, why'd you add it? I'm really curious about that because I've seen users do that before and I'm still not sure why and it's potentially breaking in many ways 😬.

[2019-02-12 12:11] timneutkens commented on #6269
Please provide a reproducible repository, it's impossible help without it as we can't debug your build otherwise.

[2019-02-12 12:11] #6269 closed

[2019-02-12 12:15] timneutkens commented on #5511
@TawKhoury please use the GitHub 👍 feature on the initial issue instead of posting "any updates". As you can see on the issue label it says "needs investigation" as said before. I've added `help wanted` and `good first issue`, so if you want to contribute feel free to 🙏

[2019-02-12 12:17] timneutkens commented on #6264
Seems like the examples are not taking into account aliases coming from Next.js itself (which Next.js does add), can you create a PR that spreads the aliases from `config` 👍

[2019-02-12 12:23] timneutkens commented on #6243
Thank you @Ephem 🙏🙏🙏

[2019-02-12 12:29] helderburato commented on #4789
Try this config, its works for me:

[code]

[2019-02-12 12:38] XHMM commented on #6266
same error report when upgrade to next 8, it sames like `styled-jsx` problem, I changed `styled-jsx` version back to `3.1.0` using `resolutions`(i use yarn) , and problem gone

[2019-02-12 12:40] willross commented on #6264
@timneutkens Sure. I've tried that and it works, but then I get the ```TypeError: React.createContext is not a function``` error, and I'm still figuring out a good way to polyfill ```createContext``` for ```next``` with ```inferno```. I'll create a PR when I figure it out.

[2019-02-12 12:43] timneutkens commented on #6266
@jonleopard @XHMM can you provide a reproduction `with-styled-components` runs fine.

[2019-02-12 12:44] timneutkens commented on #6264
Awesome thank you @willross 🙏

[2019-02-12 12:52] tnunes commented on #6249
Thanks a lot for the fix! Any idea of when a `8.0.1` might be released?

[2019-02-12 12:53] timneutkens commented on #6263
I use this feature all the time to build `test/integration/<something>` in the Next.js repository though. Going to try and reproduce based on your example.

[2019-02-12 12:55] timneutkens commented on #6249
Adding in a few more bugfixes. Most likely will do a new release today 👍

[2019-02-12 12:58] timneutkens commented on #6263
Ah it seems like this only happens when you do `next build build`, any variation like `next build ./build` or `next build someotherdir` works fine

[2019-02-12 12:59] timneutkens commented on #6263
Found the issue. Creating a PR.

[2019-02-12 13:01] tnunes commented on #6249
Awesome, thanks! 🙏

[2019-02-12 13:11] jonleopard commented on #6266
@XHMM I am using `apollo` as well. I am trying to create a reproduction of this issue, so far I have all the `styled-components` parts up and running with no issues. So that leads me to think that this might have something to do with Apollo (maybe in _app.js). Gonna do some more digging by adding Apollo now.

[2019-02-12 13:12] jonleopard commented on #6266
@XHMM Do you mind posting your _app.js here?

[2019-02-12 13:24] timneutkens commented on #6266
@jonleopard do you have a `<style jsx>` or `<style jsx global>` somewhere?

[2019-02-12 13:25] tnunes commented on #4016
Same here, was doing some bundle optimisation and looking for a feature like this. Any config option we need to use or was this disabled in the meantime?

[2019-02-12 13:26] ussuritiger opened #6271 "Possibility to configure WebSocket ping port"
# Feature request

## Is your feature request related to a problem? Please describe.
My development setup consists of multiple Docker containers:
1) Next.js application running in development mode
2) Mock API
3) Proxy that is used in front of Next.js application and mock API containers so one host is used for accessing both the application and API.

Next.js 8.0 has introduced WebSockets based ping

[2019-02-12 13:29] XHMM commented on #6266
Here's my `_app.ts` @jonleopard

[code]

[2019-02-12 13:47] jonleopard commented on #6266
@timneutkens Nope, I don't even have `styled-jsx` installed. I'm not sure why there's even a mention of it in the stack trace.

[2019-02-12 13:55] jonleopard commented on #6266
I think I found the culprit. I'm using `next-nprogress`, which has `styled-jsx` as a dependency. There's an [issue](https://github.com/sergiodxa/next-nprogress/issues/76) up for the same exact error.

[2019-02-12 14:35] aswin-vb commented on #6269
@timneutkens This was run on a basic project setup using create-next-app

[2019-02-12 14:47] Timer commented on #6261
I just attempted this and couldn't reproduce it.
Could you please provide more concrete instructions? Would be happy to reopen this issue if you do so.

This wasn't necessary for me, but can you try deleting `node_modules` and re-running `yarn` after switching your Node version?

[2019-02-12 14:47] #6261 closed

[2019-02-12 14:53] Timer commented on #6271
Duplicate of https://github.com/zeit/next.js/issues/6248.

[2019-02-12 14:53] #6271 closed

[2019-02-12 15:25] YuriGor commented on #6251
@dav-is Thank you for reply.
Could you please recommend some 'official' way to include some polyfill into nextjs app?
In my case it's static app and I need [closest](https://caniuse.com/#feat=element-closest) selector.
That solution was fine for next 7, but now I see no signs of life in the project, so chances are low v8 will be supported in the nearest future..
May be I missed some docs about top

[2019-02-12 15:29] furedal opened #6272 "CSS is imported in different order between dev and production"
# Bug report

## Describe the bug

I am using scss and css-modules.
In my root directory, I have a styles-directory that is excluded from css-modules and imported in _app. These are my global styles.

When running ```npm run dev```, my global styles and component-styles are all concatenated in to a single file, where my global styles comes first in this css. However, when I run ```npm run build```

[2019-02-12 15:53] dextermb commented on #6261
This may be down to `fs.inotify.max_user_watches`. Are you watching other files as well as just the next script?

Could you have a go at increasing `fs.inotify.max_user_watches`?

[2019-02-12 16:39] icflorescu commented on #6240
Facing the same issue as @AndrewIngram on a complex project. The issue only appears for `next@8.0.0` in dev mode, not when compiling for production.

[2019-02-12 16:40] giuseppeg commented on #6266
@XHMM it would be really helpful if you could make a minimal testcase (a Next.js app) so that I can clone it and take a look.

[2019-02-12 16:52] jonleopard commented on #6266
@giuseppeg I found the root cause of the issue.  I'm using`next-nprogress` which has `styled-jsx` as a dependency (there's currently an issue [here](https://github.com/sergiodxa/next-nprogress/issues/76)). Curious how v8 broke `next-nprogress`, I'll go take a look and see if I can offer a PR. Closing the issue now as this is a problem with `next-nprogress` and not `nextjs`.

Sorry for the noise!

[2019-02-12 16:52] #6266 closed

[2019-02-12 16:58] giuseppeg commented on #6266
@jonleopard yeah we changed some internal implementation detail in styled-jsx but didn't consider the fact that people might run different versions of the library.

FWIW can you try to instruct yarn to resolve to 3.2.0 (using https://yarnpkg.com/lang/en/docs/selective-version-resolutions/)

[2019-02-12 17:08] jonleopard commented on #6266
@giuseppeg Gotcha, thanks for the heads up :)

[2019-02-12 17:15] dandrei commented on #6025
I upgraded to Next.js 8 (stable) and using React 16.8.

The issue is still present.

[2019-02-12 17:21] nwalters512 commented on #6263
Ah, suppose I should have tried some other directory names. Guess I was unlucky enough to have been using the one thing that didn't work 🙂 thanks Tim!

[2019-02-12 18:08] dunika opened #6273 "8.0.0 - babel not compiling properly"
I am getting the following issue which I presume is related to babel.

[code]
It seems that `@babel/runtime-corejs2/helpers/esm` is being used instead of just`@babel/runtime-corejs2/helpers` where the compiled files seem to be.

I didn't notice this in `dev` with the following config

[code]

The issue is when I try and run the production build. Here is the relevant config

[code]

[2019-02-12 18:13] jedwards1211 commented on #6261
@timneutkens I thought file watching is too prone to OS-specific quirks for CI tests running in a docker container to be relevant here...did you guys try reproducing on macOS Mojave 10.14.3?

@Timer I tried blowing away `node_modules` and `yarn.lock` and reinstalling with Node 8, but it didn't help.

@dextermb I think you didn't notice that I'm on macOS.  As far as I can tell `fs.inotify.max_user_

[2019-02-12 18:17] jedwards1211 commented on #6261
@Timer I'm not sure what else to add to the repro instructions, did you have anything in mind?
The fact that GitHub markdown didn't indent `0. Use a system with macOS Mojave 10.14.3?` as part of the list may have caused you guys to miss it though, so I made the list start with 1.

[2019-02-12 18:22] timneutkens commented on #6273
Please provide a reproducible repository.

[2019-02-12 18:27] jedwards1211 commented on #6261
@Timer okay, I thought of some things and updated the repro steps to be more thorough.

Sadly, hot reload is no longer working for me on Node 10 either.  Maybe tweaking `kern.maxfiles` affected it, I don't know.  I'm going to try restarting.

[2019-02-12 18:38] shaunchurch commented on #6240
I ran in to the same issue. Removing both `node_modules` and `package-lock.json` and reinstalling _did_ fix it for me. It's important to remove both the directory and lock file before reinstalling, just in case that's the issue some are running in to.

[2019-02-12 18:44] jedwards1211 commented on #6261
Now it's working on Node 8 too.  I know for a fact I had the browser open when I tried on both Node 8 and Node 10 the first time, but restarting my computer seems to have fixed Node 8.  Sigh...sorry to bother you guys

[2019-02-12 18:48] dextermb commented on #6261
Ah, my bad! [`ulimit`](https://ss64.com/osx/ulimit.html) is for macOS 👍

[2019-02-12 19:08] schabluk commented on #6240
I have the same behaviour in TypeScript files:
`error  in ./stores/index.ts

Module parse failed: Export 'IStore' is not defined (77:9)
You may need an appropriate loader to handle this file type.
|   return Store;
| };

 @ ./pages/_app.tsx 16:0-37 38:24-32 83:18-26
`

[2019-02-12 19:17] timneutkens commented on #6240
@icflorescu it's impossible to solve the issue without a clear reproduction. Please provide one so that we can investigate further 🙏

[2019-02-12 19:17] timneutkens commented on #6240
@icflorescu could you create a new issue for it (including reproduction) because it's not the same as this one 🙏

[2019-02-12 19:19] timneutkens commented on #6251
This should do 🤔 https://github.com/zeit/next.js/tree/canary/examples/with-polyfills

[2019-02-12 19:48] paintedbicycle opened #6275 "Assets (images) in firebase examples"
In the firebase examples (I'm using Typescript from the next.js example folder) but have also tried https://github.com/jthegedus/firebase-functions-next-example), it's not clear how to add images - as any attempt to add them to the `/src/public` folder included in the examples or indeed a `/src/static` folder (to match what is recommended in the next.js docs) ends in a 404 error for the static res

[2019-02-12 20:38] kyle-mccarthy commented on #6273
@dunika I am having the same issue as you, out of curiosity do you have multiple babel configs? I do and it looks like babel is reading my .babelrc and .babelrc.

[2019-02-12 20:40] Thuan2000 commented on #5478
I am still having issues with this.

[2019-02-12 20:52] kyle-mccarthy commented on #6273
@timneutkens here is a repo that you can reproduce the issue with https://github.com/kyle-mccarthy/nextjs8-babel-issue

If you run `yarn build:server` and then look at the `.next/production-server/other.js` file you can see that it is using esm files.

I dug into it a little bit and _think_ [this commit](https://github.com/zeit/next.js/commit/2d5b56a181a3635cffd5b75aacc2ce87c317053e#diff-e74cd3147

[2019-02-12 21:05] NathanielHill commented on #6051
@timneutkens I'm having the same issue, can you advise on the proper solution?

I assume the Next.js aliases already exist by the time our webpack function executes?

So, should we do something like the following:
[code]

[2019-02-12 21:21] atis-- opened #6277 "Sub-directory index page route hangs, emits no response"
# Bug report
Hi!

I'm evaluating Next.js for potential use with some e-commerce sites. While it's easy to set up and looks pretty nice, there's this completely basic yet crazy thing that's happening when I run the "getting started" example with a small alteration -- a subdirectory route with an index.js file in it.

## Describe the bug

Create a subdirectory within `pages` folder, let's call it `s

[2019-02-12 21:22] moflo commented on #6201
Hi, this may be a Next configuration issue. I needed to change the following line in the `./src/index.js` function file to get the default `with-firebase-hosting` example to work with the Firebase `npm run serve` command:

[code]

Previous versions of the `with-firebase-hosting` example set this `distDir` variable in the `./src/app/next.config.js` file, but this doesn't work for the current versio

[2019-02-12 21:31] duvholt commented on #6273
I think have the same problem. I managed to reproduce it by modifying one of the existing examples.
https://github.com/duvholt/nextjs8-babel-server-issue
See commits for more details on the code I added to reproduce the crash.

Using Next v7 this code compiles fine.

[2019-02-12 21:34] afuggini commented on #6201
@oBusk node v8.12.0, npm 6.4.1. And yes, emulator is installed globally.

[2019-02-12 21:34] toshi1127 commented on #6265
@timneutkens
@willross
I am worried about PR to OSS for the first time, but I hope it makes sense!
https://github.com/zeit/next-plugins/pull/400

[2019-02-12 21:35] afuggini commented on #6201
@moflo There is no `./src/index.js`. Did you mean `./src/functions/index.js`? I updated that one but same error. Were you able to make it run? What node version are you running?

[2019-02-12 21:38] Emiliano-Bucci commented on #6273
Don't know if is related to this, but when trying to build, i get this:

`Emitted warnings from webpack:
export 'default' (imported as 'Component') was not found in
`
and so on. Works fine with v7.

[2019-02-12 22:05] tima101 opened #6278 "asPath for Link - is it retired or never existed?"
# Bug report

## Describe the bug

Below code displays `/public/login` on the browser. But it should be `/login`.
[code]

To fix it, I have to use `as`:
[code]

Is it understood that `href` object does not have `asPath` parameter?
Was it retired or perhaps I don't use it right?
I checked type of `href` and do see `asPath` parameter.
Thanks!

## To Reproduce

Steps to reproduce the behavior, please

[2019-02-12 22:17] NathanielHill commented on #6249
@bozskejkaja Your workaround would prevent errors, but I believe you will just have `undefined` values for all your environment variables if you export :thinking:

[2019-02-12 22:41] afuggini commented on #6201
Ok here's how I got this running:
- Uninstalled npm, nvm, node and yarn from my mac.
- Reinstalled node via nvm.
- Installed functions emulator and firebase tools globally
- Updated this example's `./src/functions/index.js` to look like this (cause it was not finding the build directory):

[code]

[2019-02-12 23:08] Emiliano-Bucci opened #6279 "Issue deployment Next v8"
# Bug report

## Describe the bug
Hi, i recently update a personal project to the last version of Next, 8.0, and i was trying to deploy using version 2; during deployment i face some issues (for example i had errors when trying to import an asset from the `/static` folder) or some WebpackWarnings `ModuleDependencyWarning: "export 'default' (imported as 'Component') was not found in` but, despite t

[2019-02-12 23:12] afuggini commented on #6181
Having the same issue. Here's my `next.config.js`:

[code]

[2019-02-13 00:02] dav-is commented on #6279
The `/static` folder isn't meant for things that you import. Try renaming the folder/moving the things that you import to `/assets` or something

[2019-02-13 00:10] icflorescu commented on #6273
I can confirm the same issue introduced by `8.0.0`.
Modifying `next/babel` preset to `['next/babel', { 'transform-runtime': { useESModules: false } }]` saved my day.

Thanks a lot, @kyle-mccarthy!

I've spent hours debugging this on a complex project (custom server, different `.babelrc.js`, etc.) and I was just preparing to extract the minimal reproducible test case in a separate repo when I saw y

[2019-02-13 00:56] Legym commented on #6181
I'm using next 8.0.0.0

in my .babelrc I had to change

[code]
{
  "presets": ["next/babel"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["import", { "libraryName": "antd", "style": "less"} ],
    ["import", { "libraryName": "antd-mobile", "libraryDirectory": "lib"}, "antd-mobile"],
    ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }],
  ]
}
[code]

[2019-02-13 01:00] Legym commented on #6181
My next.config.js

[code]

[2019-02-13 02:32] #5437 closed

[2019-02-13 02:32] #6243 closed

[2019-02-13 05:54] timneutkens commented on #6278
`asPath` has never been part of that object, we call `url.format` ([see API](https://nodejs.org/api/url.html#url_url_format_urlobject)). I wonder if we can do validation is development so that users won't add values to the object that don't belong there.

[2019-02-13 05:57] timneutkens commented on #6051
correct, that's what you should do.

[2019-02-13 05:59] timneutkens commented on #6265
@toshi1127 looks like a great PR!

[2019-02-13 06:03] tima101 commented on #6278
@timneutkens Thanks for clarifying! Feel free to close.

[2019-02-13 06:06] timneutkens commented on #6278
I think we can do better here though, so I'm leaving it open to improve!

[2019-02-13 06:43] Emiliano-Bucci commented on #6279
@dav-is Why not?

[2019-02-13 07:00] dav-is commented on #6279
The static folder is typically served from a CDN. You wouldn't want to store the file in the static folder AND bundled with your app. So you separate `/static` for files that you would call from a url, for example: `<img src="/static/icon.png">`
If you are `import asset from '../assets/item'` then it's in most cases going to be bundled with your app so you wouldn't want to waste space on your CDN

[2019-02-13 07:10] Emiliano-Bucci commented on #6279
And this is the reason why my entire app fails? Because with v7 this doesn't happen

[2019-02-13 07:13] terribleplan opened #6282 "Serverless output assumes a node.js runtime"
# Bug report

## Describe the bug

Serverless functions assume they are executing in a node.js environment, and as such can not run in non-node based JavaScript platforms such as Cloudflare Workers.

## Expected behavior

Compiled serverless functions are completely self-contained and can execute without a node.js runtime.

## Additional context

It looks like output functions call `require` in or

[2019-02-13 07:30] terribleplan commented on #5708
This is not currently solved well for CloudFlare Functions specifically, see #6282

[2019-02-13 07:32] dav-is commented on #6279
I'm not sure, did you try it?

[2019-02-13 08:11] timneutkens commented on #6279
@Emiliano-Bucci could you provide a repository that we can look at? It'll be easier to help you that way.

[2019-02-13 08:48] kachkaev opened #6283 "Not prefetching _error makes it impossible to display ‘You are offline’"
# Bug report

## Describe the bug

I've got an [Apollo](https://github.com/zeit/next.js/tree/canary/examples/with-apollo)-powered Next.js app where all pages are prefetched via `<Link prefetch />`. Because of that, only GraphQL queries need to be executed when navigating. When a critical `<Query />` on a page like `/posts` or `/post/abc` results in an error, I re-throw this error to let it be hand

[2019-02-13 09:17] bozskejkaja commented on #6249
@NathanielHill You're absolutely right, it's definitely not an actual solution to the issue. In my case, it was a sufficient workaround since I'm not really using the env variables after statically exporting the app.

Luckily, it looks like the issue is already resolved in 8.0.1 that just got released 🎉

[2019-02-13 10:14] dmytro-lymarenko commented on #5716
Can we also use new Context API in App component? [https://github.com/zeit/next.js/blob/canary/packages/next/pages/_app.js#L7](url)

[2019-02-13 11:13] adlk opened #6285 "Index routes won't be executed in client when index.js is located in /index/index.js"
# Bug report

When you build next.js when the index page is located in `/index/index.js` instead of `/index.js` The client side script will not be executed when you access `http://localhost/`.

The built index page will register with `/index` (as shown below)

[code]

Moving the index.js to the pages root will restore the wanted behaviour.
It took a while for me to figure out what the actual issue

[2019-02-13 11:30] Emiliano-Bucci commented on #6279
@timneutkens Yes, shure, and thanks for the time :)

https://bitbucket.org/emiliano-bucci/my-life-in-trek/src/master/

@dav-is I will try, thanks for the help :)

[2019-02-13 13:27] popuguytheparrot opened #6287 "Error: Cannot find module '.next\server\pages-manifest.json'"
# Bug report

## Describe the bug

When starting in dev mode, this error occurs when I try to navigate to the page in the browser

## Screenshots
[code]

## System information
 - OS: [Windows 10 ]
 - Browser [chrome]
 - Version of Next.js: [ 8.0.1]

[2019-02-13 13:57] icflorescu commented on #6240
@timneutkens I finally discovered last night that my issue was caused by #6273.
As I mentioned in that thread, the error goes away if I modify my `next/babel` preset to `['next/babel', { 'transform-runtime': { useESModules: false } }]`.

[2019-02-13 14:20] icflorescu commented on #6273
Here's another reproduction repo to help debugging the issue: [github.com/icflorescu/next8-babel-issue](https://github.com/icflorescu/next8-babel-issue).

[2019-02-13 14:42] icflorescu commented on #6277
I can also confirm this.

Tested on MacOS and it just hangs with Next.js `>6.1.2`.
Also, in `6.1.2` you'd get a `404` error when trying to access `/subdir/` (with a trailing slash).

I remember noticing this a long time ago but never found it to be a show-stopper... more of a "quirk" than a bug.

[2019-02-13 14:42] nghiepit opened #6288 "getInitialProps called twice and asPath undefined when you Router.push to current route"
# Bug report

## Describe the bug

 This error occurs when I `Router.push` to the current router.
the `getInitialProps` call twice and `asPath` respond `undefined` in the 2nd

[code]
[code]

## Problem
I found the problem because I have been installed a lib external and it using [Map](https://developer.mozilla.org/vi/docs/Web/JavaScript/Reference/Global_Objects/Map)

## Temporary fix
I don't know

[2019-02-13 15:13] gingerbenw commented on #3328
I experienced a similar situation with my repo today, and found if my git repo had a space in it (which then became replaced with %20 when I cloned it to my machine), all of the static assets get a 404 with `net::ERR_ABORTED`

[2019-02-13 16:17] dandrei commented on #6025
@HaNdTriX I see you mentioned the same issue in [PR 4919](https://github.com/zeit/next.js/pull/4919). Has there been any progress? Thanks.

[2019-02-13 17:03] soffes commented on #6259
Here's what I did: https://github.com/soffes/soff.es/commit/607a94237fd27f1d1354aa74ade3eef347414395

[2019-02-13 17:07] BiscuiTech commented on #6240
In my case, a simple complete re-install of the node_modules directory fixed this issue. It might related to the internal dependencies of the modules and the left over modules.

[2019-02-13 17:14] goshdarnheck commented on #6240
I have the same issue (I also get the same error when using dynamic imports, I wrote about it on Spectrum https://spectrum.chat/users/matthew-rapati?thread=c677c233-8b02-447f-aff0-97b3399a493f).

I tried removing node_modules, package-lock.json and clearing my npm cache, but it did not resolve the issue. If I have a chance I will try to create a small reproduction of the issue.

[2019-02-13 17:33] rsslldnphy commented on #4195
For the record, we're encountering this exact same issue on the exact same line of code. If we manage to create a simple project that reproduces it I'll open a new issue.

[2019-02-13 17:48] batanun opened #6290 "Make it possible to add a custom middleware after nextjs RequestHandler"
# Feature request

## Description of the problem at hand
Our website is quite complex, with many URL's that require custom logic. But there are also a lot of URL's that should be handled by the **nextjs RequestHandler** (like requests to a specific react page, babel content, static content, etc).
But there is no way to define a simple URL-pattern for either of these cases. Ie, we can't do like thi

[2019-02-13 18:17] nathfreder opened #6292 "Page doesn't change if in subdirectory (e.g. ./pages/test/index.jsx)"
# Bug report

## Describe the bug
Using `next/link` to visit a page inside a directory only changes the URL but doesn't load the page unless you reload the website.

[code]
## To Reproduce
1. Create a page at `./pages/test/index.jsx` with the following contents
[code]
2. Create another page at `./pages/index.jsx` with the following contents
[code]
3. Visit `/test` in your browser
4. Notice that th

[2019-02-13 18:23] sheerun commented on #6283
Yeah, I think _error.js should be included in each page instead of prefetching and wasting network request

[2019-02-13 18:24] sheerun commented on #6282
TBH running next.js in Cloudflare Workers is bad idea because it's very easy to hit CPU limit

[2019-02-13 19:08] Emiliano-Bucci commented on #6279
@dav-is Tried but nothing change :/ The site still remain unusable, without any possible interaction

[2019-02-13 19:12] Emiliano-Bucci commented on #6279
@timneutkens Do you think that the issue could be the babel plugin module-resolvers?

[2019-02-13 20:21] nathfreder commented on #6287
@popuguytheparrot Try deleting `.next` and running `next dev` again?

[2019-02-13 22:07] StefanFransen commented on #6282
@sheerun Depends what plan you're using. I've had no CPU issues executing Next.JS on Cloudflare Workers. Haven't got rendering working tho, but the CPU runtime shouldn't be a issue.

[2019-02-13 22:29] Enalmada commented on #6163
@fabb +1.  My "Next Preload Headers" module sometimes causes a "can't add headers to already sent response" message which I believe is harmless but could be an indication that next.js would be the best place to put preload links into the header.

[2019-02-14 02:07] terribleplan commented on #6282
I've managed to get a proof of concept running: https://terribleplan.com/nextjstest

Currently the solution involves using webpack to re-bundle everything with `mode: 'webworker'` and a bunch of node polyfills. The roughest bit was adding a custom polyfill for `path` since next uses `path.posix` which isn't polyfilled by `path-browserify`. I'm working on getting it all thrown into a module right n

[2019-02-14 05:54] LEscobar-Driver opened #6294 "Invalid GET route path for img when viewing certain pages and not others"
# Bug report
Source https://github.com/LEscobar-Driver/dKick
Video of the bug https://imgur.com/a/kp8V9Lr

My static header/footer icon image is broken within some pages and not others.

## Describe the bug

**Project Folder structure** https://imgur.com/a/nVDdTqC

As you can see from the imgur image, I have 5 pages. My header/footer icon image displays as its suppose to on all my pages expect the

[2019-02-14 06:27] aimeelaplant opened #6295 "Safari freezes when swiping back for NProgress example"
# Bug Report

## with-loading example
https://github.com/zeit/next.js/tree/master/examples/with-loading

## Describe the bug
On Safari when you click on a link and then press the back button using the touchpad's SWIPE BACK gesture, NProgress freezes and causes the page to hang and get stuck.

## To Reproduce
I've created a screen recording to show the bug. Notice after the back swipe gesture, the

[2019-02-14 07:47] popuguytheparrot commented on #6287
Sure. Nothing happens

[2019-02-14 09:25] Jauny commented on #6278
@timneutkens by improve are you saying it'd be good to make Link able to deal with `asPath` being part of the `href` prop?

[2019-02-14 09:36] jaggerwang commented on #5180
@sdli It changes config too much!

I already successfully customized theme as the following simple way:

*next.config.js*
[code]

*css/antd.less*
[code]

*pages/_app.js*
[code]

But I found the code size of page is very big (6.1 MB).
![image](https://user-images.githubusercontent.com/1255011/52777272-59ac7e00-307e-11e9-879b-439cb1bf9a5e.png)

So it's very needed to load antd component on demand. I

[2019-02-14 10:44] HaNdTriX commented on #6025
I am afraid not. Nevertheless I am currently not tracking the progress of this project on a daily basis.

[2019-02-14 10:49] dandrei commented on #6025
Thanks, @HaNdTriX. Can you think of a way for me to hack/force the update before the event fires, until the bug itself is fixed in Next.js?

[2019-02-14 10:58] janus-reith commented on #6040
@kopacki Your approach seems interesting, and mostly boils down to using react-jsx-parser to parse the stringified components.

The example you gave is clientside, will try if that works with nextjs/ssr aswell.
According to the issues in react-jsx-parser there seem to be some people using it serverside.

[2019-02-14 11:19] HaNdTriX commented on #6025
yepp. Implement it yourself using react:

**components/OnRouteChange.js**

[code]

**pages/_app.js** (Usage example)

[code]

## Future

In the future we could probably implement this as a standalone hook.

[code]

[2019-02-14 11:24] janus-reith commented on #6040
@ranjanrajiv00 Could you give more details on how these things work together?
What I wonder:

What does that mean essentially? Are those fetched on the server and then served to the client together with your container app, or are they just rendered clientside and therefore not taking advantage of SSR?

Also, does `/api/render` just serve statically rendered html, or does it keep up any of reacts d

[2019-02-14 11:50] nathfreder commented on #6285
I'm pretty sure my issue is a duplicate: https://github.com/zeit/next.js/issues/6292

[2019-02-14 12:02] ranjanrajiv00 commented on #6040
@janus-reith
Micro app will generate UMD bundle and can be deployed independently.
Container app will download  bundle (micro app's UMD).

/api/render will render react component using **renderToString()** and return to container app for SSR.
Container app will do all composition and SSR and again it will be hydrated at client using **ReactDOM.hydrate**.

[2019-02-14 12:23] revskill10 commented on #6040
My suggestion for general case is: Ability to provide a React Component as a service. That means, we need to return React Component as a JSON response, and ability to reconstruct it both on NodeJS and browser.
So in case of NextJS, we do it in `getInitialProps`.
Actually, NextJS is the perfect shell to compose remote React Components universally.

[2019-02-14 12:27] revskill10 commented on #6279
@Emiliano-Bucci Have you tried building locally, what's the error then ?

[2019-02-14 12:32] obedparla commented on #6240
Installing `acorn` fixed this issue for me. It is merged already on canary but not yet on master. https://github.com/zeit/next.js/pull/6137

[2019-02-14 12:55] Emiliano-Bucci commented on #6279
@revskill10  Same error:
`ModuleNotFoundError: Module not found: Error: Can't resolve 'src/components/Comp' in '/Users/emiliano/Desktop/projects/blpt/pages'`

[2019-02-14 12:58] timneutkens commented on #6240
Installing acorn in Next.js doesn't solve the issue.

[2019-02-14 13:16] timneutkens commented on #6278
That'd be a weird non-standard behavior, what I meant is in development we can throw an error that you're adding a property that is not allowed on the object, as we know all keys that are allowed (it's a standard)

[2019-02-14 13:16] AlexOtero32 opened #6296 "HMR reloading page every 10 seconds"
# Bug report

## Describe the bug

After upgrading to next@8, HMR keeps reloading the page every ~10 seconds. The console throws the following error:
Connection to https://mydomain.com/_next/webpack-hmr was interrupted while the page was loading.

## To Reproduce
Upgrade a project from next@7.0.2 to next@8.0.1 using

    yarn upgrade next@latest react@latest react-dom@latest

## Expected behavior

[2019-02-14 13:17] timneutkens commented on #6287
Please provide a reproduction.

[2019-02-14 13:18] timneutkens commented on #6295
Strange 😲 Added good first issue labels.

[2019-02-14 13:20] timneutkens commented on #6296
Can you provide a reproduction?

[2019-02-14 13:22] AlexOtero32 commented on #6296
What do you need exactly?

[2019-02-14 13:28] timneutkens commented on #6296
Anything that allows us to actually look into this issue. Like a GitHub repository.

[2019-02-14 13:29] timneutkens commented on #5716
It's a breaking change and I still have to figure out how to solve it without breaking. The issue is that with-apollo and similar need the full tree to pre-render queries correctly.

[2019-02-14 13:31] timneutkens commented on #6249
It's released as 7.0.1 👍

[2019-02-14 13:45] Timer commented on #6292
Closing as a duplicate of #6285, thanks!

[2019-02-14 13:45] #6292 closed

[2019-02-14 14:51] GiampaoloFalqui opened #6297 "API abstraction using HOC does not work in getInitialProps"
# Bug report

## Describe the bug

I am attempting to abstract my API calls by using a simple service that provides a very simple method, which is just an HTTP call. I store this implementation in a React Context, and use its provider inside my _app.js, so that the API is globally available, but I have a problem at actually consuming the context in my pages.

## To Reproduce
https://gist.github.co

[2019-02-14 14:51] timneutkens commented on #6288
Please provide a reproduction when creating issues. It's hard to help otherwise.

[2019-02-14 14:51] #6288 closed

[2019-02-14 14:56] timneutkens commented on #6297
Please ask questions on https://spectrum.chat/next-js. This is not a bug in Next.js.

[2019-02-14 14:56] #6297 closed

[2019-02-14 14:59] sarriaroman commented on #6296
Same problem here, nothing changed, just updated to 8.0.1. The error I'm seeing is:

```WebSocket connection to 'wss://127.0.0.1:55580/' failed: Error in connection establishment: net::ERR_SSL_PROTOCOL_ERROR```

And after it's thrown just reloads the page.

[2019-02-14 15:24] ograycode commented on #6240
Where I work this problem, this has impacted us when trying to upgrade to next 8.

[2019-02-14 15:40] lfades commented on #5716
@timneutkens The strategic used by Apollo will be removed once [React Suspense for Data Fetching](https://reactjs.org/blog/2018/11/27/react-16-roadmap.html#react-16x-mid-2019-the-one-with-suspense-for-data-fetching) is out, and that is before React 17 👍

[2019-02-14 16:19] Timer commented on #6296
To clarify, we can't reproduce this with any of our projects. Please provide us with a project (lockfile and all) that has this reproducing. Thanks!

[2019-02-14 16:33] timneutkens commented on #6296
The on-demand-entries ping was moved to a websocket. It seems like you're using https in development, meaning that you'll have to configure your environment to allow websockets to connect, there's a few options that help you do this: https://nextjs.org/docs#configuring-the-ondemandentries

[2019-02-14 16:39] timneutkens commented on #5716
@lfades that'll take at least a couple of months.

[2019-02-14 16:41] sarriaroman commented on #6296
Yes, that is the problem, I found that but there is no way to load custom certificates to prevent the SSL Error.

[2019-02-14 17:24] romainquellec opened #6301 "Serverless out of memory"
I'm trying to test and deploy serverless version of nextjs, with serverless framework.
At the build phase, this error below occurs :

[code]
## To Reproduce
My repo is pretty complex, but should be stable : https://github.com/CuistotduCoin/front
(yarn build)
I will try with a simpler version

## System information
 - OS: Windows,
 - Version of Next.js:  8.0.1

[2019-02-14 17:27] timneutkens commented on #6301
Probably because you're adding components and other things to the `pages` directory 😅 It should only hold actual pages.

[2019-02-14 17:40] Robbatron commented on #6240
Using Yarn to install dependencies did the trick for me. Super weird.

[2019-02-14 18:07] dandrei commented on #6025
Thanks @HaNdTriX for the code, but I'm afraid the problem still persists.

e.g. even here:

[code]

I still get mismatches.

[code]
Seems <Head> is continuously lagging behind.

[2019-02-14 18:14] romainquellec commented on #6301
Are you talking about getPageContext, initApollo, theme & withData ?
If so, I will try after moving them elsewhere and give feedback tomorrow.

[2019-02-14 18:33] timneutkens commented on #6301
I meant the storybook files and other components. they all becomes pages.

[2019-02-14 19:53] yongelee commented on #6287
I had this issue.

I had a _document.js file and was doing things with styled-components but didn't actually have the styled components package in my project

[2019-02-14 19:57] Timer commented on #6265
PR merged.

[2019-02-14 19:57] #6265 closed

[2019-02-14 21:05] StefanFransen commented on #6282
@terribleplan That's awesome! Do you have a repo available with your progress?

[2019-02-14 22:47] newsroomdev commented on #6285
I was also having this issue when running the start command with `NODE_ENV=production`, and I fixed it by moving `index.js` to the root of `pages/`

[2019-02-15 00:37] ScottAgirs commented on #5085
I've had the same issue for a while on certain pages - is there a solution?

[2019-02-15 02:13] terribleplan commented on #6282
@StefanFransen It only works for 1 route right now, as I just discovered that workers have a peculiar limit of 1 script per domain for non-enterprise accounts. I am working on multiple possible workarounds, but won't release anything until the problem is solved somehow.

[2019-02-15 03:55] wbr911 opened #6303 "use content hash in pages chunk name"
# Feature request

## Is your feature request related to a problem? Please describe.
![GitHub Logo](https://docs.google.com/uc?id=1J14lZhc3VMTgqTgJCrdQz3dZBr1y2aQW)
for entries under pages folder , nextJs will not add `content_hash` to entries' name. Instead the path will be` __next/$nextVersion/page/$pageName.js.`
As a result , each time when we make a new release , nextJs will generate a new ver

[2019-02-15 04:37] sakhmedbayev opened #6304 "Next.js pages with dynamic content do not server side render"
Not sure, if posting my question here is appropriate. Sorry about that in advance. I have tried to get some answers on spectrum [here](https://spectrum.chat/zeit/now/next-js-dynamic-pages-not-ssr~dc2967f9-8a77-4f51-b552-1324d6c0bf61), but so far no luck :-(

I just started using zeit "now" for deployment, not sure if my question is coming from the lack of understanding or the limitation of the "no

[2019-02-15 05:41] vasco3 commented on #6240
Ok here is the winning combo (made sure is 100% reproducible):
My project already had next v7
* `npm i next@latest` -> installs next v8.0.1 but warns about acorn
* `npm run dev` -> runs next and fails with the error described in this git issue
* `npm i acorn`
* `npm run dev` -> runs next and fails with the error described in this git issue
* `npm i next@latest` -> no warnings
* `npm run dev` it wo

[2019-02-15 06:38] ccfnever commented on #6303
Aha~！ I am planning to submit an issue like this. This is also a problem that has been bothering me for a long time.

As @wbr911  said, this wastes a lot of resources and greatly reduces development and user experience.

@timneutkens
I remember u said 「Adding hashes to page files is going to be up to us the future.」last year.[#4255](https://github.com/zeit/next.js/issues/4255)
Can you provide the

[2019-02-15 10:42] romainquellec commented on #6301
I followed your requirements but this issue is still one.

I tried with another repo, its working fine (https://github.com/romainquellec/boilerplate). I wil try to add parts to see whats going on.

[2019-02-15 10:55] romainquellec opened #6306 "switch from target:server to target:serverless from (npm-)scripts"
# Feature request

## Is your feature request related to a problem? Please describe.
I'm using "target:server" for development. I'm also testing "target:serverless" with serverless framework, and right now, i'm switching manually target:server to serverless manually.

Is there a way to switch that automatically ?
- I'm using custom server (server/index and server/lambda), so maybe, there is a way

[2019-02-15 11:20] blaiprat commented on #6259
Had the same issue, in my case solved it by deleting `node_modules` and `package-lock.json` and installing everything again

[2019-02-15 11:52] timneutkens commented on #6304
Not sure what the issue is here, you've posted it correctly on spectrum.chat as per the issue template, so I'm going to close this issue.

[2019-02-15 11:52] #6304 closed

[2019-02-15 12:32] timneutkens commented on #6303
It's slightly more complicated than saying "I want to add hashes", the problem space is bigger than that. For example how are you going to route? The client side is not aware of the hashes for the script tag, and it shouldn't have a list of all possible routes + hashes (that wouldn't scale).

I've just created a flow chart that (from the top of my mind) explains how the router currently works:

<i

[2019-02-15 12:41] timneutkens commented on #6306
You can use phases like: https://github.com/zeit/next.js#custom-configuration

[2019-02-15 12:41] #6306 closed

[2019-02-15 12:55] sakhmedbayev commented on #6304
@timneutkens, the issue is that pages with dynamic content do not server-side rendering.

[2019-02-15 13:01] mario-iliev commented on #5347
@zvictor In your [example](https://github.com/zvictor/nextjs-issue-5347/blob/cfd9307728f41dca7662c6dcdd79303a70543cd4/pages/index.js#L8), by using the "Component" on line 8 (inside the export default), you are disabling the SSR and because of that there is no problem. Yes it's still a dynamic import but it's loaded on the client side.
I'm really annoyed by this bug!
Because of which we have to rel

[2019-02-15 13:14] timneutkens commented on #6248
@ijjk could you send me a DM on spectrum.chat/users/timneutkens, thanks!

[2019-02-15 13:16] timneutkens commented on #5347
Added Connor on this issue.

You could contribute to Next.js in many ways, including solving this issue. 🙂

[2019-02-15 13:19] mario-iliev commented on #5347
@timneutkens I tried everything in the past 4 months, but it seems that my knowledge as a developer is not enough to help Next.js community. If I a was able to fix and share the fix, believe me I would :)

[2019-02-15 13:34] sw-yx opened #6307 "serverless mode: "Emitted warnings from webpack", long wait, followed by super verbose logging"
# Bug report

## Describe the bug

when i try to run `next build` in the new serverless mode, i get a message `Emitted warnings from webpack` and then it dumps out chunks representing in my node modules in my console forever (so i have to manually terminate the build)

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:
1. https://github.com/sw-yx/marvel

[2019-02-15 13:48] timneutkens commented on #5347
No worries, we'll look into it 👍

[2019-02-15 14:10] tnunes commented on #6249
Thanks again! 👌

[2019-02-15 14:50] romainquellec commented on #6301
This error comes from one broken page.
I knew this adding pages one by one. Maybe, I'm unlucky, but I guess there is no way to "compile" pages after pages to know the broken one ?
(I can close this issue and add this as a request)

[2019-02-15 15:10] timneutkens commented on #6301
@romainquellec could you expand on what solved it?

[2019-02-15 15:18] tnunes commented on #5054
Curious about the state of this, as I'm also looking to implement something similar for statically exported error pages.

[2019-02-15 15:18] janjarfalk opened #6308 "Store state differs between first and successive ssr in with-redux-saga example"
## Example name
with-redux-saga

## Describe the bug
Store state differs between first and second (actually all successive) server-side renders.

## To Reproduce
1. `npx create-next-app --example with-redux-saga with-redux-saga-app`
2. `cd with-redux-saga`
3. `npm install`
4. `npm run dev`
5. Open web browser and check the store value for `placeholderData` (has data)
6. Reload the web browser and

[2019-02-15 15:43] romainquellec commented on #6301
I dont really know now. Its seems related to "node-fetch" making a 'CriticalDependencyWarning' with a dynamic import.
I was not really using the page (was just a test), so I removed it.
I will close this, as my issue is resolved.

[2019-02-15 15:43] #6301 closed

[2019-02-15 16:05] andrewgremlich commented on #6240
So was it some kind of dependency resolution?  @vasco3  that solved my problem.

[2019-02-15 16:14] romainquellec opened #6309 "Cant handle static assets with serverless framework"
# Bug report

## Describe the bug
I cannot load the assets with a lambda with serverless framework.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:
1. Go to https://github.com/romainquellec/boilerplate, clone
2. yarn
3. yarn (global) add serverless
4. yarn build
5. yarn lambda
6. See error on console or chrome console (assets don't load)

## System

[2019-02-15 16:41] timneutkens commented on #6309
This doesn't sound like a bug in Next.js 🤔

[2019-02-15 16:49] #6244 closed

[2019-02-15 17:00] romainquellec commented on #6309
I honestly have no idea.
@vadorequest @Enalmada, do you know what's happenig ?

[2019-02-15 17:13] haywirez commented on #6296
@timneutkens can you shed more light on this? What do I have to configure to make websockets over SSL with local certs work?

[2019-02-15 17:17] sarriaroman commented on #6296
There is no current way to configure your certificates in the onDemandEntries config. The fix proposed will work on the short term but would be likely to have a way to set custom certificates on the config.

[2019-02-15 17:20] Enalmada commented on #6309
Just to rule things out and narrow it down can you confirm if this happens on Next 7 or when doing a build from linux (Windows Subsystem for Linux to rule out paths issue)?

[2019-02-15 17:44] romainquellec commented on #6309
I'm not using Next 7 for lambda (and you should switch on Next 8, its so much easier for lambda).
I will try on WSL. Will give any hints later, weekend is coming ;)

[2019-02-15 19:28] damusnet commented on #5416
Here is my custom solution using [Jest node modules mocking](https://jestjs.io/docs/en/manual-mocks#mocking-node-modules):

[code]

Then in your test:
[code]

No dependency or babel plugin needed.

It will render the snapshot as if you had called `jest.mock('../DynamicComponent', () => 'DynamicComponent');` on a regular component and lets you cover that component in another test.

[2019-02-15 19:48] zzrez opened #6311 "Problem with dynamic routing example to static"
## Example name
with-static-export

## Describe the bug
This example produces the static files for each of the posts (10 in total), but does not serve them. Instead the app makes a call to the api, eg https://jsonplaceholder.typicode.com/posts/3 for post3.

I also got this error the first time when using npm run start:-
A system error occurred (ENOENT: no such file or directory, stat 'c:\Users\...

[2019-02-15 20:28] manovotny commented on #4998
My company is also coming up against this.

We're slowly taking over a legacy app, section by section, and replacing it with Next.js.

As a simplified example:

| URL | App |
|---|---|
| example.com | legacy |
| example.com/shop | next |
| example.com/search | legacy |
| example.com/members | next |

That means we want ***everything*** to be prefixed within each Next.js app... Pages, routes, asset

[2019-02-15 20:56] dav-is commented on #5347
Seems like what's happening is:
- `loadable:initialized = false`
- `index.js` => `outer.js` is initialized with `loadable:createLoadableComponent()` ([link](https://github.com/zeit/next.js/blob/master/packages/next-server/lib/loadable.js#L110))
- `loadable:preloadReady()` ([link](https://github.com/zeit/next.js/blob/master/packages/next-server/lib/loadable.js#L297)) is called including `outer.js`

[2019-02-15 21:22] #6296 closed

[2019-02-15 21:51] rudolph9 opened #6313 "next 8.0.1 throws error when `webpack` method is written as pure function"
# Bug report

## Describe the bug
Upon upgrading from next 7.0.2 to next 8.0.1 I received the following error:
[code]

After a little digging I identified that the issue had something to do with a webpack alias I had configured in my `next.config.js`:
[code]
__Background: Aliasing `_: __dirname` allows me to import files via very concise absolute references (e.g. `import Foo from '_/components/Foo

[2019-02-15 22:32] timneutkens commented on #6313
Both work, the issue here is that you probably weren't defining the aliases coming from Next.js's config object (making the assumption that Next.js would never add them in the future) so this is not a bug in Next.js and there's little we can do to resolve it.

[2019-02-15 22:32] #6313 closed

[2019-02-15 23:16] Timer commented on #6267
I'll tag this as up for grabs -- feel welcome to fix it! 😄

[2019-02-16 04:24] rainbowMorelhahahah opened #6314 "React. map cannot be used to render content"
<ItemGrid>

                        {
                            good_list.map((e, i) => {
                                return (
                                    <div className={classnames(styles.product_items, 'item', 'project-post', e.irregular_width ? 'project-post-width2' : '', 'grid-item')} key={e.goods_id}>
                                        <div className={styles.product_hover}>

[2019-02-16 07:30] johannesfritsch commented on #5374
I have the exact same problem. To me it looks as if the router is not updated from the last page. router.asPage is still '/' when it should be /node/a?id=123123. On SSR everything works.

[2019-02-16 08:09] janjarfalk commented on #6308
Reverting #6300 solves this issue. In effect reverting back to.
[code]

[2019-02-16 08:40] Yzrsah commented on #5429
It has also stopped working for me on 8.0.0

[2019-02-16 08:44] Yzrsah commented on #5429
It is not working anymore for me on 8.0.0 / 8.0.1

HMR on next.config.js dead.
I tried disabling serverless. Still nothing

[2019-02-16 09:01] Yzrsah commented on #5429
One common reason HMR of `next.config.js` stops working:

- You didn't run 'next'
- You're using express, `server.js`, etc.
- You used one of the next.js/examples

All of the examples which use server.js are broken.

[2019-02-16 09:07] Yzrsah opened #6315 "HMR of next.config.js is broken for all examples using server.js"
The next.js/examples using `server.js` do not HMR `next.config.js`

[2019-02-16 09:36] dandrei opened #6316 "Slow Next.js production build process (Next 7, 8)"
# Bug report

Hey everyone,

I have a Next.js app which I'm serving from a dedicated server machine.
The build takes up to one minute and a half when deploying a new version.

Are there any recommended practices to minimize this time or ways to figure out what's going on?

I'm using `yarn build` (which calls `next build`) to build the app, and my `build.sh` also sets `export NODE_ENV=production` p

[2019-02-16 10:16] Emiliano-Bucci commented on #6279
By the way, if could be useful to anyone, the problems that i face were basically two:
- Absolute path imports.
- Pages files inside folder (**pages/Index/index.tsx**)

By using only relative imports and only single page file (**pages/index.tsx**) everything works fine.

[2019-02-16 13:07] Zertz commented on #4998
We're running into, I think, the same problem.

| URL | App |
| - | - |
| example.com | next |
| example.com/dashboard | next |

As expected, the root app works just fine. Things go awry in the second one though. We're currently wrapping `next/link` which, combined with `assetPrefix`, solves most of the problem:

[code]

However, this breaks `prefetch` because then it tries to look for `.js` files

[2019-02-16 13:10] timneutkens commented on #6316
Can you show your project structure, do you have components in the pages directory?

[2019-02-16 13:12] timneutkens commented on #6315
Please follow the issue template and provide a clear reproduction of your issue.

[2019-02-16 13:12] #6315 closed

[2019-02-16 13:14] timneutkens commented on #6314
This doesn’t sound like a Next.js issue, please follow the issue template and provide a clear and concise reproduction.

[2019-02-16 13:14] #6314 closed

[2019-02-16 13:25] bbortt commented on #6308
@janjarfalk i'll have a look at it.

[2019-02-16 13:35] Yzrsah opened #6317 "HMR of next.config.js is broken for all examples using server.js"
note: This issue is specifically for HMR of next.config.js requiring a server restart.

# Bug report

The next.js/examples using `server.js` do not HMR `next.config.js`

## To Reproduce

- Use one of the examples which includes a server.js
- Modify `next.config.js` while server is running
- HMR does not occur

## Expected behavior

HMR of `next.config.js`

## System information
 - OS: macOS, Windo

[2019-02-16 13:37] dandrei commented on #6316
Hi @timneutkens, thanks for the quick reply.

My `pages/` directory has strictly the components that correspond to routes.

I'm transpiling TypeScript to JS/X in place, so for each `.js/x` file there's a `.ts/x` file from which it gets transpiled, but I expect that these should get ignored by the configuration.

Here's the tree:
[code]

[2019-02-16 13:45] timneutkens commented on #6316
I guess it's the minifier (terser) being slow, it's hard to say without a clear reproduction.

[2019-02-16 14:04] bbortt commented on #6308
Well, obviously saga task is canceled on server side as seen [here](https://github.com/bmealhouse/next-redux-saga/pull/44/files) on lines `index.js:19-22`. Therefore, `takeLatest(actionTypes.LOAD_DATA, loadDataSaga)` is not caught and no data is loaded on second (and continuous) server side render. However the task was already canceled before this update, see `index.js:24-26`.
So, @bmealhouse I wo

[2019-02-16 14:04] dandrei commented on #6316
You're right, I checked the output of the `WebpackBar` plugin and it did mention `TerserPlugin` at the last stage, the one taking the longest.

[code]

But I discovered something: while I did not have components under `pages/` I did have a garbage folder with obsolete and broken route components that I deleted when building the tree structure above.

And since then, the build times are consistentl

[2019-02-16 14:42] bbortt commented on #6308
Ah probably because of what Andarist mentioned [here](https://github.com/bmealhouse/next-redux-saga/issues/27#issuecomment-464347081), that `dispatch(END)` would not propperly close the task. Then we're screwed.. The whole V3 API built on a bug and in order to run it we would have to change behaviour in `"redux-saga"`..

[2019-02-16 15:03] timneutkens commented on #6316
@dandrei it's hard to say without seeing what was actually there, but glad it was resolved 🙏

[2019-02-16 15:04] timneutkens commented on #6316
In Next.js 8 we introduced a step at the end of the build process that logs out all the pages that were built to give you a visual indication.

[2019-02-16 15:42] bbortt commented on #6308
I have te solution.. *facepalm* will implement it this evening! @bmealhouse @janjarfalk

[2019-02-16 16:09] #4660 closed

[2019-02-16 16:09] #6287 closed

[2019-02-16 19:37] josuesossou commented on #2887
I'm having the same issue but nothing on this page seem to work so far.

This is my server.js
const express = require('express')
const next = require('next')
const bodyParser = require('body-parser')

const dev = process.env.NODE_ENV !== 'production'
const app = next({ dev })
const handle = app.getRequestHandler()

const port = process.env.$PORT || 3000

const mailer = require('./lib/mailer')

app

[2019-02-16 20:00] mwcbrent commented on #2887
@josuesossou See my comment above, you have `"start": "next start -p $PORT",` in your package.json which you should change to `NODE_ENV=production node serve.js`.

The root of the issue is that on Heroku the process is running `start` which calls `next start -p $PORT` which your `server.js` is not included.

[2019-02-16 20:27] dextermb opened #6319 "Different className from server/client when using a defaultProp"
# Bug report

## Describe the bug

When using a prop defined in `defaultProps` for the `className` prop on an element (in this case a form). I get different results for the server/client.

## Expected behavior
The server should also check the `defaultProps`.

## System information
 - OS: macOS
 - Version of Next.js: `^8.0.0`

## Additional

### Error from console
[code]

### Snippet
[code]

I also

[2019-02-16 20:43] dextermb commented on #6319
Not sure if related, but I also seem to be getting similar issues such as:
[code]

[2019-02-16 20:52] dextermb commented on #6319
Seems like the issue was because I was editing a local package, which was updating `node_modules`, but the development server wasn't picking up on the changes whereas the client was.

[2019-02-16 20:52] #6319 closed

[2019-02-16 22:46] josuesossou commented on #2887
@mwcbrent but I got a random error when I change it to NODE_ENV=p...

[2019-02-16 22:54] josuesossou commented on #2887
I get this error when I try npm run dev

vents.js:165
      throw er; // Unhandled 'error' event
      ^

Error: listen EADDRINUSE :::3000
    at Server.setupListenHandle [as _listen2] (net.js:1345:14)
    at listenInCluster (net.js:1386:12)
    at Server.listen (net.js:1474:7)
    at Function.listen (/Users/josue/Documents/Web Apps/PlayUP Landing Page/node_modules/express/lib/application.js:618:2

[2019-02-16 23:11] josuesossou commented on #2887
Nvm, once I removed the $ in front of PORT, it's working in Heroku, but on my localhost, I have to change `NODE_ENV=production node server.js` to next start for it to work

Thank you @mwcbrent

[2019-02-17 05:31] ranjanrajiv00 commented on #6040
Any example/sample code for micro frontends with next.js approach.

[2019-02-17 07:24] ranjanrajiv00 commented on #6040
@janus-reith and all, could you take a look into my approach.
https://github.com/ranjanrajiv00/micro-frontends

Your feedback/input would give me to make it better.

[2019-02-17 08:17] Vadorequest commented on #6309
@timneutkens I don't think that's a Next.js bug either. Assets (especially binary files) need to be treated particularly to work on AWS Lambda. It's more a usage issue IMHO.

I haven't had time to look into how Next 8 deals with assets and what's the recommended way to load them (assuming S3). I'll try to give in later. Meanwhile, if anybody has any hint regarding the issue, it'd help! :)

[2019-02-17 08:41] bbortt commented on #6308
The error must be located in the example. See [this issue in `next-redux-saga`](https://github.com/bmealhouse/next-redux-saga/issues/48) for more information.

[2019-02-17 10:25] janjarfalk commented on #6308
You might be right, but I didn't find this issue in the `with-redux-saga` example. I just used it to reproduce it. I see it in several, unfortunately private, projects. The setup in those projects is however derived from `with-redux-saga` in one way or another.

I am having problems geting `my-little-streaming-dream` (the authserver) up and running. Do you have something smaller where it works?

[2019-02-17 10:47] ccfnever commented on #6303
Thank @timneutkens for your detailed answers, and I agree that this feature is difficult to achieve.

Maybe we have to alleviate this problem by dividing complex projects into multiple next.js apps.

[2019-02-17 10:47] janjarfalk commented on #6308
If I simplify the `requestUserInfo` in `my-little-streaming-dream` to...
[code]
... it does reproduce the issue.

[2019-02-17 10:50] timneutkens commented on #6309
Static assets should not be part of the lambdas basically. So indeed use s3 or another static file host.

[2019-02-17 11:58] wbr911 commented on #6303
@timneutkens  First of All , Thanks a lot for your patient explanation
I could understand your concerns about `routes`, while my architecture is MPA (multiple-pages) instead of SPA which means we don't have the `routes` problems.
Could NextJs provides an alternative to add hashes to page js for MPA cases?

[2019-02-17 12:00] bbortt commented on #6308
Huh, heavy mistake on my side.. didn't run `yarn install` on my laptop and was still using `"redux-saga": "0.16.2"`..
You're right @janjarfalk, problem still exists.

[2019-02-17 12:08] timneutkens commented on #6303
@wbr911 could expand on this more, do you mean you're not using `next/link` and doing full page transitions?

[2019-02-17 12:15] TxHawks commented on #5511
@timneutkens Any hints on where in the codebase to look?

[2019-02-17 12:49] janjarfalk commented on #6308
No worries! I appreciate the time and effort you are putting into this! I wish I could be of more help. My current knowledge of `next-redux-saga`, `next-redux-wrapper` and the changes in `redux-saga` is too little.

[2019-02-17 13:05] timneutkens commented on #6316
Going to close this as it was solved.

[2019-02-17 13:05] #6316 closed

[2019-02-17 13:05] timneutkens commented on #6316
Same as https://spectrum.chat/?t=f26f6126-891c-4b73-9c63-daad697cca04

[2019-02-17 13:08] K-JHC commented on #6159
@sc4224 having the same problem, how did you solve it?

[2019-02-17 13:25] timneutkens commented on #6273
Re: https://github.com/zeit/next.js/issues/6273#issuecomment-462929943

Sounds like it's not really a Next.js issue then, you're trying to transpile the custom server, which is really not needed in nearly all use cases.

The correct way to configure it (though again I really wouldn't recommend transpiling the custom server, really makes no sense to me)

Adding a big warning here as I've seen this

[2019-02-17 15:19] chirag04 opened #6324 "Serverless: Allow passing query and route params to render"
# Feature request

## Is your feature request related to a problem? Please describe.
With server target, if you want pretty urls like `/blog/:slug?query1=ex` the recommended approach is spin up a custom server and use something like `app.render(req, res, page, queryStringAndRouteparams)`. Then in `getInitialProps` you can access both `slug` and `query1` via `ctx.query`. This works great with serve

[2019-02-17 15:22] RoberMac opened #6325 "Custom assetPrefix will be broken with custom build directory"
# Bug report

## Describe the bug
As title.

## To Reproduce
I setup custom assetPrefix in server.ts (like [Dynamic assetPrefix](https://github.com/zeit/next.js#dynamic-assetprefix)) and custom build directory: `distDir: 'build'`
[code]

But the client request `https://DOMAIN/assets/_next/static/runtime/xxx.js` instead of `https://DOMAIN/assets/assets/build/static/runtime/xxx.js`

## System inform

[2019-02-17 15:38] timneutkens commented on #6325
This is not an issue `_next` should serve the distDir 🤔

[2019-02-17 15:42] RoberMac commented on #6325
@timneutkens You mean all `_next` prefixed request will map to `distDir` (`build` here) ? Actually, I upload all build files to S3. so the URL will be like https://s3-ap-southeast-1.amazonaws.com/xxx/build/static/runtime/main-xxx.js

[2019-02-17 15:53] romainquellec commented on #6309
I'm talking about the static folder generated by next.
All my images, gif, ... is on S3 but I dont want a different process for static js files generated by next.
I'm currently using serverless framework with razzle and basic assets handle is fine : https://github.com/CuistotduCoin/cuistot/tree/master/frontend

I dont see the difference with serverless and/or next on this one.

[2019-02-17 15:57] timneutkens commented on #6325
You can't change `_next` so if you build the files to a different distDir you have to make sure you're serving `<distdir>/static` as `/_next/static`

[2019-02-17 15:58] #6325 closed

[2019-02-17 15:58] timneutkens commented on #5347
I've solved the issue in #6326

[2019-02-17 15:59] RoberMac commented on #6325
@timneutkens Thanks for your clarification.

[2019-02-17 16:31] timneutkens commented on #6325
Happy to 🙏👍

[2019-02-17 16:37] #5268 closed

[2019-02-17 17:00] dedegkaev opened #6328 "Preload attribute"
# Question about Next.js

Questions should be posted on https://spectrum.chat/next-js

Hey. Can you please tell me how to set the css chunk preload attribute? I use the next-css plugin

[2019-02-17 17:03] elhadi98 opened #6329 "next js doesn't load semantic ui font when trying to use css modules"
# Question about Next.js

Questions should be posted on https://spectrum.chat/next-js
this is my next.config.js :

`const withCSS = require('@zeit/next-css');

module.exports = withCSS({
  cssModules: true,
  cssLoaderOptions: {
    importLoaders: 1,
    localIdentName: "[local]___[hash:base64:5]",
  },
  webpack (config) {
    config.module.rules.push({
      test: /\.(png|svg|eot|otf|ttf|woff|wo

[2019-02-17 18:52] #5347 closed

[2019-02-17 19:13] #6263 closed

[2019-02-17 19:40] bbortt commented on #6308
@janjarfalk  I got the error and I even know how to fix it. Will update the example and the documentation on `next-redux-saga` shortly :)

[2019-02-17 20:04] bbortt commented on #6308
Can you test the example again @janjarfalk?

[2019-02-17 20:14] #6308 closed

[2019-02-17 20:27] janjarfalk commented on #6308
@bbortt Works like a charm! Thank you very much!

[2019-02-17 20:36] bmealhouse commented on #6308
@bbortt - After looking through the PR it was a very straightforward solution. Excellent work!

[2019-02-17 21:15] kyle-mccarthy commented on #6273
@timneutkens I have to compile the server because I use a the [babel plugin module resolver](https://www.npmjs.com/package/babel-plugin-module-resolver). While I guess it isn't directly related to next, it is probably worth mentioning in the docs.

For anyone that does need to transpile their server side code, I ended up with a better fix by using the [babel env options](https://babeljs.io/docs/en

[2019-02-17 21:17] janjarfalk commented on #6308
Just a short thing before you go...

As I said before my knowledge of `next-redux-saga`, `next-redux-wrapper` and the changes in `redux-saga@1.0` is little. So.. not knowing you would fix this so quickly (thanks again!) I decided to copy-paste-rewrite `next-redux-saga`, `next-redux-wrapper` from scratch.

I think it would make sense to drop `next-redux-wrapper` as a dependency. It doesn't do much

[2019-02-17 21:24] bmealhouse commented on #6308
@janjarfalk - I definitely agree with this approach. However I don't plan to make those changes myself, since I'm not using redux or saga in any of my current projects. If anyone would like to submit a PR for this I would be happy to get this in.

[2019-02-17 21:49] isaachinman commented on #6278
@Jauny Are you picking this up? Otherwise, I will take this one.

[2019-02-17 22:07] Jauny commented on #6278
Go ahead! I dont wanna be a blocker and havent dived in the codebase yet.
Please tag me on the pr i'd love to see how you do it :)

On Sun, Feb 17, 2019, 22:50 Isaac Hinman <notifications@github.com wrote:

[2019-02-17 22:54] timneutkens commented on #6273
Why do you need this? For zeit.co we have around 20 different routes and have everything contained without any compilation.

This indicates you're doing something non-standard / it can probably be improved a lot 🤔

[2019-02-17 22:57] timneutkens commented on #5347
It's out on next@canary right now, will do a new stable release soon 🙏 Feel free to verify against canary

[2019-02-17 23:03] timneutkens commented on #6278
💯

[2019-02-18 01:14] kyle-mccarthy commented on #6273
@timneutkens the module resolver lets me reference files absolutely rather than having to specify a relative file path.

I use typescript and in development I can define the paths/aliases in the tsconfig file and use the tsconfig-paths module; however, when you transpile the code from typescript to javascript, typescript doesn't replace those aliases with the relative file path. That is where the

[2019-02-18 01:58] fandy commented on #5478
Still having issues with this. It happens randomly but is fixed after a hard refresh.

[2019-02-18 02:04] timneutkens commented on #5478
Please create a new issue with a ***clear and concise reproduction***. Thanks 🙏

[2019-02-18 02:54] demongodYY opened #6332 "Cannot find module '../core-js/object/define-property'"
# Question about Next.js
I want to try install next.js to start a project, but when I finished steps on  tutorial, when I run `npm run dev`, I get a error 500 on my page by http://localhost:3000, and get error below:

![image](https://user-images.githubusercontent.com/17036920/52925188-e8651780-336a-11e9-812c-5c0f1b69f5fd.png)

my package.json like this:

[code]
Is there need import babel/core-js

[2019-02-18 03:23] ht1131589588 commented on #6332
I also encountered such a problem.

[2019-02-18 03:48] brad-decker commented on #5831
@DevSide is there a way to confirm that this workaround works? I consolelog out my babel config and during next build only the server config is logged.

[2019-02-18 03:58] Timer commented on #6307
This should be fixed in the latest canary. 😄

[2019-02-18 03:58] #6307 closed

[2019-02-18 04:47] charliewilco commented on #6195
shameless plug: i have a repo that's next, micro and typescript all deployed on now.

https://github.com/charliewilco/downwrite

[2019-02-18 04:56] pruhstal commented on #6273
@timneutkens I too was running into an issue compiling after upgrading to Next 8 that was solved by modifying my babel preset-env to include `commonjs` modules, _however_, you mentioning that it will opt out of tree-shaking makes me a bit worried of how I'm going to solve that.

Like @kyle-mccarthy I'm also using `module-resolver`. In fact, here's my entire `.babelrc` for my project:

[code]

As y

[2019-02-18 05:14] sw-yx commented on #6307
sweeet!! side note, i didnt know you worked at Zeit! maybe im slow on the uptake haha. i just assumed you and Ian were both at facebook

[2019-02-18 05:22] bbortt commented on #6308
@janjarfalk can you submit a pr containing those changes?
I would collaborate on creating tests and I also see one or two things in your gist which I want to check first.

[2019-02-18 06:40] deepthi2798 commented on #5231
this config works for me!

[2019-02-18 06:53] zlwaterfield commented on #5602
@timneutkens I am wondering about this too, I am looking at running 2 nextjs apps on the same domain as subroutes. Here is an example of my routing configuration:
[code]
Without being about to change the `_next` directory I can't run both apps on correctly on the domain.

[2019-02-18 07:18] jixiaohongdw commented on #5098
so how to resolve this problem? thu

[2019-02-18 08:04] terribleplan commented on #6282
@StefanFransen I've got something working and published, but it comes with a few caveats: https://github.com/terribleplan/next-cloudflare

Ultimately, the simplest solution to this depends on the addition of a new target for next. I'm going to look into what actually getting this proposed and accepted looks like.

[2019-02-18 08:34] einsqing opened #6334 "How to configure support for the following directory structure？"
# Question about Next.js

How to configure support for the following directory structure？There are no pages directories, then go to /hello/hello to load the first hello.js, go to /hello2/hello to load the second hello.js

![image](https://user-images.githubusercontent.com/7685948/52937665-be2b4e00-339a-11e9-81e6-8df0c3e2618a.png)

[2019-02-18 08:46] tzuriely opened #6335 "How can i add ad-sense to my next js website"
Hi,
How can I add google ad-sense to my website?
I am trying to implement to script tags from google scanning.
TNX all

[2019-02-18 09:31] janjarfalk commented on #6308
@bbortt There are a lot of breaking changes in the gist - no config, no debug etc. I think we can and should drop `next-redux-wrapper` without breaking changes. Let me find some time and I'll do a proper merge and PR.

[2019-02-18 09:49] romainquellec commented on #6309
JFYI, I tried this :

[code]

not working either

[2019-02-18 10:14] maotora commented on #6181
I'm facing a similar issue with `with-antd` example cannot export but it runs okay with `npm run dev`.

When I run `next build && next export`

[code]

[2019-02-18 10:19] isaachinman commented on #6278
@Jauny It's not blocking as this is entirely new validation which became relevant due to a user question. There's no specific timeline - if you want to get involved this would be a great one to start with. Just let me know. In general, I'm interested in validation and type safety in this project - that's all.

[2019-02-18 10:29] Jauny commented on #6278
@isaachinman please go ahead. I'm familiar with Link, but not with next contributions best practices, and was a bit lost when trying to understand how testing and erroring worked. So I think looking at how you do this will be great for me to see! :)

[2019-02-18 10:51] Yzrsah commented on #6332
Try "devDependencies": { "webpack": "^4.29.4" }

[2019-02-18 10:52] Yzrsah commented on #6332
Try "devDependencies": { "webpack": "^4.29.5" }

[2019-02-18 10:57] Hocoh commented on #4243
@Kyle-Mendes  if you want to make page-transition animation react-router with react-transition-group come handy

[2019-02-18 11:09] sw-yx commented on #6324
i would like to not just pass queryParams, but also pass arbitrary info that i can fetch inside of my serverless function. is there a way to pass that into context? i cant figure it out.

[2019-02-18 11:26] isaachinman commented on #6278
@timneutkens To be clear, you mean getting typings out of `url` and performing validation against those, right?

[2019-02-18 12:07] timneutkens commented on #6278
@isaachinman correct!

[2019-02-18 12:11] timneutkens commented on #6324
@sw-yx why would you need to? It's generally an anti-pattern to do so, you can use getInitialProps for this.

[2019-02-18 12:14] timneutkens commented on #6324
Not allowing `query` was actually by design, as it means you are forced to implement routing on the proxy layer, otherwise people are going to inevitably create a custom server that imports all serverless functions which is slower than the server target 😅

[2019-02-18 12:17] timneutkens commented on #6332
Please provide a reproduction when creating issues.

[2019-02-18 12:21] ht1131589588 commented on #6332
![image](https://user-images.githubusercontent.com/24310479/52950589-9a780000-33ba-11e9-8ad8-6b6b5531543c.png)
@timneutkens

[2019-02-18 12:22] timneutkens commented on #6335
"Questions should be posted on https://spectrum.chat/next-js"

[2019-02-18 12:22] #6335 closed

[2019-02-18 12:22] sw-yx commented on #6324
I tried that, but unfortunately it seems like my isomorphic `fetch` inside `getInitialProps` is somehow being sandboxed and i didnt know how to debug why thats happening (and i dont think its nextjs' fault) whereas I -do- know that `fetch` inside my serverless function does work. so i was trying to pass it down 😅

its ok if youre not allowing it. just trying to fix my own situation.

[2019-02-18 12:23] timneutkens commented on #6334
Create a pages directory an re-export the component.

[2019-02-18 12:23] #6334 closed

[2019-02-18 13:02] timneutkens commented on #6332
That is not really a reproduction, please provide a repository or similar. I can't reproduce based on these 3 deps.

[2019-02-18 13:35] ht1131589588 commented on #6332
I will get an error when installing with cnpm, this error will not occur with npm，sorry for disturbance!

[2019-02-18 13:49] romainquellec commented on #6309
Ok, I resolved this by :
[code]

[2019-02-18 13:54] chirag04 commented on #6324
that's a fair point and I understand what we are trying to safeguard here. We can call that out very explicitly in our docs?

If we are going to debug in `server` and deploy in `serverless`, I think it's important to have basic parity between the two targets.

Having that warning in docs and making `query` an optional third argument to render should ensure those who don't need a custom server won'

[2019-02-18 13:55] romainquellec commented on #6309
Can someone with linux try this ?
https://github.com/romainquellec/boilerplate
I can make an example out of this for this repo.

[2019-02-18 14:21] isaachinman commented on #6278
@timneutkens Would you expect to see this validation just inside the link component, or would you prefer generalised `format` and `parse` functions used throughout the source that wrap the `url` methods and add validation?

[2019-02-18 14:22] CosmaTrix commented on #6248
Hi all,

I've been trying to put Next.js in a Docker container too, and I got the same issue that @HeadFox had. I've set the websocketProxyPort in the next.config.js file, but I still get the error.

[code]

![image](https://user-images.githubusercontent.com/3206387/52956866-a3ec7280-3390-11e9-85b9-100566dfbd87.png)

The issue happens even when I run the dev server without docker, by simply doing

[2019-02-18 14:35] dedegkaev commented on #6328
??? =(

[2019-02-18 15:16] NathanielHill commented on #6195
@charliewilco This issue is mainly about shared modules with yarn workspaces.

@steida Have you had any luck yet? Seems like this is working with `@now/next@canary` builder.

Should this issue be closed?

[2019-02-18 15:29] dimensi opened #6337 "React not initialized in next@8 in index page"
# Bug report

## Describe the bug
In development mode, the entire application works fine, but in the production assembly, the main page is not initialized. I get html, index.js, but the react is not initialized
There are no errors in the console.
The problem is only on next@8, on next@7 there are no problems.

## To Reproduce
I don't think I can repeat this case.
This problem appears on my compute

[2019-02-18 15:35] mustafa-alfar opened #6338 "Adding Server Side Support for Clean URLs and refresh page the navigation stop working."
# Bug report
 Navigation stop working after add custom express server and refresh the page

## Describe the bug
I followed the learn in nextjs website,
so at (Server Side Support for Clean URLs) step
I added a custom express server as the example and everything went good except that
when I refresh the /p/hello-next that being handled in the server,
the home Likn stop work along with all the naviga

[2019-02-18 16:34] sheelah opened #6340 "Sass not recompiling after server start (Next v8.0.1)"
# Bug report

## Describe the bug
On a new project with Next.js v8.0.1, I installed the next-sass plugin following the [example](https://github.com/zeit/next.js/tree/master/examples/with-next-sass) and noticed that my .scss file is not recompiled upon Sass file changes when the dev server is running via `npm run dev`.

If I downgrade to Next.js v7.0.3, the Sass recompilation upon file change works

[2019-02-18 16:35] kinetifex commented on #6241
See: https://jestjs.io/docs/en/webpack#handling-static-assets

[2019-02-18 18:21] mustafa-alfar commented on #6338
I did't know where the error in my code, so
I've repeat the steps again and everything went well.
thank you.

[2019-02-18 18:28] timneutkens commented on #6337
We won't be able to help with your issue without a reproduction.
We have tests that cover nearly all features of Next.js.

Please provide a reproduction 👍

[2019-02-18 18:32] timneutkens commented on #6278
@isaachinman I think a generic method might make sense, however I can't remember in how many places we do `url.format` (it's just relevant for `.format`) probably in `next/link` and `next/router` only? 🤔

[2019-02-18 18:32] steida commented on #6195
@NathanielHill Everything works as expected so far. Good work, thank you.

[2019-02-18 18:32] #6195 closed

[2019-02-18 18:33] #6332 closed

[2019-02-18 18:36] chirag04 commented on #6324
@timneutkens - It was simple enough so i opened a WIP PR to see if there is interest here: https://github.com/zeit/next.js/pull/6342

[2019-02-18 18:39] #6241 closed

[2019-02-18 18:55] KB1RMA commented on #5347
Appreciate the fix, Tim! Looking at your changes it's quite obvious now what was going on!

[2019-02-18 19:31] steida commented on #6219
This once worked but does not work anymore.

[code]

[2019-02-18 19:52] dimensi commented on #6337
@teleginzhenya i found where a problem. If i put index.js into /pages/index/ dir.
https://github.com/dimensi/next-bug

[2019-02-18 20:36] dimensi commented on #6337
my issue is duplicate https://github.com/zeit/next.js/issues/6285

[2019-02-18 20:36] #6337 closed

[2019-02-18 21:02] sstrubberg opened #6343 "Nodemon loop on npm run dev"
# Bug report

## Nodemon is in a permanent loop after adding distDir to next.config.js.

![feb-18-2019 14-54-51](https://user-images.githubusercontent.com/15822070/52976015-6803de00-338d-11e9-8d7c-674665c33244.gif)

next.config.js

[code]

server.js

[code]

package.json

[code]

[code]

## Expected behavior

It loads fine when I remove the distDir line. Makes me wonder I'm putting it in the wrong

[2019-02-18 21:28] isaachinman commented on #6278
@timneutkens Just checked, that's right. Good memory!

Off the top of my head, something like this would work inside `next-server/lib/utils`, and then could import from the `next` package as well:

[code]

I did a search for `joi` and `validation` across the project and didn't see anything - do we have any more sophisticated tools at our disposal that I'm not aware of? The above isn't exactly sati

[2019-02-18 21:40] wtgtybhertgeghgtwtg opened #6344 "Consider exposing resolved `webpack` configuration."
# Feature request
`next` creates a `webpack` config and it'd be nice to have access to that.

## Is your feature request related to a problem? Please describe.
Certain other tools, such as [`react-styleguidist`](https://github.com/styleguidist/react-styleguidist), need to know how `webpack` is configured to work.  But `next` abstracts this away and doesn't put it together until it spins up, so jus

[2019-02-18 21:44] justinwhall commented on #6324
Timely issue. [I ran into this recently](https://spectrum.chat/?t=5c0f84f1-83fd-482d-b7ee-fe5109943b7c). Thanks @chirag04. If nothing else, I learned something today.

Perhaps an example of how to implement routing on the proxy layer – specifically how the Next folks envisioned this working. I realize this more of a node thing than a Next thing but there seems to be some confusion around this. A

[2019-02-18 21:47] ntgussoni commented on #5291
I can confirm that importing an empty CSS in `_app.js` fixes this for me.

[2019-02-18 21:52] cJayyy commented on #5429
@Yzrsah Have you figured out any workaround?

[2019-02-18 21:58] timneutkens commented on #6324
It's hard to give an example as it depends on your hosting platform. In case on Now you can read this to see how it works: https://zeit.co/guides/custom-next-js-server-to-routes/

You can do similar things to this in nginx etc.

[2019-02-18 22:00] timneutkens commented on #6278
I don't think we need something more than this.

[2019-02-18 22:09] timneutkens commented on #6343
This doesn't sound related to Next.js, at least it's not a bug.

It sounds like the nodemon watcher is picking up file changes, maybe the distDir is being written into the server dir 🤔

[2019-02-18 22:09] #6343 closed

[2019-02-18 23:20] chirag04 commented on #6324
@timneutkens - Thanks for sharing that article. Glad that something like this is already supported out-of-box in `now`.

I would rather not spin an Nginx server just to have access to route params in `getInitialProps` via my express route handler(we are not using now). Also, nginx is one more thing to run locally for debugging. 🤷‍♂️

[2019-02-18 23:26] timneutkens commented on #6324
But this sounds like you're using the serverless target to create one big server holding all routes, which is contradictory to what the serverless target is for.

[2019-02-18 23:35] justinwhall commented on #6324
@chirag04 - would you mind sharing a few snippets of code or repo that demonstrates your issue?

[2019-02-18 23:40] aleksanderkaminski commented on #6309
I am experiencing the same issue.

[2019-02-18 23:42] aleksanderkaminski commented on #6309
Chaning `app.use("/_next/static", express.static(path.join(__dirname, "/static")));` to `app.use("/_next", express.static(path.join(__dirname, ".next")));` fixed it.

[2019-02-19 01:04] vizFlux commented on #6248
[code]

[2019-02-19 01:18] einsqing commented on #6334
@timneutkens No, I want to load pages directly from multiple non-pages directories

[2019-02-19 01:49] ijjk commented on #6248
@CosmaTrix @vizFlux `websocketProxyPort` is meant to be used together with `websocketPort` to allow configuring Next to run behind another server. If you are just wanting to lock down the WebSocket port for use in Docker you just need to set the `websocketPort` config and allow that port in your Docker config.

[2019-02-19 05:29] resir014 commented on #4515
I know this is *really* late, but I've finally attempted to solve this issue once and for all. 🎉

Please take a look here and give any feedback you have: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/33163

[2019-02-19 07:10] CosmaTrix commented on #6248
Thanks @ijjk,

I changed my next.config.js file to
[code]
and, in my docker-compose file (for the next.js service), added
[code]

Everything is now working as expected. Thanks!!! 👍

[2019-02-19 08:27] chibicode commented on #6051
https://github.com/zeit/next.js/issues/6051#issuecomment-462934252

This solution worked for me, just had to change `Obect` to `Object`.

[2019-02-19 09:04] baldurh commented on #6273
We’re experiencing the same issue as @Emiliano-Bucci describes it:

This goes away by turning on "commonjs" but we’re not satisfied with shipping that to production

[2019-02-19 09:18] popuguytheparrot opened #6349 "nextjs dont use stats.warningFilters"
# Bug report

## Describe the bug
For fix issue with css and `Conflict order between` i must add options to stats
https://webpack.js.org/configuration/stats/#stats

Im add this code in next.config.js, but nothing happens
[code]

What need to do for fix it in nextjs ?

[2019-02-19 10:07] Farhanisto opened #6350 "TypeError: sheet.seal is not a function"
# Bug report

## Describe the bug

On copying the code for the example file _document the above error is encounted

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:
1. Go to 'examples/with-styled-components/pages/_document'
2. copy the code and run your application.
3. check your console
4. See error

## Screenshots
![screen shot 2019-02-19 at 13 04 5

[2019-02-19 11:09] timneutkens commented on #6350
https://github.com/zeit/next.js/pull/6207#issuecomment-460676919

[2019-02-19 11:09] #6350 closed

[2019-02-19 11:17] timneutkens commented on #6349
This doesn't seem like a Next.js issue. We expose the webpack configuration and don't do anything else there. You can try `next@canary` as warning logging has changed there.

[2019-02-19 11:17] #6349 closed

[2019-02-19 11:18] timneutkens commented on #6051
I've updated @NathanielHill's comment to use spread syntax

[2019-02-19 11:55] RapSherlock opened #6352 "Bug CSS in JS with !important rule"
# Bug report

## Describe the bug
can't get CSS in JS with **!important** working

## To Reproduce
Steps to reproduce the behavior, please provide code snippets or a repository:
1. Create a div with some style
`<div style={{
margin: "200px",
                textAlign: "center",
                width: "100px",
                height: "100px",
                border: "1px solid black",

[2019-02-19 12:30] timneutkens commented on #6352
This is an issue in React: https://github.com/facebook/react/issues/1881

[2019-02-19 12:30] #6352 closed

[2019-02-19 12:32] timneutkens commented on #6352
You could use github.com/zeit/styled-jsx for this though.

[2019-02-19 12:36] RapSherlock commented on #6352
Thanks for the confirmation

[2019-02-19 12:45] znarf opened #6353 "Build failing with `spawn ENOMEM` / `spawn E2BIG`"
# Bug report

## Describe the bug

In some circumstances, `next build` is failing in CI environment (CircleCI) with the exception `Callback was already called'.

There is a random factor and it's not happening 100% of the time, but more than 50% at the moment.

This is triggered from the `neo-async` package which is used by `webpack`:

[code]

## Example

See for example: https://circleci.com/gh/o

[2019-02-19 12:54] timneutkens commented on #6353
From checking Google it seems like the culprit is installing webpack on top of webpack, eg what you're doing here: https://github.com/opencollective/opencollective-frontend/blob/master/package.json#L99

[2019-02-19 12:55] timneutkens commented on #6353
I still have no clue why people install webpack as well as Next.js, could you provide more context into this?

[2019-02-19 12:56] timneutkens commented on #6353
We're currently working on bundling webpack into Next.js using ncc: #6347 which would probably solve the inconsistency issue.

[2019-02-19 13:05] znarf commented on #6353
@timneutkens Because we are requiring/importing webpack in `next.config.js` I thought this was a good idea to explicitly import it in package.json.

Some linters are complaining about that (missing import) and that might be why people actually do this. This was a motivating factor for me.

I was also aware of the potential conflict and this is why I explicitly picked the version matching next.js.

[2019-02-19 13:14] timneutkens commented on #6353
I think we should provide `webpack` as part of the options object (second argument) 🤔

[code]

That would probably make sense 🤔

[2019-02-19 14:40] znarf commented on #6353
@timneutkens For `webpack` as part of the options object, I think that's a great idea!

For the issue I reported, the proposed fix is unfortunately not working:
https://github.com/opencollective/opencollective-frontend/pull/1422
https://circleci.com/gh/opencollective/opencollective-frontend/5165

[2019-02-19 14:51] spencewood commented on #6273
@timneutkens I think that transpiling on the server side is not as rare a use case as you might think. Anyone that has custom routing needs beyond the simple, out-of-the-box routing Next.js provides and uses TypeScript is in this boat. For me, this particular issue is holding me back from updating to 8.0 right now. I'm not super thrilled with idea of overriding the babel modules transform or perfo

[2019-02-19 15:12] sstrubberg commented on #6343
Hey @timneutkens. Thanks for checking in regarding the issue.

Turns out I was able to fix the endless loop by fixing the `distDir` line in my next.config.j file.

I replaced `distDir: "design/career",` with `distDir: ".design/career",`. No more loops!

[2019-02-19 15:17] wtgtybhertgeghgtwtg commented on #6353
Installing some of the add-on's (i.e. `@zeit/next-css`) without `webpack` gives warnings, as well.
[code]

[2019-02-19 15:19] azizhk commented on #6287
Getting this error.
Should I take the latest canary release?

[2019-02-19 15:38] timneutkens commented on #6353
It sounds like a pretty horrible idea for those to show webpack installation warnings though wrt tooling etc 😰 We might be able to solve that by `ncc`ing (github.com/zeit/ncc) the deps.

[2019-02-19 15:39] deyvedvm commented on #6180
I'm having the same problem and don't find the solution

I tried to follow this tutorial:

https://www.jetbrains.com/help/webstorm/running-and-debugging-node-js.html

[2019-02-19 15:45] chirag04 commented on #6324
Our problem was that we wanted a unified way of having access to route params in our `getInitialProps` method. This article https://zeit.co/guides/custom-next-js-server-to-routes/ answered pretty much everything.

Going to close. thanks every for helping.

[2019-02-19 15:45] #6324 closed

[2019-02-19 16:07] mario-iliev commented on #5347
@timneutkens  Thank you so much for your fast response to this issue.
Unfortunately the fix didn't resolve the problem in our app. I'll give my best to create a reproducible repository but it's gonna be hard and it'll take some time.
Meanwhile the only thing I can do is to describe several things from our code.
1. We have multiple levels of nested dynamic components (sometimes up to 10).
2. They a

[2019-02-19 17:21] sheelah opened #6357 "Sass not recompiling after server start (Next v8.0.1)"
# Bug report

## Describe the bug
On a new project with Next.js v8.0.1, I installed the next-sass plugin following the [example](https://github.com/zeit/next.js/tree/master/examples/with-next-sass) and noticed that my .scss file is not recompiled upon Sass file changes when the dev server is running via `npm run dev`.

If I downgrade to Next.js v7.0.3, the Sass recompilation upon file change works

[2019-02-19 17:22] sheelah commented on #6357
Never mind.. I see my issue was moved to the plugins repo.

[2019-02-19 17:22] #6357 closed

[2019-02-19 17:46] kyle-mccarthy commented on #6344
Let me know if I am not understanding you correctly, but you can get access to the webpack config in the [next.config.js](https://github.com/zeit/next.js#custom-configuration) file like so:

[code]

[2019-02-19 17:51] wtgtybhertgeghgtwtg commented on #6344
That's a function that composes part of the config, not the actual `webpack` config.  It doesn't do any good unless `next` reads it and feeds it the right values, as it does in its build process.

[2019-02-19 18:34] KB1RMA commented on #6240
This happens for me directly between `v8.0.0-canary.11` and `v8.0.0-canary.12` https://github.com/zeit/next.js/compare/v8.0.0-canary.11...v8.0.0-canary.12

Installing `webpack@4.28.4` and `@babel/core@7.2.2` as devDependencies as @iaincollins suggested fixes this for me as well.

[2019-02-19 19:27] icflorescu commented on #6273
@timneutkens I completely agree with @spencewood. Transpiling the server is **definitely** not a rare use case.

There are, for instance, people using it just for the sake of being able to `import` instead of `require`, make use of optional chaining (which is still in proposal state), or to get rid of relative paths like `../../../models/Policy.js` with the help of an import resolver.
I know micro

[2019-02-19 20:14] dmoli commented on #5947
Hi everyone, some solution for that?

[2019-02-19 22:11] NathanielHill commented on #2910
@timneutkens This seems impossible using "route masking" in Now v2.

So, if you're doing something along the lines of `{ "src": "^/path/(.+)$", "dest": "/path?id=$1" }` then you don't get the querystring in `window.location`.

My solution is actually doing a `301` redirect to the path with the querystring and then using the History API in `componentDidMount()` to hide the querystring.

Is there a

[2019-02-19 22:28] timneutkens commented on #5347
It would help to have a reproduction, otherwise it's going to be hard to investigate.

[2019-02-19 22:44] timneutkens commented on #6273
I didn't say it's not possible, it's definitely possible to transpile the server, your babel config that compiled the server was wrong in the first place as it didn't account for transforming `import` to `require()`, which is what causes the issue that you're seeing.

I still strongly believe that this is the wrong tradeoff to make just to use different syntax to do the same thing, especially beca

[2019-02-20 01:14] rgbkrk opened #6360 "preload scripts in development for 8.0.2 are ending in `.jsundefined`"
# Bug report

## Describe the bug

I'm in the progress of migrating from next 7.0.2, react 16.3.2 to next 8.0.1, react 16.8.2. Right after upgrading both of these I've started seeing 404s for development assets. These all come from `preload`s that next.js is sending.

![screen shot 2019-02-19 at 5 10 31 pm](https://user-images.githubusercontent.com/836375/53058864-a1aa1700-3469-11e9-9b60-fb70dd000

[2019-02-20 01:20] sunlee-newyork commented on #5291
Same as @ntgussoni - one of my page-level components would load properly with an index.css import in a child component if I hit the page directly via URL with SSR, but if I navigate to that same page from anoterh route, that index.css prevented the page component from loading on the clientside.

I moved my global.css reference from <head> and imported it inside _app.js, and now the page component

[2019-02-20 02:21] saltycrane opened #6361 "The analyze-bundles example has a console error"
# Examples bug report

## Example name
`analyze-bundles`

## Describe the bug
After following the ["Download manually" instructions](https://github.com/zeit/next.js/tree/canary/examples/analyze-bundles#download-manually), there is an error in the terminal and the page at http://localhost:3000/ displays "Internal Server Error"

## To Reproduce
1. `curl https://codeload.github.com/zeit/next.js/tar.g

[2019-02-20 02:26] saltycrane commented on #6259
For me, the solution was to remove `@zeit/next-bundle-analyzer` from my project. For reference, I created https://github.com/zeit/next.js/issues/6361

[2019-02-20 03:40] tangye1234 opened #6363 "jsonPageRes is not used any longer"
# Bug Report for jsonPageRes in Docs and the Usage

## Bug description

jsonPageRes is not used any longer in client side page's getInitialProps

1. I cannot find any jsonPageRes variable in the sources, but the docs read the variable is the client page loader response object.

2. Previousely we can tell whether a 404 error page should be rendered by reading `res && res.statusCode || err && err.st

[2019-02-20 06:49] AlexGilleran commented on #6040
I'm looking into this at the moment. As it stands you can't run two instances of next.js in the same browser because they collide on `window.__NEXT_DATA__`, `window.__NEXT_P` and the `<div id="__next">` element.

I did a quick test of this - an outer next js app using the default next js and `fetch`ing the output of an inner next js app which was `npm link`ed to another version of next.js where al

[2019-02-20 08:07] sdli commented on #5180
@jaggerwang See update for less-loader tools, and I have made a npm package to reduce the redundancy。https://www.yuque.com/steven-kkr5g/aza/ig3x9w

[2019-02-20 08:15] janus-reith commented on #6040
Sure, will take a look :)

[2019-02-20 08:29] janus-reith commented on #6040
@AlexGilleran Yes, this were the concern I had regarding the scope of each next instance.
Being able to define a custom name/pre-/suffix for them would be helpful, I also couldn't find an existing config option for that yet.

[2019-02-20 09:27] romainquellec opened #6367 "serverless : Warning on build phase"
# Bug report

## Describe the bug
I have a long "warning" or message at build phase with my project. (see below)

Also, I'm using CircleCI, and it seems this warning block the server compilation. (Not sure though, i don't fine the exact reason)

## To Reproduce
* Go to https://github.com/CuistotduCoin/front, clone
* yarn
* yarn (global) add serverless
* yarn build
* See warning on console

[code]

[2019-02-20 10:03] romainquellec commented on #6309
I'm closing this. Will try to make an example out of it later.

[2019-02-20 10:03] #6309 closed

[2019-02-20 10:09] herrstucki opened #6369 "ES Modules (still) can't be in server build"
# Bug report

## Describe the bug

This is a follow-up to #6246 which was fixed by @Timer in #6256 but unfortunately not completely (not sure why that test works and in a real scenario it doesn't).

.js files that contain ES module syntax (`import`, `export` etc) will result in an error during build.

The problematic piece of code seems to be this part where webpack bails out of bundling/resolving

[2019-02-20 10:11] herrstucki commented on #6369
FWIW, when I remove the code that treats the node_modules as externals, it works.

[2019-02-20 10:36] djskinner opened #6370 "next.js 8 HMR implementation"
# Question about Next.js

Questions should be posted on https://spectrum.chat/next-js

I asked it here https://spectrum.chat/?t=855c5175-1ec5-40f7-aaba-94c8b6ded78a but got no feedback. Despite my issues with the new HMR being unusable for my use case I think there's possibly a bug when using `setAssetPrefix` as `websocketProxyPath` does not seem to respect it (particularly problematic if using dy

[2019-02-20 11:48] Janpot commented on #6370
HMR wasn't working for me when I added a `websocketPort` until I also set the `websocketProxyPath` to something.
FYI: In the meantime I came across https://github.com/zeit/next.js/pull/6354

[2019-02-20 12:50] timneutkens commented on #6367
The message is clearer on `next@canary`.

[2019-02-20 12:50] #6367 closed

[2019-02-20 12:52] wbr911 commented on #6303
yes

[2019-02-20 13:01] LouisPetrik opened #6371 "JavaScript not working in serverless lambdas"
Currently it's possible to create lambdas and render them via NodeJS to a webpage. But all the JS functions and onclick events are not working on the webpage, even if its all working in the dev-mode of nextjs. Code Example:
This is working in ReactJS, NextJS dev and default build-version. But not as serverless.
[code]

Server code:

[code]

MacOS
NextJS 8

[2019-02-20 13:39] djskinner commented on #6370
I had `websocketProxyPath` set but it was still constructing the wrong URL because of my complicated setup. Thanks for bringing #6354 to my attention, that sounds promising and likely to resolve my particular issue.

[2019-02-20 13:39] #6370 closed

[2019-02-20 13:42] Timer commented on #6328
Please open this question on Spectrum, thanks!

[2019-02-20 13:42] #6328 closed

[2019-02-20 13:45] timneutkens commented on #6360
Could you provide a reproduction? I can't reproduce this.

[2019-02-20 13:46] timneutkens commented on #6361
Duplicate of #6240

[2019-02-20 13:46] #6361 closed

[2019-02-20 14:03] timneutkens commented on #6370
@djskinner just to be clear the websocket change had been on canary for over 1.5 month and no issue was filed similar to yours, so it helps if you try out canary releases and provide feedback 🙏

We've changed the websocket approach to use eventsource instead as it solves the consistent pinging with just 1 ping per page-change (that's kept open) and doesn't require running another server + it's les

[2019-02-20 14:03] timneutkens commented on #6370
This new approach is out on next@canary right now btw, let me know how it goes 👍

[2019-02-20 14:06] timneutkens commented on #6371
Sounds like you're not serving the static files, they have to be hosted separately.

[2019-02-20 14:06] #6371 closed

[2019-02-20 14:07] beheh commented on #6371
Have you compiled and deployed the Javascript bundles using `next build`? Next.js will expect them to live under `_next/static/` (you can adjust that with an asset prefix).

[2019-02-20 14:07] timneutkens commented on #6303
There is no way for us to distinguish between that, so the solution has to be generic and work for all cases.

[2019-02-20 14:08] timneutkens commented on #6371
Nice timing @beheh 😄

[2019-02-20 14:10] FedeMadoery commented on #6287
Getting the same error with Version of Next.js: [**8.0.0**, **8.0.1** and **8.0.2-canary.4**]

[code]

[2019-02-20 14:14] LuisBonsembiante commented on #6287
@FedeMadoery same to me...
I've been trying fixing for 4 days now, it's  a headache. I tested with 5 different versions and all have different problems.

[2019-02-20 14:17] timneutkens commented on #6287
@FedeMadoery @LuisBonsembiante post a new issue, provide a reproduction, we'd be happy to look into it. Saying "I get this error" doesn't allow us to know where the error came from to debug it.

[2019-02-20 14:33] FedeMadoery opened #6373 "Error: Cannot find module '.next\server\pages-manifest.json'"
# Bug report

## Describe the bug

When starting in prod mode (doing `next build` and `npm start`), this error occurs when I try to navigate to the page in the browser.

When run 'next build && next export', this error occurs immediately.

## To Reproduce

1. Clone the [repo ](https://github.com/LuisBonsembiante/skillmatrix)
2. Run `yarn install`
3. Run `next build`
4. Run `yarn start` or 'npm run

[2019-02-20 15:32] jonathangiamp commented on #5421
Happened again in production environment.

[2019-02-20 15:41] timneutkens commented on #5421
"Happened again in production environment." is not really actionable from our side. Please provide a reproduction so that we can investigate.

[2019-02-20 16:37] revskill10 commented on #6344
The simplest solution is ... duplicate the config to be used by `reacft-styleguidist`.
One `babel.config.js` with `next/babel` preset, then require `.babelrc.js` into your own `babel.config.js` will work out of the box.
The problem is, you can only know correct webpack config only after transpiling your NextJS project.

[2019-02-20 16:42] wtgtybhertgeghgtwtg commented on #6344
It can't be cleanly duplicated without relying on `next` internals, since `next` uses some customs loaders.

[2019-02-20 16:46] revskill10 commented on #6344
@wtgtybhertgeghgtwtg Just use a `console.log(nextWebpackConfig` to a `json file`, and you'll know what's internal there. Then use it in an isolated webpack config.
The easy part is, with react-styleguidist, we only need webpack for client side.

[2019-02-20 16:49] wtgtybhertgeghgtwtg commented on #6344
`console.log` can't describe functions or classes, so, while it'd get some of the loaders, it wouldn't get the plugins.

[2019-02-20 16:53] notJackson opened #6374 "Fetch API cannot load webpack://%5Bname%5D_%5Bchunkhash%5D/ CORS"
# Bug report

## Describe the bug
Cannot fetch `<script src="..."/>` on client successfully, encountering CORS webpack issue
[code]

## To Reproduce

Repo: https://github.com/notJackson/nextjs-webpack-cors-issue

## Expected behavior
Run script on client

## Screenshots
If applicable, add screenshots to help explain your problem.

## System information
 - OS: Ubuntu 18.04.1 LTS
 - Browser: Chromiu

[2019-02-20 17:03] romainquellec opened #6375 "serverless: Compile time on CircleCI"
# Bug report

## Describe the bug
Compile time is close to 10 minutes on CircleCI on my project.
github : https://github.com/CuistotduCoin/front

## To Reproduce
not replicable or complicated.

## Expected behavior
I dont know about the environment of CircleCI, but the compile time seems suspiciously big.
Client time is 'almost' the same, but server is very long.

## System information
 - OS: Ubun

[2019-02-20 17:15] djskinner commented on #6370
Yep, `8.0.2-canary.5` fixes my issue 👍

[2019-02-20 17:28] LouisPetrik commented on #6371
@beheh yes I used next build before starting the server.

[2019-02-20 17:37] LouisPetrik commented on #6371
Was able to solve it by using express.static to serve all the static files inside of /.next:
Thanks for the tip 👍
[code]

[2019-02-20 17:40] rgbkrk commented on #6360
😅 I'll see if I can trim down our setup to make a clean example. We're using an express server so there is a bit of custom gunk going on:

[code]

In other cases we're just using:

[code]

[2019-02-20 17:42] pmrt commented on #6041
I've described this issue in greater detail in the demo repository, I think it's really relevant. https://github.com/arunoda/learnnextjs-demo/issues/45#issuecomment-465617687

Quoting my own question:

Something is not working as expected. It might have something to do with Next.js rather than the examples?

[2019-02-20 17:52] adamsoffer opened #6376 "with-data-prefetch example doesn't work with Next v8"
# Examples bug report

## Example name
with-data-prefetch

## Describe the bug
The example fails to compile with this error:
[code]

## To Reproduce
Steps to reproduce the behavior, please provide code snippets or a repository:
1. Install the example `npx create-next-app --example with-data-prefetch with-data-prefetch-app`
2. Install the deps `npm install`
3. Run the example `npm run dev`
4. See e

[2019-02-20 18:37] timneutkens commented on #6370
Great 👍

[2019-02-20 19:17] timneutkens commented on #6360
Do you have an _document.js?

[2019-02-20 20:17] rgbkrk commented on #6360
<details><summary>_document.tx in its entirety</summary>

[code]
</details>

[2019-02-20 22:01] #6278 closed

[2019-02-20 22:04] waverly commented on #4169
I'm having the same issue! How was it fixed?

[2019-02-20 22:53] hoffrocket opened #6380 "index page subdirectory event listeners broken in production mode"
# Bug report

## Describe the bug

An index page implemented within a subdirectory behaves differently between development and production modes.

When the next server is started in dev mode everything seems to work as expected. When running in "production" mode via `next build` and `next start` the event listeners on page do not fire.

## To Reproduce

I created a minimal example here: https://git

[2019-02-20 22:55] hoffrocket commented on #6380
Looks like this is probably a duplicate of https://github.com/zeit/next.js/issues/6285

[2019-02-20 23:13] timneutkens commented on #6360
[code]

This is the problem. You can remove it.

[2019-02-20 23:13] #6360 closed

[2019-02-20 23:45] #5912 closed

[2019-02-20 23:45] #6201 closed

[2019-02-21 01:56] rgbkrk commented on #6360
Thanks @timneutkens, I'll try that out.

[2019-02-21 03:02] rgbkrk commented on #6360
Yup, works like a champ! Thanks.

[2019-02-21 07:21] omeraplak commented on #4169
Hi @waverly ,
We set scrollRestoration to manual and fixed for me.
Example;

_document.js
`<script dangerouslySetInnerHTML={{
						__html: 'history.scrollRestoration = "manual";'
					}}
/>
`

[2019-02-21 08:36] wbr911 commented on #6303
could you let developer do it, for example to add a configuration in next.config.js to declare whether use  contentHash and remove versionId in the path of page.js @timneutkens

[2019-02-21 09:10] 791060555 opened #6384 "use antd-mobile don't to do "next export""
# Bug report
use antd-mobile don't to do "next export"
## Describe the bug
use antd-mobile don't to do "next export"
![image](https://user-images.githubusercontent.com/1204319/53157022-9ab30e00-35fb-11e9-8449-9cb9a46dfd08.png)

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:
1. Go to '...'
2. Click

[2019-02-21 09:29] todesstoss commented on #771
Same here, would be great if it will be possible pass data with `Router.push()` and retrieve it later with `withRouter`

[2019-02-21 09:55] rap2hpoutre commented on #2060
@joaogranado Using your solution with babel 7 gives this error (warning?) on build:

[code]

I changed `"useBuiltIns": "usage"` to `"useBuiltIns": "entry"` and it _seems_ to work, not sure it's the right way though...

[2019-02-21 10:44] sbidev opened #6385 "DELETE_ME"

[2019-02-21 10:53] aralroca commented on #1788
I have exact the same problem... `start-storybook` works well but in the moment to do the `build-storybook` is getting in an infinite loop...

[2019-02-21 10:58] aralroca commented on #1788
@grundmanise how can I so the same in the building time? Doing `    "build-storybook": "build-storybook -c .storybook -s ./"` is getting an infinite loop copying  recursively the `storybook-static`

[2019-02-21 12:19] timneutkens commented on #6303
It's not a simple as changing a configuration. We can't maintain 2 versions of page loading and building just for this one use case.

[2019-02-21 12:22] timneutkens commented on #6360
@rgbkrk it basically comes down to that `undefined`'s actual value being set in the context method.

[2019-02-21 13:09] LuisBonsembiante commented on #6373
Hi everybody....Any news about this?.... I need to put a implementation in production and I cant.... thanks...
Regards.... @timneutkens

[2019-02-21 13:15] timneutkens commented on #6373
Feel free to help investigate / solve the issue.

[2019-02-21 13:41] HeadFox opened #6386 "Memory leaks"
# Bug report

## Describe the bug
We have some problem on our server. After some time of execution we have an out of memory error on our 3Go AWS server.
So I tried to log on my computer. I launch refresh of the home page every 5 seconds to see if the memory increase.
Here is the memory evolution :

![image](https://user-images.githubusercontent.com/6277284/53172734-5c5f2400-35e6-11e9-94dd-99ed25a0

[2019-02-21 14:04] sashberd opened #6388 "Uncaught (in promise) TypeError: Cannot read property 'join' of undefined"
Hey guys

After update to latest nextjs version I started to get strange error message in console, which was not before:
![screen shot 2019-02-21 at 16 03 07](https://user-images.githubusercontent.com/11975561/53174305-32abfa00-35f2-11e9-984c-cdbd59528184.png)

My next version is  8.0.1 I use react v16.8.2 on MacOS

Thanks for help

[2019-02-21 14:05] samundra commented on #4875
@timneutkens I think it's a valid question. I compiled my app that has `client` and `server`. Client basically has `pages` so it's a frontend. And server is custom express server. I created build with `next build ./client` and then started with `next start ./client`. The server runs fine. Now, I have a login page and accepts email and password. I try to submit login form and it returns `501 - Not

[2019-02-21 14:08] timneutkens commented on #6388
[code]

Sounds like you have a `<title></title>` or `<title />` somewhere, can you provide a reproduction. Please follow the issue template in the future.

[2019-02-21 14:30] sashberd commented on #6388
@timneutkens Thanks
My problem was that in some way my title was undefined in props, thus next code solve this errors.
 ` {title && <title key={key}>{title}</title>}`

[2019-02-21 14:30] #6388 closed

[2019-02-21 14:57] romainquellec commented on #6375
Just to compare with Razzle + After.js :

[code]

[2019-02-21 15:54] timneutkens commented on #6375
You can't compare razzle with serverless next imo, they do completely different things.

[2019-02-21 15:55] timneutkens commented on #6375
I'm assuming this is related to uglification on the serverless functions.

[2019-02-21 16:33] isaachinman commented on #3564
@timneutkens Sorry to drag up an old/recurring topic, but what's the official stance on this?

We recently ran into it here: https://github.com/isaachinman/next-i18next/issues/191

I agree that it should be up to the end user to decide what targets are appropriate for them.

[2019-02-21 16:46] LuisBonsembiante commented on #6373
@timneutkens the deploy function work in your stages?.... we need to know that to check the problem...because if the build-export work for you, is a different issue that if it is doesnt work.

[2019-02-21 16:50] romainquellec commented on #6375
How can I help ? What can we do to make it quicker ?

[2019-02-21 16:54] timneutkens commented on #6375
For one you can try running this config to verify:

[code]

[2019-02-21 16:55] timneutkens commented on #6373
I mean I haven't been able to even look into this issue yet. Hence why I was saying you could investigate it.

[2019-02-21 17:06] romainquellec commented on #6375
Done in 26.37s ! So yes :)

[2019-02-21 17:09] LuisBonsembiante commented on #6373
Ok @timneutkens I found a solution for next export and build ...if I put module.exports = { target: 'server'}, in next.config.js....all working fin localy..but if a try to put all in production stage in zeit-now...the logs said me that;]
`Error: No serverless pages were built. https://err.sh/zeit/now-builders/now-next-no-serverless-pages-`
Any idea about that?....

[2019-02-21 17:18] AndrewUsher commented on #6384
I have a minimal example up here, TLDR:

- Make sure to install `@zeit/next-css` for CSS support
- Add it to `next.config.js` like so:

[code]