[2017-06-13 19:53] serle commented on #2252
I have a similar issue. I do authentication outside of Next, then run Next as child environment in a koa server. I would like to pass my session object or just the user profile part inot the Next.render method. From Next perspective this could be seen as a prop, as its passed down from outside.

[2017-06-13 19:54] valnub commented on #2252
@timneutkens Thanks! 👍

Accessing cookies on the browser should be no problem but how do I read/set cookies server-side? I noticed that `getInitialProps({ req, res })` gives access to the request and response object. I guess that I could parse cookie data from the request object using something like [jshttp/cookie](https://github.com/jshttp/cookie) but how can I set a cookie here for the response

[2017-06-13 20:09] sergiodxa commented on #2252
@valnub you most probably need a customer server, because all your Next.js requests are GET you need to set the cookie when login (POST). You can let your API set the cookie if it runs in the same server.

You can also create a custom server and before calling Next handler to render set the cookie.

[2017-06-13 20:12] valnub commented on #2252
Alright, thanks @sergiodxa !

[2017-06-13 20:26] valnub commented on #2252
For any follow-ups who are interested in how I solved it:

Login happens client-side only calling the login api method. When successful, I receive a token which I then set in a cookie using [js-cookie](https://github.com/js-cookie/js-cookie):

[code]

Then, server-side on page initialization I can read the cookie if necessary:

[code]

From here the token can be parsed out, e.g. using [jshttp/cook

[2017-06-13 20:58] iamdevonbutler opened #2254 "next build w/ --harmony?"
I'm using node 8 w/ object spreads and "next build" doesn't seem to like it. Is there a way to run build and pass the --harmony flag?

[2017-06-13 21:16] sergiodxa commented on #2254
Next it's already transforming object rest and spread with Babel when you run `next build`
https://github.com/zeit/next.js/blob/v3-beta/server/build/babel/preset.js#L24

Do you have a custom `.babelrc` file? Check if you are loading the `next/babel` preset.

[2017-06-13 21:20] graphan commented on #2247
I am considering using Next.js in production, so I'd like to be able to debug internals easily without using `console.log`. Of course, debugging client and server side should be done separately.
The whole project is run in Node.js, so there should be an option to debug server side.
What about adding sourcemaps?

[2017-06-13 21:38] iamdevonbutler commented on #2254
I'm using the .babelrc file and the transform-define plugin to load a config file that is using object spreads. When I try to build it errors: "The nodePath: PATH is not valid." The error is gone when i remove the object spread. This particular use case is not important, I can easily not use object spread in the config file. This ticket was more of a question about passing harmony to build, which

[2017-06-13 21:44] serle opened #2255 "When installing next in a Koa server, building crashes with can't find module .next/build-stats"
I have installed next in a sub directory of coa and set the dir option of next as a relative path from the root. I am getting an error when building and starting the Koa server. Error: Cannot find module
'Development\koa-server\.next\build-stats.json'. I presume this has something to do with the directory variable. Any suggestions?

[2017-06-13 21:50] oliverjam opened #2256 "Is there an easier way to define a language for the page?"
Just started using Next and it's been a blast so far, thank you!

I may be missing something, but there doesn't appear to be an obvious way to add a `lang` attribute to `<html>`. ~~My demo app keeps getting Google Translate pop-ups because Chrome thinks the page is in French...~~ This appears to have nothing to do with `lang`

I assume I could manually do this by extending the `<Document />`, but

[2017-06-13 21:53] sergiodxa commented on #2256
You need to create a custom `pages/_document.js` to do that. It's not a good idea for Next.js to think that every page it's in english, so you need to do it manually with your app/site language. Or if you use react-intl and similar set the loaded locale.

[2017-06-13 21:57] oliverjam commented on #2256
@sergiodxa Thanks. I don't think Next should assume every page is in English, but since every page does need a `lang` the fact that users will have to create their own `<Document />` should probably be emphasised more in the docs. Otherwise I imagine there will be lots of apps out there without a language set.

I also notice my page has no `<title>` by default either. Is the recommendation for thi

[2017-06-13 21:57] justswim commented on #882
I'm getting the same error in my web app as well:

[code]

I've tried setting the user agent correctly as well as using the try / catch statement, but I still get the above error. What was the agreed upon fix?

[2017-06-13 22:44] sergiodxa commented on #2256
Yeah, it's not documented that you must create a custom Document, but I saw many websites without it sadly, eg [zeit.co](https://zeit.co).

About the title, you can use `next/head` to set elements in the `<head>` tag.

[code]

You will need to do that in every page, you can also set a `<title>` in any component, that way when a specific component is rendered you can change the page title. Also can

[2017-06-14 00:20] russelh15 commented on #882
@justswim Can you post your code?

[2017-06-14 00:41] pak11273 commented on #481
everything magically started working once i added this to my .babelrc

`"plugins": [
    "styled-jsx/babel"
  ]`

[2017-06-14 01:29] jaydenseric commented on #2244
Will be a very happy camper once this is resolved; our testing is blocked and downgrading will re-introduce other issues.

[2017-06-14 02:01] wangkechun opened #2257 "`next start` signals won't be handled properly"
![image](https://user-images.githubusercontent.com/4022174/27112246-67f4fb6c-50e8-11e7-8378-fccab2bdbfc8.png)

[2017-06-14 02:05] wangkechun commented on #2257
In the production environment using [supervisorctl](http://supervisord.org/index.html) to deploy, `supervisorctl restart` will produce a zombie processes ,
`node_modules/next/dist/bin/next-start` is ok.

[2017-06-14 02:17] geovanisouza92 commented on #2255
Did you called `.prepare()` on the next app instance?

[2017-06-14 04:46] nndung179 commented on #257
Currently, I solved it by extending **NextScript** & **Head** component of next.js with my own component. Allow passing props (prefix) to component that I defined. It worked very well!

[2017-06-14 06:35] serle commented on #2255
No, is there any documentation on that? let me try

[2017-06-14 08:19] bogdibota commented on #882
Hello. I have the same problem as @justswim
Here is my code https://gist.github.com/bogdibota/b97fd372c8a8b734ef42386bc33a9e94

[2017-06-14 08:50] silvenon commented on #1957
@andrewwong97 I've since switched to styled-components, which sometimes prints this warning:

`React attempted to reuse markup in a container but the checksum was invalid. This generally means that you are using server rendering and the markup generated on the server was not what the client was expecting. React injected new markup to compensate which works but you have lost many of the benefits of

[2017-06-14 10:30] geovanisouza92 commented on #2255
https://github.com/zeit/next.js/tree/v3-beta/examples/custom-server-koa

[2017-06-14 11:38] #2255 closed

[2017-06-14 11:46] serle opened #2258 "Next build when run inside outer Koa project picks up Koa .babelrc and crashes"
When running next build inside my Koa project, it picks up the .babelrc file for the Koa project instead of using its own internal babel configuration. It then fails to build the client files and crashes. If I rename my .bablerc file to something else it builds fine using its own internal file. I do need to keep the Koa .babelrc file to enable me to use async functions etc. in my outer koa environ

[2017-06-14 11:48] sedubois commented on #2258
https://github.com/zeit/next.js#customizing-babel-config

[2017-06-14 11:59] silvenon opened #2259 "Using lodash-es"
I was trying to figure out which repo this issue belongs in, but I'm not sure. My question is: is it possible to use lodash-es with Next.js?

[code]

At initial render this fails with:

[code]

But works after a hot reload (when I save a file change).

[2017-06-14 12:01] serle commented on #2255
@geovanisouza92 thx that has worked to an extent

[2017-06-14 13:36] jwaala commented on #1847
any thoughts on how to isolate what is causing this (ie is it a rogue component)?

[2017-06-14 13:58] albinekb commented on #2258
You should separate your frontend (next.js) and API Backend (Koa).

[2017-06-14 14:40] serle commented on #2258
@albinekb  tried to separate them initially but I ran into problems with the working directory, so reverted (but I think the problem was elsewhere so will try again.

@sedubois I tried to use the presets but they did not seem to work, the next build crashed, when I tried that, however do I need to download the next/babel npm, if so I could not find it.

Finally my workaround is to edit next/dist/s

[2017-06-14 14:54] oliviertassinari opened #2261 "Issue with nesting index.js into folder"
I have noticed an issue with the HMR feature in the following configuration.
We have a **full page reload instead of a hot reload** when working on the root `/` route.

Still, It's working find for the `/signin` route or when renaming `pro/index` into `pro/homepage`.

- **folder structure**:
[code]

- **[next-routes](https://github.com/fridays/next-routes) config**:
[code]

*P.S: regarding why nes

[2017-06-14 15:35] quentin-sommer commented on #2256
the `<Head>` component collect its children everywhere you use it in your components and then outputs them in the `<head></head>`, so you can use it for all tags that go in `<head>`.

For tags that go on `<html>`  you have to use the `_document`.

[2017-06-14 16:30] serle commented on #2258
I moved next into its own sub-directory with its own package.json and without a .babelrc file, in order to ensure that the working directory for the next build was contained. The build continued to fail until a put a  .babelrc file in the next sub-directory. From the babel documentation, babel will recursively search up the directory structure untill it finds a .babelrc file to use. So even though

[2017-06-14 17:59] sergiodxa commented on #2259
Next.js webpack config doesn't transform node_modules using Babel, you need to import already transpiled dependencies.

[2017-06-14 18:42] timneutkens commented on #2259
Like @sergiodxa said :)

[2017-06-14 18:49] arunoda commented on #2248
Thanks @sergiodxa for the answer.

[2017-06-14 18:49] #2248 closed

[2017-06-14 18:54] timneutkens commented on #2258
In what case would this make sense? Do keep in mind that we have hundreds (maybe thousands looking at the stars) of users who all have very different use cases 😄

FYI:
When you add a `.babelrc` to the next.js directory (or above) with the following content, it'll automatically use the default babelrc:

[code]

We had this exact usecase for the examples directory: https://github.com/zeit/next.js/bl

[2017-06-14 19:03] timneutkens commented on #2256
Both are fairly well documented in the readme 👍 I don't think learnnextjs.com mentions them though :)

[2017-06-14 19:03] #2256 closed

[2017-06-14 19:09] khrome83 opened #2264 "styled-jsx psuedo selectors broken"
They are fixed in version `1.0.4` (`1.0.5` latest). Next. `2.4.3` still uses styled-jsx `1.0.3`. Can we upgrade, or is there way for me to upgrade just this piece of next early? I tried installing 1.0.4 locally and it does not seem to be used automatically over 1.0.3.

https://github.com/zeit/styled-jsx/releases/tag/1.0.4

[2017-06-14 19:46] timneutkens commented on #2264
Right now `next@beta` has 1.0.5 👍 cc @arunoda guess we should do a new release of next.js stable too, cause there's a lot of bugfixes in 1.0.5 afaik 👍

[2017-06-14 20:45] serle commented on #2258
Happy to create a pull request, never done so before but willing to try.

My use case is the followings (chip in if you have other suggestions):
1) I need to redirect to https. (middleware required)
2) I need to split the site into a private area and public area and do an oauth process. (more middleware, with session etc)
3) I need to install a graphql server on one of the routes, I also want comp

[2017-06-14 23:02] serle opened #2267 "await app.render does not seem to be blocking"
Koa handler:

await app.render(ctx.req, ctx.res, ctx.path, ctx.query);
ctx.respond = false

browser gets not found response, while next builds:

Building page: /app
 DONE  Compiled successfully in 2513ms00:56:35
 WAIT  Compiling...00:56:36
 DONE  Compiled successfully in 214ms00:56:36

Any suggestions?

[2017-06-15 01:33] TooTallNate commented on #2114
I'm bumping into this as well 👍

[2017-06-15 05:54] jaydenseric commented on #2244
Narrowed it down a bit; `3.0.0-beta6` works and `3.0.0-beta8` doesn't.

[2017-06-15 06:50] arunoda commented on #2244
This should not be happening. But I'll check this.

[2017-06-15 06:54] arunoda commented on #2267
Interesting, can I have a sample app for this?

[2017-06-15 07:01] arunoda commented on #2261
Could you send me a sample repo and clearly describe the error a bit more?

[2017-06-15 07:03] arunoda commented on #2254
I think your `.babelrc` messed up with something.
Try to use `next/babel` always.
We haven't experimented yet with using harmony and using features available in the browser.
But we should do it.

[2017-06-15 07:03] #2254 closed

[2017-06-15 07:06] arunoda commented on #2251
I think you can't do this way. That's because babel's Promise polyfil is loaded even before you do this.

[2017-06-15 07:06] #2251 closed

[2017-06-15 07:21] oliviertassinari commented on #2261
Given how simple the fix is, I'm not sure I want to spend more time on that issue. I have raised it at it may sounds something trivial to fix for someone knowing the code base. Still, I could submit a new examples PR to show how people can handle subdomains with next.

[2017-06-15 07:33] justswim opened #2269 "Styled JSX does not hot reload"
See this GIF:
http://imgur.com/a/t7nKx

When I'm using styled JSX, it doesn't hot reload in the browser.
When I change styles, they are not hot reloaded correctly.

Steps to repro:

yarn dev
go to localhost:3000
Open up pages/index.js
change a style, for example change color: #333 to color: white

Expected behavior

color of the text changes to white

Actual behavior

styles on the page somehow di

[2017-06-15 07:57] jaydenseric commented on #2244
Found [the exact issue](https://github.com/webpack/webpack/issues/4916#issuecomment-303349812). The difference that caused it was [upgrading Webpack to 2.6](https://github.com/zeit/next.js/pull/2043/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R95). Maybe upgrading Webpack would fix it?

[2017-06-15 08:07] coluccini commented on #2114
Of course: https://github.com/coluccini/next-with-redux
The AddCount component is returning false within shouldComponentUpdate() but it is still rendering in Dev and working ok on Prov.
Digging into the Next.js code I found the following comment:

**/lib/app.js**
[code]

So, I think, this where everything starts.

[2017-06-15 08:17] coluccini commented on #2114
Another thing I saw is that, on Dev, the `return !shallowEquals(this.props, nextProps)` in `shouldComponentUpdate()` in **/lib/app.js** inside class **Container** is always returning `true` because the prop **url** (passed from **App** class and created using `createUrl(router)`) is never strictly equal.

[2017-06-15 08:18] jaydenseric commented on #2244
Just noticed that for some reason the `webpack` entry [in package.json](https://github.com/zeit/next.js/blob/3.0.0-beta14/package.json#L96) is missing the `^`. This is locking it to `2.6.0` – the patch we need is [in `2.6.1`](https://github.com/webpack/webpack/releases/tag/v2.6.1).

[2017-06-15 08:30] quentin-sommer commented on #1458
@timneutkens https://www.schlouk-map.com. Interesting in the fact that it provides a customized experience for each user (different mobile, tablet, desktop) and has all the "modern" practice like deep links, open-graph and so on.

[2017-06-15 09:05] serle commented on #2267
Ok I have found the problem after some debugging inside the next code. We need to set
`ctx.respond = false`  BEFORE the `await next.render(...)` so that next does not think that the response is already done and not render the component. The Koa sample application seems to be wrong in this regard and needs to be updated. I would prefer the 'owners' of the sample to comment.

[2017-06-15 09:09] #2267 closed

[2017-06-15 09:32] pmualaba commented on #1428
Same issue here: When using next.js with express custom server, and hard refreshing the page in the browser a few times creates an infinite refresh loop in the browser:
i use npm run dev with the following settings:

package.json:
"scripts": {
     "dev": "NODE_ENV=development pm2 start node.config.js --no-daemon"
      ...

node.config.js :
module.exports = {
    apps: [{
        name: 'server',

[2017-06-15 09:59] nndung179 opened #2272 "React attempted to reuse markup in a container but the checksum was invalid"
When I use `styled-component` feature `extend` with `next.js`

## Version
next.js: 3.0.0-beta13
styled-component: 2.0.1

## Steps to reproduce
I have `UL` component
[code]
`ListNave` component
[code]
usage:
[code]
## Expected Behavior
No warning
[code]

## Actual Behavior
There is a warning in console
[code]

[2017-06-15 10:01] bubuzzz commented on #2149
I am using next 2.4.3. With the example with-global-styles, then it works fine. However, when I add less support, it stars to give this error again

[2017-06-15 11:14] arunoda commented on #2267
Feel free to send us a PR.

[2017-06-15 11:25] 440459012 commented on #2272
+ same problem !!!

[2017-06-15 11:51] 440459012 commented on #2272
i think wis happens when styled components init, it generate className for styled components at every new build.
+ client one class
+ server another class

[2017-06-15 14:08] quentin-sommer commented on #2272
Yes, you have ton configure styled-components for server-side rendering, you can follow the example in next repo or in styled-components official docs https://www.styled-components.com/docs/advanced#nextjs

[2017-06-15 14:13] nndung179 commented on #2272
Hi @quentin-sommer !!!

I have `styled-component` worked well in my project. But have you tried `extend` feature?. I may want to know how you pass it.

I followed
+ [https://www.styled-components.com/docs/advanced#nextjs](https://www.styled-components.com/docs/advanced#nextjs)
+ [https://github.com/zeit/next.js/tree/v3-beta/examples/with-styled-components](https://github.com/zeit/next.js/tree/v3-b

[2017-06-15 14:36] wesbos commented on #257
@nndung179 Can you share your extended component?

[2017-06-15 15:09] khrome83 commented on #2264
I installed 1.0.5 inside the next folder within `node_modules` and confirmed this resolves the issue. I just need that on the stable branch. Should I do a PR?

[2017-06-15 15:12] quentin-sommer commented on #2272
Hi, I haven't tried the extend feature

Le jeu. 15 juin 2017 16:14, David Nguyen <notifications@github.com> a
écrit :

--

Quentin Sommer

[2017-06-15 15:17] drejohnson commented on #2272
I have the same issue when using extend

[2017-06-15 15:23] serle opened #2273 "How can I get next to serve out it _next link resources when embedded in a Koa server"
These resources are required:

GET /_next/1497539794531/page/about
GET /_next/1497539794531/page/_error.
GET /_next/1497539794531/manifest.js
GET /_next/1497539794531/commons.js
GET /_next/1497539794531/main.js

Is there another call besides the render call that I should be using when I detect a _next/ route

[2017-06-15 15:30] tashburn opened #2274 "There are two examples using material-ui. Their documentation should show how they're different."
There are

examples/with-material-ui/
examples/with-material-ui-next/

The documentation of each should show how they are different.

[2017-06-15 15:52] nelak commented on #607
I was able to get this working in https://github.com/zeit/next.js/pull/2250 if anyone wants to take a look a it

[2017-06-15 16:03] khrome83 commented on #2264
Opened PR to resolve this - #2275

[2017-06-15 16:37] nndung179 commented on #257
Hi @wesbos !!!

Here is full demo:
[https://github.com/nndung179/nextjs-full-demo](https://github.com/nndung179/nextjs-full-demo)

In this demo will contain:
+ Babel config
+ PostCSS config
+ Webpack config: to add plugins allow develop CSS using SCSS
+ Redux
+ Material UI
+ Custom Document
+ Custom Server
+ Next Routes
+ Data fetching
+ Gulp
+ Dynamic import

The idea to configure `prefix` in dom

[2017-06-15 17:09] c0b41 commented on #2274
@tashburn  see #2036

[2017-06-15 17:42] tashburn commented on #2274
That explains it. I've proposed an update that explains this to the README of with-material-ui-next. It's #2276.

[2017-06-15 17:45] #2274 closed

[2017-06-15 18:51] anomaly44 commented on #1458
can anyone share some repo's / source? Would be nice. All the examples are nice and they work well but they are also very simple. As soon as I try to combine some stuff, or do some more advanced stuff, I run into wall.

[2017-06-15 19:01] rgbkrk commented on #1458
@anomaly44 - https://github.com/nteract/nteract.io does a bunch of custom things including SCSS compilation, OS detection. We used to run an extra proxy server with it, though it appears to be no more.

[2017-06-15 19:06] bukinoshita commented on #1458
@anomaly44 If you want you can check [Ritoplz repository](https://github.com/ritoplz/ritoplz/tree/staging), make sure you check `staging` branch tho.

Some of the stuffs I used that I face some issues and resolved:

- Testing react components with Jest and enzyme
- i18next to translate
- Environment vars
- Custom server to be able to use `url-prettifier`
- And a bunch of other stuffs... I think it

[2017-06-15 19:53] timneutkens commented on #2264
Thanks @khrome83 ❤️

[2017-06-15 19:53] #2264 closed

[2017-06-15 20:05] sepiropht opened #2277 "custom route not working in production"
I have this test-project [https://github.com/sepiropht/pinterest-next-js](url), in dev it working like expected but when i build my project, and start it,  my app start, but my customs route like /api/images /api/user don't respond ... Any idea ?
Thanks

[2017-06-15 20:33] sergiodxa commented on #2277
You are using `next start` instead of running your custom server with `NODE_ENV=production`.

[2017-06-15 20:40] tylermares commented on #2269
I also had a similar problem today, and it was resolved by ensuring that the plugin "styled-jsx/babel" was in my babel config (.babelrc). If I changed a component and the style, it would reload, but a style change alone would not.

The Usage instructions say to do this... I thought I had already done that step, but may have undone it accidentally.

[2017-06-15 20:41] sepiropht commented on #2277
Ok thanks i missed that

[2017-06-15 20:41] #2277 closed

[2017-06-15 20:47] sepiropht commented on #2277
i'am one half year experience in js, and start react recently. If you have time could you look at globally and briefly on my poject and give me your feelings. The view is ugly i know already that !

[2017-06-15 21:15] justswim commented on #2269
Thanks Tyler ... do you mind posting your babel config file? I'm a n00b at this, thanks for your help!

[2017-06-15 21:44] tylermares commented on #2269
For .babelrc, I have:
{
  "presets": [
    // webpack understands the native import syntax, and uses it for tree shaking
    ["es2015", {"modules": false}],
    "react"
  ],
  "plugins": [
    "styled-jsx/babel",
    "react-hot-loader/babel",
  ]
}

Your config might be somewhere other than .babelrc, i'm not sure, but hopefully adding "styled-jsx/babel" to your array of plugins in your config will

[2017-06-15 21:55] rclai opened #2278 "Link component doesn't navigate properly when it has a hash fragment in it"
Reproductions:

Case 1:

You are in the home page and you click this link:
[code]

It will take you to the page, but will not scroll back to the top nor take you to the `retailers` anchor.

Case 2:

You are in the `/partners` page and you click this link:

[code]

It will not jump you to the `retailers` anchor that was placed further down.

[2017-06-15 22:46] gcpantazis commented on #1334
Check out #2279; given that replacing `renderToString()` might mean you want something that doesn't behave the same way (i.e. isn't synchronous), you might need to replace `document.js` altogether at the server layer. That's how I was able to add Rapscallion support. I almost feel like that makes more sense, it's an "advanced" usage so I don't want to radically alter how `Document` works.

[2017-06-15 22:49] gcpantazis commented on #1209
Added an example of Rapscallion in #2279... can confirm that Rapscallion + Next is insane. Streamed/promise-based render is awesome, but Component-level caching is a game-changer for us... :godmode:

[2017-06-15 23:08] gcpantazis commented on #1210
I have an example of component-level caching in #2279, using [Rapscallion](https://github.com/FormidableLabs/rapscallion).

[2017-06-15 23:10] gcpantazis commented on #1004
See also #2279

[2017-06-16 01:53] Vincz opened #2280 "Is there any root component somewhere we could override?"
Hi guys!

Coming from the "react universal starter kits" world, I'm pretty new to next.js but I like the "framework" approach.
The only thing I don't really get is where I can find the root "App" component ? Is there any way to override it ?
Usually, it's where I put all the stuff I need on an application level: Redux Store, Intl provider, Theme provider, Router, etc... and it's also where I handl

[2017-06-16 01:57] khrome83 commented on #2278
@rclai - we had this issue and many others with `<Link>`.

The solution we came up with was to create our own `<Link>` component (we needed too for styling anyways) and use the Imperative methods on Router to solve our issues.

When we click on a Link component, the handler runs, and we do a simple check -

[code]

The first makes it so any `tel:` , `mailto:`, external (http/https) and `#` link re

[2017-06-16 04:12] sergiodxa commented on #2280
Wow, a lot of questions, ok let me answers them.

1. You can't customize the root App component, but you can create a `pages/_document.js` to customize the server rendered Layout, this layout only works server side so it's not updated on client navigation and it doesn't run `componentDidMount`, etc.

2. Your redux store, intl provider, etc. can be placed in each page or you can create a high order

[2017-06-16 06:23] BurntCaramel opened #2281 "Webpack’s devServer proxy"
I have a local API running at localhost:7000. To avoid CORS issues, I would like to proxy all `/api` requests to this server. I’ve tried every possible combination of try to set up the `proxy` in the setting of `devServer` Webpack config:

[code]

I’ve tried `/api`, `/api*`, using a simple URL as the value, using a more complex object like above with every combination of key-value pairs, and so on

[2017-06-16 07:55] Vincz commented on #2280
Thank you very much for taking the time to answer clearly to all of this. You're amazing. Thanks to you, I really have a better understanding of the way next works and I'll definitely give it a try.

[2017-06-16 09:43] coluccini commented on #2181
Of course! 👉  https://github.com/zeit/next.js/pull/2283

[2017-06-16 10:25] hlandao opened #2284 "Issue with router and Storybook"
When trying to use Stroybook together with NextJS, I'm running into an issue that router is missing because Storybook only renders the component.

`No router instance found. You should only use "next/router" inside the client side of your app.`

I still want to use `next/link` because I think it's better practice.
How would you suggest to bypass the issue with Storybook.

Thanks!

[2017-06-16 10:30] #2181 closed

[2017-06-16 11:00] 440459012 commented on #2272
i followed @quentin-sommer doc link's, have same problem...

[2017-06-16 11:24] arunoda opened #2285 "Show stacktraces with proper line numbers in src rather dist (SSR)"
Currently when there's an error, it shows the line numbers of the `dist` version of the file.
We need to use sourcemaps or something other way to clearly show the correct file and the line number.

[2017-06-16 11:31] arunoda commented on #2069
There are couple of ways we can fix this. Here's the easy way:

[code]

[2017-06-16 12:17] arunoda commented on #2088
Fixed with https://github.com/zeit/next.js/pull/2282

[2017-06-16 12:17] #2088 closed

[2017-06-16 13:17] #2244 closed

[2017-06-16 13:49] iamdevonbutler commented on #2033
Being able to hook into router events could be useful for auth - allowing you to listen for route change events, authorize the user's request, then either proceed or redirect on the client.

[2017-06-16 14:05] quentin-sommer commented on #2121
I couldn't manage to reproduce it. I think it has to do with some heuristics from Webpack deciding in which chunk should each module go depending on the dependency tree and the bundle size.

Since it fixed itself and is so specific I'm going to close this. Feel free to re-open or to open another issue if you still want to address this!

[2017-06-16 14:05] #2121 closed

[2017-06-16 14:43] HashCode55 opened #2287 "SyntaxError: /.babelrc: Error while parsing JSON"
Hi!

I tried to run [NextSimpleStarter](https://github.com/ooade/NextSimpleStarter/issues/36) but got this syntax error -

[code]

I also globally installed `next` but I'm getting the same error. I followed the same steps on my mint vm and it worked fine.

My host system is OSX (running Sierra)
Node version - 6.10.0

[2017-06-16 14:53] serle opened #2288 "Enhancement: Provide HMR and ping handlers for next run in a container server."
Please could you expose handlers for `/_next/on-demand-entries-ping` requests and `/_next/webpack-hmr` requests so that an outer server can respond properly during development. If the container matches the pattern then it should be able to route these requests down to next for a valid response.

[2017-06-16 15:13] sepiropht opened #2289 "Change default root url"
I have an next/js app behind nginx with custom server  node/express .
I launch it to port 3000. Nginx redirect the request myserver.com/mynextapp/ to port 3000 , but this is not working.
I can see the page server rendered, but the js doesn't working . In browser tool network  i got 404 response  for app.js and page/, because  the request is myserver.com/_next/228ef92e59d376f055fc2c6d01c93b82/app.j

[2017-06-16 15:19] anomaly44 commented on #1609
@sarovin What's your solution? I have the same problem as in your gif, but i have no idea how to solve it.

[2017-06-16 16:34] frol commented on #1458
Using Next v3 static export feature I have been able to build my company's website hosted on Github Pages (Github Pages + Travis CI + Next.js are the ingredients of success): https://github.com/mirabit-ua/mirabit-ua.github.io/

[2017-06-16 16:50] Igor912 commented on #643
I want to confirm that solution from previous comment works for me. I tried different fixes but issue didn't disappear.  But this one resolved problem. Thanks hegelstad.

[2017-06-16 17:26] sergiodxa commented on #1458
This it's not a website, but an Electron app using Next.js v3 to export the rendered code
https://github.com/PlatziDev/pulse

[2017-06-16 18:07] paigecwilley commented on #2269
@justswim Did the above work for you? I'm having a similar issue, and it didn't work.

[2017-06-16 18:16] justswim commented on #2269
@tylermares  @paigecwilley  I don't think I understand the .babelrc example. Do I just add a file named .babelrc ? When I create a next.js app, there is no .babelrc file to begin with, so I don't quite understand what it means to make one. I do have a next.config.js file that looks like this:

[code]

Can I add something here to solve the problem?

[2017-06-16 18:38] tylermares commented on #2269
Although I am not using styled-jsx in the context of next.js, yes I think you should try placing a .babelrc file somewhere in the root of your project if you don't already have one.

I noticed on https://github.com/zeit/next.js/ the listing of files on the root of that project does contain a .babelrc (first one after the folders). Though it does not have this plugin added there, it sounds like sty

[2017-06-16 18:40] arunoda commented on #2269
@justswim there was a problem with the styled-jsx.
Could you try the latest version of Next.js (2.4.4)

[2017-06-16 18:57] sarovin commented on #1609
You cannot control the hash change woth nextjs

[2017-06-16 18:59] impronunciable commented on #2287
Is there any `.babelrc` file in your project?

[2017-06-16 19:00] arunoda commented on #2288
Hmm. I am quite not sure about the question.
These urls are just like urls of you page. What went wrong?
Could you give us more info.

[2017-06-16 19:04] arunoda commented on #2284
Check this: https://github.com/zeit/next.js/issues/1827#issuecomment-306740374

It's for Jest. But the root cause is the same.

[2017-06-16 19:04] #2284 closed

[2017-06-16 19:05] HashCode55 commented on #2287
@impronunciable Nopes, there is not `.babelrc` in my root or any directory. I tried running the main project, tried NextSimpleStarter to confirm it's not because of my code. Just to be sure, I globally installed next and typed `next` in CLI. It threw the same error.

[2017-06-16 19:10] impronunciable commented on #2287
@HashCode55 just installed `NextSimpleStart` and worked as expected, you sure there is no babelrc involved?

[2017-06-16 19:18] HashCode55 commented on #2287
Yeah, I have no `babelrc` at the root. In fact, as I said it's not a NextSimpleStarter issue. When I do

`npm install -g next`

and run

`next`

And it throws the above error.

I and my friend have been trying to debug it since yesterday but no leads.

[2017-06-16 19:20] sergiodxa commented on #2287
@HashCode55 can you create a repo to try to replicate this? also check if a parten folder of your root app folder have a `.babelrc`.

[2017-06-16 19:27] HashCode55 commented on #2287
@sergiodxa Okay so these are the exact steps I followed with traceback (for running `NextSimpleStarter`)

Cloning:

[code]

Installing dependencies:

[code]

Running the dev server:

[code]

**The error is not printed as I have not catched the exception, if I do it'll throw the above error**

[2017-06-16 19:31] sw-yx opened #2291 "very minor documentation issue"
bug in the docs:

https://learnnextjs.com/basics/fetching-data-for-pages/fetching-data-for-pages
![image](https://user-images.githubusercontent.com/6764957/27241930-d05e1438-52a8-11e7-8c8b-e8466478207f.png)

[2017-06-16 19:36] impronunciable commented on #2291
@sw-yx thanks for reporting but the repo for learnnextjs is https://github.com/arunoda/learnnextjs-content

[2017-06-16 19:36] #2291 closed

[2017-06-16 19:45] sergiodxa commented on #2287
I just tried your same commands and I can't replicate the bug, you _must_ have `.babelrc` file in a parent directory. I also don't get that warning about an unhandled promise rejection.

![image](https://user-images.githubusercontent.com/1312018/27242324-48bf0970-52a2-11e7-8c51-67a57bd18dc1.png)

[2017-06-16 19:48] impronunciable commented on #816
This is not the case anymore. You can use anything (but a plain string) as the direct descendant for a `Link`.

Thanks for reporting

[2017-06-16 19:48] #816 closed

[2017-06-16 19:49] HashCode55 commented on #2287
@sergiodxa How can there be a `babelrc` present if I just cloned a project and cd'd into it run?

[2017-06-16 19:51] HashCode55 commented on #2287
@sergiodxa  How can there be a `babelrc` present if I just cloned and cd'd into the root to run?

[2017-06-16 19:56] sergiodxa commented on #2287
It's not in you app folder, it's inside a parent folder. Imagine this:

You have your app cloned inside `~/projects/NextSimpleStarter` but you have `~/projects/.babelrc`. Then Next.js detects a `.babelrc` file in a parent folder (`~/projects` it's the parent of `~/projects/NextSimpleStarter`) and try to use that `.babelrc` file.

Check for that, that's most probably why you are getting that error.

[2017-06-16 19:59] HashCode55 commented on #2287
Here:

I created another folder in `home` named `test` and inside it I cloned.

<img width="1231" alt="screen shot 2017-06-17 at 1 27 40 am" src="https://user-images.githubusercontent.com/14002198/27242766-4391bb46-52fc-11e7-8b2c-c29668551c3e.png">

[2017-06-16 20:06] sergiodxa commented on #2287
Your `.babelrc` file it's hidden using `ls`, use `ls -a`, you have a `node_modules` in `~/` you probably have one `./babelrc`. I'm 100% sure that's the error because I saw more people having this same problem before because of a random `.babelrc` in a parent folder.

[2017-06-16 20:06] sw-yx commented on #2291
ok cross reported. thanks for the link

[2017-06-16 20:10] sergiodxa commented on #2287
Also check if you have one in `/`, the error said `/.babelrc` 🤔

[2017-06-16 20:11] HashCode55 commented on #2287
@sergiodxa WOW! I'm such an idiot. There was this `.babelrc` lying at the root of filesystem. Rekt.

Really sorry for wasting your time and a big thanks!

[2017-06-16 20:15] #2287 closed

[2017-06-16 20:19] sergiodxa commented on #2287
@HashCode55 don't worry :)

[2017-06-16 20:52] OutThisLife opened #2292 "Any way to bust client side cache?"
I have a unique situation I guess. I'm fetching JSON from a service, and I've confirmed that `fetch()` and the API itself is updating whenever a certain value in the JSON changes.

However, Next is still rendering the 'old' data despite the fresh data being updated in redux. I'm assuming this is some sort of client side cache?

[2017-06-16 21:02] sergiodxa commented on #2292
Next.js doesn't have client side cache, are you sure your store it's being updated?

[2017-06-16 21:14] OutThisLife commented on #2292
Hmm. It is, but now that I know that I'll dig deeper into my codebase.

[2017-06-16 21:14] #2292 closed

[2017-06-17 01:25] mike-low commented on #1791
I ran into this problem when using CloudFlare as a CDN. It takes the cache settings from the origin server, so all assets in /static/ are not cached despite being on the CDN. A next.js config setting would be nice as an improvement at some point, but a workaround if using Express as a server is pretty easy:

[code]

It needs to come before the next catch-all '*' route in your server.js to take eff

[2017-06-17 02:35] yhjor1212 commented on #2032
Waiting

[2017-06-17 07:34] joyran opened #2293 "when run command `npm run build`, an error 'Error: ENOENT: no such file or directory' occurred."
package.json

[code]

npm log
[code]

npm run dev ok, operating system is win10

[2017-06-17 07:43] skstronghold opened #2294 "Invalid Build File Hash for chunk: app.js"
We are running next.js(2.2.0) app in production for around a month. Sometimes, we get this error on server and page doesn't render.

` Error: Invalid Build File Hash(502475f53a0693f46b0bab538bdc8f4b) for chunk: app.js

    at Server.handleBuildHash (node_modules/next/dist/server/index.js:1024:15)

    at Server._callee7$ (node_modules/next/dist/server/index.js:337:28)

    at tryCatch (node_module

[2017-06-17 08:19] moroshko opened #2295 "iframe example"
Can we have an example of rendering a component into an `iframe`, styling it, and including a script?

[2017-06-17 08:56] timneutkens commented on #2289
This is a duplicate of https://github.com/zeit/next.js/issues/257. Please see that issue for some community solutions 👍

[2017-06-17 08:56] #2289 closed

[2017-06-17 10:13] supra28 opened #2296 "scoped styled-jsx not working with antd components."
Take for example a  Form:
[code]
The style doesn't apply to the Form unless we change  `<style jsx>`    to  `<style>`
It doesn't generate data-jsx Id for the form component.
is this behavior expected?

[2017-06-17 10:23] serle commented on #2288
I'm running next in a Koa server on windows10 (dev environment). I had a router that matches on anything with an /_next url and passes it onto to the next server to resolve by calling next.render() in the same way I call it for standard next page "components". What I am noticing (after debugging into next code) is that the underlying send call that next uses to serve static resources is not workin

[2017-06-17 10:39] albinekb commented on #2294
Maybe a race condition? 🤔 https://github.com/zeit/next.js/blob/0c4362e440d7bbab3664fef514411d3bc7ffad74/server/index.js#L382

[2017-06-17 10:51] gbiryukov commented on #2272
actually it is `babel-plugin-styled-components` [issue #52](https://github.com/styled-components/babel-plugin-styled-components/issues/52)

[2017-06-17 12:29] serle commented on #2295
I'm using styled-components
Here is my content page component

[code]
Then I render the iframe based on a dynamic page state variable:

`<Content src={`/${this.state.page}`}/>`

So my main menu changes the state variable, when different options are clicked. I found this better than the using next/link which caused the top menu bar to flicker on each page load.

[2017-06-17 13:55] exogenesys commented on #160
@filostrato How did you fix it? I'm stuck at it as well. :)

[2017-06-17 14:53] filostrato commented on #160
@exogenesys Ended up putting this in `utils/analytics.js`:

[code]

and changed my `Layout.js` to extend `React.Component`:

[code]

Didn't find a way to make it work in a component which utilized `getInitialProps`, but since `Layout.js` doesn't it worked just fine; not sure what to do if I want more detailed statistics, but I'll cross that bridge when I come to it.

[2017-06-17 16:27] moroshko commented on #2295
Is `this.state.page` a real page that resides in the `pages` directory?
I don't want users to go directly to this page.

[2017-06-17 17:01] giuseppeg commented on #2296
@supra28 yes components are not regular dom elements. zeit/styled-jsx#27 could enable what you are asking, I suggest that you close this issue and subscribe to that one instead. I might start to work on it soon.

[2017-06-17 17:13] #2296 closed

[2017-06-17 21:15] viczam commented on #2269
still happens in the `custom-server-express` example

[2017-06-17 21:41] gragland commented on #2147
@MindRave @finneganh Are you also still seeing this issue with the latest beta?

[2017-06-17 22:15] seb0zz commented on #2294
Got the same issue. Also [this hook](https://github.com/zeit/next.js/wiki/Handle-BUILD_ID-Mismatch-Error) has no effect 😞

[2017-06-17 23:32] kenshero opened #2297 "Property property of MemberExpression expected node to be of a type ["Identifier"] but instead got "StringLiteral" when i config with-universal-configuration"
I follow this. https://github.com/zeit/next.js/tree/v3-beta/examples/with-universal-configuration

but i use custom server. when i run node server.js
error this.
Module build failed: TypeError: path/to/xxx
Property property of MemberExpression expected node to be of a type ["Identifier"] but instead got "StringLiteral"

[2017-06-18 00:38] obfuscatedgeek opened #2298 "SSR: Failed requests to load main.js, manifest.js etc"
I have a very basic implementation of SSR next.js with redux-saga at https://github.com/obfuscatedgeek/next.js-with-redux-saga.

The app works fine but I see multiple failed requests in my browser. Attaching the image

<img width="647" alt="screen shot 2017-06-18 at 02 05 38" src="https://user-images.githubusercontent.com/322543/27257241-fff3ff4c-53ce-11e7-9380-ee1edb09ace7.png">

I am using custo

[2017-06-18 01:35] arunoda commented on #2298
This is happening because of you set the statusCode = 404 when rendering the `/_error` route. For now, just remove the statusCode and run your app.

Here's the core fix I did: https://github.com/zeit/next.js/pull/2299

[2017-06-18 01:40] arunoda commented on #2294
@albinekb it's not a race condition.
The hook is called when doing client side loading. (When there's a new deployment after page loads)

Basically what's happening is you are talking to two different builds which servers both .html file and the `app.js` files. That's the error.
Your routing system should have some sticky sessions like solution.

[2017-06-18 01:40] #2294 closed

[2017-06-18 02:07] obfuscatedgeek commented on #2298
@arunoda thanks for the quick response. Works like a charm!

[2017-06-18 02:07] #2298 closed

[2017-06-18 05:55] thangngoc89 commented on #2281
@BurntCaramel  the above code doesn't work simply because next.js doesn't use Webpack dev server. Use can use the custom express server solution with the [http-proxy-middleware](https://github.com/chimurai/http-proxy-middleware) directly

[2017-06-18 08:24] seb0zz commented on #2294
@arunoda could you show me where the hook is called? Was trying to debug but can't find it anywhere in the next code.

[2017-06-18 09:26] exogenesys commented on #160
@filostrato That did it. Thanks a lot. :)

[2017-06-18 09:26] #2281 closed

[2017-06-18 11:18] BurntCaramel commented on #2281
I imagine this is a fairly popular need, so can:
1. This be documented? "To proxy requests to an API in development, set Next.js up with Express and use the http-proxy-middleware. Next.js does not use the Webpack dev server."
2. Can this be added to the Express example.

Happy to do so myself, hopefully have some time this week.

[2017-06-18 15:13] geovanisouza92 opened #2302 "Recommended way to load module fonts?"
I'm following `with-global-stylesheet` example and I'm trying to correctly configure it to use with blueprintjs.com, that include some icon fonts. When the page is loaded on browser, it requests `/resources/icons/icons-16.eot`, that is handled by Next that doesn't find the fonts, even when I copy that dir on the project root.

I've tried to configure next.config.js' webpack to load the fonts, but

[2017-06-18 15:43] serle commented on #2295
Its a string which is used to set the iframe src attribute on the client, which then causes the page to re-render and the new iframe to load. You can execute any logic on the client side state change, does not need to change the iframe source. Since I assume you want the iframe to load a "next" page component, the page would need to be in your pages directory.

[2017-06-18 15:52] geovanisouza92 commented on #2302
Well, I've figured out a way to make it work, using `postcss-url` plugin and changing `postcss.config.js`:

[code]

I'm not sure that this is the best way, but works fine.

[2017-06-18 15:55] #2302 closed

[2017-06-18 16:53] sscaff1 opened #2303 "Error: Cannot find module 'amdefine'"
I have a basic set up with a custom server going. This first time I've seen this error. I can't seem to figure this out.

Running NPMv5 and Nodev8.

[code]

[code]
my package.json
[code]

[2017-06-18 17:14] drejohnson opened #2304 "The latest version of styled-components throws error"
Using the 'with-styled-components' example and upgrading styled-components to v2.1.0 results in the error: `Unfortunately nesting is not supported by styled-jsx`

[2017-06-18 17:38] sscaff1 commented on #2303
The following fixed my issue, but I've never had to install amdefine before. Is this new?

[code]

[2017-06-18 17:43] bjunc commented on #153
Apologies for re-opening this, but I thought I would add my 2 cents to this thread, and how my initial R&D is panning out in this area.  Less code examples, more high-level flow.

First, for context, most of our app is already built in Symfony 3 (PHP), and uses Vue for a hybrid experience.  The server renders a wrapper page, and assigns app data to `__INITIAL_STATE__` for the app to pick up.  This

[2017-06-18 18:10] timneutkens commented on #2303
Doing a `yarn why` on the dependency shows it's a dependency of react-hot-loader. What version of `npm` are you on? `npm --version`. The latest version is `5.0.3`. I just tried to reproduce but I couldn't so I'm going to close this.

[code]

[2017-06-18 18:10] #2303 closed

[2017-06-18 18:26] sscaff1 commented on #2303
I had to npm i amdefine to get this to work. I mean it's fine now. Just something I've never had to do before on my next projects, and I don't see it documented anywhere.

Node 8.1
NPM 5.0.3

[2017-06-18 18:37] timneutkens commented on #2303
It's not documented cause you shouldn't have to. It's a sub-sub dependency of Next.js. Maybe something went wrong with npm 🤔

[2017-06-18 18:40] sscaff1 commented on #2303
Maybe. That's my point. I shouldn't have to install this manually.

[2017-06-18 19:34] hchoriq opened #2305 "console keeps refreshing; errors disappear"
It is very hard to debug a lot of app errors because the console keeps refreshing. Is there any way to disable that?!

[2017-06-18 20:16] albinekb commented on #2305
In chrome you can use the "Preserve log" option: ![image](https://user-images.githubusercontent.com/5027156/27263900-c3bb4f08-5473-11e7-92f1-a7b75194c76f.png)

[2017-06-19 01:46] jaydenseric opened #2308 "Close old milestones"
This is a petty housekeeping issue, but there are a few outdated milestones still open that can be closed.

This will reduce confusion for people exploring the current state of Next.js.

<img width="990" alt="screen shot 2017-06-19 at 11 31 00 am" src="https://user-images.githubusercontent.com/1754873/27266465-e4378244-54e4-11e7-8ea9-e69c95e8d93c.png">

[2017-06-19 03:13] ftorre104 commented on #2303
I just faced this same issue. Looks like there is a critical new step for starting fresh when using npm 5. You also need to remove the package-lock.json file.

This worked for me:

[code]

[2017-06-19 03:31] sscaff1 commented on #2303
Thank you @ftorre104  - that worked!

[2017-06-19 05:09] arunoda commented on #2308
Good point thanks.

[2017-06-19 05:09] #2308 closed

[2017-06-19 05:12] arunoda commented on #2305
Yes. We need to stop reloading.

[2017-06-19 05:18] arunoda commented on #2294
@seb0zz actually we changed the hook signature and we only updated the README.
Now I've updated the wiki as well: https://github.com/zeit/next.js/wiki/Handle-BUILD_ID-Mismatch-Error

Thanks for pointing this out.

[2017-06-19 06:34] seb0zz commented on #2294
Thanks for updating!

[2017-06-19 07:53] frol opened #2309 "Wrong versioning for beta releases"
Having `next ^3.0.0-beta` or even `next ^3.0.0-beta16` in my `package.json` or direct `npm install 'next@^3.0.0-beta16'` resolves to `3.0.0-beta9` (both npm and yarn behaves the same).

`npm install 'next@beta'` works fine, though.

This issue was also reported by @gragland in https://github.com/zeit/next.js/issues/2147#issuecomment-309241911

I am not sure if this is Next.js issue, but 2.x-beta r

[2017-06-19 08:48] garfieldduck opened #2310 "AMP does not allow the attribute 'as' appeared in tag 'link rel='"
When running the `with-amp` example, the AMP validator shows errors `The attribute 'as' may not appear in tag 'link rel='`.

The errors are related to the following lines generated by the <Head> component automatically:
[code]

[2017-06-19 09:26] supra28 commented on #153
@jaredpalmer Hey thanks for that implementation , I tried it , just copy-pasted all your code replaced your dashboard.js with my index.js which looks like this:

[code]

and in withAuth hoc i changed it to redirect to the signin page.
But before it redirects to the sign in page the contents of the index page still flash for a bit. :S

[2017-06-19 09:36] jaydenseric commented on #2309
Yes, [brought this up on Slack](https://zeit-community.slack.com/archives/C2U01UYEA/p1496727854209462) a while ago.

The current pre-release version format `3.0.0-beta16` is incorrect semver. It is meant to have a `.` separator: `3.0.0-beta.16`. See [here](https://www.npmjs.com/package/semver#prerelease-tags).

NPM sorts alphabetically the part after the `.` following the patch number, before the

[2017-06-19 09:38] jaydenseric commented on #2309
Here is the tail chuck output from `npm show next versions --json`:

[code]

[2017-06-19 09:41] ndelangen opened #2311 "non-.js import & HMR on non-.js files"
I'd like to be able to do this in my code run by next.js:

[code]

The recommended method for doing this, according to https://nodejs.org is to

So after fiddling about with [nodejs extentions](https://nodejs.org/api/globals.html#globals_require_extensions) and [libraries](https://github.com/zeit/next.js/blob/f4345e79c254cff935fa5c4a7949ee4b0834cd78/examples/with-antd-mobile/next.config.js) unsucc

[2017-06-19 09:43] jaydenseric commented on #2309
To work around the incorrect semver, save `next: 3.0.0-beta16` without the `^`.

[2017-06-19 09:47] nndung179 opened #2312 "dynamic import - Server Side - Warning: flattenChildren(...): Encountered two children with the same key,"
## next.js
+ version: ^3.0.0-beta14

## re-produce steps

1. at `pages/index.js` I import **Button** (located at 'components/Button') using dynamic import

[code]

2. usage

[code]

at Server **Terminal**
[code]
@arunoda @timneutkens

Here is a repo:
[https://github.com/nndung179/next.js/tree/bug/report_dynamic_import_bug/examples/with-dynamic-import-2](https://github.com/nndung179/next.js/tree/bu

[2017-06-19 10:50] queckezz commented on #816
However, it's [not possible](https://github.com/zeit/next.js/blob/v3-beta/lib/link.js#L125) to receive `<Link />`s `href` prop, as that will only get passed when it's a normal `a`-tag. Is there any disadvantage for also allowing react components to get `href`? Allowing this would enable the following code:

[code]

I'd like to seperate the linking behavior from the actual presentation (Because but

[2017-06-19 13:05] arunoda commented on #2309
Okay. This is a good point.
We can release next set of betas as of semvar.
Does that works well?

[2017-06-19 13:07] arunoda commented on #2311
Actually, we don't support this yet. This is same as not able to use custom webpack loaders.
But using markdown in JS is pretty cool.
Have a look at this example: [See](https://github.com/arunoda/arunoda.me/blob/master/pages/blog/all-about-basic-attention-token.js)

[2017-06-19 13:07] #2311 closed

[2017-06-19 13:12] jaydenseric commented on #2309
@arunoda I think `3.0.0-beta.17` would sort lower than `3.0.0-beta16`.

The best way to fix it might be to move to RC, because `r` sorts greater than `b`: `3.0.0-rc.1`

Checkout https://semver.npmjs.com, it's a really neat debug tool with semver examples.

[2017-06-19 13:40] wesbos commented on #257
Thanks a lot - will take a look.

I keep hitting lots of HMR issues and 404s in my app. Are there any plans to make core handle sub-dir installations anytime soon?

[2017-06-19 14:49] ndelangen commented on #2311
Allright, well I found my own way of getting HMR on markdown files to work with this little gem of a hack:

[code]

[2017-06-19 15:53] jackmatrix opened #2313 "[Async/await] ReferenceError: regeneratorRuntime is not defined"
I have the following error when i am trying to use the async await function getInitialProps.
`error: ReferenceError: regeneratorRuntime is not defined
    at /.next/dist/pages/index.js:73:34
    at /.next/dist/pages/index.js:102:4
    at Object.<anonymous> (/.next/dist/pages/index.js:109:2)
    at Module._compile (module.js:570:32)
    at Object.Module._extensions..js (module.js:579:10)
    at Mod

[2017-06-19 16:07] Sly777 commented on #2304
+1. I cannot use styled-components on my project after upgrade new versions. I added screenshot below.

next.js: **3.0.0-beta16**
styled-components: **2.1.0**
react: **15.6.1**
react-dom: **15.6.1**

![image](https://user-images.githubusercontent.com/694940/27294505-0e629d44-551a-11e7-8a28-4172f2037591.png)

[2017-06-19 16:13] drejohnson commented on #2304
I got it to work by setting `"preprocess": true` in the babel styled-component plugin

[code]

[2017-06-19 16:21] qwang06 commented on #2289
I ran into this issue as well and none of the solutions in #257 seem to resolve this.

I ended up modifying the server/index.js file and updating the routes in the method defineRoutes:
`
      Object.keys(routes).map(route => {
        routes[this.renderOpts.assetPrefix + route] = routes[route];
      });
`

I know this isn't the best solution right now but it's the only thing that works. Hopefull

[2017-06-19 16:54] moroshko commented on #746
@dizlexik @nwshane Where is `'./_error'` coming from?
Did you have to create a custom error page?

[2017-06-19 17:56] timneutkens commented on #746
@moroshko in his case yeah. But you can also use `next/error` which is the build in error page 👍

[2017-06-19 18:09] ilionic commented on #746
@moroshko it's per docs https://github.com/zeit/next.js#custom-error-handling If you want to customise it.

[2017-06-19 19:23] Yugloocamai commented on #1920
Code splitting is not useful when you need to associate each chunk with a particular module.  This might be useful for security purposes, allowing or disallowing particular files to be loading depending on the client's authority.

[2017-06-19 20:15] msenevir commented on #2107
@juhaelee the first argument to express middleware can also accept a regex. This is how I'm using it:

[code]

[2017-06-19 20:32] radum commented on #2305
The same happens in the console once you run dev. If you use the express server alternative, any server error will be cleared once a route compiles ok.

[2017-06-19 21:08] sbking commented on #481
Anyone getting this error when using TypeScript - add the following to your `tsconfig.json`:

    "jsx": "react-native"

This will prevent TypeScript from transforming JSX into `React.createElement` calls, but it will output files with the `.js` extension rather than `.jsx` (which next ignores).

[2017-06-19 23:14] Sly777 commented on #2304
Thanks @drejohnson! It works. But I think there's a conflict between styled-jsx and styled-components (even we disabled styled-jsx) also "preprocess" feature is experimental. That means they can change or remove this feature on future releases.

[2017-06-20 00:41] muhajirframe commented on #706
I am facing kind of similiar problem. Trying to use `get-urls` package. Works find with `dev` but when i compile it. I got error from uglify
[code]
Is there any workaround for this please?

[2017-06-20 04:43] arunoda commented on #2107
@msenevir you can ignore anything starts with `/_next/` and `/static/`

[2017-06-20 04:45] arunoda commented on #2309
Okay. I'll think about this.

[2017-06-20 04:51] arunoda commented on #2312
That's interesting. I'll have a look at this.

[2017-06-20 05:48] frol opened #2315 "`TypeError: Cannot read property 'split' of undefined` on export"
Using non-`<a>` tags inside `<Link>` cause `TypeError: Cannot read property 'split' of undefined` on export (Next.js `3.0.0-beta16`):

[code]

[code]

[code]

NOTE: Both development (`next`) and release (`next start`) modes work fine while static exporting fails.

[2017-06-20 06:58] adarshsingh1407 commented on #590
Next.js is great for SSR and code-splitting. It's on path to be an amazing framework.

But I had the same issue as @viankakrisna while making an audio player webapp.
I want my AudioComponent which plays music, to maintain its state, while the user browses through the genres and artists to add them to his playlist.

It would be great if you guys could do something about it.

For reference, here is

[2017-06-20 07:02] arunoda commented on #590
@adarshsingh1407 for now you can do this by wrapping all these functionalities into a single page and use our custom routing API to do custom URLs.

[2017-06-20 07:03] arunoda commented on #2315
Thanks. This is a bug.

[2017-06-20 07:45] arunoda commented on #2312
Okay. The issue if you are using kind a old version of beta.
And our beta version are [messed up](https://github.com/zeit/next.js/issues/2309) so you are getting an older version.

Try to use absolute versioning for now like this:

[code]

This will fix the issue.

[2017-06-20 07:46] #2312 closed

[2017-06-20 08:37] #2315 closed

[2017-06-20 09:53] QUDUSKUNLE commented on #1676
@babenzele. Thank you

[2017-06-20 10:38] adrianha opened #2319 "Express middlewares called multiple times"
Hi, i am trying create express middlewares on the server side to handle language.
But i saw that it is called multiple times when i log it. Is it normal? or is there something wrong with the configuration? Thanks!

Here's the code:
[code]

[2017-06-20 12:16] dvakatsiienko commented on #1615
Entire our team struggling with not supported `scss modules` by `next.js`. We have completely complex `scss` structure and we basically can't refuse it in favor of `styled-jsx`. The funny thing is that unsupported `scss modules` is the only but the crucial thing which stops of from migrating to next.js.
@timmywil Watching your great work with a deep hope.

[2017-06-20 12:18] serle commented on #2273
This problem is actually more general and happens when serving any static resources from next on a windows 10 platform, when next is embedded in another server. Should I re-log under a different heading?

[2017-06-20 12:52] serle opened #2321 "Enhancement Request: add session parameter onto the end of the next.render() method"
Could we add a session object to the next.render() method, so that an outer server can pass session information through to page components rendered with next. That way we can keep session/cache management outside the next environment and have it exposed as either an additional property or a set of additional destructured properties for usage within the page component

[2017-06-20 13:00] Cinamonas commented on #2304
@drejohnson, unfortunately, `preprocess` introduces other issues. For example, you can no longer reference other styled components:

[code]

[2017-06-20 13:19] dvakatsiienko commented on #544
@Yuripetusko @cr101 @tgoldenberg Absolutely agree. I think honestly that next is really awesome to be able to work out of the box. Everything is okay even hard-coded structure (like mandatory `/pages` directory, `/static` etc.). But totally unsupported `scss` modules breaks entire thing for us. We have a very complex `scss` structure with automatic breakpoints and aspect ratio recalculation of eve

[2017-06-20 13:22] dvakatsiienko commented on #544
Actually, #1615 - there is some action going on. @timmywil is trying to setup`isomorphic-style-loader` to work with `next`. Everyone who interested is welcome to join and participate.

[2017-06-20 14:22] sepiropht commented on #2289
ok thanks for this, i will check that !

[2017-06-20 14:27] drejohnson commented on #2304
@Cinamonas Nice catch! I just reverted back to v2.0.0 for now. I hope this gets resolved soon!

[2017-06-20 14:41] wesbos commented on #2303
Had the same problem - thanks!

[2017-06-20 14:51] MikeSchroll commented on #2199
Note for myself and others... next export does not directly make a 404.html
I had to:

[code]

Also note that I'm moving the netlify _redirects from static to the correct path.

[2017-06-20 15:39] timneutkens commented on #2319
It's ran for every request that matches the pattern ofcourse. This is not a bug in next.js though. It's pretty normal behaviour depending on how you're testing it. 👍

[2017-06-20 15:39] #2319 closed

[2017-06-20 16:46] sergiokopplin commented on #1615
@dvakatsiienko same here!

[2017-06-20 17:00] adrianha commented on #2319
Yes, i knew that middleware will be called in every matched request. I just opened the index page and did nothing but the log will be printed over time. Its also happen on production mode. @timneutkens

[2017-06-20 18:04] hchoriq commented on #2305
I'm using express server alternative, yeah.

[2017-06-20 19:32] philcockfield opened #2324 "Build Fails: alias to react-dom/server not found."
The `next build` command fails with the error:

    Can't resolve 'react-dom/server'

This occurs when a reference to the [slate.js](https://github.com/ianstormtaylor/slate) NPM module is added.

- Next.js Version `2.4.4`
- Example repo recreating the issue: https://github.com/philcockfield/next-slate-issue

Further details in the README of the [example repo](https://github.com/philcockfield/next-

[2017-06-20 19:33] philcockfield commented on #2324
cc @arunoda

[2017-06-20 19:34] philcockfield commented on #2324
Reverting the version of Next to `2.1.1` does allow the project to build.

[2017-06-20 21:34] kenshero opened #2326 "ReferenceError: window is not defined. when export static file is right ?"
I don't know. static html cannot use environment variable is right ?

[2017-06-20 22:16] cr101 commented on #1615
Personally, I'd love to be able to create a custom build of a CSS framework like Bootstrap 4 or Foundation and then import global and local scoped SCSS files.
So rather than importing the entire CSS framework, import the CSS framework's core `.scss` files as global CSS and then import the individual `SCSS` components as local scoped CSS.

[2017-06-20 22:56] jackmatrix opened #2327 "I get 404 error in my browser when trying to load assets"
I don't know why my browser cannot find these path. I'm facing this issue since yesterday. I can't find a solution.

`Error GET http://localhost:5002/_next/a020c586-9e9e-4a64-9cfb-1a6dd8232b1e/page`

`Error GET http://localhost:5002/_next/77863f38-3739-407b-9739-959562b6cd27/page/_error `

`Error GET http://localhost:5002/_next/95f1845c1ef003b80b360d9b9c2498a7/app.js `

Thanks for helping

[2017-06-21 00:57] IanMitchell opened #2328 "Win 10 Reload Support"
Just curious how many previous versions of Windows 10 you want to support? I [added this a while ago](https://github.com/zeit/next.js/blob/v3-beta/server/hot-reloader.js#L175) and I don't believe it's needed anymore - if you're fine supporting Creators Update on, I can run some tests and see if it can be removed.

[2017-06-21 01:40] bubuzzz commented on #2149
Just saw that the latest 2.4.4 come with the stylis 3.1.5. I don't have the problem anymore. Awesome !!!!

[2017-06-21 02:49] royrijkers commented on #2327
i also have an app.js error :(

[2017-06-21 04:25] arunoda commented on #2328
@IanMitchell That would be great. May be we could detect windows 10 specifically and disable this on it.

[2017-06-21 04:29] arunoda commented on #2327
If you using a custom server, this could be the issue: https://github.com/zeit/next.js/issues/2298
It has been fixed and I'll to do a new beta release today.

[2017-06-21 04:30] arunoda commented on #2326
No they cant.
Anyway, please provide a way to reproduce this issue.
If not, it's pretty hard to answer.

[2017-06-21 04:30] #2326 closed

[2017-06-21 04:46] arunoda commented on #2324
I can see what's going on here. Let's see what we can do about this.

[2017-06-21 07:35] philcockfield commented on #2324
Thanks @arunoda

[2017-06-21 07:43] dvakatsiienko commented on #1615
Found this https://github.com/davibe/next.js-example-with-global-stylesheet/issues/8
the discussion just yet, guys created some setup that makes me believe that it is possible to make `next.js` to work with `scss`

[2017-06-21 08:53] serle commented on #2267
The work around fix is to set `ctx.respond = false` before the `next.render()` call, but if one has passed the render responsibility to next, then is it necessary for it to test if the response == false and subsequently not render. Any opinion on the matter?

[2017-06-21 09:20] mattfysh commented on #2152
Also having this issue... was working 5 minutes ago.

[2017-06-21 12:48] gielcobben commented on #153
What's the status of this issue? 😇

[2017-06-21 14:07] dnakov commented on #2321
You can already do that by just attaching it to `ctx.req.whatever` like you'd normally do with express/connect/etc

[2017-06-21 15:23] skumblue commented on #2181
Thank you team!

[2017-06-21 15:43] jackmatrix commented on #2327
In fact , my issue is explained deeper [here](https://medium.com/google-cloud/server-side-rendered-react-on-google-cloud-functions-8b51b2b0878c)

However, in my case (localhosted app) i can't use fastly . my functions aren't yet been deployed but only available locallly.

Any idea ?

[2017-06-21 15:43] serle commented on #2321
That's what I have done as a work around, but I think it much clearer to pass it down on its own parameter. In Koa the session is on the ctx and not on the request, as the session object is something that is not sent by the user, but is materialized on in the server.

[2017-06-21 16:22] jpbourgeon opened #2332 "Is there a way to exclude specific pages from production build"
I find it useful to have a sandbox to test spike solutions and features before integration in my codebase.

Can you think of a way to exclude specific pages at build time ?

Would it be an interesting added feature to the framework ?

This could be defined in next.config.js

[2017-06-21 17:40] IanMitchell commented on #2328
Ok, I'll poke around Saturday and see what I can do!

[2017-06-21 17:43] timneutkens commented on #2332
You can't really exclude them. But you could render a 404 page in getInitialProps. We don't have short term plans to add this feature cause you can lock down the pages using the programmatic (custom server) api.

[2017-06-21 17:43] #2332 closed

[2017-06-21 18:52] spurton opened #2333 "Element type is invalid for dynamic import. next 3.0.0-beta16"
I followed the instructions listed here https://github.com/zeit/next.js/tree/v3-beta#dynamic-import for using dynamic imports. I have the following import and component:

[code]

I get the following error:
[code]

[2017-06-21 20:15] lardissone opened #2334 "Best way to integrate Sentry"
What's the best way to integrate [Sentry](http://sentry.io/) to a next project?

[2017-06-21 20:19] sergiodxa commented on #2334
Server side you may want to create a custom server, using the [express connection](https://docs.sentry.io/clients/node/integrations/express/) will make it easier to integrate.

Client side you can load the JS lib in a custom `pages/_document.js` and run it, you can follow the example in Sentry docs on [how to use it with React](https://docs.sentry.io/clients/javascript/integrations/react/) because

[2017-06-21 20:22] sergiodxa commented on #2332
You can also [create a HOC](https://github.com/zeit/next.js/tree/v3-beta/examples/with-higher-order-component) `onlyDevelopment` and conditionally render your page if `NODE_ENV === 'development'` and render a 404 if it's production.

[2017-06-21 20:27] jpbourgeon commented on #2332
There are solutions in issue #746 too

[2017-06-21 22:00] jpbourgeon commented on #2332
My solution :

__Server side (expressjs)__
[code]

__Client side__
[code]

[2017-06-21 22:16] saulflores95 commented on #2315
Hi I just downloaded the Next 3.0 and i am getting the same error!
`
module.exports = {
  exportPathMap: function () {
    return {
      "/": { page: "/" },
      "/quienes-somos": { page: "/quienes-somos" },
      "/servicios": { page: "/servicios", query: { title: "Nuestro Servicio" } },
      "/contacto": { page: "/contacto", query: { title: "Contacto" } }
    }
  },
}

`
yarn export v0.21.3
$

[2017-06-21 23:01] #2327 closed

[2017-06-22 01:34] moarwick opened #2335 "Add config support to export project with custom path prefix"
Currently, `next export` generates files assuming absolute paths. This is problematic when the static site is pushed to a sub-folder, e.g. Github Pages.

For example, if I push my `my-project/out` folder to a `gh-pages` branch, then access it at `https://user.github.io/my-project/`, the page is looking for assets at `/_next/...`, for example `href="/_next/a3c4359f-2b55-4680-b981-dfddcf84cea4/page/

[2017-06-22 01:55] firrae opened #2336 "Isomorphic Solutions to window.location"
Hi there,

I was looking through the existing issues and came across [this being the closest answer](https://github.com/zeit/next.js/issues/1553#issuecomment-290062887) to what I need and I'm just looking to see if there is a better option.

In my application, I'm trying to make a library of functions that any page we make can utilise creating a simple place to find most if not all the API routes

[2017-06-22 02:07] firrae commented on #2336
To follow up on this, I apparently need to not work on things at 10 pm as I derped real hard and didn't realise I wasn't even using Express... Sorry for the issue pollution.

[2017-06-22 02:07] #2336 closed

[2017-06-22 03:56] sergiodxa commented on #2335
You already can do that using [assetPrefix](https://github.com/zeit/next.js#cdn-support-with-asset-prefix) configuration. Just add that key to your `next.config.js` and set `/my-project` if you are running on production, that way when running `next build` you will have `/my-project/_next/...` and in development you will use `/_next/...`.

[2017-06-22 04:33] arunoda commented on #2335
@moarwick deploying any Next.js app into a sub directory is kind a tricky. We'll address this after 3.0

[2017-06-22 04:33] #2335 closed

[2017-06-22 04:37] arunoda commented on #2313
I assume something is wrong with your babel setup. When you start your app, see what's the location of the babelrc file.
Have a look at it and act accordingly.
Basically, your babel config need to have `next/babel` preset.

[2017-06-22 04:38] arunoda commented on #2334
Thanks @sergiodxa for answering.

[2017-06-22 04:38] #2334 closed

[2017-06-22 04:39] arunoda commented on #2328
Superb.

[2017-06-22 04:40] arunoda commented on #2267
I assume await doesn't work well inside koa. May be you can convert the the promise return by app.render() into a thunk and yeild it.

[2017-06-22 04:42] ethanresnick commented on #2334
This still does not work because of #1852, which really needs to be addressed.

[2017-06-22 05:10] thundermiracle commented on #2181
I got the same error when trying to use outdated IE10 after applying this solution. (By IE11's debug bar on Windows10)

[2017-06-22 06:46] serle commented on #2267
await works perfectly, in fact that is way I went with Koa as opposed to express, because the whole system uses promises and generators. As I said above the problem is in the next code where it evaluates if `res.respond == false` and then returns prematurely, by resolving the promise without actually producing a response. I don't understand why this check is necessary give that I have handed off t

[2017-06-22 07:20] LeeTwelve commented on #2333
@spurton Can you print here `../../components/common/Button` file?

[2017-06-22 07:29] LeeTwelve opened #2339 "Cannot find module 'webpack/lib/RequestShortener'"
I updated to latest beta (16) and received error `Error: Cannot find module 'webpack/lib/RequestShortener'`.

`rm -rf node_modules && npm i` didn't fixed this.

[2017-06-22 07:54] JulesAU opened #2340 "Subsequent builds of dynamic import chunks have same version watermark"
I'm not exactly clear on how the cache-busting versioning system works during build, but this is best explained by showing the contents of `out/` after next export:

[code]

Note our three "watermarks": `17d78cb0-9d1a-4223-a9bf-79d0cef0f5bd`, `f944c50066e317d087ce3206aeaf1316` and `eb27b953-0c42-4fdf-9fb4-3c3589ca13f7`.

Now we make some changes to all of our source code, and rebuild:

[code]

2 o

[2017-06-22 08:32] seb0zz commented on #2294
@arunoda somehow this cannot be an issue with multiple servers behind a load balancer, ongoing deployments or something else. I have an infrastructure with sticky load balancing, did not anything for hours and still get the same issue as @skstronghold randomly but also very rarely.

This is the stacktrace:

[code]

[2017-06-22 09:52] fabien-h opened #2341 "Option to disable hot code reloading and use full reload"
Hot code reload is awesome.

But I’m working on a app that uses the canvas a lot for the next month. I have to reload manually all the time. Is there a way to full reload the page each time we save ?

[2017-06-22 10:33] fabien-h opened #2342 "Undesired character encoding in style / head"
When using `next/head`, I add :

    font-family: "Arial";

In a `<style>` tag. And I get

    font-family: &quot;Arial&quot;;

In my end source.

[2017-06-22 10:34] almeynman commented on #2269
Similar issue with basic-css example

[2017-06-22 13:13] royrijkers commented on #2327
@jackmatrix , did you find a way to solve this?

[2017-06-22 13:43] firrae commented on #1365
Hi there,

I don't mean to necro this but I'm having an issue when trying to work this into my project. I only see the root error when I clear my cache which is this image:
<img width="1920" alt="screen shot 2017-06-22 at 09 39 47" src="https://user-images.githubusercontent.com/6454839/27437002-ed933882-572e-11e7-9538-ca247d76a5f2.png">

That follows the documentation on it and makes sense, but th

[2017-06-22 13:56] timneutkens commented on #2342
This is due to React escaping, you can use https://facebook.github.io/react/docs/dom-elements.html#dangerouslysetinnerhtml to insert unescaped html, or in this case it's probably better to use styled-jsx like this:
[code]

Note that this has to be **outside** of the `<Head>` (next/head) tag

[2017-06-22 13:56] #2342 closed

[2017-06-22 14:32] lardissone commented on #2334
@sergiodxa I've tried creating a HOC wrapping the `Main` component and it didn't worked. It returns `Error: unmountComponentAtNode(...): Target container is not a DOM element.`

[code]

And then in the `_document.js` I wrap it this way:

[code]

[2017-06-22 14:34] tomsoderlund opened #2343 "Should I avoid styled-jsx if I want a universal/isometric web app?"
From [next.js readme](https://github.com/zeit/next.js/blob/v3-beta/readme.md):

Does this mean I should not use `styled-jsx` if I want a universal/isometric web app?

[2017-06-22 14:42] hawkins commented on #2343
Maybe I misunderstand your question, but the readme is discussing an issue with Web Components, not styled-jsx. In other words, it's basically saying "Web Components shadow CSS doesn't support universal rendering, so we bundle styled-jsx to fill that role."

You're totally fine to use styled-jsx for server-rendering or universal apps

[2017-06-22 14:46] nndung179 commented on #2343
You can use it in server-rendering. But there are several things you should consider:
+ If your style is too large => your page size is going to be increased. That means the time to ship your page to client will be increased too.
+ When you use `view page source` feature, you will see your css is in document. Imagine you have base64 `background-image` => Your site size is kind of heavy.

I met thi

[2017-06-22 14:46] royrijkers commented on #2327
@arunoda I tried beta16 also without success.

I checked if i set the 404 status when rendering the _error page but i could not find that.

my repo is here: https://github.com/royrijkers/next-test

when i run this locally it runs fine, but when i deploy on Digitalocean using a Nginx reverse proxy it does not. nginx is setup as instructed here: https://github.com/zeit/next.js/wiki/Deployment-on-Ngi

[2017-06-22 14:50] tomsoderlund commented on #2343
Thanks for clarifying, @hawkins and @nndung179!

[2017-06-22 14:50] #2343 closed

[2017-06-22 14:57] arunoda commented on #2327
This is seems working to me very well locally with production build. So, I think something with the nginx config.
Unfortunately, I don't know much about this.

[2017-06-22 18:03] lardissone commented on #2334
Finally resolved it by adding the withSentry HOC to each page instead of the _document.js. Not sure if it's the best way but works.

[2017-06-22 20:35] spurton commented on #2333
I think I figured it out. I am using export { Button } and have a /common dir with an index.js that exports it: export * from './Button'; It seems to error out on that sort of export. Which is also happening on other module imports. I had an incorrect import path above but fixed it and still got the same error.

[code]

[2017-06-22 20:57] johhansantana opened #2347 "Confused on how to use apollo SSR and redux"
I'm trying to follow the example here

[With Data](https://github.com/zeit/next.js/blob/v3-beta/examples/with-apollo-and-redux/lib/withData.js)

I've already done the `initRedux` and `initApollo` exactly as they are and they are working correctly.

My `Page` looks like this

[code]

While this works, I'm concern on how I can do queries via SSR.

Before I had apollo I used to have my `Page` similar

[2017-06-23 01:13] finneganh commented on #2147
I have not.

On Sat, Jun 17, 2017 at 5:41 PM, Gabe Ragland <notifications@github.com>
wrote:

[2017-06-23 02:10] jason-ivy commented on #2053
now i use the custom version by myself，which version will add this feature？

[2017-06-23 03:13] arunoda commented on #2053
Post 3.0

[2017-06-23 03:44] arunoda commented on #2341
Currently we don't provide that.
But you can play with the webpack config and do something: https://github.com/zeit/next.js#customizing-webpack-config

[2017-06-23 03:44] #2341 closed

[2017-06-23 03:45] arunoda commented on #2333
What you export it wrong.
In your button component do this to export.

[code]

[2017-06-23 03:45] #2333 closed

[2017-06-23 05:38] arunoda commented on #2340
What do you mean by this?
This can be true if the content of the chunk is the same.

Is it possible to have a sample repo where I can reproduce this issue?

[2017-06-23 05:59] arunoda commented on #2324
Hey, I couldn't try your project due to there's no `tsc` command. May be you can update your repo.
I created a normal .js file with this content and it works pretty well:

[code]

---

The reason why `next.config.js` hack doesn't work is simple. Since your app root is `lib` the config file needs to be there. I assume, putting that inside `src` directory works.

[2017-06-23 06:00] arunoda commented on #2324
Re-open this issue when you updated the repo. I'd like to do a core fix for this specific issue.

[2017-06-23 07:47] JulesAU commented on #2340
Sure - try this: https://github.com/JulesAU/next-test

[code]

And you can see that our dynamic component has been built into (in this case):
[code]

Now, if we [make some changes to that dynamic component](https://github.com/JulesAU/next-test/commit/88e8d523e898bfa9028456a93eaa6fc9ee222a88):

[code]

And rebuild it:

[code]

The chunk filename remains the same:

[code]

Even though the content is

[2017-06-23 08:00] jason-ivy commented on #2053
thx, hope to release soon.

[2017-06-23 08:00] arunoda commented on #2309
I've just published a new beta called `next@3.0.1-beta.1`.
Basically that's a best way I found to fix this issue.

[2017-06-23 08:00] #2309 closed

[2017-06-23 08:51] philcockfield commented on #2324
Fixed @arunoda.  Changed `package.json` to reference `tsc` within node_modules.
https://github.com/philcockfield/next-slate-issue/commit/066fb8ac3eabd1b5ec70d8a97ed787893ba004d8

Thanks.

[2017-06-23 11:50] oliviertassinari commented on #2334
### The problem

I confirm the issue, next.js is swallowing the errors thrown during the render of React.
For instance, the following hook is never called:
[code]
The errors are catch on the [server](https://github.com/zeit/next.js/blob/v3-beta/server/render.js#L81) and the [client](https://github.com/zeit/next.js/blob/v3-beta/client/index.js#L101). But more importantly the hook on `ReactReconcile

[2017-06-23 13:07] AleksandarDev commented on #1652
@arunoda Are you serious? Can we atleast try to resolve this issue?
I'm want to use directories with `.` prefix for generated content (eg. `.dist` and `.release`).

Everything works great but changes are not detected. If you don't intend to fix this issue, please reference it in docs.

[2017-06-23 13:23] arunoda commented on #2324
Creating a file called `next.config.js` inside the `src` directory with the following content will fix the issue as a hotfix:

[code]

[2017-06-23 13:27] arunoda commented on #2324
Unfortunately, this is the only solution we can go for now.
This all seems like, we need to revert https://github.com/zeit/next.js/pull/1855

[2017-06-23 14:52] kaminoo commented on #2334
+1 for being able to track the errors in the way we need!

[2017-06-23 15:21] larafale opened #2353 "typo in server `render` function ?"
I was checking this file https://github.com/zeit/next.js/blob/v3-beta/server/render.js#L19 but shouldn't the `query` arg in the `render` function also be passed to the `renderToHTML` function ?

[2017-06-23 16:17] jamilabreu commented on #2269
@arunoda also seeing this on a clean install of latest beta:

http://recordit.co/b5mGt8dWlP

style jsx updates cause old styles to disappear, but new styles take effect after manual refresh

[2017-06-23 16:22] almeynman commented on #544
I tried every solution, which this thread points to, however could make any of them work. So I decided to try to make my own attempt and I have documented it [here](https://medium.com/@almasakchabayev/next-js-and-css-modules-37e785a98bb0)

[2017-06-23 16:29] lardissone commented on #2334
@oliviertassinari should we re-open the issue? I think the errors should be propagated to the client/server. Many tools may be affected by this (Sentry, Rollbar, New Relic, etc)

[2017-06-23 16:40] ritz078 commented on #2201
Hi @arunoda ,

Here is the repro https://github.com/ritz078/snape/tree/nex-v3

All dependencies are latest. Run `yarn build` and it will be stuck.

[2017-06-23 16:42] oliviertassinari commented on #2334
@lardissone I would rather see next.js forwarding errors after handling them internally if possible. I'm doing the opposite right now, catching errors then forwarding them to next.js, that's more work on user space.

[2017-06-23 17:20] cncolder commented on #2347
In the fully [with-apollo-and-redux](https://github.com/zeit/next.js/blob/b2bda416b64b476667ba3b3dec0e2c4841baef2b/examples/with-apollo-and-redux/lib/withData.js#L27) example. `redux` is set in `getInitialProps`

[2017-06-23 17:23] cncolder opened #2355 "loadGetInitialProps throw error after reboot server"
After reboot server. Browser fetch in `on-demand-entries-ping`. At this time `Component` maybe undefined.

[/lib/utils.js#L50](https://github.com/zeit/next.js/blob/7b8a4ea234d67fd4e8fddba9ee53df36cd70adb7/lib/utils.js#L50)

[2017-06-23 18:11] impronunciable commented on #2353
wow, working on a fix

[2017-06-23 18:25] impronunciable commented on #2310
@garfieldduck The validator is passing for me. Just to confirm I deployed the example as it is on https://with-amp-hiwywerbxd.now.sh (and it's validating)
![screen shot 2017-06-23 at 3 24 35 pm](https://user-images.githubusercontent.com/165799/27495396-18e08680-5828-11e7-9867-faf8cdfd2589.png)

Have you modified the example?

[2017-06-23 18:34] johhansantana commented on #2347
@cncolder oh good point, thank you!

Btw, Do I have to import the container that has the graphql query in order to use them with SSR?

What I've done now is:
[code]

But gives me an error:
`RangeError: Maximum call stack size exceeded`

[2017-06-23 18:43] dvakatsiienko commented on #544
@almeynman thank you! definitely going to see at your approach!
By the way, I've managed to make `scss` modules work by following [this](https://github.com/zeit/next.js/tree/v3-beta/examples/with-scoped-stylesheets-and-postcss) example. All I've done is added `sass-loader` and enabled sourcemaps.

[2017-06-23 23:08] #2353 closed

[2017-06-24 01:25] ArthurMauricioDelgadillo commented on #1347
Hi i'm having the same issue, is this will be fixed in the last with-apollo sample?. I created a project from the with-apollo sample and I have duplicated Head & style tags
Please any help @Goluis  , @acorcutt

[2017-06-24 05:32] philcockfield commented on #2324
Thanks @arunoda

[2017-06-24 05:39] andyngo commented on #2272
Is there a solution to this? Getting a weird behaviour where my styles are flashing as they are being overridden.

![sc-inspect](https://user-images.githubusercontent.com/278293/27506037-833e2cc0-58e2-11e7-9f3f-eb960806ec43.gif)

[2017-06-24 09:17] gbiryukov commented on #2272
The only workaround is to define mixin:
[code]

[2017-06-24 10:53] cncolder commented on #2347
Because you call `App.getInitialProps(ctx)` in `App.getInitialProps`. This is infinite loop.

In [with-apollo-and-redux](https://github.com/zeit/next.js/blob/b2bda416b64b476667ba3b3dec0e2c4841baef2b/examples/with-apollo-and-redux/lib/withData.js) example. `withData` is [HOC](https://facebook.github.io/react/docs/higher-order-components.html). It do all work about how to feed data on server side, a

[2017-06-24 11:00] cncolder commented on #2347
In that example. Your component props come from three sources:

1. `withData.getInitialProps` generate data
2. `wrappedComponent.getInitialProps` return value.
3. Apollo fetched data.

So you can understand why `withData.getInitialProps` write like that. Next.js only call top level compoent `getInitialProps` method. `withData` merge those three data into one props object.

[2017-06-24 11:24] acorcutt commented on #1347
@ArthurMauricioDelgadillo it looks like initialState was changed to serverState in with-apollo but above fix should still work try...
`export default withApollo(({serverState}) => (<div>{serverState && <Head><title>Only render once</title></Head>}</div>)`

[2017-06-24 11:52] MiguhRuiz commented on #2339
I've just solved it doing:
[code]

Hope it works for you!

[2017-06-24 13:50] safinn opened #2357 "Raspberry Pi stuck on Using external babel configuration"
Im trying to run my project on a Raspberry Pi but it just gets stuck on `Using external babel configuration`. I have a custom `.babelrc` file that looks like this:
[code]
Works fine on OSX. The Raspberry Pi has version node `v8.1.2` and npm version `5.0.3`.

Anyone else faced this issue?

[2017-06-24 15:56] ArthurMauricioDelgadillo commented on #1347
ohh :P thanks @acorcutt  ...probably there should be a sample with Head in the with-apollo. Again thanks :)

[2017-06-24 18:15] kebien6020 commented on #882
I am also having this problem. Here is the barebones code that produces the error.

[code]

And the error itself:
[code]

[2017-06-24 22:23] cloudle commented on #858
By the way, here is a good solution for SSR styles with react native web:
https://github.com/necolas/react-native-web/issues/462

[2017-06-25 03:49] elmasse opened #2360 "getInitialProps gets called in exported static site in Safari 10.1"
I'm trying to get more data for this issue. What I have found so far is that Safari 10.1 triggers popstate when back button is pressed. Somehow the Router handler (onPopState) causes the getInitialProps to be called.

Check this example https://out-ewgbaypiah.now.sh - click on a Post link and then press back button on Safari. You'll notice a 404 call that is made by the getInitialProps.

Tested on

[2017-06-25 03:58] eashish93 commented on #88
I also have a problem to initiate the common code on every page change and browser reload. My workaround for that is to use both `Router.onRouteChangeStart` and `window.onload` event like:
[code]

[2017-06-25 06:22] moroshko commented on #1458
[Rx Visualizer](https://rxviz.com) is built with next.js

[2017-06-25 07:50] safinn commented on #2357
Updated to 3.0.1 beta 1 and it is now working. Not sure if it was just really slow!

[2017-06-25 07:50] #2357 closed

[2017-06-25 15:08] dcalhoun commented on #1942
@sedubois I can confirm that @kennylavender's solution does not work. I'd recommend reopening this issue.

[2017-06-25 16:19] theednaffattack commented on #1870
@FilipMessa Are there any hidden side-effects from this? I'm getting the same thing and I think it's caused by my use of the Ant Design package. If I can't use it, it'd be a major setback.

Just wondering if, after a month you've come across any other gremlins.

[2017-06-25 16:59] yn5 opened #2361 "Styled-components' #extend causes 'invalid checksum' warning."
When using styled-components' extend API anywhere in a clean fork of the styled-components example the following error is thrown:

[code]

I've created a small repo which shows the problem here:
https://github.com/yn5/next-styled-components-extend

I have crossposted the issue on the styled-components repo (https://github.com/styled-components/styled-components/issues/949) since I'm not sure where

[2017-06-25 18:28] kennylavender commented on #1942
A Pull Request could be made to allow the nextjs Link component to support this or you could create your own version nextjs Link Component that works with styledcomponents.

You could create it by importing the [nextjs Router](https://github.com/zeit/next.js#imperatively) and then allow styledcomponents to style the component https://www.styled-components.com/docs/basics#styling-any-components

He

[2017-06-25 18:36] crodriguezvega commented on #299
@kimown Did you succeeded importing the less file? If so, would you mind sharing how you did it?

[2017-06-25 19:03] yn5 commented on #2361
The problem is known and caused by babel-plugin-styled-components for which an issue exists here: https://github.com/styled-components/babel-plugin-styled-components/issues/52

[2017-06-25 19:03] #2361 closed

[2017-06-25 20:37] sbking commented on #1735
@sergiodxa When using TypeScript, the development experience is pretty awful. You have to use import statements to get the typings, and then repeat them to get the actual imports. For example:

    import HTTP from 'http'
    import URL from 'url'
    import Next from 'next'

    const { createServer } = require('http') as typeof HTTP
    const { parse } = require('url') as typeof URL
    const ne

[2017-06-25 20:44] gragland commented on #1735
@sbking Given the trouble I just decided to just not use es6 import syntax in my custom server. Doesn't seem worth it.

[2017-06-25 20:50] sbking commented on #1735
@gragland That's pretty much what I've decided, as well, but having to double up all of my import statements to get typings is a poor compromise, in my opinion. It also means that the only universal code in my application are the things handled directly by Next.

What's the solution for having a validation library that needs to run on both client and server? Which module style should you use?

The

[2017-06-25 21:02] mattapperson commented on #1955
@MarcMagnin You can use onChange from the Tabs component

[2017-06-25 22:02] sbking opened #2363 "Using Material UI with custom next dir causes build errors."
Minimal example repo: https://github.com/sbking/next-subdir

Basically, if you take the Material UI example and use a custom server with a custom next directory (such as `src`), you get errors like then when running `next build src`:

    { Error: ./~/react-tap-event-plugin/src/injectTapEventPlugin.js
    Module not found: Error: Can't resolve 'react-dom/lib/EventPluginHub' in '/home/stephen/Proje

[2017-06-25 22:12] #2363 closed

[2017-06-25 23:34] osartun commented on #160
Hey guys

I've just dealed with the implementation of GA on my site as well and this is what I've come up with.

First I used the solution from @notrab that seemed clean and straight forward:

[code]

However, I noticed:

* `componentDidMount` was executed when I switched between pages of different types, so the `initialize` function was called several times
* `componentDidMount` was _only_ execut

[2017-06-26 08:38] jackmatrix opened #2364 "How to use getInitialProps to get cookies?"
I'm facing an issue with next.js

I cannot get my cookies when i make a request from async static getInitialProps. i get undefined

However when i am making it in componentWillMount there is no problem. Unfortunately, it's too late because i need to get the cookie info before the component be called. So i need to get it in getInitialProps

Here what i've already tried without success :

`static as

[2017-06-26 09:08] AugustinLF commented on #2364
I'm not totally sure what you mean here, because based on your example, you seem to simply query your back-end for some data, if the returned value is `undefined`, I don't see the link with cookies :/

However, if you'd like to read the cookies from your page (and not from your API), there's not much really specific to Next.

Client side, any library that lets you read cookies, such as [js-cookie]

[2017-06-26 09:18] jackmatrix commented on #2364
Tanks for replying.

First i set a httpOnly cookie so i have no access from client side.

Second I don't have any problem to get the cookie anywhere else. Only in the getInitialProps.

I already use cookies middleware in express.

I don't know why getInitProps give me an empty object when i request for my cookie whereas constructor and componentDidMount send it successfully.

[2017-06-26 09:54] AugustinLF commented on #2364
The first call of getInitialProps is done server-side, could that be the reason of your problem? Server-side, the only way to access the cookies is with the `req` object. I'm sorry if that's not helpful to you, I never go beyond a simple use case of cookies, and I'm not sure I understand well your set up :/

[2017-06-26 10:04] jlala opened #2365 "我deploy完项目，然后又修改了代码，我怎么能再次上传到前面那个项目中？"
现在每次修改完代码 我都要deploy，但是这样会造成重复多个应用，
请问怎么办？

[2017-06-26 10:14] garfieldduck commented on #2310
@impronunciable Could you let me know which version of nextjs are you using?
Because I used `next@3.0.1-beta.1` and `next@2.4.4`, and both of them produced AMP errors as follow:
<img width="690" alt="screenshot 2017-06-26 18 03 53" src="https://user-images.githubusercontent.com/1139698/27534528-e28b6cc0-5a99-11e7-9ac1-f9a3d589a7c7.png">

The errors seem to be generated by the following code (in [/

[2017-06-26 10:37] jlala opened #2366 "I have finished deploying the project and then modified the code, how can I upload it again to the previous project？"

[2017-06-26 11:04] nndung179 commented on #2364
you can use `cookie-parser`  package. Use it in server.js as follows:

[code]
index.js
[code]

[2017-06-26 12:31] timneutkens commented on #2365
Please provide this in english 😄

[2017-06-26 12:31] #2365 closed

[2017-06-26 12:56] jlala commented on #2365
@timneutkens #2366

[2017-06-26 14:43] johhansantana commented on #2347
@cncolder Thank you so much I think I got it working now like this

[code]

Any final tips you think this can be improved? if not you can close this as resolved.

[2017-06-26 14:43] korneel commented on #2310
@garfieldduck I'm having the same issue.

[2017-06-26 15:24] sbking commented on #1735
@sergiodxa @gragland Okay, a little more tweaking and I think I've solved my issues, allowing me to have my server-only code in `src/api` and my next universal code in `src/ui`, and still letting me use ES6 imports anywhere except `next.config.ts`. I believe the problem was that I needed to put the `next.config.ts` file in my UI project subdirectory (where my next `pages` dir lives), rather than i

[2017-06-26 16:00] Sotorin commented on #2272
I'm getting the same thing with semantic-ui example.

<img width="843" alt="screen shot 2017-06-26 at 10 57 30 am" src="https://user-images.githubusercontent.com/1545379/27548480-a63fdef8-5a5e-11e7-9456-df732b221866.png">

[2017-06-26 16:35] Sly777 commented on #861
Hey all, I added offline support to my boilerplate.
https://github.com/Sly777/ran

It's a little bit buggy. So that's why It's named as "experimental" 😄 Anyway, I hope it helps.

[2017-06-26 17:54] fabioespinosa commented on #1458
@bukinoshita awesome example! I love how you integrated redux, and use authentication for SSR Why not take your project as a rule for building projects?

[2017-06-26 18:00] arunoda commented on #2269
We've fixed this issue.
Update your Next.js version.
Please read here: https://github.com/zeit/styled-jsx/pull/236#issuecomment-311130279

[2017-06-26 18:00] #2269 closed

[2017-06-26 18:02] jhwheeler commented on #1013
I'm having a similar issue where the container boot time is incredibly slow. After it's booted, even a hard refresh takes 10x less time than previously. Does this have to do with which plan you're on?

[2017-06-26 18:11] timneutkens commented on #2366
On now.sh?

[2017-06-26 18:20] bukinoshita commented on #1458
Thanks @fabioespinosa! Because we all have different ways of building things, some things we like and some things we don't like. We tweak with our own preferences and how we feel with each tool. That's why I said that. 😅

[2017-06-26 19:29] timneutkens commented on #706
Arunoda will work on it sometime here. He has done before in #749

[2017-06-26 20:14] jackmatrix commented on #2364
I definitely can access to the cookies with req.cookies it return empty. You should try by yourself.

One little more prrecision i am runnig in dev mode (localhost) . Maybe the issue is related to this .

However i definitely can'y access my cookies in the getInitialProps which is a crucial step for my app development. I don't know how to solve this problem, i can't do anything more without this.

[2017-06-26 20:18] #1937 closed

[2017-06-26 20:37] novascreen commented on #1914
this would be nice, I think a lot of people are putting their tests next to their components, rather than having a single tests folder outside of the app recreating the app's folder structure

[2017-06-26 21:39] canadaduane commented on #2364
"By design, domain names must have at least two dots; otherwise the browser will consider them invalid."

https://stackoverflow.com/questions/1134290/cookies-on-localhost-with-explicit-domain#1188145

[2017-06-26 21:52] sbking opened #2371 "Dynamic imports do not load in production builds when a custom distDir is set"
Example repo: https://github.com/sbking/nextjs-dynamic-import-distdir

This example shows that dynamic import webpack chunks return 404 errors in production builds if a custom `distDir` is set in `next.config.js`. This is simply the `with-dynamic-imports` example with the following next config:

    const config = {
      distDir: 'build',
    }

    module.exports = config

The dynamic imports wo

[2017-06-26 21:53] canadaduane commented on #2272
What's the best way to view and compare the server-rendered and client-rendered html? I have this same issue, but I'm not sure what's causing it. I'd like to understand how to debug/diagnose. Thanks!

[2017-06-26 22:54] jlala commented on #2366
yes

[2017-06-26 22:56] jackmatrix commented on #2364
I could finally solve this issue. the problem was inside the getinitialprops rather than making req.cookies, i had to do req.headers.cookie and all are working just as expected. Thanks for help.

[2017-06-26 22:56] #2364 closed

[2017-06-27 00:22] jthegedus commented on #257
+1 Regarding "Are there any plans to make core handle sub-dir installations anytime soon?"

[2017-06-27 03:48] cncolder commented on #2347
It's ok if your app is only one entry.

[2017-06-27 04:56] arunoda commented on #2366
Now has something called immutable deployments. There's no way to update the code but you can use [aliases](https://zeit.co/docs/features/aliases). Hangout our Zeit's slack for more info.

[2017-06-27 04:56] #2366 closed

[2017-06-27 04:57] arunoda commented on #2371
Thanks. Let me check this.

[2017-06-27 05:07] arunoda commented on #2360
Something is not good. Could you send me the source code of this or a sample repo.
I'd like to investigate more.

[2017-06-27 05:08] arunoda commented on #2201
@ritz078 I'll have a look at this.
Thanks.

[2017-06-27 05:09] arunoda commented on #2321
I think you need to stick with what @dnakov mentioned.

[2017-06-27 05:09] #2321 closed

[2017-06-27 05:11] arunoda commented on #2273
@serle I'm not sure we handle these requests and it works well in express.
But you can manually handle them in `_next/` too.

Could you send me a sample repo, where I can have a look at this?

[2017-06-27 05:14] arunoda commented on #2288
I'm not exactly sure what you are trying to do. But all these are dev stuff. So, I don't think you need such a complex setup for dev.

If you need that, I hope redirecting(302) those routes would do the trick.

Anyway, we don't have a plan to expose a specific API for these.

[2017-06-27 05:14] #2288 closed

[2017-06-27 05:16] arunoda commented on #2280
Thanks @sergiodxa for the great answer.

[2017-06-27 05:16] #2280 closed

[2017-06-27 05:19] arunoda opened #2372 "Make Router.replace's second argument optional."
Basically, we should be able to do something like this:

[code]

[2017-06-27 06:57] paulwehner opened #2374 "Including raw javascript in <script> tag in <head>"
If I use Head from 'next/head', how could I include a <script> tag that has inline javascript in it? Is that possible?

[code]

[2017-06-27 07:00] arunoda commented on #2374
Frankly, I am not sure about it.
May be react will strip out if you do it like this.

Use this: https://facebook.github.io/react/docs/dom-elements.html#dangerouslysetinnerhtml

[2017-06-27 07:00] #2374 closed

[2017-06-27 07:01] #2339 closed

[2017-06-27 11:44] serle commented on #2288
I use Server-side OAuth which handles a minimal set of routes to set up a session object and passes all the other requests down to next to handle rendering responses. I need to be able to test the entire sign-up process and logon process in dev and obviously make changes where necessary. I am currently not able to test the whole end-to-end process because of the problems with next serving out ANY

[2017-06-27 11:53] elmasse commented on #2360
@arunoda

source is https://github.com/elmasse/nextein-example
and that is basically using a few HOCs defined in
https://github.com/elmasse/nextein/blob/master/src/components/posts.js and
https://github.com/elmasse/nextein/blob/master/src/components/post.js

There is not much magic in there. I'll try to get a simple test case to avoid those indirections.

Thanks!

[2017-06-27 13:09] markthethomas commented on #2304
seeing this too, frustrating. Interested in helping find a fix! :)

[2017-06-27 14:41] FilipMessa commented on #1870
Hi @theednaffattack,  I ended  on this project so I do not know nothing new.

[2017-06-27 16:35] backflip commented on #1449
See https://github.com/zeit/next.js/issues/2285

[2017-06-27 16:45] marbemac opened #2376 "Possible to change browser URL on route change start?"
Ala Github. Note if you click through the repo tabs it changes the URL, then shows the loading bar, then finally changes the UI when ready.

[2017-06-27 16:58] oliviertassinari commented on #2334
One last thing, I had to remove the production aliasing to the minified version of React in order to get the `ReactReconciler.mountComponent` hooks working.
[code]

@lardissone Back to your question. Yes, I think that we should be reopening this issue in order to expose a clean API. I believe that the amount of introspection needed into next.js to make it work is too high. More specifically, havin

[2017-06-27 19:48] timneutkens commented on #186
I'm going to close this. It's a cool idea, but has been open for about 6 months 😄

[2017-06-27 19:48] #186 closed

[2017-06-27 20:20] timneutkens commented on #1275
Seems like ljharb released it as separate package: https://github.com/airbnb/prop-types-exact pretty cool 👌 I'll experiment with it.

[2017-06-27 21:42] PetrSnobelt opened #2379 "Generate component info using react-docgen and babel-plugin-react-docgen"
Hi,

I try use `babel-plugin-react-docgen`, I just install babel-plugin-react-docgen and react-docgen and then add "react-docgen" into plugins in ".babelrc"

But when I run `npm run dev` it looks like nothing is generated.

When I try `react-docgen ./components/button.js` it return fine json, but I can't find similar json into .next folder.

Is there any trick which can help generate doc for my co

[2017-06-27 22:12] enternode opened #2380 "You can add classname to <Main /> components"
It will be possible to create custom classname in document.js components like <Main />

[2017-06-27 22:15] elmasse commented on #2360
@arunoda I created this gist with some simple files that are able to reproduce the issue.

gist:https://gist.github.com/elmasse/d98ab6d9cc447459dcfbe6329dc0c810
deploy: https://out-hnjokhqdns.now.sh

steps:

1.  open https://out-hnjokhqdns.now.sh in safari
2. open the dev tools
3. click on 'About' link
4. press back button
  a. notice a 404 call to `./no-found` that is performed by Index getInitia

[2017-06-27 22:21] sergiodxa commented on #2380
Right now you can add a `className` to your body, check -> https://github.com/zeit/next.js#custom-document.

It's not possible at the moment to add a className to some of the divs rendered by `<Main />` ([it render 3 divs](https://github.com/zeit/next.js/blob/v3-beta/server/document.js#L106-L109)) but you can create a PR.

[2017-06-27 22:34] johhansantana commented on #2347
@cncolder I see, could you take a look https://github.com/johhansantana/nerg ?

The plan is to create the pages with the code above when you need SSR. I think everything is working a ok.

[2017-06-28 00:11] arunoda commented on #2376
Then you need to move the data fetching logic out of getInitialProps in the client side and manage it in the page (or inside a component).

[2017-06-28 02:00] pencilcheck opened #2382 "Slight change to global stylesheet example"
Inspired by @davibe's hard work: `https://github.com/zeit/next.js/tree/v3-beta/examples/with-global-stylesheet`

I am changing the global stylesheet example slightly to fit my needs but I thought it might also fit someone else who might be looking for a simpler solution.

The changes I propose is very simple:
1. Remove babel-loader in next.conf.js
2. Add a HOC like https://github.com/kriasoft/isom

[2017-06-28 02:04] pencilcheck commented on #1615
Some slight changes I propose to example that would make it much easier: https://github.com/zeit/next.js/issues/2382

[2017-06-28 07:46] PDXIII opened #2383 "'npm run build' fails"
I followed the [learn next.js](https://learnnextjs.com) tutorial which worked out pretty fine but a few days later I wanted to try our the build process without ```now``` so I tried ```npm run build``` aka ```next build``` and it ended with this error:

### Error:

    Error: ./pages/batman-shows.js?entry
    Module build failed: SyntaxError: unknown: Unexpected token (5:25)
      3 | import fetch

[2017-06-28 08:44] timneutkens commented on #2380
What's the use case for adding classes to those? 🤔 Both divs have an id property.

[2017-06-28 09:00] Cinamonas opened #2384 "styled-jsx opt-out?"
Is there currently a way to completely disable `styled-jsx` that's bundled with Next.js? If not, it would be great to have this option as currently it sometimes clashes with other CSS solutions by doing preprocessing of its own.

See #2304 and I've also been having issues with importing plain CSS through [`wrap-in-js`](https://github.com/davibe/babel-plugin-wrap-in-js).

[2017-06-28 09:04] arunoda commented on #2384
There's no need to opt-out. It's already opt-in.
If you don't use it, it won't included in the bundle.

[2017-06-28 09:57] coluccini commented on #2383
Your are missing the closing parenthesis here `(props`

[2017-06-28 11:57] PDXIII commented on #2383
Thanks for your reply, @coluccini!

That’s what the error says.
But when you take a look at the source code the closing parenthesis isn’t missing.

[2017-06-28 12:13] coluccini commented on #2383
Can you put the whole problematic code? I think you are mistaken the parenthesis that should wraps `props` with another one

[2017-06-28 12:24] Cinamonas commented on #2384
@arunoda, maybe I'm missing something, but I'm not using it anywhere explicitly, and it still parses (and breaks) the stylesheet that I'm importing directly from `node_modules` (which I then `injectGlobal` through styled-components).

Right now, this is how I opt-out:

[code]

And this fixes the issues that I'm having.

[2017-06-28 13:47] PDXIII commented on #2383
But this is the problematic code.
For me, it seems that the build process somehow strips away the parenthesis.
Or am I missing something in my source code?

It is basically (my source code):

    export default (props) => (
      <div>
        MARKUP
      </div>
    )

And it complies to (error output):

    export default (props =>
      <div>
        MARKUP
      </div>
    )

I would love to k

[2017-06-28 13:52] timneutkens commented on #2383
@PDXIII looks like you have a `.babelrc` in the next directory or in an upwards directory.

[2017-06-28 13:53] timneutkens commented on #2384
@giuseppeg ^

[2017-06-28 14:12] giuseppeg commented on #2384
@timneutkens @arunoda there is nothing I can do to prevent that from happening.
See https://github.com/styled-components/styled-components/issues/934

Seems like that they released a new version of `babel-plugin-styled-components` with the workaround that I suggested.

[2017-06-28 14:22] bmealhouse opened #2385 "Unable to resolve module 'next/dynamic'"
`dynamic.js` is not included in published npm package.

[code]

[2017-06-28 16:03] arunoda opened #2388 "Make sure react and react-dom always moves to the commons"
It will fix issues like #2121
Also, we need to test how these works with chunks and how it affects how algorithm for deciding a commons module.

[2017-06-28 16:06] #2385 closed

[2017-06-28 16:08] OutThisLife opened #2389 "getInitialProps and large JSON objects"
I want to chunk JSON data from a server as one big request, on the server side and cache it.

However, Nextjs also loads this JSON on the client side via `__NEXT_DATA__` and, in my case, the JSON is large enough to crash Chrome.

Is there a way to store the data in Redux but cherry pick it for the client view?

Dummy code below.

*index.js*
[code]

And then a child component would, ideally, pick f

[2017-06-28 16:10] quentin-sommer commented on #2389
You can extract the fetch to a standard js service that you call with a custom server, so it always lives in memory

[2017-06-28 16:17] pencilcheck opened #2390 "Error when trying out the "With Styled Components" example"
Following `https://github.com/zeit/next.js/tree/v3-beta/examples/with-styled-components`

Then I get this error when launching
`Nesting detected at 1:757. Unfortunately nesting is not supported by styled-jsx.`

[code]

[2017-06-28 16:20] arunoda commented on #2384
@Cinamonas okay even if it's not included in the bundle, it parses. Good point.
Thanks @giuseppeg  for the pointer.

I hope with the new version, we can get rid of this issue.

[2017-06-28 16:47] Cinamonas commented on #2304
Since `styled-components` clashes with `styled-jsx`, I decided to investigate how I can remove the latter from the pipeline. This is how I do it for now:

[code]
[code]

This fixes the issue and allows removing experimental `preprocess: true` from `babel-plugin-styled-components` options.

[2017-06-28 16:54] timneutkens commented on #2384
@giuseppeg I was expecting you had seen this issue before 😄 Thanks for clarifying ❤️

[2017-06-28 16:58] timneutkens commented on #2390
Duplicate of https://github.com/zeit/next.js/issues/2304

[2017-06-28 16:58] #2390 closed

[2017-06-28 17:00] timneutkens commented on #2389
Like @quentin-sommer said, Next shouldn't need to be aware of the amount of data. Best to wrap your api into a microservice that handles / caches  it 👍

[2017-06-28 17:00] #2389 closed

[2017-06-28 17:07] OutThisLife commented on #2389
@timneutkens I mean doesn't getInitialProps run on the server? If I port this as an `express` job/microservice, and then call it, won't the Next.js still be load all the JSON on the client side?

Especially with redux stores.

[2017-06-28 17:14] quentin-sommer commented on #2389
Yep, you should call it on the server and store it on ram, then query a
subset with the logic that splits it per page and expose this to the
outside

Le mer. 28 juin 2017 19:07, Talasan Nicholson <notifications@github.com> a
écrit :

--

Quentin Sommer

[2017-06-28 17:29] timneutkens opened #2391 "Allow custom extensions (.ts .tsx .jsx)"
Pretty interesting proposal here: https://github.com/zeit/next.js/pull/2250/files#diff-0f2f34c098f5954f99483c9bd61e439dR51. We could reutilize this as a custom key in `next.config.js` to allow any file extension. Which also resolves the `.jsx` extension support 👍
talked about it with @arunoda 👌

[2017-06-28 17:31] timneutkens commented on #2391
@berzniz I'm going to look into this RN 👍

[2017-06-28 17:38] tashburn opened #2392 "/pages/one/index.js works, but /pages/one/two/index.js does not"
If I have `/pages/one/index.js`, the URL `/one` resolves to the `index.js`. Great.

But if I have `/pages/one/two/index.js`, the URL `/one/two` does _not_ resolve to `index.js`. I get `error: Cannot GET /one/two`. The URL `/one/two/index.js` does not work either, as I'd expect.

I think nesting like this should work.

[2017-06-28 17:43] timneutkens commented on #2392
Duplicate of https://github.com/zeit/next.js/issues/619

[2017-06-28 17:43] #2392 closed

[2017-06-28 17:44] berzniz commented on #2391
I also started working on this (with unit and integration tests), but hit a wall where I can not import `jsx` files with:
[code]

but can do it with
[code]

Here's what I have so far:
https://github.com/berzniz/next.js/commit/ee055e92c2dde14cfdcf45ca243e0d89d8550034

[2017-06-28 17:47] timneutkens commented on #2391
Cool thanks @berzniz ❤️

[2017-06-28 18:58] rwieruch commented on #273
Perhaps [this article](https://www.robinwieruch.de/nextjs-redux-saga/) helps to use Redux Saga in NextJs too.

[2017-06-28 20:08] juliandavidmr opened #2394 "Next & SailsJS"
Is there any way to integrate Next with [SailsJS](http://sailsjs.com)?

[2017-06-28 20:39] sergiodxa commented on #2394
Use Sails.js as an API and consume it from Next.js

[2017-06-28 20:49] #2394 closed

[2017-06-28 23:29] bubuzzz opened #2396 "Router as an independent module"
I started to use next.js for several projects and extremely like it. What I like the most is the simple way to navigate through the page, thank to the router of nextjs. Is there any chance that the module can be separated and then i could use in other old react projects as well ?

Currently in the React world, there is only react-router, which brings the complexity to the level of insanity (checko

[2017-06-29 04:16] nelak commented on #2391
@berzniz Don't forget to change server/utils.js for hot-loader support
I'll try to remember the other tricks I used to get this working :)

[2017-06-29 06:39] mocheng commented on #544
I managed to make `next.js` suport CSS (even SCSS) in this way.

First, in `next.config.js` , tweak webpack config by adding given loaders and a `DefintPlugin` instance.
[code]
Then, in component code, require style file with condition. It makes sure only browser side bundling will have have style module.

[code]

If you don't mind the `if (process.env.BROWSER)`, it works perfectly.

[2017-06-29 10:47] dvakatsiienko commented on #257
+1 we also need support for supplying assets ( `static`, `_app`) `prefix` configuration to make possible to serve multiple `next` apps on the same domain using `nginx` `reverse proxy` functionality.

For example:

`www.domain.com/app-one`

`www.domain.com/app-two`

[2017-06-29 11:40] nelak commented on #2391
@berzniz I think what allowed me to do the imports without extensions is that I'm emitting all the files as `.js` with the emit-file-loader. You can give that a try.

[2017-06-29 14:19] panghongye opened #2400 "examples ssr-caching "npm run build" report erro?"
- 0 info it worked if it ends with ok
- 1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
- 1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
- 1 verbose cli   'run',
- 1 verbose cli   'build' ]
- 2 info using npm@5.0.4
- 3 info using node@v8.1.2
- 4 verbose run-script [ 'prebuild', 'build', 'postbuild' ]
- 5 info lifecycle ssr-caching@1.0.0~prebuild: ssr-cachin

[2017-06-29 15:06] grundmanise opened #2402 "Next.js & Flow setup."
Should I install `babel-preset-flow` when using `next/babel` preset? Or `next/babel` already handles `flow` types transformation?

[2017-06-29 15:30] AugustinLF commented on #2402
It already handles it.

[2017-06-29 15:57] ldthorne commented on #2285
Hey @arunoda! Really excited about this as a feature. What kind of complexities and challenges do you see in its implementation?

[2017-06-29 16:21] arunoda commented on #2285
@ldthorne this is kind a pretty hard as v8 doesn't support this by default.
If someone could help us in anyway, that'd be great.

[2017-06-29 16:37] arunoda commented on #2069
I wrote a blog post about this here - https://arunoda.me/blog/ssr-and-server-only-modules

Frankly, there's nothing we can do about this in Next.js other than educating everyone.

[2017-06-29 16:37] #2069 closed

[2017-06-29 20:05] timneutkens commented on #2402
Please see the with-flow example: https://github.com/zeit/next.js/tree/v3-beta/examples/with-flow

[2017-06-29 20:05] #2402 closed

[2017-06-29 21:55] kunokdev opened #2408 "Server side routing gets broken in production (dev works ok) when using `pages/foo/index.js` rather than `pages/foo.js`"
I am using custom server Express with Next.js 2.
After changing `pages` folder structure to:

[code]
it worked by default very nicely, at least in dev mode. After pushing to production, I noticed on hard refresh, error would be displayed. (Unexpected error kind of message appeared instead of page). Then I noticed it also would happen when user would visit some page directly via link. Meanwhile, pa

[2017-06-29 21:57] sergiodxa commented on #2408
Can you provide a repo to replicate this? Also are you using `/about` or `/about/`? if you use `pages/about/index.js` you need to use `/about/` URL

[2017-06-29 21:58] kunokdev commented on #2408
@sergiodxa Is there a way to use both by default?

[2017-06-29 22:47] YannickB commented on #1780
@detrohutt Thanks a lot, you plugin saved my day. I'd hate moving my .graphql files inside my component.

@arunoda I disagree that this issue is not related to next.js. As @detrohutt explain [in his plugin documentation](https://www.npmjs.com/package/babel-plugin-inline-import-graphql-ast), the graphql queries and fragments shall be handle in separate files. The apollo/apollo-redux examples use in

[2017-06-29 23:10] obfuscatedgeek opened #2409 "Production deployment: HMR Issue"
I have a basic nextjs app deployed to production. It is basically the next-routes example with SSR using koa server.

For some reason when I navigate to the site, I can see in the browser's console messages as `[HMR] connected`.

Need help to understand how to stop these messages.

Next version: `"next": "^3.0.1-beta.1"`

Deployment is  basic as well.
[code]

And everytime I navigate to various ro

[2017-06-29 23:40] PandaWhisperer opened #2410 "Server side routing API w/o requiring custom server"
Hey guys,

just stumbled on this project and went through the tutorial on [learnnextjs.com](http://learnnextjs.com). Pretty neat! I like the idea of bringing configuration over convention to the React world (which seems to favor explicitness over everything).

All in all, once I got over my initial hurdle of accepting writing all my HTML in JS, I went along with most of the sections with a smile o

[2017-06-29 23:44] sergiodxa commented on #2408
@kunokdev no, you need to create a custom server and redirect from urls without `/` to urls with `/` at the end

[2017-06-29 23:48] obfuscatedgeek commented on #2410
Had the same thoughts initially untill I stumbled on their examples folder, do check it out. They have a solution for many common stuff. https://zeit.co/blog/next2
You need to really scroll to the bottom to see the various stuff.

I believe this is what you are looking for: https://github.com/zeit/next.js/tree/master/examples/with-pretty-url-routing

There are many examples for routing

[2017-06-30 00:21] kunokdev commented on #2408
Should routes with `/` and without it be merged was already discussed in different topic, so I am closing this issue, gonna edit this comment with code when I update it.

[2017-06-30 00:21] #2408 closed

[2017-06-30 02:16] PandaWhisperer commented on #2410
Thanks for pointing that out. Would be cool if the README section on server side routing linked to that example. Also, that example *still* requires a custom `server.js`, although I definitely like that the routes are living in their own file.

[2017-06-30 02:45] PandaWhisperer commented on #2410
Gotta say thought, props on the examples. I'm used to getting like 3. This thing has more like 30.

[2017-06-30 02:50] mocheng opened #2413 "Need update in example code about external stylesheet"
In example code about external stylesheet https://github.com/zeit/next.js/tree/master/examples/with-global-stylesheet , it still has `dangerouslySetInnerHTML`. According to this `styled-jsx` improvement` https://github.com/zeit/styled-jsx/pull/148, we can reference  imported stylesheet now.

I tried to change code and it works.

[code]

The `dangerouslySetInnerHTML` does not look right and might t

[2017-06-30 03:36] jaydenseric commented on #2409
Are you sure `NODE_ENV` is being used to toggle dev mode correctly in your server code, like [here](https://github.com/zeit/next.js/blob/v3-beta/examples/custom-server-koa/server.js#L6)?

[2017-06-30 04:05] obfuscatedgeek commented on #2409
@jaydenseric that was precisely the problem. I had hard coded it to `{dev: true}` and had forgotten all about it. Thanks a ton!

[2017-06-30 04:05] #2409 closed

[2017-06-30 04:36] nwshane opened #2414 "next build causes Error: commons.js from UglifyJs Unexpected token: operator (>)"
Running `next build` causes this error:

[code]

Running next in development mode works fine.

Next JS version: 2.4.6

Just in case it matters, here are my config files.
[code]

[2017-06-30 05:48] arunoda commented on #2414
This is when one of your NPM modules have ES6 code in it. Without transpiling.
Frankly, you've to manually find out which module causing this issue.

Try deleting all pages and adding one by one and build and see which module causes the issue.
There are some other issues in the issue list we talked about this topic.
Please search for them.

[2017-06-30 05:48] #2414 closed

[2017-06-30 06:51] nwshane commented on #2414
@arunoda Ah, my bad. I did a search for this error and next but couldn't find anything. Thanks for your help!

[2017-06-30 06:53] arunoda commented on #2410
I think we have talked about this many times. The current solution is the best we can have.
You can search the issue list for more ideas and reasons why we did this.

[2017-06-30 06:53] #2410 closed

[2017-06-30 06:54] arunoda commented on #2414
Here we go: https://github.com/zeit/next.js/issues?q=is%3Aissue+UglifyJs+is%3Aclosed

[2017-06-30 06:59] kolpav commented on #1780
@YannickB Does the plugin works without any problems? I am still bit reluctant to use it in production. Is there any work to be done @detrohutt ?

[2017-06-30 07:25] YannickB commented on #1780
@kolpav I don't know yet, I just made my existing graphql query loaded but I have to move forward in the development to make sure they properly execute. I'll update this comment if I see any problem.

[2017-06-30 07:38] ryanfields commented on #882
While this solution works... is there any way to avoid having to cut-paste the userAgent boilerplate into every single page I create?  It seems that because of the way getInitialProps works, I'm prevented from using composition to solve it, since getInitialProps will only run on the outer component and not the wrapped component.  Inheritance isn't possible mainly due to React itself, and I'm not q

[2017-06-30 07:47] keeth commented on #2054
Seeing the same thing, the first page loads fine, but on subsequent pages Apollo does not load any data over the network. Using Redux Dev Tools I can see that Apollo is executing the queries, but no requests are made to the graphql server, and in my props() hooks the response data is undefined.

[2017-06-30 09:05] keeth commented on #2054
Ok I debugged this a bunch and it looks like in my case it was my own fault. :) On full reload the server fetches the data and the GraphQL-connected component is rendered once with all data available.  When you do client-side routing via Link, the component will be rendered once with no data and loading=true, and then again with the fetched data and loading=false.  So you need to guard against tha

[2017-06-30 09:13] keeth commented on #2054
@devboell I can see in your code that you are hitting the same problem.  you need to check that films is non-null, or check that loading==false [before calling films.map](https://zeit.co/YDVp1TbLlj84Pj2n1zJhFN8q/with-apollo/mfwujvhmbt/source?redirect=1&f=components%2FFilms.js&h=133%3B23).  I think this issue can probably be closed.

[2017-06-30 09:16] keeth commented on #2054
It's funny I normally am more careful with my Apollo connected components but Next made me lazy since the data was always already magically loaded 🎉

[2017-06-30 09:41] bookercodes commented on #590
@arunoda So I would have one page that conditionally renders a view from `render`? Something like,

[code]

?

Can you please elaborate on what you mean by custom API routing and how we can accomplish that with Next?

[2017-06-30 09:44] damianobarbati commented on #706
I really do not understand what's the current status in Webpack to transpile dependencies in node_modules, can any please clarify?

1) Is webpack transpiling jsnext:main file?
2) If yes, is webpack transpiling jsnext:main file in node_modules even if node_modules is in exclude key?

[code]

[2017-06-30 10:25] #2400 closed

[2017-06-30 10:35] mike3run commented on #590
@bookercodes https://github.com/zeit/next.js/tree/v3-beta/examples/with-next-routes

[2017-06-30 11:17] Industrial opened #2415 "[Question] How do I configure a different root directory?"
Hi!

I am using a compile-to-js language and I always have a gulp setup with a `src/` and `build/` directory for a node project.

Since `src/` contains my non-js code, the `build/` dir should be the root directory of next.js to start out at.

How do I configure that and, if it's not possible now, would this be an option for next.js in the future?

[2017-06-30 11:25] #2415 closed

[2017-06-30 12:16] supra28 opened #2416 "example with-dynamic-import doesn't work"
TypeError: promise.then is not a function

[2017-06-30 12:23] detrohutt commented on #1780
@kolpav Someone notified me a few days ago that it doesnt work on windows. Other than that I've had no problems with it.

[2017-06-30 12:32] russelh15 commented on #882
@ryanfields you can use a higher order component to avoid having that code in multiple places.

Something like this.

`/hoc/layout.js

const Layout = (ComposedComponent) => {

	return class extends Component {

		static async getInitialProps(ctx) {

			const { req } = ctx

			const userAgent = req ? req.headers['user-agent'] : navigator.userAgent;

			let pageProps = {}

			if(ComposedComponent.ge

[2017-06-30 13:22] russelh15 commented on #882
It should be called. Can you post your code?

[2017-06-30 16:21] ndelangen commented on #2416
I had problems with dynamic imports not working, and solved it by adding: ` "next/babel"` to my `.babelrc`. Hope this helps you too.

[code]

[2017-06-30 16:42] IanMitchell commented on #2328
Merged in, closing

[2017-06-30 16:42] #2328 closed

[2017-06-30 17:39] timneutkens commented on #2416
Please Provide an example repository.

[2017-06-30 18:33] harshmaur commented on #1189
Many people use trailing slash and many dont, however its better to only keep one version of it as per SEO otherwise it will create serious issues as per google.

We maintain a trailing slash and I am not sure how I can do it in next js.

Any ideas?

[2017-06-30 18:53] ryanfields commented on #882
@russelh15 I wrote something quick in isolation to test and post here, but it worked.  I must be doing something weird elsewhere in my main project.  I'm going to assume I've screwed something up elsewhere since this proves it should be working.

[2017-06-30 19:30] mherodev commented on #88
I wonder, could @OutThisLife and the `react-overdrive` implementations be combined? I don't know the details of how overdrive works, but I'd prefer not to have to colocated all of my pages that need transitions.

I'm also unsure how performant the clone approach is, but I'm down with it in theory.

[2017-06-30 20:25] sergiodxa commented on #1189
@harshmaur you can create a custom server to handle urls with a trailing slash or you can create `pages/my-page/index.js`, that way your URL (with the default router) will be `/my-page/`

[2017-06-30 20:36] damusnet commented on #1080
Hi @dizlexik
I see the exact opposite: only stats for each entrypoint, and no info about `app.js`. Do you know what change since your last entry, and how to get infos about the main bundle?

[2017-06-30 20:40] timneutkens commented on #1080
@damusnet Arunoda updated the example just yesterday 😄 cc @arunoda

[2017-06-30 20:40] timneutkens commented on #1080
@damusnet could you create a new issue to track this?

[2017-06-30 21:07] damusnet commented on #1080
Thanks @timneutkens for getting back to me so quickly!

Looking more closely at @arunoda [latest change](https://github.com/zeit/next.js/commit/23c2f02f56063d7cebf3940f0eb02b8acfadabb6#diff-f81807dfaab2849fde44d7b80f770951L18), I noticed the `delete compilation.assets[name]`. Making the same change in my Next.js version allows me to see all chunks perfectly! Problem solved.

👍

[2017-06-30 21:33] timneutkens commented on #1080
Awesome! Should this be default @damusnet?

[2017-06-30 21:37] damusnet commented on #1080
@timneutkens Yes. You get all chunks in the report, and can toggle them on/off in the web UI.

I was under the impression the change in #2393 was the new default, which would be a good thing.

[2017-06-30 21:56] tomsoderlund commented on #198
Tried this today. As for @KidkArolis, my solution was adding a `Procfile` with:

	web: npm run build && npm start -- --port $PORT

as well as `heroku-postbuild` to `package.json`:

	"scripts": {
		"dev": "next",
		"build": "next build",
		"start": "next start",
		"heroku-postbuild": "next build"
	},
	"dependencies": {
		"lodash": "^4.17.4",
		"next": "^3.0.0-beta16",
		"react": "^15.6.1",
		"react

[2017-06-30 21:59] jcheroske commented on #198
@tomsoderlund, does that mean that every time you restart your dyno it does a build?

[2017-06-30 22:00] evantahler commented on #198
You no longer need the buildpack or a custom procfile (next v2+) for Heroku.  www.actionherojs.com is a Next project, and its full source is here https://github.com/actionhero/www.actionherojs.com.

Just include the following in your `package.json`
[code]

[2017-06-30 22:50] pueue commented on #2391
#2250

[2017-06-30 23:17] berzniz commented on #2391
That's great! Totally helps solve the problem

[2017-07-01 00:20] arunoda commented on #2391
@berzniz adding `.jsx` support is not what we meant here.
We only support `.js` by default.
But users can add `.jsx`, `.ts` or any extension they want as need.

[2017-07-01 00:23] berzniz commented on #2391
I see. I'm just providing what I got so far, so someone can mix it with a configurable array of extensions. I'm probably not the person to tackle that (at least not for my first PR)

[2017-07-01 00:25] arunoda opened #2421 "Remove unnecessary code use in Next.js"
Here's the bundle analyzer output of a simple hello-world app.
![next-hello-world-bundle](https://user-images.githubusercontent.com/50838/27757629-93b23ba2-5e21-11e7-8b9c-3a8d69f5b5de.png)

Here we can't do anything about the core-js since it's needed. This is not the complete core-js bundle, but the only the polyfills for ES6 feature we use.

We can optimize the some of the stuff we use in Next.j

[2017-07-01 00:33] arunoda commented on #2391
@berzniz thanks for the PR.
Yep. I might do it after 3.0

We have a lot of great stuff in 3.0 and we wanna ship it ASAP.

[2017-07-01 03:42] harshmaur commented on #1189
@sergiodxa Thanks a lot, I was thinking of using server.js to create custom routes for all of my pages instead of using the default router. But I am not sure how that would work on the client side. I need to check.

[2017-07-01 04:53] supra28 commented on #2416
@ndelangen Didn't work :(
@timneutkens The code is in the examples directory with-dynamic-imports. I just cloned it.

[2017-07-01 05:51] timneutkens commented on #2416
@supra28 thanks! it's actually installing an old beta version. Fixing the example now. You can just `yarn remove next` `yarn add next@beta` and it'll install the right version 👌

[2017-07-01 05:57] timneutkens commented on #2416
Created PR #2423 to fix this 👌

[2017-07-01 06:05] timneutkens commented on #198
@evantahler this is great news! :100:

[2017-07-01 06:13] #2416 closed

[2017-07-01 07:25] arunoda commented on #2421
In https://github.com/zeit/next.js/pull/2422 we've done some of these optimizations.
For now, we can close this.
We'll try to optimize this further in the future.

[2017-07-01 07:25] #2421 closed

[2017-07-01 07:46] tomsoderlund commented on #198
@jcheroske I'm not 100% sure, but based on the time required to restart vs. when building (I can see when `heroku-postbuild` kicks in while building), I'd say: **no**.

[2017-07-01 08:18] jackmatrix opened #2424 "Dynamic import : Unexpected token import"
I am unable to dynamically import my components. I have the following error

`Module build failed: SyntaxError: Unexpected token (import)`

I am just trying to do this

`const DynamicComponent5 = dynamic(import('./home.js'))`

i've yet imported dynamic from next

So what i've missed ?

Thanks for helping

[2017-07-01 08:21] timneutkens commented on #2424
@jackmatrix, what version of next.js are you using?

[2017-07-01 08:23] jackmatrix commented on #2424
I am using 2.4.4

[2017-07-01 08:26] timneutkens commented on #2424
@jackmatrix please update to `next@beta`, dynamic imports are a feature of the upcoming v3 version 👍

[2017-07-01 08:26] #2424 closed

[2017-07-01 08:28] jackmatrix commented on #2424
YEah thanks i just figured it out now. So i updated and the issue was fixed. Thanks a lot.

[2017-07-01 08:30] timneutkens commented on #2424
👌

[2017-07-01 10:37] grundmanise commented on #1788
@AugustinLF hey, is your `/static/` folder working correctly with `storybook`? I can't make it work - `storybook` does not see `/static/` folder in the root of the project.

[2017-07-01 12:35] AugustinLF commented on #1788
@grundmanise Indeed, if you want to be able to use static directories, you need to add some params to the `start-storybook` command, in my `package.json`, I have: `"storybook": "start-storybook -p 9001 -s ./ -c .storybook"`. I don't think the `-c .storybook` is relevant for you, but by adding the root directory to the static `-s ./`, when you import from `/static`, it'll be able to look to `<rootD

[2017-07-01 18:08] chamalC opened #2426 "Form data not submitting to external API"
I'm passing next js form parameters to an external API written in Laravel which send a simple email, the API working fine when I send a post request using postman but , when I submit below Next Js form to the API nothing happen, no call make to API please help me

[code]

[2017-07-01 18:10] timneutkens commented on #2426
This is most likely due to your API not handling the `OPTIONS` request (standard for POST, PUT, DELETE requests in the browser) https://developer.mozilla.org/en-US/docs/Glossary/Preflight_request. Check out your devtools network tab 👍

[2017-07-01 18:14] chamalC commented on #2426
@timneutkens Actually in network tab it is not showing a call to API which conclude no request made to API from frontend

[2017-07-01 18:16] timneutkens commented on #2426
Make sure you don't filter by XHR cause it doesn't show the options request there :(

[2017-07-01 18:18] chamalC commented on #2426
@timneutkens I haven't add a filter for XHR

[2017-07-01 18:21] timneutkens commented on #2426
Hmm either way it's not a Next.js issue but rather an issue with React then :( Let me check the page anyway :)

[2017-07-01 18:29] timneutkens commented on #2426
Found it 😄 The default event was not prevented, which causes a page refresh.

[code]

[2017-07-01 18:31] #2426 closed

[2017-07-01 18:35] chamalC commented on #2426
yeh that was the issue , thanks @timneutkens

[2017-07-01 18:58] timneutkens commented on #2426
Great 👍

[2017-07-01 19:17] timneutkens commented on #2396
We're not planning to release it separately in the short term since it's pretty connected to Next.js at the moment. It's a cool idea though 😄

[2017-07-01 19:17] #2396 closed

[2017-07-01 19:21] timneutkens commented on #2413
@giuseppeg this won't work right? Since it's not a JS export

[2017-07-01 19:22] #2383 closed

[2017-07-01 19:26] #2382 closed

[2017-07-01 19:29] #2376 closed

[2017-07-01 19:29] #2380 closed

[2017-07-01 19:30] timneutkens commented on #2355
Can you provide a way to reproduce this? Then I'll re-open.

[2017-07-01 19:30] #2355 closed

[2017-07-01 19:42] sergiodxa commented on #1189
@harshmaur check the [custom server example](https://github.com/zeit/next.js/tree/v3-beta/examples/custom-server) specially [how to use next/link](https://github.com/zeit/next.js/blob/v3-beta/examples/custom-server/pages/index.js#L6)

[2017-07-02 01:50] Orecic opened #2431 "ReferenceError: document is not defined"
ReferenceError: document is not defined ,What should I do to solve the problem, thanks.

[2017-07-02 02:45] jackmatrix opened #2432 "How to add dynamic parameters to URLs ?"
I'd like to reproduce some react router behavior.

For example id like to set up a routing that match with `/:id`

Maybe i've missed something in the docs but i don't found anything that fix my issue.

Any Idea ?

[2017-07-02 03:31] #2432 closed

[2017-07-02 03:49] arunoda commented on #2324
We've revert #1855 with https://github.com/zeit/next.js/pull/2422 and hope we don't need this anymore.

[2017-07-02 03:49] #2324 closed

[2017-07-02 03:49] arunoda commented on #1877
We've reverted #1855 with https://github.com/zeit/next.js/pull/2422 and hope we don't need to do this hack anymore.

[2017-07-02 03:49] #1877 closed

[2017-07-02 04:40] viztor commented on #484
This issue still exist today.

[2017-07-02 04:43] viztor opened #2434 "Add support for import .css for SSR"
It seems a lot of people here are having issues with importing static file like CSS.
I hope it could be supported soon as a lot of existing react UI library uses global CSS.
So unless you are developing everything from the ground up, it's really not easy to get around with that.

[2017-07-02 04:45] mherodev opened #2435 "_document.js from Next 2 incompatible with Next 3"
When upgrading to `@next` I'm seeing this error when building:

[code]

I assume I need to pass something regarding `getPreloadDynamicChunks` correctly through `getInitialProps` in my custom `_document.js`? Should this have a default value in Next's `document.js` to maintain backward compatibility?

Thanks in advance!

Best
Michael

Oh! And here's my custom `_document.js` for reference:

[code]

[2017-07-02 05:43] arunoda commented on #2435
v3's `getInitialProps` is kind a different. See: https://github.com/zeit/next.js#custom-document

[2017-07-02 05:44] arunoda commented on #2434
It's not simple to enable it. Please search for older issues for more info.

[2017-07-02 05:44] #2434 closed

[2017-07-02 05:53] #2371 closed

[2017-07-02 06:08] mherodev commented on #2435
Ah, makes sense! I feel a little mislead by the "fully backward compatible" language in a preview doc, but it also wouldn't be a big version switch without breaking changes.

[2017-07-02 06:08] #2435 closed

[2017-07-02 06:20] arunoda commented on #2360
@elmasse this is correct. What's happening is even though this is a static site when you `next/link` it'll do the client side routing and all the other stuff Next.js do.
That includes running `getInitialProps`.

If that's not the behavior you wanted, simply use normal `a` tag instead of `next/link`. Or you can do some conditional stuff in getInitialProps.

[2017-07-02 06:36] arunoda commented on #1831
I assume this is same as this one: https://github.com/zeit/next.js/issues/2435
Always, try to add the correct stuff for getInitialProps of the custom docs. (Always refer to docs)

Or use this:

[code]

[2017-07-02 06:36] #1831 closed

[2017-07-02 06:56] arunoda commented on #1888
This should fix this issue: https://github.com/zeit/next.js/pull/2437

[2017-07-02 06:57] arunoda commented on #2305
Here's the fix for this: https://github.com/zeit/next.js/pull/2437

[2017-07-02 06:57] mherodev commented on #88
Having implemented OutThisLife's approach naively across pages (not using the same-page workaround), it runs into two big issues:

1. The `$container` which has an `animate-in` class applied immediately loses that class as the container is unmounted and remounted across pages, so it does not animate.
1. The `$clone` does not retain its local styles through its animation as those styles are unmount

[2017-07-02 07:29] #1888 closed

[2017-07-02 07:29] #2305 closed

[2017-07-02 07:58] timneutkens commented on #2360
😲 Nice!

[2017-07-02 08:01] timneutkens commented on #1877
💯 👍

[2017-07-02 08:03] timneutkens commented on #2431
@Orecic please provide a way to reproduce this error. Then I'll re-open the issue.

[2017-07-02 08:03] #2431 closed

[2017-07-02 08:05] timneutkens commented on #2379
@arunoda any ideas?

[2017-07-02 08:09] timneutkens commented on #2347
I'm going to close this.

[2017-07-02 08:09] #2347 closed

[2017-07-02 08:11] #2313 closed

[2017-07-02 08:12] timneutkens commented on #2310
@impronunciable could you have a look?

[2017-07-02 08:13] timneutkens commented on #2304
Closing this as duplicate of #2384

[2017-07-02 08:13] #2304 closed

[2017-07-02 08:13] #2297 closed

[2017-07-02 08:14] fridays commented on #2410
Also checkout [next-routes](https://github.com/fridays/next-routes) 👍

[2017-07-02 08:15] timneutkens commented on #2295
@moroshko feel free to send a PR ❤️

[2017-07-02 08:20] #2273 closed

[2017-07-02 08:23] timneutkens commented on #2272
Closing this as it's a styled-components issue. Please see https://github.com/styled-components/babel-plugin-styled-components/issues/52. Thanks @gbiryukov for mentioning  that.

[2017-07-02 08:23] #2272 closed

[2017-07-02 08:26] timneutkens commented on #2261
@fridays I'm not sure if it's related to next-routes. But do you have any idea? 😄

[2017-07-02 08:36] timneutkens commented on #2258
These are all issues you get from wanting to build a monolith application with Next.js. Like @albinekb  pointed out earlier (https://github.com/zeit/next.js/issues/2258#issuecomment-308439695) you'll want to separate the frontend and backend. Think of Next.js as a frontend server, it should only be responsible for rendering html based on api calls to an external api. The custom server (programmati

[2017-07-02 08:41] arunoda commented on #2258
@serle using babel for server is kind a tricky. Since it might mix with next's client side (and ssr) babel config.
We want to fix it but it's complicated. And currently you can hack with babel by using different environment and using custom config for each.

Anyway, this is how I'd deal with this problems like this:

* I use Node 8 for the server and I got all the new features except import / expo

[2017-07-02 08:41] #2258 closed

[2017-07-02 08:49] fridays commented on #2261
I can't reproduce, maybe it's related to the subdomain setup? A sample would be great.

[2017-07-02 08:51] timneutkens commented on #2257
Should be handled here https://github.com/zeit/next.js/blob/bf0d7f8b401b1e5b650cbbf73d3620f370ac05a7/bin/next#L60-L80 right? 🤔

[2017-07-02 08:51] timneutkens commented on #2257
@wangkechun

[2017-07-02 08:56] #2169 closed

[2017-07-02 08:58] #2195 closed

[2017-07-02 08:59] arunoda commented on #2379
Hey, https://github.com/storybooks/babel-plugin-react-docgen doesn't generate anything.
It adds the docgen output into the React class.

Please read the docs on that repo.

[2017-07-02 08:59] #2379 closed

[2017-07-02 09:01] arunoda commented on #2431
Usually this means, you are using a module which can't use in the server.
If so, run only that in the client.

[2017-07-02 09:52] Orecic commented on #2431
![wechatimg20](https://user-images.githubusercontent.com/11868645/27768787-4e3f0af4-5f4e-11e7-8fbb-57eb3cb5e4d2.jpeg)

I want to write a HTTP interceptor to handle system errors with antd，it works in  client slide rendering,but has an error "ReferenceError: document is not defined" in server slide rendering, how can I write a HTTP interceptor,thanks very much

[2017-07-02 09:55] oliviertassinari commented on #2261
Yeah, will work on a reproduction as this setup seems to no longer work with the v3-beta. I need to sort that out.

[2017-07-02 09:55] Orecic commented on #2431
I want to write a HTTP interceptor to handle system errors with antd，it works in client slide rendering,but has an error "ReferenceError: document is not defined" in server slide rendering, how can I write a HTTP interceptor that works in server slide rendering ,thanks very much.
![wechatimg21](https://user-images.githubusercontent.com/11868645/27768843-9213d20e-5f4f-11e7-956d-07c337c7dca5.jpeg)

[2017-07-02 10:04] fridays commented on #2432
Checkout [next-routes](https://github.com/fridays/next-routes)

[2017-07-02 10:19] #2054 closed

[2017-07-02 10:27] arunoda commented on #2431
I assume you can't render antd Model in the server. Try looking at their support channels on how to do that. Or use something else.

[2017-07-02 10:32] timneutkens commented on #1636
is https://github.com/zeit/next.js/pull/2283 related @coluccini?

@ericf could you have a look since you made the example?

[2017-07-02 10:32] timneutkens commented on #1990
@ericf @coluccini could you have a look 👌

[2017-07-02 10:34] timneutkens commented on #1987
I'm going to close this due to inactivity

[2017-07-02 10:34] #1987 closed

[2017-07-02 11:00] timneutkens commented on #1970
@dzek69 there is currently no way to do that.

[2017-07-02 11:02] timneutkens commented on #1970
@makstr could you provide an example so we can test this?

[2017-07-02 11:03] #1957 closed

[2017-07-02 11:19] #1946 closed

[2017-07-02 11:19] #1939 closed

[2017-07-02 11:20] #1893 closed

[2017-07-02 11:22] #1934 closed

[2017-07-02 11:32] #2209 closed

[2017-07-02 11:33] #1625 closed

[2017-07-02 11:34] #1565 closed

[2017-07-02 11:34] timneutkens commented on #1565
This is tracked in another issue.

[2017-07-02 11:35] #1500 closed

[2017-07-02 11:36] #1444 closed

[2017-07-02 11:37] #1353 closed

[2017-07-02 11:38] #1335 closed

[2017-07-02 11:40] #1300 closed

[2017-07-02 11:47] #1268 closed

[2017-07-02 11:49] timneutkens commented on #1651
Lets keep them in definitelyTyped.

[2017-07-02 11:49] #1651 closed

[2017-07-02 11:50] timneutkens commented on #1226
Arunoda fixed the example this week 😄

[2017-07-02 11:50] #1226 closed

[2017-07-02 11:51] #438 closed

[2017-07-02 11:55] timneutkens commented on #141
We'll merge the withRoute HOC after v3 has been released. Then this will be possible. https://github.com/zeit/next.js/pull/2352

[2017-07-02 11:55] #141 closed

[2017-07-02 11:57] coluccini commented on #1636
It shouldn't. This is happening with and without the polyfill.
I think this is more related to how next/head works than something related directly to Intl. Cause if you do this
[code]
Only the first `<FormattedMessage />` will throw the error

[2017-07-02 12:01] coluccini commented on #1990
I have never used react-intl-translations-manager 😞 , but if no one else can do it I could give it a try

[2017-07-02 13:59] elmasse commented on #2360
@arunoda
I understand your point of view. However, the example that originated this issue was not using `next/link` at all it was a plain `<a>` tag.
On the other hand, if Link causes getInitialProps to be called, then the behavior is not consistent across browsers (Chrome and FF do NOT call getInitialProps on back button in those examples)

As I mentioned before, I believe this is related to onPop

[2017-07-02 14:17] gbiryukov opened #2438 "Open graph meta tags duplication in <head />"
Right now [facebook Open Graph meta tags](https://developers.facebook.com/docs/sharing/webmasters#markup) gets duplicated in head if several next `<Head />` components used in one page.
[code]
This happens because `property` prop doesn't considered in head [`METATYPE`s](https://github.com/zeit/next.js/blob/v3-beta/lib/head.js#L45).
It should be super easy to fix.

[2017-07-02 14:23] timneutkens commented on #2438
@gbiryukov interesting. Let me have a look 👌

[2017-07-02 14:34] timneutkens commented on #2438
@gbiryukov #2439

[2017-07-02 14:34] Xerios commented on #88
I almost finished my implementation of _layout component. Everything's working except the inclusion of the default layout file. I'll make a pull request once I can figure out how the hell the nextjs takes in account default files like _document.js

[2017-07-02 14:35] gbiryukov commented on #2438
good job, thanks!

[2017-07-02 15:45] dizlexik commented on #1353
Bummer that this was closed. I sure would love to see proper Koa support via a more configurable side-effect-free rendering pipeline. Running my hack in production right now doesn't feel great but I'm forced to do it if I want to use Koa :/

[2017-07-02 16:14] Xerios commented on #88
Submitted my pull request, now we wait...

[2017-07-02 16:19] Ikhan commented on #484
I'm also having this issue. I'm trying to import semantic.min.css but couldn't. Throws me an error.

[2017-07-02 17:23] langpavel opened #2441 "Tests not run on with-jest example"
Hi

I followed instruction in README at https://github.com/zeit/next.js/tree/v3-beta/examples/with-jest,
but it looks like `babel-jest` is not in use and test will fail like this:
[code]
[code]
I installed packages with both, `yarn` and `npm`

[2017-07-02 17:31] iamsoorena opened #2442 "using-preact example throws an error - react is not installed"
I've downloaded using preact example and the I runned "npm install" and then "npm run dev"
this is the error that I've git:
`Error: Cannot find module 'react'
    at Function.Module._resolveFilename (module.js:470:15)
    at Function.Module._resolveFilename (C:\PROJECTS\torob\with-preact\using-preact\node_modules\module-alias\index.js:33:29)
    at Function.Module._load (module.js:418:25)
    at M

[2017-07-02 17:48] Industrial opened #2444 "Add example of how to use next.js with other root directory."
Hi.

I'm having trouble settting up next.js to work with my gulp setup. I have a `src` and `build` directory and I would like next.js to take the build directory as it's root (so also where to find the next.config.js etc).

I have set my npm task to `next dev ./build` but that doesn't seem to work.

It would be nice to have a runnable example that shows this feature.

[2017-07-02 17:53] Kikobeats commented on #1011
@matthewmueller hey, can you paste your final solution? 😄

[2017-07-02 18:02] timneutkens commented on #2444
`next dev <dir>` in this case `<dir>` is actually the `.next` directory name where it compiles to. You can see the explanation for the full command by running `next dev --help`. It's the same as setting `distDir` https://github.com/zeit/next.js#custom-configuration.

What you want to do is possible using the custom server api:
https://github.com/zeit/next.js/blob/v3-beta/examples/custom-server-exp

[2017-07-02 18:03] timneutkens commented on #2444
https://github.com/zeit/next.js/blob/v3-beta/server/index.js#L28 shows all available options

[2017-07-02 18:03] timneutkens commented on #2444
It's also documented here: https://github.com/zeit/next.js#custom-server-and-routing

[2017-07-02 18:03] #2444 closed

[2017-07-02 18:05] timneutkens commented on #2442
Unfortunately currently react is still included in the bundle. So you'll have to install it. We're tracking this here https://github.com/zeit/next.js/issues/1334

[2017-07-02 18:05] #2442 closed

[2017-07-02 18:09] timneutkens commented on #2441
<img width="532" alt="screen shot 2017-07-02 at 20 08 38" src="https://user-images.githubusercontent.com/6324199/27772419-490d6d64-5f62-11e7-8eaf-6e3f1b1a5bb6.png">

I can't reproduce this.

[2017-07-02 19:28] langpavel commented on #2441
@timneutkens Weird. I tried it again and it didn't work. :disappointed:

[2017-07-02 20:29] timneutkens commented on #2441
That's super weird.

[2017-07-02 21:16] mehdijjz commented on #1935
@arunoda See, we have a problem here which we're trying to solve, we're not looking for workarounds in which you're suggesting to use static images. how can we achieve requiring images (png, jpg, etc...) ? I personally prefer to have a customizable web pack for better customizability.

[2017-07-02 21:25] lededje commented on #1935
@mehdijjz what is it your are trying to achieve? It's difficult to know what to suggest when you don't explain what days you want when importing images. The example given above doesn't have to be a CSS background image, it can be an image tag too.

[2017-07-02 21:30] mehdijjz commented on #1935
@lededje I want to use a webpack/babel loader to require images in my components.

e.g: `<img src={require('./myImage.png')} />`

[2017-07-02 21:36] lededje commented on #1935
@mehdijjz That which runs on the server _must_ also run on the client. This will not run on the client if you use webpack to perform this task. [Here](https://github.com/zeit/next.js/tree/v3-beta/examples/with-custom-babel-config) is a link to using a custom babel configuration but I must stress, I doubt you will find what you are looking for.

I ask once again, what do you expect `require('./myIm

[2017-07-02 21:38] lededje commented on #1935
@laoqiren The files must be within a `/static/` directory relative to the pages directory. There are several examples of this working in the documentation.

[2017-07-02 21:42] tomsoderlund opened #2446 "Heroku build fails, says it can’t find a component that shouldn’t be there"
I've been using Next.js with Heroku for some time, but then I ran into a problem when I deleted a component (`ElementStyleHelper`) that I didn't need anymore. On the next build:

	remote:        Running heroku-postbuild
	remote:
	remote:        > APPNAME-REDACTED@0.1.0 heroku-postbuild /tmp/build_dac4e00b3ed5a2493d369cdc0a56e5b5
	remote:        > next build
	remote:
	remote: > Failed to build on /

[2017-07-02 21:54] tomsoderlund commented on #2446
Should the `.next` folder be in `.gitignore`, or pushed to Heroku?

[2017-07-02 22:12] delgermurun opened #2447 "[Discussion] Pass initial props to "app.render()" method on server"
When we are doing SSR, how about passing initial props to `app.render()` method on server?

[code]

Something like that. In this example, `getCheckoutDetail` will work synchronously, so process will be blocked. But I'm pretty sure we can find some async way to do it.

Running code only on server (or client) is pretty complicated issue. I read @arunoda's article (https://arunoda.me/blog/ssr-and-ser

[2017-07-02 22:17] tomsoderlund commented on #2446
Sorry, think I solved it - was an incomplete commit with a reference still to `ElementStyleHelper`.

[2017-07-02 22:17] #2446 closed

[2017-07-02 22:22] mherodev commented on #88
Regarding the same-page rendering example with nextgram, it's not really a workaround as it only works if the page that's being linked to is a modal (floating over the page), which most pages aren't.

And of course that your entire app then has to be architected around these route transitions existing on a single `pages/index.js`file.

Here's to hoping @Xerios has an approvable approach :crossed_f

[2017-07-03 01:21] vinaypuppal commented on #2442
@iamsoorena I think we still need react for dev side because

Arunoda's mentioned [this here](https://github.com/zeit/next.js/pull/767#issue-200807529)

[2017-07-03 01:50] wangkechun commented on #2257
Maybe yes

[2017-07-03 02:18] steida commented on #1527
@rauchg Whatever, but Next.js code should be prettified anyway I suppose.

[2017-07-03 05:26] arunoda commented on #1527
@steida We use standard and some of the eslint rules.
And I don't think we don't need more than that.

[2017-07-03 05:30] arunoda commented on #1935
Thanks @lededje for all those references and details.

@mehdijjz there are a lot of things we like to do. But sometimes, we can't do all of them.
But someday, we'll be able to do it.

In the meantime, you need live without those features.

[2017-07-03 05:32] #2438 closed

[2017-07-03 05:36] arunoda commented on #2360
What you mention [here](https://github.com/zeit/next.js/issues/2360#issuecomment-311501752) is not an issue. That's how it should work.

Anyway, I saw an something weird in the original app.
Could you please show me the reproduction details for that issue?

[2017-07-03 05:55] timneutkens commented on #2442
@vinaypuppal that was actually fixed by Jason.

[2017-07-03 08:34] mocheng commented on #1061
@erikras Thanks. You saved my day. I met same problem. After removing `babel-plugin-module-resolver` from .babelrc, the problem disappeared. Not sure why but it works.

It looks something conflicting in babel plugin.

[2017-07-03 09:10] maticrivo commented on #1353
maybe we can contact someone from the @koajs team to take a look?

[2017-07-03 09:11] mattfysh commented on #2334
This seems to be working well:

[code]

Some notes:

* `res` is truthy in SSR only
* using `eval(...)` prevents the node.js Raven library from being bundled into the client
* for some reason in SSR, the event is on `err.Error` but on client-side its just `err`
* `logException` is a wrapper around `Raven.captureException` using the CDN-hosted package. I've got a Custom Document that loads Raven bef

[2017-07-03 11:20] steida commented on #1527
Give Prettier a chance for a minute in your IDE :-)

[2017-07-03 12:00] elmasse commented on #2360
Ok, 2 things here then:

if that is the intended behavior, is there any way to disable the Router? I'm not using the `next/link` in my app so I don't see a real need for it in an static export.

And again, if it is the intended behavior why it is not consistent across browsers?

The reproduction details for the code that originated this issue are basically the same:

open https://out-ewgbaypiah.no

[2017-07-03 12:51] iest commented on #1353
I think the real solution to this would be to opt-out of next.js's request handling — that there would be an API to extract a response `body` (and perhaps `headers`?), so it could be used in various server configurations.

So you'd have the entire next.js rendering pipeline but it simply wouldn't send the response.

[2017-07-03 16:34] Kielan opened #2450 "npm run build throws multiple errors field browser doesn't contain valid alias configuration"
npm run build throws multiple errors including:

nModule not found for all top level file paths
the output is very ugly with whitespace slashes in the console output.

Field \'browser\' doesn\'t contain a valid alias configuration.

on the nextjs examples next is able to build, err occurs only in new and currently up to date projects of the app project directory.

so I guess my question is, why is

[2017-07-03 18:55] rgbkrk opened #2452 "Ability to set BaseURL on call to next()"
I'd like to be able to host a next.js app on it's own base path (e.g. `/some/base/path/` - on a configurable http proxy). This is primarily for use with [JupyterHub](https://github.com/jupyterhub/jupyterhub) to run as a separate service (on e.g. `/services/nextApp`). I've gotten everything to work for the express app (that uses next handlers underneath) as well as the frontend's handling of the pa

[2017-07-03 19:07] briva commented on #1458
https://owls.co ;)

[2017-07-03 20:08] mike3run opened #2453 "componentDidMount is not triggered on inner components"
[code]

Everything stays in loaded false state probably because componentDidMount never gets triggered, my folder structure is

- pages -> index.js
- components -> example.js

Running on latest version of next.js

Is this behavior intended?

[2017-07-03 21:07] nathanqueija opened #2454 "Faied to fetch when changing route via <Link /> component"
Hello, I get the error: failed to fetch when I change the route via component <Link />
If I go straight on the route where I use the getInitialProps function to make an http call I do not get the error, however if I navigate in the route via Link I get this error.

[2017-07-03 21:13] nathanqueija commented on #2454
This is happening because of CORS:
No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin is therefore not allowed access. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS disabled.

But if I navigate directly to the route without the Link component I don't get this error.

[2017-07-03 21:15] tashburn opened #2455 "Data-fetch using isomorphic-fetch (per the example) doesn't include cookie on server."
Here's the data fetch example: https://github.com/zeit/next.js/tree/v3-beta/examples/data-fetch

When there is a cookie, that cookie is part of the request as seen from the server _only_ when the fetch is a browser-side (non-SSR) fetch.

When fetching during SSR, the cookie is not part of the request that the server sees.

I expect the cookies to be available on the server (to Express routes) isom

[2017-07-03 21:52] kv9991 commented on #2455
What the client you using for fetching?
Did you try Axios? Because I have the same problem with isomorphic-fetch

[2017-07-03 22:05] pietrasiak commented on #1888
@arunoda great! I think this issue can be closed now.

[2017-07-03 22:14] kv9991 commented on #2142
You should use componentWillReceiveProps. Add your URL query as argument in your fetch function then you can use it twice:
[code]

[2017-07-04 00:05] mattfysh commented on #2454
@nathanqueija I'd say this is because when you navigate directly to the URL, the page is rendered on the server where the CORS restrictions do not apply.

[2017-07-04 00:09] nathanqueija commented on #2454
Thanks for your response man.
I am a newbie in this server side thing, do you know a workaround for this?
Because I want to execute getInitialProps when the user navigate directly to the URL.

[2017-07-04 00:11] mattfysh commented on #2454
@nathanqueija if you own the endpoint, add the required CORS headers to it. Otherwise you need to route the request via an endpoint on the server. Take a look at the "Custom server and routing" section of the docs. Cheers  :)

[2017-07-04 00:12] nathanqueija commented on #2454
Ok, man. I'll do it. Thanks for your attention.

[2017-07-04 00:12] #2454 closed

[2017-07-04 02:19] tashburn opened #2457 "Why split the Next server and a websocket server in a production environment?"
If there's a better place to ask this question, please let me know.

In [this example](https://github.com/zeit/next.js/tree/v3-beta/examples/with-socket.io), it says

Why?

[2017-07-04 02:54] mattfysh commented on #2152
@bookercodes @timneutkens are you setting `res.finished = true` after you've sent the response? e.g.

[code]

[2017-07-04 03:46] sergiodxa commented on #2457
Because React render synchronously server side, if you have both services in the same app every time a user access to your app it's going to use the whole node app to render and the websocket it's not going to work in real time.

Also if you have your next app, your api and your websocket server as different services you can scale them individually as you need.

[2017-07-04 03:51] sergiodxa commented on #2453
It's not intended, and in fact Next.js should not be affecting that, can you provide a repo to reproduce it? I think something else it's wrong 🤔

[2017-07-04 06:56] #2457 closed

[2017-07-04 06:59] timneutkens commented on #1458
@briva Nice!!

[2017-07-04 08:21] nantaphop opened #2458 "Window reload after navigate to new page on dev: Hard reloading due to no default component in page: /../../manifest"
This problem only occurred in `next` dev only. `next build` then `next start` will not have this issue

Let say I start `next dev` then I go to Page A.
Next, I click on link to  Page B. This time next.js log say Building Page B
Then, log said Build Finish and Window Reload but I still on Page A.
Lastly, click on link to Page B. this time I can go to Page B.

Following client log might help.
[code]

[2017-07-04 08:28] timneutkens commented on #2452
Duplicate of https://github.com/zeit/next.js/issues/257

[2017-07-04 08:28] #2452 closed

[2017-07-04 08:29] almeynman commented on #544
A good approach is [here](https://github.com/iaincollins/nextjs-starter)

[2017-07-04 08:38] arunoda commented on #2458
@nantaphop you are using a pretty old version of Next.js beta.
Use the latest beta.

[2017-07-04 08:56] nantaphop commented on #2458
@arunoda oh, updated and solved

[2017-07-04 08:56] #2458 closed

[2017-07-04 10:08] grundmanise commented on #1788
@AugustinLF thanks! That did the trick!

[2017-07-04 10:40] jedrichards opened #2459 "Scroll position gets reset after setting on Safari"
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues) of this repository and believe that this is not a duplicate.

## Expected Behaviour

When navigated using `<Link scroll={false}>` the component below should restore the saved scroll position when the component mounts.

[code]

## Current Behaviour

The code works on latest Chrome (macOS) and Edge (Windows 10), but fails on

[2017-07-04 10:46] bookercodes commented on #2152
No, I'm not. I can't remember off the top of my head, but doesn't `res.redirect` do that automatically?

[2017-07-04 10:50] mattfysh commented on #2152
@bookercodes `res.redirect` will set the 301 status code, write the location header and end the response. However `res.finished` is a next.js construct only, that tells next.js you have handled the entire request/response lifecycle in `getInitialProps`, so that it knows not to continue writing to the response.

See https://github.com/zeit/next.js/blob/87e01f681bc2d82e59ee30c026180d6984157a34/serve

[2017-07-04 11:26] timneutkens commented on #2152
@mattfysh does that mean doing that works? 😄

[2017-07-04 11:31] mattfysh commented on #2152
@timneutkens yea this is working for me now :)

[2017-07-04 11:32] timneutkens commented on #1527
I'm +1 on implementing prettier + xo like all other ZEIT projects. For consistency, and there's a lot of PRs that had a failed build cause of style stuff prettier catches 👍

[2017-07-04 11:32] timneutkens commented on #1527
cc @rauchg

[2017-07-04 11:40] timlind opened #2460 "No router found"
On Safari the page loads and subsequent transition gives fails giving an error in dev console "No router instance found. You should only use "next/router" inside the client side of your app."

![screen shot 2017-07-04 at 1 34 49 pm](https://user-images.githubusercontent.com/237741/27828723-feed00e8-60bd-11e7-9d1c-3ac815b16bd5.png)

- [x] I have searched the [issues](https://github.com/zeit/next.js

[2017-07-04 11:45] Sly777 commented on #2384
On the last versions of next.js-styled comp-babel styled comp, There is no problem. I tried on my package (https://github.com/Sly777/ran) and It works without getting error. FYI, @arunoda :)

[2017-07-04 12:06] IhostVlad commented on #1939
Is there any way for disable disposing pages or set it count to infinite? Yes, it can potentially affect memory usage, but I want to disable it unconditionally.
Any solution, except implicit next.js library code patching, is appropriate. Thanks in advance.

[2017-07-04 12:11] IhostVlad commented on #2341
Is there any way for disable HMR at all? Maybe building bundles at first run and then don't touch it anyway. Unfortunately, preliminary build and run in production mode is not applicable.
Any solution, except implicit next.js library code patching, is appropriate. Thanks in advance.

[2017-07-04 12:12] IhostVlad commented on #1109
Is there any way for disable HMR at all? Maybe building bundles at first run and then don't touch it anyway. Unfortunately, preliminary build and run in production mode is not applicable.
Any solution, except implicit next.js library code patching, is appropriate. Thanks in advance.

[2017-07-04 12:15] bookercodes commented on #2152
Oh wow, good to know.

Will test this this afternoon :)

[2017-07-04 12:35] timlind opened #2461 "with-apollo fails to build"
Following instructions on with-apollo example on master (v2.4.6) fails to build.

- [x] I have searched the [issues](https://github.com/zeit/next.js/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

Should build and run.

## Current Behavior

{ Error: ./components/App.js
Module not found: Error: Can't resolve 'next/node_modules/styled-jsx/style.js' in '/La

[2017-07-04 12:39] nathanqueija commented on #1924
@burgerzzz Did you get it to work? Do you have an example? I am facing the same situation.

[2017-07-04 13:04] sedubois commented on #1939
@timneutkens could maybe comment on why this was closed?

[2017-07-04 13:08] nathanqueija commented on #1924
Dude, I understand what's going on. When the page is loaded directly into the url the page is rendered on the server and so it does not suffer with the sandbox restrictions that the browser has. When we browse via Link the page is rendered on the client side that suffers with the browser sandbox constraints. The solution is to enable CORS in the backend as they spoke here.

[2017-07-04 14:56] dmmz commented on #1326
When running in production mode with 'next start', custom routes in the server side do not work. It seems it ignores server.js.

This is the case even in https://github.com/arunoda/learnnextjs-demo.git. Where urls like http://localhost:3000/p/hello-nextjs won't work from the server side.

If we run the run in production mode with 'NODE_ENV=production node server.js', custom routes work fine.

[2017-07-04 15:04] reel commented on #1326
The reason is `next start` only runs the next.js part..

You should `next build` then start with `NODE_ENV=production node server.js`

You can also trigger the build programmatically from `dist/server/build`

[2017-07-04 18:13] timneutkens commented on #2384
Awesome @Sly777 so we can close this? Or does anyone want to confirm that it's fixed 👌 We might have to update the example 🤔

[2017-07-04 18:15] timneutkens commented on #2152
Amazing. TIL 😲

[2017-07-04 18:28] timneutkens commented on #2152
Documented here https://github.com/zeit/next.js/wiki/Redirecting-in-%60getInitialProps%60

[2017-07-04 18:28] #2152 closed

[2017-07-04 18:30] timneutkens commented on #1939
@sedubois inactivity. I went through all inactive issues.

[2017-07-04 18:32] timneutkens commented on #1326
@reel FYI https://github.com/zeit/next.js/issues/1326#issuecomment-283563364 has been fixed 👌 If there is no build it'll show a warning when using custom server to 😄

[2017-07-04 19:25] timneutkens commented on #2461
@timlind I can't reproduce this 🤔

[2017-07-04 19:37] Cinamonas commented on #2384
@timneutkens, I've just upgraded to the latest beta, removed my `styled-jsx` out-out code and everything seems to be working 🎉

[2017-07-04 20:31] nathanqueija commented on #2208
Hi, I created a gist with my custom server with express that is causing this:

https://gist.github.com/nathanqueija/6273c245f2b46a2417dafa21b7df7692

[2017-07-04 20:46] timneutkens commented on #2455
You'll have to manually pass the cookies off (reading from req) and pass them to axios / isomorphic-fetch

[2017-07-04 20:46] #2455 closed

[2017-07-04 20:49] timneutkens commented on #2460
@timlind I can't reproduce this.

[2017-07-04 21:13] timneutkens commented on #2453
I'll re-open when there's an example to reproduce.

[2017-07-04 21:13] #2453 closed

[2017-07-04 21:15] timneutkens commented on #2450
I just saw this happen to someone else too. It seemed like he installed `react` and `react-dom` version 16 alpha/beta. Could you check that? 😄

[2017-07-04 21:15] #2450 closed

[2017-07-04 21:19] timneutkens commented on #2441
Without a reproduction we can't really fix it :/

[2017-07-04 21:28] mike3run commented on #2453
Thanks, I'm trying to make the example as minimal code as possible 😢

But basically im using dotenv and also next-routes with some getInitialProps maybe its too much stuff in the mix??

[2017-07-05 02:14] pueue commented on #2334
@mattfysh How can I reach inside of `MyError` when a error is thrown on client side?

I add `res ? console.log('server side error') : console.log('client side error');` in `getInitialProps`, but I can get 'server side error' only.

When client side error thrown, Sentry get the error. But I think this is not related with `MyError`.

[2017-07-05 03:55] mattfysh commented on #2334
@pueue how are you navigating to the page? If you're doing full page refresh/load of the page, you'll get the server side error. To trigger the client-side error, you need to navigate from another page, to the page with the error, using a `<Link>` or similar.

[2017-07-05 04:59] arunoda commented on #2447
I don't like passing initial props from the client side. But you can do the same with query params. Use `getInitialProps` to convert them as props.

With that, we don't need to introduce a new API.

[2017-07-05 04:59] #2447 closed

[2017-07-05 05:10] arunoda commented on #2459
I'm quite not exactly sure why that's happening. It seems like images are loading (or rendering again) and that's completing after the `componentDidMount`.

I'm quite not sure who's responsible for this issue.
But you can do something like this:

[code]

I don't think there's something we (Next.js) can do about this.

[2017-07-05 05:10] #2459 closed

[2017-07-05 05:11] arunoda commented on #2459
BTW: Thanks a lot for using the issue template. That's the best help you can do about this.

[2017-07-05 05:15] arunoda commented on #2460
I think this has to do with something used in your app. Could you send us a reproduce the bug into a smaller repo. We can't see this in our apps.

This could only happens, if you've two versions of Next.js in your app.
That's possible, if you are using a module which depends on `next` inside it.
If so, ask that module owner to use a peerDependency for `next`.

[2017-07-05 05:15] #2460 closed

[2017-07-05 05:16] arunoda commented on #2460
Please reopen, when you've the minimal sample repo.

[2017-07-05 05:17] arunoda commented on #2384
Awesome. Let's close this then.

[2017-07-05 05:17] #2384 closed

[2017-07-05 07:23] hank7444 opened #2465 "webpack.DefinePlugin is not working on next.config.js"
# next.config.js
![image](https://user-images.githubusercontent.com/4727090/27853502-7e0434b4-6195-11e7-82c3-fa045822bd6e.png)

# pages/index.js
![image](https://user-images.githubusercontent.com/4727090/27853513-87341234-6195-11e7-941a-62fabbb49316.png)

# result
![image](https://user-images.githubusercontent.com/4727090/27853537-9d020c9c-6195-11e7-8c78-30b35e233159.png)

Does it mean I lost some

[2017-07-05 07:49] timneutkens commented on #2465
Please see https://github.com/zeit/next.js/tree/v3-beta/examples/with-universal-configuration

[2017-07-05 07:49] #2465 closed

[2017-07-05 07:52] pueue commented on #2334
@mattfysh This is a example.

[code]

When I change something in `TextField`, a error is thrown and sentry catch it.
But when I click `Link`, a error is thrown and sentry cannot catch it.

Can I see your sample code using what you suggest? I need a help.

[2017-07-05 08:10] ndelangen opened #2466 "Exmple how to render breadcrumb serverside?"
I'm interested in printing or gaining access the current path for rendering a breadcrumb serverside.

I've tried gaining access to the current route via `'next/router'` but it's a client-only package?

How would you suggest to do this?

[2017-07-05 08:21] jackmatrix opened #2467 "Error when i'm trying to deploy nextjs on cloud functions"
I am trying to make nextjs works together with firebase cloud functions.

When i am testing locally, there is no problem my app works perfectly.

However when i am deploying there is an error related to this line

`const app = next({ dev : false })`

When i put this line, my functions cannot be deployed and i get this message

`Deploy Error: Function load error: Error: cannot communicate with func

[2017-07-05 08:35] timneutkens commented on #2466
@ndelangen the url is provided in getInitialProps. After v3 we're going to add a HOC which allows you to get the route on server/client side https://github.com/zeit/next.js/pull/2352

[2017-07-05 08:36] notrab commented on #2466
You could use `props.url.pathname` to do this. There is a PR open #2352 for a withRoute HOC which may help you when that merges 😎

[2017-07-05 08:49] coluccini commented on #2208
If you go straight to the url everything renders ok? If yes, it is probably a client side issue. Can we see clients code?

[2017-07-05 09:09] jonaswindey opened #2468 "Babel polyfill doesn't seem to be injected"
I'm trying to support IE11 for my app to fix the error
`TypeError: Object doesn't support property or method 'find'`

Using next `2.4.6` but also not working on latest beta

Added a custom .babelerc together with `babel-preset-env` with the following config:

[code]

Enabled the debug flag so on startup I get the following log, which seems to mean that the polyfill are added.
[code]

However, at r

[2017-07-05 09:27] jonaswindey commented on #2468
Sample project @ https://github.com/jonaswindey/next-polyfill-bug

[2017-07-05 09:57] hank7444 opened #2469 "Can't get protocol in server-side rendering"
Hi All!

My question is i need to get origin dynamically,
I try `req.headers` and I got:

![image](https://user-images.githubusercontent.com/4727090/27859338-043917ba-61ab-11e7-88e0-507b09f612c8.png)

Yes!,  I got host, but I also need the protocol, which needs to concat with host to create new api path. I browsed All req properties but I got nothing. Have any good idea? thx a lot!

[2017-07-05 10:09] quentin-sommer commented on #2469
I think next use the express request so you should find it here: http://expressjs.com/fr/api.html#req.protocol

[2017-07-05 10:10] timneutkens commented on #2469
@quentin-sommer we don't use express.

[2017-07-05 10:36] quentin-sommer commented on #2469
Well that's my bad!

[2017-07-05 11:14] jonaswindey commented on #2468
The only fix I have is adding a custom layout.js and adding `<script src='https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.23.0/polyfill.min.js' />`

[2017-07-05 11:23] cezerii opened #2471 "how to connect to database example ?"
hi ,Tell me about the next js database connection architecture and And need show by example ?

[2017-07-05 11:39] timlind commented on #2461
@timneutkens are you building with next v2.4.6 or latest, I see on the master branch the dependency is still set to "latest" which is 3 correct?

[2017-07-05 12:18] #2466 closed

[2017-07-05 12:50] nathanqueija commented on #2208
Yes, it works if I go straight to the url.
Ok...
Here I have a Link component with a button (provided by MaterialUI):
https://gist.github.com/nathanqueija/ddbadc374999298ad9b266ded9352ec8

And, at home page I have this button:

`<ButtonWithLink label="Communication" link="/talkwithus/handle/communication" />`

This button redirects to "http://localhost:3000/talkwithus/handle/communication" when cl

[2017-07-05 12:55] quentin-sommer commented on #2469
@hank7444 I dug in the req object, it has `_parsedOriginalUrl` and `_parsedUrl` fields which are both of type `Url`. The structure is as follows:
[code]

I tested it only on localhost and as you see most of the fields are blank... I don't know if it's because I use a wrapper Expressjs server that calls next or if it's because of the localhost. Maybe you'll get what you want here

[2017-07-05 13:10] coluccini commented on #2208
Based on `ButtonWithLink` code link prop should be only the page you are pointing to `talkwithus` and the rest should be pass to `params` as object `{operation slug: 'handle', slug: 'communication'}`
[code]
This would take to the url `/talkwithus?operation=handle&slug=communication`
To take the user to `/talkwithus/handle/communication` you should add the `as` props to `Link`, having something lik

[2017-07-05 13:42] eliot-akira commented on #2413
In my case, using `<style jsx global>` for the stylesheet results in this:

[2017-07-05 13:46] eliot-akira commented on #706
I'd love to see this feature implemented. As @philcockfield mentioned, it's a common scenario to build up a library of modules that depend on Next.js transpilation, and it'd be great to be able to share components among projects.

[2017-07-05 13:54] corydeppen opened #2472 "Using Head and Link components with TypeScript"
The with-typescript example [mentions](https://github.com/zeit/next.js/blob/v3-beta/examples/with-typescript/README.md) the following about using the `Head` and `Link` components with TypeScript:

[code]

While I have sporadically seen an error using these components, I was wondering if there is/will be an effort to prevent having to write these workarounds in the future. As someone who's evaluati

[2017-07-05 14:08] nathanqueija commented on #2208
Hi @coluccini!
But in this case I'll be redirected to the same page that i was: /talkwithus
I'd like to be redirected to another page when I navigate to "/talkwithus/handle/communication", that is why I do this on the server side:

`server.get('/talkwithus/:operation/:slug', (req, res) => {
      return app.render(req, res, '/talkwithus/template', req.params);
    })`

[2017-07-05 14:13] coluccini commented on #2208
`/talkwithus` is the base route or a page? in `link` you should pass the next.js' page you want to show (by default they are inside `/pages`) then in `params` pass the params you need to use inside that page and in `as` the url you want to show to the client on the url bar.

Can you set up a small repo to look up so I don't need to make that many assumptions?

[2017-07-05 14:14] impronunciable commented on #2310
@korneel this is the code https://with-amp-hiwywerbxd.now.sh/_src
and the next version is `2.1.1`. I'll take a look using next 3

[2017-07-05 14:16] nathanqueija commented on #2208
/talkwithus is a page

If I go to "/talkwithus/handle/communication" that is not a page I'd like to be redirected to "/talkwithus/template"that is a page.

I'll provide a repo with this piece of code.
Thanks for your attention, man.

[2017-07-05 14:22] vanniewelt opened #2473 "Q: How to execute code client-side only"
I have a callback route in my application that receives access token from auth process in URL hash fragment. I'd like to parse it and save into redux store. I used to get it through `window.location.hash` before I switched to next, but this is not available when page renders server-side (also the hash fragment apparently isn't sent to server, so I can't parse it there).

Is there any way to restri

[2017-07-05 14:26] impronunciable commented on #2310
I see the issue. Besides the `charSet` that I'll update there is a bigger issue with the `Head`. If we change `Head` for `head` then the components are not capable of setting important tags like the page title. This is because of the preloaded scripts automatically injected

[2017-07-05 14:43] aga5tya commented on #2473
Dynamically imported Async component loads on client and you can put all client side logic there.

Also ComponentWillReceiveProps lifecycle will receive request in props while at server side.
Can put check if this variable exists and inject your client code.

If the lib needs window variable, i suggest you use Dynamic imports, works well for me.

https://github.com/zeit/next.js/tree/v3-beta/exampl

[2017-07-05 16:00] rgbkrk commented on #2452
Sure enough, thanks.

[2017-07-05 16:27] emattias opened #2474 "No source maps for server side execution"
When outputting `debugger` keywords in my code and connecting my IDE to the node debugger it is breaking in the compiled code, not the uncompiled code. Sourcemaps are stripped from custom codes/pages/etc.

The commons.js and main.js files follow the sourcemaps settings (`devtool: cheap-module-eval-source-map` in webpack settings by default)

Could this be related with the custom babel setting that

[2017-07-05 18:14] giuseppeg commented on #2413
@timneutkens correct, styled-jsx transpiles only exported js strings/template literals.
Maybe with something like webpack raw-loader you can make it work but afaik only client side code gets bundled via webpack so it won't work for SSR.

@eliot-akira in your case the error could be due to the fact that you don't import the `stylesheet`.

[2017-07-05 18:40] timneutkens commented on #2452
🙌 there's some solutions in that thread :)

[2017-07-05 18:42] timneutkens commented on #2473
You can also use the `componentDidMount` lifecycle method of React. It's not called server side.

[2017-07-05 18:42] #2473 closed

[2017-07-05 18:44] timneutkens commented on #2413
@giuseppeg thanks for the confirmation 👌

[2017-07-05 18:45] timneutkens commented on #2472
Tracked here: https://github.com/zeit/next.js/issues/2391

[2017-07-05 18:45] #2472 closed

[2017-07-05 18:49] timneutkens commented on #2467
Duplicate of https://github.com/zeit/next.js/issues/2017. TLDR: I wouldn't use it cause it causes overhead on each request.

[2017-07-05 18:49] #2467 closed

[2017-07-05 18:51] timneutkens commented on #2474
I believe fixing https://github.com/zeit/next.js/issues/2285 will fix this too. Lets track it there 👌

[2017-07-05 18:51] #2474 closed

[2017-07-05 18:54] timneutkens commented on #2469
It's safe to assume it's always `http` and the SSL termination has to be done by a reverse proxy like Nginx. These set the `X-Forwarded-Proto` header which you could use.

[2017-07-05 18:54] #2469 closed

[2017-07-05 18:56] sergiodxa commented on #2471
Next.js it's only your frontend, you must have an API service who connect to a database and your Next.js app consume that API via HTTP requests.

[2017-07-05 18:58] #2471 closed

[2017-07-05 18:59] timneutkens commented on #2468
@arunoda We've seen this before right 🤔

[2017-07-06 00:46] trandainhan commented on #153
This is bit overwhelm for new people reading through the whole discussion. I decided to implement the very basic authentication at here. Only 2 pages (index, login), and a custom server
https://github.com/trandainhan/next.js-example-authentication-with-jwt

Basically, we have a authentication middleware in server to check token in header of every request. The jwt-token will be store in cookies. I

[2017-07-06 02:59] tashburn commented on #2457
@sergiodxa thanks

[2017-07-06 03:02] tashburn commented on #2455
@kv9991 what do you mean by "client"?

@timneutkens thanks. i'll see if i can find out how to pass them to isomorphic fetch -- hopefully as a callback, because they may change, and isomorphic-fetch always needs the latest.

[2017-07-06 05:53] cmwd opened #2476 "Route cancellation"
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

A method in router API that allows aborting upcoming route change.

## Current Behavior

Right now router exposes `abortComponentLoad` method but it seems to be designed only for internal use and it doesn't work if it's called in `routeChang

[2017-07-06 09:06] jferrettiboke commented on #1942
Good approach @kennylavender but I don't think it is good enough, because you aren't rendering `href` attribute (you are using `onClick` event instead). So... How good is this approach for SEO? Other alternatives?

[2017-07-06 09:11] kitze commented on #512
@hexsprite how did you do integrate react-webfont-loader with next.js? I get an error that ```window``` is undefined?

[2017-07-06 13:45] kennylavender commented on #1942
Its just an example you should take it further. You can and definitely should add a href attribute ontop of the code I posted. Take a look at how the nextjs/link is implemented to get an idea of how to do that.

[2017-07-06 14:43] luisherranz opened #2480 "Bundle different modules into a single chunk"
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

Users should be able to bundle different modules into one final chunk.

For example, users importing component `hello1.js` and `hello2.js` may want to import both modules at the same time:
[code]

## Current Behavior

Webpack 3 allows you to

[2017-07-06 15:20] sbking commented on #153
@trandainhan Could you add a POST endpoint that uses a secret token to prevent CSRF attacks?

[2017-07-06 16:34] jedrichards commented on #2459
Hmm, I was assuming since Next.js is playing with the scoll position a bit in the `<Link />` component it might be framework related. I'll try your approach ...

[2017-07-06 17:38] Dru89 opened #2484 "Enhancement: Types on DefinitelyTyped"
Hey guys!

I noticed that, while you had a typescript example, none of the modules that you provided had types written for TypeScript.  I took some time to read through most of the code at a high level and gleaned what I thought the expected "public-facing API" was from it.

If you have some time to review, I'd love for someone to look at DefinitelyTyped/DefinitelyTyped#17781 and make sure that I

[2017-07-06 20:41] thebetterjort commented on #484
[Next.JS with Ant design example](https://github.com/zeit/next.js/tree/v3-beta/examples/with-ant-design)

[2017-07-06 22:04] fabe commented on #2292
I have this issue as well, except when client-side caching is disabled. Seems like the props don't update. Did you find a solution?

[2017-07-07 03:49] Sotorin opened #2486 "Hard refresh needed when HMR expected"
This is very simple react component run from 'pages/index.js' (sorry, but I don't know why the code is not formatted properly in this example).

If I change input value to, say, 'click Me' then the page is HMR'ed and changes are immediately reflected in the browser. However, if I change `console.log` in the `handler()` to, say, 'some other message' then changes are not reflected in the browser and

[2017-07-07 03:55] tashburn opened #2487 "Slow "> Building page:""
In dev mode, Next takes 26+ seconds to build a page for me.

` DONE  Compiled successfully in 26253ms`

This has become a major pain during development, each time I change code.

I presume this is because I have lots of npm packages (48), or they are large/complex.

Do others experience this?

Can anything be done to speed this up, besides removing packages?

[2017-07-07 04:02] arunoda commented on #2486
Use a normal class method like this for the `handler`

[code]

react-hot-loader doesn't work well with function defined as class variables.

[2017-07-07 04:02] #2486 closed

[2017-07-07 04:03] arunoda commented on #2487
Use the webpack analyzer and see what are the packages in your app: https://github.com/zeit/next.js/tree/v3-beta/examples/with-webpack-bundle-analyzer

You may be using some server side NPM modules or some unwanted modules.
Try to get rid of them.

[2017-07-07 04:22] japesh opened #2488 "Is it possible to define routes as in react-router"
Hello everyone,
I have just started to use nextJS.
I am trying to move forward and backward between pages using animation.
But since whole page renders every time i loose track of whole DOM.
Is their any way to implement shallow routing as in react router, that is rather reloading whole page we can define routes to load or reload only specific part of page.

[2017-07-07 04:23] arunoda commented on #2480
Yes. This is a good feature. This doesn't work with Next.js because we have a our own implementation for dynamic imports.
(On top of webpack's `require.ensure`. That's for SSR purpose)

But I'd like to take this in near future.

[2017-07-07 04:24] arunoda commented on #2488
Sorry. That's not possible.

[2017-07-07 04:24] #2488 closed

[2017-07-07 04:44] pueue commented on #2319
+1
code:
[code]

And I opened the index page, then console:
[code]

[2017-07-07 04:52] arunoda commented on #2468
As a hot-fix you could do this:

[code]

Let me see what's going on here.

[2017-07-07 04:59] japesh commented on #2488
Ohk, can you suggest me  any solution for it.

[2017-07-07 05:09] arunoda commented on #2468
I checked this with a normal babel app and the behaviour is the same.
You need to add the polyfill as I mentioned above.

So, I'm closing this since it's not exactly a Next specific issue.

[2017-07-07 05:09] #2468 closed

[2017-07-07 05:10] arunoda commented on #2468
But I open to more suggestions.
Feel free to re-open.

[2017-07-07 05:11] arunoda commented on #2488
Please search the issue list

https://github.com/zeit/next.js/search?q=animations&type=Issues&utf8=%E2%9C%93

[2017-07-07 06:30] tashburn commented on #2487
@arunoda Thanks.

Any idea if incremental webpack compilation is on the horizon?

[2017-07-07 07:04] mocheng commented on #2413
@giuseppeg @timneutkens  Sorry to bother you, but it does work in SSR.

With this commit https://github.com/mocheng/next.js/commit/7ac857aac79b360b95becd92a3cb3a416ddb76ac , the server-side-rendered HTML has `.foo{color:green}` in its `<style id="__jsx-style-14162456061">` tag of `<head>`.

I understand that @giuseppeg 's point is that webpack config only affects browser side bundling. But, this c

[2017-07-07 07:19] quentin-sommer opened #2492 "next seems to break text-size-adjust css property"
- [x] I believe that this is not a duplicate.

## Expected Behavior

The text-size-adjust property is part of many css reset (including normalize, check out the first selector https://necolas.github.io/normalize.css/7.0.0/normalize.css). its goal is to prevent browsers from inflating or deflating text in weird ways when the site is viewed on mobile.

This is how it should behave: https://media.gip

[2017-07-07 07:26] giuseppeg commented on #2413
@mocheng this was more like "I think that...", I was looking for someone to confirm :)

It seems that in the example webpack is doing the magic, but if it would be very cool if that works for ssr too. Have you also tried without the `global` property on the `style` tag?

[2017-07-07 07:55] arunoda commented on #2487
@tashburn we already do that.
We only compile only the page you are viewing.

BTW: Double check whether you are using the latest version of Next.js

[2017-07-07 07:57] arunoda commented on #2492
May be that's because we are rendering the app inside a div.
Anyway, we don't ship any CSS with Next.js.

[2017-07-07 08:04] quentin-sommer commented on #2492
(sorry for the close, wrong button on mobile phone)

I know we don't ship any css with next, what bothers me is that this css rule works with the official cra and nwb, it's only in next that the problem exist.

I'm going to investigate this, the issue is to keep track of the bug publicly

[2017-07-07 08:19] elrumordelaluz commented on #2492
@quentin-sommer weird, sounds like something no related to _Next.js_.

Could you deploy your example with [`now`](https://zeit.co/now) to explore the same project?

[2017-07-07 08:24] stevebluck commented on #2492
Do you have `<meta name="viewport" content="width=device-width, initial-scale=1">` in the head?

[2017-07-07 08:44] quentin-sommer commented on #2492
^ you nailed it @stevebluck

[2017-07-07 10:50] wjelen26 opened #2494 "set up jQuery as global object"
Hi,
How can i set up jQuery object as global in my app?
When I'm using: ` window.jQuery = window.$ = require('jquery')` if i go to different route like `/about` and refresh the page, then I recive the some error msg like "window object is undefined".

Or maybe some of you have some example repo with how to integrate next and materialize.css ?

Thank you.

[2017-07-07 11:11] timneutkens commented on #2494
Use https://github.com/zeit/next.js/tree/v3-beta/examples/layout-component and define it in the layout component. That should work :)