[2017-01-11 20:13] arunoda commented on #672
Okay. Now we have it via #745

[2017-01-11 20:16] #672 closed

[2017-01-11 20:29] pungggi commented on #703
hi @timneutkens
journey is not over yet, using infoerno 1.1.2:
TypeError: **instance.getChildContext** is not a function
    at createClassComponentInstance (inferno.node.js?28ef546:2088)
    at hydrateComponent (inferno.node.js?28ef546:2266)
    at hydrate (inferno.node.js?28ef546:2396)
    at hydrateComponent (inferno.node.js?28ef546:2275)
    at hydrate (inferno.node.js?28ef546:2396)
    at hyd

[2017-01-11 21:08] PetrSnobelt commented on #649
It works with `res.end()`
👍

[2017-01-12 01:33] philcockfield commented on #706
The more I use `next.js` in earnest, and build out a rich library of modules around it, the more this feature becomes important.  It's becoming a real PITA replicating the babel compilation step in my internal modules.

🚀🤖

[2017-01-12 01:57] #715 closed

[2017-01-12 01:58] #679 closed

[2017-01-12 02:58] nodegin opened #746 "Redirect to 404 page in getInitialProps()?"
As title mentioned, how can I redirect client to 404 in `getInitialProps()`?

for example, I cannot fetch results from API then the page should display "Not Found".

[2017-01-12 03:39] knipferrc opened #747 "File structure"
So I'm thinking about making the switch from CRA to next.js. One question I have is what is folder structure like for a larger app. I have a modules folder now for my pages. So for example I have a login module that has the main login component, a folder for tests, a folder for any components that login needs and a folder for the mobx store. Is this possible with next, or do I need to go about it

[2017-01-12 03:49] nkzawa commented on #747
next.js doesn't require any file structures except `pages` dir and `static` dir. You can have any folders in your app.

[2017-01-12 03:49] #747 closed

[2017-01-12 03:51] #649 closed

[2017-01-12 04:13] arunoda commented on #706
I'm working on this today :)

[2017-01-12 07:03] timneutkens commented on #703
@pungggi hmm, I'll have a look into this 👍

[2017-01-12 07:05] timneutkens commented on #740
@sedubois @arunoda just to be clear it's this app: https://github.com/RelateNow/relate

[2017-01-12 07:13] timneutkens commented on #743
@mattecapu I guess this is because of the .babelrc fallback. Can you how the `.babelrc` in your root folder?

[2017-01-12 07:51] ads1018 commented on #387
@estrattonbailey Gotcha. I imagine it will scale very well. For the initial page load, `getInitialProps` will execute on the server only. You're correct that `getInitialProps` will be executed again on the client but no data would get requested twice because `getDataFromTree` is wrapped inside a conditional that checks if we're on the server or not.

Side note - if you're concerned about initial p

[2017-01-12 08:33] nkzawa commented on #746
There is no way to render the default error page in this situation, but you can to do the following for now.

[code]

[2017-01-12 10:07] sedubois commented on #484
Is is still planned for after 2.0? Should this be reopened then?

[2017-01-12 10:30] arunoda commented on #706
@philcockfield give this a try: https://github.com/zeit/next.js/pull/749

[2017-01-12 12:05] nkzawa commented on #737
I wonder if we should support JSON files of page components too.

[2017-01-12 15:23] sarukuku opened #751 "Add an example how to add robots.txt or sitemap.xml"
There’s a closed issue related to this without a clear answer: https://github.com/zeit/next.js/issues/226

It’s kind of closed in favor of the Programmatic API so I guess I should implement that with custom server?

[2017-01-12 19:23] mattecapu commented on #743
it's all in the repo

[2017-01-12 19:27] frankalbenesius opened #752 "Error: "Warning: 'next/css' is deprecated." when importing Glamor."
The next/css deprecation warning displays even when you import your own Glamor. (BYOG).
I have no imports of next/css in my project.

<img width="1205" alt="next css warning" src="https://cloud.githubusercontent.com/assets/1828900/21904796/819ad35c-d8ca-11e6-8733-e35786595868.png">

[2017-01-12 19:31] rauchg commented on #737
@nkzawa yeah, might have to be a `next.config.js` setting in that case (which would also make things really easy)

[2017-01-12 19:34] timneutkens commented on #743
@mattecapu oh sorry, I totally missed that <3

[2017-01-12 20:02] rauchg commented on #387
Important to keep in mind `getInitialProps` gets executed on the client side *only* when transitioning with `<Link>`, not after the initial load

[2017-01-12 20:56] timneutkens commented on #752
Fixed in #754.

[2017-01-12 21:40] PetrSnobelt commented on #751
you can write clear text using component like this:
[code]
or you can use static assets with custom routing

[2017-01-12 22:31] purplecones commented on #159
@ericf so how do I get `process.env.foo` to appear on the client?

[2017-01-12 22:31] KidkArolis commented on #198
I ran into the same issue with Flynn - `next build` is executed in /tmp which then doesn't work once moved to the application location since the absolute paths look at `/tmp`.

I'm slightly confused as to why this and all related issues are closed.. Is there a known fix?

[2017-01-12 22:37] KidkArolis commented on #198
In my case, what seems to have worked is this Procfile:

[code]

Not sure that's ideal

[2017-01-12 23:09] benhjames commented on #198
Yeah, I reckon either this issue (which has more discussion in it) or #360 (which has less discussion but defines the actual problem more in detail) should be re-opened!

And yep, doing that in Procfile isn't ideal because a) you end up running the build every time you relaunch a dyno, even though it wouldn't have changed, and b) if you timeout while starting up the dyno (which happened to me!) th

[2017-01-12 23:14] benhjames commented on #198
Or, thinking about it more, could just set `NODE_PATH` while tests are running, since `next/link` for example is guaranteed not to resolve.

[2017-01-12 23:40] jetmirshatri opened #756 "Using fetch and Safari"
While developing an app I've used a custom server setup with `express` and I also used `fetch`.
I had no idea that the latest version of Safari doesn't yet support `fetch` natively and it took me a while to understand this, so maybe it's possible to add a more friendlier error message?
I ended up using `isomorphic-fetch` 💯

Error message running in dev mode (`const app = next({ dir: '.', dev: true

[2017-01-13 00:06] ooade commented on #751
Can i add an expressJS example with a JSON file served on the root route?

[2017-01-13 01:21] arunoda commented on #756
In the production, we this is the accepted behaviour. (If something happens in the server).
If you provide us a sample app, we could have a look at it.

[2017-01-13 01:46] kenji4569 opened #757 "Hot reload on virtualbox with windows folder mount"
Hot reload does not work on virtualbox with windows folder mount, probably due to disabled poll option of webpackDevMiddleware. The poll option is set to true when isWindowsBash is true, but isWindowsBash is not true on virtualbox with windows folder mount. The solution would be to allow to configure webpackDevMiddleware in next.config.js.

[2017-01-13 01:54] rauchg commented on #757
😨

[2017-01-13 02:13] PatrickWilding commented on #481
Hey, we are seeing this issue also.

[code]

next v1.2.3

[2017-01-13 02:48] rauchg commented on #481
`style jsx` is 2.0.0 beta only ;)

[2017-01-13 02:54] ooade commented on #232
@jsantana90 Quick fix (Runs injectTapEventPlugin only on the client):
`if (typeof window !== 'undefined') injectTapEventPlugin();`

[2017-01-13 05:32] rauchg opened #758 "Add rax example"
https://github.com/alibaba/rax

Impressive server-rendering performance

![image](https://cloud.githubusercontent.com/assets/13041/21919358/95d53ff8-d90e-11e6-8578-fc7b47cffc26.png)

[2017-01-13 05:53] sedubois commented on #159
@purplecones add a console.log(process.env.foo) and you'll see that it should work. If you go and inspect the source code, you'll see that it will have been replaced with console.log("FOO") (or whatever the value of process.env.foo).

You can check for webpack.DefinePlugin docs and examples elsewhere if needed.

But personally so far I've been now using (in my project https://github.com/relatenow/

[2017-01-13 06:29] arunoda commented on #232
@jsantana90 you can also create a custom document and import the module inside that.
See: https://github.com/zeit/next.js#custom-document

[2017-01-13 06:38] Chathula commented on #153
localStorage is not secure. what is the best way to make it more secure. anyone can steal localStorage data and put it again in his browser and can be logged as the victim user!!

[2017-01-13 06:44] arunoda commented on #153
@Chathula that's not true. This argument is wrong.
If anyone has access to the browser physically, they can do anything.

That's true for cookies as well.

Using localStorage for auth is kind a secure because we might get rid of cookie based sec issues.
But on the otherhand, it affects SSR.

[2017-01-13 06:46] nkzawa commented on #693
Please check https://github.com/zeit/nextgram/pull/9

[2017-01-13 06:46] #693 closed

[2017-01-13 06:49] Chathula commented on #153
@arunoda i have created login with Laravel API and Next.js Client. i store authUser access_token inside localStorage. then check user logged or not by authenticating. but it is not secure. if someone stole the localStorage data. he/she can use it.

[2017-01-13 06:51] arunoda commented on #153
How? Basically he/she should have access to the browser physically. Then that person could do anything.

So, we should not worry about that.

[2017-01-13 06:54] Chathula commented on #153
can't we use any encryption to make it much more secure?

[2017-01-13 06:57] arunoda commented on #153
@Chathula this is going off topic. It's not exactly relevant to Next.js and we want to go with how normally web stuff works.

[2017-01-13 06:57] arunoda commented on #153
@Chathula may be you could start a new thread in the above starter-project.

[2017-01-13 07:05] Chathula commented on #153
@arunoda hahha!! Thank you for info! :D

[2017-01-13 07:09] timneutkens commented on #758
@arunoda I can add it if you want 👍

[2017-01-13 07:11] arunoda commented on #758
@timneutkens got for it. I'm also hacking into that.
If you got it working, ping me.

[2017-01-13 07:11] lorensr commented on #232
@arunoda I tried that:

https://github.com/GraphQLGuide/guide/blob/repro-tap-plugin/pages/_document.js#L4-L7

On first pageload I get:

![image](https://cloud.githubusercontent.com/assets/251288/21921284/23a3f27c-d935-11e6-954e-5687fe2912fd.png)

and no error in the terminal. After saving a file, I get:

`Invariant Violation: injectTapEventPlugin(): Can only be called once per application lifecycl

[2017-01-13 07:15] timneutkens commented on #758
@arunoda sure thing, will try to do that tonight 😄

[2017-01-13 08:30] maximblack commented on #232
@ooade your solution works for me, btw, you can wrap in try catch like this:
`
try {
    injectTapEventPlugin();
} catch (e) {
    // Do nothing, just preventing error
}
`

[2017-01-13 08:38] ooade commented on #232
@maximblack That would work just as fine. Don't forget to change to multiline comments, else the last bracket gets blown off :smile:

[2017-01-13 09:02] iaincollins commented on #153
@Chathula I'm happy discuss it more in an issue the starter project if you have specific concerns.

I'd like to correct any misapprehension, to avoid people being unnecessarily alarmed.

Both sessionStorage (like localStorage and cookies without httpOnly set) is restricted via same origin policy (protocol, hostname, port number), it is not true that "anyone can steal [it]"; but yes if someone is a

[2017-01-13 10:39] slorber commented on #706
thanks @arunoda

So as commented on your PR if this does not support symlinks the feature will be a bit limited because it won't work with npm link or Lerna, but only for npm modules that are not transpiled (right? I don't see any other usecase unless you commit modules inside `/node_modules`)

Why not supporting symlinks? is it harder to support?

Also I wanted to test your branch on my app, but

[2017-01-13 11:11] arunoda commented on #758
@timneutkens I couldn't make it work. But I could get rid of error messages.
See: https://github.com/zeit/next.js/pull/759

[2017-01-13 14:40] #671 closed

[2017-01-13 14:47] lionelB opened #761 "Using a custom server ignore custom babelrc config"
Hello,

Using a custom server like the one parametrized routing and it seems that next ignore the .babelrc file at root of the project.

I use a custom `.babelrc` for babel-plugin-css-in-js and there is no css output

[2017-01-13 14:52] sedubois commented on #231
As mentioned all examples are being added to the [examples](https://github.com/zeit/next.js/tree/master/examples) folder which I think is nice.

I just still wonder then why Nextgram is in a separate repo, shouldn't it move to the examples folder too?

[2017-01-13 15:57] reel commented on #699
What was your thoughts, @arunoda ?

[2017-01-13 16:07] sedubois commented on #739
OK indeed I see that the problem is only locally, the deployed version doesn't have such a service worker when next/prefetch isn't used.

[2017-01-13 16:07] #739 closed

[2017-01-13 17:12] sedubois commented on #387
@ads1018 @estrattonbailey AFAIK there are still indeed 2 renders server-side on first page load: getDataFromTree gets executed and renders the whole tree internally, then the render is called again to construct the HTML response. Don't think if there's any way to avoid that, but I guess is still quite performant thanks to the network round-trips avoided by SSR.

I guess the performance is maximum

[2017-01-13 17:20] arunoda commented on #761
@lionelB could you work on a sample repo where we can see what's going on here.
Make sure to show us the expected result.

[2017-01-13 18:50] ads1018 commented on #740
I can confirm this issue in my [next apollo example](https://github.com/ads1018/next-apollo-example) as well. If you load the `about` page in my demo first and then navigate to the home page you'll notice a loading indicator which means that the whole page isn't getting prefetched. @sedubois perhaps it's related to using a HOCin our pages to fetch our data?

[2017-01-13 21:07] Huxpro commented on #693
@nkzawa @arunoda @rauchg

Thx guys I found @nkzawa have updated `style-jsx` part. So basically @arunoda uses `push(url, as=url)` to achieve 'universal routing' without changing code in Next, kinda cheating on `<Page>` with a crafted url. How clever! Glad to see such flexibility.

so I just removed all react imports to make it more 'next smell' since react is a implementation details, and replaced

[2017-01-13 21:09] rauchg commented on #693
Yep `as` is one of the neatest things out there. Massive simplification

[2017-01-14 00:14] rauchg opened #764 "Add __source to JSX transformation for better DX"
https://www.npmjs.com/package/babel-plugin-transform-react-jsx-source
https://github.com/zeit/next.js/blob/dbecc2a701a79b2d32d9b1ef176b7952953435cc/server/build/babel/preset.js

h/t @gaearon for the pro-tip

[2017-01-14 00:28] gaearon commented on #764
(Only in DEV) ;-)

[2017-01-14 00:28] rauchg commented on #764
#devmodegate

[2017-01-14 00:54] arunoda commented on #693
BTW: I need to thank @nkzawa for showing me this simplest solution. I was using a custom server, but it's not needed in this way.

[2017-01-14 00:57] arunoda commented on #740
@ads1018 prefetch only does JSON page prefetching.(Basically the JS code) Not data.
So, in this case loading indicator is usual I guess.

[2017-01-14 03:58] ads1018 commented on #740
Ah ok good to know. This would be a good disclaimer to add to the docs. Side note, it would be a VERY useful/cool feature to enable optional prefetching of data as well.

[2017-01-14 06:33] zapkub opened #765 "Add next build [--output directory] option ?"
Hi,

I do some custom server load with babel,
so before goto production it need to be compiled to standard javascript in another build folder and it should include .next folder.

I wonder if this option may helpful ?

This is how I manage it now

[code]

[2017-01-14 07:13] sedubois commented on #740
Yes I think it would make sense to prefetch whatever kind of page there is. And if that's not possible for some reason the doc should make it clear.

I think this prefetch is a very important feature which would also open the way to offer some kind of offline mode and low-bandwidth friendly experience. So I'm very much looking forward to adding prefetching to my app :-) especially as im working on

[2017-01-14 13:46] Maxhodges commented on #70
@matthewmueller

That's not quite right. The way routing is handled is no different from a static site. Caching is prepared at build time then the site is literally served over CDN. "etc" what?

[2017-01-14 14:20] Zaiban opened #766 "[2.0-beta.17] HMR bundle has errors: exports is not allowed in EcmaScript module"
Got the following error after updating to beta 17:

![sieppaa](https://cloud.githubusercontent.com/assets/9568791/21955517/57fa69fc-da75-11e6-9aaf-51960af73cb8.JPG)

Any clue to what might cause this?

[2017-01-14 15:01] nkzawa commented on #766
It looks this warning was added on `webpack@v2.2.0-rc.4` which we introduced on beta 17.

Actually, it seems this is a bug of webpack since these modules (`lodash-es/_cloneBuffer` etc) don't use `exports`, but just check existence of it like `typeof exports == 'object' && exports`.

[2017-01-14 15:03] nkzawa commented on #766
This is it. https://github.com/webpack/webpack/issues/3917

[2017-01-14 15:07] #752 closed

[2017-01-14 15:10] nkzawa commented on #766
Anyway, I don't think `lodash-es` properly works since you can't use it on Server Side (no webpack compilation) for now.

[2017-01-14 15:23] nkzawa commented on #765
I wonder why you'd like to move the `.next` directory since you wouldn't use it from custom server. Can you elaborate why you need to do that ?

[2017-01-14 16:53] arunoda commented on #765
Also we need to have `next.config.js` relative to the app dir. It's kind a confusing to move it to another place as well.

I suppose current way is better.

[2017-01-14 17:03] arunoda commented on #766
@nkzawa what's our plan for this?
If they didn't fix this sooner, are we going to revert back to the previous version? (Bring back our dynamic entry plugin stuff?)

[2017-01-14 17:04] arunoda commented on #758
I think we are no longer going with this. https://github.com/zeit/next.js/pull/759

[2017-01-14 17:04] #758 closed

[2017-01-14 17:11] arunoda commented on #764
@rauchg how do we identify whether we are on the dev mode or not?
If we are doing to add this our babel preset, we need a way to pass that.

CRA is doing that with an NODE_ENV. Seems like we are not depending on NODE_ENV for the build time. I think we should set it while doing `next build` and `next start`.

If so, this is so eazy to do. Otherwise, we could add it directly to the webpack config.

[2017-01-14 21:13] ads1018 commented on #387
@sedubois @estrattonbailey Correct me if I'm wrong, but we are still only rendering *once*. [`getDataFromTree`](http://dev.apollodata.com/react/server-side-rendering.html#getDataFromTree) does not render the tree, it simply returns a promise which resolves when the data is ready in our Apollo Client store. We can *optionally* render the tree when this promise resolves if you want to pass the strin

[2017-01-15 02:52] possibilities commented on #153
Maybe useful to some people I made this sample app while experimenting:

https://github.com/possibilities/next.js-with-auth

Backed by this toy backend:

https://github.com/possibilities/micro-auth

[2017-01-15 03:03] bryan opened #771 "Possible to pass state to next/router?"
With react-router I was able to do:

`browserHistory.push({ pathname: "/", state: { message: 'This is a message forwarded in a state.' } })`

Is it possible to do something like this using next/router or a way to redirect the user and also pass some value over to the new page?

[2017-01-15 03:36] arunoda commented on #771
Currently that's not possible and I don't think we'll support it immediate future.

[2017-01-15 03:37] arunoda commented on #771
But let's open this and see whether we really really need this.

[2017-01-15 03:40] nkzawa commented on #771
I think you should do this by passing query parameters.

[2017-01-15 03:42] nkzawa commented on #766
I think we don't have to revert since `import/export` statements don't work on server anyway.

[2017-01-15 04:25] arunoda commented on #766
@Zaiban FYI: You need to the normal version `lodash` instead of `lodash-es`

[2017-01-15 05:46] matthewmueller commented on #588
Actually, I'm still running into issues with this on latest beta. Doesn't seem to work properly:

[code]

[2017-01-15 06:01] nkzawa commented on #588
@matthewmueller `Link` component accepts only `href` and `as` props. You can set `className` to `a`.

`<Link><a className="link">hi</Link>`

[2017-01-15 06:02] matthewmueller commented on #588
Ahh interesting, does that do the same thing as `<Link href='...'>hi</Link>`?

[2017-01-15 06:07] rauchg commented on #588
I'm pretty sure we should deprecate `<Link>text</Link>` for 2.0. (PR welcome)
It should just be HOC so that we can statically access (and decorate) children with `styled-jsx`, but also useful for css-in-js in general

[2017-01-15 06:10] rauchg commented on #588
Also @matthewmueller that `/hi` would only apply to things like "command+tab". If what you want is to _use_ a certain page, but _decorate_ it differently in navigation, you want `<Link as>`

[2017-01-15 08:20] timneutkens commented on #756
@arunoda managed to reproduce this, it's a larger issue than only fetch. Any exception when thrown in getInitialProps will give that callstack.

`pages/index.js`:

[code]

`pages/test.js`:

[code]

[2017-01-15 09:04] arunoda commented on #756
@timneutkens So it's working fine in Chrome. Only if Safari?

[2017-01-15 10:21] iaincollins commented on #153
@possibilities Thanks Mike! As well as exposing a separate microservice that shows a nice way of handling secure pages that I was thinking might be good pragma and might take inspiration from. I have some ideas which will will raise in the next.js-with-auth repo.

[2017-01-15 10:31] timneutkens commented on #756
@arunoda seems safari gives worse stacktraces, chrome gives the same one when throwing an error with the error message. I'll have a look into it so you can focus on more pressing issues 👍

[2017-01-15 10:39] richsilv opened #773 "React "validateDOMNesting" warning appears to break component"
Thanks for all the fantastic work on this great project.  However, I think I've identified a bug.

Example repo:

https://github.com/richsilv/next-error-example

1. `npm i`
2.  `npm run dev` to observe the `validateDOMNesting` warning in the console and the fact that the button subsequently doesn't work when served by Next.
3. `npm run build-non-next` to browserify the same component, and then ope

[2017-01-15 10:45] cvpcasada opened #774 "Is there a way to add new entry points in custom webpack config?"
So Im using 2.0.0-beta.17 and trying to extend webpack config in `next.config.js` by adding a new entry point.

[code]

It seems like I'm not able to do so since `config.entry` is an async function. Is there a way for me to extend and add to config.entry?

[2017-01-15 12:24] nkzawa commented on #774
You can just create a new function like:

[code]

[2017-01-15 12:24] #774 closed

[2017-01-15 13:35] nkzawa commented on #773
It seems this is the issue of `React` since it occurs with no next.js if you do SSR.

[2017-01-15 13:50] Zaiban commented on #766
Actually I'm already using the normal lodash. Maybe this comes from a dependency? Need to do some digging.

[2017-01-15 13:58] Zaiban commented on #766
Well grepping for lodash es reveals that redux-form, react-redux and babel-plugin-lodash all have lodash-es as a dependency. Tried to disable the babel plugin already but no effect. And getting rid of redux-form and react-redux is not really a valid option at this point :/

[2017-01-15 14:17] arunoda commented on #766
@Zaiban That's a valid question.
I think we need to make issues for different upstream libraries for this.

[2017-01-15 14:25] lionelB commented on #761
@arunoda you can take look here https://github.com/lionelB/nextjs-sample

[2017-01-15 14:33] arunoda commented on #766
@nkzawa about the `lodash-es`.
I think it works fine for us.
This is how people use it.

They use it with the `module` target in `package.json`.
See how [react-redux](https://github.com/reactjs/react-redux/blob/master/package.json#L6) does it.

So, it only picks by webpack. For node, it still uses the `main` target and it works fine.
I didn't test this, but it should work fine.

[2017-01-15 14:48] balupton commented on #604
What type of static site is this command planning on exporting?

[2017-01-15 15:24] balupton commented on #604
Also, what exactly is the benefit of next exporting a static site?

From my understanding, zeit now will still wrap static sites in a node.js app (zeit serve) - and zeit now even trumps most static deployment options anyway.

[2017-01-15 16:17] #756 closed

[2017-01-15 17:25] astanciu opened #779 "How to handle hashes in URL?"
A lot of OAuth based callback urls will take the form of:
`http://site.com/login#state=123&code=123`

Is there any way to access that hash? Would be great if `props.url` had a `.hash` property (alongside `.query`)

Or is there an easier way to get this?

[2017-01-15 17:31] arunoda commented on #699
The root problem here is Webpack instance cannot find out NPM packages for it's loaders.
There are two ways to fix this issue.

### Solution 1

* Install `with-next` directly into the `main-app` once
* Then link `with-next` into `main-app`

You are good to go.

### Solution 2

Wait until this PR get merged: https://github.com/zeit/next.js/pull/778
Then run following command:

[2017-01-15 17:44] arunoda commented on #761
@lionelB actually, this is a simple path error. You shouldn't link your CSS with relative URLs. You need to do it like this:

[code]

[2017-01-15 17:44] #761 closed

[2017-01-15 17:52] arunoda commented on #740
@ads1018 your app works fine.
It just doing prefetching well.
(As I said earlier, we only prefetch JS code related the page, not any data)

[2017-01-15 17:58] lionelB commented on #761
@arunoda it seems you misread this issue.   On the linked repository, if you launch the app using `npm run server` (node server) (which used a custom server.js), the babel-plugin-css-in-js doesn't create the stylesheet file (wich is not the case when you use `npm run dev` (next)

[2017-01-15 17:59] lionelB commented on #761
SO even if there is a console message that state "Using .babelrc defined in your app root" it doesn't

[2017-01-15 18:01] arunoda commented on #740
@sedubois I tried your app (the deployed version). Prefetching works fine. (check the network tab)
But the caching tab in devtools doesn't show the response status.
Not sure, why is that?

BTW: I couldn't run your app. It needs a graphql server. Can I get a minimal repo I can test this case in more detail?

[2017-01-15 18:08] sedubois commented on #740
@arunoda how is that data prefetching then done? Could we have an example? If as a user we need to do something special about data, the doc should be updated, because it makes it sound right now like there's nothing special to do about data: "Since Next.js server-renders your pages, this allows all the future interaction paths of your app to be instant. Effectively Next.js gives you the great init

[2017-01-15 18:11] arunoda commented on #761
It worked for me well.
Here's the live version: https://nextjs-sample-ozaahbjnjf.now.sh/

I had to change this:

[code]

[2017-01-15 18:22] arunoda commented on #740
### Data Prefetching

I think Next.js is about the app infrastructure, we always want user to handle the data. Relay, Apollo and others should take care of the data logic. We know nothing about the data in your app, so we can't prefetch.

You might say, we could just call `getInitialProps()` and cache it.

That's wrong. Data could change time to time. So, doing that is wrong since we don't know no

[2017-01-15 18:23] ads1018 commented on #740
@arunoda I'm fetching data myself as you can see [here](https://github.com/ads1018/next-apollo-example/blob/develop/lib/withData.js#L15). I just figured the service worker would reach this code. Perhaps, I need to check that the execution environment is a service worker?

[2017-01-15 18:27] arunoda commented on #740
@ads1018 nope. Service Workers just don't read this code. It just download the source code.

[2017-01-15 18:28] arunoda commented on #740
I think we should write more about how Next.js works internally :)

[2017-01-15 18:34] sedubois commented on #740
@arunoda I still think prefetch should call getInitialProps. Even if the data changes meanwhile, it's a great "best guess" to instantly-render the page. And as soon as we navigate to the page, the data will be refreshed anyway because getInitialProps will be called again! Wouldn't that be the best of both worlds?

[2017-01-15 19:36] mattecapu commented on #743
nothin on this? how can I fix?

[2017-01-15 21:08] timneutkens commented on #779
@astanciu there is one major problem here. Fragments (`#`) are unfortunately never sent to the server. So if you'd do a refresh you would lose the state. There is currently no property available to get the hash. Though you could do something like this:

[code]

Then again, this will not get the hash when server side rendering.

@arunoda can you verify this? `getInitialProps` is only called once if

[2017-01-15 21:16] frol commented on #779
Browsers, by design, don't include URL hash in HTTP requests, so it is simply impossible to handle on the server side. I would just use `componentDidMount` instead of `getInitialProps`.

[2017-01-15 21:21] timneutkens commented on #779
@frol you're right, using `componentDidMount` is way better. Since it is called on frontend render, thanks ❤️

[2017-01-15 21:21] #779 closed

[2017-01-15 21:24] timneutkens commented on #719
@DarrylD @impronunciable can this be closed :thinking_face:

[2017-01-15 21:26] timneutkens commented on #80
Fixed in #423 `next build --help` `next --help`

[2017-01-15 21:26] #80 closed

[2017-01-15 21:29] timneutkens commented on #86
@matthewmueller can this be closed in favor of `_document.js`?

[2017-01-15 21:50] timneutkens commented on #88
Closing. Will re-open when needed.

[2017-01-15 21:51] zeke commented on #80
🎉

[2017-01-15 22:03] timneutkens commented on #99
Closing in favor of #106 and #387. Both are about adding graphql to next, and there has been a lot of discussion about it. Thanks for submitting the larger issue though ❤️

[2017-01-15 22:03] #99 closed

[2017-01-15 22:19] timneutkens commented on #103
The yaml error you're seeing is because next's webpack configuration doesn't include yaml files out of the box. In next.js v2.0.0 you can add them using https://github.com/zeit/next.js#customizing-webpack-config.

For your second question. v2.0.0 has a `_document.js` wrapper file where you could add the translations. https://github.com/zeit/next.js#custom-document

[2017-01-15 22:19] #103 closed

[2017-01-15 22:24] giacomorebonato commented on #607
I think that now the problem is that Next is looking only for files with .js extension in the pages folder, but with TypeScript we have .tsx

[2017-01-15 22:27] timneutkens commented on #119
Custom webpack config is now supported: https://github.com/zeit/next.js#customizing-webpack-config
@nsantini is this still an active issue? Otherwise it can be closed ❤️

[2017-01-16 00:25] arunoda commented on #743
That seems like a weird bug. Let's see.

[2017-01-16 00:25] arunoda commented on #743
@nkzawa any pointers?

[2017-01-16 00:49] arunoda commented on #743
Research Notes.

Check these two gists: https://gist.github.com/arunoda/2307c8f6535a794185726ac8d5297bf1
Seems like `data-jsx` id getting set twice.

[2017-01-16 01:21] #743 closed

[2017-01-16 02:41] mallendeo opened #785 "Animation won't run using JSX inline styles"
<img width="325" alt="screen shot 2017-01-15 at 11 32 41 pm" src="https://cloud.githubusercontent.com/assets/1578018/21969206/173048ea-db7b-11e6-8131-04ca830d2218.png">

The animation won't run since a css selector/property [can't start with a number](http://stackoverflow.com/a/449000/1625448).

[2017-01-16 02:58] arunoda commented on #635
Now we have this in the core.

[2017-01-16 02:58] #635 closed

[2017-01-16 02:59] arunoda commented on #623
I hope we could close this issue since it's not 100% related to Next.js

If so, reopen with more info.

[2017-01-16 02:59] #623 closed

[2017-01-16 03:23] noeljackson commented on #627
Has any one tried using https://github.com/istarkov/babel-plugin-webpack-loaders with success?

[2017-01-16 03:46] bryan commented on #771
I mean you can achieve a similar thing by passing in query parameters like nkzawa said, but I'd rather not pollute my the url with `http://www.example.com/?message=This%20is%20a%20long%20message%20forwarded%20to%20be%20displayed` and would rather have a state transfer like how react-router does it.

[2017-01-16 03:48] rauchg commented on #771
You can use `as` to disguise the URL

[2017-01-16 03:58] troywith77 opened #786 "mismatch BUILD_ID in multi server"
I have two server running a next program for load balancing, when I run ```npm run build``` in this two server, they generate two different BUILD_ID in their own .next dir. Then when I visit my site, the server would throw an error ```Build id mismatch! Seems like the server and the client version of files are not the same.``` do you know how to solve this problem?

[2017-01-16 05:40] #699 closed

[2017-01-16 05:42] arunoda commented on #786
In this case, you should simply run the same build as multiple instances.
Build once, then start the server multiple times.

If not, try to use sticky session, but I think above one is simple.

[2017-01-16 05:44] arunoda commented on #627
@noeljackson That should be something interesting. I'd like to play with this.

[2017-01-16 06:14] trevordmiller commented on #141
Below is my current workaround. The key part is `const isActive = window.location.pathname === route.path` which works for me, but if you have query params and such would need a bit more logic. I agree it would be nice to have this as a render callback argument from `next/link` :)

# Navigation.js
[code]

[2017-01-16 06:23] nkzawa commented on #786
Or I wonder if we can create `BUILD_ID` from a directory (maybe `.next`) then `BUILD_ID` can be a same in this situation if you have a lockfile of dependencies.

[2017-01-16 06:23] trevordmiller commented on #141
Nevermind, that doesn't work with server refresh

[2017-01-16 06:59] timneutkens commented on #141
I'm thinking it might be implemented using `componentDidMount` since it's only executed client side. I'm not sure if it's executed every route change though.

[2017-01-16 07:08] mallendeo commented on #141
@trevordmiller you can use `getInitialProps` on your top-level pages.

[code]

Then in your component
[code]

[2017-01-16 09:09] lionelB commented on #761
Thanks for the update, I was to concentrate on the generated file.
When I was testing it, css file was not present, and only appear after I edited some js file.
thanks for your help.

[2017-01-16 09:48] nkzawa commented on #785
What version of next.js do you use ? It looks `styled-jsx` is already fixed https://github.com/zeit/styled-jsx/commit/5377347e877aeb94ca74a8935922d6aa56ed4fc7.

[2017-01-16 10:18] nkzawa commented on #766
Updated webpack https://github.com/zeit/next.js/commit/da8395883c52588f572c0515ea208b5a20d773e8

[2017-01-16 10:18] #766 closed

[2017-01-16 10:27] zapkub commented on #765
@nkzawa I put next inside my project src folder `next ./src/` with KeystoneJS and it will be compiled  and ship my build folder for deployment.

Is this what it suppose to be ?

Anyway I understand your point, will figure how to manage it properly.

Thanks

[2017-01-16 10:39] arunoda commented on #786
@n8agrin What do you mean by the lockfile of deps? yarn.lock?
If we need to create consistent build ids, we need to hash all the code, static content, lockfiles and other stuff.
That's doable, but I don't think that's worthy.
Build once, run many instances would be the best approach.

As an easy fix, we could provide a way to override the build id.

[2017-01-16 10:57] nkzawa commented on #786
You meant to mention me ? :D

yep, I meant `yarn.lock` and `npm-shrinkwrap.json`.
I think we can just create hash from `.next` dir (except `.next/dist`) since we serve only results of webpack compilations using `buildId`, as far as I read `https://github.com/zeit/next.js/pull/745`.
Maybe it's not so difficult ?

Another problem of the current approach is that build artifacts would be invalidated e

[2017-01-16 11:17] nkzawa commented on #786
As another approach to generate `buildId`, we might be able to reuse `hash` or `chunkhash` of `webpack`. https://webpack.github.io/docs/long-term-caching.html

[2017-01-16 11:20] arunoda commented on #786
@nkzawa That's a pretty good one.

[2017-01-16 12:14] albinekb commented on #257
@rauchg

Maybe by using the `<Base>`tag? 🤔
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/base

[2017-01-16 13:00] mallendeo commented on #785
@nkzawa Just upgraded to 2.0.0-beta.17
After the upgrade, this is the output:
<img width="323" alt="screen shot 2017-01-16 at 9 55 12 am" src="https://cloud.githubusercontent.com/assets/1578018/21983970/7c836c52-dbd2-11e6-8fc7-5df7b3bb0001.png">

Note that `forwards` also gets prefixed.

LoadingIndicator.js
[code]

[2017-01-16 14:09] sedubois commented on #677
Would be great indeed to have a working Next-Koa example 🙂

[2017-01-16 14:31] nkzawa commented on #785
@mallendeo thanks for your feedback. I created the issue https://github.com/zeit/styled-jsx/issues/77.
I think you can define animations using non-shorthand properties like `animation-name` instead of `animation` for now.

[2017-01-16 14:57] mallendeo commented on #785
@nkzawa Thanks!

[2017-01-16 15:16] sedubois opened #791 "Hot-reloading of custom servers"
I think the custom server examples (e.g dynamic routing: https://github.com/zeit/next.js/tree/master/examples/parameterized-routing) don't hot-reload when the `server.js` itself changes. How is that done? It would be great if the example showed that.

[2017-01-16 15:25] timneutkens commented on #791
I'm guessing it's easiet to do it the usual node server way, with nodemon :smile:

[2017-01-16 16:50] #719 closed

[2017-01-16 17:09] bryan commented on #771
Well I suppose so, but if I were to use `as`, the pathname doesn't retain the actual pathname in props.url.pathname, which means more things to pass into the query. It's just _cleaner_ to have it pass the state.

I'm porting over a project to next.js and haven't run into any major compatibility problems since I found ways to refactor codes to make it work, it's just inconvenience and verbosity at

[2017-01-16 17:50] mattapperson opened #794 "static content/js bundles not working with the hapi server example"
Environment: Next beta 17, node v6.0.0, yarn 0.18.1

Expected result:
The page served serves up all static assets and the JS bundle loads into the SSR rendered page.

Actual result:
The SSR page loads, but times out on loading any static assets I add or even the js bundles for the page. No errors in the console output.

[2017-01-16 18:46] impronunciable commented on #794
Confirmed, looking at it right now.

[2017-01-16 18:57] manishbalyan commented on #183
got localstorage not found error when calling localstorage.getItem() in getInitialProps method even localstorage is set.

[2017-01-16 19:00] sedubois commented on #183
@manishbalyan `getInitialProps` is also executed server-side, but there's no `localStorage` on the server.
As pointed above, if you want to access the browser's local storage, you should do so in `componentDidMount`.

[2017-01-16 19:04] sedubois commented on #387
@ads1018 AFAIK and looking at the [Apollo code](https://github.com/apollostack/react-apollo/blob/c6e74d6ca004e5544fd607292de153458cccacd9/src/server.ts#L70), it _does_ render the tree recursively (just to trigger the Apollo data-fetching). So that's 2 renders server-side on first page load.

[2017-01-16 19:06] sedubois commented on #387
But anyway, thanks to your demo, now we have a usable integration between Apollo and Next, and remaining questions about Apollo SSR performance don't have anything specific to Next.js anymore I think. I'd suggest to ask questions about that over there.

[2017-01-16 19:21] rauchg opened #796 "Deprecate automatic insertion of <a> for <Link>"
It's an anti-pattern. I'd like `<Link>` to only be an abstract higher-order component that decorates whatever is inside

[2017-01-16 19:32] sedubois commented on #740
FYI, Gatsby 1.0 prefetches both code and data ([ref](https://github.com/gatsbyjs/gatsby/issues/419)). IMHO Next.js should too. As a user, I'd very much want that. I don't agree that Next.js "knows nothing about the data in your app", it actually explicitly created an API for it (`getInitialProps`). It can prefetch data, then refresh it when navigating to the page. (It could even in the longer term

[2017-01-16 19:35] manishbalyan commented on #183
hey @sedubois thanks for reply, but how i get server side rendering if i call for data in componentDidMount. What i am doing is i am making a rest call to fetch data and for that i need some value to be set in headers every time i call so i want that to be stored in localstorage and use it while i set my headers so that i need not to pass that value in every call. Also for authentication purpose i

[2017-01-16 19:37] sedubois commented on #183
@manishbalyan I suggest to check this thread: https://github.com/zeit/next.js/issues/153

[2017-01-16 19:46] rauchg commented on #740
@sedubois If we decide to do it, it should be explicit. For example:

[code]

Otherwise it won't scale

[2017-01-16 19:49] ads1018 commented on #740
Ooo @rauchg that would be nice. And agreed, developers run the risk of running up a user's data usage bill if the API is not explicit lol

[2017-01-16 19:55] tpreusse commented on #387
@sedubois what is a render anyhow? I'd call it walking and shaking the tree. Seems to be optimized pretty well – suppressed `setState` and no reconciliation into DOM.

[2017-01-16 20:22] sedubois commented on #740
@rauchg I think that'd be great 👍 🙂 ! And anyway if someone would want to prefetch all data, they could always alias Link.

[2017-01-16 20:27] rauchg commented on #740
@ads1018 not just that bill, but the server's data computations can be very expensive, and only meant to be executed on-demand.

[2017-01-16 21:02] #796 closed

[2017-01-16 21:29] mattapperson commented on #794
fixed

[2017-01-16 21:29] #794 closed

[2017-01-16 21:30] noeljackson commented on #627
@arunoda It seems like `babel-plugin-webpack-loaders` should work, but then  I run into an issue with loading pages and `webpack-hot-middleware-client` ... I tested this with Rauch's blog example of next.js This is the type of error I get.

[code]

[2017-01-16 21:32] #87 closed

[2017-01-16 21:33] timneutkens commented on #86
Closing. If needed you can re-open ❤️

[2017-01-16 21:33] #86 closed

[2017-01-16 21:40] timneutkens commented on #119
Closing in favor of custom webpack config. If your issue is not solved. Please do re-open this one. Or create a new one 👍

[2017-01-16 21:40] #119 closed

[2017-01-16 21:43] impronunciable commented on #177
Now we are using `styled-jsx` so you can do

[code]

The above example will also work :)

[2017-01-16 21:43] #177 closed

[2017-01-16 21:43] timneutkens commented on #686
Fixed in #691 👍

[2017-01-16 21:43] #686 closed

[2017-01-16 21:43] edygar opened #799 "Link as a StyledComponent"
The way [Link](https://github.com/zeit/next.js/blob/master/lib/link.js) is implemented right now, it's impossible to compose styles using [styled-components](https://styled-components.com) without generating `<a><a></a></a>`.

[#241](https://github.com/zeit/next.js/pull/241) would solve. Any updates on turning `Link` a behavior decorator only?

[2017-01-16 21:45] impronunciable commented on #184
#251 is here and we also have an example for `styled-components` https://github.com/zeit/next.js/tree/master/examples/with-styled-components

[2017-01-16 21:45] #184 closed

[2017-01-16 21:47] impronunciable commented on #200
Now that the webpack config can be manipulated this is possible https://github.com/zeit/next.js#customizing-webpack-config

[2017-01-16 21:47] #200 closed

[2017-01-16 21:47] timneutkens commented on #148
Closing in favor of #153

[2017-01-16 21:47] #148 closed

[2017-01-16 21:50] impronunciable commented on #234
This is addressed on #555 and #622 thanks for reporting!

[2017-01-16 21:50] #234 closed

[2017-01-16 21:52] timneutkens commented on #799
@edygar you mean `<Link href="/"><a>content</a></Link>` right?

Deprecation message has just been added in https://github.com/zeit/next.js/pull/797 👍
We're only going to support the explicit given example: `<Link href="/"><a>content</a></Link>`

Does this solve your question?

[2017-01-16 21:53] impronunciable commented on #266
You can add this babel feature through the custom babel feature https://github.com/zeit/next.js#customizing-babel-config

[2017-01-16 21:53] #266 closed

[2017-01-16 21:55] timneutkens commented on #215
Closing in favor of #25.

[2017-01-16 21:55] #215 closed

[2017-01-16 21:55] impronunciable commented on #373
Dynamic imports will be ready for next `2.1` https://github.com/zeit/next.js/pull/742

[2017-01-16 21:57] timneutkens commented on #231
@sedubois Nextgram is an example of a more complex app. Same with next-news. Closing this one ❤️.

[2017-01-16 21:57] #231 closed

[2017-01-16 21:59] impronunciable commented on #588
As @rauchg  stated we are deprecating `<Link>text</Link>` so the `className` should be applied always to the `<a>` tag

[2017-01-16 21:59] #588 closed

[2017-01-16 22:01] timneutkens commented on #220
I'm not sure if we can support this, it would be a cool project similar to nuxt.js maybe 🤔
@impronunciable what do you think?

[2017-01-16 22:04] impronunciable commented on #621
You can also just clone the repo and navigate to the folder. Closing for now, feel free to reopen.

[2017-01-16 22:04] #621 closed

[2017-01-16 22:05] timneutkens commented on #243
See #657.

[2017-01-16 22:05] #243 closed

[2017-01-16 22:10] timneutkens commented on #658
See https://github.com/zeit/next.js/pull/745. Feel free to re-open if this doesn't solve your issue.

[2017-01-16 22:10] #658 closed

[2017-01-16 22:17] timneutkens commented on #293
@rauchg new implementation for now-cli is using the [update-notifier](https://www.npmjs.com/package/update-notifier) package

[2017-01-16 22:17] timneutkens commented on #293
Implemented here https://github.com/zeit/now-cli/blob/0c2ef197adc3d5b2f9cddd6f359b326a3b132ce3/bin/now.js#L27

[2017-01-16 22:33] impronunciable commented on #677
Added example https://github.com/zeit/next.js/pull/800/files

closing this

[2017-01-16 22:45] jlcarvalho commented on #799
@timneutkens in this case the `a` don't get the styles.

[code]

Result:
[code]

[2017-01-16 22:47] impronunciable commented on #799
@jlcarvalho Yes, you should style the `<a>`:

[code]

[2017-01-16 22:51] jlcarvalho commented on #799
@impronunciable I tried, but the output was:

[code]

[2017-01-16 22:52] impronunciable commented on #799
Oh, I see. That's because the styled component is not an anchor. We are going to deprecate this behavior but I don't see a fix for this in the meanwhile

[2017-01-16 23:25] edygar commented on #799
Exactly as @jlcarvalho said.

@impronunciable, why does it matters for Link the Element.type of its first child? I think it could only provide the click behavior. Currently it's only discouraging composability.

[2017-01-16 23:42] AlteredConstants commented on #200
Is there an example for how to make this work using next.config.js? As far as I can tell, this would require overwriting at least four loaders produced by the framework (`babel-loader`, `hot-self-accept-loader`, `react-hot-loader/webpack`, and `emit-file-loader`) which those docs explicitly calls out as a bad idea and kind of defeats the purpose of the framework.

I'm fine with this not being supp

[2017-01-17 01:39] mingfang opened #801 "using websocket with next.js"
I'm trying to use websocket(SocketCluster) with next.js.
My component looks like this
[code]

This works when rendered on the client, but does not work when rendered on the server.
Is the a solution or is there a way to disable server rendering?

[2017-01-17 02:18] matthewmueller commented on #588
I'm sorry but I'm still a little confused about this. Is the idea that you'd never add an `href` the the inside `<a>` tag? Or are there cases where you'd want to?

[2017-01-17 02:20] rauchg commented on #588
We do pass down the `href` from `<Link>` to the case where you have an `<a>` child. What we're deprecating is inserting an `<a>` automagically.

You should be able to `<Link><img /></Link>` and no `<a>` is created, for example

[2017-01-17 02:22] matthewmueller commented on #588
Got it – thanks!

[2017-01-17 02:44] markthethomas commented on #791
I use nodemon for that myself =>
[code]

[2017-01-17 02:51] arunoda commented on #801
It's not a good idea to open a connection on the server. Try to fetch the same data via a HTTP endpoint on the server.

In the `getInitialProps` you'll get an object as the first argument. It has HTTP `req` and `res` objects. Based on that, you could identify it's server or client.

[code]

[2017-01-17 02:54] mingfang commented on #801
@arunoda thanks for your reply.
My use case requires websocket therefore using HTTP endpoint is not an option.
It sounds like getInitialProps() is not the right place to establish a socket connection.
Can you recommend a different way?

[2017-01-17 03:07] sergiodxa commented on #801
@mingfang use `componentDidMount` to open the WebSocket connection `componentWillUnmount` to close it. That way it's going to only be open in the client.

[2017-01-17 03:10] arunoda commented on #801
@sergiodxa is correct.
In the server, if you open a socket connection (or any subscription) there's no way to close it.

[2017-01-17 03:31] matthewmueller commented on #70
@Maxhodges take a look at https://www.netlify.com/docs/redirects/. At *some* layer in their stack there is dynamic server-side routing. The difference is that either we are managing that infrastructure or they are. Of course I'd love next.js to be managed by them.

---

In other news, if anyone would find this useful, I created a standalone module for doing what I described here: https://github.co

[2017-01-17 03:50] mingfang commented on #801
@sergiodxa @arunoda that works!
Thank you both for your help.

[2017-01-17 03:50] #801 closed

[2017-01-17 04:32] Maxhodges commented on #70
we are going with https://phenomic.io/ a modern static website generator based on the React and Webpack (can be used for non-static sites too)

[2017-01-17 06:31] matthewmueller opened #805 "Error using webpack.DefinePlugin in next.config.js"
Trying to replicate what I did in this PR: #399 in the `next.config.js`.

**next.config.js**:

[code]

Getting the following error:

[code]

I did some research and it looks like it's related to webpack-stream: https://github.com/webpack/webpack-dev-middleware/issues/66

Any ideas on how to resolve this? Seems like a pretty generic use-case.

[2017-01-17 08:15] gozes commented on #96
@rossipedia I think the same can be achieve by having your own gulp file that compiles ts files and move them to the page dir where next picks them up and reloads them right?

[2017-01-17 08:27] sedubois commented on #791
Thanks, that works 🙂

`"dev": "nodemon -w server.js server.js"`

https://github.com/RelateNow/relate/commit/5b7d8b2299beeebb77d59e0ae97ad9070ae66c1b

[2017-01-17 08:27] #791 closed

[2017-01-17 08:39] sedubois commented on #373
Does this also relate to https://github.com/zeit/next.js/issues/738?

[2017-01-17 09:37] arunoda commented on #805
It may be because we are also using the define plugin in Next.js.
Need to invest a bit more.

[2017-01-17 10:59] sedubois commented on #160
@impronunciable it would be great to have an example as after some googling I'm still confused 😃 Could this be reopened?

- @MoOx seems to imply that react-ga isn't necessary, should use [Google AutoTrack](https://github.com/googleanalytics/autotrack) instead
- but Autotrack instructs to create a script tag with code which accesses the `window` object, so that doesn't work server-side
- and anyway

[2017-01-17 11:19] impronunciable commented on #160
I can investigate this

On Tue, Jan 17, 2017, 7:59 AM Sébastien Dubois <notifications@github.com>
wrote:

[2017-01-17 11:22] MoOx commented on #160
Pretty sure autotrack is more than enough, only injected on the client side - no need to think about the server-side.

[2017-01-17 11:23] MoOx commented on #160
See https://github.com/MoOx/react-toulouse/commit/c42045d1001ab813c5d7eae5ab2f4f8c08c0025e for an example. It's not using next, but I guess it should be easy to adapt.

[2017-01-17 11:43] timneutkens commented on #160
Yeah we don't want to track server renders, Since it Will obfuscate things like location.

[2017-01-17 11:47] MoOx commented on #160
No you don't since it will be handled by the client: keep in mind that a page is request by the client and will be rendered in the client browser :)

[2017-01-17 11:56] sarovin opened #806 "addEventListener and SSR"
Hi,
I am confused about SSR & event listener.

If i have an component like this =>

[code]

The event onLoad is ignored because the component is rendered in the server side.
So, how i can use onLoad or other event listener?

[2017-01-17 12:05] arunoda commented on #806
Usually, you can't have those things in the SSR. It's only what's directly in the render function. All of the other stuff happens in the client.

[2017-01-17 12:06] nkzawa commented on #806
This happens because the image can be loaded before dispatching client scripts.
You'll need to call the listener manually on `componentDidMount` like http://stackoverflow.com/questions/39777833/image-onload-event-in-isomorphic-react-register-event-after-image-is-loaded.

[2017-01-17 12:25] sedubois opened #807 "A bad HTTP response code (404) was received when fetching the script"
When running example `head-components` locally (`yarn` + `yarn dev`), page loads fine but console shows:

[code]

<img width="805" alt="screen shot 2017-01-17 at 14 26 32" src="https://cloud.githubusercontent.com/assets/4217871/22020445/fb80e4be-dcc0-11e6-89bf-ddcddd4d3213.png">

[2017-01-17 12:32] sedubois opened #808 "componentDidMount not supported in Head?"
Something like this prints `componentWillMount` but doesn't print `componentDidMount` I think, I wonder why? Was thinking of using `componentDidMount` which only runs client-side.

[code]

[code]

[2017-01-17 12:36] sedubois commented on #808
OK, on page load `Head` is only executed server-side where `componentDidMount` isn't executed.

[2017-01-17 12:36] #808 closed

[2017-01-17 12:40] arunoda commented on #807
@sedubois may be that's because that app might using an older version of Next. (1.x.x)
That version have no support for prefetching. That's why you see that error.

Service Workers gets it's source code for every page load. You may have an existing service worker running inside your browser (from a different app runs on the same port).

That's why you see this error.

[2017-01-17 12:41] sedubois commented on #807
OK indeed, dependency is `"dev": "next"`.

[2017-01-17 12:41] #807 closed

[2017-01-17 12:43] arunoda commented on #806
@sarovin I was thinking something else and answering for that.
Yep @nkzawa is so correct.

[2017-01-17 13:09] sedubois commented on #160
OK I didn't realise the code shouln't run server-side. So I used autotrack as recommended by @MoOx, I think this should work: https://github.com/relatenow/relate/commit/50dc3f317eb3efa045d5bbe40d1a1a1ad1116458

Just haven't confirmed yet if it counts page views correctly, this is new to me 😬 😄

[2017-01-17 14:23] MoOx commented on #160
You can use "real time" view to debug GA easily.

[2017-01-17 14:28] sedubois commented on #160
@MoOx yes well that's what bothers me, I don't see anything in the realtime panel when I visit https://relate.now.sh in parallel in another tab (0 active users)

[2017-01-17 14:37] sarovin commented on #806
Thanks @nkzawa

[2017-01-17 14:51] #806 closed

[2017-01-17 16:27] timneutkens commented on #300
`next start` without a `.next` directory gives the following message in 2.0.0:
[code]

[2017-01-17 16:30] timneutkens commented on #300
As @rauchg stated it does pass when it's a dev generated `.next`. I'll have a look into fixing that.

[2017-01-17 18:38] rossipedia commented on #96
@gozes I don't see why not. I've rarely used gulp, but from what I know of it that seems like a fairly standard use case.

[2017-01-17 18:41] rossipedia commented on #200
@AlteredConstants something like this:

[code]

[2017-01-17 18:43] johnlindquist opened #810 "Error: Couldn't find preset "next/babel""
Open:
https://github.com/zeit/next.js/tree/master/examples/with-mobx

Install:
`yarn`

Run:
`yarn run dev`

Upgrade to latest next:
`yarn upgrade next`

Run again:
`yarn run dev`

Compiles with error: `Error: Couldn't find preset "next/babel"`

So something has changed between now and beta.4...

[2017-01-17 19:01] timneutkens commented on #810
`yarn upgrade next` actually installs 1.x instead of 2x beta. Please use `yarn upgrade next@beta` 👍

[2017-01-17 19:01] #810 closed

[2017-01-17 19:07] aga5tya commented on #677
The issue of serving static assets over Koa still exits on the latest master. I checked it through the example added by @impronunciable and can be reproduced.

<img width="1247" alt="screen shot 2017-01-18 at 12 32 47 am" src="https://cloud.githubusercontent.com/assets/17351163/22035484/24df85c2-dd16-11e6-8071-d91bf1e6bf2e.png">

[2017-01-17 19:20] viktorbezdek commented on #544
It's actually possible and pretty easy to process styles on server side.

**directly in node:**
[code]

**via babel register:**
[code]

**via webpack loaders:**
- ignore loader - https://www.npmjs.com/package/ignore-loader
- isomorphic-style-loader - https://www.npmjs.com/package/isomorphic-style-loader

I personally use isomorphic-style-loader as it allows me to inline critical CSS while renderin

[2017-01-17 19:36] AlteredConstants commented on #200
@rossipedia, that will only allow Webpack to recognize imported modules with a .jsx extension when the extension is excluded from the import, e.g. `import Foo from './Foo'` instead of `import Foo from `./Foo.jsx`.

In order to get Webpack to correctly process those modules, you need to (presumably) add `.jsx` to the `test` property of the loaders mentioned above. That feels a bit heavy-handed and

[2017-01-17 20:01] possibilities commented on #153
After giving some more thought I'd probably not hold my efforts above as a great example. I would likely change to having the signup/signin fully submit web 1.0 style so that we can establish an HTTP only cookie on the server (eliminating accessibility to the JWT via XSS) and then attach the user object to `req` rather than the entire token. This leaves the possibility of CSRF vulnerabilities but

[2017-01-17 20:19] rajaraodv commented on #153
@possibilities Since the 'secret' page is just a page and is bundled by webpack, wouldn't it be served to the browser if i go to /secret?

[2017-01-17 20:20] possibilities opened #811 "Allow non-GET requests to pages"
Some scenarios (e.g. sign in flow) require some pages to execute on the server and should never run on the client (e.g. submitting sign in form). If we allowed e.g. `POST` requests to pages we could do everything we need in `getInitialProps` but it _feels_ a little hacky. We might consider adding a first class escape hatch for forcing some routes on the server. Admittedly a custom server might be

[2017-01-17 20:22] possibilities commented on #153
Yeah, I suppose that should be wired to do a server-side redirect.

[2017-01-17 20:39] timneutkens commented on #303
Zeit introduced `release` which does most of the above. The only thing we'd have to do is kick in a npm publish job after a draft is published https://github.com/zeit/release

[2017-01-17 20:42] timneutkens commented on #344
Landed in v2.0.0. Closing issue. @uipoet great suggestion, I'll create a new ticket for it.

[2017-01-17 20:42] #344 closed

[2017-01-17 20:43] timneutkens opened #813 "Use milestones for releases"
Comment by @uipoet in https://github.com/zeit/next.js/issues/344:
Would it be possible for @rauchg or another maintainer to use milestones for communicating when pull requests like this one are planned to land in the npm releases? Yes, the issue is "resolved" here in the repo, but I've been forced to lock my version to 1.1.2 and manually recheck if a release has happened for two weeks and counting

[2017-01-17 20:51] timneutkens commented on #345
Looks like this issue was fixed 👍

[2017-01-17 20:51] #345 closed

[2017-01-17 20:57] timneutkens commented on #374
@asbjornenge could you try using the latest beta build? `npm install next@beta`. I've just tried using vim with hot reloading, but for me everything is updating correctly. Even after totally closing, opening again and using `:w` and `:wq` combinations.

[2017-01-17 21:21] timneutkens commented on #633
@rajaraodv Closing this for now. If it still persist please feel free to re-open the issue ❤️

[2017-01-17 21:21] #633 closed

[2017-01-17 21:43] timneutkens commented on #607
Duplicate of #96. Closing in favor of that one.
Regarding the extensions (.ts/.tsx). There is a comment about adding custom extensions here: https://github.com/zeit/next.js/issues/544 (at the bottom)

[2017-01-17 21:43] #607 closed

[2017-01-17 21:46] timneutkens commented on #603
@arunoda added a new testing setup here: https://github.com/zeit/next.js/pull/640. Can you take a look there? There's some really good concepts there 😄 Feel free to re-open if this doesn't solve your question 👍

[2017-01-17 21:46] #603 closed

[2017-01-17 21:48] timneutkens commented on #531
@ntwcklng that looks pretty neat 😄

[2017-01-17 22:05] timneutkens commented on #641
@mattapperson closing this issue for now. Feel free to re-open when you push the example repo ❤️

[2017-01-17 22:05] #641 closed

[2017-01-17 22:06] timneutkens commented on #651
Closing this based on given answers. Feel free to re-open when needed ❤️

[2017-01-17 22:06] #651 closed

[2017-01-17 22:09] timneutkens commented on #722
@ehtb could you have a look at #793 since it involves AMP 👍

[2017-01-17 22:12] timneutkens commented on #785
This will be fixed in the next beta release.

[2017-01-17 22:12] #785 closed

[2017-01-17 22:29] johnlindquist commented on #810
Thanks @timneutkens . I've always had it set to "latest", brain fart on my part :)

[2017-01-17 22:53] soulmachine commented on #484
+1 for antd

[2017-01-17 22:58] jagreehal commented on #96
So here's my attempt https://github.com/jagreehal/next-typescript

It works fine apart from the page reloading twice as I don't think there is a way to configure files NOT to be watched by the hot-reloader.

If additional ignore entries could be added [here](https://github.com/zeit/next.js/blob/master/server/hot-reloader.js#L138) via next.config.js then a solution like this might work.

[2017-01-18 01:04] arunoda commented on #603
And after 2.0, we'd like to ship a package called `test-next` (or a similar name) which allows you to test your app using the same tools we used for Next.

[2017-01-18 01:31] arunoda commented on #677
Yep it is. Here's the fix: https://github.com/zeit/next.js/issues/677

[2017-01-18 02:32] arunoda commented on #805
Hmm. I don't see this error.
May be it's related to different version of webpack is being required.

[2017-01-18 02:54] matthewmueller commented on #805
Oh that's probably it! I didn't realize webpack@2x was being used in next.js already. I'll give this another shot.

[2017-01-18 02:57] matthewmueller commented on #805
Yep, that was it. Thanks for your help!

[2017-01-18 02:57] #805 closed

[2017-01-18 03:45] #677 closed

[2017-01-18 07:17] ccorcos opened #816 "Custom anchor tag inside <Link>"
I'm checking out the code [here](https://github.com/zeit/next.js/blob/2efabde21587379677201f64085560330e536c21/lib/link.js#L70-L75) and it appears that you're enforcing an anchor tag to be the direct descendant of a `<Link>`.

I'm having an issue because I like to create a layer of indirection for all of the basic HTML tags so I can customize them:

[code]

I also want to mention that forcing a `<

[2017-01-18 07:26] timneutkens commented on #96
@jagreehal That's really cool 💯 I'll have a look into adding the ignore config option in next.config.js.

[2017-01-18 08:15] OskarKlintrot commented on #96
I made a PR to @jagreehal example to separate the ts and js. Now the ts is in `src` but is there a way to point `next` to a different folder than the root? Then the output folder for `tsc` could be `dist` instead which would make the folder structure look much cleaner!

[2017-01-18 08:48] arunoda commented on #816
In this case, use our imperative routing api via [`next/router`](https://github.com/zeit/next.js#imperatively)

[2017-01-18 08:58] nkzawa commented on #816
I think `Link` should accept any elements like `<Link><button>click me</button></Link>`. It can be a bug. I'm not sure about custom elements though.
cc @rauchg

[2017-01-18 11:48] sedubois commented on #160
I'm still not getting this... I don't get any data with the code I wrote.

All the examples I see seem to require a `<script href="https://www.google-analytics.com/analytics.js" async />` but things in the Head don't seem to be executed in the client? (my console.log aren't printed in browser console...)

An example would still be very appreciated 🙂

[2017-01-18 12:03] sedubois commented on #160
Ah, got it working by switching to react-ga 😄

https://github.com/relatenow/relate/commit/a9d2bce46e5314075af7c12bbaa0266865ff25da

<img width="915" alt="screen shot 2017-01-18 at 14 01 28" src="https://cloud.githubusercontent.com/assets/4217871/22063290/bb91e706-dd86-11e6-8d75-d091385df928.png">

[2017-01-18 12:40] ngocketit commented on #88
I'm about to port one of the existing project to Next and one of the requirements is that we need to have animation when transitioning between pages that share the same layout (with navigation & footer) but different main content. So having this is a must for the project (as required from the product owner). But if that can't not be done with the current version, I'll need to look for other soluti

[2017-01-18 12:59] L-A commented on #88
@ngocketit If you read up a, bit, there are now reliable ways to do it. Make sure to include ˋ"next": "^2.0.0-beta"ˋ for now and you should be good to go.

[2017-01-18 13:27] ngocketit commented on #88
@L-A Thank you for your reply! However, I think the custom routing trick mentioned above is still like a hack because it's still just one page. Lets say, for example, I have 3 paths: `/`, `/channels` and `/channels/:channelId` which all share the common layouts with exactly the same navigation & footer. Now I want to have a transition animation when I switch between them. With the custom routing a

[2017-01-18 13:49] impronunciable commented on #816
That's the idea. `<Link>` will be just a HoC applying an onClick event. We added a warning and will modify the behavior soon

[2017-01-18 14:08] sedubois commented on #816
@impronunciable IMHO behavior could be changed already, anyway 2.0 is major so can be breaking?

[2017-01-18 14:37] L-A commented on #88
@ngocketit Your understanding is correct, however you can make your own routing path with different pages.

In https://github.com/arunoda/nextgram, the requested paths are different routes: `/`, `/profile?id=[id]` `/photo?id=[id]`.

What you could decide to do is make the loaded app add a `frameless` argument to the supported URLs it requests, and extend your page component to return either the fu

[2017-01-18 14:53] ngocketit opened #819 "pages folder outside of root?"
Is it possible to have `pages` folder not in the project root (where `node_modules` and `package.json` reside) but, for example, inside the `src` folder at root? This is because in many projects, all the app source is put in a separate folder under root and it's logical to have `pages` folder in there as well.

[2017-01-18 15:37] knipferrc opened #820 "Add firebase example"
Anyone have any luck running firebase. I kept receiving errors that the firebase app had already been initialized. Does this have something to do with SSR? Whenever a hard refresh was done it would throw this error. I loaded my firebase config in the `pages/index.js` file and then called `firebase.initializeApp(config)`.

[2017-01-18 16:01] impronunciable commented on #819
@ngocketit This example uses firebase, it may help you https://github.com/now-examples/next-news

[2017-01-18 16:01] impronunciable commented on #820
@knipferrc This example uses firebase, it may help you https://github.com/now-examples/next-news

[2017-01-18 16:38] arunoda commented on #819
That's possible. Then you need to pass the `src` directory as your app directory. Like this:

[code]

[2017-01-18 17:08] vinceprofeta opened #821 "next 2.0 with Glamor deprecation"
```'next/css' is deprecated. Please refer to the migration```

When including glamor directly I still see this error and server rendering does not work. What is the preferred method for CSS and what do I need to include?

[2017-01-18 17:50] impronunciable commented on #821
@vinceprofeta The preferred method for css now is [styled-jsx](https://github.com/zeit/styled-jsx) and you don't need to include anything to use it, just include `<style jsx>` tags within your components.

There is an example on how to use `glamor` with `next@2` [here](https://github.com/zeit/next.js/tree/master/examples/with-glamor)

[2017-01-18 18:31] timneutkens commented on #820
@impronunciable maybe we should add an example for firebase, since it's pretty well know 😄

[2017-01-18 18:33] timneutkens commented on #819
Nice! Closing this one since it has been answered. Feel free to re-open if needed 😄 ❤️

[2017-01-18 18:33] #819 closed

[2017-01-18 18:37] timneutkens commented on #821
@impronunciable there was a bug regarding the above.  I fixed this, however it is not yet release. Will be available in the next release. https://github.com/zeit/next.js/pull/762

[2017-01-18 18:37] #821 closed

[2017-01-18 18:47] mmmeff commented on #88
Agreed with @ngocketit that the routing API is pretty hacky here. I really don't understand the reluctance to add a _layout.js that renders props.children inside of it....

KISS!

[2017-01-18 18:58] timneutkens commented on #799
Please see https://github.com/zeit/next.js/issues/816 👍

[2017-01-18 18:58] #799 closed

[2017-01-18 19:01] timneutkens commented on #765
@zapkub seems like your question is answered, I'm closing this for now. Feel free to re-open if needed ❤️

[2017-01-18 19:01] #765 closed

[2017-01-18 19:54] arunoda commented on #88
@ngocketit Yep you got some valid points here.
We are trying to accomplish lot of new/cool things with a simple way to build apps.

The way we choose routing API is thinking about all those stuff.
It work great for most of the cases, but it didn't work well for animations (and if you are need to keep react state while switching pages)

This is something we are doing to deal with after 2.0. That be

[2017-01-18 19:59] sedubois commented on #820
Yes I still think it would be quite helpful to centralize examples, now they're a bit spread around:
- https://github.com/zeit/next.js/tree/master/examples
- https://github.com/now-examples/next-news
- https://github.com/zeit/nextgram
- ?

Or at least link them all from a single place.

[2017-01-18 20:00] sedubois commented on #819
I don't see doc about this when running `next --help`:

[code]

Nor in the README?

[2017-01-18 20:49] ngocketit commented on #819
Perfect! Thank you!

[2017-01-18 21:56] jagreehal commented on #96
@timneutkens thanks. Let me know if I can help adding config option in next.config.js.

[2017-01-18 22:53] alexnewmannn opened #822 "potential extraneous div surrounding #__next"
Hey guys, so I've just started using next.js on version 1 and decided to try out version 2 tonight so I could use some of the document stuff. I upgraded and noticed, before implementing a custom document, that there is an extra div now rendering around the `#__next` element.
Below are some images of the issue:
![image](https://cloud.githubusercontent.com/assets/5321135/22086188/8a183308-ddcf-11e6-

[2017-01-18 23:28] timneutkens commented on #96
@jagreehal https://github.com/zeit/next.js/pull/823

[2017-01-18 23:29] timneutkens commented on #757
https://github.com/zeit/next.js/pull/823

[2017-01-18 23:30] timneutkens commented on #822
cc @nkzawa

[2017-01-18 23:39] SpencerCDixon commented on #273
@MarcoThePoro do you by chance have an example of how to do this properly?  I'm running into an issue where actions are getting dispatched twice :/

[2017-01-18 23:41] SpencerCDixon commented on #273
Nevermind.. got it working.  For others stuck on this here is what fixed my issue:

[code]
Might be worth it to write up a recipe for using redux saga with next.js?

[2017-01-18 23:45] timneutkens commented on #820
Might be good to add a open source example apps section. I know you did a lot of work on relate.now.sh @sedubois, nextgram is the official example app, and next-news is a side project from @rauchg, which serves as a really good example of a production app 👍. I made next-episode which is also a small sample app.

[2017-01-18 23:47] timneutkens commented on #819
@sedubois
[code]

[2017-01-19 00:12] alexnewmannn commented on #822
I can see why this is happening and might be a tricky one to fix as because it utilises dangerouslySetInnerHTML it can't have a child which means we cant have the rendering element be the `_next` element. We could move `<body>` into `Main` but then that means that `NextScript` would need to be nested within `Main` too which wouldn't be ideal. Let me know your thoughts and I can try crack on.

[2017-01-19 00:26] ccorcos commented on #816
Hmm, [wrapping `prefetch` looks easy](https://github.com/zeit/next.js/blob/master/lib/prefetch.js#L141-L150) but [Link looks like it does a lot more](https://github.com/zeit/next.js/blob/master/lib/link.js).

[2017-01-19 00:46] arunoda commented on #822
@alexnewmann Actually, we could move Next Data script to NextScript.
Then we can fix this issue.

[2017-01-19 02:52] possibilities commented on #153
BTW, I got distracted back to my initial project of signing in with github. The flow is similar with more care about security (namely not exposing any secret on the client to avoid oauth token being exposed via XSS). It's tied up in a proper app but if there's any interest I could break it out into something that could be useful for oauth flow in general.

[2017-01-19 03:43] thisbejim commented on #106
One problem is that when using isomorphic-relay [prepareInitialRender is async](https://github.com/denvned/isomorphic-relay/issues/61), which means the component immediately mounts on the client without enough info to render properly. As suggested in that issue you can get around this by faking `initialReadyState`, e.g:
[code]
And then passing that into IsomorphicRelay.Renderer:
[code]

But as the

[2017-01-19 08:37] alexnewmannn commented on #822
good shout, i'll pick this up tonight after work!

[2017-01-19 08:57] sedubois commented on #153
@possibilities I think it would be an awesome help, if there could be a PR with a most minimal (but proper) with-auth example 🙂 I'm working on auth in my app (https://github.com/relatenow/relate) but it's currently only client-side (localStorage).

[2017-01-19 09:00] sedubois commented on #820
Oh yes and there's also the examples listed in this issue: https://github.com/zeit/next.js/issues/727

[2017-01-19 12:14] manishbalyan commented on #479
i am workin with latest release of next.js but my router is not working, showing error`TypeError: _router2.default.push is not a function()`. help me how to fix it , not getting how to fix with #480 issue

[2017-01-19 12:17] timneutkens commented on #479
@manishbalyan can you make sure you're using `next@beta` instead of `next` in your project dependencies? You can check this in `./node_modules/next/package.json`.

[2017-01-19 12:33] timneutkens commented on #820
@rauchg @nkzawa @arunoda what's your opinion on adding a open projects sections?

[2017-01-19 12:33] manishbalyan commented on #479
my version is `next@latest`

[2017-01-19 12:44] timneutkens commented on #479
@manishbalyan try `npm install next@beta`, I believe the router api was added in v2.0.0 which is currently in beta.

[2017-01-19 12:50] timneutkens commented on #230
@sedubois It's been a while since activity on the issue. Can you check if it's fixed in the latest beta build? ❤️

[2017-01-19 12:59] manishbalyan commented on #479
thanks @timneutkens but i got new problem after update to beta `Cannot read property 'Component' of undefined`. any solution

[2017-01-19 13:24] timneutkens commented on #479
Can you create a new issue for that with an example to reproduce? ❤️

[2017-01-19 13:59] arunoda commented on #820
@timneutkens I think it's better if we keep them in a wiki or in a `awesome-nextjs` list.
BTW: There's already an awesome next.js list here: https://github.com/unicodeveloper/awesome-nextjs

May be we could link to that list from our README. (Better to do it the top of the README)

[2017-01-19 14:01] timneutkens commented on #820
@arunoda Ah, great idea. I didn't know someone made an awesome list already 💯 Will add it.

[2017-01-19 14:16] impronunciable commented on #220
I can't see right now the best way this could be approached but definitely an interesting idea to play with

[2017-01-19 14:17] impronunciable commented on #160
Cool, is it working @sedubois ? time to close this issue for now?

[2017-01-19 14:20] impronunciable commented on #153
@sedubois I have a pr for that using passwordless.net https://github.com/zeit/next.js/pull/646 but we'll move the auth server somewhere else

[2017-01-19 15:42] tpreusse commented on #796
Currently when using `styled-components` one needs a pretty odd setup:
[code]

Using a `styled.a` (or anything else that maps `href` to an `a`) inside `NextLink` is not possible because it will fail the `child.type` test. Maybe remove all the magic and checking completely and add a warning in some other way? Maybe in the `onClick` handler?

[2017-01-19 16:55] moarwick opened #827 "Server-side error in with-loading example?"
The [with-loading](https://github.com/zeit/next.js/tree/master/examples/with-loading) example works well client-side, but on hard refreshing the `/forever` or `/about` routes, it throws `Cannot read property 'Component' of undefined`. `Component` is being imported from `React` in those two pages. Full trace:

[code]

[2017-01-19 17:01] johnlindquist opened #828 "render arrow functions breaking in 2.0.0-beta.17"
The code below
* Works in "1.2.3"
* Breaks in "2.0.0-beta.17"
[code]

Errors:
[code]
[code]

[2017-01-19 17:11] arunoda commented on #827
### Research Notes:

Returning null (or nothing) from `getInitialProps()` cause this issue.

[2017-01-19 17:37] noeljackson commented on #544
@viktorbezdek Have you successfully used isomorphic-style-loader with next.js?

[2017-01-19 20:45] timneutkens commented on #796
@tpreusse please see https://github.com/zeit/next.js/issues/816

[2017-01-20 02:30] matthewmueller commented on #827
+1 I've run into this before, returning `{}` resolves the issue, but it'd be good to provide that default.

[2017-01-20 03:32] matthewmueller opened #843 "Router.push(...) callback"
It'd be great to get a callback to know when the router has pushed the route and the loading of the next page is complete.

Right now there's a noticeable pause between Router.push(...) and rendering the next page, which affects things like loading bars and whatnot.

[2017-01-20 05:40] arunoda commented on #843
We already return a promise and you can use that. Also, we have router events as well.

See: https://github.com/zeit/next.js/blob/master/README.md#router-events

[2017-01-20 08:30] viktorbezdek commented on #544
@noeljackson Not really, but I intend to. Next.js looks promising and could save me lot of time if I make it work. Will look into it in next one or two weeks and submit pull request if I'm successful.

[2017-01-20 08:52] mcmunder opened #844 "Customizing babel config does not work as described"
Hey! Thanks for next.js! It's great!

I guess my issue is related to #432

I ran into a problem when I wanted to add a new babel plugin (['markdown-in-js/babel']('markdown-in-js/babel')) to render markdown in my react components...

As described in the docs I added a `.babelrc` in the root of my project.

[code]

With this `.babelrc` I get the following error when running `npm run dev`: "Module bu

[2017-01-20 09:33] arunoda commented on #844
May be you are running with a older version of next.js. Try to use `^2.0.0-beta` as the `next` package version in your app's `package.json`.

If this is still there, create a sample repo and comment it here.

[2017-01-20 10:17] mcmunder commented on #844
Yeah, thanks! That seems to solve the problem.

[2017-01-20 10:22] arunoda commented on #844
Great.

[2017-01-20 10:22] #844 closed

[2017-01-20 12:41] giacomorebonato commented on #96
I have created a PR with a TypeScript example that works with just running `npm run dev`.
Any suggestions is appreciated.

https://github.com/zeit/next.js/pull/845

[2017-01-20 12:50] giladgray commented on #96
@giacomorebonato awesome stuff! left you some review comments 🍰

[2017-01-20 13:26] mxstbr commented on #728
Webpack supports this out of the box and it works just like `System.import`, see https://github.com/webpack/webpack/pull/3413

[2017-01-20 16:53] kristojorg opened #846 "Head does not inject tags on server"
I am using a custom `Document`, and it appears `Head` is not injecting the tags when rendering SS. If I disable js in the browser, I still can see the `Head` component render, but nothing appears in my document `<head>`

[2017-01-20 18:16] arunoda commented on #846
It's not exactly clear what you mean. Try to submit us a sample repo where we could reproduce it.

[2017-01-20 18:19] #843 closed

[2017-01-20 18:53] servermeta commented on #153
what about using graphql?

Apollo gives an example of graphql authentication:

https://dev-blog.apollodata.com/a-guide-to-authentication-in-graphql-e002a4039d1

Here we are authenticating a graphql request, but it could be adapted for our case.

Plus graphql can abstract  away implementation and logic. It could be used with passwordless, auth0, or anything else we might prefer.

[2017-01-20 18:57] kristojorg commented on #846
I was mistakenly using a `<head>` element instead of the `<Head>` component from `next/document` in my custom `Document`, which it seems was causing this error. All better now!

[2017-01-20 18:57] #846 closed

[2017-01-20 18:57] impronunciable commented on #728
@mxstbr We are using the webpack version but need to adapt our server to allow it

[2017-01-20 19:33] #827 closed

[2017-01-21 01:59] servermeta opened #848 "Import routes from NPM packages"
Hello everybody,

a common pattern is to split a big app into several smaller modules, most often NPM packages, and import them in the app. This is especially useful for bigger teams.

How could I import multiple routes from multiple NPM packages?

Is filesystem-based routing something useful for smaller apps, but unfit for bigger development teams?

[2017-01-21 02:34] FrancosLab opened #849 "Where does next.js go in the stack? Middle-end?"
Although I feel confident that Next is more-or so the middle-end of an application.
Sometimes I find myself hypothetically questioning if Next is right for the job for hypothetical projects.

Let's say for whatever reason platform like facebook was to be rewritten, would Next be suited for handling that and where would it go in the stack?

[2017-01-21 02:38] arunoda commented on #848
Yes divide on conquer :)
Basically, you need to move your app's content into multiple component libraries.

Then use those libs inside your main app repo, which is a next.js app.
And this is same technique you would do for any other React app.

[2017-01-21 02:51] arunoda commented on #849
It's definitely the front end and BYOB(Bring Your Own Backend)

Although it's possible to do some backend work in Next.js, you should only do it to support the UI. Not to serve data.

[2017-01-21 03:10] rauchg commented on #849
You could definitely attach arbitrary routes to your next server (examples: https://github.com/zeit/next.js#custom-server-and-routing), but we don't recommend it.

It's much better suited to _plugging into_ other backends and APIs. For example, you can host your microservices on https://now.sh and query them to get your data (see the examples in the README using `fetch`).

Thanks for your question

[2017-01-21 03:10] #849 closed

[2017-01-21 03:32] arunoda commented on #828
Something definitely wrong here.
Following code prints it as "Hi"

[code]

[2017-01-21 03:38] arunoda commented on #828
@nkzawa this is related to our client side `patch-react.js`. It works when commented out.
I'll find a fix today.

[2017-01-21 03:40] arunoda commented on #828
It also seems like HMR is also not working for class properties. @johnlindquist could you check that with `v1.2.3`

[2017-01-21 03:51] iaincollins commented on #786
Okay I was about to raise an issue for this and so wrote something up. Instead of creating a new ticket, I'll just paste it here:

BACKGROUND

I am using Next.js on a couple of new projects (some with public source code, some private). On one of the projects I've run into an issue deploying on a scaling cluster on AWS Elastic Beanstalk, althought the problem is not AWS or EB specific. I've got sug

[2017-01-21 03:52] johnlindquist commented on #828
@arunoda
Changed
[code]

To:
[code]

And the page updated without refreshing in 1.2.3. So it looks good to me.

[2017-01-21 06:26] arunoda commented on #828
@johnlindquist Okay. I'll look into that too.

[2017-01-21 06:38] arunoda commented on #786
@iaincollins This is a good research. Thanks.
For the absolute path issue, I suggest to refer this tread: https://github.com/zeit/next.js/issues/198

For the buildId, sticky session is a good solution, but it's not for scaling. So, we need to go for something else.
We can go for a hash based on webpack or file content. But we need to do some good testing and research on that. So, I'd like to defer

[2017-01-21 06:56] iaincollins commented on #786
Thank you, I was just thinking about how being able to set the ID (and maybe via an env var) would be a great option that might be pragmatic! I look forward to trying that out in production tomorrow.

Many thanks also for the link to #198

[2017-01-21 07:03] sedubois commented on #786
Random thought but how does Now detect when the project changes? Can a similar mechanism be reused? Or something similar to the way Git computes its commit hash.

[2017-01-21 07:41] arunoda commented on #786
@iaincollins may be there's already something similar to BUILD_ID in the beanstalk env. So, you could use that too.

[2017-01-21 07:46] bguiz commented on #604
@balupton Allows one to host on github pages, aws s3, etc.

[2017-01-21 07:53] bguiz commented on #604
@jferrettiboke @stretchkennedy Where internal links are unknown at "build time", I think the approach used by   [static-site-generator-webpack-plugin](https://github.com/markdalgleish/static-site-generator-webpack-plugin) where you simply list all of the URLs it needs to render in one place, works quite well.

Of course you don't want to be doing this by hand - I have a script that does this based

[2017-01-21 09:13] nkzawa commented on #828
btw just curious why you'd like to do this since `render = () => <div>Hi</div>` wouldn't be performant.

[2017-01-21 10:54] sedubois opened #851 "async generator vs syntax transform"
I don't know much about these things, but was wondering if there's a reason to prefer async generator/regenerator vs. something like [fast-async](https://github.com/MatAtBread/fast-async) which _claims_ to be 3-4 times faster?

[2017-01-21 11:38] sedubois commented on #230
@timneutkens referring to my comment above https://github.com/zeit/next.js/issues/230#issuecomment-260422407:

1. is still present. If I add a `throw new Error()` in my `getInitialProps` and let HMR run, there isn't any error displayed. If I then refresh, error page is displayed, OK. But if I then remove the error and let HMR run, it won't clear the error page.

2. is fixed 🎉

[2017-01-21 13:52] servermeta commented on #848
hey @arunoda thank you for your reply!
I am trying out next.js just because I saw you working on it, due to the deep respect I have for you.

Talking about another project you built , Flow-Router, I started using group routes a lot in my workflow.
When I write an NPM module I import a route group from the core app, then inside the module I attach routes to the group, thus when the module is import

[2017-01-21 14:05] avanslaars commented on #828
@nkzawa curious as to what the specific performance implications are. Would you be able explain or point to a resource so I can understand? Thanks!

[2017-01-21 14:22] nkzawa commented on #828
@avanslaars because it's transpiled like the following:

[code]

[2017-01-21 14:44] avanslaars commented on #828
@nkzawa Thanks!

[2017-01-21 14:57] abstracthat commented on #88
A layout / animation example would be swell when dynamic imports land.

[2017-01-21 19:24] noeljackson commented on #544
@viktorbezdek I will put a bounty on this one, as it's really crucial to a project I'm working on. I know I'm not inept, but I do not understand how to debug the babel transformations enough to figure this out. I've tried permutation of these ideas and nothing works 100%. I have been able to get raw-loader to pull in a data-encoded stylesheet using babel-plugin-webpack-loaders, but none of the sty

[2017-01-22 03:09] lorensr opened #854 "Write migration guide for next/css"
I'm getting this error in my console:

but the wiki article is empty

[2017-01-22 05:21] FrancosLab opened #855 "Adding optional image prefetching"
What would you think about having optional image prefetching along side page prefetching?

Image Prefetching would be secondary/lower precedence over page prefetching.

[2017-01-22 11:09] arunoda commented on #855
I think this can be done in the application level.
There's no special support needed from Next.js.

[2017-01-22 11:09] #855 closed

[2017-01-22 13:33] servermeta commented on #848
ok after a bit of playing I understood that this is easier than what I thought.

https://github.com/zeit/next.js#custom-server-and-routing

Does this mean that I can use React Router? how does this play with the default routing scheme? it simply overrides it?

[2017-01-22 14:20] arunoda commented on #848
@servermeta You can't use React Router. You can use any server side router to do the routing.

[2017-01-22 15:25] sedubois commented on #153
@impronunciable FYI with your example I don't yet know how to handle sessions, as I want to get rid of passwordless. I'll try adapting @iaincollins' example in my app.

My requirements are:
- secure
- authenticating server side then client side
- support both Facebook and login/password
- auth providers should be easily changed
- create user in Graphcool
- authenticate subsequent GraphQL requests

[2017-01-22 17:45] eric-burel commented on #382
Hi,

This issue is tricky, because the README on the master introduces interesting functionnalities that do not seem to exist in the lastest stable release.
Therefore the reflex to enjoy them is to track the master branch in npm, and then we obtain this issue with `fsevents`, which is quite unclear.

In the end, what's the best way to track the master branch ? Could it be documented ?

[2017-01-22 17:48] timneutkens commented on #382
We're working on master released as `next@beta`. Stable will be 🔜 when all crical bugs have been resolved.

[2017-01-22 18:00] eric-burel commented on #382
Amazing, thank you! Indeed that's be great to get this documented. I guess many users do not use Next for its stability but indeed want the beta features, at least for now. And this would prevent most people from encountering this issue.

[2017-01-22 18:04] timneutkens commented on #382
@eric-burel fair point: `*NOTE! the README on the master branch might not match that of the latest stable release! *` doesn't cover `next@beta`

[2017-01-22 18:11] #828 closed

[2017-01-22 22:57] sammkj opened #858 "Support for React Native Web?"
Hello,

I'm gonna be starting a new project soon which requires android, iOS and web apps. I'm thinking of using [React Native Web](https://github.com/necolas/react-native-web/) to create cross platform and reusable components. However, RNW won't work with Next because of [how it renders](https://github.com/necolas/react-native-web/blob/master/docs/guides/rendering.md). I wonder if this feature wi

[2017-01-23 03:46] arunoda commented on #858
Currently, you could do webpack aliases very easily with our custom webpack config support. But you need to alias that on the Node.js side as well. We don't cover that yet. (But soon. See: https://github.com/zeit/next.js/pull/767)

Anyway, even for now you could use do it using a custom `.babelrc` with https://github.com/tleunen/babel-plugin-module-resolver. But correctly implementing that is tric

[2017-01-23 05:20] justindeguzman opened #859 "Parameterized routes using the filesystem"
Just starting to try out next.js, really like it so far!

Are there any disadvantages to using the filesystem for parameterized routes? Since colons aren't allowed in filenames, I was thinking of using semicolons. For example, the following would be an implementation of GitHub's routes:

[code]

I have a custom router that makes this work but I don't know if there are any issues that I'm not think

[2017-01-23 06:27] arunoda commented on #859
This is our offering of [custom routes](https://github.com/zeit/next.js#custom-server-and-routing).
Have a look at the example apps list under "Examples" section in the above link

[2017-01-23 06:27] #859 closed

[2017-01-23 07:13] guns2410 opened #860 "Missing dependencies: fs, net and tls"
While running next.js I am getting missing dependencies

[code]

Here is a snippet of my package.json

[code]

**Update**

Found the error is in the request module.

[code]

`yarn why request` gives

[code]

[2017-01-23 07:45] arunoda commented on #860
It seems like you are using a server only NPM module in client side.
Try to find out that and remove

[2017-01-23 07:53] guns2410 commented on #860
Great to talk to you @arunoda again!

Ok, what works on `pages/index.js` is

**Works perfect**
[code]

however, while trying to integrate apollo gives me errors.

**Gives Errors**
`pages.index.js`

[code]

`components/wrapper.js`

[code]

`config/apollo.js`

[code]

[2017-01-23 08:04] guns2410 commented on #860
Yes @arunoda, you are right. I was accidentally importing server only npm modules to the client which was the error.

[2017-01-23 08:06] arunoda commented on #860
Okay. Close this now.

[2017-01-23 08:06] #860 closed

[2017-01-23 10:22] servermeta commented on #848
Upon further research this looks like doable. I recreated a route object, and i'm using it to programmatically create routes.

I will refine my approach and eventually publish it.

[2017-01-23 10:22] #848 closed

[2017-01-23 10:23] espoal opened #861 "Offline First Support"
Offline support is very useful, and is crucial for creating a modern PWA. Along with HTML manifests it helps to bridge the gap between a website and a native app.

This feature has two different flavours:

- Offline support: This is the ability to navigate the site even when offline, if the site has been loaded while online. This should be the easiest feature to implement.

- Offline first support

[2017-01-23 11:39] iest commented on #746
I'd really like to be able to do this.

How are you running this on `zest.co/blog` currently?

[2017-01-23 12:08] sedubois commented on #861
I'd absolutely love to see this working too, along with explanations/documentation/example about it.

Note that next/prefetch doesn't yet really allow offline behaviour, because it doesn't prefetch data: https://github.com/zeit/next.js/issues/740

Not directly related to Next.js but I also wonder how much data can actually be kept offline (e.g if a webapp has videos etc -- is there some hard limit

[2017-01-23 14:39] msand commented on #861
There are varying data limits in different platforms, browsers and versions. You can test the limits in the "Browser storage abuser": https://demo.agektmr.com/storage/

The standardized method which is intended for offline storage and caching is IndexedDB. It is now supported even in iOS Safari (v10), but there it has performance issues. Otherwise it has wide support now: http://caniuse.com/#feat=

[2017-01-23 15:28] msand commented on #861
Another useful article by Addy Osmani: https://medium.com/dev-channel/offline-storage-for-progressive-web-apps-70d52695513c#.9vja3t8gp

Apparently there is also a Storage api being worked on: https://storage.spec.whatwg.org/

This allows actually persistent storage:
"Traditionally, as the user runs out of storage space on their device, the data stored with these APIs gets lost without the user bei

[2017-01-23 19:29] rauchg opened #865 "Memorization of scroll upon HMR errors"
This might be interesting to consider. You've scrolled down 2000px, you make a syntax error, you recover from it, maybe we should restore the scroll?

[2017-01-23 19:50] impronunciable commented on #854
@rauchg done. Let me know if you want changes on the wiki

[2017-01-23 19:51] #854 closed

[2017-01-23 19:51] impronunciable commented on #854
Thanks @lorensr for reporting

[2017-01-24 05:22] iaincollins commented on #786
@arunoda Thanks again, I've updated to beta 18 in production (with a green/blue deployment method) and using this approach is working well.

Details for the record, in case it helps others:

Annoyingly, it turns out the auto-generated app version is not available as an environment variable (though you can get it by looking for and unzipping a file at a specific location, or calling the AWS API fro

[2017-01-24 07:35] sospedra opened #866 "Is it safe to ignore .next?"
Looks like the `dist` and bundle caching directory. Is it ok to ignore it on the `.gitignore`?

[2017-01-24 07:47] albinekb commented on #866
Yes

[2017-01-24 07:47] iaincollins commented on #866
Yes, it should only need to be created when building and running a build step in production and you'd not normally want to commit it to your git repo.

[2017-01-24 07:50] sospedra commented on #866
Perfect, many thanks!

[2017-01-24 07:50] #866 closed

[2017-01-24 08:24] ccorcos opened #867 "Static asset processing and optimization"
any recommendations here? I usually use webpack with the image compression plugin, but it appears the standard approach is just to use file paths to the static directory. if I wanted to optimize my image assets, how do you recommend I do that without overwriting the full resolution images?

[2017-01-24 08:33] sarukuku opened #868 "A fully rendered next page is re-rendered to a 404 page after successfull initial render"
I've been trying to track this down for a day now and I've managed to come up with a small example code and I know the version bump that caused this issue.

This happens in older versions of Safari and Mobile Safari. The newest version of Safari I've found to have this issue is version 8.0.8 that is the only bundled browser for Yosemite. It's not even that old comparing how long Mac's last. I have

[2017-01-24 08:38] sarukuku commented on #868
I know that getting hold of a Safari 8 on Yosemite is a bit tricky but there are free tiers available for browserstack.com that will allow testing this easily.

[2017-01-24 10:03] tpai commented on #868
Also happening on Safari 9.0.3 and `beta.18`.

[2017-01-24 10:08] arunoda commented on #786
@iaincollins Thanks for the feedback and I glad my suggestion helped you.
Anyway, I'd like to have a way to expose a user defined BUILD_ID via an option in the CLI.

If you are some time, feel free to send a PR.

[2017-01-24 10:13] arunoda commented on #867
Currently, we don't have a built in way to do it.
But you need to do it manually for the static assets in your app.

Also the best way is to move all static content into a CDN. We track that here: https://github.com/zeit/next.js/issues/737

[2017-01-24 10:56] arunoda commented on #868
Hmm. It's a bug. Getting that browser is the hardest part.
Let see.

[2017-01-24 11:38] sedubois opened #869 "Static assets are not prefetched"
My next.js proto uses next/prefetch, which allows to load pages even when connectivity drops. However, my image stored in `/static` is not cached and will thus fail to load. Even if connectivity stays, it also means that the images will flash as they get re-loaded every time the user navigates to the page.

[2017-01-24 11:44] timneutkens commented on #867
@arunoda might be an interesting feature though

[2017-01-24 11:46] timneutkens commented on #869
Hi @sedubois, could you provide an example? ❤️

[2017-01-24 11:47] sedubois commented on #869
Sure, always the same ;) https://relate.now.sh. Just load the page, then kill your network, go to About then back home (Relate): image has disappeared.

[2017-01-24 11:47] timneutkens commented on #851
Interesting. I'll try to benchmark changing this.

[2017-01-24 12:10] arunoda commented on #868
Guys, found the issue and here's the fix: https://github.com/zeit/next.js/pull/870

[2017-01-24 12:11] sarukuku commented on #868
Excellent work @arunoda. Hopefully this will make it to the next beta. :)

[2017-01-24 12:34] arunoda commented on #869
@sedubois `next/prefetch` also does not prefetch images. It's only the JS code related (NPM modules, your code, etc). We never run the page.

[2017-01-24 12:37] sedubois commented on #869
I think it would make sense to prefetch those assets too. After all, they don't change at all, and the whole aim is to have an instantaneous page load.

[2017-01-24 12:37] arunoda commented on #869
You are proposing a whole new feature which could (and should be) lives outside of next.js core. You could use `next/prefetch` to load JS code and write some other logic to load images, data and etc.

I'm gonna close this issue since this is what we are going to do with Next. (At least we don't have it in the short term plan)

But this is a important topic. So, I you could start another issue to d

[2017-01-24 12:37] #869 closed

[2017-01-24 12:38] timneutkens commented on #869
Related to https://github.com/zeit/next.js/issues/861

[2017-01-24 14:35] #744 closed

[2017-01-24 14:59] impronunciable commented on #861
IMO making a site/app work offline involves a lot of decisions a framework shouldn't take by itself. I'll work on an example on a site working offline with a service worker but there are different techniques for different kind of apps.

[2017-01-24 15:52] nodegin commented on #746
@nkzawa This seems cannot render the 404 page?

[2017-01-24 16:13] dizlexik commented on #746
My current workaround which is working well for now:

[code]

[2017-01-24 16:17] servermeta commented on #861
thanks @impronunciable . Do you plan to use webpack-offline or something else?

what kind of decisions are you talking about? I think we can divide the issue in two main issues:

1) Static assets caching: Like js, HTML, images, ... this is almost already implemented, at least in the offline flavor and with the exclusion of `/static`, and given that we are using react it should have one preferred i

[2017-01-24 16:18] impronunciable commented on #861
@servermeta it really depends on your case. I'm finishing implementing an aggressive caching strategy without using plugins, just a custom server and a strategy from https://serviceworke.rs/

[2017-01-24 17:14] swrdfish opened #871 "how do I use the debugger with next.js"
Is there any configuration to load source maps or something like that?

[2017-01-24 18:19] swrdfish commented on #871
Found the sources

[2017-01-24 18:19] #871 closed

[2017-01-24 18:26] swrdfish opened #872 "How can I use react-redux with next.js?"
It tried to use react-redux with next and found that subscription to the store doesn't seem to work. Though the store initializes properly also the actions dispatch properly. Any suggestions?

[2017-01-24 18:40] amonks commented on #872
What do you mean by "subscription to the store doesn't seem to work"?

What's happening vs what do you expect should be happening?

[2017-01-24 18:41] amonks commented on #872
I've been working from the [with-redux](https://github.com/zeit/next.js/tree/master/examples/with-redux) example (which uses react-redux) and haven't had any issues

[2017-01-24 18:57] swrdfish commented on #872
I have created my store in a separate module and have imported into index.js file. Also I call connect form a different module and import the connected component.

Now this all works well on the server side (print logs in the console) but when it reaches the client the `mapDispatchToProps` function is not invoked when the store gets updated.

So my guess is that the **connect** function subscribes

[2017-01-24 19:14] ooade commented on #872
@swrdfish I did mine without creating separate instances of the store. Created an higher order component wrapped to each page then i called connect on my Component and it works fine.

[2017-01-24 19:17] timneutkens commented on #872
Please close this if the redux example solves your problem ❤️

[2017-01-24 19:22] ooade commented on #861
I have it working [here](https://github.com/ooade/NextSimpleStarter). Battled a lot with Offline-Plugin, had some issues with the .next directory then i switched to sw-precache-webpack-plugin, ignored .next directory and served all assets to the sw

[2017-01-24 19:39] Ehesp opened #873 "Context does not apply through <Main />"
Hello,

I'm currently using [material-ui](http://www.material-ui.com/#/customization/themes) in my app. I'm taking advantage of `pages/_document.js`, along with `<Main />`:

[code]
Then the page being loaded:
[code]

So normally, the context would be passed through and I'd have access to the theme properties, and so would any material-ui components. However, in this case the context is not being a

[2017-01-24 19:52] arunoda commented on #873
@Ehesp can I have a sample repo. So, I could work on this pretty fast.

[2017-01-24 20:04] sedubois commented on #869
Ok thanks I'll be looking forward to @impronunciable's example as I don't know how to do this right now 😊

[2017-01-24 20:13] Ehesp commented on #873
Sure, should hopefully be able to slap something up in the next couple of
hours.

On 24 Jan 2017 7:53 pm, "Arunoda Susiripala" <notifications@github.com>
wrote:

@Ehesp <https://github.com/Ehesp> can I have a sample repo. So, I could
work on this pretty fast.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/zeit/next.js/issue

[2017-01-24 20:32] timneutkens commented on #869
Looks like there was an example added in the comments already @sedubois

[2017-01-24 21:08] servermeta commented on #861
thank you @ooade , well done, you saved me a lot of time.

Anyhow I see that state does not persist between refreshes, reloads. I'll try to think how to add this feature.

[2017-01-24 21:18] ooade commented on #861
@servermeta Okay. I didn't post to a db. You can just use localhost to achieve that.  When the post comes in to the [reducer](https://github.com/ooade/NextSimpleStarter/blob/master/reducers/todos.js), add the localhost logic to `ADD_TODO` and `REMOVE_TODO` before returning the state

[2017-01-24 21:56] Ehesp commented on #873
@arunoda Here you go: https://github.com/Ehesp/next-mui-context

Install modules and just `npm run dev`. So basically the `_default.js` file wraps the entire application in `MuiThemeProvider`. Under the hood this just provides context to the app. The MUI component within `index.js` (`<RaisedButton ...>`) then uses this context to apply the theme. Currently it errors with `TypeError: Cannot read pr

[2017-01-24 23:46] geowarin opened #874 "Invalid checksum with recharts"
I'm getting this error when rendering a chart made with [recharts](http://recharts.org):

![](http://i.imgur.com/DAX91lF.png)

I've created a [very simple repro](https://github.com/geowarin/invalid-checksum-repro).

My first reaction was to suspect a recharts bug. In particular, the [isSsr function](https://github.com/recharts/recharts/blob/master/src/util/ReactUtils.js#L266) was my prime suspect.

[2017-01-25 00:57] sammkj opened #875 "how to set .next in another folder?"
Hello,

I have my `pages` folder in `folder A` and would like `.next` folder in `folder B`. I see that `next build` only accepts one arg. Is it possible to do this?

[2017-01-25 00:58] rauchg commented on #875
Can you elaborate on the usecase please ?

[2017-01-25 01:21] sammkj commented on #875
I have a project with the following structure:

![image](https://cloud.githubusercontent.com/assets/9153498/22273677/f7655d4c-e26f-11e6-8111-5b92f66a6d9a.png)

whereby I place `pages` folder under `./src/web`. Ideally, I would like to place `.next` folder under `./web`

[2017-01-25 01:34] thisbejim opened #876 "Display bundle sizes after build"
It would be great to see bundle sizes in the terminal after building a project, similar to the output of a create-react-app build.

[2017-01-25 03:17] arunoda commented on #873
@Ehesp hey, I checked it and unfortunately that's something you can't do.
The idea behind the `_document.js` is to customize the base HTML document of the app.
Although it uses React, it's something only runs on the server. So, React is just an API to customize the base HTML page.

Actual, Next.js app is runs inside the `<Main/>`. So, basically that's where the react's root element lives.

So, you

[2017-01-25 03:24] arunoda commented on #873
Also there's a problem with the SSR when doing styles. Check the console.
That's because of the userAgent mismatch in the server and client.

Here's a easy and ugly fix: https://github.com/callemall/material-ui/pull/3009#issuecomment-177713403

But here's the proper way to do it:

[code]

[2017-01-25 03:24] #873 closed

[2017-01-25 03:25] knipferrc commented on #873
I use material-ui in my app. I created a layout component that will just wrap whatever is passed into the layout component. Is that what your trying to accomplish?

[2017-01-25 04:15] thisbejim opened #877 "How to configure a webpack alias"
I'd like to configure some webpack aliases to point to some of my folders (not to a lib in node_modules).

Here is a simple example:
[code]

However, if I try to import a component in a page e.g:
[code]

I get the following error:`Error: Cannot find module 'components'`

Any idea how to get next to play nice with an alias like this?

[2017-01-25 06:24] arunoda commented on #877
This is bit tricky and you need more support from us because or SSR.
We've a ongoing PR here: https://github.com/zeit/next.js/pull/767 which add a alias functionality.

[2017-01-25 07:22] Ehesp commented on #873
Hey. Thanks for checking that out.

That's fine then, I'll make a decorator to contain each of the pages. I'm
assuming this is going to be the same as Redux then using Provide.

Cheers

On 25 Jan 2017 3:25 am, "Tyler Knipfer" <notifications@github.com> wrote:

[2017-01-25 07:58] Ehesp commented on #873
@arunoda https://github.com/zeit/next.js/issues/590

I believe this is a similar issue. If wrapping each page item in Provider, which provides store context is rerendered on each page load how is state supposed to be persisted? Each page would have a fresh store.

It's almost as if there needs to be a React wrapper for every page?

[2017-01-25 09:03] ccorcos commented on #867
Hmm. Shouldn't it be as simple as adding a webpack loader?
On Tue, Jan 24, 2017 at 18:45 Tim Neutkens <notifications@github.com> wrote:

[2017-01-25 10:12] Ehesp commented on #873
For those interested, here's the solution we took, handles both Redux & Material-UI:

[code]

Every page is wrapped in a `Page` decorator/HOC, which does the following:

[code]

This now provides Redux & MUI throughout every page. It also allows the actual page file to use `getInitialProps` as well, using the following lines in the decorator:

[code]

These are then applied into the props of the c

[2017-01-25 11:19] geowarin commented on #874
Actually, the error has to do with the size of the window containing the chart.
It needs to be specified on the server-side for recharts to infer the animations or dynamic contents.

Sorry for wasting your time on this issue, @arunoda !

FWI, I could not reproduce the issue with kyt because the container had a fixed width defined in the template 😅

I'll write a little something here once I complet

[2017-01-25 11:19] #874 closed

[2017-01-25 11:26] Gregoor commented on #106
@thisbejim I agree, I only went with Graphcool because it was easy to setup and wouldn't litter the repo with graphql schema related files and dependencies.

I'd like to finish the next.js example, though I don't know how to properly initialize the Relay enviornment, if someone has an idea or interest in it, here's the repo:
https://github.com/Gregoor/next.js-relay-example

And my current issue:
h

[2017-01-25 11:32] arunoda commented on #874
@geowarin I was about to tackle this now. So, no worries :)

[2017-01-25 11:33] arunoda commented on #867
@ccorcos It's if that's only a client side app.
But since we do SSR stuff, we can't do everything in node which can be done by Webpack.

[2017-01-25 12:18] ntwcklng commented on #876
We could use a table formatter like https://github.com/Automattic/cli-table for this
I've created a draft which looks pretty nice:

<img width="413" alt="screenshot at jan 25 13-15-20" src="https://cloud.githubusercontent.com/assets/8714775/22290324/6f3f0116-e300-11e6-8a08-b69a75f3a8a0.png">

Any other ideas?

[2017-01-25 12:20] timneutkens commented on #873
@arunoda should we create an example showing how to use material-ui with next.js? We've had questions about material-ui multiple times 😄

[2017-01-25 14:05] spacedragon opened #880 "help needs on error"
I get this error when  upgrade next from 2.0.0-beta.13 to 2.0.0-beta.14 or newer.
![image](https://cloud.githubusercontent.com/assets/631261/22293448/7e01d6c0-e34a-11e6-8a86-8cdf6c50b704.png)

This error seems related with  https://github.com/react-component/m-list-view  and react-hot-loader ,   but I  can't find  version change of react-hot-loader between  beta.13 and beta14

[2017-01-25 16:54] arunoda commented on #876
This looks great. But this list could grow since we might have more pages. Here's my suggestion.

* Use a simple list rather a table. (It saves space)
* Only show top 5 files (or some good amount)
* When showing pages, show `pages/about.json` like that.
* I prefer the first design for the uncompressed and gzipped sizes
* May be it's better to show the time spend for the build (and time for webpack

[2017-01-25 16:55] arunoda commented on #873
@timneutkens why not :)

[2017-01-25 16:58] #868 closed

[2017-01-25 17:00] arunoda commented on #880
Does this available on the production build as well?
I'd like to have a sample repo for this case.

[2017-01-25 17:11] sedubois commented on #153
In case it helps someone here's my app with server-side auth 🙂

- code https://github.com/relatenow/relate
- deployed https://relate.now.sh

The auth should be split out from Next.js server but I'm waiting for someone else to give inspiration about that... Also I'm not sure if it's properly protected against CSRF.

[2017-01-25 18:10] guidiego opened #881 "Traditional Authentication With Next"
I was studying some approaches to implement a traditional authentications on Next. In my brainstorms I found a solution that the user need be authenticate only on the first server-side rendering, once a time that every requests on client-side can return a `Not Authenticate (403)` error to be treated later with a redirect.

Can you guys think another approaches for that?

[2017-01-25 18:17] timneutkens opened #882 "Add material-ui example"
Example can be found here:
https://github.com/zeit/next.js/issues/873

[2017-01-25 18:29] transcranial commented on #876
why not use https://github.com/FormidableLabs/webpack-dashboard?

[2017-01-25 18:52] ntwcklng commented on #876
@arunoda why do we have to save space? A list would take as much space as the table - if we want to display it readable (sizes on the same tab etc.)
I think this table is the perfect solution for outputting data like the bundle size.
To make it more compact, we can adjust the padding/margin from the cells.

For me, this is the perfect example how _not_ to do it:
![](https://camo.githubusercontent.

[2017-01-25 18:56] sedubois commented on #876
@ntwcklng I think he just means that the horizontal lines in the table aren't needed, they take up vertical space

[2017-01-25 18:58] malexdev opened #883 "Transpiling components outside /pages?"
Hello! I'm just now getting started with next (using version 1.2.3), and I have the following folder structure:

- package.json
- pages
  - index.js
- lib
  - components
    - Test.js

I have a symlink: `node_modules/lib -> ../lib`.
I import my `Test` component with `import Test from 'lib/components/Test'`.

This works fine, but it seems to not be transpiled: if I `import` anything from my `Test`

[2017-01-25 19:08] ntwcklng commented on #876
Okay, the alternative is `console.table`
Looks also pretty nice
<img width="442" alt="screenshot at jan 25 20-06-12" src="https://cloud.githubusercontent.com/assets/8714775/22304905/d4638e98-e339-11e6-945d-5e6fce982d62.png">

Should we log the 5 overall largest files, or all bundle files + the 3 largest in `pages/`?

[2017-01-25 19:14] sstubbs commented on #873
The code with the page decorator works great. I'm still getting this error

Maybe it's just something I'm doing wrong but it would be great if there is something anyone knows about this. I also can't find the cleanest way to add injectTapEventPlugin() where it just gets run once.

[2017-01-25 19:16] sstubbs commented on #882
The code with the page decorator works great. I'm still getting this error

Maybe it's just something I'm doing wrong but it would be great if there is something anyone knows about this. I also can't find the cleanest way to add injectTapEventPlugin() where it just gets run once.

[2017-01-25 19:18] timneutkens commented on #883
Duplicate of https://github.com/zeit/next.js/issues/706

[2017-01-25 19:22] timneutkens commented on #883
Short term answer is use relative paths for now. So `import Test from 'lib/components/Test'` would become `import Test from '../lib/components/Test'`

[2017-01-25 19:22] #883 closed

[2017-01-25 19:25] arunoda commented on #876
@ntwcklng this looks pretty nice.
Shall we sort (z-a) by the size.
Ignore `_document.json`. It's a server only file.

[2017-01-25 19:26] arunoda commented on #876
I like this.

[2017-01-25 19:28] davibe commented on #881
This is what i do:
- when the user logs in client-side javascript sets a cookie in the browser conintaing the authentication bearer token
- when making authenticated requests server-side (next.js) code reads the bearer token in the headers of the request of the browser and uses it to contact the api server on behalf of the client

[2017-01-25 19:30] rauchg commented on #881
Thanks @davibe for helping out! For the sake of having help from the community in one place, I'm forwarding you here: #153 and closing this thread.

@davibe would love it if you could replicate your message there if you haven't yet.
Thansk again!

[2017-01-25 19:30] #881 closed

[2017-01-25 19:36] Ehesp commented on #882
The userAgent needs to be passed in to the MUI Component. @sstubbs which version of MUI are you on? I'm running 2-beta.

As for the tap plugin, I just did the following. Bit stinky but not had any problems with it...

[code]

Actually found that on one of the issues on the repo regarding it.

[2017-01-25 19:37] russelh15 commented on #882
You'd want to only display your Material components once the component is mounted client side. Try this.

[code]

[2017-01-25 19:54] davibe commented on #153
This is what i do:
- when the user logs in client-side javascript sets a cookie in the browser conintaing the authentication bearer token
- when making authenticated requests server-side (next.js) code reads the bearer token in the headers of the request of the browser and uses it to contact the api server on behalf of the client

[2017-01-25 20:10] malexdev commented on #883
Ah, sorry for the duplicate, and makes sense about not transpiling node_modules. Thanks!

[2017-01-25 20:12] timneutkens commented on #883
🙌

[2017-01-25 20:14] timneutkens opened #884 "Move from gulp to fly"
https://github.com/flyjs/fly

Mentioned by @rauchg here: https://github.com/zeit/next.js/pull/435

[2017-01-25 20:52] thisbejim opened #885 "Global styles not applied until page refresh"
When applying global styles to a custom document the styles are not applied until you refresh the page, example:

[code]

index.js
[code]

If you close your localhost tab, `npm run dev`, then open up a fresh tab you will get this:
![snip20170126_1](https://cloud.githubusercontent.com/assets/10917363/22308659/f5f6ce00-e39b-11e6-87a6-ebed659f991b.png)

If you refresh the page you get this:
![snip201

[2017-01-25 21:03] thisbejim opened #886 "onClick not attached to components in custom document"
Currently any components that handle clicks do not work as expected in a custom document. In the example below onClick will be stripped out on render:
[code]

The use case for allowing this is a global navbar with a menu toggle, at the moment you can put a navbar in each page but it would be great if you could mount it in a single location.

[2017-01-25 21:04] jgautheron commented on #659
@zachariahtimothy I integrated `react-intl` with the help of `redux`, if you need an example, I'll post one gladly.

[2017-01-25 21:12] zachariahtimothy commented on #659
That would be tremendous!

[2017-01-25 22:02] jgautheron commented on #659
Here you go: https://github.com/jgautheron/nextjs2-react-intl

[2017-01-25 22:14] Ehesp commented on #882
@russelh15 I don't understand why your doing that? The server is just rendering the React before the client sees it, so it works fine rendering on the server.

[2017-01-25 22:31] russelh15 commented on #882
@Ehesp You're right, it seems like it must be something specific to some components that I'm rendering that's causing the client render to be different from the server render.

I stripped out some code and did a simple test. It does seem to work as expected when I render a simple child component without using a isLoading state.

[2017-01-25 22:56] ccorcos commented on #867
I'm confused, I figured next compiles all pages as different entry points
using webpack. Is webpack being used at runtime?
On Wed, Jan 25, 2017 at 18:33 Arunoda Susiripala <notifications@github.com>
wrote:

[2017-01-26 00:06] arunoda commented on #867
Yes we do.  That part is fine. But then we need to run those files on the server. Running that exactly on the server is impossible (and cost us with perf). So, we run it without webpack on the server for SSR.

That's why we can't simply use everything webpack support.

[2017-01-26 00:34] pencilcheck commented on #544
Is there a solution to this? I would like to see a solution so I don't have to include css globally.

[2017-01-26 00:34] arunoda commented on #884
I am down with anything that works. But I personally prefer simply to use shell scripts (may be with shelljs) along with NPM scripts.

[2017-01-26 01:52] matthewmueller commented on #544
FWIW, I've just been putting my CSS files in the `/static` folder. Not great colocation, but not a huge deal either.

[2017-01-26 02:14] arunoda commented on #885
Not exactly sure about how this happens.
But you should not styles like this with the custom document.
Whole purpose of the custom document should to customize your HTML page. Inside the custom layout, we don't have access to the React app.

So, try to move your styles to a common layout.
See this related discussion: https://github.com/zeit/next.js/issues/873#issuecomment-275008448

[2017-01-26 02:15] arunoda commented on #886
Here's my previous answer for this.

[2017-01-26 02:15] #886 closed

[2017-01-26 08:54] sedubois opened #890 "Expose next/utils"
I just saw in your [code](https://github.com/zeit/next.js/blob/master/lib/utils.js) that you have an utils lib with function `loadGetInitialProps`. This function is quite useful for end-users too, e.g I needed to make my own (see [here](https://github.com/relatenow/relate/blob/master/util/initialProps.js)). Would it be possible to expose it e.g at `'next/utils'`?

[2017-01-26 09:17] frol commented on #374
It seems to be working fine now (tested on `next@2.0.0-beta.18`)! Thank you!

[2017-01-26 09:21] arunoda commented on #374
I'm gonna close now.
@asbjornenge is this is still there please re-open.
(Make sure to test with the latest beta)

[2017-01-26 09:22] arunoda commented on #890
You could always get it from dist. `next/dist/utils`.

But that's something we are not going to open as a public API.
We might change them at any will completely remove them.

[2017-01-26 09:22] #890 closed

[2017-01-26 09:32] sedubois commented on #890
OK understood 👍 This works for now: `import { loadGetInitialProps } from 'next/dist/lib/utils'`.

[2017-01-26 09:37] sakulstra commented on #876
I'd love to see this, but why restrict the output to ~5pages?
The project i'm working on has only ~10 and it would make sense for me to monitor the size for all of them.

Btw. would it be possible to not only display the size, but also the size difference to the previous build?
`main.js    159kB (48.2kb) (+36.4kB)`

[2017-01-26 10:23] lipp opened #891 "fetch in getInitialProps broken?"
I used to do an isomorphic fetch in [`getInitialProps`](https://github.com/lipp/login-with/blob/master/example/nextjs/pages/token.js) from another sub-domain.

This worked some days ago.

However, instead of fetching the resource specified, the browser as of today tries to load some <pagename>.js which returns some "component" json. I guess this is a "prefetched" version of what the browser used t

[2017-01-26 10:27] lipp commented on #891
... verifying with previous build....

[2017-01-26 10:27] #891 closed

[2017-01-26 10:38] lipp commented on #891
...sorry my mistake!

[2017-01-26 10:44] sstubbs commented on #882
I am running next.js 2.0 beta and MUI 0.16.7 and using the template in the example. And loading the tap plugin as suggested works great. I am still getting this error though. I am using the component given in the example which does pass the userAgent via the props and gets it as below. setting userAgent to false seems a bit strange to me but if this is really the answer I will go ahead and try it.

[2017-01-26 10:49] Ehesp commented on #882
@sstubbs that's correct - **don't** set the userAgent to false.

[code]

[2017-01-26 11:00] Ehesp opened #892 "Best practices for dealing with large data sets on server vs client"
We're building an app using Firebase, however one of the issues we have is dealing with data from on the server vs client.

On the server, we're able to use the admin SDK, so the data loads via websockets and is generally fast to load. On the client we do this using a HTTP request to get the same data. The HTTP request is slower. For small data sets this isn't really an issue since it all loads qu

[2017-01-26 11:05] arunoda commented on #892
So, here the delay is the time spent on to fetch data on the server. Basically, you should not spend much time on that.
And you don't need to render everything in the server. But the only stuff you really really want. (That shouldn't come with cost of a big delay)

Then for other data (specially firebase) use `componentDidMount` to initialize them.
For that, you could simply use utilities like thi

[2017-01-26 11:10] arunoda commented on #876
I not against of displaying ~10 pages. But I fear that'll be too much info. In this case, we mostly need to figure out our heavy pages. We need to limit upto few pages.

I don't think this is possible. We do this only for production build (it doesn't make sense for the dev build) and it's not (most of the time) possible to compare with the previous bundle.

[2017-01-26 11:31] davibe commented on #892
Is that huge data important for SEO ? if not maybe you could just load it always on `componentDidMount`.

I don't understand why loading from client should be any slower than loading from the server since the data has to travel to the browser (http) anyway (plus the rendered page which is normally larger than the page with no data). If your server is faster you can create a proxy api and use it on

[2017-01-26 11:38] arunoda commented on #892
@davibe This need a bit of a change. We don't download the data. We only prefetch JS code only.
See: https://github.com/zeit/next.js/issues/740

[2017-01-26 11:45] ntwcklng commented on #876
I don't know if its a good idea to include the path in the output:
<img width="540" alt="screenshot at jan 26 12-43-13" src="https://cloud.githubusercontent.com/assets/8714775/22330163/18b58a0c-e3c5-11e6-9299-412b2f0643f3.png">

Should we just go with the basename for the pages?

[2017-01-26 11:56] sakulstra commented on #876
@arunoda but even comparing prouction build sizes(like create-react-app does) would help a lot.

With this you can easily detect if you accidentally included the whole e.g. 'firebase' or 'lodash'... without a history the size is just a number, but if you can notice: "since last build my main.js is now 60kb bigger than before you can actually wonder where this comes from and figure out if the incre

[2017-01-26 12:06] Ehesp commented on #892
@davibe in this case no, so you guys are correct moving it to `componentDidMount` works better.

The server always has an open connect to Firebase, so there's no delay in opening a connection (initial connection time on WS is ~1000ms). The main problem we have is that with Firebase authentication, the server is unable to get data per user because firebase authentication is global. Therefore on the

[2017-01-26 13:29] #892 closed

[2017-01-26 15:29] sstubbs commented on #882
Ok thanks. I'm still getting this mismatch between server and client though. Is anyone else getting this?

[2017-01-26 15:32] knipferrc commented on #882
I'm working on an app that uses material-ui and everything works really well. Here it is if it would help at all: https://github.com/knipferrc/plate

[2017-01-26 15:58] servermeta commented on #861
thank @ooade . By localhost you mean a local db, like mongodb, or localstorage?

I think we should divide the problem: offline data retrieving should be left to the dev, while we could preserve redux state.  Check this:

https://github.com/rt2zz/redux-persist

with this we can store state in localstorage, so it can persist between refreshes, reloads, tabs and sessions.

[2017-01-26 16:04] reel opened #893 "Not working with react-icons"
Trying to import react-icons and I get the following error:

[code]

Steps to reproduce:

[code]

Seems to happen to non-UMD packages

[2017-01-26 16:09] sedubois commented on #892
I wonder how Apollo GraphQL subscriptions would compare to the Firebase approach in terms of these client-side performances 🤔 There are headless GraphQL CMSes which are starting to appear, so I guess it must be at least ok? (Can't yet say in my app because doesn't have much data yet... but after all it's based on Facebook technology which has huge data)

Also see the Firebase vs Graphcool feature

[2017-01-26 16:25] sstubbs commented on #882
Yours works well in chrome but I get the same issue in safari. Very strange. Still better than mine though where it happens in both browsers.

[2017-01-26 16:54] arunoda commented on #893
Here you are importing the source file which has ES2015+ code.
You need to import the transpiled version like this:

[code]

[2017-01-26 16:54] #893 closed

[2017-01-26 17:05] reel commented on #893
Thank's @arunoda... missed that somehow

[2017-01-26 18:16] kristojorg commented on #645
I used next for a while with a project, but then am now trying to go back to create-react-app since server rendering is not super important to me at this time.

I deleted all my files except .git in my root folder, and then started new with CRA. I'm still seeing this error however... have any idea why? Does it have to do with my browser caching code or something?

[2017-01-26 18:27] kristojorg commented on #645
For the record, it had to do with the serviceworker not being unregistered... I went to this url: *chrome://serviceworker-internals/* in Chrome and manually unregistered for my `localhost`.

[2017-01-26 18:32] RangerMauve commented on #858
Integrating this with React Native Web (maybe by bringing the routing functionality as a React Native component?) would make React super-universal in that it could be rendered server-side, browsers, and mobile apps all from the same codebase.

[2017-01-26 20:14] lukeed commented on #884
@arunoda As do I. IMO, everything a repo _can do_ (re: builds, test) should be easily described by an npm script...and its definition shouldn't extend beyond the viewport. Pointless at that point.

I'm finishing up Fly 2.0 right now, and initial benchmarks show that it's 3 to 8x faster than Gulp. And, its `flyfile.js` syntax is much simpler & cleaner than Gulp's -- we're chaining methods (extremel

[2017-01-27 00:36] abelovic opened #896 "Apollo example error"
When I first run this example I can get it to work but if refresh the page I get the following error:

TypeError: Cannot assign to read only property '1' of [object Array]
    at Array.sort (native)
    at PostList (C:\next.js\examples\with-apollo\components\PostList.js:20:27)
    at walkTree (C:\next.js\examples\with-apollo\node_modules\react-apollo\src\server.ts:76:15)
    at walkTree (C:\next.j

[2017-01-27 01:47] ads1018 commented on #896
@abelovic Does it work with the graph.cool endpoint provided in the example? Seems like could be an issue with your graph.cool endpoint. GraphQL API's are self-documenting so you can see if the API used in the example matches up with the one you created using the [graphiql interface](https://api.graph.cool/simple/v1/cixmkt2ul01q00122mksg82pn/graphiql).

[2017-01-27 06:43] abelovic commented on #896
This does not work for me with the end point in the example. This is all I did:

1. clone next.js
2. navigate to with-apollo sample
3. run npm install
4. npm run dev
5. open on localhost:3000

This pulls up for me with an error and I experience the symptoms described in my initial post i.e. works once when saving :(

In the graphiql interface:

query allPosts($first: Int!, $skip: Int!) {
  allPost

[2017-01-27 06:54] spacedragon commented on #880
production also not work
here is the repo  https://github.com/spacedragon/next_rmc_listview
thanks a lot!

[2017-01-27 08:00] arunoda commented on #880
This is a bug. I'm on it.

[2017-01-27 09:24] kishanj918 opened #897 "Module build failed: Error: Couldn't find preset "react-server" relative to directory"
Node version : 7.0.0
npm version: 3.10.8
I am getting "Module build failed: Error: Couldn't find preset "react-server" relative to directory"  error while running npm run dev.

[2017-01-27 10:53] timneutkens commented on #897
Hi, could you please provide an example repository / steps to reproduce?

[2017-01-27 11:33] kishanj918 commented on #897
I was getting this error while running this https://github.com/zeit/nextgram app.

[2017-01-27 11:35] timneutkens commented on #897
I'll check this 👍

[2017-01-27 11:38] timneutkens commented on #897
Can't reproduce. Can you try to run `npm install` in the directory?

[2017-01-27 11:40] kishanj918 commented on #897
sure

[2017-01-27 11:47] kishanj918 commented on #897
still getting the same error.

[2017-01-27 12:13] arunoda commented on #897
I think that's because of some `.babelrc` file in somewhere in a parent directory.
@kishanj918  add following `.babelrc` file into the app root.

[code]

[2017-01-27 12:32] #897 closed

[2017-01-27 12:34] timneutkens commented on #897
Good catch @arunoda 👍

[2017-01-27 13:50] viktorbezdek commented on #544
There will be a solution. I just didn't manage to finish it. I've locally very first prototype which seems to work, however it needs few hours to be finished. I'm pretty sure I'll be done after weekend. Stay tuned.

[2017-01-27 13:51] viktorbezdek commented on #544
@matthewmueller You are using CSS modules?

[2017-01-27 14:08] knipferrc opened #899 "mobX with next beta 19"
For some reason if I upgrade to beta 19 of next I get an error about the mobx store not being available. I'm using a provider and then injected the store into my components. Anyone else using mobx with next getting this error when upgrading?

[2017-01-27 14:49] ads1018 commented on #896
@abelovic Good spot. The error was due to the assignment of a read-only property in the array which was happening when sorting the array. Simply remove `sort()` fixed the issue. I just submitted a pull request. Not sure why this error is only getting thrown now.

[2017-01-27 16:06] #896 closed

[2017-01-27 16:06] timneutkens commented on #896
#900

[2017-01-27 17:28] rauchg commented on #438
@poeticninja what we call `params` is the query string. The only reason I wanted to be able to pass it to `app.render` is to avoid double-parsing

[2017-01-27 17:28] rauchg commented on #438
Otherwise,  if you're making some decision based on the query string, then you decide what component to render, then next would parse the query string again

[2017-01-27 18:01] abelovic commented on #544
@viktorbezdek Thanks for working on this! CSS Modules support (or similar) is important for this project IMO. Styled jsx, is ok for simple situations but is hard to read for heavily styled components.

Would a babel plugin like this be an option (server side as well)? https://github.com/gajus/babel-plugin-react-css-modules

I tried to get this to work but but no luck :/

[2017-01-27 18:05] stephenmathieson commented on #544
I got CSS modules sort of working with [`babel-plugin-css-modules-transform`](https://github.com/michalkvasnicak/babel-plugin-css-modules-transform). See my hacky example in [my fork](https://github.com/stephenmathieson/next.js/tree/add/css-modules-example).

The downside is you have to kill the server & restart it every time you make a change to the CSS.

[2017-01-27 18:16] sedubois commented on #659
I also just added i18n to my app if it helps: https://github.com/relatenow/relate

[2017-01-27 18:58] greenkeeper[bot] opened #903 "An in-range update of wd is breaking the build 🚨"
## Version **1.1.2** of [wd](https://github.com/admc/wd) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/zeit/next.js/compare/greenkeeper%2Fwd-1.1.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      wd
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version
    </td>
    <td

[2017-01-27 21:03] fridays commented on #899
I get the same error:

[code]

This worked before:

[code]
pages/index.js
[code]

[2017-01-27 21:11] knipferrc commented on #899
Yep I am getting the exact same thing. If I revert to beta 18 all is well.

[2017-01-27 21:44] #903 closed

[2017-01-27 23:40] mquandalle commented on #544
Some React components expose default styling though a `import`able static resource. For instance to import the default style of https://github.com/react-component/slider one would use:

[code]

It sure is possible to copy paste this stylesheet in the `static/` directory but it won't stay in sync with the upstream style on a future component update, and it doesn't match what this component document

[2017-01-27 23:49] rauchg commented on #544
The problem is that those CSS files introduce global effects. We need to be able to _capture_ the CSS and put it inside the React lifecycle, so that it gets unmounted, server-rendered, etc.

Many libraries do that, but I don't think it's a good pattern.

[2017-01-27 23:51] mquandalle commented on #544
I'm not familiar with Zeit Next internals, but could some static analysis of the `import` be used to register/capture the CSS?

[2017-01-27 23:52] rauchg commented on #544
We could, but it would be really strange. Similar to something that's outside of `render()` magically inserting itself inside your component lifecycle.

[2017-01-28 01:46] auser commented on #544
Well... I just spent a bit too much time trying to hack CSS in here, BUT I landed on a solution that works (for me). Admittedly, it's a hack, but hot reloading works and so does server-side building.

Using (_shudder_) gulp, with this gulpfile (https://gist.github.com/auser/25e88e39d83413773c01f4c000ec2806) all `**/*.scss` files get concatenated together and shoved into a `Styles` component which

[2017-01-28 07:16] swrdfish commented on #872
@ooade  yeah that works too.. what I did wrong was that I had made the reducer a impure function and that broke everything. My bad.  Thank you guys for the help ❤️

[2017-01-28 07:16] #872 closed

[2017-01-28 12:22] ooade opened #910 "TypeError: Cannot read property 'join' of undefined"
This occurs only when including preact.

Steps to reproduce:
- Run the [preact example](https://github.com/zeit/next.js/tree/master/examples/using-preact) app
- Add nextjs's Head helper element to a page
- Give the page a title; then that happens.

The problem arose from the header-manager's method([updateTitle](https://github.com/zeit/next.js/blob/master/client/head-manager.js#L45)). Preact's VNo

[2017-01-28 13:19] sospedra commented on #126
+1

[2017-01-28 13:50] #880 closed

[2017-01-28 18:24] timneutkens commented on #851
Apparently fast-async doesn't support calling await on normal functions that don't return a Promise. So if you, for example make a component which has a `static getInitialProps` instead of `static async getInitialProps` it will fail. Also, we have to drop the es2015 preset to implement fast-async, since it conflicts with babel-plugin-transform-runtime 😢 Also looked into [kneden](https://github.com

[2017-01-28 18:24] timneutkens commented on #851
If there is something else we can look into please let me know 👍 😄

[2017-01-28 18:26] timneutkens commented on #910
I'll have a look 👍

[2017-01-28 18:44] 0xCMP commented on #899
Some more information. I checked the context of the component I'm injecting and it does see the mobxStores. The stores *do* show up properly on the server side in my case. However the injector sees no stores when it tries to load it up on the client side.

[2017-01-28 18:46] timneutkens commented on #910
Ok I get what you mean. We read `component.props.children` which is set in `React`, but not in `preact`. in `preact` it's `component.children` Looks like something that would have to be added to preact-compat. I'll check that now 👍

[2017-01-28 18:52] timneutkens commented on #910
Looks like it's handled here already 🤔 https://github.com/developit/preact-compat/blob/master/src/index.js#L109

@developit could you have a look? ❤️

[2017-01-28 19:16] developit commented on #910
@timneutkens I just checked and I'm not sure I can reproduce the above issue - here's the JSFiddle I set up:  https://jsfiddle.net/developit/n144pt7m/

I might be going about the repro wrong though!

FWIW I'm not sure [L45 of `<HeadManager>`](https://github.com/zeit/next.js/blob/master/client/head-manager.js#L45) accounts for the case where a single element is passed.  In React (and thus in preact

[2017-01-28 19:32] timneutkens commented on #910
That is a fair point, we will have to update that. The most minimal example where I can reproduce this is this: https://github.com/timneutkens/next-issue-910. In this case, `children` is undefined. That's why it logs an error.

[2017-01-28 19:34] sedubois commented on #851
Thanks for looking that up. Would be good to give the feedback over there

[2017-01-28 19:52] developit commented on #910
Ah perfect @timneutkens that gives me a great repro.  It looks like the [bit that adds `props.children`](https://github.com/developit/preact-compat/blob/master/src/index.js#L109) is only being applied to Component vnodes, not element VNodes.  We can remedy that quickly :)

[2017-01-28 20:02] timneutkens commented on #885
@arunoda actually we've seen this before. using styled-jsx inside of `<Head>` is not supported. Since it won't render an element. In this case styled-jsx is obsolete since
`<style>{`.welcome { color: red; }`}</style>` will be global. Using just the `<style>` fixes your issue 👍

[2017-01-28 20:02] #885 closed

[2017-01-28 20:05] timneutkens commented on #910
Much appreciated ❤️

[2017-01-28 20:33] cdock1029 commented on #892
When you say that on the client you're using http, is this because you're hitting your own backend to get the data? Because Firebase client javascript SDK certainly uses websockets.

Especially if SEO not that important, why not use client SDK to talk directly to Firebase from client?

Or, you can load specific user data on server on first load then subscribe to updates on client.
The server can g

[2017-01-28 20:59] bbnnt commented on #427
same thoughts… a large html page will result in a large NEXT_DATA obviously. in the examples we see 2.0.0-beta, is that the one you referring to ?

[2017-01-28 21:02] rauchg commented on #427
It's tradeoffs. If you want the React programming model, we have to ship the source of the component alongside the HTML. Otherwise, you can print out some HTML and ship code that doesn't know how to re-render completely, but only knows how to modify it (e.g.: the jQuery way). It's up to you to decide what model you prefer.

[2017-01-28 21:06] rauchg commented on #427
That said, we're always looking for ways to ship lightweight stuff. The focus after 2.0 stable is not to add more features but to make everything faster and speedier 😉

[2017-01-28 21:08] bbnnt commented on #427
ouch sorry just deleted it, overreacted over it did not expect such a quick rep.

treadeoffs yep, everyone can agree react's approach is what you want to adopt. quite struggled to get a decent ssr, then landed on next… *amazing*. but right now questioning myself about this specific part. it might bring soon the best of both world i guess

[2017-01-28 21:10] rauchg commented on #427
The really cool thing is that for many applications where the user is interesting in consuming some data first (then acting on it), the server-rendered HTML+CSS does a great job _while_ the JS loads.

[2017-01-28 21:36] developit commented on #910
Should be fixed in `preact-compat@3.12.0`

[2017-01-28 21:46] timneutkens commented on #910
Thank you very much @developit 👍 💯

[2017-01-28 21:46] #910 closed

[2017-01-28 22:33] ooade commented on #910
Thanks @developit

[2017-01-28 23:12] developit commented on #910
Just confirmed using your repro (thanks again btw!) that it is in fact working now:
<img width="280" alt="screen shot 2017-01-28 at 6 12 20 pm" src="https://cloud.githubusercontent.com/assets/105127/22400512/53c6293c-e585-11e6-988f-f91a0de24e49.png">

[2017-01-29 10:33] timneutkens commented on #910
@developit confirmed it too ❤️

[2017-01-29 12:51] nkzawa commented on #875
Unfortunately, there is no way to that unless you manually move it, like `mv src/web/.next web/.next`.
I'm not sure if we should support the setting since maybe it would be just a problem of preferences ?

[2017-01-29 13:02] mulyoved commented on #871
Where? will arrived here by search and have the same question, will help to add a link

[2017-01-29 14:35] tgoldenberg opened #917 "Error with onTouchTap and material-ui"
A previous issue was closed dealing with how to initialize the `injectTapEventPlugin` function. However, after having solved that according to the issue, I'm still getting errors using a dropdown menu in material-ui.

Code:
[code]

Error:
<img width="723" alt="screen shot 2017-01-29 at 9 28 40 am" src="https://cloud.githubusercontent.com/assets/10930134/22404803/35e14fb0-e606-11e6-97b9-9c58994d750

[2017-01-29 15:01] tgoldenberg opened #918 "Issues with development speed"
So while I love how Next is trying to solve some really important problems, I'm surprised that I couldn't find any closed / open issues related to development speed. As I'm using this over the last 2 days, I notice a huge drop in development speed when compared to using `create-react-app`.

For example, I notice that when I make changes, the app recompiles and then the screen refreshes. I was unde

[2017-01-29 15:15] arunoda commented on #917
@tgoldenberg is it possible to have a sample repo? It's quite hard to figure it out like this.

[2017-01-29 15:18] arunoda commented on #918
@tgoldenberg is it possible to have the app you are working with. I'd like to see why it gets slower. (Specially since you compared it with CRA)

Also, let us know the system info. (OS, Laptop Brand/Version, etc)

[2017-01-29 15:21] nkzawa commented on #918
How big is your app actually ? It's around 2 seconds to seeing change of hot loading on a simple application for me.

Btw, one of the reasons it's slower than CRA is we make sourcemaps enabled on webpack. I think you should be able to disable it by custom webpack config.

[2017-01-29 15:28] tgoldenberg commented on #918
@arunoda I can't share the actual app but I could make a copy that is similar and share that. (will take a little time)

System is MacOS Sierra v 10.12, MacBook Pro (Retina, 13-ince, late 2013), using latest Chrome.

[2017-01-29 15:30] tgoldenberg commented on #918
Also, @nkzawa, can you provide an example of disabling sourcemaps with Webpack? Still learning Webpack...

[2017-01-29 15:32] arunoda commented on #918
@tgoldenberg thanks. May be try to add the NPM package and create some dummy pages.
This will be super useful for us.

I think @nkzawa has a point with source maps. We should do a section on the README on how to improve the development speed.

[2017-01-29 15:40] arashsa opened #919 "(s)css in its own file?"
I really like the fact that we can use regular css, but I was just wondering if this could be separated in another file?

[code]

So if we can have a styles folder, and then each file can include css and/or scss, and then we can access those by their filename in the jsx files.

So we could instead have a file called 'name.scss', with the css code:

[code]

And then use it in the jsx file like so:

[2017-01-29 15:45] tgoldenberg commented on #917
@arunoda sure, I'll try to get one ready.

[2017-01-29 15:47] nkzawa commented on #918
@tgoldenberg I didn't test it but something like the following.

[code]

[2017-01-29 16:09] nkzawa commented on #919
This is discussed here https://github.com/zeit/styled-jsx/issues/83

[2017-01-29 16:09] #919 closed

[2017-01-29 17:05] developit commented on #910
Great, thanks a million for surfacing this Tim!

[2017-01-29 17:20] frol commented on #917
*I would like to just share my experience with React-MD, which is an alternative implementation of Google Material UI for React. [React-MD](http://react-md.mlaursen.com/) just works with Next.js like a charm for me.*

[2017-01-29 18:58] rauchg opened #920 "<Link> should admit *any* element underneath"
What it shouldn't do is _create_ any element (for now we do, but we will show a warning)
The problem is that the current error message is misleading.

These should be possible:

[code]

This should wrap with `<a>` for now and *warn*:

[code]

This should throw (dev-only, to ship less code)

[code]

https://github.com/zeit/next.js/blob/master/lib/link.js#L73

[2017-01-29 19:23] tgoldenberg commented on #918
Here's a sample repo: https://github.com/tgoldenberg/next-sample

[2017-01-29 19:23] tgoldenberg commented on #917
Here's a sample repo: https://github.com/tgoldenberg/next-sample

[2017-01-29 19:52] alexedev commented on #882
modified nextjs-apollo example https://github.com/zeit/next.js/tree/master/examples/with-apollo according to #873 and this issue, works fine
here is the gist https://gist.github.com/alexedev/08acfd293ae88d5e353a6a6d2efcf6c9

PS i'm not sure if I placed injectTapEventPlugin()  properly though

[2017-01-29 20:09] ugiacoman commented on #917
@frol Are you using a custom webpack config to get it working?

[2017-01-29 20:27] timneutkens commented on #920
Looking into this now 🙌

[2017-01-29 21:05] vuldin commented on #899
This issue remains in beta 20.

[2017-01-29 22:16] timneutkens commented on #920
#921

[2017-01-29 22:46] abelovic opened #923 "Deploying to AWS errors"
I'm trying to get the Apollo example to run on AWS and its failing.

My package.json

{
  "name": "apollo",
  "version": "1.0.0",
  "scripts": {
    "dev": "next",
    "build": "next build",
    "start": "next start -p 8081"
  },
  "cacheDirectories": [
    "nextjs/node_modules"
  ],
  "dependencies": {
    "apollo-client": "^0.8.1",
    "es6-promise": "^4.0.5",
    "graphql": "^0.9.1",
    "graph

[2017-01-30 01:16] rauchg commented on #920
Thank you @timneutkens !

[2017-01-30 02:16] tgoldenberg commented on #918
@arunoda documentation on speeding up refreshes would be really helpful. Also, am I wrong that hot loading means updating the UI without a refresh? I know this was a source of confusion in Meteor with hot loading / hot module replacement. Are no-refresh updates coming to Next.js? This is less an issue than a query, but it's nonetheless a big factor in choosing a framework. One of the reasons I (an

[2017-01-30 02:23] arunoda commented on #918
In next, we've hot loading (no refresh) for `.js` as well. But for some cases, we need to do a full reload.

[2017-01-30 02:25] arunoda commented on #923
Seems like you don't have `node_modules` available when the Next.js app is started.

[2017-01-30 02:26] arunoda commented on #917
@tgoldenberg I'll have a look at this too.

[2017-01-30 02:28] arunoda commented on #917
May be this issue is related too: https://github.com/zeit/next.js/issues/882#issuecomment-275940934

[2017-01-30 02:34] brycejacobs commented on #544
Thanks for the hack @auser, I've been looking at the webpack config all day with no luck!

[2017-01-30 02:36] tgoldenberg commented on #918
So, I find that every change is causing a complete refresh (in sample repo). Is this because of the way that `Provider` and `MuiThemeProvider` are nested, causing everything to refresh, or maybe if I isolate smaller components it would help? Really want to understand how to take advantage of the hot loading. Would be great to explain in the docs when it gives a full refresh vs. hot loading.

[2017-01-30 04:13] auser commented on #544
Yes and no... I just use the `.scss` extension as a way to differentiate pure css files from pre-compiled ones. Since postcss (with `precss`) mimics sass well enough, I don't have one. Feel free to edit for yourself with a sass parser.

[2017-01-30 05:06] balupton commented on #604
But the only reason I can imagine of why people want that is because they are free and quick hosting -however zeit/now + cloudflare accomplishes the same - with much more coolness

[2017-01-30 05:12] balupton opened #925 "server-side caching?"
I'm considering using next.js for an application where we want to render markdown files.

However, rendering a markdown file + syntax highlighting + all the rest for each client request is quite intensive on the server, and on the client more so as each client has to load the markdown and syntax highlighting libraries to perform the operation.

Is there a way with next.js for the server to cache a

[2017-01-30 05:17] sergiodxa commented on #925
There is already an example of server side rendering with cache in the repo:
https://github.com/zeit/next.js/tree/master/examples/ssr-caching

[2017-01-30 05:29] balupton commented on #925
@sergiodxa okay cool - so does that avoid client-side rendering completely for pages that are inside the cache?

[2017-01-30 05:44] sergiodxa commented on #925
No, what that it's going to do is that if the user access a page for the first time (or reload a page) the first time that page it's rendered in the server as usual, but after the first server render it's going to return the cache.

If the user transition to that page in the client, then it's always going to render in the client.

If you want to avoid that at all I think you can use a normal ancho

[2017-01-30 05:46] arunoda commented on #925
Thanks @sergiodxa for answering the question.

[2017-01-30 06:12] arunoda commented on #918
@tgoldenberg I can reproduce the issue.
It's not refreshing for changes(I simply changing the `LandingPageContent`) but takes ~8 secs to re-compile.

[2017-01-30 06:19] frol commented on #917
@ugiacoman No, I have just installed it (`npm install --save react-md`), import it (`import ... from 'react-md/...'`), and added compiled CSS files and fonts using `<Head>`. That is it.

[2017-01-30 06:47] arunoda commented on #608
@rauchg @nkzawa I think we need to find a better solution than this one.
See this repo: https://github.com/tgoldenberg/next-sample (#https://github.com/zeit/next.js/issues/918)

Basically it only have a single page, but with source maps enabled it took around ~10 seconds. Even without webpack it took around ~2 seconds for changes. Mostly this is because of the use of `material-ui`.

[2017-01-30 06:48] arunoda commented on #608
I'm going to see whether adding tree-shaking support gives us something better.

[2017-01-30 07:30] arunoda commented on #608
There's a way to do this properly. We could pick all the common modules and serve them as a DDL. So, nothing inside pages directory deals with Webpack at all. So, that's where we could get the speed.

I think we need to work hard to do this automatically, but we don't wanna do it like that. I'll try to work on this. If we can land this before 2.0, that would be huge.

[2017-01-30 08:42] agriboz opened #927 "Port already being used"
I have another app using port `3000`. So when i start the server, it fails with the following `Error: listen EADDRINUSE :::3000`

There was a discussion about this topic.

I don't know what do you guys think about it?

https://github.com/facebookincubator/create-react-app/issues/85

[2017-01-30 09:27] sedubois commented on #851
@timneutkens I opened an issue over there and there are suggestions on how to fix your concerns: https://github.com/MatAtBread/fast-async/issues/32#issuecomment-276014312

[2017-01-30 09:51] arunoda commented on #927
We want something simple like this: https://github.com/zeit/next.js/pull/68#issuecomment-260302239

PRs welcome.

[2017-01-30 10:54] yn5 commented on #604
@balupton Not really, if you have a static site which does not have to render the app or fetch data on the backend before it is sent to the server you can gain a lot of speed. This is the main reason I make static web-apps.

[2017-01-30 11:55] rohitpal99 opened #928 "async getInitialProps on Layout not working"
Hi,
Can layout and children component both be async, I am trying out but it seems that only children component getInitialProps is getting called. Please verfiy.

./components/layout.js
[code]

./pages/index.js
[code]

[2017-01-30 12:15] timneutkens commented on #928
`layout.js` is not supported. You can use `_document.js` as described here: https://github.com/zeit/next.js#custom-document

[2017-01-30 12:22] Ehesp opened #929 "Dynamic Routing"
Hello,

I know this has been discussed in a few other places and also there is a example repo for express, however I'm struggling to get this working with the examples and help on slack:

I need two routes:
- `/notifications` (pages/notifications/index.js)
- `/notifications/:id` (pages/notifications/single.js)

My server (express) is setup to like so:

[code]

On the server `getInitialProps` I can

[2017-01-30 12:23] sakulstra opened #930 "import firebase error"
Hello,
I the firebase docs there's a section about reducing bundle size by only importing/requiring the parts that you need e.g.:
[code]
which works perfectly fine on e.g. create-react-app.
On next.js i get an
`{ [Error: The XMLHttpRequest compatibility library was not found.]
  code: 'auth/internal-error',
  message: 'The XMLHttpRequest compatibility library was not found.' }` error

Someone has

[2017-01-30 12:45] Ehesp commented on #930
What firebase action are you trying to do? Or is this error thrown when trying to initilize the app?

[2017-01-30 12:51] rohitpal99 commented on #928
Hi @timneutkens, Thanks for your quick response. Now, able to use async in Document and Nested component.
However I have two links using (Link component) and I don't want to reload Layout component's data once loaded. However I can see in network tab all javascript is being loaded again

![image](https://cloud.githubusercontent.com/assets/7090592/22423717/ef1e619e-e718-11e6-8f28-08f497135e22.png)

[2017-01-30 12:53] sakulstra commented on #930
@Ehesp i only initialize the app, but even if i comment it out it seems like adding the two require lines above is enough to let the server crash.

[2017-01-30 12:59] timneutkens commented on #928
Actually, just noticed there is a new example. I Will have to try that one to make sure it works as expected.

[2017-01-30 13:00] timneutkens commented on #928
@arunoda could you have a look at:

Now that I am able to use async in Document and Nested component.
However I have two links using (Link component) and I don't want to reload Layout component's data once loaded. However I can see in network tab all javascript is being loaded again

[2017-01-30 13:26] arunoda commented on #928
@timneutkens It's really hard to say anything without looking at a sample repo.
 @rohitpal99 could you provide a sample repo?

[2017-01-30 13:31] arunoda commented on #930
@sakulstra I guess that's an issue.
May be you could try to mock the Node.js environment with the our custom server API and try to add what firebase is looking for.

Since firebase is not open source, that can be quite tricky. May be we could try to read the source code at `node_modules`

[2017-01-30 13:36] arunoda commented on #929
You server route should be something like this:

[code]

[2017-01-30 13:40] rohitpal99 commented on #928
@arunoda - Here is the [repo](https://github.com/rohitpal99/nextjs-testing)

[2017-01-30 13:45] arunoda commented on #928
@rohitpal99 do not put `Link` inside the `_document`.
It's only for setting up the initial HTML layout.

Check this: https://github.com/zeit/next.js/issues/885#issuecomment-275291842

Do all the liking and layout stuff in you `pages`

[2017-01-30 13:45] #928 closed

[2017-01-30 15:01] rohitpal99 commented on #928
@arunoda  - I wanted to make a layout that allows getInitialProps to fetch data from remote api and content of the app should be page component which also have getInitialProps and requires separate api call. On Client only page content is supposed to change and Layout doesn't reload at all.

Can you please suggest a way?

[2017-01-30 15:16] taromero opened #933 "Startup can't find index.js if "files" configuration is used"
I have the following now.json config:

[code]

Here I want to include the webpack bundle.js file, which I have listed within .gitignore.

If I try to deploy with this configuration, I get an `Error: Cannot find module '/home/nowuser/src/index'` error. When I remove the "files" section at the now.json file, I can deploy without problems, but the bundle.js file is not available.

I think the expecta

[2017-01-30 15:28] timneutkens commented on #933
This seems related to `now` not `next.js`. Please post your issue here https://github.com/zeit/now-cli ❤️

[2017-01-30 15:28] #933 closed

[2017-01-30 15:32] taromero commented on #933
Sorry for that :joy:. Just created the [ticket](https://github.com/zeit/now-cli/issues/265) at the proper zeit/now-cli repo, thanks!

[2017-01-30 15:44] fridays opened #934 "Check out next-routes - Universal named routes for next.js"
Hello guys!

I just published **[next-routes](https://github.com/fridays/next-routes)** to npm and hopefully it can be useful for others. It let's you define named routes for a next.js project in an express-style syntax and provides a server middleware and wrapped `Link` and `Router` to generate the URLs:

[code]

Check out the [README](https://github.com/fridays/next-routes) for full details.

Th

[2017-01-30 15:53] tgoldenberg commented on #917
@frol, I'll checkout `react-md`, but I think the issue still remains. A lot of people use `material-ui`, and migrating isn't always that easy.

[2017-01-30 15:56] tgoldenberg commented on #918
@arunoda, thank you for the response! I will close this for now and try all of the suggestions. The SVG icon issue is not something I thought of but makes perfect sense. I think we should compile these suggestions into a `development performance` section in the README. Would be glad to contribute in that direction as well :)

[2017-01-30 16:00] tgoldenberg commented on #918
@arunoda only thing is, I'm not clear why the `style-jsx` is wrong. I thought I followed the README as per its implementation. Can you point me towards an example with Next.js? Thanks.

[2017-01-30 16:00] #918 closed

[2017-01-30 16:05] fridays commented on #929
Maybe [next-routes](https://github.com/fridays/next-routes) can be helpful to you, you could use it like this:

[code]

[2017-01-30 16:48] arunoda commented on #918
@tgoldenberg check this for styled-jsx example: https://github.com/zeit/next.js/tree/master/examples/basic-css

I think most of the examples in the examples directory uses `styled-jsx`.
Anyway, this is a real issue and I'm working on a proper fix: https://github.com/zeit/next.js/issues/608#issuecomment-275995640

[2017-01-30 17:06] arunoda commented on #934
This is a pretty nice project.
Good job.

[2017-01-30 17:57] TooTallNate commented on #851
To implement this properly we just need to wrap the getInitialProps return value with `Promise.resolve()`. (something like `await Promise.resolve(this.getInitialProps())`). It seems weird to me to rely on the parser for that behavior.

[2017-01-30 18:15] alexedev commented on #917
@frol could you please elaborate on how you compile and add compiled files to Head? (I'm new to next.js)

[2017-01-30 18:34] abelovic commented on #923
@arunoda Thanks for your response - I think you were on the right track. To test this, I downloaded the zip from S3 and ran it locally and I get the following error:

"next" is not recognized as an internal or external command, operable program or batch file.

What is interesting is that next *is* in my node_modules folder and the .next folder exists as you would expect it. If I run "npm install n

[2017-01-30 18:39] abelovic commented on #923
Also here are the commands I run in codeship before sending to AWS:

nvm 6.9.1
npm install
npm run build

[2017-01-30 18:53] timneutkens commented on #851
@TooTallNate Fair point. Will have a look into that 👍

[2017-01-30 19:02] DarkAdmiral commented on #917
Hey, just update to next 2.0.0-beta.20 and adapt your jsx styling. For testing I commented out

`import LandingPageContent from '../components/splash/LandingPageContent.js';
<LandingPageContent` />
<style jsx>{mainStyles}</style>`

Your button was working then.

/Jan

[2017-01-30 19:16] timneutkens commented on #930
Could you try `const firebase = require('firebase')` as stated here https://firebase.google.com/docs/web/setup that's the way to call on the node.js side of things. I'm not sure if it will run in a browser. But with dynamic imports coming 🔜 that could be resolved.

[2017-01-30 19:22] timneutkens commented on #923
@abelovic what do you run on the server? `npm run start`?

[2017-01-30 20:17] abelovic commented on #923
Yeah. I have set the following in the container options in the AWS console configuration:

Node command:

**npm run start**
 Command to start the Node.js application. If an empty string is specified, app.js is used, then server.js, then "npm start" in that order.

...and from my json package above I specify the port (because that's what nginx is configured to listen on in EB):

...
"start": "npm r

[2017-01-30 20:25] fridays commented on #934
Thank you!

[2017-01-30 20:51] timneutkens opened #937 "Remove propTypes in production build"
Implement something like this:
https://github.com/oliviertassinari/babel-plugin-transform-react-remove-prop-types

[2017-01-30 20:51] sakulstra commented on #930
@timneutkens this will most properly work as it's basically equivalent to:
`import firebase from 'firebase'` which also works, but like your require approach this increases build size a lot (with unnecessary things like messaging and database if you e.g. only need auth).

@arunoda i'll try to figure things out, but my hopes are low as it's not important enough to waste a lot of time with this :)

[2017-01-30 21:03] Ehesp commented on #930
@sakulstra I do the general import, also does't work with specific importing.

On a side note with Firebase, just remember you can't do authentication with the client SDK on the server, or anything which requires user specific requests.

[2017-01-30 21:04] arashsa commented on #370
Would be very good to have a tutorial on the nextjs documentation on possible ways to connect to a database, and how you could use sockets to have realtime apps that update on changes to database.

[2017-01-30 21:07] arashsa commented on #820
I think in order to make nextjs become more attractive to those that are new to web development, it is a good idea to include some examples and short tutorials for how to connect and use a database. How can you create realtime apps with nextjs?

[2017-01-30 21:16] Ehesp commented on #929
@arunoda that makes sense cheers :) Works!

[2017-01-30 21:16] #929 closed

[2017-01-30 22:12] timneutkens commented on #934
This is cool! 👍 💯

[2017-01-31 02:45] stretchkennedy commented on #604
@yn5 I think he's talking about using cloudflare's caching.

For myself, the reason I want to render a static site is to lower the attack surface and to consume fewer resources. Deploying nodejs requires keeping more dependencies up to date than just deploying nginx, and wastes a perfectly good VM even if you put it behind cloudflare.

[2017-01-31 03:26] #865 closed

[2017-01-31 03:31] bassbump commented on #544
Seems like that is currently the best solution, using gulp to compile css file and build it inline or just even in /static if you don't mind not having hot reloading.

[2017-01-31 06:25] sedubois commented on #370
@arasha you can e.g look at my app: https://github.com/relatenow/relate. Just doesn't yet have realtime subscriptions but you get the idea.

[2017-01-31 07:47] manishbalyan commented on #881
hi @davibe i am saving my auth token in localstorage and then adding in headers from there but when server side request goes it did not set my autherization header.
Can you please suggest me some other way to set headers

[2017-01-31 08:43] davibe commented on #544
I have been working on this

https://github.com/davibe/next.js-css-global-style-test

Please help me test and PRs are welcome

[2017-01-31 09:29] davibe commented on #881
If you set it as a cookie the server can read that cookie form headers. Have a look at how cookies work.

[2017-01-31 10:18] balupton commented on #153
Just to add to the requests graph.cool + apollo + jwt + auth0 + next.js, the first 4 parts of that are already done at https://github.com/graphcool-examples/react-apollo-auth0-example

[2017-01-31 11:42] davibe commented on #627
I think i solved this. Have a look at https://github.com/davibe/next.js-css-global-style-test and #544

[2017-01-31 11:51] sakulstra commented on #899
i just wanted to confirm this issue: for me it even occurs when running the official https://github.com/zeit/next.js/blob/master/examples/with-mobx/components/Page.js demo with .19 and .20

[2017-01-31 15:59] frol commented on #917
@alexedev @tgoldenberg I have just PRed the example of using React-MD with Next.js: #940

[2017-01-31 16:35] benhjames commented on #923
Possible dupe of #198 and by extension #360?

The build path `/var/app/current` doesn't match the runtime path `/home/rof/src/github.com/abelovic/apollo`, so the output of absolute paths by webpack may cause it to fail. Rebuilding on AWS would fix up the absolute paths to match - I guess that's why you're seeing that behaviour. :)

[2017-01-31 19:45] cweekly commented on #65
Nit (for posterity / SERP traffic) - there's no such "redux example" page on the wiki. Try:
https://github.com/zeit/next.js/tree/master/examples/with-redux

[2017-01-31 20:44] sakulstra commented on #138
Sry for digging this out again :)
I basically wanted to figure out what code style next.js recommends when i found this ticket.

I love what create-react-app did to os react applications:
It basically made people sensible for linting and you can see this in numerous applications here on github. I think that next.js shouldn't have an opinion about what kind of linting you use - but it should at lea

[2017-01-31 20:51] timneutkens commented on #138
I guess we can accept an example in the examples directory for them 🤔 Something like: `with-linting-eslint` `with-linting-xo` `with-linting-standard-js` cc @impronunciable

[2017-01-31 20:57] sakulstra commented on #138
hmm... i'm not a fan of that idea :)
linting is no :rocket: science. For standard it's basically really only the two lines you have to type and for eslint its not more complicated (more packages though).

The part in the readme is imo important as almost everyone will read this and should think: `oh yes, good catch i should lint - i'll do it right away`.

[2017-01-31 21:27] vonwao opened #942 "next fails to start without any message"
Nothing happens.  An error message would be good.

[code]

[2017-01-31 22:07] Zaiban commented on #899
I'm not using MobX, but I suspect that the error I'm having might be related. Beta 19 or higher gives me
```TypeError: Cannot read property 'position' of undefined```
I'm using other libraries which use providers, namely Redux, Styletron and I18Next. So maybe the error has something to do with React Context which is commonly used by providers.

[2017-02-01 04:18] arunoda opened #943 "Turn off source maps by default"
Actually, here's my key points for this:

* Babel errors (with HMR) works without source maps properly
* Stack traces don't know how to handle source maps
* This slows down the app by 4X or more (This is a big deal)
* One can turn on source maps with our custom `next.config.js`

[2017-02-01 07:22] timneutkens commented on #943
The only place it is needed is styled-jsx. To show styling locations. I'm not sure if this is related to webpack's sourcemaps though.

[2017-02-01 07:33] timneutkens commented on #942
I'm assuming you have run `npm install` before the above `npm run dev`, I've just checked this and it builds the app for me 🤔

[2017-02-01 07:42] arunoda commented on #943
I think `styled-jsx` babel plugin does that. (not webpack)

[2017-02-01 11:10] sstubbs commented on #934
This looks great! thank you.

[2017-02-01 12:31] obiwarn commented on #77
Given the current momentum of vue on Github (40 000 stars) it seems it could be the successor of react (50 000 stars). So: yes please. Vue is awesome!

[2017-02-01 13:55] carloscuatin commented on #937
or something like this
https://github.com/thejameskyle/babel-react-optimize

[2017-02-01 13:58] timneutkens commented on #937
@carloscuatin cool! Will definitely look into that 👍

[2017-02-01 15:14] nmaro commented on #153
@balupton in your example what happens when the token expires while the user is still connected, is the session just over or is it renewed somehow?

[2017-02-01 16:03] balupton commented on #153
@nmaro don't know, not written by me - best to ask over there

I've got auth going with next.js and auth0, then with a zeit/micro API server that verifies the bearer tokens.

Should be able to open-source sometime in February.

[2017-02-01 16:11] balupton opened #945 "make the error page component a public component useful for consumption"
right now there is https://github.com/zeit/next.js/blob/ec2c8c6784aae680964a32ab7a5bc2b657e5cf98/pages/_error.js

it is the really pretty error page when a server-side error occurs

pretty much as error handling is super common, it would be nice if I could just do:

[code]

With error being a string, or an Error instance - if an error instance, message should be displayed, as well as the stack

[2017-02-01 16:28] abstracthat opened #946 "Next.config.js `resolve.modules` not working to resolve module"
I'm looking for a simple way to link up a few directories that are in the root of my project to use as paths for webpack to resolve modules. That is, `import Button from 'components/Button'` without all of the `../..` directory hops. I believe that either of these would do that...

[code]

or with `alias`...

[code]

Neither of those seem to work. Am I missing something? Is `__dirname` not giving

[2017-02-01 18:05] rauchg opened #947 "Avoid double qs parsing?"
[code]

I think `handle` should admit `query` as a param to avoid double-parsing?

[2017-02-01 18:08] abstracthat commented on #946
My apologies. I set up that import incorrectly. It does work on the client when I use the webpack key but not on the server. I guess that's because we don't have webpack on the server. Any other ideas?

[2017-02-01 18:18] abstracthat commented on #946
I got it working with a Babel plugin instead. https://github.com/tleunen/babel-plugin-module-resolver

It does make me wonder the examples that alias react with Inferno for example, is that using React or Inferno on the server since the alias is just in webpack?

[2017-02-01 18:22] Gregoor commented on #198
Would love to use `now`, unfortunately I need a DB (namely PG), so I have to go with Postgres.

Anyway, a problem with most of the approaches named here for me is that they assume that the client app can be built without the backend running. In my case I need the BE running so that the babel-relay plugin can get the GraphQL schema and verify that all the client's data requirements can be resolved.

[2017-02-01 20:06] impronunciable commented on #934
This is great. It seems to be an [Awesome nextjs](https://github.com/unicodeveloper/awesome-nextjs) repo for this to be included. I'll close this issue but thanks for sharing :)

[2017-02-01 20:06] #934 closed

[2017-02-01 20:29] impronunciable commented on #927
Works as intended LGTM

[2017-02-01 20:36] #927 closed

[2017-02-01 20:58] alexedev commented on #917
@frol great, thank you

[2017-02-01 22:29] timneutkens opened #951 "Styled-jsx module not found"
I believe this is related to #926.

All modules get absolute paths except styled-jsx.

For example in `.next/dist/pages/_error.js`.
You can try this with the `custom-server` example by going to a 404 route. `/example` for example.

[code]

[2017-02-01 22:44] timneutkens commented on #951
Found the issue. Creating a PR now.

[2017-02-02 00:00] vonwao commented on #942
Yes, npm install completed without any errors.

[2017-02-02 02:28] arunoda commented on #951
Okay. Here's what's happening is pretty interesting.
`styled-jsx/babel` add the import statement of `styled-jsx/style`
Since we don't transpile ES2015 modules, `styled-jsx/style` won't get resolved via babel.
(But it happens earlier)

Let's see what we can do.

[2017-02-02 02:38] arunoda commented on #942
@vonwao run it like this:

[code]

[2017-02-02 02:58] arunoda commented on #946
@abstracthat inferno example doesn't use React on the server.
See fjx: https://github.com/zeit/next.js/pull/767

Using `https://github.com/tleunen/babel-plugin-module-resolver` is the current solution.

[2017-02-02 02:58] #946 closed

[2017-02-02 03:25] bassbump opened #954 "Async mapStateToProps"
What is not entirely clear to me in the "with-redux" example, how would I go about having an action dispatched on server render, that consists of thunks that fetch data from some api?

[2017-02-02 04:20] gcpantazis commented on #786
I can look into this tomorrow if nobody else is on it, also critical for us.

[2017-02-02 05:39] zhaoyao91 opened #955 "Infinitely refresh when visit on 127.0.0.1:3000"
when run with `npm run dev`, if I visit it on `localhost:3000`, everything goes well. but if I visit on `127.0.0.1:3000`, the page gets refreshed infinitely.

[2017-02-02 05:56] #951 closed

[2017-02-02 06:51] #947 closed

[2017-02-02 06:57] yoonwaiyan commented on #942
@arunoda I have the same problem as OP, your suggested solution didn't work for me though. I'm running on node version v5.4.1 that yields the result. Before switching back to older version I've tried using newest version of node v7.5.0 but it has weirder error(error while parsing package.json).

[2017-02-02 10:18] sarukuku opened #956 "Failed to register a ServiceWorker: ServiceWorker script evaluation failed"
We're getting this kind of error on latest Chrome on Android tablet. I quickly peeked the file that's causing the error and it seems that there's code written with ES6 syntax in the file. See the screenshot below. Should the service worker code be compiled to ES5?

![screenshot 2017-02-02 12 13 25](https://cloud.githubusercontent.com/assets/1204559/22545413/55ccabec-e941-11e6-923a-aabca302d84c.png

[2017-02-02 10:22] arunoda commented on #956
Yep. We are working on a new way to handle prefetching.
Let's try to find a fix soon.

[2017-02-02 10:24] sarukuku commented on #956
Great! If we don't use the `import PrefetchLink from 'next/prefetch'` at all would this disable the service worker for now?

[2017-02-02 10:38] sarukuku commented on #956
Tested. Not using the `next/prefetch` circumvents the issue.

[2017-02-02 10:42] arunoda commented on #956
Yes. Sometimes it get started even you are not using it (But used it earlier).

[2017-02-02 11:19] nkzawa commented on #955
Cannot reproduce. Can you prepare a sample repository which we can reproduce if possible ?

[2017-02-02 11:59] arunoda commented on #956
Guys check this: https://github.com/zeit/next.js/pull/957

[2017-02-02 12:49] zhaoyao91 commented on #955
I should close this issue for now I don't have a repo to reproduce. Once I have a workable one, I will reopen it by the time.

[2017-02-02 12:49] #955 closed

[2017-02-02 13:02] victorkane commented on #954
Along these lines, we have the same question. For [a simple blog example](https://github.com/victorkane/blog-simple-next) we were able to apply the data-fetch example to great benefit in a very straightforward manner.

But in the [proto-redux branch of our same repo](https://github.com/victorkane/blog-simple-next/tree/proto-redux) we are struggling very hard to get something going akin to the [red

[2017-02-02 13:16] frol commented on #955
JFYI, I have seen such behavior on my end recently, but cold restart solved the issue for me so I didn't bother reporting it.

[2017-02-02 13:43] impronunciable commented on #954
@bassbump If I understood correctly what you need to do is "wait" until you get the data you need. A way to do that is to `await` to a function that subscribe to the store and resolves once the last action with the data you are waiting for is executed. What `getInitialProps` expect is an object with data. If you have an example I can try to help.

@victorkane I don't see how are you using the stor

[2017-02-02 13:53] victorkane commented on #954
@impronunciable First of all thanks so much for answering so promptly! I see that the branch proto-redux I pointed you to doesn't actually have our actual attempts I was describing.

In the course of the day we will update the repo with our most recent attempt, concretely, and will point you on this thread in that direction.

Thanks again!

[2017-02-02 13:59] sedubois commented on #954
Don't know if this is what you are interested at all, but you can do:

    const mapDispatchToProps = dispatch => ({
      doSomething: async param => dispatch(await callAction(param)),
    });

https://github.com/relatenow/relate/blob/master/hocs/withAuth.js#L9

[2017-02-02 14:07] impronunciable commented on #954
@bassbump here @sedubois example is perfect

[2017-02-02 14:08] bassbump commented on #954
I figured it out thanks @impronunciable !

If I do
[code]

It will load the data before render.
But can I do this behaviour as well in a redux-connected components? This doesn't seem to work at first try.

[code]

[2017-02-02 14:12] impronunciable commented on #954
@bassbump The thing is your pages are your top-level components. You could wrap your component with a HoC that does that work on every page but in the second example you are not creating the store.

[2017-02-02 17:14] iamstarkov commented on #544
@davibe thanks for your demo and babel-plugin-wrap-in-js

[2017-02-02 18:17] khrome83 commented on #544
In the example I see use of a CSS file, and a SCSS file. Do you know if this would work with postcss & cssnext?

[2017-02-02 19:16] bassbump commented on #954
So despite that components/Page.js is wrapped around `<Provider store={this.store}><Page /></Provider>`, it won't be able to access the store set in getInitialState in the top-level component pages/index.js?

[2017-02-02 19:46] pungggi commented on #703
when checking null on "childContex" it will throw a new errror
![image](https://cloud.githubusercontent.com/assets/5635709/22565508/ac338a22-e988-11e6-857a-dd9f9ac6c048.png)

[2017-02-02 19:51] timneutkens commented on #703
@pungggi you actually have to check `isNullOrUndef(instance.getChildContext)`. I've already looked into this. Just have to test it a bit more.

[2017-02-02 20:18] pungggi commented on #703
doh! you are right, thank you

[2017-02-02 20:25] timneutkens commented on #703
@pungggi I'll create a PR for it. Already had written the code at the right place. Just hadn't had the time to test it thoroughly 😄

[2017-02-02 22:55] timneutkens opened #962 "Loader not found for filetype"
using-router example + some others (preact, inferno) give the error in the screenshot.

<img width="1326" alt="screen shot 2017-02-02 at 23 51 27" src="https://cloud.githubusercontent.com/assets/6324199/22572039/958e1688-e9a2-11e6-9fb6-7a36860142e2.png">

[2017-02-02 23:58] #962 closed

[2017-02-02 23:59] #300 closed

[2017-02-03 00:11] rickyrauch opened #964 "Problem loading postcss example"
Hello,

I'm trying to run the postcss example and after running I'm getting this error:

[code]

[2017-02-03 02:03] bassbump opened #966 "Allow classname prop on <Link>"
It looks like this isn't currently possible? Wouldn't it make sense though, since it directly renders as an `<a>`, to be able to style it?

[2017-02-03 02:07] bassbump commented on #966
Okay, I figured you can put an `<a/>` tag inside the `<Link href="/"><a className="test">Test</a><Link>` and it will consume it and render it as a single `<a href="/" class="test">Test</a>`.

[2017-02-03 02:07] #966 closed

[2017-02-03 02:13] renatorib opened #967 "Cannot find module 'next'"
I'm trying to setup a custom server to handle some parametrized routes, and I used your example for that.
The problem is that when I run `node server.js`, It throws an error as if I had not installed `next` package.

![image](https://cloud.githubusercontent.com/assets/3277185/22576793/d95fbf4a-e9a4-11e6-8773-37abc9f3b1ea.png)

But, as you can see above, I've installed.

For investigate, I've notic

[2017-02-03 02:32] arunoda commented on #967
@renatorib `next@1.2.3` does not support custom server. So, you should use the beta.

[2017-02-03 02:32] #967 closed

[2017-02-03 03:51] bassbump commented on #141
I think this would be a very good addition to the Links, I wonder if Zeit did it on zeit.co the way @mallendeo described

[2017-02-03 05:33] nkzawa commented on #876
Btw, webpack2 supports options related to this topic.

https://webpack.js.org/configuration/performance/

We disable `performance.hints` for now.

Additionally, I wonder if this feature can be implemented by a webpack plugin. Ideally, I hope `https://github.com/geowarin/friendly-errors-webpack-plugin` supports this.

[2017-02-03 07:11] davibe commented on #544
@khrome83  I don't see why not, I think its just a matter of adjusting .babelrc and next.config.js

[2017-02-03 07:28] lixiaoyan opened #971 "Add decorator for pages to allow generic wrappers."
Something like this:

[code]

or

[code]

[2017-02-03 07:33] lixiaoyan opened #972 "Add entry file for adding something across pages (like polyfills)."
[code]

[2017-02-03 11:00] pesakitan22 commented on #872
any example with shared components?

[2017-02-03 11:46] thangngoc89 opened #974 "Gzip compression for static folder"
I'm using next 2 beta 20 and I have a css file in static folder. But looks like next.js doesn't gzip it by default. I know that I can write a custom server (or even use something like nginx for better performance) to server the static folder. But don't you think this should be the default behaviour?

By the way, thank you for making next.js . It's awesome. Make developement just like the old PHP d

[2017-02-03 11:56] schuma7 opened #975 "Create example for using Next.js with IE11"
Hi everyone,

I am currently evaluating next.js for one of my client projects. While playing around with the Redux sample under https://github.com/zeit/next.js/tree/master/examples/with-redux I noticed that it throws the following error under IE11:

[code]

The other examples that I've tried don't seem to throw this error and they also make use of Promise inside of commons.js. Does anyone have any

[2017-02-03 12:45] renatorib commented on #967
Oh, sure. It's not clear. Sorry for that.

[2017-02-03 12:50] arunoda commented on #971
Could you provide more info about this?

[2017-02-03 12:55] sakulstra commented on #971
@lixiaoyan not sure if i get your question, but it's pretty much possible to add wrappers around pages:
https://gist.github.com/sakulstra/f0d98ee45ac335f3cd694ed6123bd412#file-generic-get-initial-props-js
is what I personally use to make sure all stores are initialized on every entrypage.

[2017-02-03 13:02] lixiaoyan commented on #971
@arunoda @sakulstra I think it would be great if we have a way to make all pages wrapped in something, rather than do it in each file of pages manually.

[2017-02-03 13:02] sakulstra commented on #820
@arashsa i feel like the problems with examples ist, that they have to be maintained and the more examples you have the more likely it is that they end up hanging around outdated in the main repository. I feel like a wiki list is the better approach as you can simply remove and add links.

@knipferrc I'm currently working on a short firebase+next.js tutorial series: https://blog.mvp-space.com/next

[2017-02-03 13:33] victorkane commented on #872
Please wait just another day or so before closing. At the latest this weekend I will post our example we are working on, which will either work and be a great help to everyone, or else will not work and will be appropriate for this issue.

[2017-02-03 14:13] ooade commented on #872
@victorkane It's already closed.
BTW: I have an example [here](https://github.com/ooade/NextSimpleStarter), just in case :wink:

[2017-02-03 14:40] impronunciable commented on #974
@arunoda is there a reason for not gzipping the static folder files by default?

[2017-02-03 14:40] sakulstra commented on #971
Not sure, but if it's really a super generic wrapper you want, you could probably use _document.js or?

Anways, it's basically a one-liner wherever you need it and you usually don't have a billion pages or?
https://github.com/sakulstra/firebase-nextjs-mobx/blob/master/pages/index.js

Could you provide some more information on what you want to archive exactly?

[2017-02-03 14:45] #925 closed

[2017-02-03 14:54] bassbump opened #977 "styled-jsx exported variables don't seem to work with hot reloading"
I have the following in Navigation.js component

[code]

and the following in theme.js

[code]

This works on page reload, but doesn't work with hot reloading if I change something in theme.js

Is this intended?

[2017-02-03 15:52] pesakitan22 commented on #273
@SpencerCDixon glad if you could show me the full example.. mine got stuck

[2017-02-03 16:01] 7elven commented on #899
How to fix this error?

[2017-02-03 16:12] knipferrc commented on #899
I just tried this again with the latest beta.22 and the problem is there still. The app loads for a second but then throws the error.

[2017-02-03 16:43] #954 closed

[2017-02-03 16:46] sedubois opened #978 "Store gets created twice on server"
Code involving redux apparently can't avoid creating its store twice server-side (as mentioned in https://github.com/zeit/next.js/issues/273 and visible in the various examples including my app: https://github.com/relatenow/relate/blob/master/hocs/withData.js), which might result in loss of performance.

That's because getInitialProps can only return a JSON and no proper JavaScript object, so that

[2017-02-03 20:07] helfer commented on #387
@ads1018 nice example! Looks like it's been added to the Wiki [here](https://github.com/zeit/next.js/tree/master/examples/with-apollo) as well, so this issue could probably be closed?

cc @rauchg

[2017-02-03 20:12] helfer commented on #106
FWIW @ads1018 found a pretty neat way to get Apollo working with almost no boilerplate in #387. See the example in the [wiki](https://github.com/zeit/next.js/tree/master/examples/with-apollo).

[2017-02-03 20:21] stubailo commented on #387
We should get a blog post about Apollo + Next.js on the Apollo blog!

[2017-02-03 20:24] tgoldenberg opened #979 "Better explanation of build tool"
Would be great to get a better explanation of what exactly the `next build` command does. Just from poking around in the `.next` folder (which is where I assume the build is being produced, I was unable to understand what was created, or how to run the build locally.

@arunoda, you can probably explain this best to me, but coming from MeteorJS, the `build` command would produce a `main.js` file wh

[2017-02-03 20:26] rauchg commented on #937
I'm going to give this a priority boost

[2017-02-03 20:27] #920 closed

[2017-02-03 20:29] sedubois commented on #387
@stubailo @ads1018's example is great 👏  For something bigger using same Apollo principles, can check my app: https://github.com/relatenow/relate

[2017-02-03 20:37] ads1018 commented on #387
Thanks @helfer. I'm thrilled with how it came out. I feel like I discovered the holy grail of app development with Next.js + Apollo. I've been meaning to follow up with a blog post in an effort to spread the gospel but just haven't gotten around to it. @stubailo I'd be happy to collaborate on a piece on the apollo medium publication :)

[2017-02-03 20:41] sedubois opened #980 "With-apollo: use reduxRootKey"
@ads1018 the Apollo doc is a bit confusing (https://github.com/apollographql/react-docs/issues/123) but I think `apollo` shouldn't be hard-coded, instead should use something along the lines of:

[code]

[2017-02-03 20:48] amotion commented on #929
I'm experiencing a similar issue but am unable to get it working. I'm linking from a route like `/photo/1` to `/photo/2` and I can see that the component is fetched and render is called inside of the component, but the page doesn't update. The URL does change, however, and reloading the page after following a link will load the new page.

[code]

[code]

[2017-02-03 20:49] amotion commented on #929
Doing the same thing with a different page works correctly (like linking to `/about`) but I'm unable to make one photo link to the next (like from `/photo/1` to `/photo/2`)

[2017-02-03 20:49] sedubois commented on #980
Or actually can be simplified to (https://github.com/apollographql/react-docs/pull/141/files#diff-e65085a675fc082c408f1708267d9b28R138):

[code]

[2017-02-03 21:05] ads1018 commented on #387
Huge shout out to @sedubois for helping out with the example and his app which I was I borrowed quite a bit from. 😄

[2017-02-03 21:08] rockchalkwushock opened #981 "[Question] More than one Link to import?"
I'm seeing the `Link` component brought in to the example repositories as:

[code]

I imagine there is a difference between these `Link` components as one is used in the _data-fetch_ repo and the other throughout various repos. Can someone explain if they are different?

I just started checking out _Next.js_ like 15 minutes ago and am very impressed; but definitely have a lot to learn!

[2017-02-03 21:13] rockchalkwushock commented on #981
I see now how they are different.

[2017-02-03 21:13] #981 closed

[2017-02-03 21:23] theadactyl commented on #387
@ads1018 would love to get you on the blog. When you're ready to chat about it, ping me (thea) on Apollo Slack. :)

[2017-02-03 21:30] timneutkens commented on #387
@helfer You are totally right. I should do a new issue pass to see if issues can be closed 😄

@stubailo @theadactyl awesome idea ❤️

[2017-02-03 21:30] #387 closed

[2017-02-03 22:05] tgoldenberg commented on #627
@davibe I found that the repo you linked to loaded the css / scss but caused other issues. For example, I wasn't able to deploy successfully. Really wish there was better support for css imports in some way... And I don't get why `<style jsx>{interpolatedStyles}</style>` doesn't work. We should be able to use css as modules some way...

[2017-02-03 22:11] tgoldenberg commented on #544
@davibe I found that I was unable to deploy my app based on your configuration. The build was unable to read `next/babel` in the `.babelrc` file. I submitted an issue, but I'm really hopeful that a solution emerges from all this. Missing the ease of `import file.css` from `create-react-app`, but I know there must be a solution coming :)

[2017-02-03 22:23] rauchg commented on #544
The solution I want is likely along these lines:

https://github.com/zeit/styled-jsx/pull/100#issuecomment-277133969

We *might* support importing `.css` (by means of simply transpiling it into a module that exports a string) (and likewise we might support `.svg` by transpiling it into a pure react component)

[2017-02-03 22:32] amotion commented on #929
Nevermind!

[2017-02-03 22:38] stephenmathieson commented on #544
This is a pretty simple trick. I'll create a basic example showing how I handled this in another project =)

[2017-02-03 22:45] timneutkens commented on #627
This is actually a duplicate of #544. Closing this in favor of having the full CSS importing discussion there.

[2017-02-03 22:45] #627 closed

[2017-02-03 23:16] timneutkens commented on #977
For safe keeping, since I was about to say: please move this to styled-jsx 😅

zeit/styled-jsx#104