[2018-03-12 12:53] #3995 closed

[2018-03-12 12:59] jbsmith731 commented on #3991
I'm having the same issue. I have my app inside of `./app` directory. I've made the adjustments to the express server & the build command however my css file still 404s.

[2018-03-12 16:22] revolunet commented on #3967
How do you declare your css ?
mine is declared in `_document.js` with a hardcoded path so of course the assetPrefix needs to be set manually.

[2018-03-12 16:34] timneutkens commented on #3967
You can use the following in `_document.js`:

[code]

[2018-03-12 16:34] #3967 closed

[2018-03-12 18:03] OmarZeidan commented on #88
Hello floks,

Any updates on this?

[2018-03-12 18:32] lfades commented on #3950
@timneutkens I think this issue can be closed now, `scroll` is already in docs 💃

[2018-03-12 18:33] #3950 closed

[2018-03-12 19:42] jonjamz commented on #3394
Not sure why a style lib is chosen/bundled into Next at all. Seems out of scope, especially when there are so many ways to do styles.

[2018-03-12 21:17] aaronkchsu commented on #1013
I am running into this too! I will try to upgrade and see what happens! Thanks for everyone who commented on this!

[2018-03-12 21:52] kirill-konshin opened #3998 "Export should generate default path map w/o config"
When building and exporting a minimal setup using NextJS it should generate default path map automatically.

Currently it forces user to create one, even if no query strings of params are used and path map is a simple 1=1 between pages in `pages` dir and URLs.

Right now it leads to a quite stupid config file like this one, the sole purpose of which is to do the obvious:

[code]

Maybe we should s

[2018-03-12 22:56] willmeierart commented on #2499
@pex / anyone having this trouble in the future:
can confirm that @arunoda 's advice worked for me, with the following .babelrc:
`
{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "styles": "./styles"
        },
        "cwd": "babelrc"
      }
    ],
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "scss$"]
      }
    ]

[2018-03-12 23:47] sheerun commented on #2668
Same issue

[2018-03-13 00:26] jlei523 commented on #3303
We're also running into this issue and it makes the user experience very frustrating to use. @arunoda Any thoughts or way to fix this?

[2018-03-13 01:12] spencersmb commented on #3303
I was having this same issue as @mgiraldo awhile back and I originally was just using router.push(), but as soon as I switched to using the <Link> tag, my problem resolved itself with out needing to implement a hack like scroll-to-top in component did mount or something ghetto like that. Curious if you are using a Link tag at all?

[2018-03-13 02:30] mgiraldo commented on #3303
it is a regular `<Link />` see: https://github.com/dpla/dpla-frontend/blob/master/components/ExhibitionsComponents/AllExhibitions/components/ExhibitionsList/index.js#L8-L18

but we ended up using `componentDidMount` with `window.scrollTo` in the destination page: https://github.com/dpla/dpla-frontend/blob/master/pages/exhibitions/exhibition/index.js#L25-L27

feels very hacky, though... and we have

[2018-03-13 02:33] mgiraldo commented on #3303
you can see the patched version here: https://beta-staging.dp.la/exhibitions

[2018-03-13 02:44] TonyHYK opened #3999 "Back button does not trigger getInitialProps after shallow routing followed by client transition"
Hi, I'm noticing that the back button doesn't trigger getInitialProps.

- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Steps to Reproduce
1. Go to https://wecured.com/condition/depression
2. Click on 'Symptoms' tab, which will trigger a shallow client transition.
3. Click on 'hay fever' on the

[2018-03-13 03:34] jlei523 commented on #3303
@mgiraldo I see a slight flash when using the back button. We're running into the same issue.

[2018-03-13 04:43] tilomitra commented on #3707
@posrix  can you elaborate on this a bit more? Even if I add a http proxy in backend, loading the site in https mode causes this error. Have you been able to get around that? Thanks.

[2018-03-13 05:14] spencersmb commented on #3303
@mgiraldo In another part of my site I forgot I did this:

`Router.push("/account")`
 `window.scrollTo(0, 0)`
 `document.body.focus()`

which works when navigating TO a page, but like you said when you hit the back button, its at the top of the window because I think the window recorded that in its history....
What are you doing to mitigate that back button issue?

[2018-03-13 09:46] timneutkens commented on #3999
Duplicate of #3065

Searching for `Back button does not trigger getInitialProps`

[2018-03-13 09:46] #3999 closed

[2018-03-13 10:09] roma98 commented on #2593
Hi guys!
I hope you don't mind me 'uping' this thread.
I'm actually in the same situation as the original description.
I'm in the process of migrating a decent size create-react-app to next.js, and the legacy code includes material-ui and aphrodite.
So to start, I have merged [with-react-with-styles](https://github.com/zeit/next.js/tree/canary/examples/with-react-with-styles) and [with-material-ui

[2018-03-13 10:18] kytwb commented on #3825
@torinagrippa Could you give any details on your solution? I'm also looking to implement templating with Next.js/Semantic UI.

[2018-03-13 11:29] TaroWong commented on #512
Hi @mike3run

Thanks for the amazing solution! However, I am having a problem. I am using `styled-components` with SSR stylesheets.

In the initial load, the font would not load but however when if I re-enter the code in the component. The hot-reload will load the fonts but if I do a page refresh the font would revert to the default font.

[2018-03-13 13:44] centinel3 commented on #3342
+1

[2018-03-13 14:11] realalexhomer commented on #3342
This is a big deal for us as we are using styled-components, and mount time is quite long when you have lots of components on the page. We are using something like this but it is far from ideal:

https://gist.github.com/derek-duncan/a71a8c3f6bade9a4a5c988acb13d7c06

[2018-03-13 15:06] brandonmp commented on #3931
@intermund  are you using typescript?

[2018-03-13 15:20] timneutkens commented on #3931
Upgrade to next@canary. It's not released on the stable channel yet 👍

[2018-03-13 16:09] flybayer commented on #1428
Firefox 60 has become completely unusable for Next development on this project: https://github.com/beedesignllc/glutenproject.com, especially the `store` branch.

It's not long after loading the page and/or changes that Firefox gets super sluggish, requiring a Firefox restart.

But Chrome works great.

[2018-03-13 18:29] OutThisLife commented on #3737
Got the same thing, clearing things out as above did not fix but `next@canary` did.

[2018-03-13 20:28] gcpantazis commented on #2682
@timneutkens ping on ☝️ before it gets stale! 🙇

[2018-03-13 23:05] DWboutin opened #4004 "Changing next's dir option won't load compiled css file"
I changed the Next.js config to handle the structure like I wanted but, the generated css file won't load the same way.
[code]
I load my css file like this
[code]
When I put everything outside the src folder, like suggered, it works.

- [x ] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Be

[2018-03-14 01:27] gauravdhiman opened #4005 "NextJS pings localhost server than the remote app server."
I am running my app server (NextJS + FeathersJS) on `localhost:3030` and for mobile testing I am accessing it from my mobile Chrome browser. I am seeing on mobile Chrome browser, the ping is failing as NextJS is trying to ping `localhost` which obviously will not be accessible from mobile browser. Can't we configure to ping the app server domain / IP:PORT than localhost always ? Looks like due to

[2018-03-14 01:59] gauravdhiman commented on #4005
Apologies, it was my wrong configuration of App Server. I should not have run to report it :-(
I don't think there is an option to delete an issue, so closing this issue.

[2018-03-14 01:59] #4005 closed

[2018-03-14 03:42] haha54carol commented on #4004
Try to put your pages folder under the root not in src
--project
--pages
--src
   --index.js

[2018-03-14 04:02] DWboutin commented on #4004
The pages works well, it's just the CSS file who won't load.

[2018-03-14 08:03] timneutkens commented on #4004
Try upgrading to next@canary.

[2018-03-14 08:07] timneutkens commented on #3737
Going to close this 👍

[2018-03-14 08:07] #3737 closed

[2018-03-14 08:24] ateufel opened #4007 "Next.js on Docker/Digital Ocean: Unknown system error -116, stat '/usr/src/app/pages/index.js'"
- [x ] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior
I am using Docker on Digital Ocean for a Next.js based project, the main page is pretty simple and should just show nothing more than a Facebook login button.

## Current Behavior

If i try to access it via Browser, the first ti

[2018-03-14 08:28] timneutkens commented on #4007
Please make sure you're starting the server in `production` mode and not `development`, because the `touch` module is only used in development, to be precise, here: https://github.com/zeit/next.js/blob/c204cdd91e62e91ecdb14cd6bc4588335ccf5a4e/server/on-demand-entry-handler.js#L5

[2018-03-14 08:28] #4007 closed

[2018-03-14 08:46] krokhale commented on #3735
Yeah rolling back, it's literally getting my Macbook pro to a standstill after a few hours of dev.

[2018-03-14 08:50] arnaud-zad commented on #3742
I still have this problem with 5.0.1-canary.15

[2018-03-14 09:54] kachkaev commented on #2180
I'd also like be able to configure path to static in a project with this layout

[code]

In current `src/server.ts`:
[code]

Desired change:
[code]

@arunoda could you please reopen this issue?

[2018-03-14 10:08] timneutkens commented on #4004
https://github.com/zeit/next.js/pull/3722

[2018-03-14 10:08] #4004 closed

[2018-03-14 10:20] haha54carol commented on #4004
This is my folder structure
├── ...
├── pages
├── src
│   ├── static
│   ├──── sass
│   └──── images
 | ── next.config.js
└── ...

@DWboutin ,
 Pages still can work but css not.
 I had same issue before.
 Fixed that by moving pages folder to root from src.
And you also need a next.config file
Hope it can help you!

[code]

[2018-03-14 10:49] ateufel commented on #4007
that fixed it, thank you so much!

[2018-03-14 12:17] timneutkens commented on #4007
🙏

[2018-03-14 13:08] timneutkens commented on #2682
The case mentioned in the issue topic is actually solved in next@canary. Thanks new 404 logic.

[2018-03-14 13:19] timneutkens commented on #2682
Creating a new issue for @gcpantazis's comments on other cases.

[2018-03-14 13:19] #2682 closed

[2018-03-14 13:20] timneutkens opened #4008 "useFileSystemPublicRoutes issues"
Comment by @gcpantazis:

For what it's worth, it looks like the case mentioned by most of the reporters here (i.e., server renders a 404s then flashes to an unexpected client-rendered page) was fixed incidentally as of `5.0.1-canary.5` (and specifically by #3749).

There's a few other cases that we could consider:

### Explicit navigation:

1) Create a `Link` that corresponds to a file-system rout

[2018-03-14 13:21] timneutkens commented on #4008
Taken from #2682

[2018-03-14 13:22] timneutkens commented on #2682
#4008

[2018-03-14 15:00] adrian-gallardo-wizeline commented on #2324
Having the same issue trying to migrate to next5.. @arunoda hotfix solves the issue.. There is any drawback or thing I should be aware after doing that?

[2018-03-14 15:09] leonel-ai commented on #3019
^ Exactly what happened to me. Check your <Head> comments.

[2018-03-14 15:49] jbsmith731 commented on #3991
@wellyshen see https://github.com/zeit/next.js/issues/4004

I updated to canary as suggested and this issue was resolved.

[2018-03-14 15:59] #3991 closed

[2018-03-14 16:01] wellyshen commented on #3991
@jbsmith731 Thanks I'll try it.

[2018-03-14 16:59] kachkaev commented on #2180
Alternatively, `staticDir` could go to `conf` object, i.e. become a part of `next.config.js` if this file exists. In my case it is present in development (so `conf` can be `undefined`) and is absent in `build` (so `distDir` needs to be defined).

[2018-03-14 17:12] rbalicki2 commented on #658
@Huxpro @davidrossjones I do the following with nextjs:

in my .babelrc
[code]

now, all of my static assets go into the static folder and have a hash. It's not exactly pretty, but it works.

Then, I upload the static folder to S3 and set the cache-control headers to immutable. There are no conflicts, obviously, because of the hash, and users of previous versions of the site can continue to get th

[2018-03-14 18:27] lightninglu10 opened #4010 "How to use .babelrc in combination with next.config.js?"
Hey guys, when I try to implement a custom .babelrc with next.config.js, I get a build error and it looks like its ignoring React Components (JSX).

.babelrc:
[code]

next.config.js:
[code]

- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Current Behavior

[code]

## Your Environment

| Tech

[2018-03-14 18:36] ticky commented on #3636
@arunoda @timneutkens is there any update on this? I’m holding off on deploying 5.0 as this is a big jump

[2018-03-14 18:51] timneutkens commented on #4010
We can't investigate issues without a full reproduction. Please provide a repository.

[2018-03-14 18:51] #4010 closed

[2018-03-14 18:51] timneutkens commented on #3636
Try next@canary.

[2018-03-14 18:53] lightninglu10 commented on #4010
For anyone else stumbling upon this, I found a fix. Don't use a .babelrc and instead pack everything into the next.config.js

I added this here right before pushing the loaders:

[code]

[2018-03-14 20:52] hugotox commented on #153
Hi all, just created an auth example with cookies and redux. See here https://github.com/zeit/next.js/pull/4011

[2018-03-14 22:08] DWboutin commented on #4004
@timneutkens Works perfectly! You rock! Thanks

[2018-03-14 22:10] brad-decker commented on #3345
@arunoda seconded the comment above. Just installed 5.0.0 to test out if that would fix the issue and discovered it does not.

[2018-03-14 23:48] jcollum opened #4012 "How do I test next/link using Jest? I get an error in Link.prefetch"
- [x ] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior

Links can be used in tests that are run with Jest.

## Current Behavior

[code]

## Steps to Reproduce (for bugs)
1. `"next": "^5.0.1-canary.15",`

1. Create a component with a render method like that returns: (partial):

[code

[2018-03-15 07:34] timneutkens commented on #3977
Copied the promisify function from Node.js core to support node v6:

[code]

[2018-03-15 09:57] Pixelatex opened #4016 "[Feature request] Show build output/progress"
When starting the next build, nothing is shown for a good amount of time. This has caused several misunderstandings with newer developers and is fairly annoying to have no idea how much longer your build will take.

- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior
I would expec

[2018-03-15 10:32] iamglenbacs commented on #3994
did you resolve this?

[2018-03-15 11:00] tommyka commented on #816
Its possible to use onClickCapture to catch the click-event before it reaches the listener of the link.
If you do a preventDefault there it disables the link component

[2018-03-15 11:20] Samatar26 commented on #3977
@rauchg @timneutkens Working on it 👍

[2018-03-15 12:33] Vadorequest commented on #1488
@biot023 you can bypass this issue by sending back the environment in the `getInitialProps` return data. This way the client gets its env from the server

[2018-03-15 13:01] timneutkens commented on #1488
This is a new feature that will be introduced with Next 5.1: https://github.com/zeit/next.js#exposing-configuration-to-the-server--client-side

You can already use it on next@canary.

[2018-03-15 15:53] mtford90 commented on #3735
This is a huge problem for me - with next 5 my builds can take upwards of 15s and my laptop grinds to a halt. On next 4 it's more like a few hundred milliseconds.

[2018-03-15 15:55] timneutkens commented on #3735
I don't want to repeat myself. But:

[2018-03-15 16:03] pklada commented on #3993
Your screenshots appear to be the same.

But, I'm getting a similar behavior when using css modules.

config:
![image](https://user-images.githubusercontent.com/1474231/37475246-763c0534-282f-11e8-97d2-f07a98635510.png)

test style (in `styles.scss`)
![image](https://user-images.githubusercontent.com/1474231/37475276-86f19e70-282f-11e8-9c38-8ad4b715f428.png)

markup
![image](https://user-images.gi

[2018-03-15 16:05] timneutkens commented on #3993
@pklada try upgrading to next@canary and installing the latest next-css. Should be fixed.

[2018-03-15 16:14] pklada commented on #3993
@timneutkens will do. thanks for the quick reply!

[2018-03-15 16:20] prakharrke commented on #1605
My problem got solved by putting a Text tag within the link and then adding the text inside the Text tag.

Instead of,
<Link to="/some-link">Some Link</Link>

Try,

<Link to="/some-link"><Text>Some Link</Text></Link>

Hope this helps.

[2018-03-15 17:32] fandy commented on #3993
Upgrading to `next@canary` fixed it for me. 🙌

[2018-03-15 17:32] #3993 closed

[2018-03-15 19:54] johno commented on #3737
In case anyone else comes across this, I also encountered the same error message. For me, the cause was from incorrectly importing from `next` rather than `next/document`.

[2018-03-15 20:20] TomiTakussaari commented on #4012
I've been using something like this to avoid that error:

[code]

Not sure if it would be feasible for next to detect that process.env = "test", and skip prefetch ?

[2018-03-15 21:25] Vadorequest opened #4017 "Uncaught ReferenceError: webpackJsonp is not defined"
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

I built my Next app and deployed it as I usually do, but when loading the page, I got the following on the browser:

`Uncaught ReferenceError: webpackJsonp is not defined` in main.js 1:1

Also, all JS interactivity was broken, but the style/design of

[2018-03-15 21:37] rustanacexd commented on #3693
I am also having this problem

[2018-03-15 22:28] jcollum commented on #4012
So I added

[code]

before my `describe` call and that fixed it.

Thanks so much!

[2018-03-15 22:28] #4012 closed

[2018-03-15 23:28] timneutkens commented on #4017
Not much we can do on our side. You can just build to a different directory and then move the directory to `.next` afterwards.

[2018-03-15 23:28] #4017 closed

[2018-03-16 01:34] dillonraphael commented on #3737
The real issue is when using the `babel-preset-2015` preset inside the `.babelrc` file. You should just let `next/babel` handle the es6 compiling

[2018-03-16 02:39] kunokdev commented on #1428
@nmaro Same here

[2018-03-16 03:27] posrix commented on #3707
There are many reasons that cause 'An unexpected error has occurred', you need to locate the issue use safari developer tool. In my case, its the CORS issue.

[2018-03-16 03:34] minooo commented on #3994
not yet，I just give up use TS - - !

[2018-03-16 08:18] ostrichegret commented on #263
@rauchg Would you please explain the steps to export for cordova please?
Thank you

[2018-03-16 10:10] Cuihongsen opened #4018 "how to use dynamic Import using relative path"
- [ ] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior
require relative path

## Current Behavior
require real path

## Steps to Reproduce (for bugs)

1.  import dynamic from 'next/dynamic';
2. const DynamicToast = dynamic(import('../Toast/Model'))
3. render <DynamicToast />
4. next

[2018-03-16 10:24] Cuihongsen commented on #4018
I update the version to 5.0.1-canary.15.
it works

[2018-03-16 10:24] #4018 closed

[2018-03-16 10:49] timneutkens commented on #3994
@kachkaev could you check this 🙏

[2018-03-16 10:51] timneutkens commented on #3737
Or adding `"env"` to the presets. There's no need for it, both are already handled by Next.

[2018-03-16 11:03] ruslansavenok commented on #3503
@arunoda do u have any suggestion for my corner case?

I need to do something like `sticky footer`, which require me to set `#__next { height: 100%; }` in order for children to grow for 100% viewport height. (100vh has know issues on android mobile devices)

With next5 update, `#__next-error` will not be in view port because there's empty `#__next` div with `height: 100%`.

Also, why dev errors ar

[2018-03-16 11:09] kachkaev commented on #3994
@minooo what command did you run when the error occurred? Could you please share a bit more of your output?

[2018-03-16 11:41] timneutkens commented on #3663
@TheRobBrennan is this still relevant?

[2018-03-16 11:46] timneutkens commented on #3834
You can't use styled-jsx like this. Please file an issue here: github.com/zeit/styled-jsx

[2018-03-16 11:46] #3834 closed

[2018-03-16 11:47] timneutkens commented on #3809
Try upgrading to latest `next@canary`

[2018-03-16 11:47] #3809 closed

[2018-03-16 11:48] Dominic-Preap commented on #3994
@kachkaev when I type `yarn dev` from [examples/custom-server-typescript](https://github.com/zeit/next.js/tree/canary/examples/custom-server-typescript), I get this error.

![image](https://user-images.githubusercontent.com/14802170/37519081-6d6ad43c-294a-11e8-97a0-96d9203eef7c.png)

[2018-03-16 11:53] timneutkens commented on #3823
Could you provide a reproducible repository 🙏 Then we can look into it 👍

[2018-03-16 11:54] kachkaev commented on #3994
Hmm, could be something to do with quotes on Windows 🤔 I'm not sure how exactly to fix this as I don't have a machine on which I could reproduce this.

Can you try playing with nested quotes in `package.json`? E.g. smth like:

[code]
etc.

[2018-03-16 11:54] timneutkens commented on #3639
Can you please provide a reproducible repository 🙏 Also try next@canary.

[2018-03-16 11:54] #3639 closed

[2018-03-16 11:58] timneutkens commented on #3813
I can't find the specific `chunks.map` Please provide a repository to reproduce 👍

[2018-03-16 11:58] #3813 closed

[2018-03-16 12:01] timneutkens commented on #3774
Related https://github.com/zeit/next-plugins/issues/24

[2018-03-16 12:01] #3774 closed

[2018-03-16 12:10] timneutkens commented on #3713
We don't have a public roadmap at the moment. When it's made public you'll see it on our blog zeit.co/blog 👍

[2018-03-16 12:10] #3713 closed

[2018-03-16 12:15] timneutkens commented on #3631
We're planning to add more documentation.

[2018-03-16 12:15] #3631 closed

[2018-03-16 12:17] timneutkens commented on #3625
https://github.com/zeit/next.js#exposing-configuration-to-the-server--client-side

[2018-03-16 12:17] #3625 closed

[2018-03-16 12:18] #3593 closed

[2018-03-16 12:18] #3599 closed

[2018-03-16 12:19] #3172 closed

[2018-03-16 12:19] #2849 closed

[2018-03-16 12:21] #3585 closed

[2018-03-16 12:22] timneutkens commented on #3558
Most likely fixed with the new error handling. Try upgrading to next@canary 👍

[2018-03-16 12:22] #3558 closed

[2018-03-16 12:22] timneutkens commented on #3550
There's a few PRs and other issues about this. closing this one.

[2018-03-16 12:22] #3550 closed

[2018-03-16 12:23] #3388 closed

[2018-03-16 12:23] #3548 closed

[2018-03-16 12:25] timneutkens commented on #3530
Most of the memory use is coming from webpack compiling pages. There's not that much we can do to optimize it unfortunately. Going to close this as this is on our list of things to tackle 👍

[2018-03-16 12:25] #3530 closed

[2018-03-16 12:26] timneutkens commented on #3407
Going to close this one too, added an explanation about it in the other issue 🙏

[2018-03-16 12:26] #3407 closed

[2018-03-16 12:27] timneutkens commented on #1364
Not sure if this still an issue. Chrome now squashes multiple requests to the same url 🤔

[2018-03-16 12:30] timneutkens commented on #3494
Talked to rauchg about this and we could try using refs to no longer need next-head.

[2018-03-16 12:30] #3504 closed

[2018-03-16 12:31] timneutkens commented on #3497
Sounds like an upstream issue.

[2018-03-16 12:31] #3497 closed

[2018-03-16 12:33] timneutkens commented on #1587
Going to close this because of inactivity and Sergio checking if it was solved 🙏

[2018-03-16 12:33] #1587 closed

[2018-03-16 12:38] timneutkens commented on #3796
The hydration from styled-components is only done on the App component inside _document. That's the reason adding styled-components inside _document doesn't work normally.

[2018-03-16 12:38] #3796 closed

[2018-03-16 12:40] timneutkens commented on #3057
Fixed with next-sass

[2018-03-16 12:40] #3057 closed

[2018-03-16 12:41] timneutkens commented on #3354
Please try latest next@canary. not sure if it's still an issue.

[2018-03-16 12:41] #3354 closed

[2018-03-16 12:44] #3441 closed

[2018-03-16 12:44] #3418 closed

[2018-03-16 12:44] #3264 closed

[2018-03-16 12:46] #3398 closed

[2018-03-16 12:46] timneutkens commented on #3218
Probably fixed in 5.x

[2018-03-16 12:46] #3218 closed

[2018-03-16 12:47] #3293 closed

[2018-03-16 12:47] #3446 closed

[2018-03-16 12:47] timneutkens commented on #3446
Dynamic imports now use file hashing

[2018-03-16 12:48] #2842 closed

[2018-03-16 12:48] timneutkens commented on #2842
There's a new API coming in future React that allows to pass off ref.

[2018-03-16 12:50] #3176 closed

[2018-03-16 12:52] timneutkens commented on #3479
This can be implemented without core support right 🤔

[2018-03-16 12:52] #3479 closed

[2018-03-16 12:53] timneutkens commented on #3532
Try upgrading to latest 👍

[2018-03-16 12:53] #3532 closed

[2018-03-16 13:00] #2899 closed

[2018-03-16 13:00] timneutkens commented on #1189
Fixed in next 5 / canary

[2018-03-16 13:00] #1189 closed

[2018-03-16 13:12] timneutkens commented on #3366
Haha this is exactly what I implemented with `.next/static` => `/_next/static` for Next v5. Without having seen this issue 😄

[2018-03-16 13:12] #3366 closed

[2018-03-16 13:14] timneutkens commented on #3362
In theory you could do:

[code]

This would work for SSR on next@canary. With client side navigation you'd run into all sorts of issues. So I'd recommend you to implement the error page yourself using `import ErrorPage from 'next/error'`

[2018-03-16 13:14] #3362 closed

[2018-03-16 13:19] timneutkens commented on #3306
`jsdom/whatwg-url` is about 10x bigger than `url` according to bundlephobia.

I do agree that dropping the dependency would be neat, in favor of a browser native solution. Which we'll most likely do in the long term 👍

[2018-03-16 13:19] #3306 closed

[2018-03-16 13:27] timneutkens commented on #3326
Feel free to add it to the docs.

[2018-03-16 13:27] #3326 closed

[2018-03-16 13:34] timneutkens commented on #3360
It's expected that you only use one `<Head>`. Since _document reflects the HTML markup.

[2018-03-16 13:34] #3360 closed

[2018-03-16 13:37] #3199 closed

[2018-03-16 13:38] timneutkens commented on #2959
Webpack now handles all module logic, also on the server.

[2018-03-16 13:38] #2959 closed

[2018-03-16 13:44] timneutkens commented on #3320
I'm still +1 on implementing prettier.

[2018-03-16 13:48] #3312 closed

[2018-03-16 13:48] #3304 closed

[2018-03-16 13:49] #3282 closed

[2018-03-16 13:49] #3133 closed

[2018-03-16 13:49] #3298 closed

[2018-03-16 13:50] timneutkens commented on #2889
Fixed in next@canary.

[2018-03-16 13:50] #2889 closed

[2018-03-16 13:51] #2984 closed

[2018-03-16 13:52] #2897 closed

[2018-03-16 13:54] #3200 closed

[2018-03-16 13:57] #2782 closed

[2018-03-16 13:58] #2672 closed

[2018-03-16 13:58] #2887 closed

[2018-03-16 13:58] #3177 closed

[2018-03-16 14:03] #3161 closed

[2018-03-16 17:29] juancampa commented on #2643
This seems to still be happening on v5.0.0

[2018-03-16 17:56] bryan commented on #3628
How did you guys resolve this? I'm getting the same 404 when in development for **image files only**, but displaying the static image is working in development.

I've tried adding the following code to my server to no avail:
`server.use('/static', express.static(path.join(__dirname, '/../static')));`

I'm on the latest canary.16.

[2018-03-16 20:52] TheRobBrennan commented on #3663
@timneutkens I don't believe so. Everything seems to be in a great place.

[2018-03-16 20:54] DaveStein commented on #3920
I am seeing similar behavior on next 5.0. When running `npm start` I am 404ing on anything I have tried using express for with `.server.get()`.  If I run `npm run dev`, everything runs fine. Basically the page loads, and then makes an XHR request that fails.

The scripts in package.json:
[code]

[2018-03-16 21:56] Soundvessel commented on #3382
I was having the same issue on Windows 10 working on the Learn NextJS course (https://learnnextjs.com/basics/deploying-a-nextjs-app/run-two-instances) and using `npm run build`.

I got past it by opening Windows Task Manager and closing 2 instances of node.js. Ran `npm install` after then `npm run build` worked without issue.

[2018-03-16 23:06] ticky commented on #3636
Ok, tested with canary:
**next 4.2.3**: 589.16 KB
**next 5.0.1-canary.15**: 695.54 KB (18% increase)

[2018-03-17 03:39] gihrig commented on #1109
Sometimes I would like to disable HMR in dev mode just to avoid cluttering the dev tools network tab with un-needed message noise.

Pressing CMD-R to reload the page is no big problem, restarting the server to get updates in prod mode is a pain.

[2018-03-17 04:20] sergiodxa commented on #3320
@timneutkens +1 to prettier and specially with default config

[2018-03-17 05:06] mcevskb commented on #3261
This worked for me

[code]

[2018-03-17 07:04] Rowno opened #4021 "next@latest is pointing at a canary release"
## Expected Behavior
`next@latest` points at the latest stable release.
i.e: `npm install next` installs `next@5.0.0`

## Current Behavior
`next@latest` points at the latest canary release.
i.e: `npm install next` installs `next@5.0.1-canary.16`

## Context
Maybe I'm misunderstanding what the canary releases are, but shouldn't `next@latest` point at the latest stable build not the latest experimen

[2018-03-17 07:57] remy commented on #3527
I've just come across this and it's still present in next@5.0.1-canary.16. Example here: https://next-title-bug-kraxvxvjas.now.sh - [source](https://next-title-bug-kraxvxvjas.now.sh/_src)

[2018-03-17 10:52] timneutkens commented on #4021
@Rowno Thanks! I've updated the dist tag 🙏

[2018-03-17 10:52] #4021 closed

[2018-03-17 17:10] TomiTakussaari commented on #3985
App.prepare() seems to be only necessary for develop mode (eg. HMR etc all), atleast with <=5.0.0.
So I avoided that problem in lambda with this:

[code]

[code]

So app.prepare() is not called at all when running app in lambda.
Full source code here: https://github.com/TomiTakussaari/serverless-nextjs

[2018-03-17 17:24] Vadorequest commented on #3985
Actually, my issue is somehow reversed @TomiTakussaari

My app works fine in production, but is "failing" in development. (local machine)

I don't run app.prepare either on AWS, using a similar trick to yours ;)

But I don't run app.prepare in dev mode either, because if I do then the app becomes completely unstable and keeps recompiling everything. I don't know what's the cause of this neither ho

[2018-03-17 18:03] TomiTakussaari commented on #3985
Ah I see.

At first I also attempted to use serverless-offline for dev mode too, but because serverless-offline seems to recreate lambda instance for every request (similar to how AWS Lambda could work in worst case), it would also start webpack process for every request, because app.prepare() is called for every request.

I could not see easy way out of this,  so decided not to use serverless-off

[2018-03-17 19:13] Vadorequest commented on #3985
Yeah, that's exactly what I'm facing.

I think I need to split both, one part with Next + express for dev/local environment and one part with serverless-offline + bundle Next, for local testing

Or, get rid of serverless-offline, which wouldn't be a big issue for me since I only have one lambda in that case.

[2018-03-17 22:42] benatkin commented on #3494
I installed [ramen.is](https://ramen.is/) which has a snippet that you need to install before you can continue to the dashboard. It checks for the snippet exactly, and the next-head class throws it off.

[2018-03-18 01:20] ragingwind commented on #3320
consistency in codes is important, I think.

[2018-03-18 07:12] saiqulhaq commented on #1705
having same issue, I have to restart server to make any changes
I just installed nextjs btw

[2018-03-18 10:20] r0b- commented on #3706
I got the same problem with a simple h1 component:

[code]

Also only for dev...

(next@5.0.1-canary.16, styled-components@3.2.3)

[2018-03-18 15:34] timneutkens commented on #3706
I haven't said anything like this at any point 🤔

Maybe @kitten knows what's going on.

[2018-03-18 15:41] bufface commented on #1537
Hey @DevanB could you add and example? I would be great if you do, i need to make next and iis (issnode) work. Thanks

[2018-03-18 15:51] Vadorequest opened #4022 "Build doesn't respect NODE_ENV"
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior
When running `NODE_ENV=staging next build` I expect the `.next` folder to be generated with "staging" as `process.env.NODE_ENV` but I get "production" instead.

## Steps to Reproduce (for bugs)

1. Run `NODE_ENV=staging next buil

[2018-03-18 15:56] #4022 closed

[2018-03-18 15:57] timneutkens commented on #4022
Searching for `NODE_ENV`: https://github.com/zeit/next.js/issues/3605#issuecomment-370255754

[2018-03-18 16:02] andrewreedy opened #4023 "Webpack function in config ran twice"
After configuring next with a webpack function it seems that the function gets called twice during all builds which results in ForkTsCheckerWebpackPlugin running lint/ts checks twice (in my setup).

- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Steps to Reproduce (for bugs)
1. Create a next c

[2018-03-18 16:11] timneutkens commented on #4023
Once for the server, once for the client. Nothing weird there. You can check for `isServer` to distinguish them.

[code]

[2018-03-18 16:11] #4023 closed

[2018-03-18 16:11] timneutkens commented on #4023
And it's in the documentation https://github.com/zeit/next.js#customizing-webpack-config

[2018-03-18 16:17] kitten commented on #3706
I suppose this is a side effect of using ES module exports for the client and CJS for the server, correct?

I thought we used to have a fix for this in place but apparently we don’t. I’m not sure how safe it’d be to filter out component names that are exposed as “default” but that’d be a solution.

Please note that I would not recommend the “export default styled.div” pattern. I’d guess this is wh

[2018-03-18 16:21] Vadorequest commented on #4022
Indeed, I did search for "build process.env.NODE_ENV" and found nothing tho. Thanks.

[2018-03-18 17:29] Vadorequest opened #4024 "publicRuntimeConfig undefined in staging environment"
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior
## Steps to Reproduce (for bugs)

next.config.js
[code]

page
[code]

## Context

`publicRuntimeConfig` is undefined

This only happens when I use `NODE_ENV staging`, it works fine in development mode. (I haven't tested against p

[2018-03-18 17:40] andrewreedy commented on #4023
@timneutkens oops thank you for the info 👍

[2018-03-18 20:16] glemiere opened #4025 "How to use a local IP address instead of localhost ?"
- [X] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

Sorry in advance if I didn't find any informations. If this behavior is actually possible, please specify it in the README.

## Expected Behavior
Being able to use an IP (10.x.x.x) instead of localhost while using next dev.

## Current Behavior
Dev s

[2018-03-18 20:34] timneutkens commented on #4025
@glemiere https://github.com/zeit/next.js/blob/canary/bin/next-dev#L34

Lets document this in the readme 👍

[2018-03-18 20:38] glemiere commented on #4025
Thank you!

[2018-03-19 00:25] IanMitchell commented on #3693
I'm seeing this in Next 4 too, prod build.

[2018-03-19 00:58] statico commented on #2324
I also ran into this while trying to use [react-quill](https://github.com/zenoamaro/react-quill). Here's a repro: https://github.com/zenoamaro/react-quill

`package.json`

[code]

`pages/index.js`

[code]

Error when going to http://localhost:3000

[code]

[2018-03-19 01:03] statico commented on #2324
Oh, looks like @arunoda's fix above might work, but then I need to not try rendering react-quill on the server-side, which is a separate problem: https://github.com/zenoamaro/react-quill/issues/185

[2018-03-19 03:59] Dominic-Preap commented on #3994
@kachkaev Sorry for late response. It works after replacing the command. Thank you. Suck to be Windows user 😂😂😂

[2018-03-19 05:10] glemiere commented on #4025
@timneutkens I made a PR that you might appreciate. ;-)
https://github.com/zeit/next.js/pull/4027

[2018-03-19 06:54] minooo commented on #3994
Thank you, evereone!

[2018-03-19 06:54] #3994 closed

[2018-03-19 08:27] timneutkens commented on #2324
@adrian-gallardo-wizeline with next 5.1 you can remove the hotfix 👍

[2018-03-19 08:54] kawhi66 commented on #3515
the same problem when I run the example project with the code
`create-next-app --example with-material-ui with-material-ui-app`,but when I clone this repo and run the same example project, it works well.

my env: node(V8.9.1) OS(Windows 7)
the package.json:
![default](https://user-images.githubusercontent.com/15883911/37586076-30d7ef7a-2b96-11e8-9847-a7270cf21905.png)

[2018-03-19 11:28] timneutkens commented on #3515
@oliviertassinari

[2018-03-19 11:47] oliviertassinari commented on #3515
Sorry guys, I have no bandwidth to help with Material-UI v0.x. We encourage new projects to start with v1-beta. We host a working integration with Next.js on Material-UI side.

[2018-03-19 12:04] FelixKirmse commented on #198
Yeah this definitely still exist in next 5, or maybe re-appeared, whatever. The issue should be re-opened. I'm transpiling typescript, but doesn't matter if I use `awesome-ts-loader` or normal `next-typescript`, using either `heroku-postbuild` or `postinstall` to build will bake in absolute paths. This issue is also the first google search result.

[code]

[2018-03-19 12:36] timneutkens commented on #3515
Sounds reasonable, going to close this then. 👌

[2018-03-19 12:36] #3515 closed

[2018-03-19 13:10] spencersmb commented on #3706
Finally got a fix for this issue. You need to specify for each environment how babel handles styled-components:

this is my .babelrc file, I have other stuff going on in here but look specifically at "Development". Adding the development under env should fix the error completely.

[code]

[2018-03-19 13:20] egorovli opened #4028 "[question] with-reasonml example causes full page reload on link click"
Hi. I'm kind of new to ReasonML and wanted to start it with Next.js. After trying to reproduce the `with-reasonml` example I've noticed that each time a link is clicked, the page is reloaded (like on a regular site with server generated content), which defeats the whole purpose of a single-page app.

Besides, docs for the example say:

And hence I presume that it is not the expected behavior.

- [

[2018-03-19 13:46] kitten commented on #3706
@spencersmb alright, this indicates that the recommended next.js usage of the plugin is out of date. We've got a note on why this matters in our docs https://www.styled-components.com/docs/tooling#usage

Quote:

With this issue linked there: https://github.com/styled-components/babel-plugin-styled-components/issues/78

The next.js example needs an update then, if I'm not mistaken? :smile:

[2018-03-19 15:43] timneutkens commented on #3706
@kitten makes sense. The example is actually fine since it doesn't use `"env"` maybe this should be documented in the example readme though 🤔

https://github.com/zeit/next.js/blob/canary/examples/with-styled-components/

https://github.com/zeit/next.js/blob/canary/examples/with-styled-components/.babelrc

[2018-03-19 16:37] muzzofederico commented on #3527
This is quite critical and still present. Any news?

[2018-03-19 16:47] MatthiasMargot opened #4029 "Can't restrict pages routed through next-router with next/link."
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior

I am building a wrapper middleware in express to restrict an entire next application from the public without a password and a username. It should catch every get request that's coming through, check for a logged-in boolean on a

[2018-03-19 17:31] f2net opened #4030 "With Apollo: server side error for queries using the url prop as variable"
- [ x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior
Have the url prop on the server too, so that the "withData" hoc (as per the withApollo example) can use it to execute the query server-side

## Current Behavior
this.props.url is undefined on the server, so that SSR is done with

[2018-03-19 17:59] f2net commented on #3761
I have the same problem as you @developer239 but putting
[code]
inside the getInitialProps function in the withData lib HOC doesn't solve my problem.

I have:
[code]

but server side I have the
`error: TypeError: Cannot read property 'query' of undefined at options`
error, so the query is sent by the client.

Did you do anything else to solve your problem?

Thank you,
Matteo

[2018-03-19 18:00] f2net commented on #4030
If it helps, I am using custom routes

[2018-03-19 18:06] developer239 commented on #3761
@f2net I believe because of `withRedux(createStore, mapStateToProps),` you are loosing your `props` you have to call `WrappedComponent.getInitialProps` too.

[2018-03-19 18:12] f2net commented on #3761
Thank you for your quick answer: sorry, where do I have to make that call?
I am using the withApollo example's withData.

Thank you very much

[2018-03-19 18:14] developer239 commented on #3761
Can you share your `withRedux` HOC?

[2018-03-19 18:16] f2net commented on #3761
It is from here:
https://github.com/kirill-konshin/next-redux-wrapper

[2018-03-19 18:22] f2net commented on #3761
https://github.com/kirill-konshin/next-redux-wrapper/blob/master/src/index.js

[2018-03-19 18:23] f2net commented on #3761
@developer239
https://github.com/kirill-konshin/next-redux-wrapper/blob/master/src/index.js

[2018-03-19 19:13] gcfabri opened #4031 "Error when building project with inferno aliases"
I am facing an error when running `next build` on my project with Inferno.JS.

- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior
Build the project without errors.

## Current Behavior
[code]

## Steps to Reproduce (for bugs)

1. next build

## Context
I followed the examples con

[2018-03-19 19:58] egorovli commented on #4029
You have to check client's permission both server- **and** client-side. Once the page is rendered, Express won't serve routes followed via `next/link`.

[2018-03-19 20:00] gcfabri commented on #4031
The error on building was solved running this: `yarn add inferno-clone-vnode@latest inferno-create-class@latest inferno-create-element@latest
`. (Is this the correct approach?)

When running `next build` no errors are shown. But now I have another question: How can I build my custom-express-server to work with it?

This is my scripts in package.json:
[code]
Once built, when running `yarn start` an

[2018-03-19 20:06] egorovli commented on #4029
For your particular case:

[code]

Note that you can only do client-side transitions with `next/router`, so you'll have to implement server-side logic as well.

[2018-03-19 20:53] developer239 commented on #3761
@f2net That is weird. I thought you have your own redux wrapper. This should work as expected. I will look into it later this week. :)

[2018-03-19 22:18] r0b- commented on #3706
Hmmm, I don't use different envs in my .baberc (actually it looks like the one Tim referenced) and I don't export the styled component. I just use it in the same file:

[code]

Strangely enough it happens only on my index page and not on every page load...

[2018-03-19 23:07] Vadorequest commented on #4024
Is there any more information I can provide to help solve this issue? It's quite a critical one.

[2018-03-19 23:23] gcfabri opened #4032 "Custom server routes can't found static files"
I've followed the custom-express-example to set custom server routes. Next/Link is working properly in client-side, but when the page is refreshed, the error message with 'not found' appears in console, regarding the files (css/images) from '/static' folder.

- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a du

[2018-03-19 23:27] timneutkens commented on #4032
You probably forgot to prepend a `/` when adding the assets 🤔

[2018-03-19 23:27] #4032 closed

[2018-03-19 23:33] gcfabri commented on #4032
Probably...hehe. Sorry for the useless question. Thank you.

[2018-03-19 23:36] timneutkens commented on #4032
🙏

[2018-03-20 01:25] DevanB commented on #1537
@bufface Though only a year ago, I am no longer in the same role as previous. I also am not using Windows anymore.

Sorry, I cannot add an example.

[2018-03-20 05:27] brennanerbz opened #4033 "Getting 404 Failed to Load Resource [commons.js, mainfest.js, main.js, _error.js]"
Getting multiple 404 errors when loading any page. It's only in Safari.

<img width="1488" alt="screen shot 2018-03-19 at 10 25 39 pm" src="https://user-images.githubusercontent.com/9124902/37637377-9e8995b8-2bc4-11e8-8d7f-512e83c811f0.png">

I am using a custom server.

<img width="483" alt="screen shot 2018-03-19 at 10 26 59 pm" src="https://user-images.githubusercontent.com/9124902/37637385-a94

[2018-03-20 08:26] ostrichegret opened #4035 "Build and Export for Cordova"
Hi, would you please give me steps to build and export next.js for cordova ( localfile without server )?
Currently I use Create React App + Redux + Styled Components + React Router v4 ( HashRouter ),
after go to https://learnnextjs.com/, next.js looks promising with it's Server Side Rendering.

I hope I can build a web app with SSR and mobile app with one code base in next.js.
Please explain the s

[2018-03-20 08:58] timneutkens commented on #4033
It's .map files, you probably don't have production sourcemaps enabled and safari tries to fetch them when you have devtools open. Not much we can do about that.

[2018-03-20 08:58] #4033 closed

[2018-03-20 09:07] f2net commented on #3761
@developer239 Thank you very much!

[2018-03-20 09:33] lifeiscontent commented on #3754
@kachkaev how do you use babel in that example? e.g. if I want to use the .env example next.js app and use typescript?

[2018-03-20 09:51] kachkaev commented on #3754
I've been using `.env` in TS without problems. It works straight away on the server and can be also used on the client by passing an env variable in request ctx. I personally prefer [`envalid`](https://github.com/af/envalid) to parse and check `.env` variables, but that's not required.

Sorry for self-advertising, but you can find a working example in my personal website source code:
https://gitla

[2018-03-20 10:40] lifeiscontent commented on #2654
any updates on this guys? Would love to use babel+typescript together.

[2018-03-20 11:05] MatthiasMargot commented on #4029
So then, how would I go about restricting the application as a whole? Because the example you gave only restricts whatever URL the 'Restricted' Component maps to. If it's only a single page I have to restrict that's fine but the only way to do this that I can see with this is having a HOC that does this for every component in particular which doesn't really make sense because that sound a lot more

[2018-03-20 11:44] egorovli commented on #4029
From what I've learned, you can't have a wrapping component for the entire app and shared by all pages. There is `_document.js`, but you can't put your business logic there.

So for instance if you want to have a common layout across multiple pages, you'll have to introduce a separate component and wrap each page in it (see here https://github.com/zeit/next.js/wiki/Global-styles-and-layouts).

So

[2018-03-20 12:41] timneutkens commented on #2654
@lifeiscontent you can already do that using `@zeit/next-typescript`, but babel 7 is on our list for v6 👍

[2018-03-20 13:40] lifeiscontent commented on #2654
@timneutkens I tried using the typescript example with dotenv example babelrc and it didn't work.

[2018-03-20 14:14] f2net commented on #4030
If I log the URL in the getInitialProps I get the url correctly.

[code]

When I log the URL on the options function ({ url } => options) of the graphql HOC, I see that on the server the url is undefined during the getDataFromTree and then it gets populated:

Here you see the logget URL:
[code]

Then I see (logged from the options function:
[code]

And then I have the URL:
[code]

[2018-03-20 14:15] f2net commented on #3761
@developer239 I opened issue 4030, where I posted the results of logging around:
https://github.com/zeit/next.js/issues/4030

[2018-03-20 16:33] majdi commented on #2823
Thanks for this solution @ldthorne. I just have a little issue about it;

I have a dynamic link like `/episode?id=s01e01&title=pilot` as `/e/s01e01-pilot` this works very well on dev server but I have an error when I serve `/episode?id=s01e01&title=pilot` around `id` query: **Cannot read property 'id' of undefined**

Is it a way to redirect to a 404 without having theses errors?

Thanks and cool f

[2018-03-20 16:45] albertovilva commented on #2871
@rashidul0405 Sorry for the late answer. Check https://github.com/zeit/next.js/issues/2635 to see my latest answer. Let me know if you have any doubts. I would eventually swap that for something like what @timneutkens suggests.

[2018-03-20 16:52] brennanerbz commented on #4033
How do I enable production sourcemaps?

[2018-03-20 18:00] timneutkens commented on #4033
https://github.com/zeit/next-plugins/tree/master/packages/next-source-maps

[2018-03-20 19:00] Christian24 opened #4037 "pages/subfolder/ returns 404 for index page"
Hi,

I have one of my pages inside a subfolder called admin. I called it index, so that it would be rendered when I navigate to the root of the route in the browser. I would like routing in the browser to work like this: localhost/admin/ returns my page. However, instead I do get a 404.

- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and

[2018-03-20 19:13] timneutkens commented on #4037
Without the extra `/` at the end works afaik.

[2018-03-20 19:13] #4037 closed

[2018-03-20 19:27] Christian24 commented on #4037
You're correct. I would have expected it to work with the extra / too though.

[2018-03-20 20:15] felipekm commented on #3527
Same here, title and description appears in first glance but instantly goes away.

[2018-03-20 20:22] pramendra commented on #2214
Issue:
warning occurs when integrating gql to a component

Solution:
`withData` should be passed to  page component

[code]

[2018-03-20 20:24] rbalicki2 commented on #3621
I have next + cloudfront + s3 working on multiple projects. Please, feel free to tweet to me @ statisticsftw and I can help you get it all set up... at some point in the future, I'll write a blog post about it, but in the mean time, happy to help :)

[2018-03-20 23:12] kyle-mccarthy commented on #3711
It took me a while to figure it out, so in case anyone as has the same problem doing `delete config.resolve.alias['react-dom']` will break the dead code compilation of your production build but the fix from @arunoda in 5.0.1-canary.2 provides a proper fix without the breaking the compilation.

[2018-03-20 23:22] Zn4rK commented on #4030
The issue here is that your `getInitialProps` does not include your url object in the return of the function.

The initial `getDataFromTree` works because you are spreading the url object onto the ComposedComponent.

When React then tries to render your Component, it doesn't have the expected props.

If you change your above code to:
[code]
and
[code]

It should work as you expect :)

It's explain

[2018-03-21 00:32] Vadorequest commented on #160
Anyone with a bit of experience would be kind to clarify the GA/GA-old/GTM mix for me?

I've spent the afternoon working on https://github.com/Vadorequest/react-gtm (because I couldn't find a package that fit my needs, so I forked and made this one)

I am using GTM (Google Tag Manager) and I basically inject this in the DOM on page load:

[code]

I have set up a Universal Google Analytics on my GT

[2018-03-21 03:04] rashidul0405 commented on #2871
@albertovilva Thanks, However, I did this utilizing window.__NEXT__  object.

[2018-03-21 08:58] krazyjakee commented on #3923
If I'm going to start a new project, will it be hard to migrate from the current version of nextjs to a version using webpack 4?

[2018-03-21 09:33] timneutkens commented on #3923
As long as you run the latest version of Next.js we're not going to break much.

[2018-03-21 12:06] f2net commented on #3761
Thank you @developer239 !

Your solution was ok, but the url should be placed on composedInitialProps after the
[code]
otherwise it would be replaced.

[2018-03-21 12:08] f2net commented on #4030
Thank you very much, @Zn4rK ! 👍

The not returning the value is a last-minute error.
Before I added the url to the composedInitialProps, but again **spreaded** and that's why I didn't find the url object.

I ended up doing this

[code]

I think this could be added to the "withApollo" example code, as often the Apollo queries depend on URL params. What do you think? I may post a PR...

Thank you ag

[2018-03-21 12:08] #4030 closed

[2018-03-21 12:35] albertovilva commented on #2871
@rashidul0405 Do you have an example of that? would love to check it out! 😁

[2018-03-21 13:04] ericat commented on #3716
Sorry for reopening this, but I'm confused on how to get this working.
I've added a `next.config.js` to the root (next to the package.json) with the following:
[code]

but it doesn't seem to have any effect. A curl -i shows:
[code]

am I missing anything? Thank you.

[2018-03-21 13:11] Vadorequest commented on #3990
HOC works very well, thanks @timneutkens

[2018-03-21 13:35] timneutkens commented on #3716
Upgrade to next@canary till 5.1 comes out.

[2018-03-21 13:41] lifeiscontent commented on #3754
@kachkaev I tried running the build command in the package.json and it didn't run for me.

[2018-03-21 13:48] JeromeFitz commented on #3716
@ericat Thank you for providing extra detail via the headers.

This was released in `next@5.0.1-canary.6` which is a pre-release and has yet to hit the `master` branch (which is at `5.0.0` per your curl). As @timneutkens stated while I was typing (thanks Tim!), you can upgrade ahead of time in your `package.json` with `next@canary` (it will look like below):
[code]

Please note: That until code ge

[2018-03-21 14:06] ericat commented on #3716
Ah thank you, must have missed that. Sorry!! 👍 Thanks for the super quick reply.

[2018-03-21 14:07] developer239 commented on #3761
@f2net That is good to know. Thank you :)

[2018-03-21 14:33] Everettss commented on #2883
@timneutkens Can you answer @rovansteen [question](https://github.com/zeit/next.js/issues/2883#issuecomment-369169561). I'm facing the problem that your solution render a view of 404 with 200 status in header.

[2018-03-21 14:45] krazyjakee commented on #75
@rauchg this can't be solved if the layout is is remounted with every navigation right? That can't be an acceptable solution to this problem.

Unless I'm missing something. How can the layouts ensure only the child components are remounted, keeping the layout untouched?

[2018-03-21 15:05] krazyjakee commented on #88
@OmarZeidan I'm guessing all eyes are on this PR? https://github.com/zeit/next.js/pull/3552

The animation discussion really throws me off what exactly is being achieved here. My requirement is a layout that doesn't remount after a route changes ensuring only child components are updated. I'm presuming the animation would be a test case for that or something?

[2018-03-21 15:28] eweilow commented on #88
@krazyjakee From my own experimentation, persistent layout components are necessary for React to not discard the DOM nodes under each Next.js page. The reconciler seem to regard different components (pages) as entirely different DOM trees even if they share some child components.

Animations are a good test case as they require persistent DOM nodes, but it only highlights the underlying issue and

[2018-03-21 15:42] krazyjakee commented on #1469
@sergiodxa applying the example babelrc along with the babel-plugin-root-import loses the ability for next to compile sass.

@arunoda following the instructions at https://github.com/entwicklerstube/babel-plugin-root-import loses the ability for next to compile jsx when running `next build`.

The bottom line is that when I run 'npm run dev' from the root of the project and relative imports work, t

[2018-03-21 18:09] coluccini commented on #2883
@Everettss is my answer doesn't work for you? you need to set `ctx.res.statusCode` if you want to have an different http response code

[2018-03-21 18:19] Everettss commented on #2883
@coluccini Oh god! Sorry for the mix-up. I've tried your example inaccurately. :sweat:
**Your example work like a charm** :heart:

[2018-03-21 19:37] lfades commented on #3261
This package will help you to create an `ApolloClient` including subscriptions: [next-with-apollo](https://github.com/lfades/next-with-apollo)

[2018-03-21 23:31] blainegarrett commented on #2208
@lacymorrow Are you still having an issue? I just worked through it myself.
It looks pretty much the same as yours. I am on 5.0.1-canary.15

The Link:
[code]
The express server handler
[code]

The page Component:
[code]

I don't believe this is your issue, but make sure you don't have handlers interfering with next and webpack urls: https://github.com/zeit/next.js/issues/1433

[2018-03-22 00:20] tashburn opened #4040 "Production error when no sourcemaps, and heap overflow when building with sourcemaps"
I'm using --

[code]

When I point the browser at my running production-build server, and then open Chrome's dev console, I get this error on the server --

[code]

And I get these 2 errors in Chrome's browser console --

[code]

In Safari's dev console the same situation gives these 3 errors --

[code]

I'm guessing that the console is trying to access sourcemaps because Next's build is saying th

[2018-03-22 00:30] tashburn commented on #3636
I'm on `5.0.1-canary.17`, and my production build is not minified either.

[2018-03-22 03:38] tomasdev commented on #816
@impronunciable i think i love you.

[2018-03-22 04:31] rashidul0405 commented on #2871
As below (pseudo code):
[code]

[2018-03-22 07:34] codinronan commented on #4024
@Vadorequest I've just tested this case myself and had no issue. I also spent an hour walking through the entire code path in the Next source to see what it *might* be and the thing is, the loading of those variables is never dependent on the NODE_ENV (or dev, or any other env-specific value). Not sure what to tell you. What version of the canary are you on? The relevant change is in 5.0.1-canary

[2018-03-22 09:42] timneutkens commented on #4040
Please provide a minimal reproduction. It's really hard to debug something breaking without it.

[2018-03-22 09:49] mohammed-adil-moughal opened #4041 "Access Static folder when no in the same root folder as pages"
- [ ] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior

## Current Behavior

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

| Tech    | Version |
|---------|---------|
| next    |         |
| node    |         |
| OS      |         |
| browser |

[2018-03-22 09:51] Vadorequest commented on #4024
@codinronan I'm using `5.0.1-canary.16`.

I also checked the source code and didn't see anything that may be the source of this bug.
When debugging in my code, what I can tell is that it works in my local environment, `publicRuntimeConfig` contains the expected data. But as soon as I deploy my code on AWS, it becomes undefined.

Indeed, the NODE_ENV may not be related at all, and in this case it's

[2018-03-22 09:52] timneutkens commented on #4024
Just deployed a create-next-app with the code from your issue: https://create-next-example-app-nagabdohry.now.sh/ as you can see in the console it's working fine.

[2018-03-22 09:57] timneutkens commented on #2871
If you're going to do caching on the client side, it's best to use your own object, not the one next uses.

[2018-03-22 10:02] rashidul0405 commented on #2871
Ok, thanks for your comment

[2018-03-22 10:20] Vadorequest commented on #4024
Okay, thanks for your feedbacks. So, the issue is either related to:

- Next js build (doesn't seem to be the case since it works when hosted on AWS through `now`)
- Serverless packaging (which takes Next's build and zip it)
- Serverless deployment (which takes the zip and send it to aws)
- AWS hosting environment

I don't see any other thing that may impact this feature. I'll try to investigate e

[2018-03-22 10:28] ghengeveld commented on #3778
I've faced the same issue. My solution was to remove compression from Express and rely on a reverse proxy (i.e. Nginx) to do compression. This is actually the best practice because gzipping is a CPU-intensive operation which Node isn't really suitable for. Nginx is much better at this. Alternatively you could use CloudFlare or a similar CDN and rely on their optimizations.

[2018-03-22 10:50] ghengeveld opened #4042 "Allow disabling Next's handling of 404"
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior

I'm using a custom Express server around my Next.js application and I would like to be able to deal with unhandled routes myself.

## Current Behavior

Currently Next.js handles all routes and [renders a 404 page](https://github

[2018-03-22 11:00] mohammed-adil-moughal commented on #4041
@timneutkens  cant i write that config on next config?

[2018-03-22 12:00] Vadorequest commented on #4024
I changed the file `node_modules/next/dist/lib/runtime-config.js`

[code]

When I run `npm run next` or `NODE_ENV=staging npm run next`, I get the same following output:

[code]

So, I can tell it's not related to the NODE_ENV.

---

When I run `next build` or `NODE_ENV=staging next build`, I get the same output in both cases, but there is no log about `next:runtime-config:setConfig()`. Therefore,

[2018-03-22 12:30] Vadorequest commented on #4024
@codinronan @timneutkens I found a proper workaround.

The issue is that Next is failing at resolving the `next.config.js`, I don't know why, but that's the reason.

If I provide a `conf` object when starting next, it works like a charm.

Here is what I changed to make it work:

I created a `next.runtimeConfig.js` with the following:
[code]

---

I changed my `next.config.js` to the following:

[c

[2018-03-22 13:05] timneutkens commented on #4042
This makes sense to me, but would we `throw` an error there when the flag is enabled? @arunoda what do you think?

[2018-03-22 13:33] obedparla commented on #2208
@lacymorrow you're using the `href` of `Link` wrong. Your href is `/?repo=init-next` but you're expecting `'/repo/:repo'` in your server's route. It will never catch it since you're not requesting it.

Try `href={`/repo/init-next`}`, that should work fine with the you have. I think you misunderstood how routing works on express. Note that the `/` at the beginning of the href is also important, if

[2018-03-22 13:45] ghengeveld commented on #4042
My current workaround is to essentially reimplement the `run` method:

[code]

Which is workable, but fragile (you guys may change this logic in the futute, breaking my app).

[2018-03-22 13:52] djskinner commented on #3931
@brandonmp how did you resolve it?

[2018-03-22 14:03] djskinner commented on #3931
I've tried various different variants of:

[code]

Combined numerous different ways to write the import statement but I always end up with either `TS1192: Module '"next/config"' has no default export.` or `TypeError: __WEBPACK_IMPORTED_MODULE_0_next_config__ is not a function`

[2018-03-22 14:21] lifeiscontent opened #4043 "with-react-i18next example"
@jamuhl Hi,

I tried using your with-react-i18next example with typescript. It's giving me errors. Do you think you could help me debug?

here's my gist: https://gist.github.com/lifeiscontent/f23b5ea2221f11f8f0cfc11a0764e01f

and I'm getting the error: `Cannot read property 'resourceStore' of undefined`

I think it may be due to how you were using a i18nInstance and the i18next module.

[2018-03-22 14:32] jamuhl commented on #4043
caused by this line: https://gist.github.com/lifeiscontent/f23b5ea2221f11f8f0cfc11a0764e01f#file-i18n-ts-L38

looks like you render before init was called.

[2018-03-22 15:35] lifeiscontent commented on #4043
@jamuhl I think it might be something deeper. I'm thinking the way react-i18next is exported isn't done properly for both the client and the server to consume the files in a proper manner.

[2018-03-22 15:35] lifeiscontent commented on #4043
the fact that in your example you have to use i18next.default in the export is what leads me to believe it.

[2018-03-22 16:47] AaronDDM commented on #3735
I'll try and investigate this further - however: I have noticed my development environment is using a production React build. This doesn't occur with a fresh build of next.js (no custom Express server setup).

I'm wondering if anyone with this issue is noticing the same thing?

[2018-03-22 16:59] jamuhl commented on #4043
server is node.js and will use the commonjs build...while client depending on what gusto of build tool it uses uses a umd or es6 build...

[2018-03-22 18:19] clickblipclick opened #4044 "document.title not updated in Router.onRouteChangeComplete"
- [x ] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior

I expect that in the handler for the `Router.onRouteChangeComplete` event, `document.title` would be the title of the new page that was navigated to.

## Current Behavior

`document.title` is still the title of the previous pag

[2018-03-22 19:59] jcollum commented on #2441
`--no-cache` fixed it for me

[2018-03-22 20:03] pddigital commented on #4044
I'm having the same issue. Thanks for posting.

I think there's an issue with Router.onRouteChangeComplete for Next 5 --- it's not firing when params change for the route (while the page is the same).

This does create problems for my analytics. I do not believe it was a problem before 5?

[2018-03-22 20:05] timneutkens commented on #3931
My earlier message:

The types are maintained in definitely typed. They are maintained by the community and we didn't create them.

[2018-03-22 22:01] AlexanderRichey commented on #3931
I'm also having this problem, but I'm not using typescript.

[2018-03-22 22:29] MrToph opened #4045 "HMR breaks with: StyleSheetRegistry: styleId: not found."
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior
Editing `stlye jsx` styles should work with HMR.

## Current Behavior
When I change a `style jsx` css property, the page reloads with HMR, but then I get the error:
[code]

## Steps to Reproduce (for bugs)
I started with the [wit

[2018-03-22 22:40] timneutkens commented on #3931
@AlexanderRichey most likely you're not running next@canary. It's not released on master yet.

[2018-03-22 22:42] dcalhoun commented on #3860
This appears to impact _any_ type of custom server, not just Hapi. I have deployed an [additional test case](https://nextjs-custom-server-params-cckselbqib.now.sh) with a generic custom server. You can also review the [test case source](https://github.com/dcalhoun/nextjs-custom-server-params).

@jonaswindey it may be a good idea to update your issue's title to not be Hapi specific, as this appears

[2018-03-22 23:08] MrToph commented on #4045
Okay, I figured it out why it happens: It has to do with `React.Fragment`. `style jsx` seems to not be refreshing correctly when put in a top level `React.Fragment` element:

[code]

When I replace `React.Fragment` with `div` it works fine

[2018-03-23 02:32] Jarred-Sumner commented on #4045
FWIW, I can confirm that this happens to me too

[2018-03-23 03:13] Hack-Jay opened #4046 "Can I add functions in the pages/document.js to handle click events?my code Like this,"
_`

    static async getInitialProps({ renderPage }) {
      const { html, head, errorHtml, chunks } = renderPage()
      let config = {
        method: 'post',
        data: {
          query: `
                query {
                 ...
                    }
                }`
        }
      }
      const res = await fetch(config)
      const department = await Array.from(res.data.data.depart

[2018-03-23 03:26] kriscarle commented on #484
Just tested antd with the new next-less plugin for next v5.x and it works great when pointing it directly to `antd/dist/antd.less`

Only note is that antd isn't compatible with the new less v3.x yet, had to revert to v2.7

This is still including the entire style. @crushy26 yes, since the latest next now runs webpack on the server side, it should be possible to use `babel-plugin-import` I'll try t

[2018-03-23 07:32] LarsBuur opened #4048 "Change from 5.0.0 to 5.0.1-canary.1 breaks css"
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

We use semantic-ui for our styling. I have tried the latest 5.0.1-canary17 and the problem is also there.

## Expected Behavior
When simply upgrading from 5.0.0 to 5.0.1-canary.1 I expect the CSS to be the same

This is a screenshot with 5.0.0
![syjz

[2018-03-23 07:52] ghengeveld commented on #4042
I'm happy to setup a PR for this, but I would like to get some feedback before I dive into it.

[2018-03-23 08:26] timneutkens commented on #4046
You can't the _document is only server rendered. So you can't place interactions like onClick in it. You can use https://github.com/zeit/next.js/tree/canary/examples/layout-component for layout.

[2018-03-23 08:26] #4046 closed

[2018-03-23 08:29] timneutkens commented on #4045
Should be filed in the styled-jsx repository. Seems like someone else already did: https://github.com/zeit/styled-jsx/issues/147

[2018-03-23 08:29] #4045 closed

[2018-03-23 08:40] timneutkens commented on #3860
The issue is actually just wrong usage of `<Link>`

`href` is the path in `pages`

`as` is the path you see in the browser

Taken @dcalhoun's example:

[code]

What this does is try to load `pages/static-page/nested.js`, this file doesn't exist, so it refreshes the page (in next 4 this would show a client side 404). This is to facilitate the multi-zones feature. Since the path could be handled by

[2018-03-23 08:41] #3860 closed

[2018-03-23 13:22] dennisschoepf commented on #2668
Same issue here and not really wanting to use shallow routing, is there an update on the PR?

[2018-03-23 13:25] kachkaev commented on #3754
@lifeiscontent I'd put these things into a checklist:

* scripts in package.json must be different from the standard ones, e.g. `dev`should run `nodemon src/server.ts`

* `const app = next(..)` in `src/server.ts` should have custom parameters like on my website example

* `next.config.js` should exist with distdir defined. if you are using some extra plugins that I am not, cn it be that this optio

[2018-03-23 14:31] giuseppeg commented on #4045
yea the issues are not related. I am not sure how HMR works but it is possible that the is some race condition e.g. maybe the component is unmounted and then updated. I need to investigate. @MrToph feel free to open an issue on the styled-jsx repo

[2018-03-23 16:06] arunoda commented on #4042
@ghengeveld Our idea os Next.js is to provide a simple API with some great control.
So, what you've is a really valid problem. And I can imagine some other related use cases.

But we don't like to add options to address each of these cases. This is the reason why we've two major features.

* Custom Routes - You can decide on which routes you need to process
* Custom Error Pages - You can change th

[2018-03-23 16:06] #4042 closed

[2018-03-23 18:09] codinronan commented on #4024
@Vadorequest what does your build/deploy stack look like? When it is running on AWS, are you using `next start` or a custom server? Are you using `build + export` or are you running as if it were on dev?

Are you using `assetPrefix`?

[2018-03-23 18:34] brian-kilpatrick commented on #2072
This doesn't seem like it was solved with the Zones feature that #257 concludes with. I need a single next.js app to live at ourdomain.com/admin, so that requests to /admin => / in the app. Am I missing a solution to this?

[2018-03-23 20:11] jhohlfeld commented on #4031
Hey,

I'm experiencing this very same issue with `react-styled-flexboxgrid `.

I am using next with a babel plugin to [resolve modules](https://webpack.js.org/configuration/resolve/#resolve-modules) from `./src` as pseudo-global module. This works perfectly fine with all my own modules in `./src`, however, it seems to be trashing with`react-styled-flexboxgrid`.

When building/running locally btw,

[2018-03-23 20:31] jhohlfeld commented on #4031
Small update

I was able to reproduce this issue locally. After installing `$ npm install -g next` and using `next` as the build runner (`$ next build`), the same error occurred on my machine, too.

Before that, I was using `$ yarn build` with a mapping in `package.json`:

[code]

🤔 very interesting. It seems, now/next is running the module resolution differently from yarn..

[2018-03-23 21:04] jhohlfeld commented on #4031
Okay now. I dumped the whole `resolve.module` thing and refactored my code to always look for modules with relative paths and now it's working. Maybe this will help others.

[2018-03-23 23:39] ckeeney commented on #3779
@craigcartmell can you give details about you did?  I'm getting an identical error but haven't yet learned what stupid thing I'm doing.

[2018-03-23 23:45] ckeeney commented on #3779
Nevermind.  I for temporarily removed the `translate` HOC from my `Page`.

[2018-03-24 00:52] Grant05 commented on #3842
I'm getting the same issue trying to install next.
npm ERR! code E404
npm ERR! 404 Not Found: @zeit/check-updates@1.1.0

[2018-03-24 07:03] lifeiscontent commented on #3754
@kachkaev got it, thanks for your help!

[2018-03-24 09:46] Vadorequest commented on #4024
@codinronan Since you're asking, I guess the encountered behaviour isn't the expected behaviour?

I am running Next.js on AWS Lambda, in non-dev mode, I basically build the Next app, which is then loaded by an Express server and served by AWS. You can find the repository there: https://github.com/Vadorequest/serverless-with-next

The scripts that are of interest are there: https://github.com/Vador

[2018-03-24 10:20] Ionut-Milas commented on #88
Hi guys,
Any update on how can be prevented the reload of a top-level component (layout) ?

[2018-03-24 19:36] andrewholsted commented on #1289
@arunoda - is there still a plan to open these up?

[2018-03-25 01:34] tashburn commented on #4040
@timneutkens Whew, I'll see what I can do... I have a huge project. I understand it's hard for your debut without that.

[2018-03-25 01:46] safeimuslim opened #4052 "How to custom error page?"
I want to custom error page by implement `pages/_error.js` but not work perfectly

![screen shot 2018-03-25 at 08 44 18](https://user-images.githubusercontent.com/12455939/37870815-f97bb7e2-3008-11e8-9bba-0025a16e3bd3.png)

[2018-03-25 02:04] #4052 closed

[2018-03-25 10:43] #3208 closed

[2018-03-25 18:18] bawgz commented on #198
My app deploys fine using next@4. Upgrading to next@5 I get the `Cannot find module` errors.

[2018-03-25 18:59] timneutkens commented on #198
Upgrade to `next@canary` for now, there'll be a new stable release very soon 👍

[2018-03-25 20:05] blainegarrett commented on #3742
I am experiencing this as well in canary.15. In my case the error involves MuiThemeProvider and triggering hot reloading (save, etc). I assume I have something incorrectly setup however.

[2018-03-25 21:03] kolpav commented on #4031
@jhohlfeld I am also using `babel-plugin-module-resolver` my local build works fine but on my build server it is crashing with same error message. I have tried a lot of things but same error messages appear `Can't resolve...` and `Field 'browser' doesn't contain a valid alias configuration`. The "Can't resolve..." message doesn't seem to be caused by one specific package.

[2018-03-25 22:57] poc7667 commented on #3663
how closed this issue? I run into the same issue as well.

[2018-03-26 00:38] jamesreggio opened #4055 "Home-rolled "is Component?" test is throwing false negatives for React 16.3.0 features"
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Overview

React 16.3 will include a utility for ref forwarding called `React.forwardRef`. [Its RFC](https://github.com/reactjs/rfcs/pull/30) has been ratified and the initial implementation is available in alpha builds of 16.3.

The `typeof` objec

[2018-03-26 05:21] kylecesmat opened #4056 "ReferenceError: flagSet is not defined"
There was a bug introduced in the `walk` module ~1hr ago. The issue is in version `walk@2.3.11`. For some reason, `npm install` is resolving the `2.3.11` version, even though the latest `next.js` `package.json` pins the walk module to `2.3.9`.

Either way, a bad publish in the `walk` module has occurred and will likely break builds if that version is resolved.

For reference:
2.3.10: https://unpkg

[2018-03-26 08:44] minooo opened #4057 "This writing will cause error of "store.runSagaTask is not function", Please correct"
https://github.com/zeit/next.js/blob/603b90ce02851c3df0d40045f780be7e4e278be9/examples/with-redux-saga/store.js#L26

This is my solution

delete
 ~~store.sagaTask = sagaMiddleware.run(rootSaga)~~

and add
[code]

[2018-03-26 10:17] khuong291 commented on #1061
Try this:

`import * as React from 'react';`

[2018-03-26 11:29] amrdraz commented on #484
@kriscarle do you have an example of what you did?

[2018-03-26 15:48] rileybracken opened #4058 "[dynamic] shouldn't loadingComponent just return null be default?"
Currently if you are using `next/dynamic` it will return `Loading...` everywhere. I think that it should just return `null` by default that way you aren't forcing everyone to override `Loading...` (I assume everyone would). Instead if they want to create their own component they can. This would be super easy to do and I would be happy to add a PR for it.

Here is the line of code in question:
http

[2018-03-26 16:39] #4056 closed

[2018-03-26 16:40] kylecesmat commented on #4056
A new module was released `walk@2.3.12`

[2018-03-26 19:10] OutThisLife opened #4059 "Dynamic import cache / HMR"
Currently using dynamic imports like so:

[code]

All's been fine for awhile. However, after upgrading to 5.0 it seems like HMR no longer re-fetches the dynamic chunk. It seems hard cached on the server. Reverting to next@^4 fixes the issue.

Is there a way to disable the cache or..?

[2018-03-26 19:34] rileybracken commented on #3345
@timneutkens is this supposed to work still with the universal webpack setup?

https://github.com/zeit/next.js/commit/e093441bad588e98765a05df90f76f75283eda07#diff-f6a1a602536347313a67de6bccddafd4L19

[2018-03-26 20:06] OutThisLife commented on #4059
Very easy to replicate w/ a fresh install:

[code]

Edit `test/index.js` and see HMR "reload" but not really.

[2018-03-26 20:21] sturoid opened #4061 "Google Tag Manager “Page view” trigger won't fire on every page."
I'm having issues with the "Page view" trigger on Google Tag Manager. If there is a page where the template is reused and only the data changes, the trigger won't fire. I've tried putting the GTM script in the head component directly, and loading it with the react-gtm-module package. Both result in the same problem. I came up with a temporary fix where I fire the tags on "All Pages" and on "All Hi

[2018-03-26 21:10] fchengpc opened #4062 "Issue with `next export` with React Toolbox integration"
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

Been trying to figure out if this is possible. I following try this repo setup >> https://github.com/ooade/next-react-toolbox. Seem okay until i try the `next export` then I run into following error >>>
[code]

[2018-03-26 21:35] pddigital commented on #4061
Not sure about GTM, but I use vanilla Google Analytics with Next.. not the React wrapped package because it doesn't have ecommerce hooks (or at least they're not well documented).

1) I load Google tracking code from the _document.js. I don't do my initial pageview from here since it would fire twice (once from the server and again from the client), but from a HOC on my Layout. Loaded from the cus

[2018-03-27 01:20] sturoid commented on #4061
@pddigital thanks a ton for the response. So you do this in your Layout component and it doesn't double fire?

[2018-03-27 01:56] techsin commented on #2468
@igimanaloto this solution worked for me

[2018-03-27 02:12] gabrielmancini commented on #3735
anyone here are using on next.config.js
[code]

maybe can be this

[2018-03-27 02:15] felipekm commented on #1877
I had this same issue with `5.1.0`, using the proposed solution works fine.

[code]

[2018-03-27 02:40] haha54carol opened #4063 "Issue of '' css is not defined ''"
Please help! It happened after I install next@5.1.0...

but work at previously version

[code]
and my
@zeit/next-less is v0.1.1
@zeit/next-css is v0.1.4

## Your Environment

| Tech    | Version |
|---------|---------|
| next    |      5.1.0   |
| node    |      v8.9.4   |

[2018-03-27 02:47] #4063 closed

[2018-03-27 02:47] haha54carol commented on #4063
sorry, it's not about the version.

[2018-03-27 03:43] tashburn commented on #2175
@tgoldenberg Did you ever find a solution to your babel warning/error? I have the same issue --

[code]

[2018-03-27 08:50] timneutkens commented on #4062
It's a community plugin, unrelated to Next.js.

There's also:
https://github.com/hanford/next-offline
https://github.com/ragingwind/next-workbox

[2018-03-27 08:50] #4062 closed

[2018-03-27 08:53] timneutkens commented on #3735
Starting to feel like a robot 😅

[2018-03-27 09:44] iaincollins commented on #3735
Sorry I haven't had time to provide more info on this yet BTW, I will try and do more digging soon.

[2018-03-27 09:51] timneutkens commented on #3735
@iaincollins you and @plag actually are the only ones that did provide an example 😄

[2018-03-27 10:35] prichodko commented on #4061
Maybe this helps - https://github.com/zeit/next.js/pull/4036?

[2018-03-27 11:06] mcdyzg commented on #3742
I am experiencing this without next.
Finally i resovle it with this:
[code]

[2018-03-27 11:19] 13806 commented on #3663
same

[2018-03-27 13:10] afages commented on #3687
All of your codes linked with "module.exports" are great and all but they don't pass the "no-reassign parameter" ESLINT quality gate.

[2018-03-27 14:53] robinvdvleuten commented on #1300
Same issue here when running in Jest;

[code]

[2018-03-27 15:27] ritz078 commented on #2842
Any hack for now?

[2018-03-27 15:56] Stefavag88 commented on #4016
How long is the build supposed to take ?
When i run "npm run build" it gets stuck on:

I have not waited for more than 15 minutes, but it seems that something is wrong. Should i just wait more or is there a problem with my config?

[2018-03-27 15:58] Pixelatex commented on #4016
I'd wager something is wrong with your babel config. Have you tried running it without the external config?

[2018-03-27 16:04] benhjames commented on #4016
I had a similar problem where sometimes `next build` would carry on forever as described above, and sometimes it would build all fine (notably using the exact same code).

After increasing the RAM on the (Heroku) server it builds on, it hasn't failed again.

I spent a long time looking for anything that might help debug this issue, but ultimately gave up as I couldn't reproduce it locally and ther

[2018-03-27 18:36] tashburn commented on #4040
I did a major refactor, and this problem disappeared without me knowing why. It's likely the problem was on my end, not in the Next codebase. I'm closing this issue. If it rears it's ugly head again, I'll create a more reproduceable Issue for us to get to the bottom of.

[2018-03-27 18:36] #4040 closed

[2018-03-27 18:55] ssamakar commented on #481
Adding `"styled-jsx/babel"` to the babel plugins worked for me, but only when it was listed first, like so:

`
"plugins": [
      "styled-jsx/babel",
      "transform-object-rest-spread",
      "transform-react-jsx"
    ]
`

[2018-03-27 19:22] ssamakar commented on #481
Order matters when using in tandem with `transform-react-jsx`. Declare `styled-jsx/babel` first:

`"plugins": [
      "styled-jsx/babel",
      "transform-object-rest-spread",
      "transform-react-jsx"
    ]`

[2018-03-27 19:38] JuanRuiz-erebror opened #4065 "with-react-i18next withI18next in export compose"
Hi!!

I'm use the  with-react-i18next example and I was thinking about the possibility to integrate the withI18next connector as follows. Thanks in advance!

## Expected Behavior
    class Index extends React.Component {
        render () {
          return (
            <div>
              <h1>{t('title')}</h1>
              <Link href="counter"><a>{t(common:counter)}</a></Link>
            </div

[2018-03-27 19:48] willmeierart commented on #2214
for anyone visiting this page, since it's the first google result, a very clear answer to this issue is that you need to wrap your top level page in ```withData()```, and that's it. you can then wrap your down-tree child components in whatever ```compose()``` or other ```graphql()``` HOC's you want, as long as the page they are contained within is wrapped in ```withData()```

[2018-03-27 20:24] kolpav commented on #4031
I take my words back it had nothing to do with next I had wrong import because I renamed file which changed only in case and forgot to use `git mv` so my remote had lowercase file but on my local it was camelCased that explains why it was building on my local and not on my build server.

[2018-03-27 21:06] ads1018 commented on #2214
Thanks @willmeierart. I should have been more explicit in the README about that. Feel free to submit a pull request to make that more clear.

[2018-03-27 21:55] pddigital commented on #4061
@sturoid, I have a HOC wrapped around my layout that includes the business logic, but you could probably do the same in the Layout itself -- as long as it wraps every page.

[2018-03-27 23:23] JuanRuiz-erebror commented on #4065
ok, it's solved at #367  and making use of https://react.i18next.com/components/translate-hoc.html

[2018-03-27 23:23] #4065 closed

[2018-03-27 23:59] unruffledBeaver commented on #1788
I'm using CSS Modules with Next and having some issues. Next is handling the webpack config behind the scenes but I need storybook to also use that config so CSS Modules works properly. Any ideas?

[2018-03-28 02:05] ghost opened #4068 "styled-component overridden on hot reload"
- [x ] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior

My page contains this very basic code:
[code]

When I refresh the page, I expect the Title to be of color pink

## Current Behavior

The first time the page is built, the title does appear as pink. When I refresh the page, the

[2018-03-28 05:45] iamglenbacs opened #4069 "how to config next.config.js withSass() with exportPathMap?"
I am trying to config next.config.js with exportPathMap like this, but it don't work,

`const withSass = require('@zeit/next-sass');
module.exports = withSass();
module.exports = {
  exportPathMap: () => ({
    '/': { page: '/' },
  }),
};
`
How do i config this together?

[2018-03-28 06:15] jlei523 commented on #3303
@spencersmb What do you mean switch to using the tag? What tag is that?

[2018-03-28 06:54] thengor commented on #4057
Thanks! I got the same error.

[2018-03-28 07:43] timneutkens commented on #4069
The parameter of withSass / any next plugin is the next config.
[code]

[2018-03-28 07:43] #4069 closed

[2018-03-28 08:28] arunoda commented on #3303
We've a similar issues reported here: https://spectrum.chat/thread/3d65b436-b085-4eef-ad84-0941c473e09d

Next.js doesn't hijack scrolling. But this is a real issue. Here's what's happening.
This is because of browser's default scrolling behavior. See: https://github.com/zeit/next.js/issues/3303#issuecomment-354225323

When you go back, browser tries to go to the previous scroll position for better

[2018-03-28 14:39] developer239 commented on #3303
I mean every time a javascript library gets popular and people start using it in production ... some majors issues show up and the official response is: "_Fix it yourself._" 😢

I fail to understand how does `Router.push()` fix an issue when pressing `button back` in a browser.

@mgiraldo Posted a link to a patched version of his website.

1) Go here: https://beta-staging.dp.la/exhibitions
2) Scrol

[2018-03-28 14:54] elsigh commented on #296
Something related to this - I am trying to do the same thing with a `secrets.json` file (on the latest version of nextjs `"next": "^5.1.0"`.

It works fine on my local server, and running `yarn build` succeeds locally.

When I deploy with `now` I get:

[code]

[2018-03-28 15:28] elsigh commented on #296
I tried a variety of changes like moving my json file into the components dir and importing it via `./secrets.json` and no dice.

Seems like a webpack thing?

[2018-03-28 15:31] elsigh commented on #296
I also tried `const secrets = require("./../secrets.json");` which works locally, but fails when running `now` in the same way.

[2018-03-28 15:42] csantiago132 commented on #296
@elsigh how are you importing the file? im using webpack 4 and this became an issue, my workaround is
 - use a `file-loader`
 - rename the json extension to something else, `myfile.notajson`
 - In the file-loader, change the `[ext]` to `.json.` tied together, this would look like

[code]

[2018-03-28 16:49] bitkomponist commented on #3970
Ok so if anyone encounters this behaviour as well, _refs are also lost when running in production mode_. I worked around the issue, by getting a reference to the Component itself (e.g.`ReactDOM.findDOMNode(this)`) which works fine. from there i can get the desired child node.

[2018-03-28 17:00] elsigh commented on #296
@csantiago132 what do you mean by "how are you importing the file"? I think I listed trying both `import` and `require`

I'm also going to try turning my file into a simple js file that exports an object.

[2018-03-28 17:03] csantiago132 commented on #296
@elsigh sorry I didnt write it the right way, what I meant is in what context/how are you using the file? By itself?  as part of a module? anyways, what I posted above worked for me, just trying to help

[2018-03-28 17:03] elsigh commented on #296
zomg, it looks like it's not working because I have `secrets.json` in my `.gitignore`. I think I'll open a new issue for this.

[2018-03-28 17:05] csantiago132 commented on #296
ok hope it gets fixed @elsigh

[2018-03-28 18:00] glemiere commented on #1926
This problem occurs only with png files. Weird.

[2018-03-28 18:23] frankhale opened #4071 "custom-server-typescript: all routes return 404 on next.js 5.1.0"
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior

The custom-server-typescript example should work as expected on next.js 5.1.0. All routes should resolve to their respective pages in the pages/ folder.

## Current Behavior

The custom-server-typescript example's routes all ret

[2018-03-28 18:29] glemiere commented on #1926
I fixed it by changing `__webpack_public_path__ = assetPrefix + '/_next/webpack/'; //eslint-disable-line` to `__webpack_public_path__ = assetPrefix; //eslint-disable-line`

[2018-03-28 18:59] glemiere commented on #1926
I made a PR to correct the prefix in production.
https://github.com/zeit/next.js/pull/4072

[2018-03-28 20:38] sturoid commented on #4061
@pddigital and @prichodko I have updates. I upgraded the Next version to 5.1.0 and everything started working with the "All history changes" trigger in GTM and the GTM tag hardcoded in the Head component. No idea what changed but it works.

[2018-03-28 20:38] #4061 closed

[2018-03-28 20:44] jlei523 commented on #3303
@developer239 We have the exact same issue with our Next.js app as documented here: https://spectrum.chat/thread/3d65b436-b085-4eef-ad84-0941c473e09d

It completely kills the user experience.

@arunoda Could you explain why the Next team isn't considering an official fix to this issue? It seems like it's a breaking bug that completely ruins the user experience. Moving back to the previous scroll p

[2018-03-28 21:33] elsigh commented on #3931
I have this problem too.

Things work fine for me locally, but fails when I try to deploy with `now`.

[code]

[2018-03-28 21:43] elsigh commented on #3931
I have `"next": "^5.1.0",` in `package.json`

Locally, I have the file `node_modules/next/config.js`

I'm not using typescript either

[2018-03-28 21:46] elsigh commented on #3931
I think I'll open a new issue and nuke these comments as this doesn't seem typescript related.

[2018-03-29 02:46] mgiraldo commented on #3303
if i understand correctly the back button/scroll position functionality is a native browser behavior that assumes a standard page refresh (user goes from url x to url y via a standard http request). what client-side javascript-based frameworks do is implement a page transition without making use of the native browser behavior (via `pushState` or similar). the browser is counting on itself having a

[2018-03-29 04:24] sea129 commented on #2959
@CrockAgile how did you solve this?

[2018-03-29 11:27] hank7444 opened #4075 "how to cache pages error on client side?"
I can cache component error from page's from "componentDidCatch"

![image](https://user-images.githubusercontent.com/4727090/38086447-f6bbbe2c-3386-11e8-9500-91897fd61d52.png)

![image](https://user-images.githubusercontent.com/4727090/38086466-0d0dadde-3387-11e8-96b3-158b31235f09.png)

![image](https://user-images.githubusercontent.com/4727090/38086460-06036538-3387-11e8-921c-546d6f85d8e7.png)

b

[2018-03-29 11:36] timneutkens commented on #4075
`componentDidCatch` doesn't work server side. Either way there's not really anything we can do on the Next side, since it's not clear what you are trying to do exactly.
In the future please follow the issue template (that big chunk of text you removed before writing the issue). Otherwise it's really hard to help you.

[2018-03-29 11:36] #4075 closed

[2018-03-29 12:20] joshuaquek opened #4076 "Example Request: NextJS using Rematch as the state management / store"
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

Would it be possible to have an example that uses uses Rematch (2500+ stars) as the state management / store?

Just a random request haha

https://github.com/rematch/rematch/blob/master/docs/purpose.md

[2018-03-29 12:24] timneutkens commented on #4076
I guess it's possible, labeled as good first issue / help wanted. So that if someone from the community wants to contribute they can 👍

[2018-03-29 13:03] Vadorequest opened #4077 "Google Tag Manager - Tags (type: event) stop working when browsing"
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior
GTM tags should work the same way on every page, whether the user arrived at this page or browsed to it.

## Current Behavior
GTM tags that use the `event` type stop working properly as soon as a user browse the website. By "brow

[2018-03-29 15:05] timneutkens commented on #4077
#4036 will probably help you, either way it's not an issue with the Next.js core.

[2018-03-29 15:05] #4077 closed

[2018-03-29 16:02] timneutkens opened #4079 "Remove deprecated methods"
https://github.com/zeit/next.js/blob/2ba8ad9760ad705650919e179ede5893ec04146b/lib/app.js#L93-L125

[2018-03-29 16:02] developer239 commented on #3303
@mgiraldo Yes but `Router.push` does not solve the issue for me. I understand that this one might be hard to fix but it is a major issue. The example that @liweinan0423 provided could not be simpler. There are no images, not text, nothing. And still, the `Link` component does not work properly.

[2018-03-29 16:22] wescoder commented on #3144
I'm in the same spot. Working on a service-worker to cache the app and make it a PWA using workbox through next-offline and it seems impossible to cache app.js.

@iamsoorena have you found any workaround for this?
I'm thinking about switching from next-offline to sw-precache-webpack-plugin.

This issue seems to be a bit old now (5 months), any support would be much appreciated.

[2018-03-29 16:31] brennongs commented on #4071
Having the same problem here but with the with-typescript example built with `create-next-app`. Played around a bit with file extensions, and my pages render correctly if they are `.js`, but aren't rendered at all if they are `.tsx` or `.ts`.

[2018-03-29 18:06] Vadorequest commented on #4077
@timneutkens I'm aware of the PR but it doesn't aim to fix this at all.
The PR is about Google Analytics, while this issue is with Google Tag Manager, which is a different product (event though it can load GA)
Also, the PR is to fix the "pageview" issue with SPA, it's a different feature that the "events".

Can we reopen this issue? It's definitely not related to Next.js core (AFAICT), but I belie

[2018-03-29 18:21] jdolinski1 opened #4080 "Should the httpOnly cookie set by external RestAPI be visible to NextJS?"
Hello. I am currently facing this issue during implementing httpOnly cookie based authentication.
Scope:
1) Client accesses `/login` page and makes client-side login request to external RestApi server. If successful - recieves httpOnly cookie with JWT token as value. Cookie is set and readable by RestApi in future client-side (!) requests.

2) Client requests `/dashboard` page, in `getInitialProps

[2018-03-29 19:09] timneutkens commented on #4077
Feel free to ask your questions on https://spectrum.chat

[2018-03-29 19:51] frankhale commented on #4071
Thank you!

[2018-03-29 22:19] and3rsonsousa commented on #484
Look at the of this example and you can make it work.

https://github.com/zeit/next.js/tree/canary/examples/with-ant-design

[2018-03-29 23:38] kriscarle commented on #484
@amrdraz here is a Gist with my current config, it supports a custom theme, but still includes the entire style: https://gist.github.com/kriscarle/d3136e9b15634846036397409bf98214

@and3rsonsousa thanks! I hadn't noticed that the example was updated.

It is still using the css option in `babel-plugin-import` not the less option, so won't support custom themes but I think it is getting close. When

[2018-03-29 23:42] and3rsonsousa commented on #484
You just have to see the example on Ant site abou using less. I did it and it was very easy to configure.

[2018-03-30 02:59] kaym0 opened #4082 "Rendering index second time causes unexpected error"
Hi, I'm just learning next.js and did the tutorial on learnnextjs.com. I went along with the tutorial, although I kept the 'batman' project and tried to post it on now.js with the express server from the guide. Everything is exactly the same as production guide (the last section in basics) except for index.js and post.js.

Index.js doesn't seem to reload if I click back to it or navigate to it thr

[2018-03-30 05:52] supra28 commented on #4080
can you check the cookie in `ctx.req.cookies` it should be there.

[2018-03-30 09:55] Vadorequest commented on #4077
I found a workaround for anyone interested, here is the implementation for Next.js:

[code]

`GTM.initialize` comes from https://github.com/Vadorequest/react-gtm but you don't need it, you just need to make sure that you load the GTM script in the DOM after you delete the `window.google_tag_manager` variable, to force re-binding DOM events.

See SO for detailed explanation: https://stackoverflow.c

[2018-03-30 10:29] renet commented on #1943
@sfrieson-tm Did any configuration (webpack or .babelrc) work for you to fix your problem? I'm using the following .babelrc and am still running into this issue on IE11, even though I just updated to the latest version of next.js:

[code]

Could you please post your solution configuration, if it exists?

[2018-03-30 10:43] oliviertassinari commented on #1943
I can confirm, IE 11 support in development is broken in `next-5.1.0`.

![capture d ecran 2018-03-30 a 12 36 01](https://user-images.githubusercontent.com/3165635/38135271-8a7db116-3417-11e8-8a54-7957ef659b2c.png)
It should be fixed once https://github.com/gaearon/react-hot-loader/commit/87ad586a01d76585eba492d27f235a66650acb2b is deployed cc @neoziro

[2018-03-30 11:12] timneutkens commented on #4080
Basically the cookie is set on the API's domain, not your Next app, so you can't access it.
What I'd do (and what we do at ZEIT) is having a stateless API and doing verification to the API with a token (bearer).

[2018-03-30 11:12] #4080 closed

[2018-03-30 11:18] neoziro commented on #1943
@oliviertassinari probably this week-end

[2018-03-30 13:02] sfrieson-tm commented on #1943
@renet At the time of posting we needed to fix the issue right away so we just moved forward with polyfilling 🙁 .

[2018-03-30 13:10] timneutkens commented on #1943
You can use https://github.com/zeit/next.js/tree/canary/examples/with-polyfills for now.

[2018-03-30 14:59] #3977 closed

[2018-03-30 16:50] jamesreggio opened #4084 "`babel-runtime` cannot be explicitly included when needed for SSR"
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Repro steps

When using an npm module that requires `regeneratorRuntime` (part of `babel-runtime`), I get an error:

[code]

Makes sense. So I try to define it by placing this at the top of my page `.js` file:

[code]

But the error persists. It s

[2018-03-30 17:53] baba43 commented on #875
I have changed my pages directory to `src/pages` and now the _.next_ directory is created within `src`.

Is there still no option to keep it at root?

[2018-03-30 18:05] timneutkens commented on #875
Wouldn't recommend it. But you can use `distDir`

[2018-03-30 18:08] baba43 commented on #875
Thank you very much.

You would not recommend moving `pages/` elsewhere? If I should not do it, I will not do it.

[2018-03-30 18:17] timneutkens commented on #875
Well you're not moving pages, you're moving the Next.js root itself, hence the `.next` ending up in `src`

[2018-03-30 18:18] baba43 commented on #875
Well, I just would like to have my `pages/` within my `src/` directory.
Is that not possible / not recommended, too?

[2018-03-30 18:26] tedjames opened #4085 "Build error when deploying via Now - unable to use styled-components"
I'm interested in using styled-components with NextJS SSR and deploying via Now. While everything builds and runs without errors locally (as shown in the image below), attempting to deploy via Now results in one of two errors as shown below in the current behavior section.

## Expected Behavior

The app should deploy via Now successfully and render index.js with styled-components just as it does w

[2018-03-30 18:40] timneutkens commented on #875
It's not possible indeed. We're not planning on changing that 👍

[2018-03-30 19:32] agionfriddo commented on #3693
Any update on this? Just updated a project to Next 5 and I'm having the same issues with the FOUC as other people have said above. I tried adding a custom _document.js page, but no luck.

[2018-03-30 19:37] tedjames commented on #4085
Thanks to @timneutkens, this issue has been solved 🎉

I had somehow ended up with both a `package-lock.json` and `yarn.lock` which caused the error.
After deleting both those files and running `yarn` to regenerate the lock file, I was able to finally deploy via Now.

On another note, the lack of an error message is apparently a separate issue itself which @timneutkens is now in the process of reso

[2018-03-30 19:41] timneutkens commented on #4085
Opened a PR 👍

[2018-03-30 22:00] #4085 closed

[2018-03-31 04:34] kaym0 commented on #3825
@torinagrippa why did you say you have it working and not post solution, please post the solution

[2018-03-31 04:51] kaym0 opened #4088 "Question: Single Page Application"
I'm relatively new to using next.js [and React] and I had a question I thought would be best asked here. Is it possible to build a single page application with next.js? I can't seem to figure out how to have a static navbar/menu that won't reload when routing. Do I need to implement custom routing to make this possible? Are there any examples of someone who has already done this? I tried next-layo

[2018-03-31 05:10] guiihlopes commented on #4088
Yes, it's possible to build a SPA with next.js, you need to use `Link` component as mentioned here: [Link](https://github.com/zeit/next.js#with-linkl) or use this example to do it programatically: [Link with Router](https://github.com/zeit/next.js/blob/canary/examples/using-router/components/Header.js)

About Semantic UI, you can use this example: [Semantic UI without CDN](https://github.com/zeit/

[2018-03-31 06:45] timneutkens commented on #4088
For the layout that doesn't reload see #88 (will come soon).

If by SPA you mean running next without a node server, that's currently only possible using `next export` which produces static html for pages.

`next/link` does client side routing.

[2018-03-31 06:45] #4088 closed

[2018-03-31 07:01] #3900 closed

[2018-03-31 08:15] mrtkrcm commented on #1210
Any update on this. Are you guys planning to bring support anytime soon? Currently, I couldn't find any way to implement component-based caching.

like: https://github.com/rookLab/react-component-caching

[2018-03-31 09:02] timneutkens commented on #4057
@minooo why not send a pull request?

[2018-03-31 11:46] Vadorequest commented on #2468
I also use `transform-runtime` plugin but I do get the error on IE for some reason.

[code]

[2018-03-31 12:20] renet commented on #1943
@sfrieson-tm @timneutkens Thanks, that worked for me. I had to change the code a little bit, though:
[code]

[2018-03-31 13:55] Vadorequest commented on #2468
@bliitzkrieg Don't import `babel-polyfill` in `_document.js`, because `_document.js` is only rendered on the server.

Usually, it's recommended to include it in your layout, basically any file that is loaded by all pages will do fine.

[2018-03-31 14:05] Vadorequest commented on #1943
@timneutkens Can we get a list of polyfills needed by Next.js app?

So far I came up with this:

[code]

Are there more? It would be nice to just enable Next.js polyfills when starting the app somehow. Like, having an option to enable it, it doesn't add too much code if it's just a few polyfills like this, and having them included by default would probably be a good thing, most people want to supp

[2018-03-31 14:21] #4008 closed

[2018-03-31 14:34] #786 closed

[2018-03-31 15:48] Vadorequest commented on #1943
Finally, I dynamically injected a polyfill when the browser was IE.

I couldn't use the with-polyfills example for some reasons, also I don't like increasing my bundle size since I'm limited to 50Mb and I'm already at 32/50Mb used (AWS Lambda limit)

In `_document.js` I detected the browser and then dynamically injected the polyfill if useragent.family is IE.

[code]

Since the polyfill is 100kb,

[2018-03-31 18:42] kaym0 commented on #4088
No I just meant a Single Page Application which runs server side, with the basic layout (like the navigation) not reloading, only the content. I previously was using Vue before switching to React and was building SPA on that.

Basically you would build a layout was inside of app.js and then any of the content would load inside of that in the content area. Mostly I just like it for the navigation b

[2018-03-31 18:47] jsdevtom commented on #3255
@gkaemmer I have just been looking for that information

for the last 3 hours. Thank you so much!

[2018-03-31 18:51] kaym0 commented on #4088
Yes, I'm checking that out just wanted to clarify that I did not want to run a static html page without a server.

[2018-03-31 18:53] kaym0 commented on #4088
So to clarify:  this will not be available until Next 6.x?

[2018-03-31 19:21] RobinDvorak commented on #2734
This can be solved with adding `config.node = {fs: "empty"};` to your config.

[2018-03-31 19:37] timneutkens commented on #4088
Indeed 🔜

[2018-03-31 20:27] Attidd commented on #3735
@gabrielmancini This seems to be the problem on my end.  I went from 730 MS to  8000-16474ms.

The only changes I made were setting up Semantic UI theme and importing external CSS to change the design of a simple login page.
There's nothing else beyond that, I have 2 separate branches to confirm this is the issue. I'm going to go down the list to try to replicate exactly at what point this issue c

[2018-04-01 03:34] kaym0 commented on #1777
@sunnixx None of my routing seems to work at all (besides the next.js routing), how exactly do you have your server setup?

[2018-04-01 09:50] janbaer opened #4093 "Problem with Migration from Next.js 4 to Next.js 5 - Cannot read property 'array' of undefined"
I just wanted to migrate our project from Next.js 4 to Next.js 5.

But after the migration I get the following error.

Cannot read property 'array' of undefined

[code]
So the website is no longer working.  When I switch back to the version 4, the error is gone.

We're using Next.js from a Koa-Webserver amd we're also using Mobx for the state management. For tests we're using Jest. That's why we n

[2018-04-01 13:40] sonaye commented on #3167
Running `NODE_ENV=production firebase serve --only functions,hosting` does the trick (https://github.com/zeit/next.js/pull/3989).

@jthegedus This can be done, one condition though: the name of the function must not match an existing route in your app.

[code]

The `**/**` source should come last.

[code]

[2018-04-01 13:43] timneutkens commented on #4093
In the future please provide a way to reproduce. This is not an issue with Next.js. It's an issue with the library you're using, it's using the old `React.PropTypes`
https://github.com/devlato/react-hotkeys/blob/master/src/Component.js#L10

[2018-04-01 13:43] #4093 closed

[2018-04-01 14:10] #3167 closed

[2018-04-01 15:21] imbhargav5 commented on #4076
Alright! I have started work on it.

[2018-04-01 17:13] timneutkens commented on #4076
💯

[2018-04-01 18:19] dbarabashdev commented on #4076
Hey guys! Is it can be just example from this repository? [rematch](https://github.com/rematch/rematch)

[2018-04-01 19:04] glemiere commented on #1926
I fixed this problem in my [nextjs starter](https://github.com/glemiere/nextjs-starter). You can check the `next.config.js` file there.
Any suggestion is welcomed btw.

[2018-04-01 19:45] adamsoffer commented on #3350
We can close this issue now that #4070 is merged. Thanks @devspeak

[2018-04-01 19:45] #3350 closed

[2018-04-01 21:18] iilei commented on #3663
same here with 6.0.0-canary.2 / node 8.11.1

Spent some time trying different versions (starting with a merge of copy+paste from examples).

e.g:
[code]

No avail ...

[2018-04-01 23:55] jon64digital commented on #1632
Is this still happening? I can see the release notes for V6 canary and there is no mention of it.

[2018-04-02 01:41] wescoder commented on #4024
I'm having the same issues, but instead on `test` environment when running `jest` tests.
If you want to see another repo for reference, my repo is [here](https://github.com/TavernLab/tavern-web)

[2018-04-02 02:11] codinronan commented on #4024
@wescoder I had the same issue on the test env, but it makes sense because next server doesn't run during tests. In that case, I simply changed the `getConfig()` call to:

[code]

That nulls out the values, you can set appropriate defaults if you need them during tests, we don't in our case.

I still cannot repro the issue in this thread. We now have this config running in production - out to ~2 m

[2018-04-02 02:14] wescoder commented on #4024
@codinronan Yeah it makes sense, I'll look into it. Thanks!

[2018-04-02 03:11] jaydenseric commented on #4084
Which npm package is it? Because it should import the runtime itself internally, even if it defines the babel runtime as a peer dependency.

[2018-04-02 04:19] kaym0 commented on #1777
Ended up getting it working. Axios post requests weren't, for some reason, allowing the res.redirect to work. So I had to implement a solution which involved sending the route via json to the client side, where I used conditionals to route to the appropriate pages using

[code]

[2018-04-02 04:22] kaym0 commented on #1777
Have any of you been able to implement flash messages using express-flash or flash (npm package, not Adobe)? I have no idea how to do it with React and I cannot find any sort of documentation around.   Even if you could point me in the direction of someones Github who has implemented it in one of their public projects, that would be great!

[2018-04-02 08:42] Vadorequest commented on #4024
@codinronan I hear you, maybe it's related to the way AWS lambda stores files or something related to their environment, which isn't the traditional server most people use. I really don't know.

Anyway, since I found a proper workaround, by loading the config explicitly, it isn't a real issue anymore.

[2018-04-02 08:42] #4024 closed

[2018-04-02 10:41] timneutkens commented on #1632
Eventually. We've got other priorities right now (layout component, reliable development and a few other long standing open issues).

[2018-04-02 11:16] israelidanny commented on #3890
Same problem, not using compression plugin at all. Looks like it has something to do with session? I'm also using session.

[2018-04-02 11:17] arcifius commented on #3693
I'm having this issue too... After changing to another page for the first time I can see on console that the css modules were applied (i'm following with-sass) but the page remains unstyled...

[2018-04-02 12:55] lightj commented on #3693
I also have this issue. Even IE cannot re-rendering after CSS loaded.

[2018-04-02 12:59] timneutkens commented on #3693
This was solved. Going to lock the issue.

[2018-04-02 21:27] tills13 commented on #3700
Hi! An example using a custom server would be awesome.

[2018-04-02 22:35] dangodev opened #4098 "Update next-redux-saga example"
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Context
Kept getting a `store.runSagaTask` is not a function error repeatedly after reviewing the next-redux-saga example. Then I discovered the [next-redux-saga](https://github.com/bmealhouse/next-redux-saga) repo has different code for `store.js

[2018-04-02 23:48] mashaal commented on #3065
@anselmdk can verify this works for the `Link` component, but if using `Router.push/replace` the issue still persists.

I updated the `Router` component with the following.

[code]

and you can use it like this ```Router.push('/', pathname)```

[2018-04-03 02:07] supadits commented on #3890
Same problem here after update to next 5 and it cause by compression.

[2018-04-03 05:59] Popugune opened #4099 "What is ExportPatnMap for dynamic import ?"
where i can find documentation for how to use exportPathMap

`module.exports = {
  exportPathMap: function() {
    return {
      // routes
    };
  }
};
`

## Your Environment
| Tech    | Version |
|---------|---------|
| next    |    5.1     |
| node    |  9.9.0       |
| OS      |    win10     |

[2018-04-03 06:16] Popugune opened #4100 "How to use Template literals with dynamic import?"
How to use Template literals with dynamic import?
`
const Component = dynamic(import(`/components/${kindOf}`))
`
In console i have error

`Module build failed: TypeError ... Cannot read property '0' of undefined`

[2018-04-03 06:59] Shangyunliang opened #4101 "with-ant-design bundle file is too big"
![image](https://user-images.githubusercontent.com/18652330/38233858-9aa243e2-374e-11e8-9b46-a3a91d99ac61.png)

### In the with-ant-design  example,  i think these file too big for production.  Is this a bug?
### Can we optimize it?

[2018-04-03 07:08] timneutkens commented on #4101
Try analyzing using https://github.com/zeit/next-plugins/tree/master/packages/next-bundle-analyzer

[2018-04-03 07:10] timneutkens commented on #4100
You can't do truly dynamic imports. Webpack can't predict the outcome and prebundle.

[2018-04-03 07:14] timneutkens commented on #4099
... https://github.com/zeit/next.js

[2018-04-03 07:14] #4099 closed

[2018-04-03 07:16] edwardfhsiao commented on #1948
@timneutkens
i think what he wants to do is to change
![image](https://user-images.githubusercontent.com/11728228/38234724-48af093c-3751-11e8-9f20-7a011d7e9e49.png)
to
![image](https://user-images.githubusercontent.com/11728228/38234770-6ed50ce2-3751-11e8-8937-23563ba744e8.png)

![image](https://user-images.githubusercontent.com/11728228/38234804-89d638fe-3751-11e8-889f-bc326b2ee659.png)
to
![imag

[2018-04-03 07:17] timneutkens commented on #1948
You can't right now. Eventually we'll implement that.

[2018-04-03 07:34] #2654 closed

[2018-04-03 11:34] mevanabey commented on #3551
@enyce12 I'm having the same problem. Did you manage to fix this?

[2018-04-03 12:02] timneutkens commented on #4079
Apparently we still use these in zeit.co

[2018-04-03 12:32] pixelhijack commented on #1705
same here, with latest next 5.1.0, have to stop server and next build on every change, source maps not refreshing, HMR not working

[2018-04-03 14:01] oliviertassinari commented on #3998
We have been facing the same problem on Material-UI side. We decided to use the fs to [automatically generate](https://github.com/mui-org/material-ui/blob/1b66305162e232e8f7ce7a91f31274647a1dd4bb/next.config.js#L50-L84) the map.

[2018-04-03 14:38] timneutkens commented on #3970
Looks like you're using an old ref api. There's a new one: https://reactjs.org/docs/refs-and-the-dom.html

[2018-04-03 14:38] #3970 closed

[2018-04-03 14:39] timneutkens commented on #4098
Sure go ahead.

[2018-04-03 16:30] majdi commented on #3928
Hello,

I'm trying to host my next app on Netlify but I have some issues with `next export`
I think it's due to es6 I have
[code]

I really don't want to make some ugly hack with require :D

Thanks,

[2018-04-03 16:31] jon64digital commented on #1632
That is a shame, it might be low priority for the team but it's basically the only thing stopping people like me from starting to use it. I read your tutorial until I got to the bit where it said that routes have to be set up twice then gave up.

[2018-04-03 18:08] jhoffmcd opened #4103 "Explanation of Custom Server and `popstate` Usage - Safari Back Button and Objects"
Noticied that in Safari (11.1), using the back/forward buttons with a custom express server fails to pass plain type objects via `getInitialProps`. This is causing errors due to running methods on `undefined` objects when users on Safari navigate using the back/forward buttons.

- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe t

[2018-04-03 18:16] timneutkens commented on #3928
*never* put `"env"` in .babelrc when using Next, it's part of next/babel.

[2018-04-03 18:33] majdi commented on #3928
Ok thanks for that, I just remove it but same issue :)

[2018-04-03 18:52] lucleray commented on #4068
I have the same bug, with a different setup. I have a monorepo with two folders :
- `app`, with my next.js app
- `ui` , with my 'ui library' using styled-components

I have it in an example repo : https://github.com/lucleray/ssr-ui-library

When I update the background color for example, in the ui folder, and save the file, the page updates.
But then, if I refresh the page, the updates are lost.

[2018-04-03 19:51] PetrSnobelt commented on #2910
It is surprising and confusing that `params.url.asPath` works correctly, but `params.url.query` don't

[2018-04-03 20:43] timneutkens commented on #3928
If you can provide a minimal reproduction I can look into it 👍

[2018-04-03 21:15] timneutkens commented on #2910
When using `next export` you are **exporting HTML at build time**. Meaning all variables, including the querystring, pathname and asPath have to be predefined in `exportPathMap`, and `next export` will turn those into HTML files, by calling `getInitialProps` and writing the output of a server render to `<file>.html` "

First render" as mentioned in the issue means: serving the HTML, and `getInitia

[2018-04-03 21:15] #2910 closed

[2018-04-03 22:36] ismailbaskin commented on #4084
When I'm testing firebase example. When using ES6 functions such as async/await or destructuring assignment ex:`Page.getInitialProps =  async ({res}) => {....}` Server-side error with `regeneratorRuntime is not defined`

[2018-04-03 22:42] ismailbaskin opened #4105 "Override Cache-Control header"
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

Is there any way to override **Cache-Control** header of `/_next/webpack/chunks/:name'` requests https://github.com/zeit/next.js/blob/canary/server/index.js#L153 . I want to add `s-max-age` to be more aggressively.

[2018-04-03 23:31] jamesreggio commented on #4084
Hi @jaydenseric — I'm experiencing this with [`fluent.js`](https://github.com/projectfluent/fluent.js). (I've opened a parallel issue over there: https://github.com/projectfluent/fluent.js/issues/176)

Best practices dictate that a package should bundle all of its dependencies, and the process of bundling eliminates the concept of 'importing' — you should just get one file with everything in it. A

[2018-04-03 23:54] vonwao commented on #876
What does this ticket have to do with friendly errors?  Anyways it looks like that got closed.  I hate when tickets get linked to somewhere else and then closed.  Seems like everyone liked this idea, why not merge it in?

[2018-04-04 00:40] jaydenseric commented on #4084
@jamesreggio best practice for packages is to not bundle, otherwise we would have massive duplication in `node_modules`. The consumer should tree-shake and minify their app bundle.

I don't think Next.js should encourage or facilitate polluting globals, in your app you can `import "regenerator-runtime/runtime"` before importing packages that assume the global is present. Better yet, the packages s

[2018-04-04 01:50] jonjhiggins commented on #79
You can now `require` or `import` images in Next:

ref: https://github.com/zeit/next.js/issues/1935#issuecomment-367039454

...or just modify your webpack config as per settings in https://github.com/arefaslani/next-images/blob/master/index.js e.g.

[code]

[2018-04-04 05:52] eli0shin commented on #3778
While @ghengeveld's point is valid. This bug is only present (for me at least) in dev mode. I was personally able to prevent this error by only running compression when `process.env.NODE_ENV === 'production'`

[code]

[2018-04-04 06:14] eli0shin opened #4106 "Server render seems to time out during extended async call in getInitialProps"
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior

When dispatching an additional action (the middleware is `await`ing the second action before forwarding the first action to `next()`) from a redux middleware invoked by an action call in `getInitialProps`, the function should aw

[2018-04-04 08:50] timneutkens commented on #4106
As far as I know `dispatch` doesn't return a promise, so the `await` would do nothing. You'll probably have to check out one of the redux examples.

[2018-04-04 08:50] #4106 closed

[2018-04-04 09:16] supra28 commented on #4101
I think it imports the whole css rather than importing just the css for the components that are used

[2018-04-04 13:13] KristerV commented on #2179
well the command to start the thing is `npm run dev` and in `package.json` there's the average stuff:

[code]
Nothing special.

[2018-04-04 18:13] eli0shin commented on #4106
@timneutkens removing `await` results in the initial action completing before the second and the page being rendered with its state on the server.

With `await` it does wait for the promise to resolve. (hence why the initial action is never dispatched because the render times out while waiting for the second action to resolve before calling `next`) This code works perfectly once the page rehydrate

[2018-04-04 20:07] lhguerra opened #4109 "Page path is incorrect in SSR when route is dynamic"
- [x ] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior
Be able to access current route path inside page component.

## Current Behavior
When I console.log the current path inside a page and look at it in the server side, it is correct in the first moment but it logs a second time wi

[2018-04-04 20:58] hugotox commented on #4109
Can you describe what's your console.log? I can't find references to `currentPath`

[2018-04-04 21:07] lhguerra commented on #4109
@hugotox my console statement is simply logging a property from the url object that every Next page component has as a prop. I do not understand why you are looking for `currentPath`.

[2018-04-04 21:28] eli0shin commented on #4106
Interestingly, the following code works as expected:

[code]

[2018-04-04 21:59] hugotox commented on #4109
You need to pass the query params to your render call: `app.render(req, res, '/test', { id: req.params.id })` like desbribed here https://github.com/zeit/next.js#custom-server-and-routing

[2018-04-04 23:42] lhguerra commented on #4109
I passed the params, but it changed nothing in my case.

[2018-04-05 02:48] tujiaw opened #4112 "next run build failed"
window build is ok!

CentOS Linux release 7.3.1611 (Core)
node v9.11.0
npm 5.6.0

[code]

[2018-04-05 04:42] glemiere commented on #590
Heeey!

@timneutkens this might be interesting to add to your checklist for v6 ;)

[2018-04-05 08:28] rafinkarki opened #4113 "Uncaught Error: only one instance of babel-polyfill is allowed"
Use the following script in Header, But i am having babel-polyfill issue.
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.23.0/polyfill.min.js" />

[2018-04-05 08:37] xavcz commented on #4101
CSS Bundle
---
![server bundle result screenshot](https://cl.ly/2R3E31003v47/Capture%20d%E2%80%99e%CC%81cran%202018-04-05%20a%CC%80%2010.28.27.png)

I believed the same, and it actually imports *only* what it needs in terms of CSS! 😄

I would guess the `style.css` file is "that big" because `@zeit/next-css` plugin SSR feature is a work in progress, see https://github.com/zeit/next-plugins/issues/1

[2018-04-05 15:06] cyrilpanicker opened #4114 "cannot import components from outside the project"
I have a project structure as below
[code]
There are 2 NextJs Projects. I am trying to share components between the two projects.
But I am getting an error when I try to use SharedComponents in one of the projects. SharedComponents is a React component written in JSX.

Below is the error
[code]

[2018-04-05 15:33] cyrilpanicker commented on #3018
@znafets , can you elaborate on how you resolved the issue?

[2018-04-05 16:50] jamesreggio commented on #4084
Fair enough, @jaydenseric — I shouldn't have used an opinionated term like 'best practice'.

The problem remains that some npm modules only provide two methods of import:

* a transpiled, bundled version via `main` in `package.json`
* unbundled source code via `module` in `package.json`

Even though `module` is a de-facto standard supported in Webpack (and, by extension, Next.js), it still breaks

[2018-04-05 19:39] iserdmi opened #4115 "next/head allow duplicates if it has uniq keys"
I am trying add http://ogp.me/#array of `article:tag` property:
[code]

## Expected Behavior
I have set key for each line, so I expect that next.js understand that it is not duplicates:
[code]

## Current Behavior
But next.js think tah it is a duplicates and remove tags except last tag:
[code]

## Your Environment

| Tech    | Version |
|---------|---------|
| next    |    5.1.0     |
| node    |

[2018-04-05 21:06] majdi commented on #3928
Hello, you can check a simple repo here: https://github.com/majdi/next.js-issue.git

Actually, I need the "env" in my .babelrc to run the `yarn dev` command.
You can see that `yarn build` or `yarn export` fail because of *import* things.

Thanks :)

[2018-04-06 00:26] jaydenseric commented on #4084
@jamesreggio

Neither `main` or `module` should be bundled or minified, and both should be transpiled. The only difference in contents is that instead of transpiling the `module` to use CJS, it should contain ESM imports and exports. Emerging best practice for native ESM goes a little further:

[code]

This issue does not relate to Next.js and can be closed. The fix for your issues is to fix the b

[2018-04-06 00:48] jamesreggio commented on #4084
I must be living in a very different world ¯\_(ツ)_/¯

[2018-04-06 00:48] #4084 closed

[2018-04-06 02:36] binarykitchen opened #4117 "Document why you have server side rendering"
I'm missing a FAQ entry explaining why next.js opted for server side rendering and not on client side. This would help me evaluating frameworks.

A detailed and/or opinionated comparison between these two and the reasons why SSR has been picked would be awesome.

[2018-04-06 03:10] sergiodxa commented on #4117
Next.js does both, SSR and CSR.

First request is rendered server side and then when client JS code loads on the browser is "rendered" client side (the `"` are because React try to avoid rendering again and instead it just starts to listen events and other few things). Then when you navigate to another page it loads the required JS code and do the navigation and render client side as an SPA.

To u

[2018-04-06 08:33] davscro commented on #4115
Hi @iserdmi,

you're right. Only two of them by [specifications](https://www.w3.org/TR/2014/REC-html5-20141028/document-metadata.html#standard-metadata-names) should not be duplicated:
You may not have multiple …

`meta-description elements:
`

`meta-application-name elements (per language):
`

So I believe we should fix this to allow duplication in some cases.

[2018-04-06 12:39] rayhooker opened #4118 "Router.push Does not know about and Nullifies route prefix/ basename"
The application has a route prefix and is homed at /src. I have the appropriate assetprefix and node handlers to cause next to properly recognize the prefix and properly render the page.  Every thing seems to work  (see below).

[code]

The main issue is when I use router.push to update the parameters so that a back re-renders the page. I am using shallow true:
[code]

So starting with:
[code]

I

[2018-04-06 13:49] pedrovagner commented on #2965
I thought my app is crashing because of `react-i18n`, but a just find out my error is in `moment.js`.

[2018-04-06 22:02] PaulRBerg commented on #3775
Playing around with `6.0.0-canary.3` and I can confirm it's still the same.

[2018-04-07 02:18] cheong12001 opened #4122 "How to add two css loaders?"
i would like to add two css loader, one for css modules and one for importing antd css. can i achieve this ? i have stuck for 3 days.

[2018-04-07 05:00] merrywhether commented on #3623
I've run into this same issue, developing a shared component library of components that use styled-jsx resulting in FOUC. Is https://github.com/zeit/styled-jsx/issues/64 the solution to this problem?

[2018-04-07 09:26] tonypee opened #4123 "Is it possible to use webpack DllPlugin to speed up the build?"
Has anyone looked at how this could work with next - to make dev builds faster?

[2018-04-07 09:52] timneutkens commented on #4123
Yeah we did, but it will become obsolete with webpack 4.

[2018-04-07 09:52] #4123 closed

[2018-04-07 10:00] Charleschua commented on #3617
Thanks alluster. I've been spenting hours to trying to resolve the same problem. Finally, my Next works like a charm too, using ur suggestion. Really appreciated.

I'm doing a Udemy course to develop a blockchain project. At the same time, trying to seek alliances from the community, to find collaborators, on a non-profit basis, to develop blockchain solutions for the South-east Asia small and med

[2018-04-07 10:15] timneutkens commented on #4122
You can use part of the code from https://github.com/zeit/next-plugins/tree/master/packages/next-css

[2018-04-07 10:15] #4122 closed

[2018-04-07 11:27] timneutkens commented on #4118
Can you please provide a repository to reproduce, it's hard to determine if this is even an issue/bug since you didn't follow the issue template 🙏

[2018-04-07 13:54] pvtri96 commented on #1705
same with me. I am using material-ui and when I change a JSS style. The page didn't reload properly. I have to reload the page manually to reload the style.

[2018-04-07 17:00] cheong12001 commented on #4122
i have tried the code with no luck, i can't get the css module working without using the next-css. however, after enable css module in next-css, css for antd fails.

[2018-04-07 17:29] r0b- opened #4125 "Missing ts types for next/config"
Typescript compiler is complaining about missing declaration for next/config on line
`import getConfig from 'next/config'`
(taken from example code  https://github.com/zeit/next.js#exposing-configuration-to-the-server--client-side)

Thanks
Rob

[2018-04-07 17:53] timneutkens commented on #4125
Feel free to add them in definitely typed, we don't maintain them.

[2018-04-07 17:53] #4125 closed

[2018-04-07 19:39] w01fgang commented on #3813
I experience the same error in development. If I build the project, everything is ok.
I tried to do a trick, and it works. In my `_document.js` I pass `chunks` like this:
[code]

[2018-04-07 20:39] rayhooker commented on #4118
Here is the repository:
https://github.com/rayhooker/demoReportSelectorServer

Basically if you bring up the app by:
    node index.js
navigate to:
     http://localhost:3000/src/

Then click on one the selector button to change the view state such as "Districts".  It should at the latest options including the defaults such as:

http://localhost:3000/src?
  viewSelect=districts&year=2017&type=Both

[2018-04-08 15:26] lolcoolkat commented on #4059
I believe this is also similar to this bug here https://github.com/zeit/next.js/issues/3775

Hope this can be solved soon :(

[2018-04-08 15:30] lolcoolkat opened #4127 "Dynamic import() 6.x.x issue"
Wanted to create another issue for this, as this is a very import bug that is occurring; which hopefully can be fixed soon :(

Same issue/behavior as https://github.com/zeit/next.js/issues/3775.

Example code:

[code]

Any updates on when this can be fixed? I'm kinda in a standstill rn and without using dynamic imports it will severely hurt the performance of my application.

Thanks for any suppor

[2018-04-08 15:31] timneutkens commented on #4127
No need to open new issues. Duplicate of #3775

[2018-04-08 15:31] #4127 closed

[2018-04-08 16:49] oliviertassinari commented on #3356
This issue can be closed.

[2018-04-08 21:47] ianregister commented on #2487
I was suffering long full page refreshes. Turned out to be an issue with OSX and IPv6 and resolving addresses in the hosts file.

The issue was around using `.local` as an extension on my ... local ... machine. The DNS resolver would time out after 20+ seconds. Something to do with `.local` being reserved by the OS.

This hit me recently as my local Next.js site is pulling from a locally hosted AP

[2018-04-08 21:55] ianregister commented on #4068
Is this anything to do with the injection order of the style sheets in `<head>`?

[2018-04-08 21:57] lucleray commented on #4068
@ianregister No, the order of the injection in `<head>` is not related

The problem is that the server and the client don't render the same code for stylesheets

[2018-04-09 08:24] krokhale opened #4128 "Populate HEAD asynchronousy using Firebase"
I use something like this to load firebase in my app, works great:

    export default async () => {
    const firebase = await import('firebase');
    try {

      firebase.initializeApp({
          apiKey: config["process.env.API_KEY"],
          authDomain: config["process.env.AUTH_DOMAIN"],
          databaseURL: config["process.env.DATABASE_URL"],
          projectId: config["process.env.PROJ

[2018-04-09 08:56] timneutkens commented on #4128
You'd have to fetch in `getInitialProps`

[2018-04-09 08:56] #4128 closed

[2018-04-09 11:03] kytwb commented on #256
@dbo have you managed something out to get rid of the `unsafe-inline` in the `script-src` directive?

[2018-04-09 11:08] krokhale commented on #4128
Thanks, can't believe i missed that!

[2018-04-09 14:44] TrebuhD commented on #1364
Yeah, still an issue, at least in the network tab. I think Chrome only squashes console logs.

[2018-04-09 16:34] timneutkens commented on #1364
Any other implementation (like @rauchg's suggestion for an `<img>` tag) would still end up in the Network tab.

[2018-04-09 16:54] albinekb commented on #1364
Sockets would only show up as one connection (on page load) I think @timneutkens

[2018-04-09 16:58] ghengeveld commented on #1364
I suggest long polling or server sent events instead of websockets.

[2018-04-09 17:41] postgetme opened #4131 "does Router.push support {scroll:false} option like Link componet?"
- [ ] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior

## Current Behavior

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

| Tech    | Version |
|---------|---------|
| next    |         |
| node    |         |
| OS      |         |
| browser |

[2018-04-09 18:44] dbo commented on #256
@kytwb No, I haven't.

[2018-04-10 06:50] xtx1130 opened #4133 "test: can't run testcases rightly in local environment"
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=test) of this repository and believe that this is not a duplicate.

## Expected Behavior
[code]
Should run testcases without mistakes

## Current Behavior
![image](https://user-images.githubusercontent.com/5475069/38540314-25c3de5c-3cce-11e8-96f2-ac37c0ac4945.png)

## Steps to Reproduce (for bugs)
1. download next.js canar

[2018-04-10 09:06] paschaldev commented on #2842
Seriously need a hack

[2018-04-10 10:02] stevokk commented on #2252
Building upon what @sergiodxa said (also thanks for your tip!), if you're using next-redux-wrapper and want to pass data from _document.js, withRedux() will pass a second argument of options containing the variables you need to load an initial state based upon req or res.

[code]

You can also assign to a global window variable in the script tag and use that as an object reference instead of JSON.

[2018-04-10 10:09] joshuaquek commented on #4076
Awesome!! 😆😆😆

[2018-04-10 10:18] axsann commented on #1903
for Next 5.1+
Additional configuration is required.
This code generates `main.js.map`.

### Next.js (version 5.1+)
[code]
https://github.com/axsann/buildpack-sentry-sourcemaps/blob/master/README.md#nextjs-version-51

[2018-04-10 11:35] morgs32 commented on #3562
Anyone guess how I could do `express.static` with `micro`?

[2018-04-10 13:46] julioprotzek commented on #3890
Adding compression as the very last line, just before `server.listen()` get's rid of the message for me. Next `5.1.0`, compression `1.7.2` and express `4.15.2`. Hope it helps.

[2018-04-10 15:37] eddneal commented on #3825
@torinagrippa Have you shared the solution for this anywhere?

[2018-04-10 17:27] lolcoolkat commented on #3775
I'd also like to point out.. this bug only occurs during development.. the production build works fine with loading chunks.

[2018-04-10 18:59] dillonraphael opened #4134 "Use nextjs plugins with serverRuntimeConfig inside next.config.js"
I'm trying to use `next-images` & `next-sass` along with `serverRuntimeConfig` but get the following error:

[code]

My next.config.js file:
[code]

| Tech    | Version |
|---------|---------|
| next    |    5.1.0     |

[2018-04-10 19:01] timneutkens commented on #4134
You need to wrap them, they're higher order functions

[code]

[2018-04-10 19:01] #4134 closed

[2018-04-10 19:06] dillonraphael commented on #4134
@timneutkens So I'm trying this now, but still seem to get the same error:

[code]

[2018-04-10 19:47] mlecoq opened #4135 "Static Export - Missing Query params when opening link in new tab"
I have several nextjs application that are statically exported. Navigation through pages works fine except when I use _right click_ > _Open Link in new tab_ : query params are missing in the url of the opened tab

When I run the application with a server, everything works fine. This issue is related to static export.

- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3

[2018-04-10 21:15] arunoda commented on #4135
I just tested your case. I cannot reproduce.
It should work without any issues.

Could you send us a sample repo with the issue?

[2018-04-10 21:17] mlecoq commented on #4135
Sure, I will build a small example

[2018-04-10 21:25] PaulRBerg commented on #3339
Playing around with `6.0.0-canary.3` and I have made sure to write it as `static async getInitialProps()`, but the function doesn't seem to be called.

[2018-04-10 21:53] timneutkens commented on #4134
I'm pretty sure this is not related to Next and something with your environment 🤔

[2018-04-10 21:57] timneutkens commented on #3339
Please make sure that when you comment something like "it doesn't work! please help" you provide a clear reproduction of how it happens, either a full repository or the code to reproduce.

[2018-04-11 06:27] zhengqingxin commented on #3775
Anyone has a temporary solution ?

[2018-04-11 07:08] PaulRBerg commented on #3339
Sorry, it seemed to be a problem only with 6.0.0, but indeed I tested now and it works on a different mockup project.

[2018-04-11 07:45] timneutkens commented on #4133
These are the tests for the next.js repository. (just to be clear).
It sometimes happens that webdriver is not installed correctly by npm/yarn. The solution is usually to `rm -rf node_modules` and reinstall.

[2018-04-11 07:45] #4133 closed

[2018-04-11 08:16] mlecoq commented on #4135
I was not able to reproduce on a small example.

In fact this issue is related to using static export on Amazon S3.

I did not notice it while opening new tabs : amazon make a redirection from /a?param=value to /a/ whereas /a/?param=value works fine.

I close this issue,
thanks for your time

[2018-04-11 08:16] #4135 closed

[2018-04-11 09:11] zhengqingxin commented on #3775
Can I disable dynamic import in development mode and enable it in production?
I try it as below, but it seems disabled dynamic import in both development and production.
[code]

[2018-04-11 09:59] zhengqingxin commented on #3775
I use With No SSR in development mode as a temporary solution
[code]

[2018-04-11 10:55] mira-thakkar opened #4136 "Get Previous Url in nextjs router."
I am building react js app based on nextjs boilerplate.

- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior
Check if router has previous url or not.

## Current Behavior
The tab is being closed on router.back()

## Steps to Reproduce (for bugs)
router.back()

## Context
I need to

[2018-04-11 19:54] hanford opened #4141 "validate Router.push params"
When using `Router.push(url, as, { shallow })` the `Router` should validate that `as` is a String and warn the consumer.

As a consumer, I would expect `Router.push` to gracefully handle / fallback to setting `as = url` so I can simply invoke `Router.push(url, {shallow: true})` but 🤷‍♀️

- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and

[2018-04-11 19:57] timneutkens commented on #4141
`url` and `as` actually accept a string or object. But `require('url').format({shallow: true})` would hold `''`, so we need to check for an empty string and warn/fail (@arunoda can you give your option on warn/fail?) to make it clear to the user.

I don't want to change the Router API at this point, but providing a clear message would go a long way in preventing issues like the one Eaze was experi

[2018-04-11 21:16] MichelDiz commented on #858
@kmalakoff I also have the same issue. I thought I would get something working from your code, but it did not work. I would like to use react-native-elements. I'm running all internet for this.

https://spectrum.chat/thread/e055ef10-ea2f-4de6-8041-b4a2ca2f5e39

[2018-04-11 23:08] brandonmp commented on #484
i've tried a dozen different ways of achieving `antd` + `next` without requiring the entire css file. the only way i've managed to make it work so far is (might require styled-components or similar):

1. enable inline css imports w/ the `babel-plugin-inline-import`:
[code]

2. Create a new directory with 1 file for each antd component, eg `components/antd/Table.js`

3. import (a) the JS imported f

[2018-04-11 23:17] chami commented on #3444
i had to use gulp for this.

[2018-04-11 23:30] arunoda commented on #4141
The idea we had when designing this is to create an explicit API without any parameter overloading. And `as` could be an object with a parsed URL object.

I agree with @timneutkens on not to change the routing API. But, it's nice to warn user in this case.

[2018-04-12 03:18] kmalakoff commented on #858
@MichelDiz Thank you for chasing this up.

I ended up giving up on Next.js because of this (I probably spent over 10 hours trying), but would be happy to go back if someone can get it to work!

[2018-04-12 03:19] Deval520 opened #4142 "when i use custom server, why webpack-dev-server also work?"
- [ ] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior

## Current Behavior

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

| Tech    | Version |
|---------|---------|
| next    |         |
| node    |         |
| OS      |         |
| browser |

[2018-04-12 06:41] kachkaev commented on #4043
I think the problem is that you are passing `i18n`, not `i18n.I18n` here: https://gist.github.com/lifeiscontent/f23b5ea2221f11f8f0cfc11a0764e01f#file-withi18next-L5-L8
The argument needs to be a class.

I also spent quite a lot of time chasing this issue and refactored the example in this PR: https://github.com/zeit/next.js/pull/3959

More specifically, see this line: https://github.com/zeit/next.

[2018-04-12 07:05] rovansteen opened #4143 "Peer dependency not correctly resolved in linked module"
I have a monorepo, containing a `create-react-app` application, a `next.js` application and a separate library. This library is linked (with `yarn link`) to the two applications and has `styled-components` as a peer dependency, which is installed in both the applications.

The linking works fine in the `create-react-app` application but in `next.js` it breaks resulting in the following error:

[co

[2018-04-12 08:33] #88 closed

[2018-04-12 08:33] #4029 closed

[2018-04-12 08:46] timneutkens commented on #3444
@clementprdhomme it's fixed in Next 5.1.

[2018-04-12 09:01] timneutkens commented on #4142
Not sure what you're trying to ask.

[2018-04-12 09:01] #4142 closed

[2018-04-12 09:10] timneutkens commented on #4143
Please do 🙏

[2018-04-12 12:15] julianrubisch opened #4145 "Update custom `<App>` examples in README"
Apologies, I'd like to use a custom `<App>`, but the examples referenced in the README either don't include a custom `pages/_app.js` file (https://github.com/zeit/next.js/tree/canary/examples/layout-component) or don't exist anymore (https://github.com/zeit/next.js/blob/canary/examples/componentdidcatch)

[2018-04-12 13:44] timneutkens commented on #4145
They're not released yet, same with the custom `<App>` component.

[2018-04-12 13:51] tamerelsayed commented on #2694
any updates on this?

[2018-04-12 15:35] zvictor opened #4146 "Extend `assetPrefix` for global prefixing"
It has been great to have `assetPrefix` in our app. With few modifications we are able to serve nextjs next to a meteor app, served in the same domain but with a specific prefix:

[code]

**The problem**

In the scenario described above, we make use of `assetPrefix` not only for assets but for the whole application. As consequence:

1) It feels hacky to call it `assetPrefix` when we are actually p

[2018-04-12 15:37] adekbadek commented on #1189
url with a trailing slash results in a 404 error using `next@5.1.0`,  was it supposed to be fixed in this version?

[2018-04-12 17:14] stefanosx commented on #3018
The easiest solution I found is to create symlinks on each project to the shared folder and add the following code on `next.config.js`.
[code]

[2018-04-12 18:01] billnbell opened #4147 "Example _error.js"
Does anyone have an example _error.js where I can style it and do a redirect if the code is a certain number?

[code]

[2018-04-12 18:55] eugeneross opened #4148 "Working with SASS modules and SASS imports for components"
After reading some different methods of utilizing CSS modules within Nextjs pages, I'm wanting to know if the same concept can be applied to components but with SASS. This is one of the examples I'm referencing to:

https://github.com/zeit/next.js/tree/canary/examples/with-next-sass

What I'm trying to achieve is something like this with the following file structure:

Reusable components are in a

[2018-04-12 20:52] mgiraldo commented on #4148
the garbled string is just the package doing a custom/unique name for that object. you can customize it like so:

[code]

where the resulting class name will be something like `Button__btn___3xknZ`

also notice how you are adding (as in arithmetic addition) instead of concatenating the unique name to `this.props.className` and this might also explain the style not being applied.

try:

[code]

[2018-04-12 21:03] herrstucki commented on #4100
@timneutkens This is not true. Webpack can handle dynamic imports where part of the path is static. From [the docs](https://webpack.js.org/api/module-methods/#import-):

This error is specifically a deficiency in `next/babel`, where only static strings are handled but not template literals (which are of a different AST node type). Another unrelated aspect is that all `import()`s are transformed, e

[2018-04-12 21:04] CodeOtter commented on #2562
I cannot find any instructions, examples, or insights on how to turn sourcemaps on for any project in Next.js.

Without this ability, I will be left with no choice but to abandon using it ever again.  I can't fix what I can't see, and without the ability to debug, no other feature NextJS offers is even worth it.

[2018-04-12 23:16] MickaelBZH opened #4149 "Subdomain with nginx 404 /_next"
I'm trying to map  `x.mysite.com` to `mysite.com/x`

My nginx sub-domain config:

[code]

Even if the proxy_pass is different for the /_next/ location, I still get a 404 ... any idea?

[2018-04-12 23:34] lfades commented on #4136
if the sign process is being done in the client set a flag that will be `true` when any page (except the signin page) is loaded, and if it's true use `Router.back()` otherwise don't.

[2018-04-13 09:58] timneutkens commented on #4100
Lets re-open the issue then.

[2018-04-13 10:27] timneutkens commented on #4149
Check https://github.com/zeit/next.js#multi-zones, it allows you to run on a sub-path 👍

[2018-04-13 10:27] #4149 closed

[2018-04-13 13:31] CodeOtter commented on #2562
Since we're now allowed to play psychologist and impose what we think people are trying to do, let's example how this project has handled the sourcemaps problem throughout its history:

Here's Next.js justifying why sourcemaps are low priority despite every JS project on Earth needing them

#137

Here's Next.js questioning why anyone would ever want sourcemaps on production, as if the coder asking

[2018-04-13 13:46] timneutkens commented on #2562
Next 5.1 has better support for sourcemaps as I said before, just use next-sourcemaps, we worked on fixing those issues together with @ptomasroos.

Again please provide a **reproducible** example of what isn't working for your particular case so I can have a look into it.

[2018-04-13 14:31] mattiasewers commented on #4145
When can we expect a release? week? month?

[2018-04-13 14:47] timneutkens commented on #4145
Canary will be out this week. The stable release schedule is not public at this point 👍

[2018-04-13 14:49] mgiraldo commented on #4148
you need a [`_document.js`](https://github.com/zeit/next-plugins/tree/master/packages/next-sass#usage)

[2018-04-13 14:52] timneutkens commented on #4148
@mgiraldo thanks for solving the issue 😌

[2018-04-13 14:52] #4148 closed

[2018-04-13 15:00] growak commented on #4145
Does the _app.js still working on the current version ?

[2018-04-13 15:42] mgiraldo commented on #4148
@timneutkens the `_document.js` part bit me too. Maybe add a heading to that part saying **With or without CSS modules** or something? The reader's eyes gravitate to headings. Or maybe under each subheading (eg: right under “With CSS modules”) mention “Create your `_document.js`. Then...” because yo _do_ repeat the “Create a config/index” files parts.

[2018-04-13 18:05] krasevych commented on #2795
Some one find solution?

[2018-04-13 18:11] rashidul0405 commented on #2795
It’s required for may be re-hydration purpose? Then if we get data via a separate request, performance will degrade? React will have to wait until that request resolves and then hydrate - I doubt whether it’ll gonna work

[2018-04-13 18:15] krasevych commented on #2795
I have the problem with next export.
I was generated static landing and load translation inside getInitialProps, and then I got the all translation inside __NEXT_DATA__.props.translation. I don't need it, and I wanna remove the translation

[2018-04-13 19:02] eugeneross commented on #4148
@mgiraldo @timneutkens I got it to work with your recommendation for using the `_document.js` file.

I get the follow error when trying to use a global stylesheet ([similar to this example](https://github.com/davibe/next.js-example-with-global-stylesheet)) and modules.

[code]

When I comment out the [webpack config rules](https://github.com/numieco/tortuga/blob/2.0/next.config.js#L22) from that e

[2018-04-13 19:51] ldiego08 opened #4151 "Pass-through Node Args from Next CLI"
While trying to enable the Node inspector via the `--inspect` flag, it was noticed that it only works if is used in its default form. None of its other forms work, i.e: `--inspect=0.0.0.0:9928`

- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior
Node-related flags should be passe

[2018-04-13 22:25] gcpantazis opened #4154 "Handling componentWillReceiveProps deprecation in React >= 17"
The docs currently reference `componentWillReceiveProps` as the recommended way to listen to route changes when using shallow routing:

[code]

This lifecycle, however, is on the deprecation path; it will stop working as-named in React 17: https://reactjs.org/docs/react-component.html#unsafe_componentwillreceiveprops

Given that, we should provide a more future-friendly solution for listening for

[2018-04-14 06:04] timneutkens commented on #4154
I guess we should just use https://reactjs.org/docs/react-component.html#static-getderivedstatefromprops 🤔

[2018-04-14 12:53] MaxGraey opened #4155 "Problem with 'transform-react-jsx-source' plugin in 6.0.0-canary"
Problem with building next.js 6.0.0-canary with `transform-react-jsx-source` plugin.

- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior
Success build as in stable next 5.x version

## Current Behavior
Crash with output:
[code]

## Steps to Reproduce (for bugs)

1. Setup babelrc

[2018-04-14 14:17] timneutkens commented on #4155
The reason for this is that next/babel includes react-jsx-source. But for whatever reason it's not being executed. I literally noticed this 3 hours ago :joy: 👍

[2018-04-15 15:40] maufarinelli commented on #4033
I have a pretty similiar error, but only when I try to run my custom server in Window

[code]
[code]
What is weird here is the dash in between `_next/-/page`, that looks like Next is not compiling properly.
What could it be the problem?

[2018-04-15 18:34] balazs4 commented on #4135
I'm facing a very similar issue, and I was able to reproduce it.
I'm not sure that this is a AWS S3 issue.

@arunoda could you please take a look? :pray:
https://github.com/balazs4/next-export-issue

[2018-04-15 18:37] davidgarsan commented on #1840
Yep, recently I worked in a three ways benchmark with Vue v2.5, React 16.2 and Inferno 4, and Inferno was in another league. Other things like limited ecosystem aside which is a drawback for big projects, Inferno was clearly the fastest one.

[2018-04-15 20:41] gcpantazis commented on #4154
I'll have to play with it more; offhand it doesn't look like it plays nice with `next-redux-wrapper` (though https://github.com/reactjs/react-redux/issues/915 makes it seem like it should).

[2018-04-15 21:07] timneutkens commented on #4154
`react-hot-loader` is also using `componentWillReceiveProps` in `AppContainer` right now btw.

[2018-04-15 21:13] timneutkens commented on #4033
With the upcoming canary release (1 more pull request till it's out) the files will be loaded just like other static files. And even have a hash in production.

In your case it looks like you forgot to add `handle` as per the example:
https://github.com/zeit/next.js/blob/canary/examples/custom-server-express/server.js#L25-L27

[2018-04-15 23:14] SindreSvendby commented on #4147
As I see your use case is render a component if you have one statusCode (in your case 502), and if not you want to render the Page.

You will find a example that you may find good enough here:
https://github.com/zeit/next.js/issues/2883#issuecomment-369224407

Hope that solves your issue

[2018-04-16 06:05] awesome-rio opened #4157 "Font loading on custom server"
I am trying to use parameterized routing using custom server for clean routes.but the problem is that my static folder that contains the images and fonts does'nt load from server.js. is there any way to do that?
![screenshot from 2018-04-16 10-52-36](https://user-images.githubusercontent.com/32071070/38792351-350f270e-416a-11e8-93b7-cc5922c57aac.png)

[2018-04-16 10:17] baba43 opened #4158 "Allow better organisation of pages (like subfolders)"
Hello,

as my project grows, I see problems with having all the pages within a single folder. Usually every website has some kind of hierarchy, but currently it seems like we are unable to create any kind of hierarchy on file-level.

For instance, it would be perfect for us if we would have the possibility to use subdirectories. I have tried that and found out that my page gets inaccessible after

[2018-04-16 10:25] baba43 commented on #4158
You are absolutely right, sorry.

The routing did not work in my case, because of the existing dynamic routing.

Everything is fine. Keep up the great work 👍

[2018-04-16 10:26] #4158 closed

[2018-04-16 10:27] timneutkens commented on #4158
Great! 🙏

[2018-04-16 11:24] albinekb commented on #4157
Yes, you need to have the last fallback handler to get the default static serving to work:

[code]

It's all in the express example 👍

[2018-04-16 11:28] timneutkens commented on #4157
If what @albinekb is saying is not the case please provide a way to reproduce 🙏 It's impossible for us to help if we don't get any code samples.

[2018-04-16 11:28] #4157 closed

[2018-04-16 14:45] maritz commented on #3663
The example project works fine. Trying to get it to work in an actual project always fails.

My theory: There is something wrong with the compile steps and actual compile errors get swallowed. Then afterwards it tries to use the uncompiled .tsx and fails.

[2018-04-16 15:35] torresandres commented on #1942
Improved @vjpr solution, bypassing the `className` prop directly to our `Link` so we can extend their styles in the correct scope:

**Link.js**
[code]
**AnotherComponent.js**
[code]

[2018-04-16 20:15] brycejacobs opened #4159 "6.0.0-canary.3 Styled JSX presets not applying"
For whatever reason, the latest canary with babel 7 isn't working well with styled jsx plugins via custom babelrc.

- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior

Expected to build the page and display in dev environment, instead spits error each build.

## Current Behavior

[2018-04-16 20:18] timneutkens commented on #4159
Interesting, good catch! Feel free to check it out 👍 (I'll do it eventually)

[2018-04-16 21:22] roma98 opened #4161 "dynamic import with ssr:false behavior"
Hi all,

I have integrated material-ui and aphrodite in my current project, merging those two exemples
https://github.com/mui-org/material-ui/tree/v1-beta/examples/nextjs
https://github.com/zeit/next.js/tree/canary/examples/with-aphrodite

so far so good, everything renders properly on the server and the client.

Recently I've integrated [react-map-gl](https://github.com/uber/react-map-gl) (a mapb

[2018-04-16 22:15] JonAbrams commented on #3735
Out of desperation I tried @hipabloangel's [solution from a different issue](https://github.com/zeit/next.js/issues/3748#issuecomment-365097391).

I was able to fix my slowdown issues in 5.1 by adding this to `next.js.conf`:
[code]

I have no idea why this works, but I guess for some reason it's expensive to generate external source maps? From some experimenting, I was also able to speed things up

[2018-04-16 22:40] brycejacobs commented on #4159
Opened PR #4162 to address this issue.

[2018-04-16 23:52] jcollum commented on #2701
Is that NoSSR library valid for React 16?

[2018-04-17 00:54] roma98 commented on #4161
my bad, just found out about the sentry exemple... I'm going to configure that.

[2018-04-17 00:54] #4161 closed

[2018-04-17 02:42] mellster2012 commented on #88
@hugotox 's solution seems to be by far the easiest if you need animated components. The base code is minimal and can be extended by any component. Thx!

[2018-04-17 02:59] chanlito commented on #4145
Hi, @timneutkens I'm new to next.js, I'm wondering how is the workaround before custom _app.js?

[2018-04-17 07:37] plag commented on #3735
@JonAbrams YES YES YES!! Thank you! Looks like source maps was reason of slowdown. 4.2.3 uses `cheap-module-inline-source-map`, version >=5 use `source-map`. Change it back makes SSR fast as before.

[2018-04-17 09:04] albinekb commented on #3735
@timneutkens is working on changing over to the `cheap-module-source-map` in here https://github.com/zeit/next.js/pull/4156/files#diff-0f2f34c098f5954f99483c9bd61e439dR124 🎉

[2018-04-17 17:26] lfades commented on #3817
I can confirm this is an issue more with `Firefox` than with `Next.js`. Basically the issue is this: After a SSR redirect inside `getInitialProps` with the following code:

[code]

The client behaves as expected but then if you change the query params with `Link` or `Router` in Firefox or use the following code and then refresh the page (F5) it will go back to the initial url:

[code]

I was unabl

[2018-04-17 17:50] Bamieh commented on #4145
@timneutkens will _app be used to initialize the store for redux and wrap providers? (instead of HOCs at the page level?)

[2018-04-17 19:42] lfades commented on #3322
Do you think a change inside Next needs to be done in order for this to be possible or maybe something simpler like saving the previous url in a variable and then comparing after a route change is enough ?

[2018-04-18 01:08] brandonmp commented on #3931
my bad for checking-out on this one all. i ended up kicking `next/config` in favor of using `webpack.DefinePlugin`, which was trivial once universal webpack landed in next.

Basically, I have a file called `env.js` that runs during build server-side:

[code]

the result is a map of `{ "process.env.SomeVar": someValue }`. note that `process.env.` has to be in the key name b/c webpack needs that i g

[2018-04-18 04:17] jabacchetta commented on #1189
@timneutkens Should this be reopened?

[2018-04-18 05:02] billnbell opened #4164 "Add config.pagesGlobPatternOptions for Glob"
const pages = await glob(config.pagesGlobPattern, { cwd: dir })

Would like you to add:

config.pagesGlobPatternOptions
const pages = await glob(config.pagesGlobPattern, { ...config.pagesGlobPatternOptions, cwd: dir })

[2018-04-18 05:06] timneutkens commented on #4164
Please follow the issue template, especially for feature requests.
We’re Not planning to change anything related to how we resolve pages at this moment.

[2018-04-18 05:06] #4164 closed

[2018-04-18 07:56] tvthatsme commented on #4068
@lucleray, try this:

Make sure you have `babel-plugin-styled-components` as a dependency and in your package.json tell babel that you are doing server-side rendering.

Think that this is just a configuration issue you are facing.

package.json
[code]

[2018-04-18 08:27] truonghoangphuc opened #4165 "Question: Are we able to call method of Layout in A Page?"
Hi everyone,

From this example: https://learnnextjs.com/basics/using-shared-components/the-layout-component

Does 'about page' able to call a method of layout component?

Thanks,

[2018-04-18 09:02] Orecic opened #4166 "How to persist layout between page changes? thank you very much"
- [ ] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior

## Current Behavior

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

| Tech    | Version |
|---------|---------|
| next    |         |
| node    |         |
| OS      |         |
| browser |

[2018-04-18 09:05] timneutkens commented on #4166
Duplicate of #4145

[2018-04-18 09:05] #4166 closed

[2018-04-18 09:16] ptomasroos commented on #3817
If this is a Firefox issue perhaps we should add this bugreport to mozilla, what do you think @lfades ?

[2018-04-18 10:31] Orecic commented on #4166
@timneutkens hello, I still don't understand how to persist layout between page changes, Can you give me an example? thank you very much

[2018-04-18 10:36] timneutkens commented on #4166
https://github.com/zeit/next.js/issues/88

[2018-04-18 10:41] ns-ylmz opened #4169 "when history back scroll position timing"
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior
There is a search page with infinite height(lazy load paging) for scrolling.When i clicked an item of search results on this page, i go to search detail page.That's ok for now.Then i want to go back the search page, i 've expecte

[2018-04-18 11:36] Tomekmularczyk opened #4170 "Theming with styled-components"
I've described the [problem here](https://stackoverflow.com/questions/49896882/styled-components-and-theming-with-nextjs).

I try to inject [styled-components theme](https://www.styled-components.com/docs/advanced#theming) to every page but I only get **empty `theme` Object prop passed**.

[code]

**Inside some page:**
[code]

[2018-04-18 11:50] timneutkens commented on #4170
App.js is not available yet. Please follow: https://github.com/zeit/next.js/issues/4145

[2018-04-18 12:00] Tomekmularczyk commented on #4170
@timneutkens ohhh... thanks then.

[2018-04-18 12:27] Caryyon commented on #4170
you are also missing:
`import styled from 'styled-components`
it looks like you are just importing the `<ThemeProvider>`

[2018-04-18 12:31] Tomekmularczyk commented on #4170
@Caryyon I didn't make that clear. `A` component is defined an used outside `_app` inside a /page

[2018-04-18 13:24] Orecic commented on #1507
hello， @arunoda  How to persist layout between page changes？Is there example code? I tried several methods are useless, thanks.

[2018-04-18 13:31] timneutkens commented on #4166
If you want to not re-render that's not possible yet.
But:

https://github.com/zeit/next.js/tree/canary/examples/layout-component

[2018-04-18 16:11] boblauer opened #4172 "404 page not working with <Link prefetch />"
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior

A link using `prefetch` and pointing to a non-existent url should show the standard 404 page.:

[code]

## Current Behavior

The browser does not navigate anywhere, and so it looks like the link is unresponsive.

## Steps to Rep

[2018-04-18 17:36] sergiodxa commented on #4165
@truonghoangphuc if I understand correctly you need to get a `ref` of the layout component instance.

Something like:

[code]

Note this is not a Next.js thing but a React one, is basically the same idea of getting the ref of an HTML tag to call method of the DOM node.

[2018-04-18 18:21] callumlocke opened #4173 "Suggestion: mention canary/master branch system in the readme"
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

Next.js breaks from GitHub convention by using `canary` as the default branch. I'm sure there are great reasons for this, but I think it's important to flag it up in the readme, and perhaps even add navigation-style links at the top to switch between

[2018-04-18 19:41] timneutkens commented on #4145
Just released https://github.com/zeit/next.js/releases/tag/6.0.0-canary.4

Will add the new examples soon (as per the initial ticket request).

[2018-04-19 00:51] JonathonJulian commented on #3527
still an issue in 0.5.1, when will the fix be merged?

[2018-04-19 01:26] Orecic commented on #4166
https://github.com/zeit/next.js/tree/canary/examples/layout-component , this example does not work, it cause re-render. Will support golbal layout  in the next version? thanks.

[2018-04-19 01:26] Orecic commented on #4166
@timneutkens  hi , https://github.com/zeit/next.js/tree/canary/examples/layout-component , this example does not work, it cause re-render. Will support golbal layout in the next version? thanks.

[2018-04-19 05:07] agstover commented on #178
I had this issue and following jorilallo's advice, I did "ls -a" and found a .babelrc file on my Desktop. After I deleted that, everything worked.

[2018-04-19 05:42] approots opened #4174 "getInitialProps is called multiple times using Express/Fastify"
- [ x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior
A page's `getInitialProps` should only be called once per page load.

## Current Behavior
Sometimes `getInitialProps` is called multiple times in one page load.

## Steps to Reproduce (for bugs)

Minimal example app (almost iden

[2018-04-19 05:53] approots commented on #4174
![next](https://user-images.githubusercontent.com/235342/38973539-32f6cbe6-435b-11e8-9a66-b3c029c42c1e.png)

[2018-04-19 07:43] timneutkens commented on #4166
I believe I linked you to 2 issues explaining exactly that. It’ll be possible with _app.js in next 6. Currently out on canary.

[2018-04-19 09:42] hong-duc opened #4175 "Error when build page first time with dynamic import"
I have a login page, after login web route to page index with `Router.push('/')`. In index page I have dynamic import some component depend on `query.page`

[code]
But when I route to page index the first time after login, it build the page and then throw error before this even run, so no page is show
[code]

This is the error
![nextjs_error](https://user-images.githubusercontent.com/12032550/3898

[2018-04-19 13:37] chanlito commented on #88
After reading all the comments I have no clue how to do page transition in next.js, coming from nuxt.js which is so easy by just adding some css.

[2018-04-19 14:06] pozylon commented on #88
@chanlito just use react-transition-group inside _app.js, like this:

[code]

[2018-04-19 14:07] pozylon commented on #88
i forgot to mention you need to install 6.0.0 canary-4 for that to work

[2018-04-19 14:48] pozylon commented on #88
Here is my pull request if you want to see the full example: https://github.com/zeit/next.js/pull/4177

[2018-04-19 17:56] eugeneross opened #4178 "Can't get SASS modules working with global stylesheets and vice versa"
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior

I want to expect styles from my modules to be compiled into the same stylesheet as my global styles. Please see demo setup below to understand where styles are being pulled from.
[code]

## Current Behavior

Can't get both modul

[2018-04-19 19:33] ottoinfo opened #4179 "Error: INVALID_BUILD_ID Error Handling or Redirect to Current Build"
ISSUE:  Bots will scrape your pages, they may come back at a later time to index your page. During this time we may have released a new BUILD. The bot is scraping with a specific BUILD_ID ( OLD/INVALID ) and I cant find a way to catch ERRORS ( via Middleware ), now we just have get '500 - Internal Error'.

![screen shot 2018-04-19 at 11 36 45 am](https://user-images.githubusercontent.com/643526/39

[2018-04-19 21:19] morgs32 opened #4180 "Dynamic imports (without next/dynamic) error in builds"
When using the conventional [webpack 2+ dynamic imports](https://webpack.js.org/guides/code-splitting/#dynamic-imports), everything works great in dev but breaks in production (with builds).

- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior

## Current Behavior
A bug: dynamic i

[2018-04-19 23:15] morgs32 opened #4181 "Two files fetched per dynamic import in production builds"
When using nextjs dynamic imports, each dynamic import is imported twice... one file seems to be the bundle for distribution. The other seems to for hot reloading?

- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior
I'm expecting to see just one file requested per dynamic import.

[2018-04-19 23:32] tim-phillips commented on #4154
When using `getDerivedStateFromProps` in one of my page components, I get this error in the console:

  componentWillReceiveProps

Do you think this means the use of the new component API stops `componentWillReceiveProps` from running in `AppContainer`?

[2018-04-20 00:15] morgs32 commented on #4181
This is what you'll see in the example app

![artboard](https://user-images.githubusercontent.com/1364795/39024363-5bf7e2d8-440e-11e8-960e-f1c481000903.png)

[2018-04-20 03:58] rouxfeur commented on #1651
Has anyone found a way to have getInitialProps working with TypeScript? Or how to just silence the warnings? It feels like Next.js+TypeScript is a quite popular combo, how come so few people have encountered this issue? Isn't getInitialProps quite vital for Next.js workflow?

[2018-04-20 04:57] RustyDev opened #4182 "Provide example using Context API with custom _app.js"
It would be great for those of us looking to use React's new Context API and the new custom _app.js in Canary to have an example app to view.

The custom app component persists state between pages and seems like a great way to make use of the Context API at the app container level. Please provide an example showing how to set this up with providers, consumers and multiple pages and how to best dea

[2018-04-20 05:29] imbhargav5 commented on #4182
Exactly. I can give this a shot @timneutkens .

[2018-04-20 05:49] FMGordillo opened #4183 "Module not found: Error: Can't resolve 'next/app'"
I've created the `_app.js` file exactly as the example in the documentation, and tried to build it, but i got a big error.

This is my _app.js

[code]

- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior

Project built up to run `yarn start`

## Current Behavior

[code]

## Contex

[2018-04-20 06:11] RustyDev commented on #4182
There are libraries that are [reduxish](https://github.com/diegohaz/awesome-react-context#libraries) but even any global state example that uses _app.js, SSR and getInitialProps on various pages would be really appreciated. 🙏

[2018-04-20 07:02] pozylon commented on #4166
@Orecic This example will show you what you're looking for, it will hopefully get into canary soon: https://github.com/zeit/next.js/pull/4177 cc @timneutkens

[2018-04-20 07:54] krokhale commented on #4183
I believe _app.js is supported in the upcoming 6.0 canary branch, not 5.1.0.

[2018-04-20 08:01] krokhale opened #4184 "Importing CSS/Less in dynamically imported modules not working."
const FormCreator = dynamic(import('../components/forms/creator'));

And inside FormCreator:

    import '../../node_modules/button/style/index.less';

If i were to import FormCreator the usual way:

    import FormCreator from '../components/forms/creator';

Works great and the less file is included. But when dynamically invoked, the less file does not take effect.

What am i missing?

[2018-04-20 08:34] krokhale commented on #4184
Looked a bit into this, the module is fetched dynamically as expected with the styles in it, but the styles aren't getting added to the page, the page does not refresh with the new styles imported dynamically.

[2018-04-20 08:47] timneutkens commented on #4184
There is an issue for this on the next-plugins repository

[2018-04-20 08:47] #4184 closed

[2018-04-20 08:47] timneutkens commented on #4183
Exactly :)

[2018-04-20 08:47] #4183 closed

[2018-04-20 08:52] timneutkens commented on #4154
Related to react-hot-loader. We have to update to rhl 5.1 for it to work correctly, but I want to do some testing first

[2018-04-20 08:54] timneutkens commented on #4178
Please file this under next-plugins.

[2018-04-20 08:54] #4178 closed

[2018-04-20 09:16] Orecic commented on #4166
@timneutkens @pozylon thank you very much.  I have  another question，I have a golbal nav，when page A link to page B,  page B rendered, but when link back to page A, page A re-rendered ,so page A's getInitialProps execute twice， I want page A's getInitialProps execute only once, what should I do
？ thank you.

[2018-04-20 09:30] Orecic commented on #4166
@pozylon  when switching routes ,getInitialProps execute only once, Can it be achieved?

[2018-04-20 11:22] PaulRBerg opened #4185 "Custom _error.js with scss breaks the stylesheets from other pages in next@6.0.0-canary.x"
This happens only in `6.0.0-canary.x` releases. If you go back to `5.10.0` it works fine.

- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior

Should load scss in pages even if there are styles set in `_error.js`.

## Current Behavior

It doesn't load scss in pages if therea are

[2018-04-20 15:01] landerton opened #4186 "_app.js problem in 6.0.0-canary.4"
I can't get my app to work after switching to 6.0.0-canary.4.  It is complaining that it can't import App or Container in my _app.js file.

The error I get says:
[code]

- [ x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior

I'm trying to override _app.js to create a persisting lay

[2018-04-20 15:49] morgs32 commented on #4181
Ok. So, this appears to occur because `.next/chunks` had several files with the same string before the `-` character. Such as this:

![image](https://user-images.githubusercontent.com/1364795/39060344-179e9f1a-448f-11e8-823b-784c5e2ba637.png)

Then, `getAvailableChunks`[on L17 is doing a](https://github.com/zeit/next.js/blob/canary/server/utils.js#L17) `readdirSync` and reducing a hash to filename

[2018-04-20 16:04] PrudviGali opened #4187 "'Symbol' is undefined in IE11 with Next v5.1.0"
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior

App should work after upgrading to Next v5.1.0. in Next-js supported browsers.

## Current Behavior

Noticed ``` 'Symbol' is undefined``` issue in IE11 after upgrading to Next v5.1.0. We don't see this issue with Next v4.x.

##

[2018-04-20 17:18] morgs32 commented on #4181
This doesn't seem to be an issue in next@6.0.0-canary.4

[2018-04-20 17:18] #4181 closed

[2018-04-20 17:18] morgs32 commented on #4180
This doesn't seem to be an issue in next@6.0.0-canary.4

[2018-04-20 17:18] #4180 closed

[2018-04-20 17:25] tamerelsayed commented on #3249
@MBach you can also hook `window.scrollTo(0, 0)` on `componentDidMount` of the traget component.

[2018-04-20 17:28] tmarshall commented on #3890
I've noticed this in multiple projects, as well.

FWIW this is only happening to me when I have Chrome Inspector open. If it's closed, no problem. If it's open, I get this error on every page load.

[2018-04-20 17:30] tmarshall commented on #3890
^ moving compression fixed it for me as well 🤷‍♂️

[2018-04-20 17:32] tmarshall commented on #3890
related to https://github.com/zeit/next.js/issues/3778

[2018-04-20 20:34] steida opened #4188 "withRouter should not use componentWillReceiveProps"
Because of new React life cycle methods.

[2018-04-20 21:47] zekchan commented on #3082
@ex3ndr actually there are. I coded simple component https://github.com/zekchan/react-ssr-error-boundary

[2018-04-20 22:47] victorsferreira opened #4189 "How to remove the slash / from the src that imports the javascripts?"
I exported my application and i'm serving it from an Apache server from a context `/some/context`.

Next is generating this Link tag in the HTML

`<link rel="preload" href="/_next/2c31e04a-25d0-4955-b025-633ff48e3fbd/main.js" as="script">`

The problem is that the page is looking for the javascripts from the root of the server. But it should look for it from `/some/context`.

How can I make Next r

[2018-04-21 01:38] ajsharp commented on #3340
I'm using next 5.1.0, semantic-ui-react 0.79.1 and semantic-ui-css 2.3.1, and it causes the `next` command to crash. I'm using this example: https://github.com/zeit/next.js/tree/a691dd06cfba0a847b946158adf471e41ce56b59/examples/with-semantic-ui.

[code]

Is using semantic-ui just completely unsupported?

[2018-04-21 03:42] statico commented on #706
I would love to see an example of this for a single module in the application codebase.

For example, I have a module that I use both server and client side. I haven't been able to get any of the above examples to work, either by factoring the module into its own separate module and `yarn link`ing it, or by hacking the webpack rules.

Here's a simple repro: https://github.com/statico/nextjs-with-a

[2018-04-21 04:32] statico commented on #706
OK, I found a fix that works for me.

First, I added the `config.resolve.symlinks = false` setting to my `next.config.js` configuration per https://github.com/zeit/next.js/issues/3018#issuecomment-380879576

[code]

Then I put my shared library — a `.js` file that uses CommonJS exports and `async`/`await` keywords — in a subdir of the application called `shared`:

[code]

[code]

And finally I add

[2018-04-21 14:53] timneutkens commented on #4189
Add https://github.com/zeit/next.js#cdn-support-with-asset-prefix set to `/some/context`.

[2018-04-21 14:53] #4189 closed

[2018-04-21 16:14] tima101 commented on #4179
@ottoinfo I tested - this error also happens when user has current app open in the tab while you deploy new app. I think this or related error is described here: https://github.com/zeit/next.js/wiki/Handle-BUILD_ID-Mismatch-Error

[2018-04-21 17:09] timneutkens commented on #4174
`getInitialProps` is only ran once per render. The only thing that I could see is that sometimes HMR kicks in and reloads the page really fast while booting up. But that's not unexpected.

Here's the code: https://github.com/zeit/next.js/blob/canary/server/render.js#L79

Note that the correct way to test per-render is to do `curl http://localhost:3000`, since then there are no other factors.

[2018-04-21 17:09] #4174 closed

[2018-04-21 17:10] timneutkens commented on #4174
@expandrew I'm pretty sure your issue is something else. Please create a new and complete issue (including example repository). Thanks.

[2018-04-21 17:11] timneutkens commented on #4185
Please file this under the next-plugins repository. We're not doing anything in Next itself to provide scss/sass support.

[2018-04-21 17:11] #4185 closed

[2018-04-21 17:12] PaulRBerg commented on #4185
Okay, thank you for your reply.

[2018-04-21 18:43] payns75 commented on #2339
if you update package don't forget to remove "package-lock.json" then run "rm -rf node_modules && npm i"

[2018-04-21 18:59] timneutkens commented on #4186
Works fine for me. Can you provide a full reproduction. With the simplest app I can't reproduce.

[2018-04-21 18:59] #4186 closed

[2018-04-21 20:02] gpolyn commented on #2468
Here's a Dockerized `next 5.1.0` attempt to employ a combination of the approach indicated by @klaemo above and an official example, [canary/examples/with-polyfills](https://github.com/zeit/next.js/tree/canary/examples/with-polyfills):

- https://github.com/gpolyn/nextjs-polyfill

I checked out the result on a few OS + browser combinations (on Browserstack) and it fails on Windows 10 + IE11 (shown

[2018-04-21 20:38] rbalicki2 commented on #3621
Hey all - I wrote this up what I did to get it working with S3 + cloudfront here: https://gist.github.com/rbalicki2/30e8ee5fb5bc2018923a06c5ea5e3ea5

[2018-04-21 21:29] maritz commented on #3663
@timneutkens @TheRobBrennan can we get this issue re-opened or should we create a new one?

[2018-04-21 21:57] dangodev commented on #4098
Opened PR here: https://github.com/zeit/next.js/pull/4190/files

[2018-04-21 22:35] TheRobBrennan commented on #3663
Sure - reopened 😊

[2018-04-22 16:48] siakaramalegos commented on #3335
I got most of my app to publish correctly in gh-pages (a project branch). My one problem is that the asset path I have for a background image is not getting properly prefixed in the build. I used styled-jsx to write the CSS - here is a snippet:
[code]
Works fine in regular served mode and regular static mode (without project prefix). I have another project that works fine when I set `publicPath` i

[2018-04-22 19:30] xiaoyu-tamu commented on #4170
Now it works in 6.0.0-canary.4

[code]

[2018-04-22 20:14] malixsys commented on #3409
@hanford 's `next-offline` is nice!

Here's my `next.config.js` from before:
[code]
Still a WIP :)

[2018-04-22 20:16] malixsys commented on #3409
@hanford 's `next-offline` is nice!

Here's my `next.config.js` from before:
[code]
Still a WIP :)

[2018-04-22 21:10] mellet commented on #2833
This fixes the flashing 404 for me:
Link
[code]

Server side
[code]

Access param on page
[code]

[2018-04-23 04:45] jaydenseric opened #4194 "Context provided in _app.js can't be consumed in pages in SSR"
React v16.3 context provided in `_app.js` can be consumed and rendered in pages on the client, but is undefined in SSR. This causes React SSR markup mismatch errors.

Note that context can be universally provided/consumed *within* `_app.js`, the issue is specifically when providing context in `_app.js` and consuming it in a page such as `pages/index.js`.

- [x] I have searched the [issues](https:/

[2018-04-23 04:51] jaydenseric commented on #4182
This would be blocked by https://github.com/zeit/next.js/issues/4194: Context provided in `_app.js` is undefined when consumed in pages during SSR.

[2018-04-23 05:12] timneutkens commented on #4194
Is it because _app.js provides its own context? 🤔

[2018-04-23 05:13] timneutkens commented on #4194
That actually can't be the problem when you nest inside `<Container>` though 🤔

[2018-04-23 05:39] jaydenseric commented on #4194
@timneutkens as the bundling seems to work for the client, does that mean we could split the server bundles in a similar way to the client?

[2018-04-23 05:40] timneutkens commented on #4194
Unfortunately it doesn't work as expected with commonschunk on the server. I have some ideas to fix this once and for all, but haven't had time to implement it yet.

[2018-04-23 07:56] skyweaver213 opened #4195 "Why was onlyAHashChange triggered? Throw a 'split' JS error"
Hello, my project used pushState and popState, But I don't understand why  throw a JS error:

main.js:formatted:11085 Uncaught (in promise) TypeError: Cannot read property 'split' of undefined
    at e (main.js:formatted:11085)
    at e (main.js:formatted:10887)
    at p (main.js:formatted:8857)
    at Generator.o [as _invoke] (main.js:formatted:8992)
    at Generator.e.(anonymous function) [as ne

[2018-04-23 07:58] skyweaver213 commented on #4195
Cannot read property 'split' of undefined
at e (main.js:formatted:11085)

[2018-04-23 08:42] icflorescu commented on #3890
^ you do realise that **you effectively disable compression by moving it to the very last line**, just before `server.listen()`?

[2018-04-23 08:48] icflorescu commented on #3778
Facing the same weird issue (error appearing when using Chrome Dev Tools). @eli0shin's fix works for me too.

[2018-04-23 09:05] jaydenseric opened #4196 "Fix release description for v6.0.0-canary.5"
As `react-hot-loader` was not actually updated in the version published to npm the line should be removed from the [v6.0.0-canary.5 release](https://github.com/zeit/next.js/releases/tag/6.0.0-canary.5) description.

See https://github.com/zeit/next.js/pull/4171#issuecomment-383429602.

[2018-04-23 09:11] jaydenseric opened #4197 "Remove dud examples from "Custom App" readme section"
The  ["Custom App"](https://github.com/zeit/next.js#custom-app) readme section has one 404 and one irrelevant link under the "Examples" expanding menu.

[2018-04-23 11:51] corysimmons commented on #88
For everyone jumping to bottom of page for updates: this functionality seems to be in https://github.com/zeit/next.js/releases/tag/6.0.0-canary.4 and @pozylon has full usage example code here: https://github.com/pozylon/next.js/tree/ad30b735389766ad022cc58b17b86ed11c15a866/examples/with-react-transition-group

[2018-04-23 12:29] callumlocke commented on #4197
Duplicate of https://github.com/zeit/next.js/issues/4145

[2018-04-23 12:43] jaydenseric commented on #4197
@callumlocke thanks 🙊

[2018-04-23 12:43] #4197 closed

[2018-04-23 14:04] skywickenden commented on #2180
See https://github.com/zeit/next.js/blob/canary/examples/root-static-files/server.js for an example of how to serve static files from another location. I customised this so that it serves everything in the static folder as if it is from root.

[code]

[2018-04-23 16:24] davidasync opened #4198 "/graphiql is 404 at Koa when wrapped by next"
When koa-router is wrapped by next, /graphiql become 404

- [ x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior
/graphiql should not 404

## Current Behavior
/graphiql 404

## Steps to Reproduce (for bugs)
wrapped with next js, this code below will make /graphiql 404
[code]

but if

[2018-04-23 16:27] Fallion commented on #4198
Next handler should go last.

[2018-04-23 16:35] davidasync commented on #4198
waw! that's work, but i dont know why

this curl is working correctly ?

[code]

[2018-04-23 16:35] #4198 closed

[2018-04-23 16:48] timneutkens commented on #4195
Please follow the issue template and provide a way to reproduce.

[2018-04-23 16:48] #4195 closed

[2018-04-23 17:25] tmarshall commented on #3890
Yeah, I do. I should not have said 'fixed' - rather 'covered up by disabling compression'

[2018-04-23 18:25] adamsoffer opened #4200 "Using _app.js in v6.0.0-canary.5 Release Breaks Static Export"
Using `_app.js` and then running `next export` throws an error.

`TypeError: Cannot read property 'getInitialProps' of undefined`.

[2018-04-23 20:01] timneutkens commented on #4200
Only happens when you `next export` without `exportPathMap` right, Fixed that in #4201, thanks for the report 😌

[2018-04-23 20:27] #4200 closed

[2018-04-23 20:39] timneutkens commented on #4200
Released as canary 6

[2018-04-23 20:40] timneutkens commented on #4196
Released canary 6

[2018-04-23 20:40] #4196 closed

[2018-04-23 21:10] adamsoffer commented on #4200
Nice! Yup this is fixed now. Thank you!

[2018-04-23 21:26] tmepple opened #4202 "with-reasonml example errors when using 6.0.0-canary.6"
This example works fine when using the stable version v5.1 but causes an error when upgrading to the latest canary.  It looks like it might be related to the new Babel v7 beta or the `babel-plugin-bucklescript` that is used but I couldn't isolate/reproduce the problem in the other repo.

- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and

[2018-04-24 03:27] willopez commented on #1632
@timneutkens adding react router integration would help increase nextjs adoption and make development better. Devs like myself would love to see this happen, please consider increasing the priority.

[2018-04-24 04:10] skyweaver213 opened #4203 "SyntaxError: Expected the "svgName" prop to be a string, What should I do?"
I assign a string to svgName, is ok.

[code]

But I assign a variable to svgName, is bad.

[code]
<img width="365" alt="string1" src="https://user-images.githubusercontent.com/5363176/39165279-429ba120-47b6-11e8-8d8b-3b104483e2f5.png">

[2018-04-24 08:52] Rusticman opened #4204 "CSS not bundling correctly in next.js version 6.0.0-canary.2 like it was in version 5.0.1-canary.17."
- [x] I have searched the [issues](https://github.com/zeit/next.js/issues?q=is%3Aissue) of this repository and believe that this is not a duplicate.

## Expected Behavior

We upgraded from version `5.0.1-canary.17` to version `6.0.0-canary.2`. This was to fix a problem with pressing the back button whilst using the Safari browser. This problem was fixed but we created another issue with the styles

[2018-04-24 12:43] RobertB4 commented on #1942
A slightly improved version of @torresandres, styling the link inside the component so we don't have to create a styled component in every component we import `Link` to.

**Link.js**
[code]

**AnotherComponent.js**
[code]

[2018-04-24 12:57] sheerun commented on #2668
The bug is indeed with urlIsNew as it compares pathname (i.e. NOT what is in browser url bar, but next.js page name), and query. So if you browse within same page replaceState is called instead of pushState. I think urlIsNew should be changed so it compares browser's url instead.

As a workaround I've created helpers around Link and push that change query params passed to next.js page, as so:

[co

[2018-04-24 13:55] Tomekmularczyk commented on #4170
@xiaoyu-tamu thanks a lot! So I understand similarly with [next-redux-wrapper](https://github.com/kirill-konshin/next-redux-wrapper) now it will be only required to use it inside _app.js? Could you point me how? :)

[2018-04-24 15:28] cedric-marcone commented on #4204
Hello, we're facing a very similar issue here.

To inject some styles inside the generated pages :
- we provide our own _document.js
- we import fs
- we readFileSync the css file
- we inject the string in a <style> tag.

=> Everything works perfectly fine when we export the site 😀

=> ...but, in dev mode, we get the following error :

[code]

Can you give us any guidance ?
May I help with a minima

[2018-04-24 16:03] gpolyn commented on #4010
FYI - I wanted to evaluate this issue (among others) so I merged together a few official Next.js examples that use both `.babelrc` and `next.config` and it seemed to work: https://github.com/gpolyn/nextjs-polyfill

[2018-04-24 16:09] timneutkens commented on #4203
It's probably something specific to React expecting it to be a string. Please file an issue on the React repository.