[2020-06-30 09:50] #14417 closed

[2020-06-30 09:55] paambaati commented on #14719
@sai1139 Can you follow the issue template (the text you initially see when you open a new issue) and provide more code that we can run and see this issue ourselves? If we can’t reproduce this issue, it will be very difficult to help you.

[2020-06-30 10:15] sai1139 commented on #14719
`import React from 'react';
import {
  TextField,
  Box,
  Typography,
  InputAdornment,
  IconButton,
  Link,
  Button,
  FormControl,
  RadioGroup,
  FormControlLabel,
  Radio,
} from '@material-ui/core';
import { makeStyles } from '@material-ui/core/styles';
import Visibility from '@material-ui/icons/Visibility';
import VisibilityOff from '@material-ui/icons/VisibilityOff';
import Router from '

[2020-06-30 10:23] paambaati commented on #14719
Okay. Now, try to answer all these questions, one by one.

1. When does this error occur? Every time you run, or when you do something specifically?
2. `EPERM` generally means a permission error. How were the dependencies installed? Do you have write permissions to the `D:\examples` directory?

[2020-06-30 10:24] Keats commented on #8841
Can you point out how to enable back type checking? I've tried adding back the `fork-ts-checker-webpack-plugin` plugin but no dice. It's pretty misleading to say that Next.js has built-in support for TypeScript but only run typechecks on build...
I only figured it out when I saw the typescript example had a `typecheck` npm command.

[2020-06-30 10:42] sai1139 commented on #14719
1) i don't know,on what based this error will come,no
2)Mine  OS is windows have all permission .

Some times , i have faced for some page which contains only view

this issue is coming from custom server?

[2020-06-30 10:46] paambaati commented on #14719
I’m sorry, but there isn’t enough information to help you here. Your best bet will be to either a) set up a repo where we can reproduce the issue ourselves or b) find others with the same issue and see if they’ve been able to find a solution.

[2020-06-30 10:49] sai1139 commented on #14719
ok,but problem is to reproduce this error.

[2020-06-30 11:19] darshkpatel commented on #14711
I'll take this up

[2020-06-30 11:45] MehediH commented on #14708
Hi! Not sure if this is open to the community for contribution, but would love to take this up and improve the README to be more helpful + rank better on Google.

Would it involve updating the main README for this repo?

Thanks!

[2020-06-30 11:50] akachicon commented on #14715
Probably regex option will fit in well.
Anyway, below is some information related to the requested feature.

I'm not an expert but assume, this could be implemented using webpack manifest.
For this we need extract-css-chunks-webpack-plugin to populate the manifest with the requested files. Taking into account that extract-css-chunks-webpack-plugin is [merged](https://github.com/faceyspacey/extract

[2020-06-30 12:33] peetjvv commented on #4998
@timneutkens, thank you for this addition. Do you know when the non-experimental basePath support will be officially released?

Also, when I set the basePath the assets (located in the public folder) gets served to the appropriate url as expected. But, when I reference them in my code then I have to add the base path to the src manually, because otherwise they will still be referenced from the nor

[2020-06-30 12:44] #14684 closed

[2020-06-30 12:57] timneutkens commented on #14718
Just keep in mind that what you're proposing would only allow for fully static html to be output, no client-side hydration would happen based on what you're proposing, meaning no dynamic components would used.

[2020-06-30 12:57] sai1139 commented on #14719
@timneutkens  what is the solution?

This issue is coming from custom server?

[2020-06-30 12:58] #14719 closed

[2020-06-30 13:05] #12291 closed

[2020-06-30 13:35] jimbuck commented on #13058
I was experiencing this in both dev mode and production mode in a custom server (incrementally converting pages on enterprise site). `^9.4.5-canary.15` fixed it for me!

[2020-06-30 13:43] joe-bell commented on #14718
Sorry @timneutkens I'm not sure I follow; do you mean both functions I've suggested or a specific one in particular? I'm suggesting providing both.

With the `MDXRenderer` I'm thinking an implementation of [MDX's Async API](https://mdxjs.com/advanced/api#async-api)…

but the `mdxToStaticMarkup` is an optional method designed specifically for things like RSS feeds, API routes etc (where we of cours

[2020-06-30 14:07] Timer opened #14728 "Visiting a webapp with syntax error"
# Bug report

## Describe the bug

Dual syntax error when visiting app from server with a compilation error:

[code]

## To Reproduce

1. Create a syntax error.
1. Start dev server.
1. Visit page URL.
1. Observe error in the terminal

## Expected behavior

Only once:

[code]

[2020-06-30 15:19] danilockthar commented on #9992
what if we have const {data} = await getData(params) ?
where can i put the key?

[2020-06-30 15:27] lavaxun commented on #13624
I’m currently facing the same issue as well.
Looking forward for a proper solution.

[2020-06-30 15:31] danilockthar commented on #9992
where is data come from ? i dont get it

[2020-06-30 15:39] tomgreeEn commented on #9992
It's wherever you get data from in your implementation. As I understand any unique string could be used in lieu of data.id (though it's still not actually working for me in production, I need to revisit).

[2020-06-30 15:49] danilockthar commented on #9992
i got something like this, can i put key with data instead of 'prop' example  of samuel ?

export async function getStaticProps({ params }) {
const {data} = await comercioBySlug(params.slug)
return{
   props: {data},
   unstable_revalidate: 10
}
}

[2020-06-30 16:33] visum commented on #11665
It makes sense that a page using `getServerSideProps` needs more control over the request lifecycle, and in fact setting caching headers is one of the reasons I use it. However, I'm not following how that influences where Next.js sends the response back. The sending of the response is the part of the lifecycle that the page itself doesn't handle.

The specific use case is one that the existing doc

[2020-06-30 16:49] Timer opened #14734 "Invalid trailing slash behavior with basepath and index route"
See video when navigating from about back to index.

https://mega.nz/file/xRQU0CKK#iQbiAovc6uV2gygy8GhO_RLLl2SgMEyBPGutnkqt4YA

[2020-06-30 16:55] ijjk opened #14735 "The URL should not be updated for the 404 page when using basePath"
When using `basePath` and a 404 page is visited the `basePath` is currently un-conditionally stripped even if it isn't present causing the URL to be changed for the 404 page when it shouldn't e.g. visiting `/missing` becomes `/docs/missing`

[2020-06-30 16:57] ijjk opened #14736 "We should not warn for doing a no-op rewrite for auto-exported dynamic pages"
Our current example for proxying non-existing pages/assets to an upstream site leverages a no-op rewrite to trigger checking all pages/assets in the application before applying the final rewrite, this incorrectly triggers the rewriting to auto-exported dynamic pages warning

[2020-06-30 17:00] Timer opened #14737 "Remove usage of `renderToHTML` from all examples"
The `renderToHTML` is a private API that seems to have accidentally leaked into our examples. We should remove the usage of this function from all examples that have it.

Specifically:

- `custom-server-hapi`
- `ssr-caching`
- `examples/with-flow/flow-typed/next.js.flow`

[2020-06-30 17:01] ijjk opened #14738 "Too many filesystem checks error is encountered when using no-op rewrite on Vercel"
When leveraging the custom-routes-proxying example, the no-op rewrite causes requests for some static assets to respond with a 502 error from too many filesystem checks ([example asset](https://custom-routes-49pcxcvhc.vercel.app/docs/_next/static/runtime/main-a4b218b9dd123f0be1fe.js)). This does not occur locally and only after deploying

This appears to be related to the proxy and not Next.js spe

[2020-06-30 17:01] Timer commented on #11665
`renderToHTML` is a private API that's not documented, however, we knew some users were relying on it so we didn't break any existing behavior (with getInitialProps). The new lifecycles cannot return the HTML for further processing.

I've opened an issue to remove all usage of `renderToHTML` from our examples:
https://github.com/vercel/next.js/issues/14737

[2020-06-30 17:30] Timer commented on #6462
I believe this was fixed by @devknoll but we need to confirm.

[2020-06-30 17:31] sagar-gavhane commented on #14737
which alternative public method we're going to use?

[2020-06-30 17:39] Timer opened #14741 "[internal] Our Clubhouse issue sync should sync assignees to GitHub"
Currently, assignees only sync one-way (GitHub => Clubhouse). This means any assignees adjusted in Clubhouse get wiped out when the GitHub issue is updated or has a new comment.

We should sync this information from Clubhouse => GitHub so that they can be triaged in either location.

[2020-06-30 18:12] MejanH opened #14742 "Search page in next.js ssg"
# How can I add search bar in next SSG site

Should I do with the react way? or is there any plugin or something for adding search bar?

[2020-06-30 18:35] timneutkens commented on #14718
This ships a JS parser to the browser to make it work (increasing bundle sizes tremendously)

You'll likely want to use something like https://github.com/hashicorp/next-mdx-remote

[2020-06-30 18:40] matamatanot opened #14744 "Cannot execute create-next-app because of permission"
# Bug report

## Describe the bug

Cannot execute create-next-app in`/User`(Not Allowed) because of **permission**.

## To Reproduc

1. Go to `/Users`
2. `npx create-next-app --example hello-world hello-world-app` (any example)
3. See error

## Expected behavior

Explicitly indicate that the error is due to permission.

## Screenshots

<img width="598" alt="console" src="https://user-images.github

[2020-06-30 18:44] tills13 commented on #1209
Is that a limitation of Vercel rather than NextJS? Does Vercel fall victim to the same sort of cold-startup that Lambda does? My team runs a bunch of content heavy sites and our timings are under 50ms for the whole request. I don't think streaming is going to be a silver bullet here.

[2020-06-30 18:47] #14742 closed

[2020-06-30 19:39] AssisrMatheus opened #14747 "with-sentry example source map upload does not seem to work with typescript"
I thoroughly followed the [with-sentry](https://github.com/vercel/next.js/tree/canary/examples/with-sentry) example and my app is setup exactly like it.

My sourcemap gets uploaded and I managed to report errors. But the error within sentry does not contain the source code files, but rather, the built version:

![image](https://user-images.githubusercontent.com/12276174/86169247-b384db00-baef-11ea

[2020-06-30 19:39] joe-bell commented on #14718
Gotcha, thanks for the explanation

Do the Next.js core team plan on integrating something similar to `next-mdx-remote` in the future?

I do feel that something like this is more inline to what Next.js is achieving in other areas, it would be great to see this for MDX too

[2020-06-30 20:00] ianflorian opened #14748 "Possible bug: 308 redirects for assets when using trailing slashes option"
# Bug report

We are using a `pre-release` version to make use of #13333 for trailing slashes. The routes work fine with trailing slashes but we noticed that the server now redirects asset requests to include trailing slashes, too. We are not sure if we are doing something wrong or if this is a bug. In case it is a bug, we wanted to bring this to your attention so that it can be fixed before the `

[2020-06-30 21:07] Janpot commented on #14748
there have been some fixes in the latest canary. Can you try to upgrade?

[2020-06-30 21:07] callumbooth commented on #12046
I've created a code sandbox to help illustrate the issue.

https://codesandbox.io/s/12046-sandbox-5q97w

Steps to reproduce.
1. After the container has started, open a new terminal window and run `yarn proxy`
2. Restart the sandbox.
3. Go to https://5q97w-3000.sse.codesandbox.io/ in a browser.
4. Open dev tools and go to the network tab and enable "preserve history"
5. Click on the "About" link
6.

[2020-06-30 21:12] ijjk opened #14749 "`.env` file contents should be encoded so that they don't break in the serverless-loader's URL"
When using `!` in a `.env` file it can cause webpack to fail to build since this character is special and it isn't encoded by `querystring.stringify`, we need to handle this case to ensure the contents inside of the `.env` files don't affect the build

[2020-06-30 21:33] #14749 closed

[2020-06-30 23:11] Glomels commented on #7981
Don't know how I skipped past this while reading the documentation, lol. Thanks!

[2020-07-01 02:38] david718 commented on #14611
I have same issue!

[2020-07-01 03:00] david718 opened #14753 "build process hang with less(on AWS EC2)"
t# Bug report

## Describe the bug

on EC2, clone this repo [](https://github.com/david718/o4people.git)
yarn install
yarn build
then, stop build process and no any logs

but on local,
yarn build success

so I try dockerizing for building but get same trouble
(stop build process)

## Expected behavior

next build done

## Screenshots

![image](https://user-images.githubusercontent.com/25860602/861

[2020-07-01 06:12] georgiosd commented on #8592
Slightly off topic but I hope you guys can help - this is driving me nuts.

I've added the code from `with-sentry` example with the workaround and everything.
If I build locally and start, the server errors are logged.

When I push and the project is built on Vercel, no server side errors logged to Sentry. I checked that the Sentry DSN is correct by printing it to console. The sourcemaps are uploa

[2020-07-01 06:52] Janpot opened #14757 "Trailing slash redirect with basepath"
# Bug report

## Describe the bug

Redirecting trailing slash to non-trailing slash url seems to strip the basepath twice

## To Reproduce

1. `yarn next build test/integration/basepath && yarn next start test/integration/basepath`
2. Visit `http://localhost:3000/docs/hello/`
3. Browser redirects to `/hello`, then there seems to be a history replace to `/docso`

## Expected behavior

Redirects to

[2020-07-01 06:52] darshkpatel commented on #14702
I'll take this up

[2020-07-01 06:56] georgiosd opened #14758 "with-sentry example doesn't work for server-side errors when deployed to Vercel"
Insanely weird. If I build the with-sentry example locally and set the environment variables, it works fine.

If I then deploy to Vercel, the server-side tracking is not working at all.

The sourcemaps get uploaded, which should be testament to the environment being set up correctly.

Any ideas?

[2020-07-01 07:03] P233 commented on #11665
@Timer My current project heavily relies on the `renderToHTML` method to cache the dynamically generated pages which grab data from both a headless CMS and a regular database. The caches live 24 hours to speed up the loading speed and reduce the number of API requests. It works pretty well, but we have to stay with the next version `9.3.0`. Please provide an alternative recommended way for SSR cac

[2020-07-01 07:44] #14758 closed

[2020-07-01 07:45] #14753 closed

[2020-07-01 07:48] timneutkens commented on #14748
Yep this was already fixed by @Janpot 👍

[2020-07-01 07:48] #14748 closed

[2020-07-01 08:23] darshkpatel commented on #14702
@Timer Just to be clear, you mean reducing the spacing between components to fit more stuff in the ReactDevOverlay right?

[2020-07-01 08:50] ianflorian commented on #14748
Thank you, can confirm that it was fixed in a later version and works now for us. :-)

[2020-07-01 09:39] JoseFMP commented on #11095
Same issue here. Wondering, any plans to fix this?

[2020-07-01 09:43] JoseFMP commented on #4571
For me still not working unfortunately :(

[2020-07-01 09:43] ycscholes commented on #11665
So does our project

[2020-07-01 11:40] adFedorovich opened #14766 "Problem with css modules when one component using several times in one page"
# Bug report

## Problem with css modules when one component using several times in one page

When one component used several times in one page, in chrome dev tools we can see that styles was generated several times also (only for production mode)

## To Reproduce

Steps to reproduce the behavior:

1. Use css-modules
2. Use one component several times per page

## Expected behavior

css generated

[2020-07-01 11:49] adFedorovich commented on #14766
Found the same issue: https://github.com/vercel/next.js/issues/11448. Hope my details can help to fix it

[2020-07-01 12:13] timneutkens commented on #14766
Duplicate of #11448

[2020-07-01 12:13] #14766 closed

[2020-07-01 13:14] eegli commented on #12409
Can confirm as well, happens only in production and in Safari on iOS 13.5.1.
Unfortunately, replacing the `Link` component by `Next.js` is not an option for me.

[2020-07-01 13:24] jamesmosier commented on #14744
That is a protected folder. Instead try running `create-next-app` inside a folder such as `Documents` where your user profile has permissions.

[2020-07-01 13:24] #14744 closed

[2020-07-01 14:31] aliemami opened #14772 "<img> tag onError function doesn't work"
# Bug report

## Describe the bug
I'm trying to render an image if it exist and not show it if it doesn't, same code in reactjs using the browser side rendering works but it fails to work with using nextjs. here is a link to the sandbox

nextjs example in the sandbox
https://codesandbox.io/s/nextjs-3jlqh?file=/pages/index.js

server side rendering sandbox
https://codesandbox.io/s/elated-kapitsa-h8

[2020-07-01 14:45] #14772 closed

[2020-07-01 14:46] Timer opened #14773 "Auto patch legacy Next.js App `getInitialProps` opt-out"
[code]

When we detect this exact code for `getInitialProps` Next.js should ignore it, as it does not introduce any data dependency. However, it opts the entire site out of automatic static optimization.

This likely will need to be implemented as a babel plugin that identifies the exact AST tree and drops it from the file.

[2020-07-01 14:55] jasonwilliams commented on #4571
@JoseFMP could you clone and try the steps in this repo?

https://github.com/jasonwilliams/nextjs9-typescript-server-vscode-example

[2020-07-01 14:59] #11711 closed

[2020-07-01 15:40] ijjk commented on #14738
Closing as this has been resolved

[2020-07-01 15:40] #14738 closed

[2020-07-01 16:23] Valnexus commented on #5214
And how exactly it is resolved? just removing the trailing slash? if i access "www.site.com/help/" i get redirected to: "www.site.com/help" , can we have an option there we opt for leaving ending slash? accessing "www.site.com/help/" or "www.site.com/help" will leave or redirect or add "/" at the end to have: "www.site.com/help/"

[2020-07-01 17:44] ybentz commented on #7945
The docs paths have changed recently, here's the updated link to the relevant doc https://nextjs.org/docs/api-reference/next.config.js/static-optimization-indicator

[2020-07-01 17:48] robert-dm opened #14776 "html style changes using <Link> same as <a> element"
# Bug report

## Describe the bug
The html element was changed to yellow background as indicated here: https://nextjs.org/learn/basics/navigate-between-pages/client-side but when I navigate to first-post.js page, the background changes from yellow (index) to white (first-post), but example indicates it should not change the color.

## To Reproduce

Steps to reproduce the behavior, please provide c

[2020-07-01 17:50] ybentz commented on #7945
FWIW, I agree that it seems like too prime of a location for the majority of use cases and day to day.
This can be implemented as a simple browser extension that will either add a new tab to the devtools in case there's more functionality to add later on or even simpler by showing the stats in the extension's main popup or changing its icon's colors (similar to what [AMP validator](https://chrome.

[2020-07-01 18:00] timneutkens commented on #5214
@Valnexus see #13333, it includes an experimental option:

[code]

When it's ready. There are still edge cases in the handling that are being solved. Once those have been fixed it can go to stable.

[2020-07-01 18:36] WestonThayer commented on #8592
@georgiosd sounds like something changed since I last worked with it, but I do wonder if it's simply that https://github.com/vercel/next.js/issues/8685 started impacting more situations.

To debug, try calling `await Sentry.flush(2000)` before exiting your server-side function. If that's the issue, it should successfully be reported to Sentry. Also worth checking your server-side logs in Vercel fo

[2020-07-01 19:00] markotom commented on #9705
same problem using koa line `router.get('*', ...`:
[code]

[2020-07-01 19:05] moh12594 commented on #13958
Hi @Timer !
I created this PR [14752](https://github.com/vercel/next.js/pull/14752) that should fix the issue.

I think that we can use this [babel-plugin](https://github.com/moh12594/babel-plugin-disallow-imports) that I've done to have more generic errors and also handle this [issue](https://github.com/vercel/next.js/issues/13712). WDYT ?

[2020-07-01 20:14] lifeiscontent commented on #12522
@alexvilchis any updates on this? I'm seeing the same issue in our next.js app

[2020-07-01 20:29] BernardA commented on #9022
Is there a solution for this at all?

Just completely stuck with version 9.4.4.

Issue happening on HOC for private routes below:

    import { useRouter } from 'next/router'

    function withPrivateRoute(WrappedComponent) {
    const router = useRouter();                    //**** ERROR IS THROWN HERE *******
    class WPR extends React.Component {
        componentDidMount(){
            consol

[2020-07-01 20:32] Timer opened #14778 "[monorepo tooling] Convert from taskr to Bazel"
We would love to make our monorepo development experience way faster and more ergonomic. It'd be awesome to drop taskr to something like Bazel, or another deterministic build system.

tl;dr replace `yarn dev` in `<rootDir>/package.json` w/ Bazel

This task isn't for the faint of heart! It'll require a ton of effort.

[2020-07-01 20:40] ivawzh commented on #8580
You can override tsconfig's module setting with `TS_NODE_COMPILER_OPTIONS='{\"module\":\"commonjs\"}'`.

E.g.

[code]

Terminal: `$ npm run typeorm migration:generate -- --name create-database`

[2020-07-01 21:01] lfades opened #14780 "Replace graphcool in examples that use it"
[Graphcool](https://www.graph.cool/) will sunset today and there are some examples that still use it. Replacing it with a similar alternative should be enough.

[2020-07-01 21:37] Timer opened #14782 "Figure out interplay between basePath and custom redirects / rewrites"
As the title states, we need to decide the story for basePath & custom routes for the docs examples.

[2020-07-01 21:57] moh12594 commented on #14773
Hi @Timer 👋
I could take it !

[2020-07-01 22:09] kmjennison opened #14783 "Add example: Firebase authentication + SSR"
# Feature request

## Is your feature request related to a problem? Please describe.

Some apps with Firebase need to be rendered server-side with user-specific data (e.g. [this user's comment](https://github.com/vercel/next.js/commit/6c8b7cde7dc82937afd4f8ae374e2dc0d634263d#commitcomment-40066992)). It's not particularly straightforward to use Firebase and SSR, so an example would be helpful.

ht

[2020-07-02 01:16] armspkt commented on #5214
@timneutkens @Janpot

I tried the latest next canary (9.4.5-canary.27) but when I create `test` page and I access `www.example/test/` it redirects to `www.example/test`
I think behavior for both cases should be the same.

When access `www.example/test/` it should stay on `www.example/test/`.
When access `www.example/test` it should stay on `www.example/test`.
I test it on Nuxt.js, it works the sam

[2020-07-02 01:45] awareness481 commented on #13423
I apologize for the late response.
@damianfrizzi I installed again using your commands and I experiences no issues and no console errors.

I'm not sure what caused the issue initially, but I'm going ahead and closing this issue as it appears the errors were local.

[2020-07-02 01:45] #13423 closed

[2020-07-02 03:48] #14734 closed

[2020-07-02 04:03] #14783 closed

[2020-07-02 04:07] Timer commented on #14708
I would love a much improved readme, feel free to contribute!

[2020-07-02 04:11] Timer commented on #14451
Every single test suite needs to be ran individually and see if it exits on its own. The ones that don't could fail to exit for numerous reasons, which would vary by test suite.

[2020-07-02 04:12] #14736 closed

[2020-07-02 04:22] Timer commented on #14465
Removing good first issue until we add more context.

[2020-07-02 06:35] khanbaba opened #14788 "context provider not working"
# Bug report

## Here is my code of ContextProvider:
[code]

## this is my _app.js
[code]
## the below line print the context in a component:
[code]
but this below code not works:
[code]
## error:
TypeError: Cannot read property 'menu' of undefined

## environment:
nextjs: 9.4.4
react: 16.4.0
browser: chromium Version 83.0.4103.61

[2020-07-02 06:52] Janpot commented on #5214
The reason for a redirect is to make sure search engines don't see duplicate content. What's your the exact use-case?

[2020-07-02 07:20] P233 commented on #11665
After carefully reading the [RFC: Incremental Static Regeneration](https://github.com/vercel/next.js/discussions/11552), I believe we will switch to the Incremental Static Regeneration solution later.

Sorry for polluting this thread!

[2020-07-02 09:11] #14735 closed

[2020-07-02 09:16] #14788 closed

[2020-07-02 09:19] timneutkens commented on #14782
My take is that it should prefix the source automatically, which is the same behavior as `<Link>` and the client-side router.

[2020-07-02 09:56] georgiosd commented on #8592
@WestonThayer How sad. I'm gonna try that but need to make some progress with the project first. Will report what I find.

Mean time I opened another issue https://github.com/vercel/next.js/discussions/14758 - I hope the Vercel folks will give a hand.

[2020-07-02 10:16] Maybach91 opened #14792 "[cms-sanity] Add `NEXT_PUBLIC_` to readme env variables"
# Bug report

## Describe the bug

[Step 4](https://github.com/vercel/next.js/tree/canary/examples/cms-sanity#step-4-set-up-environment-variables) of the [readme](https://github.com/vercel/next.js/blob/canary/examples/cms-sanity/README.md) says, i have to create a env variable named `SANITY_PROJECT_ID` but to work locally with `yarn dev` it has to be `NEXT_PUBLIC_SANITY_PROJECT_ID` (as well?)

Sin

[2020-07-02 13:14] hugomn commented on #5214
I don't see why it's a closed issue if it isn't merged to a stable release yet. If I understood correctly it's only fixed in the canary release for now, right?

[2020-07-02 13:17] Timer commented on #5214
Issues are closed when their associated pull request lands, as they're available for immediate use on canary. If you need this feature, please upgrade to the canary channel.

[2020-07-02 13:20] Timer commented on #14782
@timneutkens what about an application that wants to use rewrites / redirects for the non-basepath route for legacy reasons/proxying?

Also, should destination auto include base path too? And how about redirects vs rewrites?

[2020-07-02 13:23] hugomn commented on #5214
Sounds good. Thanks, @Timer!

[2020-07-02 13:28] armspkt commented on #5214
@Janpot I saw `https://github.com/issues/` and `https://github.com/issues` can access the same behavior without a redirect.

`https://twitter.com/explore/` and `https://twitter.com/explore`, this one too.

If it has a problem with search engines, Why Github and Twitter did not fix it?
I think it is the default behavior for any website.

There is no specific use-case, it just my opinion that it sho

[2020-07-02 13:32] timneutkens commented on #14782
Overall it's a tricky one, but for rewrites I'd expect it to not need the prefix, for redirects it would make sense to not prefix though 🤔

[2020-07-02 13:33] Janpot commented on #14782
what about an application that wants to use rewrites / redirects for the non-basepath route for legacy reasons/proxying?

Also want to mention that it looks like trailing slash redirect for the root probably can't be implemented as a pure redirect if the redirect source is basepath relative (https://github.com/vercel/next.js/pull/14781)

[2020-07-02 13:35] sk1794 commented on #10059
can you please let me know what is postinstall hook or can you show me some example for this

[2020-07-02 13:42] rezof commented on #10059
it's an [npm hook.](https://docs.npmjs.com/misc/scripts), after the install command is finished the post install is executed.

**package.json**
[code]

**copy_assets_to_public.js**
[code]

[2020-07-02 13:47] Timer commented on #10059
Duplicate of https://github.com/vercel/next.js/issues/12079, please move all correspondence there!

[2020-07-02 13:49] Timer commented on #14782
Maybe we can make base path the default with an opt-out property `root: true` or `basepath: false`?

[2020-07-02 13:54] Janpot commented on #14782
Another option is to allow for a special prefix `root:` like `source: 'root:/path+/'` which makes it root relative instead of basepath relative.

[2020-07-02 14:16] lfades opened #14797 "Invalid HTML inside `dangerouslySetInnerHTML` breaks the page."
# Bug report

## Describe the bug

If invalid HTML is added to `dangerouslySetInnerHTML`, Next.js will output a blank page without providing any feedback.  This can be hard to track when working with a CMS provider or markdown files.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Clone https://github.com/lfades/nextjs-inner-html-bug
2. Run `yar

[2020-07-02 14:32] jack-pallot commented on #11665
If renderToHTML potentially breaks existing functionality, or isn't the intended behaviour of the function, then it might be better to create a new one like getStaticHTML instead specifically for this use case. It's unfortunate that the renderToHTML name is already taken, but if it's no longer in example code it shouldn't cause confusion going forward.

[2020-07-02 15:51] #14430 closed

[2020-07-02 16:25] dvakatsiienko opened #14800 "Namespace import is not defined during next build (likely webpack ModuleConcatenation error)"
# Bug report

## Describe the bug

We use namespace approach to import `Material-UI` and other components across entire app like so:

[code]

Recently a `next build` command started to produce the following output:

[code]

Entire application is stitched with this kind of imports, and the build output does not give any trails to look where.
**Important**: the issue appeared occasionally.

## To Re

[2020-07-02 16:41] TatisLois commented on #14797
Hey @lfades is it okay if I take this issue up?

I was able to reproduce the issue locally and noticed that the reason the page goes blank is because `dangerouslySetInnerHTML` seems to be auto closing the open tag while wrapping any HTML/Scripts etc.. underneath inside of the tag.

This does not cause the page to go blank if that invalid html tag is a <bold> or even invalid markup like <ll> but wi

[2020-07-02 16:44] TatisLois commented on #14797
Open tag will autoclose with all markup and scripts underneath the open tag wrapped inside of it
<img width="734" alt="Screen Shot 2020-07-02 at 12 30 48 PM" src="https://user-images.githubusercontent.com/11730651/86387643-77718780-bc61-11ea-85cb-eb762ca8258b.png">

Same issue with <script> tag

<img width="728" alt="Screen Shot 2020-07-02 at 12 43 25 PM" src="https://user-images.githubusercontent

[2020-07-02 16:46] pcgeek86 opened #14801 "Feature Request: Next dev should print list of changes (new / changed / deleted files)"
# Feature request

Next dev should offer a feature flag to print out a list of changes every time it recompiles the project.

## Is your feature request related to a problem? Please describe.

Yes, I am banging my head against the wall, trying to figure out why my global stylesheet isn't being picked up. I'm not sure if my `next dev` server is picking up changes to it or not. As far as I can tell,

[2020-07-02 19:04] good-idea commented on #8632
This solution based on @andresgutgon's works for me, but I'm seeing that the server is re-built for every request. In my case, this setup is pretty quick so it's not a big deal, but, I'm wondering if there was some way to preserve the server between requests.

[code]

In the console, I see `false` with every request that comes in, which means that the top-level `server` variable isn't being re-use

[2020-07-02 20:10] mmmeff commented on #13344
+1 on this - my team needs to define its API routes behind a custom path to avoid conflicts with other pages. Having a way to configure this would be very helpful.

[2020-07-02 20:12] ijjk commented on #14382
Hi, can you provide a full reproduction where this is occurring?

I'm not able to reproduce this on Next.js v9.4.4, example deployment [here](https://test-ssg-params.vercel.app) which shows the correct params being returned for the catch-all route during a client-transition and a direct visit.

Code used for the catch-all route for the above deployment

[code]

[2020-07-02 21:05] fredrik-sogaard commented on #14382
Here's a screencap of the problem: https://share.getcloudapp.com/E0uzRZ9l
You can test here: https://samskipnaden-4ui6mllyh.vercel.app/ (the links throw an error because of the app expecting a different base url, but that shouldn't affect this issue).

This is the code:
[code]
I also found the same issue here: https://github.com/vercel/next.js/issues/12851

[2020-07-02 21:18] ijjk commented on #14382
Ah I see, yeah this does appear to be the same issue as https://github.com/vercel/next.js/issues/12851 which is related to the usage of the `src: '/(.*)', dest: 'packages/app-name/$1'` route and `unstable_revalidate`.

I'm going to close this issue in favor of that one, thanks for the additional details

[2020-07-02 21:18] #14382 closed

[2020-07-03 01:47] armspkt commented on #5214
@ziserman If we have several way to solve it, we should  keep the same url without redirect for user experience.

@Janpot https://github.com/nuxt-community/nuxt-i18n/issues/422

Nuxtjs has an option to choose (undefined, true, false)

Should Nextjs has the same option to choose too?

[2020-07-03 03:09] TatisLois commented on #14797
@lfades or anyone else..

I tried to run a forked/cloned version of next locally and have it point to the example app but I keep running into a mismatch react issue.

I tried to work through it but am stuck, any thoughts?

<img width="1424" alt="Screen Shot 2020-07-02 at 10 36 45 PM" src="https://user-images.githubusercontent.com/11730651/86426025-a533ec00-bcb4-11ea-92ec-d67b7b9d1593.png">

[2020-07-03 03:36] #13512 closed

[2020-07-03 03:45] Enkdress commented on #4940
Hey there, I was facing the same issue and it was like @timneutkens said, you can not run nodejs only libraries or dependencies for those, in a page or even in a component.. so I was using ```bcrypt``` in a service file and I think ```bcrypt``` use aws-sdk as dependency.

My solution
Move those libraries from your files that are not in the ```/api``` folder

[2020-07-03 04:01] fabrizzioalco commented on #14451
You're saying that if the test fails, is it because that depends on another one?

[2020-07-03 04:38] darshkpatel commented on #14597
Hey! @angabar
I think that's how react-intl is supposed to work, It falls back to message id when there is no defaultMessage provided
The docs describe the same behavior here https://formatjs.io/docs/react-intl/components#message-descriptor

[2020-07-03 05:13] mattcarlotta opened #14809 "[RFC] Add <Redirect /> component to next/router"
# Feature request

## Is your feature request related to a problem? Please describe.

The current implementation is to redirect using `Router.push` or `Router.replace` within `componentDidMount`/`componentDidUpdate` or within a `useEffect`. However, we can simplify that repetitive logic by offering a reusable `Redirect` component. A developer can import it: `import { Redirect } from "next/router";

[2020-07-03 06:26] darshkpatel commented on #14352
If you have [vercel-cli](https://vercel.com/download) installed doing now dev takes care of this , it will switch to 3001 if 3000 is not available

[2020-07-03 06:38] ShanonJackson commented on #10584
@wangzhe1995
[code]

[2020-07-03 09:12] timneutkens commented on #14809
This proposal is incompatible with streaming so it won't be feasible to implement for the same reason that we have to deprecate `next/head` in favor of something else: https://github.com/vercel/next.js/discussions/8981

Besides that the proposal does not work with pre-rendering, so it'd always be a client-side redirect which based on these discussions is not always what people want:

- https://git

[2020-07-03 09:51] LauraBeatris opened #14813 "Undefined query param returned as a string"
# Bug report

## Describe the bug

After making a request to my API route, not passing a query param, instead of returning ``undefined`` from the ``request.query`` object, it returns a **string**

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Clone https://github.com/LauraBeatris/pokedex-nextjs
2. Run ``cd server-side-rendering && yarn && yarn

[2020-07-03 10:11] ShahzadUmair commented on #5214
@Janpot   Our API has trailing slashes in a lot of places. The Latest release raises a lot of 404's since the Urls with trailing slashes do not match a route on our backend.

[2020-07-03 10:16] MehediH commented on #14708
Thanks @Timer! I’m taking this on. Is there anything the Vercel team would like to see covered in the new readme? I’ll make sure to include that :)

[2020-07-03 10:59] pinkiebala commented on #11215
[NextJS official doc](https://nextjs.org/docs/getting-started) got the same issue.
https://developers.google.com/speed/pagespeed/insights/?hl=en&url=https%3A%2F%2Fnextjs.org%2Fdocs%2Fgetting-started

![image](https://user-images.githubusercontent.com/17506890/86462844-e84a9980-bd5e-11ea-8e6a-00d86b5219d0.png)

[2020-07-03 11:05] timneutkens opened #14815 "Land sharedLambdas in @vercel/next to stable"
@ijjk has been working on this

[2020-07-03 11:08] #14813 closed

[2020-07-03 11:35] vladk96 commented on #14800
Agrees with @dvakatsiienko. We have noticed the same problem in our project.

[2020-07-03 12:19] tamj0rd2 commented on #11909
I still get this error with the latest version of nextjs (9.4.4)

[2020-07-03 13:08] nfantone commented on #13268
Today, I stumbled upon another example of library incompatibility with the new Fast Refresh implementation. [`use-debounce`](https://github.com/xnimorz/use-debounce) stops working altogether after any changes to code are made.

You can see a reproduction example here: https://codesandbox.io/s/hardcore-sara-ueu2k

Looks fine on first load, but doesn't call the input callback anymore after refresh.

[2020-07-03 14:22] warcraft14115 opened #14817 "Weird Error"
# Bug report

## Describe the bug
Hi, i am working on my app, but it get an error without no console error.
![image](https://user-images.githubusercontent.com/15695252/86477402-8eec6580-bd72-11ea-90e4-662117a04277.png)

App just **Freeze**.

- I think it come from my PC, but I upload code to server, build complete but freeze too.

- I tried to delete all npm and next foleder then npm install again

[2020-07-03 14:26] vhiairrassary opened #14818 "Preview URL available during deployement"
# Feature request

## Is your feature request related to a problem? Please describe.

While using `@auth0/nextjs-auth0` we need to configure a `redirectUri` value (as part of the OAuth2 flow). Currently it is fixed, which means the authenticated pages from pull requests (automatically deployed using [Vercel for GitHub](https://vercel.com/docs/v2/git-integrations/vercel-for-github)) cannot be teste

[2020-07-03 14:39] vhiairrassary commented on #14818
Note: we can't use `VERCEL_URL` system environment variables as it follows `<project>-<random-value>.vercel.app` pattern. It would require us to allow `*.vercel.app` in Auth0, which is too open.

[2020-07-03 14:52] xnimorz commented on #13268
Hi @nfantone , @Timer
The main tricky thing, why lots of third party libraries get crashed during fast-refresh updates, is fast-refresh re-calls (with cleanups) all `useEffects` inside custom hooks, components, etc.

I mean, the following code wouldn't work properly:
[code]

In the example above, we change ref to the truth inside useEffect cleanup function (which is handy to prevent unnecessary ti

[2020-07-03 14:55] xnimorz commented on #13268
Thank you for the issue and the example!

Also, I've fixed the example by updating the version of use-debounce: https://codesandbox.io/s/hungry-architecture-4z46m?file=/pages/index.js (so that it works now)

[2020-07-03 15:22] hbeckeri commented on #12753
I began seeing this same issue when I upgraded to next 9.4 from 9.3. It's only impacting dev for me, when I deployed it to zeit, the error was not there

[2020-07-03 15:23] wawjr3d commented on #11012
this problem was introduced by https://github.com/vercel/next.js/commit/e68307df3a1e4f1cc6da7b435517984f91aed8b3#diff-6d15c59f75bd4f8cdcbd29588c610545 to fix the SEO problems in https://github.com/vercel/next.js/issues/3494. that makes sense, however, the new implementation is tenuous. I think it's better to go back to a system where you have an explicit handle on which elements were added by Next

[2020-07-03 15:33] lfades commented on #14797
@TatisLois Follow the steps here to setup the Next.js repo: https://github.com/vercel/next.js/blob/canary/contributing.md

Once you run `yarn dev` inside the root directory (which compiles the Next.js packages), you can change your `package.json` and point it to the `next` package: https://github.com/vercel/next.js/blob/canary/contributing.md#running-your-own-app-with-locally-compiled-version-of-n

[2020-07-03 15:39] M1ck0 commented on #14817
Could you provide GitHub repo with the code of your app?

[2020-07-03 16:07] iyansr opened #14823 "Error 500 When Deployed"
# Bug report

## Describe the bug

My Website get throw 500 error when visiting the page that contain API calls from Strapi API,
API call come from `getServerSideProps`

I tried running production on local with Production Strapi API that hosted on Heroku, and i works as expected. But when deployed to Vercel, and visit the page that contain API calls from Strapi API, it will throw 500 error.

## To

[2020-07-03 16:31] TatisLois commented on #14797
I followed those steps and is how I ran into the issue. I’ll wipe the repo clean and try again from scratch, thanks!

[2020-07-03 16:31] warcraft14115 commented on #14817
@M1ck0  Thank you for replie me, my project codes in many months, I don't want share it, hope u understand.
I don't see any reason why app down. Hope someone get this too.

[2020-07-03 16:36] #14823 closed

[2020-07-03 16:37] mattcarlotta commented on #14809
It seems that this proposal may be too narrowly focused, where it aims to cover client-side navigations for dynamic permission-based pages (where SSR previewing isn't needed). It would simplify some of the boilerplate logic for when a page needs to be conditionally rendered.

For example, a user visits a private page that just requires basic level permissions...

**authSagas.js** (the API request)

[2020-07-03 16:37] #14809 closed

[2020-07-03 16:41] borispoehland commented on #13624
Thank you @Timer for taking the time to investigate this

[2020-07-03 16:50] M1ck0 commented on #14817
Okay. I do understand.

What would I suggest you do. Exclude the main parts of the code. Comment out biggest components in your app and then try to recompile it. Remove node_modules and yarn.lock or package-lock.json from your project and then install packages again.

Try to exclude as much as possible to see what is going on. Then come here if it doesn't work.

[2020-07-03 17:25] warcraft14115 commented on #14817
Just tried, freeze.
Here is all my package
[code]
On server, it freeze too.
![image](https://user-images.githubusercontent.com/15695252/86487976-c9153180-bd89-11ea-8f86-8189141381c3.png)
I don't know what code I did wrong to find and fix
In console, just freeze like this, no more, no less, event I enter localhost:3001 on browser
![image](https://user-images.githubusercontent.com/15695252/86488206-

[2020-07-03 17:27] BranonConor commented on #14817
Hey guys, I'm doing a code along MERN Stack project using NextJS on the front end and I'm getting the same problem. I don't think it's my backend, I've replaced all my code with the instructor's to be sure - and one second I was successfully writing data to the backend and then all of a sudden I couldn't even visit a page as the whole front end would freeze up with an endless request for a certain

[2020-07-03 17:33] warcraft14115 commented on #14817
@BranonConor  This error just apear today. Do you got it today too?

[2020-07-03 17:36] #14817 closed

[2020-07-03 17:36] SalahAdDin opened #14826 "Warning: Failed prop type: Invalid prop `Component` of type `function` supplied to `App`, expected `object`."
# Bug report

I'm using function arrow components and when i start the client i get this:
```Warning: Failed prop type: Invalid prop `Component` of type `function` supplied to `App`, expected `object`.```

When i use the common function i don't get any error:
[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. This is my code:
[code]
2. Run t

[2020-07-03 17:40] warcraft14115 commented on #10998
@vernak2539 Do you have error like me? [#14817](https://github.com/vercel/next.js/issues/14817)

[2020-07-03 17:47] LauraBeatris commented on #7915
I don't think that having to create another module to forward the ref to a custom component is a good solution and also it's too repetitive.

The way that I'm using to handle this issue is by wrapping the custom component with a ``div`` element like suggested by @namlq93 but it also doesn't seem to be clean...

[2020-07-03 17:52] #14826 closed

[2020-07-03 18:01] dvakatsiienko commented on #14800
Update: today this happened again for `@styled-icons/evaicons-outline` package.

This import caused an error:

[code]

[2020-07-03 18:18] followbl opened #14828 "Dynamic link vars not be interpolated on latest canary version"
# Bug report

## Describe the bug

https://github.com/vercel/next.js/discussions/14822

happy to report that is is working fine on 9.4.4 - but after seeing if I could reproduce on a next.js/examples paired down repo with the latest canary next.js - it was reproducible. (this could be a functionality changing that I haven't caught in the docs) - but it feels like a bug to me

## To Reproduce

Steps

[2020-07-03 19:21] AvinashSoorineedi commented on #2694
@zakbutcher how did you solve this issue finally?

[2020-07-03 21:12] ramblehead opened #14833 "webpack dependency in @next/react-dev-overlay"
I am playing with yarn 2, next.js and typescript.

There were some typescript-related issues with ```tsx``` files (e.g. "JSX element class does not support attributes because it does not have a 'props' property. [2607]" when using next ```Link```).

Updating from ```next@9.4.4``` to ```next@9.4.5-canary.28``` resolved the ```tsx``` issues.

However, running ```next dev``` causes yarn to throw the

[2020-07-03 23:00] JorgeSivil opened #14834 "Title element created empty if it is inside a Fragment component and <Head> doesn't have <title>"
# Bug report

## Describe the bug

I have the following:

[code]

I moved the <title> to the OpenGraphMetaData component, child of MetaData component, which returns a Fragment with all the metadata:

[code]

Now, the OpenGraphMetaData has the title element.

However, the title appears empty, doesn't matter what you put, an expression or a constant string.

Now it gets weird.

If I duplicate the ti

[2020-07-03 23:20] chibicode opened #14835 "Update footer for next-site"
As a follow-up to https://github.com/vercel/next-site/pull/727, per our internal discussion.

[2020-07-04 00:27] drortirosh opened #14836 "next is incompatible with "ow""
# Bug report

A project importing "ow" (even indirectly) causes strange *compilation-time* error.

## To Reproduce

-   yarn create next-app
-   edit pages/index.js
-   add import ow from "ow"
-   yarn dev

See error:
[code]

NOTE: the problem *doesn't occur* in plain react project (i.e. created with `yarn create react-app`

## Expected behavior

obviously, the project should start normally.

## S

[2020-07-04 00:40] ivawzh commented on #7361
I am facing the same problem with TypeORM and its whole family of libs. It'd be much better DX if I don't need to set up a customer server only for using some popular libraries. 😞

[2020-07-04 00:51] rminossi opened #14837 "404 page on dynamic route pages"
Hello people!

I'm having trouble accessing pages with dynamic url (data pulled from API with getInitialProps)

/empreendimento
[code]

/imovel
[code]

I get page 404 when trying to access one of them.

Here is the routes.js file
[code]

Here is the organization of the pages / folder
![image](https://user-images.githubusercontent.com/15183921/86502148-4afb5f80-bd76-11ea-85f8-ff51a7a34403.png)

My

[2020-07-04 02:18] hiroki0525 opened #14838 "When deploying Nextjs, prerendering page error occurs"
# Bug report

## Describe the bug
I cannot deploy my application by prerendering page error.

## To Reproduce

1. `npm run build && npm run export` via Netlify.
2. Error occurred:
![スクリーンショット 2020-07-04 10 25 51](https://user-images.githubusercontent.com/40714517/86502739-6baccf00-bde1-11ea-8afe-7335082c9eb7.png)

(It seems that it is illegally encoded `%2F`? I guess it causes the error.)

## Expe

[2020-07-04 08:06] thobn24h opened #14841 "Can't using CSS Modules feature with Ant Design"
# Bug report

## Describe the bug

When I setup my Next.js with support Ant Design. I can't use **[CSS Modules](https://nextjs.org/docs/basic-features/built-in-css-support)** feature of Next.js

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Here is my test project:
https://github.com/thobn24h/nextjs-with-ant
2. Run yarn dev to build project
3.

[2020-07-04 09:08] timneutkens commented on #14838
This is impossible to look into given that no minimal repository was provided with clear steps to reproduce.

[2020-07-04 09:08] #14838 closed

[2020-07-04 09:09] #14837 closed

[2020-07-04 09:25] #14836 closed

[2020-07-04 09:43] consciousnessdev commented on #9794
Do you also use redux? because, i'd same problem when i declare next/head in pages/index.js it not show meta, but when i placing it in withReduxStore (custom wrapper for redux store like with-redux-store.js in this link : https://github.com/vercel/next.js/issues/8240), it generate double meta tag on detail page.

[2020-07-04 10:38] #12713 closed

[2020-07-04 10:55] janmallari commented on #5682
Any updates on this topic? Would really love to have subdomain routing.

[2020-07-04 11:25] BernardA commented on #11646
@jon64digital, @c58 If I understand correctly what you are saying, that proposal would not solve this issue.

In my use case, I have a small ads app with about 200 categories that may potentially exist in about 20,000 cities. So it's not practical to pre-build all.

So, thinking about SEO, my URLs would look like:

`/search` for the main search page at `/pages/search/index.js` with data fetched ei

[2020-07-04 11:39] Janpot opened #14845 "basePath: urls in Router events include basePath"
# Bug report

## Describe the bug

Been picking apart the router logic a bit while working on https://github.com/vercel/next.js/pull/14827 and noticed that urls that are emitted in router events include the basepath.

Additionally, searching the test folder, there isn't a single test containing "routeChangeStart". It seems like these events are not covered by any tests.

## To Reproduce

Steps to

[2020-07-04 12:24] MeghalBisht commented on #5354
ok

[2020-07-04 12:29] BernardA opened #14846 "Headers already sent on dynamic routes fallback"
# Bug report
Throwing error below when attempting to serve  dynamic routes:

      Error [ERR_HTTP_HEADERS_SENT]: Cannot set headers after they are sent to the client
    at ServerResponse.setHeader (_http_outgoing.js:526:11)
    at DevServer.sendHTML (/Users/quiamo/Sites/quiamo-next/node_modules/next/dist/server/next-dev-server.js:23:5)
    at DevServer.render (/Users/quiamo/Sites/quiamo-next/nod

[2020-07-04 14:59] timneutkens commented on #14846
Duplicate of https://github.com/vercel/next.js/issues/14577

[2020-07-04 14:59] #14846 closed

[2020-07-04 15:01] timneutkens commented on #14845
I think this is needed because the events are generally used to track navigations in analytics services like Google Analytics.

[2020-07-04 16:21] SalahAdDin opened #14849 "Error [ERR_HTTP_HEADERS_SENT]: Cannot set headers after they are sent to the client"
# Bug report
I'm following the [CMS Strapi Example](https://github.com/vercel/next.js/tree/canary/examples/cms-strapi) but adapting it to my needs, it involves to use `page` folder instead of `post`, for instance.

Each time I want to see any page by slug I get the next error and it sends me to the `404`:
[code]
A clear and concise description of what the bug is.

## To Reproduce

1. Run dev.
2. G

[2020-07-04 16:54] timneutkens commented on #14849
Duplicate of #14846

[2020-07-04 16:54] #14849 closed

[2020-07-04 20:32] ocavue commented on #7322
Hi @timneutkens.

I still have this issue, so I create a full reproduction repository: https://github.com/ocavue/mui-next-classname-issue.  You can find the reproduction steps in the repo README.

It's "cropped version" of a real project, with only the code related to this issue. I can provide more detailed information if you guys cannot reproduce the problem.

[2020-07-04 20:41] sauhard98 commented on #14818
In case you want the url you can also access it using `window.location.href` also. (On client side).
This could be a possible way around.

[2020-07-04 23:48] jamesmosier commented on #14841
Using custom CSS plugins opts out of Next's built-in CSS modules features. In order to use them you would have to remove your CSS plugins.

[2020-07-05 02:58] williamku opened #14855 "next/link still triggers SSR (getServerSideProps) when shallow prop is set to true"
# Bug report

## Describe the bug

Clicking on Link element (from "next/link" lib) with property "shallow" being set to true will still trigger the target page's getServerSideProps method (on the server) every single time.

## To Reproduce:

(1) create 2 pages:  page1 and page2 under "pages" folder.
(2) add getServerSideProps to page1 and return some mock data.  Add console.log to output some msg

[2020-07-05 04:02] thobn24h commented on #14841
@jamesmosier,
Currently, my project using Next.js with Ant Design. And I want to customize theme of Ant Design, therefore I need @zeit/next-less module to re-compile Ant Design CSS.
Is there any way to still keep built-in CSS features plus with @zeit/next-less to customize Ant Design Theme ?

[2020-07-05 08:41] timneutkens commented on #7322
You didn't configure material-ui correctly per their example: https://github.com/mui-org/material-ui/blob/master/examples/nextjs/pages/_document.js#L27-L68

Missing in your application: https://github.com/ocavue/mui-next-classname-issue/blob/master/src/pages/_document.tsx

[2020-07-05 11:23] ocavue commented on #7322
This works for me! Thank you so much.

I did miss this part when I check their example. I just submitted a PR to material-ui to add some troubleshooting in their document and hope this will saves others time in the feature.

[2020-07-05 12:11] timneutkens commented on #14225
Closing this as I can't reproduce.

[2020-07-05 12:33] Janpot commented on #14855
You might want to check https://nextjs.org/docs/routing/shallow-routing#caveats

[2020-07-05 12:38] snnsnn commented on #9866
Webpack trick did not solve my problem problem, here is what I did:

[code]

[2020-07-05 14:33] williamku commented on #14855
@Janpot , thanks for the reply and clarification.  If "shallow" option cannot be used to enable "Client Transition" for SSR-enabled pages, then, would it be correct to say that, under NEXT.JS framework, if a page is marked as SSR capable (via getServerSideProps), this page will never be able to do "Client Transition"?  Please kindly confirm...  Thanks again.

[2020-07-05 18:00] zurfyx commented on #8259
_My 2¢ as a non-Next.js guru. Please, correct me if I'm mistaken._ AFAIK none of the solutions seem ideal because it defeats the purpose of SSR. While the proposed solutions seem to provide a fix to the hydrated version being the same as the server-side rendered, the server-side version can't be said to be accurate according to what the user/Google-bot would eventually see.

Let's take the followi

[2020-07-05 18:47] ldbhoang commented on #9755
Hi, I faced this issue too, have you found out how to solve this?
Thank you!

[2020-07-05 19:04] fabrizzioalco commented on #14451
@Timer In test/integration/invalid-server-options/tests/index.text.js after all tests are done y clean all processes. However for some reason in the global teardown creates processes. Have an idea what might be causing that?

[2020-07-05 19:07] maysam commented on #14841
I have similar problem

[2020-07-05 19:10] jamesmosier commented on #14841
There is no way around this currently when you are using a custom CSS/LESS/SASS plugin with Next.

See this docs for more info: https://err.sh/next.js/built-in-css-disabled

[2020-07-05 20:29] Janpot commented on #14855
Not at all, next.js will only download the javascript bundle that is needed and the data generated by `getServerSideProps`. In most cases the javascript will already be cached so it's really just data loading.

[2020-07-05 20:30] Timer commented on #14225
I just reproduced this on first try. Reopening and reassigning to me.

[2020-07-05 21:20] talaikis opened #14871 "Adding getServerSideProps/ getInitialProps increases page size over the limit on Vercel"
# Bug report

## Describe the bug

Pages with getServerSideProps/ getInitialProps can't be deployed to Vercel due to bundle size error. Error appears AFTER adding getServerSideProps or getInitialProps. Everything works without those functions.

[code]

## To Reproduce

Repo is private, but if needed I can provide project Id or access to gitlab.
1. Go to disabled page.
2. Uncomment getInitialProps

[2020-07-05 21:20] switz commented on #1209
I don't expect it to be a silver bullet, but it certainly would be a welcome improvement.

[2020-07-05 21:42] #14833 closed

[2020-07-05 21:47] wis commented on #1209
50ms sounds really low and relatively insignificant to optimize compared to the mentioned cold-start times, but 50ms is a lot when rendering at edge with something like Cloudflare Workers (it is as much as the ping to the nearest Cloudflare edge location, or at least half), Cloudflare Workers respond very quickly, typically in under 5 milliseconds, when cold starting. In contrast, both Lambda and

[2020-07-05 22:18] Lillebo opened #14872 "Unreliable HMR in 'next dev'"
# Bug report

## Describe the bug

I find myself having to very frequently restart `npm run dev` (`next dev -p 3001`) for changes to take effect. Usually wasting lots of time debugging errors I've already fixed because the changes aren't being reloaded in the browser.

## To Reproduce

Sorry, I cannot share my repository. I don't think my codebase is especially large. On `build` I get "First Load

[2020-07-05 22:28] switz commented on #1209
Is there any documentation or repositories where people have successfully deployed next.js to cloudflare workers? I did some googling and couldn’t find much on it. That would be amazing.

Sent from my phone

[2020-07-05 23:02] williamku commented on #14855
@Janpot , thanks again for the reply - I also done some learning and reading on my own regarding "getServerSideProps".  What I learned seems to match up with what you just said:  There won't be a full page reloading - it will be just JSON data being fetched to the client side.   I think I will close this ticket since my questions are all resolved.  Thanks again.

[2020-07-05 23:02] #14855 closed

[2020-07-05 23:30] ScriptedAlchemy commented on #6040
Getting closer. Attempted to livestream today but had some issues.

[2020-07-05 23:44] ipirm opened #14873 "Cant access redux store inside getInitialProps"
Store is undefined
    Post.getInitialProps({store}) {
    console.log(store)
        return {}
    }

[2020-07-05 23:58] msreekm commented on #6040
is next.js getting webpack federation support soon? @ScriptedAlchemy

[2020-07-06 00:03] tills13 commented on #1209
To clarify, I wasn't complaining about my 50ms response times - I was just pointing out that NextJS' SRR is relatively performant even of north of 3k requests / minute for content-heavy pages, so Switz's problem might lay elsewhere.

I would also be interested in that. We're currently running in Fargate but pushing our app to the edge would be the next logical step.

[2020-07-06 01:52] #14873 closed

[2020-07-06 01:54] jamesmosier commented on #14872
Unfortunately this will be impossible to fix without any code/example project. If you could share a repository that would help track down any potential issues.

[2020-07-06 02:15] T04435 commented on #10142
@chrisvxd answer definitely makes the app build.

**BUT: the change modules.mode from pure --> local**

will allow you to have the styles go out of the module ie:

`a.module.css

li {
  // Styles for  li tags in component A
  // which now will apply to all li tags in the app
}
`

Is there a way to extend this so it only applies to a folder ie: `/globals`

[2020-07-06 02:16] thobn24h commented on #14841
After ask on some channels ( Stack Overflow, Medium, GitLab, ... ), Sumit Sarkar (@sumitsarkar01) was helped me config the **next.config.js** ,<br /> **And now, It work correctly!**<br />
@jamesmosier, could you review it for me ? Is the any way simple or official about this case ?
[code]
@maysam,  I was updated this config to my test project, you can check it out
https://github.com/thobn24h/nextj

[2020-07-06 02:17] T04435 commented on #11629
will allow you to have the styles go out of the module ie:

`a.module.css

li {
// Styles for li tags in component A
// which now will apply to all li tags in the app
}
`

@nkalinov Is there a way to extend this so it only applies to a folder ie: `/globals`

[2020-07-06 07:18] vhiairrassary commented on #14818
@sauhard98 Unfortunately the configuratoin code is executed server side (https://github.com/auth0/nextjs-auth0#runtime-configuration) as it requires secrets.

[2020-07-06 09:46] trompx opened #14878 "Custom App - Invalid hook call. Hooks can only be called inside of the body of a function component"
# Bug report

## Describe the bug

When customizing the next app (following [custom-app](https://nextjs.org/docs/old#custom-app)) using the [api-routes-apollo](https://github.com/vercel/next.js/blob/canary/examples/api-routes-apollo-server-and-client-auth/pages/_app.js) example, I get the following error:
[code]

## To Reproduce

1. Clone [api-routes-apollo](https://github.com/vercel/next.js/blob/

[2020-07-06 09:53] timneutkens commented on #14878
You're referring to outdated documentation (notice `/old`) that was kept for backwards compat purposes.

Here's the correct documentation page: https://nextjs.org/docs/advanced-features/custom-app

You can't use React hooks in classes.

[2020-07-06 09:53] #14878 closed

[2020-07-06 09:57] timneutkens opened #14880 "Add `noindex` robots meta tag to https://nextjs.org/docs/old"
Prevents issues like #14878

The code lives in github.com/vercel/next-site.

[2020-07-06 10:28] trompx commented on #14878
Thanks @timneutkens.
My bad for the old docs, don't know if I came from google or an old issue.

I wanted to wrap the app in a class to use **`componentDidCatch` for error handling.**
In the new doc it says we can use the custom app for error handling via componentDidCatch but it is not available for functional components (https://stackoverflow.com/questions/48482619/how-can-i-make-use-of-error-bo

[2020-07-06 11:04] casperle commented on #13058
Hi guys. Checked the problem with the canary release, it fixes the issue in dev mode but in production it still remains. Does somebody experiences the same issue?

[2020-07-06 11:31] timneutkens commented on #14878
You can render a nested component, e.g.

[code]

[2020-07-06 11:33] casperle commented on #12448
@Prottoy2938 Same here. I made a comment to this issue https://github.com/vercel/next.js/issues/13058#issuecomment-654165987

[2020-07-06 11:39] imran1992 commented on #8240
I am still stuck.
I did same as @jeffersoncustodio820 suggest.
But on Facebook sharing debug tool and google Seo tool , I didn't see my meta tags.
there i call Api from which i get result and then i put elements from result in the i put them in there respective meta tags.

[2020-07-06 11:44] thevvv36 commented on #10227
hey can i contribute a take this issue

[2020-07-06 11:54] timneutkens commented on #12448
Seems this your case is unrelated to css modules / tailwind and more so related to forgetting to implement pre-rendering of material-ui: https://github.com/vercel/next.js/issues/7322#issuecomment-653858948

[2020-07-06 12:22] darshkpatel opened #14884 "Invalid flag provided to next build results in UnhandledPromiseRejectionWarning"
# Bug report

## Describe the bug

While using next build, if an incorrect flag is provided then `UnhandledPromiseRejectionWarning`

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. `yarn create next-app example`
2. Select `Default Starter App`
3. `cd example`
4. `yarn next build --randomflag`

## Expected behavior

Should throw show an error stat

[2020-07-06 12:35] #14453 closed

[2020-07-06 12:48] Jaikant commented on #11789
It is not integrated in development, I just spent a few hours on this! Here this comment could help.
https://github.com/vercel/next.js/pull/13428#issuecomment-634500751

[2020-07-06 13:01] darshkpatel commented on #14688
I'll take this up!

[2020-07-06 13:10] remi2j opened #14886 "Use optional catch-all routes with getStaticPaths"
# Bug report

## Describe the bug

I'm trying to build dynamic nested SSG routes with Next. The goal is to be able to create any page using an external data source. I also want this method to cover the root (path `/`) page, so I'm using optional catch-all routes.

So after enabling experimental optional catch all routes in next.config.js, here is what I wrote:

In `pages/[[...slug]].js` :

[code]

[2020-07-06 13:19] #14880 closed

[2020-07-06 13:21] timneutkens commented on #14884
Feel free to fix 👍

[2020-07-06 13:32] Timer commented on #14886
Can you please try this on the latest `next@canary`?

[2020-07-06 13:44] Timer commented on #14828
Fixed via https://github.com/vercel/vercel/pull/4778 (soon to be released)

[2020-07-06 13:46] Timer opened #14888 "The anonymous function Babel rule does not include file name"
# Bug report

## Describe the bug

[code]

## To Reproduce

In a Next.js page, use this:

[code]

## Expected behavior

[code]

[2020-07-06 13:50] ijjk commented on #14828
Hi, @followbl thanks for the report, the fix should be available on stable and canary releases of `@vercel/next` now

[2020-07-06 13:54] remi2j commented on #14886
Thanks for the quick response. I installed the latest canary and the results are interesting.

The `/home` and `home/page` routes are working correctly. But the root route is still broken, this time with this error:

[code]

And my log of `params` printed an empty object, while it printed `{ slug: [ 'home' ] }` and `{ slug: [ 'home', 'page' ] }` for the others.

Quick things I tried instead of `{

[2020-07-06 13:54] ijjk commented on #14815
Closing as this has now been landed

[2020-07-06 13:54] #14815 closed

[2020-07-06 13:57] Timer commented on #14886
That seems like a bug with your `getStaticProps` function per the error message, not `getStaticPaths`.

[2020-07-06 14:01] Timer commented on #14828
@followbl to try the fix, you'll need to re-deploy your application!

[2020-07-06 14:01] followbl commented on #14828
@ijjk @Timer 🔥

[2020-07-06 14:01] #14452 closed

[2020-07-06 14:08] remi2j commented on #14886
Here is my `getStaticProps` :

[code]

But I think the bug is that `params`, instead of looking something like `{ slug: [ 'home', 'page' ] }`, is an empty object (`{}`) when building the root page. This is confirmed by my console log.

Is this the expected behavior? If so, I can write an if/else statement to avoid accessing the `slug` property that doesn't exist.

I expected `params.slug` to be an

[2020-07-06 14:08] trompx commented on #14878
Awesome, thanks for the example and amazing framework!

[2020-07-06 14:10] Timer commented on #14886
This is the expected behavior. You'll need to set a default value!

[code]

Or:

[code]

[2020-07-06 14:10] #14886 closed

[2020-07-06 14:17] remi2j commented on #14886
So TLDR:

* The bug does happen on Next 9.4.4 where optional catch-all routes are an experimental feature
* It's fixed in 9.4.5 (currently the canary release)
* When there's no slug, getStaticProps' `ctx.params` is an empty object

Thanks for the help!

[2020-07-06 14:22] Timer commented on #14828
Please let us know if it works! 🙏

[2020-07-06 14:23] Prottoy2938 commented on #12448
@casperle , In my case the problem was because I was doing **server side rendering**. I followed this [documentation from material-ui](https://material-ui.com/guides/server-rendering/) and fixed the issue

[2020-07-06 14:27] #12530 closed

[2020-07-06 14:46] timneutkens commented on #11797
Opened a RFC for redirecting here: #14890

[2020-07-06 15:10] timneutkens commented on #14828
Will close this given @followbl's comment

[2020-07-06 15:10] #14828 closed

[2020-07-06 15:27] talaikis commented on #12448
With v9.4.5-canary.28 not flickering in dev and flickering in production.

[2020-07-06 15:41] maysam commented on #14841
@thobn24h you are my new hero

[2020-07-06 15:47] desmap opened #14891 "NormalModuleReplacementPlugin gets ignored in next.config.js"
# Bug report

## Describe the bug

I'm using webpack's `NormalModuleReplacementPlugin` to replace `type-graphql` on the client with its shim `type-graphql/dist/browser-shim.js`.

Next.js still uses the full version and not the shim.

I assume that it's not a webpack config problem because the function gets executed two times and the resource.request gets properly overwritten (tested with `console.

[2020-07-06 16:05] jptaylor opened #14892 "Allow for the loading of inline SVGs / update example"
# Feature request

If you want to load an SVG inline, e.g. `import ExampleIcon from "icons/example.svg";` using `inline-react-svg` (as per the example in the repo found [here](https://github.com/vercel/next.js/tree/master/examples/svg-components) ) and you are using absolute imports, the files will with not resolve.

Inline SVGs are quite common in modern web development and it currently requires

[2020-07-06 16:05] jamesmosier commented on #14841
Anytime you alter the webpack config you run the risk of something within Next breaking unintentionally. So I would certainly exercise caution with this. But glad it worked for you!

For now there is no official way to do this.

[2020-07-06 16:05] #14841 closed

[2020-07-06 16:17] evenfrost commented on #9705
@markotom you should change usage of `*` in routes to `(.*)` or `:splat*` as per [koajs/router v9 changelog](https://github.com/koajs/router/blob/master/history.md).

[2020-07-06 16:31] adriangzz commented on #7322
I'm having this problem with [use-dark-mode](https://github.com/donavon/use-dark-mode#readme) , anybody else?

[2020-07-06 17:11] ScriptedAlchemy commented on #6040
To be determined. Module Federation isn't a primary concern of Next, However if Next runs on Webpack 5 we should be able to make a plan with the configurations. I’m in comms with some of the internal members, internal support: unknown, compatibility: likely

[2020-07-06 17:23] bzztbomb commented on #13268
https://github.com/vercel/next.js/issues/12753 is an example where it'd be useful to disable fast refresh

[2020-07-06 18:10] sombizbuzzz opened #14894 "Uncaught TypeError: store.getState is not a function nextjs app"
I am using nextjs, react js app, on creating redux store facing Uncaught TypeError: store.getState is not a function nextjs app . can some one help on this issue . i am removing provider , app is working but i can not access store . here is my code creation of store . store.js

[code]
here is error error :

[code]
[https://stackoverflow.com/questions/62761838/uncaught-typeerror-store-getstate-is-n

[2020-07-06 19:03] s-kris opened #14895 "HMR not working with linaria example"
# Bug report

## Describe the bug

Hot module replacement isn't working with linaria example from [official repo](https://github.com/vercel/next.js/tree/canary/examples/with-linaria)

## To Reproduce

1. Run `npx create-next-app` and choose `with-linaria` example or `git clone https://github.com/s-kris/nextjs-test-hmr`
2. `yarn dev`
3. Edit `pages/index.js`
## Expected behavior
Changes should be r

[2020-07-06 19:04] Timer commented on #14835
This was merged

[2020-07-06 19:04] #14835 closed

[2020-07-06 19:17] 2b-dev commented on #5374
I try to use
let partUrl = window.location.href;
let lastPath = partUrl.split("/").pop();
to get ID

[2020-07-06 22:03] johntenezaca7 commented on #14884
@timneutkens I'd be opening to working on this bug!

[2020-07-06 22:34] followbl commented on #14828
@Timer @ijjk deployed and it's working as expected. thanks

[2020-07-06 23:15] narciero opened #14898 "Nested/Scoped `App` component for shared logic in `pages` subfolders"
# Feature request

## Is your feature request related to a problem? Please describe.

It would be great to be able to define multiple `_app.js` (`App` components) in the `pages` hierarchy that would allow for wrapping all pages in that folder. For example, take a site that has an `admin` section that is restricted based on user role...currently it's quite verbose to have to perform the authorizati

[2020-07-06 23:42] #14894 closed

[2020-07-06 23:53] jamesmosier commented on #14895
It appears the React version is out of date.

Updating the `package.json` to:

[code]

fixes it.

[2020-07-07 00:01] IanMitchell commented on #14718
Jumping in to say I think improvements similar to the ones proposed would be hugely welcome, and I'd be happy to help out! I've been working on redoing my personal website with MDX and Next.js, porting it from Gatsby. It would be cool to see MDX as a seamless option in Next.js SSG. There's been a couple of us [working on these issues](https://github.com/vercel/next.js/discussions/14021) already to

[2020-07-07 00:11] Timer opened #14900 "Next.js should warn and encourage upgrade on React <16.10"
Next.js is fully compatible with React versions prior to 16.10, however, **Fast Refresh does not work, and your development server will do a full reload on every edit**.

This is a suboptimal experience, so we should warn the user when we detect an old React version and encourage them to upgrade, explaining the benefits, etc!

[2020-07-07 00:15] jasnell opened #14901 "recommendation: use HEAD requests for isUrlOk check"
# Bug report

## Describe the bug

Not so much a bug as much as a recommendation. Scanning through the source a bit, I noticed [this](https://github.com/vercel/next.js/blob/canary/packages/create-next-app/helpers/examples.ts#L16-L19):

[code]

If this is only being used for an existence check, it would likely be better to do a `HEAD` request rather than a `GET` request, doing so would serve the pu

[2020-07-07 00:18] jasnell opened #14902 "recommendation: replace make-dir with core recursive mkdir"
# Bug report

## Describe the bug

Less bug, more recommendation... Node.js core has implemented recursive mkdir support that should work in all Node.js versions supported by next.js. There is a [Promisified version](https://nodejs.org/dist/latest-v14.x/docs/api/fs.html#fs_fspromises_mkdir_path_options) that ought to be able to replace the [`make-dir` module](https://github.com/vercel/next.js/blob

[2020-07-07 00:47] Timer opened #14903 "Next.js router could have knowledge of preview mode"
# Feature request

An application can only determine if you're in Preview Mode via `getServerSideProps` or `getStaticProps`.

This can lead to noisy prop drilling to render preview states in different parts of your application, and make it difficult to render something specific to preview mode in Custom `<App>` due to the lack of dedicated `getServerSideProps` or `getStaticProps` for that file.

#

[2020-07-07 00:53] Timer opened #14904 "`next build` should have a progress indicator similar to `next export`"
# Feature request

At a minimum, running `next build` should give the user some sort of feedback on progress being made similar to `next export`.

Right now, the user is in the dark while we're running `getStaticPaths` and then `getStaticProps` for every returned path.

It'd be **really cool** to show this Jest test runner style, then automatically float long-running pages to the top (to identify

[2020-07-07 01:04] trusktr commented on #7837
Looks like many people ran into this issue based on the votes. I would post a reproduction, but the code is proprietary at the moment.

[2020-07-07 01:08] trusktr commented on #11377
This is a weird bug. I'm on an older version of Next (6.1.1, I should try updating!) but the error is weird.  As mentioned in #4660, creating a blank `build-manifest.json` with the content `{}` fixes the issue (at least temporarily) and causes other more sensible errors to appear.

[2020-07-07 01:18] tajo opened #14906 "v9.4.2 changes ssr devtool and breaks css-to-js-sourcemap"
# Bug report

## Describe the bug

[css-to-js-sourcemap](https://github.com/rtsao/css-to-js-sourcemap) expects certain format of the stack trace and relies on server side source maps. This got changed in 9.4.2 and this [PR](https://github.com/vercel/next.js/pull/13123/files) and [broke](https://github.com/styletron/styletron/issues/366) Styletron's debug mode that uses css-to-js-sourcemap.

## To

[2020-07-07 02:02] s-kris commented on #14895
Confirmed.

[2020-07-07 02:02] #14895 closed

[2020-07-07 03:41] #12621 closed

[2020-07-07 03:52] jshaw commented on #14522
After debugging this some more, I eventually realized that the enviroment variable stored in Vercel, when bring into my app was a `typeof String`. This being the case it wasn't influencing the `revalidate` behaviour. I typecast the enviroment variable to a number and it is now giving me the correct behaviour and I'm seeing the updates in my app.

Cheers,

[2020-07-07 03:52] #14522 closed

[2020-07-07 04:17] Timer commented on #13961
Duplicate of #14900

[2020-07-07 04:17] #13961 closed

[2020-07-07 04:39] brandonpittman opened #14910 "Update ReasonML examples to use getStaticProps, getStaticPaths, and getServersideProps"
# Feature request

Update ReasonML examples to use getStaticProps, getStaticPaths, and getServersideProps

## Describe the solution you'd like

Update `getInitialProps` example code to newer data fetching methods.

[2020-07-07 05:06] #14646 closed

[2020-07-07 05:23] avin-kavish commented on #1632
What I realised is, nested routing + SSG is achievable without breaking the current API. So we have `getStaticPaths` at the moment, we can use that to hint at nested routes for pre-rendering. For example,

Given a route `/foo/[...slug]`,

[code]

can be pre-rendered with,

[code]

With the way it is at the moment next.js is like a server side framework with the convenience of creating pages in rea

[2020-07-07 05:35] ogostos commented on #9160
Setting through `getInitialProps `won't work for dynamic routes.

[2020-07-07 05:43] #13230 closed

[2020-07-07 05:59] todortotev commented on #14900
@Timer I have [open PR](https://github.com/vercel/next.js/pull/13968) for this issue.

[2020-07-07 08:10] woro83c commented on #13658
temporary workaround is to return a fragment instead:

[code]

[2020-07-07 08:15] amiralies commented on #14910
until examples getting updated you can take a look at
https://github.com/reason-association/reasonml.org/blob/master/re_pages/Blog_Article.re

[2020-07-07 09:10] brandonpittman commented on #14910
@amiralies Awesome! Thank you very much. 😃

[2020-07-07 09:37] martpie commented on #1632
@avin-kavish the main issue is not to make it work, but to make it optimized: each page on Next.js default have their own bundle and are optimized for speed.

If you start adding a lot of content/sub-content in a single page like you did, you could end up with a quite big bundle in the end (which is not "terrible" per se, but you should just be aware of the trade-offs). You might be able to do som

[2020-07-07 09:48] fantasticit opened #14916 "Page.getInitialProps：__NEXT_DATA__ is different, and useRouter is so."
# Bug report

## Describe the bug

For url `promote?page=1&pageSize=10&tab=1`.

Without `Page.getInitialProps`, the `__NEXT_DATA__` is like:

[code]

After just add **`Page.getInitialProps = async ctx => ({})`**, got:

[code]

And therefore：

[code]

With `Page.getInitialProps = async ctx => ({})`，got correct `router.query`. Otherwise, got empty.

## To Reproduce

1.  Not add `Page.getInitialProps

[2020-07-07 09:56] SaschaHeyer commented on #8893
What is the recommended solution for this issue?

[2020-07-07 11:02] timneutkens commented on #14828
Thanks for confirming @followbl 🙏

[2020-07-07 11:02] davscro commented on #11992
@daveskybet have you solved this issue? I am experiencing the same thing

[2020-07-07 11:04] timneutkens commented on #14916
https://nextjs.org/docs/routing/dynamic-routes#caveats

[2020-07-07 11:04] #14916 closed

[2020-07-07 11:04] timneutkens commented on #14910
Feel free to send a PR!

[2020-07-07 11:11] timneutkens commented on #14901
Great suggestion 👍

[2020-07-07 11:12] timneutkens commented on #14902
Sounds good to me 👍

[2020-07-07 11:15] timneutkens commented on #14898
Duplicate of #8193

[2020-07-07 11:15] #14898 closed

[2020-07-07 12:30] daveskybet commented on #11992
@davscro No, I ended up not needing `assetPrefix` once all the bugs with `basePath` were solved, `basePath` sorted all JS paths/Links/Router.push's so `assetPrefix` wasn't required.

Are you needing `assetPrefix` without `basePath`? I suspect the original bug still exists.

[2020-07-07 13:15] desmap commented on #14891
also...
[code]
is being ignored

@timneutkens @Timer do you have a clue and know what is going on?

[2020-07-07 13:21] sabirahmed121 commented on #4662
I have this working, but there is one caveat,

Since I'm using GTM I also need to send the title of the loaded page (Note title is set dynamically in the client for some pages).

And if we try getting the title with `document.title` we get the server-rendered title of the page.
Is there any way we can have a trigger in _app.js which is similar to routerChangeComplete for the first page load event.

[2020-07-07 14:24] eddyw opened #14923 "Canary.29: Unexpected error in root path with optional catch all"
# Bug report

## Describe the bug

Production build fails to render root path page when using optional catch all in canary.29 with fallback and empty static paths.

## To Reproduce

1. Install `next@9.4.5-canary.29`
2. Create page `pages/[[...slug]].js`
3. Add following code:
[code]
4. Run `next build && next start`
5. Go to `http://localhost:3000/`
6. See error

## Expected behavior

It should re

[2020-07-07 16:38] nfantone opened #14927 "`getServerSideProps` does not set cookies using client side navigation"
# Bug report

## Describe the bug

I apologize up front if this was covered somewhere else - couldn't find a related source for this. I found out that using `router.push` (with default options, i.e.: `{ shallow: false }`)  or `<Link>` effectively calls `getServerSideProps` but ignores response cookies set from them. On the flip side, **using `window.location`** or simply **pointing the browser to

[2020-07-07 16:50] mg-code opened #14928 "Shallow routing value is incorrect when navigating back"
# Bug report

Shallow routing is working incorrectly when user navigates backward.

## Describe the bug

Correctly would be to remember shallow value between current step and previous step.

## To Reproduce

1. User enters site
2. Navigates to a product page (using normal routing) -> user sees information about product
3. Changes information tab, url is updated (using shallow routing) -> user sees

[2020-07-07 18:00] ijjk opened #14930 "Root catch-all custom-route should match the root itself"
A catch-all rewrite e.g. `{ source: '/:path*', destination: '/somewhere' }` should match when `/` is requested, ~after this is corrected we should investigate disabling `strict: true` for custom-routes~.

We also need to make sure this works on Vercel.

[2020-07-07 18:25] prince3339 opened #14935 "CSS variable with built-in color name replaced with color code on build"
# Bug report

## Describe the bug

I have added some css variable using scss map in **global css** with naming like below:

[code]

[code]

After building the project, I see variable becomes like below **but in dev it works fine**:

[code]
## To Reproduce

Just add a css variable with any builtin color name and build the project.

## Expected behavior

After project building variables should remai

[2020-07-07 18:39] cargallo commented on #8158
Hi, why is this issue closed? It's still happening!!!

[2020-07-07 18:39] yestoall commented on #8893
there is not solution for me

On Tue, 7 Jul 2020 at 11:56, Sascha Heyer <notifications@github.com> wrote:

--

<nacho/>

[2020-07-07 18:51] khairulaffandy commented on #5682
hopefully, Vercel will implement subdomain routing in the near future. a subdomain would be very useful in organizing links and pages.

[2020-07-07 19:20] nfantone commented on #14927
Upon further examination, I ended up realizing that the culprit here is actually the `fetch` call from within Next.js to the `logout.json` endpoint, during client-side navigation, [which uses `same-origin` for its `credentials` option](https://github.com/vercel/next.js/blob/3623d444c1838db89e713fa6a354c8aa0e91d610/packages/next/next-server/lib/router/router.ts#L124) and does not process `Set-Cooki

[2020-07-07 19:36] cristiand391 commented on #14902
Hi @timneutkens can I work on this?

[2020-07-07 19:48] mintyfloss opened #14940 "Code splitting causes PSI drop with 9.2+"
# Feature request

## Is your feature request related to a problem? Please describe.

We're currently pinned to version 9.1.7 because upgrading to a more recent version causes our PSI to drop significantly. Here are the screenshots of the Lighthouse result.

||**9.1.7**| **9.4.4**|
|----|-----|-----|
|**Lighthouse**|<img width="957" alt="Screen Shot 2020-07-07 at 2 25 19 PM" src="https://user-imag

[2020-07-07 19:52] ItsJohnTheDeveloper commented on #12409
Does anybody know the status of this bug?

[2020-07-07 19:57] jamesmosier commented on #14940
Here is more info on the new code splitting techniques: https://nextjs.org/blog/next-9-2#improved-code-splitting-strategy

And additionally here is the webpack splitChunks config:

https://github.com/vercel/next.js/blob/38bd1a024cb25923d8ea15f269a7294d073684d8/packages/next/build/webpack-config.ts#L373-L457

Currently there is no configuration options for code splitting exposed.

[2020-07-07 19:58] #14872 closed

[2020-07-07 20:02] #14891 closed

[2020-07-07 20:18] estevanmaito commented on #14352
I like the `create-react-app` approach.

If I run a `create-react-app` app before a Next project, it will start on port 3000, then when I run `npm run dev` on my Next project, it gives me `Port 3000 is already in use.`

BUT, if I start my Next project before it, it takes the port 3000 and when I start `create-react-app` it alerts me (@jkjustjoshing would still be told that there is something runni

[2020-07-07 20:30] lfades opened #14942 "Add sitemap example"
An example named `with-sitemap` that shows how to generate a sitemap based on your pages, this has been requested by feedback and we can do a better job at showing how it can be done. The example could also be added to FAQ in the Next.js site.

[2020-07-07 20:32] kachkaev commented on #12409
@ItsJohnTheDeveloper see https://github.com/vercel/next.js/discussions/14890

[2020-07-07 20:36] lfades opened #14943 "[Next.js site] Add FAQ to Algolia results"
Currently we index all the markdown content from our docs, but it excludes custom HTML, this behavior can be changed to include content inside `details`, that way we'll include our FAQ section (https://nextjs.org/docs/faq), and we could also include the `details` elements used to showcase examples.

The code of the site lives in https://github.com/vercel/next-site.

[2020-07-07 21:12] lfades opened #14944 "[Next.js site] Focus the search input after pressing `/` on /docs"

[2020-07-07 22:18] cristiand391 commented on #14901
Hi, can I take this one?

[2020-07-07 23:23] lostfictions opened #14949 "Proposal: Site-wide static data"
# Feature request

## The problem

With `getStaticProps`, Next now has a great story for per-route build-time/SSG data, which can be generated by running arbitrary logic, accessing the filesystem or a database, etc. This data is calculated for each route and the client it loads it the first time they hit that route. No effort is made to chunk or deduplicate data across routes; if you include a chu

[2020-07-07 23:49] bergkvist opened #14950 "Next.js + WebSocket / Real-time examples"
# Feature request

## I want to create a real-time application with Next.js

My use-case is that I want to download large files and perform computationally expensive work on them in the backend. To keep the client in sync with what is happening, I imagine using the WebSocket API is ideal (compared to a polling solution). This allows me to push progress updates/errors/results to the client as thing

[2020-07-08 01:49] Timer commented on #14901
Sure!

[2020-07-08 03:13] eKhattak commented on #14942
I'll give it a try

[2020-07-08 03:59] JoueBien commented on #14488
I'm experiencing next opening the code editor as soon as a JS error occurs - instead of it waiting until I click the link on the error location.

[2020-07-08 05:14] kcirtaptrick opened #14954 "Dynamic route param is unavailable as router.query property in initial lifecycle hook"
# Bug report

## Describe the bug

When dynamically routing a static page, path params are undefined in the initial lifecycle hook.

## To Reproduce

file: `pages/test/[token].jsx`\
path: `/test/token-123`
[code]

## Expected behavior

- router.query properties should have path params during initial lifecycle hook
- console.log statement above should log 'token-123'

## System information

- OS: U

[2020-07-08 05:47] mabadir commented on #12317
Hi, I am on the latest Next.js version and hosted on Vercel. Still having this issue.

[2020-07-08 05:48] mabadir commented on #12317
Hi, I am on the latest Next.js version and hosted on Vercel. Still having this issue.

[2020-07-08 06:36] borispoehland commented on #13624
@Timer is there any workaround as of now? I'm soon deploying my project and I'd love to deploy it to vercel.

Can the translation files maybe be manually fetched from within an API route or similar?

[2020-07-08 06:55] Timer commented on #13624
I've just done a deep inspection of the code and there is nothing that explicitly tells Next.js that you'd be looking for files in that directory. This seems to be an implicit dependency of the library.

Adding the following line will fix the files being missing:

[code]

[2020-07-08 06:55] #13624 closed

[2020-07-08 07:30] darshkpatel commented on #14884
Hey! @johntenezaca7, are you still working on it? or can I take it up?

[2020-07-08 08:01] herrstucki opened #14959 "Link and router query should automatically replace dynamic route parts"
# Feature request

It would be great if the `Link` component was smart enough to replace dynamic route parts in `pathname` automatically based on the `query` when using the url-object form of `href`:

[code]

Currently this renders `<a href="/posts/[id]?id=1&anotherParam=2">...</a>` which is _functional_ but odd (also it breaks getServerSideProps et al `params`). So in order to make this work, I h

[2020-07-08 08:13] rayanht opened #14960 "Destructuring error in the cms-contenful example"
# Bug report

## Describe the bug

In the cms-contenful example, a recursive call in `./component/date.js` causes the app to crashes due to a de-structuring error once we start adding content in the CMS.

## To Reproduce

1. Clone the example from the next.js repo
2. Go through the setup in `README.MD`
3. Create a new article in the Contentful CMS

## Expected behavior

The component should be ren

[2020-07-08 08:24] borispoehland commented on #13624
@Timer on the boilerplate I did exactly as you proposed, but I still get the 502 error.

[2020-07-08 08:48] Askoth opened #14963 "Custom server doesn't use tsconfig paths for server.ts (only inside next pages)"
# Bug report

## Describe the bug

If an alias is used on server.ts the following command won't fix its path aliases: `next build && tsc --project tsconfig.server.json`.

If the alias is used inside next pages, it will work as intended.

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Clone the

[2020-07-08 09:06] remi2j opened #14964 "Optional catchAll route with getStaticProps breaks builds, but not the dev server"
# Bug report

## Describe the bug

I'm trying to build dynamic nested SSG routes with Next. The goal is to be able to create any page using an external data source. I also want this method to cover the root (path `/`) page, so I'm using optional catch-all routes. I have a `[[...slug]].js` file that generates all my pages.

I'm using the Next canary 9.4.5 version to avoid issue #14886.

My app work

[2020-07-08 09:08] BernardA opened #14965 "build error on local code ELIFECYCLE errno 1"
# Bug report
The app is running fine in development, but when attempting my first build it throws error below.
Except for indicating the route, the error message does not provide much of a clue on the cause of the error.

It seems to build most of the pages ( about 1200 at this stage ) and then throws the error.

## Describe the bug

This is the error message in terminal:

Error: Export encountere

[2020-07-08 09:09] remi2j commented on #14886
Hello again @Timer

After applying your changes, I think my app was working fine. But I ran into another related issue here: #14964

I created another issue since the problem is different, but the context is the same.

[2020-07-08 09:22] rayanht commented on #14960
This is quite a low-hanging fruit so I don't mind taking it myself if needed

[2020-07-08 09:48] timneutkens commented on #14488
Please provide a full reproduction as asked for

[2020-07-08 10:02] timneutkens commented on #14960
The name of the function should be changed to something like `DateComponent`, it's recursively calling itself currently indeed.

[2020-07-08 10:04] #14965 closed

[2020-07-08 10:06] timneutkens commented on #14963
This is expected, only compiled code supports tsconfig paths given that it uses a custom resolver. Next.js does not affect a custom server as the custom server calls the Next.js public api so we can't change the way that your custom server works.

[2020-07-08 10:06] #14963 closed

[2020-07-08 10:08] timneutkens commented on #14959
Making your suggestion work vs https://github.com/vercel/next.js/issues/8207 is the same amount of effort and amount of changes so I'd like to focus on https://github.com/vercel/next.js/issues/8207 instead

[2020-07-08 10:11] timneutkens commented on #14954
https://nextjs.org/docs/routing/dynamic-routes#caveats

[2020-07-08 10:11] #14954 closed

[2020-07-08 10:12] #14950 closed

[2020-07-08 10:13] #14949 closed

[2020-07-08 10:17] #14940 closed

[2020-07-08 10:20] timneutkens commented on #14927
same-origin seems like the correct setting: https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch#Sending_a_request_with_credentials_included

[2020-07-08 10:22] timneutkens commented on #8158
@cargallo not sure what you're referring to, this issue has a reply: https://github.com/vercel/next.js/issues/8158#issuecomment-516010976

It's impossible to help you based on "Why is this closed" without a full reproduction or even any information about your issue.

[2020-07-08 10:24] timneutkens commented on #14935
Seems unexpected, can you create a repository showing it, that'll make it simpler to look into this.

[2020-07-08 10:31] prince3339 commented on #14935
@timneutkens   Sorry I missed something in description.
I figured out it happens only when I generate variables using sass map.

[code]

[code]

End results:

[code]

[2020-07-08 10:34] Askoth commented on #14963
@timneutkens got it, might I ask one last thing so I can understand better how to solve this on my end? If next doesn't affect the custom server, what is compiling the server.ts?

Sorry if the question is dumb, I'm new to nextjs.

[2020-07-08 10:59] illuminist opened #14969 "Using with @next/bundle-analyzer removes all process.env variable when use with config function"
# Bug report

## Describe the bug

I added @next/bundle-analyzer to analyze bundle size in next.config.js, then all environment variable in `env` config got ignored.

## To Reproduce

1. Install @next/bundle-analyzer
2. Add @next/bundle-analyzer to next.config.js, according to https://www.npmjs.com/package/@next/bundle-analyzer#usage-with-environment-variables.
3. The config is a function that ret

[2020-07-08 11:12] timneutkens commented on #14963
Next.js does not compile the custom server, so I assume you have something in package.json?

[2020-07-08 11:14] timneutkens commented on #14969
Something like this would work:
[code]

[2020-07-08 11:14] #14969 closed

[2020-07-08 11:17] Askoth commented on #14963
Ah, I think I get it now. next will compile what is in the `.next` folder and then tsc would create the `dist` one.

From what I understood tsc won't replace the paths by itself (by design), so I have to look for alternatives such as `module-alias`.

Thanks for the help!

[2020-07-08 11:32] nfantone commented on #14927
@timneutkens In principle, I'd agree with you. In practice, it doesn't seem to work.

See my full reproduction here: https://codesandbox.io/s/hardcore-sara-ueu2k

Click on the Login button, watch the server console log and notice how you keep getting the "You should sign in first" message.

Now open `index.js` and replace the `onLogin` callback using `next/router` (L:13) by uncommenting the one us

[2020-07-08 11:40] #14960 closed

[2020-07-08 11:58] illuminist commented on #14969
Maybe the document of @next/bundle-analyzer should be clearer on how to use with config function. Should I open for PR?

[2020-07-08 12:35] timneutkens commented on #14969
Sure that's fine!

[2020-07-08 12:37] ye-will opened #14973 "[Fast Refresh] warnings will be cleared after window.location.reload()"
https://github.com/vercel/next.js/blob/61e899f42b8f1be23af2e0f244a1d11130db92d0/packages/next/client/dev/error-overlay/hot-dev-client.js#L268-L283

These's nearly no change to see the warnings above because of window reloading if `Preserve Log` for the Console is not ON...

[2020-07-08 13:29] illuminist commented on #14969
PR https://github.com/vercel/next.js/pull/14976

[2020-07-08 13:31] yellowspaceboots commented on #10298
@goszczynskip Yarn 2 is very picky about packages declaring dependencies. This looks related to yarn error [YN0002](https://yarnpkg.com/advanced/error-codes#yn0002---missing_peer_dependency). They give you a few options on how to handle it but I have been using Yarn 2's [packageExtentions](https://yarnpkg.com/configuration/yarnrc#packageExtensions) in a .yarnrc.yml file. This will tell Yarn 2 to h

[2020-07-08 13:50] #14973 closed

[2020-07-08 14:24] cargallo commented on #8158
Hi @timneutkens I followed the start learning of the oficial nextjs web. If you run "next build && next export" the resulting html site (_that command is for generating just a static site wich not requires nodejs server or whatever server_) the links of the css and js resources attached by nextjs, their path is in this way

`<link rel="stylesheet" href="/_next/static/css/97614410f90d914be5ee.css"/

[2020-07-08 14:29] remi2j commented on #8207
Just want to add my +1 to this issue because Next's links handling makes things quite hard for my use case.

I'm using Next.js to build static pages based on the contents of a headless CMS. I have no idea what kind of links (external, static route, dynamic routes) the CMS users will include.

So I just render a plain `<a>` tag in most cases, but I wish I could benefit from Next's frontend routing.

[2020-07-08 15:01] #14792 closed

[2020-07-08 15:22] lfades commented on #12317
@mabadir Please check out the new version of the example that uses `vercel dev` instead of `next dev`, that issue should be non existing anymore.

[2020-07-08 15:46] StarpTech opened #14984 "Can't set title with "next/head" in mdxjs"
# Bug report

## Describe the bug

As titled

## To Reproduce

[code]

1. Checkout example https://github.com/vercel/next.js/tree/canary/examples/with-mdx
2. Use the `Head` as above.

## Expected behavior

Page title should be `Privacy`

## System information

[code]

[2020-07-08 16:25] Jordan-Gilliam commented on #6040
One of the biggest issues with module federation and Next seems to be trying to force Next.js into something that it was never designed to be. Next.js is optimized for Vercels platform.

Module Federation changes the rules. We need to start from a lower design level than Next. I'm beginning to organize these thoughts in a new project with the goal of leveraging webpack to begin creating abstractio

[2020-07-08 16:30] Deepak13245 opened #14985 "Env variables with special characters"
# Bug report

## Describe the bug

Env variables having special characters are not being loaded from .env.local

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. In .env.local add a variable with special characters. `NEXT_PUBLIC_TEST="abcd$ef"`
2. In next.config.js add a log. `console.log(process.env.NEXT_PUBLIC_TEST)`
3. The log will print only `

[2020-07-08 16:38] ijjk commented on #14985
Hi, this should be fixed in Next.js >= `v9.4.5-canary.26` specifically [this PR](https://github.com/vercel/next.js/pull/14750). Can you try upgrading and let us know if it is resolved with this version?

[2020-07-08 17:08] Tudes commented on #14985
Hi, @Deepak13245 the issue is not with NextJS, but more with how dotenv works.

You need to escape your `$` e.g. `\$`. Please see https://github.com/bkeepers/dotenv/issues/214

[2020-07-08 17:20] Tudes commented on #14985
Hi, @Deepak13245 I'm not sure if the issue is with NextJS per se

But with dotenv previously you'd have to escape `$` sign. You'll have to do the same here e.g. `abcd\$ef`

[2020-07-08 17:25] Deepak13245 commented on #14985
Got it ! Thanks @Tudes

[2020-07-08 17:25] #14985 closed

[2020-07-08 17:48] lennerd commented on #13215
Did you notice that you get 404 on your deployed example, too? Just visit https://nextjs-routing-issues.now.sh/ and watch the requests in your dev tools. Two files `it.js` and `en.js` are requested. This also leads to a complete new request when navigating to subpages.

[2020-07-08 17:57] Tudes commented on #14984
Hi @StarpTech .

Based on the description above and requirements you should be able to achieve that by remove `<Head>` wrapper.

Adjusting `with-mdx` this will set a title for you page

[code]

[2020-07-08 18:58] StarpTech commented on #14984
Hi @Tudes thanks for the hint I didn't test it yet but `next/head` should be fully supported otherwise the integration plugin makes no sense. As a workaround, I use https://github.com/hashicorp/next-mdx-enhanced

[2020-07-08 19:05] lennerd commented on #13215
Forget that. You're not using `<Link />` correctly. You need to combine both props `as` and `href` when linking to dynamic pages.

For example:

[code]

Always missing this myself … 🙈

[2020-07-08 19:30] Glomels commented on #12794
Similar problem, it fails for me with local build, but I can deploy to Vercel without problems 😮

[2020-07-08 20:02] Glomels opened #14995 "Experimental AMP skipValidation appears to be ignored on deployment"
# Bug report

## Describe the bug

I have a site with a "dirty AMP" contact page. It's invalid because I use custom javascript on it to insert an Intercom widget for live chat, but it also has reusable AMP components which are found in all pages.
I found about the experimental skipValidation flag for AMP, and while it worked in local builds, it still fails when deploying to Vercel.

## To Reproduc

[2020-07-08 21:36] keyworks opened #14997 "Typescript `next dev` error reporting"
# Feature request

## Describe the feature

When I run `next dev` and introduce a TypeScript type error on an active page, I expect to see a TypeScript error printed out in my terminal. This matches what the docs say:

(From https://nextjs.org/docs/basic-features/typescript)

This works as expected in 9.3.6 but does not work in 9.4.0 or above. (I only tested 9.4 and 9.4.4)

## To Reproduce

1. `ya

[2020-07-08 21:37] advancingu commented on #9130
Any news on this? Running into the same issue where route strings need to be localized.

[2020-07-08 21:40] RaiderII opened #14998 "TS error when using with Router: Property 'push' does not exist on type 'typeof Router'"
I have the following code where `Router` works just fine

`index.tsx`

[code]
`NavBar.tsx`

[code]

but if I try to use it on my `NavBar` component I get the following TS error on `Router.push`: `Property 'push' does not exist on type 'typeof Router'.ts(2339)`

does anyone know what might be causing it?

[2020-07-08 22:02] #14998 closed

[2020-07-09 00:28] pkellner opened #15002 "In simple NextJS project building on my mac and codesandbox, Getting worry-some warning"
# Bug report

Getting this warning making me feel like I'm building a time-bomb.

warning next > chokidar@2.1.8: Chokidar 2 will break on node v14+. Upgrade to
chokidar 3 with 15x less dependencies.
warning next > mkdirp@0.5.3: Legacy versions of mkdirp are no longer supported
. Please update to mkdirp 1.x. (Note that the API surface has changed to use P
romises in 1.x.)
warning next > webpack > w

[2020-07-09 00:51] wesleyyee commented on #8400
wow thank you @GitVitor. saved me after a lot of head banging

[2020-07-09 00:58] Sphinxs commented on #9773
Is there a programmatically way to fix it, I have a devops flow that sometimes breaks cause of this error... if I do a empty commit again it works

[2020-07-09 01:39] mabadir commented on #12317
Yes, that's what I am doing. Actually running `vercel dev` throws an error. The only way I managed to run the app, is by building it on vercel.

[code]

[2020-07-09 01:52] jamesmosier commented on #15002
Looks like it is on the radar and [upgrading to webpack 5, which is underway, will resolve this](https://github.com/vercel/next.js/issues/13341).

Issue with other links with more info: https://github.com/vercel/next.js/issues/14670#issuecomment-651034901

[2020-07-09 02:18] mabadir commented on #12317
For those facing the same problem, I figured out that the problem is related to how I set up the project on Vercel itself.
I initially had both apps as one monolithic app, then I split it into two different apps. I kept using the same Vercel project ==> and this is the problem.
I had to go to Vercel and change the Project Setting framework to Other instead of Next.js.

<img width="781" alt="image"

[2020-07-09 02:27] mabadir commented on #12317
@lfades Hey Luis, I think the option is now working fine, and I got it fixed.
My only concern that if you have links on app `A` references app `B`, and I click any of those links. For a brief second I get a console error that it tries to preload the JS for this page, but it tries to load it under the static path of app `A`.

[2020-07-09 03:00] alexmachina opened #15003 "styled-component example: Styled components not updating styles on first browser render"
# Bug report

## Describe the bug
styled-components example config doesn't refresh the page styles with the state values computed at the browser right after rendering. It seems like a re-render(setState) that changes the props passed to the styled-components needs to happen at least once on the browser, otherwise the styles will stay the same from the SSR render, even when the props differ from th

[2020-07-09 03:12] ScriptedAlchemy commented on #6040
Next.js is a part of a commercial offering. We are asking for prioritization of experimental software in a commercial product 📦 That product has its own delivery roadmap that we are, effectively, disrupting.

Based on my own inspections of the source. Full module-federation support would require one async boundary be installed within the next server and next client entrypoints, before React is ini

[2020-07-09 04:21] #14964 closed

[2020-07-09 04:26] prince3339 commented on #14935
@timneutkens  Not only sass map. You can reproduce it with:
$black: black;
:root {
--#{$black}: #{$black};

It results like below:
--#000: #000;

[2020-07-09 06:43] georgiosd commented on #8670
`res.setHeader('set-cookie', [...cookies])` seems to work for me on 9.x

[2020-07-09 08:02] BramDecuypere commented on #9130
We currently decided not to localize our URL's although not perfect, it's not worth for us spending more time on these issues. **What we do now though (for blogs at least), is have them come from our CMS and store the alternate links of the blogs inside the page as well. So we know there is always a link we can refer too.**

Maybe that might help, we could also do that for the other pages, now tha

[2020-07-09 09:33] 178518 opened #15011 "There are some problems under IE11 When I Use Custom App pages/_app.jsx"
# Bug report

## Describe the bug

When i use Custom App(pages/_app.jsx) Build an isomorphic application，It doesn't work very well in IE11，It prompts me that Symbol is undefined。But I imported polyfill.min.js globally in _document.jsx。

I tried with-polyfills、corejs、transform-runtime，But it didn’t solve my problem。

If i don't use Custom App，and only use custom document，It will run well。

I hope y

[2020-07-09 09:39] remi2j commented on #14964
Thanks for the patch. Just to confirm, it wasn't included in the latest canary (v30), right?

[2020-07-09 09:55] jojonarte commented on #10227
sure

[2020-07-09 10:10] CallmeHongmaybe commented on #11742
I was having the same kind of error:
`Module not found: Can't resolve '../../../components/Trends' in '/vercel/3e42d29f/pages/country/[category]' `

But I don't know what I actually did wrong here, even though I'm pretty sure I used correct casing for the component file.

[2020-07-09 10:35] goszczynskip commented on #10298
Root cause was that one of nextjs dependencies wasn't declaring chalk in it's package.json. I see they've added it so my comment is obsolete now. But thanks for detailed explanation, I've done just as you said. It's temporary fix but works for me.

[2020-07-09 10:47] #15011 closed

[2020-07-09 10:50] #15003 closed

[2020-07-09 10:51] timneutkens commented on #15002
Closing as duplicate of #14670

[2020-07-09 10:51] #15002 closed

[2020-07-09 11:39] #14688 closed

[2020-07-09 13:03] dminkovsky commented on #8034
[code]

"this can be changed"? What does that mean? How can it be changed?

In my case, My Next.js app is part of a Typescript References group, so `noEmit` must be `false` even in non-referenced packages. So every time I build my Next project, this flag is switched and I have to manually switch it back to make references happy again.

Is there some way to avoid this?

[2020-07-09 13:37] fahimermo commented on #11186
@cbonaco1 Can you see what fixed your issue?

[2020-07-09 14:14] aasili-shoprunner commented on #12772
Is @STEVEOO6 solution the only way around this? It's pretty crazy to me that `NODE_ENV=development npm run start` would create a production build regardless of the `NODE_ENV` being set and regardless of the `.env` defined in the app.

[2020-07-09 14:20] lakshay-shoprunner commented on #12772
https://github.com/vercel/next.js/discussions/12077

[2020-07-09 15:00] #14910 closed

[2020-07-09 15:51] songyule commented on #7322
reference： https://github.com/vercel/next.js/tree/canary/examples/with-styled-components
Hi @timneutkens.
I just configured file _.babelrc_ to work. so I have a question, What is the effect of adding  **sheet.getStyleElement()** in __document.jsx_

[2020-07-09 15:52] #14901 closed

[2020-07-09 16:11] revskill10 commented on #14942
How about `getStaticProps` for `api` ? I'd like to have static `sitemap.xml` to be rendered at `/api/sitemap.xml` but don't know how to rendered it statically.

[2020-07-09 16:59] cbonaco1 commented on #11186
@fahimermo it's hard to say since a few months have passed since I reported the issue. I'm not a huge fan of "it's suddenly working now" as a resolution, but I am also no longer actively working on the project so it's difficult to pinpoint it to something.

[2020-07-09 18:04] Icehunter opened #15023 "useRouter has inconsistent results depending on getInitialProps"
# Bug report

## Describe the bug

Using a query url flag to change layout render options; it should function without having to use getInitialProps.

## To Reproduce

https://codesandbox.io/s/goofy-williams-ru4nv

Append to base URL in the sandbox demo: `/test?inapp=1`

- In _app.jsx make sure getInitialProps is commented out.
- AppStateProvider logs a message and the content of message will be

[

[2020-07-09 18:25] beautyfree opened #15025 "Empty `theme` of styled-components"
# Bug report

`theme` is empty with SSR of dynamic route (for example `[jobAlias].tsx`)

## Expected behavior

`theme` in styled component should be available with all properties

## System information

[code]

[2020-07-09 18:46] sfhemstreet commented on #15025
Try adding a .babelrc file with
[code]
and a styled.d.ts file with
[code]

[2020-07-09 19:07] beautyfree commented on #15025
`"preprocess": false` doesn't help
the rest of the code I already have

[2020-07-09 19:14] dotlouis commented on #14059
Relevant discussion: https://github.com/vercel/next.js/discussions/11209

[2020-07-09 19:30] vukers opened #15026 "Build fails when using CSS grid-column shorthand syntax"
# Bug report

## Describe the bug

`next build` fails with error:
[code]
if any of the CSS contains the following valid rule:
[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Add offending style to any css file (global or module).
2. Run `next build`
4. See error

## Expected behavior

Builds successfully.

## System information

- OS: mac

[2020-07-09 19:38] DiscoveryFEE commented on #5354
The "hate" was due to deadline stress. 😉

I'm still trying to understand this. If I only wanted to evaluate a condition within the _build_ environment, I totally get that the variable `process.env.NODE_ENV` would be replaced with its value during the build. But when NextJS is rendering a page, there is no `window` object on the server. When the same code runs in a browser, there _is_ a `window` ob

[2020-07-09 19:44] DiscoveryFEE commented on #5354
Sorry, the "hate" was due to deadline pressure. 😉

According to `next-code-elimination` above, the hasWindow() function DOES NOT get replaced. It stays in source and gets rendered at runtime like I would expect.

This code block is what I tested:

[code]

This is the result:

[code]

[2020-07-09 20:03] DiscoveryFEE commented on #5354
@y0n3r `if (!hasWindow()) { ... }` won't get touched according to the next-code-elimination site (https://next-code-elimination.now.sh/)

[2020-07-09 20:04] DiscoveryFEE commented on #5354
@timneutkens thank you for the info and that link!!!

[2020-07-09 20:46] beautyfree commented on #15025
this helped me resolve my problem https://github.com/styled-components/styled-components/issues/2379#issuecomment-588002942

[2020-07-09 20:46] #15025 closed

[2020-07-09 21:25] #14059 closed

[2020-07-09 21:34] vlatkodrljin commented on #11644
[code]

When I use Link from 'next/link' to navigate to a page which has this getServerSideProps with custom res.statusCode set, page is fully refreshed. Does anybody also have that issue?

[2020-07-09 21:53] byte-artisan opened #15030 "amp validor wrongly report use of resizable atribute at amp-iframe element"
# Bug report
The amp validator doesn't allow the use of the boolean resizable attribute at amp-iframe, yet the atribute can be used according to the official [documentation ](https://amp.dev/documentation/components/amp-iframe/), with no restrictions.

## Describe the bug
Build fail with the error:
the attribute 'resizable' in tag 'amp-iframe' is set to the invalid value 'true'.  https://amp.dev/d

[2020-07-09 21:56] Timer opened #15031 "`getStaticProps` should not be able to fetch same-app API endpoints in development"
# Feature request

Next.js should make an attempt to block requests to same-app API endpoints (i.e. localhost) from `getStaticProps` during `next dev` since they'll fail when `next build` is run.

I'm not sure if this is even possible!

## Describe the solution you'd like

For the following code, we should throw an error somehow:

[code]

[2020-07-09 23:23] Dannymx opened #15033 "with-iron-session example fetch function is not defined"
# Bug report

## Describe the bug

I was trying the `with-iron-session` example from the canary branch, I remember a couple days ago it was working as expected, today I tried it again but now I was getting the following error:

Response:
[code]
Error:
[code]

I also then installed `"isomorphic-unfetch": "^3.0.0",` and imported the `fetch` function where it's required and the example  worked again

[2020-07-09 23:39] zyzski commented on #9992
seems like this may be happening in my app even when the dynamic part is in the middle of a route `users/[id]/analytics` -> `users/[id]/settings`

thanks for posting a workaround

[2020-07-10 00:53] laugharn commented on #15033
This can be solved by bumping the version of next, since fetch is polyfilled by default starting with 9.4. The example package.json should be updated with a PR.

[2020-07-10 01:11] Timer commented on #13215
OP issue should be fixed on `next@canary`. Thanks!

[2020-07-10 01:11] #13215 closed

[2020-07-10 01:14] Timer commented on #14930
It seems it's necessary to do this:
[code]

Still discussing in this thread:
https://github.com/pillarjs/path-to-regexp/issues/228

[2020-07-10 01:29] #14902 closed

[2020-07-10 01:36] kmturley commented on #4998
Just tested this out and it doesn't work for assets for me.

I installed the latest canary:
`npm install next@9.4.5-canary.31`

next.config.js
[code]

All pages and links load correctly:
http://localhost:3000/example/posts/pre-rendering
http://localhost:3000/example/posts/ssg-ssr
http://localhost:3000/example/posts/pre-rendering

But images, favicons etc are not mapped:
http://localhost:3000/favic

[2020-07-10 02:59] Timer commented on #15023
Hey! Thanks for opening this report. This is the expected behavior because the query string cannot be known at static export time, so it is provided to you on the client after hydration.

To fix this, you can use `getStaticProps` and `getStaticPaths`.

However, I do see one bug here that's:
[code]

We'll get that fixed ASAP, thanks!

[2020-07-10 03:16] #15023 closed

[2020-07-10 03:19] Icehunter commented on #15023
I won't actually have this variable at build time either. It's a query param that can be set once on any page and basically removes the header/footer.

Basically the site has regular views, but when loaded from a native mobile app in a WebView, it shouldn't have the navigation bar.

With that said, should I just leave getInitialProps in app.jsx so the context provider can use the query param?

[2020-07-10 03:38] Icehunter commented on #15023
Sorry @Timer Should I ask that outside the issue?

[2020-07-10 04:55] nativ3-io commented on #14942
I solved it by just creating `./src/sitemap.xml.js`, and using `getServerSideProps` and `globby`

[code]

[2020-07-10 05:36] Timer commented on #15023
Yes, please open a discussion because there's various ways to handle this in user-code!

[2020-07-10 05:38] ali-ehsan commented on #5421
The `max_old_space_size` is not a solution. Why does node take up so much memory?

[2020-07-10 06:20] pie6k commented on #7322
well, that's reasonable. Server doesn't know if you have dark mode enabled.

Solution could be to save 'last mode' on server somehow and make this hook using this value on server side

[2020-07-10 07:04] p-chan commented on #12343
I'm having trouble with this bug too.
I changed the next-css to built-in css and it happened.
It works in development mode, but it doesn't work in production mode when CSR is used. In SSR, there is no problem.

[2020-07-10 07:12] kambala3000 commented on #12343
I use next 9.4.4 with built-in css support and I have this problem too, it happens in production.

[2020-07-10 07:49] peetjvv commented on #4998
Thank you for looking into this on your end as well @kmturley . Glad to know it's not just me.
@timneutkens , should we reopen this issue / create a new issue for this bug?

[2020-07-10 07:49] DaveKnifeman commented on #5702
@comxd Clearing the browser data worked for me! Thanks!

[2020-07-10 09:55] davscro commented on #11992
Hi @daveskybet,

Yes, you were right. I do not need assetPrefix only basePath is enough and nginx location directive. Now everything works perfectly.

Thanks for the hint. 👍🏼

[2020-07-10 09:58] farhantahir commented on #7923
@edshav It is possible with TS, TS now supports extending interface from an object type. I used following and TS didn't gave any error to me.

[code]

[2020-07-10 12:03] dmudro opened #15055 "Public folder name clash"
# Feature request

## Is your feature request related to a problem? Please describe.

I want to be able to use [GitLab pages](https://docs.gitlab.com/ee/user/project/pages/) in my Next.js project. GitLab looks the `public` folder specifically:

_GitLab always deploys your website from a very specific folder called public in your repository. When you create a new project in GitLab, a repository bec

[2020-07-10 12:35] SrShark commented on #6115
@myhendry You needs to contain the static methods in the HOC.

[code]

Here is the official docs from React:
https://reactjs.org/docs/higher-order-components.html#static-methods-must-be-copied-over

[2020-07-10 12:48] apoorvmote commented on #10549
Why nobody is talking about SASS support for amp? I looked through all open and closed issues. I mean there are no open issues even entertaining idea of SASS with amp. I understand it will take a while to get implemented. I would just like to have glimmer of hope that one day I will get built in SASS/SCSS support for amp.

[2020-07-10 13:13] filipesmedeiros commented on #10549
The problem is not SASS I think, it's importing CSS in general with AMP. I think AMP itself is very restrictive on how CSS in handled, so importing is weird with AMP. Best way to do it is with styled-components, emotion, etc, I think

[2020-07-10 14:27] shriharip opened #15058 "useRouter results in type error:Object not function error"
# Bug report

## Describe the bug

Just run basic next app. Use the useRouter from next/router inside the functional component and it will result in type error stating useRouter is not a function

## To Reproduce

Please check this link https://codesandbox.io/s/mutable-silence-37zx1?file=/pages/index.js

1. standard hello world example, just the functional component using the useRouter from next/r

[2020-07-10 14:36] bulentala commented on #10549
I did not have the opportunity to try it, but I saw something about it at this address.

https://www.npmjs.com/package/purify-amp-css

[2020-07-10 15:14] jamesmosier commented on #15058
This appears to be a codesandbox issue. Everywhere else this works as expected.

[2020-07-10 15:36] #15058 closed

[2020-07-10 15:37] shriharip commented on #15058
Yes. Sorry for that.

[2020-07-10 16:00] apoorvmote commented on #10549
@filipesmedeiros I disagree. Main objective of AMP is not to make it easy for development but its customer experience. Also there is no custom javascript allowed in general. And they have really good reason for it. You can use it for edge cases.

@bulentala you can do all that with postCSS. Because either way you need to support for all flavour of browser e.g. mozella, safari, chrome. They all hav

[2020-07-10 16:08] Timer commented on #14757
👀 was there a PR opened for this? I thought there was.

[2020-07-10 16:11] thiras opened #15060 "create-next-app could not locate with-material-ui example"
# Bug report

"with-material-ui" example cannot be found by create-next-app

## To Reproduce

1. `npx create-next-app`
2. Select `Example from the Next.js repo`
3. Search for "with-material-ui" and select it.
4. See error

## Expected behavior

Initiate the `with-material-ui` example repository.

## Screenshots

[code]
## System information

- OS: Ubuntu 18.04 up-to-date
- Version of Next.js: Late

[2020-07-10 16:12] Timer commented on #14888
This bug does not reproduce:
![image](https://user-images.githubusercontent.com/616428/87175448-a8c40600-c2a6-11ea-8a72-c17a7648ef73.png)

This was probably due to @timneutkens's webpack 5 changes.

[2020-07-10 16:18] Janpot commented on #14757
I started on it, but it got stuck on deciding how basepath+redirect should work: https://github.com/vercel/next.js/pull/14781
There's also a corner case with the root path that I need to look into.

[2020-07-10 16:42] cristiand391 commented on #15060
It has been moved to this repo: https://github.com/mui-org/material-ui/tree/next/examples/nextjs

Try with `npx create-next-app --example https://github.com/mui-org/material-ui/tree/next/examples/nextjs`.

[2020-07-10 16:50] Timer opened #15063 "Potentially uncaught error in Next.js router"
As caught by @Janpot:

https://github.com/vercel/next.js/blob/fed7e093f5c7c8bb3ef338a84fc13a46737926f8/packages/next/next-server/lib/router/router.ts#L538

[2020-07-10 17:18] jensmeindertsma commented on #15033
I'll open one!

[2020-07-10 17:19] Janpot commented on #15063
Should be easy to convert this whole `change` method to `async`/`await`. That should solve it

[2020-07-10 17:28] #15060 closed

[2020-07-10 17:36] jamesmosier commented on #14834
[Per the docs](https://nextjs.org/docs/api-reference/next/head):

Unfortunately your use case is not currently supported.

[2020-07-10 17:36] #14834 closed

[2020-07-10 17:39] jensmeindertsma commented on #15033
There you go! Easy fix.

[2020-07-10 17:40] jamesmosier commented on #14776
Could you create a repository showing the failing case? I'm having trouble reproducing this based on your current steps.

[2020-07-10 17:42] jamesmosier commented on #14747
Feel free to investigate and fix 😄

[2020-07-10 17:46] jamesmosier commented on #14228
You can reach out to enterprise@vercel.com to dive into what it would take to support it!

[2020-07-10 17:46] #14228 closed

[2020-07-10 17:48] AssisrMatheus commented on #14747
Oh I completely forgot about this issue. My guess is that this issue is related to sentry itself. As it looks like the client side stack trace is encoded and the file paths are not, so it's not matching: https://github.com/getsentry/sentry/issues/19713

[2020-07-10 17:48] #14747 closed

[2020-07-10 17:49] jamesmosier commented on #14076
Feel free to investigate and open up a PR 😄

[2020-07-10 17:52] jamesmosier commented on #14068
hi @leordev I wasn't able to reproduce. are you still experiencing issues?

[2020-07-10 19:31] tiivik commented on #12409
Thanks for sharing this, was able to work around this issue with that method.

[2020-07-10 20:02] adriancooney commented on #12753
I worked around this by manually disabling `hasReactRefresh` in the Webpack config in `next.config.js`:

[code]

[2020-07-10 21:19] Izhaki commented on #13197
Looking forward for the PR to get merged - we had to do all sorts of bespoke setups to get this working.

Although this will not be required anymore once the PR is merged, thought to share another alternative solution:

[code]

Wasn't tested exhaustively.

[2020-07-10 22:02] doverradio opened #15069 "Next.js Site Not Loading After Server Reinstall"
I had a next.js site which I had made it all the way to a production, but, due to an unexpected issue, had to reinstall the Ubuntu server. Before this event, I did git push successfully. I separately backed up the .env and next.config.js. After reinstalling Ubuntu 18, I did git clone, put back the .env, put back the next.config.js, reinstalled NGINX and activated it... basically everything possibl

[2020-07-10 23:29] Timer opened #15071 "Confusing Next.js build output"
# Bug report

## Describe the bug

[code]

## To Reproduce

Introduce a syntax error and refresh the page.

[2020-07-10 23:34] keyworks commented on #14997
I just noticed the issue was changed from 'Bug' to 'Feature request'. But the documentation already seems to imply it is already a feature.

Does the documentation need to be updated?

[2020-07-10 23:48] GrefriT commented on #12343
Same problem on next 9.4.4. Only in production mode

[2020-07-11 00:33] lfades opened #15073 "[Docs] Add example for `headers`"
Documentation for custom routes was released some days ago (https://github.com/vercel/next.js/pull/14887). We should also add one example for every documentation page to better show how it works.

The following three examples are required:

- [x] `rewrites` For [docs/api-reference/next.config.js/rewrites.md](https://github.com/vercel/next.js/blob/canary/docs/api-reference/next.config.js/rewrites.m

[2020-07-11 02:37] ianstormtaylor commented on #9341
Just got stumped by this again when needing to work with Next.js again after some time away from it. I'd recommend adding something to main routing the docs about `passHref`, because using custom components seems like the 90% use case for React apps IMO. Very unintuitive and easy to miss that it's broken.

[2020-07-11 06:18] acha5066 commented on #10061
Running version: 9.3.5

One way this seems to continually happen is if I delete a file that is imported somewhere in my app, without removing the import statement. Doesn't seem to happen every time but that is the most common scenario where it has occurred. After that it usually gets stuck in the compiling stage.

I'm running the vercel dev command by the way.

[2020-07-11 06:50] mrgoonie opened #15075 "Build-in CSS/SASS Module should work like Styled JSX"
# Feature request
A build-in CSS (SASS) Module behavior should be the same with Styled JSX

## Is your feature request related to a problem? Please describe.

Naming a class should be the same as a default behavior (in the quote) instead of referring every class name to an object key.

Let's say we have a module css and a module js file as below, this is the current setup:

[code]

[code]

## Desc

[2020-07-11 10:29] beautyfree opened #15079 "Can i make dynamic page with prefix?"
I want to have dynamic pages /projectname and /@username
If i create files [projectAlias].tsx and @[username].tsx it doesnt' work?

What about availability of such an approach?

[2020-07-11 10:36] eknowles commented on #13405
I would add to this, I had the same issue with stripe webhooks.
My solution was to reverse the process as described here https://github.com/stripe/stripe-node#testing-webhook-signing
`JSON.stringify(payload, null, 2)`.

[2020-07-11 12:11] sambarrowclough commented on #14711
Hi. Is okay if I tackle this?

[2020-07-11 13:18] zebapy commented on #6184
`npm install` didn't solve this for me but `npm rebuild` seems to have fixed it (also on windows)

[2020-07-11 15:28] VictorAssis opened #15082 "Dynamic routes fire routeChangeComplete when load from server"
# Bug report

## Describe the bug

When a page with dynamic route loads from the server, the event routeChangeComplete is fired like if the page was changed in frontend.

The problem is if the event was used to register page view in Google Analytics, registering the visit twice.

## To Reproduce

1. In the _app.js add the useEffect:
[code]
2. Create a page with dynamic routes like `[slug].tsx`
3.

[2020-07-11 15:30] ericgoe commented on #5108
@kenberkeley

This doesn't work for me.
I get the following error at runtime when executing `next`. I'm using `next v9.3.3`.

[code]

ps: I've also set `"experimentalDecorators": true`

Do you or anybody else have an idea ?

[2020-07-11 15:32] unluberkay commented on #1013
any news?

[2020-07-11 15:37] leordev commented on #14068
I can't reproduce it anymore too... not sure what happened since the versions didn't change... maybe a bug in webpack? 👻

[2020-07-11 15:37] #14068 closed

[2020-07-11 16:19] nikoferro opened #15083 "Typescript boilerplate not typechecking while on dev"
# Bug report

## Describe the bug

Starting a project from scratch and adding a component with other types of props than the specified, wont throw a warning

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create a project using `npx create-next-app --example with-typescript projectname`
2. Define the following component

[code]

3. Instance comp

[2020-07-11 16:20] jagyas opened #15084 "req.cookies is not able to parse cookie when multiple cookies are present"
# Bug report

## Describe the bug

I tried to access cookie in next.js server side **api** by using **req.cookies** helper but when multiple cookies are present in request header **req.cookies** is giving all the cookies and all cookies are in encrypted form.

I tried to print the **req.cookies** result in console log and below is the output:
`{"_gid":"GA1.2.595108422.1594311424","gitpod-user":"lo

[2020-07-11 17:32] kir931028 opened #15085 "Plz update with-mobx-lite SSR."
# Feature request

## Is your feature request related to a problem? Please describe.

I want with-mobx-lite SSR. but, I didnt find SSR example.

## Describe the solution you'd like

with-mobx-lite SSR example.

[2020-07-11 23:37] owen26 commented on #7322
This issue has always been a headache to me with all of my next.js projects. I thought I've done all workarounds provided on the internet but the same error pops up occasionally on different places.

The tricky thing is it seems not always happening, but when you start thinking you've finally nailed it then it came back again from nowhere...

My latest discovery is that under some circumstances, t

[2020-07-12 01:32] jamesmosier commented on #15085
Could you elaborate a bit more? The [with-mobx-react-lite](https://github.com/vercel/next.js/tree/canary/examples/with-mobx-react-lite) example works with server rendering.

Additionally, feel free to contribute a PR for this!

[2020-07-12 01:33] #15084 closed

[2020-07-12 01:55] jamesmosier commented on #15075
This would fall outside what Next.js would handle internally, as the CSS module support is not built by Next and instead is just integrated into the Next framework.

I think you'd want to request this feature from the css-loader project.

[2020-07-12 03:50] rodolphoasb commented on #7322
I'm having this error but I don't use styled components. I'm using Tailwind CSS. Somebody has any thoughts about how can I solve this?

Basically what I'm doing is a conditional rendering of the navbar based on the logged status of a user. To se if the user is logged in I'm checking if there is specific cookie set.

[2020-07-12 07:12] omar-dulaimi opened #15091 "Shallow routing while using withRouter not working"
# Bug report

## Describe the bug

Using withRouter as a wrapper, shallow routing doesn't seem to be working.

## To Reproduce

I currently use this method to change the route:
[code]
And couldn't figure where to put the shallow flag. So I switched to the method mentioned in the docs:
`this.props.router.push('/post/[pid]?hello=123', '/post/abc?hello=123', { shallow: true })`

So I did that manuall

[2020-07-12 07:53] kir931028 commented on #15085
I dont found using getServerSidePorps example.
Can you provide getServerSidePorps example?

[2020-07-12 08:13] jordymeow opened #15093 "Hapi example doesn't handle static files in /public"
Hi,

The latest versions of NextJS uses the public directory to serve static files, and we can access those static files directly in the root URL. However, it used to be different (with the static directory).

The example for running a custom server with HapiJS is not working anymore and need an update. I haven't yet found the solution, otherwise I would have shared it, but hopefully that will be

[2020-07-12 08:32] manishprivet opened #15094 "process is not defined in components"
# Bug report

## process is not defined error in components

I tried accessing some environment variables for Redirect URIs and Client Ids for OAuth in my application, but it's showing error as `ReferenceError: process is not defined` even though all variables are prefixed with `NEXT_PUBLIC_`.
However, when I console log the destructured env variables in the components, it's logging fine, which me

[2020-07-12 08:47] manishprivet commented on #15094
## Update

The problem seems to be in destructuring part, as doing `process.env.NEXT_PUBLIC_FACEBOOK_CLIENT_ID` works fine, but destructuring it from `process.env` throws this error.

[2020-07-12 08:48] manishprivet commented on #15094
The problem seems to be in destructuring part, as doing `process.env.NEXT_PUBLIC_FACEBOOK_CLIENT_ID` works fine, but destructuring it from `process.env` throws this error.

[2020-07-12 08:54] manishprivet commented on #15094
Using it like this
[code]
works.

[2020-07-12 08:56] balazsorban44 commented on #15094
Destructuring won't work since the nature of how it is implemented in webpack. You can find information about this in the docs https://nextjs.org/docs/api-reference/next.config.js/environment-variables

[2020-07-12 10:23] manishprivet commented on #15094
Oops, I missed that.
It's just that when I do `console.log(typeof process.env)` it returns an object.

Closing this issue now.

[2020-07-12 10:23] #15094 closed

[2020-07-12 12:21] timneutkens commented on #5354
next-code-elimination only shows how the elimination of getServerSideProps/getStaticProps works and doesn't include the other Babel plugin optimizations we run including the one that optimizes `typeof window`. In your example the code would become `return true` in the compiled output for the browser bundles and `return false` in the Node.js bundles

[2020-07-12 12:23] nlimpag07 commented on #2208
I just experience this issue today and for 2 hours it is bugging me.. after reading this thread I rechecked my code and I'm sure all is correct.. Then suddenly I noticed my href is href={`/courses/[courseId]`} as={`/courses/${course.id}` while my page in Directory is courses/[CourseId].js. Be careful with the naming guys NextJS won't let you escape with mistyping.. heheh

[2020-07-12 12:45] lvzegeng opened #15097 "The loaded file does not meet expectations"
By default, the hash value is added to the folder. I now want to fix the folder name and add the hash value after the file name to cache the unchanged files. I configure it this way, but always load _app.js, not packaged _ app[contenthash].js, how should I configure it?

默认打包在文件夹添加hash值，我现在想固定文件夹名称，在文件名称后面加hash值，以缓存没变化的文件，我这样配置，但是总加载_app.js，而不是打包出来的_app[contenthash].js，我还应该怎么配置？

![image](https://

[2020-07-12 14:18] rokinsky commented on #11356
I'm having the same issue with Storyblok. @timneutkens, is it possible to add `sameSite` option in `res.setPreviewData`?
[next/next-server/server/api-utils.ts#L467](https://github.com/vercel/next.js/blob/canary/packages/next/next-server/server/api-utils.ts#L467)
[next/next-server/server/api-utils.ts#L476](https://github.com/vercel/next.js/blob/canary/packages/next/next-server/server/api-utils.ts#L

[2020-07-12 15:00] timneutkens commented on #4998
You have to prefix images manually. You can get the basePath using

[code]

[2020-07-12 15:10] timneutkens commented on #10549
Sass/CSS handling is the same so this issue covers both already. It's marked good first issue so feel free to send a PR

[2020-07-12 15:33] #14888 closed

[2020-07-12 16:40] Bleuzen opened #15099 "Router: wait for page unmount before changing route and query parameters"
# Feature request

## Is your feature request related to a problem? Please describe.

When using animation libraries to make page transitions, the router doesn't wait for the exit animation to finish before changing the route and query parameters. The creates the problem that the old page during fade-out is re-rendered again with the route and query parameters of the new page it is transitioning t

[2020-07-12 16:41] cargallo commented on #8158
Hi timneutkens, could you check the detailed infromation? Thanks in advance!

[2020-07-12 17:05] Bleuzen opened #15100 "Link: wait for page unmount before scrolling to the top"
# Feature request

## Is your feature request related to a problem? Please describe.

When using page transitions, the page scrolls to the top when clicking on a Link while the exit animation of the old page is still running.

## Describe the solution you'd like

Let Link wait for the old component to fully unmount before scrolling to the top.

## Describe alternatives you've considered

When usin

[2020-07-12 17:47] mattiasw commented on #14221
Is this the long-term solution, to update the example and not to fix the offending code? It would be really nice to be able to use a CSP during development that is as close as possible to the one running in production.

[2020-07-12 18:20] timneutkens commented on #8158
The out directory has to be hosted through a web server, we currently do not support using the html standalone

[2020-07-12 18:27] timneutkens commented on #14221
The reason eval is used in development is because of eval source maps, which are the fastest to generate and fastest to rebuild during development. They're also the most accurate: https://webpack.js.org/configuration/devtool/

[2020-07-12 18:52] kylemh commented on #13092
I'm not even sure what to do as a workaround for this.

I think an easy solution would be to automatically apply page-specific identifiers as part of the css modules hash generation, but the ability to configure that isn't exposed.

In my app today, I guess I could pass the `style` attribute and inline my styles, but I have a heavy reliance on PostCSS stuff that can't be leveraged in my JS.

I tri

[2020-07-12 18:53] timneutkens commented on #15097
Those changes should not be made. Try using `next@canary` which has hashed filenames by default.

[2020-07-12 18:54] #15085 closed

[2020-07-12 18:56] #15075 closed

[2020-07-12 18:56] lfades opened #15102 "Add a `.gitignore` to examples missing it."
Many examples don't currently include a `.gitignore`, which is fine when using `create-next-app`, but it will cause the example to not have it by other means, like a manual download or using the deploy to Vercel button.

The `.gitignore` file should look like this:

[code]

If the example has other files that need to be ignored, feel free to add them. And if the example already has a `.gitignore`

[2020-07-12 19:00] timneutkens commented on #15083
See #13027, the particular type checking caused *massive* delays in compilation, in order to remedy this we disabled built-in type checking in development as this generally happens inside of editors like vscode automatically already and that gives a better context to solve issues.

We might reintroduce it in the future as a separate process that watches files and emits errors outside of the main c

[2020-07-12 19:00] #15083 closed

[2020-07-12 19:03] #14782 closed

[2020-07-12 19:04] #15079 closed

[2020-07-12 19:08] timneutkens commented on #14997
Yeah the docs have to be updated, Next.js will only check types at `next build` as the typescript checker webpack plugin massively slowed down compilation.

[2020-07-12 19:13] cargallo commented on #8158
I don't understand therefore what is _next export_ command for? And it's just easy to implement it has no sense at all.

[2020-07-12 19:13] timneutkens opened #15104 "Investigate file watcher stopping after error happens in webpack compilation"
Opened a PR here: https://github.com/paulmillr/chokidar/pull/1018

[2020-07-12 19:13] #15104 closed

[2020-07-12 19:16] rokinsky commented on #11356
btw here is a workaround:
[code]

[2020-07-12 19:19] #15069 closed

[2020-07-12 19:24] #14776 closed

[2020-07-12 19:24] #15033 closed

[2020-07-12 19:27] timneutkens commented on #15055
Pretty much all frameworks (including ones written in PHP) use `public` in this way so it sounds more like a gitlab bug

[2020-07-12 19:27] #15055 closed

[2020-07-12 19:31] timneutkens commented on #15031
We can do it using the new babel plugin warning system, however that will only get us as far as `fetch()` usage inside of getStaticProps/getServerSideProps and not if it's being done in another file. However that might be fine for now 👍

[2020-07-12 19:43] naseef0 opened #15106 "My Next.js app getting slow and having memory heap issue on developing."
# Bug report

When i'm running my next.js app, its getting very slow and sometimes  having memory heap issue on running.

## System information

- OS: macOS, Windows
- Browser: chrome
- Version of Next.js: v9.3.6
- Version of Node.js: v14.5.0

My package.json
[code]

[code]

[2020-07-12 19:55] #15106 closed

[2020-07-12 20:12] jamesmosier commented on #15091
This works as follows:

`server.js`
[code]

usage on a page
[code]

[2020-07-12 20:13] amorriscode commented on #15102
I'd be willing to tackle this over the course of the next week!

[2020-07-12 22:46] Ackuq commented on #4838
Ah, should've removed that, just a boolean that is set to true on release builds and false on development builds. To not activate ads when im development.

[2020-07-12 23:05] dennisroethig commented on #11231
Any updates on this? Looks like it got pushed back?

[2020-07-12 23:44] beautyfree opened #15108 "Make dynamic page with prefix"
I want to have dynamic pages /projectname and /@username
If i create files `[projectAlias].tsx` and `@[username].tsx` it doesnt' work

What about availability of such an approach?

[2020-07-13 00:35] websocket98765 opened #15109 "Preact example's URL routing fails to route initial page load"
# Bug report

When using Next.js' [Preact example](https://github.com/vercel/next.js/tree/canary/examples/using-preact), and after building and exporting for a production build, URL routing during the initial page load does not work properly. I.e. visiting `/about` loads the homepage template, not the `about` template.

Note:
- This problem does **not** occur when running in **dev** mode--i.e. vis

[2020-07-13 00:37] github0013 commented on #4998
https://nextjs.org/docs/api-reference/next.config.js/cdn-support-with-asset-prefix

Now, I come to realize there are multiple ways to link to files in /public. e.g. `<img/>` `<link/>` ...
Is this why we have to manually specify the basePath to the each?

If there was a component like below available, I think it would save time and reduce confusions for a lot of people?

[code]

[2020-07-13 01:03] jamesmosier commented on #15108
Duplicate of https://github.com/vercel/next.js/discussions/15079

[2020-07-13 01:03] #15108 closed

[2020-07-13 01:09] github0013 commented on #4998
I really don't think this is appropriate, but this is what I meant.

[code]

[code]

[2020-07-13 02:04] apoorvmote commented on #10549
@timneutkens You are the guy I was trying to reach out. I have few related questions. Please let me know if I should create new issue for any of them.

**Is it better to write amp pages with `jsx` or is it better with `.md`?**

The benefit of using `.md` is the front matter(date or cateogory) that I can use to sort blog post and generate blog list pages.

**How would someone go about automatically

[2020-07-13 06:27] omar-dulaimi commented on #15091
Hello @jamesmosier
I tried what you mentioned above:

[code]

But I'm getting 404s, the page is not there now!

[2020-07-13 06:54] agreatfool opened #15111 "getServerSideProps shall not crash when there is no return sentence"
# Bug report

## Describe the bug

getServerSideProps crash the page when there no return sentence given.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create a new page: "pages/mytest.tsx"
2. Define a getServerSideProps function, and leave it empty
3. Open the page: http://localhost:8080/mytest
4. See error

## Expected behavior

[code]

## S

[2020-07-13 10:25] stovmascript commented on #14076
I dug around before opening the issue and it could be resolved quite easily. `@sentry/webpack-plugin` allows specifying which files to include, but it would be great if somebody could point me to a reliable source of build output files.

I looked into the `build-manifest.json` that gets generated and it could be useful, but the problem is that this file is generated after files are built and `@sen

[2020-07-13 10:35] stovmascript commented on #14076
@jamesmosier That, or if there was somebody on the team or some doc that could help me understand the `.next` dir structure. I tried to observe how the dir changes across builds with build id, etc. I have some idea, but that still isn't helping me grab all needed build files (cached from previous builds & new ones).

[2020-07-13 10:52] Multiply commented on #14076
Not entirely related, but I had a similar issue when deploying to firebase, that all previous builds would be included.
I simply cleaned up the next directory before building and deploying production builds.

[2020-07-13 11:17] stovmascript commented on #14076
@Multiply Yeah, that fixes the duplicity problem, but it's a workaround which potentially creates other problems. I would like to avoid it and definitely not something I would introduce to the `with-sentry` example. There's a whole RFC #6009 dedicated to build dir cleaning and it's still open.

[2020-07-13 11:18] muhammadsammy opened #15116 "Build fails when using absolute imports with TS & PnP"
# Bug report

## Describe the bug
Next build fails due to webpack errors when using absolute imports in typescript & yarn PnP
## To Reproduce

open a new terminal in this [demo](https://codesandbox.io/s/nostalgic-lake-9wdfq?file=/tsconfig.json)
and run `yarn build`. the build will fail and give this error:

[code]

## Expected behavior
to build without webpack errors

## System information

- OS:

[2020-07-13 12:40] vavra7 commented on #11629
I am also looking for this functionality which is not working in Next.js. Please fix it!

[2020-07-13 12:41] mlbonniec commented on #5214
I don't know if it will work for everyone, but I have found this solution that works for me. Put it in the `_app.js` file.

[code]

[2020-07-13 12:51] Timer commented on #14711
Sure!

[2020-07-13 12:53] rokinsky opened #15118 "The server crashes when getServerSideProps finishes executing"
# Bug report

## Describe the bug

I'm trying to use `next/link` to refer to a route that uses `getServerSideProps` for redirection, and the server crashes when `getServerSideProps` finishes executing.

## To Reproduce

Repository: [next.js-bug-redirect](https://github.com/rokinsky/next.js-bug-redirect)
Steps to reproduce the behavior:

1. Go to [http://localhost:3000](http://localhost:3000)
2. Cl

[2020-07-13 13:02] jamesmosier commented on #15091
Could you provide a full repository showing this issue?

I have the exact same file structure and am able to get this to work.

`pages/search/[type]/[cat]/[area].js`

[code]

`server.js`

[code]

url `http://localhost:3000/search/foo/bar/baz` and clicking button shallow routes and add a `?counter=10` query string suffix.

[2020-07-13 13:21] Timer commented on #5214
@mlbonniec I've minimized your comment because it causes severe performance regressions in a Next.js app.

The latest `next@canary` version fixes this bug, please upgrade instead!

[2020-07-13 13:24] omar-dulaimi commented on #15091
I'll try to prepare a separate repo tonight, hopefully.
But just to make sure that your repro is the same as mine, do you have a search folder in pages dir with index.js?
/pages/search/index.js
This means there are no [type].js nor [cat].js nor [area].js pages.

also the params aren't in english, they're in arabic, so decoding/encoding might has something to do with that.

Anyways. I'll try to pre

[2020-07-13 13:25] sebastianbenz commented on #15030
This is a common issue with how JSX renders boolean attributes. You have to define the attribute as `resizable=""`.

[2020-07-13 13:36] mlbonniec commented on #5214
No problem!
However, I updated earlier, and that did not solve the problem.
With `npm update`

[2020-07-13 13:38] simnalamburt opened #15120 "Next.js cannot run in Yarn v2 PnP mode with "enableGlobalCache" enabled"
# Bug report

## Describe the bug
Next.js cannot run in Yarn v2 PnP mode with "enableGlobalCache" enabled.

## To Reproduce
Execute following shell script.
[code]

## Expected behavior
Next.js server should be started.

## Screenshots
![image](https://user-images.githubusercontent.com/4435445/87919692-22cc6a00-cab3-11ea-8bf3-0d0cd7007ef5.png)

[code]

## System information
- OS: Debian GNU/Linux 1

[2020-07-13 13:40] Timer commented on #5214
If the latest Next.js canary doesn't fix the bug for you, please open a new issue so we can take a look. 🙏

[2020-07-13 13:42] handrei opened #15121 "head from app/head doesn't work in [slug].js page"
# Bug report

## Describe the bug

i added the Head component in my [slug].js page (pages/blog/[slug].js) and when i click inspect element on the page i can see the head attributes correctly, but when i view the source of the page the <head> elements are not there.
in the page index.js (pages/blog/index.js) i can see the correct head attributes

I posted on discussions too, but i think it's a bug.

[2020-07-13 14:42] #14691 closed

[2020-07-13 14:53] martinezguillaume opened #15128 "[Production] Internal Server Error ..."
I've got Internal Server Error only on production...
4 hours that I'm on this problem without success
<img width="518" alt="image" src="https://user-images.githubusercontent.com/17292331/87318723-a371f000-c520-11ea-8cbd-855c21374aef.png">

I don't want you to fix my problem, but I just need advice on how to fix it. I literally have no logs, no errors, no code, just this error displayed.

Naturally

[2020-07-13 14:55] #15128 closed

[2020-07-13 14:59] #14757 closed

[2020-07-13 15:01] tanmaylaud commented on #14944
Hi, shouldn't this issue be raised in the vercel/next-site repo?
Please guide

[2020-07-13 15:03] martinezguillaume opened #15129 "Internal Server Error only production"
# Bug report

## Describe the bug

When I'm trying to access my app, it display "Internal Server Error"
## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Push a version of the app
2. Wait for vercel to build it
3. Access the app with url from vercel

## Expected behavior

My app working like in my local env

## Screenshots

<img width="487" alt="im

[2020-07-13 15:03] tanmaylaud commented on #15102
Hi I have an [open PR](https://github.com/vercel/next.js/pull/15127) for this issue

[2020-07-13 15:25] handrei commented on #15121
actually i had to fetch data through getInitialProps, it's not a bug. sorry folks

[2020-07-13 15:25] #15121 closed

[2020-07-13 15:56] amorriscode commented on #15102
@tanmaylaud I noticed you didn't do all the examples. Do you intend to continue the work on this ticket?

[2020-07-13 16:14] ImSolitude commented on #9178
Any updates on this? It's 2020 we need to pass data between components.

[2020-07-13 16:14] tanmaylaud commented on #15102
@amorriscode I considered the examples with vercel deployment. Is gitignore required for all the examples?

[2020-07-13 16:16] amorriscode commented on #15102
@tanmaylaud based on my interpretation of the issue, I think they should all have them. If someone manually downloads the examples, for instance, they will want the `.gitignore`.

I had claimed this issue but you got to it before me. If you want to keep going with the rest of the examples that would probably be useful!

[2020-07-13 16:18] jamesmosier commented on #15129
Closing in favor of https://github.com/vercel/next.js/discussions/15128

[2020-07-13 16:18] #15129 closed

[2020-07-13 16:19] tanmaylaud commented on #15102
@amorriscode , sorry for claiming it. I saw that you already are an active contributor to nextjs whereas I am trying to start.
Regarding the issue, I thought I should wait for a reviewer to comment/clarify before I add gitignore to all files. I have done the bare minimum for now.

[2020-07-13 16:24] hect1c commented on #13015
Hey,

Maybe I misunderstand but with `9.4.4` when using

- `next start` or `next build` - environment will be production
- `next dev` - environment will be development

In order to override these environments I can pass in `NODE_ENV=development npm run build` and this should set the environment to development?

My issue is even in doing this next will still load the `.env.` and `.env.production` f

[2020-07-13 16:39] tanmaylaud commented on #14703
would adding the 'babel-plugin-react-require' plugin solve this issue?

[2020-07-13 17:15] balazsorban44 commented on #14703
Would this mean that `pages` now should import `React` as well? What is the rational behind this? I am just curious.

[2020-07-13 17:19] balazsorban44 opened #15132 "Add a security policy"
Keep seeing this on the [Security](https://github.com/vercel/next.js/security) tab. Is this relevant for Next.js? Does this exist somewhere else?

![image](https://user-images.githubusercontent.com/18369201/87333617-a7f8d180-c53d-11ea-9857-9f58bc622960.png)

[2020-07-13 17:25] timneutkens commented on #15132
Added the file given that we've seen a bunch of random PRs that were incorrect for this. https://github.com/vercel/next.js/commit/101f91ba1aa31ab7b61727ff84aa32d70be13108

[2020-07-13 17:25] #15132 closed

[2020-07-13 17:30] timneutkens commented on #14703
It would not

Only when React is used it should be imported. Using JSX is fine without importing:

[code]

When doing a `useState` however it's non-standard that this currently works:

[code]

It should be written as:

[code]

[2020-07-13 17:52] Timer opened #15133 "Create a new blog starter example with simple layout"
Per [this Twitter thread](https://twitter.com/dan_abramov/status/1281712350488387584), we should create a new blog template that is simple in nature:

- [Index with simple top-down layout + post page + Markdown](https://twitter.com/dan_abramov/status/1281716760731947009)
- [SEO](https://twitter.com/dan_abramov/status/1281716811529158656)
- [RSS](https://twitter.com/dan_abramov/status/1281717501949

[2020-07-13 18:01] #13024 closed

[2020-07-13 18:02] tanmaylaud commented on #14703
@timneutkens Thanks for the explanation :) ! I have raised a [PR](https://github.com/vercel/next.js/pull/15134) .
Please review

[2020-07-13 18:21] SalahAdDin commented on #10475
it didn't work for me.

[2020-07-13 18:30] Timer commented on #15102
Every single example needs the `.gitignore` added or merged with its existing one!

[2020-07-13 18:40] andrasna commented on #10475
@SalahAdDin

Hi,

https://github.com/andrasna/hello-next-css-module-issue

I have unarchived and updated the repository with the issue, where I think the above code is a solution.

[2020-07-13 18:42] tanmaylaud commented on #15102
@Timer  I will add/merge gitignore to all the examples. Regarding the script,  could you please provide more clarity about the requirement? Thanks!

[2020-07-13 19:05] lazlojuly commented on #5702
I had similar issue and running `rm -rf .next/cache` has resolved it.

[2020-07-13 19:21] mattiasw commented on #14221
I understand, you had to make a choice there. And I guess it isn't that bad, there are already other 'unsafe-*' rules needed in development mode. Also, I just have to say I really like Next.js and together with Vercel it's such a great product and service.

[2020-07-13 20:15] bengrunfeld commented on #8251
I implemented the solution by @jkjustjoshing, and while it works great locally, it does not work when I deploy the app to Vercel.

I get the following error:

[code]

My code:

[code]

Here's a link to the file: https://github.com/bengrunfeld/trend-viewer/blob/master/pages/api/graphql-data.js

[2020-07-13 20:20] borispoehland commented on #8251
@bengrunfeld yes, your solution only works locally.

I had a similar problem lately (wanted to read a file in a API route and the solution was easier than expected.

Try `path.resolve('./public/ts-data.csv')`

[2020-07-13 21:07] #14884 closed

[2020-07-13 21:17] timneutkens commented on #5702
Can you try latest Next.js, the dll plugin was removed

[2020-07-13 22:03] timneutkens commented on #11629
Feel free to fix it @vavra7

[2020-07-13 22:06] timneutkens commented on #15116
We already unshift the resolveplugin to be before the pnp plugin 🤔 https://github.com/vercel/next.js/blob/canary/packages/next/build/webpack-config.ts#L1011-L1013

Can you try next@canary just to be sure it wasn't fixed yet. If it still does not work feel free to investigate and apply a fix.

[2020-07-13 22:48] balazsorban44 commented on #14703
Thanks for the explanation @timneutkens! I saw this a while back: https://twitter.com/sebmarkbage/status/1250284377138802689

What's the take for Next.js here? Should we use
`import * as React from "react"` or `import React from "react`? Does it matter?

[2020-07-13 22:53] Timer commented on #14703
Next.js automatically injects the proper React import, but when you do need to write it manually, it should be:
[code]

[2020-07-13 23:43] rokinsky opened #15141 "HeadManager cannot handle null-component"
# Bug report

## Describe the bug

Application crashes when `next/head` gets `null`-component as a child.

## To Reproduce

Repository: [next.js-bug-head-null](https://github.com/rokinsky/next.js-bug-head-null)
Steps to reproduce the behavior:

1. Go to [http://localhost:3000](http://localhost:3000)
2. See error

## Expected behavior

Don't see the error.

## Screenshots

<img width="1009" alt="Sc

[2020-07-14 00:17] richyrb00 commented on #15118
Can you provide an example of how you are using Link in your project please?

[2020-07-14 00:20] rokinsky commented on #15118
Here is the example [next.js-bug-redirect/pages/about.js](https://github.com/rokinsky/next.js-bug-redirect/blob/master/pages/about.js)

[2020-07-14 03:04] srdjan commented on #14703
does it  inject the proper React import even if app uses preact & preact-compat?

[2020-07-14 03:28] maraisr opened #15142 "Rendering an error, doesnt have correct http codes"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

1. Clone the repo https://github.com/maraisr/nextjs-repro-repo
2. run `yarn`
3. run `yarn next dev`
4. inspect DevTools, and notice the document is 200 and not **404**

The same happens under a build/start.

## Expected behavior

Have the response be 404.

## System information

- OS: Windows
-

[2020-07-14 03:34] maraisr opened #15143 "Error's doesnt use my custom error page"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

1. Clone https://github.com/maraisr/nextjs-repro-repo/tree/error-repro
2. run `yarn`
3. run `yarn build`
4. run `yarn start`
5. inspect in devtools

## Expected behavior

Expect to see http 404, as well as my custom error page

## Screenshots

![image](https://user-images.githubusercontent.com/

[2020-07-14 03:52] BlakeBrown commented on #11001
I'm not sure if it's a duplicate of this issue, but I'm having the same problem on my project whenever I do

[code]

and the fetch fails. I'm also using sentry in my node server.

[2020-07-14 04:30] bengrunfeld commented on #8251
@borispoehland Thank you SO much!! Your solution worked beautifully!

[2020-07-14 04:33] borispoehland commented on #8251
@bengrunfeld no problem, I also found it out on coincidence (@BrunoBernardino ;)). It's the solution to everyone's problem here, I guess.

[2020-07-14 04:59] #12964 closed

[2020-07-14 06:09] jahlherapath opened #15147 "Preview mode breaking datocms-next-js-blog-demo"
# Bug report

## Describe the bug

Unhandled Runtime Error
Error: Failed to load static props

When navigating to blog post routes the following error is shown:

<img width="1070" alt="Error" src="https://user-images.githubusercontent.com/12905638/87390048-5a3aa280-c5eb-11ea-912e-010be3638e9c.png">

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1.

[2020-07-14 06:14] armspkt opened #15148 "Nextjs should have more options for trailing slash."
# Feature request

## Is your feature request related to a problem? Please describe.

Nuxtjs have several options to choose trailing slash. (undefined, true, false)
nuxt-community/nuxt-i18n#422

## Describe the solution you'd like

Nextjs should have more options for trailing slash.
If use `undefined` Nextjs should not redirect route when use URL that ends with a slash

trailingSlashes: true

/abc

[2020-07-14 06:50] bengrunfeld commented on #8251
Please note, you still need to set `next.config.js`. I removed it after I saw that @borispoehland's solution worked, and received a similar error.

I reset it to @jkjustjoshing's solution above and it worked.

[code]

[2020-07-14 06:53] borispoehland commented on #8251
Really? Maybe you're using the `PROJECT_ROOT` path at another point in the code, because in my project it works without it. How does the error look like?

[2020-07-14 08:23] rjvim commented on #6462
Hi,

Not sure if the issue reposted is the root cause of the issue we are facing.

We have multiple pages in a NextJS codebase, and whenever we try to navigate to a page by selecting a Link from the footer, the new page loads and page scrolls to top.

Our example is hosted here:

https://website-nextjs-git-develop.aham-learning.vercel.app/

Steps to reproduce:

1. Go to https://website-nextjs-git-

[2020-07-14 08:25] Gregoor commented on #13751
I'm observing the same problem, in my case also when `fallback: false`, [like @yl-flyer already said](https://github.com/vercel/next.js/issues/13751#issuecomment-646667249). It does seem to hinge on payload size, I'm looking at 15kb and ~5s load time. It's realtively swift in build mode.

I'm on Windows 10 and I also tried adding the `.next` folder to the Windows Defender exclusion list, which did

[2020-07-14 09:54] rokinsky commented on #15147
@jahlherapath, use the default null value:
[code]

[2020-07-14 09:56] mysticaltech opened #15152 "For Next.js 10.0 use Snowpack instead of Webpack as bundler"
# Feature request

## Is your feature request related to a problem? Please describe.

I am developing a small SPA with Next.js 9.4.4 and on my optimized Macbook Pro 2012 i5 processor with 8GB, it takes a few minutes to hot reload / fast refresh.

## A clear and concise description of what you want

I would love that the next major version of Next, i.e. 10.0 switches to a more modern bundler like *

[2020-07-14 09:56] omar-dulaimi commented on #15091
Hello @jamesmosier
You can find the repo here https://github.com/omar-dulaimi/nextjs-shallow-routing-repro
currently the search page won't render, you can find a comment on the server how I currently get it to render.

Please let me know if there's anything I could change.

[2020-07-14 11:54] onopko81 opened #15159 "delay next/Link"
# Feature request

How add a Route link a delay for page transitions?

[2020-07-14 12:05] #15159 closed

[2020-07-14 12:54] BernardA commented on #12079
Here's another example.

In the case of the package `pdf-viewer-reactjs` its dependencies require CSS that need to be imported from `_app.js` as well.

This is bloating the CSS for the whole app and I am not sure about conflicts at this stage.

import 'react-image-crop/dist/ReactCrop.css';
import '../../node_modules/material-design-icons/iconfont/material-icons.css';
import '../../node_modules/bul

[2020-07-14 13:33] Janpot commented on #15148
@armspkt Can you expand a bit more on _why_ you need this behavior (other than "just because nuxt does it this way"). Is there a specific use-case you're trying to solve? What's the practical use of having different urls point to the same content? Is there a benefit to having that behavior?

[2020-07-14 13:56] jamesmosier commented on #15091
This should work:

[code]

[code]

[2020-07-14 14:14] jamesmosier commented on #15143
Hi @maraisr. The `pages/_error.js` won't display your 404 page, only `pages/404.js` will.

https://nextjs.org/docs/advanced-features/custom-error-page#customizing-the-404-page

[2020-07-14 14:19] jamesmosier commented on #15142
Hi @maraisr. Running the application via `yarn dev` or `yarn build` and `yarn start` I was able to see a 404 status code in my network tab.

![Screen Shot 2020-07-14 at 10 17 15 AM](https://user-images.githubusercontent.com/2854919/87436604-4414ee00-c5bb-11ea-8a8c-43f912191533.png)

[2020-07-14 14:48] armspkt commented on #15148
@Janpot  I need this feature because many users on my website access via both (with a slash and without a slash) and I think it good to have those options that we don't have to redirect for the better user experience and I saw many sites work that way too.

There is no specific use-case for Nextjs yet but There is a case about i18n localePath for Nuxtjs. https://github.com/nuxt/nuxt.js/pull/6331

[2020-07-14 14:50] omarryhan commented on #5214
Quick question, how will projects with `next export` handle this change? By creating an entirely new page for each page for the trailing slash? I don't think an exported app can specify HTTP redirects (or rewrites).

[2020-07-14 14:57] Timer opened #15162 "[internal] Our Clubhouse sync should automatically create milestones"
Right now, we have to manually create GitHub milestones to match iterations in Clubhouse. Our syncing utility should automate this process.

[2020-07-14 15:18] nikosantis commented on #15148
Yeah, i think we need that, idk if this solutions is the best, but, need a solution.
How nextjs do this https://nextjs.org/showcase and https://nextjs.org/showcase/?

[2020-07-14 15:25] omar-dulaimi commented on #15091
Hey @jamesmosier
This seems promising, like it rendered the page it actually added a query param without reloading the page.
But I noticed that it does nothing with consequent clicks, could you share your working repo please?

[code]

[2020-07-14 15:30] timneutkens commented on #15142
https://github.com/maraisr/nextjs-repro-repo/blob/main/pages/index.js#L11

The `Error` component is just a React component that renders something based on properties. It does not have any magic behavior.

We're planning to add something that allows for returning "this is a 404" to getStaticProps/getServerSideProps though which should cover your use case.

[2020-07-14 15:33] jamesmosier commented on #15091
My working test case just displays what you mentioned originally in this issue that shallow rendering works with a custom server and dynamic routes. It:

which should resolve this issue.

---

As for your other issue, I'm not sure what that tests case is supposes to do.

[code]

would be

[code]

which would be different `counter` values

[2020-07-14 15:33] #15091 closed

[2020-07-14 15:34] timneutkens commented on #15143
https://github.com/maraisr/nextjs-repro-repo/blob/error-repro/pages/index.js#L2

`next/error` is the default error component from Next.js as documented here: https://nextjs.org/docs/advanced-features/custom-error-page#reusing-the-built-in-error-page so this doesn't sound like a bug.

[2020-07-14 15:35] timneutkens commented on #15152
This sounds unexpected and unusual. It's likely changing bundlers will not solve the issue in your application. Can you share a reproduction?

[2020-07-14 15:49] Coyas commented on #9768
I have this problem too
i try this:
`webpack: (config, { isServer }) => {
        // Fixes npm packages that depend on `fs` module
        if (!isServer) {
            config.node = {
                fs: "empty", // when i put this line i get the 'net' error
                net: "empty" // then i put the 'net' line
            };
        }

        return config;
    }`

but @jrusso1020 my console

[2020-07-14 16:09] ljosberinn commented on #15152
Can confirm this is very most likely a setup issue. I'm occasionally developing on a Late 2011 MacBook Pro and hot reloading takes a few seconds on a medium sized project.

[2020-07-14 16:14] musme commented on #10157
Same problem occurs for me.
Any update about this bug?

[2020-07-14 16:17] #12753 closed

[2020-07-14 16:48] Timer commented on #15152
On macOS, a Fast Refresh should never really exceed 2-3 seconds with the p90 being under 1s.

If you have a project which reliably reproduces this taking longer than this threshold, please share it so we can fix it.

[2020-07-14 16:50] mysticaltech commented on #15152
@timneutkens Yes, "minutes" might be an exaggeration, but not far from it. And yes, I do have a custom setting in next.config.js that maybe could be causing this issue, @Timer brought my attention to this. Also, I am using one central React Context for my app, no idea if that could be contributing too. I wish I could share the source but it's a work related project, I'm not allowed. Going to close

[2020-07-14 16:50] #15152 closed

[2020-07-14 16:52] Timer commented on #15147
Closing as we confirmed the latest version of this example correctly sets the default `preview` value. Please ensure you have the latest version of the template.

![image](https://user-images.githubusercontent.com/616428/87453678-dd9aca80-c5d0-11ea-934c-2f2c3186aae4.png)

[2020-07-14 16:52] #15147 closed

[2020-07-14 16:56] Timer commented on #5214
Projects that use `next export` will have all of their `<Link />`s on the client-side correctly updated, but the server-side redirect will require manual configuration. Projects deployed with the serverless target or `next start` will configure these settings automatically.

[2020-07-14 16:58] Timer commented on #15143
Closing this per comment above from @timneutkens

[2020-07-14 16:58] #15143 closed

[2020-07-14 16:59] rokinsky commented on #15147
@Timer btw, it is possible to add in the future a default value (`null` or `false`) of `preview` in the next.js core?

[2020-07-14 18:02] sambarrowclough commented on #14711
What do you think about this?

![image](https://user-images.githubusercontent.com/4313694/87459058-c7a5fd80-c602-11ea-9935-108892b073e9.png)

The annoying bit would be that the `/packages` dir will be included in the module trace, giving it some extra fluff. I could blindly replace all lines that contain `packages` but it doesn't seem like a good idea in case someone uses this structure :/

The ti

[2020-07-14 18:16] sebqq commented on #15148
Check their website's next.config.js file. I think that you will find your answer there.

[2020-07-14 18:58] #14923 closed

[2020-07-14 19:18] Timer commented on #14225
Can no longer reproduce

[2020-07-14 19:18] #14225 closed

[2020-07-14 19:24] nikosantis commented on #15148
Now in "next": "^9.4.5-canary.32" have a solution by default :)

[2020-07-14 20:25] ljosberinn opened #15170 "[next/head] Add helmet-like .peek() support"
# Feature request

## Is your feature request related to a problem? Please describe.

I'm trying to test a component that does nothing but syncing some state into <Head> through next/head. However, [next/head is actually a null component](https://github.com/vercel/next.js/blob/canary/packages/next/next-server/lib/side-effect.tsx#L58) that just emits changes internally.
Sadly I haven't found any, n

[2020-07-15 00:13] lfades opened #15173 "[Next.js site] Tagged docs aren't working"
Raised in feedback, the following page is a 404 but that shouldn't be the case: https://nextjs.org/docs/tag/v9.2.2/basic-features/pages.

It's used in https://nextjs.org/docs/basic-features/pages for the top notification.

I'm currently working on the fix as I write the issue 🕵️

[2020-07-15 01:09] ernaneluis commented on #160
How About TBT? If you add google analytics it will slower your speed score

[2020-07-15 01:10] ijjk opened #15175 "Update shared lambdas bail-out to check actual vercel.json"
In the `@vercel/next` builder we need to update the `routes` bail-out to only bail when the actual `now.json` or `vercel.json` being used for that build contains legacy `routes`. Currently we are attempting to find-up a `now.json` or `vercel.json` file and bailing if the first contains legacy `routes` which isn't accurate

x-ref: https://github.com/vercel/vercel/pull/4791#issuecomment-655066806

[2020-07-15 01:52] asiraky opened #15176 "Static page generation is run in a new memory space for each page"
# Bug report

## Describe the bug

Static page generation is run in a new memory space for each page.

## To Reproduce

1. Create a file, say foo.js in the root of a new project and export a var from the file
2. Create two pages, index.js and other.js
3. Import the var into each and log and increment it in the getStaticProps function of both pages e.g.

`console.log(`${inc++}`)`

run `yarn build`

[2020-07-15 01:59] #15173 closed

[2020-07-15 02:56] lfades commented on #14944
@tanmaylaud We are tracking anything that's Next.js related, including website changes, in this repo.

[2020-07-15 06:00] pjshu commented on #7322
Hello, have you found a solution?

[2020-07-15 06:31] omar-dulaimi commented on #15091
It works great now.
Thanks a lot for your time and effort.

[2020-07-15 06:37] robintom commented on #15073
Hey @lfades could you assign this to me? I can work on this! :)

[2020-07-15 07:23] srcnalt commented on #9662
Needed this feature just now.

[2020-07-15 08:05] JerryGreen commented on #160
That’s because of their recommendation of placing the script before the content. If you place it under the content, the score won’t go down.

I personally don’t see real benefits of placing the script first. If the page load was somehow broken, and HTML didn’t fully load somehow and it was aborted, then I might not count it as a hit, so whatever.

[2020-07-15 08:32] Yankovsky commented on #11639
Same problem here.
routeChangeComplete event is called because this evaluates to true https://github.com/vercel/next.js/blob/a0c683208abdce84934061f6efd2b90de52d99b9/packages/next/client/index.js#L103
Additional condition was probably firstly introduced here https://github.com/vercel/next.js/commit/45832e44219b281eab5569374f3b2cb2f651e755
I don't know what `hydrateProps.__N_SSG` means, probably **

[2020-07-15 09:09] Yankovsky commented on #11639
I've tried local development and static export and in both cases __N_SSG was true.

[2020-07-15 09:17] Yankovsky commented on #11639
Similar problem https://github.com/vercel/next.js/issues/15082

[2020-07-15 09:30] abhijithvijayan commented on #4182
@wesbos Any way you can provide the hooks version?

I was hoping to connect to a socket server and respond to its callbacks through the page root so that page transitions doesn't loose the connection to the server.

I have problems trying to get the `useContext()` hook to `dispatch` the `useReducer()` actions when the callbacks are called. Since the `useContext()` hook returns `undefined` when not

[2020-07-15 09:40] Yankovsky commented on #11639
Maybe someone from core team can explain what was intended here.

[2020-07-15 11:12] Howard86 commented on #12343
This happens to our production env on next 9.4.4, and somehow we found a solution.

As using `node-sass`, we try various options from the doc, and solve this by adding a new `sassOptions` to `next.config.js`

[code]

Reference: [outputStyle](https://github.com/sass/node-sass#outputstyle)

After checking css classname after `next build`, this seems to be working.
Hope this helps!

[2020-07-15 11:35] adelnizamutdinov commented on #12086
does anybody know any workarounds?

[2020-07-15 12:13] Unsfer commented on #15148
Something wrong going on when using `basePath` and `trailingSlash: true`:
Next/Link removes trailing slash when going to "/"
And in some old browsers got error (which was not in `9.4.5-canary.27`)
[code]
Using `9.4.5-canary.34`

[2020-07-15 12:36] b4l4zs commented on #12593
So what is the recommended way of creating custom builds?

[2020-07-15 12:55] alexandre-marchina commented on #12343
Thanks for sharing @Howard86, tried but it didn't work here. We are using next-css and next-sass on our builds also (not the native CSS support from next, and having the same problem described in this issue), and the duplication occurs in classes coming from pure css, which not come from sass styles

[2020-07-15 13:05] seagyn commented on #5214
@Timer once this reaches a release, would we still need to use the experimental option?

[2020-07-15 13:30] timneutkens commented on #5214
No, would just be available as-is.

[2020-07-15 14:15] Janpot opened #15188 "Routing error on canary when using asset prefix"
# Bug report

## Describe the bug

See https://github.com/vercel/next.js/pull/14827#discussion_r454992627

Happens when an absolute `assetPath` is configured and on links to pages that have `getStaticProps`

[2020-07-15 14:38] timneutkens commented on #15176
This is correct behavior given that Next.js automatically parallelizes the generation of pages to multiple workers.

[2020-07-15 14:38] #15176 closed

[2020-07-15 15:14] asiraky commented on #15176
Are you going to actually engage with the use case? It’s obvious this is intentional, but not obvious that you’ve thought through the actual usefulness of doing it that way.

[2020-07-15 16:50] Timer opened #15194 "Investigate edge-case with `basePath` and `trailingSlash: true`:"
Something wrong going on when using `basePath` and `trailingSlash: true`:
Next/Link removes trailing slash when going to "/"
And in some old browsers got error (which was not in `9.4.5-canary.27`)
[code]
Using `9.4.5-canary.34`

_Originally posted by @Unsfer in https://github.com/vercel/next.js/issues/15148#issuecomment-658731907_

[2020-07-15 16:58] jescalan opened #15195 "[@next/storybook] - incorrectly imported css throws an inaccurate error"
# Bug report

## Describe the bug

When a css file is imported in the wrong way, rather than displaying an error that describes the problem, the error `can't resolve 'error-loader'` is displayed, with no stack trace.

## To Reproduce

1. I made [this repo](https://github.com/jescalan/next-storybook-preset-testing) for use with duplication
2. Add a normal `.css` file and import it within one of the

[2020-07-15 17:07] jescalan opened #15196 "[@next/storybook] _app.js must be imported within stories for global css to apply"
# Bug report

## Describe the bug

When using the `@next/storybook` preset, use of global css is possible, but it must be added to `_app.js` within the `pages` folder, and then the story utilizing the global css must import `_app.js`. While this works, it's an unusual and unintuitive, so I would assume the aim would be to eliminate this pattern.

## To Reproduce

1. Check out [this reproduction re

[2020-07-15 17:19] jescalan opened #15197 "[@next/storybook] .mdx stories don't appear to work"
# Bug report

## Describe the bug

While I have been able to get `.story.js` files working nicely, any attempt to use a `.mdx` file as a story has resulted in a warning logged like:

[code]

And while storybook does still start, the `.mdx` story does not appear. I feel like the error message/trace is probably inaccurate similar to the [css error](https://github.com/vercel/next.js/issues/15195) as

[2020-07-15 17:24] Janpot commented on #15148
@Unsfer Do you know, by any chance, which browser throws this error?

[2020-07-15 17:25] Janpot commented on #15194
I guess it [must be this](https://github.com/vercel/next.js/blob/3369d67bd1bc495462c587ec12c346c3172b0359/packages/next/next-server/lib/router/utils/search-params-to-url-query.ts#L7). `.entries` is supposed to be [supported](https://github.com/lifaon74/url-polyfill/blob/934e95b11e7e6668f61804ef46046860cc7f850e/README.md#windowurlsearchparams) though.

[2020-07-15 17:47] timneutkens commented on #15176
The recommended way to preserve state is not in a variable as that makes it impossible to parallelize. Instead you can write to the filesystem or use a local database like sqlite

[2020-07-15 17:49] Unsfer commented on #15148
It was some old version of FF, which doesn't sopport Object.entries. I think it's supposed to be polyfilled

[2020-07-15 18:05] Unsfer commented on #15194
There are two different issues:
1) Going to root "/" by Next/Link should preserve trailing slash when `trailingSlash: true`
2) Some old FF have native `URLSearchParams` an instance of which does not have `.entries`

[2020-07-15 18:26] danawoodman commented on #15118
Related to #14890 and #12409  I believe

[2020-07-15 21:10] ScriptedAlchemy commented on #15152
Webpack 5 build times are blisteringly fast. Rebuilds that took 10 seconds before now take a fraction of that. Even fresh builds are significantly faster with its new caching mechanisms.

[2020-07-15 21:29] beqramo opened #15203 "[Bug:Styled-Component] change child style from parent"
my jsx looks like:
[code]
and my style:

[code]

I have already tried accessing by span id  ``#span``and ``& > span`` but don't work, I can't style child element from parent

[2020-07-15 21:40] coler-j commented on #7479
None of these solutions worked for me. The "correct" workflow is also described here in the Jest docs: https://jestjs.io/docs/en/es6-class-mocks#spying-on-methods-of-our-class

However, I can see the mock, but it does not record calls...

[2020-07-15 21:44] mysticaltech commented on #15152
If that's the case, if Webpack is evolving in that direction (which would be the smart thing to do), then this issue is indeed irrelevant. Thanks for pointing that out @ScriptedAlchemy.

[2020-07-15 22:49] ScriptedAlchemy commented on #15152
No worries. Ive been using WP5 for a few months now and rebuild times are way Better. I believe we saw sub-second rebuilds in dev mode if memory serves

[2020-07-15 23:37] oyeanuj opened #15206 "Consistent scroll behavior between Router.push and Link"
# Feature request

## Is your feature request related to a problem? Please describe.

I noticed that when using `Link`, you can specify option to prevent scrolling to top but the same option seems missing when using `Router.push`: https://nextjs.org/docs/api-reference/next/router#routerpush

(Additionally, when using browser back buttons, the same scroll behavior happens)

## Describe the solution

[2020-07-16 00:27] lOscarl commented on #11669
Hello, I’ve been following this issue and it seems that this issue has ben fixed form Node.js [](https://github.com/nodejs/node/pull/34145) were is has been add the support for sensitive headers

[2020-07-16 03:51] ryardley commented on #6062
We need to test against React warnings in CI in e2e tests. Either being able to do this or having a way to disable lazy compilation in `npm run dev` would help greatly.

[2020-07-16 04:07] mattcarlotta commented on #15203
This is unrelated to next. You have a several syntax errors...

## Issue 1
You have  invalid CSS syntax: `soan: { ... }` or `span: { ... }`. Instead you can select `<span>` with just `span { ... }` (selector `#span` refers to an `id`, which doesn't exist as an attribute to your `<span>` and while `& > span` is a valid selector, the reason it didn't work is related to issue 2 mentioned below).

An

[2020-07-16 04:43] david718 commented on #10902
how to make apollo server for subscription in client??

[2020-07-16 07:30] beqramo commented on #15203
@mattcarlotta
sorry,  I had so many typo errors, but your explanation is perfect, thank you

[2020-07-16 07:30] #15203 closed

[2020-07-16 08:02] denniske commented on #4707
After adding `@babel/plugin-proposal-decorators` and `@babel/plugin-proposal-class-properties`, I still got the following error:

**Solved by installing and using** `babel-plugin-transform-typescript-metadata`:

`npm install --dev --save babel-plugin-transform-typescript-metadata`

.babelrc
[code]

.tsconfig
[code]

[2020-07-16 08:06] figmentc opened #15212 "Inconsistent css import order between Prod and Dev for Material-UI"
# Bug report

## Describe the bug

When using Material-UI components, the import order the related css within output html is not static. This outputs inconsistent styling due to inconsistent overrides.

Affected by three different situations
1. Whether we are using destructuring to import the components or direct imports

[code]
have different results than
[code]

2. The order of direct imports
[c

[2020-07-16 08:07] AnimeshKPandey commented on #6817
Progressive server side render might be one solution to this.

[Link to the example project ](https://github.com/vercel/next.js/tree/canary/examples/progressive-render)

[code]

[2020-07-16 09:04] tomByrer opened #15215 "CNA "Pick a template" is not responsive in Win10+MINGW64"
[code]
Win10, , npm 6.14.5, yarn 1.22.1
"Git Bash" (the shell that ships with stand-alone Git, I think 'MINGW64' terminal client)

2 bugs:

- The arrow keys won't work to select 'Example from Next.js repo'
- Seems to hang at `Installing react, react-dom, and next using yarn..`.

No problems using the Bash in the terminal that ships with VSCode.

I don't remember having to use arrow keys with other

[2020-07-16 09:28] tomByrer opened #15216 "split using-preact with preact-compat/react?"
When I `npx create-next-app` & chose `using-preact` I assumed I'd be running in 'pure Preact', *without* any other libs.

I can't tell by the tiny example app if I'm in pure-Preact mode or React-compat mode.

Suggestions:

* educate devs that `preact-compat/react` is needed for Next.js to run
* let devs know that you can mix & match React & Preact code
* Ask to install `preact-compat` if it is rea

[2020-07-16 10:20] qiwang97 commented on #1013
any solutions now?

[2020-07-16 10:26] jokester opened #15218 "strange error message when build fails in a non-writable directory"
# Bug report

## Describe the bug

When I attempt to build app in a non-writable directory (run `next build` as non-root user, on source files owned by `root`), the build fails with the following strange error message:

[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. find a pc with `docker`
2. clone `https://github.com/jokester/typescript

[2020-07-16 11:29] szpasztor opened #15219 "Broken Demo: FaunaDB Graphql Example"
# Bug report

The `live demo` for example is broken: https://github.com/vercel/next.js/tree/canary/examples/with-graphql-faunadb

## To Reproduce

Visit: https://with-graphql-faunadb.now.sh/
Site returns 403

## Expected behavior

Functioning faunadb demo.

## Screenshots

![image](https://user-images.githubusercontent.com/8398290/87666116-55e7c400-c768-11ea-8f63-1b375bf257eb.png)

[2020-07-16 13:15] puneetverma05 commented on #9573
Having the Same issue but with payment gateway script that opens a pop-up that adds some tags and removes when we close the popup

[2020-07-16 13:27] muhammadsammy commented on #15116
Just tried the canary version and it's working :smile:. Thank you @timneutkens!

[2020-07-16 13:29] jamesmosier commented on #15215
Hi @tomByrer. Next v9.4.5 will actually be removing the example picker: https://github.com/vercel/next.js/pull/13977

Therefore this will not be a problem going forward.

Alternatively you can choose your example by doing `npx create-next-app --example blog-starter my-blog-starter-app` (for example)

[2020-07-16 14:02] fabinppk commented on #12343
@Howard86 @alexandre-marchina

I am using built-in CSS from next, next 9.4.4 and your solution also dont worked to me. :cry:

[2020-07-16 14:08] #15116 closed

[2020-07-16 14:21] Timer commented on #15215
Closing per above!

[2020-07-16 14:21] #15215 closed

[2020-07-16 14:36] #11702 closed

[2020-07-16 14:48] Timer opened #15225 "Remove dotenv from all Next.js examples"
We should remove the dotenv dependency from all Next.js examples (in favor of Next.js environment support):

- [x] examples/auth0
- [x] examples/with-firebase/package.json
- [ ] examples/with-reason-relay/package.json
- [x] examples/with-stripe-typescript/package.json
- [ ] examples/with-universal-configuration-build-time/package.json

[2020-07-16 14:51] Timer commented on #15194
Please confirm this is fixed in `next@^9.4.5-canary.36` @Unsfer!

[2020-07-16 14:52] #15102 closed

[2020-07-16 14:52] moop-moop commented on #12212
We encountered this bug even when the slug was to be a part of a directory path too:
/pages/[language]/[section]/[slug-with-html]/index.js
Goal URI being: /en/kids/some-article-title.html/
We use an external paid health content API where the article identifier IDs actually have the ".html" in them.
so "some-article-title.html" is the actual API lookup ID.

[2020-07-16 14:54] Timer commented on #11702
This should be fixed in `next@^9.4.5-canary.36`!

[2020-07-16 14:55] moop-moop commented on #12212
Our work-a-round was to use this:
/pages/[language]/[section]/[slug-with-html]/article.js
and then use URL rewriting in the backend so the link included in the content connect.

[2020-07-16 15:02] tomByrer commented on #15215
Thanks for the info!

@Timer  Might want to keep open until v9.4.5 is released, so others who get the error understand the fix action.

[2020-07-16 15:33] Nishikoh commented on #15225
Hi, I'd like to tackle that.

[2020-07-16 16:05] Unsfer commented on #15194
I confirm that both issues have been fixed.
But for this old Firefox new problem appeared, when clicking on Next/Link an entire page freezes completely and after some time prompt that a script on this page may be busy, or it may have stopped responding.
I have not yet figured out the reason that caused this. Although it doesn't seems to be related to `basePath` or `trailingSlash`

[2020-07-16 16:29] lfades opened #15229 "[Docs] Explain the difference between optional catch all routes and catch all routes"
Our docs on catch all routes say the following:

Which is very similar to what catch all routes already does, with the difference that it now includes the `/post` example, which is the only difference, but we aren't clear on that.

Todo: update the section to be clear about the difference so you don't have to figure it out yourself.

[2020-07-16 16:30] cargallo commented on #8158
For otherones wich have this same issue just do this manual step after doing
`next build && next export`
edit the result html file and replace all "/_next/static" with "./_next/static" until they have the time and desire of fixing the issue

![image](https://user-images.githubusercontent.com/13320290/87697301-4e281f80-c768-11ea-9d61-ba433f237ed4.png)

[2020-07-16 17:18] Timer commented on #15194
Does it eventually "unfreeze" and navigate @Unsfer?

[2020-07-16 17:29] Unsfer commented on #15194
It happens right after click on any Link. Tried to wait a couple of minutes but nothing changed, not even link in browser navbar changed

[2020-07-16 17:40] Timer commented on #15225
All yours!

[2020-07-16 17:41] Timer commented on #15194
@Unsfer can you open a new issue with more details?

Specific firefox version, etc. I'll close this one since the original issue was fixed.

Did this occur on the current latest Next.js version? Or only canary?

[2020-07-16 17:41] #15194 closed

[2020-07-16 18:15] Unsfer opened #15232 "[canary|Link]: click on Link cause freeze of entire brouser on older Firefox"
# Bug report
_Originally posted by @Unsfer in https://github.com/vercel/next.js/issues/15194#issuecomment-659511013_

## Describe the bug

In the latest canary when clicking on Next/Link an entire page freezes completely and after some time prompt that a script on this page may be busy, or it may have stopped responding.
It happens right after click on any Link. Tried to wait a couple of minutes b

[2020-07-16 18:21] jaxoncreed opened #15233 "next/link will replace urls in query with "null""
# Bug report

## Describe the bug

When using the `next/link` component, passing an href with a url in the query string (for example `/pathname?id=http://example.com`) will replace `http://` with null (`/pathname?id=nullexample.com`).

## To Reproduce

Create the following link

[code]

When you click on the link, it will navigate to `https://mysite.com/pathname?id=nullexample.com`

## Expected be

[2020-07-16 18:35] Oikio commented on #6817
If I understood correctly it's not solving blinking issue and not an option for me, because I have to render server side, too.

[2020-07-16 20:16] Timer commented on #15232
This sounds to be a `core-js` bug that triggers an infinite loop. We probably need to report this upstream to https://github.com/zloirock/core-js.

[2020-07-16 20:39] #11789 closed

[2020-07-16 21:10] cargallo commented on #8158
**To automate the steps commented above:**

`yarn add --dev replace-in-files-cli`

Then, add this two scripts in your package.json

`"build-static": "next build && next export && npm run build-static-repair-index",`

`"build-static-repair-index": "replace-in-files --string \"/_next/static\" --replacement \"./_next/static\" out/index.html"`

Then just call

`npm run build-static`

**Explanation:**

[2020-07-16 22:13] Matelasse commented on #13767
@Timer any thoughts regarding this feature request? i love both next.js and vite, and i would love to be able to use them both

[2020-07-16 22:17] Janpot commented on #13767
@Matelasse Did you see https://github.com/vercel/next.js/issues/15152 ?

[2020-07-16 22:46] ctrlaltdylan commented on #5374
Anything feasible for functional components? @2b-dev's solution will work, but it seems like the router should be handling this, not manual string splitting and searching.

[2020-07-16 22:47] #15233 closed

[2020-07-16 22:48] timneutkens commented on #15116
Thanks for checking!

[2020-07-16 22:52] ctrlaltdylan commented on #5374
Leaving my solution until the bug is addressed:

[code]

[2020-07-16 23:10] Matelasse commented on #13767
@Janpot I hadn't seen that. Impressive and hopeful. Is there a way to experiment with wp5 before it's default in next?

[2020-07-17 01:21] amiralies opened #15244 "Respect basePath in amphtml link rel"
When using basePath in next config amphtml link rel doesn't respect basePath.
Note that this might be already fixed since i'm using experimental basePath in latest release (9.4.4)