[2018-12-19 14:31] Rawnly commented on #5922
I've also checked issues: #4545 #3322

[2018-12-19 14:32] prathameshnetake commented on #5661
Also replicating for my project. CSS works in dev mode but distort in production mode

[2018-12-19 14:40] xucongli1989 commented on #5919
Good!It should be this `set NODE_ENV=production&& node server.js`.Remove space after `production`.

[2018-12-19 18:39] akotlar opened #5923 "Dependencies specified in _app are duplicated in other pages."
# Bug report

## Describe the bug

Dependencies not properly shared across pages and _app.js

## To Reproduce

Create a number of pages. Add a module to _app.js.
Increase the number of times a module is included from once to N times, track progress

Takes at least 2 pages for a dep included in _app.js to be factored out.

## Expected behavior
Once a module has been included in _app, it should neve

[2018-12-19 20:35] akotlar commented on #5923
Fixed by

[code]

This is a simple fix, effectively just needs documentation of default of 3. This may be somewhat confusing, as Webpack's default is 1, and "shared" implies 2.

[2018-12-20 00:20] oBusk commented on #5912
This seems to be some strange situation where `firebase` runs code to identify the functions and running `next()` with `dev=false` causes it to to load a built version of  `next` and tries to resolve it relative to the current working directory which will be in the root.

So basically during deploy, firebase will run the code from your current working directory. This will execute the code with a d

[2018-12-20 04:04] congaductq opened #5925 "Server side rendering support gRPC?"
I'm doing implement gRPC in Next JS project and finished on client side rendering by using
gRPC Web (https://github.com/grpc/grpc-web)

But I'm stuck when implement it on server side rendering.

Is there any solution?

Thanks in advance!

[2018-12-20 05:07] djyde commented on #5550
Same error: `TypeError: Object(...) is not a function`

I think it is because of the React Hooks.

[code]

[2018-12-20 05:37] tirthaguha opened #5926 "unsafe npm package event-stream@3.3.6 used"
# Bug report
`event-source-polyfill@0.0.12` used in next, uses infamous `event-stream@3.3.6`.

## Describe the bug
There has been reported vulnerabilities on `event-stream@3.3.6`

A clear and concise description of what the bug is.
# #https://github.com/dominictarr/event-stream/issues/116

## System information
 - Version of Next.js: 7.0.2

[2018-12-20 07:32] timneutkens commented on #5926
Just verified event-stream is **not installed** using:

[code]

[code]

[2018-12-20 07:47] timneutkens commented on #5916
Like I said before:

It's close to impossible to help you based on one screenshot, without providing *any* code from your application to reproduce the issue.

I'm assuming you're doing something wrong with `Router.push()` / `Router.replace()` where you're calling it on the server side instead of on the client side. Maybe you're injecting the router using `withRouter`? Please provide some code as i

[2018-12-20 11:03] Vgurnani commented on #5598
I think I also noticed the same thing a long ago, the day I shifted from NextJs 5 to NextJs 6 but ignored it since it's just dev problem. My production is working fine :)

[2018-12-20 11:04] Rawnly commented on #5922
I've solved the issue with a workaround, simply use query params without a custom server integration, just like below:

[code]

And then in the page wrap the component with `withRouter`

[code]

In my case the usage of a custom route on `server.js` was unuseful, but what if I need to do custom stuff in my custom route?

[2018-12-20 11:31] varungargofb commented on #3155
@ismamz I'm currently working on AMP with ReactJs, is there a way to have custom attributes in square brackets such as [class] with reactJs on client side as well. As of now, reactJs when re-render all the custom attributes gets eliminated.
Also tried using react-amphtml, but same happened with AmpHelpers.Bind

[2018-12-20 11:34] timneutkens commented on #5920
I really don't understand what you're trying to solve here, loading the file inside getInitialProps does not have any difference from adding the dynamic call on the top of the file. It seems like you're trying to do something different than the code that you're writing. If you create a next/dynamic component it will only be required/included on the client side when you use it.

[2018-12-20 11:35] minzojian commented on #5126
looks like this bug is still here
i use version 7.0.2 and 7.0.2-canary.49

[2018-12-20 13:16] egaleme commented on #771
i think nextjs should start supporting react-touter

[2018-12-20 15:08] #5916 closed

[2018-12-20 15:43] ismamz commented on #3155
@varungargofb Hi!, I think that this is not a Next.js related question.
But, the only way I found to use that kind of attributes is setting inner HTML.
For example, if you want to reproduce [the example from the amp-bind docs](https://www.ampproject.org/docs/reference/components/amp-bind#a-simple-example):

[code]

Other ways like using `React.createElement('p', { '[text]': "'Hello ' + foo" }, 'He

[2018-12-20 16:24] alexsenichev commented on #3249
Router.back() doesn't return promise, but has the same issue, what to do, manually scrolling up?

[2018-12-20 19:21] unruffledBeaver commented on #1788
@tomasdev  That works great for our base UI but we typically use storybook on dozens of individual projects and having a separate project for UI components for each actual project is not ideal. The solve I'm using is to mimic the next setup for sass/css modules in my storybook config. Also not ideal but more realistic than having multiple projects for one production project

[2018-12-20 20:58] adueck commented on #2252
I see you mentioned using a HOC. I did this in my `_app.js` file, and this seems to basically do it. 😄

[code]

Then on each page I just need to do:

[code]

[2018-12-21 01:19] minzojian commented on #5920
![image](https://user-images.githubusercontent.com/361781/50319028-085d9380-0500-11e9-986f-fa536ea34114.png)

this is what i try to archive, build a “page loader(renderer)" which can load page's structure data from other api, and then import necessary components into it, then render out.

i need to load the structure data runtime, cause there is only one page (as a loader) at all, but has differen

[2018-12-21 02:19] timneutkens commented on #5920
So as I outlined before you can just use this way of doing things:

To give you an illustration of this:

[code]

As you can see `render()` returns `null` "nothing"

`DynamicComponent` will only be loaded when it is **rendered**, so if you'd have logic that is like:

[code]

[2018-12-21 02:33] Enalmada opened #5929 "Error: The default export is not a React Component in page"
# Bug report
When trying to upgrade my reason-react project from 7.0.2 to next canary (7.0.2-canary-49) I get the following error:
[code]

## To Reproduce
Open with-reasonml example and replace pages/index.re with this slightly modified version adding getInitialProps:
[code]
(The code after `let default...` line is the way reason-react interfaces with getInitialProps and I will check it  into the

[2018-12-21 09:29] LYfirstday opened #5931 "Next.js repeated loading the same js file, but the js file included the head tag."
# Question about Next.js

 I use next/link and nprogress, sometimes if I don`t operation the page a period of time. then I click the router-link, the page repeated loading the same js file, but this js file included the head tag. my page loading all the time. unless I refresh my page.

![image](https://user-images.githubusercontent.com/25970534/50335355-f999cf80-0545-11e9-8c7e-628170cfdae8.png)

[2018-12-21 09:58] minzojian commented on #5920
@timneutkens
oh no, still see the loading state, no matter which way to import components

    import React from "react";
    import dynamic from "next/dynamic";

    const Test = dynamic(import("../components/pageComponents/TestComp"));
    const Test2 = dynamic(import("../components/pageComponents/TestComp2"));
    const Test3 = dynamic(import("../components/pageComponents/TestComp3"));

    cla

[2018-12-21 10:07] timneutkens commented on #5931
Please follow the issue template and provide a full minimal reproduction. It's really hard to help based on a screenshot from your particular application.

[2018-12-21 10:07] #5931 closed

[2018-12-21 11:39] jack-sf commented on #5667
Next.js doesn't set the `context` variable now, right? Wouldn't it be nice to at least set it by default to sth like `path.join(__dirname, './');`, so it is set as root directory of the nextjs app? (So then we can do `import ... from 'components/...'` instead of `import ... from '../../components/...'`)

[2018-12-21 11:58] schoenwaldnils commented on #3091
This issue has kind of changed but is still there.

| Tech    | Version |
|---------|---------|
| next    |  7.0.2 |
| node    | 10.9.0 |

The tags are still generated like seen above.
But I think I didn't described the issue well last time.

The problem is that the routing using next/link is missing files when working with pages generated using the `exportPathMap`

For example I have this on my t

[2018-12-21 12:13] Rahulkishanm opened #5932 "See https://github.com/styled-components/styled-components/blob/master/src/utils/errors.md#1 for more information. Additional arguments: undefined"
# Internal server error without file name or line number

**I use Styled component in next js app**
**I get an internal server error**
**See https://github.com/styled-components/styled-components/blob/master/src/utils/errors.md#1 for more information. Additional arguments: undefined**
It would be very helpful if the line number in which error occurs is shown.

## To Reproduce
When I run nextjs app

[2018-12-21 12:58] alexsenichev commented on #5302
Same with me

[2018-12-21 13:16] timneutkens commented on #5667
`context` is something very different than what you're mentioning. What you mean is `alias`, which you can override, even though I wouldn't recommend it as it breaks a lot of statical analysis tools.

[2018-12-21 13:18] tirthaguha commented on #5926
Closing this. it was a false alarm. Apologies. I had it in my node_modules through another package `npm-run-all`

[2018-12-21 13:18] #5926 closed

[2018-12-21 13:20] timneutkens commented on #3091
@schoenwaldnils sounds like a misunderstanding in how routing works, this comment should help clarify: https://github.com/zeit/next.js/issues/2833#issuecomment-414919347

[2018-12-21 13:21] timneutkens commented on #5926
No worries, glad to see I didn't miss anything.

[2018-12-21 13:40] timneutkens commented on #5932
I'm not sure how to help here as you're not providing a reproduction and you're using an external library (styled-components) that is throwing an error.

I'd be happy to have a look if you provide a reproduction.

When creating issues keep in mind that saying:

1. `npm run build`
2. `npm run start`

Means that you're expecting the person that looks at your issue to do:

1. `npm run build`
which re

[2018-12-21 13:40] #5932 closed

[2018-12-21 13:46] timneutkens commented on #5868
Most likely not related to Next.js, we didn't even upgrade Babel in the canary releases as far as I can remember. The integration tests on Next.js are passing between stable and canary (canary has even more tests). It seems like you're importing a `runtime` module that does not exist in your app or something. Maybe it's related to babel caching? Try `rm -rf node_modules/.cache`.

[2018-12-21 13:51] timneutkens commented on #5922
https://github.com/zeit/next.js/blob/canary/packages/next-server/lib/router/router.js#L208-L212

https://github.com/zeit/next.js/blob/canary/packages/next-server/lib/router/router.js#L370-L377

Shallow routing works by matching the href's path to a page inside the `pages` directory to the current page that's rendered. If they're the same page shallow will be used, if not we do a normal router.push

[2018-12-21 13:51] #5922 closed

[2018-12-21 15:48] jhoffmcd commented on #5885
I would love to contribute to this as well!

[2018-12-21 18:08] polo13999 opened #5933 "next6 with @zeit/next-less Cannot destructure property `createHash` of 'undefined' or 'null'"
# Bug report

## Describe the bug

I use  next6 with  @zeit/next-less will show the error message
TypeError: Cannot destructure property `createHash` of 'undefined' or 'null'.

problem demo  repository:

https://github.com/polo13999/next6withantproblem

## Expected behavior
yarn dev   will show the error

## System information
 - OS: Mac
 - chrome, safari
 - Version of Next.js: 6.1.2

## Additiona

[2018-12-21 18:46] timneutkens commented on #5933
You'll have to use an older version of next-less or write your own if you're on Next.js 6.1.2. I'd highly recommend upgrading.

[2018-12-21 18:47] #5933 closed

[2018-12-21 18:57] garrettmac commented on #4262
What is this line doing?

[code]

[2018-12-21 18:57] garrettmac commented on #5070
What is this line doing?

[code]

[2018-12-21 19:06] Enalmada commented on #5868
@timneutkens Thanks for your feedback.  The `with-react-intl` example works in canary so there indeed must be something more going on.  Removing node_modules directory also seems to be required to .cache may indeed factor into this.   When I have more time I will try just clearing the cache rather than whole directory.  Will close ticket since I can live without the `babel-plugin-react-intl` funct

[2018-12-21 19:06] #5868 closed

[2018-12-22 07:00] Ajeetlakhani opened #5934 "Web Performance Issue in Next upgrade"
# Question about Next.js
I have upgraded to next 7.0.2 and my site's  Start Render time increased from 2.9s to 9.8s in Slow 3G.
In this upgrade all js/css is getting loaded before browser start rendering.

Before upgrade
![screenshot 2018-12-22 at 12 07 43 pm](https://user-images.githubusercontent.com/8472589/50371589-ba21c080-05e3-11e9-8165-a721b08532d6.png)

After upgrade
![screenshot 2018-12-22

[2018-12-22 11:55] timneutkens commented on #5934
Can you provide a reproduction?

[2018-12-22 13:16] pavloko commented on #4467
This issue occurs for me as well with `@zeit/next-typescript": "^1.1.1` .

[2018-12-22 22:17] chrislloyd commented on #5707
@mxstbr can you go into a little more detail with what you are referring to by "routing setup" please?

[2018-12-23 09:51] tuanhuu commented on #1501
i tried but it doesn't works ???

[2018-12-23 14:26] hansiemithun opened #5937 "Unable to configure react-flexbox-grid with next-sass"
I tried several links to configure and modify, finally  with all the directions followed, my `next.config.js` looks as below:
[code]

I receive error as:

My `package.json` is as below:
[code]
Please help what am i missing to configure or the right approach?

[2018-12-23 14:52] timneutkens commented on #5937
Sounds like you need to add `@zeit/next-css` too

[2018-12-23 14:52] #5937 closed

[2018-12-23 14:56] hansiemithun commented on #5937
Thanks for the reply @timneutkens, but I still face the issue as even after having `next-css`:

[code]

[2018-12-23 17:18] hansiemithun opened #5938 "Prop `className` did not match between client and server"
When configuring [react-flexbox-grid][1] along with sass inside Next.js.
Facing this challenge.

The project created using latest: `create-next-app` and I do not have any custom changes in `.babelrc`

**Error**

  [1]: https://roylee0704.github.io/react-flexbox-grid/

Sass Configuration Looks like this:

    const sassConfig = {
      cssModules: true,
      cssLoaderOptions: {
        importLoade

[2018-12-23 17:57] tonyxiao commented on #3928
How has this changed since netlify now supports lambda functions out of the box?

[2018-12-23 18:18] timneutkens commented on #5938
Sounds like something in your application. We can't really change anything in Next.js to help here. I'm going to close this issue as it doesn't follow the issue template.

[2018-12-23 18:18] #5938 closed

[2018-12-23 19:43] ztanner commented on #5888
`<title>` already supports translations if you integrate with [next-18next](https://github.com/isaachinman/next-i18next)

Ex:
[code]

In other words, rather than using a component, use a function that will return a string.

[2018-12-23 19:55] majdi commented on #3928
Hi, I didn't retry and host with now but I think it can works now :)
[ I removed my testing repository ]

[2018-12-23 20:37] ztanner commented on #5917
I took a look into this. The issue you're experiencing is that `jest.config.js` is only configured to use babel-jest on **.tsx* files. If you were to rename `Hello.test.js` to `Hello.test.jsx` it would work, but this is not ideal, since it's not a TypeScript component.

To support **.js* extensions, you'd have to update your transform in `jest.config.js` to look something like:
[code]

You will pr

[2018-12-23 20:55] #5917 closed

[2018-12-24 03:58] exogen commented on #5164
Is there a list of packages that absolutely must be resolved from Next's `node_modules`? I'm curious why webpack's normal dependency resolution wouldn't just do the right thing – if it sees an import coming from somewhere in the `next` package, the resolution shouldn't be a problem there.

So if this `resolve.modules` setting is necessary, that means there's likely something in user-defined code (

[2018-12-24 04:00] hansiemithun commented on #5938
@timneutkens - I was able to resolve the issue by overriding the `localIdentName:[local]`, so that it matches both client and server render. Unfortunately, if i use: `localIdentName: '[local]__[name]__[hash:base64:5]'`, it fails as the client is using: `localIdentName:[local]`. So, how and where we can override like `clientIdentName`? Do we need to play something with `.babelrc`?

[2018-12-24 10:53] arlydemo opened #5943 "Multiple server request"
Go to https://nextjs.org/learn/basics/getting-started/setup
Open 'XHR' tab in chrome.

When click 'next' button, it would have two request with different status code.
graphql?loginToken=xxx-xxx-xxx-xxx-xxxx

I have similar situation on my project. Same request would appear multiple times with different status code.
Anyone can explain the reason?
How does that work?

[2018-12-24 11:19] #5943 closed

[2018-12-24 14:18] pauldariye commented on #5932
@Rahulkishanm this happens when you try to style a composed component. If you narrow down which component it is. Try doing what was recommended in this [comment](https://github.com/diegohaz/arc/issues/130#issuecomment-282408542)

like so
[code]

I hope this helps. And like @timneutkens mentioned, you gave very little information for others to be able to help you. I ran into this issue last night s

[2018-12-24 18:04] jzabala opened #5944 "Firebase is retuning 404 for files in the /static folder"
# Examples bug report

## Example name
with-firebase-hosting

## Describe the bug
I am getting 404 for assets in the /static folder when app is in firebase.

## To Reproduce
Clone this example https://github.com/jzabala/with-firebase-hosting-app. It has an image in the index. Try to serve it locally or deploy it to firebase.

## Expected behavior
I should see my image. It works with `npm run dev`

[2018-12-25 09:03] jimmylee commented on #1109
It is unfortunate you can't just add this to your `next.config.js`

[code]

This option instructs the module to operate in 'lazy' mode, meaning that it won't recompile when files change, but rather on each request. Sounds like something a lot of us are hoping for without having to go as far as @jesstelford's solutions.

**Source**: https://github.com/webpack/webpack-dev-middleware#lazy

When I try

[2018-12-25 14:59] toruticas commented on #5654
There is a small difference in google API when you make the request on client side compared with server side. On the server you use authentication through the user's token and the data set comes with the "name" field, while on the client side (using browser sdk) the dataset comes with the "displayName" field. There are several differences in the field names (another example is photoUrl and picture

[2018-12-25 16:20] affanshahid opened #5946 "How to use with Ring UI?"
Could not find an example for usage with [Ring UI](https://github.com/JetBrains/ring-ui). How would I go about integrating it?

[2018-12-25 17:36] #5654 closed

[2018-12-25 17:40] timneutkens commented on #5946
As per the issue template please post questions on https://spectrum.chat/next-js.

if Ring UI is compatible with server-side rendering you can import the components and use them like normal react components.

[2018-12-25 17:40] #5946 closed

[2018-12-25 19:57] ktjd123 opened #5947 "Router.push('/') is not working as expected"
# Bug report

## Describe the bug

[code]

This is code inside _error.js. I was expected it would redirect to index.js page but nothing is happening.
The Weird Thing is When I use `Router.push('/error', '/');`, It pushes to index.js page.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:
1. Make any page.
2. Router.push('/')

## Expected behavior
Push

[2018-12-25 21:02] fillipvt commented on #5750
This is the exact same problem I had when trying to directly implement [`with-dotenv`](https://github.com/zeit/next.js/tree/canary/examples/with-dotenv) from the Next.JS examples.

Thank you @webpro and @jesstelford  !!! It worked perfectly. You don't know how many hours I've wasted in this and how many more I would've wasted without you guys. Thanks!

[2018-12-25 22:06] timneutkens commented on #5947
`Router.push('/')` will route to the `pages/index.js` file.

[2018-12-25 22:06] #5947 closed

[2018-12-25 22:50] Vadorequest commented on #4105
Any recommendation when exporting a next.js app? There is no server part at all. Cache control seems to be configured for 1h but I don't know how to control it, if that's even possible.

[2018-12-25 23:19] #5888 closed

[2018-12-25 23:20] timneutkens commented on #5888
Thanks @ztanner, great answer 👍

The reason you can't use components is that we render the exact children of `<Head>` into the document's `<head>` tag.

[2018-12-26 04:41] ktjd123 commented on #5947
@timneutkens Yes. That is what I expected. but it's not routing to index.js page.

[2018-12-26 04:43] ktjd123 commented on #5947
Oh when I test with safari, it routes to index.js page. I think it's chrome only problem.

my chrome version is chrome 71.

[2018-12-26 11:06] #5777 closed

[2018-12-26 19:02] OmarZeidan commented on #3720
Any updates on this? I still get the same error.

- "next": "^7.0.2",
- "@zeit/next-css": "^1.0.1",

[2018-12-27 01:08] oBusk commented on #5944
Because `dist/functions` is deployed to Firebase hosting, the static directory is never deployed. Next never does anything with `static` when building, it just expects `./static` to be available when running. I'm not sure if that behaviour is super expected by users seeing how the documentation recommends putting images in `/static`.

A workaround is to create a `script` in package.json
[code]
Thi

[2018-12-27 07:46] ivan-kleshnin commented on #5533
I'm new to NextJS. Since 6.0 it's ReactRouter-based, right.
I assume this API is some legacy and would like to see ReactRouter API being used instead.
Just replace `a` with `Link` and voila.

[2018-12-27 10:39] #5944 closed

[2018-12-27 13:57] philmetzger opened #5954 "npm run dev issue with babel"
# Bug report

## Describe the bug

When I run
`npm run dev` after i deleted my node_modules, I get the following:

[code]

And to aid here is my package.json:

[code]

and also my babelrc file:

[code]

## To Reproduce

1) removed node_modules
2) npm install
3) npm run dev

## Expected behavior
My server should be started

## System information
 - OS: Windows 10
 - Version of Next.js: latest (see

[2018-12-27 14:30] notatestuser commented on #1903
Does not appear to work in next v7 though

[2018-12-27 14:42] notatestuser commented on #1903
FYI the plugin has changed so that now you have to call it twice as in the readme:
[code]
Caught me out until I saw that new extra call, because it silently fails otherwise

[2018-12-27 14:48] philmetzger commented on #5954
I now get this though:
[code]

[2018-12-27 21:39] toruticas commented on #4498
I made a change which explains best how to set up a universal application in PR #5948. I believe that changes are enough to close this issue.

[2018-12-27 21:46] timneutkens commented on #4498
Yep perfect 🙌

[2018-12-27 21:46] #4498 closed

[2018-12-28 02:14] dbrrt commented on #5925
Do you have an example/project to reproduce?

[2018-12-28 02:18] manovotny commented on #5347
@timneutkens `@zeit/docs` on the `master` branch is producing a similar warning, if you're looking for something to troubleshoot with.

[code]

<img width="1679" alt="screen shot 2018-12-27 at 8 15 51 pm" src="https://user-images.githubusercontent.com/446260/50500084-7fb98880-0a14-11e9-83cb-05093dd967b0.png">

[2018-12-28 02:20] dbrrt opened #5955 "Extra character `/` added in path once app deployed"
# Bug report

## Describe the bug
When I'm deploying a nextjs app, I've got the character `/` appended at the end of the path, which is not appearing during development.

## To Reproduce

1) in pages folder, create a component (such as `home.js`)
2) In development, path will be `/home` if following structure `pages/home.js`
3) Once deployed (e.g. : `netlify`), path will be `/home/`

## System info

[2018-12-28 06:02] meenie commented on #5202
@leotm @davideasaf  @nvuhung The way to fix this is to create an `interface` for your props and then pass that to the `Document` class you are extending from.  Like so:
[code]

[2018-12-28 07:31] arlydemo opened #5956 "Trying to setup contributor development environment"
There are some trouble by following the steps:
1. fork the code.
2. Create the one dir with sub dir
[code]
3. Run docker-composer to start nodejs environment with nextjs-with-app volumn
4. Follow the steps: https://github.com/zeit/next.js/blob/canary/contributing.md
5. Run 'npm run dev' under app dir with basic index.js and about.js.

The server can start. But There is the error when try to visit

[2018-12-28 07:32] arlydemo opened #5957 "Trying to setup contributor development environment"
There are some trouble by following the steps:
1. fork the code.
2. Create the one dir with sub dir
[code]
3. Run docker-composer to start nodejs environment with nextjs-with-app volumn
4. Follow the steps: https://github.com/zeit/next.js/blob/canary/contributing.md
5. Run 'npm run dev' under app dir with basic index.js and about.js.

The server can start. But There is the error when try to visit

[2018-12-28 07:33] #5956 closed

[2018-12-28 08:35] jamestalmage opened #5958 "SSR issues with styled-jsx and semver mismatch."
See: https://github.com/zeit/styled-jsx/issues/533

If there is a Semver mismatch between a project and `next.js` for `styled-jsx`, you end up with multiple copies of the StyleRegistry, and next-servers registry will be empty (meaning no styles get rendered server side).

The easiest option would be to declare `styled-jsx` as a peer dependency. Other more complicated options are discussed on the l

[2018-12-28 08:47] vaibhavi3t commented on #4994
@mfix22

I'm using next version 6.1.1. I'm am facing same issue.
In which version it is fixed?

[2018-12-28 09:58] timneutkens commented on #5955
Duplicate of #5214

[2018-12-28 10:01] timneutkens commented on #4994
It was not a Next.js issue. See https://github.com/dawnlabs/carbon/pull/485

[2018-12-28 10:03] timneutkens commented on #5958
This is not really an issue with Next.js. Let's just discuss on styled-jsx.

[2018-12-28 10:03] #5958 closed

[2018-12-28 10:15] timneutkens commented on #5925
Please follow the issue template and post this question on spectrum.chat/next-js.

[2018-12-28 10:15] #5925 closed

[2018-12-28 10:40] timneutkens commented on #4496
Just landed #5927

[2018-12-28 11:03] vaibhavi3t commented on #771
I want same functionality.

Earlier I was using CRA and there I used to send state to routed component. I wants same functionality with nextjs.

What @sergiodxa suggested in workaround but library support will be good.

[2018-12-28 14:01] dbrrt commented on #5955
Sounds great. Would be awesome to get such a feature.

[2018-12-28 16:08] sarneeh commented on #153
@lishine You have a [HttpServerResponse](https://nodejs.org/api/http.html#http_class_http_serverresponse) in the `getInitialProps` of your page - you can easily redirect someone unprivileged to see the page.

[2018-12-28 19:14] okhomenko opened #5959 "Dynamic import ssr:true defer loading"
# Question about Next.js

Questions should be posted on https://spectrum.chat/next-js

[2018-12-28 19:18] #5959 closed

[2018-12-28 20:47] pruhstal commented on #5421
@sasindroid not yet, but I haven't been running the server that long enough to replicate lately. I'll post an update when it happens again.

[2018-12-28 20:57] lthomason commented on #1788
@unruffledBeaver  Not sure if this will help you, but I was having a similar issue where my storybook output was unstyled. I traced it down to needing the same config as the next-sass plugin uses.

Here's my .storybook/webpack.config.js

[code]

The middle part with the options on css-loader, matches the 'cssLoaderOptions' in next.config.js

[2018-12-29 00:35] jeremylynch commented on #5478
+1

[2018-12-29 06:34] aequasi commented on #4789
As this is currently the first result on google when searching for this, maybe it would be beneficial to explain the reasoning behind that decision @timneutkens ?

[2018-12-29 07:33] iamgreyy opened #5960 "Resolve directories using webpack"
# Feature request

## Is your feature request related to a problem? Please describe.
My problem is related to resolve my project root directory. It is not a problem when i using ES with babel-plugin-module-resolver, but withTypescript preset it is not working.

## Describe the solution you'd like
https://github.com/zeit/next-plugins/issues/136#issuecomment-443666897
Think there is no way to resolv

[2018-12-29 09:43] hect1c commented on #257
Hey,

I'm currently facing the same problem where I have a basePath and need to have the site working on http://domain/basePath

I've tried both solutions above but it doesn't seem to be working. Without the basePath it works fine, but with it I still get a 404 page not found. Any ideas what I could be missing?

Below is my server.js

`const next = require('next')
const server = require('express')

[2018-12-29 10:19] pavinduLakshan commented on #544
Much comprehensive and smart..thank you for this..I have been searching this kind of solution all day..

[2018-12-29 10:53] hecoderius opened #5961 "Deployment to appache"
Hello guys, I am beginner in Next JS I need to know how to deploy Next JS app on my server where I have Apache, should I get files there and run some command or something ?? Please help me ....

[2018-12-29 11:58] affanshahid commented on #153
Is there an example of auth with redux?

[2018-12-29 11:59] timneutkens commented on #5961
You'll have to run Node.js on the server and configure apache to proxypass to the Node.js server. It's similar to deploying on nginx: https://github.com/zeit/next.js/wiki/Deployment-on-Nginx's-reverse-proxy

You'll have to upload all files + node_modules then run `next build` and boot up the Node.js server. Please follow the issue template though and post your question on https://spectrum.chat/nex

[2018-12-29 11:59] #5961 closed

[2018-12-29 12:03] timneutkens commented on #5960
I'm not sure what you're asking to add to Next.js based on this issue. It doesn't sound like something with Next.js, but with next-typescript 🤔 I'm going to transfer this issue to next-plugins.

[2018-12-29 12:08] alan2207 commented on #153
You can try this example which is using redux, and check out if it works for you...
You can find it somewhere in this topic, but in case you can't find it, here it is:
https://github.com/alan2207/nextjs-jwt-authentication

[2018-12-29 14:40] balupton opened #5962 "Bug: useState and useEffect resolve to undefined in the web browser"
# Bug report

## Describe the bug

`import { useState, useEffect } from 'react'` resolves to `{ useState: undefined, useEffect: undefined }` on client side

## To reproduce

[code]

Create a file with the following:

[code]

You will get the following via the CLI:

[code]

But this via the browser:

<img width="1277" alt="screen shot 2018-12-30 at 1 38 52 am" src="https://user-images.githubusercon

[2018-12-29 14:45] balupton commented on #5962
Problem was user error.

Did:

[code]

instead of

[code]

[2018-12-29 14:45] #5962 closed

[2018-12-29 16:46] jamessimone commented on #5923
@akotlar that snippet seems out of date when investigating the cacheGroups object returned by  [the most recent version of webpack](https://webpack.js.org/plugins/split-chunks-plugin/) bundled with Next:

After console.logging(config.optimizations.splitChunks.cacheGroups) on startup (with zeit/next-css generating the "styles" prop):

[code]

Looking at the [documentation for the SplitChunksPlugin]

[2018-12-30 00:00] iamakulov commented on #5831
Related issue from 2016: https://github.com/zeit/next.js/issues/114

[2018-12-30 00:10] caprica-Six commented on #4582
quite painful, still issues...

[2018-12-30 10:10] JeroenKnoops commented on #5957
I've tested it, and everything seems to work: See: https://github.com/JeroenKnoops/next-js-test-app

Can you share your test app and docker-compose file in a separate repo, so I can test your application?

[2018-12-30 12:49] timneutkens commented on #5957
I'm not really sure what you mean with `nextjs-with-app` 🤔 It sounds like symlinks were not created, which should be the case if contributing.md is followed.

[2018-12-30 12:49] #5957 closed

[2018-12-30 12:53] timneutkens commented on #4582
So why not contribute to the example? 🤔

[2018-12-30 18:42] icflorescu commented on #5636
None of the fixes I've tried so far worked for me, so I've come up with this one: https://github.com/zeit/next-plugins/issues/282#issuecomment-450578740

[2018-12-30 21:07] hugmanrique opened #5964 "Feature request: Add titleTemplate prop to Head"
# Feature request

## Is your feature request related to a problem? Please describe.
There's currently no way to specify a `titleTemplate` string that standarizes the `<title>` tag shown in the browser by adding common prefixes or suffixes, e.g. `"Page - Site name"`.

## Describe the solution you'd like

Other document head management libraries such as [react-helmet](https://github.com/nfl/react-h

[2018-12-30 22:12] timneutkens commented on #5964
I'm not sure why this would be needed, you could just do:

[code]

[code]

Result would be `Hello World | example.com`

[2018-12-30 22:30] hugmanrique commented on #5964
Really nice solution! I hadn't thought about a simple solution and jumped straight off to a complex overengineered one 😅😛

[2018-12-30 22:30] #5964 closed

[2018-12-30 22:45] timneutkens commented on #5964
😄💯

Yep sometimes it can be simple 😄

[2018-12-30 23:08] timneutkens commented on #5934
I'm going to close this as there was no reproduction provided.

[2018-12-30 23:08] #5934 closed

[2018-12-30 23:18] timneutkens commented on #245
I'm going to close this issue as it's been open for 2 years.

[2018-12-30 23:18] #245 closed

[2018-12-30 23:19] timneutkens commented on #594
As we haven't really had a need for this and there has been no community feedback I'm going to close this issue 👍

[2018-12-30 23:19] #594 closed

[2018-12-30 23:31] timneutkens commented on #3730
React hot loader is no longer part of Next.js

[2018-12-30 23:31] #3730 closed

[2018-12-30 23:32] timneutkens commented on #3917
As no one else has brought up or upvoted this issue I don't think we should change the default.

[2018-12-30 23:32] #3917 closed

[2018-12-30 23:33] timneutkens commented on #3726
I'm going to close this as the with-sentry example was updated.

[2018-12-30 23:33] #3726 closed

[2018-12-30 23:34] timneutkens commented on #3313
You could use `preval` to inline the cache into the bundles: https://github.com/zeit/next.js/tree/canary/examples/with-babel-macros

[2018-12-30 23:34] #3313 closed

[2018-12-30 23:35] timneutkens commented on #3865
Should be fixed now.

[2018-12-30 23:35] #3865 closed

[2018-12-30 23:37] timneutkens commented on #3818
Currently the commons calculation is `amount of pages * 0.5`, if a dependency is used in 50% of all pages it's considered commons. The `amount of pages` is the total amount of glob'ing the `pages` directory.

[2018-12-30 23:37] #3818 closed

[2018-12-30 23:41] timneutkens commented on #5167
I'm going to close this issue as it's unlikely we'll tackle it in the near future.

[2018-12-30 23:41] #5167 closed

[2018-12-30 23:44] timneutkens commented on #4571
Added needs investigation label, reminder to everyone who 👎 and 😕 that you **can** contribute to Next.js instead by investigating issues. There's over 250 open issues currently.

[2018-12-30 23:46] timneutkens commented on #4136
You could in theory keep track of previously visited pages using a global state. It's not up to the Next.js router to track this as we just use browser APIs / state

[2018-12-30 23:46] #4136 closed

[2018-12-30 23:52] timneutkens commented on #4172
If this wasn't fixed already in next 5/6/7 it's fixed by https://github.com/zeit/next.js/pull/5737 for sure.

[2018-12-30 23:52] #4172 closed

[2018-12-30 23:52] #3621 closed

[2018-12-30 23:53] timneutkens commented on #4154
This was solved, we deprecated the `url` property.

[2018-12-30 23:53] #4154 closed

[2018-12-30 23:53] timneutkens commented on #4458
Solved in Next 7

[2018-12-30 23:53] #4458 closed

[2018-12-30 23:55] timneutkens commented on #4407
This was solved in https://github.com/zeit/next.js/pull/5800

[2018-12-30 23:55] #4407 closed

[2018-12-31 00:00] timneutkens commented on #3566
As per this description that's exactly what `preload` achieves, it marks the scripts as needing to be fetched (it starts download sooner), they're not executed until the `<script>` tag is invoked. Basically this means that the page becomes interactive faster as the script is already download.

[2018-12-31 00:00] #3566 closed

[2018-12-31 00:01] timneutkens commented on #4256
This was fixed by dropping react-hot-loader from Next.js

[2018-12-31 00:01] #4256 closed

[2018-12-31 00:02] #4428 closed

[2018-12-31 00:04] timneutkens commented on #1289
@DullReferenceException FYI it's because NODE_PATH is used when running the tests.

[2018-12-31 00:04] timneutkens commented on #1289
I'm going to close this issue for now as we're not going to focus on next-test-utils in the short term (the issue has been open over 1,5 years).

[2018-12-31 00:04] #1289 closed

[2018-12-31 00:05] timneutkens commented on #4391
Generally you'll want to split out your next.js app and api server for performance reasons.

[2018-12-31 00:05] #4391 closed

[2018-12-31 00:06] timneutkens commented on #4321
Solved already in Next 7.

[2018-12-31 00:06] #4321 closed

[2018-12-31 00:07] timneutkens commented on #3663
Should be solved with the Next 7 rewrite of next/dynamic.

[2018-12-31 00:07] #3663 closed

[2018-12-31 00:09] timneutkens commented on #3166
This was solved with the release of Next 6 or so. Again all mentioned packages are not peerdeps.

[2018-12-31 00:09] #3166 closed

[2018-12-31 00:10] #4301 closed

[2018-12-31 00:17] timneutkens commented on #4315
We are not planning to allow changing the `pages` directory.

However a solution for #4406 should be explored.

[2018-12-31 00:17] #4315 closed

[2018-12-31 00:19] timneutkens commented on #4666
I'm going to close this issue as it's stale.

[2018-12-31 00:19] #4666 closed

[2018-12-31 00:19] timneutkens commented on #4669
You can use `getInitialProps`

[2018-12-31 00:19] #4669 closed

[2018-12-31 00:38] timneutkens commented on #4530
As per the issue template I'm going to close this issue.

[2018-12-31 00:38] #4530 closed

[2018-12-31 00:39] timneutkens commented on #3623
Let's track this in #706

[2018-12-31 00:39] #3623 closed

[2018-12-31 00:43] timneutkens commented on #4488
It sounds like an anti-pattern to depend on PropTypes and this optimization should always be executed in my opinion. As there hasn't been anyone else asking for this I'm going to close this issue.

[2018-12-31 00:43] #4488 closed

[2018-12-31 00:46] timneutkens commented on #4849
This is not a bug as you're requiring an API that is not public. Eg even Next.js itself doesn't run this code, it always runs the transpiled version and it's not published to npm either.

[2018-12-31 00:46] #4849 closed

[2018-12-31 00:51] timneutkens commented on #4843
Tracking optimizations in #4844

[2018-12-31 00:51] #4843 closed

[2018-12-31 00:51] #4796 closed

[2018-12-31 00:54] timneutkens commented on #4841
Let's also track this in #4844

[2018-12-31 00:54] #4841 closed

[2018-12-31 01:01] timneutkens commented on #4308
Potentially we could introduce a programmatic api for next export, however you'd still run into issues as `getInitialProps` is called when switching pages even when there has been a static export. We also recommend not having the api combined with the Next.js server. Feel free to open up an RFC speccing out programmatic access to `next export`.

[2018-12-31 01:01] #4308 closed

[2018-12-31 01:03] timneutkens commented on #4751
This has been solved.

[2018-12-31 01:03] #4751 closed

[2018-12-31 01:04] #4528 closed

[2018-12-31 01:07] timneutkens commented on #4216
Going to close this as the issue is stale.

[2018-12-31 01:07] #4216 closed

[2018-12-31 01:08] timneutkens commented on #3890
I believe this was solved when we added checks for `isResSent` in Next.js 7 or so.

[2018-12-31 01:08] #3890 closed

[2018-12-31 01:09] #4927 closed

[2018-12-31 01:10] timneutkens commented on #4927
This issue is very similar to https://github.com/zeit/next-plugins/issues/282

[2018-12-31 01:12] timneutkens commented on #4880
Going to close this as there's other issues discussing npm linked monorepo setups etc. Trying to reduce the amount of duplicate discussions.

[2018-12-31 01:12] #4880 closed

[2018-12-31 01:13] timneutkens commented on #4975
This was solved on canary.

[2018-12-31 01:13] #4975 closed

[2018-12-31 01:15] #4885 closed

[2018-12-31 01:15] #4621 closed

[2018-12-31 01:18] timneutkens commented on #4636
Going to close this in favor of something like #4754

[2018-12-31 01:18] #4636 closed

[2018-12-31 01:30] rashidul0405 commented on #4754
#3056 would be more appropriate. Here is why
https://github.com/zeit/next.js/issues/3056#issuecomment-412955428

[2018-12-31 01:34] timneutkens commented on #5335
Duplicate of #5598

[2018-12-31 01:34] #5335 closed

[2018-12-31 01:35] #5310 closed

[2018-12-31 01:36] timneutkens commented on #5233
This is fixed on canary.

[2018-12-31 01:36] #5233 closed

[2018-12-31 01:39] #5247 closed

[2018-12-31 01:42] timneutkens commented on #5530
As per the issue template I'm going to close this issue.

[2018-12-31 01:42] #5530 closed

[2018-12-31 01:43] timneutkens commented on #5492
ie10 is not supported by default in Next.js

[2018-12-31 01:43] #5492 closed

[2018-12-31 01:45] timneutkens commented on #5527
Promise cancellation is not a standard right 🤔 So I don't think we should change anything in Next.js to support this.

[2018-12-31 01:45] #5527 closed

[2018-12-31 01:46] timneutkens commented on #5527
I assume the issue is that we call `import()` in dev mode because of a bundling issue.

[2018-12-31 01:56] joshuaquek opened #5965 "Feature Request: Option to use swc instead of babel"
Question: Would it be possible in any way for NextJs to have the option of using swc instead of babel? (https://github.com/swc-project/swc)

Just wondering if it is possible. However, I can somewhat see the complexity involved in allowing for this option integrated into NextJs.

It would be great though if this can be possible as an option, as swc runs at least 16 times faster than babel: https://

[2018-12-31 03:14] axelmarciano opened #5966 "Error getInitialProps only when build"
Hi, this is my component, i don't have any issue when i'm on development mode, but when i turn in production mode and build my server i got a 500 error (this.props.article is undefined).

I have printed the data inside the getInitialProps and inside the render function, the json on getInitialProps is valid and not empty but i got undefined props on the render().

My version is 7.0.2.

[code]

[2018-12-31 11:49] timneutkens commented on #5965
You'd need to implement a webpack loader and override next-babel-loader. It's unlikely that we'll switch Babel for swc at this point as it's not stable yet (just released, not all Babel features work, not enough documentation etc).

[2018-12-31 11:49] #5965 closed

[2018-12-31 11:53] timneutkens commented on #5966
Not sure what's going on here, maybe `withNamespaces` doesn't copy over getInitialProps, maybe the `data.items` is empty when fetching contentful 🤔

[2018-12-31 11:53] #5966 closed

[2018-12-31 12:06] timneutkens commented on #5526
This was probably fixed already 👍

[2018-12-31 12:09] timneutkens commented on #4367
Feel free to send a PR if this is still a requirement. There's very few cases where I would recommend setting `distDir`. I'm going to close this as no one else has brought up the same issue 👍

[2018-12-31 12:09] #4367 closed

[2018-12-31 12:17] #5508 closed

[2018-12-31 12:17] #5171 closed

[2018-12-31 12:22] timneutkens commented on #5404
Closing in favor of #5716

[2018-12-31 12:22] #5404 closed

[2018-12-31 12:31] #5621 closed

[2018-12-31 12:32] timneutkens commented on #5463
Going to close this in favor of #5638

[2018-12-31 12:32] #5463 closed

[2018-12-31 12:44] timneutkens commented on #5699
It basically comes down to having `import(`../../routes${path}`)` causes **every single file in that directory** to be bundled by webpack.

[2018-12-31 12:44] #5699 closed

[2018-12-31 12:45] timneutkens commented on #4452
Outlined a solution here: https://spectrum.chat/next-js/general/error-handling-in-async-getinitialprops~99400c6c-0da8-4de5-aecd-2ecf122e8ad0?m=MTUzOTUyMTA1OTE0Mw==

[2018-12-31 12:45] #4452 closed

[2018-12-31 12:50] #5480 closed

[2018-12-31 12:54] timneutkens commented on #4634
Going to close this as duplicate of #5054

Just in order to reduce the surface of duplicate issues 👍

[2018-12-31 12:54] #4634 closed

[2018-12-31 12:56] timneutkens commented on #5392
Closing this in favor of #5927

[2018-12-31 12:56] #5392 closed

[2018-12-31 13:01] timneutkens commented on #5524
Going to close this as duplicate of #5598

[2018-12-31 13:01] #5524 closed

[2018-12-31 13:03] timneutkens commented on #5304
Going to close this as the issue is stale.

[2018-12-31 13:03] #5304 closed

[2018-12-31 13:04] timneutkens commented on #5655
Should be fixed in 7.0.1,7.0.2 or latest `next@canary`.

Thank you 🙏

[2018-12-31 13:04] #5655 closed

[2018-12-31 13:04] #5616 closed

[2018-12-31 13:06] timneutkens commented on #5188
I'm going to close this issue as it's stale.

[2018-12-31 13:06] #5188 closed

[2018-12-31 13:07] timneutkens commented on #5570
`FriendlyErrorsWebpackPlugin` actually doesn't delete output, webpackbar does however. I'm assuming this was fixed in the latest version of webpackbar, which is out on `next@canary`. I'll close the issue for now, feel free to verify and get back if this isn't the case.

[2018-12-31 13:07] #5570 closed

[2018-12-31 13:09] timneutkens commented on #5708
Solved in #5927

[2018-12-31 13:09] #5708 closed

[2018-12-31 13:12] timneutkens commented on #4451
Replied here: https://github.com/zeit/next.js/issues/4452#issuecomment-450642052

[2018-12-31 13:12] #4451 closed

[2018-12-31 13:19] timneutkens commented on #5702
So the issue could be `react` being shipped with a dependency you install 🤔

[2018-12-31 13:19] #5702 closed

[2018-12-31 13:35] #5516 closed

[2018-12-31 13:41] timneutkens commented on #3342
Closing this as duplicate of #1209

[2018-12-31 13:41] #3342 closed

[2018-12-31 13:44] #5845 closed

[2018-12-31 13:54] timneutkens commented on #5899
Duplicate of #4998

[2018-12-31 13:54] #5899 closed

[2018-12-31 13:56] #5882 closed

[2018-12-31 16:04] c0b41 commented on #5955
@dbrrt do you using Netlify [`Pretty Urls`](https://www.netlify.com/docs/redirects/#trailing-slash) ? maybe problem this

[2018-12-31 17:02] IanMitchell commented on #5570
Is there a dependency coming in through FriendlyErrors? Disabling it definitely improves the log setup that I see. With it enabled there are still issues on Canary, although it's gotten better. I'm seeing a single Client / Server line now that doesn't swallow up things. With FriendlyErrors not stripped out, there are some weird spacing and padding issues including a post-compile terminal jump.

I'

[2018-12-31 17:03] timneutkens opened #5970 "[RFC] Remove `next/asset` as it's undocumented"
# Feature request

## Is your feature request related to a problem? Please describe.

Currently there is a `next/asset` module that isn't in use anywhere. It's main purpose is to prefix `/static` with the `assetPrefix`, it only works for `/static`, so it doesn't really expose the `assetPrefix` for usage.

## Describe the solution you'd like

Removes this module to reduce API surface. It's currentl

[2018-12-31 19:52] Enalmada commented on #5392
The current size of my built next directory is over 500m because of some huge node_modules containing unnecessary code.  I currently run the next build result on Amazon Beanstalk.  I am confused about how serverless target is relevant to creating a small traditional next build.  Can serverless target be run on any deployment solution?

[2018-12-31 21:30] tcerdaITBA opened #5972 "TypeError deploying to Zeit v2.0 with WithApolloClient _app.js and Emotion 10"
# Examples bug report

## Example Name
[with-emotion](https://github.com/zeit/next.js/tree/canary/examples/with-emotion)

## Describe the bug
Deploying to Zeit Now 2.0 with custom `_app.js` and Emotion 10 produces an 500 error originated from the following TypeError recovered from the Zeit deployment logs:

[code]

This only occurs with Zeit Now 2 and when wrapping `_app.js` with the `WithApolloCl

[2019-01-01 03:35] kqadem commented on #3994
The solution from @kachkaev worked for me.

[2019-01-01 07:08] kushalmahajan commented on #4101
Webpack in CRA builds add to +219kb to initial chunk. Whereas importing manual way adds  +12 i.e. becomes +231kb

[2019-01-01 07:15] AdelShokry opened #5974 "How can i use two _document.js files in my project"
can any one help me
i have sub folder named admin in pages folder
how can i use custom _document.js file to this sub folder

thank you and sorry about my bad english language

[2019-01-01 11:32] timneutkens commented on #5974
You can check the pathname in getInitialProps and render differently based on that. Please follow the issue template in the future.

[2019-01-01 11:32] #5974 closed

[2019-01-01 21:52] gihrig commented on #1109
Had an opportunity to work with a Create React App project today.

I think the root of this HMR problem is not that HMR is evil so much as the way it's implemented.

Simply put, having the client periodically polling the server is less than ideal.

From a cursory observation it appears that CRA uses a socket connection that only communicates to the client when a file has changed, then the client r

[2019-01-02 02:02] dbrrt commented on #5955
@c0b41 No, I'm not using any asset optimization.
I think the solution is there : https://github.com/zeit/next.js/blob/canary/packages/next-server/lib/router/router.js#L56

[2019-01-02 04:48] jaydenseric opened #5976 "Incorrect semver"
# Bug report

## Describe the bug

Many recent prereleases, including the latest (v7.0.2-canary.50) have incorrect semver. Look at [the `next` releases on npm](https://www.npmjs.com/package/next) and immediately see that they are wrong. Versions are being published with semver that comes before already released versions.

## To Reproduce

To understand the consequences, create a package.json with

[2019-01-02 06:35] cheong12001 opened #5977 "Is there a way to trigger whatsapp application open in mobile phone?"
Instead of opening whatsapp application directly in mobile phone, it opens a whatsapp web by calling Router.push('https://wa.me/phone'). The behaviour is not the same as my previous project using react-router-dom. It opens whatsapp directly without leaving the original site. Thanks in advance.

[2019-01-02 08:36] Enalmada commented on #5929
I happened to figure out that it is the `Js.Promise.make` causing the issue.  This happens to work in canary (but not in 7.0.2):
[code]
I have done a pull request with an example of getInitialProps for 7.0.2 and added a comment in there about the need to remove the promise from getInitialProps for canary.

[2019-01-02 08:36] #5929 closed

[2019-01-02 08:56] Rahulkishanm commented on #5932
Thanks much, @pauldariye. I did not notice error log properly. It had its line number and its path, where in the styled component had undefined passed. Same issue [comment](https://github.com/diegohaz/arc/issues/130#issuecomment-282408542)

[2019-01-02 09:16] Enalmada commented on #5976
I had `"next": "^7.0.2-canary.xx"` in my package.json and thought I was on the latest version for quite a while before realizing I wasn't getting some fixes I needed.  A very easy mistake to make!

[2019-01-02 09:32] timneutkens commented on #1109
Note that both the last 2 comments make wrong assumptions:
- Next.js doesn’t use react-hot-loader, it re-renders the component tree when a change is emitted
- Next.js doesn’t do polling to receive changes, it does polling to mark which pages are still being viewed, on canary this has been changed to a websocket just so that the user doesn’t see the polling happening in their devtools. To further e

[2019-01-02 10:40] timneutkens commented on #5977
This is unrelated to Next.js.

[2019-01-02 10:40] #5977 closed

[2019-01-02 12:48] timneutkens commented on #5976
This was a testing release and should be ignored in every sense.

[2019-01-02 12:52] timneutkens commented on #5976
The version scheme we had used `release`, we then switched to a monorepo using `lerna` to release prerelease versions. Then a security patch had to be released against old code / versioning scheme while the new scheme was being used. Hence why we haven't changed the versions yet. I'll release a new canary version today to solve this, this is a totally different issue than before btw, as that was b

[2019-01-02 13:03] #5976 closed

[2019-01-02 13:22] danteissaias commented on #5476
I can't access the sandbox anymore, can someone post the solution?

[2019-01-02 13:32] danteissaias opened #5978 "Next/config not working with custom server"
# Bug report

## Describe the bug

Cannot use next.config.js with a custom express server

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:
1. Clone custom express server example
2. Create a next.config.js and add withCSS
3. Try and import a css fire

## Expected behavior
Css file imports

## Screenshots
![screenshot](https://i.dninja21.net/R6vN22ahb.

[2019-01-02 13:39] timneutkens commented on #5978
Why would you pass `conf` if it's loading the config from the same location 🤔 Also `conf` doesn't have the same semantics as `next.config.js`. Can you post your `next.config.js`? I'm pretty sure this isn't a Next.js issue directly though.

[2019-01-02 13:57] danteissaias commented on #5978
[code]

[2019-01-02 14:01] Skaronator opened #5980 "with-jest-react-testing-library issue with babel: invalid property of "default""
# Examples bug report

## Example name
with-jest-react-testing-library

## Describe the bug
I'm unable to run the test without any changes to this example.

[code]

## To Reproduce
Steps to reproduce the behavior, please provide code snippets or a repository:
1. `yarn create next-app --example with-jest-react-testing-library with-rtl-app`
2. `cd with-rtl-app`
3. `yarn test`
4. See error

## Expect

[2019-01-02 14:06] danteissaias commented on #5978
How else would you use withCSS with a custom server

[2019-01-02 14:44] timneutkens commented on #5980
Feel free to create a PR to fix it 💯

[2019-01-02 14:51] gzoreslav commented on #5478
+1

[2019-01-02 14:58] danteissaias commented on #5978
Sorry, but that solution is not working for me.

[2019-01-02 14:58] danteissaias commented on #5978
And I have tried not loading if from node_modules

[2019-01-02 14:59] timneutkens commented on #5478
Instead of posting `+1` on an issue that had **no reproduction**, making it essentially impossible to help you. You could also use GitHub's 👍 feature.

Assuming you're having the same issue as @malimccalla you can track #5598

[2019-01-02 15:47] Skaronator commented on #4496
@timneutkens Should I move `next` to devDependencies and add `next-server` to my dependencies or are you doing this automatically via babel?
https://github.com/zeit/next.js/blob/canary/packages/next/build/babel/plugins/next-to-next-server.ts

[2019-01-02 16:18] timneutkens commented on #4496
@Skaronator if you're implementing using #5927 it's neither as per the specification it'll output one bundle per page, no dependencies needed. Meaning you can take `.next/serverless/index.js` require it (`require('./.next/serverless/index.js')`) and then call it's `render` method:

[code]

[2019-01-02 16:37] cellog commented on #5781
I removed all references to webpack from package.json, rm -rf node_modules package-lock.json and npm i, and still get this error. Next 7.0.2

[2019-01-02 17:07] bathos-wistia commented on #1109
@timneutkens That’s great to hear, thanks. It wasn’t a wrong assumption, though, it was outdated info. RHL was in use when we started using Next and it was the cause of the problems we encountered that led me to originally comment in this thread. I haven’t seen any issues related to HMR when using Next in a while now, though.

[2019-01-02 18:41] avremel commented on #1735
Make sure you are ignoring the `next` directory when using `@babel/register`

[2019-01-02 18:43] avremel commented on #1735
I have a `start.js` file which wraps `server.js`:

[code]
Ensure you aren't transpiling the `.next` directory, else your compile times will spiral out of control.

[2019-01-03 03:20] JeromeFitz commented on #5846
Watching these Serverless updates (along with monorepo coupled with move to `next-server`) has been great. Truly, truly tremendous work! Not just in `next` itself but with the builders as well!

I mainly use `next.config.js` for customized `webpack`, `next` specific settings, and **grabbing Environment Variables set via `now.json` for the build process**. On most projects I do not use plugins. (Su

[2019-01-03 07:08] lanlan1128 opened #5985 "The with-ant-design-less example does not support arrow functions"
# Bug report

## Describe the bug
When I added a JS file containing the grammar of the arrow function to the pages folder of the with-ant-design-less example, the console and browser reported errors, as shown in the screenshot.

## Screenshots
![image](https://user-images.githubusercontent.com/13283444/50626415-0d432e00-0f69-11e9-91e7-31d55ac4e20d.png)

## System information
 - OS: [Windows]
 - Br

[2019-01-03 09:01] kmiyashiro commented on #5526
I'm also seeing this on Mac OS 10.14, next.js 7.0.2, node 11.5

[2019-01-03 12:08] quantafire commented on #2752
I accomplished this by adding a meta tag to my Layout.js file like so:
`<meta name="language" content={props.page.language.language_code} />`

Then in _document.js I did this:
`import Document, { Head, Main, NextScript } from 'next/document'

let mainLang = 'en'

const getLang = (lng) => {
    mainLang = lng;
    return;
}

export default class MyDocument extends Document {
    static async getIni

[2019-01-03 12:52] timneutkens commented on #5598
I'm investigating this issue right now.

[2019-01-03 13:16] brizental commented on #3706
These are my versions:

**next** `7.0.2`
**babel-plugin-styled-components** `1.1.5`
**styled-components** `4.1.3`

...and I'm still having this issue intermittently. Any suggestions?

[2019-01-03 13:40] G-T-P opened #5986 "Compiling client fails silently on "npm run dev", node debugger gives an error of missing file in the .cache directory"
# Bug report

## Describe the bug

When I run "npm run dev" my project works just fine but sometimes it suddenly stop working altogether. Restarting the server does nothing as the compiling of the client will be hanging silently without yielding any error.

However, when I run the node built-in debugger I get the following error:
`no such file or directory, open '\node_modules\.cache\autodll-webpa

[2019-01-03 14:51] vladimirlukyanov commented on #3720
Same here

[2019-01-03 18:32] ryandrewjohnson commented on #3164
Can anyone confirm that this workaround still works in `v7.0.2`? It looks like the webpack config no longer uses `babel-loader` directly when inspecting the output for config. Now all I see is `next-babel-loader`. I've tried adding the `cacheDiretory=false` for `next-babel-loader` hoping it takes the same options as `babel-loader`, but it doesn't seem to work.

[2019-01-04 01:21] Nfinley commented on #4024
@dcalhoun Your answer was very helpful as it solved a similar `publicRuntimeConfig` error I was receiving, so thank you!!

[2019-01-04 02:42] tcerdaITBA commented on #5972
Bug seems to be fixed using [next-with-apollo](https://github.com/lfades/next-with-apollo) dependency instead of using the example's Apollo implementation.

[2019-01-04 08:56] blujedis commented on #3352
Updated link that @sergiodxa  pointed out >> https://github.com/zeit/next.js/tree/canary/examples/with-universal-configuration-build-time

[2019-01-04 11:52] caprica-Six commented on #4582
@timneutkens  - Yeah, I know good point. Been trying to figure this out. Looks like custom less is fine to compile with HMR, but the theme-ing with 'antd' has the HMR issue. Came across this [article](https://medium.com/@mzohaib.qc/ant-design-dynamic-runtime-theme-1f9a1a030ba0) where I tried to implement the "yarn add antd-theme-webpack-plugin", but still not luck. Gonna do a working repo, hopeful

[2019-01-04 16:10] novascreen commented on #5781
I've also run into `Cannot read property 'tap' of undefined`.

I need to install webpack for react-styleguidist, but it seems if the version doesn't match the one Next is using this error occurs. I solved this by specifically installing the same webpack version Next requires.

If you use Yarn you might be able to solve this with its selective dependency resolutions, but haven't tried that myself.

[2019-01-04 16:19] cellog commented on #5781
I solved by removing node_modules, removing any reference to webpack, restarting the computer and running npm i (note that without the restart, it didn't work). This is not an easy bug to fix it seems

[2019-01-04 18:36] mulholio commented on #5750
Nothing on this thread seems to be working out.

I can run locally, but @webpro 's solution to use Webpack dotenv doesn't seem to get my Now deployment working:

[code]
@jesstelford 's original solution does not work either.

The problem seems to be that I can't access my environment variables with `process.env.VARIABLE_NAME` when in production. Has anyone else had success with a now-deployed app

[2019-01-04 18:40] webpro commented on #5750
@mulholio I'm using it in https://github.com/webpro/bookstore

[2019-01-04 18:44] mulholio commented on #5750
@webpro do you have any secret variables? I'm starting to think that might be some of my problem.

[2019-01-04 18:47] webpro commented on #5750
@webpro No

[2019-01-04 18:54] jameskennethrobinson commented on #858
Any progress on this issue?

[2019-01-04 19:20] dmitweb opened #5988 "Additional style on reload, css prop, styled-components"
# Bug report

## Describe the bug

When i change styles in css prop and reload page i get error "Warning: Prop `className` did not match.". In head style section i see two same styles (old and new). Problem only on client side.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:
1. Change styles in css prop
2. Refresh page (error in console on client)

[2019-01-04 19:24] dcalhoun commented on #858
@jameskennethrobinson you may need to elaborate or open a new issue. There is already an example of using [Next.js and RNW together](https://github.com/zeit/next.js/tree/canary/examples/with-react-native-web).

[2019-01-04 19:55] steida opened #5989 "Cannot find module './modules/UnimplementedView'"
Canary changed strategy to import modules. With 7.0.2, React Native Web works. More info here:
This is cross issue because I don't know where the bug is.

https://github.com/necolas/react-native-web/issues/1220

[2019-01-04 20:40] timneutkens commented on #5989
I'm not sure what's happening here. You didn't add the `serverless` target right?

[2019-01-04 20:49] steida commented on #5989
No. I also checked Next.js RNW example with the same result.

[2019-01-04 20:49] #4908 closed

[2019-01-04 20:51] timneutkens commented on #5750
Everyone in this issue will want to upgrade their application to this: https://github.com/zeit/now-examples/pull/214

- Much smaller lambdas
- Reproducible result
- No "custom" environment, just what you provide, we don't override `package.json` + don't drop yarn.lock/package-lock.json anymore. We don't add next-server anymore etc.

More details here: https://github.com/zeit/now-builders/pull/150

[2019-01-04 23:39] James-Quigley opened #5991 "Object(...) is not a function"
Aware of https://github.com/zeit/next.js/issues/5550 but that was closed due to not following template

# Bug report

## Describe the bug

When running the app on now.sh, after visiting the homepage I get an error:
`TypeError: Object(...) is not a function`

## To Reproduce
I'm unable to repro locally, but the issue consistently pops up when deploying on now.sh

## Expected behavior
Would expect t

[2019-01-05 00:09] balupton commented on #5750
@timneutkens can you provide details on how to use that with with-typescript and with-css, as most people in this issue ran into problems because of a mandatory useage of one of the with-* helpers. Are such helpers no longer necessary?

[2019-01-05 00:19] timneutkens commented on #5750
I'm not sure what the issue is 🤔 As per zeit/now-examples#214:

1. Add now.json

[code]

2. Upgrade to Next.js 8 canary

[code]

3. Enable serverless target in next.config.js:

[code]

Or when you're using plugins:

[code]

You can read more about the serverless target here: https://github.com/zeit/now-builders/pull/150

And here: https://github.com/zeit/next.js/pull/5927

[2019-01-05 04:01] noiboi commented on #5868
Experiencing the same issue, however even deleting ```.babelrc``` and ```babel-plugin-react-intl``` didn't help in my case.

[2019-01-05 05:49] balupton commented on #5750
@timneutkens ok great, so none of the workarounds above that we had to do are necessary anymore! Fantastic! Thanks you for your hard work

[2019-01-05 06:12] James-Quigley commented on #5991
New issue now after implementing those changes. It builds and deploys okay, and instead of crashing when loading the index, my logic pushes a new route onto the router `/auth/login`, but that 404s. Works locally?

[2019-01-05 11:17] timneutkens commented on #5750
Exactly 🙏 No workarounds and a lot of benefits 👍

[2019-01-05 12:01] adamszeptycki commented on #5750
@timneutkens
After adding the changes you suggested I see:
[code]
And it turns out that is really missing `OJLfDlRyija6wxm_8Ywn4` folder in static.

[2019-01-05 12:18] adamszeptycki commented on #5750
but it's missing `_document`
file in that path

[2019-01-05 13:30] timneutkens commented on #5750
Are you deploying to Now or your own hosting?

[2019-01-05 13:31] adamszeptycki commented on #5750
AWS lambda

[2019-01-05 13:33] timneutkens commented on #5750
Please read https://github.com/zeit/next.js/pull/5927. It sounds like you're deploying a Next.js `server`, instead you should deploy the standalone functions that come out of the Next.js serverless target build.

[2019-01-05 13:45] zivanovicb1 commented on #3720
+1

[2019-01-05 14:56] indutny opened #5995 "`with-webassembly` fails with `wasm validation error: at offset 4: failed to match magic number`"
# Examples bug report

Getting:

[code]

When running `with-webassembly` example.

## Example name

`with-webassembly`.

## Describe the bug

Web page displays `wasm validation error: at offset 4: failed to match magic number`, instead of running the actual web assembly. The wasm file delivered to browser consists of base64'd:

[code]

So I suppose there is some error along the path.

## To Reprod

[2019-01-05 14:57] indutny commented on #5995
Oh, yeah. `.next/static/wasm/e19a968cddf73c54a7ae.wasm` contains: `[object ArrayBuffer]`.

[2019-01-05 15:12] indutny commented on #5995
Surprisingly, running `npm run build` results in proper contents of `.wasm` file, and everything works just fine.

[2019-01-05 15:12] jzabala commented on #5944
Thank you very much for you detailed response @oBusk. It really helped me.

[2019-01-05 15:59] wheredoesyourmindgo opened #5996 "webpack dotenv example"
# Example

https://github.com/zeit/next.js/tree/master/examples/with-dotenv

## Description

What does the following code on line 1 do in `next.config.js`? Is it necessary?

`require('dotenv').config()`

[2019-01-05 17:44] sergiodxa commented on #5996
That load environment variables from the .env file to process.env.

It's not required if you are using `dotenv-webpack` since this load them from .env already but it can help if you want to use those variables inside the next.config.js.

[2019-01-05 18:16] wheredoesyourmindgo commented on #5996
I see. Thanks for the explanation.

[2019-01-05 18:16] #5996 closed

[2019-01-05 18:42] NicholasKuchiniski opened #5997 "Shallow routing still gets old query params"
**To Reproduce**
- Create a page.
- Create an event that calls Router.push(newUrl, newUrl, { shallow: true });
- The new newUrl is the same page with updated query params.
- When the event is called, page re-renders, but props.url.query still has old query params.

**Expected behavior**

- props.url.query should have new query params

**System information**

- Version of Next.js: 7.0.2

[2019-01-05 21:32] wheredoesyourmindgo commented on #5996
Oddly my next app breaks when I leave that line included, and everything works fine when I omit it. I give up trying to figure out why. I can access process.env variables in next.config.js without that line so I'll simply leave it omitted.

[2019-01-06 02:41] MatteoGioioso commented on #2581
Same issue here, I have used `assetPrefix: './'` which fixed the `href` of the link tags. However my static assets like images and videos links are broken.

[2019-01-06 12:19] vzaidman opened #6000 "App Extended Context Support"
# Feature request

## Is your feature request related to a problem? Please describe.
In short, I need context in my http service and i want to make it discreet to if it runs on the server or client.

For example i want to call "httpGet('/something')"
without providing `auth` to the function all the time.

Without nextjs, I'd go with the following initialization code:
[code]
that saves the auth som

[2019-01-06 14:30] uedkx commented on #5985
+1

[2019-01-06 16:00] timneutkens commented on #5997
Can you provide a reproduction repository?

[2019-01-06 16:01] timneutkens commented on #5995
I actually think this is a bug in webpack-dev-middleware 🤔 As we use their `writeToDisk` option 🤔 https://github.com/zeit/next.js/blob/canary/packages/next/server/hot-reloader.js#L365

[2019-01-06 17:35] indutny commented on #5995
https://github.com/webpack/webpack-dev-middleware/blob/master/lib/fs.js#L35 - `source` here is an `ArrayBuffer`, and it is not prepared to handle it. Looking further.

[2019-01-06 17:46] indutny commented on #5995
The culprit: https://github.com/webpack/webpack/blob/master/lib/Compiler.js#L336-L338 . There is a discrepancy between webpack-dev-middleware and webpack. Sending a PR.

Thanks for the tip, @timneutkens !

[2019-01-06 17:54] #5997 closed

[2019-01-06 17:58] timneutkens commented on #5995
🙌

[2019-01-06 18:00] indutny commented on #5995
https://github.com/webpack/webpack-dev-middleware/pull/356

[2019-01-06 18:01] indutny commented on #5995
Now I can finally work on my app again :joy: Nice framework, @rauchg and team!

[2019-01-06 18:01] #5995 closed

[2019-01-06 18:06] timneutkens commented on #5995
🙏 Thanks!

[2019-01-06 20:00] ztanner commented on #5988
The babel plugin configuration in .babelrc is missing the `{ "ssr": true }` setting. I've created a PR to fix this in the example. Read more here: https://www.styled-components.com/docs/tooling#usage

[2019-01-06 23:11] #5985 closed

[2019-01-06 23:12] #5988 closed

[2019-01-06 23:39] dmitweb commented on #5988
@ztanner @timneutkens issue still didn't solved. I have already tried this before submit issue. Please check again. Error still exists.
Steps to reproduce the behavior:
1. Add `css={'padding: 20px;'}` to `<Title>`
2. Refresh page
3. Change padding: 20px; to padding: 10px; (hot reload)
4. Refresh page and see error

[2019-01-07 00:10] ztanner commented on #5988
Sorry, you're right - I misread the docs, as SSR is actually enabled by default. I'll keep looking at this.

[2019-01-07 01:30] anthonyshort opened #6004 "Unexpected identifier on next@canary"
I'm upgrading a next app to use v8 canary for serverless target. I wasn't able to get next working on now before this. However, when I'm running my app locally I'm getting this error:

[code]

This error goes away when I revert back to v7.

## To Reproduce

next.config.js looks roughly like this:

[code]

babelrc

[code]

package.json

[code]

## System information
 - OS: macOS
 - Version of Next.

[2019-01-07 01:39] timneutkens commented on #6004
How do you run it locally? Just `npm run dev`? Are you using a custom server in development?

[2019-01-07 01:42] anthonyshort commented on #6004
`yarn dev` to run it locally. No custom server.

[2019-01-07 01:45] timneutkens commented on #6004
One hint of what might be the issue is that you're using `publicRuntimeConfig` which is not supported per the serverless target spec: https://github.com/zeit/next.js/pull/5927

I'll have a look in the morning.

[2019-01-07 01:45] mvanderkamp commented on #3564
I have to agree that it should absolutely NOT be the responsibility of library developers to decide which browsers to target. That should be for developers using the library to decide. Otherwise you can quickly run into problems, with different library authors making different decisions about browser support.

[2019-01-07 01:47] anthonyshort commented on #6004
Gotcha! Thanks, I'll take a look at removing this and see how we go.

[2019-01-07 01:54] anthonyshort commented on #6004
Doesn't look like that's it. Still getting the same error.

[2019-01-07 04:04] lanlan1128 opened #6005 "Using jquery plugin in Next.js"
# Question about Next.js
When I try to load the jquery plugin width the following code to pages/myFullcalendar.js

`import React, { Component } from 'react';
import './App.css';

import $ from 'jquery';
import 'moment/min/moment.min.js';

import 'fullcalendar/dist/fullcalendar.css';
import 'fullcalendar/dist/fullcalendar.print.min.css';
import 'fullcalendar/dist/fullcalendar.js';`

I got this trou

[2019-01-07 11:48] timneutkens commented on #6005
As per the issue template.

[2019-01-07 11:48] #6005 closed

[2019-01-07 12:08] timneutkens commented on #6004
Just tried to reproduce this issue based on the provided files and couldn't, probably because the issue is related to an imported dependency in a page 🤔 Could you provide a page so I can test it?

I basically did:

- Added package.json
- Added .babelrc
- Added next.config.js
- `yarn`
- Created `pages` directory
- Created `pages/index.js` holding `export default () => <div>test</div>
- `yarn dev` (

[2019-01-07 13:30] dcalhoun commented on #706
@bel0v I believe you should already be able to accomplish this with [`next-plugin-transpile-modules`](https://www.npmjs.com/package/next-plugin-transpile-modules). This issue should likely be closed. cc/ @timneutkens

[2019-01-07 13:45] timneutkens commented on #706
I'd still like to investigate alternative solutions.

There was recently a very detailed thread by Jamie about the issue of compiling node_modules: https://twitter.com/jamiebuilds/status/1080840492525350912

[2019-01-07 13:55] azizhk commented on #706
I read the thread by Jamie, though I would also like to share Henry Zhu and Babel's take on this situation and solution.
https://babeljs.io/blog/2018/06/26/on-consuming-and-publishing-es2015+-packages

(Not disagreeing with Tim, just thought I'd share, many pros and cons. Might help Tim in investigating alternative solutions)

[2019-01-07 14:05] timneutkens commented on #706
Yeah we've been talking with many people about this issue the past half year, including Henry 😄

[2019-01-07 16:53] astenmies opened #6006 "Scoped package used as external package throws "Uncaught SyntaxError: Invalid or unexpected token""
# Bug report

## Describe the bug

When a [scoped package](https://docs.npmjs.com/misc/scope) is set as external in next.config.js, an error is thrown.

Chrome:

Firefox:

When checking in the build what's wrong, we can see that the `@` character is considered as invalid.

[code]

**next.config.js**
[code]

## To Reproduce

1. Go to [https://github.com/astenmies/next-scope-starter](https://github.

[2019-01-07 17:10] TxHawks commented on #706
Concerns about transpiling node_modules notwithstanding, wanting to transpile your own packages in a monorepo is a very common requirement, to which these concerns do not apply

[2019-01-07 17:47] timneutkens commented on #6006
Sounds like you're updating externals incorrectly, generally you have to return the request. This is not really a Next.js issue. I guess you could use this community plugin: https://github.com/martpie/next-plugin-transpile-modules

[2019-01-07 17:47] #6006 closed

[2019-01-07 19:18] bel0v commented on #706
@dcalhoun I've tried it but unfortunately I still get unexpected token error. There is an open Next 7 issue on this plugin which might be related

[2019-01-07 19:21] martpie commented on #706
@bel0v

You should read the FAQ ;) there's a solution to this problem: https://github.com/martpie/next-plugin-transpile-modules#i-have-trouble-making-it-work-with-nextjs-7

I've been using this plugin on production on multiple projects, and it gets the job done. The Next 7 issue is weird, I am not sure if this is coming from Next or Babel, I opened an issue on this repo anyway: https://github.com/

[2019-01-07 19:24] bel0v commented on #706
@martpie yeah I believe I've tried that.. anyways I'll give it another try

[2019-01-07 19:55] bryan commented on #6004
Not sure my problem warrants another issue or spectrum chat, but I'm also running into an "Unexpected identifier" error on my [vanilla repo](https://github.com/bryan/kindling) - not sure if it may or may not be related to this issue. I've tried modeling it by following the with-jest example, but for some reason couldn't get it to work with my project.

[code]

It looks like when the app is trying

[2019-01-07 20:15] anthonyshort commented on #6004
@timneutkens Thanks for checking that out in more detail. I might put together a small repo to see if I can reproduce it. I'm going to get ripping out things until it works so I can find the culprit. It might have something to do with server rendering, so I'll try and remove my custom _document, and I'll start ripping out components so I can find the culprit.

If it ends up being some weird case t

[2019-01-07 20:19] jamesgorrie commented on #706
@martpie we've started using next7 with a consistent babel.config.js, and yarn workspaces, I might see if I can setup a simple example.

[2019-01-07 20:19] timneutkens commented on #6004
@bryan can you post on https://spectrum.chat/next-js, your issue seems to be a different one.

@anthonyshort that'd be great, thanks, I'd be happy to have a look a repository too if needed, it's definitely a weird case that I want to make sure we handle correctly 👍

[2019-01-07 20:40] bel0v commented on #706
I have forked basic example here
https://github.com/bel0v/learnnextjs-demo
in it, I installed an untranspiled dependency (wired-elements) and tried to fix it suggested way.
I'm thinking maybe I need some additional babel plugins for it to work.. 🤔

[2019-01-07 22:08] martpie commented on #706
@bel0v in the FAQ again, there is an explanation on why Lerna setups do not work (TL,DR; you are probably using is wrong)

[2019-01-07 22:15] stevenpetryk commented on #3432
Hey! Just checking in — this seems to still be happening. Any idea when fragments will be supported?

[2019-01-07 23:20] richardblondet commented on #4148
@eugeneross Hello! How did you end up solving this issue?

[2019-01-08 07:45] sixty-nine commented on #1109
After 2 years of people complaining about HMR there is still no official way to disable it ?!!

[2019-01-08 09:48] bel0v commented on #706
@martpie ah, got it! Didn't realise the third-party package was setup with Lerna. Thanks

[2019-01-08 11:27] hect1c opened #6008 "IE11 Object doesn't support property or method 'isFinite'"
# Bug report

## Describe the bug

I'm getting an error on IE11 only and getting An unexpected error has occurred page.  I am using next@canary. It works on IE10 or Microsoft Edge, and all other browsers. Just not IE11.

## Expected behavior

The page should load as it does in other browsers. The page loads briefly and gets to a certain point in the script and then breaks.

## Screenshots

![image

[2019-01-08 11:30] timneutkens commented on #6008
I assume this is because of an external library you're importing from node_modules. We don't transpile node_modules. So you'll have to add a polyfill: https://github.com/zeit/next.js/tree/canary/examples/with-polyfills

[2019-01-08 11:30] #6008 closed

[2019-01-08 14:07] timneutkens commented on #5598
Solved in #5994

[2019-01-08 14:22] timneutkens opened #6009 "[RFC] cleaning distDir on next build"
# Feature request

## Is your feature request related to a problem? Please describe.

Currently Next.js will keep the `distDir` (by default `.next`) when running `next build` because some deployment strategies involve running `next build` while the production application is running. However in most cases you actually want to start with a clean directory. For example when running `next export` afte

[2019-01-08 14:44] revmischa commented on #2581
An option to export as relative paths (just don't prefix everything with `/`) would be very desirable. I expect to just be able to open index.html of my exported files and see things load. What's the reason to make it absolute by default?

[2019-01-08 14:59] crushy26 opened #6010 "Page load issue"
# Bug report

## Describe the bug

I have converted an html5 template to Nextjs project, seems like some elements of page are broken on initial load, but when I navigate to another page via Link and comeback again ( back and forth ), the elements loads just fine.

Please check the screen recording via below link.

## Screen Recording
https://files.fm/f/usagtq75

## System information
 - OS: macOS

[2019-01-08 15:01] timneutkens commented on #6010
Looks like a styling/mounting issue.

[2019-01-08 15:01] #6010 closed

[2019-01-08 15:05] martpie commented on #4989
After a fairly large project with Next.js, I can share here that routing was the biggest pain point, I can explain a bit more here.

We had the content of the website on a headless CMS, and were using the `pages` like a `templates` directory. The problem came when some of the content had a link to another content item.

For example:

[code]

To do the server-side rendering for this, we needed to t

[2019-01-08 15:50] Yuripetusko commented on #2581
for cordova i solved this using cordova local webserver

[2019-01-08 16:50] Janpot commented on #6009
Maybe only clean the HMR files?

[2019-01-08 17:04] timneutkens commented on #6009
It's not just HMR files. It's static files in `.next/static/development/pages`. It's the development runtime in `.next/static/webpack`. If you run `next build` multiple times you'd have multiple `.next/static/<buildid>/pages` folders etc.

[2019-01-08 17:13] Janpot commented on #6009
Do you know what's the rationale behind running `next build` on a project that is already started in production? Are they using `nodemon` or something to automatically restart their server when it updates? And if they are, then doesn't that mean they also suffer from old build files leaking on their file system? And if that's the case, I guess they (maybe unknowningly) suffer from the same problem

[2019-01-08 19:20] Ghostavio commented on #4401
So, it's not possible to use async / await with firebase hosting?

[2019-01-08 19:35] tky5622 commented on #2581
@Yuripetusko
Great! I would be  happy if you could share sample project or code .
 At present, there is little information on next.js with cordova,
 So it will be very very helpfull to anyone who want to use it.

[2019-01-08 19:56] mdrideout commented on #4401
@Ghostavio - I am currently using babel now and it's working (with node 8 on firebase functions functions / client side as well).

This is all my babel stuff - IDK how I got here but it works lol

**Webpack**
			{
				test: /\.(js|jsx)$/,
				exclude: /node_modules/,
				loader: "babel-loader",
				options: {
					plugins: [require('@babel/plugin-transform-async-to-generator')]
				}
			}

**Packa

[2019-01-08 20:18] austincondiff commented on #3728
Sorry to open up an old issue but have we gotten anywhere with this? What if all files and folder names prefixed with an underscore were ignored? e.g. `pages/my-page/_queries.js` or `pages/my-page/_components/MyComponent.jsx`

[2019-01-08 21:00] revskill10 commented on #6004
I got this issue and it's weird that, when i downgrade to next@8.0.0canary.0, the same problem happened also.

[2019-01-08 21:18] timneutkens commented on #6004
Please provide a reproduction @revskill10

[2019-01-08 22:10] #5598 closed

[2019-01-08 22:13] timneutkens commented on #6009
Probably a good idea to cc @DullReferenceException @alexindigo @ztanner

[2019-01-09 00:53] lacymorrow commented on #5364
No problem, thanks for the response @timneutkens 👍

[2019-01-09 00:54] lacymorrow commented on #5167
Thanks @timneutkens, it's really only an issue on IoT devices with limited CPU (like the Pi0)

[2019-01-09 03:42] alexindigo commented on #6009
@timneutkens Sounds like you're proposing to **auto** clean up distDir prior running `export` step? Or you just talking about `build` step?

[2019-01-09 04:00] thian4 opened #6013 "displayName option doesn't work babel-plugin-styled-components plugin"
I'm using nextjs with jest, enzyme, and styled-component
I have this in .babelrc

[code]

this is my index.js
[code]

and index.spec.js

[code]

the test will fail if I commnet out this line

[code]

[2019-01-09 09:22] timneutkens commented on #6013
Sounds unrelated to Next.js.

[2019-01-09 09:22] #6013 closed

[2019-01-09 09:31] timneutkens commented on #5364
🙏 thanks for understanding

[2019-01-09 09:38] alexandernanberg opened #6014 "Set aria-current attributes on next/link"
# Feature request

## Is your feature request related to a problem? Please describe.
Right now you have to do this yourself and I'd bet many forget this. It would be really nice to have this included in `next/link` by default.

## Describe the solution you'd like
Set a `aria-current` attribute on the active link(s). I could work on this, but I might need some guidance on how this should be impleme

[2019-01-09 09:41] Janpot commented on #6009
could it be an idea to clean at the end of the build? i.e.
1. store timestamp `startTime`
2. run build
3. remove all files that were last modified before `startTime`

[2019-01-09 09:45] timneutkens commented on #6009
Sounds like too much complexity imo.
The point is that in certain builds you want to keep the old files. The main question I'm asking is if it would break the deployment process of users like Trulia, I doubt it will, just making sure.

[2019-01-09 09:46] Janpot commented on #6009
Completely agree.

[2019-01-09 10:46] Yuripetusko commented on #2581
@tky5622 ok good call, will write something more formal in next few days

[2019-01-09 10:51] PiyankaYadav commented on #2691
@lfades could you please tell me that what these are doing:
    "dev": "node server.js",
    "build": "next build",
    "start": "NODE_ENV=production node server.js"
I just started with next.js and I want to know wy thses are used.

[2019-01-09 12:07] PiyankaYadav opened #6015 "404 page displaying after adding custom route in server.js file."
# Bug report

404 page displaying after adding custom route in server.js file

I am adding custom route to my server.js file . After that if we restart our app and visit following page:
http://localhost:3000/p/hello-next-js

then we should see the actual page not the 404 page but i am still seeing 404 page.
this is my server.js file->
``
const express = require('express')
const next = require('nex

[2019-01-09 12:21] timneutkens commented on #6015
I doubt this is a bug in Next.js. Maybe you don't have `pages/post.js`?

[2019-01-09 12:21] #6015 closed

[2019-01-09 12:35] jayliang701 opened #6016 "non-cssModule sass import in dynamic imported component"
I am using @zeit/next-sass plugin to handle sass files.

My next.config.js:
<pre><code>const withSass = require('@zeit/next-sass');
const withCss = require('@zeit/next-css');
const withBundleAnalyzer = require("@zeit/next-bundle-analyzer");
const compose = require('next-compose');

module.exports = compose([
    withCss(),
    withBundleAnalyzer({
        analyzeServer: ["server", "both"].includes

[2019-01-09 13:55] nisargrthakkar opened #6017 "Upgrade to 8.0.0-canary.3 from 7.2.0.canary"
When I update next js I got following error. Is there any I missed for my end

![nextjs](https://user-images.githubusercontent.com/26029722/50903579-2d309100-1444-11e9-9862-efac4618870c.PNG)

[2019-01-09 14:01] niravGV opened #6018 "Only User Events are not working with IE (11) Microsoft Edge old version"
- We are implementing Project with next-js & express.js as you shared a demo in the example.
- All things look perfectly working on chrome and other famous browsers.
- But we are getting below error with an attached screenshot with IE(11) & Edge Version.

![ie_error](https://user-images.githubusercontent.com/30285024/50903921-00c94480-1445-11e9-8ba3-9c3fb424dabd.png)

[2019-01-09 14:51] zbycz commented on #5888
Thanks for the idea.

We ended up using this, which is ugly, but works.
[code]

[2019-01-09 14:57] martpie commented on #3018
For people out there with this problem, you can use:

- [next-plugin-transpile-modules](https://github.com/martpie/next-plugin-transpile-modules)
- coupled with an `npm install ../shared`, which will symlink your shared folder to node_modules

[Here is an example](https://github.com/martpie/monorepo-typescript-next-the-sane-way/blob/master/website/package.json#L20), the example here uses TypeScrip

[2019-01-09 16:54] mulholio commented on #6004
I've been running into the same issue. Here's the branch of my code that's causing it: https://github.com/mulholio/copy-that-front/tree/sw

The issue occurred when upgrading to next canary and changing something in next.config.js

[2019-01-09 17:01] mulholio commented on #6017
Duplicate of #6004

[2019-01-09 17:04] mulholio commented on #6004
Some further information that might be useful:

I continued to get this bug when I checked out my non-canary branch that I was previously working on. I fixed the bug on this branch by removing all `node_modules` and then running `yarn install`. However, returning to the [upgrade branch](https://github.com/mulholio/copy-that-front/tree/sw) caused the error to occur again.

[2019-01-09 17:20] revskill10 commented on #6004
@timneutkens My reproduction is this [repo](https://github.com/Kms-Edu/next-app-config)
It's a npm package to package some production-ready NextJS application, so that i can just import it to reuse between my NextJS application.
If i upgrade that package for latest canary branches, whatever happens in my NextJS application, this issue happens.
The error message is unable to understand how to fix i

[2019-01-09 18:57] timneutkens commented on #6017
I doubt it's the same issue @mulholio

[2019-01-09 19:41] alexindigo commented on #6009
@timneutkens if it's just build then we're good :)

![rimraf](http://ia.gs/e90550014ec6/Image%202019-01-09%20at%2011.41.12%20AM.png)

[2019-01-09 20:42] mulholio commented on #6004
@revskill10 was wondering if the following would fix your issue (as in undo it, not allow you to upgrade properly):
1. `rm -rf node_modules`
2. `yarn install`

[2019-01-09 20:51] guillaumebreux commented on #4496
That's awesome!
I'm trying this out but I have some trouble making it work on aws lambda. Does anyone have any tips?

I guess we shouldn't need a custom express server anymore, we could just require the serverless file based on the path 🤔

[2019-01-09 21:59] timneutkens commented on #6009
Right exactly what I thought 💯

[2019-01-09 22:01] ztanner commented on #6009
+1, this makes total sense and would not break things for us.

[2019-01-09 23:57] sergiodxa commented on #6009
Why not release with opt-in flag (let's say `--clean-dist`) and an extra flag to opt-out (`--no-clean-dist`) not doing anything and then in the next release remove the opt-in and make clean distDir default making opt-out required?

That way if you need to keep it you have a major version to add the `--no-clean` and be prepared to update to next version. The build command could warn about the usage

[2019-01-10 00:02] timneutkens commented on #6009
We're already going to have a major version with current changes.

[2019-01-10 04:16] DaveStein commented on #5866
Hey @timneutkens - we were just twittering about static sites the other day :) Ran into this as well, with much less change than this ticket. Did you ever get a link to a repo reproducing this?

My config on 7.0.2 is just:

[code]

Running dev and going to `http://localhost:3000/` works perfect. Doing export causes this same error. You can see whole repo at https://github.com/DaveStein/countycommi

[2019-01-10 04:31] DaveStein commented on #5866
PS: Don't judge me for not using _app.js - I just was making sure things were working as expected on a basic level ;)

[2019-01-10 05:05] nisargrthakkar commented on #6017
Yes @timneutkens this is not same issue

[2019-01-10 09:38] isaachinman commented on #5685
@ivan-kleshnin You'll need a reproducible example, and once you have it you should open a different issue, or perhaps post on StackOverflow.

[2019-01-10 09:53] ivan-kleshnin commented on #5685
As I said, it's not a question but a caution note for people finding this issue. I've spent 3 days trying to migrate to Node11 with NextJS and a realistically big project. Now, I'm switching back to CommonJS because the amount of problems I experienced was too big to handle them.

[2019-01-10 10:16] alexey-kuznetsov opened #6021 "How to escape rendering and send response directly from 'getInitialProps'?"
I created page for sitemap. I generate XML in getInitialProps and want to send it directly to response.
[code]
If there are 'render' method in page, I get what returned from 'render' method. Even if render returns null, I get empty page. But if I remove 'render' method entirely, server responds with XML, as expected, but I have the following error in logs:
[code]

So I don't know, how to resolve t

[2019-01-10 11:49] StefanoChiodino commented on #3862
I can reproduce this on https://github.com/rauchg/blog on Win10,

Just changed the scripts in `package.json` to
[code]

then ran `npm i && npm run build && npm run export`

Terminal hangs here forever
![image](https://user-images.githubusercontent.com/1428893/50966565-2ef26700-14cd-11e9-842b-cd71618d2e9d.png)

[2019-01-10 11:52] timneutkens commented on #5866
This is possibly fixed in `@zeit/next-css@canary`

[2019-01-10 11:58] timneutkens commented on #6021
Please follow the issue template. This is not a clear and concise reproduction, making it really hard to help on your particular issue.

[2019-01-10 11:58] #6021 closed

[2019-01-10 12:01] timneutkens commented on #4496
Looks like you're confusing the "custom server" with "serverless", their APIs are completely separate, there is no `.prepare` method in serverless as there's nothing to prepare, we immediately render the page to html and finish the response when `render` is called.

[code]

[2019-01-10 12:38] disintegrator commented on #3056
@timneutkens are you open to PRs introducing this enhancement?

[2019-01-10 13:11] herr-vogel commented on #5199
@romainquellec

i got it working like this

https://gist.github.com/herr-vogel/0b5d4f3c28f08dc6cc4a2fd4f7b4a4df

[2019-01-10 14:17] mattdamon108 commented on #1406
Here I'd like to share my research about deploying Next.js app on Lambda. I'm using apex up for it because it makes me not to change my code much. I hope this can be a small tip for later coming researchers.

https://github.com/mattdamon108/nextjs-with-lambda

[2019-01-10 14:39] mattdamon108 opened #6022 "example with AWS Lambda"
- Url: https://github.com/mattdamon108/nextjs-with-lambda

Actually, this is not a bug report, I can't find other ways to share the new example here. This is an example about how to deploy Next.js app to AWS Lambda using the Apex up. It seems there is not any AWS Lambda example yet, so I hope this could be a tip for later researchers.

[2019-01-10 15:46] jakelumetta opened #6023 "Can I contribute a blog example?"
# Feature request
Hi! I'd like to contribute a headless cms blog example to the Next.js docs. It would use ButterCMS API free developer account for the blog content.

Would the best place for this be https://nextjs.org/docs/#recipes or somewhere else in the docs?

Let me know your thoughts! Thanks

[2019-01-10 16:11] romainquellec commented on #6022
There are a lot of improvements with v8.0.0-canary.X (check the canary version).
Maybe check and try to make it work with up or serverless ? Thanks.

[2019-01-10 16:26] romainquellec commented on #4482
Will try to make a current project work with next-canary ! (I will add an example if this works as intended)
Thanks for this btw ! Nice work !

[2019-01-10 18:06] guillaumebreux commented on #4496
Indeed, and i have no idea why the code above worked (maybe it was just the cache) but neither of mine or your piece of code worked because `serverless-http` doesn't seem to support  `http.Server` and I can't just return `page.render(req, res)` because the lambda `event` object can't replace the necessary render `req` param..

Also, i don't want to use express/koa/whatever since it will break the

[2019-01-10 18:36] ivan-kleshnin commented on #4789
@msegers I'm trying to follow this setup and getting tons of errors like this:

Any idea how to fix that?

[2019-01-10 18:57] Skaronator opened #6024 "Unable to deploy with-hashed-statics to Zeit.co v2"
# Examples bug report

## Example name
with-hashed-statics

## Describe the bug
I'm unable to deploy with-hashed-statics to Now v2 with Serverless Next.js (v8.0). It looks like that the build script doesn't have access to the static folder.

## To Reproduce

1. Get the with-hashed-statics example
2. Upgrade to NextJS 8.0 Canary
3. Add `target: 'serverless'` to next.config.js
4. Add `"now-build": "

[2019-01-10 19:01] dandrei opened #6025 "<Head><title> not set by the time history change event fires"
# Bug report

## Describe the bug

I'm using Google Tag Manager with a custom trigger for history change (inspired by [SO](https://stackoverflow.com/a/37555679)).

The problem is that the content of the <title> tag as reported in GTM at the time the history change event fires is inconsistent: it may be set to the correct value, to the previous page's title, or it may even be "not set" entirely.

I

[2019-01-10 19:02] Skaronator commented on #6024
Here is a Repo for faster reproducing. Just clone it and run `now` to deploy it.

https://github.com/Skaronator/with-hashed-now

[2019-01-10 19:49] flipxfx commented on #5860
Still having this issue also. Not being able to use Safari for development is a real bummer.

[2019-01-10 19:54] tcerdaITBA commented on #5972
Actually bug it is not fixed; the only difference is that [next-with-apollo](https://github.com/lfades/next-with-apollo) catches the exception in order to prevent throwing and crashing the server, but the error persists.

[2019-01-10 20:53] isaachinman opened #6026 "Add displayName to error page(s)"
# Feature request

## Is your feature request related to a problem? Please describe.
Recently in [next-i18next](https://github.com/isaachinman/next-i18next), we implemented some console warnings to improve DX. If a page-level component does not return `namespacesRequired` in `pageProps`, we pass a warning and print that component's `displayName` to be helpful. This caused me to realise that the [_

[2019-01-10 21:02] timneutkens commented on #6026
Sounds good to me 🤔

[2019-01-10 21:11] isaachinman commented on #6026
@timneutkens Cool, any preference on what that should be?

[2019-01-10 21:37] timneutkens commented on #6026
I guess `Error` or `ErrorPage` 🤔

[2019-01-10 22:13] timneutkens commented on #6023
Sure! Feel free to send a PR.

[2019-01-10 22:42] isaachinman commented on #6026
@timneutkens Forgive me if I'm being naïve but is it as simple as #6029?

Also, I tried to run `testonly` locally and hundreds of not-headless Chromium apps were opened simultaneously and crashed my machine. Did I miss something, or would you take a PR for that, too?

The tests seem to be failing on CI but it looks like a registry thing.

[2019-01-10 22:53] timneutkens commented on #6026
Looks fine to me!

[2019-01-10 22:58] caprica-Six commented on #3983
Thanks @sunlee-newyork  - worked like a charm after restarting the server.
I did forget to add the `import flash ... ` & the .babel import...

[2019-01-10 23:19] timneutkens commented on #6022
Feel free to add it to https://github.com/unicodeveloper/awesome-nextjs

[2019-01-10 23:19] #6022 closed

[2019-01-10 23:19] timneutkens commented on #3056
Not yet, I have a few ideas on tackling this.

[2019-01-11 00:13] steida commented on #5989
With 8.0.0-canary.4

 ERROR  Failed to compile with 1 errors                                                                  1:11:33 AM

This dependency was not found:

* private-next-pages/_app.tsx in ./node_modules/next/dist/build/webpack/loaders/next-client-pages-loader.js?page=%2
F_app&absolutePagePath=private-next-pages%2F_app.tsx

To install it, you can run: npm install --save private-next-

[2019-01-11 00:17] timneutkens commented on #5989
https://github.com/zeit/next.js/blob/canary/examples/with-react-native-web/next.config.js#L7-L9

It's because that line is not taking into account aliases set by Next.js, could you send a PR?

[2019-01-11 02:04] DaveStein commented on #5866
@timneutkens `"@zeit/next-css": "^1.0.2-canary.2",` no dice

[2019-01-11 02:47] steida commented on #5989
I would, but I don't know which aliases are set by Next.js.

[2019-01-11 03:06] michaelGregoire commented on #1069
I agree, the documentation (or lack thereof) leaves something to be desired. Please… please… please… provide concise documentation of the framework classes and their APIs.

[2019-01-11 08:03] guillaumebreux commented on #4496
Thanks @timneutkens, I appreciate your help.
But it's not working either at the moment, I still have this error: `typeError: Parameter "url" must be a string, not undefined`

I'll stop polluting this thread and keep digging and i'll write an example if I ever find a solution 😄

[2019-01-11 08:58] shYkiSto commented on #4684
@timneutkens looks like this no longer works in next.js@7? prior to opening an issue wanted to know wether it was overlooked or removed intentionally

[2019-01-11 09:32] forMine commented on #5099
why does npm package manager  get error~

[2019-01-11 09:35] rezanouri87 commented on #5476
@timneutkens I am facing the same issue and link that you've provided is broken. Could you please share your solution again?

[2019-01-11 09:56] tangye1234 commented on #2668
It is still an issue when:
router1 with url `/a`, asPath `/a`
router2 with url `/a`, asPath `/b`

1. push router2
2. then push router1.
actually:
the history is replaced by router1
expected:
router1 should be pushed into the history, while the asPath is different from the previous

Rout cause:

[code]

[2019-01-11 10:18] ivan-kleshnin commented on #5997
For the interest of people facing the same issue (like me). I had this problem and the reason was that I passed `router` from `_app.js:App` through props (I attempted that to avoid `withRouter` wrapping). For some reason, `query` was sometimes outdated. When I switched back to getting `router` prop from `withRouter` the problem was fixed.

[2019-01-11 10:36] Jero786 commented on #256
There is some update from this PR? there would be awesome to be in the next release version.

[2019-01-11 11:02] webberwang commented on #4263
how would we enable babel to use es6 instead of es5?

[2019-01-11 11:31] timneutkens commented on #5989
[code]

This should do

[2019-01-11 11:46] gbreux opened #6032 "Dynamic import inside getInitialProps and template literals"
# Bug report

## Describe the bug
When i tried to use the new serverless feature (`v8.0.0-canary.3`) on AWS, I thought it was related to AWS itself (see https://github.com/zeit/next.js/issues/4496#issuecomment-452851188). But I may have found an unrelated issue that can be reproduce locally.

[code]

When you try to use `${lang}` inside the `import()` function, the server will break with this erro

[2019-01-11 12:06] timneutkens commented on #6032
I was afraid this would happen 🤦‍♂️ Basically we have to inline all dynamic imports into the bundle for rendering. I'd like to start by pointing out using dynamic requires/import is generally a bad idea as it'll bundle *way more* than you expect / want to. Besides that feel free to investigate fixing this, as this is not going to be a blocker for the v8 release. The affected plugin is https://gith

[2019-01-11 12:52] mitaxe opened #6034 "How to add css and sass support with css modules?"
The example below doesn't work. I haven' found any solutions.
[code]

[2019-01-11 12:53] timneutkens commented on #6034
Please follow the issue template and file this issue in the correct repository: github.com/zeit/next-plugins.

[2019-01-11 12:53] #6034 closed

[2019-01-11 13:50] jakelumetta commented on #6023
Great will do.  Is https://nextjs.org/docs/#recipes as a link the best place or can I contribute a full guide  that lives in the https://nextjs.org/docs/  somewhere ?

[2019-01-11 13:53] timneutkens commented on #6023
I think the best way currently is adding it to https://github.com/unicodeveloper/awesome-nextjs

[2019-01-11 15:41] JeromeFitz commented on #5846
https://zeit.co/docs/v2/deployments/configuration#build.env

Didn't know we needed to (or could) wrap the Environment Variables needed as part of the build within a build object.

🤯️ 🤯️ 🤯️
[code]

🤯️ 🤯️ 🤯️

[2019-01-11 15:57] lucasconstantino opened #6035 "[with-apollo] Reduce boilerplate"
Hi there.

I believe the current example for Apollo usage has an unnecessary boilerplate size. For instance, there is no need to make `_app.js` render method aware of Apollo - we can solve everything in the connector (`with-apollo-client`).

Are you guys open to pull-requests? I can either work on a pull-request with refactoring suggestions, or on an alternative example.

[2019-01-11 17:19] williamboman opened #6036 "Navigating to non-existing route on client-side causes unknown error"
# Bug report

## Describe the bug

When loading a non-existing route with SSR we get expected behaviour - `res.statusCode === 404` in `getInitialProps`. However, when navigating to a non-existing route on the client-side (for example loading a 404 route with SSR, navigate to an existing route, let's say `/`, then hitting the browser back button) the error document will be rendered, but in `getInit

[2019-01-11 17:37] alexindigo commented on #5238
We had exactly same issue, and upgrading graphql version didn't help (at first), so we spent quite some time investigating, until we've found that one of the dependency of our dependency had it's own copy of `graphql` that was older version – that package had graphql as `dependency` instead of listing it as `peerDependency`. After it was fixed everything went back to normal.

In case anybody else

[2019-01-11 20:48] timneutkens commented on #6035
Sounds fine to me

[2019-01-11 21:09] tomasz-sodzawiczny commented on #5616
@timneutkens  Following up on this (the problem is still present).

I believe the reason behind this issue is that next.js server build externalizes all `.js` files in `node_modules`:
* master:  https://github.com/zeit/next.js/blob/master/build/webpack.js#L50-L52)
* canary: https://github.com/zeit/next.js/blob/canary/packages/next/build/webpack-config.js#L61-L63

With `commonjs` target that means

[2019-01-11 21:34] tomasz-sodzawiczny commented on #5616
Technically you can override it in next config (cc @nickdima @TxHawks - you may find it helpful):
[code]

This matches the behaviour for client-side / serverless in current implementation, but can break/deoptimize some stuff if something else is added to the array in the future.

[2019-01-11 22:53] mikeislearning commented on #2887
@designspin How does this fix the issue? I haven't had any luck

[2019-01-12 12:17] alexandernanberg commented on #5533
@timneutkens Would you accept a PR that would uses a similar approach like this? It would be a pretty big breaking change but imo it's worth it. I think the current `next/link` API i one of next's weak points atm.

[2019-01-12 13:55] janus-reith opened #6040 "Feasibility of micro frontends"
Im evaluating wether nextjs would be suitable for a microservice approach, where the page is build from multiple separate components that could be deployed separately.
I found different concepts that only render serser side static templates or create the content clientside.

I would like to have am isomorphic approach, preferable with nextjs.
Did anyone implement such a solution, or what would be

[2019-01-12 16:38] AlanPieczonka commented on #6040
Just out of curiosity, what would be the purpose of this approach?

[2019-01-12 17:02] richardgill commented on #5685
I don't have many `.mjs` files in my project but something like this helped me:

[code]

But not sure if it will help you @ivan-kleshnin

[2019-01-12 18:15] DaveStein commented on #5866
@timneutkens should I just go create a new ticket in that repo and reference this one?

[2019-01-12 18:17] guhyeon opened #6041 "Official site learn excel incorrectly working."
https://nextjs.org/learn/excel/lazy-loading-modules
https://nextjs.org/learn/excel/lazy-loading-components

I followed these tutorial, but it is not working well.
especially analyze does not shows commons.js.

please check it.

[2019-01-12 18:59] janus-reith commented on #6040
The purpose would be to enable a vertical style of development - Different teams could individually develop and deploy the parts relevant to them without having to deploy the whole stack.
in a specific case for a client that would be differencent teams taking care of different services, which should be presented to the customer In one seamless experience.

While this could certainly be implemented

[2019-01-12 21:11] guillaumebreux commented on #6032
Well this bug wasn't related to the issue I had with AWS after all. It's been 2 days now and tried everything I could think of but I still didn't manage to make it work with an api gateway event object.

So.. I'll wait for someone to find a solution and keep deploying my 40mb app on s3 at every deploy 😬

ps: for this particular ticket, i'll take a look but I found a more suitable solution to get m

[2019-01-12 22:12] dima-f1 commented on #5363
Any update or workaround on this issue?

[2019-01-12 23:16] jaydenseric opened #6042 "Router context breaking change in v8.0.0-canary.6"
# Bug report

## Describe the bug

The `next/router` migration to `React.createContext` in https://github.com/zeit/next.js/pull/6030 (Next.js v8.0.0-canary.6) is a breaking change for the GraphQL SSR related examples such as [`with-graphql-react`](https://github.com/zeit/next.js/tree/canary/examples/with-graphql-react) and probably [`with-apollo`](https://github.com/zeit/next.js/tree/canary/exampl

[2019-01-13 00:46] timneutkens commented on #6042
Right so the issue is the non-standard rendering of the React tree in getInitialProps, I guess the best solution would be to wrap `Component` in the provider, so that when it's rendered the value is provided automatically. This would require no user-side changes.

[2019-01-13 01:51] steida commented on #5989
I just checked with-react-native-web with

[code]
and

[code]

And still the same error.

[2019-01-13 06:58] njiyto commented on #3720
+1

[2019-01-13 16:04] williamboman commented on #6035
I think the current design is better. The `withApolloClient` container is not only meant to be used in `_app`, but can be used elsewhere if one needs to access the apollo client object. Your proposal would mean creating a container `withApolloProvider`, which would only have one valid use case (to enhance the `_app` component). All this to remove 2 lines of JSX? I also think it's easier to get an

[2019-01-13 16:13] Siddharth2212 opened #6043 "Challenge compressing nextjs app"
# Question about Next.js

Questions should be posted on https://spectrum.chat/next-js

Here is the nextjs app I have developed http://nextfast.herokuapp.com/ . I have already enabled gzip compression and checked that it is enabled. But google lighthouse says I can save 4.95 seconds on mobile by enabling gzip compression. For example it says I can save  636 kbs by compressing this file
 http://next

[2019-01-13 21:55] timneutkens commented on #6043
It looks like gzip is only enabled for the root url, everything else is not gzipped. This is an issue with Heroku and not Next.js, it's generally better to handle gzip on the fly.

[2019-01-13 21:55] #6043 closed

[2019-01-14 00:32] #5970 closed

[2019-01-14 02:08] junjie-lean opened #6048 "want help about readme.md"
# Question about Next.js

Questions should be posted on https://spectrum.chat/next-js

hello , i just interested in readme.md, how to generate hyperlinks like this:
![pic](https://user-images.githubusercontent.com/40194410/51094021-32933000-17e4-11e9-84db-7685c5adbe49.png)

Thanks~   ：）

[2019-01-14 05:15] siddharthsogani commented on #6043
I have implemented compression middleware to the express app. What else do I need to do?

[2019-01-14 07:26] jacobwgillespie opened #6049 "Support Yarn PnP"
# Feature request

It would be nice to have support for Yarn PnP, now that it's officially stable in Yarn 1.12.  Here's some info on enabling it: https://gist.github.com/arcanis/02b49752c385908479734d8027d7a6c7.

Create React App 2.0 supports PnP via [pnp-webpack-plugin](https://github.com/arcanis/pnp-webpack-plugin), so it might be a nice reference for implementation.

[2019-01-14 10:56] timneutkens commented on #6048
They're provided by https://shields.io/#/

[2019-01-14 10:56] #6048 closed

[2019-01-14 11:06] Yonben commented on #3249
@alexsenichev Did you try @macmenak solution?

[2019-01-14 11:45] roytsang opened #6051 "Upgrade from next v7.2.0 to next v8.0.6-canary, app.js conflict with webpack resolve config"
# Bug report

## Describe the bug
If next.config.js consist of resolve rules, and have a _app.js, it will give error during compling as following.
[code]

## To Reproduce

1. Clone the repo
https://github.com/roytsang/bug-report/tree/master/next-v8-canary-appjs

2. Ensure there is _app.js under pages forlder

3. Ensure there is resolve rules in next.config.js

4. Run npm run dev, it will give the

[2019-01-14 11:52] timneutkens commented on #6051
Note that this is *not* a bug, you're overriding the webpack config at your own risk and it can be backwards incompatible if you're not taking into account that values might change. In this case you're not taking into account that Next.js might set aliases in the config, which you also have to add.

[2019-01-14 11:52] #6051 closed

[2019-01-14 13:04] richard-ejem commented on #4211
Thanks, I can confirm using `_document.js` solved my problem.

[2019-01-14 13:10] iamstarkov commented on #6009
it sounds good to me and that's exactly what I ended up doing for my blog

[2019-01-14 13:17] obetoferreira commented on #5363
For now, i'm running ESLint before application start only. Also, i'm using some linter plugins to my code editor. Haven't checked if there is any updates to fix this.

[2019-01-14 16:09] webpro commented on #5750
Example working migration: https://github.com/webpro/bookstore/commit/4879717dd0e358d558e04d3463637c60866a3b0e per @timneutkens guide. Thanks, Tim!

[2019-01-14 16:31] junjie-lean commented on #6048
oh, it's wonderful, thx.

[2019-01-14 16:52] nokisnojok opened #6054 "Compiled scripts become bigger without reason"
# Bug report

## Describe the bug

add a page file, after next build, the file commons[hash].js is to big.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:
1. add a file /pages/index.js

2. next build, then the /.next/static/chunks/commons[hash].js is 174kb;
3. add a file /pages/other.js

4. next build, then the /.next/static/chunks/commons[hash].js

[2019-01-14 17:56] ssylvia commented on #4194
@timneutkens Also ran into this issue with Next 7.0.2.

[2019-01-14 18:44] timneutkens commented on #6054
This is expected behavior. If a dep is used in 50% of all pages it'll be considered a common module and included in the commons bundle.

[2019-01-14 18:44] #6054 closed

[2019-01-14 19:41] dandrei commented on #6025
Hi, @timneutkens, any clue as to how this can be solved? GTM is a pretty popular tool, I'm sure lots of people have had to get it to work in production alongside Next.js.

Thanks!

[2019-01-14 22:13] samholmes opened #6057 "Issue when using Spread Operator in JSX"
# Bug report

## Describe the bug

This is an error I get when trying to use the spread operator on properties from within JSX.

[code]

## To Reproduce

Return the following from a component:

[code]

## Expected behavior
Div get's the property `id='foo'`.

## System information
 - OS: macOS
 - Version of Next.js: 7.0.2

[2019-01-14 22:34] timneutkens commented on #6057
Works fine based on the reproduction:

[code]

updates `pages/index.js` to:

[code]

[2019-01-14 22:34] #6057 closed

[2019-01-14 23:08] coetry opened #6058 "issue with micro instances in with-cookie-auth example"
## Example name
`with-cookie-auth`

## Describe the bug
The package.json in the `api` directory specifies `index.js` as the main entry point, but no such file exists in that directory, which is why when I run `npm run dev` (inside the api directory) I get the following error in my terminal:

Error: The file or directory "index.js" doesn't exist!

## To Reproduce
Steps to reproduce the behavior, pl

[2019-01-14 23:19] coetry commented on #6058
<img width="1280" alt="screen shot 2019-01-14 at 5 18 27 pm" src="https://user-images.githubusercontent.com/10926503/51147627-95a2b800-1820-11e9-8fec-f7313bc06de5.png">

<img width="1280" alt="screen shot 2019-01-14 at 5 19 10 pm" src="https://user-images.githubusercontent.com/10926503/51147630-989da880-1820-11e9-9ced-da3d83ba1483.png">

[2019-01-14 23:23] anthonyshort commented on #6004
FWIW I don't seem to be running into this issue after upgrading next and removing my node_modules

[2019-01-15 01:31] timneutkens commented on #6004
I guess that's a good thing 🤔 I still can't reproduce the issue. Maybe we can close this issue if it doesn't show up again.

Sidenote:
I noticed you have:

[code]

Under the `test` env, in v7+ this is no longer needed as `next/babel` will detect `process.env.NODE_ENV === 'test'` and set that configuration accordingly 🙌

[2019-01-15 02:14] DaveStein commented on #5866
I removed next-css and this is still happening although I know export had originally worked. I will try and work backwards.

[2019-01-15 03:37] DaveStein commented on #5866
I didn't notice the existing bug _before_ the CSS module was added. `export` expects to be served from a server as it says in the `getting started` section. Missed that. Maybe original poster was too embarrassed to admit the same ;)

[2019-01-15 04:07] DaveStein opened #6059 "Have next export work with relative paths"
# Feature request

## Is your feature request related to a problem? Please describe.
I was excited to see a static site generator in Next. I want to write a prototype of a site, which would end up using Next. I'd love the prototype to be static so I can zip it up and send to someone who isn't tech savvy unzip and run the html. The issue is that someone needs to make the html run on "server" ie `se

[2019-01-15 05:35] pmg1989 commented on #5741
I also encountered, how can this bug be solved? Begging for a solution！

[2019-01-15 07:02] tomaswitek commented on #4998
Hi @ccarse I have a working fork which we use in production already: https://github.com/panter/next.js/pull/2
I am also ready to invest time to open a PR for this feature.
@timneutkens @alexindigo  is there a other way how to solve this problem?
If we don't need a `basePath` config, can you pls give us a minimal example using `assetPath `?

[2019-01-15 07:32] teleginzhenya commented on #5630
@timneutkens can I work on this issue? Should it works as option flag or add `safari10: true` for all cases?

[2019-01-15 11:15] timneutkens commented on #5630
Yes @teleginzhenya

[2019-01-15 11:17] timneutkens commented on #6059
I recently closed a similar issue to this one as it would involve a lot of work for very minimal gains.

[2019-01-15 12:10] mulholio opened #6061 "Excessive chrome instances opening when `testonly` is run"
# Bug report

## Describe the bug

Running `testonly` crashes my computer due to the numerous (50+) Chrome instances it opens for testing.

## To Reproduce

1. Fork a fresh copy of next.js repo
2. Clone to local machine
3. `yarn` to install dependencies
4. `yarn run bootstrap` as state in contributing.md
5. `yarn testonly`
6. Tests run and open windows and gradually slow down my machine until it c

[2019-01-15 12:30] timneutkens commented on #6061
This is not a bug, our integration tests run `chromedriver` which interacts with chrome. As the contributing.md outlines you can run single tests: https://github.com/zeit/next.js/blob/canary/contributing.md#to-run-tests

Closing as duplicate of #5895

[2019-01-15 12:30] #6061 closed

[2019-01-15 12:49] mulholio commented on #6061
Okay, worth putting a warning then? Save others crashing their computers too.

[2019-01-15 13:33] mrasoahaingo commented on #2006
Still have the same issue...

[2019-01-15 13:42] timneutkens commented on #2006
@mrasoahaingo it's not really relevant to post "same issue", as @oliviertassinari said it's an upstream issue. If the issue is open you can consider it's still there an not solved, so saying "same issue" is not really useful, if you want to "+1" an issue use GitHub's reaction system on the initial post to 👍

Thanks.

[2019-01-15 14:39] martpie commented on #4989
@Tarpsvo Sure, what we do is we build a map with all the pages of the application when starting the app and their parameters (`asPath`, `query`, and so on). It works for us because we know the content cannot be changed in production without redeploying (and then restarting the Next.js instances).

Then we have a React provider with this map in `_app`.

And we have a `PageLink` component that look

[2019-01-15 14:45] Tarpsvo commented on #4989
@martpie That makes a lot of sense and I was leaning towards a similar solution. Thanks a lot! My other "solution" would've been to just use Razzle instead of Next.JS.

[2019-01-15 15:01] ssylvia opened #6062 "Run next build in development mode"
# Feature request
If `process.env.NODE_ENV=development`, bundle app with development mode.

Keep libraries (like React) running in dev mode and enable source maps but disable HMR.

## Additional context

Our team has 3 environments in our CI/CD pipeline (Dev, Staging, Production). Both Staging and Production should run in current nextjs production mode with `NODE_ENV=production next build && node

[2019-01-15 15:56] ivan-kleshnin opened #6063 "SSR + <img/> + dangerouslySetInnerHTMl = problem"
# Bug report

I think I've found a bug with hydration. I believe it's a bug of NextJS because I didn't have it before I switched to NextJS (from my custom SSR implementation).

## Describe the bug

#### The following renders normally

[code]

#### The following fails

[code]

**on client with message**

Note the empty style tag which causes the mismatch.

## System information

 - Version of Next.

[2019-01-15 17:39] hopperhuang opened #6064 "where is the code make next.js serve the async script?"
# Question about the next-server

Hi, guys, recently, I am reading to source code of next. I am curious about that where the next/server serve the async scripts.

You can see that when you build your project, you will get the production with async script attached at the end of the document like this: '/_next/2327f35a-8a2a-42ae-a92a-6b56f117fb2c/page/_error.js', with a unique buildId

But when i re

[2019-01-15 18:21] bitriddler opened #6065 "Dynamic import loadableGenerated.webpack error when using next export"
Getting this error when using `next export` with dynamic imports

![image](https://user-images.githubusercontent.com/2437315/51200367-93605c80-18f9-11e9-8f52-3366c212a93a.png)

I was able to reproduce this bug on the `with-dynamic-import` example in this branch bitriddler/next.js#1

Copy/Paste in terminal and open localhost:8080 to reproduce
[code]

What's even more strange if you uncommented this

[2019-01-15 18:33] timneutkens commented on #6064
Only `.next/static` is served under `/_next/static`. The directory structure is like: `/_next/static/<buildid>/pages/index.js`

[2019-01-15 18:33] #6064 closed

[2019-01-15 18:38] dfoverdx commented on #4496
I'm a bit unclear.  This thread looks like it applies to two scenarios: server-less apps and pre-compiled servers that include all of the necessary server-side npm packages webpack'd together.

The gif in the first comment on this thread appears to regard the latter scenario, which is the one I'm interested in.  It looks like it uses `next-server` which may or may not be [this npm package](https:/

[2019-01-15 23:07] alexeypetrushin opened #6066 "False warning "invalid DOM property class" for preact"
# Bug report

When next.js used with preact it show false warning "Warning: Invalid DOM property `class`. Did you mean `className`?"

## Describe the bug

read above

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:
1. Follow next.js documentation to use it with preact
2. Add any element with the class attibute `<p class="anything">`
3. Open and see t

[2019-01-16 02:08] WingMrL commented on #5957
I got the same problem.

![image](https://user-images.githubusercontent.com/13505958/51221063-c7c42f00-1972-11e9-91bd-bfcc6d2cb5c5.png)

And I also made preparation according to this contributing: [https://github.com/zeit/next.js/blob/canary/contributing.md](https://github.com/zeit/next.js/blob/canary/contributing.md).
1. `yarn link` in `packages/next-server`
2. `yarn link` in `packages/next`,
3.

[2019-01-16 02:30] JeffGuKang commented on #2473
@sergiodxa `componentWillMount`'s link is changed to  https://reactjs.org/docs/react-component.html#unsafe_componentwillmount.

[2019-01-16 06:55] itsfadnis commented on #4187
@timneutkens I'm facing the same issue as well. I have a couple node_modules that use `Symbol`. I've polyfilled `Symbol` from `core-js`. I still get this error:

![screen shot 2019-01-16 at 12 24 15 pm](https://user-images.githubusercontent.com/5605495/51231500-b2a6ca80-1989-11e9-8073-f7c0d91a828c.png)

I'm facing this issue on IE 11. Any pointers? I'm not sure what I'm missing.

[2019-01-16 09:32] #5630 closed

[2019-01-16 11:15] YIZHUANG commented on #4901
@codinronan @timneutkens  what are the situation on this? Let's say if i want to add polyfill to IE9 only,
can the following considered to be legit done on _document.js?

`static getInitialProps(ctx) {
   let isIE9 = false;
  if(userbrower === ie9) {
   isIE9 = true
}
return {
...initialProps (with the renderpage stuff),
isIE9
}
}
render() {
  return   (<html>
        <Head />
        <body>

[2019-01-16 16:57] dandrei commented on #6025
I also checked the value of `document.title` on `Router.events.on('routeChangeComplete')`. The inconsistency is still there.

[2019-01-16 17:07] j0lv3r4 commented on #6058
Hey @coetry!

The example is structured as a monorepo and only works on Now v2.

I'm working on a pull request to make `npm run dev` run everything locally too.

[2019-01-16 19:13] insayd10 opened #6071 "Cant use fetch for component"
Hi there.
long after the end of research I decided to use ssr for next. next is super for me.
but the trouble is that, when working in the following pages under the pages directory:
[code]

components do not work under directory. What is the reason?

[2019-01-16 19:15] insayd10 commented on #6071
import Link from 'next/link'
import fetch from 'isomorphic-unfetch'

const Index = (props) => (
  <Layout>
    <h1>Batman TV Shows</h1>
    <ul>
      {props.shows.map(({show}) => (
        <li key={show.id}>
          <Link as={`/p/${show.id}`} href={`/post?id=${show.id}`}>
            <a>{show.name}</a>
          </Link>
        </li>
      ))}
    </ul>
  </Layout>
)

Index.getInitialProps = as

[2019-01-16 21:51] timneutkens commented on #6071
Next.js can only find *top level* getInitialProps, meaning you always declare your data-fetching at the *page* level.

[2019-01-16 21:51] #6071 closed

[2019-01-16 21:58] insayd10 commented on #6071
but I have a part named sidebar. and I include this part in every page. I need to show the posts here. No other solution?

[2019-01-16 21:59] insayd10 commented on #6071
but I have a part named sidebar. and I include this part in every page. I need to show the posts here. No other solution?

[2019-01-16 23:10] insayd10 opened #6072 "about getInitialProps"
How do I take data on a mandatory part of all pages?

[2019-01-16 23:45] akolybelnikov commented on #5750
As it is explained [here](As explained [here](https://zeit.co/docs/v2/deployments/official-builders/next-js-now-next/#custom-server)  no custom server can be used with lambdas deployed with now v2. Does it mean next-routes cannot be used? What about dynamic pages with clean urls?

[2019-01-17 01:03] samcorcos opened #6073 "Fail to deploy with firebase as a dependency"
# Bug report

## Describe the bug

This has been a journey, but I think I've pinned down the bug to something related to Firebase. I have a fairly simple app that I have attempted to deploy using `now` with the following configuration:

[code]

While looking up the error, I found these two sources that suggest it might be a firebase issue: [source 1](https://spectrum.chat/zeit/now/now-next-package

[2019-01-17 02:50] chixor opened #6074 "Child Component of <Head> doesn't update on Link trigger"
# Bug report

## Describe the bug

When I add a basic tag like `<title>{title}</title>` as a child to `next/head` it receives a `class="next-head"` prop and updates when I click on a `next/link`.

However when I add a component (called `BreadcrumbsSchema`) as a child to `next/head` it doesn't update on activating `next/link`. When I pass the `className` prop to its child (in this case, a `<script/

[2019-01-17 05:51] seawatts commented on #5868
I'm still running into this issue. Cleaning cache and node_modules didn't help

[2019-01-17 07:16] balupton commented on #5868
@seawatts are you using yarn or npm? I had to switch to yarn for it to work. Also if you are using yarn, try switch to the canary tag for all zeit packages.

[2019-01-17 07:31] seawatts commented on #5868
Using npm. I haven't tried to upgrade other next dependencies. I just
reverted back to 7 for now

On Wed, Jan 16, 2019, 23:16 Benjamin Lupton <notifications@github.com>
wrote:

[2019-01-17 08:46] lostfictions commented on #5575
@geekyme Do you happen to have a snippet for how exactly you did this? I think I'm hitting OOM issues during production builds as well.

[2019-01-17 09:16] lostfictions opened #6075 "Build can silently fail (without emitting an error) in low-memory environments"
# Bug report

## Describe the bug

My Next app is working fine locally -- both running in dev and with a production build -- but when building and deploying on a cloud server, I intermittently get an error during deploy:
[code]

This is happening on a VM with 1gb ram without swap configured; in fact, when I added an extra gig of swap, the problem immediately goes away. #5575 might be relevant here

[2019-01-17 12:20] timneutkens commented on #6072
Please follow the issue template, questions should be posted on https://spectrum.chat/next-js.

[2019-01-17 12:20] #6072 closed

[2019-01-17 12:30] timneutkens commented on #5575
We've been spending a lot of time on bringing down memory usage in webpack: https://github.com/webpack/webpack/pull/8609

[2019-01-17 12:52] sixtatami opened #6076 "Next.js not working with usespring of react-spring"
## Bug report
### Describe the bug
when trying to import useSpring from react-spring:
import { useSpring, animated } from "react-spring/hooks";

I get:
`Unhandled Rejection (SyntaxError): Unexpected token import`

### To Reproduce
https://codesandbox.io/s/wy1vjy3ww7

[2019-01-17 13:41] schoenwaldnils opened #6077 "Lowercase hashes"
# Feature request
To support AWS static hosting in S3 the hashes for *.js and *.css files need to be lowercase.

## Is your feature request related to a problem? Please describe.
sometimes when the hashes include uppercase letters I get 404 as a response.

## Describe the solution you'd like
Either the hashes are lowercase by default, or there would be an option to configure this

## Additional co

[2019-01-17 14:16] AmanAgarwal041 commented on #5291
you can checkout a fix for the client side css fix https://github.com/AmanAgarwal041/next-css-fix

[2019-01-17 14:16] AmanAgarwal041 commented on #299
you can checkout a fix for the client side css fix https://github.com/AmanAgarwal041/next-css-fix

[2019-01-17 15:58] Luktm opened #6079 "window is not defined"
## Window is not defined every time npm install reactjs modules
window is not defined after install react-chat-widget or any others reactjs modules

## Error of  Window is not defined when import react modules
when i import the module as picture below:

1) import module
![import-widget](https://user-images.githubusercontent.com/24861458/51331277-58eeef00-1ab4-11e9-9fda-1fc74b4e4381.PNG)

2) use mo

[2019-01-17 16:04] Luktm opened #6080 "window is not defined"
## Window is not defined every time I was trying npm install reactjs modules
window is not defined after install react-chat-widget or any others reactjs modules

## Error of  Window is not defined when import react modules
when i import the module as picture below:

1) import module
![import-widget](https://user-images.githubusercontent.com/24861458/51331277-58eeef00-1ab4-11e9-9fda-1fc74b4e4381.PN

[2019-01-17 16:14] timneutkens commented on #6079
Duplicate of #6080

[2019-01-17 16:14] #6079 closed

[2019-01-17 16:16] timneutkens commented on #6080
Sounds like you'll want to use the `ssr: false` option for `next/dynamic`: https://github.com/zeit/next.js#3-with-no-ssr

It basically comes down to `window` not being available in a Node.js environment, so the code itself has to be required only on the client side, which is what `ssr: false` handles.

[2019-01-17 16:16] #6080 closed

[2019-01-17 16:18] Luktm commented on #6080
I had tried before, but it doesn't work, could you please show me how you do it in code haha

[2019-01-17 16:32] timneutkens commented on #6075
Please see https://github.com/zeit/next.js/issues/5575#issuecomment-455155535 it's an upstream webpack issue.

[2019-01-17 16:33] timneutkens commented on #6075
Btw if it runs out of memory it's not going to silently fail, it will either exit with status 137 or a giant error message from Node.js saying you ran out of heap memory.

[2019-01-17 16:34] timneutkens commented on #6077
Could you provide a clearer description? Do you mean the `buildId` has uppercase characters? Do webpack hashes do? 🤔

[2019-01-17 16:41] lostfictions commented on #6075
I wonder if it's an error with the suggested config for `next-typescript` [using the fork-ts-checker-webpack-plugin](https://github.com/zeit/next-plugins/tree/master/packages/next-typescript#type-checking), then -- what seems to happen is that, where I typically get a message like this:
[code]

when something goes wrong, only the client shows up as being successfully compiled, with no message abou

[2019-01-17 16:45] steida commented on #5989
@timneutkens Can you point me to what should I debug, please?

[code]

[2019-01-17 17:13] steida commented on #5288
Webpack is somehow broken, Babel works.

https://github.com/necolas/react-native-web/blob/master/docs/guides/getting-started.md#configuring-babel

[2019-01-17 17:15] steida commented on #5989
So I tried Babel instead of Webpack, and it magically not only this issue but also "The default export is not a React Component".

So there is something wrong with Webpack and TM.

https://github.com/necolas/react-native-web/blob/master/docs/guides/getting-started.md#configuring-babel

[2019-01-17 22:54] BillyPurvis commented on #4638
Is this mentioned in the docs?

[2019-01-18 04:07] coetry commented on #6058
oh gotcha, thank you! I deployed it and it works fine on v2

[2019-01-18 04:07] #6058 closed

[2019-01-18 04:17] chixor commented on #6074
This worked, thanks!

[2019-01-18 04:17] #6074 closed

[2019-01-18 09:08] timneutkens commented on #6074
Happy to help!

[2019-01-18 13:34] bhurlow commented on #4626
[figwheel](https://github.com/bhauman/lein-figwheel), a clojurescript hot reloader puts a circle in the bottom right to indicate loading status. I found this to be a convenient location

[2019-01-18 14:46] pathikdevani commented on #3890
@timneutkensI am also facing the same issue. I'm using `7.0.2`.

[2019-01-18 17:09] idevelop commented on #4989
Hey @timneutkens I just started learning next.js, loving it so far!

Correct me if I'm misunderstanding this, but isn't it suggested to do just that in the server side clean URLs tutorial, where the routes are all manually mapped in server.js? Isn't that effectively the same thing as next-routes, just more verbose?

I think that having support for rewriting as a built-in feature on the client-side

[2019-01-18 17:18] mkaraula opened #6086 "with-next-page-transitions example is failing"
# Examples bug report

## Example name
with-next-page-transitions

## Describe the bug
After following the description on https://github.com/zeit/next.js/tree/canary/examples/with-next-page-transitions and accessing the site, the server throws an Error

[code]

## To Reproduce
1. `npx create-next-app --example with-next-page-transitions with-next-page-transitions`
2. `cd with-next-page-transitions

[2019-01-18 18:58] MIRAMAXED commented on #4148
@eugeneross Hi! Answer the questions above, please ^^^

[2019-01-18 20:59] noahtallen commented on #6073
I'm getting an identical error. I actually found [this repo](https://github.com/torbensky/next-firebase-now) trying to fix it. Unfortunately, his solution is to import from the firebase submodules rather than directly from firebase, but I already do that (note, I'm using Typescript):

[code]

And then it logs this every time you try to load the site:

[code]

[2019-01-18 21:17] jakelumetta commented on #6023
Ok thanks!

[2019-01-18 21:17] #6023 closed

[2019-01-18 22:37] schoenwaldnils commented on #6077
Yes, it seems to be the buildId
[code]

We use a lambda function to lowercase the request url. So that the user can open either `.com/testurl` or `.com/TestUrl` and land on the same resource `.com/testurl`

But `/_next/static/dyiriqhhok_t6rxne_yds/pages/page.js` doesn't exist in the S3 bucket :P

[2019-01-18 22:41] timneutkens commented on #6077
Are you using `generateBuildId`?

[2019-01-18 23:35] schoenwaldnils commented on #6077
Thanks, that helped. I do now 👍

[2019-01-18 23:35] #6077 closed

[2019-01-19 02:46] seymoe commented on #6080
hi,  i have this problem and i use `ssr: false`, solved successful. But another problem is the Component i import have a static method, I cannot call that method, so how to deal with this, thanks!!

[2019-01-19 11:58] kopacki commented on #6040
I just wonder why would you have multiple separate next.js apps?

I'd see one worker running next.js. You can already have multiple components on your pages (developed separately). Given the following `package.json` snippet (your next.js app worker):
[code]

Now, let's presume the team working on`product-listing-box` app deploys a new version of their code.   The only thing thats needed is to run

[2019-01-19 14:34] r0b- opened #6090 "Serverless deploy fails with next-images/next-optimized-images plugin"
When using one of the image plugins (https://github.com/twopluszero/next-images or https://github.com/cyrilwanner/next-optimized-images), the `now` deployment fails with the following error message for each image:

[code]

## To Reproduce
I extended the nextjs example with an image (loaded with require in pages/index.js and import in pages/about.js) to play around:
https://github.com/r0b-/now-exam

[2019-01-19 15:01] sixtatami commented on #6076
it works with:
import { useSpring, animated } from "react-spring/hooks.cjs";

I close this

[2019-01-19 15:01] #6076 closed

[2019-01-19 15:01] johnstew opened #6091 "Next.js with tabletop"
# Bug report

## Describe the bug

I'm trying to import Tabletop.js and getting some require errors around it. It appears the client bundle is looking for server side packages.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:
1. Install tabletop in Next.js project
2. Invoke Tabletop.init(...)
3. Run `next dev`

[code]

## Expected behavior
Tabletop h

[2019-01-19 15:13] timneutkens commented on #6091
The correct way to handle this is creating an external API and fetch that API from Next.js, because Next.js will need to be able to fetch data on both the server + client side, if you use `<Link>` getInitialProps is executed on the client side.

[2019-01-19 15:13] #6091 closed

[2019-01-19 15:15] timneutkens commented on #6090
Please read: https://github.com/zeit/next-plugins/issues/384#issuecomment-455770697

[2019-01-19 15:46] timneutkens commented on #6090
You use a different directory for files that are not going to be in `/static`, because if you use next-optimized-images they will output the file into `.next/static/images`, which the builder will then upload under `/_next/static/images`

[2019-01-19 19:53] r0b- commented on #6090
Works fine now! Thanks a lot!

[2019-01-19 19:53] #6090 closed

[2019-01-19 20:05] timneutkens commented on #6090
🙏 Happy to help!

[2019-01-20 02:30] zefexdeveloper opened #6092 "Link the home page with query"
The title must be confusing because I really didn't think of a better description for that.

I want to create routes like twitter where the routes would be something like http://example.com/username

That is how I implemented so far (custom `server.js`):

[code]

it's working normally if I try to access directly, but if I create a link like this:

[code]

In a page it will put in the browser the u

[2019-01-20 05:02] kopacki commented on #6040
I tested the approach I've mentioned above. It was an easy thing thanks to [create-react-library](https://www.npmjs.com/package/create-react-library). That lib helped a lot with building the mico React apps. Please let me know if the example would be needed ;)

[2019-01-20 12:41] #5607 closed

[2019-01-20 12:46] timneutkens commented on #6092
Your route definition in the server.js points to `/user` while your `href` points to `/`, I guess that's the issue:

[code]

[2019-01-20 12:46] #6092 closed

[2019-01-20 20:33] codyzu commented on #2069
I found an interesting solution:

1. serve next using an express server as shown [here](https://github.com/zeit/next.js/tree/master/examples/custom-server-express)
2. require whatever server side modules you need inside your `server.js` and add them the `req` via an express middleware

[code]

:point_up: this avoids webpack ever trying to include the server side module since the `server.js` file i

[2019-01-20 20:35] codyzu commented on #5354
I found an interesting solution:

1. serve next using an express server as shown [here](https://github.com/zeit/next.js/tree/master/examples/custom-server-express)
2. require whatever server side modules you need inside your `server.js` and add them the `req` via an express middleware

[code]

:point_up: this avoids webpack ever trying to include the server side module since the `server.js` file i

[2019-01-20 22:42] 4cm4k1 opened #6095 "Last two canary releases haven’t been published to npm"
The latest canary release of `next` available on npm is `8.0.0-canary.7`. Not sure why?

[2019-01-20 22:43] timneutkens commented on #6095
Not entirely sure why, it's caused by lerna for sure, I've asked @dav-is to look into it.

[2019-01-20 22:52] ngocketit commented on #5225
@mdo5004 I tried the one you mentioned but got another error:
[code]

Here is `next.config.js`:
[code]

[2019-01-21 01:59] teleginzhenya commented on #6086
Hello!
The problem is inside `next-page-transitions` lib.
You can change `PageTranssition.js` and edit line 250.

[code]

[2019-01-21 07:21] curran opened #6096 "Incorrect Instructions for with-cookie-auth example"
# Examples bug report

## Example name
with-cookie-auth

## Describe the bug
As a developer evaluating this example, I'm not able to run it locally.

The instructions state to install and run using:

[code]

However, these commands do not work, because there is no `package.json` in the directory https://github.com/zeit/next.js/tree/canary/examples/with-cookie-auth

## To Reproduce

Download the ex

[2019-01-21 09:55] egorovli opened #6097 "Integration with linaria"
Hi. I'm trying to use [linaria](https://github.com/callstack/linaria), and currently have a couple of issues.

### Custom loader

First of all, I need to [add a custom loader](https://github.com/callstack/linaria/blob/master/docs/BUNDLERS_INTEGRATION.md) for `/\.jsx?$/` files. I've (sort of) achieved it by doing so, but I'm not sure it's done 100% correctly:

[code]

It _seems_ to work, but I'm st

[2019-01-21 10:46] timneutkens commented on #6097
Please follow the issue template. https://spectrum.chat/?t=95b2a6f9-1a1f-4dc7-b410-b9349bcbde21

[2019-01-21 10:46] #6097 closed

[2019-01-21 12:46] FabienGreard commented on #5991
I'm having the same issue when doploying on github  ? Is it due to react hooks ?

(also I've been doing #5750 (comment), but got error 500 with TypeError: Object(...) is not a function in log)

However launching now from my macbook works just fine.

[2019-01-21 12:59] mkaraula commented on #6086
It works. Thank you!

[2019-01-21 15:26] dav-is commented on #6095
The issue had to do with the committed `yarn.lock` file being out of date.

Fixed and released `8.0.0-canary.10` :+1:

[2019-01-21 15:26] #6095 closed

[2019-01-21 15:51] timneutkens commented on #6095
Sorry for the inconvenience 🙏

[2019-01-21 15:52] sweetcoco opened #6098 "Setting distDir config breaks SSR Page Titles"
# Bug report

## Describe the bug

Setting the config distDir to a directory outside your Next project causes page titles to render in the browser and not server side.

## To Reproduce

I cloned the material-ui next esample to reproduce this but its not necessary:
https://github.com/mui-org/material-ui/tree/master/examples/nextjs

If you make a simple Next app with a custom _app.js and _document.j

[2019-01-21 16:10] sweetcoco commented on #6098
If you remove the distDir config altogether and build the Next app right in its default directory, you can then just copy and paste `.next` directory into `../functions` and it will behave properly. For what that bit of knowledge is worth.

[2019-01-21 16:38] sweetcoco commented on #6098
@timneutkens Gotcha. Seems weird that a simple copy and paste of the .next directory fixes the issue but setting distDir doesnt, right?

[2019-01-21 17:35] patientplatypus commented on #5206
Well this is incredibly unhelpful. What was the issue?

[2019-01-21 20:15] pantchox commented on #2252
@adueck thanks for extending @sergiodxa nice example, question is if this is secure enough on https? or there are some security issues needs to be thought of

[2019-01-21 20:49] knitkoder commented on #2069
hi @codyzu have you found a way to make this work also on `next export`?

[2019-01-21 20:51] timneutkens commented on #5363
Solved in #6099

[2019-01-21 20:56] codyzu commented on #2069
hello @knitkoder ... no, I haven't used the export functionality. However, my feeling is it would be ~strange~ impossible to use server side imports/requires in a exported static site. By definition, a static site doesn't have any server side JS running.

[2019-01-21 21:02] IMSamuel opened #6100 "Deploy next.js project with windows iis 10.0"
Hey
Im quiet new to next.js and im trying to deploy my project to a windows webserver. Ive already installed node and iisnode but i really dont know how to get it work.

[2019-01-21 21:39] #5363 closed

[2019-01-21 21:49] timneutkens commented on #6100
You'll have to run `next build` and `next start`. I'm not particularly experienced with iis, so I would suggest posting your question on https://spectrum.chat/next-js as per the issue template so that you reach more users.

[2019-01-21 21:49] #6100 closed

[2019-01-22 01:34] marcodejongh commented on #6040
@kopacki Wouldn't those dependencies mean that the main app would have to be rebuild for every change?

Independent deployment seems a requirement.

[2019-01-22 02:51] j0lv3r4 commented on #6096
Hey @curran

I just submitted a pull request to fix this, but I'll explain what happened.

The current folder structure of the example is set up as a [monorepo](https://github.com/zeit/next.js/pull/6101), and because currently is not possible to test a monorepo locally, further setup was needed to run the example locally. The pull request https://github.com/zeit/next.js/pull/6101 fixes that and in

[2019-01-22 03:05] kopacki commented on #6040
Microfrontends are essentially reflecting microservices approach. If you update the dependency of some microservice, you have to deploy that microservice. The deployment of Next.js application worker could be done seamlessly, so in the end, once the team deploys a new version of their microfrontend, their work is done.

[2019-01-22 03:51] ibmsoft commented on #6063
same problem

[2019-01-22 05:33] briefguo commented on #3452
http://localhost:3005/housekeeper/services/

[2019-01-22 05:38] briefguo commented on #3452
`http://localhost:3005/housekeeper/services` works well
`http://localhost:3005/housekeeper/services/` catch the error

Have you encountered such a problem? @vjpr

[2019-01-22 06:43] svobik7 commented on #5860
I am having the same issue with my Safari.

Workaround which works for me is:
**CMD+ALT+E** _(Safari > Develop > Empty Caches)_

[2019-01-22 08:01] isaachinman commented on #1189
For what it's worth, I've implemented a [force-trailing-slash](https://github.com/isaachinman/next-i18next/blob/master/src/utils/force-trailing-slash.js) util at [next-i18next](https://github.com/isaachinman/next-i18next) to circumvent this issue. In the meantime I would suggest people implement their own middlewares.

[2019-01-22 08:07] kopacki commented on #6040
After some thinking, I'd say that you could have an API that delivers components as stringified functions. These stringified functions could be run through `eval()` so you'd end up having a react component injected dynamically without a need to deploy it. This, however, would play well only for some presentational components (that not carry any assets like images).

[2019-01-22 10:02] fabb commented on #4940
I had a similar issue, and the problem was that I had `xxx.test.tsx` files in the `pages` folder which also got compiled with the `next build`. I somehow need to exclude these test files from the next build. I prefer having the test files in the same folder as the implementation file it tests, rather than in a `__tests__` folder.

[2019-01-22 10:34] gondar00 commented on #5010
@timneutkens  can you please explain what was the fix.

I saw this re-appear on version `7.0.2` but its random and in no order

[2019-01-22 12:19] ngocketit commented on #5991
Same problem here

[2019-01-22 12:40] ngocketit commented on #5991
Hmm, it turned out it's my own fault. I wrongly imported a default export.

[2019-01-22 13:46] FabienGreard commented on #5991
Looks likes it was due to using an older version of hooks `react@16.0.6-alpha-2` switching to the 16.8.0-alpha.1 (react@next), everything works just perfectly fine !

Is there any possibility to make it works on a custom server ?

[2019-01-22 14:07] romainquellec commented on #4482
Sorry but not available for a simple serverless example. (My example will be with typescript, so not so basic after all)

[2019-01-22 15:02] itsDZhang commented on #4210
Why is this issue closed?
@AriLFrankel the link you provided does not seem to work.
Would an explanation of why this happen be okay?

[2019-01-22 17:23] revskill10 commented on #6035
In case you need two or more apollo clients in the same application, then yes, but it should be another example. Current design is enough if your application needs only 1 apollo-client.

[2019-01-22 18:10] gilbertosouza-hotmart opened #6103 "Wrong cache growing page document size"
# Bug report

## Descripton

As I (and other users) navigate through my Next.js application, all loaded data from the visited pages are appended into `_NEXT_DATA_` and css styles into header's `<style />` tag.
If I reload the page, the data remains. If I haven't visited a page that someone else has visited, the data is delivered to me as well.
The only way to clear `_NEXT_DATA_` and `<style />` ta

[2019-01-22 18:16] timneutkens commented on #6103
It definitely sounds like you're doing something wrong, it sounds like you're creating a global store for all getInitialProps results that is then transcending requests.

[2019-01-22 18:19] timneutkens commented on #6103
[code]

[2019-01-22 18:51] gilbertosouza-hotmart commented on #6103
@timneutkens thanks for your response. I have the same feeling, but can't find anything. Everything I did was based on this repo's examples. Also, just removed those dependencies but nothing changed.

[2019-01-22 20:36] CaptainChemist commented on #3234
@markbrouch @klujanrosas Did either of you figure out what the solution is for this? I'm trying to figure out how I can have the query built into the component itself so that it can be placed on any page. What does the `getInitialProps` need to be on a component if I want to wrap a `withData()` around it?

[2019-01-22 22:22] pollen5 commented on #6066
That doesn't look like a bug to me, `class` is a reserved keyword in JavaScript, therefore its `className` in jsx.

[2019-01-22 23:31] timneutkens commented on #6103
@gilbertosouza-hotmart it's impossible to help without seeing your code in this case.

[2019-01-23 01:32] octal-laurence opened #6105 "RUNTIME CONFIG IN CLIENT-SIDE"
# Question about Next.js
I planning to put my secretkeys on publicRuntimeConfig, I need to confirm if this is secured feature or is it necessary for that features., in your example you didnt put a secret so Im kinda assuming secret key is not to put there, please confirm

Questions should be posted on https://spectrum.chat/next-js

Exposing configuration to the server / client side
The next/config

[2019-01-23 08:50] qaiser110 commented on #4101
I've created `src/client/icons.js` at the root. In this file I have all the antd icons that I need like so:

[code]

And I've set the absolute imports in ``:

[code]

[2019-01-23 09:33] curran commented on #6096
@j0lv3r4 Thanks for the clarification and PR! Will review it.

[2019-01-23 11:30] timneutkens commented on #6105
The docs are pretty clear about this, anything you add to `publicRuntimeConfig` will be sent to the browser / viewable in the html source of the page.

[2019-01-23 11:30] #6105 closed

[2019-01-23 16:24] AbraaoAlves commented on #6086
The problem is a dep on `next-page-transitions` called `next-page-transitions`. Maybe this [PR](https://github.com/reactjs/react-transition-group/pull/448) insert this problem.

You can fix it just by adding this code to your package.json:

[code]

Or just wait for @teleginzhenya PR

[2019-01-23 17:03] jackgray opened #6108 "next tries to resolve modules that were removed from code"
# Bug report

Whenever I change the folder name of a module or remove it from my code, next build still tries to resolve that path that has been removed from the code.

abridged error output:

import statements from CreateComment.js:
[code]

This happens to me allll the time now. I've had some luck deleting the .next build folder but that hasn't been working lately. I've deleted and reinstalled no

[2019-01-23 18:18] gavinsharp commented on #5206
In my case, I ran into a similar error because I had broken the `Next.js` config (configuring a webpack loader I had failed to install).

[2019-01-23 20:03] gilbertosouza-hotmart commented on #6103
Ok, there is something I'm considering to be an issue.
This is an example of 'getInitialProps' that i'm doing:

[code]
Does the data persist if do dispatch like that, on the server?

[2019-01-23 20:10] timneutkens commented on #6103
Depends on how you're instantiating the `store`

[2019-01-23 21:53] pruhstal commented on #6103
@timneutkens what do you recommend to remove unnecessary packages (like the list you provided) above? `npm prune`?

[2019-01-23 22:48] RuizhenMai opened #6110 "Frontend and backend result in different cookies"
Using Express and PassportJS

Since getInitialProps will be called by frontend and backend, when I try to do things like
[code]

[code]
this will result in different states because when I log in the browser, the browser's cookie is set to be logged but when I refresh, the method called by server, the server will not respond the user I have logged in in the browser. Any help is much appreciated

[2019-01-23 22:51] timneutkens commented on #6110
Your API should be stateless and use an authentication token instead.

See this example: https://github.com/zeit/next.js/tree/canary/examples/with-cookie-auth

Please follow the issue template in the future.

[2019-01-23 22:51] #6110 closed

[2019-01-23 22:56] RuizhenMai commented on #6110
The example cannot be download:
[code]

[2019-01-24 00:08] ktjd123 opened #6111 "when I do HTTP request to custom api server in getInitialProps, it sends to 80port. Can I send it to 3000port which my server is listening."
# Question about Next.js

Questions should be posted on https://spectrum.chat/next-js <- doesn't work.

the code inside getInitialProps is
[code]

the result screen is

![2019-01-24 9 04 15](https://user-images.githubusercontent.com/15044488/51645310-1139fd00-1fb7-11e9-9063-a3f948a4f026.png)
This.

I'm wondering why http request inside getInitialProps is sending to 80port.

![2019-01-24 9 05 37](h

[2019-01-24 00:21] timneutkens commented on #6111
Please follow the issue template.

[2019-01-24 00:21] #6111 closed

[2019-01-24 01:08] ktjd123 commented on #5947
Checked it's fixed

[2019-01-24 02:05] jim-king-2000 opened #6113 "Router cannot work in external modules."
# Bug report

## Describe the bug

I make a module with only one react component:

    import React from 'react';
    import Router from 'next/router';

    export const B = () => <button onClick={() => Router.push('/')}>click</button>;

And I make another module which references the module above.

    import React from 'react';
    import { B } from 'react-module';

    export default () => <B />

[2019-01-24 02:20] steida commented on #5989
OK, fixed with babel.

[2019-01-24 02:20] #5989 closed

[2019-01-24 03:58] zefexdeveloper opened #6115 "HOC not calling getInitialProps"
I'm trying to create a HOC for `withCurrentUser` like this:

[code]

and then trying to use like this:

[code]

But it's not calling `getInitialProps`. What am I doing wrong?

[2019-01-24 05:12] jim-king-2000 commented on #6115
'getInitialProps' would only be called when the component is in the folder './pages'. Have you put the file of the second part of code exactly in './pages'?

[2019-01-24 05:49] revskill10 commented on #6040
I think it's possible ONLY if output of NextJS is not the whole HTML, and only a section of the page, like only a `div` fragment which contains the prebuild HTML output.
I love the concept of micro-frontend as the original comment already said about benefits.

[2019-01-24 10:21] machester4 opened #6117 "r.isMemo is not a function"
# Bug report

## Describe the bug
after doing the deploy with now I get error 500. in the now logs I have seen this error ` r.isMemo is not a function`. in debug this function if it exists and no error has been obtained.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:
1. run - `now`
2. run - ` now log <domain | alias>`

![captura de pantalla 2019-01

[2019-01-24 11:11] timneutkens commented on #6117
`isMemo` doesn't exist in the Next.js codebase. I guess it's something in your codebase.

[2019-01-24 12:11] r0b- commented on #751
thanks @tomsoderlund for this 'serverless' solution!
BTW: For robots.txt you need to change the content-type to 'text/plain'...

[2019-01-24 12:51] zefexdeveloper commented on #6115
No, it's a `NavBar` component. The idea was to have a `NavBar` with the current user using a HOC technique as Spectrum.chat does. But apparently it doesn't work as I expected.

[2019-01-24 13:59] timneutkens commented on #6115
I guess we'll have to make the warning clearer here: https://github.com/zeit/next.js#fetching-data-and-component-lifecycle

[2019-01-24 14:05] robert-barcelona commented on #4347
Has there been any progress on this?  I don't see a good explanation here: [https://github.com/zeit/next.js/#custom-app](https://github.com/zeit/next.js/#custom-app)

[2019-01-24 14:10] letsspeak commented on #3720
+1

[2019-01-24 14:40] jackgray commented on #5209
I am still having this problem after deleting node_modules and the .cache any time I change the name or path of a file or folder in next 7.0.2, it tries to resolve the old names and fails.

from package.json:

"main": "index.js",
	"scripts": {
		"dev": "next -p 7777",
		"build": "next build",
		"start": "next start",
		"test": "NODE_ENV=test jest --watch",
		"heroku-postbuild": "next build"
	},
	"

[2019-01-24 14:53] davidohlin commented on #6117
@machester4 Having the same issue and I'm not sure why, also in `../pages/index.js`. Mind sharing your package.json? Here's mine:

[code]

[2019-01-24 15:23] machester4 commented on #6117
try removing all my pages leaving only my index and the problem continues. try removing index and the problem continues. the strange thing is that it only happens in production.

[2019-01-24 15:58] gilbertosouza-hotmart commented on #6103
I'm using the [with-redux](https://github.com/zeit/next.js/tree/canary/examples/with-redux) example to set my store up.
Even having this piece of code:
[code]
It keeps the data on the server-side store.

[2019-01-24 16:00] remiroyc commented on #6117
Same problem here

[2019-01-24 16:05] DmytroA opened #6119 "Nextjs 8.0.0-canary.12 this.context.updateHead is not a function"
Hello. I`m trying to upgrade nextjs version 7.0.2 to 8.0.0-canary.12. It seems like works correct and even page is loaded but then in few seconds i get this error:
![chrome_2019-01-24_18-02-12](https://user-images.githubusercontent.com/7725212/51690952-79fa9700-2002-11e9-8d85-609cc83c579e.png)

Do you have any thoughts? Thank you.

[2019-01-24 16:33] carlesandres commented on #6117
Same. Something must have changed in a builder because I cannot event deploy versions of my code that I was able to deploy just fine just a few days ago. That is, I do `git checkout [...replace git commit hash here]` and deploying doesn't work.

@timneutkens can you consider re-opening this issue?

[2019-01-24 16:38] francisconelson commented on #4582
Has anyone found a workaround?

[2019-01-24 17:51] timneutkens commented on #6117
There is no reproduction, I can't really help or reopen any issue that has no way to be fixed.

[2019-01-24 17:54] timneutkens commented on #6119
You're probably using an old version of React. Try upgrading.

[2019-01-24 17:54] #6119 closed

[2019-01-24 17:55] timneutkens commented on #6103
I'm going to close this issue as I'm sure this is not related to the way Next.js works, but instead something in your code. Feel free to create a thread on https://spectrum.chat/next-js with a clear and concise reproduction so that it's easier to help you, it's really hard to "just guess" when you're using a bunch of other dependencies and state management.

[2019-01-24 17:55] #6103 closed

[2019-01-24 17:59] steida commented on #5989
I am not sure. It's technically correct, Webpack should work IMHO. What do you think?

[2019-01-24 18:16] devuxer opened #6120 "Stuck trying to get HMR to work w/ TypeScript + Docker"
I'm trying to debug my next.js TypeScript app in a docker container on Windows 10. I cannot seem to get hot module reloading (HMR) to work no matter what I try. I am mounting a volume (as described in #3579), but that still is not working. When I change .tsx files in the mounted volume, nothing happens. Even if I refresh the browser page, nothing happens. The only solution is to completely restart

[2019-01-24 18:22] machester4 commented on #6117
@timneutkens you tried with your own _app.js?

[2019-01-24 18:32] sebfie commented on #2581
@Yuripetusko Can you explain fast how you did? :)

[2019-01-24 20:57] timneutkens commented on #6117
@machester4 please provide a clear and concise reproduction so that I can have a look.

[2019-01-24 20:57] #6120 closed

[2019-01-24 20:58] timneutkens commented on #6120
Please post your question on https://spectrum.chat/next-js, as you'll be able to reach more people in the community. The issue template mentions this too btw.

[2019-01-24 21:04] steida opened #6121 "Next 8.0.0-canary.12 bug"
When updated from 10 to 12, my build fails with:

[code]

[2019-01-24 21:30] devuxer commented on #6120
@timneutkens, Sorry, I don't know how I missed that.

[2019-01-24 21:39] timneutkens commented on #6120
No worries 🙏

[2019-01-24 22:04] #6121 closed

[2019-01-24 22:32] jirikolarik commented on #6117
Same problem here. Local build works just fine. Build on production seems to be fine, but once you try to open website, it breaks..

[code]

[2019-01-24 22:38] machester4 commented on #6117
I just found out the problem is with `react-redux`. to replicate it just create a clean project and connect a page with connect HOC.

[2019-01-24 22:42] timneutkens commented on #6117
@machester4 can you create a repository or something?

[2019-01-24 23:00] machester4 commented on #6117
@timneutkens can solve it by downloading to version react-redux `^4.4.9`. Do you want me to upload the repository for you to investigate?

[2019-01-24 23:12] anthonyshort commented on #6004
Closing this as I haven't been able to reproduce it. Cleaning out node_modules and updating next seemed to fix the problem.

[2019-01-24 23:12] #6004 closed

[2019-01-25 00:14] timneutkens commented on #6004
🙌 Let me know if you run into it again!

[2019-01-25 01:06] wjddnwjddn1 opened #6123 "How to secure https?"
# Question about Next.js

Questions should be posted on https://spectrum.chat/next-js

**Is there an example of https in 'next js'?**

[2019-01-25 01:52] remiroyc commented on #6117
I tried to downgrade react-redux on my production but it didn’t work

[2019-01-25 03:03] zefexdeveloper commented on #6115
@timneutkens I did it different, I don't actually need to get the apollo client from `getInitialprops`, I can just make usage of the `Query` component and it will, the reason for that is because I'm wrapping the `_app.js` with the `withApollo` HOC that has the `ApolloProvider` in it.
I just created a HOC using `Query` and called the `WrappedComponent` passing the current user data as props.

[2019-01-25 03:03] #6115 closed

[2019-01-25 06:33] junjie-lean opened #6124 "question about pkg."
# Question about Next.js
os -v:macOS Mojave 10.14.2
node -v: 10.14.2
pkg -v: 4.3.7
next -v:7.0.2
question description：
I use "PKG" to package my next app, and the packaged file can only be executed in the next app project path. If executed this file in another folder, an error will be reported "Could not find a valid build in the {process.cwd()} directory!" I guess my PKG configuration in package.

[2019-01-25 09:53] RuizhenMai opened #6126 "Cannot work with passport-google-plus-token"
#### Issue description
Potentially a bug? I tried to implement express js and use passport-google-plus-token strategy to login user. My react app works fine but nextjs always return 401 Unauthorized

#### To reproduce the issue

1. Use npm to install passport and passport-google-plus-token
2.
[code]

[code]
3. Use postman or frontend to send request to localhost/verify in the body with
[code]
 tok

[2019-01-25 10:47] carlesandres commented on #6117
Pinning `react-redux` to `4.4.9` sorts it out for me, but is far from ideal.

My app builds and runs fine in production mode on my machine with `react-redux` set to `^6.0.0`.  But it fails with the `r.isMemo...` error when deploying to `now`.

Old versions of my app that I deployed with no problem, fail to be deploy to `now` at the moment. And I they have a `yarn.lock` file. So, as @paulogdm menti

[2019-01-25 10:52] orlandina opened #6127 "Possibility to disable the default title/head behaviour"
# Feature request

## The problem I have right now is as follows:
- I use the next.js build pages as fragments in another parent page (nginx ssi includes)
- Parent Page has a title tag <title>Something</title>
The issues come from https://github.com/zeit/next.js/blob/9320d9f006164f2e997982ce76e80122049ccb3c/client/head-manager.js#L41
- Issue 1. If I do not specify the title in my fragment, the tit

[2019-01-25 11:03] fabb opened #6128 "Bug in Resetting the Form DOM on Browser Back/Forth"
# Bug report

## Describe the bug

In Chrome, when page navigating back/forth to a next.js page that contains a form with previously selected radio and select values, these selected values are still shown, but do not match the react component state. This leads to business logic errors, since the fields are expected to be empty or set to some other initial values.

In a create-react-app this works

[2019-01-25 11:04] machester4 commented on #6117
@carlesandres Hi, I do not think it's a bad idea to downgrade in this case. you can see this [https://github.com/reduxjs/react-redux/issues/1164](url)

[2019-01-25 11:44] zvictor commented on #5347
I finally got it! The jumping on the screen happens when dynamic import is combined with Reactive Search. I made a [branch on the reproducible repo showing that](https://github.com/zvictor/nextjs-issue-5347/tree/reactivesearch).

SSR rendering:
![image](https://user-images.githubusercontent.com/181076/51741644-ccd25e00-2097-11e9-9d70-e65077eddc13.png)

Client rerendering:
![image](https://user-ima

[2019-01-25 12:08] metagrover commented on #5347
Hello @zvictor, [we wrap the content of `ReactiveBase` component](https://github.com/appbaseio/reactivesearch/blob/next/packages/web/src/components/basic/ReactiveBase.js#L123) with emotion `ThemeProvider`. Could that be causing this? 🤔

[2019-01-25 12:13] EVALIJANI opened #6129 "cannot install i18n next example"
success Installed "create-next-app@0.5.9" with binaries:
- create-next-app

(node:13724) UnhandledPromiseRejectionWarning: HttpError: {"message":"Not Found"
,"documentation_url":"https://developer.github.com/v3/repos/contents/#get-conten
ts"}
at response.text.then.message (C:\Users\Eric\AppData\Local\Yarn\Data\global\
node_modules\@octokit\rest\lib\request\request.js:72:19)
at <anonymous>
at proce

[2019-01-25 14:05] JamesBliss commented on #6117
Hey, I'm having a similar issue all of a sudden but with `n.isMemo is not a function`

I don't have redux though and it's happened all of a sudden when I just updated some CSS on my project.

Any thoughts?

[2019-01-25 14:18] timneutkens commented on #6124
Please follow the issue template and post questions on https://spectrum.chat/next-js.

[2019-01-25 14:18] #6124 closed

[2019-01-25 14:23] timneutkens commented on #6117
I'd like to, once again, ask for a reproduction in a repository. 6 people in this issue have said they can reproduce but no one has provided a reproduction. Making it really hard for me to solve your issue, I'd be super happy to have a look into your issue and spend time on this, but it's hard to do that based on a "in my app it fails" type of conversation.

[2019-01-25 14:32] timneutkens commented on #6126
This is unrelated to Next.js, however this example might help you. https://github.com/zeit/next.js/tree/canary/examples/with-cookie-auth

[2019-01-25 14:32] #6126 closed

[2019-01-25 14:35] #6123 closed

[2019-01-25 14:51] machester4 commented on #6117
you are right @timneutkens  in my house I have a basic example in a couple of hours I can upload it. The only difference is that the problem is with `react-redux`, but maybe you can do something with it.

[2019-01-25 15:02] JamesBliss commented on #6117
@timneutkens just look at my https://github.com/jamesbliss/areliverpoolwinning that project is the one I needed to switch to use `@now/static-build` 👍

[2019-01-25 15:04] timneutkens commented on #6127
Running multiple Next.js apps on one page is not advisable and not supported. You'll run into more issues than just this one, for example hydration won't work correctly and webpack bundles could conflict.

You can use the Zones feature to run multiple apps on one domain (per path), we're currently not planning on supporting running multiple Next.js apps interleaved in one page.

[2019-01-25 15:04] #6127 closed

[2019-01-25 15:17] timneutkens commented on #6117
@JamesBliss I can't reproduce the issue both on your repo as-is nor when switching to `now/next` legacy mode, you'll want to use https://github.com/zeit/next.js/issues/5750#issuecomment-451607604

[2019-01-25 15:20] Mracobes9 opened #6132 "how can i handle window scroll event"
Hi. I worked on project with nextjs and i need to set scroll event handler for window. How can i do it ?

[2019-01-25 15:31] Mracobes9 commented on #6132
Can you get example app ?

[2019-01-25 15:44] sebastiansson commented on #6117
@timneutkens

I'm experiencing the same issue. I created a [repo](https://github.com/Digitaliseringsbyran/next-ismemo) and deployed it with Now. I made it with `npx create-next-app --example with-redux-wrapper` The breaking seems to happen when I update the dependencies in my package.json file.

**Working versions on Now**
https://next-ismemo-hoyaaj0kt.now.sh ([commit](https://github.com/Digitalis

[2019-01-25 15:46] JamesBliss commented on #6117
@timneutkens what is the best way to host a next / apollo project that isn't legacy if using `now/next` is legacy mode, or is that fine?

Additionally, if I do the tweaks in that issue/comment I should be good to go?

[2019-01-25 15:53] timneutkens commented on #6117
@JamesBliss `now/next` is not legacy, it *has a legacy mode* which is basically forcing a specific canary version and options / disregards lockfiles etc. You can read more about it here: https://github.com/zeit/now-builders/pull/150

I'm not sure if it will solve the issue for you, as I couldn't even reproduce in legacy mode / static build

[2019-01-25 16:01] JamesBliss commented on #6117
@timneutkens Okay cool, just tried again still same issue. I should note it only happens when you go to `/match`.

Here is a gist of what comes out in the logs: https://gist.github.com/JamesBliss/1270366d4b935ebce755b70ac9fcb3a8

[2019-01-25 16:10] timneutkens commented on #6117
Thanks to @sebastiansson I can reliably reproduce now, having a look right now.

[2019-01-25 16:12] amankakar commented on #6004
i upgrade next from next@7.0.2 to next@8.0.0-canary-2 my npm run dev command is not working.

[2019-01-25 16:31] timneutkens commented on #6004
@anthonyshort I realized today that in Now's bootup error logging there is a missing sentence holding the `err.message`, I've created an internal issue / I'm having someone look into that and fix it, then if it happens again we'll know exactly what is breaking.

Eg like in your first post it only shows `Unexpected identifier` instead of the whole message.

[code]

[2019-01-25 16:58] MartinMouritzen commented on #5920
I have the same problem. Did you ever figure out a solution?

[2019-01-25 17:33] #6117 closed

[2019-01-25 18:18] timneutkens commented on #6117
Thank you very much @sebastiansson, because of your reproduction it was trivial to pinpoint the actual issue (took me 10 minutes). This is a great example of why providing a clear reproduction gets your issue solved faster 🙏

I've just tagged a new canary release holding the fix, it will take ~15-20 minutes for it to become available on npm because of test runs etc.

Once it's available use this c

[2019-01-25 18:38] robert-barcelona opened #6134 "Problems getting Next-redux-saga example to work with "redux-saga": "^1.0.0""
Hi -- I'm new to Next.js and a relative redux-saga newbie -- I've been given the task to connect redux-saga to Next.js for a large project.  The example code -- [https://github.com/zeit/next.js/tree/canary/examples/with-redux-saga](https://github.com/zeit/next.js/tree/canary/examples/with-redux-saga) -- works fine, but it didn't work when I moved it to my project.  Specifically storing to the stor

[2019-01-25 20:06] tacnoman commented on #5616
Solved @tomasz-sodzawiczny

[2019-01-25 21:07] balupton commented on #6049
For those wondering, this is the error:

[code]

[2019-01-25 21:12] balupton commented on #6049
Running `yarn --disable-pnp` resolves it.

[2019-01-25 21:15] RuizhenMai commented on #6126
Sorry I really can't get this to work. One is either I started with the server side with profile.js or login.js, I still cannot login to fetch the github profile. Second is it shows SSL_PROTOCOL_ERR on the browser. This example doesn't seem starter friendly. Third is this does not affect the fact that nextjs's server cannot correctly run the passportjs google plus token strategy.

[2019-01-25 21:21] samcorcos commented on #6073
@noahtallen You might want to try the `next@canary` version. You'll need to `npm i --save next@canary` and update your `now.json` to use `"use": "@now/next@canary"`

[2019-01-25 21:36] timneutkens commented on #5164
Fixed in #6133

[2019-01-25 21:36] #5164 closed

[2019-01-25 21:45] timneutkens commented on #6108
I can't reproduce this issue. Please follow the issue template and provide a clear and concise minimal reproduction (with just `next` and a minimal amount of dependenies).

[2019-01-25 21:45] #6108 closed

[2019-01-25 22:21] noahtallen commented on #6073
Thanks for the tip! I've just tried both of those things, and I now get [this error](https://github.com/zeit/now-builders/issues/155). Progress.... I think?

[2019-01-25 23:57] steida opened #6136 "8.0.0-canary.14 bug"
Updated from 8.0.0-canary.10 with this result:

[code]

[2019-01-26 00:00] timneutkens commented on #6136
@steida that's interesting, could you provide a reproduction? Really curious to see what's going on here.

[2019-01-26 00:02] timneutkens commented on #6136
Possibly related: https://twitter.com/wSokra/status/1087992291548164103

[2019-01-26 00:18] steida commented on #6136
It really is 😲

I tried suggested fix: Add "acorn": "^6.0.5", (need to purge node_modules then), and it works.

It happens in https://github.com/este/este/tree/e92ebee8ca75967903a74820e1cc504a3afee15a.

So I am closing it. Temp fix is weird but working.

[2019-01-26 00:18] #6136 closed

[2019-01-26 01:31] steida commented on #5989
OK. It does not work. I will create a new issue.

[2019-01-26 01:33] steida opened #6138 "Fix React Native Web example"
Use babel instead of webpack. https://github.com/este/este/blob/master/.babelrc

Related to https://github.com/zeit/next.js/issues/5989

[2019-01-26 03:08] victorsferreira commented on #6117
Same happened to me, but i'm not using Zeit. I just found this thread.
Downgrading Redux solved for me.

[2019-01-26 03:22] kirill-konshin opened #6140 "Dev server is closed with code 1 on SIGTERM"
# Bug report

This is a bug report + a workaround that can help someone who will experience same issue like me.

## Describe the bug

https://github.com/zeit/next.js/blob/master/bin/next#L78

Dev server is closed with code `1` on `SIGTERM`. For example this breaks `jest-puppeteer` (which use `jest-dev-server`): it kills the server process after all tests are done.

## To Reproduce

The following s

[2019-01-26 04:23] IceeMC opened #6141 "TypeError: Converting circular structure to JSON"
# Bug report

## Describe the bug

When trying to post the website in a discord channel. I keep getting TypeError: Converting circular structure to JSON. And it won't embed with the meta tags, it just throws that error, it pisses me off how next.js doesn't handle JSON errors.

## Expected behavior
When you post https://beta.discordsbestbots.xyz/ in a discord channel, you get the error

## Screensh

[2019-01-26 04:48] IanEdington commented on #5054
This would be a great addition to this ecosystem. We are looking to generate a number of static landing pages as lightweight entry points into our SPA. This is the perfect solution.

[2019-01-26 04:52] IceeMC commented on #6141
I can't continue with the development of my site until this is fixed.

[2019-01-26 08:18] devuxer commented on #6120
In case anyone has the same issue as me, the next.config.js file in https://github.com/thundermiracle/nextjs-hmr did the trick for me. Modifying it slightly to enable TypeScript compiling results in something like this:

[code]

[2019-01-26 08:43] sebastiansson commented on #6117
@timneutkens That was the least I could do. Thank you for making Next.js even better!

OT: how did you debug? Is there someway to emulate the Now environment locally? Or did you just use a non-minified version of next.js or something?

[2019-01-26 08:58] RuizhenMai opened #6142 "Context.req does not have referer anymore after redirecting from Google OAUTH"
I use passportjs google oauth. Then after redirecting back I cannot access to context.req.headers anymore. It reduces to
[code]

Anyway to fix it? I still can access it from backend.

UPDATE:
This does not seem to be redirecting from google's issue. Say if I click about page from index page on the client then refresh. The referer will also be gone

[2019-01-26 10:54] t4t5 commented on #6062
@ssylvia Have you found a way to temporarily monkey-patch this in an easy way? I would also like the ability to read React's error messages clearly in staging mode!

[2019-01-26 11:35] #6142 closed

[2019-01-26 13:20] soroushchehresa commented on #4381
+2 :)))

[2019-01-26 16:14] jim-king-2000 commented on #6113
Hi @youssseeef , I'm using HTTPS protocol to download 'react-module' on Github.

    "react-module": "git+https://github.com/jim-king-2000/react-module.git",

If you are using SSH instead of HTTP, you can try to revise the line above to "git+ssh...".

[2019-01-26 16:31] jim-king-2000 commented on #6113
Great! Although I'm still wondering the reason why you can't download NPM module from Github. Hope you could find the culprit soon.

[2019-01-26 16:40] cshl0ve commented on #3339
In my case, if you are using hoc on page (withAuth, withLayout ...) I could use getInitialProps on that hoc. Not a page component.

[2019-01-26 20:12] steida opened #6144 "target: 'serverless' on local build"
I just spend one hour investigating why next build does not work locally then I realized I have target set 'serverless' in next.config.js.

Maybe it should be ignored for the local build.

[code]

[2019-01-26 20:14] steida commented on #6144
Or should we use this check?

`if (Boolean(process.env.NOW_REGION || process.env.NOW)) return` from https://github.com/zeit/now-env/search?q=process.env&unscoped_q=process.env

[2019-01-26 21:43] timneutkens commented on #6144
We should probably add an err.sh link when that error is thrown.

[2019-01-26 21:51] #6140 closed

[2019-01-26 22:31] kirill-konshin commented on #6140
That’s the speed! Nice!

[2019-01-26 23:31] chirag04 commented on #6144
@timneutkens thoughts on supporting non-minified and hot-reloading for local build in serverless target?

[2019-01-27 00:46] heshamelmasry77 commented on #5237
the naming problem because if the documentation you guys should fix it

[2019-01-27 03:17] spiceboi commented on #3735
For @Attidd and anyone else who landed here trying to figure out why their build may be taking an extremely long time with `semantic-ui-react`/ `semantic-ui`, I realized that ultimately my issue was `url-loader` in conjunction with the their css `url()`'s for fonts, flag sprites, etc. My build step would be stuck at `TerserPlugin` for minutes, lock up my computer, and take 10x as long in CircleCI.

[2019-01-27 07:13] fabb commented on #3056
There are a few pitfalls:
* module scripts will always be loaded deferred, this might e.g. make polyfills available only after the first executed code that depends on them
* Safari 10.1 supports modules, but will still execute scripts with the nomodule attribute, there is a [fix for this](https://gist.github.com/samthor/64b114e4a4f539915a95b91ffd340acc) though
* using `esmodules: true` in babelrc

[2019-01-27 11:21] revskill10 commented on #5899
#4998 doesn't solve my issue.
In my case, each `assetPrefix` is a full CDN domain , like `https://cdn-1.cdn.com/project1` . It has no knowledge about the domain of NextJS application is being served.

[2019-01-27 12:10] yangchongduo opened #6148 "apollo-mobx"
Can you provide an example of with-apollo-mobx?

[2019-01-27 12:50] timneutkens commented on #6148
Feel free to send a pull-request. You can combine with-apollo and with-mobx.

[2019-01-27 12:50] #6148 closed

[2019-01-27 13:44] timneutkens commented on #6117
@sebastiansson Happy to 🙏

Re debugging:
So you can run `next build` locally and it will output the serverless page bundles in `.next/serverless/pages`, then you can run the bundle using a simple Node.js HTTP server as described here: https://github.com/zeit/next.js#one-level-lower

With relation to how I knew what was going on, I knew that we added `react-is` to the dependencies of Next.js in the

[2019-01-27 14:02] timneutkens opened #6152 "Remove _error.js from initial page load and only load it when an error happens"
# Feature request

## Is your feature request related to a problem? Please describe.

Currently we load `pages/_error.js` on every pageload, even though in most cases it's not going to be used as it's only rendered when a JS error happens.

## Describe the solution you'd like

- Remove `/_error.js` from the initial rendering
- Change it to dynamically load in `client/index.js` using `pageLoader.lo

[2019-01-27 15:12] #6141 closed

[2019-01-27 15:19] timneutkens commented on #6141
I've added an explanation link for this particular error in #6149: https://github.com/zeit/next.js/blob/canary/errors/circular-structure.md

It actually does handle JSON errors, if serialization breaks it throws an error to bubbles up and renders the 500 page in production / the error overlay in development. There is no better way to handle this as the serialized object is needed for client hydrat

[2019-01-27 16:34] elyran opened #6153 "next export: How to disable source maps?"
How do we disable source maps on the static export?

That is:
`next build && next export`
Now 'out/' has many `.map` files, which I'd like to avoid.

Any solution? Couldn't find on the docs, thanks.

[2019-01-27 17:20] sebastiansson commented on #6117
@timneutkens Thanks for the explanation!

[2019-01-27 18:13] timneutkens commented on #6153
Duplicate of #6009

[2019-01-27 18:13] #6153 closed

[2019-01-27 18:25] steida opened #6154 ""next": "8.0.0-canary.16" cannot find module '../server/htmlescape'"
Update from 14 to 16 (with Acorn workarouch, which works for 14)

{ Error: Cannot find module '../server/htmlescape'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:581:15)
    at Function.Module._load (internal/modules/cjs/loader.js:507:25)
    at Module.require (internal/modules/cjs/loader.js:637:17)
    at require (internal/modules/cjs/helpers.js:22:18)
    at Object.../

[2019-01-27 19:16] marcinczenko commented on #6144
Just to clarify: `next build` alone seems to be working just fine with `target: 'serverless'` in `next.config.js`. Only after running `next start` it logs `Error: Cannot find module '_document`' at the moment you try to access `localhost:3000` in the browser.

[2019-01-27 19:56] timneutkens commented on #6144
Sure, that's what I'm saying, we need to add an err.sh link to `next start` when that error is thrown, because it makes no sense to use `next start` after building a serverless build, that build has to be consumed by something other than Next.js.

[2019-01-27 20:09] petrovichm commented on #6154
Having the same issue from `canary` update

[2019-01-27 20:34] marcinczenko commented on #6144
Do you already have an idea how would you like it to work so that we can have `serverless` deployment and still be able to run `next` for development?

Currently, I am just doing `yarn add next` when I develop, and then just before I deploy (or push) I do `yarn add next@canary` :). Fortunately `next@7` does not mind the `target: 'serverless'`.

[2019-01-27 20:55] timneutkens commented on #6144
You can use `next` for development just fine, `next start` is starting a *production server*, which doesn't fit serverless.

[2019-01-27 20:56] #6154 closed

[2019-01-27 21:03] steida commented on #6144
As far I understand, ZEIT is working on `now dev`. My suggestions:

- run production server with serverless locally or allow easy configuration in next.config.js
- provide api to handle ports to /suffices mapping

Thank you!

[2019-01-27 21:40] dav-is commented on #6144
@marcinczenko this issue should be solved in `8.0.0-canary.17`

https://github.com/zeit/next.js/issues/6154

[2019-01-27 21:47] marcinczenko commented on #6144
Yes!!!! It works. Thanks!

[2019-01-27 22:54] balupton commented on #4505
This is a fantastic proposal. As I've run into the same quarrel myself.

As your post was 8 months ago, have you been able to figure out a workaround the meantime?

[2019-01-27 22:57] balupton commented on #4505
Seems more details at https://github.com/zeit/next.js/issues/4502

[2019-01-27 23:51] webberwang commented on #4707
I cloned the latest `with-typescript` repo & added those 2 settings to `.babelrc`, but I'm still getting those errors.

![next_config_js_ _next_js](https://user-images.githubusercontent.com/26264925/51808643-6726d300-224b-11e9-9359-c37181ae6201.png)

https://github.com/webberwang/next.js/commit/ed1a37ff865ed101e9fefb91ee9dafa04e69c9d7

[2019-01-28 00:50] messa opened #6157 "Example with-relay-modern incompatible with Relay 2.0.0"
The example [with-relay-modern](https://github.com/zeit/next.js/tree/7e12997af62d44c35b68969bde27ddc3c835f1d1/examples/with-relay-modern) works, but when the `react-relay` is updated from `1.5.0` to `2.0.0`, using GraphQL queries with fragments give this error:

[code]

I think this error could be caused by this change in 2.0.0:

(see https://github.com/facebook/relay/releases)

[2019-01-28 01:10] messa commented on #6157
So it looks that the fix for react-relay 1.5.0 -> 2.0.0 is pretty simple:

[code]

The file `lib/RelayProvider.js` is not used anymore and can be removed.

I will try to send a pull request tomorrow.

[2019-01-28 04:57] sc4224 opened #6159 "ECONN refused when doing apollo graphQL query from getInitialProps"
# Bug report

## Describe the bug
Following the *with-apollo-auth* example
Successful behavior when I do client-side ApolloConsumer query. I pass the client through and query works.

Unsuccessful behavior when I attempt to do a server side query through getInitialProps. I pass the client through a handler that calls the same query and I get a ECONN refused error as shown below.

<img width="817" a

[2019-01-28 05:02] MohamedHajr commented on #751
@tomsoderlund I Implemented Tom's solution but I didn't need next/routes just adding the react component and serving the file throw it did the job for me!

[2019-01-28 06:11] jixiaohongdw opened #6161 "with-custom-reverse-proxy throw er; // Unhandled 'error' event"
# with-custom-reverse-proxy

when i run yarn && yarn dev there throw an error like this

[code]

[2019-01-28 06:52] exogen commented on #6063
Are you certain that's the only code necessary to reproduce, or is your real code something more complicated? Starting a new Next.js project with just a page that does this doesn't seem to be enough to repro (it's working OK for me w/ no warning):

[code]

[2019-01-28 06:55] exogen commented on #6098
Maybe the documentation for `distDir` should be clear that it's intended for the directory to still be within the scope of your project directory (i.e. have the same `node_modules`). It seems like a reasonable constraint due to dependency resolution, just needs to be clear.

[2019-01-28 06:59] jim-king-2000 commented on #6113
By the way, there is the same bug with 'Link' in 'next/router'.

[2019-01-28 07:36] timneutkens commented on #6157
Thanks!

[2019-01-28 07:39] timneutkens commented on #6159
ECONNREFUSED is a network error meaning there is nothing listening/replying on the specific url.

[2019-01-28 07:39] #6159 closed

[2019-01-28 07:46] timneutkens commented on #6073
I've created an issue to track implementing a solution for this on ncc: https://github.com/zeit/ncc/issues/240

[2019-01-28 08:08] kazumatsudo commented on #5225
@ngocketit same issue was occured when I tried to import aws-amplify.
I added following in next.config.js and it worked.

[code]

[2019-01-28 08:15] teleginzhenya commented on #6161
![image](https://user-images.githubusercontent.com/24455680/51822417-70c14100-2306-11e9-9df9-4bd3079e5895.png)
I have no errors

`Error: listen EADDRINUSE :::3000`
Probably you have something running on 3000 port

[2019-01-28 08:18] ngocketit commented on #5225
@kazumatsudo I tried it and that works! Thank you!

[2019-01-28 08:21] timneutkens commented on #6161
Thanks for checking @teleginzhenya

[2019-01-28 08:21] #6161 closed

[2019-01-28 08:45] teleginzhenya commented on #5526
[code]
Works fine 👍

[code]

[2019-01-28 09:20] ShintaroNippon opened #6162 "Creating two examples at same time"
Hi, there thanks by the examples...

Its possible to create two examples in the same project?

For example
- with-redux-wrapper-app
- with-react-intl
- material-ui

All together ?

Thanks
Carlos Vieira

[2019-01-28 09:34] fabb opened #6163 "Http/2 Server Push for App/Common Bundles"
I only found [this old and seemingly outdated information](https://github.com/zeit/next.js/issues/2961#issuecomment-330156292) about http/2 server push support in next.js.

For our production next.js app, neither `_app.js` nor `commons.*.js` are loaded via http/2 server push. I checked using the Chrome 71 Network tab in column "Initiator".

Could server push of these resources bring performance im

[2019-01-28 09:37] timneutkens commented on #6163
Please follow the issue template when creating issues.

[2019-01-28 09:38] doniyor2109 commented on #6128
It is interesting that when using pure SSR without Next.js, it gives same result. Here is demo: https://github.com/doniyor2109/select-bug

[2019-01-28 10:18] ivan-kleshnin commented on #1289
I don't get – what it the official position on this?

Anybody has a working example of page (with getInitialProps) testing? The search yields no results and I don't want to spend days trying to run something that's was never meant to work 😞

[2019-01-28 11:18] timlind opened #6164 "The default export is not a React Component"
Create a link /displays and an empty file in pages/displays/index.js

Navigate via the link, notice that an error shows in the console, the browser URL bar updates but the page does not.

## Expected behavior

The browser should show the error instead of it being hidden in the console.

## System information
 - macOS
 - Chrome
 - Next 7.0.2

[2019-01-28 12:30] timneutkens commented on #5991
@James-Quigley can you check: https://zeit.co/guides/custom-next-js-server-to-routes/

I'm going to close this issue as the original issue was resolved. In case you run into something similar to this original issue feel free to create a new issue with a clear reproduction.

[2019-01-28 12:30] #5991 closed

[2019-01-28 14:06] doniyor2109 commented on #6128
@fabb Yes. It seems Chrome implements page caching. However it works on Safari as expected.

[2019-01-28 14:49] musemind commented on #5354
Is there a way to use a folder (for example `/server/*`) for server-only code. My `server.js` grows fast.

[2019-01-28 15:20] onggunhao commented on #5010
@gondar00 - I'm experiencing the same on 7.0.2

I read through the related link https://github.com/zeit/next.js/commit/a9a3fc1fcad0d05e508caa1e38fd6e3e33cbb238 - not sure how it applies though!

[2019-01-28 16:01] muco-rolle commented on #5548
Thank you bro

[2019-01-28 17:43] kachkaev commented on #5437
Is this being fixed in Next.js 8 as a result of the refactoring? Just curious 😉

[2019-01-28 18:07] timneutkens commented on #5437
@kachkaev I'm not going to block v8 on this, but definitely having someone look into it ASAP 🙏

[2019-01-28 18:24] sc4224 commented on #6159
@timneutkens How can it lose connection the moment I put it in getInitialProps is my question.

[2019-01-28 22:19] steida opened #6167 "next": "8.0.0-canary.17 acorn workaround does not work"
[code]

But if I add "acorn": "^6.0.5" to dependencies, it works.

[2019-01-28 22:20] steida commented on #6167
I am not sure how to fix it. Leaving it here as a workaround.

[2019-01-28 22:23] steida commented on #6136
Related https://github.com/zeit/next.js/issues/6167

[2019-01-28 22:40] dav-is commented on #6167
@steida I don't think this is an issue we can fix on our end. We tried adding `"acorn": "^6.0.5"` to `next`'s dependencies (https://github.com/zeit/next.js/pull/6137), but it doesn't seem to be making a difference.

Solutions:
https://github.com/webpack/webpack/issues/8656#issuecomment-456713191
NPM PR that fixes this issue:
https://github.com/npm/cli/pull/147