[2020-07-17 01:26] jamesmosier commented on #15244
Hi @amiralies 👋  Two good first steps to help out in tracking this down:

1.) Update your project to the latest canary: `npm install next@canary` (or `yarn add next@canary`)
2.) Include a full reproduction in a repository.

[2020-07-17 01:55] jamesmosier commented on #15111
The error message appears to be greatly improved (tested with `9.4.5-canary.36`).

Using this code:

[code]

the error that it displayed to the user is ```Error: Your `getServerSideProps` function did not return an object. Did you forget to add a `return`?```

<img width="994" alt="Screen Shot 2020-07-16 at 9 49 18 PM" src="https://user-images.githubusercontent.com/2854919/87739582-3a071100-c7ae-1

[2020-07-17 02:31] agreatfool commented on #15111
In my scenario, I just want to force some pages to use SSR. So I previously wrote the empty function(I thought next.js would handle it) and encountered the error.

Actually write a function with some return sentence is not a big work. If you guys think error shall be given by design, I just think it's OK.

[2020-07-17 03:52] sebastienlabine opened #15246 "Add WithAmp HOC for class components"
# Feature request

I think we could benifit from a WithAmp HOC for class components.

## Is your feature request related to a problem? Please describe.

We cannot use hooks in class components, so we need to convert our class components to functionnal components in order to use AMP... Related issue: [https://github.com/vercel/next.js/issues/10466](https://github.com/vercel/next.js/issues/10466)

#

[2020-07-17 04:53] Rhapzody opened #15248 "Cannot use 'in' operator to search for... in version 9.4"
i upgrade nextjs from 9.3 to 9.4 and i have an error.

<img width="981" alt="Screen Shot 2563-07-17 at 11 47 54" src="https://user-images.githubusercontent.com/12486239/87749685-880a2c00-c823-11ea-99b2-f138f0d0f061.png">
<img width="471" alt="Screen Shot 2563-07-17 at 11 48 44" src="https://user-images.githubusercontent.com/12486239/87749693-8e98a380-c823-11ea-924c-4c6a393501e3.png">

i have no id

[2020-07-17 05:18] flybayer commented on #7479
Here's my current `test-utils.tsx`. I like this a lot better than using a global mock.

[code]

[2020-07-17 06:57] maraisr opened #15251 "jsx file doesnt like jsx?"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

1. Clone https://github.com/maraisr/nextjs-repro-repo/tree/monorepo
2. run `yarn`
3. run `yarn workspace next-repro start`
4. See error

## Expected behavior

Not to see error

## Screenshots

![image](https://user-images.githubusercontent.com/599459/87757737-7a1dd080-c84e-11ea-9825-64036682aca

[2020-07-17 09:13] timneutkens commented on #15251
Looks like you're not compiling the repo-components package that is imported here: https://github.com/maraisr/nextjs-repro-repo/blob/monorepo/packages/app/pages/index.js#L2

This is indeed a duplicate of #706 and #9474

[2020-07-17 09:13] #15251 closed

[2020-07-17 09:14] Joelgullander opened #15253 "Canary trailingSlash experimental feature first level paths"
# Bug report

## Describe the bug

Adding the trailingSlash feature causes first level paths to crash when deployed to Vercel. Deeper levels of paths works perfectly fine.

## To Reproduce

1. enable` trailingSlash: true`
2. Go to localhost:3000/firstlevel
3. You will be redirected to https://firstlevel/
4. It strips the entire host from the url

## Expected behavior

Should redirect to https://lo

[2020-07-17 09:24] maraisr commented on #15251
Typically though in a monorepo you don't compile things. And besides isn't the compilation part, the job of next? @timneutkens

[2020-07-17 09:35] timneutkens commented on #15251
This change will potentially help with your particular use case: https://github.com/vercel/next.js/pull/13542#discussion_r453329025

[2020-07-17 09:37] timneutkens commented on #15244
I doubt this was covered yet. Should be simple to fix though

[2020-07-17 09:39] timneutkens commented on #15248
Please provide a full reproduction as asked for in the issue template.

[2020-07-17 09:40] timneutkens commented on #15253
Please add a complete reproduction. We have extensive tests and your reproduction only covers the most basic use case.

[2020-07-17 09:42] iamafansev opened #15254 "Incorrect behavior of window.print in safari with Next applications"
# Bug report

## Describe the bug

When the window.print() method is called in safari, the print window does not open when the button is clicked, but only when the route from the interface is further changed in the application. But everything works correctly in Chrome.

## To Reproduce

[Repository with minimal app from tutorial](https://github.com/iamafansev/blog-with-next)

1. Run app from repos

[2020-07-17 09:45] Joelgullander commented on #15253
Just noticed this works locally with production build. However I am getting this behaviour when being deployed to vercel.

https://medicinsk-ordbok-client.vercel.app/enhetsomvandlare ( not working )

https://medicinsk-ordbok-client.vercel.app/enhetsomvandlare/ ( working )

[2020-07-17 09:48] #15254 closed

[2020-07-17 09:56] timneutkens commented on #15246
You can create your own HOC if you really want to, introducing it in Next.js is not needed given that it'd increase bundle sizes. In general we highly recommend using function components.

Code for a withAmp hoc:

[code]

[2020-07-17 09:56] #15246 closed

[2020-07-17 10:17] Infonautica opened #15256 "Error "Cannon read property '_h' of undefined" when goind back in browser history"
# Bug report

## Describe the bug

Error after navigating to previous page in react-router environment. My website have public part with next/router navigation, and private part with react-router based on catch-all feature. I am having an error when returning to a previous page in browser history. Interesting moment: it happens if i click in react-router **Link** component, and then try to go back

[2020-07-17 10:18] AndrewShedov opened #15257 "FOUC appears when loading the site"
# Bug report

## Bug description

FOUC appears when loading the site, for styled components via `import styles from './About_ENG.module.scss'` and `import styles from './Menu.module.scss'`.

## To Reproduce

1. Example - https://next-js-fouc.vercel.app/en (need to select the English version).
2. Repository - https://github.com/AndrewShedov/Next.js_FOUC

## Expected behavior

Loading the page witho

[2020-07-17 10:36] bcye opened #15258 "Server Error when clicking "Next" in the tutorial"
# Bug report

## Describe the bug

When I continued from one step to the next in the tutorial, it showed me a Vercel 500 Server Error.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to https://nextjs.org/learn/basics/data-fetching/pre-rendering
2. Scroll Down
3. Click Next
4. Error Appears

(You might have to disable cache)

## Expected beha

[2020-07-17 11:18] Joelgullander commented on #15253
[code]

[2020-07-17 11:20] dwidc commented on #8851
Other than user's `config.json` and environment variable, you can also disable telemetry by either:

- Block telemetry in firewall.
Just block `telemetry.nextjs.org` in your hosts or iptables.

- Use patch-package to disable nextjs telemetry postPayload() method.

---

If you want to use patch-package:

- Open `/node_modules/next/dist/telemetry/post-payload.js`.
Note that this is a compiled js. It

[2020-07-17 12:10] Joelgullander commented on #15253
Comparison while running it locally as a production build:

[code]

I think I nailed it down to a vercel issue, who does provide support for vercel, is it the NextJS community or Vercel itself?

[2020-07-17 12:10] aasili-shoprunner commented on #11909
I'm experiencing the same as @tamj0rd2 when using Next.js 9.4.4 and Typescript 3.9.6

[2020-07-17 13:26] followbl opened #15261 "Canary 9.4.5-canary.36 => 9.4.5-canary.37 - can't resolve main.js"
# Bug report

Sorry @timneutkens @Timer don't have time this morning for full-repro - but figured you'd want to know.

Getting this just on simple build run between 36 => 37 canary

Wild guess - but could it be related to here? https://github.com/vercel/next.js/pull/15224/files#diff-4ec59a55144129a45f46da71c0777df9

[code]

## Describe the bug

Application won't build between the two versions

[2020-07-17 13:41] YG-qualson commented on #7244
[code]

This worked for me

[2020-07-17 13:46] Aviortheking commented on #12051
even with prefix it would be awesome

[2020-07-17 14:50] omarryhan commented on #7208
Can we get more info on that @timneutkens ? In what aspects of I18n will Next.js be involved and in what it won't?

[2020-07-17 14:59] timneutkens commented on #15216
It's not optional

[2020-07-17 15:00] timneutkens commented on #7208
Can't share details yet. Still need to write up a RFC for it.

[2020-07-17 15:01] timneutkens commented on #15261
Kind of impossible to help based on this 😅 This doesn't even include a next.config.js

[2020-07-17 15:09] followbl commented on #15261
I'll close and re-open when I can give more info, figured the issue would be wide-spread, it's gotta be something with the `next-pwa`

[2020-07-17 15:12] timneutkens commented on #15261
If you can give a reproduction I can have a closer look 🙏

[2020-07-17 15:59] Timer commented on #15111
Closing per https://github.com/vercel/next.js/issues/15111#issuecomment-659784213, thanks!

[2020-07-17 15:59] #15111 closed

[2020-07-17 16:32] Timer commented on #15258
I cannot reproduce this right now, I believe we might have been having a minor platform hiccup at the time. Thanks for reporting this!

[2020-07-17 16:32] #15258 closed

[2020-07-17 16:44] #15219 closed

[2020-07-17 16:46] mosesoak commented on #12797
Wow, this issue saved me a headache, thank you @Timer!!! It looks like HMR was disabled by Windows Defender: when on, Next was doing a full rebuild / page refresh, ~20 seconds vs ~1 second. Huge diff.

Here's where you turn it off: click the Manage Settings link in **Settings > Security > Virus & Threat Protection**. Note that it says it will turn itself back on after some amount of time. Anyone k

[2020-07-17 16:49] mosesoak commented on #12797
Wondering if this issue might be key to fixing this? Obviously we don't want to have to disable security on our machine just to use Next! https://github.com/vercel/next.js/issues/14266

[2020-07-17 16:49] Timer commented on #12797
That is the correct issue to follow, @mosesoak!

[2020-07-17 16:53] mosesoak commented on #14266
Hi, I commented in another issue (link ☝️) where someone figured out that Defender was causing long delays.

My observation is that WD seems to disable HMR completely. When it's off HTR works, page updates in 1-3 seconds. When on, the app seems to fully recompile and then the browser reloads the page, which takes around 20 seconds, and needless to say is clearly not a hot reload.

[2020-07-17 16:56] Timer commented on #15232
@Unsfer Can you please try `next@9.4.5-canary.37`?

[2020-07-17 17:01] Timer opened #15269 "Ensure creating a new Next.js app does not emit any npm warnings"
We should eliminate any warnings or packages that cause them while initializing a new Next.js application via:

[code]

[2020-07-17 17:01] mosesoak commented on #12797
Cool thanks. Just found out from a very smart friend that you can fix the issue more cleanly by leaving Defender turned on but setting your project folder as an Exception:

![image](https://user-images.githubusercontent.com/24345/87812028-6e151d00-c814-11ea-9111-4e06e90faa4a.png)

[2020-07-17 17:06] bcye commented on #15258
Thought so, maybe it was a Vercel issue and not a Next issue

[2020-07-17 17:12] Unsfer commented on #15232
It's fixed. Thanks! :+1:

[2020-07-17 17:28] kaluabentes commented on #7417
Basically, what you need to do is do whatever transformations that depend on any browser api just after the component has mounted:

[code]

[code]

[code]

[2020-07-17 17:39] ozthekoder commented on #13058
I am also still experiencing this in production after the update to the canary release.

Same here, is this a different issue when it happens in prod or related, does anyone know?

[2020-07-17 19:01] Timer opened #15275 "Next.js should allow `module: 'commonjs'` in `tsconfig.json`"
# Feature request

Next.js should allow a user to set `module: 'commonjs'` in their `tsconfig.json` instead of forcing it to be `esnext`.

This simplifies the setup of custom TypeScript servers or utilities that need to run in Node.js and would require a `tsconfig.server.json` otherwise.

## Describe the solution you'd like

[code]

This should not be overwrote to `module: 'esnext'`.

## Additiona

[2020-07-17 19:33] lacker opened #15278 "next dev constantly errors when using emacs, failing to load emacs lock files"
# Bug report

When using `next dev` with emacs, as you develop, emacs creates symbolic link files starting with `.#` as lock files. Next.js seems to attempt to load these but fails, spewing out errors constantly.

## To Reproduce

1. Run `next dev`
2. Develop your `.js` files using emacs
3. Observe errors like:

[code]

## Expected behavior

I expected to not get these errors

## System informatio

[2020-07-17 19:36] cullylarson commented on #3249
You can use this to route and scroll to the top of the page:

[code]

[2020-07-17 19:36] lacker commented on #15278
A couple other notes that might help - I saw that `create-react-app` had a similar issue recently at https://github.com/facebook/create-react-app/issues/9056 . The workaround there of putting `(setq create-lockfiles nil)` in your `.emacs` file does work to suppress the errors, but it does so by having emacs no longer create lock files, which is dangerous because then emacs and git will overwrite e

[2020-07-17 20:31] austincondiff commented on #2476
If I've prevented a route change using one of the methods explained above, how would I mimic the original routing method (push or replace)? As far as I can tell there is no way to determine if the target route used a push or replace. I need to be able to do the same once the confirm button is clicked.

[2020-07-17 21:07] brandonbloom opened #15279 "`next run <script>`"
# Feature request

## Is your feature request related to a problem? Please describe.

I'd like a way to run scripts for general maintenance tasks with zero config and utilizing all of the Next.js machinery (transpilation, module aliasing, polyfills, configuration loading, etc).

## Additional context

See https://github.com/vercel/next.js/pull/15276#issuecomment-660336199

[2020-07-17 21:08] showell215 commented on #13058
For me this issue was only occurring in dev mode, not production mode. So given that, I'd assume the prod issue may have a different cause.

[2020-07-17 21:43] developer543 opened #15280 "Question about preventing XSS"
I do not want other websites to be able to host an iframe that contains my website in it. I am uncertain whether NextJS offers the ability to prevent XSS attacks. Thanks!

[2020-07-17 22:01] Timer opened #15281 "Clean up `next build` output"
# Feature request

Next.js emits a lot of information on build, including all redirects, rewrites, and headers. This can be quite overwhelming even though the information is unnecessary most of the time.

## Describe the solution you'd like

We should hide all but necessary information behind a `--verbose` or `-v` flag sent to the `next build` command for troubleshooting.

## Describe alternatives

[2020-07-17 22:10] KeitelDOG commented on #5702
I just experienced it, while setting up Material UI & Co, did not have to delete my Browser Data for localhost

On Chrome Browser:

1. Open "Dev Tools"
2. Select the "Network" tab
3. Check the "Disable Cache"

This will force refresh all the page assets and it should work

[2020-07-17 22:11] Timer commented on #15280
Next.js has a [comprehensive test suite](https://github.com/vercel/next.js/blob/canary/test/integration/production/test/security.js) that ensures the framework is not vulnerable to XSS attacks.

You're still ultimately responsible for preventing XSS attacks for any application code that handles user-input, though.
The framework (Next.js) handles as much as it can to prevent these types of attacks.

[2020-07-17 22:11] #15280 closed

[2020-07-17 22:52] amiralies commented on #15244
I think this can be fixed in `next/next-server/server/config.ts`.
if `amp.canonicalBase` is empty and `basePath` is not empty then assign `basePath`'s value to `amp.canonicalBase`. similar scenario is happening for assetPrefix.
correct me if i'm wrong.

[2020-07-17 23:09] kylemh commented on #13092
For [this deployment](https://operation-code-7g9oz802l.vercel.app/) you can hover on one of these three image buttons, and see the whole page's content shift:

![](https://user-images.githubusercontent.com/9523719/87836930-b9482380-c846-11ea-9c13-af832582e181.png)

Each of those images is a next/link, so a route is pre-fetched... including [it's stylesheet](https://github.com/OperationCode/front-e

[2020-07-17 23:12] kylemh commented on #13092
Ah shit, @Timer I think my issue and @jensmeindertsma are actually different errors. My problem is happening in production.

[2020-07-18 01:10] oyeanuj commented on #3249
I added a related issue here for those interested: https://github.com/vercel/next.js/issues/15206

[2020-07-18 02:47] BlakeBrown commented on #13058
Was anyone able to fix this in production? Canary release fixed our dev build, but production is still broken.

[2020-07-18 04:46] kylemh opened #15284 "Scope page-imported CSS module stylesheet to correct page when prefetched"
# Feature request
## Is your feature request related to a problem? Please describe.

When using CSS modules and creating stylesheets for pages to pass as props to components for overrides, those styles are not scoped to the page. When prefetched routes resolve and a new stylesheet is downloaded, those styles can beat out styles on the current page, causing all sorts of problems 😬

Repo: https://gi

[2020-07-18 04:46] kylemh commented on #13092
@Timer  https://github.com/vercel/next.js/issues/15284

[2020-07-18 08:45] Nishikoh commented on #15225
There is something I would like to confirm. I'll remove  `dotenv` dependency from just each package.json. If I need to edit other files, please tell me the details.

[2020-07-18 09:13] dan-lynch commented on #10902
If you're using Apollo client, you don't need an Apollo server specifically - any GraphQL server will do!

There's several ways of going about this - for example, I'm using [PostGraphile](https://www.graphile.org/postgraphile/), which creates a GraphQL server based on a PostgreSQL DB)

For more information around Apollo Server specifically, here's a good place to start:
https://www.apollographql.c

[2020-07-18 10:04] LinusU commented on #4838
We are using the following component on a site I manage:

[code]

It also requires adding the following to your `_document`, inside `<Head>`:

[code]

then you can use it as such:

[code]

[2020-07-18 14:26] JerryGreen commented on #5318
I used typescript ever since it's supported in nextjs and was thinking that it could be cool that next.config.js to be next.config.ts. But aside type checking, I never needed config to be a typescript file, so this issue didn't bother me too much. But now I wanted to import a `ts` helper script in my next.config.js (to generate paths for exportPathMap), which is used in several places, but turns o

[2020-07-18 18:03] dvakatsiienko commented on #13967
Having a very similar problem, but unfortunately do not have a repro step yet because it is very hard to track down.
The evil of my issue is that it happens **from time to time** and not on each build time.
And issue relates to pages, but not **api routes** for me although I have three of those.

Here is the cutted version of the output:

[code]

[2020-07-18 19:33] YagoLopez commented on #4707
Thanks @denniske That worked for me like a charm

[2020-07-18 19:37] #15275 closed

[2020-07-18 20:13] #15229 closed

[2020-07-18 21:51] gelbartj commented on #14904
I've submitted a PR for this, with a basic # complete vs number remaining, using the same progress bar as `next export`.

[2020-07-18 22:58] followbl commented on #15261
@timneutkens my hunch was correct - here you go https://github.com/followbl/pwa-bug

Steps to reproduce

1. run `yarn run build`

result

`ModuleNotFoundError: Module not found: Error: Can't resolve 'main.js' in`

expected result - no error on build

I'll report this in next-pwa incase there are any thoughts or helpful tips there. thank you as always!

[2020-07-18 23:11] kmturley commented on #4998
For those trying use `const {basePath} = useRouter()` which is a Hook, to work with Classes and Components and getting this error:

https://reactjs.org/warnings/invalid-hook-call-warning.html

You can get it working using:
[code]

[2020-07-19 00:03] 7iomka commented on #15261
Same error after upgrade to the latest canary version
![image](https://user-images.githubusercontent.com/18473137/87864089-74b6a800-c96c-11ea-9427-4459794979f5.png)

[2020-07-19 04:02] #15188 closed

[2020-07-19 04:22] elliottcrif commented on #10461
Hello haveing the same issue. @RayLuxembourg Have you figured out the issue?

[2020-07-19 05:29] Timer commented on #6032
Confirmed this works fine with Next.js 9 with the provided repository! Thanks 🙏

[2020-07-19 05:29] #6032 closed

[2020-07-19 05:31] Timer commented on #5511
Closing this issue as the provided reproduction no longer functions correctly. We've made a lot of fixes to this behavior though, so let us know if it's still not working with Next.js 9.4+!

[2020-07-19 05:31] #5511 closed

[2020-07-19 05:33] Timer commented on #5443
Closing as we have proper examples with `react-native-web` and Expo now, thanks!

https://github.com/vercel/next.js/tree/canary/examples/with-expo
https://github.com/vercel/next.js/tree/canary/examples/with-react-native-web

[2020-07-19 05:33] #5443 closed

[2020-07-19 05:35] Timer commented on #3027
Closing this feature request as it has been extensively discussed in the linked issues above.

We highly suggest you use a monorepo setup and are not currently exploring having two Next.js apps co-located in the same folder.

[2020-07-19 05:35] #3027 closed

[2020-07-19 05:43] Timer commented on #8141
Closing as we have comprehensive new examples that show how to use Relay. Thanks!

[2020-07-19 05:43] #8141 closed

[2020-07-19 05:44] Timer commented on #8095
Closing this as it has been mostly accomplished.

[2020-07-19 05:44] #8095 closed

[2020-07-19 05:45] Timer commented on #7946
We've recently updated our Mobx examples which should address this issue. Thanks!

[2020-07-19 05:45] #7946 closed

[2020-07-19 05:47] Timer commented on #8437
We've completely revamped our Apollo examples so this should be addressed, thanks!

[2020-07-19 05:47] #8437 closed

[2020-07-19 05:50] Timer commented on #9471
This bug should be resolved on Next.js' canary channel (`next@canary`), could you please try and confirm?

[2020-07-19 07:39] Timer opened #15301 "Run production, basic, and Fast Refresh test suite on macOS"
We should extend our GitHub action configuration to run macOS tests on the Basic, Production, and Acceptance (Fast Refresh) suites. This would've given us early indication of the chokidar watching bug we identified on macOS.

[2020-07-19 11:25] jasonwilliams commented on #9471
@Timer Out of interest how was this fixed? Can you link to a PR?

[2020-07-19 17:40] remorses opened #15307 "[Feature Request] next.config.js export can be a Promise"
# Feature request

## Is your feature request related to a problem? Please describe.
I need to do asynchronous setup before running the nextjs compilation, such as creating some additional pages, currently i cannot run asynchronous code because the config export must be an object or a function and not a promise

## Describe the solution you'd like

The `module.exports` object can be a promise
[cod

[2020-07-19 18:09] #15071 closed

[2020-07-19 19:49] aberba commented on #13967
Its a hard to track error. Happens quite often with api routes in my case. Hard to track especially when you have lots of code. I suspect its a recursive import issue.

@dvakatsiienko  Check this are you using require() and import mixed up?

[2020-07-19 20:00] timneutkens commented on #15261
Fixed it in #15311 thanks for the reproduction!

[2020-07-19 20:02] #12046 closed

[2020-07-19 20:18] zer0blockchain commented on #13387
Were you able to find a way to exclude certain exceptions? We use a library that is notorious for throwing exceptions but continues to work as intended. They are one of the only libraries and we can not just move away from it. It would be ideal to be able to handle these as an exclusion (they happen async/in a Promise).

[2020-07-19 20:19] ujwal-setlur commented on #7479
@flybayer thanks! Works great!

[2020-07-19 20:58] wlaaraki commented on #15196
i ran into the same issue trying to import tailwind globally for the storybook

[2020-07-20 02:16] #15261 closed

[2020-07-20 04:55] AT1452 commented on #14944
Hey, if this is open I'd like to take it, but I am a little confused by what you mean when you say focus the search input. Do you mean visually, by adding an animation of some sort?

[2020-07-20 06:29] darshkpatel commented on #15197
I'd like to take this up!

[2020-07-20 07:38] dvakatsiienko commented on #13967
@aberba

I have four required in a project:
- two config files (babel.config.js, next.config.js)
- one in next.js typescript declaration file
- and only one in a source code — that required `redux-logger` in dev mode

![Image 2020-07-20 at 10 35 22 AM](https://user-images.githubusercontent.com/15727958/87911723-c185a600-ca74-11ea-995e-f02faab1a2f4.png)

Here is code snippet for `require`ing a `red

[2020-07-20 07:45] dvakatsiienko commented on #13967
Made a test — importing `createLogger` function using regular import increases a bundle size by `4kb` but does not removes an issue.

[2020-07-20 08:41] creativiii opened #15315 "getStaticProps overrides exportPathMap"
# Bug report

## Describe the bug

Adding `getStaticProps` overrides folder settings set within `exportPathMap` in `next.config.js`.

I'm essentially trying to get my html files to be output in `/directory/index.html` rather than `/directory.html`. Unfortunately even I set my `exportPathMap` to do so, as soon as the `getStaticProps` function is added in my script, the setting is overridden and the

[2020-07-20 11:00] xe4me commented on #9647
For anyone using `import Head from 'next/head'` note that all the tags seem to be only rendered in the client, NOT server

[2020-07-20 11:13] xe4me opened #15320 "Head only gets rendered in the client"
I noticed that none of my pages gets properly indexed, so I did some investigation and released that the `head` tag only gets rendered in the client, which is late.

I have a custom `_document.js`, which I got when I started using `Material UI`, as below :

[code]

I then import `<Head>` from `import Head from 'next/head';` and use it like below :

[code]

This works in the client, but when I look

[2020-07-20 11:33] masakinihirota opened #15321 "/examples/with-react-md"
# Bug report

## Describe the bug

/examples/with-react-md
https://github.com/vercel/next.js/tree/canary/examples/with-react-md

This part of the link
"This example features how you use react-md (React Material Design) with Next.js."

The URL has changed?
https://react-md.mlaursen.com/
I can't access this site.
↓
https://react-md.dev/
Did the URL move?

## To Reproduce
Click the link.

## Expected

[2020-07-20 11:53] eKhattak commented on #15073
@robintom I would love to work on this if you didn't start yet.

[2020-07-20 12:21] #15320 closed

[2020-07-20 13:35] Timer commented on #9471
We dropped `autodll-webpack-plugin` and switched to a Firefox-compatible `devtool` option. These changes were made over multiple PRs so it'd be hard to track down exact links.

[2020-07-20 13:36] #15321 closed

[2020-07-20 14:24] Timer commented on #9471
Closing as I assume you've confirmed this as fixed for you. Please let me know if you still have problems!

[2020-07-20 14:24] #9471 closed

[2020-07-20 14:28] Timer commented on #15315
Thanks for the issue!

`getStaticProps` overrides anything configured in `exportPathMap`, this is by design. We should probably warn when you try to define a `exportPathMap` for a page that has `getStaticProps`.

We should probably also [document this](https://nextjs.org/docs/advanced-features/static-html-export).

[2020-07-20 14:40] gauravverma029 opened #15329 "Issue With Dynamic Routes with shallow option"
# Page renders everytime when we are trying to update or add queryParms in URL with shallow option
# sometimes getting error **The provided `as` value (null) is incompatible with the `href` value (/search/[country]/[city])**

For dynamic routes my folder structure is
Search -> Folder Name
   - [country]
     -  [city].js

when i am trying to update URL on click
[code]
<img width="1435" alt="Screen

[2020-07-20 14:46] #15329 closed

[2020-07-20 15:27] BrunoBernardino commented on #11115
While I think this would be incredibly valuable, here I have a solution that allows you to have a dynamically-generated sitemap that covers dynamic routes and static ones, as an interim solution of sorts:

It uses a [lambda](https://github.com/BrunoBernardino/nextjs-boilerplate-faunadb-elasticsearch/blob/dd723c8d1066401a6a28989fffade0b25b0b509e/lambdas/sitemap.ts) for the sitemap generation, route

[2020-07-20 15:28] BrunoBernardino commented on #9051
Here I have a solution that allows you to have a dynamically-generated sitemap that covers dynamic routes and static ones, as an interim solution of sorts (I've already commented on the issue above, but for those who land here and aren't following that one):

It uses a [lambda](https://github.com/BrunoBernardino/nextjs-boilerplate-faunadb-elasticsearch/blob/dd723c8d1066401a6a28989fffade0b25b0b509e

[2020-07-20 15:29] Timer opened #15330 "Stabilize new trailing slash API"
The new trailing slash API needs to be moved from the experimental options to the stable level.

[2020-07-20 15:43] robintom commented on #15073
@eKhattak Sorry, i did already start working on it. I will be making a PR soon.

[2020-07-20 16:01] creativiii commented on #15315
Is there a way around this? Or is it impossible to tell Next where to output my html files if I use `getStaticProps`?

[2020-07-20 16:17] #15330 closed

[2020-07-20 16:45] lfades commented on #15073
@robintom If possible please make a PR per example, don't merge all of them on a single one.

[2020-07-20 16:46] mubarakshow commented on #11377
Had the same issue. Got it fixed by upgrading yarn
`yarn upgrade`

As soon as that was done, the `build-manifest.json` appeared.

Cheers!

[2020-07-20 17:59] Timer commented on #15315
Can you provide a more concrete example? You should rename the page if you need the file to be named differently.

[2020-07-20 18:13] creativiii commented on #15315
Well that's exactly the problem. I can't name my files index. If I create a file at `/page-1/index.js`, it won't be exported as `/page-1/index.html`, instead it will be called `/page-1.html`.

`exportPathMap` is the only way to get my exports named `index.html` unfortunately.

What you're saying work on literally every situation, except for naming files index.html.

[2020-07-20 18:18] Timer commented on #15315
Have you [tried enabling this option](https://nextjs.org/docs/api-reference/next.config.js/exportPathMap#adding-a-trailing-slash)?

[code]

[2020-07-20 18:24] #15253 closed

[2020-07-20 18:34] creativiii commented on #15315
Oh, I had not tried that. From the docs I thought that just added trailing slashes!
Thank you for the help.

[2020-07-20 19:20] Timer opened #15342 "Next.js canary install emits warnings"
Running `yarn add next@canary` emits the following warnings:
[code]

[2020-07-20 20:03] #14845 closed

[2020-07-20 20:03] #15063 closed

[2020-07-20 21:10] concat1911 commented on #10521
not work in my functional component

This trick saddly doesn't work in my functional component ...
i used it in useEffect() but when i refresh the page, my query still turn to null

[2020-07-20 21:41] sawyerh opened #15345 "Heap out of memory (9.4.5-canary.39)"
# Bug report

## Describe the bug

While doing local development, running `next`, I ran into the following fatal error (on two separate occassions) after progressing through a pages in my application (19 pages "Compiled successfully" before the error was encountered).

## System information

- OS: macOS
- Browser (if applies): Chrome
- Version of Next.js: 9.4.5-canary.39
- Version of Node.js: 12.1

[2020-07-20 21:50] robertovg opened #15346 "Next SSG does't provide sharing or storing data possibilities inside getStaticProps"
# Bug report

## Describe the bug

I have a some projects with next.js `9.4.4` and `9.4.5-canary` with SSG using `getStaticProps` fetching data from external Headless CMS.
My question is how to share footer and header content on those pages. I know `_app` doesn't have `getStaticProps` and I don't see any good way to do that. Right now I'm just calling the same `getFooter()`, `getHeader()` in every

[2020-07-20 22:11] masakinihirota opened #15348 "next.js/examples/api-routes-graphql/README.md Changed master-> main"
# Bug report

## Describe the bug
alongside [apollo-server-micro] to provide simple GraphQL server consumed by Next.js app.

[apollo-server-micro]<-Changed Link

master -> main

## Expected behavior
https://github.com/apollographql/apollo-server/tree/master/packages/apollo-server-micro
↓
https://github.com/apollographql/apollo-server/tree/main/packages/apollo-server-micro

## System information

-

[2020-07-20 22:56] jescalan commented on #15307
We made this plugin to bake in some tasks before build, in case it is helpful: https://github.com/hashicorp/prebuild-webpack-plugin

Another option would be to append an npm script to whatever your "start" command is, like so in `package.json`

[code]

[2020-07-20 22:58] Timer commented on #15345
Please provide a complete reproduction with instructions so we can take a look!

[2020-07-20 22:58] jescalan commented on #15345
If you need to get around this in the meantime you can increase the heap memory size, for example:

[code]

[2020-07-20 23:02] Timer commented on #15348
Thanks for letting us know!

[2020-07-20 23:05] jescalan commented on #15257
Is this happening in production, dev, or both?

[2020-07-20 23:34] jescalan opened #15351 "[@next/storybook] file paths referenced in css are not available"
# Bug report

## Describe the bug

Normally when using next.js' default css behavior, when you reference a file such as an image or font within css, that file is made available publicly so that the reference works. For example, the following code would work even without the image being in the `public` directory.

[code]

This is a wonderful feature, but unfortunately it does not work when using th

[2020-07-21 00:27] lfades opened #15352 "Add usage example about the `Measuring Performance` docs"
Raised on feedback:

Recently we released documentation for [Measuring Performance](https://nextjs.org/docs/advanced-features/measuring-performance). The docs give you details on **how to use it**, but we are still lacking on **why should I use it**.

Overall the docs are okay, it's an advanced feature so we can go straight onto how it works. But at the same time it's too advanced and vague on how

[2020-07-21 00:35] lfades opened #15353 "[Next.js Site] Link to Next.js docs in the learn course"
Our Learn course: https://nextjs.org/learn is one of our most important resources. We should make sure that every time we mention a Next.js feature, we link to the respective page on the Next.js docs.

For example, here:

![image](https://user-images.githubusercontent.com/4278345/87999178-b73cc980-cabf-11ea-85a6-152d78b69620.png)

We should be linking to the documentation pages that go more deeply

[2020-07-21 00:57] lfades opened #15354 "[Examples] Add example of `getServerSideProps` with `stale-while-revalidate`"
In our [data fetching docs](https://nextjs.org/docs/basic-features/data-fetching#when-should-i-use-getserversideprops) we say the following:

We're currently not talking about what that extra configuration looks like, and that configuration is having a response header with `stale-while-revalidate`

A new example called `ssr-and-stale-while-revalidate` or just `stale-while-revalidate` could be adde

[2020-07-21 01:11] #15348 closed

[2020-07-21 01:43] lfades opened #15356 "[Examples] Add example for Progressive Web Apps"
We currently don't mention PWAs in any part of our docs, and PWAs have been gaining popularity. An example called `progressive-web-app` could be quite useful.

I'm not sure about how PWAs are currently build with Next.js, but [`next-pwa`](https://github.com/shadowwalker/next-pwa) seems to be doing a good job. The example should feature static pages, without a custom server.

Once the example is do

[2020-07-21 02:43] lfades commented on #14944
@AT1452 It means that after you press `/` the search input should be focused, similar to what happens when you do the same here in GitHub.

[2020-07-21 03:15] eKhattak commented on #15353
I'll take this

[2020-07-21 03:30] galanggg commented on #15225
hi @Timer so I just remove the dotenv dependency from all of 5 examples that you point that?

[2020-07-21 03:37] eKhattak commented on #15356
I can take this one

[2020-07-21 05:11] efriandika commented on #10521
@concat1911 the workaround above is for class component..

I think this problem (null routing query) does not occur in functional component, as long as you use hooks =>

**const router = useRouter();**

[2020-07-21 05:19] darshkpatel commented on #15301
I'll take it up

Essentially run `on pull_request:` the current test suite on macOS too, correct?

[2020-07-21 07:35] balazsorban44 commented on #15346
This might be interesting to you: https://github.com/vercel/next.js/discussions/10949#discussioncomment-1203

[2020-07-21 07:51] dimosmera commented on #7322
This still happens.
Adding this bit https://github.com/vercel/next.js/blob/canary/examples/with-styled-components/pages/_document.js#L5-L29
does not work for me.

[2020-07-21 11:29] barayuda commented on #9970
Sorry, jump to this.
I faced this same error.
in pages/index.js, I used .map to looping fetch API response and build to Netlify.
When I deploy it, I got this error.
Screenshot below:
http://prnt.sc/tlunq7

[2020-07-21 12:44] mattdell commented on #14409
Also ran into this. Very peculiar behavior. It should just render the output, even if it isn't valid markup.

Or at least provide a warning.

[2020-07-21 12:52] nfroidure commented on #15196
Would be nice. Currently, I have a code duplication since I had to isolate global styles into a component and create a `preview.js` file containing :
[code]

I dunno if it is possible to sort of "sniff" styled-jsx and Link tags into the _app.js file to automatically create the above file.

[2020-07-21 13:24] norfish commented on #9794
maybe next/head should not have the default meta, like viewport and charset

as overwrite in every page is not a good idea

[2020-07-21 13:35] aulneau commented on #13574
I can confirm this is happening with using the latest canary versions on multiple mdx based sites.

[2020-07-21 14:04] Lillebo commented on #14872
Just noticed my `.next/cache/next-babel-loader` directory contains about 8000 json files and is **92 MB (!)** large 😕

[2020-07-21 15:47] tanmaylaud commented on #14944
@AT1452 , I am working on it :)

[2020-07-21 15:50] #15301 closed

[2020-07-21 16:00] AleMinacori opened #15374 "Render duplicated components outside <div id="__next" >"
# Bug report

## Describe the bug

Somes components are rendered into and outside the main root (` <div id="__next"> `)

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

I use scss styles that are imported on __app.js

My next.config.js is this:

[code]

## Expected behavior

The correct render of all components into the main root` <div id="__next">`

[2020-07-21 16:28] jescalan commented on #15197
Quick update, I got this working, it was a user error. Oddly, in order to get mdx stories working, `babel-loader` and `react-is` must be explicitly installed alongside the docs addon. Not sure why they didn't just make them dependencies, but 🤷🏼‍♂️

[2020-07-21 16:28] #15197 closed

[2020-07-21 16:28] jescalan commented on #15195
I realized that my reproduction steps here are inaccurate, will adjust and update shortly!

[2020-07-21 16:28] jescalan commented on #15196
I realized that my reproduction steps here are inaccurate, will adjust and update shortly!

[2020-07-21 16:36] tsvetta opened #15377 "Paths with dynamic routing params still not case-sensitive"
# Bug report

## Describe the bug

The part of URL that goes after dynamic param (like `[slug]`) are still not case-sensitive.

## To Reproduce

1. Create an empty next app
2. Create a page with dynamic parameter like: `pages/dynamic/[slug]/route.js`
3. Try to go to a route with upper-case letters like `/dynamic/hello-there/RoUtE`
4. The same page will be loaded as in the route `/dynamic/hello-the

[2020-07-21 16:39] tsvetta commented on #15377
I thought a liitle and maybe it will be better to create a PR to original repo right now? Maybe it will be easier to add comments to my changes

[2020-07-21 17:24] jamesmosier commented on #15374
Hi @AleMinacori. I wasn't able to reproduce using the steps you outlined. Do you happen to have a repository example you could share that reproduces this?

[2020-07-21 17:27] #15093 closed

[2020-07-21 17:33] #15342 closed

[2020-07-21 17:38] odysseymemoirs commented on #8193
The solution i came across is to use [dynamic app layouts](https://github.com/vercel/next.js/tree/canary/examples/with-dynamic-app-layout) with `React.memo` method wrapped around `<NavBar/>` and `</Footer> `components which caused my NavBar and Footer render only one time during url changings

For example when i navigate through:
[code]
and so on, clicking `<Link>` component from `'next/link'` ,

[2020-07-21 18:13] AleMinacori commented on #15374
Hi James, I have found the error. It is caused by a component from the template that i am using (Argon Dashboard)
The issue was that in his documentation, the dropdown example is wrong defined. Inside the DropdownMenu, the components must be DropdownItem, but in the docs, there is a html list first...

[code]

the correct code is

[code]
But I don't know why this error causes re-render outside the

[2020-07-21 18:15] #15374 closed

[2020-07-21 18:28] trompx commented on #4707
Despite having the same config as yours @denniske, I'm still having issues:
I use type-graphql, when using Arg decorator, I get:
[code]
Any ideas?

[2020-07-21 18:51] tanmaylaud commented on #14944
@lfades Raised [PR](https://github.com/vercel/next-site/pull/741) to resolve this issue.

[2020-07-21 18:58] Lillebo commented on #14872
Seems like adding this to my `next.config.js` may have fixed the issue:

[code]

[2020-07-21 19:58] TriStarGod commented on #9794
I keep seeing Next/Head with meta tags and style sheet refs in both _document and _app files in nextjs examples. Are there any advantages in just setting it in _document?

[2020-07-21 21:00] arunoda opened #15383 "Generating static pages even with no paths and fallback:false"
# Bug report

## Describe the bug

I have a simple blog app:

* Shows a list of posts in the homepage
* Then when clicked it shows the blog post

I have configured the `getStaticPaths` of the post page with following:

[code]

Due to above, I expect to get 404 for blog posts. But they do give me correct static pages.

## To Reproduce

* Use this repo: https://github.com/arunoda/fallback-false-next

[2020-07-21 21:02] timneutkens commented on #14872
Could you create a complete reproduction? We'd be happy to take a look.

[2020-07-21 21:43] ramblehead opened #15384 "Yarn 2 and type errors in 9.4.5-canary.42"
When building typescript packages, build process occasionally falls-out with "strange" errors such as:

[code]
My Emacs is configured with tide. I used it to navigate to ```NextError``` (preliminarily running ```yarn unplug next```):

![Screenshot from 2020-07-21 21-23-38](https://user-images.githubusercontent.com/2130398/88103163-8a101a00-cb98-11ea-9d42-f171f27b9b36.png)
![Screenshot from 2020-07

[2020-07-21 22:11] jescalan commented on #15195
Updated with a custom reproduction repo!

[2020-07-21 22:12] jescalan commented on #15196
Updated with custom reproduction repo!

[2020-07-22 00:07] marlonmarcello commented on #15194
Hey guys, I think this is still an issue.
When using `trailingSlash: true` and `basePath: /dev` you get warnings on the console like so:
`Warning: Prop 'href' did not match. Server: "/dev/second" Client: "/dev/second/"`.

Tried both ways:
[code]

and

[code]

next version `9.4.5-canary.42`

[2020-07-22 03:55] marlonmarcello commented on #15315
I have a use case for this.
I'm trying to localize a website and I have the following config:
[code]

I wanna use the `localeKey` inside `getStaticProps` so I can fetch the props locale `json` using `fs`, something like the example on the docs here: https://nextjs.org/docs/basic-features/data-fetching#reading-files-use-processcwd

In summary, I wanna have 1 template file that gets outputted 3 time

[2020-07-22 05:03] darshkpatel opened #15388 "UnhandledPromiseRejectionWarning when unknown flag provided for cli commands"
# Bug report

## Describe the bug

While using next CLI commands, if an incorrect flag is provided then `UnhandledPromiseRejectionWarning` is thrown

While fixing this issue for the `next build` command @timneutkens pointed out that the other cli commands might have the same issue https://github.com/vercel/next.js/pull/15049#issuecomment-657259169 and when i investigated the same problem exists fo

[2020-07-22 05:04] darshkpatel commented on #15388
I'd like to take this up

[2020-07-22 05:46] thirdman commented on #7946
@Timer Do you have a link to the examples? 🙇

[2020-07-22 06:11] sai1139 opened #15389 "Date and Time"
# Feature request
In Log

1. Add  Date&time.
2. Add How many seconds are  taken  ,server has to start/ load.

Above two steps should  before localhost  is generated.

![Capture](https://user-images.githubusercontent.com/37132588/88140905-3ccf8f00-cc10-11ea-95f3-27d1daf8dd67.PNG)

[2020-07-22 06:17] pruge opened #15390 "Router.push does not work."
# Bug report

## Describe the bug

/markdown

/

## To Reproduce

https://codesandbox.io/s/nextjs-routerpush-syvzx

[2020-07-22 06:22] Timer opened #15391 "Trailing slash route mismatch"
Hey guys, I think this is still an issue.
When using `trailingSlash: true` and `basePath: /dev` you get warnings on the console like so:
`Warning: Prop 'href' did not match. Server: "/dev/second" Client: "/dev/second/"`.

Tried both ways:
[code]

and

[code]

next version `9.4.5-canary.42`

@Unsfer @Timer

_Originally posted by @marlonmarcello in https://github.com/vercel/next.js/issues/15194#issu

[2020-07-22 06:26] Timer commented on #15388
Feel free, thanks!

[2020-07-22 06:32] #15257 closed

[2020-07-22 06:33] Timer commented on #15225
Well the examples need updated to leverage the new environment support, it's a bit involved!

[2020-07-22 06:34] Unsfer commented on #15391
Can't reproduce this warning but also have mismatch in `url` prop in page:

Server side:
[code]

Client side:
[code]

[2020-07-22 06:49] jyash97 commented on #15389
Hey @Timer  👋

Can I take this up?

[2020-07-22 07:35] PLQin commented on #5421
Maybe your code isn't efficient , or maybe you're quoting util that doesn't work, or caused by improper reference/use ;
But more often, it's because of `node_modules` (for example, hard-source-webpack-plugin) 。
That's what's causing your memory to get used up 。

solution :
- find out why it's taking up memory and fix it (`node_modules` or code that creates an endless loop for example)。
- set `max_

[2020-07-22 07:41] 4cm4k1 commented on #15026
Hey there, just adding a note here that I commented on [@vukers' issue on the other repo](https://github.com/Timer/cssnano-preset-simple/issues/6), and I have [an additional repro here](https://github.com/4cm4k1/personal-website) (just remove the `resolutions` workaround from `package.json` before running `npm/yarn install`). Thanks!

[2020-07-22 08:15] davidgruar opened #15397 "Can't run dev server and Jest tests concurrently"
# Bug report

## Describe the bug

If Jest is running in watch mode, starting the next.js dev server throws an error and also causes the Jest process to abort.

## To Reproduce

1. Start a new project with `npx create-next-app`
2. Install Jest:
    1. run `yarn add jest --dev`
    2. add `"test": "jest --watch"` to `scripts` in `package.json`
    3. add a basic test, e.g. in `app.test.js`: `test('

[2020-07-22 08:19] msreekm commented on #15225
@Timer , created a PR for auth0 example

[2020-07-22 08:37] will-stone commented on #7533
Hi chaps. Any chance this could be reopened? This...

...would be incredibly useful when trying to avoid having to ask the consumer to add additional config to their setup. I asked @abusada this on his PR but I'll post the question here too just in case: is there really no way to coax the webpack config to be able to add babel plugins? I've tried all sorts of things like:

[code]

but obviously to

[2020-07-22 08:39] zvictor commented on #13230
I would like to thank all the collaborators involved in solving this issue and releasing it in the new versions, in special @tywmick. Even though it doesn't seem that the issue was affecting him directly, he has put a lot of effort into investigating the issue and studying all possible solutions, not stopping at the first easy fix for it. Great job! 🎉

Open-source communities keep amazing me ❤️

-

[2020-07-22 09:07] awareness481 commented on #15109
This is a long-shot but I thought I'd rather mention it.
Since the meta tag is called `next-head-count` is it supposed to be **unique** for each page?
I noticed both **index.html** & **about.html** have the same number for the *content* attribute.
`<meta name="next-head-count" content="2" />`

Any chance this could help identifying the issue?

[2020-07-22 09:18] pixelass opened #15401 "with-sentry is using workarounds on top of workarounds"
# Bug report

The with-sentry example does not work as expected

## Describe the bug

The with-sentry example uses a lot of workarounds and is incompatible with typescript environments.

## To Reproduce

Look at the with-sentry example and look for related issues

#14345
#14758
#8592
... probably some more

https://github.com/vercel/next.js/tree/canary/examples/with-sentry

## Expected behavior

A

[2020-07-22 09:44] will-stone commented on #7533
Okay, I think I have it working with:

[code]

Where I had to install the `babel-loader`. I think this is essentially what @developit described as:

Please let me know if I've done anything unintentionally bad, but this appears to be the solution for now.

[2020-07-22 10:10] Adrian3PG opened #15404 "Next.JS environment variables break when I have target serverless and "!" in values"
# Bug report

## Describe the bug

I'm not sure if I configured something wrong or if this is a bug, but I made a minimal repo to show the issue:
https://github.com/Adrian3PG/next-serverless-env-issue

In it I have a minimal Next.JS setup with:
[code]

I also have an env file with: AUTH_PASSWORD=abc!sfd

When I run `yarn dev`, it works fine. But when I run `yarn build` I get:

`Entry module not fo

[2020-07-22 10:18] iOiurson commented on #14997
Maybe add an opt-in option ?

[2020-07-22 10:24] csirkeee opened #15405 "Dependency version restrictions in package.json"
Reopens #6465 and #2993.

# Feature request

Please loosen dependency version restrictions

## Is your feature request related to a problem? Please describe.

The current way of pinning exact versions makes the node_modules folder very bloated, because packages can't be deduped.

It needs effort from members of the Vercel team for any patches to propagate into Next.js project.

For example, the ve

[2020-07-22 11:43] damiangene commented on #11223
Apologies, I know this issue is closed but I've run into the same problem.

[code]

code to fetch
[code]

[2020-07-22 12:04] sbstnjvf commented on #9794
Also getting this.

[2020-07-22 12:11] weyert opened #15407 "Unable to use API routes when using custom server"
# Bug report

## Describe the bug

I am trying to use API routes by creating a file in the `pages/api`-directory but each time when I navigate to it returns a `404`. I am using a custom server with the code posted below. If I instead do the following `npm run build`, `npm run start` which under the hood does `next build` and `next start` it's working as expected.

I based the code below on the doc

[2020-07-22 12:30] ziserman commented on #3728
Just want to add to [solution](https://github.com/vercel/next.js/issues/3728#issuecomment-363964953) with `./containers` directory.

Instead of `./containers` folder you can use `./src/pages` directory to build any structure (components, tests etc.) and import pages to root `./pages` for routing since:

1. we have another usage for `./containers` folder time to time (I mean React Container Compone

[2020-07-22 12:56] jamesmosier commented on #15390
I tested this in a local project and it works as expected. Codesandbox has a tendency to have unexpected results with Next.js projects in my personal experience.

If you have a repository on GitHub that reproduces this I'd be happy to take a look.

[2020-07-22 13:23] harshdoshi999 opened #15410 "next build command throws 'child_process' error and stops execution"
# Bug report
next build command throws 'child_process' error and stops execution

## Describe the bug

I'm using next v9.4.4
When I try to run next build, it throws child_process error and stops execution.

Exact error:
Module not found: Can't resolve 'child_process' in '\node_modules\google-auth-library\build\src\auth'.
If I remove google-auth-library module then same error shows for node-mailer

[2020-07-22 13:45] ahakem commented on #5374
I fixed that by disable SSR for the component

[2020-07-22 13:48] pruge commented on #15390
https://github.com/pruge/next-route-push

When I try it still doesn't work.

[2020-07-22 14:23] jamesmosier commented on #15390
Seems like the issue is with `@uiw/react-md-editor`. If you remove that from your `markdown.js` page it will render correctly when doing client side navigation.

[2020-07-22 15:09] bobstrange commented on #12086
@meoyawn
There is already an example [`with-typescript-eslint-jest`](https://github.com/vercel/next.js/tree/canary/examples/with-typescript-eslint-jest).

So, I think this issue should have closed :thinking:

[2020-07-22 15:32] guilouro commented on #9126
Did anyone resolve this? I have the same issue with favicons that disappear after hydration

[2020-07-22 15:39] Timer commented on #12086
Closing per above and that we allow `module: 'commonjs'` on `next@canary`!

[2020-07-22 15:39] #12086 closed

[2020-07-22 15:43] weyert commented on #15407
Hmm, started to work after deleting the `.next` and `build`-directory. I will close this ticket.

[2020-07-22 15:43] #15407 closed

[2020-07-22 15:45] abhijithvijayan commented on #8193
What about having a layout page(which doesnt render more than once) that connects to a socket server?

I tried this connection in `useEffect` hook for `_app.js`, but on routing to another page, the `_app.js` gets re-rendered causing to establish a new socket connection!

Does anyone have an effective way to tackle this issue?

[2020-07-22 15:55] Timer commented on #15391
@marlonmarcello I can't reproduce this. Can you please provide a full reproduction?

[2020-07-22 15:55] Lillebo commented on #14872
I don't think I can do that without sharing my repo - and I'm afraid I can't do that. Sorry about that 😕

[2020-07-22 16:02] marlonmarcello commented on #15391
Sure can.
I will put together a repo with the minimal set up.

[2020-07-22 16:03] Timer commented on #15391
Thank you!

[2020-07-22 16:11] Timer commented on #15404
Can you please try `next@canary`?

[2020-07-22 16:15] Timer commented on #15405
This issue has been debated very extensively in the issues you mentioned, and more.

Unfortunately, the npm ecosystem does not follow semver and not pinning dependencies would result in constant breakages.

For example, the latest Babel version breaks Next.js, which is why we're **intentionally** pinned to and older version.

I'm closing this issue as we keep dependencies up to date as quickly as

[2020-07-22 16:15] #15405 closed

[2020-07-22 16:46] bobstrange commented on #12086
@Timer
Thank you for closing this issue :bow:
Do you think if we should put a the [`with-typescript-eslint-jest`](https://github.com/vercel/next.js/tree/canary/examples/with-typescript-eslint-jest) example link on [`with-jest`](https://github.com/vercel/next.js/tree/canary/examples/with-jest)'s README ?

[2020-07-22 16:52] Timer commented on #12086
I don't think it's necessary, the `with-jest` example covers TypeScript usage already.

[2020-07-22 17:06] velidan commented on #8413
What if someone doesn't use Expo? Is it possible to use react-navigation with Next?
I managed to run react-navigation in the scope of the Next project but I don't know how to connect it with the Next.js routing system to save SSR, etc.

[2020-07-22 17:52] sharma0611 commented on #12454
@TheHolyWaffle how did you create an environment variable from the build ID? Or did you not use the build ID at all anymore?

[2020-07-22 17:57] dmitrizzle opened #15414 "Ability to opt-out of `web-vitals` package that's currently bundled with Next.js"
# Feature request

Currently, Next.js adds `web-vitals` package and a file that handles it -- into the production bundle. Though it may be useful in many cases, my project does not rely on these metrics. It adds an extra KB of code and whatever the parsing resources it needs from the user's machine. This isn't much, but I think that in line with Next.js's telemetry opt-out we should be able to opt

[2020-07-22 18:06] remorses commented on #15307
Thank you @jescalan for the suggestions

Unfortunately pages generated after nextjs reads the config are not taken in consideration so using a webpack plugin doesn’t work

I will use an external script temporarily and maybe open a PR

[2020-07-22 19:39] sharma0611 commented on #12454
@georgiosd It doesn't look like the example actually uses a release variable. See the sentry.init call in _app.js.

[2020-07-22 19:56] Timer commented on #15391
Won't block the stable release on this unless we can get a reproduction. Thanks!

[2020-07-22 20:00] vulfh commented on #15196
Can I take this feature ?

[2020-07-22 20:03] alekslario commented on #3303
Caching helped with getInitialProps, since it run client side. Now with getServerSideProps the issue is back.

[2020-07-22 20:05] nandorojo commented on #8413
`expo-next-react-navigation` isn't actually specific to expo, I just made it with the expo + next.js integration in mind. It should work in any RN project with react navigation + next.js routing. You can see the example app in the repo!

[2020-07-22 21:21] jescalan commented on #15196
You are welcome to PR it as far as I know!

[2020-07-22 21:36] platocrat commented on #4194
What does the `urlContext.js` file contain?

[2020-07-22 21:38] ramblehead commented on #15384
Some further investigations:

Instead of peerDependencies or dependencies, optionalDependencies can also be used in this case. The following lines in ```.yarnrc.yml``` seem to work ok:

[code]

optionalDependencies might be a better option to reference external type libraries as, strictly speaking, typescript is not required to write valid javascript.

Also, adding "tsconfig.json" to the next npm

[2020-07-22 21:55] housseindjirdeh commented on #15414
Although it's tiny, I agree it's an additional cost if you're not using it to measure metrics at all.

I wouldn't mind if we keep it included by default and have a flag to opt-out. @timneutkens do you agree?

[2020-07-22 22:00] housseindjirdeh opened #15418 "Next.js-hydration performance measure is under-counting actual hydration time"
# Bug report

## Describe the bug

Next.js-hydration performance measure is under-counting actual hydration time

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to https://www.fairprice.com.sg/
2. Open Chrome DevTools --> Performance
3. Measure hydration and look for the `Next.js-hydration` performance measure
4. Notice how the performance me

[2020-07-22 22:29] alexeagle commented on #14778
✋
could we also make next.js usage better under Bazel in exchange? :)

[2020-07-22 23:14] pruge commented on #15390
Thank you. I'll use @uiw/react-md-editor if it works by building.

[2020-07-22 23:52] revolunet commented on #12409
Looks like this also affects `Router.push()` when you push some page that return a `30x`

[2020-07-23 00:06] readeral opened #15419 "API route for preview not successfully capturing query params"
# Bug report

Having imitated https://github.com/vercel/next.js/tree/canary/examples/cms-sanity to set up preview mode for a Sanity/NextJS project, I'm unable to load a page in preview mode in production as NextJS isn't picking up the secret value or slug in its request.query object.

## To Reproduce

The URL is generated through a function on my Sanity project:
[code]

Which accurately produces t

[2020-07-23 02:22] meoyawn commented on #12086
thanks @bobstrange @Timer

[2020-07-23 03:29] zephraph commented on #12317
Hey @lfades, I was able to make a few updates to my test repo and get it to work (https://github.com/zephraph/next-now-ssr-issue). Moved from routes to rewrites and it worked perfectly.

Thanks!

[2020-07-23 03:58] zephraph commented on #12317
Okay @lfades I gave this a go on my small repo example: https://github.com/zephraph/next-now-ssr-issue

I thought it was fixed, but alas there's one more issue. It works like a dream with `vercel dev`. When it's deployed it _almost_ works (it doesn't 404 which is an improvement) but it's still not getting params.

I added a console.log just to check the context object (here's the [logs](https://ve

[2020-07-23 04:49] hothvictor commented on #7915
It works, thank mate!!

[2020-07-23 04:55] georgiosd commented on #12454
@sharma0611 it gets included in the sourcemap upload but I haven't check if it's correctly reported when sentries are sent to the server.

[2020-07-23 05:49] Timer commented on #14778
@alexeagle I'd love to learn more about what you have in mind!

[2020-07-23 06:06] taiwanhua commented on #4068
In my case ,just add _app.js and _document.js file under pages floder,it work fine.
`
// _app.js
import App from 'next/app'
import { ThemeProvider } from 'styled-components'

const theme = {}

export default class MyApp extends App {
    render() {
        const { Component, pageProps } = this.props
        return (
            <ThemeProvider theme={theme}>
                <Component {...pageProps

[2020-07-23 06:11] chshanovskiy commented on #10148
I faced this problem too.

In my _app.tsx, I imported single css file, which `@import`ed other global styles. And this led to a problem.
The solution was to import ALL global css files inside the _app.tsx.

Before:
[code]

After:
[code]

[2020-07-23 08:55] Adrian3PG commented on #15404
`yarn build` worked ok for the canary version.

Will this make the 9.4.5 cut? It would help a lot if I had some sense of when this gets released, since we have a password that uses "!", and depending on the timeline, we might need to change it.

[2020-07-23 09:36] Akki8484 opened #15427 "How to use Owl carousel with next js"
I want to use Owl carousel with my next + react js app but getting issues.

https://www.npmjs.com/package/react-owl-carousel want to use this carousel

[2020-07-23 09:59] timneutkens commented on #15414
There's likely a better approach possible here where we remove the web vitals package during compilation when reporting is not set up

[2020-07-23 10:32] #15427 closed

[2020-07-23 10:47] message opened #15429 "require.context() doesn't use webpack module rules"
# Bug report

## Describe the bug

`require.context()` doesn't use `next-images` [webpack rules](https://github.com/twopluszero/next-images/blob/master/index.js#L13-L33) while loading multiple images.

The only way I could make it work is to pass `next-images` configuration params inline directly to `require.context(url-loader?params!../path')`

images directory:
[code]

index page:
[code]

Failin

[2020-07-23 11:03] nevnein commented on #9794
Either this should be reopened, or the examples should be cleared up: i.e. the [Google Analytics example](https://github.com/vercel/next.js/blob/canary/examples/with-google-analytics/pages/_document.js) has script tags in the `<Head>` component of the `_document`, but doing so puts the aforementioned scripts before the `charset` declaration, and as noted in this issue there is with no way to overr

[2020-07-23 11:16] #15419 closed

[2020-07-23 11:17] #15390 closed

[2020-07-23 11:19] #15410 closed

[2020-07-23 11:21] timneutkens commented on #13230
This is because the branch was not released yet.

[2020-07-23 11:22] #15397 closed

[2020-07-23 11:24] #15429 closed

[2020-07-23 11:25] timneutkens commented on #15389
Let's not at this for now. It'll be inaccurate and clutter the console output.

[2020-07-23 11:25] #15389 closed

[2020-07-23 12:49] margox commented on #9755
+1  for me, I just wan get `req.headers['user-agent']`, then render some classNames to the body tag, but things not working because I cannot get ctx.req in `getInitialProps`,  and I am using version `^9.4.4` :(

[2020-07-23 13:16] nileshparwan commented on #9070
Hello @all,

I'm getting the same issue as mentioned above.
Does anyone know if a workaround exists?
Thank you.

[2020-07-23 13:27] robianmcd commented on #12288
I'm running into this issue too. @tortilaman what was your workaround?

[2020-07-23 13:59] will-stone commented on #7533
For anyone stumbling upon this, you still have to include the `next/babel` preset, otherwise you lose IE11 support:

[code]

[2020-07-23 14:12] danschleicher opened #15434 "Referrer is not set correctly on Internet Explorer 11"
# Bug report

## Describe the bug
On IE11 `document.referrer` isn't set. The return value is just an empty string instead of for example https://www.google.com.

## To Reproduce

1. I just set up a small next.js project like recommended in the next.js documentation
    (https://nextjs.org/docs/getting-started#manual-setup)

2. After this project set up I started the next.js dev server (via yarn de

[2020-07-23 14:32] wyattjoh commented on #9070
I personally haven’t found anything to get it working. I ended up just loading what I needed in the body and setting up polling to wait for it to load 🙄. It seems that the distinction on the `async=“”` which turns into `async=“async”` is what’s causing the double render, but there’s no way to patch that easily yet.

[2020-07-23 15:10] Timer opened #15436 "Router prefetch does not resolve promise in development mode"
Sorry, it looks like it [does return a promise](https://github.com/jamesmosier/next.js/blob/54d991e6420d5493242a933037a8192ade0b53b8/packages/next/next-server/lib/router/router.ts#L819-L847) I was looking at the wrong `prefetch` method.

But yes, omitting the `as` will cause a full page refresh. But `prefetch` only works in production so that is why you are seeing oddities.

You'll see that there

[2020-07-23 15:14] Timer commented on #15404
`next@9.4.5-canary.43` is considered production ready and will be tagged as a stable version on Monday. You can safely ship it to production, so I'm closing this issue.

[2020-07-23 15:14] #15404 closed

[2020-07-23 15:14] alexeagle commented on #14778
Sorry that was a rushed comment yesterday. Hi! I don't mean to make this like a quid-pro-quo; obviously we all want to make our software better within our time constraints.

From https://github.com/vercel/next.js/issues/9589#issuecomment-570427743 I see that so far, issues affecting Bazel aren't in scope. As an OSS maintainer I get the need to constrain your scope and maybe there are enterprise us

[2020-07-23 15:28] Timer commented on #14778
@alexeagle We'd be more than happy to explore fixing the build directory not being writable error for Bazel if we had a access to someone from the Bazel team to collaborate with on it! The enterprise comment was more so referring to if we had to do 100% of the discovery and resolution ourselves, without someone who can point us in the right direction or explain the technical needs.

---

Regarding

[2020-07-23 15:31] message opened #15437 "require.context() doesn't use webpack module rules"
# Bug report

## Describe the bug

`require.context()` doesn't use `next-images` [webpack rules](https://github.com/twopluszero/next-images/blob/master/index.js#L13-L33) while loading multiple images.

The only way I could make it work is to pass `next-images` configuration params inline directly to `require.context(url-loader?params!../path')`

images directory:
[code]

index page:
[code]

Failin

[2020-07-23 15:43] JClackett commented on #11897
has there been any progress on this? Im using getServerSideProps for seo reasons to provide the initial data for some pages, then caching it (using apollo). However when navigating back to the same page (data is already cached) its re-running the getServerSideProps and blocking the navigation until that resolves.

The data fetching in the getServerSideProps isn't super slow, but the process of cal

[2020-07-23 15:54] tungv opened #15439 "static generation should allow the use of `@` in file path"
# Bug report

## Describe the bug

when I use getStaticPaths and return paths with '@' in its name, it gets replaced with '%40' by encodeURIComponent function here (https://github.com/vercel/next.js/blob/c9492a8cc947f183ec608931239ef04a235776fd/packages/next/build/utils.ts#L635) which leads to a 404 error when the path is requested.

Expectation:
Static generation should honor the @ sign in path,

[2020-07-23 16:40] aberba commented on #13967
The reason I asked about it was because I also did some random changes in my code including removing all `require()`. Not sure which fixed the code.

If you're importing a file which also imports another file...which also imports the first file, then It'll result in some kind of loop (recursive import). And Next.js doesn't seem to show where the issue is and it can be hard to debug in a large code

[2020-07-23 17:19] AvPsyche commented on #12988
@zlwaterfield Is there any update on this?

[2020-07-23 17:34] bogdansoare commented on #13900
I'm having the same issue when running `next start` locally. A page that only has `getStaticProps` but no `getStaticPaths` is not regenerated via `unstable_revalidate`

[2020-07-23 17:46] Janpot commented on #15439
This should have been fixed by https://github.com/vercel/next.js/pull/14717
Would you mind trying on `v9.4.5-canary.43`?

[2020-07-23 17:56] alexeagle commented on #14778
Cool, I'm playing with it a bit now, but I think we'll need to improve rules_nodejs support for yarn workspaces

[2020-07-23 18:45] kylecesmat opened #15443 "Add configuration to disable ReactDevOverlay"
# Feature request
Developers should be able to opt-out of the `ReactDevOverlay` component that blocks the UI by providing configuration to `next.config.js`.

Something like:

[code]

This is similarly related to the `typescript.ignoreDevErrors` configuration that prevents the UI from breaking, but still provides developers with introspection in their console(s).

## Is your feature request related

[2020-07-23 19:51] marlonmarcello commented on #15391
@Timer I don't know what I did, but I can't get the warning to appear on a minimal reproduction repo.
But I do get the same mismatch that @Unsfer mentioned.

[2020-07-23 19:55] Timer commented on #15391
Can you provide a reproduction and instructions for the thing @Unsfer mentioned? It's not immediately obvious to me how to reproduce that.

[2020-07-23 21:54] ivoelbert opened #15445 "Automatic static optimization indicator navigates to the wrong page"
# Bug report

Automatic static optimization indicator navigates to the wrong page

## Describe the bug

The automatic static optimization indicator navigates to `https://nextjs.org/docs#automatic-static-optimization-indicator`. However, that link takes you to the Getting Started page.

I think that the correct link should be `https://nextjs.org/docs/api-reference/next.config.js/static-optimization

[2020-07-23 23:38] chiqui3d commented on #7091
The same thing happens to me in production and development, the second I return to the home page, I put an error capture:

![Shit Markdown ](https://image.prntscr.com/image/PnKQKyhHTuaIBR1M_GWFbw.png)

I see this is closed, I have to reopen a new issue?

[2020-07-23 23:56] chiqui3d commented on #7091
I have also added shallow to the Link component, as in this example, and the error still appears:

[code]

[2020-07-24 01:04] mabadir commented on #12317
I can confirm this behaviour that @zephraph mentioned. The `router.query` is an empty object.

[2020-07-24 01:53] alecrae commented on #14282
Also confirming this issue seems to be fixed in latest canary 👍  looking forward to 9.4.5!

[2020-07-24 01:56] #14708 closed

[2020-07-24 02:09] lfades commented on #12317
@zephraph I'll take a look at your demo and see why it doesn't work.

Is the current example broken too?

[2020-07-24 03:35] mabadir commented on #12317
@lfades I believe the problem that Next.js is still considering the pages on the root level `pages/blog/[slug]` while, it should be on `blog/pages/blog/[slug]`.

Here is the error I am getting
[code]
So it can't match the URL and query parameters to the component. I am not sure if that makes sense.

[2020-07-24 03:50] tungv commented on #15439
hey @Janpot it works for me.

@timneutkens should I keep this open until the release of v9.4.5

[2020-07-24 04:04] hilalarsa commented on #11012
@wawjr3d solution sounds great. And based on documentation on data-attributes (https://developer.mozilla.org/en-US/docs/Learn/HTML/Howto/Use_data_attributes), the SEO crawler will not index values from data-attributes.

[2020-07-24 04:32] rafeautie commented on #12753
Why was this marked as outdated? The fix isn't in the stable version of next

[2020-07-24 04:52] lvzegeng opened #15452 "When I add a script tag in the Head tag (exported via next/head) and add a defer or async attribute, js will be executed twice"
![image](https://user-images.githubusercontent.com/26923315/88361594-20685980-cdac-11ea-91da-7fb5f2741eee.png)
![image](https://user-images.githubusercontent.com/26923315/88361615-3249fc80-cdac-11ea-8d45-4525fa99cbb5.png)
![image](https://user-images.githubusercontent.com/26923315/88361629-44c43600-cdac-11ea-9cba-5e44f78ab351.png)

[2020-07-24 06:08] darshkpatel commented on #14710
I'd like to take this up

[2020-07-24 06:49] Janpot commented on #15436
Could be worth converting this to async/await as well like in https://github.com/vercel/next.js/pull/15361.

[2020-07-24 06:52] pmjhonwang commented on #9698
[code]
![image](https://user-images.githubusercontent.com/1998455/88366972-303c6980-cdbd-11ea-89bc-2e3891c48afe.png)

![image](https://user-images.githubusercontent.com/1998455/88366991-3c282b80-cdbd-11ea-93ea-b42c9b1c7813.png)

[2020-07-24 09:49] sophiekoonin commented on #15212
This sounds like it might be related to https://github.com/zeit/next.js/issues/12343

[2020-07-24 11:20] Janpot commented on #15452
Closing as a duplicate https://github.com/vercel/next.js/issues/9070

[2020-07-24 11:20] #15452 closed

[2020-07-24 12:27] asos-albinotonnina commented on #8158
@cargallo it does yes, thank you. And it works just fine.
Shame, this should be a very prominent configuration setting IMO.
It doesn't look so uncommon to have the need to host say a static app in a subfolder.

[2020-07-24 12:44] 0x80 commented on #10298
I ran into a similar issue:

Error: mini-css-extract-plugin tried to access webpack (a peer dependency) but it isn't provided by its ancestors; this makes the require call ambiguous and unsound.

Required by: mini-css-extract-plugin@virtual:1d9168c037c08506cad690e29fd976d3b38a884a672b631ce328ba655d35796417317af720f12d57f0e7cd3ab2976fc12b60f56238e7a04aa9afa12f9ac77003#npm:0.4.3 (via /Users/me/Devel

[2020-07-24 12:52] 0x80 commented on #10298
Correction: it does work, but you need to specify the correct module that needs the dependency which in this case was not nextjs:

[code]

[2020-07-24 13:15] timneutkens commented on #15439
Going to close this as it was fixed in #14717

[2020-07-24 13:15] #15439 closed

[2020-07-24 13:34] #15437 closed

[2020-07-24 13:34] timneutkens commented on #15443
So why do you want to disable the error overlay if there is no problem?

There is no error overlay in production as per that branch you linked to.

[2020-07-24 13:53] mkamranhamid commented on #9022
I had the same issue so I had to go back to my previous branch(where I assumed this issue wasn't there) and add the latest code file by file and found that the issue was
[code]
I was using a toast service and on every request if there's an error `showToast` pops up but now with this error I don't think i'll be using this service

[2020-07-24 14:24] babymum7 commented on #8156
chào bạn, mình cũng đang gặp vấn đề tương tự bạn còn file config không ?

[2020-07-24 15:28] zephraph commented on #12317
@lfades, yeah, master of my example repo is still broken. I need to update the readme again because I thought it was fixed (when I only tested in dev).

[2020-07-24 15:32] Timer commented on #15443
Also—see https://github.com/facebook/create-react-app/issues/6530#issuecomment-662914362 for the reasoning why this overlay cannot be disabled. We're going to improve its ergonomics with error boundaries, though!

[2020-07-24 15:56] mercury9181 opened #15457 "Stuck before compailation"
# Bug report

When I try to run my server this with "npm run dev" this happens and stays that way.

event - build page: /next/dist/pages/_error

## System information

- Ubuntu
- chrome
- Version of Next.js: 9.4.4
- Version of Node.js: 14.5

I don't understand why it is happening and how to fix it.

[2020-07-24 16:35] #14942 closed

[2020-07-24 17:01] heanzyzabala commented on #15445
Hi, I would like to work on this. Thanks!

[2020-07-24 17:24] #15457 closed

[2020-07-24 17:37] SalahAdDin commented on #10554
Using `target="_blank"` does give me the next warning:
[code]

[2020-07-24 19:05] somratAtSekaiLab commented on #9473
`const query = {
      param1: 'foo', param2: 'bar'
    }`

`const url = { pathname: '/search/[id]', query };`

`const urlAs = { pathname: '/search/1234', query }`

`router.push(url, urlAs);`

**`/search/1234?param1=foo&param2=bar`**

[2020-07-24 19:06] somratAtSekaiLab commented on #9574
`const query = {
      param1: 'foo', param2: 'bar'
    }`

`const url = { pathname: '/search/[id]', query };`

`const urlAs = { pathname: '/search/1234', query }`

`router.push(url, urlAs);`

**`/search/1234?param1=foo&param2=bar`**

[2020-07-24 19:27] ivoelbert commented on #15445
Actually this looks like a `create-next-app` problem. [This commit](https://github.com/vercel/next.js/commit/279ae19c7e4cb75bd79873b0036332222781b792) changes the link to the expected one. Probably the `next.js` version that CNA uses still doesn't have that change reflected.

[2020-07-24 21:08] fabinppk commented on #15212
I think so.  :thinking:

[2020-07-24 21:46] tomhicks opened #15465 "Allow extra parameters when generating static pages"
# Feature request

## Is your feature request related to a problem? Please describe.

I have an API that is cursor paginated, but I would like to create a page-number based index page. Because `getStaticProps` only receives the page route params, I cannot achieve these nice URLs.

## Describe the solution you'd like

Let me return a superset of the required params from `getStaticPaths`, then I can

[2020-07-25 00:33] jaredgorski commented on #13751
I'm experiencing this on my site https://civdocs.us (repo: https://github.com/jaredgorski/civdocs.us) with `fallback: false`. (code reference: https://github.com/jaredgorski/civdocs.us/blob/master/pages/docs/%5Bdocument%5D/%5Bsection%5D.tsx#L12-L42)

I'm using `getStaticProps` and `getStaticPages` to, hopefully, pre-render the pages at build time, so I should conceivably be getting JAMstack-type p

[2020-07-25 02:04] Timer opened #15468 "[canary] CSS ordering changed sometime after canary.21"
@paco reported this:

![image](https://user-images.githubusercontent.com/616428/88446631-a65ec180-cdf9-11ea-93da-86cde70737b9.png)

[2020-07-25 02:35] heanzyzabala commented on #15445
Alright. Thanks @ivoelbert

[2020-07-25 03:47] awareness481 commented on #15391
@Timer

I ran the example and got the same console warning. You can use a full reproduction at https://github.com/awareness481/Next_href_mismatch

![next_href](https://user-images.githubusercontent.com/12380586/88448103-a931d480-ce42-11ea-9e27-f693a9b86bda.PNG)

[2020-07-25 04:36] #15436 closed

[2020-07-25 05:11] #15377 closed

[2020-07-25 07:35] awareness481 commented on #15445
I was running `v9.4.5-canary.42` and the static indicator has the correct link.

@timneutkens As @ivoelbert pointed out, this seems to be fixed by [https://github.com/vercel/next.js/commit/279ae19c7e4cb75bd79873b0036332222781b792](commit) so the issue can be closed?

[2020-07-25 08:19] Janpot commented on #15391
@awareness481 You are using the [`exportTrailingSlash`](https://github.com/awareness481/Next_href_mismatch/blob/8ee8a796225ab65e44a132ec193a71a1f089f497/next.config.js#L3) and not the `trailingSlash` option. You'll also need to use the next.js canary version. Which example were you trying to run?

[2020-07-25 08:26] awareness481 commented on #15391
Incidentally, I thought I thought I had to use `exportTrailingSlash: true`.
I **can't** reproduce using `trailingSlash: true` in the next.config.js

[2020-07-25 08:37] thesobercoder opened #15469 "[Examples] Provide auth example for "AWS Amplify with NextJS" sample"
# Feature request

## Is your feature request related to a problem? Please describe.

The current sample provided for AWS Amplify doesn't have code to show how to use AWS Amplify auth. Also not clear is how to do auth like shown in the `Auth0` with APIs.

## Describe the solution you'd like

A more robust sample with API and auth will give newcomers more confidence in adopting the sample for more

[2020-07-25 09:51] BigSully commented on #9768
Same issue with the author, and we've used `npm run dev` for quite a long time before we discovered the cause.
The cause is that we **have put some non-page js files in the pages** directory. The issue disappeared after we removed all files and directories  in the pages except a simple hello.js of content `export default () => <div>hello</div>`.
Now we still put those non-page code in the pages di

[2020-07-25 11:03] arenddeboer commented on #7946
You can find the examples here: [https://github.com/vercel/next.js/tree/canary/examples/with-mobx-react-lite](https://github.com/vercel/next.js/tree/canary/examples/with-mobx-react-lite) / [https://github.com/vercel/next.js/tree/canary/examples/](https://github.com/vercel/next.js/tree/canary/examples/)
The problem however with this react example is the use of ```useObservable``` which has been dep

[2020-07-25 11:05] modbender commented on #9768
I got this problem when I was converting function to class element vc code accidentally auto imported `import { render } from "node-sass";`

[2020-07-25 12:02] readeral opened #15472 "Query params stripped on api routes"
# Bug report

## Describe the bug
Query params are not being passed through to API route correctly in production, even though API route is not statically optimised.

## To Reproduce
Visiting https://www.stkildapc.org/api/preview?secret=foo&slug=draft does not pass in {secret: 'foo', slug: 'draft'} to API route via request, instead it only produces an empty object. I have confirmed this by logging

[2020-07-25 12:02] readeral commented on #15472
@barrythepenguin

[2020-07-25 14:38] hmalik88 commented on #14716
Hi! I'm interested in helping out with this issue, but not sure how/where to start?

[2020-07-25 17:16] nevnein commented on #13039
Maybe I got this wrong, but it seems to me that this is working ad intended: the module `foo` is in the `node_modules`, so it is ignored, see the [hot-reloader source](https://github.com/vercel/next.js/blob/815f2e91386a0cd046c63cbec06e4666cff85971/packages/next/server/hot-reloader.js#L335).
On the other hand, the `bar` module is not ignored instead because it is passed through `next-transpile-modu

[2020-07-25 18:46] 10xchs commented on #15472
Always been the same for me in development. I use the router to manually send along the query.

[2020-07-25 20:21] alexeagle commented on #14778
What do you think about moving all the devDependencies to the root package.json? It will be easier to make this work today. In my understanding of yarn workspaces, this doesn't break anything, lets you maintain just one list of these libs and their versions, and of course the individual packages don't need to note their devDeps since it's not relevant in the distribution. Do you know of an advanta

[2020-07-25 21:36] ALITHEALI commented on #10126
Hello! Any update on this?

[2020-07-25 21:39] samwightt commented on #14997
Seconded, an opt-in option would be very much appreciated. Being forced to run `next build` repeatedly to debug an error spread throughout the code base is not a very good development experience. It's cumbersome and very slow. I would love an option to type check on `next dev`, I'd take a slower reload time any day over repeated builds.

[2020-07-25 21:59] mxro opened #15476 "Cannot install Next.js 9.4.4 with Yarn PnP/Berry: '@ampproject/toolbox-optimizer@npm:2.4.0 Cannot be built'"
# Bug report

## Describe the bug

On trying to add Next.js dependency, the following error is reported:

[code]

The error in the build log is:

[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Configure project to use Yarn 2 / Berry / PnP resolution https://yarnpkg.com/getting-started/install
2. Run `yarn add next@9.4.4 react react-dom`

[2020-07-25 22:16] lucas-janon opened #15477 "Experimental basePath causes a refresh on page navigation"
# Bug report

## Describe the bug

Using the experimental basePath feature causes a refresh while navigating with `<Link />`

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. `git clone git@github.com:lucas-janon/base-path-bug.git`
1. Install the dependencies and run the app
1. Go to http://localhost:3040/base-path-test/
1. Click on `Navigate to /

[2020-07-25 22:18] alexeagle commented on #14778
Dropping some partway-working bits here https://github.com/vercel/next.js/compare/v9.4.4...alexeagle:bazel#diff-98d8674aa753464c5bc0a56a4b1edce9

[2020-07-25 22:47] nicholaschiang opened #15478 "Dynamic side-effect imports show up in "first load JS" sizes"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

To reduce the "first load JS" bundle sizes, I'm dynamically importing the individually installable Firebase services only when they're needed:
[code]
This should only load the Firebase Authentication SDK when `signupWithGoogle` is actually called client-side. Thus, the `@firebase/auth` module should not be incl

[2020-07-25 22:52] borekb opened #15480 "fetch is missing in `next-env.d.ts` TypeScript types?"
# Bug report

## Describe the bug

In the Node environment (SSR, SSG), `fetch` is provided by Next.js at runtime but is missing from TypeScript types, leading to TypeScript error

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create a new Next.js app (tested at v9.4.4)
2. Setup TypeScript as described [in the docs](https://nextjs.org/docs/basic

[2020-07-25 22:59] nicholaschiang opened #15481 "Output which JS chunks are loaded on which pages"
# Feature request

## Is your feature request related to a problem? Please describe.

A clear and concise description of what you want and what your use case is.

I'm trying to increase the speed of my website by decreasing the initial load JS size.

So, I'm using the `@next/bundle-analyzer` package, but I don't know which chunks are loaded by which pages.

Right now, the output of `next build` lo

[2020-07-25 22:59] nicholaschiang commented on #15478
Nevermind, turns out I was importing `firebase/auth` in other places as well. Just had to change those to dynamic and it worked as expected.

I still have some issues with bundle analyzing though (see #15481).

[2020-07-25 22:59] #15478 closed

[2020-07-25 23:00] arso1er opened #15482 "Error on Router.back() after at least two window.history.pushState()"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.
When you do `window.history.pushState` at least twice successively on the same page and then `Router.back`, there is an error: `TypeError: Cannot read property 'indexOf' of undefined`

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create a next app: `yarn cre

[2020-07-25 23:27] juansalvatore commented on #15477
This is another [repo](https://github.com/serge20/nextjs-basepath) that has the same issue when running `yarn dev`.
But in both examples, when running the production build with `yarn next build` and `yarn next start`, the refresh after navigating to a page using the Link component doesn't happen.

[2020-07-25 23:59] readeral commented on #15472
So I'm just following [their docs](https://nextjs.org/docs/advanced-features/preview-mode) which say it should be available - the request for the route is not coming within NextJS (it's a deep link from my CMS) so this is my only mechanism for including query params.

It's router middleware, this is exactly what it ought to be doing, so there's some bug, be it specific to my deployment or more gen

[2020-07-26 00:01] ilkozlovvvcinci0 commented on #9213
thank's  @davidwieler
it works fine for SPA
next.config.js :
module.exports = {
  distDir: '../out',
  exportTrailingSlash: true,
}

example
https://ajsbooks-nextjs-8c7d6.web.app

[2020-07-26 00:10] dragidavid commented on #7322
@dimosmera make sure to follow these steps 👇

[2020-07-26 00:40] Timer commented on #15477
Both of those reproductions are using Next.js 9.4.4. Please upgrade to the latest canary before trying any experimental features.

[2020-07-26 00:51] Timer commented on #14778
1. Hmm, we'd probably prefer to not move all the dev dependencies unless this significantly complicates things. These packages are actually bundled & shipped as part of Next.js, so they're more-so actual dependencies rather than only used for dev. I don't feel strongly on this, though.
2. `canary` is the correct branch, yes.
3. Close parity with the 9.4.4 binary would be awesome!

---

In terms of

[2020-07-26 01:08] mdolon opened #15484 "[Examples] Problem with query parameters in with-redux-persist"
# Bug report

## Describe the bug

In the [with-redux-persist](https://github.com/vercel/next.js/tree/canary/examples/with-redux-persist) example, using a query parameter in the URL seems to break the loading functionality.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. [Clone the repo](https://github.com/vercel/next.js/tree/canary/examples/wit

[2020-07-26 01:09] Timer commented on #15477
Confirmed this works fine on canary. Also, you shouldn't be defining both `assetPrefix` and `basePath`. Only `basePath` is required for your setup.

[2020-07-26 01:09] #15477 closed

[2020-07-26 03:11] mathdroid commented on #8251
When deploying to Vercel, how do I write a `readFile` in a Page that will work both in SSG and SSR/Preview mode?

Demo repository of where it **does not** work: https://github.com/mathdroid/blog-fs-demo

https://blog-fs-demo.vercel.app/

[2020-07-26 03:46] asthinasthi commented on #7259
I had a mysterious
[code]
line in one of my components which caused this. May be a VSCode autocomplete issue for me

[2020-07-26 03:58] Timer opened #15485 "Scroll to hash behavior not working on nextjs.org"
# Bug report

## Describe the bug

Visit the following URL:
https://nextjs.org/blog/next-9-4#fast-refresh

## Expected behavior

The browser should scroll down to that hash.

It seems we're no longer generating the IDs for the headers:
![image](https://user-images.githubusercontent.com/616428/88471093-a8e11a00-ced2-11ea-92bd-62c5e5ff7a6d.png)

[2020-07-26 05:50] JayaKrishnaNamburu commented on #10899
Closing as it started to work as expected in `9.4.4`. Anyone looking for the implementation details --> https://github.com/teleporthq/teleport-repl/pull/58

[2020-07-26 05:50] #10899 closed

[2020-07-26 07:04] taiwanhua commented on #9213
you have two bugs here!

Bug 1 :  If you connect to the website https://ajsbooks-nextjs-8c7d6.web.app/about, it will not enter the "about page"
But back to the homepage ("Index Page"),

Bug 2 ：If you connect to the website https://ajsbooks-nextjs-8c7d6.web.app/noMatch404, it will not enter the "NotFound page"
But back to the homepage ("Index Page"),

I really want to know how to redirect the page

[2020-07-26 07:04] BrunoBernardino commented on #8251
@mathdroid try moving `readFile` and `readdir` inside the `getStaticProps` and `getStaticPaths` functions, respectively, otherwise the code might run in the browser.

Importing `fs` should be fine on top, though.

Let us know how that works.

[2020-07-26 07:10] taiwanhua commented on #9213
How adout "NotFound page" ?
I can't redirect the page to "NotFound page" correctly when page not found.
May you help me?

[2020-07-26 08:09] Janpot commented on #15482
Should also be fixed by https://github.com/vercel/next.js/pull/15379

[2020-07-26 08:34] collegewap commented on #9989
@Timer

Reproducible here:

Steps to replicate

- Goto https://next-route-issue.vercel.app/page1?foo=bar
- and then click on page2, you will be navigated to page2
- then click on the browser back button. URL will get updated, contents won't!

![image](https://user-images.githubusercontent.com/9767383/88474937-e1233f80-cf48-11ea-9299-cc8bd1e17d43.png)

**Note:** Replicable only when query paraments

[2020-07-26 08:40] awareness481 commented on #15485
(This is affected by the [next-site](https://github.com/vercel/next-site))

So a bit more information on the issue.
I noticed that [components/docs](https://github.com/vercel/next-site/tree/master/components/docs) contains 2 files that address linking to headings.
[components/docs/headings.js](https://github.com/vercel/next-site/blob/master/components/docs/heading.js) && [components/docs/text/head

[2020-07-26 08:51] collegewap commented on #7091
I have a similar issue:

https://github.com/vercel/next.js/issues/9989#issuecomment-663958815

[2020-07-26 09:20] nastari commented on #10279
yeap,
I'm on this boat too

[2020-07-26 09:34] JClackett commented on #10279
I resorted to not using hocs now, bit annoying but it seems to be the cause

[2020-07-26 10:02] timneutkens commented on #15445
This is solved on canary indeed. Will be released on stable soon!

[2020-07-26 10:02] #15445 closed

[2020-07-26 10:15] timneutkens commented on #15482
Duplicate of ##15256

[2020-07-26 10:15] #15482 closed

[2020-07-26 10:22] #15391 closed

[2020-07-26 10:22] timneutkens commented on #15391
Sounds like this can be closed then because exportTrailingSlash is something different and should no longer be used when the `trailingSlash` option is on stable.

[2020-07-26 10:25] #15465 closed

[2020-07-26 12:18] aditya063 commented on #4707
Having the same issue. Have you found any solution yet?

[2020-07-26 12:40] noobnoobdc137 opened #15492 "Unable to deploy with module path aliases on Vercel on next 9.4.4"
# Bug report

## Describe the bug

I use the feature [module aliases](https://nextjs.org/docs/advanced-features/module-path-aliases) but i cannot deploy  the project on Vercel

This is how my .jsconfig.json looks like
[code]

My next.config.js
[code]

This is how i import in files
[code]

The configuration works perfectly on my development machine

- Windows 10
- WSL Ubuntu 18.04

but fails during

[2020-07-26 12:58] readeral commented on #15472
One of my team-mates has discovered that request.path is undefined, and it's undefined on both production and development - so I'm not sure how dev is functioning correctly given path is undefined, but might be the origin of the problem when it comes to the production deployment?

[2020-07-26 13:46] LauraBeatris opened #15496 "[Request] Add types to router events"
# Feature request

## Is your feature request related to a problem? Please describe.

It's not related to a problem, although, would be really nice to add types for the [Router Events](https://nextjs.org/docs/api-reference/next/router#routerevents) since it would be easier to use without having to refer every time to the documentation.

I think it's an easy enhancement that can improve the develop

[2020-07-26 14:02] websocket98765 commented on #15109
Maybe @developit would have an idea of the cause, if he would have time to look?

[2020-07-26 14:11] readeral commented on #15472
Ok so I _think_ the problem is on this line: https://nodejs.org/api/querystring.html#querystring_querystring_parse_str_sep_eq_options

curUrl.query is spread onto the query object, but querystring.parse (which is the node function parseUrl runs) returns a flat object, without the property 'query'. So rather than returning `{query: {secret: 'foo', slug: 'draft'}}` it returns `{secret: 'foo', slug:

[2020-07-26 14:57] timneutkens opened #15498 "Add documentation about asset generation"
We currently don't have documentation about what the Next.js build output looks like from an architectural standpoint, this might be useful to add sometime. (it's not a public API that people should use)

<sub>[DX-2429](https://linear.app/vercel/issue/DX-2429/add-documentation-about-asset-generation)</sub>

[2020-07-26 15:43] azizhk commented on #15351
Same error, this was working in version 9.1.4 but stopped working in 9.4.4

[2020-07-26 18:17] Prottoy2938 commented on #5347
@timneutkens , thanks. It seemed to disable the problem for now

[2020-07-26 18:26] wasd171 commented on #9022
I can confirm that this is related to the PR https://github.com/vercel/next.js/pull/8739 by @arcanis
We are using a monorepo setup with [Rush](https://rushjs.io/) and [pnpm](https://pnpm.js.org/) which eliminates the reason the mentioned PR was merged. It also means that the point that @timneutkens made in https://github.com/vercel/next.js/issues/9022#issuecomment-610255555 does not apply to us, w

[2020-07-26 18:51] DNature commented on #9213
Here's a link to my blogs repo where i used `[@saschazar/next-mdx-extended](https://www.npmjs.com/package/@saschazar/next-mdx-extended)` library.
[https://github.com/DNature/divinehycenth.com](https://github.com/DNature/divinehycenth.com)
It's been a while since i got it to work. however, every detail you need is possibly on my repo and you can also find more options for [@saschazar/next-mdx-exten

[2020-07-26 19:13] ignaciocaamanio commented on #9866
I'm following the Next tutorial and at some point I start to get the same error:

`[ error ] ./lib/posts.js`
`Module not found: Can't resolve 'fs' in ... `

If someone has idea why this happens I appreciate.

[2020-07-26 19:26] chiqui3d commented on #9989
The same thing happens to me in production and development, the second time I return to the home page.

Although error occurs on the home page, the error seems to come from the dynamic routes. I put my [slug].js component, which is where the error comes from.

I followed Strapi's example from the example repository.

[code]

[2020-07-26 19:28] chiqui3d commented on #9989
I see many other similar issues that have been ignored 🤷‍♂️

[2020-07-26 22:12] hk86 commented on #9794
I haven't found a fix. More a workaround. I set

[code]
at `_app`. If I set it at `_document`

[code]

I end up with a second viewport:
[code]

[2020-07-27 01:36] chiqui3d commented on #9989
The whole problem seems to come from the `next/link` component, If I use the "a" tag directly, everything works fine. Can't I use the `Link `component in statically generated pages? In the documentation I don't see anything mentioned about.

[2020-07-27 02:14] Gaelan commented on #15498
This would be especially useful for those of us building compatibility layers to run Next on non-Vercel cloud platforms. Currently, doing this takes a lot of reverse engineering either Next itself or other people's compatibility layers, which isn't exactly fun.

(Yes, I know, you'd like us to run it on Vercel. Vercel is a fantastic platform and I'd generally love to do this, but sometimes this isn

[2020-07-27 03:06] colinhacks opened #15508 "Generating sitemap"
# Feature request

My site contains several dynamic routes and uses the `getStaticPaths` and `getStaticProps` hooks from the 9.3 release. I'd like to generate a sitemap for it. It's quite hard.

## Describe the solution you'd like

I'd like some way of accessing the list of paths/pages generated during the build step. The information I need is printed to the CLI during "next build" but there's no

[2020-07-27 03:26] qipoy commented on #12343
i've same problem with antd and next latest  😞

[2020-07-27 03:56] #15468 closed

[2020-07-27 04:05] #10053 closed

[2020-07-27 04:36] Timer opened #15509 "Docs about incremental static regeneration"
We need to add documentation for the new ISR feature (`revalidate` property) for the `getStaticProps` lifecycle.

[2020-07-27 04:41] Timer opened #15510 "Peer dep warning on `9.4.5-canary.43`"
# Bug report

## Describe the bug

[code]

## To Reproduce

1. `yarn add next`

## Expected behavior

No warnings should be printed.

[2020-07-27 05:32] noobnoobdc137 commented on #15508
It would be awesome if nextjs supports this out of the box 🚀

[2020-07-27 05:58] #15510 closed

[2020-07-27 08:05] Naxos84 commented on #257
How does that work with dynamic routes?
like "/posts/1234" as "/posts/[id]"

[2020-07-27 08:05] timneutkens commented on #15498
If you're not hosting on Vercel you don't have to know about the asset structure as well, as said in the initial message it's not a public API to be used. If you're hosting somewhere else you can use `next build` and then `next start` and Next.js will handle assets correctly including setting Cache-Control that automatically integrates with CDNs and such. `next start` supports all Next.js features

[2020-07-27 08:07] Gaelan commented on #15498
The "not-Vercel" in this case is AWS Lambda, so it's not that simple unfortunately.

[2020-07-27 08:20] Gaelan commented on #15498
By the way, for better or worse, I'm not the first one to depend on next bulid's output--both [next-on-netlify](https://github.com/FinnWoelm/next-on-netlify) and [serverless-next.js](https://github.com/serverless-nextjs/serverless-next.js) do as well.

[2020-07-27 08:30] timneutkens commented on #15498
next-on-netlify is unoffical and does not correctly support Next.js features as documented so I personally wouldn't recommend it as it's unreliable comparing to `next start`. serverless-next.js is a community project that implements some of Next.js' features but not all as of right now (you can check their docs).

The reason we recommend `next start` is that it allows us to greatly optimize your e

[2020-07-27 08:55] sergiuchuckmisha opened #15516 "Error: Forbidden Your client does not have permission to get URL /about from this server."
I'm trying to run [with-firebase-hosting](https://github.com/vercel/next.js/tree/canary/examples/with-firebase-hosting) demo

When I call function url
https://us-central1-project-id.cloudfunctions.net/nextjsFunc
it works

but when I click on [About](https://us-central1-<project-id>.cloudfunctions.net/about)
button it throws

"Error: Forbidden
Your client does not have permission to get URL /about

[2020-07-27 09:10] #15516 closed

[2020-07-27 10:09] nanacnote opened #15519 "latest update crashing Heroku app"
# Bug report

## Describe the bug

- I use "latest" as version in my package.json for my project which means whenever I run npm install I get the latest version of next js.

"dependencies": {
    "@types/lodash": "^4.14.157",
    "@types/matter-js": "^0.14.4",
    "bootstrap": "^4.5.0",
    "gsap": "^3.3.4",
    "matter-js": "^0.14.2",
    "next": "latest",  <------------------------------
    "re

[2020-07-27 10:43] jasonwilliams commented on #14906
I've also hit this issue with debugging javascript, switching to `inline-source-map` helped me too, thanks @tajo
I think anyone else debugging next server side may fall into this problem.

[2020-07-27 11:19] michelt commented on #12079
Hi ! Do someone resolved this and how ? So many node modules that I can't import because of that.

[2020-07-27 11:39] #15519 closed

[2020-07-27 13:54] #15485 closed

[2020-07-27 14:51] maxnewlands commented on #15109
I poked around a bit at this one, and saw the issue outside of the Preact example as well, i.e. in a project created with a regular old `npx create-next-app`. Far as I can tell, `out/about.html` is being correctly exported, and the page renders as expected whether I open it from my file system or with a different server tool like http-server. Could the issue relate more to the serve package, like

[2020-07-27 15:25] jeantil commented on #15481
I think I read somewhere that the next.js team is working on better performance tooling for next.js.

In the meantime you can use some webpack tools to analyze your bundles dependencies. This requires using a custom webpack configuration in `next.config.js`

In your custom webpack configuration, define a custom`BundleAnalyzerPlugin` configuration which generates the `stats.json` file, here is what

[2020-07-27 15:28] lucacasonato opened #15523 "bug: dynamic path segment with %25 crashes page"
# Bug report

## Describe the bug

When `%25` is included in a dynamic path segment (e.g. `/%25` with page `pages/[id].js`) server and client both panic with the error `Error: failed to decode param`.

## To Reproduce

1. Create a page at `/[id].js`
2. `yarn dev`
3. Go to `http://localhost:3000/%25`
4. See unhandled error message

## Expected behavior

I expect no error. It looks like next.js is r

[2020-07-27 15:35] Timer commented on #15523
This is fixed in Next.js 9.5 which is being released to npm ATM!

[2020-07-27 15:35] #15523 closed

[2020-07-27 15:42] lucacasonato commented on #15523
Great, thanks a lot for this awesome tool!

[2020-07-27 16:18] markjackson02 opened #15525 "getServerSideProps TypeError: Cannot convert undefined or null to object at Function.keys (<anonymous>) at renderToHTML"
# Bug report

## Describe the bug

When I switch from using `getInitialProps` to `getServerSideProps`, I get this error in the console:

[code]

Does not generate error:
[code]

Generates error:
[code]

Note that the error is generated AFTER the response is sent to the client.

## To Reproduce

https://codesandbox.io/s/next-js-getserversideprops-typeerror-example-xz8jo

Load index page and check c

[2020-07-27 16:22] jasonwilliams commented on #14906
## Steps to reproduce

- Checkout https://github.com/jasonwilliams/nextjs9-typescript-server-vscode-example (master branch will do)
- Open in VSCode
- Launch task "launch server"
- add a break point in pages `index.tsx` then go to `localhost:3000` it should hit
- try adding a breakpoint in pages/items/[id].tsx, you'll notice it doesn't go red

Sourcemap sources (once parsed)
`"sources": ["webpack:

[2020-07-27 16:40] markjackson02 commented on #15525
I was able to figure out my issue based on the [API Routes with REST](https://github.com/vercel/next.js/tree/canary/examples/api-routes-rest) example.

1) `pages/api` folder seems to be a special routes folder that is handled differently (it does not expect files to output a component). I moved my file into this folder and that partly resolved the issue.

2) Rather than taking a `context` object,

[2020-07-27 16:40] #15525 closed

[2020-07-27 17:05] Timer opened #15527 "Update gssp-export error message to be more clear"
In regards to this tweet thread:
https://twitter.com/timer150/status/1287795608644980738

[2020-07-27 17:43] Timer commented on #257
Next.js 9.5 was just released with support for a [Customizable Base Path](https://nextjs.org/blog/next-9-5#customizable-base-path), allowing you to mount multiple Next.js apps on one domain, so long as their subpaths are unique!

[2020-07-27 17:49] sadam1807 opened #15530 "Nextjs ant design"
I clone the repo from next js examples to integrate nextjs with antd design.

Every thing works fine but css is loading after html send to the browser.

How I can resolve this issue

[2020-07-27 17:51] Timer opened #15531 "Upgrade watchpack to dedupe chokidar"
We should upgrade our direct `watchpack` dependency to only install chokidar v3!

[2020-07-27 17:52] #15531 closed

[2020-07-27 17:52] ccorda commented on #4037
To anyone who stumbles on this, this is now supported:

[code]

Documentation:
https://nextjs.org/docs/api-reference/next.config.js/trailing-slash

[2020-07-27 18:18] modbender commented on #15530
I don't know much about ant design, but shouldn't it be similar to this:
https://github.com/mui-org/material-ui/blob/next/examples/nextjs/pages/_app.js
https://github.com/mui-org/material-ui/blob/next/examples/nextjs/pages/_document.js

There was already an issue opened on this:
#12310

Also there's example:
https://github.com/vercel/next.js/tree/canary/examples/with-ant-design

[2020-07-27 18:47] #15527 closed

[2020-07-27 18:58] claus commented on #10975
I'm getting this after upgrade to Next.js 9.5.
Exact same codebase worked fine with 9.4.x.

[2020-07-27 19:14] gravitymedianet commented on #10627
@Timer the very documentation tells you to import bootstrap css from the node_modules folder.

[2020-07-27 19:32] lfades opened #15535 "[Next.js Site] Improve spacing in /learn"
Using https://nextjs.org/learn in an IPad is not a very pleasant experience as the content doesn't have proper margins with the borders of the screen, it overall feels very tight. This has to be fixed, probably by removing the sidebar in half window screens, like in our docs.

[2020-07-27 21:08] nicholaschiang commented on #15481
Thanks @jeantil! I've already got the FoamTree visualization using the `@next/bundle-analyzer` plugin (i.e. the `./analyze/client.html` file) but that stats file should be useful.

The Next.js team **definitely** needs to look into better performance tooling (as that's a big part of the appeal of using Next.js in the first place IMO haha).

[2020-07-27 21:12] nicholaschiang commented on #15481
Yeah, so I just used that new config, and it definitely speeds up the build times from using the `@next/bundle-analyzer` plugin (I agree with you @jeantil; I really don't care about the server-side bundle sizes so only running it on the client makes sense).

But I still don't know which chunks are loaded by which pages (i.e. which chunks are adding to each page's "First Load JS" size). That was th

[2020-07-27 22:43] modbender commented on #15530
Check this out once: https://medium.com/@tanakorn0412/customize-ant-design-theme-in-next-js-version-9-5958fbc531a3

[2020-07-27 23:03] lfades opened #15542 "[Docs] Be more clear on the differences between CSS Modules and css-in-js"
It has been mentioned multiple times on feedback that in the [documentation for Built-In CSS Support](https://nextjs.org/docs/basic-features/built-in-css-support) we don't really recommend CSS Modules over CSS-in-JS, therefore we create confusion about what should be used if both methods handle the same thing.

We should update the page to be clear about the advantages of CSS Modules over css-in-j

[2020-07-27 23:36] evantahler opened #15543 "Cannot test <Link> outside of a Page on Next v9.5.0 (Enzyme + Jest)"
# Bug report

## Describe the bug

As of Next v9.5.0, Components which use the `<Link>` component cannot be tested in isolation.  However, Pages which use `<Link>` can be tested fine.

## To Reproduce

With this component:

[code]

And this Test

[code]

Produce the error:

[code]

## Expected behavior

The test should pass

 In older versions of Next.js, this test passed.

## Screenshots

N/A

##

[2020-07-27 23:37] evantahler commented on #15543
Updated the stack trace above to include the more interesting line number:
[code]

[2020-07-27 23:39] evantahler commented on #15543
This error might be interpreted as: Without a page, the Next Router doesn't load, and therefore `router.pathname` cannot be used. https://github.com/vercel/next.js/blob/canary/packages/next/client/link.tsx#L176

[2020-07-28 01:15] kmturley commented on #4998
If you want to use basePath with markdown, it looks like you need to do a find and replace in the string:

[code]

[2020-07-28 01:40] gavinsharp commented on #15543
Ran into this as well. My (hopefully temporary) workaround was to add a [Jest module mock](https://jestjs.io/docs/en/manual-mocks#mocking-node-modules) for `next/link` (`__mocks__/next/link.js`) that returns a plain `<a>`.

[2020-07-28 02:22] gfsd3v commented on #8189
having the same issue, anybody have some info about this ?

[2020-07-28 02:53] Samarath commented on #15535
can i work on this issue?

[2020-07-28 03:16] Alecell opened #15548 "Allow shallow rounting on `pathname` - leading to Router bug"
# Feature request
It would be awesome if Next support `shallow` change URL without reload the page with `pathname`. We have so many cases that is useful and user-friendly change URL without redirect, only changing the current `pathname` as the  `history.pushState` does.

## Is your feature request related to a problem? Please describe.
Currently we can use the `pushState` method to change URL with

[2020-07-28 03:34] stefvhuynh commented on #15543
ran into this as well but not in a test. i see it when i upgrade and run the app.

[2020-07-28 03:55] evantahler commented on #15543
That's a good hack @gavinsharp!

[2020-07-28 05:14] Timer opened #15550 "Update `unstable_revalidate` in examples to be the new field name"
We need to update examples to no longer use `unstable_revalidate` and use `revalidate` instead.

[2020-07-28 05:19] Timer opened #15552 "Update examples using new routing properties"
We need to update any examples using `experimental` rewrites / redirects!

edit: fix up in https://github.com/vercel/next.js/pull/15554

[2020-07-28 05:21] timcash commented on #7322
Replicated with this repo https://github.com/timcash/row-test
Trying to use Next.js and a spreadsheet component from https://rowsncolumns.app/
Looks like it uses emotion but none of the fixes mentioned so far work
I get this in the console
[code]
and
[code]
in the console on the browser

[2020-07-28 05:25] #15550 closed

[2020-07-28 05:42] ivan-kleshnin commented on #11646
https://nextjs.org/blog/next-9-4 claims as a benefit:

But what if I want to remove some page... Is it impossible? 😨

[2020-07-28 05:49] serv commented on #1935
As @bugproof points out, you don't need packages like next-images or next-optimized-images.

Here are steps on how you can import images. I copied how [`create-react-app`](https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/config/webpack.config.js#L391) does this.

1. `npm i --save-dev url-loader`
2. `touch next.config.js` if you don't already have a next.config.js fil

[2020-07-28 05:57] eKhattak commented on #15484
I'll try to fix this.

[2020-07-28 06:43] jasonwilliams commented on #14906
Looks like a possible regression of https://github.com/vercel/next.js/issues/8295

[2020-07-28 07:19] peetjvv commented on #4998
This solution doesn't take images imported in a css or scss file into account though. Do you have a solution for how to set the base path when importing an asset from within a css or scss file?
With this solution we will have to ensure that all images are imported either through an img tag, inline styling or in the style tag. It's not ideal, because it will split your styles to be implemented in m

[2020-07-28 08:00] FBosler opened #15561 "Warning: Expected server HTML to contain a matching <canvas> in <div>"
# Bug report

## Describe the bug
Using a "react-curved-arrows" causes a warning:

[code]

A clear and concise description of what the bug is.
When rendering the component the waning appears.

## To Reproduce
Steps to reproduce the behavior, please provide code snippets or a repository:
1. Clone [repo](https://github.com/FBosler/next-js-curved-arrow)
2. yarn install
3. yarn dev
4. go on index page

[2020-07-28 08:23] #15561 closed

[2020-07-28 08:24] sagar-gavhane commented on #15543
I'm getting same issue after upgrading to v9.5.0.

[code]

[2020-07-28 08:35] jeantil commented on #15481
Webpack analyse chunk analysis has issues but the module analysis works and I found that more useful than tracking chunks. search your page in the module list click on the green hash and it will list all the imported depednencies which you can then recursively explore

[2020-07-28 08:36] #15552 closed

[2020-07-28 08:46] JYPark88 opened #15563 "fail fetching getServerSideProps with basePath"
# Bug report

## Describe the bug

next 9.5.0 issue

After I setuped `next.config.js` like below,

[code]

when I tried to change path by router,
fetching getServerSideProps was failed with 404 error.

So I checked data fetch url, it contains assetPrefix instead of basePath.
`/resources/20200728145115/_next/data/LzktM7sKix9_y5d3dr7ph/[pageRoute]`

https://github.com/vercel/next.js/blob/d33dbea8dc6

[2020-07-28 09:08] djeusette commented on #15543
I also run into that issue when building an app.  I had to downgrade to 9.4.4 to make it work.

[2020-07-28 09:16] TrySound commented on #10646
It's not easy to migrate to artifactDirectory when almost each module imports types from such folders.

[2020-07-28 09:28] timneutkens opened #15564 "Move next-codemod into Next.js monorepo"
Will allow us to release https://github.com/vercel/next-codemod to npm and solves maintenance burden of having a separate repository for this.

[2020-07-28 09:32] TrySound commented on #8617
@istarkov's hack stopped working

[2020-07-28 09:39] darshkpatel commented on #15508
I believe `pages-manifest.json` in the `.next` the directory contains the same list

[2020-07-28 09:40] timneutkens commented on #8617
@TrySound it likely has a slash too many `/__generated__/` should be `__generated__/`.

[2020-07-28 09:45] TrySound opened #15565 "Hack for ignoring __generated__ stopped working in 9.5"
# Bug report

## Describe the bug

We used this hack in app with relay until 9.5
https://github.com/vercel/next.js/issues/8617#issuecomment-527980479

next.js 9.5 started to fail on __generated__ folder again.

Using artifactDirectory is a bad option because will require to rewrite hundreds of modules which import types from __generated__ folders.

## To Reproduce

Disable artifactDirectory in rel

[2020-07-28 09:49] piotrazsko opened #15567 "TypeError: can't access property "data", module.hot is undefined"
# Bug report
Hi! I got next report   about error when I am  exporting componenys from folder:

**Unhandled Runtime Error

TypeError: can't access property "data", module.hot is undefined**
[code]
I tried to use 9.5 and  9.4 version.

![Здымак экрана, 2020-07-28 12-48-28](https://user-images.githubusercontent.com/11524242/88649622-b532c600-d0d0-11ea-8d64-48bd2fd4cf72.png)

[2020-07-28 09:51] darshkpatel commented on #15508
What would be the ideal format of the sitemap? Will a simple JSON containing all the routes do?
I can whip up a PR for it

[2020-07-28 09:55] TrySound commented on #8617
@timneutkens This is how the key look like `pages/__generated__/AppQuery.graphql`. Your suggestion does not solve the problem.

[2020-07-28 10:00] #13197 closed

[2020-07-28 10:00] #13616 closed

[2020-07-28 10:02] #15256 closed

[2020-07-28 10:04] SeyedAlirezaFatemi commented on #10975
I'm also getting this error after upgrading to version 9.5 from 9.4.4.

[2020-07-28 10:07] timneutkens commented on #10975
Hey @claus @SeyedAlirezaFatemi could you provide a reproduction repository? Happy to have a look into the issue you're experiencing.

[2020-07-28 10:07] carloscuesta commented on #15543
This could be easily fixed by providing a simple mock to the `next/link` component:

[code]

[2020-07-28 10:07] stijnvanderlaan opened #15568 "Cannot destructure property `publicRuntimeConfig` of 'undefined' or 'null'. (v9.5.0)"
# Bug report
After upgrading from 9.4.4 to 9.5.0 I get an error after building (in dev mode all works fine):
[code]

# Code:
[code]

## System information
- OS: macOS
- Browser: chrome
- Version of Next.js: 9.5.0

[2020-07-28 10:09] timneutkens commented on #15567
Please add a complete reproduction in a github repository as this issue is not actionable as-is.

[2020-07-28 10:12] #15388 closed

[2020-07-28 10:14] thebuilder commented on #15543
This is also an issue when using Storybook (or similar) to render components outside the `page` context.

Right now i've fixed it by creating a custom `<RouterContext.Provider>` to wrap the tests/stories.

**.storybook/preview.js**
[code]

For Testing Library I had to start using a [custom render](https://testing-library.com/docs/react-testing-library/setup#custom-render) method, that wraps the ap

[2020-07-28 10:15] piotrazsko commented on #15567
https://github.com/piotrazsko/ssr/tree/master/ssr

[2020-07-28 10:47] #15567 closed

[2020-07-28 10:48] piotrazsko commented on #15567
Thanks,  I rebuild app  and  haven't this  error.

[2020-07-28 11:02] flybayer commented on #8207
[Here's a nice custom `<Link>` component](https://gist.github.com/flybayer/f9ca161efd3abcb1d8cb76c92e05f5d2) I started using on a project. It can be used like this:

[code]

It's a a lot nicer `<Link>` to use until this RFC gets adopted (hopefully)

[2020-07-28 11:22] #14017 closed

[2020-07-28 11:25] dwoodwardgb opened #15574 "Environment variables no longer passed to app in 9.5 ("ReferenceError: process is not defined")"
# Bug report

## Describe the bug

Process object used to access environment variables in node is missing after upgrading to 9.5.

## To Reproduce

Upgraded to nextjs 9.5 and the snippet in the screenshot broke. If I start the app using a command like this `NEXT_PUBLIC_LOCAL_FUNCTIONS_PORT=5001 next` it works, but if I leave out the environment in the command (i.e. `next`) it fails.

Tried creatin

[2020-07-28 11:27] kush-agra commented on #15026
I got the same
`f.charCodeAt is not a function` error after upgrading to next 9.5.0 reverting to 9.4.4 fixed it but was trying to find a solution and thanks op for pinpointing it

I had `columns: 2 auto;`  in my css removing which fixed it

[2020-07-28 11:44] timneutkens commented on #15574
Did you try out the webpack 5 beta? Because that would cause this (expectedly).

[2020-07-28 11:52] dwoodwardgb commented on #15574
@timneutkens just came to the same conclusion, was on webpack 5 beta. Remove it and it works fine :)

Any clue why webpack 5 beta does that? And how I can mitigate it (when it is no longer beta)?

[2020-07-28 11:52] dwoodwardgb commented on #15574
This can be closed

[2020-07-28 11:54] timneutkens commented on #15574
See #13341, webpack 5 does not provide process and Buffer but we will to ensure existing apps don't break.

[2020-07-28 11:54] #15574 closed

[2020-07-28 11:56] timneutkens commented on #15574
I merged the PR to add it earlier today btw: https://github.com/vercel/next.js/pull/15499

[2020-07-28 11:58] stijnvanderlaan commented on #15568
Looks like the results of `runtime_config_default()()` is undefined.
In another project the build works fine, but I can't find `runtime_config_default` inside `.next`.

[2020-07-28 12:23] iicdii commented on #15543
It works fine in `v9.4.5-canary.28`. But this issue happen from `v9.4.5-canary.29` to `v9.5.0`.
So I checked out `v9.4.5-canary.29` change log, I think one of the commit below is causing a problem.
- Fix basepath browser back/forward issue: #14861
- BasePath: Resolve links against router pathname instead of window.location: #14804

[2020-07-28 12:24] rokinsky commented on #15508
Solution based on information from the build manifest is not ideal, because pages with `getServerSideProps`, `getInitialProps` and `getStaticProps` with `fallback` option will not be supported. It is much better to create the sitemap on the fly (the approach was described in discussions multiple times) because only you know your web application better.

[2020-07-28 13:13] claus commented on #10975
@timneutkens I tried to reproduce it in isolation but so far no luck 😞

The project where this happens is quite big, so i'm not sure where to even start.

It seems to be related to `next-transpile-modules` (we use it to transpile gsap). When i remove that from next.config.js (which is otherwise empty), the error goes away and the project compiles, but then obviously can't run gsap. The project use

[2020-07-28 13:24] remorses commented on #13574
MDX fast refresh does not work for 9.5.0 but works for 9.4.0 in some cases, i can’t find the reason though

[2020-07-28 13:28] aulneau commented on #13574
Correct, I was trying to do some debugging but came up with nothing. I thought at first perhaps it was from using additional rehype / remark plugins, but none of the base mdx examples work with fast refresh. @timneutkens @Timer, curious if this might be a priority anytime soon!

[2020-07-28 13:33] jensmeindertsma opened #15576 "Webpack 5 throws DeprecationWarning"
# Bug report

## Describe the bug
Using Webpack 5 with the official support shipped in Next.js 9.5, Webpack throws a few DeprecationWarnings when I run my app:
[code]
However, the app still runs fine. I just think these should be fixed/hidden.
## To Reproduce
Clone the `development` branch of [this repository](https://github.com/jensmeindertsma/jensmeindertsma.com/tree/development). These warnings

[2020-07-28 13:34] timneutkens commented on #15576
Duplicate of #13341, this is expected as per the todo list.

[2020-07-28 13:34] #15576 closed

[2020-07-28 13:36] jensmeindertsma commented on #15576
Sorry, did not look carefully enough to find that one!

[2020-07-28 13:37] timneutkens commented on #15576
No worries!

[2020-07-28 13:39] SeyedAlirezaFatemi commented on #10975
I think it's a problem with next-transpile-modules. Here is the issue:
https://github.com/martpie/next-transpile-modules/issues/95

[2020-07-28 13:45] ali4heydari commented on #10975
@Timer  I opened @Danetag   [repo](https://github.com/Danetag/nextjs-demo) in [Gitpod](https://gitpod.io/#https://github.com/Danetag/nextjs-demo) and ran these commands:

[code]
After opening http://localhost:3000 with preview button in  Open Ports tab and click on first link I get the error.

[2020-07-28 14:23] vvo opened #15579 "[9.5] optional catch all routes req.query.params behavior is different when deployed on vercel (works in dev, works in 9.4.4)"
# Bug report

## Describe the bug

Hi, just tried to upgrade from 9.4.4 to 9.5.0. I was previously using the experimental `optionalCatchAll` flag. On 9.5.0 my optional catch-all routes are working in dev mode (next dev) but no more working when deployed on Vercel.

The issue is that req.query.params value is different between Vercel and dev mode when using optional catch-all routes.

## To Reprodu

[2020-07-28 14:53] serrynaimo opened #15580 ": or * in header value crash site. Lexer skips out."
# Bug report
`next.config.js` header configuration
[code]

results in
[code]
when accessing site

## Describe the bug
The : or * characters in header value seem to bug the lexer

## Expected behavior
Header should be set as described

## System information
- Version of Next.js: 9.5.0

[2020-07-28 15:18] Janpot commented on #15579
Does `next start` behave the same way?

[2020-07-28 15:22] Timer commented on #10975
Potentially related:
https://github.com/vercel/next.js/discussions/15540

[2020-07-28 15:29] dminkovsky commented on #15565
You can configure where relay puts __generated__ files. It's in the docs for the compiler I think, so this hack isn't necessary?

[2020-07-28 15:35] dminkovsky opened #15582 "Fast refresh on changes to files in yarn workspace package stopped working in 9.5"
# Bug report

## Describe the bug

My next.config.js looks like this:

<details>

[code]

</details>

I am using a monorepo Yarn workspaces layout wherein my Next.js project has a dependency on another package in my workspace.

Up to and including 9.4.4, when I changed something in the depended package, the Next.js dev server would detect that change and fast refresh.

In 9.5, this no longer works

[2020-07-28 15:38] dminkovsky commented on #15565
My bad, sorry I missed that. Might be the way, though, and maybe a job for jscodeshift? Something like https://github.com/apollographql/apollo-client/pull/6486/files would make it not too bad and reliable.

[2020-07-28 15:41] Timer commented on #15563
This behavior was changed as a bug fix, requested in https://github.com/vercel/next.js/issues/11992. Could you please explain what your assetPrefix is being used for and your use case more?

[2020-07-28 15:41] timneutkens commented on #15582
Sounds like a bug in next-transpile-modules, not in Next.js.

[2020-07-28 16:03] Timer opened #15585 "Fix new flaking test"
## Failing test suites
Commit: aa5d9f71b38da90b1597e571dd50703de69fa91b

**test/integration/error-is-clickable/test/index.test.js**
- Clickable error link > Shows error which is clickable and redirects

<details>
<summary>Expand output</summary>

  ● Clickable error link › Shows error which is clickable and redirects

    JavascriptError: javascript error: Cannot read property 'click' of null

[2020-07-28 16:18] dminkovsky commented on #15582
Posted there. No idea how the fast refresh watch works, so thought maybe it was a Next.js thing because that was modified in 9.5 per blog/release notes. Will close here for now. Thanks.

[2020-07-28 16:18] #15582 closed

[2020-07-28 16:21] glenngijsberts opened #15588 "Deploy to github pages results in assets not found with Static HTML export"
# Bug report

## Describe the bug

I would like to host a project on github pages but the static html export (generating the `/out` directory) doesn't seem to work for me when I add an `assetPrefix`. Somehow the assets can't be found. In my network tab the path's of the files seem to match my domain but somehow they end up with a 404 error, see `To Reproduce`.

I've tried to find more info at the

[2020-07-28 16:41] duvholt commented on #15563
I'm using `assetPrefix` for serving js/css from a different host than the Next.js server is running on.
Since `getServerSideProps` is executed for each request I wouldn't expect this to be served from the same location as static files.

For example:
[code]
The user visits https://myapp.example.com/basepath/page
Which loads js like this as expected https://mycdn.example.com/app_path/_next/static/ch

[2020-07-28 16:42] GriffinSauce opened #15589 "Invalid CSS comment breaks build since 9.5.0"
# Bug report

## Describe the bug

Since 9.5.0 invalid CSS comments starting with `//` will break the build with an opaque error:

[code]

## To Reproduce

[Example repo](https://github.com/GriffinSauce/next-css-crash-repro/) - just `yarn install` and `yarn build`

[The offending comments](https://github.com/GriffinSauce/next-css-crash-repro/blob/master/styles/globals.css) in said repo.

## Expect

[2020-07-28 16:58] francisrod01 commented on #4249
Hey @kutsyk could you please provide your babel example?
I can't see this solved even with the simplistic material-ui example for next.js apps.

This issue occurs only when I create a `next.config.js` file. If I rename this file, the app will run without any errors in styles.
But I need this to set my environment variables before the application running.

[2020-07-28 17:10] darshkpatel commented on #15585
Just checked on my local machine on `canary`, the test seemed to fail initially but doing ` yarn && yarn dev` seemed to fix the test fixed the issue.
The test should certainly not time out though.

[2020-07-28 17:49] chrisabrams commented on #14185
Facing the same issue when upgrading to any minor version after 9.3.

[2020-07-28 18:35] drnachio commented on #9989
Similar Problem Here:

https://pokedex-tutorial.vercel.app/

You can check the code here:

https://github.com/BinPar/pokedex-tutorial

You can reproduce it:

- SSR the home page (https://pokedex-tutorial.vercel.app/)
- Scroll down
- Select a pokemon
- Click the back (at the bottom)
- The home page goes to the top
- Scroll down
- Select a pokemon
- Click the back (at the bottom)
- Now it works... e

[2020-07-28 19:03] AndyBitz opened #15594 "The `redirect` function allows to avoid a parameter for the `Location`"
# Bug report

## Describe the bug
The [`redirect` function](https://github.com/vercel/next.js/blob/d19c34353da47cca5044e3726e900a978dcf0309/packages/next/next-server/server/api-utils.ts#L222-L240) added in https://github.com/vercel/next.js/pull/14705 allows to set a status code or URL as second argument, and an optional third argument for the URL if the second argument was used for the status code

[2020-07-28 19:07] lfades opened #15595 "[Docs] Add css examples to documentation"
We have multiple CSS examples, like tailwind, emotion, styled-components, e.t.c, but currently we don't mention them in the documentation. Adding this examples should help people that go to our docs looking for one of the popular libraries but fail in the process.

[2020-07-28 19:25] kylecesmat commented on #15443
@timneutkens I apologize, I could have provided a better problem statement in the description.

The goal here would be to disable the development error banner that appears. You are right, it can be clicked away if needed, but that's just a developer annoyance when you are actively working and a known bug is throwing an error.

*Ideally, I'd like to be able to disable the rendering of this error bo

[2020-07-28 19:37] BruhnoMus commented on #15579
I have the same issue. If I build it locally and run it with `yarn start`, the routes work, same with `vercel dev`. But deployed on Vercel, it fails with a `502` initially and continuos tries returns a `405` for me because the `method` is gone.

[2020-07-28 19:54] shahruz commented on #13751
I'm experiencing the same thing.

Another possible solution might be having an option like Router / Link's `shallow` option where we can navigate to the fallback page immediately instead of blocking for `getStaticProps` to finish. That UX seems more inline with the benefits iSSG is designed to provide.

[2020-07-28 19:57] ScriptedAlchemy opened #15597 "Dynamic imports in node_modules cause 500 in dev"
# Bug report

## Describe the bug

When using `dynamic(()=>import('./somthing'))` in a npm package,like a component library.  I get a `500` error when in development mode. If I reload the previously crashed page again, it works accordingly.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1) Create an npm package that dynamically imports something
2

[2020-07-28 20:38] Timer opened #15599 "Error overlay incorrectly formats message with embedded links"
![image](https://user-images.githubusercontent.com/616428/88719075-b4119100-d0f0-11ea-9f0b-2c9e254ea0e5.png)

There is no space after the anchor component.

[2020-07-28 20:55] claus commented on #10975
My issue is fixed with today's release of `next-transpile-modules` 4.0.1.

[2020-07-28 21:22] stevez86 commented on #15579
I have a possibly related issue for a monorepo setup after upgrading to 9.5. I think it has to do with the routes in now.json not working correctly. I have this;

[code]

Everything works in development, but on vercel my APIs fail and the homepage gets redirected to /brand. Please let me know what you need from me or if this should be a separate issue.

[2020-07-28 22:08] mehmetnyarar commented on #8663
I encounter the following error if I don't import React in both `page.tsx` and `page.spec.tsx`:

Any ideas?

[2020-07-28 22:30] Gaelan opened #15609 "Provide mechanism to disable or override preview mode keys"
# Feature request

## Is your feature request related to a problem? Please describe.

My app doesn't currently use preview mode. However, every time I run `next build`, I get a new version of the app with different preview keys, needlessly slowing down my deployments.

## Describe the solution you'd like

Provide a mechanism to either a) disable preview mode or b) provide the preview mode keys mys

[2020-07-28 22:56] aditibarbhai opened #15613 "next export - missing stylesheets - sass files not being linked in the static html export"
# Bug report

## Describe the bug

I'm using sass modules for my site and exporting a static site using `npm export`. The sass modules are working fine with `next dev`, however, when I do the export, the resulting html file that is generated doesn't have the sass files linked (even though they are exported with the rest of the static files). There is no `<link>` in the `.html` file for the sass mo

[2020-07-29 00:15] gemox94 commented on #9022
I've been playing around with these and found that, when I use a HOC it throws an error, but, if I use a component as a wrapper, it works fine.

If someone is interested, I have a repo where you can reproduce this: [next-components-hooks-error](https://github.com/gemox94/next-components-hooks-error)

### HOC Test - Throws error

`components/withPrivateRoute.js` -> *Higher Order Component*
[code]

[2020-07-29 00:18] websocket98765 commented on #15109
@maxnewlands seems to be onto something--this may be related to the NPM `serve` package. I tested these ways:
- `npm run dev` ✅
- `npm run build && npm run export && serve -s out` ❌   (`out/about.html` does exist, but homepage content is shown on initial load when directly visiting `/about`)
- On Vercel with `npm run build` ✅
- On Vercel with `npm run build && npm run export` ✅

I'm new to NextJS.

[2020-07-29 00:58] bitfrost opened #15616 "9.5.0 introduced compile error / breaks when using the pnpm package manager"
# Bug report
Upgrading a hello world project from 9.4.4 to 9.5.0 when using pnpm introduces a compile error for next build (see below)

## To Reproduce

install pnpm on your system.

clone example repo https://github.com/bitfrost/example_pnpm_next_issue
cd into repo

run:

pnpm install
pnpm next build

Get

Creating an optimized production build

Compiled successfully.

Automatically optimizing pa

[2020-07-29 01:21] IanMitchell commented on #15616
Seeing the same thing, but on regular npm

[2020-07-29 01:40] kmturley commented on #11109
I have a similar issue when using anchor tags inside markdown:
`## [Heading](#anchor-tag)`

Clicking them doesn't jump to the correct section. However it works on this page here:
https://nextjs.org/docs/api-reference/cli#build

[2020-07-29 01:56] bitfrost commented on #15616
Interesting @IanMitchell .    With the above example repo, I don't see this using npm (6.14.4).

Can you confirm my example repo doesn't work with you for npm (and if so what version of npm / node?)  (Look out for stray node_modules/  in parent directories, i have seen those cause similar webpack errors around duplicate 'react/package versions').   Locally I can use the example repo and npm  to bu

[2020-07-29 02:00] IanMitchell commented on #15616
Whoops, you're right - I wasn't seeing the same thing, I was getting a different bug covered by an existing report / PR. My bad for not reading the stack trace carefully enough, sorry!

[2020-07-29 02:48] bitfrost commented on #15616
I can repo with 9.4.5-canary.8 (9.4.5-canary.7 issue is not present)
I will dig through these https://github.com/vercel/next.js/compare/v9.4.5-canary.7...v9.4.5-canary.8

[2020-07-29 03:04] gurupal commented on #7410
But this thing is not working if you route to nested links like www.example.com/blog/xyz . The link gets inactive in nested links

[2020-07-29 03:22] JYPark88 commented on #15563
Same case as @duvholt.
I expected that getServerSideProps fetching url have to contain `basePath`, not `assetPrefix`.

[2020-07-29 03:41] bitfrost commented on #15616
Via some bi-secting This appears to be introduced by
https://github.com/vercel/next.js/commit/e125d905a0dd93d247c6122d349c2c90268f0713
@timneutkens .   I am not grokking why yet, but will dig a bit more tomorrow.

[2020-07-29 04:34] Prottoy2938 commented on #8663
@mehmetnyarar , I'm not 100% sure if that problem is related to this issue, but if you're having trouble using **Nextjs** with **Jest**, you can try out the boilerplate that I've made: https://github.com/Prottoy2938/nextjs-typescript-eslint-jest-template.git

Its a boilerplate where it has the basic configuration for **Nextjs** with **TypeScript**, **ESLint** and **Jest**

[2020-07-29 05:12] bitfrost commented on #15616
removing the use of this hook gets rid of the 'you may be violating the rules of hooks' error. I tweaked (_document.tsx)
  // const { inAmpMode } = useContext(DocumentComponentContext)._documentProps
  const inAmpMode = true; <-- not a real fix, e125d90  did introduce using the hook versus a class component

The above hack lead me to this apparently bad import

https://github.com/vercel/next.js/bl

[2020-07-29 05:55] subodh-malgonde commented on #6303
FYI - this feature was a part of [v9.5 release](https://nextjs.org/blog/next-9-5).

[2020-07-29 06:38] pratheekhegde commented on #14634
@Janpot In your shared snippet will it forward all the query params too? Does it act as a proxy internally like `http-proxy-middleware` ?

[2020-07-29 06:38] #15585 closed

[2020-07-29 06:45] #14634 closed

[2020-07-29 06:56] #15543 closed

[2020-07-29 07:22] jsartisan commented on #8259
NextJS seems to be broken. Moving to Gatsby. Thanks NextJS for wasting my time.

[2020-07-29 07:41] thanh-nguyen-95 opened #15620 "9.5.0 Trailing slash causes '/' route to be not found"
# Bug report

## Describe the bug

Trailing slash set to `false` (which is the default) causes '/' route to be not found. This is an edge case in my opinion but I might as well report it.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create a new project using `yarn create next-app`
2. Move the `index.js` file to `pages/index/`. Edit the conte

[2020-07-29 08:29] sai1139 opened #15623 "v9.5.0 BasePath is effecting public folder"
# Bug report
## Describe the bug
BasePath is effecting public folder
A clear and concise description of what the bug is.
I have Updated 9.4.2 ->9.5.0,Importing the images from public folder into components
Add basepath  in next.config.js
[code]
## Before Image  Path
**_/static/logo/sample.png_**

## After ImagePath
**_/docs/static/logo/sample.png_**

It should should affect only url.

- OS: [e.g.

[2020-07-29 08:47] #15580 closed

[2020-07-29 08:55] timneutkens commented on #15623
The behavior described is correct and not a bug.

[2020-07-29 08:55] #15623 closed

[2020-07-29 08:57] timneutkens commented on #15620
`pages/index/index.js` makes Next.js serve `/index` as a route.

`pages/index.js` is for the `/` route.

[2020-07-29 08:57] #15620 closed

[2020-07-29 09:00] #15613 closed

[2020-07-29 09:09] sai1139 commented on #15623
ok,But in next.js documentation, basepath will effect only  url. not project/directory structure.

https://nextjs.org/docs/api-reference/next.config.js/basepath

[2020-07-29 09:15] timneutkens commented on #15597
Please add a complete repository so that we can have a look.

[2020-07-29 09:34] robertontiu opened #15624 "Webpack alias not working"
# Bug report

## Describe the bug

I am working on a project that consists of three apps - one react native (w/ expo), one nextjs and one storybook for web. All three share a couple of libraries (project is a monorepo) that are built for react-native but use react-native-web in nextjs and storybook (via webpack alias). In order to eliminate issues with expo modules on web I have added webpack alia

[2020-07-29 09:36] wyeo commented on #15508
@rokinsky How do you fetch all of your pages ?

[2020-07-29 09:40] timneutkens commented on #15624
Next.js does not compile node_modules by default so you can't add in aliases to webpack that have to be resolved inside of npm packages. I'll convert this to a discussion given that it's not a bug.

[2020-07-29 09:40] #15624 closed

[2020-07-29 10:55] sventschui opened #15626 "Rewrite adds query param when re-appending a matched path param to the destination"
# Bug report

## Describe the bug

A rewrite from `/source/:route*` to `http://my-api-server.example.org/destination/:route*` forwards a request sent to `/source/foo` to `http://my-api-server.example.org/destination/foo?route=foo`. The extra query param will lead to issues especially with API servers as in REST this might represent a filter criteria.
## To Reproduce

1. Create a new next app

2. C

[2020-07-29 11:01] piotrazsko opened #15627 "Error was not caught TypeError: can't access property "data", module.hot is undefined"
Hi.  I got  this error  when i use  file  with   `const module = 'user'`:
![Здымак экрана, 2020-07-29 13-53-37](https://user-images.githubusercontent.com/11524242/88792042-525e2f00-d1a3-11ea-8df1-fe1079edced8.png)
 and  debugger state:
![Здымак экрана, 2020-07-29 13-52-54](https://user-images.githubusercontent.com/11524242/88792126-728dee00-d1a3-11ea-954b-89d8e41eae6d.png)
 We can see  that instea

[2020-07-29 11:07] stijnvanderlaan commented on #15568
It seems to be related to lerna & different not being installed correctly, installing it in the root of the project with `yarn add next -W` fixed it for me.

[2020-07-29 11:57] alecrae commented on #15563
Also have same use case as @duvholt . Is the json data something I should serve from CDN as a short-term stopgap?

[2020-07-29 12:03] TrySound commented on #15565
I don't think setuping absolute paths aliases for every tool in every project is a good option. Enabling artifactDirectory will make rebase painful for big team working on many features.

[2020-07-29 13:44] dalanmiller opened #15632 "`NEXT_PUBLIC` env vars not present in runtime/javascript context."
# Bug report

## Describe the bug

`NEXT_PUBLIC` envvars aren't available in the JS context.

## To Reproduce

1. Start new repo
2. Create `.env` with following:
[code]
3. Run `vc dev` and then load page which renders `process.env.NEXT_PUBLIC_TEST` in file within `component` or within `pages`
4. Results in `undefined` while `process.env` is fully populated during server-side rendering (such as run

[2020-07-29 13:54] Timer commented on #15632
The new environment support was added in Next.js 9.4, and was not in the 9.3.x line.

[2020-07-29 14:05] bduffany commented on #8259
Hmm, I wonder if the right solution to this issue is a matter of just deprecating the `router.query` API in favor of more newcomer-friendly APIs that make it perfectly clear what their behavior will be? I was very confused by the name `router.query` simply because I expected it to "just work" since everything else in Next.js seems to "just work." I'd imagine others in this thread feel the same.

O

[2020-07-29 14:08] mAAdhaTTah commented on #15626
I'm seeing similar behavior, although in my case it's `path`, rather than `route`. Comparing your implementation & mine, the param appears to be chosen based on the config param name:

[code]

Because you're using `:route*` here, and we're using `:path` (which we copied straight from the docs), that's what gets appended as a query string. If it helps, a workaround could be to change that param nam

[2020-07-29 14:43] #15595 closed

[2020-07-29 14:53] gauravkrp opened #15635 "Purge CSS Inbuilt feature"
# Feature request
First of all thanks for 9.5. It brought so many features inbuilt that I was implementing with extra efforts. I am so glad to use **NextJS 9.5**

Few months back I was overwhelmed by the built-in-css features and Sass modules support coming.

There is one more feature that I use and find very useful is the **purgecss** plugin. But to use this plugin currently I have to use next-sa

[2020-07-29 15:01] timneutkens commented on #15635
You can already use purgecss with the built-in css / sass features: https://nextjs.org/docs/advanced-features/customizing-postcss-config. E.g. this is what tailwind does automatically as well.

[2020-07-29 15:01] #15635 closed

[2020-07-29 15:36] ijjk commented on #15543
Hi, this should be resolved in `v9.5.1-canary.1` of Next.js specifically this PR https://github.com/vercel/next.js/pull/15604

[2020-07-29 15:42] evantahler commented on #15543
Thank you for the super-fast turn around!

[2020-07-29 15:59] ijjk commented on #15626
Hi, this is the behavior currently since when rewriting the end-user doesn't see the query values so we make all params available in the query automatically.

After discussion it looks like it would make sense to not add the params to the query automatically for rewrites if it is already used in the destination so we will be investigating this behavior

[2020-07-29 16:04] Timer opened #15637 "Introduce a new `fallback: 'blocking'` ISG mode"
# Feature request

Next.js should allow pages leveraging Incremental Static Generation (`fallback: true` in `getStaticPaths`) to opt-into a server-side rendering mode when an unknown path is encountered.

Currently, we serve a static HTML fallback that then loads the data client-side (via a fetch to the server).

While the static HTML fallback is generally considered to be better end-user UX and *

[2020-07-29 16:07] Timer opened #15639 "`next/link` should handle external URLs"
We should automatically handle external URLs in `next/link` and `Router#push` instead of ignoring them.

This change should remove the necessity for the userland `<NextLink>` wrappers that implement this behavior.

[2020-07-29 16:14] arzafran commented on #13341
Having the following error, but probably it's related to Theme-UI and they should support Webpack 5
[code]

It should be a fairly simple fix, but I think it may trigger a chain of fixes needed on other dependencies. we would have to manually change all these from:
[code]
to
[code]

right?

[2020-07-29 16:17] dvakatsiienko commented on #13341
Same error happens to [AWS-amplify](https://github.com/aws-amplify/amplify-js) library.

[2020-07-29 16:25] gauravkrp commented on #15635
Thanks @timneutkens  - **This really made my day** :-)

Just one doubt here - I've installed custom plugins as suggested (see the image below) - so, will I be loosing any default behavior of NextJS CSS optimization??
![image](https://user-images.githubusercontent.com/12250556/88826183-0f717b00-d1e6-11ea-8b1f-54b8371b079d.png)

[2020-07-29 16:33] mAAdhaTTah commented on #15639
It would be helpful too (if possible) to take the rewrites into account and do a page reload if the target link is rewritten to an external server, as `Router#push` wouldn't be able to handle that.

[2020-07-29 16:51] #15563 closed

[2020-07-29 17:34] Timer commented on #15609
Could you elaborate a bit more? Having Preview Mode doesn't slow down your deployments.

[2020-07-29 17:58] barinali commented on #15026
I think you can refactor `columns: 2 auto;` with the following;

[code]

This is at least how I have resolved the same problem on my side.

[2020-07-29 18:55] pancho111203 commented on #10147
Any news on this? Ideally this should just store images fetched during getStaticProps on .next/static/images like the rest of the images of the website. The fetching will only happen on build time (getStaticProps), so this shouldn't be a problem technically.

[2020-07-29 19:07] Lillebo opened #15642 "Pages render without styles for a brief second"
# Bug report

## Describe the bug

Pages render without any styles for a brief second before the CSS is loaded:

![Jul-29-2020 20-54-52](https://user-images.githubusercontent.com/74510/88841314-13010400-d1de-11ea-85fa-91c78cb771fb.gif)

This only happens in production. In development everything is fine and pages render perfectly styled immediately.

## To Reproduce

I try to load some global style

[2020-07-29 19:10] mxdi9i7 opened #15643 "Next export site Javascript not working at all"
# Bug report

## Describe the bug

I am building a static exported site with graphQL hydrating the page at build time. The data are coming in fine, but the entire site after export is loading but has no javascript - carousels, countdowns, popups are all non-responsive.

I'm wondering if there's anything I'm missing fora static exported site, I checked the docs and followed every step.

## To Repro

[2020-07-29 19:18] Gaelan commented on #15609
Sure. My deployment mechanism hashes files to determine whether they need to be re-deployed. Using serverless mode, Next 9.5, Webpack 5, and a `generateBuildId` that returns the git commit hash, running `next build` twice in a row still changes every file in `.next/serverless/pages`, because it generates a new `previewModeId`, `previewModeSigningKey`, and `previewModeEncryptionKey`. Without that f

[2020-07-29 19:23] Timer commented on #15609
Ooh interesting! We could probably explore extracting this information into environment variables instead of inlined into the file. Since this is so low-level and an implementation detail, we likely won't be exploring adding a way to omit this from the output—it's not worth increasing the API surface.

[2020-07-29 19:24] Timer commented on #15642
This was fixed in Next.js 9.5, please upgrade!

[2020-07-29 19:42] ScriptedAlchemy commented on #15597
Reproducible Repo

https://github.com/ScriptedAlchemy/sample-next-9-5

Async package

https://github.com/ScriptedAlchemy/sample-async-package

When booting in dev mode, it will 500, refreshing the page will create a successful render. This is using stock standard create-next-app and webpack 4

[2020-07-29 20:03] ColeTownsend commented on #10061
FWIW, I'm experiencing this on zeit 9.4 with a customer server on both Chromium and Safari. I cleared my cache and also tried on incognito in both browsers.

Ran `next dev`, `next dev -p XXXX`, nuking the repo, nuking `node_modules` and `.next`, and changing my node version to various stops between 12 and 14.

[2020-07-29 20:13] Lillebo commented on #15642
Just upgraded to 9.5. Sorry to say it is still a problem 😕

[2020-07-29 20:13] Danetag opened #15646 "[Next 9.5] `process` (and `.env`) not available when using Webpack 5.0 beta"
# Bug report

## Describe the bug

I'm trying to migrate a project from next 9.4 to next 9.5, using webpack `^5.0.0-beta.22`. The project is also a Vercel project.
When compiling, the browser doesn't seem to be able to access the `process`, therefore it can't access the `.env` variables.

## To Reproduce

`next.config.js`

[code]

## Expected behavior

`process` and `process.env` should be availab

[2020-07-29 20:45] Lillebo commented on #15642
Hm, now it seems to have been fixed after all. Might have just been my cache. Thanks 🙂

[2020-07-29 20:47] kirill-konshin opened #15647 "9.5.0 expects pageProps in error pages unconditionally"
## Describe the bug

Next team has changed the codebase in 9.5.0. They added a check for pageProps in client code.

When _error page is opened, next _error page will throw:

[code]

on [this line](https://github.com/vercel/next.js/blob/a0c683208abdce84934061f6efd2b90de52d99b9/packages/next/client/index.js#L60).

This seems to be a bug in Next.js, as this check is not legitimate, since `pageProps`

[2020-07-29 20:48] Lillebo commented on #15642
However, if I leave my devtools open (where I have disabled cache) - the problem persists. So it might still be a thing on the very first page load?

[2020-07-29 21:14] Tenga commented on #12656
@Timer Can you please elaborate on this?

It seems like this would require opting out of the default Next.js server (which I'm not too keen on doing). Am I missing something obvious?

Looking at the `next-server`, this would require somehow registering the path into [this](https://github.com/vercel/next.js/blob/canary/packages/next/next-server/server/next-server.ts#L1403) set at runtime, and there

[2020-07-29 21:39] imagentleman commented on #13341
Having issues in ie11.

Was able to reproduce with a brand new app created with [create-next-app](https://www.npmjs.com/package/create-next-app).

Error:

I get a blank page showing this on the console:

<img width="1072" alt="Screen Shot 2020-07-29 at 3 02 30 PM" src="https://user-images.githubusercontent.com/2272928/88848021-7cb4ea00-d1ad-11ea-9757-bef362bb6b2e.png">

Steps to reproduce:

1. Ins

[2020-07-29 22:11] modulizer-lee commented on #9992
I'm using Next version 9.4.4 and this solution isn't working for me

[2020-07-29 22:47] Timer commented on #15646
This is fixed on `next@canary`.

[2020-07-29 22:47] #15646 closed

[2020-07-29 22:50] Timer opened #15655 "[canary only] Next.js canary fails to launch with webpack 5 beta enabled"
# Bug report

`next@canary` currently cannot boot with `webpack@5` beta enabled. 9.5.0 works fine.

We need to add a test to prevent us from regressing, and fix the bug.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. `cat package.json | jq '.resolutions.webpack = "^5.0.0-beta.22"' | sponge package.json`
2. `yarn`
3. `yarn next dev`
4. See error

[2020-07-29 23:11] devknoll opened #15656 "Page Status Errors"
# Feature request

The primary way to handle errors today is to set the response `statusCode` in `getInitialProps` or `getServerSideProps`. This works well for full page loads initiated by the browser, but consider the case of a client-side navigation: setting a response code has no effect, and instead the application must implement their own client-side redirect logic. In other contexts such as `

[2020-07-29 23:13] Timer commented on #15616
I've unmarked this as p0 because this appears to be a bug with `pnpm`. `pnpm` is duplicating copies of `react` and `react-dom` which causes three instances to be loaded at build-time:

[code]

[2020-07-29 23:16] Timer commented on #15616
Marking this as a duplicate of #9022

[2020-07-29 23:16] #15616 closed

[2020-07-29 23:19] #15655 closed

[2020-07-29 23:30] #15599 closed

[2020-07-29 23:31] Timer opened #15657 "Move redbox tests from integration to acceptance suite"
See test suite added in #15617

[2020-07-30 00:29] verekia commented on #4381
It would be very convenient for debugging purposes to have this `mode` option, similar to what Nuxt has. But to go even further, it would also be convenient to have an `ssr-only` mode. This is very useful to debug universal authentication for instance. You can make sure everything works during client navigation only, and during server navigation only. I used to do this when I made my own isomorphi

[2020-07-30 01:58] Timer opened #15662 "Broken webpack plugins hang the dev server indefinitely"
# Bug report

## Describe the bug

When a webpack build uses a broken plugin, the dev requests hang indefinitely and never complete.

This means the user doesn't see the error and thinks that Next.js itself is broken.

Reported here: https://twitter.com/fr3fou/status/1288633068387999746

[2020-07-30 02:20] #15657 closed

[2020-07-30 02:35] #15509 closed

[2020-07-30 03:27] Timer commented on #15563
This was just fixed in 9.5.1, please upgrade!

[2020-07-30 03:27] Timer commented on #15543
This was just fixed in 9.5.1, please upgrade!

[2020-07-30 03:27] Timer commented on #15580
This was just fixed in 9.5.1, please upgrade!

[2020-07-30 03:27] Timer commented on #15579
This was just fixed in 9.5.1, please upgrade!

[2020-07-30 03:27] Timer commented on #13616
This was just fixed in 9.5.1, please upgrade!

[2020-07-30 03:27] Timer commented on #15256
This was just fixed in 9.5.1, please upgrade!

[2020-07-30 03:28] Timer commented on #15482
This was just fixed in 9.5.1, please upgrade!

[2020-07-30 03:30] tmikeschu commented on #9992
@modulizer-lee `key` needs to be at the root of the object. You may mean to `return props`.

[2020-07-30 03:36] arshaw commented on #13282
I would very much like Next to support css modules for third-party libs, but I'll hold off on expressing why. I just want to comment on the `.module.css` naming issue for now.

This sort of reminds me of the `.js` versus `.mjs` debate... how a file extension for essentially the same format changes the way in which others interpret it. `.mjs` was at least championed by the Node.js team, but as for

[2020-07-30 03:44] #8068 closed

[2020-07-30 03:44] #15662 closed

[2020-07-30 04:47] #15647 closed

[2020-07-30 04:54] darshkpatel commented on #15216
I'll take it up

[2020-07-30 04:57] #13955 closed

[2020-07-30 05:32] Timer opened #15668 "Strictly type and fixup react-dev-overlay"
The package currently doesn't use strict TypeScript mode, which may allow errors to sneak in.

[2020-07-30 05:35] shunkakinoki opened #15670 "SyntaxError: Unexpected token < in JSON at position 0 in `getStaticProps`"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

SyntaxError: Unexpected token < in JSON at position 0 in `getStaticProps`

## To Reproduce

When fetching data with firestore,
I don't get an error when running locally or with `getServerSideProps` on vercel,
however I get this error when I deploy with `getStaticProps`

Logs are not available on the serverless

[2020-07-30 05:45] alecrae commented on #15563
Thanks @Janpot and @Timer.  We used the fix in `9.5.1-canary.2` early today and it worked as expected, will upgrade to `9.5.1` shortly

[2020-07-30 06:20] Timer commented on #11992
Please use the new `basePath` support instead of `assetPrefix` in Next.js 9.5.1+ for this use case!

[2020-07-30 06:20] #11992 closed

[2020-07-30 06:27] timneutkens commented on #13341
Then this is off topic, please create a new issue.

[2020-07-30 06:40] timneutkens commented on #15635
That looks fine! We disable the default postcss plugins because order of plugins is important

[2020-07-30 06:49] stevenmunro commented on #8158
I experienced a similar issue all of a sudden which I thought was extremely weird. After `next export` and uploading the `out` folder to the server, no matter how many times I ran `yarn build` there were always 404 errors.

Then I emptied my bin (or trashcan on Windows)... and then it started working again as expected.

[2020-07-30 06:55] #15668 closed

[2020-07-30 07:02] timneutkens commented on #15670
This issue is not actionable because no reproduction or deployment url was provided.

[2020-07-30 07:02] valse commented on #13341
Hi, I'm trying to add the webpack 5 beta too but I have this error on compilation:

```Invalid configuration object. Webpack has been initialized using a configuration object that does not match the API schema```
```configuration[0].module.rules[2].issuer has an unknown property 'test'. These properties are valid```

I have no custom webpack config and I'm using `styled-jsx` with `styled-jsx-plugi

[2020-07-30 07:30] timneutkens commented on #15643
Assuming the application was configured incorrectly on netlify. Did you try vercel.com?

[2020-07-30 07:30] #15643 closed

[2020-07-30 07:35] timneutkens commented on #13341
Are you sure you don't have anything in `next.config.js`, it's practically impossible for this error to occur if you do not have custom webpack configuration, this could be through added plugins.

[2020-07-30 07:39] eric-burel opened #15674 "next export with getServerSideProps"
# Feature request

## Is your feature request related to a problem? Please describe.

### Why using both next export and `getServerSideProps`

I develop apps that may be deployed on premise. For the same codebase, I'd like to leverage as many deployment options as possible.

- `next export` is the simplest of them. The interesting part is that it doesn't depend on Node, or on the build environment

[2020-07-30 07:44] valse commented on #13341
Hi @timneutkens, this is my next.config.js and you're right I'm using the 'next-images' plugin:
[code]

[2020-07-30 07:45] jimmynames commented on #13058
so is canary latest version of next then?

[2020-07-30 07:46] timneutkens commented on #13341
So that likely edits the webpack config in a wrong way which is a bug in that library.

[2020-07-30 07:54] kinhow opened #15675 "SyntaxError: missing = in const declaration in Mozilla Firefox version 49"
# Bug report

## Describe the bug

SyntaxError: missing = in const declaration in Mozilla Firefox version 49 have blank screen

## To Reproduce

running development env in local using Mozilla FireFox version 49

## Expected behavior

The page will run normally in Google Chrome, FireFox (latest version) but version 50 and below will have error.

## Screenshots

![Screenshot 2020-07-30 at 11 24 58 A

[2020-07-30 08:21] woosungchoi opened #15676 "Removing horizontal scroll blog-starter example"
# Bug report

## Describe the bug

Horizontal scrolling occurs when the width is less than 640px.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to 'https://next-blog-starter.now.sh/posts/dynamic-routing'
3. Reduce the width of the web browser to less than 640px.
4. See error

## Expected behavior

Removing horizontal scroll

## Screenshots

[2020-07-30 08:22] valse commented on #13341
Yes it is: switching to the `next-optimized-images` plugin all works as expected... I [open an issue](https://github.com/twopluszero/next-images/issues/42) for the `next-images` plugin. Thanks!

[2020-07-30 08:54] modulizer-lee commented on #9992
@tmikeschu sorry, I'm a little confused about what you mean. What I currently have is this:

[code]

Does this look wrong?

I figured another solution to this problem would be to simply enclose the contents of the page within a simple layout function and add a key to that.

[2020-07-30 09:01] vvo commented on #15579
I confirm this fixed my issue. Thanks

[2020-07-30 10:14] bobaaaaa commented on #10383
This should be now possible with nextjs 9.5. See: https://nextjs.org/blog/next-9-5#persistent-caching-for-page-bundles

Fixed by #13937

[2020-07-30 11:01] Utwo commented on #13341
How can I test this with npm instead of yarn?

[2020-07-30 11:03] timneutkens commented on #13341
You can't currently because npm does not support resolutions afaik.

[2020-07-30 11:32] stevethatcodes opened #15680 "Syntax error from @next/react-refresh-utils in IE11"
# Bug report

## Describe the bug

Running NextJS no longer renders the site in IE11 for version 9.5.1. A white screen is displayed, along with a syntax and what appears to be a polyfill issue in the console.

## To Reproduce

1. Create a clean create-next-app project via `npx create-next-app`
2. Run `npm run dev`
3. Open in IE11

## Expected behaviour

The site renders without error

## Screensho

[2020-07-30 11:36] EfiGordon opened #15681 "Using process.env causes 502: BAD_GATEWAY"
When I'm using process.env.MONGODB_URI in my app then there is an error on the pages that uses the process.env:
502: BAD_GATEWAY
Code: NO_RESPONSE_FROM_FUNCTION
![image](https://user-images.githubusercontent.com/17072700/88918150-aafbfd80-d271-11ea-97b8-5d0c6f80baee.png)

This occurred on deployment to Vercel.

the keys exist in the Environment Variables
![image](https://user-images.githubusercont

[2020-07-30 11:45] eKhattak commented on #15676
I'll fix this

[2020-07-30 11:51] kevva opened #15682 "Ability to add custom entries to Webpack and build manifest"
# Feature request

## Is your feature request related to a problem? Please describe.

When using AMP together with `amp-script`, it'd be good if the script somehow could be transpiled. For example, if I would like to import `preact` and build some component I have to either introduce a second build step, or heavily modifiy the current Webpack config, if that's even possible.

I've tried to add cus

[2020-07-30 11:55] #15681 closed

[2020-07-30 12:17] kevva commented on #15637
Great! Sounds like this would allow for AMP pages to make use of `fallback` now then as well?

[2020-07-30 12:26] JonCognioDigital opened #15683 "Loading chunk {{xxx}} failed. Error after PC hibernating"
# Bug report

## Describe the bug

Since upgrading to 9.5.0 and when in dev mode, if you leave your computer to hibernate or sleep you get chunk loading errors when you switch it back on until you restart the dev server. It's usually "Chunk 0" but this time I got chunk 31.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Run version 9.5.0
2. Star

[2020-07-30 12:56] bluelovers opened #15685 "[create-next-app] ask options for add some feature without set example"
# Feature request

## Is your feature request related to a problem? Please describe.

ask options for add some feature without set example

## Describe the solution you'd like

- typescript
- jest

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

## Additional context

Add any other context or screenshots about

[2020-07-30 13:02] jnv commented on #8189
FWIW I think the proposed plugins system could solve this if we can hook into the lifecycle before hydratation: https://github.com/vercel/next.js/discussions/9133

[2020-07-30 13:03] stovmascript commented on #15543
Hi @ijjk. I'm still having trouble with `<Link>` when rendered in a Material-UI v0 dropdown menu. The component gets rendered, thanks to your fix, but clicking the link gives me this error:

[code]

Granted, it works fine in the latest MUI (v4), but it also worked prior to Next.js v9.5. Unfortunately, we're stuck with MUI v0 for the time being.

These dropdown menus, popover components, etc. rende

[2020-07-30 13:33] shunkakinoki commented on #15670
Thanks for the reply! (I'm really a big fan of your work)
Yes definitely creating a reproducible repo,
until then closing the issue for now.

[2020-07-30 13:33] #15670 closed

[2020-07-30 13:49] pratheekhegde commented on #15626
Stumbled upon the same issue and it bugged me for the last two days. Later in my local next build when `appendParamsToQuery` in `rewrites` was set to `false` resolved the issue.

https://github.com/vercel/next.js/blob/dcb69ee92f9d8bac28f7c53d7ded30919931cf3d/packages/next/next-server/server/next-server.ts#L588

But there seems to be another weird behavior. If the request URL has a trailing slash i

[2020-07-30 13:52] pprg1996 opened #15689 ""ChunkLoadError: Loading chunk 0 failed" on newly created app"
# Bug report

## Describe the bug

I created a new Next app using the command "npx create-next-app prblog" and launched the development server with "npm run dev".

When I go to "http://localhost:3000/"  I get "ChunkLoadError: Loading chunk 0 failed". Oddly, I only get it when using Chrome with my google account. No problem when using incognito mode or a guest window. No problem with Firefox or Edg

[2020-07-30 13:55] bitfrost commented on #15616
@Timer I followed the following procedure and found the same instance of react.  pnpm points things via symlinks links to single shared versions of these packages.  Can you share how you produced the above snippet?
Using the facebook suggested method, I got a 'true' using the below:

https://reactjs.org/warnings/invalid-hook-call-warning.html
// Add this in node_modules/react-dom/index.js
window.R

[2020-07-30 14:00] dalanmiller commented on #15632
Yup, ran `yarn upgrade` and assumed I was at latest. Nothing changed till I ran `yarn upgrade next@9.5`. All set now.

[2020-07-30 14:02] #15632 closed

[2020-07-30 14:28] pprg1996 commented on #15689
Ok, I fixed it. It was a cache problem.

I just opened devtools, network tab, selected "Disable cache", and reloaded. Working fine after that even after deselecting "Disable cache".

I had a previous Next app running yesterday while learning with the official docs. Maybe the browser mixed some old and new files in the cache?

[2020-07-30 14:28] #15689 closed

[2020-07-30 14:41] saeedghasemi72 commented on #9755
same issue :(

[2020-07-30 14:56] faresd opened #15693 "Can't access console logs in Versel when using Next.js"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce
The usage of
console.log
console.error
etc..

Don't get pushed to the deployed application realtime logs and I found no way to send them except if I use throw("my error")

Steps to reproduce the behavior, please provide code snippets or a repository:

console.log in you Next.js app and deploy to

[2020-07-30 15:23] Timer commented on #15685
We used to have this behavior and explicitly removed it because it added too much overhead to creating a new project.

If you need any of these features, you should use one of our examples and the associated bootstrap command.

[2020-07-30 15:23] #15685 closed

[2020-07-30 15:35] websocket98765 commented on #12079
Maybe using global styles in components could be activated via `next.config.js`, or an ugly console warning against global styles could be shown, in case there is concern about breaking from NextJS' best practices / opinions.

But this is important for users converting from CRA > NextJS. It's a blocker for us b/c we can't switch & then incrementally adopt things like CSS modules.

[2020-07-30 15:36] kush-agra commented on #15026
Welp that does indeed fix it, weird
Thanks

[2020-07-30 15:47] arso1er commented on #15482
Yes. The error is gone in 9.5.1. Thanks a lot.

[2020-07-30 16:00] BruhnoMus commented on #15579
My issue appears to be resolved with the patch as well. Appreciate the quick fix!

[2020-07-30 16:02] bitfrost commented on #15616
This does feel like a pnpm bug , the work around here fixes my example repo
https://github.com/pnpm/pnpm/issues/2695

[2020-07-30 16:19] ivan-aksamentov opened #15696 "Opt-out of `no-anonymous-default-export` warning (next/babel/plugins/no-anonymous-default-export)"
# Feature request

## Is your feature request related to a problem? Please describe.

Since Next.js 9.5 we started to receive the following warnings during build:

[code]

The warning comes from the new `no-anonymous-default-export` babel plugin:

https://github.com/vercel/next.js/blob/73303a71aef19e2e4578ce5504dadecfb6560179/packages/next/build/babel/plugins/no-anonymous-default-export.ts#L55-L72

[2020-07-30 16:23] Timer commented on #15696
I think we can turn this warning off for `node_modules`! This code should only be ran against first-party code, and we didn't consider that users may be compiling `node_modules` (since Next.js doesn't do this by default).

[2020-07-30 16:31] julian-sf commented on #8259
To clarify for anyone else reading this, the statement that the query object is populated in the `useEffect` hook is untrue.   Here is a minimal example that will show what I mean:

[code]

Here is the console output:

![image](https://user-images.githubusercontent.com/50758144/88948975-9cf1b100-d260-11ea-9750-917f64cc36e7.png)

[2020-07-30 16:32] julian-sf commented on #8259
Also note, my PR (#9370) to add `isReady` to the `Router` object will be ready by this weekend.  There were some slight issues with it, but I should have that updated soon.

[2020-07-30 16:42] julian-sf commented on #8259
You're looking at this wrong.  In order to get access to the query object on an SSR'ed page you would do something like the following instead:

[code]

Using that example the page would always be SSR'ed and the query object will be populated on THE FIRST render, so you will always have your number object (if it's set) on the first pass through this function.

[2020-07-30 17:45] mAAdhaTTah opened #15700 "Trailing slash + rewrites results in unintuitive behavior and/or unproxied pages"
# Bug report

## Describe the bug

I'm migrating off a system that currently uses trailing slashes. To maintain consistency, we've enabled tailing slashes in our Nextjs app. I've added the rewrites as per the docs, but we're getting some unexpected behavior, depending on the configuration we chose.

## To Reproduce

Configure your Nextjs app as per the docs with `trailingSlash: true`:

[code]

Wit

[2020-07-30 17:48] CodysseusX opened #15701 "Next.js app redirects to error page on load -getInitialProps()"
Next.js v: 9.1.6
React: 16.12.0
Deployment environment: Amazon Cloudfront

The issue started yesterday. On page load (using getInitialProps()), the index page would display error "200. An unexpected error has occurred." When I go to a different page and then back to the index page, it renders the page normally (a server-side vs client side rendering issue perhaps?)

The same issue was observed aga

[2020-07-30 18:09] mAAdhaTTah commented on #15700
Update: After posting this, I noticed that I'm using `path` in both the affected pages as well as the rewrites. I updated the rewrites to use `routes` instead of `path` and I still get the same issue with `/products/` not rendering.

[2020-07-30 18:09] lfades commented on #14943
Fixed by https://github.com/vercel/next-site/pull/757

[2020-07-30 18:09] #14943 closed

[2020-07-30 18:12] arshaw commented on #13282
The postcss plugin for rollup does the same: https://www.npmjs.com/package/rollup-plugin-postcss#automodules

[2020-07-30 18:13] jeffscottward commented on #11600
I am using 9.50 and ThemeUI and am also getting this.

No matter how many elements I remove -(as long as there is even just one element in the tree) - I get the error.

What is strange is that this error *doesn't* show up in Blink based browsers but *does* show up everywhere else like Safari, Firefox, etc

[2020-07-30 18:25] kevva opened #15704 "Links from non-AMP pages to AMP pages causes broken pages"
# Bug report

## Describe the bug

So, the problem I reported in https://github.com/vercel/next.js/issues/11521 has essentially resurfaced again.

## To Reproduce

Clone https://github.com/kevva/next-app-issue and do the following:

1. Run `npm run dev`
2. Click on the "Test" link and then on the "Home" link again
3. The image on the start page is gone (notice that it tries to load the bundle for

[2020-07-30 18:34] tajo commented on #14906
Well, 9.5 makes things worse and breaks our only workaround?

[code]

[2020-07-30 18:49] lfades opened #15706 "[Next.js Site] Reduce the bottom padding of code fragments on Firefox"
This is how code fragments currently look in the latest version of Firefox:

![image](https://user-images.githubusercontent.com/4278345/88961924-4fc70c80-d26b-11ea-9ddf-f044d3fdb7d3.png)

It should be looking like this instead (Chrome):

![image](https://user-images.githubusercontent.com/4278345/88961868-3a51e280-d26b-11ea-99b1-5596f78600f0.png)

[2020-07-30 19:12] lfades opened #15711 "[Docs] Improve the Dynamic imports page"
From our docs:

The above is right, but the entire page only shows examples with `next/dynamic`, which can **only** be used for React Components, and you may end up thinking it's possible to use it with modules, in which case you'll need `import()` instead. We have to be more clear about the differences here.

[2020-07-30 19:27] kayleemchugh commented on #7322
I was having this issue when loading in a spinner from material-ui.

I was able to resolve it by by lazy loading the component and setting ssr to false for the spinner.

import dynamic from 'next/dynamic'
const LoadingSpinner = dynamic(() => import('./LoadingSpinner'), {ssr: false})

Not sure it'll be the right fit for all cases, but hope it helps someone!

[2020-07-30 20:00] tmikeschu commented on #9992
@modulizer-lee pardon me. I hadn't seen the version change and the preference for `getStaticProps`. I had `getInitialProps` in my head, in which the return value itself is the component props, without the `props` key on the returning object.

[2020-07-30 20:19] IanMitchell opened #15712 "Regex Path Matching for Redirects"
# Feature request

## Is your feature request related to a problem? Please describe.

A common URL pattern for blogs and websites coming from Wordpress is `/year/month/day/slug`. To redirect pages that match this to a different page, the path matching would look like this:

[code]

This however matches generated Next.js files (for example, `/_next/static/css/b9c315e24bcc3c2b5b54.css` which results

[2020-07-30 20:31] ijjk commented on #15712
This is supported in Next.js, see the example redirect below for matching all routes except `_next`. Note: the `rewrites` and `redirects` support in `vercel.json` matches Next.js' built-in support

[code]

[2020-07-30 20:34] IanMitchell commented on #15712
Oh awesome! I didn't see mentions of that in the documentation, will give it a shot!

[2020-07-30 20:48] jknight12882 opened #15713 "Crashes deploying to Vercel using Next.js 9.5.0/9.5.1"
# Bug report

## Describe the bug

Getting the following crash deploying to Vercel using Next.js 9.5.0 and 9.5.1. This works as expected using Next.js 9.4.4. Also, 9.5.0 and 9.5.1 work fine locally.
[code]

## To Reproduce

Deploy to Vercel using Next.js 9.5.0 or 9.5.1

## Expected behavior

Deploy succeeds

[2020-07-30 20:58] ijjk commented on #15712
It does look like this isn't documented, I opened a PR to mention this support [here](https://github.com/vercel/next.js/pull/15714), thanks for bringing this up!

[2020-07-30 21:06] ijjk commented on #15713
Hi, can you provide additional details/a link to a repo with a reproduction where this is occurring so we can investigate? We have tests running against the latest version of Next.js on Vercel and aren't seeing any deploy failures currently.

[2020-07-30 21:15] #15712 closed

[2020-07-30 21:28] IanMitchell commented on #15712
Looks great, thank you!

[2020-07-30 21:39] jknight12882 commented on #15713
Yup, here you gohttps://github.com/jknight12882/vercel-crash-demo

[2020-07-30 21:55] nickatrokit commented on #13230
Ok so where are we supposed to put our viewport tags? The warning without a solution is not very useful.

[2020-07-30 22:17] #15535 closed

[2020-07-30 23:13] ijjk commented on #15713
Thanks for the reproduction it appears this is an edge case with how `next build` is being executed on Vercel which was changed recently, I opened a PR [here](https://github.com/vercel/vercel/pull/4956) to correct this.

[2020-07-30 23:29] Joseppi83 opened #15716 "Hard Refresh for only one <Link></Link> in SideNav"
# Bug report

## Describe the bug

I'm getting a hard refresh with only one Link in my sidenav, despite using next/link for client side rendering.  It's located at the href="/user/[userId]/friends-list/[friendsListId]"

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

[code]

## Expected behavior
I was expecting to not have a hard refresh, as I get a

[2020-07-30 23:45] #15716 closed

[2020-07-31 00:04] jamesmosier commented on #15701
Do you happen to have a repository with a code sample you could share?

[2020-07-31 00:27] merrywhether commented on #10383
Stable hashes doesn't address the issue of trying to reason about the size of a page, since we'd still have to add up the bundle parts included in each page. Something like `bundlesize` could already work with the regex-addressable page files; the problem is that each page needs an "arbitrary" collection of intermediate JS files. That data is perfectly contained in the `pageInfos` data structure b

[2020-07-31 00:32] brideo commented on #8101
Thanks @sgmonda for making that clear.

I know this is kind of unrelated but it's in the same ballpark, is there a way of updating the route with a SEO freindly URL?

IE:

[code]

[2020-07-31 00:42] colinclerk opened #15717 "Static exports with dynamic routes for CDNs with redirect/rewrite capabilities"
# Feature request
My CDN has redirect/rewrite capabilities at the edge.  I would like to leverage those capabilities to enable next.js static export for use with fully dynamic routes (no getStaticPaths).

## Is your feature request related to a problem? Please describe.

I don't believe there's a problem.  I'm running a server right now, but since I don't do any SSR I'd rather turn off the server

[2020-07-31 01:10] lfades opened #15719 "[Docs] Add upgrade note to features released in Next.js 9.5"

[2020-07-31 01:16] lfades opened #15720 "[Docs] Update next build docs to include the --profile argument"
`--profile` enables production profiling for React and was released in [Next.js 9.5](https://nextjs.org/blog/next-9-5#production-react-profiling)

[2020-07-31 01:54] mxdi9i7 commented on #15643
@timneutkens I tried vercel and it worked, not sure what's the difference between how netlify vs. vercel handles the static exported files.

I followed this guide: https://community.netlify.com/t/using-next-js-as-a-static-site-generator-for-netlify/3391
The build commands and settings are identify on both vercel and netlify. Honestly puzzled.

[2020-07-31 02:35] ShanonJackson opened #15721 "Multiple `transfer-encoding: chunked` requests completely breaks NextJS"
# Bug reportz
// {target: "server"} for context.

It seems like there is some "blocking" behavior when a request returns a chunked response, this blocking behaviour is breaking our recently built/deployed production app by basically capping concurrent requests at around 6 (at the server level).

## Describe the bug
[code]

TL;DR call this endpoint on 6 tabs, and just refresh homepage on 7th will j

[2020-07-31 02:35] bluelovers opened #15722 "[with-typescript-graphql] with-typescript-graphql is too simple , it didn't show how to query"
# Feature request

## Is your feature request related to a problem? Please describe.

with-typescript-graphql is too simple , it didn't show how to query
the query and result is fixed

## Describe the solution you'd like

simple diff query and show diff result

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

#

[2020-07-31 02:57] darshkpatel commented on #15706
I'll take it up !

[2020-07-31 03:16] kevintoshi0208 commented on #8240
@nuriun 's solution is useful for me.

[2020-07-31 03:28] eKhattak commented on #15680
I'll take this issue

[2020-07-31 03:40] #15719 closed

[2020-07-31 03:44] eKhattak commented on #15676
I'll take this

[2020-07-31 03:45] ShanonJackson commented on #15721
Update Fuck my life i think its accidentally "blocking" in NodeJS when it shouldn't be?

[code]

Same thing, open 6 tabs on /stream then open a 7th on homepage (localhost:3000) and the homepage will never load unless you start closing the /stream tabs.

So this bug also exists within express.

What can we do about this NextJS team?

[2020-07-31 03:56] nguyenvannghi opened #15725 "react-intl not working in WITH-REACT-INTL-APP example"
# Bug report

Hi guys, When I run ` WITH-REACT-INTL-APP` and had issue:

`$ node  server.js
(node:25154) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'concat' of undefined
    at Object.webpack (/home/nghinv/work/with-react-intl-app/node_modules/next-transpile-modules/src/next-transpile-modules.js:102:73)
    at getBaseWebpackConfig (/home/nghinv/work/with-react-intl-app/node_

[2020-07-31 04:23] ShanonJackson commented on #15721
No worrys; got to bottom of it. Chrome will only let you have 6 concurrent active connections to 1 host so its not blocking in the server level. Sorry for the stress

[2020-07-31 04:23] #15721 closed

[2020-07-31 04:35] controversial commented on #7713
Hey @ijjk - it seems like this bug has returned, as per the 16 upvotes there ^

[2020-07-31 04:38] nicholaschiang commented on #14157
I'm migrating over to Yarn V2 and had the same issue.

[2020-07-31 04:44] nicholaschiang commented on #13058
Yes @jimmynames, canary is the WIP latest version (the term originated from miners using canary birds to test for toxic fumes... The canary version of Next.js could be sketch).

[2020-07-31 05:12] darshkpatel commented on #15706
https://github.com/vercel/next-site/pull/759

[2020-07-31 05:41] imdongchen commented on #15588
Try adding `.nojekyll` under `gh-pages` branch. See https://github.blog/2009-12-29-bypassing-jekyll-on-github-pages/

[2020-07-31 06:16] Timer commented on #13058
This fix is on the stable release of Next.js 9.5.0 and 9.5.1, or newer!

[2020-07-31 06:17] Timer commented on #15721
No problem!

[2020-07-31 06:35] jonespen commented on #15725
Seems like the latest Next.js release broke something in next-transpile-modules (https://github.com/martpie/next-transpile-modules/issues/88), I'll have a look.

[2020-07-31 07:06] hydRAnger commented on #10148
This problem is still there, is there any plan on fixing it?

[2020-07-31 07:14] #15725 closed

[2020-07-31 07:31] glenngijsberts commented on #15588
@imdongchen Thanks for your reply! That fixed it indeed. Awesome!

[2020-07-31 07:31] #15588 closed

[2020-07-31 08:03] eKhattak commented on #15680
Rendering works fine for me.
I'm just getting this error.
![image](https://user-images.githubusercontent.com/37709578/89013971-418df480-d32e-11ea-8a0d-919749462229.png)

[2020-07-31 08:05] CodysseusX commented on #15701
I don't, but it's a problem with the node modules dependencies. I deployed using the node modules from a previous project (2 weeks old approximately) and it solved the problem.

[2020-07-31 08:12] CodysseusX commented on #15701
This might help. Our dependencies:
"dependencies": {
        "@zeit/next-sass": "^1.0.1",
        "aws-amplify": "^2.2.2",
        "axios": "^0.19.0",
        "dotenv": "^8.2.0",
        "next": "^9.1.6",
        "next-page-transitions": "^1.0.0-beta.2",
        "node-sass": "^4.13.0",
        "nprogress": "^0.2.0",
        "react": "^16.12.0",
        "react-dom": "^16.12.0"
    },
    "devDepend

[2020-07-31 08:27] timneutkens commented on #7713
No reproduction was given on the new comment so that makes it hard to look into.

[2020-07-31 08:28] agarwalrounak commented on #15720
Hi @lfades, can I work on this issue?

[2020-07-31 08:29] timneutkens commented on #13230
@nickatrokit did you open the link attached to the warning, it says to put it in `_app`.

[2020-07-31 08:32] timneutkens commented on #15670
Thanks!

[2020-07-31 08:33] #15701 closed

[2020-07-31 08:35] #15722 closed

[2020-07-31 08:57] dzungvn commented on #10471
@SiriusFuenmayor great! thank you! it help me save a lot of time

[2020-07-31 08:59] TroyTae opened #15733 "docs: refactor relative path to absolute path in typescript example"
https://github.com/vercel/next.js/blob/bcd1ba622e251b264c5b8e5149f7e6218a0df525/examples/with-typescript/pages/index.tsx#L2

Next.js automatically supports alias.
If there is no special reason, how about refactoring from relative path to absolute path.
(`../components/Layout` -> `components/Layout`)

[2020-07-31 09:01] #15733 closed

[2020-07-31 09:38] stevethatcodes commented on #15680
@eKhattak Taking another look and still seeing the same, I did a fresh `npm ci` from the original `npx create-next-app`.

Are there any other details I can provide to assist here? I'm testing via Browserstack as I don't have access to a 'real' IE11 instance currently, although I'm not sure in this instance that will be causing any issues.

Interestingly your syntax error is different to mine, refe

[2020-07-31 09:46] optimusprime619 commented on #15680
While I haven't tried this with a fresh nextjs installation, can confirm that I encountered the same blank white page issue reported by @stevethatcodes after updating my project from nextjs 9.4 to 9.5.

[2020-07-31 09:55] vvo commented on #6226
Since this question is the top result for "nextjs session" on google, I thought I would add that nowadays you have multiple solutions for handling sessions in Next.js:

- next-iron-session: https://github.com/vvo/next-iron-session. Rails like sessions where the data is encrypted inside http-only cookies. Stateless sessions if you prefer. Perfect for serverless environments where you don't have/wan

[2020-07-31 10:21] TroyTae commented on #10339
Can I ask why this issue is closed?
It seems css-loader option isn't supported now 🤔

[2020-07-31 12:10] anshulguleria opened #15737 "SASS support only work for scss files not for sass files"
# Bug report

## Describe the bug

The SASS support of next-js only works for `*.scss` files not `*.sass` files.

## To Reproduce

Create a `*.sass` files in your code and import it in any page if its `*.module.sass` or in `_app.[js|tsx]` if it contain global styles i.e. `*.sass`. You will start getting an error when running the dev server.

[code]

But if you change them to `scss` extension it st

[2020-07-31 12:12] sebqq commented on #14062
My performance rating just dropped from 100% to 64% with no code changed at all.

Google must have added some new tests. It is even telling me that I should minify JavaScript code in production build even when (as far as I know) next.js make these optimizations during build process by default :D @timneutkens do you have any ideas why is that?

[2020-07-31 12:24] zburk commented on #13341
Running webpack 5, everything still works for me with the following deprecation warnings. Creating a new nextjs app, I get the same deprecation warnings.

`(node:85371) [DEP_WEBPACK_EXTERNALS_FUNCTION_PARAMETERS] DeprecationWarning: The externals-function should be defined like ({context, request}, cb) => { ... }
(node:85371) [DEP_WEBPACK_COMPILATION_ASSETS] DeprecationWarning: Compilation.assets

[2020-07-31 12:24] anonrig commented on #9022
hey @Timer is there a progress on this?

[2020-07-31 12:25] timneutkens commented on #13341
@zburk note the todo list on the issue:

So your application works fine?

[2020-07-31 12:27] zburk commented on #13341
Right! The deprecation warnings were the only "errors" I got. Testing the application, I found no issues with anything that weren't already present.

[2020-07-31 12:48] Kinbaum commented on #13341
I'm using Yarn 2 and I have a Next.js application within a monorepo alongside some other Webpack 5 applications. I have set the resolutions key at the root package.json level. What I've found is that by doing that, it actually breaks my `jsconfig.json`.

I am receiving the following error message in my terminal:
`Module not found: Your application tried to access apollo, but it isn't declared in y

[2020-07-31 15:04] nicholaschiang commented on #14157
@chrisands it looks like you can just add `sass` as an optional peer dependency to `next` and it should fix this issue.

[2020-07-31 15:17] #15713 closed

[2020-07-31 15:35] ijjk commented on #15713
The [above fix](https://github.com/vercel/vercel/pull/4956) has now been shipped and is available in the latest `@vercel/next`

[2020-07-31 15:42] lfades commented on #15720
@agarwalrounak Yeah, go ahead and open a PR, and please be sure that contributions by contributors is enabled when you create the PR

[2020-07-31 15:42] ibuki2003 opened #15744 "variables expanded multiple times in .env"
# Bug report

## Describe the bug

When I add environment variables containing `$` in .env, Next.js parse them multiple times as variable(`$var`) and they would be empty

## To Reproduce
1. write this into `.env`
[code]
2. write this into `.env.local`
[code]
3. `process.env.A` appears to be `''`

## Expected behavior

`process.env.A` should be `'$foo'`

## System information

- OS: Manjaro Linux 2

[2020-07-31 15:45] I3enito opened #15745 "Increase supported file size for multipart/form-data"
# Feature request

## Is your feature request related to a problem? Please describe.

I use a serverless function to upload images to s3. Because it handles multipart/form-data I disabled the bodyparser in the config. Everything works fine both locally and in the vercel deployment, however if I upload an image which is bigger than 5mb I get an 413 error. This only happens on vercel, locally I don'

[2020-07-31 15:55] timsuchanek opened #15746 "Let api route functions return the data"
# Feature request

## Is your feature request related to a problem? Please describe.

When using `getStaticProps` or `getServerSideProps`, I can return data in that function:
[code]
That is very useful, because now I can infer the return types of that function for my props.
However, from API routes I don't get the types.

## Describe the solution you'd like

I would like to be able to return a Pro

[2020-07-31 16:05] bertrand-riviere opened #15747 "Inconsistent url (prefetch/fetch) for .json data file on link click (next/link) when using SSG + basePath"
# Bug report

## Describe the bug

Using both SSG and basePath, when next.js tries to get the .json data file that corresponds to the page data (instead of doing full reload), the url that is fetched does not correspond to the location where the file has been physically generated during build/export

## To Reproduce

1. clone: https://github.com/oecd/next-link-basepath-bug
2. npm install
3. npm ru

[2020-07-31 16:33] nicholaschiang commented on #13341
Just added this and got the following warning from Yarn v2:
[code]

[2020-07-31 16:34] nicholaschiang commented on #13341
Also, got the following errors when running `next dev`:
[code]

[2020-07-31 16:46] lfades opened #15751 "[Docs] Update Fast Refresh docs to mention React Strict Mode"
Our Fast Refresh docs currently say that `useEffect` will re-run after every code change, even if it has no dependencies. This is not only to ensure you always write resilient code, because it's also enforced by React Strict Mode. We should mention this and link to the strict mode docs.

More on this Twitter thread: https://twitter.com/tvernon_tech/status/1289192339819249666

[2020-07-31 17:18] nicholaschiang opened #15753 "Sass loader cannot resolve modules from Yarn v2 PNP"
# Bug report

## Describe the bug

Next.js does not resolve SCSS that is imported by my dependencies:

1. `styles/home.module.scss` uses `@material/elevation` (this works fine).
2. `@material/elevation` uses `@material/animation` (this fails).

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. First, clone [this repository](https://github.com/nicho

[2020-07-31 17:23] nicholaschiang commented on #15753
Seems like #6049 was closed rather prematurely.

[2020-07-31 17:26] nicholaschiang commented on #15753
Perhaps this could be fixed by using a custom importer: https://github.com/sass/node-sass#importer--v200---experimental

[2020-07-31 17:26] Kinbaum commented on #13341
I get those as well. Supplying `querystring` as a dependency and adding it to the `.yarnrc.yml` as a peerDependency for next fixes that. Absolute imports are broken though.

[2020-07-31 17:33] nicholaschiang commented on #13341
Ah, @Kinbaum the `querystring` imports have nothing to do with this issue though (I just included those logs... which I probably shouldn't have). That's a Yarn v2 PNP issue (that should be opened separately).

And then @timneutkens some other issues when using Webpack v5:
[code]