[2017-02-04 00:04] rauchg opened #983 "Example of universal configuration / envs"
For `zeit.co` we're using a really neat babel plugin called [transform-define](https://github.com/FormidableLabs/babel-plugin-transform-define)

It's basically the same that webpack does, but thanks to doing it in babel, it has advantages for next:
- it's universal (client and server)
- it's easier to config! (just add it to `plugins` inside `.babelrc` or `package.json`)

*package.json*:

[code]

[2017-02-04 00:07] arunoda commented on #977
Ha ha. Anyway, we need some `styled-jsx` expert here.

[2017-02-04 00:08] rauchg commented on #983
Basically this issue is for someone to create the example for `examples/env-config` and submit it as a PR!

[2017-02-04 00:09] timneutkens commented on #977
cc @giuseppeg

[2017-02-04 00:20] arunoda commented on #979
Here we've a much node like experience.

We've `.next` directory always. That's we save stuff for SSR and other client side files.
When we run `npm run build` it optimize those files for the production build.

You don't have any executable there. Our `next` module will take care of them.
When you run `next start` it'll find that `.next` directory and start the app.

We need to write a lot on how n

[2017-02-04 00:26] arunoda commented on #978
@sedubois I was working on something similar. So, you should create the store on the `getInitialProps`. But just the initial data (is has).

Creating the store needs to do on the component's(ideally inside the HOC) constructor.

[2017-02-04 00:33] arunoda commented on #974
@impronunciable we didn't had any big reason for that.
I was not going after that because, for a production build we should host those files on a CDN.

On the other side, if there are a lot of files, it'll affect our to build time too.
So, we should not do this by default. But doing it with an option it totally fine.

[2017-02-04 00:37] rauchg commented on #974
I'm -1 on this. I'm actually considering removing compression altogether from Next. What if we just let load balancers handle that?

[2017-02-04 00:38] rauchg commented on #974
For example, if we make sure that we send the right caching headers, combined with a somewhat-smart proxy / load balancer, compression is super easy and reduces the footprint of Next!

[2017-02-04 01:56] #979 closed

[2017-02-04 02:11] arunoda opened #984 "Remove AOT (gzip) compression from Next.js"
Proxies and CDNs do much better job at this.
See: https://github.com/zeit/next.js/issues/974#issuecomment-277401196

[2017-02-04 02:11] arunoda commented on #974
Closing because of https://github.com/zeit/next.js/issues/984

[2017-02-04 02:11] #974 closed

[2017-02-04 04:49] lixiaoyan commented on #971
@sakulstra But it may be the only way to add transitions between pages (eg. wrap them into a `<TransitionGroup>`) for now.

[2017-02-04 05:29] thangngoc89 commented on #974
I'm familiar with setting up the load balancer and other DevOps stuff. But the only reason I asked this questions is because I'm using Now.sh (free account) and it doesn't gzip the file.

[2017-02-04 06:25] sedubois opened #985 "Things to get ready for production"
For beginners, it would be awesome to have doc pointers or examples on how to actually set up a production system. E.g other issues have repeatedly mentioned that compression and caching etc (throttling,...?) should not be done by next.js but on top of it (with cloudflare? Nginx?).

All I know so far is how to make a next.js webapp and deploy it on Now, but I need to make it ready for production:

[2017-02-04 06:30] sedubois commented on #978
@arunoda but in the context of Apollo SSR creating the store is needed to pre-fetch all data with getDataFromTree. I don't see how we could avoid doing that in getInitialProps?

[2017-02-04 07:48] alexofob opened #986 "Now cannot find module 'index.js'"
Hi there,

I am trying to deploy my next.js app on 'now' but I get this error:

Below is my package.json config.
{
  "name": "patient",
  "version": "1.0.0",
  "main": "index.js",
  "license": "MIT",
  "dependencies": {
    "material-ui": "^0.16.7",
    "mobx": "^3.0.2",
    "mobx-react": "^4.1.0",
    "next": "2.0.0-beta.18",
    "react-icons": "^2.2.3",
    "react-slick": "^0.14.5",
    "react-t

[2017-02-04 07:51] alexofob commented on #986
Closing as this issue is related to now

[2017-02-04 07:51] #986 closed

[2017-02-04 08:31] lixiaoyan commented on #972
Here is a workaround for now:

Adding `import "../entry/server.js";` in `pages/_document.js` and adding the code below to `next.config.js`.

[code]

[2017-02-04 09:07] giuseppeg commented on #977
@bassbump can you put together a sample repo that I can clone to test and reproduce the issue?

[2017-02-04 09:32] timneutkens opened #987 "Babel resolver Needed server side"
#963

[2017-02-04 13:11] arunoda commented on #987
Can we have more info on this?

[2017-02-04 13:16] arunoda commented on #978
@sedubois then we need to create a helper, which caches the apollo client instant for a given a set of initial params. So, both getInitialData and component HOC get the same client.

[2017-02-04 13:19] sedubois commented on #978
@arunoda That might work but is quite complicated. Why not pass the object from one to the other, when we are server-side?

[2017-02-04 13:19] arunoda commented on #974
@thangngoc89 you could use cloudflare or max-cdn on top of now. Now.sh certainly not a CDN but a hosting service.

[2017-02-04 13:21] arunoda commented on #978
Okay I got it and that's hacky. So, what kind of core solution are you looking for?
Something like this? `getInitialContext()`?

[2017-02-04 13:25] thangngoc89 commented on #974
After thinking about this for a while, I think it's best the next.js doesn't handle gzip compression. Node.js is single core after all and CPU heavy task is not suitable for node application. I'll put a CDN in front of my app when it does to production. Thank you again.

[2017-02-04 13:40] sedubois commented on #978
@arunoda the problem right now seems that the response from `getInitialProps` is simply passed to `htmlEscape (https://github.com/zeit/next.js/blob/0b3db9173174c7b6ee5e1180441c34d43723982d/server/document.js#L88), so if there's an object in there it yields errors like `TypeError: Converting circular structure to JSON`.

When executing server-side, I guess htmlEscape shouldn't be used, there's no n

[2017-02-04 14:12] khrome83 opened #988 "restrict files copied into .next/dist/pages"
I was playing around with the idea of placing a`__tests__` folder into my different directory areas.

So
[code]

But when I do this, I get duplicate issues because of files being copied into .next

`.next/dist/pages/__tests__/index.test.js`

What is the best way to solve this? I know I can omit the files from jest, but I don't think they should be copied over in general.

[2017-02-04 15:18] arunoda commented on #988
I think best idea is to ignore `.next` directory from Jest.

[2017-02-04 15:18] #988 closed

[2017-02-04 15:19] timneutkens commented on #987
Haven't looked into the root cause yet. But this was the origin issue #962

[2017-02-04 15:20] bassbump commented on #977
@giuseppeg https://github.com/bassbump/styledjsx-var

I also found out that in next 1.2.3 hot reload still works, it broke in ^2.0.0

[2017-02-04 15:23] arunoda commented on #978
Basically `getInitialProps()` should be pass serializable object. We have to serialize props and send it to the client. So, we have to use `htmlEscape` or something similar.

[2017-02-04 15:30] arunoda commented on #987
@timneutkens could you give me some re-producible steps. So, I can check this properly.

[2017-02-04 15:44] timneutkens commented on #987
@arunoda
1. download the `with-router` example
2. revert my changes in #963
3. Run the example

[2017-02-04 15:48] timneutkens commented on #977
@bassbump that's probably because 1.2.3 doesn't include styled-jsx. Which makes `<style jsx>` a normal `<style>` tag with a `jsx` prop that doesn't do anything.

[2017-02-04 16:31] khrome83 commented on #988
Ignoring in Jest just makes sure the test does not run. Does not prevent next from copying the files unneeded.

On Feb 4, 2017, 9:19 AM -0600, Arunoda Susiripala <notifications@github.com>, wrote:

[2017-02-04 16:58] thangngoc89 commented on #985
I think for beginer, setting up nginx is over complicated (from installing to config). I suggest using [caddy](https://github.com/mholt/caddy) as a web server in front of next.js.

It should be quick and super easy:

- Download binary for operating system
-  Write a Caddyfile like this

[code]

- It even packs with Let's Encrypt for SSL out of the box. [See here](https://caddyserver.com/docs/autom

[2017-02-04 18:10] arunoda commented on #985
I think that's fine.
But the point is, there's nothing specific related to Next here.
It's just a typical app which can set behind a proxy or a service like cloudflare.

We are tracking the compression stuff here: https://github.com/zeit/next.js/issues/984

[2017-02-04 18:10] #985 closed

[2017-02-04 18:11] arunoda commented on #988
@khrome83 currently it's possible to avoid sending those files.
They won't get added to webpack bundle or to the client code.

So, we don't need to worry about this issue.

[2017-02-04 19:12] sedubois commented on #985
Thanks. I hope I don't need to do anything about SSL as Now provides that? Anyway I'll try my luck by asking on Now's side 😉

https://github.com/zeit/now-cli/issues/285

[2017-02-04 19:51] sedubois opened #989 "Glamor present even when not used"
I have next@2.0.0-beta.23 and don't refer to glamor anywhere in [my code](https://github.com/relatenow/relate), and yet I see that glamor is in my yarn.lock, even after `yarn install --force`.

[2017-02-04 20:00] timneutkens commented on #989
@sedubois it's something I have pointed out before in #next I believe. It's because next/css is deprecated but not removed. The real interesting thing here is, we still use Glamor here https://github.com/zeit/next.js/blob/c21531151f1578ede3699f3565e55553261bd92f/server/document.js#L3

[2017-02-04 20:02] sedubois opened #990 "Cannot read property 'replace' of undefined"
I tried to upgrade from next@2.0.0-beta.20 but something changed in the beta.21 specifically, I get the stack trace below when running `yarn dev`. Here is my app: https://github.com/relatenow/relate

<details>
TypeError: Cannot read property 'replace' of undefined
    at toRoute (/Users/sdubois/Documents/relate/node_modules/next/dist/lib/router/router.js:618:14)
    at new Router (/Users/sdubois/D

[2017-02-04 20:04] timneutkens commented on #990
Can you upgrade to `beta.23` and check if it's functioning there?

[2017-02-04 20:12] sedubois commented on #990
@timneutkens Sorry I forgot to precise that: no it doesn't work either. Then I backtracked in previous betas to pinpoint that the issue appeared in beta.21.

[2017-02-04 20:57] arunoda commented on #990
@sedubois here's the problem: https://github.com/relatenow/relate/blob/master/server.js#L62
For the third argument of `handle` you need to pass either nothing or a parsed url object.

[2017-02-04 20:57] arunoda commented on #990
@timneutkens shall we throw an detailed error if we didn't get a parsedUrl but something else for the third argument of `handle`.

[2017-02-04 21:08] timneutkens commented on #990
@arunoda we should actually handle that case right, I mean, parse it ourselves if it's not a valid object. We actually already do that here https://github.com/zeit/next.js/blob/master/server/index.js#L37 but not well enough I guess. I'll fix it 👍

[2017-02-04 21:45] jeongl opened #992 "Redux example fails to run"
The redux example when opened (after following supplied directions) fails to load. The error says 'React is not defined' After installing react the same error is still present.

[2017-02-04 21:49] sedubois commented on #990
Thanks, that was the issue.

[2017-02-04 22:55] Zaiban commented on #899
After more research it seems that my problem might be unrelated, thou the common point still stands that it starts from beta 19. My error only shows up when Redux DevTools are installed and DevTools.instrument() is called on the middleware.

[2017-02-04 23:10] arunoda commented on #990
@timneutkens This is a common problem. (I got that too)
In this case, if we didn't get a proper parsedUrl object, we need should throw an error with a good error message.

[2017-02-04 23:13] #983 closed

[2017-02-04 23:38] timneutkens opened #993 "Gulp bench task is broken"
Steps to reproduce:

1. clone repo
2. npm install
3. gulp bench

[2017-02-05 00:25] ads1018 commented on #980
@sedubois Good spot. Makes sense to me. I'll make a pull request.

[2017-02-05 04:51] nkzawa commented on #988
Basically, you can't put any js files inside `pages` except components. I don't know if you can avoid this with webpack settings.

[2017-02-05 05:12] bryanrsmith opened #994 "Client error handler should not run on initial render"
I have a site that only supports modern browsers. Old browsers can still access the content thanks to server rendering, which is great. The problem is that Next currently renders an error page when an exception is thrown during render.

So, in an old browser:

1. Navigate to the site
2. Server renders the page
3. Client displays the server-rendered page
4. Client runs the client script. The page c

[2017-02-05 05:17] bryanrsmith opened #995 "next/link should navigate the document when component fails to load due to build ID mismatch"
Users browsing a Next site during a deployment can get hit with an error page when the build ID changes and a page component fails to load. It'd be cool to detect this condition in next/link (or maybe within the router?) and navigate the document to the target location so we get a full page load and the user is seamlessly migrated to the new build.

[2017-02-05 07:32] arunoda opened #997 "Use react as peer dependency"
Ref: https://twitter.com/finneganswoke/status/828060921918529536

I think it's a pretty good idea to let the app to give us `react` and `react-dom`.
2.0 is a best place to do this, since this is a breaking change.

What do you guys think? @nkzawa @rauchg

[2017-02-05 07:34] nkzawa commented on #997
👍  Actually, this is something I wanted to do from the first release.

[2017-02-05 09:24] timneutkens commented on #997
I like this 👍  Only downside would be that you'd have to `npm install --save next react react-dom` but that's ok 😄

[2017-02-05 09:30] timneutkens commented on #995
@bryanrsmith Do you mean these steps to reproduce?

Steps to reproduce:

1. `next build`
2. `next start`
3. Open webbrowser and go to running application
4. `next build`

This would generate a new BUILD_ID. Since the previous BUILD_ID was used in the asset urls and clicking a `<Link>` won't replace the assets.

[2017-02-05 09:32] timneutkens commented on #994
I'm wondering why Object.assign would not work on older browsers since we use babel to transpile it 🤔

[2017-02-05 12:44] pesakitan22 opened #999 "Redux state back to initial when navigate to other route"
i'm working on next + redux + redux saga + immutable

on the first route the redux and sagas are working normally, but when navigated to other route the state going back to Initial, anyone encountering this issue?

[2017-02-05 13:26] khrome83 commented on #988
That is kind of where I was going with this, if there was some configuration that should be opened up, or if by default `__tests__`, `*.tests.js`, `*Spec.js`, etc should not be copied.

[2017-02-05 13:36] pesakitan22 commented on #999
sorry my bad, it's working fine. Just need persist state on the client side

[2017-02-05 13:36] #999 closed

[2017-02-05 16:02] Zaiban opened #1003 "[2.0.0-beta.19 and later] Redux example fails with redux-devtools installed"
When using redux-devtools with 2.0 beta 19 or newer, the app fails with a message `TypeError: Cannot read property 'position' of undefined`. All previous versions of Next work with no problems.

Minimal reproduction from with-redux repo with DevTools added:
https://github.com/Zaiban/next-redux-devtools-test

[2017-02-05 16:07] lenny0702 opened #1004 "Optimize the performance bottleneck of react's server rendering"
Firstly I have to say, this is a great framework. Originally, we have to the server rendering of react from bottom to up. This framework save us a lot of time and it's so convenient, thanks!

 But as we know, there is a serious performance issue of react's server render, which will cause cost a lot of time to render when the server facing hight concurrent requests.

But I saw a very cool idea of W

[2017-02-05 16:20] bryanrsmith commented on #995
Yes, exactly.
On Sun, Feb 5, 2017 at 1:31 AM Tim Neutkens <notifications@github.com>
wrote:

[2017-02-05 16:24] bryanrsmith commented on #994
Only syntax is transpired. APIs like Object.assign must be polyfilled, and
the next build doesn't include it by default.

It was just an example, though. I would prefer the server rendered page
remain visible on any critical error during the clients initial render.
On Sun, Feb 5, 2017 at 1:32 AM Tim Neutkens <notifications@github.com>
wrote:

[2017-02-05 16:30] timneutkens commented on #994
cc @arunoda

[2017-02-05 16:31] #992 closed

[2017-02-05 16:32] mingfang commented on #899
I'm having this problem with beta.23 in dev mode but not in production mode

[2017-02-05 17:31] vinaypuppal opened #1006 "preact example not working"
https://github.com/zeit/next.js/tree/master/examples/using-preact
Initially its rendering the content and immediately removing it from DOM. Same happening on every page refresh. No errors on browser console or terminal.

![screen shot 2017-02-05 at 10 51 16 pm](https://cloud.githubusercontent.com/assets/8843216/22628241/b2b869b0-ebf6-11e6-83f8-9250dde17108.png)

[2017-02-05 20:07] timneutkens commented on #90
This is included in the latest codebase:
https://github.com/zeit/next.js/blob/master/bin/next#L47

[2017-02-05 20:07] #90 closed

[2017-02-05 20:54] Rastopyr opened #1008 "Error in stateless nested component"
version of `next.js`: `2.0.0-beta.23`

i’m reproduced bug:
https://gist.github.com/Rastopyr/7dc995ec888e962aaea387376049c5b2#file-error-md
with this component:
https://gist.github.com/Rastopyr/7dc995ec888e962aaea387376049c5b2#file-component-with-error-js

and problem probably related with this issue
https://github.com/zeit/next.js/issues/827

error throw in this line
https://github.com/zeit/next.j

[2017-02-05 21:27] asbjornenge commented on #374
Can confirm that it now works with the latest `@beta` :grin: :rocket: :tada:

[2017-02-05 21:27] #374 closed

[2017-02-05 22:24] Rastopyr commented on #1008
Also i found, that error fired in initial rendreing on dev/production environment. But in dev env, after HMR reloading, component rendering is ok.

Also i found that `doRender` fired three times.

1. Component - is correct (`IndexPage` for example)
2. Component - is undefined but `component` variable the same `IndexPage` source
3. Component - `ErrorComponent`.

[2017-02-06 02:23] satazor commented on #544
Based on @davibe sample I've created https://github.com/moxystudio/next.js-style-loader that will hopefully ease out adding css files into next.js projects.

It supports vanilla css, `css-loader`, `postcss-loader`, `sass-loader` and possibly others. Note that when css-loader is used, its `url` option must be set to `false` beucase next.js images must live `/static`. You will find all this informat

[2017-02-06 03:54] arunoda commented on #994
@bryanrsmith @timneutkens Object.assign issue is pretty old and related to glamor. [It's being fixed](https://github.com/zeit/next.js/issues/473#issuecomment-269118506).
(May be you need to use 2.0.0-beta.)

[2017-02-06 03:56] arunoda commented on #994
If you just wanna display client side code for older browsers, we've an option.
See: https://github.com/zeit/next.js#custom-document

With this, you can identify the older browsers on the server and do not include `<NextScript />` for those browsers.

[2017-02-06 03:56] #994 closed

[2017-02-06 03:57] arunoda commented on #995
Yep. I think in this case, we should do a reload.

[2017-02-06 03:57] bryanrsmith commented on #994
I'm using beta 23. This issue is about script errors in general; not about
a problem with Object.assign. I only used Object.assign as an example.
Sorry if I didn't word it clearly.
On Sun, Feb 5, 2017 at 7:54 PM Arunoda Susiripala <notifications@github.com>
wrote:

[2017-02-06 04:02] arunoda commented on #1004
I think this is totally doable with our custom server API.
See: https://github.com/zeit/next.js#custom-server-and-routing

I'd also like to have an example using this project. Also show how to benchmark it.

[2017-02-06 04:03] arunoda commented on #994
@bryanrsmith Sure.
In that case, you could try this: https://github.com/zeit/next.js/issues/994#issuecomment-277581482

If that didn't work for you, go ahead and re-open this issue with more info.

[2017-02-06 04:04] arunoda commented on #997
@timneutkens I think that's totally fine. But we need to update a lot of examples :)

[2017-02-06 05:49] bryanrsmith commented on #994
@arunoda Thanks, but I can accomplish the desired result by tracking router events and throwing within a custom error handler to prevent it from displaying on initial render. I just opened this issue because I think the default behavior is undesirable, and it's not entirely trivial to avoid. If you think the current behavior should remain it's no problem for me :-)

[2017-02-06 07:13] pencilcheck commented on #544
Thanks for the repo! It worked for importing the css files. I am trying blueprintjs and it seems like the css is loading correctly! However the @font-face rule that the css is including doesn't seems to work. :\

[2017-02-06 07:44] jessehattabaugh opened #1010 "Add --hostname argument to cli"
In Cloud9 http servers have to be run with the hostname 0.0.0.0. The cli always starts on `localhost`.

[2017-02-06 07:50] matthewmueller opened #1011 "<Head /> doesn't wait for assets to finish loading"
If you have a `<link>` tag in your head and you do a `Router.push(...)`, I've noticed an occasional flash of unstyled content.

[2017-02-06 08:01] sedubois commented on #994
I do think it would be a shame to display by default an error page in the browser when the browser initially receives valid HTML but then generates an error it actually can't do anything about. The current behavior sounds more like a bug.

[2017-02-06 08:05] satazor commented on #544
@pencilcheck yes you must use paths pointing to /static, perhaps I will make that more clear in the README.

[2017-02-06 08:06] pencilcheck commented on #544
Is there any workaround regarding relative path included in the css files such as fonts atm? Or I simply have to copy the whole font files and css into static folder in order for it to work?

[2017-02-06 08:12] satazor commented on #544
@pencilcheck the CSS files can stay outside of static. Your images and fonts must be inside static and you reference them with `/static/file`.

[2017-02-06 08:17] pencilcheck commented on #544
I get it. However I'm using blueprint, which is an npm package, I would like to be able to not have to modify any files inside node_modules.

[2017-02-06 08:20] satazor commented on #544
@pencilcheck That's not possible unfortunately. next.js is very strict in how it handles images and other assets. Lets not pollute this conversation and please create an issue in next-style-loader repo if you may.

[2017-02-06 08:46] JohnPhoto commented on #257
@cncolder Do you have a gist or something illustrating your overrides?
We need this functionality at our site as well.

[2017-02-06 08:47] nkzawa commented on #1011
I think this occurs only on Safari ? Please use `<style jsx global />` instead of `<Head><style/></Head>` in that case.

Related: https://github.com/zeit/styled-jsx/pull/102

[2017-02-06 09:51] matthewmueller commented on #1011
Happening on latest chrome, it's actually a `<link />` tag. Here's an example:

[code]

Haven't tried adding keys or anything, but looking at the <Head/> source, it doesn't look like it waits for anything to load.

[2017-02-06 11:10] sedubois opened #1012 "Integration between server and client hot-reloading"
Projects with custom server (like my own: https://github.com/relatenow/relate), where nodemon is used to hot-reload server changes, don't fare well when changing code on both the server and the client, especially simultaneously. In that case, hot-reloading might get stuck and never recover:

[code]

The above message might lead to think that reloading is complete, but actually there's no confirmat

[2017-02-06 12:13] sedubois opened #1013 "Initial page load too slow"
There's something quite inefficient going on e.g in the `with-apollo` example, the initial page load is way too slow:

<img width="907" alt="screen shot 2017-02-06 at 14 09 30" src="https://cloud.githubusercontent.com/assets/4217871/22646640/0a56ca16-ec76-11e6-8903-098fa2948272.png">

[PageSpeed Insights](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fnext-with-apollo.no

[2017-02-06 12:13] sedubois commented on #1013
cc @ads1018

[2017-02-06 12:24] sedubois commented on #1013
As for [Nextgram](https://github.com/zeit/nextgram), [PSI gives 100/100](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fnextgram.now.sh%2F), but I still get a 5 seconds load time when trying myself:

<img width="791" alt="screen shot 2017-02-06 at 14 22 12" src="https://cloud.githubusercontent.com/assets/4217871/22646982/b0e36942-ec77-11e6-82b6-f0a9bc30005f.png">

BTW wh

[2017-02-06 12:41] alikhani commented on #1013
Their could be ways to improve the perf using apollo, if you have multiple queries going at the same time, e.g. using [batching-interface and deduplication](https://www.graph.cool/blog/improving-performance-with-apollo-query-batching-ligh7fmn38).
Don't know if it would do anything in this example but in more complex projects maybe..

[2017-02-06 12:45] sedubois commented on #1013
@alikhani There's a single query in this example, so it doesn't explain the current issue.

[2017-02-06 12:47] sedubois commented on #1013
@marktani suggested to check Pingdom: https://tools.pingdom.com/#!/d7mYfk/http://next-with-apollo.now.sh. Shows there's a 1.7 seconds wait time waiting for server.

[2017-02-06 12:59] marktani commented on #1013
Interesting interaction: after you loaded the page and reload it, Chrome DevTools show *between 2 and 4 seconds* needed to "Request ServiceWorker".

[2017-02-06 13:00] sedubois commented on #1013
@arunoda would you have an idea about @marktani's observation regarding service workers?

[2017-02-06 13:01] timneutkens commented on #1013
@marktani @sedubois https://github.com/zeit/next.js/pull/957 and https://github.com/zeit/next.js/issues/1004 might be related

[2017-02-06 13:19] arunoda commented on #1013
@sedubois This might be related to now.sh's container start time or something related.
I've also seen that.

But for the 2nd page reload (after deleting the cache) it works pretty well

[2017-02-06 13:19] #120 closed

[2017-02-06 13:20] arunoda commented on #1010
You can use our custom server for that.
See: https://github.com/zeit/next.js#custom-server-and-routing

[2017-02-06 13:23] arunoda commented on #994
@sedubois It's not like that.
That means, next cannot work on that browser.
So, in the first place you should allow Next to run in that browser.

We've ways to do that: https://github.com/zeit/next.js/issues/994#issuecomment-277581482

Anyway if we got an error, we need to display it.

[2017-02-06 13:25] sedubois commented on #994
Ok, I understand.

[2017-02-06 13:27] sedubois commented on #1013
@arunoda even after several page loads, the 1.7 seconds wait time was still present. So it's not just container boot time.

[2017-02-06 13:28] sedubois commented on #1013
The screenshots above were made when Now containers were already booted.

[2017-02-06 14:24] sedubois commented on #1013
I added Next-news (which was just updated to latest Next.js by @rauchg) to the list of Pingdom screenshots above. But also 2.9 seconds waiting time.

[2017-02-06 14:25] khrome83 opened #1014 "Can not run "next start""
Even though I run "next build", I am not able to run "next start".

I can confirm that a `.next` folder is created, but I get the following error -

"Could not find a valid build in the '.next' directory! Try building your app with 'next build' before starting the server."

[2017-02-06 14:29] khrome83 commented on #1014
Uses `"next": "^2.0.0-beta.22"`

[2017-02-06 14:30] timneutkens commented on #1014
Can you check if your `.next` folder has a `BUILD_ID`file?

[2017-02-06 14:30] timneutkens commented on #1014
Also, can you provide a sample repository?

[2017-02-06 14:32] sedubois commented on #1013
This seems to be something with the whole now.sh infrastructure, because now all response times are twice smaller (pingdom test from NYC: 982 ms for with-apollo, 1.39 sec for nextgram, 1.22 sec for next-news).

[2017-02-06 14:34] khrome83 commented on #1014
Where is the `BUILD_ID` at?

<img width="388" alt="screen shot 2017-02-06 at 8 33 37 am" src="https://cloud.githubusercontent.com/assets/1844739/22650997/04791bb4-ec47-11e6-9fcf-254bdd834ac2.png">

I won't be able to standup a sample repo currently. Here is a screenshot of the output.

[2017-02-06 15:00] timneutkens commented on #1014
@khrome83 It's located right inside `.next` (`.next/BUILD_ID`). From the looks of it this `.next` folder is from a `next` `dev` build. Which is strange because `next build` should remove the `.next` folder and then create a new one with the production build. Can you try manually removing `.next` and running `next build` again?

[2017-02-06 15:01] timneutkens commented on #1013
cc @jamo

[2017-02-06 15:13] khrome83 commented on #1014
Apparently it is not building a `.next` folder. I deleted the `.next` folder and confirmed that it was because of dev.

When I run `npm build` which in turn runs `next build` it just ends. It does not give me any output.

When I run `./node_modules/.bin/next build` then it does produce a production `.next` folder with a `BUILD_ID` inside.

This is not a issue only locally on my machine. I can conf

[2017-02-06 15:33] nkzawa commented on #1014
@khrome83 try `npm run build` instead of `npm build`.

[2017-02-06 15:43] davibe commented on #544
@tgoldenberg can you describe the problem better or tell me how to reproduce ? please refer to my repository. It's easyer for me to track issues there.

[2017-02-06 15:46] khrome83 commented on #1014
Ok that works locally. It's strange because `npm build` does not trigger unknown NPM command, and does not trigger unknown script error

[2017-02-06 15:59] nkzawa commented on #1014
Because it's a known command 😂 😂 😂

https://docs.npmjs.com/cli/build

This is really confusing. Anyway closing now.

[2017-02-06 15:59] #1014 closed

[2017-02-06 16:10] ianatha commented on #257
@JohnPhoto, these are the monkey-patches we've done to support this.

In `_document.js`:

[code]

Hope this helps.

[2017-02-06 16:13] rauchg commented on #1013
We're now tracking this on #now

[2017-02-06 16:13] #1013 closed

[2017-02-06 16:18] sedubois commented on #1013
Great 👍 where do you mean on #now, @rauchg could you link?

[2017-02-06 16:19] rauchg commented on #1013
@sedubois we'll keep you posted on zeit.chat 🎉

[2017-02-06 16:38] tgoldenberg commented on #544
@davibe, it ended up being a problem using `yarn` over `npm install`. Yarn was throwing some inexplicable errors, but once I removed it the example worked fine in production.

[2017-02-06 18:07] bryanrsmith commented on #994
Actually, Next.js can run just fine. It's app code in the page component that's failing.

Sorry, but I don't think this is a viable option. This would require tracking which JS/browser APIs are required by the application, and looking up the UA in a browser support table to check compatibility on every request... that's pretty complicated and probably unnecessary.

I disagree. We would need to dis

[2017-02-06 18:16] jazzido commented on #703
I'm still seeing this issue on `inferno^1.2.2`.

![image](https://cloud.githubusercontent.com/assets/27584/22660132/67cc21e4-ec6e-11e6-8974-c9157f316a5c.png)

[2017-02-06 18:58] jessehattabaugh commented on #1010
I _could_, but wouldn't it be nice to have an argument like how firebase-tools and other dev servers do? Here's a PR I made, but haven't tested yet because your build process is kinda strange to me. https://github.com/zeit/next.js/pull/1017

[2017-02-06 19:02] timneutkens commented on #703
@jazzido the issue turned out to be a bit bigger than I initially thought. @lukeed is going to take a look at it sometime.

[2017-02-06 19:42] nmaro commented on #153
Following the same philosophy that next.js has been following (do one thing and do it well), I've developed the skeleton of an extensible user accounts system for node. See the philosophy here: https://medium.com/the-ideal-system/ooth-user-accounts-for-node-js-93cfcd28ed1a#.97kyfg4xg

The github project is here: https://github.com/nmaro/ooth/

The goal is to have an extensible, independent authent

[2017-02-06 20:20] ccorcos commented on #867
Ah, so on the server, you're just using babel plugins but in the browser, you're loading a bundle from webpack... That makes sense.

Although what's wrong with running the webpack build on the server? You can [set Node.js as a build target](https://webpack.github.io/docs/configuration.html#target).

Then we'd be able to create custom chunks and dynamically async load them inside `getInitialProps`.

[2017-02-06 20:43] bryanrsmith commented on #1006
I think this is happening because Next.js is using a babel plugin to explicitly alias react imports: https://github.com/zeit/next.js/blob/ddd93e9865fe3b05ca5d8d473650c8265f3fb5c3/server/build/webpack.js#L176-L178

If I'm understanding correctly, it seems like the server is rendering with React and the client is trying to continue with Preact. If I remove those lines from Next.js the Preact example

[2017-02-06 20:54] bryanrsmith commented on #1006
That was added in #963. @timneutkens what do you think?

[2017-02-06 21:27] jessehattabaugh opened #1018 "UnhandledPromiseRejectionWarning when deploying custom server to now"
In order to use a hostname other than `localhost` I'm creating a custom server as @arunoda advised in #1010.

[code]

My `package.json` scripts are as follows

[code]

Running `$ npm start` works as expected, but when I deploy to now using `$ npm run deploy` I get the following output

[code]

may be related to #452 or #300

[2017-02-06 21:34] jessehattabaugh commented on #1018
I tried adding a `.catch((err) => console.error(err))` to the promise returned by `prepare()` and now the error I get when deploying is

[code]

[2017-02-06 21:36] bryanrsmith commented on #1018
I think you'll need to use `"start": "NODE_ENV=production node server"` to switch next out of dev mode.

[2017-02-06 21:46] jessehattabaugh commented on #1018
Huh, I would've expected Now.js to set NODE_ENV to 'production' the way Heroku does.

I checked for `NOW` and it works now!

[code]

[2017-02-06 21:46] #1018 closed

[2017-02-06 21:47] rauchg commented on #1018
@jessehattabaugh we didn't want to be _surprising_. After all, you could launch processes to simulate development, you could run builds, etc. What do you think?

[2017-02-06 21:56] jessehattabaugh commented on #1018
I think it's more intuitive to do `NODE_ENV=development` when I'm trying to simulate development in my production environment.  If I'm running a build on production I probably want it to be a _production_ build. I sometimes use `NODE_ENV` to trigger things like minification and watchers in my builds. I feel like the command to start my server should be the same on production and development; `$ np

[2017-02-06 21:58] rauchg commented on #1018
Sounds good. Thanks a lot for your feedback

[2017-02-06 22:00] timneutkens commented on #1018
This is only the case when running a custom server. `next build` and `next start` both set `production` as `process.env.NODE_ENV` if it is not defined.

[2017-02-06 22:02] bryanrsmith commented on #1018
FWIW, this exact thing happened to me the first time I deployed a custom server. I also expected now to set `NODE_ENV=production`.

It makes sense why it's set up this way; I just had to make the mistake once to learn it. I think this specific case could be improved a lot if Next.js could catch this error and log a helpful message. Maybe it could even look at `process.env.NOW` and tell the user th

[2017-02-06 22:35] mingfang commented on #899
This problem is also in beta.24.
For me the problem only happens in dev mode but not in prod mode.

[2017-02-07 00:14] arunoda commented on #1010
Yeah. That's good too.
I saw your PR. Let's take it.

[2017-02-07 00:25] jamo commented on #974
We have been slowly rolling out gzip compression for all `now` deployments, and it should shortly be globally available for all `now` deployments.

[2017-02-07 00:26] ericf commented on #860
I ran into this same issue when creating a custom Document at `pages/_document.js`. The document should only be executed on the server though.

[2017-02-07 00:33] sakulstra commented on #198
Someone managed to run next.js inside dokku yet?
I had some problems with babel plugins in dev dependencies which I could resolve by running `dokku config:set <appname> NPM_CONFIG_PRODUCTION=false`

Additionally I added:
[code]
like suggested above and it seems to successfully build/run now. But I still cannot access the app :/ I don't get any errors so I think it's a next.js unrelated port mappin

[2017-02-07 02:05] arunoda commented on #943
Another idea, for the dev build we can use https://github.com/babel/babel-preset-env to not to transpile a lot. So, we don't really need source maps.

[2017-02-07 02:11] arunoda commented on #867
@ccorcos Even it's Node.js target it takes time and compile time(CPU). We don't need that.
We've a much efficient and speed setup.

[2017-02-07 02:52] nkzawa commented on #1011
This is a bug. I think we should render particular tags like `link` with no delay, and others like `title` has to be updated in batch.

But basically, I think `link` in `Head` is not recommended since these files would be downloaded again and again when you navigate to pages multiple times.

[2017-02-07 02:56] matthewmueller commented on #1011
Awesome, I'm happy to hear that since linking stylesheets is the simplest and often the fastest way to put together a website.

Yah, I can't say I've tested this out, but I wonder if it could either check if that css file already exists or perhaps use `key={...}` to ensure that it doesn't get re-rerendered (and probably re-fetched).

[2017-02-07 02:57] bassbump opened #1019 "Example with-styled-jsx-postcss seems broken"
Just tried it, using clean example https://github.com/zeit/next.js/tree/master/examples/with-styled-jsx-postcss

[code]

[2017-02-07 02:59] ccorcos commented on #867
Well you can compile only once before you deploy...

[2017-02-07 03:10] firdausramlan opened #1020 "Accessing /static/{dir} will redirect to OS relative path"
Version: 1.2.3 & 2.0.0-beta.24

Let say I have folder /static/img, accessing url http://localhost:3000/static/img will redirect to http://localhost:3000/Users/bob/myapp/static/img/ .

[2017-02-07 03:11] nkzawa commented on #1011
Tags don't get re-rendered if already exist. The problem is they are removed if same tags are not include in other pages. So I rather recommend to have `link` on Custom Document. (or make sure to include same `<Head>` among all pages)

[2017-02-07 03:14] arunoda commented on #867
@ccorcos What about dev time build and about dynamic pages. We need to work on that stuff too.
Anyway, we are not considering on going this approach at this time. (At least for 2.0)

[2017-02-07 03:17] matthewmueller commented on #1011
Ahh got it, that makes sense that the `<Head/>` would clean up after itself. Hm, yah maybe a custom document is the way to go. I'm also wondering if this could be solved with a high-order `<Link />` component.

[2017-02-07 03:21] rauchg commented on #1010
`-H` too?

[2017-02-07 05:14] ccorcos commented on #867
You can leave out the image processing plugin

Well the pages are still built and split with webpack statically though right?

[2017-02-07 05:14] ccorcos commented on #867
I'm just failing to understand what exactly is the limitation here.

[2017-02-07 05:48] sedubois opened #1022 "React-intl example"
I saw some people wondering how to get react-intl working with Next.js, and so far it worked well in my app: https://github.com/relatenow/relate

So maybe it could be used as inspiration to create an example in the examples folder.

[2017-02-07 05:52] sedubois commented on #867
It might make sense to open a new issue to discuss the topic of "universal webpack". Sounds like it would have the potential to fix several limitations and reduce code complexities coming from the differences between server and client side.

[2017-02-07 06:54] sedubois commented on #1022
Also see @ericf's WIP example which does a better job of loading only the active locale client-side: https://github.com/yahoo/react-intl/pull/844

[2017-02-07 07:11] arunoda commented on #1020
Can we have a sample repo for that and how to re-produce this?

[2017-02-07 07:12] arunoda commented on #1019
Duplicate: https://github.com/zeit/next.js/issues/964

[2017-02-07 07:12] #1019 closed

[2017-02-07 07:44] adamjv90 opened #1023 "Unable to run example with-styled-jsx-postcss"
Tried running with-styled-jsx-postcss example. First ran `yarn install` then attempted `yarn run dev` but the following error occured.
[code]

Node v7.5.0

[2017-02-07 07:46] adamjv90 commented on #1023
tried npm a well, no luck

[2017-02-07 07:46] adamjv90 commented on #1023
also tried node v6.9.4

[2017-02-07 07:57] firdausramlan commented on #1020
Sample repo: https://github.com/firdausramlan/static-dir-redirect

You can test it [here](https://static-dir-redirect-ngfiedzyoq.now.sh/). Click /static/img link and observe the url.

[2017-02-07 08:22] arunoda commented on #1023
Duplicate: https://github.com/zeit/next.js/issues/964

[2017-02-07 08:22] #1023 closed

[2017-02-07 11:20] timneutkens commented on #722
Closing in favor of the AMP example.

[2017-02-07 11:20] #722 closed

[2017-02-07 11:31] timneutkens commented on #1020
Just tested. Seeing the same issue you're seeing. I'll have a look @firdausramlan 😄

[2017-02-07 13:06] arunoda commented on #1020
Yeah! This is critical.
Since it expose the actual server path name.

[2017-02-07 13:09] timneutkens commented on #1020
Indeed. Fixing a critical bug in micro right now. Having a look after.

[2017-02-07 13:12] arunoda commented on #1020
@timneutkens I'll add some helpful info here to ease you task :)

[2017-02-07 13:13] timneutkens commented on #1020
@arunoda ❤️

[2017-02-07 13:16] Rastopyr commented on #1008
Error was fired from React.js

Info:
https://facebook.github.io/react/docs/error-decoder.html?invariant=32&args[]=33

Close this issue.

[2017-02-07 13:16] #1008 closed

[2017-02-07 13:23] arunoda commented on #1020
@timneutkens here's the source of the problem.
It's on the `send` npm module.
See: https://github.com/pillarjs/send/blob/master/index.js#L675

It redirect to the path if it find out the path is a dir.

[2017-02-07 13:35] arunoda commented on #1020
@timneutkens Changing our `server/render.js` as follows will work.
But need more testing.

[code]

[2017-02-07 16:19] finneganh opened #1025 "Router.push should allow push with same "as""
I'm making a multi-step form and would like to be able to push the same "as" on the history stack with different internal queries.

However, the current implementation of Router short-circuits and doesn't call `pushState` if the "as" matches the current window.location.

Is it reasonable to change this behavior, or allow a `{force: true}` option to work around it?

[2017-02-07 16:26] davibe opened #1026 "Math.pow operator `**` breaks next build"
In node.js one can use `**` operator instead of `Math.pow`. i.e.

[code]

I tried it in a react component and next.js works fine in dev mode but `next build` fails badly with UglyfyJS Syntax errors.

[code]

My workaround was to use `Math.pow(num1, num2)` instead

[2017-02-07 16:44] arunoda commented on #1025
Our routes are idempotent. So, we don't allow to push the same route twice.
Can I know the reason for doing that?

[2017-02-07 17:56] arunoda commented on #1026
I think we should support babel preset 2016. I'm on it.

[2017-02-07 19:31] timneutkens commented on #1020
@arunoda example works totally fine 👍 added a comment to explain why we do that 😉

[2017-02-07 21:44] jessehattabaugh commented on #1010
I changed it to -H

[2017-02-07 21:46] angel200sdnot commented on #1012
I am using babel-watch instead of nodemon for hot-reloading with a custom server

This is what i run
[code]
So far its working pretty well, just make sure to add the folders you want to be watching that next isn't watching

[2017-02-08 00:13] #1020 closed

[2017-02-08 00:43] finneganh commented on #1025
I'm making a multi-step form and I want the back button to work to go to a
previous page (hence wanting to push) but I didn't necessarily want a new
URL in the address bar because reloading mid-flow doesn't make sense.

I was using different queries but the same "as" URL.

I think I may bite the bullet and change the "as" and just do server-side
redirects if someone GETs those intermediate locatio

[2017-02-08 01:03] mingfang commented on #899
The problem went away after I disable the React Developer Tool.

[2017-02-08 01:04] eezing commented on #997
@arunoda, @timneutkens, @nkzawa

Just to clarify. . .

When starting fresh, I must do this:
``` $ npm install --save next react react-dom ```

If I want this to work:
``` $ node_modules/.bin/next ```

Is this correct? Thanks!

[2017-02-08 01:09] nkzawa commented on #997
@eezing yep

[2017-02-08 01:20] 0xCMP commented on #899
Is that enabled by default? I didn't enable that
On Tue, Feb 7, 2017 at 20:03 Ming Fang <notifications@github.com> wrote:

[2017-02-08 01:33] eezing commented on #997
@nkzawa  Sorry. . .  deleted my previous comment by mistake. You confirmed that ```$ npm install next react react-dom``` are required for ```$ node_modules/.bin/next ``` to run.

Is there a case where react & react-dom are not required for next to out of the box?

[2017-02-08 02:05] nkzawa commented on #997
@eezing We used to have the idea of "default React" which would be used if you didn't explicitly install React on your app. We can discuss that or any other possibilities.

[2017-02-08 02:09] FateRiddle opened #1030 "First readme example doesn't work."
Created folder zeit-next-test, npm init --y, npm i -S next, populated /pages/index.js as instructed, added script "dev":"next", npm run dev. Errors.

npm-debug.log:
0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node', '/usr/local/bin/npm', 'run', 'dev' ]
2 info using npm@3.10.9
3 info using node@v7.2.0
4 verbose run-script [ 'predev', 'dev', 'postdev' ]
5 info lifecycle zeit-

[2017-02-08 02:12] lukeed commented on #703
Sorry, I was traveling. Now back to my normal work schedule 👍

[2017-02-08 03:22] ChiperSoft commented on #90
The code you referenced does not appear to be a graceful shutdown, it's just reacting to the termination of the subprocess?

[2017-02-08 03:30] zhaoyao91 commented on #77
@obiwarn one reason for the high number of stars of vue is that vue is created by chinese people and it has great chinese docs, so it appeals to many chinese, and, you know, the population of China is so large.
Vue is good, right, but I don't think react will be defeated by vue. (IMO, vue is much like a template sugar for react).

[2017-02-08 03:36] arunoda commented on #90
@ChiperSoft I don't like graceful shutdown at all since server don't shutdown gracefully specially in this cloud era.

But anyway, Next.js should not have databases and stateful things (That's what we recommend).
So, it's totally okay to kill it right away.

About integration testing, you don't need that too. Check our testing suite and how we do it. You don't need graceful shutdown.

[2017-02-08 03:38] ChiperSoft commented on #90
@arunoda you should still be waiting for requests to complete before killing the process. a deploy will hang up on anything in flight.

[2017-02-08 03:42] arunoda commented on #1025
I think in this case, you need to change the URL in some way. (May be a query string)
It's might cause issues when directly updating the state. But doable.

We write some state when the page loads and getting changes. See it with `history.state`. If you preserve the fields of that object and add what ever you need an do a pushState. I think that won't do any harm.

Like this:

[code]

[2017-02-08 03:42] #1025 closed

[2017-02-08 03:46] arunoda commented on #90
@ChiperSoft better option is to do that with a proxy. (with re-trying)
Most of the proxies does support that. And most of the cloud hosting servers.

Servers could fail at sudden.

[2017-02-08 04:41] #997 closed

[2017-02-08 05:48] aaronshaf commented on #917
Still having this problem with 2.0.0-beta.24

[2017-02-08 06:01] fat opened #1031 "getInitialProps called twice"
Hi,

I have the same issue as #524

Here's a bit more info if it's helpful…

I have a super basic express server with the following routes:

[code]

and then the following "profile" page component:

[code]

If i fetch `/u/guille` my server is correctly fetching the guillermo object and passing it down to my react component on first render…

However! once the javascript on the client loads - it is

[2017-02-08 06:37] nkzawa commented on #90
I think it's nice to have graceful shutdown for programatic API, even though it's not must. Maybe there is no downside to implement ?

[2017-02-08 06:39] nkzawa commented on #1031
@fat Is it possible to prepare a repository we can reproduce the issue ?

[2017-02-08 06:54] fat commented on #1031
hey @nkzawa yep!

Here's a github repo: https://github.com/fat/next.js-bug

seems to be somethign to do with nested data…

for example if the query data i pass is:

`{ id: 'foo' }` it's great.

if i pass `{ user: { id: 'foo' } }`  it causes the client to refresh and lose the initial render.

[2017-02-08 07:04] fat commented on #1031
ok… i think i was just misunderstanding how `getIntitialProps` is supposed to work…

i think im supposed to instead just pass the query string there of "username"… and then put the actual "fetch" of the data object in the `getInitialProps` method… which is my bad.

[2017-02-08 07:04] 7elven opened #1032 "Error: MobX observer: Store 'store' is not available! Make sure it is provided by some Provider"
When I try example Mobx

Error: MobX observer: Store 'store' is not available! Make sure it is provided by some Provider
    at http://localhost:3000/_next/-/commons.js:8459:46
    at Array.forEach (native)
    at http://localhost:3000/_next/-/commons.js:8456:17
    at _fn.render (http://localhost:3000/_next/-/commons.js:8435:31)
    at _fn.render (http://localhost:3000/_next/-/main.js:7616:30)

[2017-02-08 07:05] nkzawa commented on #1031
@fat thank you, I can reproduce now.

I don't know why it occurs yet, but we don't support `{ user: { id: 'foo' } }` since this is invalid as a parsed query string. It has to be `{ id: 'foo' }`.

[2017-02-08 07:06] fat commented on #1031
yep makes sense

[2017-02-08 07:06] #1031 closed

[2017-02-08 08:04] zhaoyao91 opened #1033 "SSR without fetching data in server"
Could you please give some solutions or examples of doing ssr without fetching data in server? (with apollo).

For our cases, the auto code spliting and ssr for page structure are great and enough. We want our server only to deliver the minimum app.

Thanks.

[2017-02-08 08:50] giuseppeg commented on #977
I know what is going on here.

If you have `.p { color: ${colors.blue}; }` the hash is not going to change when you tweak the constant in another file. Next.js sees the change in `theme.js` and recompiles but `components/Header.js` is not recompiled.

Not sure how to solve this from the styled-jsx side. Next.js should probably recompile dependants too when there is a change on a dependency.

[2017-02-08 10:24] mikker commented on #1033
Fetch the data inside of `componentDidMount()` instead of `getInitialProps()`.

The component doesn't _mount_ until it's rendered by the browser.

[2017-02-08 11:13] matthewmueller commented on #1011
Just tried out the custom `<Document />`. Works seamlessly! I think this is a valid/easy solution to external stylesheets! May just want to make a not in the docs about it. I'm going to close, but feel free to reopen if you want to fix this.

[2017-02-08 11:13] #1011 closed

[2017-02-08 11:35] sedubois commented on #1033
You could also use <NoSSR> https://github.com/kadirahq/react-no-ssr

[2017-02-08 11:35] sedubois commented on #1033
Or just don't call await getDataFromTree

[2017-02-08 11:49] arunoda commented on #1033
Yep. I think these are the solutions.

[2017-02-08 11:50] arunoda commented on #1033
Check this example app: https://github.com/zeit/next.js/tree/master/examples/progressive-render

[2017-02-08 12:05] #1026 closed

[2017-02-08 13:36] khrome83 opened #1035 "Styles do not get applied from _document.js with getInitialProps are called"
As of next version `"next": "^2.0.0-beta.22"`

Whenever you use a `_document.js` fragment to overwrite the default construction of the page document, styles are not applied when `getInitialProps()` is used.

If you comment out `getInitialProps()`, then styles will be applied. They DO NOT however hot load, and require a page refresh. Change to use `<styled jsx global>` does not resolve issue.

Expe

[2017-02-08 13:39] khrome83 commented on #1035
Can validate that this occurs with `next@2.0.0-beta.24` as well.

[2017-02-08 13:43] zhaoyao91 commented on #1033
Thanks for all your replies. I've built my app according to [with-apollo example](https://github.com/zeit/next.js/blob/master/examples/with-apollo/lib/withData.js), and tried to implement this by
1. only creating a singleton apollo client and redux store on the server.
2. removing all the `getInitialProps` code of `withData` HOC.
and the client seems to act as I expect, but I'm still curious about

[2017-02-08 13:44] timneutkens commented on #1035
Duplicate of https://github.com/zeit/next.js/issues/885

[2017-02-08 13:44] #1035 closed

[2017-02-08 13:45] khrome83 opened #1036 "Glamor style tag always included"
The glamor style tag is always included regardless of use of glamor. This is in `2.0.0-beta.24`.

`<style type="text/css" data-glamor=""></style>` is present within the DOM upon rendering dev or final build.

Take for example this `_document.js` fragment.

[code]

[2017-02-08 13:47] timneutkens commented on #1036
Duplicate of https://github.com/zeit/next.js/issues/989

[2017-02-08 13:47] #1036 closed

[2017-02-08 13:47] khrome83 commented on #1035
@timneutkens this is not a duplicate.

These styles are not within the <head>. Additionally it is not just the missing hot reloading, these styles are NOT applied if `getInitialProps()` is called. This is definitely not a duplicate ticket. Please reopen.

[2017-02-08 13:53] timneutkens commented on #1035
From Arunoda's reply on that ticket:

But you should not styles like this with the custom document.
Whole purpose of the custom document should to customize your HTML page. Inside the custom layout, we don't have access to the React app.
So, try to move your styles to a common layout.
See this related discussion: #873 (comment)

From my reply on that ticket:

The issue here is that you're using st

[2017-02-08 13:56] khrome83 commented on #1035
Ok that makes sense. Thank you very much I understand now.

On Feb 8, 2017, 7:53 AM -0600, Tim Neutkens <notifications@github.com>, wrote:

[2017-02-08 13:57] timneutkens commented on #1035
Sorry for closing it without the actualy explanation 😅

[2017-02-08 14:57] sakulstra commented on #1032
I think this is a duplicate of #899 and eventually even #1003 ?

[2017-02-08 15:06] timneutkens commented on #1032
@sakulstra Totally right. Closing.

[2017-02-08 15:06] #1032 closed

[2017-02-08 15:56] sedubois commented on #1033
1. I guess as long as you are client side, you can set ssr mode to false
2. If you don't call getDataFromTree, I guess the server code won't have the time to fetch any data.
3. Can try to remove it but probably the Apollo code will complain it doesn't find the provider. I guess.

[2017-02-08 16:39] zhaoyao91 commented on #1033
@sedubois I have struggled out a simple structure to fulfill the requirmemt. see [my app repo](https://github.com/zhaoyao91/our-poems)
I guess your 1 and 2 points are right. But when I removed the apollo provider on the server, it's the react on the client who complain that I've given different render code for ssr. So I have to mimic the components structure on the server, but I can confidently re

[2017-02-08 18:15] thangngoc89 opened #1037 "Styled-jsx import issue when running test with Jest"
I'm not sure where to file an issue for this. I have 3 potential places in mind: jest, styled-jsx and next.js
Since the project that I'm working on is a next.js app, I'll start here.

I have `.babelrc` file like this

[code]

next.js version: 2.0.0-beta-19

When I run test with Jest, it throws a syntax error:

[code]

The highlighted part is this line `import _JSXStyle from "styled-jsx/style`

If

[2017-02-08 18:43] khrome83 opened #1039 "Duplicate title tags in Head"
When using `<Head>` on a page, as well as specifying the `<title>` in `_document.js` inside `<Head>`, both create duplicate titles.

[code]

[2017-02-08 18:48] khrome83 commented on #1039
Looks like issue resolves itself if `<head>` the default HTML5 tag, is used instead of `<Head>` from Next within the `_document.js` fragment.

Should we be using `<Head>` or `<head>` within the `_document.js`.

If we should be using `<head>` then the glamor and other `_document.js` examples are incorrect right now.

[2017-02-08 19:59] #746 closed

[2017-02-08 20:07] timneutkens commented on #1039
@khrome83  This https://github.com/zeit/next.js/pull/668 would solve your issue 👍 will be released in 2.1

[2017-02-08 20:08] timneutkens commented on #1039
Regarding this question:

cc @arunoda

[2017-02-08 20:29] angel200sdnot opened #1042 "Babel not transpiling when using next@2.0.0-beta.24"
If i use the beta 24 babel stops transpiling the code and simply copies the original into the output folder, reverting back to beta 20 fixes this issue

i have this on my package.json
[code]

[2017-02-08 21:13] timneutkens commented on #1042
Can you try using `.babelrc` I believe we don't support having the config in `package.json`

[2017-02-08 21:24] angel200sdnot commented on #1042
I did try that and it still wasn't working

The config in package.json is working as intended because the custom server transpiling is being done by babel outside of next with the following command
[code]
Then i build next using
[code]
and finally run the server
[code]
I didnt try using beta21-23, i will do that and post back the results

[2017-02-08 23:41] arunoda commented on #1042
@timneutkens We do support babel config in the `package.json` as well.

@angel200sdnot could you send us a sample repo and tell us the exact error you are getting.

[2017-02-08 23:58] johhansantana opened #1043 "Error: localStorage is not defined"
Hello, I'm trying to run http://back4app.com/ which is a parse server for my app.

Everything seems to work fine until I realize it has some issues with server side rendering.

When I try to run a query inside `componentWillMount()` it gives me `Error:  localStorage is not defined`

Is this an issue with next.js or parse?

*update*

Parse has a server side package for node as well but I get depend

[2017-02-09 00:33] sergiodxa commented on #1043
@johhansantana `componentWillMount` is executed while server rendering.

But `localStorage` only exists in the browser, so you can't use it in `componentWillMount`. You can use it in `componentDidMount`.

[2017-02-09 00:33] eezing commented on #1043
Check out the docs: https://github.com/zeit/next.js#fetching-data-and-component-lifecycle

[2017-02-09 00:48] sergiodxa commented on #1043
The problem with `fs` module is because of Webpack, you can't use that module for a browser target. Also `fs` is not universal so you can't use it inside your React code.

[2017-02-09 00:56] eezing commented on #1030
@FateRiddle Not sure if this will help, but your NPM could use an update: ```$ sudo npm update npm```. After that, delete zeit-next-test/node_modules, ```$ npm install``` and give it another shot.

[2017-02-09 02:17] FrancosLab commented on #77
@zhaoyao91 Not completely sure if that first sentence should be taken seriously lol, Vue definitely has seen good usage and support from Chinese companies but I don't think that's necessarily what drives the Vue community.

Even if Vue doesn't "defeat" react, which shouldnt matter anyway, because both are tools that do a similar job while accomplishing a different DX, Vue is still a good framework

[2017-02-09 02:40] arunoda commented on #1043
I think this question is well answered.

[2017-02-09 02:40] #1043 closed

[2017-02-09 02:42] arunoda commented on #1039
@khrome83 I think using the title in the `_document.js` is not a good idea. Because it'll be static and cannot change with the client side.

Using the `<Head/>` inside your pages in the better option.

[2017-02-09 02:44] zhaoyao91 commented on #77
@FrancosLab sorry if my words lead to some misunderstanding :(. With the first sentene, which seems fail to be funny, I just want to express that there are many Chinese programmers who stick to Chinese docs and don't like to read any English docs, and it's not a good phenomenon. "template sugar for react" is indeed an understatement, sorry, I should say it offers a template layer compared with rea

[2017-02-09 02:45] arunoda commented on #1037
Use `babel-plugin-transform-es2015-modules-commonjs` babel plugin as well. We don't transpile import/export statements in our preset. (That's to support webpack's tree shaking)

But it'll have issues in the Node.js. So, you need to use the ^^^ plugin.

[2017-02-09 03:00] bguiz commented on #604
I agree with the reasons mentioned by @stretchkennedy and @yn5 - but I'll also add that the over-arching goal should be to move towards being more permissive; rather than to restrict the options. If a particular site is truly static in nature, then why preclude having the option of being able to serve from a static host?

Additionally, enabling zeit to work with a flow that one has already investe

[2017-02-09 03:03] arunoda commented on #1037
@thangngoc89 actually, we need to use the `es2015` preset. I've updated the Jest example.
See: https://github.com/zeit/next.js/tree/master/examples/with-jest

[2017-02-09 03:04] arunoda commented on #1037
Reopen, if the issue still exists.

[2017-02-09 03:22] #990 closed

[2017-02-09 06:20] ericf commented on #1022
I completed the example. This is my first time really digging into Next, so it would be great to get a review here: https://github.com/yahoo/react-intl/pull/844

Also I'm happy to move this example app to this repo. Or if we decide to leave it in React Intl's repo, it would be nice to add least add an `examples/react-intl/README.md` entry here.

[2017-02-09 06:35] cvpcasada opened #1045 "Component display names in react-devtools shows `_fn` [2.0.0-beta.24]"
Recently updated to `2.0.0-beta.24`. It works fine before on `2.0.0-beta.17`.

<img width="480" alt="screen shot 2017-02-09 at 2 31 17 pm" src="https://cloud.githubusercontent.com/assets/1287624/22771911/aca58180-eed4-11e6-88db-9179367ab12a.png">

[2017-02-09 07:32] arunoda commented on #1045
Note: This might be due to our client side React patches.

[2017-02-09 07:49] nkzawa commented on #1045
@arunoda I guess so. I noticed properties are not enumerable when they are defined as `static`, so 'Object.assign' doesn't work for them.

https://github.com/zeit/next.js/blob/master/client/patch-react.js#L109

[2017-02-09 08:56] arunoda commented on #1045
Hmm. Interesting.

[2017-02-09 09:07] Atinux commented on #77
Nuxt.js started as a copy of next.js for vue.js. Actually, even with the version `0.9.7`, nuxt can do everything that next.js does.

With the time, we started to add more features and differentiate each other while keeping the same philosophy.

Few of the features
- Generate static application server-rendered on build time (see https://nuxtjs.org/guide#static-generated)
- Possibility to create dyn

[2017-02-09 09:39] zhaoyao91 opened #1047 "Will imported component get reused?"
For example, I have PageA and PageB, both import CompX.
If I load PageA first, then clik Link to go to PageB, will CompX be loaded from server again?

[2017-02-09 09:48] thangngoc89 commented on #1037
@arunoda as you can see in my config, I'm using babel-preset-latest, it covers es2015 as well as es2016.

If you looks closely to the error dump, you can see that only the styled-jsx import statement wasn't transpiled by babel, others statements are transpiled properly.

If I remove next/babel, the problem goes away. It's probably because of style-jsx tags aren't transpiled at all I guess.

[2017-02-09 09:54] perjg opened #1048 "require('next') not working"
npm install next
->installs next@1.2.3

In node REPL:
const next = require('next');
Error: Cannot find module 'next'

This works if I install next@2.0.0-beta.24 instead. Tested on node 6 and node 7.

[2017-02-09 10:03] nkzawa commented on #1048
It's correct, you need `beta` for that.

[2017-02-09 10:03] #1048 closed

[2017-02-09 10:05] perjg commented on #1048
Is there no plan to fix this for 1.X?

There is no indication in any of the custom-server- examples that they will only work with the beta version.
https://github.com/zeit/next.js/tree/master/examples/custom-server-koa

[2017-02-09 10:21] nkzawa commented on #1048
@perjg No, since it's a new feature from `beta`. The current master branch including examples is for `beta`. There is a note about that on README.

[2017-02-09 11:18] perjg opened #1049 "next.js/examples/with-react-md/ gives checksum invalid error when rendering on client."
Run the with-react-md as described in the README. When loading, it gives a checksum invalid error from React:

Warning: React attempted to reuse markup in a container but the checksum was invalid. This generally means that you are using server rendering and the markup generated on the server was not what the client was expecting. React injected new markup to compensate which works but you have los

[2017-02-09 11:36] #96 closed

[2017-02-09 11:48] frol commented on #1049
Thank you for creating a separate issue. It was already reported in https://github.com/zeit/next.js/pull/940#issuecomment-277028621, and as a result of my investigations I have reported this issue to React-MD upstream: https://github.com/mlaursen/react-md/issues/236

[2017-02-09 12:14] thangngoc89 commented on #1037
By the way, I can't reopen this issue.

[2017-02-09 12:24] perjg commented on #1049
@frol Thanks for the explanation.
As far as I can tell, the bug is triggered by NavigationDrawer.DrawerTypes.PERSISTENT_MINI

[2017-02-09 12:25] timneutkens commented on #1022
@ericf looks good! I'd love to have this in the next.js repo 👍🏻👍🏻

[2017-02-09 12:38] sedubois commented on #978
Yes, but we only need to serialize things when sending from server to client. There's no need to serialize when calling both getInitialProps and constructor on server side.

[2017-02-09 13:16] timneutkens commented on #1047
Common modules will get chunked together in the commons bundle.

Related: https://github.com/zeit/next.js/pull/941

[2017-02-09 13:16] #1047 closed

[2017-02-09 13:19] timneutkens commented on #1049
Closing this in favor of the upstream ticket.

[2017-02-09 13:19] #1049 closed

[2017-02-09 13:26] arunoda commented on #1037
@thangngoc89 I'll try with styled-jsx.

[2017-02-09 13:48] arunoda commented on #1037
@thangngoc89 I've updated the [with-jest](https://github.com/zeit/next.js/tree/master/examples/with-jest) example to styled-jsx and it works pretty well.

[2017-02-09 14:23] sakulstra commented on #985
@arunoda Did you try this with cloudflare?
I just tried using it with next.js and get some awkward common.js errors and the app doesn't work any more as soon as i enable cloudflare... nor entirely sure where it comes from, yet.

[2017-02-09 14:31] thangngoc89 commented on #985
@sakulstra my site is running next.js with coudflare, no problem at all. Did you enable cloudflare optimization? Like concat js, html, css. Try to disable that

[2017-02-09 14:36] thangngoc89 commented on #1037
@arunoda You updated the `with-jest` example with `next/babel` in each environment just like my workaround so there shouldn't be a problem for me right now. But it looks weird to me.

[2017-02-09 14:36] #1037 closed

[2017-02-09 14:37] thangngoc89 commented on #1006
There is a PR for preact here https://github.com/zeit/next.js/pull/767 . But it isn't gonna be merged soon.

[2017-02-09 14:40] #1045 closed

[2017-02-09 15:06] frol commented on #1049
@perjg Yes, there is no warning when non-MINI drawer types are used.

[2017-02-09 15:32] khrome83 opened #1054 "Question - Do we need to return doctype when using _document.js"
Do we need to return doctype when using _document.js

`<!doctype html>` won't work in `_document.js` jsx. Throws error.

I see that we are appending it in `server/render`. Just want to check that when we use `_document.js` it is being included.

[2017-02-09 15:43] nkzawa commented on #1054
No, you don't, since with React, you can't create `<!doctype html>`. We automatically append it when you use `_document.js` too.

[2017-02-09 15:43] #1054 closed

[2017-02-09 16:30] ericf commented on #1022
@timneutkens @sedubois I opened PR #1055 to add it here.

[2017-02-09 16:53] sakulstra commented on #985
@thangngoc89 intrestingly you're totally right - i had html minification turned on.

This is kind of off topic, but just out of curiosity - does someone know why it fails with html minification turned on, but succeeds with minified js and css? This doesn't make sense to me.

[2017-02-09 17:20] khrome83 opened #1056 "PropType error from _error.js on no error pages"
So I am using the error page example from the `Readme.md`.

I added propTypes to follow our ESLint standards.  When loading `/` I get the follow error. When loading `/page-does-not-exist` I get no error. The issue is that `React.propTypes` is not found so `string` can not be resolved, yet I am importing React in the error file (like the example).

I would expect to get this issue when loading a er

[2017-02-09 17:36] khrome83 commented on #1056
NM. Type-o that eslint plugin did not catch. Will file bug with them.

[2017-02-09 17:36] #1056 closed

[2017-02-09 17:40] zhaoyao91 commented on #1047
@timneutkens thanks for this reference. So by the time this pr get merged, we can split out some npm modules to reduce the page size, right?

[2017-02-09 17:56] thangngoc89 commented on #985
@sakulstra I never enable those thing with a SPA because it always leads to weird behaviors. I suggest to disable css and js minification too. Webpack build is optimized.

[2017-02-09 18:08] timneutkens commented on #1047
@zhaoyao91 right. Right now webpack handles that. But it almost never happens according to Arunoda. After that PR is merged you can define common modules yourself. This will reduce subsequent page sizes like you said.

[2017-02-09 18:13] bassbump commented on #596
I know you guys so far decided you won't support this out of the box, but this is such an obvious and "basic" feature I feel if you provide routing at all (which you do), this should be part of it and work automagically..

[2017-02-09 18:18] #1033 closed

[2017-02-09 18:59] bassbump opened #1058 "Support for params in routing"
I absolutely love Next and how it provides basic features without the boilerplate that comes with it in a vanilla react app; like server side rendering, webpack, etc..

I get that the creators want to keep its features as "minimal" as possible, but I feel that sometimes really obvious features are skipped too fast.

Parameters in routes is something that pretty much every app needs. If you check t

[2017-02-09 19:29] timneutkens commented on #1058
First of all, thank you very much for your feedback 👍 😄
This issue has been discussed in great length in many threads. See below.
The outcome of every one of them is that you eventually keep coming back to the programmatic api.

https://github.com/zeit/next.js/issues/929
https://github.com/zeit/next.js/issues/291
https://github.com/zeit/next.js/issues/91
https://github.com/zeit/next.js/issues/59
h

[2017-02-09 19:29] #1058 closed

[2017-02-09 19:33] #884 closed

[2017-02-09 19:33] bassbump commented on #1058
I have read every ones of these issues, and I am fully aware of fridays great work with next-routes.
This issue is not about fixing a problem that I can't solve more than it is about a way to voice my opinion to the Next.js community, I feel this should be allowed..

Thus I'm slightly disappointed that it immediately gets closed.

[2017-02-09 19:41] timneutkens commented on #1058
@bassbump I'm not trying to upset / disappoint you in any way, it's just that this has been discussed many times and in the end we came up with the programmatic api as a solution to fit everyone's application needs.

[2017-02-09 19:46] timneutkens commented on #1058
cc @arunoda @nkzawa

[2017-02-09 19:47] rauchg commented on #1058
@bassbump your voice was definitely heard. This is something we'll keep in mind for future releases or improvements to demos, examples, or documentations. Thanks for taking the time

[2017-02-09 22:46] arunoda commented on #1058
@bassbump custom routing is a pretty cool solution. With out current solution, you could basically use express as a way to define your routes with params. (And any other node server side router)

Here what we providing is a meta routing API. (That's our goal for 2.0)
The reason, it different developers need different routing APIs/solution. Now we live in a SSR, code splitted world. This is the wha

[2017-02-09 22:55] arunoda commented on #596
@bassbump it's not like we don't support it. We do support it.
See: https://github.com/arunoda/coursebook-ui/blob/master/server.js#L40

[2017-02-09 23:25] rockchalkwushock opened #1061 "TypeError: Cannot read property 'Component' of undefined"
I am using the [cloudinary-react library](https://github.com/cloudinary/cloudinary-react) and have run into the following error message when I add the Image component to my project:

**In the DOM**
[code]

**In the devtools**
[code]

The Image component takes in a `cloudName` & `publicId`. The `publicId` is a string that represents a photo on the Cloudinary API server attached to the user's `cloud

[2017-02-09 23:27] nmaro commented on #153
Meanwhile... here is an example graphql API that requires authentication with a JWT-Token just for write operations. Feel free to use it with your favorite authentication method :)

[2017-02-09 23:36] sakulstra commented on #1061
@rockchalkwushock how does your component code look like?

[2017-02-10 00:24] sakulstra commented on #899
@arunoda don't know if you are already working on this? I gave it a brief look as it's kind of sad to stick on beta-18 :) and could pinpoint it to https://github.com/zeit/next.js/compare/2.0.0-beta.18...2.0.0-beta.19#diff-bb2506ef56bf4dcd5dc9d4ab106d2460 <- when reverting this file things seem to work fine again. I'd be glad if someone looks into it as I don't know anything about the monkeypatchin

[2017-02-10 02:22] rockchalkwushock commented on #1061
@sakulstra

I had never thought of _Component_ meaning `React.Component` but I'm thinking that is not the case unfortunately. I did check the import on the `cloudinary-react` library to make sure deconstructing was the correct manner of import and that is correct.

I have `react` imported anywhere that I use class based components as follows:

[code]

Below is the container & component pertaining

[2017-02-10 02:58] sfhardman opened #1062 "Hapi example does not complete Hapi request lifecycle"
The Hapi example (examples/custom-server-hapi) does not complete the Hapi lifecycle for requests handled by defaultHandlerWrapper.

To reproduce the issue edit examples/custom-server-hapi/server.js as per below.  Requests to /a and /b are logged to the console, but requests to / are not logged.  Pull request to come...

[code]

[2017-02-10 05:22] iaincollins commented on #153
I've updated https://nextjs-starter.now.sh to add oAuth support.

[![screen shot 2017-02-10 at 05 03 19](https://cloud.githubusercontent.com/assets/595695/22814865/da99f0ba-ef4e-11e6-8686-bd8956c0a150.png)](https://nextjs-starter.now.sh/auth/signin)

* It uses Passport for oAuth, together with express-sessions (as before).
* There is support for Facebook, Google and Twitter+ oAuth and it's easy to

[2017-02-10 06:54] frol commented on #596
@bassbump there are quite a few extensions out there:

* https://github.com/BDav24/next-url-prettifier (the most recent; quite promising)
* https://github.com/fridays/next-routes (quite promising)
* https://github.com/matthewmueller/next-route
* https://github.com/zeit/next.js/pull/913

[2017-02-10 08:44] lipp commented on #975
I think you have to a promise polyfill via webpack config. Check this out for options:
http://stackoverflow.com/questions/38960490/how-can-i-polyfill-promise-with-webpack

Here you can see how to custom configure webpack with next:
https://github.com/zeit/next.js#customizing-webpack-config

[2017-02-10 08:54] schuma7 commented on #975
But how is it that all the other examples I've tried so far, don't show this behaviour? I assume Promises are used heavily by next.js, so if Promises support is entirely missing this error would surface everywhere or not?

[2017-02-10 09:08] troywith77 opened #1065 "Errors like undefined variable cause 500 in prod"
In production mode, some tiny errors like ```x is undefined``` would throw 500 error, are you guys doing this in purpose? Because I think it is inevitable to avoid any errors, My site crushed for a undefined error.
are there any ways to avoid this?

[2017-02-10 09:11] timneutkens commented on #153
Amazing work! If you could split the auth And add it to the next.js repo that would be awesome :heart:

[2017-02-10 09:12] timneutkens commented on #153
I can do it too btw 👍🏻

[2017-02-10 09:53] liadbiz commented on #484
feature supported now?  I am tring to use antd with nextjs

[2017-02-10 09:58] nkzawa commented on #1065
It's in purpose. What else do you expect ?

[2017-02-10 10:13] lipp commented on #975
not sure about it, but caniuse shows that Promises are not supported by IE11:
http://caniuse.com/#feat=promises

[2017-02-10 10:45] leo opened #1066 "Fall back to random open port if specified/default one is in use"
We should use [detect-port](https://www.npmjs.com/package/detect-port), which would basically make it much easier to develop because the app will stop throwing an error if the port is in use and just go with a random one instead.

[2017-02-10 11:41] nkzawa commented on #1066
Duplicate of https://github.com/zeit/next.js/pull/68

We have already discusses this and decided to print a message instead.

https://github.com/zeit/next.js/pull/932

[2017-02-10 11:41] #1066 closed

[2017-02-10 12:04] timneutkens commented on #484
@liadbiz have a look here https://github.com/zeit/next.js/issues/544

[2017-02-10 14:06] shaykyasin opened #1068 "Invariant Violation: Unable to find element with ID XX"
When trying to run next.js on an AWS EC2, the following error was observed

[code]

### More Info
- This does not occur when running a local server
- Always happens when a page is requested directly and never through AJAX
- Can be solved by rendering some components after mount

### Eg. next/Head
[code]

### Steps to reproduce:
Just create a page with `next/Head`

### Other
- Cloudflare NGINX as r

[2017-02-10 14:10] niksurff opened #1069 "Suggested documentation improvements"
A quick brain dump of all the questions that arose while getting started with `next.js`. Some of these might be answered already and I just haven't looked hard enough.

## How `next.js` improves performance
As I see it a major responsibility of the `next.js` build process and server is performance improvements.
Some are documented and some not and there doesn't seem to be a central place to look u

[2017-02-10 14:38] kaelhem commented on #219
I'm facing a similar issue as @evantahler with react-leaflet.

The fix proposal (mounting map only on client side) seems a good approach, but I cannot manage to make it work.

The error is :
`
Uncaught (in promise) TypeError: Cannot read property 'removeLayer' of undefined.
at _fn.componentWillUnmount (eval at evalScript (eval-script.js?cb1dd48:22), <anonymous>:2255:24)
    at ReactCompositeCompon

[2017-02-10 15:47] leo opened #1070 "Don't clear terminal history when running `next`"
The user should still see the history after using `ctrl` + `c` to stop the app.

cc @rauchg

[2017-02-10 15:48] nikvm commented on #1065
Add a linter like [eslint](https://github.com/eslint/eslint) to your build chain und [disallow undeclared variables](http://eslint.org/docs/rules/no-undef).

[2017-02-10 15:51] thangngoc89 commented on #1070
I can do this. So I just remove all the code that clear the terminal right? Really frustrating because of this "feature"

[2017-02-10 16:04] leo commented on #1070
It should be done [like this](https://github.com/zeit/micro/commit/ccd0b1616226e64d1785bb7958d820abbbb877b0).

[2017-02-10 16:20] itaylorweb opened #1071 "NextJS is wrapping my content - 100vh sizing issue"
Ive just refactored a project im working on to use nextjs.  I have a slight problem with the layout.

I have zero margin and padding on html and body and a height of 100vh.  I also have a container div that is 100% height using flex.   The child containers use flex and the content container (header>**content**>footer) is set to grow (flex-grow) so that the footer is always at the bottom of the win

[2017-02-10 16:27] itaylorweb commented on #1071
Its my fault.  I was applying 100vh to the wrong element. :)  👍 👎

[2017-02-10 16:27] #1071 closed

[2017-02-10 16:36] thangngoc89 commented on #1068
This looks like a hidden bug in React itself: https://github.com/facebook/react/issues/7093

[2017-02-10 16:36] thomaslindstrom opened #1072 "Non-null initial state example?"
I'm having a little trouble using custom routing with `app.render` and passing an initial state to it. I read the `with-redux` example, but it assumes an initial `null` state.

What I'm looking for is some way for some content present on the server to be passed onto `getInitialProps`, and then saved onto the client as “`state`”.

[code]

[code]

I tried giving the `state` `data` object to the `que

[2017-02-10 16:46] thangngoc89 commented on #1072
@thomaslindstrom AFAIK, app.render only accepts 4 parameters like this

`async render (req, res, pathname, query) { }`

So I think that you are doing it the right way.

See https://github.com/zeit/next.js/blob/master/server/index.js#L156 for more details

[2017-02-10 17:02] thomaslindstrom commented on #1072
Yes. My issue is not that `app.render` doesn't, AFAIK. allow me to do what i want to do. It's more a "how do I pass initial state from the server to the client through the server".

[2017-02-10 17:05] nkzawa commented on #1072
@thomaslindstrom You can pass props and create state from them instead. It's the common way when you use React.

[2017-02-10 17:09] mikecardwell commented on #219
I could probably diagnose your problem if I saw your code. Going on the error message alone, I haven't a clue.

[2017-02-10 17:18] thangngoc89 opened #1073 "Where to validate route parameters?"
So I'm setting up an express server for custom routing.
Suppose I have a route like this `/u/:username` . After parsing the query param,  I need to hit the database, find that username and decide whether I should render a profile page or an 404 page.

I have 2 places to do the validating in mind:

- At express server

  - Pros: Sending correct HTTP_STATUS code because I can't find a way to send 40

[2017-02-10 17:23] nkzawa commented on #1073
https://github.com/zeit/next.js/issues/746#issuecomment-274850407 is the way we recommend.
Additionally, you can import the default error page as `next/error` and use it for rendering from the next release.

[2017-02-10 17:37] thomaslindstrom commented on #1072
Where do I pass the props?

[2017-02-10 17:48] nkzawa commented on #1072
@thomaslindstrom on `getInitialProps`.

[code]

[2017-02-10 17:50] thomaslindstrom commented on #1072
@nkzawa The data isn't and won't be available in any of the components. I used a `data.json` import for simplicity, but it's an object that gets data from a private socket connection that I can't expose to the client.

I need to be able to do this through the custom routing function.

[2017-02-10 17:57] thangngoc89 commented on #1073
@nkzawa oh nice. Thank you. I was worry for a while before posting the above post. Putting the logic in express mean I have to keep the code in sync manually.

[2017-02-10 18:00] nkzawa commented on #1072
@thomaslindstrom Only data you can pass from custom server to component is `query`, others has be fetched on `getInitialProps`. You can check the environment like the following If data is available only on server.

[code]

When you don't want to expose it to client, you'd like to setup the `external` options of webpack.

[2017-02-10 18:18] thomaslindstrom commented on #1072
As I said, passing data through `query` works but doesn't seem like the way it should be done. For one it's called `query`. But alright, if there's no other way to do this I guess I'll just do it that way.

[2017-02-10 18:19] thomaslindstrom commented on #1072
Is it out of the question to update the `app.render` method to allow this?

[2017-02-10 18:36] michalwerner opened #1074 "getInitialProps for components deeper in the tree"
Is it somehow possible to use `getInitialProps` in components that are not the page itself?

I mean that for example we have `Index` component which is page. It renders `SomeSection` component and I would like `SomeSection` to use `getInitialProps`.

After few tests I assume that it remains unknown for next that `SomeSection` defines `getInitialProps`, am I right?

[2017-02-10 18:37] rockchalkwushock commented on #1061
I have done quite a bit of experimenting and still am receiving the same error message from next.js. I have created a throw away repo to keep investigating what is causing this and will open an issue with the dev team for `cloudinary-react` referencing this issue & the throw away repo. Even in the simplest example I could create using their demo data I still receive the same error.

[throw away re

[2017-02-10 18:46] nkzawa commented on #1072
`query` is basically parsed query strings of urls, so you shouldn't pass something big or non strings.
Other way I just found is to set data to `req` like `req.data = require('data.json')`.

We'd love to consider if it's useful or required. But I still don't know why you need server only data.

[2017-02-10 18:50] thomaslindstrom commented on #1072
It's not “server only data” – some of it is going to the client – but I have a socket connection on the server that receives objects from an API. Much of the socket data is “private”, so I'm not going to put the socket communication into the app. The objects from the socket contain meta information about what should be rendered.

[2017-02-10 18:58] thomaslindstrom commented on #1072
Tunneling through `req.data` works, too, but feels very hack-ish. Not more so than doing it through `query`, though, so thanks!

[2017-02-10 18:59] nkzawa commented on #1072
But then how do you render the component on client ? And `state` is useful only on client so it wouldn't make sent ? Anyway you're trying to do something special, I think we don't want to add a  feature to support it.

Closing for now.

[2017-02-10 18:59] #1072 closed

[2017-02-10 19:05] #937 closed

[2017-02-10 19:09] nkzawa commented on #1074
You have to define `getInitialProps` on the top level component, and pass down props to descendant components.

[2017-02-10 19:09] #1074 closed

[2017-02-10 19:14] #1073 closed

[2017-02-10 19:21] #618 closed

[2017-02-10 19:46] angel200sdnot commented on #1042
@arunoda Here is the sample repo https://github.com/angel200sdnot/sample_repo
If you run the build script it wont transpile the code correctly, but if you roll back to next@2.0.0-beta.20 it will work correctly

[2017-02-10 20:14] iaincollins commented on #1074
@michalwerner

So to be clear, if you have a page like this:

**pages/index.js**:

[code]

You can have a component like this:

**components/my-component.js**:
[code]

There's more on this at https://facebook.github.io/react/docs/react-component.html

[2017-02-10 20:22] iaincollins commented on #153
I won't have time over the next 2 weeks or so, so if someone wants do that would be great.

I'd love to refactor it and see if it could be reduced to just a module (that exposes simple components like login buttons and sign in forms to embed), and to take some inspiration from the really nice earlier client-side-only example by @impronunciable.

[2017-02-10 21:24] sedubois commented on #1074
You can make those react lifecycle methods async but that's dangerous because it won't wait for the promises to be resolved.

[2017-02-10 21:36] iaincollins commented on #1074
The best place for async operations is componentDidMount() - that's in fact the intent of it (as per the docs) - but you can also kick them off in componentWillMount(), if it doesn't impact rendering.

[2017-02-10 21:59] 416serg commented on #107
Would like to reopen this as environment variable will work on the first request, however, navigating using `<Link>` would make `process.env.VAR` undefined in the browser.

Any workarounds?

[2017-02-10 23:15] jlcarvalho commented on #1061
Same with Draft.js 🤔

[2017-02-10 23:16] timneutkens commented on #107
@416serg This is the way to go on that :smile: https://github.com/zeit/next.js/tree/master/examples/with-universal-configuration

[2017-02-10 23:27] rockchalkwushock commented on #1061
@jlcarvalho

Thanks for mentioning that this is not just an issue between the tech I'm using and Next.js. Are you getting the same exact error messages?

[2017-02-10 23:34] Filipvdb321 opened #1078 "undefined is not an object when using router in safari"
When using the router in safari:
`Router.push('/editresto');`

And then pressing the back button I get this stacktrace:
`TypeError: undefined is not an object (evaluating 'modules[moduleId].call')
__webpack_require__ — bootstrap 780caae8d1d49d846158:693
fn — bootstrap 780caae8d1d49d846158:110
__webpack_require__ — bootstrap 780caae8d1d49d846158:693
fn — bootstrap 780caae8d1d49d846158:110
__webpack

[2017-02-10 23:46] jlcarvalho commented on #1061
@rockchalkwushock yes, exact same error.

[code]

[2017-02-10 23:46] michalwerner commented on #1074
I know I can do it in lifecycle methods, but cDM won't happen on server and cWM only may happen. I was thinking about utilizing next features.
Given it doesn't seem to be possible I ended up using `getInitialProps` on top level and passing data down to component that actually use it.

[2017-02-11 00:50] rockchalkwushock commented on #1061
@rauchg

I'm curious after doing some research on what I'm working with in the `cloudinary-react` library if the issue is stemming from what they have done by building a `CloudinaryComponent` as a class based component. They then use this in place of `Component` when building the components used in the library:

_ie._
`class Image extends CloudinaryComponent { code here }`

I opened a quick repo u

[2017-02-11 01:14] kaelhem commented on #219
yes of course!

the revelant part is here :

[code]

and an extract of the dependencies in my package.json:

[code]

thanks for interest!

[2017-02-11 01:35] eezing opened #1079 "<Link> retains query string if href pathname is equal to current pathname"
Context:

starting url = `myapp.com/about?foo=bar`
click `<Link href="/"><a>home</a></Link>`
result url = `myapp.com`

vs

starting url = `myapp.com?foo=bar`
click `<Link href="/"><a>home</a></Link>`
result url = `myapp.com?foo=bar`

I would expect the latter to behave like the former. Thoughts?

[2017-02-11 02:07] arunoda commented on #1079
Yeah! I think we need to do something about this.
In this case, we need to change the URL.

[2017-02-11 02:16] arunoda commented on #899
I think we need to do something about this.

[2017-02-11 02:49] liadbiz commented on #484
@timneutkens  thanks.   I will give feedback after tring.

[2017-02-11 06:22] zhaoyao91 commented on #153
I've follow the auth0/react quick start guide with some modification, but when I call `lock.show()`, the app complaints:
[code]

[2017-02-11 08:14] timneutkens commented on #1079
I'll fix it 🙌🏻

[2017-02-11 09:44] mikecardwell commented on #219
I just created a basic next app using your code from above and it worked for me with no errors in the console. I then added an additional buitton to allow me to toggle the showMap state manually so I could make sure everything worked fine as the map was mounted/unmounted, and there were no issues at all. Any chance you could make a minimal example of this problem happening which I could install on

[2017-02-11 10:37] timneutkens commented on #219
@kaelhem Not related. But `Map` is an es6 feature, so it might be good to not use it as a variable name. https://developer.mozilla.org/nl/docs/Web/JavaScript/Reference/Global_Objects/Map

[2017-02-11 10:43] kaelhem commented on #219
You're totally right. But this is not the problem here.

[2017-02-11 10:47] kaelhem commented on #219
@mikecardwell ha, this is a good catch. I will have look during this weekend...

[2017-02-11 10:48] timneutkens opened #1080 "Add webpack-bundle-analyzer"
https://github.com/th0r/webpack-bundle-analyzer

Possibly under a flag `--output-stats` or something similar. Already made a POC since I needed to check the bundle sizes. It's pretty neat for checking module / bundle sizes. Just wanted to discuss if we should implement it by default and in what way we want to expose it.

What I did was expose `.next/stats.json` to be consumed by the webpack-bundle

[2017-02-11 11:07] kadiks opened #1081 "Unable to run in production on Openshift"
Hi,

I use the Programmatic API (v2.beta.20 & v2.beta.24) and I added the following from your example:

[code]

The server is running, but on any request it gives me the following error:

Client side it's an 500 error: `Internal Server error`

In the logs, I have:
[code]

`/var` is the root folder on Openshift which I don't have access to.

I don't see why Next is looking for that folder because I

[2017-02-11 11:10] timneutkens commented on #1081
@kadiks could you check `process.cwd()`? We don't look for `/var` anywhere in the next.js code

[2017-02-11 11:15] kadiks commented on #1081
I even did it on the app instance and the value is fine:

[code]

Is there a place where Next look into the root folder?

[2017-02-11 12:29] Filipvdb321 commented on #1078
cannot reproduce anymore

[2017-02-11 12:29] #1078 closed

[2017-02-11 13:15] Ajar-Ajar opened #1082 "Is it possible to use styled-components with Next.js?"
[Styled-components](https://github.com/styled-components/styled-components) look like the next CSS-Modules
It works amazingly well with react and has many many advantages.
I think this is WAY better then using JS CSS' watch this [demo ](https://www.youtube.com/watch?v=qu4U7lwZTRI)to get a closer look
Will Next.js support this kind of solution to style react components?

[2017-02-11 13:17] rovansteen commented on #1082
There's an official example of using `styled-components` with next.js [here](https://github.com/zeit/next.js/tree/master/examples/with-styled-components).
Note that this uses 2.0 beta version.

[2017-02-11 13:21] Ajar-Ajar commented on #1082
Awesome news!
Any word on when version 2 will finally be released?

[2017-02-11 13:38] timneutkens commented on #1082
@Ajar-Ajar not yet. We'll keep you posted ❤️

[2017-02-11 13:38] #1082 closed

[2017-02-11 14:26] samjbmason commented on #1080
This would be awesome 👍

[2017-02-11 15:14] nikvm commented on #1061
Some observations:

* Works fine with `next build && next start`
* `TypeError: Cannot read property 'Component' of undefined
` stems from [`client/index.js`](https://github.com/zeit/next.js/blob/master/client/index.js#L76) and these lines:

[code]
  where `component === window.__NEXT_DATA__.component`.

  When loading the Page [`doRender()`](https://github.com/zeit/next.js/blob/master/client/index

[2017-02-11 15:44] kadiks commented on #1081
It is related to permissions.

The `glob` module fails because it cannot even `ls` on the `/var` folder (unlike Heroku where it's possible)

I didn't fix it, but it has nothing to do with Next.JS

[2017-02-11 15:44] #1081 closed

[2017-02-11 16:37] rauchg opened #1083 "Compilation cancelation"
Sometimes you make a change, then want to quickly make another change
Webpack doesn't seem to do cancelation by default? Which means a lot of wasted time!

[2017-02-11 16:38] rauchg commented on #1070
Yeah, basically we need to change the ANSI escapes friendly webpack plugin uses

[2017-02-11 16:39] rauchg commented on #1069
These are awesome suggestions. They're all planned. The first one will be in the wiki. The other two let's just improve the README!

[2017-02-11 16:57] timneutkens commented on #1079
@eezing just tested, I can't reproduce what you're seeing.

[code]

[2017-02-11 17:02] timneutkens commented on #1079
I've also added some tests for this in #1084 just in case.

[2017-02-11 17:06] rockchalkwushock commented on #1061
@nikvm

Thanks for the in depth explanation of the code. I kept being lead back to `doRender()`; but was struggling to understand the logic. I ran the test-repo using `next build && next start` and saw that it does work fine in that use case. I see that in [`/lib/app.js`](https://github.com/zeit/next.js/blob/master/lib/app.js) is where the _production_ flag is by-passing the production of an error

[2017-02-11 18:10] timneutkens commented on #1039
Using `<Head/>` with https://github.com/zeit/next.js/tree/master/examples/layout-component is the way to go in this case. Since we dedupe `<title>` in `<Head/>`

[2017-02-11 18:11] #1039 closed

[2017-02-11 18:30] atilafassina opened #1086 "Parameterized Routing deploy with Now"
Hello everybody,

As Parameterized Routing is something discussed extensively in a number of other issues, I apologize in advance if I failed to find a similar problem.

I've trying to deploy one testing app wrote with Now and deploy (`next start` , really) has been breaking regardless of my attempts.

I created a simple multi-page app with 3 routes, 2 of them are *parameterized routings* followin

[2017-02-11 18:33] eezing commented on #1079
@timneutkens I jumped the gun on this one. It was a bug on my end. Should have done my due diligence by testing in a fresh project before posting. Sorry for waisting your time. Thanks for your prompt response.

[2017-02-11 19:47] timneutkens commented on #1086
I'll have a look when I get home 👍🏻

[2017-02-11 19:50] timneutkens commented on #1079
@eezing cool, Well now this case is tested too, so if we break it in the future we'll know 😉 Thanks for checking ❤️

[2017-02-11 19:50] #1079 closed

[2017-02-11 20:14] ericf commented on #1086
@atilafassina you have an older version of `next` in your `yarn.lock` file:
https://github.com/atilafassina/next-seo-test/blob/master/yarn.lock#L1800

[2017-02-11 20:36] atilafassina commented on #1086
oh crap!
totally overlooked that...

<img src="https://media.giphy.com/media/3xz2BLBOt13X9AgjEA/giphy.gif" width="200" />

thanks @ericf

[2017-02-11 20:36] #1086 closed

[2017-02-11 23:22] #544 closed

[2017-02-11 23:37] timneutkens commented on #1030
Tried using the following steps. Can't reproduce.

1. `mkdir next-1030` (doesn't matter what name you use)
2. create `package.json` as defined below:
[code]
3. `npm install`
4. create `pages/index.js`
[code]
4. `npm run dev`

[2017-02-11 23:38] timneutkens commented on #1030
Closing this as not reproduceable. Please re-open if needed.

[2017-02-11 23:38] #1030 closed

[2017-02-12 01:01] bukinoshita commented on #1042
It works just fine on *next@2.0.0-beta.21*, beta22-24 doesn't work. Used the same example on the examples folder

[2017-02-12 05:12] nkzawa opened #1087 "Running `git push` triggers reloading"
reported by @rauchg

[2017-02-12 06:20] adrianmcli opened #1088 "Redux example does not work with combineReducers"
I am having trouble converting the `with-redux` example to use `combineReducers`.

[I have made a repo to demonstrate the issue.](https://github.com/adrianmcli/with-redux-combineReducers)

The last two commits are the most informative, but read on for a more detailed explanation.

# Converting to `combineReducers`

For context, this commit shows how I performed the attempted conversion:
https://gi

[2017-02-12 09:32] svnlto opened #1089 "Latest beta breaks the using-router example"
Just bringing this to your attention.
I've followed the `using-router` example and get the following error:

[code]

and current usage is like so, from a `Link` component.

[code]

I've seen some commits that change the router api. So this isn't really a surprise.

A documentation update would be nice tho :)

[2017-02-12 11:22] timneutkens commented on #1087
@nkzawa @rauchg just tried, can't reproduce 🤔, can you give some context.

What a did was:
1. run `next` inside a next.js project
2. change a file and commit it
3. push it to a remote repository

[2017-02-12 11:36] OlegLustenko commented on #964
I'd removed jsx tag from <style jsx> ... </style> and this issue was fixed as temporary solution.
You can figure out will it work for you.

[2017-02-12 15:34] sedubois opened #1091 "Bundle some files only server-side"
I'd like to load i18n messages for a specific locale from some file, but only server-side. I would then pass it client-side as return value from `getInitialProps`. The issue is that if I just load them with something like:
[code]

webpack will still also bundle the message files client-side despite being in an `if (!process.browser) {}`. This is problematic when there are many languages and messag

[2017-02-12 16:26] #717 closed

[2017-02-12 16:48] arunoda commented on #964
@OlegLustenko then it's not styled-jsx. It's a generic `<style/>` tag.

[2017-02-12 16:58] arunoda commented on #1042
Okay. Here's what's happening.
You are using `next/babel` here to compile your own code.
But we don't transpile import/export code.

I've seen many cases like this. So, I'd like to fix this directly.

[2017-02-12 17:02] arunoda commented on #1091
I think we don't have something official way here. But I hope we could do this with a simple webpack config.

Introduce a webpack alias for those modules to load a fake module.

[2017-02-12 17:11] arunoda commented on #1065
It's a widely used best practice (security) to not to expose real error in production. We do this is in the dev mode.

as @nikvm mentioned, you should use a linter like `eslint` or [`standard`](https://github.com/feross/standard).

Just like that, you should capture and inspect production logs as well.

[2017-02-12 17:11] #1065 closed

[2017-02-12 17:16] arunoda commented on #975
Weird. We normally push a Promise polyfill. I'd like to invest on this.

[2017-02-12 18:34] adrianmcli commented on #694
@webular did you have to install those extra dependencies yourself? I assume that NextJS already has some of those presets.

[2017-02-12 18:45] timneutkens commented on #694
@adrianmcli you need to include the `next/babel` preset too. Otherwise functionality might break.

[2017-02-12 19:24] sedubois commented on #1091
In the above linked example is show the idea to use require.resolve, like:
[code]

But `require('fs')` yields `This dependency was not found in node_modules: fs`, even though this is executed server-side. @ericf works around that by putting that code in `server.js` instead of in some page, but again IMHO that's only a workaround (as he points out here: https://github.com/zeit/next.js/issues/860#is

[2017-02-12 20:04] arunoda commented on #716
This is implemented.

[2017-02-12 20:05] arunoda commented on #716
Ah nope. We haven't done this for HTML pages yet.

[2017-02-12 20:55] nkzawa commented on #1091
You can use custom webpack config and the externals option of webpack `https://webpack.js.org/configuration/externals/`

[2017-02-12 20:55] #1091 closed

[2017-02-12 20:55] nikvm commented on #1069
@rauchg just to clarify: Is somebody working on any of these points already? Otherwise I'll start putting some words on paper and we can go from there.

Also: `README.md` is getting fairly long already. Any thoughts on moving the bulk of the documentation into the wiki or even a `docs` folder served on a GitHub Pages site? Feels a bit like _ease of updating vs. ease of consumption_.

[2017-02-12 21:04] rockchalkwushock commented on #1061
Not gonna lie I have been going through source code and I feel like Alice in Wonderland going down the rabbit hole. Can I just ask at what point as a developer do you begin to understand some the code here that is so abstract? I feel so inadequate right now just attempting to read the code.

[2017-02-12 21:17] adrianmcli commented on #1088
Apparently the key isn't really required. This works just as well:

[code]

Thanks to @rohannair for helping me out on this one.

[2017-02-12 21:17] #1088 closed

[2017-02-12 21:18] #1089 closed

[2017-02-12 22:03] timneutkens commented on #1070
Fixed it locally, works really well, only caveat is that it's dependent on https://github.com/bubkoo/get-cursor-position which has a native module bind. It does have windows support though and is super fast.

[2017-02-12 22:45] timneutkens commented on #1070
https://github.com/geowarin/friendly-errors-webpack-plugin/pull/18

[2017-02-12 23:08] rauchg commented on #1087
Can't reproduce. Fake news by @rauchg

[2017-02-12 23:08] #1087 closed

[2017-02-12 23:08] timneutkens commented on #1087
👍

[2017-02-12 23:17] webular commented on #694
@adrianmcli Yes I did.

npm install --save-dev babel-preset-stage-0

[2017-02-12 23:47] nkzawa commented on #1070
@timneutkens `clearConsole: false` is not enough ?

[2017-02-12 23:50] timneutkens commented on #1070
@nkzawa that will stack the compile messages which turns into quite a mess when you do a lot of changes. Though `clearConsole` is another solution to this issue.

[2017-02-13 00:49] nkzawa opened #1097 "Enable babel-plugin-transform-react-jsx-source on development"
https://babeljs.io/docs/plugins/transform-react-jsx-source/

[2017-02-13 00:49] rauchg opened #1098 "Start testing Fiber"
`react@16.0.0-alpha.2`
`react-dom@16.0.0-alpha.2`

We'll need to use the following:
`require('react-dom/fiber')`

[2017-02-13 00:57] rauchg commented on #1098
Here's an example on how to opt into low priority updates:
https://github.com/facebook/react/blob/master/examples/fiber/index.html#L136

[2017-02-13 01:01] rauchg commented on #1069
@nikvm go ahead

[2017-02-13 01:40] svnlto commented on #1089
I don't understand how #1094 is fixing this. I have a babelrc file that I'm using

[code]

[2017-02-13 02:32] arunoda commented on #1089
That shouldn't be a problem.
What you might have something different.
Send us a sample repo (as an new issue)

[2017-02-13 02:36] arunoda commented on #1097
I think we've an issue for this already: https://github.com/zeit/next.js/issues/764

[2017-02-13 02:36] #1097 closed

[2017-02-13 02:37] arunoda commented on #1097
BTW: It was assigned to me. It'll be great, if someone could work on this.

[2017-02-13 03:48] sekmet commented on #232
@maximblack , @ooade Thank you!

[2017-02-13 03:51] svnlto opened #1100 "Uncaught Error: No router instance found."
#1089

[code]

Sample Repo: [here](https://github.com/svnlto/svenlito.com/blob/next/components/Link.js)

[2017-02-13 08:16] OlegLustenko commented on #964
Yes Arunoda, you are right

[2017-02-13 09:31] shaykyasin commented on #1068
@arunoda How is this a question and not a bug? Just creating a page with a `next/Head` causes the error to pop up.

[2017-02-13 09:55] timneutkens commented on #1097
I'll do it @arunoda

[2017-02-13 11:18] arunoda commented on #1068
@shaykyasin I couldn't reproduce this. This seems like something with the way you build the app.
We need a way to reproduce to mark this as a bug.
Could you send us a sample repo?

[2017-02-13 11:35] nahue opened #1103 "Changes not reflecting in env-config.js (universal-configuration)"
After making necessary changes to my app (following the universal-configuration example) i have this env-config.js

[code]

So if i run `yarn run build` i should get prod.example.com.
But if i run `ENVIRONMENT=staging yarn run build` should be stagingurl.example.com but hey NO! still prod.example.com, so frustating that i had to hardcode values to get it running in production till i figure this on

[2017-02-13 13:05] mhrisse opened #1104 "The Next Serverless Framework"
Hi!

Suppose I cannot use ```now``` for my project, but would like to ideally use Serverless Framework (www.serverless.com) with NextJS to deploy to AWS Lambda or later Google Cloud Functions or Microsoft Azure.

Anyone tried that yet?

[2017-02-13 13:19] khrome83 opened #1105 "Dependency Footer Scripts"
Question:

Originally I was considering to use `<Head>` to load a polyfill if a specific component configured in a specific way.

Is there a way to say to inject a script to be included with the `<NextScript />` block from within another component. The same way that we include a script within the head.

An example -

I built a image component that can also be a responsive image using `srcset` and

[2017-02-13 14:48] timneutkens commented on #1103
Hmmmmm this is most likely due to babel-loader's caching behaviour. https://github.com/babel/babel-loader#options

cc @arunoda

[2017-02-13 15:15] Mirodil opened #1107 "Latest code from examples does not work"
I've got latest code from git/repo and try to run/start code in `custom-server-koa` folder. When I run application with `npm run dev` or with `next build`, I always get the following error:

[code]

[2017-02-13 16:29] finneganh opened #1108 "Preserving glamor rehydration"
I’ve seen that glamor is deprecated, but I’d like to continue using it because I prefer its interface to styled-jsx. I notice that in next 2 glamor is still available, in particular there’s rehydration of glamor IDs in the client startup code.

Is glamor support going to be preserved? Or, if it’s removed, will there be a hook to apply rehydration before components are imported?

[2017-02-13 17:11] nkzawa commented on #1108
Eventually, glamor will be removed but you can still use it by setting custom document like https://github.com/zeit/next.js/tree/master/examples/with-glamor.

[2017-02-13 17:17] finneganh commented on #1108
That doesn't take into account the hydration step that needs to run on the client before components are imported.

[2017-02-13 17:18] arunoda commented on #1104
Since it's a node app it should be possible to do it. One thing you need to do it to run `next build` before pushing the code into the serverless env.

[2017-02-13 17:20] arunoda commented on #1107
This is because we've not released a new beta for the latest code. Let's do it.

[2017-02-13 17:23] nahue commented on #1103
oh ok so ill make a npm task to remove that cache before building.. that should do it at least for now

[2017-02-13 17:27] arunoda commented on #1100
Hey thanks.
But I can't run the error.

It's kind a great, if we can have a isolated issue for this case. Then it saves everyone's time and we could have a look at more issues.

[2017-02-13 17:42] nkzawa commented on #1108
I think it's doable, though you manually have to implement. It seems we should update the example to show how to do it.

[2017-02-13 17:48] finneganh commented on #1108
I think the tricky bit is getting a hook into the client startup code. Is
that available now?

On Mon, Feb 13, 2017 at 12:42 PM, Naoyuki Kanezawa <notifications@github.com

[2017-02-13 18:06] codyloyd commented on #1107
ah.. I just upgraded to the latest beta (2.0.0.25) and I'm getting the same error in my code.  Am I doing something wrong here?  Should I target an earlier beta?

[2017-02-13 18:22] timneutkens commented on #1107
@codyloyd can you check the version in `./node_modules/next/package.json` Works for me with beta 25

[2017-02-13 18:24] 416serg commented on #107
@timneutkens Thanks Tim!

I've set that up for it to work, which is awesome, however, I still am worried about passing secret keys to it as when I inspect the page with this structure, I still see the key on client.

Example:

`env-config.js`

[code]

`index.js`

[code]

Is there anything I can do to avoid exposing the secret key to the client, yet still have the functionality to go back and forth

[2017-02-13 18:31] codyloyd commented on #1107
@timneutkens yep.  can see the package.json _and_ the error in the screenshot.
![2_009](https://cloud.githubusercontent.com/assets/18574792/22897130/2c4abf70-f1e8-11e6-8028-dfacadf35653.png)

[2017-02-13 18:39] timneutkens commented on #107
@416serg the best thing you can do in that case is move the api call into a microservice and call that microservice. Possibly using https://github.com/zeit/micro 👍

[2017-02-13 19:01] juangl opened #1109 "Disable HMR"
I wonder how could I disable HMR when I run `yarn dev`.

[2017-02-13 19:25] vinaypuppal commented on #1006
just checked with latest  version`2.0.0-beta.25` and the example seems working fine.

[2017-02-13 19:25] #1006 closed

[2017-02-13 19:29] 416serg commented on #107
@timneutkens is there an example where I can see how to connect to a `micro` service from my `nextjs` app?

[2017-02-13 19:44] timneutkens commented on #1080
@samjbmason added an example instead #1110

[2017-02-13 21:33] tgoldenberg opened #1112 "Issues using with CasperJS"
[CasperJS](https://github.com/casperjs/casperjs) is a browser simulator for running end-to-end browser tests. I had a simple test suite (user visits landing page, inserts email, clicks button, get success message) that was working on my app when I was using `create-react-app`. After migrating to Next.js, the tests break mysteriously. I think it may have to do with using `Router.push`, but I'm not

[2017-02-13 21:34] timneutkens commented on #1103
@nahue you can actually do this by using `next.config.js`:
[code]

[2017-02-13 21:34] #1103 closed

[2017-02-13 21:42] rauchg opened #1113 "Monitor `yarn.lock` to trigger reloads"
Not sure if we're ignoring it right now, but I've noticed that after running `yarn`, reloading is not triggered.

I think a smart shortcut to do that would be to detect `yarn.lock` having changed

[2017-02-13 21:48] timneutkens commented on #1113
@rauchg do you want to trigger a full process reload or a HMR?

[2017-02-13 21:54] rauchg commented on #1104
This is not really related to Next.js. Please see the Deployment section in README

[2017-02-13 21:54] #1104 closed

[2017-02-13 22:30] timneutkens commented on #764
This is incredibly nice 😄

[2017-02-13 22:44] finneganh opened #1117 "Cleaner server-side dependency injection into `getInitialProps`?"
Just wanted to raise something that I’ve noticed using the beta.

During server-side rendering (using the custom routing and `renderToHTML`), there are some server-side dependencies I want to make available (for example, a means of injecting requests directly into my Hapi app so that the server-side data fetching doesn’t go through a network interface). In some cases I also have data to seed an in

[2017-02-13 22:49] marcelmokos opened #1118 "Compose link href from "to" property object with href, query and hash"
Link element in ReactRouter comes with "to" property which can have href, query object and hash inside.

I prefer to build a query from an object instead of using string templates.

[code]

[2017-02-13 23:23] timneutkens commented on #1118
1. Install `url` (`npm install url --save`)
2. Create a new file
3. Add the following code

[code]

[code]

To has to be formatted regarding:
https://www.npmjs.com/package/url#urlformaturlobj

[2017-02-13 23:23] #1118 closed

[2017-02-13 23:53] iamstarkov opened #1119 "CHANGELOG or github releases' details"
there are two issues regarding CHANGELOG file:

* #180 is closed with updates to old releases and it was okay at that time.
* #303 with discussions about automated releases.

Anyway, right now its a problem to discover changes between releases. What should we do? (until solution to #303 is landed)

[2017-02-14 00:01] eezing opened #1120 "link & router using "window.location.origin": IE11 incompatible"
References to [window.location.origin](http://devdocs.io/dom/htmlhyperlinkelementutils/origin) found in two places. window.location.origin doesn't exists in IE11.

[This](https://github.com/zeit/next.js/blob/master/lib/link.js#L87) in link:
[code]

[This](https://github.com/zeit/next.js/blob/master/lib/router/router.js#L286) in router:
[code]

IE11 compatible replacement:
[code]

We can either pol

[2017-02-14 00:17] kaelhem commented on #219
for interested people, I've open a [ticket on stackoverflow ](https://stackoverflow.com/questions/42215735/using-react-leaflet-with-next-js) where I describe a workaround. It seems like a bug in react-leaflet.

[2017-02-14 00:35] eezing commented on #1112
@tgoldenberg I just gave capser-js a try with my next.js site. Was a simple test: start -> echo title -> click nav link (uses "Link" component) -> echo title. Worked fine.

Link component uses Router.push, so that doesn't seem to be the problem. It's difficult to determine what your problem is without seeing your code.

my package.json:
[code]

my quick & dirty casper:
[code]

[2017-02-14 00:47] tgoldenberg commented on #1112
@eezing can you try it on my website? www.commandiv.com.

The issue isn't getting Casper to work, it's the actual steps of filling out a form. Finding it hard to debug, but the exact casper code is above. You can just replace the `casper.getUrl()` with the hard-coded URL.

[2017-02-14 01:32] thomaslindstrom commented on #544
I just spent 4 hours trying to set this up and thought it might be of interest for anybody looking to save some time. It applies styles automatically, runs the CSS through PostCSS and gives you local module names from `css-loader`. The lack of the latter was a major deal breaker for me in the current state of the example.

*component.js*
[code]

*.bashrc*
[code]

*next.config.js*
[code]

[2017-02-14 01:49] arunoda commented on #1109
HMR is always supported in the dev mode. There's no official way to turn it off.
We have no plans to do it in the short term.

[2017-02-14 01:49] #1109 closed

[2017-02-14 01:51] arunoda commented on #1119
We do GitHub releases, but not between beta changes.

[2017-02-14 01:51] #1119 closed

[2017-02-14 01:54] #764 closed

[2017-02-14 02:11] arunoda commented on #1112
@tgoldenberg may be it's using older version of PhantomJS. I think it might be better to use WebDriver (using real browsers) to do the testing.

We are using it for Next.js itself. When I working on that, I got an issue related to this.
Even I closed this, It's nice if someone could find the cause and do a fix (happy to help).

[2017-02-14 02:17] arunoda commented on #1120
Okay. That's good.
Send a PR.

Add a common function inside the `lib` to do this.

[2017-02-14 02:19] arunoda commented on #1112
May be this is related: https://github.com/zeit/next.js/issues/1120
Anyway, I'll keep this open because it might easy for others to find out this.

[2017-02-14 02:19] svnlto commented on #1100
I've tried to deploy this to `now` but having trouble with the installation there. But I've noticed when running `next build && NODE_ENV=production next start` locally the router seems to behave as intended.

[2017-02-14 02:21] #1100 closed

[2017-02-14 02:24] #1080 closed

[2017-02-14 02:26] manuelro opened #1123 "Module not found: Error: Cannot resolve module 'next/document'"
The framework accomplishes a very important milestone: server and client rendering with a single code base, which is great. However, while trying to create a custom `<Document>` I receive the following error:

`Module not found: Error: Cannot resolve module 'next/document'`

I just copy-pasted the sample code in the README file.

[code]

Is `next/document` bundled with the framework or is this an

[2017-02-14 02:28] arunoda commented on #1107
@codyloyd May be this is something related to your `babelrc`. Send us the related `.babelrc` file. You see a note on which one we are using while starting the app.

[2017-02-14 02:55] arunoda commented on #1105
If you are looking for this, that's possible:

[code]

[2017-02-14 02:57] arunoda commented on #1123
I think you need to install the `beta` version of Next.js
Make this as the version of your package.json `^2.0.0-beta.25`

[2017-02-14 03:02] codyloyd commented on #1107
[code]

[2017-02-14 03:05] khrome83 commented on #1105
No. I mean by including a script tag in a component and having next inject it below next script.

The layout or document could be used for multiple pages, so I only want the script attached if the component using that script is rendered.

On Feb 13, 2017, 8:55 PM -0600, Arunoda Susiripala <notifications@github.com>, wrote:

[2017-02-14 03:27] arunoda commented on #1105
@khrome83 Normally react don't allow you to use script tags.
But you could use a NPM module like this: https://www.npmjs.com/package/load-script

Then it loads after `NextScripts` for sure.

[2017-02-14 03:28] arunoda commented on #1107
@codyloyd okay.
I hope we could close this issue.

[2017-02-14 03:28] #1107 closed

[2017-02-14 03:41] manuelro commented on #1123
Thanks. It seems to be working now.

[2017-02-14 04:00] jlabarbera11 opened #1124 "Initializing nested component props on server side"
I'm using next.js with redux, I have a component (table) that I'm populating via an API call that I'd like to be done on the server-side. I've looked at the with-redux example, which relies on the fact that the page by itself can populate the store in getInitialProps. However, I'd like to abstract that away from the page that contains the table, as I don't think the page should have such responsib

[2017-02-14 04:04] eezing commented on #1120
@arunoda will do

[2017-02-14 04:28] angel200sdnot commented on #1124
If you want to store the table in the redux store by fetching it from the server then you can have this in the table component
[code]
You can populate the table the same way without the redux store by storing it in the component state

[2017-02-14 04:31] webular commented on #694
**update** - use this instead:

[code]

[2017-02-14 04:42] jlabarbera11 commented on #1124
I don't think this is exactly what I want, sorry if I didn't make my use case clear. My table relies on calling an external API to populate its rows. When this table is rendered server-side, I'd like to make the call then, so that it's already populated in the browser.

From what I understand, componentDidMount is only called on the browser, which is the opposite of what I'm trying to accomplish.

[2017-02-14 05:36] #1123 closed

[2017-02-14 05:50] arunoda commented on #1124
What you can do is fetch the data and set it the react-context. Anyway, you need to fetch data from the getInitialProps. And then use a higher order component to move the data coming from props to context.

[Recompose](https://github.com/acdlite/recompose) will be your friend.

[2017-02-14 07:57] iamstarkov commented on #1119
okay, got it. let me note, its difficult to decide whether do i need to update from beta-18 to beta-25

[2017-02-14 08:11] sarukuku opened #1125 "with-styled-jsx-postcss example is broken (since beta.21)"
I'm talking about [this](https://github.com/zeit/next.js/tree/master/examples/with-styled-jsx-postcss).

To reproduce just follow the steps on the readme. When running `npm run dev` you'll get an error:
[code]

Everything works well with `beta.20` but after that nope.

[2017-02-14 08:12] sarukuku commented on #1125
@giuseppeg you're probably related to this somehow? 😄

[2017-02-14 08:28] sedubois commented on #1117
If I understood right, sounds like a similar need to https://github.com/zeit/next.js/issues/978

[2017-02-14 08:56] sedubois opened #1126 "Add nextjs tag"
It seems apps using Next.js are adding the "nextjs" tag on their GitHub page. Maybe it would make sense to add it to Next.js itself too...

[2017-02-14 09:08] 7elven commented on #899
I still get Error..

[2017-02-14 09:15] vuldin commented on #899
People have been working on this issue as mentioned in the most recent comments. There is a [pull request](https://github.com/zeit/next.js/pull/1101) that supposedly fixes this issue, which is also mentioned in previous comments. I have no idea regarding time frame, but I'm sure it will be merged at some point. If you 'need' the fix now and can't wait for a merge, then I imagine you could try the

[2017-02-14 09:23] 7elven commented on #899
@vuldin  I'm sorry I don't know i'm newbie. I only see 3 day ago and test it
sorry for my comment

[2017-02-14 09:27] ckybonist commented on #232
I tried @ooade's solution, however, it still cause the warning: `Can only be called once per application lifecycle` when Next.js do the hot reloading.

Finally it works fine after I applied @maximblack's `try { injectTapEventPlugin(); } catch(e) { }` solution.

[2017-02-14 09:47] timneutkens commented on #1125
Duplicate of https://github.com/zeit/next.js/issues/964

[2017-02-14 09:47] #1125 closed

[2017-02-14 09:50] timneutkens commented on #1126
I like this. Can't add it though. cc @nkzawa

[2017-02-14 10:07] alexedev commented on #645
@kristojorg I had the same problem. Thank you for sharing your solution!

[2017-02-14 10:09] sarukuku commented on #964
What's the plan here with this?

[2017-02-14 10:12] timneutkens commented on #964
https://github.com/giuseppeg/styled-jsx-postcss/issues/10

[2017-02-14 11:25] nkzawa commented on #1126
Done, thanks for your suggestion !

[2017-02-14 11:25] #1126 closed

[2017-02-14 11:30] rauchg commented on #1113
HMR. I suspect it should already trigger but maybe it doesn't ?

[2017-02-14 11:50] sedubois opened #1128 "SSR caching combined with user-specific data"
Based on the ssr-caching example, I got SSR caching working properly when the user is logged out of my webapp (https://github.com/relatenow/relate). But when I log in and get redirected to the home page, the user data should appear in the page header but doesn't, as it renders the version which was cached when the user was logged-out.

What would be the recommendation here? To have a separate cach

[2017-02-14 11:55] sedubois commented on #1128
I have a similar issue regarding localization: when the user selects an alternative locale, page is reloaded from server but still serves the contents with original locale.

[2017-02-14 12:02] finneganh commented on #1117
My issue is more about getting server-specific inputs into `getInitialProps`. I'm actually not concerned that creating the Redux store twice on the server is much of a performance hit given that the second time it's hydrated with an initial state, but I also don't know much about redux's internals.

[2017-02-14 12:08] sedubois commented on #1128
I tried to change the cache key from `req.url` to:
[code]

https://github.com/relatenow/relate/commit/82b8f811f78ad65cd1e52b73989b7fe84b24d3f9

But I'm still caching the page in the wrong locale.

[2017-02-14 12:13] khrome83 commented on #1128
I have not done this, but I think it may be better to just not cache the part of the content that has user info.

For example, there is the progressive rendering example -
https://github.com/zeit/next.js/tree/master/examples/progressive-render

Let's say you had a login box, that was replaced with the "Welcome Steve" message. Maybe wrap that in the progressive-render, or even a client side only re

[2017-02-14 12:16] sedubois commented on #1128
@khrome83 thanks, but that would basically mean I can't cache at all at the HTML level, so the server-side performance bottleneck would remain. I still hope to fix the issue (maybe I'm just doing something wrong).

[2017-02-14 12:42] timneutkens commented on #555
Closing this in favor of #984

[2017-02-14 12:42] #555 closed

[2017-02-14 13:08] sedubois commented on #1128
OK, my issue with locale refreshing was unrelated to the LRU HTML caching, but to my locale-specific cache 😄 I updated my code: https://github.com/relatenow/relate/commit/1d2ff0aa31c327fc74414f006715b1290d329a09

So it seems like changing to the key mentioned above works (for now at least, until something else outside of the session might influence the page appearance).

[2017-02-14 13:08] #1128 closed

[2017-02-14 13:24] sedubois commented on #1091
I tried to add a dummy `fs` as follows:
[code]

Then I put this in my withIntl.js HOC:
[code]

But it yields `Uncaught ReferenceError: require is not defined`.

[2017-02-14 13:37] sedubois opened #1130 "Example with custom webpack config"
I might have missed it, but didn't find an example showing the use of custom webpack config (except for the short snippet in the README). I'm trying to figure out how to stub 'fs' client-side so that I can still require that module server-side (https://github.com/zeit/next.js/issues/1091).

[2017-02-14 13:41] sedubois commented on #1091
I also tried to stub using an existing module name, e.g `config.externals = { fs: 'react' }` (don't know if there's a better way), but it still yields the same error about `require`.

[2017-02-14 13:42] sedubois commented on #1113
I think the same remark applies to `next.config.js`, changing it doesn't seem to trigger a reload.

[2017-02-14 13:56] nkzawa commented on #1091
How did you define `reaFileSync` ?

[2017-02-14 14:18] albinekb commented on #1130
Does this do: https://github.com/zeit/next.js/blob/master/examples/with-webpack-bundle-analyzer/next.config.js

It shows how you can set custom options to webpack @sedubois

[2017-02-14 14:20] amio opened #1132 "Style doesn't apply to h1, h2 after `npm run build`, while `npm run dev` works fine."
Here is the `pages/index.js`:
[code]

https://fe-lenses-glbdtdmunb.now.sh/

While, the same code renders correctly in dev mode(`npm run dev`):
![image](https://cloud.githubusercontent.com/assets/215282/22932645/a7152882-f303-11e6-9f41-ec53269762f2.png)

[2017-02-14 14:23] sedubois commented on #1130
Yes that's a start 👍 Would be worth linking from the README section on custom webpack config then. @timneutkens

[2017-02-14 14:24] sedubois commented on #1091
I used `import { readFileSync } from 'fs';`, but I get the same error with `const { readFileSync } = require('fs');`

[2017-02-14 14:26] nkzawa commented on #1091
I think you need to `require` it only on server ? You can't use `import` to do this.

[code]

[2017-02-14 14:35] sedubois commented on #1091
Ah OK. I thought the webpack config would allow to import anywhere, it would just return a dummy value browser-side.

It works, thanks 👍

[2017-02-14 15:19] sedubois commented on #1132
I experience similar symptoms as reported on Slack, so it prevents me from deploying latest changes: https://zeit-community.slack.com/archives/next/p1487081460009945

[2017-02-14 15:20] timneutkens commented on #1120
Maybe implement https://www.npmjs.com/package/location-origin

[2017-02-14 15:23] timneutkens commented on #1132
Might be fixed by https://github.com/zeit/next.js/pull/1114

[2017-02-14 15:24] sedubois commented on #1132
@rauchg could we please have a release? 😄

[2017-02-14 15:27] rauchg commented on #1132
Btw: volunteers are currently being sought for writing a script that we can run in CI that automatically publishes next to npm as `beta` every time we merge a PR whose tests passed

[2017-02-14 15:32] timneutkens commented on #1132
@rauchg I'll add it to my list of things 😉

[2017-02-14 15:33] timneutkens commented on #813
Closing this in favor of automated releases.

[2017-02-14 15:33] #813 closed

[2017-02-14 15:51] amio commented on #1132
@sedubois Temporally I use [plain old React styles](https://github.com/amio/fe-lenses/commit/26f1011ff7ef62e8f41a67c3a5da9f4b331f702b#diff-e14ec8fd2b038fbccea5f8090d26ace4) to avoid this problem, you may have a try too.

[2017-02-14 15:52] sedubois commented on #1132
@amio it seems fixed for me with latest release: https://relate.now.sh/ 🎉

[2017-02-14 15:54] timneutkens commented on #1132
👍

[2017-02-14 15:54] #1132 closed

[2017-02-14 16:06] reel commented on #1117
@finneganh It's easy to add an interface with HOC to handle that. The problem is with `prefetch` as it might not be hydrated properly. It will only go through `getInitialProps` without server context. So, you will have to duplicate the server code to your `getInitialProps`. It gets messy. You can have a look at https://github.com/simplehub/henri/blob/master/src/client/withAuth.js and withClient.js

[2017-02-14 16:10] finneganh commented on #1117
Using a HOC to pull things off of the `req` is a little cleaner. I’m just wondering if adding things to `req` is the best way forward or if there should be another server-side mechanism for getting stuff into `ctx`.

[2017-02-14 16:11] sedubois commented on #1117
@reel `prefetch` doesn't execute code, it only downloads it.

[2017-02-14 16:53] sedubois opened #1134 "Document next/error"
I don't think it's documented anywhere?

Also (unrelated to title, sorry), I guess it doesn't support any kind of message localization.

[2017-02-14 17:44] aesopwolf commented on #1068
I'm experiencing the same issue. Like @shaykyasin, it doesn't happen when running a local server. However, I also see the problem when the page is requested via AJAX.

[2017-02-14 17:53] rauchg commented on #1083
+1. This is really really annoying

[2017-02-14 17:54] rauchg commented on #1083
@msand thanks for pinging that issue.

I just realized not having cancelation is not only a "nice to have", but it's absolutely critical for scenarios like changes that happen in quick succession. For example, `git checkout`.

[2017-02-14 19:27] thomaslindstrom opened #1135 "Avoid deleting .next directory on build"
To minimize service downtime, is it possible to avoid removing the `.next` directory on build? I get a good 1 minute of “Internal Server Error” when deploying, depending on the server.

https://github.com/zeit/next.js/blob/master/server/build/index.js
https://github.com/zeit/next.js/blob/master/server/build/clean.js

The current (now old) state of the app should be able to stay active until the ne

[2017-02-14 19:55] nkzawa commented on #1135
I think I don't fully understand how you deploy your apps, but usually you should just swap your servers with new ones, then deleting `.next` should not be a problem and there is no downtime.

[2017-02-14 19:59] thomaslindstrom commented on #1135
In this scenario I'm using `pm2` to deploy and manage my application. On deploy, an execution script fires that looks something like:

[code]

Yet, during the time it is building the new version, the current one stops working because it removes some required `dist/` files and such.

[2017-02-14 20:14] nkzawa commented on #1135
Avoiding deleting `.next` directory wouldn't help since your app might load building state of `.next` anyway.
I think you should change how to deploy your app.

[2017-02-14 20:15] thomaslindstrom commented on #1135
No? If `next.js` built the new resources in a separate directory, this approach would work just fine.

[2017-02-14 20:19] jlabarbera11 commented on #1124
Ok, so instead of something like this:

[code]

I'll need to do this instead?

table.js
[code]
tablePage.js
[code]

I'm worried that with this pattern there isn't a clear separation of concerns between the table and tablePage. Please let me know if I'm misunderstanding. Also, I'm unfamiliar with Recompose, will it help solve some of this?

[2017-02-14 20:23] nkzawa commented on #1135
Ah, that would work in most cases but I think there is downtime between moving two folders and restarting servers.  btw I'm assuming the problem occurs because next.js server dynamically load files according to page requests. I'm not sure if it's worth to support that.

[2017-02-14 20:24] thomaslindstrom commented on #1135
Downtime while renaming the two folders <<<<<<<<< downtime while building the new state.

[2017-02-14 20:25] thomaslindstrom commented on #1135
I'll do a PR on this, I guess, where `next build` builds the new state in a separate directory (`.next-12313`) before replacing `.next`.

[2017-02-14 20:33] sfhardman commented on #1062
Resolved by PR #1099

[2017-02-14 20:33] #1062 closed

[2017-02-14 22:23] nkzawa opened #1137 "Reload when clicking a link of current url"
It gets ignores for now, but we have to perform the equivalent of `location.reload()`

- `getInitialProps`
- trigger router events
- possibly unmounting / remounting

[2017-02-14 22:25] manuelro opened #1138 "ReferenceError: 'Promise' is not defined on IE11 for ^2.0.0-beta.25"
Just a `ReferenceError: 'Promise' is not defined` on Internet Explorer 11 for `^2.0.0-beta.25`.

Here is the full error log:
[code]

[2017-02-14 22:30] sergiodxa commented on #1138
IE doesn't support Promises, and I suppose Next.js isn't polyfilling it, you can use Polyfill.io (https://polyfill.io/v2/docs/) to support Promises in IE. Just add it in your `pages/_document.js` to it's loaded in each page before the client-side render.

[2017-02-14 22:36] nikvm commented on #1069
[On it](https://github.com/nikvm/next.js/tree/improve-docs). PR with these and a hand full of other improvements coming soon-ish. ☕️

[2017-02-14 22:47] timneutkens commented on #1138
Duplicate of https://github.com/zeit/next.js/issues/975. For now you can indeed add polyfill.io or any other Promise polyfill for that matter.

[2017-02-14 22:47] #1138 closed

[2017-02-14 22:52] manuelro commented on #1138
Good to know. Thanks!

[2017-02-14 23:04] thomaslindstrom commented on #1135
@nkzawa Maybe this makes the problem I'm outlining more clear: https://github.com/zeit/next.js/pull/1139

[2017-02-14 23:33] thomaslindstrom commented on #1135
Merged. https://github.com/zeit/next.js/pull/1139#event-962264425

[2017-02-14 23:33] #1135 closed

[2017-02-15 02:52] arunoda commented on #1137
Is this the exact same URL?
Then the routes should be idempotent.
There will be definitely an other way to do what we are doing.

[2017-02-15 02:57] arunoda commented on #1119
@iamstarkov Basically you need to use the latest beta. We are fixing issues and building essential features (not usually public APIs)

[2017-02-15 03:00] #899 closed

[2017-02-15 03:04] arunoda commented on #1113
@sedubois I think we watch `next.config.js` and restart the webpack instance. We can't do HMR only for this because this might have core webpack config changes.

[2017-02-15 03:06] arunoda commented on #1134
Yeah! Let's add it.

[2017-02-15 03:30] jlabarbera11 commented on #1124
Ok after revisiting this, I figured that it is a good idea to keep my components unaware of redux, and only open it to my pages via an HOC.

Now it's something like this:

page.js:
[code]

table.js
[code]

This seems like it works (haven't actually tested the

[2017-02-15 05:38] sedubois commented on #1113
@arunoda ok maybe, but as a user I don't see any message that changes in next.config.js are taken into account.

[2017-02-15 05:46] thangngoc89 commented on #1117
I want to give a +1 for this. Currently, I'm setting up the GraphQL server in the same express instance with next.js . (I know it's bad practice but for a side project it's more than enough). Since Heroku disable local network, I had to perform some weird trick to proxy the request back to my server when doing server side rendering.

Apollo Server document stated that I should use https://github.c

[2017-02-15 07:41] nkzawa commented on #1137
The idea is to emulate the browser behavior by @rauchg . I think it makes sense since you might want to recall `getInitialProps` and reset `state` even if it's a same route.

[2017-02-15 07:56] sedubois opened #1143 "issue with webpack-analyzer + HMR"
I get the error below when developing with the webpack analyzer (configured as instructed in @timneutkens' example).

Code: https://github.com/relatenow/relate

[code]

[2017-02-15 08:31] #1120 closed

[2017-02-15 08:52] #956 closed

[2017-02-15 08:58] rovansteen opened #1144 "Issues with context & styled-components in node module"
I'm running in to an issue where I am using a private node module that contains small components that use styled-components and expect a theme to be set by the package that includes it. This was working fine in `next@2.0.0-beta.17` but after upgrading to beta 26 it stopped working. The theme passed in to the component from the external package is just empty.

I've tried to reproduce this outside m

[2017-02-15 10:00] eezing commented on #1143
Looks like watch mode is a no-go: https://github.com/th0r/webpack-bundle-analyzer/issues/37

[2017-02-15 10:16] timneutkens commented on #1143
Right, we should update the example to use stats.json instead of the server.

[2017-02-15 10:57] #964 closed

[2017-02-15 11:32] timneutkens commented on #1113
@arunoda @sedubois We do reload the server, also, it should show a message. https://github.com/zeit/next.js/blob/master/bin/next#L71-L81

[2017-02-15 11:45] sedubois commented on #1113
@timneutkens I don't see that behaviour. When I change some text in `next.config.js` then hit save, Next doesn't give any message (such as `WAIT  Compiling...`) in console.

Don't know if it matters, but I run with `yarn dev` where `"dev": "nodemon -w server -w universal"`. Maybe the code you showed doesn't work with custom server.

[2017-02-15 12:37] sedubois opened #1152 "link to future directions in README"
Don't know if important, but there's a half-broken link at bottom of https://zeit.co/blog/next:

https://github.com/zeit/next.js/blob/master/README.md#future-directions

There's no section future-directions in the README.

[2017-02-15 12:39] timneutkens commented on #1113
It's using `next` indeed. For the custom server api you have to manage it yourself.

[2017-02-15 12:42] #1143 closed

[2017-02-15 12:49] sedubois opened #1153 "HTTP/2"
I'm not familiar at all with HTTP/2, but it's advertised as being a great improvement to HTTP/1.1 (e.g in the Zeit Now docs).

So does Next.js support HTTP/2? Does something need to be configured? Should it be added to the docs? Is it automagically happening when deploying a Next.js app to Now? What about localhost development?

I don't see HTTP/2 locally (running my app with `yarn dev`: https://g

[2017-02-15 12:50] sedubois commented on #1113
OK, makes sense.

[2017-02-15 13:41] sarukuku commented on #1153
HTTP/2 in most browsers works only over https so if you're f.ex. using Chrome on local dev machine you'd have to configure your dev to use SSL. Also it needs to be configured / enabled on the server side too and this depends of the server you're using.

[2017-02-15 14:38] sedubois commented on #1153
OK indeed, the version deployed on Now seems to use HTTP/2:

<img width="1074" alt="screen shot 2017-02-15 at 16 37 26" src="https://cloud.githubusercontent.com/assets/4217871/22978894/26c8fb64-f39d-11e6-96c6-43119bcabb19.png">

[2017-02-15 14:38] #1153 closed

[2017-02-15 14:46] timneutkens commented on #1153
@sedubois when you run your app on `now` it will handle your requests using http2 automatically 😄 👍. We don't have to change anything next.js side for this. For other hosting solutions you might want a proxy in front of your app that handles http2.

[2017-02-15 14:47] timneutkens commented on #1153
Lol, didn't see your comment before submitting.

[2017-02-15 14:49] #984 closed

[2017-02-15 15:15] Gregoor commented on #106
I wish Relay's API was isomorphic out of the box, but that just doesn't seem to be a priority for FB atm.

[2017-02-15 16:04] 416serg opened #1157 "Parameterized routing not working"
have a bug, I am creating a "job board" which pulls info from company job postings through an API so my `index.js` has

[code]

Then I also have individual `job.js`

[code]

and the url it should be at is `http://app.com/${id}/${title}`

so my `server.js` is

[code]

When I request index and then navigate everything works fine, but if I request `/job/${id}/${title}` I get a 404

[2017-02-15 16:06] arunoda commented on #1137
Okay. Then it's about removing [these lines](https://github.com/zeit/next.js/blob/master/lib/router/router.js#L153-L158).
@nkzawa That's it right?

[2017-02-15 16:18] nkzawa commented on #1137
@arunoda I think so.

[2017-02-15 16:30] arunoda commented on #1137
@nkzawa let me work on it.

[2017-02-15 17:36] finneganh opened #1160 "next/babel preset hard-codes directory path in output"
The `babelRuntimePath` at the beginning of the `babel/preset.js` file results in the absolute path to the babel runtime being hard-coded into babel output. This means that e.g. server code cannot be babel-compiled in one location and run on another.

I'm running into this by babel-compiling my server code on one machine and deploying the compiled versions to a server and running them there.

[2017-02-15 17:43] finneganh commented on #1160
Poking around, I think it might work to remove all of the path up to and including the first instance of “node_modules/”:

[code]

Does that make sense as something to do?

[2017-02-15 18:06] arunoda commented on #1157
It's better to provide a sample repo. So, we can have a look at the issue.

[2017-02-15 18:10] arunoda commented on #1144
Try to reproduce it with the npm modules. You can install npm modules locally with `file://<path-to-module-dir>` (Doesn't work with yarn)

Those paths can be relative urls as well.
With this, we may could see the real problem.

[2017-02-15 18:26] finneganh commented on #1160
This seems to be an issue even when compiling directly on Heroku, as the build-time path and the runtime path are different.

Note that I'm using the `next/babel` preset globally for all my JS, both webclient and server, so that everything is consistent as far as babel features.

[2017-02-15 18:27] #1137 closed

[2017-02-15 19:18] finneganh commented on #1160
Looks like the webpack config is doing this, too. Here’s what it looks like in Heroku logs:

[code]

Note how Heroku built in a tmp directory but is running from an /app directory.

I can have a PR for this up pretty soon.

[2017-02-15 19:24] benhjames commented on #1160
There's some more context for you in #198 and #360!

The current solution is using a Heroku buildpack: [mars/heroku-nextjs](https://github.com/mars/heroku-nextjs)

I had hoped it would be as simple as removing everything up to `node_modules` in the path too (see PR #361) but there are a number of reasons why that didn't work

[2017-02-15 19:35] finneganh commented on #1160
Are the concerns in #361 still valid? React is now a peerDependency. The relative importing of `babel-runtime` seems ok to me, but TBH that could probably get moved to a peerDependency as well.

I guess I also don't understand why the `next/head` aliases are in there as well, given that Next has a `head.js` file in its root that would be resolved by `next/head` without webpack/babel shenanigans.

[2017-02-15 19:51] benhjames commented on #1160
There are a few remaining concerns (though like you say, React as a peer mitigates one of them!)

The `next/[module-name]` aliases are only required when running tests - we can guarantee that they'll always exist when using `next` as a module. So if `node_modules` will never exist when doing local development on `next`, the path it gets back after our exciting resolution algorithm is non-existant

[2017-02-15 20:01] finneganh commented on #1160
If the aliases are only needed for running Next.js’s own tests, it seems like the burden should be on the Next.js dev/test setup to get those right, rather than on every developer to manage the surprise of these hard-coded paths on their own.

Compiling JS in one place and serving it somewhere else doesn't seem like so esoteric a pattern to me that it shouldn't be supported out-of-the-box.

[2017-02-15 21:26] 416serg commented on #1157
Fixed, not sure how but after starting a fresh install of parameterized-router, it all worked

[2017-02-15 21:26] #1157 closed

[2017-02-15 21:31] addyosmani commented on #861
Hey folks. My team at Google work on a few Service Worker libraries (with Webpack plugins) like https://github.com/GoogleChrome/sw-precache and https://github.com/GoogleChrome/sw-toolbox used on React/Webpack heavy sites like Twitter, Housing.com, Flipkart etc.

If Next decides to explore offline support we would be happy to share some pointers. I think there's great opportunity for prescribing pa

[2017-02-15 22:01] arunoda opened #1165 "HMR Issues"
I've found some weird HMR issues. It's pretty hard to reproduce but possible.

Simply run our `shared-modules` example with the latest master.
Then try to changes `components/Header.js` pretty quickly.
The ideas is to do a change before Webpack builds the prev change.

After that point, we won't get any HMR updates. Only remedy is to reload the page.

***Disable HMR***

When I trying to do a hot-f

[2017-02-15 22:06] rauchg commented on #861
@addyosmani offline support is one of our top priorities post 2.0 stable

[2017-02-15 22:11] nikvm commented on #1134
Isn't `next/error` just the default error page exported by `pages/_error.js`? It can be overwritten with a custom `_error.js` and is documented in [`README.md`](https://github.com/zeit/next.js#custom-error-handling).

Or am I missing something :confused:?

[2017-02-15 22:20] timneutkens commented on #1134
@nikvm https://github.com/zeit/next.js/pull/1040

[2017-02-15 22:40] arunoda opened #1166 "Find some way to disable older service worker code."
Having a running service worker code may cause some issues. Find a way to stop that.

[2017-02-15 23:00] nikvm commented on #1134
Yay, thanks! It's on the list. 🗒

[2017-02-15 23:07] timneutkens commented on #1134
Thank you very much @nikvm 👍

[2017-02-15 23:09] eezing commented on #1165
Although the performance diff may be negligible, HMR is indispensable when working on stateful components and/or redux.

I have two apps in production built with Next and I can honestly say overall stability and performance of HMR is rather good. You guys have done a fine job with this so far.

I personally would not address HMR until non-contributors raise issues.

[2017-02-16 00:03] arunoda commented on #1165
That's a good point.

Actually, this came when testing our app `zeit.co`.

[2017-02-16 00:03] arunoda commented on #1165
But if there's a way to fix this, I'd love to have it.

[2017-02-16 00:08] timneutkens commented on #1165
Related to https://github.com/zeit/next.js/issues/1083?

[2017-02-16 00:35] jozanza commented on #544
I came up with a solution myself, which is very similar to what @satazor posted higher up in the thread: https://github.com/jozanza/next-css-json-loader.

Just add a few lines to your `next.config.js`:

[code]

Styles are imported as js objects so it's very easy to use with `glamor` and similar solutions:

[code]

Cheers! 🍻 :)

[2017-02-16 00:38] jozanza commented on #484
Just thought I'd chime in since this seems to be a bit of a tricky issue in next.js.
Anyhow here's how I'm able to use antd's css imports in my project: https://github.com/zeit/next.js/issues/544#issuecomment-280190145

[2017-02-16 00:50] #1070 closed

[2017-02-16 01:09] finneganh opened #1170 "Hapi example broken: inconsistent server promises"
It looks like #1099 left Hapi in a broken state with main.js and common.js modules. The various `render*` methods in server/index.js are inconsistent about whether they return a promise, so what’s happening now is that the `defaultHandlerWrapper` is closing the response before the `renderStatic` method actually renders anything, since it returns `void` without any `await`.

Note the ”Content-Lengt

[2017-02-16 01:14] rauchg commented on #1170
Sounds good. Apologize for merging a bad example. My knowledge of Hapi is limited

[2017-02-16 01:14] rauchg commented on #1170
@finneganh I added you as a collaborator in case you want to own all the Hapi-related PRs

[2017-02-16 01:18] finneganh commented on #1170
I'm not much of an expert but I'm willing to take a look at them.

[2017-02-16 01:30] mingfang opened #1171 "Feature Request: Use the filesystem as server API"
Enrouten (https://github.com/krakenjs/express-enrouten) is an express module that automatically route requests based on the filesystem.  Using this creates a nice synergy with using the filesystem to route pages.

[2017-02-16 01:30] rauchg commented on #1171
You can use this in combination with `node server`. No need to bundle! Express example:
https://github.com/zeit/next.js/tree/master/examples/custom-server-express

[2017-02-16 01:30] #1171 closed

[2017-02-16 01:33] mingfang commented on #1171
I know that. I was making a case that something like enrouten should be made default.
I've never had an issue closed so fast on github.
Your behavior is making be reconsider supporting this project.

[2017-02-16 02:00] arunoda commented on #1165
@timneutkens nope. Actually, webpack builds it correctly. But the client doesn't get updates.

[2017-02-16 02:04] arunoda commented on #1171
@mingfang we've discussed a lot related to this here: https://github.com/zeit/next.js/issues/25
So, instead building this we went with this: https://github.com/zeit/next.js/issues/291

Docs: https://github.com/zeit/next.js#custom-server-and-routing

We suggest to build these features in the userland won't be available in the core.

[2017-02-16 02:07] #1160 closed

[2017-02-16 02:07] mingfang commented on #1171
@arunoda I tried searching the issues before posting but missed the ones you sent. Thanks.

[2017-02-16 02:09] arunoda commented on #198
Guys we took https://github.com/zeit/next.js/pull/1164 in.
So, we could use Next.js apps on heroku without much trouble.

[2017-02-16 02:11] finneganh commented on #1170
@rauchg Looks like the Hapi change wasn't itself the problem, it was the Hapi change followed by the removal of Gzip.

Fix available in #1172, which tries to be defensive against async things not being captured going forward.

[2017-02-16 02:24] manuelro opened #1173 "Error while using randomness for inline styling"
There is some weird error warning about issues with server and client sides rendering not being the same. The issue shows up only if I use `rgb` colors in CSS-in-JS for inline styling.

**The error:**
[code]

If I replace the color from rgb to any named-color ('blue', 'red', etc.), the warning disappears.

**The code**
[code]

And I think the differences between the client color and the server col

[2017-02-16 02:31] eezing commented on #1165
I can't for the life of me break break HMR. I've tried in my own projects as well as examples/shared-modules. Works every time. Ideas???

[2017-02-16 02:40] eezing commented on #1165
@arunoda can you reproduce in incognito (more specifically clear application data & cache)

[2017-02-16 02:47] rauchg commented on #1165
I absolutely love HMR and it's indispensable. We should fix it, not remove it.

[2017-02-16 02:51] MikeSchroll commented on #198
@sakulstra: Yes, I run it in dokku. It is possible.

[2017-02-16 03:18] eezing commented on #1173
@manuelro The warning is expected behavior. Yes the different random RGB values from server to client are causing the issue. If you're interested, you can learn about [isomorphic react here](http://nerds.airbnb.com/isomorphic-javascript-future-web-apps/).

[2017-02-16 04:20] ads1018 opened #1175 "Add option to prefetch props via <Link> component"
Per @rauchg's [suggestion](https://github.com/zeit/next.js/issues/740#issuecomment-272947691), this option should be explicit:
[code]
Adding the ability to prefetch props has some seriously cool implications, the most obvious being that it essentially sounds the death knell for loading indicators.

![high-five-cat_o_646881](https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loa

[2017-02-16 06:48] Ehesp commented on #1173
Try setting the colour outside of the components for the first render, and only generating if it doesn't exist (on the server).

[2017-02-16 06:49] manuelro commented on #1173
Thanks for the advice. I give it a try.

[2017-02-16 09:11] #1170 closed

[2017-02-16 09:12] timneutkens commented on #1134
@nikvm added the in progress label.

[2017-02-16 09:38] czzarr commented on #1061
Seems to be a problem with caching:
I'm encountering the same problem with a very simple app when I click `refresh` in Chrome. Works fine when I do a hard-refresh `shift + refresh` to bypass the cache.

[2017-02-16 10:58] sedubois commented on #727
Also reminder about the awesome-nextjs list: https://github.com/unicodeveloper/awesome-nextjs

[2017-02-16 11:00] sedubois commented on #727
npmjs.com runs Next.js according to https://github.com/zeit/next.js/pull/1177

[2017-02-16 11:39] sedubois commented on #727
There's also https://github.com/zeit/nextgram

[2017-02-16 12:10] davibe commented on #153
@iaincollins @timneutkens regarding your example, please correct me if I am wrong.

The example uses an httpOnly cookie  to store a session token making it safe against javascript injiection attacks (XSS). Then it goes into the trouble of having a csrf token stored in local storage to also protect against CSRF attacks.

There is an underlying assumption that this combination of techniques makes th

[2017-02-16 12:25] mschipperheyn opened #1179 "Using a src subdirectory"
I notice that Next.js assumes that all source code is basically put in the root, e.g. pages directory.

I prefer to keep a separate src directory, so it's clear what's source and what is not (build, passwords, etc). Is this possible / easy? How do I do it?

[2017-02-16 13:03] sedubois commented on #1179
Duplicate of https://github.com/zeit/next.js/issues/819

[2017-02-16 13:12] #1179 closed

[2017-02-16 15:28] arunoda opened #1180 "[dev] Detect whether user installed react and act"
Now we move `react` & `react-dom` to the peerDependencies. So, user have to provide them.
Sometimes, they might forget to add it.

Then we should remind them to do it. (Also linking to an article in the wiki)
This is something we could use on our development tool.

[2017-02-16 16:03] Lyonsclay opened #1181 "Embedding scripts with multiple Head components."
I am making a basic blog and I want to embed a CodePen and a Github gist in different locations of the page. It appears that Next.js only recognizes one Head component per page.

My question is how to place these components at different places on the page and make sure they all load with initial page load.

[code]

[2017-02-16 16:15] vernondegoede opened #1182 "Error: Cannot find module 'react' in version '^2.0.0-beta.27'"
Hi!

I created a new project yesterday using the stable version of next.js. However, I was feeling adventurous and tried upgrading next using the command `npm install --save next@beta`. Everything went well, except for some unmet peer deps.:

[code]

When I ran `npm run dev`, Next refuses to start and throws the following error message:

[code]

The only dependencies that are listed in my `package

[2017-02-16 16:17] samjbmason commented on #1182
As of `beta.27` `react` and `react-dom` are not included, all you need to do is install them e.g `npm i -S react react-dom`

[2017-02-16 16:18] #1182 closed

[2017-02-16 16:19] timneutkens commented on #1182
See https://github.com/zeit/next.js#setup

[2017-02-16 16:19] vernondegoede commented on #1182
Thanks! Sorry, not sure how I could've missed that...

[2017-02-16 16:20] timneutkens commented on #1182
❤️

[2017-02-16 16:22] impronunciable commented on #1181
Hi @Lyonsclay `next.js` is actually loading both scripts

![screen shot 2017-02-16 at 1 19 10 pm](https://cloud.githubusercontent.com/assets/165799/23029829/890bde74-f44a-11e6-90d8-922fb1a77df1.png)

The issue is `https://gist.github.com/Lyonsclay/7bea4d320269a377eba25bc69a7e57b3.js?file=ShadowDom.js` uses `document.write` to inject the code and you are placing it in the `<head>` so that would (at

[2017-02-16 16:22] #1181 closed

[2017-02-16 16:23] timneutkens commented on #1180
@arunoda I like this. Will add it.

[2017-02-16 16:38] Lyonsclay commented on #1181
Hi @impronunciable! I did put the Github gist script outside of the Head component at first, but then it doesn't seem to load unless I refresh the page.

[code]

[2017-02-16 16:44] impronunciable commented on #1181
@Lyonsclay It uses document.write, it will work just when you refresh the page. Take a look at this to see if it helps you https://stackoverflow.com/questions/30429361/how-to-embed-a-gist-using-reactjs

[2017-02-16 16:46] Lyonsclay commented on #1181
Thanks @impronunciable that Stackoverflow post looks promising:)

[2017-02-16 18:49] dizlexik commented on #1080
This is great but it only displays stats for `main.js` and `common.js`, which is not very useful as far as I can tell. I'd be **much** more interested in seeing stats for each page bundle but I'm not sure how this example can be modified in order to accomplish that. In looking through `stats.json` it seems to me that what we really want to analyze are the `entrypoints` (which contain references to

[2017-02-16 20:10] iaincollins commented on #153
Hi @davibe

Alas, there isn't currently a technically better approach than a session cookie and a separate rotating CSRF token, so guess I have to say I'm broadly happy with the model as is it as there isn't really another way to do it (even if the actual implementation could always be improved).

We could add browser finger printing, maybe the session token could rotate more frequently (I forget

[2017-02-17 07:07] davibe commented on #153
Hmm.. I understand.
This issue was very useful to me, thank you.

[2017-02-17 10:20] sakulstra opened #1186 "[RFC] Improve testing"
Hello,
currently we have a lot of examples(37 as for today) without any tests in the codebase which break from time to time. As most people will probably try to get started with one of the examples this is suboptimal.

I'd like to help improve this, but i'm not quiet sure where/how to start. We could probably add render tests to check if the application renders without errors for all the examples,

[2017-02-17 11:54] khrome83 commented on #1105
Understood. I guess in my mind I was thinking of something along the lines of how we use `<HEAD>`

[code]

Then in the `_document.js`

[code]

Thoughts?

The idea is that if I have 20 pages, and I am using something on two of those pages. I should only have the `_document.js` render that outside resource if it is needed on that page. The key would identity it making sure it does not re-render and

[2017-02-17 12:08] timneutkens commented on #1173
Closing as this is not an issue produced by Next.js, feel free to re-open if needed ❤️

[2017-02-17 12:08] #1173 closed

[2017-02-17 12:11] timneutkens commented on #1152
cc @nkzawa could you update the blog? ❤️

[2017-02-17 12:16] timneutkens commented on #106
I wonder if we should keep this open or not. Maybe we should just document the reason why using Apollo over Relay is better in the case of isomorphic rendering.

[2017-02-17 12:17] timneutkens commented on #1010
Fixed in #1017

[2017-02-17 12:17] #1010 closed

[2017-02-17 12:31] timneutkens commented on #382
Closing this in favor of #303

[2017-02-17 12:31] #382 closed

[2017-02-17 12:39] nkzawa commented on #1152
Thanks for the report ! It's going to be fixed on the next release of our website 👍

[2017-02-17 12:39] #1152 closed

[2017-02-17 12:41] timneutkens commented on #501
Styled-components has released a v2 branch under `2.0.0` which is currently in pre-release
try `npm install styled-components@2.0.0-4`

It has better server rendering support. @ivoreis could you try to implement it?

[2017-02-17 13:14] davibe opened #1189 "Should /page/ work just like /page ?"
I am using Google Search Console to inspect my website. When adding a website it automatically adds a "/" to the end of the url, therefore `www.website.com/page` becomes `www.website.com/page/`

In the case of next page called 'page' this would not work. There are 2 workarounds
1. create /page/index.js on the filesystem
2. use a custom server to solve this "/" thing

Regarding 2 this is what i hav

[2017-02-17 13:39] jcsmesquita commented on #153
Hey everyone!

I'm also working on authentication with next.js and the comments from this issue, in particular @davibe + the [repo from @iaincollins](https://github.com/iaincollins/nextjs-starter) and the [PR from @timneutkens](https://github.com/zeit/next.js/issues/1141) have been of tremendous help.

My solution does the following:

- Upon successful login, my redux reducer saves the the token a

[2017-02-17 13:46] timneutkens commented on #153
@jcsmesquita I'm working on a new version of the example with everything separated from Next.js similar to how auth is implemented at zeit.co.

[2017-02-17 15:17] thomaslindstrom opened #1191 "Example `with-scoped-stylesheets-and-postcss` throws error when compositing between files"
https://github.com/zeit/next.js/tree/master/examples/with-scoped-stylesheets-and-postcss

**Error:**
[code]

**Steps to reproduce:**
1. Clone `with-scoped-stylesheets-and-postcss`
2. Create a file `global.css` with a class name `font-sans`
[code]
3. In `styles.css`, `compose` `font-sans`:
[code]
4. `next dev`

[2017-02-17 15:41] mschipperheyn opened #1192 "Styled-components v2 requires an update to the example"
The api for styled components has changed in v2.

    import Document, { Head, Main, NextScript } from 'next/document';
    import styleSheet from 'styled-components/lib/models/StyleSheet';

    export default class MyDocument extends Document {
      static async getInitialProps ({ renderPage }) {
        const page = renderPage();
        const style = styleSheet.getCSS();
        return { ...pa

[2017-02-17 16:01] huzidaha opened #1193 "Suggestion for with-redux example: using higher-order component to replace repeated codes."
The [example](https://github.com/zeit/next.js/tree/master/examples/with-redux/pages) of next.js with redux has repeated codes in every page, but wouldn't it be better to use higher-order component to replace this kind of repeated codes. For example:

next-connect.js:

[code]

In every page you can easily use next-connect.js and connect to store like using redux normally:

index.js:

[code]

You ca

[2017-02-17 16:22] huzidaha commented on #1193
And considering this kind of higer-order component might be commonly used in every next.js project, I wonder if it's a good idea to make it a next.js third-part library?

[2017-02-17 16:32] cgood92 commented on #1112
@arunoda I've been looking for an issue related to my problem, and this seems to be a close hit.  So I'm going to put my problem here.

I'm using Jest + Enzyme to do some testing for React components.  Works fine with Next.js, except for the component is trying to use `Router.push()`.  Now, I'm not interesting in testing the router, but I am interested in testing my component, and some of the func

[2017-02-17 17:35] katopz commented on #1193
I think @borellvi and @arunoda try to [keep it same as `mobx` example](https://github.com/zeit/next.js/pull/691)
Maybe you could try PR as `with-redux-thunk` instead.

[2017-02-17 17:47] jessehattabaugh commented on #1010
Woo hoo! Thanks y'all!

[2017-02-17 18:14] timneutkens commented on #1192
Someone already made a PR to upgrade to v2. https://github.com/zeit/next.js/pull/1038. Lets track changes around v2 there.

[2017-02-17 18:14] #1192 closed

[2017-02-17 18:42] Ajar-Ajar commented on #861
@rauchg any estimation regarding 2.0 stable release date?
We're about to kick off a full on production and we would love to use Next.js
I will appreciate any type of estimation, days / weeks / months...
Thank you so much!

[2017-02-17 18:46] ttraenkler commented on #220
Would it make sense to integrate it with [react-navigation](https://reactnavigation.org/) (which replaces NavigationExperimental) and targets not only React Native but also React Web)?

Until the community lands on one navigation solution that works well on the web and React Native, we will forever be destined to re-invent navigation. We are extremely sensitive about the burden of change that acco

[2017-02-18 00:53] arunoda opened #1195 "Make minify(uglify) opt-in or use a substitute"
EDIT:

Or we could use some other ways to uglify.

Currently, magnification takes a lot of time when we've many pages.
@rauchg removed it from our https://zeit.co and we got 5x faster `next build`.

Also, newer CDNs support on the fly minify and gzipping. So, this won't be a big problem.
So, here's the plan

* [ ] - We remove uglifyjs
* [ ] - Add a sample to how to add it
* [ ] - Add a wiki on how

[2017-02-18 04:09] huzidaha commented on #1193
It's still simple (event simpler). It just changed the code structure of the original version of `with-redux` example. They're aim for the same purpose. @katopz

[2017-02-18 09:15] katopz commented on #1193
@huzidaha I know it's easy and made sense and it's a way to go for real life using but in case you introduce another dependency `redux-thunk` so it should be more clear to new comer if it present separately as `with-redux-thunk`.

And also FYI : https://github.com/zeit/next.js/pull/1196
BTW don't get me wrong I like your example and really hope it get PR in somewhere. :)

[2017-02-18 09:41] huzidaha commented on #1193
@katopz Actually `thunk` thing was copied from the `with-redux` example :P https://github.com/zeit/next.js/blob/master/examples/with-redux/store.js . I just wanted to keep it same as original version.

Seems that somebody has made this idea out as a library. https://github.com/kirill-konshin/next-redux-wrapper just after a few hours after this issue.

[2017-02-18 09:52] huzidaha commented on #1193
OMG, he has a quick hand...

[2017-02-18 10:06] timneutkens commented on #1193
cc @kirill-konshin

[2017-02-18 10:12] huzidaha commented on #1193
I actually want to make a PR. But I am wondering if it's polite to replace his example...

[2017-02-18 13:13] fabienheureux opened #1199 "Wrap <Link> around several components"
Hi,

As we can see here: http://w3c.github.io/html/single-page.html#the-a-element
It is valid to have an `<a>` wrapping several html tags.

But as defined here: https://github.com/zeit/next.js/blob/2.0.0-beta.31/lib/link.js#L92
We can't have multiple children inside a `<Link>` component.

For example, say I have the following html:
[code]

The only solution using next.js would be to define a jsx e

[2017-02-18 13:55] andyngo commented on #1199
I tried wrapping `<Link>` around `<a>` with multiple children element like this and I didn't find any issues with it.

[code]

[2017-02-18 13:57] fabienheureux commented on #1199
Well, what I mean by `<a>` was the `<Link>` output, maybe I should have write the exact code I tried to run, that is the following:
[code]

[2017-02-18 13:59] #1199 closed

[2017-02-18 14:04] timneutkens commented on #1199
@fabienheureux That behaviour has been deprecated. You should always use `<a>` in `<Link />`

[2017-02-18 14:06] fabienheureux commented on #1199
Yep got it, makes sense, and solves my initial thought.
I should have triple-read the doc

[2017-02-18 14:07] timneutkens commented on #1199
😄 thanks for the feedback!

[2017-02-18 14:44] huzidaha commented on #1193
I create a PR https://github.com/zeit/next.js/pull/1201 which uses the package [next-connect-redux](https://github.com/huzidaha/next-connect-redux) I am working on and it's base on the idea above.

I will finish the docs of [next-connect-redux](https://github.com/huzidaha/next-connect-redux) as soon as possible.

[2017-02-18 16:45] kirill-konshin commented on #1193
`next-connect-redux` actually makes exactly the same thing as `next-redux-wrapper` that was merged yesterday. Same ideas are flowing in the air.

@huzidaha it's pure coincidence, I haven't seen this issue before today, I was working on my stuff for last couple of days, and as you see, I use slightly different approach.

https://github.com/huzidaha/next-connect-redux/blob/master/lib/index.js#L15 yo

[2017-02-18 17:00] huzidaha commented on #1193
@kirill-konshin I am really sorry for the misunderstanding. And thank you for the suggestions. :P

[2017-02-18 17:00] #1193 closed

[2017-02-18 17:10] fabienheureux opened #1202 "Advice about how to fetch many times"
Hi,

Sorry if there are already several open/closed issues on this exact topic (https://github.com/zeit/next.js/issues/192 this one for example), but I want to achieve something, and I have some difficulties to figure out either if it is a react or next.js issue.

Here is the thing:
1. I call an API to fetch some data, in pages/index.js, inside getInitialProps()
2. From the api result, I need to c

[2017-02-18 17:10] rauchg commented on #1193
@kirill-konshin the PR description referencing the issue made me think his implementation _predated_ yours. I will revert.

[2017-02-18 17:11] rauchg commented on #1193
Also, maybe to have the best of both worlds, @kuzihada, you can PR later a little note on the README saying that there's another package available and link to yours ?

[2017-02-18 17:11] rauchg commented on #1193
@kirill-konshin apologize for the confusion

[2017-02-18 17:12] kirill-konshin commented on #1193
No worries.

[2017-02-18 17:49] huzidaha commented on #1193
@rauchg I really appreciate for that.

[2017-02-18 17:56] khrome83 opened #1204 "next@beta-31 breaks Jest tests"
The latest beta breaks Jest tests really bad.

**Version:** next@beta-31

Any test that renders a component that contains the `next/link` will fail.

<img width="934" alt="screen shot 2017-02-18 at 11 53 36 am" src="https://cloud.githubusercontent.com/assets/1844739/23095536/0831c100-f5d1-11e6-8406-1f11b293789b.png">

[code]

This breaks the react-test-render method of creating components. This di

[2017-02-18 18:02] khrome83 opened #1205 "next@beta-31 breaks navigation on page"
When loading page, the follow displays within the error console. This was after switching to `next/link` over the older `next/prefetch`

<img width="499" alt="screen shot 2017-02-18 at 11 56 56 am" src="https://cloud.githubusercontent.com/assets/1844739/23095579/b8b6659e-f5d1-11e6-899e-e8789c9da895.png">

Upon clicking a link, the following error is generated in the console.

<img width="508" alt=

[2017-02-18 18:42] jonaswindey commented on #1202
I think that array.map() and array.forEach() are executed async when you combine them with async/await. That's why your function probably returns before execution is complete.

Could you try to replace the .map() with
[code]

That should do it.

Another idea is to use Promise.all()

See here: http://stackoverflow.com/questions/37576685/using-async-await-with-a-foreach-loop

[2017-02-19 08:57] timneutkens commented on #1202
@jonaswindey you're totally right 🙌

[2017-02-19 08:57] #1202 closed

[2017-02-19 12:26] khrome83 commented on #1205
When removing `prefetch` from link declaration, I still get a 404 error for prefetching. This means that any link will cause the prefetch issue.

<img width="505" alt="screen shot 2017-02-19 at 6 23 31 am" src="https://cloud.githubusercontent.com/assets/1844739/23102268/11735328-f66c-11e6-9248-8096b84ff495.png">

Clicking on a link causes the same issue, producing the second set of errors.

[2017-02-19 12:29] khrome83 commented on #1204
Removing `prefetch` attribute from link declaration removes the errors created when running Jest tests.

This is a temporary work around. Expected that prefetch should not generate the `No router instance found.` message.

Additionally, the message `You should only use "next/router" inside the client side of your app.` Is confusing, because I am not explicitly calling `next/router` anywhere.

[2017-02-19 12:34] fabienheureux commented on #1202
Well, that did the trick.
Thanks so much @jonaswindey, it was definitely not a nextjs issue, neither a react one but a js one...you saved me some big headaches ;)

[2017-02-19 12:36] khrome83 commented on #1205
I can confirm that in Chrome, the `with-prefetch` example generates the 404 error as well. But you can navigate between pages. Researching to see if this is because of using a custom layout or a `_document.js` file.

[2017-02-19 12:46] khrome83 commented on #1205
Removing `_document.js` and `_error.js` did not change the outcome.

Clicking on Link #1 created the screen shot below.

Clicking on Link #2 would produce the console errors. But it would render the same exact same page as `/` without styles. Clicking Link #2 again would navigate me to the correct page.

Clicking Link #1 from the "correct" Link #2 page would navigate me correctly to Link #1.

<img

[2017-02-19 12:54] khrome83 commented on #1205
Link #1 Page is -

[code]

Link #2 page is
[code]

They share the same navigation that makes references to them. It is consistent though that the behavior affects them differently, yet the pages render the same.

Additionally, navigation to `http://localhost:3000/terms` or `http://localhost:3000/privacy` works just fine and I can navigate directly with zero issues. This is a problem with the Link

[2017-02-19 13:01] khrome83 commented on #1205
Errors are still generated in the console when using `npm build` and `npm start`.

But you are able to navigate between pages. The lack of the ability to navigate seems to come from `npm run dev` only.

Building does not remove the following though. Still see this without the `prefetch` attribute set on the Link.

<img width="499" alt="screen shot 2017-02-18 at 11 56 56 am" src="https://cloud.gith

[2017-02-19 13:03] khrome83 commented on #1205
Re-enabling prefetch and testing with `npm build` and `npm start` does work to handle the prefetch (still breaks Jest), but still causes the same console errors.

Here is the view from the network panel.

<img width="926" alt="screen shot 2017-02-19 at 7 02 40 am" src="https://cloud.githubusercontent.com/assets/1844739/23102598/8ff44e78-f671-11e6-98fa-5bc19855f2ab.png">

[2017-02-19 15:48] manuelro opened #1207 "Syntax error on eval-script.js (22,1) for IE11"
There is a syntax error in one of Next's dependencies. The file's name is `eval-script.js` and is located at `next/dist/lib/eval-script.js`. This only happens on IE11 and previous versions.

The code this is prompting as buggy is at line 22 of the aforementioned file.
[code]

Next version: `next@^2.0.0-beta.25`

Any ideas how to make this IE11 compatible?

[2017-02-19 15:48] nkzawa commented on #1205
@khrome83 We recently removed Service Worker but it remains on your Browser which might cause these errors. Can you remove it on chrome://serviceworker-internals and see what happens ?

[2017-02-19 16:26] khrome83 commented on #1205
@nkzawa makes sense. I did not realize that they did not get removed.

Out of curiosity, is there a way to tell chrome to remove the service worker without having a user go to the `chrome://serviceworker-internals` location and manually doing it?

Seems like maybe it would be a good idea to unregister the service worker if the service worker was used in `next@master`.

[See MDN](https://developer.

[2017-02-19 16:27] khrome83 commented on #1207
Have you tried a more recent version to see if the error still exists?

[2017-02-19 16:32] khrome83 commented on #1189
For me this makes sense.

Personally, I think having this workflow would make sense.

1. `page.js` exists -> `/page` & `/page/` works and goes to same place
2. `page/index.js` exist, `page.js` does not -> `/page` would 404, `/page/` would resolve at `index.js`
3. `page.js` exists, as does `page/index.js` -> `/page` would go to `page.js`, `/page/` would go to `page/index.js`

[2017-02-19 16:39] manuelro commented on #1207
I've updated Next package to `2.0.0-beta.31` but the error persists.

[2017-02-19 17:31] nkzawa commented on #1205
Yeah, actually the unregisteration was added once but removed. https://github.com/zeit/next.js/commit/1b9e8771ec569def1773040b68f404c2cbc9484e

I don't know why though 🤔  @rauchg

[2017-02-19 18:26] timneutkens commented on #1061
@rockchalkwushock @czzarr See #1208

[2017-02-19 18:42] ghost opened #1209 "Stream rendering to reduce TTFB and CPU load"
I suggest to stream-render `pages > 50KB` [(hypothetical stream overhead)](https://github.com/aickin/react-dom-stream#when-should-you-use-react-dom-stream) to reduce TTFB and CPU load.

- Inferno offers `streamAsString`, `streamAsStaticMarkup`, `streamQueueAsString`, `streamQueueAsStaticMarkup` with [inferno-server (master)](https://github.com/infernojs/inferno/blob/master/packages/inferno-server/

[2017-02-19 19:30] timneutkens commented on #773
@richsilv could you submit an issue to the React repo? That would be great ❤️

[2017-02-19 19:30] #773 closed

[2017-02-19 20:09] timneutkens commented on #1207
cc @arunoda @nkzawa I wonder if we should even do that eval in production mode.

[2017-02-19 20:11] ghost opened #1210 "Component-based server-side caching strategy"
Internal, opt-in component SSR caching/memoization instead of [page caching](https://github.com/zeit/next.js/tree/master/examples/ssr-caching).

[`react-dom-stream/lru-render-cache`](https://github.com/aickin/react-dom-stream#experimental-feature-component-caching) by @aickin

[code]

[code]

So [`next.js/examples/data-fetch/index.js`](https://github.com/zeit/next.js/blob/master/examples/data-fetc

[2017-02-19 20:35] #1061 closed

[2017-02-19 20:48] manuelro commented on #1123
Installing this beta version solved the document issue, but presented more bugs. Is there any stable, production-ready version to use in a real-world project that can deliver up to IE11 without breaking anything else?

[2017-02-19 21:33] timneutkens commented on #1189
kind of related #619

[2017-02-19 21:46] marcelmokos opened #1212 "Have source code like "component", "pages" in "/src" folder."
Is there an option or way to put source code in the "/src" folder except for static files folder.

[2017-02-20 01:36] rauchg commented on #1061
@rockchalkwushock would love some feedback on what file(s) in particular you were confused by, so that we can improve the relevant areas / add comments to provide guidance.

We do plan to write some "internal docs" in the Wiki soon.

[2017-02-20 01:57] rauchg commented on #1212
See #936

[2017-02-20 01:57] #1212 closed

[2017-02-20 01:57] rauchg commented on #1212
`components` can already be wherever you want. We only look for `./pages`

[2017-02-20 02:19] rockchalkwushock commented on #1061
@rauchg

I will make some time Monday or Tuesday evening and write up a gist with where I was getting confused. Ultimately it's a _being new_ to diving in on source code. Kind of shocking at first; it's not necessarily the same code I've been writing the first 6 months of my coding career. I'll reference the gist here on this issue and tag you on it or any other member of the Next.js dev-team.

[2017-02-20 02:22] ccorcos opened #1213 "Error: only absolute urls are supported"
How can I specify what url to use based on the environment being development or production?

I'm basically using the same server as a proxy

[code]

So I'm trying to make a fetch to the root domain, but I cant get it to work.

[code]

[2017-02-20 03:11] eezing commented on #1213
Yea, when fetching server side, it appears we need to define the full URL. I did this:
[code]

[2017-02-20 03:21] rauchg commented on #1213
This is a good thing! How else would `fetch` know where to go on the server?

[2017-02-20 03:54] rauchg commented on #1113
New thought: yarn.lock deltas actually give us awesome information about _what has changed_, and we can invalidate the portions of the tree that are affected.

For example, if you have page `b.js` that depends on `react-portal`, and a dependency of `react-portal` changes, we would only schedule `b.js` for re-computation (specially in light of our upcoming re-factor to _only re-compute what's curre

[2017-02-20 04:13] eezing commented on #1195
@arunoda

I feel like non-uglify should be an opt-out, not default. Next.js is great because of it's capability of producing production ready apps with no configuration and only a single command: ```next build```.

[2017-02-20 04:25] rauchg commented on #1189
I mostly agree with your reasoning @krhome83 but your statement in point 2 (_/page would 404_) is not logically consistent

1. In point 1) you suggest that a trailing slash in the URL (`/page/`), which typically indicates a _directory_, *should resolve* when the underlying representation is a file (`page.js`)
2. In point 2) you suggest the opposite. That `/page`, which typically indicates a file_,

[2017-02-20 04:27] rauchg commented on #1189
Let me know if I'm off base, but otherwise, I think I'd like to add a "smart default" for this scenario (since we also have a custom server override for https://zeit.co), provided that we can turn it off in config (`smartSlashes: false` ?)

[2017-02-20 04:28] rauchg commented on #1189
Also, I wonder if this should warn or be an error, since it's kind of not obvious

[2017-02-20 04:29] rauchg commented on #1189
IMHO in that case we should probably error _unless_ you turn off `smartSlashes`, and most people would probably use `./pages/index` for what they otherwise wanted to handle in `./page`

[2017-02-20 04:37] arunoda commented on #1195
@eezing good point.
On the other hand it makes `next build` to take a lot of time.

Code for out-out is possible even at this stage:

[code]

And it's not looking good.

[2017-02-20 04:40] arunoda commented on #1189
I think the best option is to do a `301` redirect to `/page/` to `/page`

[2017-02-20 04:42] rauchg commented on #1189
`301` would mean _permanent_, so maybe not a good idea

[2017-02-20 04:48] arunoda commented on #1213
I think this is something we can't change. You need to define the full URL.
Defining something like `API_URL` and setting it via some [env variable](https://github.com/zeit/next.js/tree/master/examples/with-universal-configuration) is a pretty good thing to do.

[2017-02-20 04:48] #1213 closed

[2017-02-20 04:49] arunoda commented on #1189
Yep `301` I mean it.
Do we need `/page/` to serve in some different way in the future?

I guess we don't.

[2017-02-20 04:55] arunoda commented on #1210
I think this one follows [some similar ideas](https://github.com/walmartlabs/react-ssr-optimization).
I think we can do something similar by simply using a current setup we've without doing any core Next.js modifications.

[2017-02-20 04:57] arunoda commented on #1207
@timneutkens with the current setup we've to use eval. But I'd like to use something different is later versions.

[2017-02-20 05:00] arunoda commented on #1209
One thing to mention..

Stream rendering usually won't add much CPU improvements since the amount of work to be done is the same. But it'll reduce the response time.

It's a pretty good idea to provide a way to customize the SSR rendering system. But I think for now, we'll stick with the React's renderToString() methods by default.

This is something we could do after 2.0.

[2017-02-20 05:04] arunoda commented on #1112
@cgood92 Thanks for the research.

We are looking at a properly called `router` `next/router`. You can set it manually for testing.
See: https://github.com/zeit/next.js/blob/master/lib/router/index.js#L4

[2017-02-20 05:08] arunoda commented on #1105
@khrome83 something like `ScriptRender` can be build without any help from `Next.js`. Since this is not something every app needs, we won't be having something like this in the core.

Check these solutions: https://goo.gl/Z1Dxsq

[2017-02-20 05:08] #1105 closed

[2017-02-20 05:12] arunoda commented on #1186
@sakulstra This is a good point. I think we could simply use our core test tooling for this.
See the `test` directory of these apps: https://github.com/zeit/next.js/tree/master/test/integration

One question is this might actually slow down the test time. One option is to use travis's parallel testing. (With diff env vars)

[2017-02-20 06:05] timneutkens commented on #1207
Okay 👍🏻

[2017-02-20 06:59] timneutkens commented on #1210
related https://github.com/zeit/next.js/issues/1004

[2017-02-20 07:18] flagello opened #1214 "uWebSockets as HTTP interface"
According to https://github.com/uWebSockets/uWebSockets/issues/397#issuecomment-277237968, `uws.http` is considerably faster than `http`.

<br>

<br>

Currently and only in [v.0.13.0a6](https://github.com/uWebSockets/uWebSockets/releases/tag/v0.13.0a6) (since a1). Near drop-in replacement for Next's use case? May need to be tested and benchmarked in a production environment.

[2017-02-20 07:27] arunoda commented on #1214
Could you tell me where exactly you suggest to use this?

[2017-02-20 07:29] arunoda commented on #1214
Anyway, since do support [custom servers](https://github.com/zeit/next.js#custom-server-and-routing) I hope this is doable in the userspace.

[2017-02-20 07:29] #1214 closed

[2017-02-20 07:39] flagello commented on #1214
[master/server/index.js#L4](https://github.com/zeit/next.js/blob/master/server/index.js#L4)

from

[code]

to

[code]

It could indeed be a user choice, but if the benchmarks get confirmed, the transition is seamless, and it doesn't cause significant maintenance overhead, why not?

[2017-02-20 07:47] flagello commented on #1209
Wouldn't streaming sensibly reduce memory allocation and CPU usage for large pages by being both asynchronous and partial?

[2017-02-20 08:15] rovansteen commented on #1144
I've been digging in the code of styled-components a bit and I think the issue is related with context. It subscribes to a "channel" on the context named `__styled-components__` but that appears to be missing in the component loaded from my private npm module.

So basically [this](https://github.com/styled-components/styled-components/blob/ab229c80b5671e7f22cdb5c40b50c4ee64d897f8/src/models/Styled

[2017-02-20 09:41] kandros opened #1216 "Cannot read property 'Component' of undefined if error occurs in componentDidMount"
i had a call to an undefined function inside of componentDidMount. it errors `Cannot read property 'Component' of undefined` instead of notify that the function is undefined

also a  manual throw an error inside componentDidMount shows `Cannot read property 'Component' of undefined`

[2017-02-20 09:50] timneutkens commented on #1216
Duplicate: https://github.com/zeit/next.js/issues/1061. Was fixed yesterday :smile:

[2017-02-20 09:50] #1216 closed

[2017-02-20 12:31] lenny0702 opened #1217 "Difference between directory Bundles and dist?"
Since I wanna write some my own logic in custom web pack file, I need to know the basic file flow of original web pack config

I found out that there will be a abc.json and also a abc.json, in Bundles and Dist directory separately. take "abc" is a module for example. What's their difference? Thanks!

[2017-02-20 14:36] arunoda commented on #1217
bundles has files the different entrypoints in your app (basically pages) which is loaded by the browser dynamically.

dist directory has those pages for the use of SSR.

[2017-02-20 15:08] lenny0702 commented on #1217
Thanks! @arunoda
I have two last question:
1. Whicn lines of code of webpack.js in build directory are to config the compilation of the xxx.json file in Bundles directory?
2. If I want to write my own webpack.js with original function , Do I have to copy the original content of webpack.js?

[2017-02-20 15:31] arunoda commented on #1217
1. That's [this](https://github.com/zeit/next.js/blob/master/server/build/plugins/json-pages-plugin.js)
2. Not sure about it.

[2017-02-20 15:32] arunoda opened #1218 "Not working in IE11"
This is due to a Promise not resolving error when doing the routing.
See:

![screen shot 2017-02-20 at 9 00 17 pm](https://cloud.githubusercontent.com/assets/50838/23131406/e131fe5e-f7af-11e6-9eb9-dfdecece16df.png)

This is we are running our `shared_modules` example.

[2017-02-20 15:36] timneutkens commented on #1218
Duplicate #975 @arunoda

[2017-02-20 15:42] arunoda commented on #1218
Oh! Sure it is.

[2017-02-20 15:42] #1218 closed

[2017-02-20 15:48] #139 closed

[2017-02-20 15:49] timneutkens commented on #1218
@arunoda We have so many issues, it's easy to create a duplicate 😉

[2017-02-20 16:38] subsumo commented on #153
This seems to be useful: https://hub.docker.com/r/rabbotio/nap/~/dockerfile/

[2017-02-20 17:40] timneutkens opened #1219 "Get browserstack account for Next.js"
Would be neat to quickly try out issues in IE.
https://www.browserstack.com/pricing

[2017-02-20 17:52] arunoda commented on #1219
I didn't notice there's a FREE plan for OSS.
@rauchg any thoughts on this?

[2017-02-20 17:57] OutThisLife opened #1220 "Component template based on JSON data"
Wasn't able to find anything, but if an example exists please share!

So I'm consuming an API on the Node.js server that will pass a "template" variable, and I'd like this variable to decide which component to render despite the slug. IE custom routing, but I'm not sure of the best way to go about it.

Was trying to use some custom Layout component to determine it but I get errors if I don't use `

[2017-02-20 19:42] fabienheureux commented on #1219
Saucelabs a free OSS plan:
https://saucelabs.com/open-source

[2017-02-20 19:50] ccorcos opened #1222 "Using Router.push with custom routing"
I have some custom routing logic going on with express like this:

[code]

And when I use the router to push to this route:

[code]

I get a 404. When looking at the server logs I see this:

[code]

And when I refresh on that route, I get this:

[code]

So perhaps I shouldnt be using `Router.push`, with custom routing but I just wanted to check in about that.

[2017-02-20 21:25] ccorcos commented on #1213
@eezing has a nice solution that worked.

[2017-02-20 21:39] timneutkens commented on #1213
@eezing @ccorcos I wonder if this is vulnerable to an attack. SInce the host header is provided by the client, not the server.
http://www.skeletonscribe.net/2013/05/practical-http-host-header-attacks.html

[2017-02-20 21:53] ccorcos commented on #1213
Interesting.

[2017-02-20 21:59] arunoda commented on #1222
For that, you need to do:

[code]

Check the [`Router.push()` docs](https://github.com/zeit/next.js#imperatively).

[2017-02-20 22:23] ccorcos commented on #1222
interesting... might be a good idea to put include something like this in the express example.

[2017-02-20 22:23] #1222 closed

[2017-02-21 02:43] arunoda commented on #1222
@ccorcos Good idea.

[2017-02-21 03:13] reel commented on #727
https://github.com/simplehub/henri has been updated... added a few HOCs (thanks to @sedubois and many others for the inspiration)

[2017-02-21 05:19] J-F-Liu commented on #200
Should add this to FAQ.

[2017-02-21 05:39] rauchg opened #1226 "`next build --stats`"
Would produce `.next/stats.json` and pass the profile flags to webpack

I tried this in next.config.js:

[code]

But I think we need to handle it on `next` since it only contained `main.js` and `common.js`, and not any of the generated pages.

Ideally I would like the webpack plugin to work out of the box though

[2017-02-21 06:27] arunoda opened #1227 "Get rid of BUILD_ID"
BUILD_ID is a short-term solution to make our assets immutable and properly cacheable.

But it's a pretty good idea to use individual hashes of each files rather a common BUILD_ID which is regenerated per each deployment.

When doing this, we can't have a hash for JSON pages. That's because, we need know hashes for all of the links in the client side. Which is not good. So, we'll use simple etags

[2017-02-21 06:49] matthewmueller commented on #604
I'd like to toss in my hat on how I think this could work really well:

[code]

`next export` will generate HTML & JSON representation of each top-level page component.

- The HTML representation will be used to serve the initial request
- The JSON representation will be used to asynchronously navigate around via `<Link href="...">`

[2017-02-21 07:05] eezing commented on #1213
@timneutkens @ccorcos Thanks for bringing this up. Yes, the Host header is vulnerable to spoofing, but it may not be a cause for concern depending on your host provider. In my case, my cloud hosting provider's proxy routes requests based on the Host request header itself, which in theory makes it impossible for a client to be on my site and have the Host header be something different. The behavior

[2017-02-21 09:16] timneutkens commented on #1213
@eezing yeah it would be quite impossible to do that on `now` also, just wanted to drop it in, since if you go hosting it yourself it would be vulnerable 😉

[2017-02-21 12:07] sedubois opened #1229 "Document how to do stuff differently server-side vs. client-side"
In Slack and in issues there comes repeatedly the question of how to do stuff differently server-side vs. client-side. I added a note in Wiki related to this: https://github.com/zeit/next.js/wiki/FAQ but it's obviously not clear enough.

I think it would be nice to add to README:
- that e.g in `getInitialProps` you can use `process.browser` var to check where you are (which AFAIK is better than `!

[2017-02-21 13:45] atwaves opened #1230 "Animation enhancement"
Now if using "/components/layout", layout component is unmounting and animations don't work

layout.render:

[code]
sorry for my bad english
need to implement transitions
![req](https://cloud.githubusercontent.com/assets/9660479/23167347/1fa51e8c-f855-11e6-82c7-e8a4d3dc7852.jpg)

[2017-02-21 15:48] eezing commented on #1219
Microsoft provides free to use VM images for testing IE: https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

[2017-02-21 15:50] fabienheureux commented on #1219
Saucelabs is really great to setup automated tests, you can set them up using JS (I think like CasperJS, never used this one), and it runs automatically, can make diff based on screenshots etc.
I have not used it a lot, but felt really powerful and quite easy to use

[2017-02-21 16:16] knipferrc commented on #1229
Would also be nice to know how to write ES6 code on the server side.

[2017-02-21 16:43] ccorcos commented on #1213
yeah, definitely something to consider!

[2017-02-21 17:15] herrstucki commented on #604
@matthewmueller would it be possible to eliminate code from `getInitialProps()` on build?

Let's say you use an API to fetch live data during development and you want to "bake" it into a static build (both in the HTML and JSON representation of a page), to eliminate any API requests in production. This would be awesome for a collaborative workflow.

To optimize the output you'd probably then remov

[2017-02-21 17:58] sergiodxa commented on #1229
@knipferrc Node.js already support ES6, only modules aren't supported.

[2017-02-21 18:29] knipferrc commented on #1229
@sergiodxa but cant I use babel-cli or something to get all the import, export and module stuff somehow?

[2017-02-21 18:54] reel commented on #1117
I found a solution for this... If you're using apollo or any other query that can be done server-side and client side, export your data fetching function from your React component file. Then, once you hit that route on the server, require the dist file and try to execute that function. Then, inject the result in `req.data` or anywhere else and render.